<template>
    <preloader v-if="!loaded"></preloader>
    <div v-else>
        <div class="row margin-bottom">
            <div class="col-md-12">
                <div class="user-block user-block-md pull-left">
                    <img class="img-circle" :src="avatar" alt="User Image"> <span class="username">
                    <a href="#">{{staff.name}} {{staff.surname}}</a>
					</span> <span class="description">ID: {{staff.user_id}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <form action="" method="POST" class="form-horizontal">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a @click="changeTab('main')" href="#main-tab" data-toggle="tab">Главная</a></li>
                            <li><a @click="changeTab('contacts')" href="#contacts" data-toggle="tab">Контакты</a></li>
                            <li><a @click="changeTab('documents')" href="#documents" data-toggle="tab">Документы</a></li>
                            <li><a @click="changeTab('rules')" href="#permissions" data-toggle="tab">Права</a></li>
                        </ul>
                        <div class="tab-content no-padding">
                            <!-- .tab-pane -->
                            <div class="active tab-pane" id="main-tab">
                                <ul class="v-list v-list-sm-pad">
                                    <li><label class="col-md-7 big-top-padding">Аватар</label>
                                        <div class="col-md-5">
                                            <div class="ava-load-wrapp photo">
                                                <img :src="avatar" src-default="dist/img/default.jpg" id="part-avatar" class="img-responsive">
                                                <div class="clearfix bottom-d">
													<span class="load-file-link"> <input @change="dropAvatar" type="file" name="myfiles[]" id="part-ava-load-input"> <span class="upload-text-wrapp"> Загрузить <i class="fa fa-download text-blue"></i>
													</span>
													</span> <span class="fa fa-times-circle del-photo pull-right"></span>
                                                </div>
                                            </div>
                                        </div></li>
                                    <li><label class="col-md-7">Имя</label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" v-model="staff.name" placeholder="Имя">
                                        </div></li>
                                    <li><label class="col-md-7">Фамилия</label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" v-model="staff.surname" placeholder="Фамилия">
                                        </div></li>
                                    <li><label class="col-md-7">Отчество</label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" v-model="staff.middle_name" placeholder="Отчество">
                                        </div></li>
                                    <li><label class="col-md-7">E-mail</label>
                                        <div class="col-md-5">
                                            <input disabled type="text" class="form-control" v-model="staff.email" placeholder="Email">
                                        </div></li>
                                    <li><label class="col-md-7">Дата рождения</label>
                                        <div class="col-md-5">
                                            <input type="date" name="" class="form-control" v-model="staff.birthday">
                                        </div></li>

                                    <li>
                                        <div class="col-md-3 no-padding">
                                            <select @change="changePassport()" class="form-control" v-model="passportType"
                                                    name="Passport" id="">
                                                <option value="">Стандартный паспорт</option>
                                                <option value="passportBio">ID (Биометрический паспорт)</option>
                                            </select>
                                        </div>
                                        <div class="col-md-5 col-md-offset-4">
                                            <input v-if="usualPass" type="text" class="form-control"
                                                   v-model="passport" placeholder="Паспорт">
                                            <input v-else type="text" class="form-control"
                                                   v-model="passport" placeholder="Биометрический паспорт">
                                        </div>
                                    </li>

                                    <li><label  class="col-md-7">Статус</label>
                                        <div class="col-md-5">
                                            <select name="" class="form-control" v-model="staff.account_status">
                                                <option value="active">активный</option>
                                                <option value="deactivated">удаленный</option>
                                                <option value="banned">забаненный</option>
                                            </select>
                                        </div></li>
                                    <li><label  class="col-md-4">Примечание</label>
                                        <div class="col-md-8">
                                            <textarea name="" class="form-control" rows="10" v-model="staff.note" placeholder="Примечание"></textarea>
                                        </div></li>
                                </ul>
                            </div>
                            <!-- /.tab-pane -->
                            <!-- .tab-pane -->
                            <div class="tab-pane" id="contacts">
                                <ul class="v-list v-list-sm-pad">
                                    <li><label class="col-md-7">Страна (текущая: {{staff.address_country}})</label>
                                        <div class="col-md-5">
                                            <multiselect v-model="country" label="name" track-by="name"
                                                         :placeholder="'Страна'" :options="countries" :multiple="false"
                                                         :searchable="true" :internal-search="true"
                                                         :clear-on-select="false" :close-on-select="false"
                                                         :options-limit="300" :limit="3" :limit-text="limitText">
                                                <span slot="noResult">По вашему запросу ничего не найдено</span>
                                            </multiselect>
                                        </div></li>
                                    <li><label class="col-md-7">Город (текущий: {{staff.address_city}})</label>
                                        <div class="col-md-5">
                                            <multiselect v-model="city" id="ajax" label="name"
                                                         track-by="country_id" :placeholder="'Город'" :options="cities"
                                                         :multiple="false" :searchable="true" :loading="isLoading"
                                                         :internal-search="false" :clear-on-select="false"
                                                         :close-on-select="false" :options-limit="300" :limit="3"
                                                         :limit-text="limitText" @search-change="asyncCity">
                                                <span slot="noResult">По вашему запросу ничего не найдено</span>
                                            </multiselect>
                                        </div></li>
                                    <li><label class="col-md-7">Адрес</label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" v-model="staff.address">
                                        </div></li>
                                    <li><label class="col-md-7">Телефон 1</label>
                                        <div class="col-md-5">
                                            <input type="text" v-model="staff.phone_number" placeholder="Номер телефона" class="form-control">
                                        </div></li>
                                    <li><label class="col-md-7">Телефон 2</label>
                                        <div class="col-md-5">
                                            <input type="text" v-model="staff.phone_number_2" placeholder="Номер телефона" class="form-control">
                                        </div></li>
                                    <li><label class="col-md-7">Скайп</label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" v-model="staff.skype" placeholder="Skype">
                                        </div></li>
                                </ul>
                            </div>
                            <!-- /.tab-pane -->

                            <!-- .tab-pane -->
                            <div class="tab-pane" id="documents">
                                <ul class="v-list v-list-sm-pad">
                                    <li class="header">
                                        <div for="for-passport_2" class="col-md-7">Паспорт</div>
                                        <div class="col-md-5 text-right">
											<span class="load-file-link"> <input type="file" @change="dropDocument" class="file-loader" data-nav=".photo-list-pasport2"> <span class="upload-text-wrapp"> Загрузить <i class="fa fa-download text-blue"></i>
											</span>
											</span>
                                        </div>
                                    </li>
                                    <li>
                                        <!--<nav class="photo-nav photo-list-pasport2">-->
                                            <!--<a v-for="doc in documents" :href="doc.user_document.file_path">-->
                                                <!--<img :src="doc.user_document.file_path">-->
                                                <!--<span class="fa fa-times-circle del-photo" @click.stop.prevent="removeDocument(doc.user_document.id)"></span>-->
                                            <!--</a>-->
                                        <!--</nav>-->

                                        <nav class="photo-nav photo-list-pasport2" id="docsphoto">
                                            <a :target="{'_blank': isDocument(doc.user_document.file_extension)}" :class="{ 'photo-nav__item': !isDocument(doc.user_document.file_extension) }" v-for="doc in documents" :href="doc.user_document.file_path">
                                                <img :src="doc.user_document.file_path" v-if="!isDocument(doc.user_document.file_extension)">
                                                <img :src="'/dist/img/pdf.png'" v-else="isDocument(doc.user_document.file_extension)" alt="Document">
                                                <span class="fa fa-times-circle del-photo"
                                                      @click.prevent.stop="removeDocument(doc.user_document.id)"></span>
                                            </a>
                                        </nav>

                                    </li>
                                </ul>
                            </div>
                            <div class="tab-pane pad" id="permissions">
                                <div class="box box-xs box-solid collapsed-box">
                                    <div class="box-header with-border" data-widget="collapse">
                                        <i class="fa fa-plus"></i>
                                        <h3 class="box-title">Модерация</h3>
                                    </div>
                                    <div class="box-body no-padding no-display">
                                        <table class="table sm-col-pad">
                                            <tbody>
                                            <tr v-for="(rule, key) in allRules.moderation">
                                                <td style="width: 40px;">
                                                    <div class="checkbox icheck">
                                                        <input type="checkbox" :value="key" v-model="selectedRules">
                                                    </div>
                                                </td>
                                                <td> {{rule}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="box box-xs box-solid collapsed-box">
                                    <div class="box-header with-border" data-widget="collapse">
                                        <i class="fa fa-plus"></i>
                                        <h3 class="box-title">Партнеры</h3>
                                    </div>
                                    <div class="box-body no-padding no-display">
                                        <table class="table sm-col-pad">
                                            <tbody>
                                            <tr v-for="(rule, key) in allRules.partner">
                                                <td style="width: 40px;">
                                                    <div class="checkbox icheck">
                                                        <input type="checkbox" :value="key" v-model="selectedRules">
                                                    </div>
                                                </td>
                                                <td> {{rule}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="box box-xs box-solid collapsed-box">
                                    <div class="box-header with-border" data-widget="collapse">
                                        <i class="fa fa-plus"></i>
                                        <h3 class="box-title">Клиентки</h3>
                                    </div>
                                    <div class="box-body no-padding no-display">
                                        <table class="table sm-col-pad">
                                            <tbody>
                                            <tr v-for="(rule, key) in allRules.women">
                                                <td style="width: 40px;">
                                                    <div class="checkbox icheck">
                                                        <input type="checkbox" :value="key" v-model="selectedRules">
                                                    </div>
                                                </td>
                                                <td> {{rule}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="box box-xs box-solid collapsed-box">
                                    <div class="box-header with-border" data-widget="collapse">
                                        <i class="fa fa-plus"></i>
                                        <h3 class="box-title">Клиенты</h3>
                                    </div>
                                    <div class="box-body no-padding no-display">
                                        <table class="table sm-col-pad">
                                            <tbody>
                                            <tr v-for="(rule, key) in allRules.man">
                                                <td style="width: 40px;">
                                                    <div class="checkbox icheck">
                                                        <input type="checkbox" :value="key" v-model="selectedRules">
                                                    </div>
                                                </td>
                                                <td> {{rule}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="box box-xs box-solid collapsed-box">
                                    <div class="box-header with-border" data-widget="collapse">
                                        <i class="fa fa-plus"></i>
                                        <h3 class="box-title">Сервисы</h3>
                                    </div>
                                    <div class="box-body no-padding no-display">
                                        <table class="table sm-col-pad">
                                            <tbody>
                                            <tr v-for="(rule, key) in allRules.services">
                                                <td style="width: 40px;">
                                                    <div class="checkbox icheck">
                                                        <input type="checkbox" :value="key" v-model="selectedRules">
                                                    </div>
                                                </td>
                                                <td> {{rule}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="box box-xs box-solid collapsed-box">
                                    <div class="box-header with-border" data-widget="collapse">
                                        <i class="fa fa-plus"></i>
                                        <h3 class="box-title">Модерация</h3>
                                    </div>
                                    <div class="box-body no-padding no-display">
                                        <table class="table sm-col-pad">
                                            <tbody>
                                            <tr v-for="(rule, key) in allRules.moderation">
                                                <td style="width: 40px;">
                                                    <div class="checkbox icheck">
                                                        <input type="checkbox" :value="key" v-model="selectedRules">
                                                    </div>
                                                </td>
                                                <td> {{rule}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="box box-xs box-solid collapsed-box">
                                    <div class="box-header with-border" data-widget="collapse">
                                        <i class="fa fa-plus"></i>
                                        <h3 class="box-title">Обратная связь</h3>
                                    </div>
                                    <div class="box-body no-padding no-display">
                                        <table class="table sm-col-pad">
                                            <tbody>
                                            <tr v-for="(rule, key) in allRules.feedback">
                                                <td style="width: 40px;">
                                                    <div class="checkbox icheck">
                                                        <input type="checkbox" :value="key" v-model="selectedRules">
                                                    </div>
                                                </td>
                                                <td> {{rule}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="box box-xs box-solid collapsed-box">
                                    <div class="box-header with-border" data-widget="collapse">
                                        <i class="fa fa-plus"></i>
                                        <h3 class="box-title">Настройки</h3>
                                    </div>
                                    <div class="box-body no-padding no-display">
                                        <table class="table sm-col-pad">
                                            <tbody>
                                            <tr v-for="(rule, key) in allRules.settings">
                                                <td style="width: 40px;">
                                                    <div class="checkbox icheck">
                                                        <input type="checkbox" :value="key" v-model="selectedRules.settings">
                                                    </div>
                                                </td>
                                                <td> {{rule}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="box box-xs box-solid collapsed-box">
                                    <div class="box-header with-border" data-widget="collapse">
                                        <i class="fa fa-plus"></i>
                                        <h3 class="box-title">Уведомления</h3>
                                    </div>
                                    <div class="box-body no-padding no-display">
                                        <table class="table sm-col-pad">
                                            <tbody>
                                            <tr v-for="(rule, key) in allRules.notifications">
                                                <td style="width: 40px;">
                                                    <div class="checkbox icheck">
                                                        <input type="checkbox" :value="key" v-model="selectedRules">
                                                    </div>
                                                </td>
                                                <td> {{rule}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <button type="submit" @click.prevent="saveData" class="btn btn-primary pull-right">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</template>

<script>
    import toastr from 'toastr'
    import preloader from '../../custom/preloader/component.vue'
    import myltiselect from 'vue-multiselect'
    import moment from 'moment'
    export default {
        name: 'EditStaff',
        data() {
            return {
				passportType: '',
				passport: '',
				usualPass: true,
                currentTab: 'main',
                loaded: false,
                isLoading: false,
                selectedRules: [],
                documents: [],
				galleryPassport: null,
                staff: {
                    user_id: '',
                    email: '',
                    name: '',
                    middle_name: '',
                    surname: '',
                    profile_avatar: '',
                    avatar: '#',
                    birthday: '',
                    user_type: '',
                    staff_type: '',
                    note: '',
                    online: false,
                    account_status: '',
                    created_at: 1492688349,
                    address_country: '',
                    address_city: '',
                    address: '',
                    passport: '',
                    phone_number: '',
                    phone_number_2: '',
                    skype: ''
                },
                countries: [],
                cities: [],
                city: '',
                country: '',
                countySelected: ''
            }
        },
        beforeMount() {
            this.fetchUserData();
        },
        computed: {
            allRules() {
                return this.$store.getters.rules;
            },
            avatar() {
                if(this.staff.avatar.match('.jpg')) {
                    return this.staff.avatar;
                }else {
                    return '/dist/img/default.jpg';
                }
            }
        },
        watch: {
            country(value) {
                this.staff.address_country = value.name
            },
            city(value) {
                this.staff.address_city = value.name
            },
			passportType( v ) {
				this.usualPass = !this.usualPass
			},
        },
        methods: {
			changePassport() {
				this.passport = ''
			},
			initGallery() {
				if ( this.galleryPassport ) this.galleryPassport.data('lightGallery').destroy(true);
				this.$nextTick( () => {
					this.galleryPassport = $( '#docsphoto' ).lightGallery( {
						selector: '.photo-nav__item'
					} );
				} );
			},
			isDocument(name) {
				return name.match('pdf') !== null;
			},
            changeTab(name) {
                this.currentTab = name;
				this.initGallery()
            },
            saveData() {
                if(this.currentTab === 'main') {
                    this.$http.post('v2/site/staff/update/main', {
                        access_token: this.$cookie.get('access_token'),
                        user_id: this.$route.params.user,
                        name: this.staff.name,
                        surname: this.staff.surname,
                        middle_name: this.staff.middle_name,
                        birthday: this.staff.birthday,
                        passport: this.passport,
                        account_status: this.staff.account_status,
                        note: this.staff.note
                    }).then(data => {
                        if(data.body.status) {
                            toastr.success('Данные обновлены');
                        }else {
                            toastr.error('Не могу хохранить информацию о пользователе');
                            toastr.info(data.body.desc);
                        }
                    }, err => {
                        toastr.error('Не могу хохранить информацию о пользователе');
                    })
                }
                if(this.currentTab === 'contacts') {
                    this.$http.post('v2/site/staff/update/contacts', {
                        access_token: this.$cookie.get('access_token'),
                        user_id: this.$route.params.user,
                        address_country: this.staff.address_country,
                        address_city: this.staff.address_city,
                        address: this.staff.address,
                        phone_number: this.staff.phone_number,
                        phone_number_2: this.staff.phone_number_2,
                        skype: this.staff.skype
                    }).then(data => {
                        if(data.body.status) {
                            toastr.success('Данные обновлены');
                        }else {
                            toastr.error('Не могу хохранить информацию о пользователе');
                            toastr.info(data.body.desc);
                        }
                    }, err => {
                        toastr.error('Не могу хохранить информацию о пользователе');
                    })
                }
                if(this.currentTab === 'rules') {
                    this.$http.post('v2/site/staff/update/rules', {
                        access_token: this.$cookie.get('access_token'),
                        user_id: this.$route.params.user,
                        rules: JSON.stringify(this.selectedRules).toString()
                    }).then(data => {
                        if(data.body.status) {
                            toastr.success('Права доступа обновлены!');
                        }else {
                            toastr.error('Не могу cохранить информацию о пользователе');
                            toastr.info(data.body.desc);
                        }
                    }, err => {
                        toastr.error('Не могу cохранить информацию о пользователе');
                    })
                }
            },
            removeDocument(id) {
                App.confirm('Вы уверенны что хотите сделать документ неактивным?', cb => {
                    if(cb) {
                        this.$http.post('v2/document/disable/document', {
                            access_token: this.$cookie.get('access_token'),
                            user_document_id: id
                        }).then(data => {
                            if(data.body.status) {
                                this.fetchDocuments();
                            }else {
                                toastr.error('Не могу открепить документ');
                                toastr.info(data.body.desc);
                            }
                        }, err => {
                            toastr.error('Не могу открепить документ');
                            console.log(err);
                        })
                    }
                })
            },
            dropAvatar(event) {
                let AvatarFormData = new FormData();
                AvatarFormData.append('access_token', this.$cookie.get('access_token'));
                AvatarFormData.append('user_id', this.$route.params.user);
                AvatarFormData.append('image', event.target.files[0]);

                toastr.info('Нaчинаю загрузку аватара');
                this.$http.post('v2/site/staff/upload/avatar', AvatarFormData)
                    .then(data => {
                        if(data.body.status) {
                            this.fetchUserData();
                            toastr.success('Аватар успешно установлен');
                        }else {
                            toastr.error('Не удалось обновить аватар пользователю')
                        }
                    }, err => {
                        toastr.error('Не удалось обновить аватар пользователю')
                    })
            },
            dropDocument(event) {
				let file = event.target.files[0];
				let size = event.target.files[0].size
				let form = new FormData();
				this.utils.checkDocument( event ).then( res => {
					if ( res === undefined || res.status === undefined || res.status === false ) {
						return false;
					}
					else {
						toastr.info( 'Начинаю загрзку документа' );
						form.append( 'access_token', this.$cookie.get( 'access_token' ) );
						form.append( 'user_document_id', this.$route.params.user );
						form.append( 'user_document_type', 'passport_1' );
						form.append( 'user_document_file', file );
						this.$http.post( 'v2/document/upload/document', form ).then( data => {
							if ( data.body.status ) {
								this.fetchDocuments();
								toastr.success( 'Документ загружен успешно' );
							} else {
								toastr.error( 'Не могу загрузить документ' );
								toastr.info( data.body.desc );
							}
						}, err => {
							console.log( err );
							toastr.error( 'Не могу загрузить документ' );
						} )
					}
				} ).catch( err => {
					toastr.error( err.description );
					event.target.value = null;
					event = null;

				} )



//				let videoMimeTypes = ['video/mp4','video/avi','video/m4v', 'video/quicktime', 'video/x-quicktime', 'video/x-m4v']
//                let file = event.target.files[0];
//				let size = event.target.files[0].size
//                let form = new FormData();
//				if (videoMimeTypes.indexOf(file.type) > -1) {
//					toastr.error('Допустимые форматы файла: jpg, jpeg, pdf (не более 20Mb)')
//				}
//				if (size > 20000000) {
//					toastr.error('Не более 20Mb')
//				}
//                else {
//					toastr.info('Начинаю загрзку документа');
//					form.append('access_token', this.$cookie.get('access_token'));
//					form.append('user_document_id', this.$route.params.user);
//					form.append('user_document_type', 'passport_1');
//					form.append('user_document_file', file);
//					this.$http.post('v2/document/upload/document', form).then(data => {
//						if(data.body.status) {
//						this.fetchDocuments();
//						toastr.success('Документ загружен успешно');
//					}else {
//						toastr.error('Не могу загрузить документ');
//						toastr.info(data.body.desc);
//					}
//				}, err => {
//						console.log(err);
//						toastr.error('Не могу загрузить документ');
//					})
//                }
            },
            limitText (count) {
                return `and ${count} other countries`
            },
            asyncCity (query) {
                this.isLoading = true;
                this.$http.post(this.config.api.frontend + '/v2/guest/get-city', {
                    city_name: query,
                    country_id: this.country.id
                }).then(data => {
                    this.isLoading = false;
                    if (data.body.status) {
                        this.cities = data.body.result;
                    }
                }, err => {
                    console.log(err);
                    this.isLoading = false
                });
            },
            fetchCountry() {
                this.$http.post(this.config.api.frontend + '/v2/guest/get-country', {})
                    .then(data => {
                        if (data.body.status) {
                            this.countries = data.body.result;
                        } else {
                            toastr.error('Не могу загрузить список стран')
                        }
                    }, err => {
                        console.log(err);
                    })
            },
            fetchDocuments() {
                this.$http.post('v2/document/search/document', {
                    access_token: this.$cookie.get('access_token'),
                    user_id: this.$route.params.user
                }).then(data => {
                    if(data.body.status) {
                        this.documents = data.body.result;
                        setTimeout(() => {
                            let deleteClick = document.querySelector('.del-photo');
                            if(deleteClick !== null) {
                                deleteClick.onclick = ev => {
                                    ev.preventDefault();     // stop the default action if u need
                                    ev.stopPropagation();
                                }
                            }
                        }, 300);
						this.initGallery()
                    }else {
                        toastr.error('Ошибка получения документов пользователя');
                        toastr.info(data.body.desc);
                    }
                }, err => {
                    toastr.error('Ошибка получения документов пользователя');
                    console.log(err);
                })
            },
            fetchUserRules() {
                this.$http.post('v2/site/staff/get/rules', {
                    access_token: this.$cookie.get('access_token'),
                    user_id: this.$route.params.user
                }).then(data => {
                    if(data.body.status) {
                        data.body.result.forEach(staffRule => {
                            this.selectedRules.push(staffRule.rule_name);
                        });
                        setTimeout(() => {
                            $('.icheck input[type=checkbox]').iCheck({
                                checkboxClass: 'icheckbox_square-blue',
                                radioClass: 'iradio_square-white',
                                increaseArea: '20%'
                            });
                            $('.icheck input[type=checkbox]').on('ifChecked', (e) => {
                                this.selectedRules.push(e.target.value)
                            });
                            $('.icheck input[type=checkbox]').on('ifUnchecked', (e) => {
                                this.selectedRules.splice(this.selectedRules.indexOf(e.target.value), 1)
                            });
                        }, 400)
                    }else {
                        toastr.error('Не могу Получить список прав пользователя');
                        toastr.info(data.body.desc);
                    }
                }, err => {
                    console.log(err);
                    toastr.error('Не могу Получить список прав пользователя');
                });
            },
            fetchUserData() {
                this.$http.post('v2/site/staff/get/one', {
                    access_token: this.$cookie.get('access_token'),
                    user_id: this.$route.params.user
                }).then(data => {
                    if(data.body.status) {
                        this.staff = data.body.result;
						this.passport =  data.body.result.passport;
						if(data.body.result.passport !== null) {
							if ( data.body.result.passport.length > 8 ) {
								this.passportType = 'passportBio'
							}
							else {
								this.passportType = ''
							}
                        }
                        this.countySelected = this.staff.address_country;
                        this.loaded = true;
                        this.fetchCountry();
                        this.fetchUserRules();
                        this.fetchDocuments();
                        this.loaded = true;
                    }else {
                        toastr.error('Не могу получить данные о юзере');
                        toastr.info(data.body.desc);
                    }
                }, err => {
                    toastr.error('Не могу получить данные о юзере');
                    console.log(err);
                    this.$router.back();
                })
            }
        },
        mounted() {
            setTimeout(() => {
                console.clear();
            }, 700)
        },
        components: {
            preloader,
            'multiselect':myltiselect
        }
    }
</script>
