<template>
    <preloader v-if="!loaded"></preloader>
    <div v-else>
        <div class="row margin-bottom">
            <div class="col-md-6">
                <div class="user-block user-block-md pull-left">
                    <img class="img-circle" :src="staff.avatar" :alt="staff.name"> <span class="username"> <a
                    href="#">{{staff.name}} {{staff.surname}}</a>
					</span> <span class="description">ID: {{staff.user_id}}</span>
                </div>
            </div>
          <change-password :user="parseInt(woman.main.id)" style="margin-left: 10px;padding-top: 10px;" class="pull-left"></change-password>
          <change-email @chengeEmail="reload()" :emailProp="woman.general.email" :user="parseInt(woman.main.id)" style="margin-left: 10px; padding-top: 10px; display: inline-block;"></change-email>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="box box-blue box-solid">
                    <div class="box-header with-border">
                        <router-link :to="'/staff/edit/' + staff.staff_type + '/' + staff.user_id">
                            <h3 class="box-title btn-block">
                                Общая информация <a class="pull-right"><i
                                    class="fa fa-pencil text-blue"></i></a>
                            </h3>
                        </router-link>
                    </div>
                    <div class="box-body no-padding">
                        <ul class="v-list">
                            <li>Статус <span class="pull-right text-green">Активный</span></li>
                            <li>E-mail <span class="pull-right text-blue">staff_admin@mail.ru</span></li>
                            <li>Дата регистрации <span class="pull-right">{{created_at}}</span></li>
                            <li>Паспорт (номер+серия) <span class="pull-right">{{staff.passportNumber}}</span></li>
                            <li>Имя<span class="pull-right">{{staff.name}}</span></li>
                            <li>Фамилия<span class="pull-right">{{staff.surname}}</span></li>
                            <li>Отчество <span class="pull-right">{{staff.middle_name}}</span></li>
                            <li>Дата рождния <span class="pull-right">{{birthday}}</span></li>
                            <li class="row"><span class="col-md-6">Примечание</span>
                                <div class="col-md-6">
                                    {{staff.note}}
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box box-blue box-solid">
                    <div class="box-header with-border">
                        <router-link :to="'/staff/edit/' + staff.staff_type + '/' + staff.user_id">
                            <h3 class="box-title btn-block">
                                Контакты <a class="pull-right"><i
                                    class="fa fa-pencil text-blue"></i></a>
                            </h3>
                        </router-link>
                    </div>
                    <div class="box-body no-padding">
                        <ul class="v-list">
                            <li>Страна <span class="pull-right">{{staff.address_country}}</span></li>
                            <li>Город <span class="pull-right">{{staff.address_city}}</span></li>
                            <li>Адрес <span class="pull-right">{{staff.address}}</span></li>
                            <li>Телефон 1 <span class="pull-right">{{staff.phone_number}}</span></li>
                            <li>Телефон 2 <span class="pull-right">{{staff.phone_number_2}}</span></li>
                            <li>Скайп <span class="pull-right">{{staff.skype}}</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="box box-blue box-solid">
                    <div class="box-header with-border">
                        <router-link :to="'/staff/edit/' + staff.staff_type + '/' + staff.user_id">
                            <h3 class="box-title btn-block">
                                Права <a class="pull-right"><i
                                    class="fa fa-pencil text-blue"></i></a>
                            </h3>
                        </router-link>
                    </div>
                    <div class="box-body">
                        <div class="box box-xs box-solid collapsed-box" v-show="financeRulesExist">
                            <div class="box-header with-border" data-widget="collapse">
                                <i class="fa fa-plus"></i>
                                <h3 class="box-title">Финансы</h3>
                            </div>
                            <div class="box-body no-padding no-display">
                                <ul class="v-list">
                                    <li v-for="rule in rulesInFinance">
                                        {{rule}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="box box-xs box-solid collapsed-box" v-show="partnerRulesExist">
                            <div class="box-header with-border" data-widget="collapse">
                                <i class="fa fa-plus"></i>
                                <h3 class="box-title">Партнеры</h3>
                            </div>
                            <div class="box-body no-padding no-display">
                                <ul class="v-list">
                                    <li v-for="rule in rulesInPartner">
                                        {{rule}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="box box-xs box-solid collapsed-box" v-show="womanRulesExist">
                            <div class="box-header with-border" data-widget="collapse">
                                <i class="fa fa-plus"></i>
                                <h3 class="box-title">Клиентки</h3>
                            </div>
                            <div class="box-body no-padding no-display">
                                <ul class="v-list">
                                    <li v-for="rule in rulesInWoman">
                                        {{rule}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="box box-xs box-solid collapsed-box" v-show="manRulesExist">
                            <div class="box-header with-border" data-widget="collapse">
                                <i class="fa fa-plus"></i>
                                <h3 class="box-title">Клиенты</h3>
                            </div>
                            <div class="box-body no-padding no-display">
                                <ul class="v-list">
                                    <li v-for="rule in rulesInMan">
                                        {{rule}}
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="box box-xs box-solid collapsed-box" v-show="serviceRulesExist">
                            <div class="box-header with-border" data-widget="collapse">
                                <i class="fa fa-plus"></i>
                                <h3 class="box-title">Сервисы</h3>
                            </div>
                            <div class="box-body no-padding no-display">
                                <ul class="v-list">
                                    <li v-for="rule in rulesInService">
                                        {{rule}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="box box-xs box-solid collapsed-box" v-show="moderationRulesExist">
                            <div class="box-header with-border" data-widget="collapse">
                                <i class="fa fa-plus"></i>
                                <h3 class="box-title">Модерация</h3>
                            </div>
                            <div class="box-body no-padding no-display">
                                <ul class="v-list">
                                    <li v-for="rule in rulesInModeration">
                                        {{rule}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="box box-xs box-solid collapsed-box" v-show="feedbackRulesExist">
                            <div class="box-header with-border" data-widget="collapse">
                                <i class="fa fa-plus"></i>
                                <h3 class="box-title">Обратная связь</h3>
                            </div>
                            <div class="box-body no-padding no-display">
                                <ul class="v-list">
                                    <li v-for="rule in rulesInFeedback">
                                        {{rule}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="box box-xs box-solid collapsed-box" v-show="settingRulesExist">
                            <div class="box-header with-border" data-widget="collapse">
                                <i class="fa fa-plus"></i>
                                <h3 class="box-title">Настройки</h3>
                            </div>
                            <div class="box-body no-padding no-display">
                                <ul class="v-list">
                                    <li v-for="rule in rulesInSetting">
                                        {{rule}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="box box-xs box-solid collapsed-box" v-show="notificationRulesExist">
                            <div class="box-header with-border" data-widget="collapse">
                                <i class="fa fa-plus"></i>
                                <h3 class="box-title">Уведомления</h3>
                            </div>
                            <div class="box-body no-padding no-display">
                                <ul class="v-list">
                                    <li v-for="rule in rulesInNotification">
                                       {{rule}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box box-blue box-solid">
                    <div class="box-header with-border">
                        <router-link :to="'/staff/edit/' + staff.staff_type + '/' + staff.user_id">
                            <h3 class="box-title btn-block">
                                Документы <a class="pull-right"><i
                                    class="fa fa-pencil text-blue"></i></a>
                            </h3>
                        </router-link>
                    </div>
                    <div class="box-body no-padding v-scroll" data-height="263">
                        <ul class="v-list">
                            <li class="header">Паспорт</li>
                            <li>
                                <nav class="photo-nav photo-list">
                                    <a target="_blank" :class="{ 'photo-nav__item': !isDocument(doc.user_document.file_extension) }" v-for="doc in documents" :href="doc.user_document.file_path">
                                        <img :src="doc.user_document.file_path" v-if="!isDocument(doc.user_document.file_extension)">
                                        <img :src="'/dist/img/pdf.png'" v-else="isDocument(doc.user_document.file_extension)" alt="Document">
                                    </a>
                                </nav>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import toastr from 'toastr'
    import preloader from '../../custom/preloader/component.vue'
    import moment from 'moment'
    import changePassword from '../../custom/changePasswordModal/component.vue'
    import changeEmail from '../../custom/changeEmailModal/component.vue'
    export default {
        name: 'StaffView',
        data() {
            return {
                loaded: false,
            	documents: [],
                financeRulesExist: false,
                partnerRulesExist: false,
                manRulesExist: false,
                womanRulesExist: false,
                serviceRulesExist: false,
                moderationRulesExist: false,
                feedbackRulesExist: false,
                settingRulesExist: false,
                notificationRulesExist: false,
                rules: [],
                staff: {
                    user_id: '',
                    email: '',
                    name: '',
                    middle_name: null,
                    surname: '',
                    birthday: '',
                    user_type: '',
                    staff_type: '',
                    note: '',
                    online: false,
                    account_status: '',
                    created_at: 1492686472,
                    address_country: null,
                    address_city: null,
                    address: '',
                    phone_number: '',
                    phone_number_2: null,
                    skype: null
                }

            }
        },
        computed: {
        	rulesInFinance() {
        	    let rulesArray = [];
                let allRules = this.$store.getters.rules;
                for(let key in allRules.finance) {
                	this.rules.forEach(rule => {
                		if(rule.rule_name === key) {
                			rulesArray.push(rule.description)
                            this.financeRulesExist = true;
                        }
                    })
                }
                return rulesArray;
            },
            rulesInPartner() {
                let rulesArray = [];
                let allRules = this.$store.getters.rules;
                for(let key in allRules.partner) {
                    this.rules.forEach(rule => {
                        if(rule.rule_name === key) {
                            rulesArray.push(rule.description);
                            this.partnerRulesExist = true;
                        }
                    })
                }
                return rulesArray;
            },
            rulesInMan() {
                let rulesArray = [];
                let allRules = this.$store.getters.rules;
                for(let key in allRules.man) {
                    this.rules.forEach(rule => {
                        if(rule.rule_name === key) {
                            rulesArray.push(rule.description);
                            this.manRulesExist = true;
                        }
                    })
                }
                return rulesArray;
            },
            rulesInWoman() {
                let rulesArray = [];
                let allRules = this.$store.getters.rules;
                for(let key in allRules.women) {
                    this.rules.forEach(rule => {
                        if(rule.rule_name === key) {
                            rulesArray.push(rule.description);
                            this.womanRulesExist = true;
                        }
                    })
                }
                return rulesArray;
            },
            rulesInService() {
                let rulesArray = [];
                let allRules = this.$store.getters.rules;
                for(let key in allRules.services) {
                    this.rules.forEach(rule => {
                        if(rule.rule_name === key) {
                            rulesArray.push(rule.description);
                            this.serviceRulesExist = true;
                        }
                    })
                }
                return rulesArray;
            },
            rulesInModeration() {
                let rulesArray = [];
                let allRules = this.$store.getters.rules;
                for(let key in allRules.moderation) {
                    this.rules.forEach(rule => {
                        if(rule.rule_name === key) {
                            rulesArray.push(rule.description);
                            this.moderationRulesExist = true;
                        }
                    })
                }
                return rulesArray;
            },
            rulesInFeedback() {
                let rulesArray = [];
                let allRules = this.$store.getters.rules;
                for(let key in allRules.feedback) {
                    this.rules.forEach(rule => {
                        if(rule.rule_name === key) {
                            rulesArray.push(rule.description);
                            this.feedbackRulesExist = true;
                        }
                    })
                }
                return rulesArray;
            },
            rulesInSetting() {
                let rulesArray = [];
                let allRules = this.$store.getters.rules;
                for(let key in allRules.settings) {
                    this.rules.forEach(rule => {
                        if(rule.rule_name === key) {
                            rulesArray.push(rule.description);
                            this.settingRulesExist = true;
                        }
                    })
                }
                return rulesArray;
            },
            rulesInNotification() {
                let rulesArray = [];
                let allRules = this.$store.getters.rules;
                for(let key in allRules.notifications) {
                    this.rules.forEach(rule => {
                        if(rule.rule_name === key) {
                            rulesArray.push(rule.description);
                            this.notificationRulesExist = true;
                        }
                    })
                }
                return rulesArray;
            },
            birthday() {
                return moment(this.staff.birthday * 1000).format('LLL')
            },
            created_at() {
            	return moment(this.staff.created_at * 1000).format('LLL')
            }
        },
        methods: {
			isDocument(name) {
				return name.match('pdf') !== null;
			},
            fetchStaff() {
                this.$http.post('v2/site/staff/get/one', {
                    access_token: this.$cookie.get('access_token'),
                    user_id: this.$route.params.staff
                }).then(data => {
                    if (data.body.status) {
                        this.staff = data.body.result;
                        this.fetchDocuments();
                        this.fetchRules();
                        this.loaded = true;
                    } else {
                        toastr.error('Не могу получить данные о сотруднике');
                        toastr.info(data.body, desc);
                    }
                }, err => {
                    toastr.error('Не могу получить данные о сотруднике');
                    console.log(err);
                })
            },
            fetchDocuments() {
            	this.$http.post('v2/document/search/document', {
            		access_token: this.$cookie.get('access_token'),
                    user_id: this.$route.params.staff
                }).then(data => {
                    if(data.body.status) {
                        this.documents = data.body.result;
                    }else {
                        toastr.error('Не могу получить документы сотрудника');
                        toastr.info(data.body.desc);
                    }
                }, err => {
                	toastr.error('Не могу получить документы сотрудника');
                    console.log(err);
                })
            },
            fetchRules() {
            	this.$http.post('v2/site/staff/get/rules', {
            		access_token: this.$cookie.get('access_token'),
                    user_id: this.$route.params.staff
                }).then(data => {
                    if(data.body.status) {
                        this.rules = data.body.result;
                    }else {
                        toastr.error('Не могу получить список прав пользователей');
                        toastr.info(data.body.desc);
                    }
                }, err => {
                	toastr.error('Не могу получить список прав пользователей');
                    console.log(err);
                })
            }
        },
        beforeMount() {
        	this.fetchStaff();
        },
        components: {
            preloader,
           changeEmail,
           'change-password': changePassword,
        }
    }
</script>
