<template>
    <div>
        <h2 class="page-header">Профиль</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="col-md-2 m-t-0">Имя:</label>
                    <div class="col-md-8">{{name[0]}}</div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 m-t-0">Фамилия:</label>
                    <div class="col-md-8">{{name[1]}}</div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 m-t-0">Email:</label>
                    <div class="col-md-8">{{user.identity.email}}</div>
                </div>
            </div>
        </div>
        <h2 class="page-header">Смена пароля</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="row form-group">
                    <label class="col-md-4 m-t-0">Новый пароль:</label> <input v-model="oldPassword" type="password" class="form-control">
                </div>
                <div class="row form-group">
                    <label class="col-md-4 m-t-0">Повторите пароль:</label> <input v-model="newPassword" type="password" class="form-control">
                </div>
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button type="submit" class="btn btn-primary" @click="changePassword">Отправить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import toastr from 'toastr'
    export default {
        name: 'RootProfile',
        data() {
            return {
                oldPassword: '',
                newPassword: ''
            }
        },
        computed: {
            user() {
                return this.$store.getters.user
            },
            name() {
                return this.$store.getters.user.identity.name.split(' ')
            }
        },
        methods: {
            changePassword() {
                if (this.oldPassword !== this.newPassword) {
                    toastr.error('Пароли не совпадают');
                    return false;
                } else if (this.newPassword.length > 15) {
                    toastr.error('Пароль не может быть длинее 15 символов');
                    return false;
                } else if (this.newPassword.length < 5) {
                    toastr.error('Пароль не может быть короче 5 символов');
                    return false;
                } else {
                    this.$http.post('v2/member/establish/password', {
                        access_token: this.$cookie.get('access_token'),
                        password: this.newPassword,
                        user_id: this.user.identity.id,
                        send_to_email: false
                    }).then(data => {
                        if (data.body.status) {
                            toastr.success('Пароль успешно изменен');
                            this.oldPassword = '';
                            this.newPassword = '';
                        } else {
                            toastr.error('Не могу сменить пароль');
                            console.log(err);
                        }
                    }, err => {
                        console.log(err);
                    })
                }
            }
        }
    }
</script>
