<template>
  <div class="col-md-6">
    <date-picker
        v-model="selectedRange"
        type="date"
        valueType="timestamp"
        :placeholder="'Выбрать дату'"
        :shortcuts="shortcuts"
        :confirm="true"
        :format="'DD-MM-YYYY HH:mm:ss'"
        range
    />
  </div>
</template>

<script>
import DatePicker from 'vue2-datepicker';
import 'vue2-datepicker/index.css';
import 'vue2-datepicker/locale/ru';
import moment from 'moment';

export default {
  name: 'DateFilter',
  props: {
    defaultRange: {
      type: Array,
      default: () => [
        moment().startOf('month').valueOf(),
        moment().endOf('month').valueOf()
      ]
    },
    changeFilter: Function
  },
  components: { DatePicker },
  data() {
    return {
      selectedRange: this.defaultRange,
      shortcuts: [
        {
          text: 'Тек. месяц',
          onClick: () => [
            new Date(moment().startOf('month')),
            new Date(moment().endOf('month'))
          ]
        },
        {
          text: 'Прош. месяц',
          onClick: () => [
            new Date(moment().subtract( 1, 'month' ).startOf( 'month' )),
                new Date(moment().subtract( 1, 'month' ).endOf( 'month' ))
          ]
        },
        {
          text: 'Вчера',
          onClick: () => [
            new Date(moment().subtract( 1, 'day' ).startOf( 'day' )),
                new Date(moment().subtract( 1, 'day' ).endOf( 'day' ))
          ]
        },
        {
          text: 'Сегодня',
          onClick: () => [
            new Date(moment().startOf( 'day' )),
                new Date(moment().endOf( 'day' ))
          ]
        },
        {
          text: 'За 24 часа',
          onClick: () => [
            new Date(moment().subtract(1, 'day').valueOf()),
            new Date(moment().valueOf())
          ]
        }
      ]
    };
  },
  watch: {
    selectedRange(value) {
      this.newChangeFilter();
    },
    defaultRange(newRange) {
      this.selectedRange = newRange;
    }
  },
  methods: {
    newChangeFilter() {
      if (this.selectedRange[0] && this.selectedRange[1]) {
        const paramDate = {
          from: moment(this.selectedRange[0]).format('X'),
          to: moment(this.selectedRange[1]).format('X')
        };
        this.changeFilter(paramDate);
      }
    }
  },
  mounted() {
    this.newChangeFilter();
  }
};
</script>

<style lang="css">
.mx-datepicker-sidebar {
  width: 145px !important;
}
.mx-datepicker-sidebar + .mx-datepicker-content {
  margin-left: 145px !important;
}
.mx-input {
  box-shadow: 0 1px 11px -3px rgba(0, 0, 0, 0.2) !important;
  border-color: #e2e3e4 !important;
  height: 40px !important;
}
.mx-datepicker-range {
  width: 100% !important;
}
</style>
