<template>
    <div class="col-md-6">
        <div class="col-md-4">
            <div class="input-group date d-t-picker dateFilterFrom">
                <span class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </span>
                <input type="text" name="date_from" disabled class="form-control from-sort">
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group date d-t-picker dateFilterTo">
                <span class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </span>
                <input type="text" name="date_to" disabled class="form-control to-sort">
            </div>
        </div>
        <div class="col-md-4">
            <select class="form-control filter-date-nav" v-model="selectedRange" style="width: 100%;">
                <option value="0">Период</option>
                <option value="1">Текущий месяц</option>
                <option value="2">Прошлый месяц</option>
                <option value="3" v-if="!hideYesterday">Вчера</option>
                <option value="4" v-if="!hideDay">Сегодня</option>
            </select>
        </div>
    </div>
</template>

<script>


	import moment from 'moment'
	export default {
		name: 'DateFilter',
		props: {
			changeFilter: Function,
            hideDay: Boolean,
            hideYesterday: Boolean
		},
		/*dateFrom: null,
		 dateTo: null,*/
		data() {
			return {
				dateFrom: moment.utc().subtract( 30, 'days' ).startOf( 'day' ).startOf( 'YYYY-MM-DD HH:mm' ),
				dateTo: moment.utc().endOf( 'day' ).endOf( 'YYYY-MM-DD HH:mm' ),
				selectedRange: '0'
			}
		},
		watch: {
			selectedRange( value ) {
				let data = parseInt( value );
				if ( data === 0 ) {
					this.dateFrom = moment.utc().subtract( 30, 'days' ).startOf( 'day' ).startOf( 'YYYY-MM-DD HH:mm' )
					this.dateTo = moment.utc().endOf( 'day' ).endOf( 'YYYY-MM-DD HH:mm' )
					this.dateChanged()
				}
				if ( data === 1 ) {
					this.dateFrom = moment.utc().startOf( 'month' ).startOf( 'YYYY-MM-DD HH:mm' );
					this.dateTo = moment.utc().endOf( 'month' ).endOf( 'YYYY-MM-DD HH:mm' );
					this.dateChanged()
				}
				if ( data === 2 ) {
					this.dateFrom = moment.utc().subtract( 1, 'month' ).startOf( 'month' ).startOf( 'YYYY-MM-DD HH:mm' );
					this.dateTo = moment.utc().subtract( 1, 'month' ).endOf( 'month' ).endOf( 'YYYY-MM-DD HH:mm' );
					this.dateChanged()
				}
				if ( data === 3 ) {
					this.dateFrom = moment.utc().subtract( 1, 'day' ).startOf( 'day' ).startOf( 'YYYY-MM-DD HH:mm' );
					this.dateTo = moment.utc().subtract( 1, 'day' ).endOf( 'day' ).endOf( 'YYYY-MM-DD HH:mm' );
					this.dateChanged()
				}
				if ( data === 4 ) {
					this.dateFrom = moment.utc().startOf( 'day' ).startOf( 'YYYY-MM-DD HH:mm' );
					this.dateTo = moment.utc().endOf( 'day' ).endOf( 'YYYY-MM-DD HH:mm' );
					this.dateChanged()
				}
//                $(".dateFilterFrom").datetimepicker().data("DateTimePicker").date(this.dateFrom);
//                $(".dateFilterTo").datetimepicker().data("DateTimePicker").date(this.dateTo);
				$( ".dateFilterFrom" ).datetimepicker().data( "DateTimePicker" ).date( this.dateFrom );
				$( ".dateFilterTo" ).datetimepicker().data( "DateTimePicker" ).date( this.dateTo );
			}
		},
		methods: {
			initPickers() {
				$( ".dateFilterFrom" ).datetimepicker( {
					useCurrent: false,
					defaultDate: this.dateFrom,
					format: 'DD.MM.YYYY HH:mm',
					locale: 'ru',
					widgetPositioning: {
						horizontal: "left"
					}
				} );

				$( ".dateFilterTo" ).datetimepicker( {
					useCurrent: false,
					defaultDate: this.dateTo,
					format: 'DD.MM.YYYY HH:mm',
					locale: 'ru',
					widgetPositioning: {
						horizontal: "left"
					}
				} );

				$( ".dateFilterFrom" ).datetimepicker().data( "DateTimePicker" ).date( this.dateFrom );
				$( ".dateFilterTo" ).datetimepicker().data( "DateTimePicker" ).date( this.dateTo );
//
//                $('#dateFilterFrom').on("dp.change", (e) => {
//					console.log("change from")
//                    this.dateFrom = e.date._d;
//                    this.dateChanged();
//                });
//                $("#dateFilterTo").on("dp.change", (e) => {
//                    this.dateTo = e.date._d;
//                    this.dateChanged();
//                });
			},
			dateChanged() {
				this.changeFilter( {
					from: parseInt( moment( this.dateFrom ).format( 'X' ) ),
					to: parseInt( moment( this.dateTo ).format( 'X' ) )
				} );
			}
		},
		mounted() {
			this.initPickers();
			this.changeFilter( {
				from: parseInt( moment( this.dateFrom ).format( 'X' ) ),
				to: parseInt( moment( this.dateTo ).format( 'X' ) )
			} );
		}
	}
</script>
