<template>
<!--    https://eonasdan.github.io/bootstrap-datetimepicker/#enableddisabled-dates-->
    <div class="col-md-2">
<!--        <div class="col-md-4">-->
            <div class="input-group date d-t-picker dateFilterFrom">
                <span class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </span>
                <input
                    type="text"
                    name="date"
                    class="form-control from-sort"
                >
            </div>
    </div>
</template>

<script>
import moment from 'moment'

export default {
    name: 'DateFilter',
    data() {
        return {
            dateFrom: moment().utc().startOf( 'day' ),
            dateTo: moment().utc().endOf( 'day' ),
        }
    },
    methods: {
        initPickers() {
            let dataPicker = $( ".dateFilterFrom" );
            dataPicker.datetimepicker( {
                defaultDate: this.dateFrom,
                format: 'DD.MM.YYYY',
                widgetPositioning: {
                    horizontal: "left"
                }
            } );
            dataPicker.on("dp.change", (e) => {
                dataPicker.data("DateTimePicker").date(e.date);
                this.formatOneDayRangeRef(e.date);

            });

        },

        formatOneDayRangeRef(day) {
            this.$emit('changeFilter', {
                from: +moment(day).startOf( 'day' ).format( 'X' ),
                to: +moment(day).endOf( 'day' ).format( 'X' )
            });
        },
        formatOneDayRange(day) {
            let
                startOfDay = moment(day).utc().startOf( 'day' ),
                endOfDay = moment(day).utc().endOf( 'day' );
            this.$emit('changeFilter', {
                from: parseInt( startOfDay.format( 'X' ) ) - moment().utcOffset() * 60,
                to: parseInt( endOfDay.format( 'X' ) ) - moment().utcOffset() * 60
            });
        },

    },
    mounted() {
        this.initPickers();
        this.formatOneDayRange(new Date().getTime());
    }
}
</script>
