
<template>
  <div class="modal" style="display: block; width: 100%; margin: 0; ">
    <div class="modal-dialog" style="display: block; width: 100%; margin: 0;">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" @click="closeModal">&times;</span></button>

          <template v-if="typePhotos!=='gift'">
            <h4 class="modal-title">Модерация - <span class="text-orange">{{getName}} фото</span></h4>
            <h5 class="modal-title">
              Клиентка:
              <router-link v-if="modalProps.agency" :to="{name: 'Просмотр партнера', params: {id: modalProps.agency.id}}">
                {{modalProps.agency.name}}
              </router-link>
              <span class="m-r2 m-l2" v-if="modalProps.agency">|</span> <router-link :to="{name: 'Профиль клиентки', params: {woman: modalProps.user_id}}">{{modalProps.name}} (id:{{modalProps.user_id}})</router-link>
            </h5>

          </template>
          <template v-else>
            <h4 class="modal-title">Кропинг фото для подарка</h4>
          </template>
        </div>
        <div class="modal-body" style="height: 90vh; overflow: hidden; overflow-y: auto;">
          <div class="row">
            <div class="col-md-5">
              <div v-show="crooperLoaded" class="row">
                <div class="col-md-7">
                  <div class="cropp-img-wrapper">
                    <img ref="cropImage" class="cropImageInModal" />
                  </div>
                </div>
                <div class="col-md-5 preview-wrapper">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="large-preview">
                        <div class="preview large"
                             style="max-width: 300px; max-height: 400px"></div>
                      </div>
                      <div class="row" style="margin-top: 15px">
                        <div class="col-md-6">
                          <div class="preview medium"
                               style="max-width: 180px; max-height: 235px"></div>
                        </div>
                        <div class="col-md-6">
                          <div class="preview preview-small fit"
                               style="max-width: 60px; max-height: 60px;"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr>
                  <div class="moderation-modal-buttons flex flex-x-between flex-y-top" style="margin-top: 50px;">
                    <div class="text-left">
                      <button type="button" v-if="!onModerationProcess" :disabled="onModerationProcess" class="btn btn-danger flex-line flex-x-between flex-y-center" @click="rejectPhoto">
                        <svg class="denied-svg g" height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg">
                          <path d="M16 0C7.164 0 0 7.164 0 16s7.164 16 16 16 16-7.164 16-16S24.836 0 16 0zm0 4c2.59 0 4.973.844 6.934 2.242L6.238 22.93C4.84 20.97 4 18.586 4 16 4 9.383 9.383 4 16 4zm0 24c-2.59 0-4.973-.844-6.934-2.242L25.762 9.07C27.16 11.03 28 13.414 28 16c0 6.617-5.383 12-12 12z" />
                        </svg>
                      </button><br>
                      <button v-if="!onModerationProcess && isPublic"
                              @click="moveToPrivate"
                              :disabled="onModerationProcess"
                              class="btn btn-warning m-t flex-line flex-x-between flex-y-center">
                        <span v-if="!onModerationProcess" class="flex-line flex-x-between flex-y-center">
                         В приват
                        </span>
                        <span v-else><i class="fa fa-circle-o-notch fa-spin m-r"></i> Обработка...</span>
                      </button>
                    </div>

                    <button type="button" v-if="!onModerationProcess" :disabled="onModerationProcess" class="btn btn-success flex-line flex-x-between flex-y-center" @click="acceptPhoto">
                      <svg class="accept-svg m-r2" height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg">
                        <path fill="none" d="M0 0h32v32H0z"/>
                        <path d="M4 16l4-4 6 6L26 6l4 4-16 16"/>
                      </svg>
                      Принять
                    </button>
                  </div>
                </div>
              </div>
              <div v-if="!crooperLoaded">
                <h3 class="text-orange text-center" style="margin-top: 100px;">Выберите новое фото для модерации!</h3>
              </div>

            </div>
            <div class="col-md-7">
              <div class="m-l">
<!--                <h4 class="text-center p-t-0 m-t-0" @click="closeModal">Все фото клиентки: <router-link :to="{name: 'Профиль клиентки', params: {woman: modalProps.user_id}}"> {{modalProps.name}}</router-link> (id:{{modalProps.user_id}})</h4>-->

                <div v-if="photosLoaded" :class="getClass(photoKey)"  style="margin-bottom: 15px; border-radius: 10px; overflow: hidden; background-color: #eee">
                  <ul class="v-list" v-for="(photo, photoKey) in photos" :key="photoKey" v-if="photo.data.length > 0 && photoKey === typePhotos+'_on_moderate'">
                    <li class="header text-bold" :class="getClass(photoKey)">
                      <i class="fa fa-image m-r2"></i>{{ getPhotosTitle(photoKey) }}
                      <b class="text-bold label m-l2" :class="getClass(photoKey)">{{ photo.data.length }}</b>
                    </li>
                    <li>
                      <div style="overflow: hidden; overflow-y: auto; max-height: 220px;" ref="scrollBlock">
                        <nav class="photo-nav photo-list">
                          <a v-for="(photo, k) in photo.data" :key="k" @click="chooseNewPhoto(photo, photoKey)" :class="{'selected-photo': croppedPhotoId == photo.id}">

                            <img :src="photo[photoUrlType(photoKey)]" alt="photo" />
                            <span class="bottom-data id photo-id-span">ID: {{ photo.id }}</span>

                          </a>
                        </nav>
                        <button
                            v-if="photo.hasMore && photo.data.length > 0"
                            @click="loadMore(photoKey)"
                            :disabled="photos[photoKey].loader"
                            class="show-more-btn"
                        >
                          <small-loader class="display-inline-block" v-if="photos[photoKey].loader" :size=20></small-loader> Показать еще
                        </button>
                      </div>

                    </li>
                  </ul>
                </div>

                <div v-if="photosLoaded" style="overflow: hidden; overflow-y: auto; max-height: 69vh;" ref="scrollBlock">
                  <ul class="v-list" v-for="(photo, photoKey) in photos" :key="photoKey" v-if="photo.data.length > 0 && photoKey !== typePhotos+'_on_moderate'">
                    <li class="header text-bold" :class="getClass(photoKey)">
                      <i class="fa fa-image m-r2"></i>{{ getPhotosTitle(photoKey) }}
                      <b class="text-bold label m-l2" :class="getClass(photoKey)">{{ photo.data.length }}</b>
                    </li>
                    <li>
                      <nav class="photo-nav photo-list">
                        <a v-for="(photo, k) in photo.data" :key="k">
                          <img :src="photo[photoUrlType(photoKey)]" alt="photo" />
                          <span class="bottom-data id photo-id-span">ID: {{ photo.id }}</span>
                        </a>
                      </nav>
                      <button
                          v-if="photo.hasMore && photo.data.length > 0"
                          @click="loadMore(photoKey)"
                          :disabled="photos[photoKey].loader"
                          class="show-more-btn"
                      >
                        <small-loader class="display-inline-block" v-if="photos[photoKey].loader" :size=20></small-loader> Показать еще
                      </button>
                    </li>
                  </ul>
                </div>
                <div v-else class="text-center p-all-2">
                  <small-loader class="display-inline-block"></small-loader>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import toastr from 'toastr'
import SmallLoader from '@/components/custom/MoonLoaderNew.vue'
import { mapState, mapGetters } from 'vuex';
export default {
  components: {SmallLoader},
  props: {
    modalProps:{
      type: Object
    },
    typePhotos:{
      type:String
    }
  },
  data() {
    return {
      onModerationProcess: false,
      moderationObject: {},
      cropper: null,
      croppedPhotoId: null,
      scrollPosition: 0,
      currentType: null,
      crooperLoaded: true
    }
  },
  computed: {
    ...mapGetters(['photos', 'getPhotosTitle', 'getClass', 'photoUrlType']),
    photosLoaded() {
      return this.$store.getters.photosLoaded('photos');
    },
    isPublic(){
      return this.typePhotos == 'public';
    },
    getName() {
      switch (this.typePhotos) {
        case "public":
          return "Публичные";
        case "private":
          return "Приватные";
        case "avatar":
          return "Аватар";
        default:
          return "Неизвестное";
      }
    },
    getRouters(){
      if (this.typePhotos == 'public'){
        return {
          accept:'v2/moderation/moderate/new-photo',
          reject:'v2/moderation/moderate/new-photo',
          toprivate:'v2/female/move/to-private',
        }
      } else if (this.typePhotos == 'private'){
        return {
          accept: 'v2/moderation/moderate/new-private-photos',
          reject: 'v2/moderation/moderate/new-private-photos',
          toprivate: '',
        }
      } else if (this.typePhotos == 'avatar'){
        return {
          accept:'v2/moderation/moderate/avatar',
          reject:'v2/moderation/moderate/avatar',
          toprivate:'',
        }
      } else if (this.typePhotos == 'gift'){
        return {
        }
      }

    },
    photosLoading() {
      return this.$store.getters.photosLoading;
    },
    getPhotosType(){
      return `${this.typePhotos}_on_moderate`;
    },
  },
  watch: {
    modalProps(deep=true){},
    $route (to, from) {
      this.closeModal();
    }
  },
  methods: {
    // Сохранение текущей позиции скролла
    saveScrollPosition() {
      const scrollBlock = this.$refs.scrollBlock;

      if (scrollBlock && scrollBlock.length > 0) {
        // Assuming scrollBlock is an array-like structure
        this.scrollPosition = scrollBlock[0].scrollTop;
      } else if (scrollBlock && scrollBlock.scrollTop !== undefined) {
        // Handling the case where scrollBlock is a single element
        this.scrollPosition = scrollBlock.scrollTop;
      } else {
        console.warn("saveScrollPosition: No valid scrollBlock reference found.");
      }
    },
    // Восстановление позиции скролла
    restoreScrollPosition() {
      this.$nextTick(() => {
        const scrollBlock = this.$refs.scrollBlock;
        if (scrollBlock) {
          scrollBlock.scrollTo({
            top: this.scrollPosition,
            behavior: "smooth", // Плавная прокрутка
          });
        } else {
          console.warn("Элемент scrollBlock не найден.");
        }
      });
    },
    chooseNewPhoto(photo, photoKey){
      if ( photoKey.includes('on_moderate') && photoKey.includes(this.typePhotos) ) {
        this.initCropper(photo, photoKey);
      }
    },
    fetchPhotos() {
      this.$store.dispatch('loadPhotos', {
        objectName: 'photos',
        type: 'all',
        userId: this.modalProps.user_id,
        reset: true,
      });
    },
    loadMore(type) {
      const isFirstLoad = !this.photos[type].data?.length;

      this.$store.dispatch('loadPhotos', {
        objectName: 'photos',
        type,
        userId: this.modalProps.user_id,
        reset: isFirstLoad,
      });
    },
    setCropImageParams(obj) {
      this.moderationObject = obj;
    },
    closeModal(reject){
      if(this.typePhotos==='gift' && reject===true){
        this.$emit('photoRejected')
      }
      this.$emit('close')
      $("body").removeClass("modal-open");

      this.$store.commit('resetPhotosData', { objectName: 'photos', type: 'all' });
    },
    initCropper(selectedPhoto) {

      if(this.croppedPhotoId === selectedPhoto?.id){
          return;
      }

      if (this.cropper) {
        this.cropper.destroy();
      }

      let typePhotos = this.typePhotos;
      let minwidth = typePhotos === 'avatar' ? 1 : 720;

      if(selectedPhoto?.id){
        this.croppedPhotoId = selectedPhoto?.id;
      }
      else {
        this.croppedPhotoId = this.modalProps.id;
      }

      const file = selectedPhoto?.file_url_origin || this.modalProps.file;
      const photoId = this.croppedPhotoId;
      const imgpath = typePhotos !== 'gift' ? `${file || this.modalProps.img}?${Math.floor(Math.random() * 99999) + 1000}` : file.thumb;
      const imgParamsSetter = this.setCropImageParams;
      const $previews = $('.preview');
      const imageToCrop = this.$refs.cropImage;

      if (imageToCrop) {
        imageToCrop.src = '#';
        imageToCrop.src = imgpath;
      } else {
        console.warn("Элемент cropImageInModal не найден.");
        return; // Прерывание, если изображение отсутствует
      }

      const cropOptions = {
        checkImageOrigin: false,
        checkCrossOrigin: false,
        strict: true,
        autoCropArea: 1,
        autoCrop: true,
        zoomable: typePhotos !== 'avatar',
        scalable: false,
        aspectRatio: typePhotos === 'avatar' ? 2.1 / 2.8 : 1 / 1,
        viewMode: typePhotos === 'avatar' ? undefined : 2,
        movable: false,
        toggleDragModeOnDblclick: false,
        rotatable: false,
        ready() {
          const $clone = $(this).clone().removeClass('cropper-hidden');
          $previews.css({ width: '100%', overflow: 'hidden' }).html($clone);
        },
        cropmove() {
          const data = this.cropper.getData();
          let cropBoxData;

          if (data.width < minwidth) {
            cropBoxData = this.cropper.getCropBoxData();
            this.cropper.setCropBoxData({ width: 720 * (cropBoxData.width / data.width) });
          }
        },
        crop(event) {
          $('.preview-wrapper').show();
          const imageData = event.target.cropper.initialImageData;
          const previewAspectRatio = event.detail.width / event.detail.height;

          imgParamsSetter({
            x: Math.round(event.detail.x),
            y: Math.round(event.detail.y),
            width: Math.round(event.detail.width),
            height: Math.round(event.detail.height),
            ...(typePhotos === 'gift' ? { file } : { photo_id: photoId }),
          });

          $previews.each(function () {
            const $preview = $(this);
            const previewWidth = $preview.width();
            const previewHeight = previewWidth / previewAspectRatio;
            const imageScaledRatio = event.detail.width / previewWidth;

            $preview.height(previewHeight).find('img').css({
              width: imageData.naturalWidth / imageScaledRatio,
              height: imageData.naturalHeight / imageScaledRatio,
              marginLeft: -event.detail.x / imageScaledRatio,
              marginTop: -event.detail.y / imageScaledRatio,
            });
          });
        },
      };

      this.cropper = new Cropper(imageToCrop, cropOptions);

      $("body").addClass("modal-open");

      this.crooperLoaded = true;

    },
    rejectPhoto(){

      this.saveScrollPosition();

      if (this.typePhotos == 'avatar'){
        this.rejectPhotoModerationForAvatar()
      } else if (this.typePhotos == 'gift'){
        this.rejectPhotoModerationForGift()
      } else{
        this.rejectPhotoModeration()
      }

    },
    rejectPhotoModeration() {

      this.onModerationProcess = true;
      this.$http.post(this.getRouters.reject, {
        access_token: this.$cookie.get('access_token'),
        photo_id: this.moderationObject.photo_id,
        photo_moderation: 'reject',
        x: this.moderationObject.x,
        y: this.moderationObject.y,
        width: this.moderationObject.width,
        height: this.moderationObject.height,
      }).then(data => {
        if (data.body.status) {
          toastr.success('Фото отклонено успешно!');
          this.onModerationProcess = false;
          this.$emit('photoModerated')
          // this.updateModerationCounters();

          this.updatePhotosSequentially(this.getPhotosType, `rejected_${this.typePhotos}_photo`);

        } else {
          toastr.error('Неполучилось отклонить фото!');
          this.onModerationProcess = false;
        }
      }, err => {
        toastr.error('Неполучилось отклонить фото!')
        this.onModerationProcess = false;
      })
    },
    rejectPhotoModerationForGift() {
      this.onModerationProcess = false;
      this.closeModal(true);
      this.$emit('photoRejected');
    },
    rejectPhotoModerationForAvatar() {
      this.onModerationProcess = true;
      this.$http.post(this.getRouters.reject, {
        access_token: this.$cookie.get('access_token'),
        moderation_id: this.moderationObject.photo_id,
        status: 'reject',
        x: this.moderationObject.x,
        y: this.moderationObject.y,
        width: this.moderationObject.width,
        height: this.moderationObject.height,
      }).then(data => {
        if (data.body.status) {
          toastr.success('Фото отклонено');
          this.onModerationProcess = false;

          this.$emit('photoModerated')
          // this.updateModerationCounters();

          this.updatePhotosSequentially('avatar_on_moderate', `rejected_avatar`);
        } else {
          toastr.error('Неполучилось отклонить фото!');
          this.onModerationProcess = false;
        }
      }, err => {
        toastr.error('Неполучилось отклонить фото!')
        this.onModerationProcess = false;
      })
    },
    acceptPhoto(){
      this.saveScrollPosition();
      if (this.typePhotos == 'avatar'){
        this.acceptPhotoModerationForAvatar()
      } else if (this.typePhotos === 'gift'){
        this.acceptPhotoModerationForGift()
      }
      else{
        this.acceptPhotoModeration()
      }
    },
    acceptPhotoModerationForGift() {
      this.$emit('photoCroped',this.moderationObject)
      this.closeModal()
    },
    acceptPhotoModeration() {
      this.onModerationProcess = true;
      toastr.info('Началась обработка фото ...');
      this.$http.post(this.getRouters.accept, {
        access_token: this.$cookie.get('access_token'),
        photo_id: this.moderationObject.photo_id,
        photo_moderation: 'accept',
        x: this.moderationObject.x,
        y: this.moderationObject.y,
        width: this.moderationObject.width,
        height: this.moderationObject.height,
      }).then(data => {
        if (data.body.status) {
          this.onModerationProcess = false;
          toastr.success('Фото промодерировано!')

          this.$emit('photoModerated')
          // this.updateModerationCounters();

          this.updatePhotosSequentially(this.getPhotosType, `${this.typePhotos}_photo`);
        } else {
          toastr.error('Неполучилось обработать фото!');
          toastr.info(data.body.desc)
          this.onModerationProcess = false;
        }
      }, err => {
        toastr.error('Неполучилось обработать фото!')
        this.onModerationProcess = false;
      })
    },
    acceptPhotoModerationForAvatar() {
      this.onModerationProcess = true;
      toastr.info('Началась обработка фото ...');
      this.$http.post(this.getRouters.accept, {
        access_token: this.$cookie.get('access_token'),
        moderation_id: this.moderationObject.photo_id,
        status: 'accept',
        x: this.moderationObject.x,
        y: this.moderationObject.y,
        width: this.moderationObject.width,
        height: this.moderationObject.height,
      }).then(data => {
        if (data.body.status) {
          this.onModerationProcess = false;
          toastr.success('Фото промодерировано!')
          this.$emit('photoModerated')
          // this.updateModerationCounters();

          this.updatePhotosSequentially(this.getPhotosType, 'avatars');
        } else {
          toastr.error('Не получилось обработать фото!');
          toastr.info(data.body.desc)
          this.onModerationProcess = false;
        }
      }, err => {
        toastr.error('Не получилось обработать фото!')
        this.onModerationProcess = false;
      })
    },
    moveToPrivate() {
      this.saveScrollPosition();
      this.onModerationProcess = true;
      toastr.info('Начинаю перемещение!');
      this.$http.post(this.getRouters.toprivate, {
        access_token: this.$cookie.get('access_token'),
        photo_id: this.moderationObject.photo_id,
        user_id:  this.modalProps.user_id,
      }).then(data => {
        if (data.body.status) {

          this.onModerationProcess = false;
          toastr.success('Фото перемещено!')
          this.$emit('photoModerated')
          // this.updateModerationCounters();

          this.updatePhotosSequentially('private_on_moderate', this.getPhotosType);
        } else {
          toastr.error('Не получилось переместить фото!');
          toastr.info(data.body.desc)
          this.onModerationProcess = false;
        }
      }, err => {
        toastr.error('Не получилось переместить фото!')
        this.onModerationProcess = false;
      })
    },
    async updatePhotosSequentially(moderationType, type) {
      try {
        // Сбрасываем списки перед загрузкой
        this.$store.commit('resetPhotosData', { objectName: 'photos', type: moderationType });
        this.$store.commit('resetPhotosData', { objectName: 'photos', type: type });

        // Последовательно перезапрашиваем списки
        await this.$store.dispatch('loadPhotos', {
          objectName: 'photos',
          type: moderationType,
          userId: this.modalProps.user_id,
          reset: true, // Обнуление перед запросом
        });

        await this.$store.dispatch('loadPhotos', {
          objectName: 'photos',
          type,
          userId: this.modalProps.user_id,
          reset: true, // Обнуление перед запросом
        });

        if(this.photos[moderationType].data.length === 0){
          this.closeModal();
        }

      } catch (error) {
        // Обработка ошибок
        console.error('Ошибка при обновлении списков:', error);
        this.crooperLoaded = true; // Сбрасываем индикатор даже при ошибке
      }

      // this.restoreScrollPosition();
      this.crooperLoaded = false;
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.initCropper();
      this.fetchPhotos();
    });
  },
  destroyed() {
    this.$store.commit('resetPhotosData', { objectName: 'photos', type: 'all' });
  }
}
</script>

<style lang="scss" scoped>
.modal-dialog{
  width:60%;
  background: #ddd;
}
@media only screen and (max-width : 768px) {
  .modal-dialog{
    width:100%;
  }
}

.fit{
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 0;
  object-position: 50% 0;
  transition: all .3s;
}

.photo-list{
  .photo-id-span{
    display: none!important;
  }
  & > a{
    margin: 0;
    padding: 3px 3px 0 3px;
    width: 103px!important;
    min-height: 100px!important;
    position: relative;

    > img {
      width: 95px!important;
      height: 95px!important;
      object-fit: cover!important;
      object-position: 50% 0;
    }
    .bottom-data{
      margin-top: 5px;
    }
    &:hover{
      .photo-id-span{
        position: absolute;
        background-color: #fff;
        border-bottom: -15px;
        left: 0;
        right: 0;
        z-index: 4;
        display: block!important;
      }
    }
  }
}

.moderation-modal-buttons {
  .btn {
    line-height: 1;
    height: 42px;
  }
  .denied-svg {
    fill: white;
    height: 24px;
    width: 24px;
  }
  .accept-svg {
    fill: white;
    height: 24px;
    width: 24px;
  }
}
.referal-links-list {
  list-style: none;
  a {
    cursor: pointer;
  }
}
.photo-id-span {
  position: relative;
  text-align: center;
  color: dimgrey;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 600;
}
.flex-line{
  display: inline-flex;
}


li.header, li.header .label{
  font-size: 14px;
}

//@media (min-width: 1800px) {
//  .skin-bbm .photo-nav a {
//    width: 180px;
//    height: 180px;
//
//    //> img {
//    //  height: 140px!important;
//    //}
//  }
//}


.skeleton-container {
  display: flex;
  gap: 10px;
}

.skeleton {
  width: 100px;
  height: 100px;
  background: #ccc;
  animation: pulse 1.5s infinite;
  border-radius: 8px;
}

@keyframes pulse {
  0% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.7;
  }
}
</style>


