<template>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-8">
        <div class="cropp-img-wrapper">
          <img :src="imgUrl" class="cropImageInModal">
        </div>
      </div>
      <div class="col-md-4 preview-wrapper" style="display: none;">
        <div class="row">
          <div class="col-md-12">
            <div class="large-preview">
              <div class="preview large" style="max-width: 300px; max-height: 400px"></div>
            </div>
            <div class="row" style="margin-top: 15px">
              <div class="col-md-6">
                <div class="preview medium"
                     style="max-width: 180px; max-height: 235px"></div>
              </div>
              <div class="col-md-6">
                <div class="preview preview-small fit"
                     style="max-width: 60px; max-height: 60px;"></div>
              </div>
            </div>
          </div>
        </div>


        <div class="text-right">
          <button
              type="button"
              class="btn margin-top btn-danger"
              @click="$emit('backToplay', false)"
          >Назад </button>

          <button
              type="button"
              :disabled="loader"
              class="btn margin-top margin-left btn-success"
              @click="uploadPreview()"
          >{{ btnText }}</button>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
import Cropper from 'cropperjs'
import { mapActions } from 'vuex';
import toastr from 'toastr'
export default {
  name: 'CropArea',
  data () {
    return {
      cropper: null,
      previewVideoparams: {},
      loader: false
    };
  },
  props: ['imgUrl', 'blobFile', 'vId', 'vType'],
  computed: {
    btnText (){
      return this.loader ? "Загрузка..." : "Загрузить превью";
    }
  },
  methods: {
    ...mapActions([
      'uploadLadyVideoPreview'
    ]),
    uploadPreview() {
      this.loader = true;
      let newPrevFormData = new FormData();
      newPrevFormData.append('access_token', this.$cookie.get('access_token'));
      newPrevFormData.append('video_id', this.vId);
      newPrevFormData.append('blob', this.blobFile);
      newPrevFormData.append('is_blob', 1);
      newPrevFormData.append('x', this.previewVideoparams.x);
      newPrevFormData.append('y', this.previewVideoparams.y);
      newPrevFormData.append('width', this.previewVideoparams.width);
      newPrevFormData.append('height', this.previewVideoparams.height);

      this.uploadLadyVideoPreview({ type: this.vType, data: newPrevFormData })
          .then(result => {
            toastr.success('Превью для видео, загруженно успешно!');

            this.$store.commit('updateModerateVideoModalState', {
              open: true,
              options: result,
              videoType: this.vType
            });

            this.loader = false;
            this.$emit('backToplay', true);
          })
          .catch(error => {
            toastr.error('Ошибка!');
            this.loader = false;
          });
    },
    setCropImageParams(obj) {
      Object.assign( this.previewVideoparams, obj );
    },
    initCropp() {
      if (this.cropper !== null) {
        this.cropper.destroy();
      }
      let minwidth = 720;
      let this_ = this;
      let imageToCrop = document.querySelector('.cropImageInModal');

      this.cropper = new Cropper(imageToCrop, {
        checkImageOrigin: false,
        checkCrossOrigin: false,
        //minCanvasWidth: '600px',
        //minCanvasHeight: '100%',
        //minContainerWidth: 700,
        //minContainerHeight: 700,
        strict: true,
        // minCropBoxWidth: 720,
        // minCropBoxHeight: 720,
        autoCropArea: 1,
        autoCrop: true,
        // zoomOnTouch: true,
        // zoomOnWheel: true,
        zoomable: false,
        scalable: false,
        aspectRatio: 1 / 1,
        viewMode: 2,
        movable: false,
        toggleDragModeOnDblclick: false,
        rotatable: false,
        ready: function (e) {
          let $clone = $(this).clone().removeClass('cropper-hidden');
          $('.preview').css({
            width: '100%',
            overflow: 'hidden'
          }).html($clone);

          e.target.cropper.crop();
        },
        cropmove: function () {
          var data = this.cropper.getData();
          //console.log(data)
          var cropBoxData;
          if (data.width < minwidth) {
            cropBoxData = this.cropper.getCropBoxData();
            this.cropper.setCropBoxData({width:720* (cropBoxData.width / data.width)});
            data = this.cropper.getData();
          }
        },
        crop: function (e) {
          $('.preview-wrapper').show();
          let imageData = e.target.cropper.initialImageData;
          let previewAspectRatio = e.detail.width / e.detail.height;
          $('.preview').each(function () {
            let $preview = $(this);
            let previewWidth = $preview.width();
            let previewHeight = previewWidth / previewAspectRatio;
            let imageScaledRatio = e.detail.width / previewWidth;
            $preview.height(previewHeight).find('img').css({
              width: imageData.naturalWidth / imageScaledRatio,
              height: imageData.naturalHeight / imageScaledRatio,
              marginLeft: -e.detail.x / imageScaledRatio,
              marginTop: -e.detail.y / imageScaledRatio
            });
          });

          this_.setCropImageParams({
            x: Math.round(e.detail.x),
            y: Math.round(e.detail.y),
            width: Math.round(e.detail.width),
            height: Math.round(e.detail.height),
            image: this_.imgUrl
          });
        }
      });

      $("body").addClass("modal-open");
    },
    fetchData () {
      if (this.imgUrl) {
        this.initCropp();
      } else {
        if (this.cropper) {
          this.cropper.destroy();
        }
        this.setCropImageParams({});
      }
    },
  },
  mounted() {
    this.$nextTick(() => {
      this.fetchData();
    });
  }
};
</script>
<style scoped lang="scss">
.large-preview {
  display: flex;
  flex-direction: row;
}
.large img{
  width: 160px;
  height: 160px;
}
.medium img{
  width: 160px;
  height: 160px;
}
.preview-small img{
  width: 60px;
  height: 60px;
}

.modal-dialog{
  width:60%;
  background: #ddd;
}
@media only screen and (max-width : 768px) {
  .modal-dialog{
    width:100%;
  }
}

.moderation-modal-buttons {
  .btn {
    line-height: 1;
    height: 42px;
  }
  .denied-svg {
    fill: white;
    height: 24px;
    width: 24px;
  }
  .accept-svg {
    fill: white;
    height: 24px;
    width: 24px;
  }
}

.referal-links-list {
  list-style: none;
  a {
    cursor: pointer;
  }
}
.photo-id-span {
  position: relative;
  text-align: center;
  color: dimgrey;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  font-size: 12px;
  font-weight: 600;
}
</style>
