<template>
    <div>
        <h2 class="page-header"><i class="fa fa-plus"></i> Подарок</h2>

        <div class="row">
            <div class="col-md-7">
                <!-- form start -->
                <form @submit.prevent class="form-horizontal">
                    <div class="form-group">
                        <label for="for-status" class="col-md-4">Категория</label>
                        <div class="col-md-6">
                            <select name="" class="form-control" id="for-status" v-model="modelCategory">
                                <option class="placeholder-option" value="" selected>Категория</option>
                                <option value="perfume">Парфюмы</option>
                                <option value="jewelry">Ювелирные изделия</option>
                                <option value="electronic_devices">Техника</option>
                                <option value="toys">Игрушки</option>
                                <option value="food_and_beverage">Продукты и напитки</option>
                                <option value="season_tickets_and_certificates">Сертификаты</option>
                                <option value="balloons">Шарики</option>
                                <option value="clothing">Одежда</option>
                                <option value="flowers">Цветы</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="for-name" class="col-md-4">Название</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="for-name" v-model="modelName">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 big-top-padding">Изображение</label>
                        <div class="col-md-6">
                            <div class="ava-load-wrapp photo">
                                <img src="/dist/img/default.jpg" src-default="dist/img/default.jpg" class="img-responsive load-file-src" id="gift-avatar">
                                <div class="clearfix bottom-d">
                                <span class="load-file-link">
                                  <input type="file" name="giftphoto" @change="avatarDrop" class="load-file-input">
                                  <span class="upload-text-wrapp">
                                    Загрузить <i class="fa fa-download text-blue"></i>
                                  </span>
                                </span>
                                    <span class="fa fa-times-circle del-photo pull-right"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="for-credits" class="col-md-4">Стоимость(кред.)</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="for-credits" v-model="modelCredits">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="for-delivary" class="col-md-4">Доставка(кред.)</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="for-delivary" v-model="modelDelivery">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="for-bonus" class="col-md-4">Бонусы($)</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="for-bonus" v-model="modelBonus">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="for-note" class="col-md-2">Описание</label>
                        <div class="col-md-8">
                            <textarea name="" class="form-control" id="for-note" rows="10" v-model="modelDescription"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10 text-right">
                            <button type="submit" class="btn btn-primary" @click.prevernt="createGift">Сохранить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import toastr from 'toastr'
    import Vue from 'vue'
    export default {
        name: 'CreateGift',
        data() {
            return {
                modelCategory: null,
                modelName: null,
                modelAvatar: null,
                modelCredits: null,
                modelDelivery: null,
                modelBonus: null,
                modelDescription: null,
                allowedCategory: ['perfume','jewelry','electronic_devices','toys','food_and_beverage','season_tickets_and_certificates','balloons','clothing','flowers','other']
            }
        },
        methods: {
            createGift() {
                let checkType = false;
                for(let i = 0; i < this.allowedCategory.length; i++) {
                    if(this.modelCategory == this.allowedCategory[i]) {
                        checkType = true;
                    }
                }
                if(checkType && this.modelName && this.modelAvatar && this.modelCredits && this.modelDelivery && this.modelBonus) {
                    let myData = new FormData();
                    myData.append('photo', this.modelAvatar);
                    myData.append('access_token', this.$cookie.get('access_token'));
                    myData.append('category', this.modelCategory);
                    myData.append('name', this.modelName);
                    myData.append('price', this.modelCredits);
                    myData.append('delivery_price', this.modelDelivery);
                    myData.append('agency_bonus', this.modelBonus);
                    myData.append('description', this.modelDescription);

                    Vue.http.post('v2/present/create/one', myData)
                        .then(data => {
                            if(data.body.status) {
                                toastr.success('Подарок добавлен');
                                this.$router.push('/services/gift/list')
                            }else{
                                toastr.error('Ошибка добавления подарка');
                            }
                        }, err => {
                            console.log('Err', err);
                        })

                }else {
                    toastr.error('Неверно заполнены параметры');
                }
            },
            avatarDrop(event) {
                this.avatar = event.target.files || event.dataTransfer.files;
                let files = this.avatar;
                for (let i = 0, f; f = files[i]; i++) {
                    this.modelAvatar = f;
                }

                let reader = new FileReader();
                reader.onload = (e) => {
                    $('#gift-avatar').attr('src', e.target.result);
                };
                reader.readAsDataURL(this.modelAvatar);
            }
        }
    }
</script>

<style>

</style>
