<template>
    <div>
        <h2 class="page-header"><i class="fa fa-edit"></i> Подарок (ID:{{id}} )</h2>

        <div class="row">
            <div class="col-md-7">
                <!-- form start -->
                <form @submit.prevent class="form-horizontal">
                    <div class="form-group">
                        <label for="for-status" class="col-md-4">Категория</label>
                        <div class="col-md-6">
                            <select name="" class="form-control" id="for-status" v-model="modelCategory">
                                <option class="placeholder-option" value="" selected>Категория</option>
                                <option value="perfume">Парфюмы</option>
                                <option value="jewelry">Ювелирные изделия</option>
                                <option value="electronic_devices">Техника</option>
                                <option value="toys">Игрушки</option>
                                <option value="food_and_beverage">Продукты и напитки</option>
                                <option value="season_tickets_and_certificates">Сертификаты</option>
                                <option value="balloons">Шарики</option>
                                <option value="clothing">Одежда</option>
                                <option value="flowers">Цветы</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="for-name" class="col-md-4">Название</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="for-name" v-model="modelName">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 big-top-padding">Изображение</label>
                        <div class="col-md-6">
                            <div class="ava-load-wrapp photo">
                                <img :src="modelPhoto" :src-default="modelPhoto" class="img-responsive load-file-src" id="gift-avatar">
                                <div class="clearfix bottom-d">
                                <span class="load-file-link">
                                  <input type="file" name="giftphoto" @change="giftPhotoDrop" class="load-file-input">
                                  <span class="upload-text-wrapp">
                                    Загрузить <i class="fa fa-download text-blue"></i>
                                  </span>
                                </span>
                                    <span class="fa fa-times-circle del-photo pull-right" @click="removeNewAvatarSetOld"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="for-credits" class="col-md-4">Стоимость(кред.)</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="for-credits" v-model="modelPrice">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="for-delivary" class="col-md-4">Доставка(кред.)</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="for-delivary" v-model="modelDelivery">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="for-bonus" class="col-md-4">Бонусы($)</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="for-bonus" v-model="modelBonus">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="for-queue" class="col-md-4">Порядковый номер</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="for-queue" v-model="queue_number">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="for-active-cb" class="col-md-4">Активный</label>
                        <div class="col-md-6">
                            <input type="checkbox" id="for-active-cb" v-model="active">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="for-note" class="col-md-2">Описание</label>
                        <div class="col-md-8">
                            <textarea name="" class="form-control" id="for-note" rows="10" v-model="modelDescription"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10 text-right">
                            <button type="submit" class="btn btn-primary" @click.prevernt="editGift">Сохранить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue'
    import Cookie from 'vue-cookie'
    import toastr from 'toastr'
    export default {
        name: 'EditGift',
        data() {
            return {
                id: '',
                modelName: '',
                modelDescription: '',
                modelPrice: '',
                modelPhoto: '',
                photoNeedUpdate: 0,
                modelDelivery: '',
                modelCategory: '',
                modelBonus: 0,
                oldPhoto: '',
				queue_number: '',
                active: false
            }
        },
        beforeMount() {
            if(!this.$cookie.get('access_token')) {
                toastr.error('Ошибка авторизации. Попробуйте обновить страницу');
                next(false);
            }else {
                Vue.http.post('v2/present/load/one', {
                    access_token: this.$cookie.get('access_token'),
                    gift_id: this.$route.params.id
                }).then(result => {
                    let gift = result.body.result;
                    this.id = gift.id;
                    this.modelName = gift.name;
                    this.modelDescription = gift.description;
                    this.modelPrice = gift.price;
                    this.modelPhoto = gift.photo;
                    this.oldPhoto = gift.photo;
                    this.modelDelivery = gift.delivery_price;
                    this.modelCategory = gift.category;
                    this.modelBonus = gift.agency_bonus;
                    this.queue_number = gift.number_in_queue;
                    this.active = !!gift.active;
                })
            }
        },
        methods: {
            removeNewAvatarSetOld() {
                this.photoNeedUpdate = 0;
                $('#gift-avatar').attr('src', this.oldPhoto);
            },
            editGift() {

                let myFormData = new FormData();

                myFormData.append('access_token', this.$cookie.get('access_token'));
                myFormData.append('category', this.modelCategory);
                myFormData.append('name', this.modelName);
                myFormData.append('price', this.modelPrice);
                myFormData.append('delivery_price', this.modelDelivery);
                myFormData.append('agency_bonus', this.modelBonus);
                myFormData.append('description', this.modelDescription);
                myFormData.append('gift_id', this.id);
                myFormData.append('photo_modify', this.photoNeedUpdate);
                myFormData.append('photo', this.modelPhoto);
                myFormData.append('number_in_queue', this.queue_number);
                myFormData.append('active', this.active? 1 : 0);

                Vue.http.post('v2/present/edit/one', myFormData).then(giftUpdateResult => {
                    if(giftUpdateResult.body.status) {
                        toastr.success('Подарок успешно обновлен');
						this.$router.push('/services/gift/list')
                    }else {
                        toastr.error(giftUpdateResult.body.desc)
                    }
                }, err => {
                    toastr.error('Ошибка API');
                })
            },
            giftPhotoDrop(event) {
                let files = event.target.files || event.dataTransfer.files;
                for (let i = 0, f; f = files[i]; i++) {
                    this.modelPhoto = f;
                }
                let reader = new FileReader();
                reader.onload = (e) => {
                    $('#gift-avatar').attr('src', e.target.result);
                };
                reader.readAsDataURL(this.modelPhoto);
                this.photoNeedUpdate = 1;
            }
        }
    }
</script>
