<template>
    <div>
        <!-- .row (main row) -->
        <div class="row">
            <div class="col-md-12">
                <div class="box box-blue box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title"><i class="fa fa-gift text-blue"></i> Подарки</h3>

                        <div class="box-tools pull-right">
                            <router-link to="/services/gift/create">
                                <a class="btn btn-success">Создать <i class="fa fa-plus"></i></a>
                            </router-link>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">

                        <!-- filter -->
                        <form class="row">
                            <div class="form-group margin">
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="ID" v-model="searchIdModel">
                                </div>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="Название" v-model="searchNameModel">
                                </div>
                                <div class="col-md-3">
                                    <select class="form-control" v-model="searchCategoryModel">
                                        <option class="placeholder-option" value="" selected>Категория</option>
                                        <option value="Парфюмы">Парфюмы</option>
                                        <option value="Ювелирные изделия">Ювелирные изделия</option>
                                        <option value="Техника">Техника</option>
                                        <option value="Игрушки">Игрушки</option>
                                        <option value="Продукты и напитки">Продукты и напитки</option>
                                        <option value="Сертификаты">Сертификаты</option>
                                        <option value="Шарики">Шарики</option>
                                        <option value="Одежда">Одежда</option>
                                        <option value="Цветы">Цветы</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                        <div class="table-responsive">
                            <table-load v-show="initTableProcess"></table-load>
                        <table class="table table-bordered table-scroll" id="gifts-list" v-show="!initTableProcess">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Поряд. номер</th>
                                <th>Название</th>
                                <th>Фото</th>
                                <th>Стоимость(кред.)</th>
                                <th>Доставка(кред.)
                                </th>
                                <th>Бонусы($)
                                </th>
                                <th>Категория
                                </th>
                                <th>Описание
                                </th>
                                <th>Действие</th>
                            </tr>
                            </thead>
                        </table>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

                <div class="row">
                    <div class="col-md-6">
                        <div class="margin-top" id="girls-showing">
                        </div>
                    </div>
                    <div class="col-md-6" id="girls-pagination">

                    </div>
                </div>

            </div>
        </div>
        <!-- /.row (main row) -->
    </div>
</template>

<script>
    function giftsSearch(column, data) {
        $('#gifts-list').DataTable().column(column).search(
            data,
            false,
            false
        ).draw();
    }

    import Vue from 'vue'
    import toastr from 'toastr'
	import TableLoad from '../../custom/tableLoader/component.vue'
    export default {
        name: 'GiftList',
        data() {
            return {
				initTableProcess: true,
                gifts: {},
                giftsWithoutCategory: {},
                searchIdModel: '',
                searchNameModel: '',
                searchCategoryModel: '',
            }
        },
        beforeMount() {
            if (!this.$cookie.get('access_token')) {
                this.$router.push('/');
            } else {
                this.fetchData();
            }
        },
        methods: {
            editGift(id) {
                this.$router.push('/services/gift/edit/'+id);
            },
            fetchData() {
                Vue.http.post('v2/present/get-peresents', {
                    access_token: this.$cookie.get('access_token'),
                }).then(giftsResponse => {
                    if (giftsResponse.body.status) {
                        this.gifts = giftsResponse.body.result.list;
                        /*let gifts = giftsResponse.body.result;
                        let prettyGifts = [];
                        for (let category in gifts) {
                            for (let i = 0; i < gifts[category].length; i++) {
                                prettyGifts.push({
                                    id: gifts[category][i].id,
                                    category: gifts[category][i].category,
                                    created_at: gifts[category][i].created_at,
                                    delivery_price: gifts[category][i].delivery_price,
									agency_bonus: gifts[category][i].agency_bonus,
                                    description: gifts[category][i].description,
                                    name: gifts[category][i].name,
                                    price: gifts[category][i].price,
                                    photo: gifts[category][i].photo,
                                });
                            }
                        }*/
                        this.giftsWithoutCategory = giftsResponse.body.result.list;
						this.initTable()
                    } else {
                        toastr.error('Ошибка. Не могу получить список подарков')
                    }
                }, err => {
                    toastr.error('Ошибка API. Страница будет перезагружена');
                    setTimeout(() => {
                        window.location.reload();
                    }, 2000);
                    console.log(err);
                })
            },
			initTable(){
				let table = $('#gifts-list').DataTable({
					iDisplayLength: 20,
					"order": [[ 0, "desc" ]]
                });
				$('#gifts-list_length').remove();
				$('#gifts-list_filter').remove();
				$('#girls-pagination').append($('#gifts-list_paginate'));
				$('#girls-showing').append($('#gifts-list_info'));

					let giftsForTable = this.giftsWithoutCategory;
					for(let i = 0; i < giftsForTable.length; i++) {
						let giftPhoto = '<img src="'+giftsForTable[i].photo+'" class="attachment-img">';
						let prettyCategory = null;
						let action = '<a class="btn btn-primary edit-g" data-id="'+giftsForTable[i].id+'"><i class="fa fa-edit fa-lg text-white"></i></a>';
						switch(giftsForTable[i].category) {
							case "flowers":
								prettyCategory = 'Цветы';
								break;
							case "jewelry":
								prettyCategory = 'Ювелирные изделия';
								break;
							case "perfume":
								prettyCategory = 'Парфюмы';
								break;
							case "electronic_devices":
								prettyCategory = 'Техника';
								break;
							case "toys":
								prettyCategory = 'Игрушки';
								break;
							case "food_and_beverage":
								prettyCategory = 'Продукты и напитки';
								break;
							case "season_tickets_and_certificates":
								prettyCategory = 'Сертификаты';
								break;
							case "balloons":
								prettyCategory = 'Шарики';
								break;
							case "clothing":
								prettyCategory = 'Одежда';
								break;
							case "other":
								prettyCategory = 'Другое';
								break;
						}

						table.row.add([
							giftsForTable[i].id,
              giftsForTable[i].number_in_queue,
							giftsForTable[i].name,
							giftPhoto,
							giftsForTable[i].price,
							giftsForTable[i].delivery_price,
							giftsForTable[i].agency_bonus,
							prettyCategory,
							giftsForTable[i].description,
							action
						]).draw(false);
					}


				let editGift = this.editGift;

				$('#gifts-list').on('click', '.edit-g', function () {
					let ID = table.row($(this).parents('tr').first()).data()[0];
					editGift(ID);
				});
				this.initTableProcess = false;
			}
        },


        mounted() {


        },
        watch: {
            searchIdModel(value) {
                giftsSearch(0, value);
            },
            searchNameModel(value) {
                giftsSearch(2, value)
            },
            searchCategoryModel(value) {
                giftsSearch(7, value)
            }
        },
		components: {

			'table-load': TableLoad
		},
    }
</script>

<style>

    .attachment-img {
        max-width: 80px;
    }
    #girls-pagination {
        text-align: right;
    }

</style>
