<template>
	<div class="catalog-item">
		<div class="catalog-item--img">
			<img :src="gift.photo" :alt="gift.name">
		</div>
		<p class="catalog-item--name">{{gift.name}}</p>
		<p class="catalog-item--bonus">
			<span>Price: {{gift.price}}</span>
		</p>
		<p class="catalog-item--desc">
			{{gift.description}}
		</p>
	</div>
</template>

<script>
	export default {
		props: {
			gift: Object
		},
		data() {
			return {}
		},
		methods: {},
		computed: {},
		components: {}
	}
</script>

<style lang="scss" scoped="">
	.catalog-item {
		padding: 0 20px;
		margin-bottom: 40px;

		&--img {
			text-align: center;
			img {
				max-width: 100%;
				height: 100px;
				object-fit: cover;
			}
		}

		&--name {
			font-weight: bold;
			font-size: 13px;
			width: 100%;
			span {
				width: 100%;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
		}

		&--bonus {
			background: #ffef95;
			border-radius: 5px;
			padding: 2px 2px;
			display: inline-block;
			margin-bottom: 5px !important;
		}

		&--bonus,
		&--desc {
			color: #7f8288;
			font-size: 11px;
		}

		p {
			margin: 0;
		}
	}
</style>
