<template>
    <div>
        <h2 class="page-header">Рассылка ID: {{distribution.id}}</h2>
        <div class="row">
            <div class="col-md-12">
                <!-- form start -->
                <form method="POST" action="" class="form-horizontal">
                    <div class="row form-group">
                        <label class="col-md-2 m-t-0">Дата создания:</label>
                        <div class="col-md-6 margin-bottom">{{prettyCreated}}</div>
                    </div>
                    <div class="row form-group">
                        <label class="col-md-2 m-t-0">Статус:</label>
                        <div class="col-md-6 margin-bottom">{{moderationStatus}}</div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 m-t-0">От:</label>
                        <div class="col-md-8">
                            <div class="user-block user-block-md margin-bottom">
                                <img class="img-circle" :src="user.avatar.small"
                                     :alt="user.name"> <span class="username"> <a
                                :href="'/woman/view/' + user.id">{{user.name}}</a>
							</span> <a :href="'/woman/view/' + user.id"><span class="description">ID: {{user.id}}</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 m-t-0"></label>
                        <div class="col-md-10 margin-bottom">
                            <span class="margin-right">
                            <input type="checkbox" v-model="distribution.setting_online" id="online-distr"> Онлайн
                        <small class="fa fa-circle text-green"></small>
						</span> <span class="margin-right">
                        <input type="checkbox" v-model="distribution.setting_new"> Новые <small
                            class="label bg-yellow">New</small>
						</span> <span> <input type="checkbox" v-model="distribution.setting_birthday"> Именинники <i
                            class="fa fa-birthday-cake text-blue"></i>
						</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-5 col-md-offset-2">
                            <select class="form-control" v-model="selectedFilter">
                                <option class="placeholder-option" selected="selected" value="">Все</option>
                                <option value="favorites">мои фавориты</option>
                                <option value="bookmarks">мои закладки</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 m-t-0">Черный писок:</label>
                        <div class="col-md-5">
                            <div class="search-user margin-bottom p-relative">
                                <div class="input-group">
                                    <input type="text" v-model="searchMan" id="searchManForDistribution"
                                           class="form-control search-input" placeholder="Добавить..."> <span
                                    class="input-group-addon"><i class="fa fa-search"></i></span>
                                </div>
                                <div class="dropdown-search-list" id="searchManForDeliveryArea" style="display: none">
                                    <div class="v-scroll" data-height="250">
                                        <ul class="products-list  product-list-in-box user-list-corection"
                                            style="width: 100%">
                                            <li class="item" v-for="item in foundManToBlacklist">
                                                <div class="product-img">
                                                    <img :src="item.avatar.small"
                                                         :alt="item.name">
                                                </div>
                                                <div class="product-info">
                                                    <a class="product-title">{{item.name}}</a>
                                                    <span class="product-description">ID: {{item.id}}</span>
                                                    <a class="label label-success right-icon"
                                                       @click="addToBlacklist(item)"><i class="fa fa-plus"></i></a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- /.search-user -->
                            <div class="v-scroll" data-height="150" style="margin-bottom: 20px">
                                <ul id="blacklistArea"
                                    class="products-list product-list-in-box no-item-bg user-list-corection">
                                    <li class="item" v-for="item in blacklist">
                                        <div class="product-img">
                                            <img :src="item.avatar.small" :alt="item.name">
                                        </div>
                                        <div class="product-info">
                                            <a class="product-title">{{item.name}}</a>
                                            <span class="product-description">ID: {{item.id}}</span>
                                            <a class="label label-warning right-icon"
                                               @click="removeFromBlacklist(item.id)"><i class="fa fa-times"></i></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-md-2">Тема:</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="for-theme" v-model="distribution.subject">
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-md-2">Текст письма:</label>
                        <div class="col-md-6">
                            <div class="row margin-bottom">
                                <div class="col-md-3">
                                    <input type="text" class="form-control" v-model="distribution.greeting">
                                </div>
                                <div class="col-md-9">
                                    <label class="col-md-2">John,</label>
                                </div>
                            </div>

                            <textarea name="" class="form-control" rows="10" v-model="distribution.text"></textarea>
                            <div class="text-right margin-top">
								<span class="load-file-link">
									 <a href="#" @click="loadPhotos" class="text-blue add-photos" data-toggle="modal"
                                        data-target="#attachModal" data-list=".photo-list-inset"
                                        title="Прикрепить фото"> Прикрепить фото <i
                                         class="fa fa-plus text-blue"></i></a>
								</span>
                            </div>
                            <nav class="photo-nav photo-list-lastp margin-bottom">
                                <a v-for="item in attachments" :href="item.photo">
                                    <img :src="item.photo">
                                    <span class="fa fa-times-circle del-photo"
                                          @click.prevent.stop="removeFromAttachments(item.id)"></span>
                                </a>

                                <a v-for="item in newAttachedPhotosArray" :href="item.file_path">
                                    <img :src="item.file_path">
                                    <span class="fa fa-times-circle del-photo"
                                          @click.prevent.stop="removeFromAttachmentsNotOnServer(item.id)"></span>
                                </a>

                            </nav>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 text-right">
                            <button type="submit" class="btn btn-primary" @click.prevent="saveEdit">Сохранить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="modal fade" tabindex="-1" role="dialog" id="attachModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Вложения рассылки</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <nav class="modal-photo-list">
                                    <a v-for="item in attachPhotos">
                                        <img :src="item.file_path" style="max-width: 80px">
                                        <span class="check-wrapp">
                                            <div class="icheckbox_square-blue" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox" value="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                            </div>
                                        </span>
                                        <span class="check-wrapp">
                                            <input v-model="attachedPhotosArray"
                                                   type="checkbox"
                                                   :value="item.id"
                                                   style="position: absolute;"></span>
                                    </a>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" @click="saveAttachedPhotos" data-dismiss="modal">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    import moment from 'moment'
    import toastr from 'toastr'
    export default {
        name: 'DeliveryView',
        data() {
            return {
            	galleries: '',
                distribution: {
                    "id": 0,
                    "sender_user_id": 0,
                    "subject": "Subject loading....",
                    "text": "Text loading....",
                    "created_at": 1491912776,
                    "moderation_agency": "accept",
                    "moderation_site": "free",
                    "greeting": "Greeting loading....",
                    "setting_online": null,
                    "setting_new": null,
                    "setting_birthday": null,
                    "setting_favorite": null,
                    "setting_bookmark": null
                },
                user: {
                    "id": 0,
                    "name": "Name loading...",
                    "avatar": {
                        "small": "#",
                        "medium": "#",
                        "large": "#",
                        "origin": "#"
                    }
                },
                blacklist: [],
                attachments: [],
                count_receiver: 0,
                rejectReason: '',
                rejectError: false,
                selectedFilter: '',
                foundManToBlacklist: [],
                searchMan: '',
                attachPhotos: [],
                attachedPhotosArray: [],
                newAttachedPhotosArray: []
            }
        },
        watch: {
            attachedPhotosArray(value) {
                let attachments = value;

            },
            rejectReason(value) {
                this.rejectError = value === '';
            },
            searchMan(value) {
                if (value !== '') {
                    this.$http.post('v2/male/user-search', {
                        access_token: this.$cookie.get('access_token'),
                        name_or_id: value
                    }).then(data => {
                        if (data.body.status) {
                            let mans = data.body.result;
                            this.foundManToBlacklist = [];
                            mans.forEach(man => {
                                this.foundManToBlacklist.push({
                                    id: man.user_id,
                                    name: man.name + ' ' + man.surname,
                                    avatar: man.avatar
                                })
                            })
                        } else {
                            toastr.error(data.body.desc);
                        }
                    }, err => {
                        toastr.error('Ошибка поиска');
                        console.log(err);
                    })
                }
            }
        },
        methods: {
            removeFromAttachmentsNotOnServer(id) {
                let count = 0;
                this.newAttachedPhotosArray.forEach(photo => {
                	if(photo.id == id) {
                        this.newAttachedPhotosArray.splice(count, 1);
                    }else {
                		count++;
                    }
                })
            },
            saveAttachedPhotos() {
            	for(let i = 0; i < this.attachedPhotosArray.length; i++) {
            		this.attachPhotos.forEach(photo => {
            			if(this.attachedPhotosArray[i] === photo.id) {
                            this.newAttachedPhotosArray.push(photo);
                        }
                    })
                }

                this.initGallery()

            },
			initGallery() {
				if ( this.galleries ) {
					let tmp = [].slice.call(this.galleries);
					tmp.forEach(i => {
						$(i).data('lightGallery').destroy(true);
					})
				}
				this.$nextTick( () => {
					this.galleries = $( '.photo-nav' ).lightGallery();
				} );
			},
            loadPhotos() {
                this.$http.post('v2/female/load-photos', {
                    access_token: this.$cookie.get('access_token'),
                    user_id: this.user.id
                }).then(data => {
                    if (data.body.status) {
                        this.attachPhotos = [];
                        data.body.result.public_photo.forEach(photo => {
                            this.attachPhotos.push(photo)
                        });
                        data.body.result.private_photo.forEach(photo => {
                            this.attachPhotos.push(photo)
                        });
						this.initGallery()
                    } else {
                        toastr.error('Не могу получить список фото');
                        toastr.info(data.body.desc);
                    }
                }, err => {
                    toastr.error('Не могу получить список фото')
                })
            },
            saveEdit() {
                let prettyBlacklist = [];
                let prettyAttachments = [];
                let setting_favorites = 0;
                let setting_bookmarks = 0;
                let setting_new = 0;
                let setting_birthday = 0;
                let setting_online = 0;

                if(this.distribution.setting_new === true || this.setting_new === 1) {
                	setting_new = 1;
                }
                if(this.distribution.setting_online === true || this.setting_online === 1) {
                	setting_online = 1;
                }
                if(this.distribution.setting_birthday === true || this.setting_birthday === 1) {
                    setting_birthday = 1;
                }

                if(this.selectedFilter === 'favorites') {
                    setting_favorites = 1;
                } else if (this.selectedFilter === 'bookmarks') {
                    setting_bookmarks = 1;
                } else {
					setting_favorites = 0;
					setting_bookmarks = 0;
                }
                this.newAttachedPhotosArray.forEach(newAttach => {
                	prettyAttachments.push(newAttach.id);
                });
                this.blacklist.forEach(item => {
                    prettyBlacklist.push(item.id);
                });

                this.$http.post('v2/moderation/update/distribution', {
                    access_token: this.$cookie.get('access_token'),
                    distribution_id: this.$route.params.delivery,
                    subject: this.distribution.subject,
                    text: this.distribution.text,
                    greeting: this.distribution.greeting,
                    setting_online:setting_online,
                    setting_new: setting_new,
                    setting_birthday: setting_birthday,
                    setting_favorite: setting_favorites,
                    setting_bookmark: setting_bookmarks,
                    black_list_user_id: JSON.stringify(prettyBlacklist).toString(),
                    attachments: JSON.stringify(prettyAttachments).toString()
                }).then(data => {
                	if(data.body.status) {
                        toastr.success('Рассылка успешно отредактирована');
                        this.$router.push('/moderation/delivery/' + this.$route.params.delivery);
                    }else {
                        toastr.error('Не могу отредактировать рассылку');
                        toastr.info(data.body.desc);
                    }
                }, err => {
                    toastr.error('Не могу отредактировать рассылку');
                    console.log(err);
                })

            },
            addToBlacklist(item) {
                this.blacklist.push(item);
            },
            removeFromAttachments(id) {
                let counter = 0;
                App.confirm('Вы уверены, что хотите удалить это фото из вложений?', confirm => {
                    if(confirm) {
                        this.$http.post('v2/female/delete/attachment-distribution', {
                            access_token: this.$cookie.get('access_token'),
                            distribution_id: this.$route.params.delivery,
                            attachment_id: id
                        }).then(data => {
                            if(data.body.status) {
                                this.attachments.forEach(attach => {
                                    if (attach.id == id) {
                                        this.attachments.splice(counter, 1);
                                    } else {
                                        counter++;
                                    }
                                })
                            }else {
                                toastr.error('Не могу удалить фото из вложений');
                                toastr.info(data.body.desc);
                            }
                        }, err => {
                            console.log(err);
                            toastr.error('Не могу удалить фото из вложений');
                        })
                    }
                });
            },
            removeFromBlacklist(id) {
                let counter = 0;
                this.blacklist.forEach(item => {
                    if (item.id == id) {
                        this.blacklist.splice(counter, 1);
                    } else {
                        counter++;
                    }
                });
            },
            moderation(result) {
                if (result === 'reject' && this.rejectReason !== '') {
                    this.$http.post('v2/moderation/moderate/distribution', {
                        access_token: this.$cookie.get('access_token'),
                        moderation_id: this.$route.params.delivery,
                        status: result,
                        note: this.rejectReason
                    }).then(data => {
                        if (data.body.status) {
                            toastr.success('Рассылка промодерирована');
                            setTimeout(() => {
                                this.$router.push('/moderation/delivery')
                            }, 2000)
                        } else {
                            toastr.error('Ошибка модерации рассылки сообщений');
                            toastr.info(data.body.desc);
                        }
                    }, err => {
                        toastr.error('Ошибка модерации рассылки сообщений');
                    })
                } else if (result === 'accept') {
                    this.$http.post('v2/moderation/moderate/distribution', {
                        access_token: this.$cookie.get('access_token'),
                        moderation_id: this.$route.params.delivery,
                        status: result,
                        note: this.rejectReason
                    }).then(data => {
                        if (data.body.status) {
                            toastr.success('Рассылка промодерирована');
                            setTimeout(() => {
                                this.$router.push('/moderation/delivery')
                            }, 2000)
                        } else {
                            toastr.error('Ошибка модерации рассылки сообщений');
                            toastr.info(data.body.desc);
                        }
                    }, err => {
                        toastr.error('Ошибка модерации рассылки сообщений');
                    })
                } else {
                    this.rejectError = true;
                    toastr.error('Примечание отклонения не может быть пустым')
                }
            }
        },
        computed: {
            prettyCreated() {
                return moment(this.distribution.created_at * 1000).format('LLL')
            },
            moderationStatus() {
                if (this.distribution.moderation_site === 'accept') {
                    return 'Выполнена'
                } else {
                    return 'На модерации'
                }
            }
        },
        beforeMount() {
            this.$http.post('v2/moderation/get/distribution', {
                access_token: this.$cookie.get('access_token'),
                moderation_id: this.$route.params.delivery
            }).then(data => {
                if (data.body.status) {
                    let result = data.body.result;
                    this.distribution = result.distribution;
                    this.user = result.user;
                    this.blacklist = result.blacklist;
                    this.attachments = result.attachments;
                    this.count_receiver = result.count_receiver;

                    if (this.distribution.setting_bookmark) {
                        this.selectedFilter = 'bookmarks';
                    }

                    if (this.distribution.setting_favorite) {
                        this.selectedFilter = 'favorites';
                    }
                } else {
                    toastr.error('Не могу получить информацию рассылки');
                    toastr.info(data.body.desc);
                }
            }, err => {
                toastr.error('Не могу получить информацию рассылки')
                console.log(err);
            })
        },
        mounted() {
            setTimeout(() => {
                let ev = document.querySelector('.del-photo');
                ev.onclick = e => {
                    e.preventDefault();
                }
            }, 500);

            let searchInput = document.querySelector('#searchManForDistribution');
            let searchArea = document.querySelector('#searchManForDeliveryArea');
            let blacklistArea = document.querySelector('#blacklistArea');

            searchInput.onfocus = e => {
                searchArea.style.display = 'block'
                blacklistArea.style.display = 'none';
            };
            searchInput.onblur = e => {
                setTimeout(() => {
                    searchArea.style.display = 'none';
                    blacklistArea.style.display = 'block';
                }, 300)
            };

            $(".v-scroll").each(function () {
                if ($(this).attr("data-height")) {
                    $(this).css("height", $(this).attr("data-height") + "px");
                }

                $(this).perfectScrollbar();
            });
        }
    }
</script>

<style>
    .note-error {
        border-radius: 2px;
        border: solid darkred 2px !important;
    }
</style>
