<template>
    <div>
        <h2 class="page-header">
            <div class="row">
                <div class="col-sm-8 text-left">
                    Рассылка ID: {{distribution.id}}

                    <router-link :to="'/moderation/delivery/edit/' + distribution.id">
                        <a class="btn btn-success">
                            <i class="fa fa-lg fa-edit"></i>
                        </a>
                    </router-link>
                </div>


            </div>
        </h2>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group row">
                    <label class="col-md-2 m-t-0">Дата создания:</label>
                    <div class="col-md-8">{{prettyCreated}}</div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 m-t-0">Статус:</label>
                    <div class="col-md-8">
                        <strong>{{moderationStatus}}</strong>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 m-t-0">От:</label>
                    <div class="col-md-8">
                        <div class="user-block user-block-md margin-bottom">
                            <img class="img-circle" :src="user.avatar.small" :alt="user.name">
                            <span class="username"> <a
                                :href="'/woman/view/' + user.id">{{user.name}}</a>
							</span> <a :href="'/woman/view/' + user.id"><span class="description">ID: {{user.id}}</span></a>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 m-t-0">Получатели:</label>
                    <div class="col-md-10">
                        <div class="margin-bottom">{{count_receiver}}</div>
                        <span class="margin-right">
                            <input disabled type="checkbox" v-model="distribution.setting_online" id="online-distr"> Онлайн
                        <small class="fa fa-circle text-green"></small>
						</span> <span class="margin-right">
                        <input disabled type="checkbox" v-model="distribution.setting_new"> Новые <small
                        class="label bg-yellow">New</small>
						</span> <span> <input disabled type="checkbox" v-model="distribution.setting_birthday"> Именинники <i
                        class="fa fa-birthday-cake text-blue"></i>
						</span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-5 col-md-offset-2">
                        <select class="form-control" disabled v-model="selectedFilter">
                            <option class="placeholder-option" selected="selected" value="">Все</option>
                            <option value="favorites">мои фавориты</option>
                            <option value="bookmarks">мои закладки</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 m-t-0">Черный список:</label>
                    <div class="col-md-5">
                        <!-- /.search-user -->
                        <div class="v-scroll" data-height="200">
                            <ul class="products-list user-list-corection no-item-bg">
                                <li v-for="item in blacklist" class="item">
                                    <div class="product-img">
                                        <img :src="item.avatar.small" :alt="item.name">
                                    </div>
                                    <div class="product-info">
                                        <a href="javascript:void(0)" class="product-title">{{item.name}}</a> <span
                                        class="product-description">ID: {{item.id}}</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 m-t-0">Тема:</label>
                    <div class="col-md-8">
                        {{distribution.subject}}

                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 m-t-0">Письмо:</label>
                    <div class="row margin-bottom">
                        <div class="col-md-3">
                            <input type="text" id="for-answer-letter" disabled
                                   style="padding: 7px 13px; margin-right: 15px; border-radius: 4px; border: none; box-shadow: 0 0 4px rgba(0,0,0, .5)"
                                   :value="distribution.greeting"> <span for="for-answer-letter">John,</span>
                        </div>
                        <div class="col-md-9">
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-5">
                        {{distribution.text}}


                        <nav class="photo-nav photo-list margin-top">
                            <a v-for="photo in attachments" :href="photo.photo">
                                <img :src="photo.photo">
                            </a>
                        </nav>

                        <lady-video-gallery :videos="attachments_video"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <a class="btn btn-warning show-moderaton-modal pull-right" data-toggle="modal"
                           data-target="#rejectionModal" data-title="Напишите причину отклонения">Отклонить</a>
                    </div>
                      <div class="col-md-2">
                      <a class="btn btn-primary btnNext pull-right" @click="moderation('accept')">Утвердить</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="rejectionModal" tabindex="-1" role="dialog" aria-labelledby="rejectionModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                    </div>
                    <div class="modal-body">
                        <textarea v-model="rejectReason"
                                  style="width: 100%; resize: none; border: solid midnightblue 1px; border-radius: 3px; outline: none"
                                  :class="{'note-error': rejectError}" cols="30" rows="10"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal"
                                @click="moderation('reject')">Отклонить
                        </button>
                    </div>
                </div>
            </div>
        </div>
       <modal-video/>
    </div>
</template>

<script>
    import moment from 'moment'
    import toastr from 'toastr'
	import {UPDATE_MODERATION_COUNTER} from '../../../mixins/updateModerationCounter'
    import LadyVideoGallery from "@components/content/girls/parts/VideoGallery.vue";
    import modalVideo from "@components/modals/PlayVideoModal.vue";
    export default {
        name: 'DeliveryView',
        components: {modalVideo, LadyVideoGallery},
        data() {
            return {
                distribution: {
                    "id": 0,
                    "sender_user_id": 0,
                    "subject": "Subject loading....",
                    "text": "Text loading....",
                    "created_at": 1491912776,
                    "moderation_agency": "accept",
                    "moderation_site": "free",
                    "greeting": "Greeting loading....",
                    "setting_online": null,
                    "setting_new": null,
                    "setting_birthday": null,
                    "setting_favorite": null,
                    "setting_bookmark": null
                },
                user: {
                    "id": 0,
                    "name": "Name loading...",
                    "avatar": {
                        "small": "#",
                        "medium": "#",
                        "large": "#",
                        "origin": "#"
                    }
                },
                blacklist: [],
                attachments: [],
                attachments_video: [],
                count_receiver: 0,
                rejectReason: '',
                rejectError: false,
                selectedFilter: ''
            }
        },
		mixins: [
			UPDATE_MODERATION_COUNTER
		],
        watch: {
            rejectReason(value) {
                this.rejectError = value === '';
            }
        },
        methods: {
            moderation(result) {
                if (result === 'reject' && this.rejectReason !== '') {
                    this.$http.post('v2/moderation/moderate/distribution', {
                        access_token: this.$cookie.get('access_token'),
                        moderation_id: this.$route.params.delivery,
                        status: result,
                        note: this.rejectReason
                    }).then(data => {
                        if (data.body.status) {
                            toastr.success('Рассылка промодерирована');
						this.updateModerationCounters();
                            setTimeout(() => {
                                this.$router.push('/moderation/delivery')
                            }, 2000)
                        } else {
                            toastr.error('Ошибка модерации рассылки сообщений');
                            toastr.info(data.body.desc);
                        }
                    }, err => {
                        toastr.error('Ошибка модерации рассылки сообщений');
                    })
                } else if (result === 'accept') {
                    this.$http.post('v2/moderation/moderate/distribution', {
                        access_token: this.$cookie.get('access_token'),
                        moderation_id: this.$route.params.delivery,
                        status: result,
                        note: this.rejectReason
                    }).then(data => {
                        if (data.body.status) {
                            toastr.success('Рассылка промодерирована');
						this.updateModerationCounters();
                            setTimeout(() => {
                                this.$router.push('/moderation/delivery')
                            }, 2000)
                        } else {
                            toastr.error('Ошибка модерации рассылки сообщений');
                            toastr.info(data.body.desc);
                        }
                    }, err => {
                        toastr.error('Ошибка модерации рассылки сообщений');
                    })
                } else {
                    this.rejectError = true;
                    toastr.error('Примечание отклонения не может быть пустым')
                }
            }
        },
        computed: {
            prettyCreated() {
                return moment(this.distribution.created_at * 1000).format('LLL')
            },
            moderationStatus() {
                if (this.distribution.moderation_site === 'accept') {
                    return 'Выполнена'
                } else {
                    return 'На модерации'
                }
            }
        },
        beforeMount() {
            this.$http.post('v2/moderation/get/distribution', {
                access_token: this.$cookie.get('access_token'),
                moderation_id: this.$route.params.delivery
            }).then(data => {
                if (data.body.status) {
                    let result = data.body.result;
                    this.distribution = result.distribution;
                    this.user = result.user;
                    this.blacklist = result.blacklist;
                    this.attachments = result.attachments;
                    this.attachments_video = result.attachments_video;
                    this.count_receiver = result.count_receiver;

                    if (this.distribution.setting_bookmark) {
                        this.selectedFilter = 'bookmarks';
                    }

                    if (this.distribution.setting_favorite) {
                        this.selectedFilter = 'favorites';
                    }

					$('.photo-nav').lightGallery();
                } else {
                    toastr.error('Не могу получить информацию рассылки');
                    toastr.info(data.body.desc);
                }
            }, err => {
                toastr.error('Не могу получить информацию рассылки')
                console.log(err);
            })
        },
    }
</script>

<style>
    textarea {
        min-height: 150px;
    }
    .note-error {
        border-radius: 2px;
        border: solid darkred 2px !important;
    }
</style>
