<template>
	<div class="catalog">
		<form class="row">
			<div class="form-group filters margin">
				<div class="col-md-2">
					<input type="text" class="form-control" v-model="name" placeholder="Название подарка">
				</div>
				<div class="col-md-2">
					<select class="form-control" v-model="category">
						<option class="placeholder-option" value="">Категория</option>
						<option v-for="i in categories" :value="i">{{i}}</option>
					</select>
				</div>
			</div>
		</form>
		<div class="row"
			 v-show="preloader">
			<div class="col-md-12">
				<div class="loader">
					<span class="inner1"></span>
					<span class="inner2"></span>
					<span class="inner3"></span>
				</div>
			</div>
		</div>
		<div class="catalog--grid" v-show="!preloader">
			<cat v-for="i in data" :key="i.id" :gift="i"></cat>
		</div>
		<div>
			<uib-pagination class="pull-right" v-model="pagination" :total-items="count" :rotate="true"
							:force-ellipses="true" :boundary-links="true" last-text="Посл." first-text="Перв."
							:direction-links="true" :items-per-page="limit" :max-size="5" previous-text="Пред."
							next-text="След." @change="switchPage"></uib-pagination>
		</div>

	</div>

</template>

<script>
	import toastr from 'toastr'
	import moment from 'moment'
	import cat from './catalog-item.vue'
	import _ from 'lodash'

	export default {
		name: 'GiftCatalog',

		data() {
			return {
				pagination: {
					currentPage: 1,
					numPages: 0
				},
				categories: [],
				limit: 20,
				name: '',
				category: '',
				preloader: true,
				offset: 0,
				data: [],
				count: 0
			}
		},
		computed: {},
		watch: {
			name( v ) {
				this.resetPagination();
				this.search();
			},
			category() {
				this.resetPagination();
				this.fetchData();
			}
		},
		methods: {
			switchPage() {
				this.offset = this.pagination.currentPage * this.limit - this.limit;
				this.fetchData();
			},
			resetPagination() {
				this.offset = 0;
				if ( 'currentPage' in this.pagination ) this.pagination.currentPage = 1;
			},
			fetchCategies() {
				this.$http.post( 'v2/present/category', {
					access_token: this.$cookie.get( 'access_token' ),
				} ).then( r => {
					if ( r.body.status ) {
						this.categories = r.body.result;
					}
				} )
			},
			search: _.debounce( function () {
				this.fetchData()
			}, 300 ),
			fetchData() {
				this.preloader = true;
				this.$http.post( 'v2/present/get-peresents', {
					access_token: this.$cookie.get( 'access_token' ),
					offset: this.offset,
					limit: this.limit,
					name: this.name,
					category: this.category
				} ).then( r => {
					if ( r.body.status ) {
						this.data = r.body.result.list;
						this.count = +r.body.result.count;
					}
					this.preloader = false;
				} )
			}
		},
		mounted() {
			this.fetchData();
			this.fetchCategies();
		},
		components: {
			cat
		}
	}
</script>

<style scoped="" lang="scss">

	@import "src/assets/styles/mixins";

	.filters {
		> div {
			margin-bottom: 10px;
		}
	}

	.catalog {
		&--grid {
			padding: 10px 0;
			@include customGrid(100%, 6, 16%, catalog-item);
		}
	}

	@media (max-width: 992px) {
		.catalog {
			&--grid {
				@include customGrid(100%, 4, 20%, catalog-item);
			}
		}
	}

	@media (max-width: 768px) {
		.catalog {
			&--grid {
				@include customGrid(100%, 2, 45%, catalog-item);
			}
		}
	}

</style>
