<template>
  <div style="min-height: 84vh">
    <h2 class="page-header">
      <div class="row">
        <div class="col-sm-8 text-left">
          Подарок ID: {{id}}
          <a class="btn" :class="{'btn-success': !editMode, 'btn-danger': editMode}" @click="enableEdit"
             v-if="canEdit">
            <i class="fa fa-lg fa-edit"></i>
          </a>
        </div>
      </div>
    </h2>
    <div >
      <div class="row">
        <div class="col-md-12">
          <div class="form-group row">
            <label class="col-md-2 m-t-0">Дата создания:</label>
            <div class="col-md-8"> {{prettyCreated}}</div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 m-t-0">Клиентка:</label>
            <div class="col-md-8">
              <router-link :to="{name: 'Профиль клиентки', params: {woman: gift.woman.id}}">
                <div class="user-block user-block-md margin-bottom">
                  <img class="img-circle" :src="gift.woman.avatar.small"
                       :alt="gift.woman.name">
                  <span class="username">
                                <a>{{gift.woman.name}}</a>
							</span> <a><span class="description">ID: {{gift.woman.id}}</span></a>
                </div>
              </router-link>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 m-t-0">Клиент:</label>
            <div class="col-md-8">
              <router-link :to="{name: 'Профиль клиента', params: {man: gift.man.id}}">
                <div class="user-block user-block-md margin-bottom">
                  <img class="img-circle" :src="gift.man.avatar.small"
                       :alt="gift.man.name">
                  <span class="username">
                                <a>{{gift.man.name}}</a>
							</span> <a><span class="description">ID: {{gift.man.id}}</span></a>
                </div>
              </router-link>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 m-t-0">Подарок:</label>
            <div class="clearfix">
              <img class="attachment-img" :src="gift.gift.photo"
                   alt="gift photo">
              <div class="attachment-pushed">
                <div class="attachment-heading">{{gift.gift.name}}</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 m-t-0">Количество:</label>
            <div class="col-md-8">{{gift.gift_count}}</div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 m-t-0">Кредиты:</label>
            <div class="col-md-8">{{gift.credits}}</div>
          </div>
        </div>
      </div>
      <h2 class="page-header">
        <div class="row">
          <div class="col-sm-8 text-left">Модерация</div>
        </div>
      </h2>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group row">
            <label class="col-md-2 m-t-0">Модерация партнером:</label>
            <div class="col-md-8">
              <strong :class="{'text-danger': gift.moderation_agency === 'reject', 'text-success': gift.moderation_agency === 'accept'}">{{partnerModeration}}</strong>
            </div>
          </div>

          <div class="form-group row" v-if="gift.comment !==''">
            <label class="col-md-2 m-t-0">Комментарий от партнера:</label>
            <div class="col-md-8">
              <div v-html="gift.comment"></div>
            </div>
          </div>

          <div class="page-header" v-if="gift.comment !==''"></div>

          <div class="form-group row">
            <label class="col-md-2 m-t-0">Модерация сайтом:</label>
            <div class="col-md-8">
              <strong :class="{'text-danger': gift.moderation_site === 'reject', 'text-success': gift.moderation_site === 'accept'}">{{siteModeration}}</strong>

              <div v-if="gift.moderation_site === 'reject'">
                <br>
                <br>
                <em class="text-bold">Причина отклонения:</em>
                <div v-html="gift.comment"></div>
              </div>
            </div>
          </div>


          <div v-if="gift.moderation_agency !== 'reject'">
            <div class="form-group row">
              <label class="col-md-2 m-t-2">Тема:</label>
              <div class="col-md-5">
                <input type="text" class="form-control" placeholder="Тема сообщения"
                       v-model="gift.message.subject" v-if="editMode">
                <span v-else>{{gift.message.subject}}</span>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 m-t-2">Текст:</label>
              <div class="col-md-5">
                <textarea class="form-control" v-if="editMode" v-model="gift.message.text" cols="30" rows="10"></textarea>
                <div v-if="editMode" class="text-right margin-top">
                  <p class="text-muted" v-if="editMode">
                    <small>К письму может быть прикреплено максимум 3 фотографии. Минимумум 1 фотография обязательна.
                    </small>
                  </p>
                  <form ref="upload-form" v-if="displayedAttachments.length < maxAttachCount">
                    <input @change="getPhoto($event)" type="file" id="inp-attach"
                           style="display: none;"><label for="inp-attach" class="text-blue add-photos"
                                                         style="cursor: pointer;font-weight: normal; font-size: 14px;">
                    Прикрепить фото <i class="fa fa-plus text-blue"></i></label>
                  </form>
                </div>
                <span v-else v-html='gift.message.text'></span>
                <div class="row">
                  <nav v-if="!photosLoading" class="photo-nav photo-list-lastp margin-bottom">

                    <a v-for="(photo, i) in displayedAttachments" :key="photo.id || photo.ts" :href="photo.thumb || photo.file_name_origin" >
                      <img :src="photo.thumb || photo.file_name_small"
                           class="img-responsive">
                      <span class="fa fa-times-circle del-photo"
                            style="position: absolute; top: -5px;right: -5px; cursor: pointer; margin: 0;"
                            @click.stop.prevent="clearThumb(photo.id, photo.ts)" v-if="editMode"></span>
                    </a>


                  </nav>
                </div>
              </div>
            </div>
            <div class="row" v-if="editMode">
              <div class="col-md-7 text-right">
                <a class="btn btn-primary btnNext pull-right" href="#" @click.prevent="saveEdit">Сохранить</a>
              </div>
            </div>
          </div>



          <div class="row" v-if="!editMode && moderation && gift.moderation_site === 'free'">
            <div class="col-md-6">
              <a class="btn btn-warning show-moderaton-modal" href="#"
                 data-title="Напишите причину отклонения" data-toggle="modal" data-target="#rejectModal">Отклонить</a>
              <a class="btn btn-primary btnNext pull-right" @click.prevent="finishModeration('accept')">Утвердить</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="rejectModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Причина отклонения</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <textarea class="form-control" v-model="note" id="" cols="30" rows="10"></textarea>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" @click="finishModeration('reject')">
              Отклонить
            </button>
          </div>
        </div>
      </div>
    </div>
    <cropModal v-if="flagModal" @close="modalClose" @photoCroped="updateData" @photoRejected="rejectPhoto" :modalProps="modalProps"
               :typePhotos="typePhotos"></cropModal>
  </div>
</template>

<script>
import toastr from 'toastr'
import moment from 'moment'
import {UPDATE_MODERATION_COUNTER} from '../../../mixins/updateModerationCounter'
import preloader from '../../custom/preloader/component.vue'
import cropModal from '../../custom/cropModal/component.vue'

export default {
  name: 'GiftView',
  props: {
    id: {
      type: Number
    },
    moderation: {
      type: Boolean,
    },
  },
  data() {
    return {
      flagModal: false,
      typePhotos:'gift',
      modalProps:{},
      photosLoading: true,
      gallery: '',
      maxAttachCount: 3,
      photosToAttach: [],
      oldAttach: [],
      attached: [],
      editMode: false,
      note: '',
      gift: {
        id: '',
        created_at: 1492516570,
        woman: {
          id: '',
          name: '',
          avatar: {
            small: '#',
            medium: '#',
            large: '#',
            origin: '#'
          }
        },
        man: {
          id: '',
          name: '',
          avatar: {
            small: '#',
            medium: '#',
            large: '#',
            origin: '#'
          }
        },
        gift: {
          id: '',
          name: '',
          photo: ''
        },
        gift_count: '',
        credits: '',
        moderation_site: "free",
        moderation_agency: "accept",
        message: {
          id: '',
          subject: '',
          text: '',
          attachments: []
        }
      },
      files: [],
      cropper: null,
      cropObj: {},
      showCropModal: false
    }
  },
  watch: {
    photosLoading(val) {
      if (!val) {
        this.initlightGallery()
      }
    },
    displayedAttachments(v) {
      this.initlightGallery()
    }
  },
  mixins: [
    UPDATE_MODERATION_COUNTER
  ],
  methods: {
    rejectPhoto(){
      this.clearThumb( false, this.files[this.files.length - 1].ts )
    },
    updateData(obj){
      this.photosLoading = true;
      console.log("PhotoCroped")
      //console.log(obj)

      let file = obj.file
      let lObj = this.files.find(function(f) {
        return f.ts===file.ts
      });

      //console.log(lObj)
      lObj.x = obj.x
      lObj.y = obj.y
      lObj.width = obj.width
      lObj.height = obj.height

      setTimeout(() => {
        this.photosLoading = false;
      }, 200)

    },
    modalShow(file) {
      this.flagModal = true
      this.modalProps.file = file
    },
    modalClose() {
      this.flagModal = false
    },
    initlightGallery(){
      $('.photo-nav').lightGallery("destroy");
      setTimeout(() => {
        $('.photo-nav').lightGallery();
      }, 200)
    },
    getPhoto(e) {
      this.utils.checkImage(e).then(r => {
        let file = {
          ts: Date.now(),
          _file: e.target.files[0],
          thumb: '',
          x: 0,
          y: 0,
          width: 0,
          height: 0
        }
        this.files.push(file)
        this.makeThumb(file)
        this.modalShow(file)
        this.$refs['upload-form'].reset();
      }).catch(e => {
        toastr.error(e.description)
        this.$refs['upload-form'].reset();
      })
    },
    makeThumb(file) {
      let img = document.createElement('img');
      file.thumb = img.src = URL.createObjectURL(file._file);
    },
    clearThumb(id, ts) {
      console.log('!',id,ts)
      this.photosLoading = true;
      if (id) {
        let i = this.gift.message.attachments.findIndex(i => i.id === id)
        this.gift.message.attachments.splice(i, 1)
        this.$http.post('v2/female/remove/gift/attachment', {
          access_token: this.$cookie.get('access_token'),
          gift_sent_id: this.id,
          gift_message_id: this.gift.message.id,
          gift_message_attachment_id: id
        }).then(data => {
          if (!data.body.status) {
            toastr.error('Не могу открепить фото!')
          }
        }, err => {
          toastr.error('Не могу открепить фото!')
        })
      }
      if (ts) {
        let i = this.files.findIndex(i => i.id === id)
        this.files.splice(i, 1)
      }
      setTimeout(() => {
        this.photosLoading = false;
      }, 200)
    },
    saveEdit() {

      let formData = new FormData();
      toastr.info('Начинаю отправку запроса');
      formData.append('access_token', this.$cookie.get('access_token'));
      formData.append('gift_message_id', this.gift.message.id);
      formData.append('gift_sent_id', this.id);
      formData.append('subject', this.gift.message.subject);
      formData.append('text', this.gift.message.text);

      let crop_params = []
      this.files.forEach( i => {

        formData.append( 'attachments[]', i._file )
        crop_params.push( {
          x: i.x,
          y: i.y,
          width: i.width,
          height: i.height
        })
      } )
      formData.append( 'crop_params', JSON.stringify(crop_params) )

      this.$http.post('v2/female/update/gift/sent-message', formData).then(data => {
        if (data.body.status) {
          toastr.success('Письмо к подарку отредактировано')
          this.editMode = false;
          this.fetchGift();
        } else {
          toastr.error('Не могу отредактировать письмо');
          toastr.info(data.body.desc);
        }
      }, err => {
        toastr.error('Не могу отредактировать письмо');
        console.log(err);
      })
    },
    saveAttach() {
      for (let i = 0; i < this.attached.length; i++) {
        this.photosToAttach.forEach(photo => {
          if (parseInt(this.attached[i]) === photo.id) {
            console.log('Push')
            this.gift.message.attachments.push(photo)
          }
        })
      }
    },
    finishModeration(result) {
      if (result === 'reject' || result === 'accept') {
        this.$http.post('v2/moderation/moderate/sent-gift', {
          access_token: this.$cookie.get('access_token'),
          gift_sent_id: this.id,
          status: result,
          note: this.note
        }).then(data => {
          if (data.body.status) {
            toastr.success('Подарок промодерирован успешно');
            this.updateModerationCounters()
            this.$router.go(-1)
          } else {
            toastr.error('Не могу промодерировать подарок');
            toastr.info(data.body.desc);
          }
        }, err => {
          toastr.error('Ошибка обработки запроса');
          console.log(err);
        })
      } else {
        toastr.error('Не верный тип модерации')
      }
    },
    enableEdit() {
      this.editMode = !this.editMode;
    },
    fetchGift() {
      this.photosLoading = true;
      $('.photo-nav').lightGallery("destroy");
      return new Promise((resolve, reject) => {
        this.$http.post('v2/moderation/get/sent-gift', {
          access_token: this.$cookie.get('access_token'),
          gift_sent_id: this.id
        }).then(data => {
          if (data.body.status) {
            this.files=[]
            this.gift = data.body.result;
            this.gift.message.attachments.forEach(attach => {
              this.oldAttach.push(attach.id);
            });
            setTimeout(() => {
              $('.photo-nav').lightGallery();
              this.photosLoading = false;
            }, 200)
          } else {
            toastr.error('Не могу загрузить данные о подарке');
            toastr.info(data.body.desc);
          }

        }, err => {
          this.photosLoading = false;
          toastr.error('Не могу загрузить данные о подарке');
          console.log(err);
        })
      })
    }
  },
  computed: {
    displayedAttachments() {
      return this.gift.message.attachments.concat(this.files)
    },
    prettyCreated() {
      return moment(this.gift.created_at * 1000).format('LLL')
    },
    partnerModeration() {
      if (this.gift.moderation_agency === 'accept') {
        return 'утверждено'
      }
      if (this.gift.moderation_agency === 'reject') {
        return 'отклонено'
      }
      if (this.gift.moderation_agency === 'free') {
        return 'на модерации'
      }
    },
    siteModeration() {
      if (this.gift.moderation_site === 'accept') {
        return 'утверждено'
      }
      if (this.gift.moderation_site === 'reject') {
        return 'отклонено'
      }
      if (this.gift.moderation_site === 'free') {
        return 'на модерации'
      }
    },
    canEdit() {
      return this.gift.moderation_agency === 'accept' && this.gift.moderation_site !== 'reject' && this.gift.moderation_site !== 'accept';
    }
  },
  mounted() {
    this.fetchGift();
  },
  beforeMount() {
  },
  components: {
    preloader,
    cropModal
  }
}
</script>

<style scoped>
.ch-wrapper {
  position: absolute;
  margin-top: 7px;
  margin-left: 60%;
}

.modal.open {
  display: block !important;
}
</style>
