<template>
  <div>
    <div class="row margin-bottom">
      <div class="col-md-6">
        <div class="user-block user-block-md pull-left">
          <img class="img-circle" :src="woman.user.avatar.small" alt="woman.main.name">
          <span class="username"> <a href="#">{{woman.name.new_value}}</a>
					</span> <span class="description">ID: {{woman.user.id}}</span>
        </div>
      </div>
      <div class="col-md-6 pull-right text-right" v-if="woman.account_status.new_value === 'active'">
        <a class="btn btn-primary btnNext" target="_blank" :href="womanTarget">Вид профайла на сайте</a>
      </div>
    </div>

    <!-- Smboxes.vueoxes (Stat box) -->
    <div class="row">
      <div class="col-md-6">
        <div class="box box-blue box-solid">
          <div class="box-header with-border">
            <h3 class="box-title btn-block">
              Общая информация
              <span class="pull-right" @click="sectionEditable('total_info_edit')"><i class="fa text-blue"
                                                                                      :class="editable.total_info_edit ? 'fa-check' : 'fa-pencil'"></i></span>
            </h3>
          </div>
          <!-- /.box-header -->

          <div class="box-body no-padding">
            <ul class="v-list">
              <li>Статус
                <span class="pull-right text-green">
                                {{woman.account_status.new_value}}
                                </span>
                <i class="fa fa-lg text-yellow fa-flag" data-toggle="tooltip"
                   :title="woman.account_status.old_value" v-show="woman.account_status.changed"></i>
              </li>

              <li>E-mail <span class="pull-right text-blue">{{woman.email.new_value}}</span>
                <i class="fa fa-lg text-yellow fa-flag" data-toggle="tooltip"
                   :title="woman.email.old_value" v-show="woman.email.changed"></i>
              </li>
              <li>Дата регистрации <span class="pull-right">{{createdAt}}</span></li>
              <li>Паспорт
                <span class="pull-right" v-if="editable.total_info_edit">
                <input type="text" class="form-control" data-field="passport" v-model="woman.passport.new_value"
                       @change="saveContentEditable">
               </span>
                <span class="pull-right" v-else>
                  {{ woman.passport.new_value }}
               </span>
                <!--<span>-->
                <!--<span :contenteditable="editable.total_info_edit"-->
                <!--@change="sectionEditable" @keydown.enter.prevent-->
                <!--@blur="saveContentEditable" data-field="passport"-->
                <!--v-html="woman.passport.new_value"-->
                <!--class="pull-right"></span>-->
                <!--</span>-->
                <i class="fa fa-lg text-yellow fa-flag" data-toggle="tooltip"
                   :title="woman.passport.old_value" v-show="woman.passport.changed"></i>
              </li>
              <li>Партнер <span class="pull-right">
                                <router-link :to="'/partners/view/' + woman.agency.id">
                                    <a>{{woman.agency.name}}</a>
                                </router-link>
                            </span></li>
              <li>Филиал<span class="pull-right">
                                <router-link :to="'/partners/view/' + woman.branch.id">
                                    <a>{{woman.branch.name}}</a>
                                </router-link>
                            </span></li>
              <li>Админ<span class="pull-right">
                                <router-link :to="'/partner/admin/show/' + woman.admin.id">
                                    <a>{{woman.admin.name}}</a>
                                </router-link>
                            </span></li>
              <li>Имя
                <span class="pull-right" v-if="editable.total_info_edit">
                <input type="text" class="form-control" data-field="name" v-model="woman.name.new_value"
                       @change="saveContentEditable">
               </span>
                <span class="pull-right" v-else>
                  {{ woman.name.new_value }}
               </span>
                <i class="fa fa-lg text-yellow fa-flag" data-toggle="tooltip"
                   :title="woman.name.old_value" v-show="woman.name.changed"></i>
              </li>
              <li>Фамилия
                <span class="pull-right" v-if="editable.total_info_edit">
                <input type="text" class="form-control" data-field="surname" v-model="woman.surname.new_value"
                       @change="saveContentEditable">
               </span>
                <span class="pull-right" v-else>
                  {{ woman.surname.new_value }}
               </span>
                <i class="fa fa-lg text-yellow fa-flag" data-toggle="tooltip"
                   :title="woman.surname.old_value" v-show="woman.surname.changed"></i>
              </li>
              <li>Отчество
                <span class="pull-right" v-if="editable.total_info_edit">
                <input type="text" class="form-control" data-field="middle_name" v-model="woman.middle_name.new_value"
                       @change="saveContentEditable">
               </span>
                <span class="pull-right" v-else>
                  {{ woman.middle_name.new_value }}
               </span>
                <i class="fa fa-lg text-yellow fa-flag" data-toggle="tooltip"
                   :title="woman.middle_name.old_value" v-show="woman.middle_name.changed"></i>
              </li>
              <li>Дата рождения <i class="fa fa-lg text-yellow fa-flag" data-toggle="tooltip"
                                   :title="oldBirthday" v-show="woman.birthday.changed"></i> <span
                class="pull-right">
                <div class="input-group date d-t-picker" id="birthdayPicker" v-show="editable.total_info_edit">
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
							<input type="text" name="date_from" class="form-control from-sort">
						</div>
                <span v-show="!editable.total_info_edit">{{newBirthday}}</span>
              </span></li>
              <li class="row"><span class="col-md-6">Примечание</span>
                <!--<span >-->
                <!--<span :contenteditable="editable.total_info_edit"-->
                <!--@blur="saveContentEditable" data-field="note"-->
                <!--v-html="woman.note.new_value"-->
                <!--class="pull-right"></span>-->
                <!--</span>-->
                <!--<i class="fa fa-lg text-yellow fa-flag" data-toggle="tooltip"-->
                <!--:title="woman.note.old_value" v-show="woman.note.changed"></i>-->
                <div class="col-md-6">{{woman.note.new_value}}</div>
              </li>
            </ul>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <div class="col-md-6">
        <div class="box box-blue box-solid">
          <div class="box-header with-border">
            <h3 class="box-title btn-block">
              Контакты
              <span class="pull-right" @click="sectionEditable('contacts_edit')"><i class="fa text-blue"
                                                                                    :class="editable.contacts_edit ? 'fa-check' : 'fa-pencil'"></i></span>
            </h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body no-padding">
            <ul class="v-list">
              <li>Национальность <span class="pull-right">

                						<multiselect v-model="selectedNationality" label="name" track-by="name"
                                         :placeholder="woman.nationality.new_value" :options="nationalities"
                                         :multiple="false"
                                         :searchable="true" :internal-search="true"
                                         :close-on-select="true"
                                         :options-limit="300" :limit="3" :limit-text="limitNationality"
                                         v-if="editable.contacts_edit "
                                         @close="saveContentEditable($event, 'nationality')">
							<span slot="noResult">Oops! No elements found. Consider changing the search query.</span>
						</multiselect>
               <span v-else> {{woman.nationality.new_value}}</span>
                </span>
                <i class="fa fa-lg text-yellow fa-flag" data-toggle="tooltip"
                   :title="woman.nationality.old_value" v-show="woman.nationality.changed"></i>
              </li>
              <li>Страна <span class="pull-right">

                						<multiselect v-model="selectedCountry" label="name" track-by="name"
                                         :placeholder="woman.address_country.new_value" :options="countries"
                                         :multiple="false"
                                         :searchable="true" :internal-search="true"
                                         :close-on-select="true"
                                         :options-limit="300" :limit="3" :limit-text="limitText"
                                         v-if="editable.contacts_edit "
                                         @close="saveContentEditable($event, 'address_country')">
							<span slot="noResult">Oops! No elements found. Consider changing the search query.</span>
						</multiselect>
               <span v-else> {{woman.address_country.new_value}}</span>
                </span>
                <i class="fa fa-lg text-yellow fa-flag" data-toggle="tooltip"
                   :title="woman.address_country.old_value" v-show="woman.address_country.changed"></i>
              </li>
              <li>Город <span class="pull-right">
                						<multiselect v-model="selectedCity" id="ajax" label="name" v-if="editable.contacts_edit "
                                         track-by="country_id" :placeholder="woman.address_city.new_value"
                                         :options="cities"
                                         :multiple="false" :searchable="true" :loading="isLoading"
                                         :internal-search="false"
                                         :close-on-select="true" :options-limit="300" :limit="3"
                                         :limit-text="limitText" @search-change="asyncCity"
                                         @close="saveContentEditable($event, 'address_city')"
                            >
							<span slot="noResult">Oops! No elements found. Consider changing the search query.</span>
						</multiselect>
                <span v-else>{{woman.address_city.new_value}}</span>
              </span>
                <i class="fa fa-lg text-yellow fa-flag" data-toggle="tooltip"
                   :title="woman.address_city.old_value" v-show="woman.address_city.changed"></i>
              </li>
              <li>Адрес
                <span class="pull-right" v-if="editable.contacts_edit">
                <input type="text" class="form-control" data-field="address" v-model="woman.address.new_value"
                       @change="saveContentEditable">
                 </span>
                <span class="pull-right" v-else>
                    {{ woman.address.new_value }}
                 </span>

                <!--<span :contenteditable="editable.contacts_edit" @keydown.enter.prevent-->
                <!--@blur="saveContentEditable" data-field="address" class="pull-right"-->
                <!--v-html="woman.address.new_value"></span>-->
                <i class="fa fa-lg text-yellow fa-flag" data-toggle="tooltip"
                   :title="woman.address.old_value" v-show="woman.address.changed"></i>
              </li>
              <li>Телефон
                <span class="pull-right" v-if="editable.contacts_edit">
                <input type="text" class="form-control" data-field="phone_number" v-model="woman.phone_number.new_value"
                       @change="saveContentEditable">
                 </span>
                <span class="pull-right" v-else>
                    {{ woman.phone_number.new_value }}
                 </span>

                <!--<span :contenteditable="editable.contacts_edit" @keydown.enter.prevent-->
                <!--@blur="saveContentEditable" data-field="phone_number"-->
                <!--v-html="woman.phone_number.new_value" class="pull-right"></span>-->
                <i class="fa fa-lg text-yellow fa-flag" data-toggle="tooltip"
                   :title="woman.phone_number.old_value" v-show="woman.phone_number.changed"></i>
              </li>
              <li>Скайп
                <span class="pull-right" v-if="editable.contacts_edit">
                <input type="text" class="form-control" data-field="skype" v-model="woman.skype.new_value"
                       @change="saveContentEditable">
                 </span>
                <span class="pull-right" v-else>
                    {{ woman.skype.new_value }}
                 </span>

                <!---->
                <!--<span class="pull-right" :contenteditable="editable.contacts_edit"-->
                <!--@keydown.enter.prevent @blur="saveContentEditable" data-field="skype"-->
                <!--v-html="woman.skype.new_value"></span>-->
                <i class="fa fa-lg text-yellow fa-flag" data-toggle="tooltip"
                   :title="woman.skype.old_value" v-show="woman.skype.changed"></i>
              </li>
            </ul>
          </div>
          <!-- /.box-body -->
        </div>

        <div class="box box-blue box-solid">
          <div class="box-header with-border">
            <h3 class="box-title btn-block">
              Внешность
              <span class="pull-right" @click="sectionEditable('appearance_edit')"><i class="fa text-blue"
                                                                                      :class="editable.appearance_edit ? 'fa-check' : 'fa-pencil'"></i></span>
            </h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body no-padding">
            <ul class="v-list">
              <li>Телосложение
                <span class="pull-right">
                <select name="" class="form-control" v-model="woman.body.new_value" v-if="editable.appearance_edit"
                        data-field="body"
                        @keydown.enter.prevent @blur="saveContentEditable($event)"
                >
                    <option value="">не выбрано</option>
                    <option value="thin">thin</option>
                    <option value="slender">slender</option>
                    <option value="athletic">athletic</option>
                    <option value="a few extra pounds">a few extra pounds</option>
                    <option value="plump">plump</option>
                </select>
                <span v-else>{{woman.body.new_value}}</span>
                </span>
                <i class="fa fa-lg text-yellow fa-flag" data-toggle="tooltip"
                   :title="woman.body.old_value" v-show="woman.body.changed"></i>
              </li>
              <li>Рост

                <div class="pull-right input-group" v-if="editable.appearance_edit">

                  <input type="number" class="form-control" data-field="height" v-model="woman.height.new_value"
                         @change="saveContentEditable">
                  <div class="input-group-addon">cm</div>
                </div>


                <span class="pull-right" v-else>
                    {{ woman.height.new_value }}
                 </span>

                <!--<span class="pull-right"><span :contenteditable="editable.appearance_edit"-->
                <!--@keydown.enter.prevent @blur="saveContentEditable"-->
                <!--data-field="height"-->
                <!--v-html="woman.height.new_value"></span> cm</span>-->
                <i class="fa fa-lg text-yellow fa-flag" data-toggle="tooltip"
                   :title="woman.height.old_value" v-show="woman.height.changed"></i>
              </li>
              <li>Вес

                <div class="pull-right input-group" v-if="editable.appearance_edit">

                  <input type="number" class="form-control" data-field="weight" v-model="woman.weight.new_value"
                         @change="saveContentEditable">
                  <div class="input-group-addon">kg</div>
                </div>
                <span class="pull-right" v-else>
                    {{ woman.weight.new_value }}
                 </span>

                <!--<span class="pull-right"><span :contenteditable="editable.appearance_edit"-->
                <!--@keydown.enter.prevent @blur="saveContentEditable"-->
                <!--data-field="weight"-->
                <!--v-html="woman.weight.new_value"></span> kg</span>-->
                <i class="fa fa-lg text-yellow fa-flag" data-toggle="tooltip"
                   :title="woman.weight.old_value" v-show="woman.weight.changed"></i>
              </li>
              <li>Цвет глаз
                <span class="pull-right">
                <select name="" class="form-control" v-model="woman.eye_color.new_value" v-if="editable.appearance_edit"
                        data-field="eye_color"
                        @keydown.enter.prevent @change="saveContentEditable($event)"
                >
                    <option value="">не выбрано</option>
                    <option value="black">black</option>
                    <option value="green">green</option>
                    <option value="gray">gray</option>
                    <option value="brown">brown</option>
                    <option value="light-brown">light-brown</option>
                    <option value="blue">blue</option>
                </select>
                <span v-else>{{woman.eye_color.new_value}}</span>
                </span>
                <i class="fa fa-lg text-yellow fa-flag" data-toggle="tooltip"
                   :title="woman.eye_color.old_value" v-show="woman.eye_color.changed"></i>
              </li>
              <li>Цвет волос
                <span class="pull-right">
                <select name="" class="form-control" v-model="woman.hair_color.new_value"
                        v-if="editable.appearance_edit"
                        data-field="hair_color"
                        @keydown.enter.prevent @blur="saveContentEditable($event)"
                >
                      <option value="">не выбрано</option>
                      <option value="blonde">blonde</option>
                      <option value="brown">brown</option>
                      <option value="redhead">redhead</option>
                      <option value="brunette">brunette</option>
                      <option value="colored">colored</option>
                </select>
                <span v-else>{{woman.hair_color.new_value}}</span>
                </span>
                <i class="fa fa-lg text-yellow fa-flag" data-toggle="tooltip"
                   :title="woman.hair_color.old_value" v-show="woman.hair_color.changed"></i>
              </li>
            </ul>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="box box-blue box-solid">
          <div class="box-header with-border">
            <h3 class="box-title btn-block">
              Дополнительная информация
              <span class="pull-right" @click="sectionEditable('additional_info_edit')"><i class="fa text-blue"
                                                                                           :class="editable.additional_info_edit ? 'fa-check' : 'fa-pencil'"></i></span>
            </h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body no-padding">
            <ul class="v-list">
              <li>Статус

                <div class="pull-right input-group " v-if="editable.additional_info_edit">

                  <textarea class="form-control" data-field="status" v-model="woman.status.new_value"
                            @change="saveContentEditable"></textarea>
                </div>
                <span class="pull-right text-left" v-else>
                    {{ woman.status.new_value }}
                 </span>

                <!--<span :contenteditable="editable.additional_info_edit"-->
                <!--@keydown.enter.prevent @blur="saveContentEditable" data-field="status"-->
                <!--v-html="woman.status.new_value" class="pull-right"></span>-->
                <i class="fa fa-lg text-yellow fa-flag" data-toggle="tooltip"
                   :title="woman.status.new_value" v-show="woman.status.changed"></i>
              </li>
              <li>Уровень англ.
                <span class="pull-right">
                <select name="" class="form-control" v-model="woman.lang_english.new_value"
                        v-if="editable.additional_info_edit"
                        data-field="lang_english"
                        @keydown.enter.prevent @blur="saveContentEditable($event)"
                >
                      <option value="no" selected>не выбрано</option>
                      <option value="basic">basic</option>
                      <option value="intermediate">intermediate</option>
                      <option value="good">good</option>
                      <option value="fluent">fluent</option>
						    </select>
                <span v-else>{{woman.lang_english.new_value}}</span>

              </span>
                <i class="fa fa-lg text-yellow fa-flag" data-toggle="tooltip"
                   :title="woman.lang_english.old_value" v-show="woman.lang_english.changed"></i>
              </li>
              <li>Другие языки

                <span class="pull-right">
                  <span v-if="editable.additional_info_edit">
                  <div class="language-line">
							        <div class="input-group separator margin-bottom">
								<label>
									Spanish
								</label>
								<div class="input-group-addon">-</div>
								   <select name="" class="form-control" v-model="woman.lang_spanish.new_value"
                           data-field="lang_spanish"
                           @keydown.enter.prevent @blur="saveContentEditable($event)"
                   >
									<option value="no">не выбрано</option>
									<option value="basic">basic</option>
									<option value="intermediate">intermediate</option>
									<option value="good">good</option>
									<option value="fluent">fluent</option>
								</select>
							</div>
						</div>
						      <div class="language-line">
							<div class="input-group separator margin-bottom">
								<label>
									German
								</label>
								<div class="input-group-addon">-</div>
								   <select name="" class="form-control" v-model="woman.lang_german.new_value"
                           data-field="lang_german"
                           @keydown.enter.prevent @blur="saveContentEditable($event)"
                   >
									<option value="no">не выбрано</option>
									<option value="basic">basic</option>
									<option value="intermediate">intermediate</option>
									<option value="good">good</option>
									<option value="fluent">fluent</option>
								</select>
							</div>
						</div>
						      <div class="language-line">
							    <div class="input-group separator margin-bottom">
								<label>
									French
								</label>
								<div class="input-group-addon">-</div>
								                <select name="" class="form-control" v-model="woman.lang_french.new_value"
                                        data-field="lang_french"
                                        @keydown.enter.prevent @blur="saveContentEditable($event)"
                                >
									<option value="no">не выбрано</option>
									<option value="basic">basic</option>
									<option value="intermediate">intermediate</option>
									<option value="good">good</option>
									<option value="fluent">fluent</option>
								</select>
							</div>
						</div>
						      <div class="language-line">
							<div class="input-group separator margin-bottom">
								<label>
									Portuguese
								</label>
								<div class="input-group-addon">-</div>
								                <select name="" class="form-control" v-model="woman.lang_portuguese.new_value"
                                        data-field="lang_portuguese"
                                        @keydown.enter.prevent @blur="saveContentEditable($event)"
                                >
									<option value="no">не выбрано</option>
									<option value="basic">basic</option>
									<option value="intermediate">intermediate</option>
									<option value="good">good</option>
									<option value="fluent">fluent</option>
								</select>
							</div>
						</div>
                  </span>
                  <span v-else>
                    <ul class="lang_list">
                        <li>Spanish({{woman.lang_spanish.new_value}})     <i
                          class="fa fa-lg text-yellow fa-flag" data-toggle="tooltip"
                          :title="woman.lang_spanish.old_value" v-show="woman.lang_spanish.changed"></i></li>
                        <li>German({{woman.lang_german.new_value}})    <i
                          class="fa fa-lg text-yellow fa-flag" data-toggle="tooltip"
                          :title="woman.lang_german.old_value" v-show="woman.lang_german.changed"></i></li>
                        <li>French({{woman.lang_french.new_value}})     <i
                          class="fa fa-lg text-yellow fa-flag" data-toggle="tooltip"
                          :title="woman.lang_french.old_value" v-show="woman.lang_french.changed"></i>
                         </li>
                        <li>Portuguese({{woman.lang_portuguese.new_value}})  <i
                          class="fa fa-lg text-yellow fa-flag" data-toggle="tooltip"
                          :title="woman.lang_german.old_value" v-show="woman.lang_german.changed"></i></li>
                        </ul>
                  </span>
                  </span>
              </li>
              <li>Семейное положение
                <span class="pull-right">
                    <select name="" class="form-control" v-model="woman.family_status.new_value"
                            v-if="editable.additional_info_edit"
                            data-field="family_status"
                            @keydown.enter.prevent @blur="saveContentEditable($event)">
                          <option value="no">не выбрано</option>
                          <option value="single">single</option>
                          <option value="divorced">divorced</option>
                          <option value="widow">widowed</option>
                          <option value="never been married">never been married</option>
                    </select>
                    <span v-else>{{woman.family_status.new_value}}</span>
              </span>
                <i class="fa fa-lg text-yellow fa-flag" data-toggle="tooltip"
                   :title="woman.family_status.old_value" v-show="woman.family_status.changed"></i>
              </li>
              <li>Oбразование
                <span class="pull-right">
                    <select name="" class="form-control" v-model="woman.education.new_value"
                            v-if="editable.additional_info_edit"
                            data-field="education"
                            @keydown.enter.prevent @blur="saveContentEditable($event)">
                        <option value="no">не выбрано</option>
                        <option value="Middle School">middle School</option>
                        <option value="High school">high school</option>
                        <option value="Student">student</option>
                        <option value="Bachelor's Degree">Bachelor's Degree</option>
                        <option value="Master's Degree">Master's Degree</option>
                        <option value="Doctoral Level">Doctoral Level</option>
                    </select>
                    <span v-else>{{woman.education.new_value}}</span>
                </span>
                <i class="fa fa-lg text-yellow fa-flag" data-toggle="tooltip"
                   :title="woman.education.old_value" v-show="woman.education.changed"></i>
              </li>
              <li>Професия

                <div class="pull-right input-group" v-if="editable.additional_info_edit">

                  <input type="text" class="form-control" data-field="profession" v-model="woman.profession.new_value"
                         @change="saveContentEditable">
                </div>


                <span class="pull-right" v-else>
                    {{ woman.profession.new_value }}
                 </span>

                <!--<span :contenteditable="editable.additional_info_edit"-->
                <!--@keydown.enter.prevent @blur="saveContentEditable" data-field="profession"-->
                <!--v-html="woman.profession.new_value" class="pull-right"></span>-->
                <i class="fa fa-lg text-yellow fa-flag" data-toggle="tooltip"
                   :title="woman.profession.old_value" v-show="woman.profession.changed"></i>
              </li>
              <li>Я живу с
                <span class="pull-right">
                    <select name="" class="form-control" v-model="woman.accommodation.new_value"
                            v-if="editable.additional_info_edit"
                            data-field="accommodation"
                            @keydown.enter.prevent @blur="saveContentEditable($event)">
                        <option value="no">не выбрано</option>
                        <option value="with parents">with parents</option>
                        <option value="with neighbors">with neighbors</option>
                        <option value="in dorm">in dorm</option>
                        <option value="separately (rented housing)">separately (rentedhousing)</option>
                        <option value="separately (in own housing)">separately (in own housing)</option>
                    </select>
                    <span v-else>{{woman.accommodation.new_value}}</span>
                </span>
                <i class="fa fa-lg text-yellow fa-flag" data-toggle="tooltip"
                   :title="woman.accommodation.old_value" v-show="woman.accommodation.changed"></i>
              </li>
              <li>Дети
                <span class="pull-right">
                    <select name="" class="form-control" v-model="woman.children.new_value"
                            v-if="editable.additional_info_edit"
                            data-field="children"
                            @keydown.enter.prevent @blur="saveContentEditable($event)">
                          <option value="no">не выбрано</option>
                          <option value="I have no children">no children</option>
                          <option value="no but I want to have children">
                            no but I want to have children
                          </option>
                          <option value="have children">have children</option>
                          <option value="have children, but living separately">
                            have children, but living separately
                          </option>
                          <option value="have adult children">have adult children</option>
                    </select>
                    <span v-else>{{woman.children.new_value}}</span>
                </span>
                <i class="fa fa-lg text-yellow fa-flag" data-toggle="tooltip"
                   :title="woman.children.old_value" v-show="woman.children.changed"></i>
              </li>
              <li>Религия
                <span class="pull-right">
                    <select name="" class="form-control" v-model="woman.religion.new_value"
                            v-if="editable.additional_info_edit"
                            data-field="religion"
                            @keydown.enter.prevent @blur="saveContentEditable($event)">
                          <option value="no">не выбрано</option>
                          <option value="Christianity">Christianity</option>
                          <option value="Catholicism">Catholicism</option>
                          <option value="Islam">Islam</option>
                          <option value="Buddhism">Buddhism</option>
                          <option value="Hinduism">Hinduism</option>
                          <option value="other">other</option>
                    </select>
                    <span v-else>{{woman.religion.new_value}}</span>
                </span>
                <i class="fa fa-lg text-yellow fa-flag" data-toggle="tooltip"
                   :title="woman.religion.old_value" v-show="woman.religion.changed"></i>
              </li>
              <li>Отношение к курению
                <span class="pull-right">
                <select name="" class="form-control" v-model="woman.smoke.new_value"
                        v-if="editable.additional_info_edit"
                        data-field="smoke"
                        @keydown.enter.prevent @blur="saveContentEditable($event)"
                >
                  <option value="no">не выбрано</option>
                  <option value="I do not smoke">not smoke</option>
                  <option value="rarely">rarely</option>
                  <option value="often">often</option>
						    </select>
                <span v-else>{{woman.smoke.new_value}}</span>

              </span>
                <i class="fa fa-lg text-yellow fa-flag" data-toggle="tooltip"
                   :title="woman.smoke.old_value" v-show="woman.smoke.changed"></i>
              </li>
              <li>Отношение к алкоголю
                <span class="pull-right">
                <select name="" class="form-control" v-model="woman.drink.new_value"
                        v-if="editable.additional_info_edit"
                        data-field="drink"
                        @keydown.enter.prevent @blur="saveContentEditable($event)"
                >
                  <option value="no">не выбрано</option>
                  <option value="I do not drink">not drink</option>
                  <option value="rarely">rarely</option>
                  <option value="occasionally">occasionally</option>
                  <option value="often">often</option>
                </select>
                <span v-else>{{woman.drink.new_value}}</span>
                </span>
                <i class="fa fa-lg text-yellow fa-flag" data-toggle="tooltip"
                   :title="woman.drink.old_value" v-show="woman.drink.changed"></i>
              </li>
            </ul>
          </div>
          <!-- /.box-body -->
        </div>
      </div>

      <div class="col-md-6">
        <div class="box box-blue box-solid">
          <div class="box-header with-border">
            <h3 class="box-title btn-block">
              Предпочтения
              <span class="pull-right" @click="sectionEditable('preferences_edit')"><i class="fa text-blue"
                                                                                       :class="editable.preferences_edit ? 'fa-check' : 'fa-pencil'"></i></span>
            </h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body no-padding">
            <ul class="v-list">
              <li>Любимые цветы
                <span class="pull-right">
                  <multiselect v-model="selectedFlowers" :options="flowersLists" :multiple="true"
                               placeholder="Type to search" track-by="name" label="value"
                               v-if="editable.preferences_edit "
                               @remove="saveContentEditableFlowers($event)"
                               @select="saveContentEditableFlowers($event)"
                  >
							        <span slot="noResult">Извините, ничего не найдено</span>
                  </multiselect>
               <span v-else> {{flowersList}}</span>
</span>
                <i class="fa fa-lg text-yellow fa-flag" data-toggle="tooltip" :title="oldFlowers"
                   v-show="flowersChanged"></i>

              </li>
              <li>Домашние животные
                <span class="pull-right">
                  <multiselect v-model="selectedPet" :options="petLists" :multiple="true"
                               placeholder="Type to search" track-by="name" label="value"
                               v-if="editable.preferences_edit "
                               @remove="saveContentEditableFlowers($event)"
                               @select="saveContentEditableFlowers($event)"
                  >
							        <span slot="noResult">Извините, ничего не найдено</span>
                  </multiselect>
                  <span v-else> {{petList}} </span>
                </span>
                <i class="fa fa-lg text-yellow fa-flag" data-toggle="tooltip" :title="oldPets"
                   v-show="petsChanged"></i>

              </li>
              <li>Любимые праздники
                <span class="pull-right">
                  <multiselect v-model="selectedCelebration" :options="celebrationLists" :multiple="true"
                               placeholder="Type to search" track-by="name" label="value"
                               v-if="editable.preferences_edit "
                               @remove="saveContentEditableFlowers($event)"
                               @select="saveContentEditableFlowers($event)"
                  >
							        <span slot="noResult">Извините, ничего не найдено</span>
                  </multiselect>
                  <span v-else> {{celebrationList}} </span>
                </span>
                <i class="fa fa-lg text-yellow fa-flag" data-toggle="tooltip" :title="oldCelebrations"
                   v-show="celebrationChanged"></i>
              </li>
              <li>Цели
                <span class="pull-right">
                <multiselect v-model="selectedTarget" :options="targetLists" :multiple="true"
                             placeholder="Type to search" track-by="name" label="value"
                             v-if="editable.preferences_edit "
                             @remove="saveContentEditableFlowers($event)"
                             @select="saveContentEditableFlowers($event)"
                >
                  <span slot="noResult">Извините, ничего не найдено</span>
                </multiselect>
                <span v-else> {{targetsList}} </span>
                </span>
                <i class="fa fa-lg text-yellow fa-flag" data-toggle="tooltip" :title="oldTargets"
                   v-show="targetChanged"></i>
              </li>
              <li>Интересы

                <div class="pull-right input-group" v-if="editable.preferences_edit">

                  <textarea class="form-control" data-field="interests" v-model="woman.interests.new_value"
                            @change="saveContentEditable"></textarea>
                </div>
                <span class="pull-right text-left" v-else>
                    {{ woman.interests.new_value }}
                 </span>

                <!--<span :contenteditable="editable.preferences_edit"-->
                <!--@keydown.enter.prevent @blur="saveContentEditable" data-field="interests"-->
                <!--v-html="woman.interests.new_value" class="pull-right"></span>-->
                <i class="fa fa-lg text-yellow fa-flag" data-toggle="tooltip"
                   :title="woman.interests.old_value" v-show="woman.interests.changed"></i>
              </li>
              <li class="row">Обо мне
                <div class="pull-right input-group" v-if="editable.preferences_edit">

                  <textarea class="form-control" data-field="about_me" v-model="woman.about_me.new_value"
                            @change="saveContentEditable"></textarea>
                </div>
                <span class="pull-right text-left" v-else>
                    {{ woman.about_me.new_value }}
                 </span>


                <i class="fa fa-lg text-yellow fa-flag"
                   data-toggle="tooltip"
                   :title="woman.about_me.old_value"
                   v-show="woman.about_me.changed"></i>
                <!--<div class="col-md-6" :contenteditable="editable.preferences_edit"-->
                <!--@keydown.enter.prevent @blur="saveContentEditable" data-field="about_me"-->
                <!--v-html="woman.about_me.new_value"></div>-->
              </li>
              <li>Возраст мужчины

                <div class="pull-right input-group separator" v-if="editable.preferences_edit">
                  <input type="number" class="form-control" style="z-index:0;" data-field="about_man_age_from"
                         v-model="woman.about_man_age_from.new_value" placeholder="Возраст от">
                  <div class="input-group-addon">-</div>
                  <input type="number" class="form-control" style="z-index:0;"
                         data-field="about_man_age_to"
                         v-model="woman.about_man_age_to.new_value" placeholder="Возраст до">
                </div>


                <span class="pull-right" v-else>
                    {{ woman.about_man_age_from.new_value }} - {{ woman.about_man_age_to.new_value }}
                 </span>


                <i class="fa fa-lg text-yellow fa-flag" data-toggle="tooltip"
                   :title="woman.about_man_age_from.old_value +' - ' +woman.about_man_age_to.old_value"
                   v-show="woman.about_man_age_from.changed ||woman.about_man_age_from.changed"></i>

                <!--<span class="pull-right">-->
                <!--<span :contenteditable="editable.preferences_edit" @keydown.enter.prevent-->
                <!--@blur="saveContentEditable" data-field="about_man_age_from"-->
                <!--v-html="woman.about_man_age_from.new_value"></span> - <span-->
                <!--:contenteditable="editable.preferences_edit" @keydown.enter.prevent-->
                <!--@blur="saveContentEditable" data-field="about_man_age_to"-->
                <!--v-html="woman.about_man_age_to.new_value"></span>     </span></li>-->


              <li class="row">Описание мужчины

                <div class="pull-right input-group" v-if="editable.preferences_edit">

                  <textarea class="form-control" data-field="about_man" v-model="woman.about_man.new_value"
                            @change="saveContentEditable"></textarea>
                </div>
                <span class="pull-right text-left" v-else>
                    {{ woman.about_man.new_value }}
                 </span>

                <i
                  class="fa fa-lg text-yellow fa-flag" data-toggle="tooltip"
                  :title="woman.about_man.old_value" v-show="woman.about_man.changed"></i>
                <!--<div class="col-md-6" :contenteditable="editable.preferences_edit"-->
                <!--@keydown.enter.prevent @blur="saveContentEditable" data-field="about_man"-->
                <!--v-html="woman.about_man.new_value"></div>-->
              </li>
            </ul>
          </div>
          <!-- /.box-body -->
        </div>
      </div>
    </div>
    <!-- /.row  -->

    <div class="row">
      <div class="col-md-6">
        <div class="box box-blue box-solid">
          <div class="box-header with-border">
            <h3 class="box-title btn-block">
              Фото
            </h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body no-padding v-scroll" data-height="263">
            <ul class="v-list">
              <li class="header">Аватары</li>
              <li>
                <nav class="photo-nav gal-nav photo-list">
                  <a v-for="photo in avatarPhotos" :href="photo.file_url_origin">
                    <img :src="photo.file_url_small">
                  </a>
                </nav>
              </li>
              <li class="header">Публичные фото</li>
              <li>
                <nav class="photo-nav gal-nav photo-list">
                  <a v-for="photo in publicPhotos" :href="photo.file_url_origin">
                    <img :src="photo.file_url_small">
                  </a>
                </nav>
              </li>


              <li class="header">Приватные фото</li>
              <li>
                <nav class="photo-nav gal-nav photo-list">
                  <a v-for="photo in privatePhotos" :href="photo.file_url_origin">
                    <img :src="photo.file_url_small">
                  </a>
                </nav>
              </li>
              <li class="header text-yellow">Публичные фото на модерации</li>
              <li>
                <nav class="photo-nav gal-nav photo-list">
                  <a v-for="photo in publicOnModeration" :href="photo.file_url_origin">
                    <img :src="photo.file_url_origin">
                  </a>
                </nav>
              </li>
              <li class="header text-yellow">Приватные фото на модерации</li>
              <li>
                <nav class="photo-nav gal-nav photo-list">
                  <a v-for="photo in privateOnModeration" :href="photo.file_url_origin">
                    <img :src="photo.file_url_origin">
                  </a>
                </nav>
              </li>

              <li class="header text-yellow">Отклоненные приватные фото</li>
              <li>
                <nav class="photo-nav gal-nav photo-list">
                  <a v-for="photo in rejectedPrivate" :href="photo.file_url_origin">
                    <img :src="photo.file_url_origin">
                  </a>
                </nav>
              </li>

              <li class="header text-yellow">Отклоненные публичные фото</li>
              <li>
                <nav class="photo-nav gal-nav photo-list">
                  <a v-for="photo in rejectedPublic" :href="photo.file_url_origin">
                    <img :src="photo.file_url_origin">
                  </a>
                </nav>
              </li>

              <li class="header text-red">Отклоненные аватары</li>
              <li>
                <nav class="photo-nav gal-nav photo-list">
                  <a v-for="photo in rejectedAvatars" :href="photo.file_url_origin">
                    <img :src="photo.file_url_origin">
                  </a>
                </nav>
              </li>

            </ul>
          </div>
          <!-- /.box-body -->
        </div>
      </div>
      <div class="col-md-6">
        <div class="box box-blue box-solid">
          <div class="box-header with-border">
            <h3 class="box-title btn-block">
              Документы
            </h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body no-padding v-scroll" data-height="263">
            <ul class="v-list">


              <li class="header">Паспорт</li>
              <li>
                <nav class="photo-nav docs-nav photo-list">
                  <a target="_blank" :class="{ 'photo-nav__item': !isDocument(doc.file_extension) }"
                     v-for="doc in womanPassport" :href="doc.file_path">
                    <img :src="doc.file_path" v-if="!isDocument(doc.file_extension)">
                    <img :src="'/dist/img/pdf.png'" v-else="isDocument(doc.file_extension)" alt="Document">
                  </a>
                </nav>
              </li>
              <li class="header">Фото с паспортом</li>
              <li>
                <nav class="photo-nav docs-nav photo-list">
                  <a target="_blank" :class="{ 'photo-nav__item': !isDocument(doc.file_extension) }"
                     v-for="doc in womanPhotoWithPassport" :href="doc.file_path">
                    <img :src="doc.file_path" v-if="!isDocument(doc.file_extension)">
                    <img :src="'/dist/img/pdf.png'" v-else="isDocument(doc.file_extension)" alt="Document">
                  </a>
                </nav>
              </li>
              <li class="header">Видео подтверждение</li>
              <li>
                <nav class="photo-nav video-list">
                  <a v-for="doc in womanVideoApprove" :href="doc.file_path" target="_blank">
                    <img src="https://ateliesaun.ru/img/new/video.jpg"/>
                  </a>
                </nav>
              </li>

            </ul>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
    </div>
    <!-- /.row  -->
    <div class="row">
      <div class="col-xs-6">
        <a class="btn btn-warning show-moderaton-modal" id="rejectModalActionButton"
           data-title="Напишите причину отклонения" data-toggle="modal" data-target="#myModal">Отклонить</a>
      </div>
      <div class="col-xs-6 text-right">
        <button class="btn btn-primary pull-right" @click="moderationAccept">Утвердить</button>
      </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
								<textarea cols="30" rows="10" class="form-control" v-model="rejectReason"
                          :class="{'error': rejectReasonError}"
                          placeholder="Причина отклониения"></textarea>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" @click="moderationReject">Отклонить</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.content -->
</template>

<script>
  import Vue from 'vue'
  import toastr from 'toastr'
  import moment from 'moment'
  import {UPDATE_MODERATION_COUNTER} from '../../../mixins/updateModerationCounter'

  export default {
    name: 'WomanView',
    data() {
      return {
        flowersLists: [
          {name: 'flowers_red_roses', value: 'Red roses'},
          {name: 'flowers_white_roses', value: 'White roses'},
          {name: 'flowers_pink_roses', value: 'Pink roses'},
          {name: 'flowers_gerbera', value: 'Gerbera'},
          {name: 'flowers_chrysanthemum', value: 'Chrysanthemum'},
        ],
        petLists: [
          {name: 'pet_dog', value: 'Dog'},
          {name: 'pet_cat', value: 'Cat'},
          {name: 'pet_hamster', value: 'Hamster'},
          {name: 'pet_aquarium_fish', value: 'Aquarium fish'},
          {name: 'pet_parrot', value: 'Parrot'},
          {name: 'pet_turtle', value: 'Turtle'},
          {name: 'pet_snake', value: 'Snake'},
          {name: 'pet_iguana', value: 'Iguana'},
          {name: 'pet_chinchilla', value: 'Chinchilla'},
          {name: 'pet_rabbit', value: 'Rabbit'},
        ],
        celebrationLists: [
          {name: 'celebration_birthday', value: 'Birthday'},
          {name: 'celebration_christmas_day', value: 'Christmas Day'},
          {name: 'celebration_new_years_day', value: 'New years Day'},
          {name: 'celebration_easter', value: 'Easter'},
          {name: 'celebration_valentines_day', value: 'Valentines Day'},
          {name: 'celebration_halloween', value: 'Halloween'},
          {name: 'celebration_womens_day', value: 'Women\'s Day'}
        ],
        targetLists: [
          {name: 'target_friendship', value: 'Friendship'},
          {name: 'target_communication', value: 'Communication'},
          {name: 'target_journey', value: 'Journey'},
          {name: 'target_flirtation', value: 'Flirtation'},
          {name: 'target_meeting', value: 'Meeting'},
          {name: 'target_family', value: 'Family'},
          {name: 'target_children', value: 'Children'}
        ],
        editable: {
          total_info_edit: false,
          contacts_edit: false,
          appearance_edit: false,
          additional_info_edit: false,
          preferences_edit: false
        },
        woman: {
          "user": {
            "id": 1000,
            "avatar": {
              "small": "images/1000-NQzmF2IunX7L-small-avatar.jpg",
              "medium": "images/1000-NQzmF2IunX7L-medium-avatar.jpg",
              "large": "images/1000-NQzmF2IunX7L-large-avatar.jpg",
              "origin": "images/1000-NQzmF2IunX7L-origin-avatar.jpg"
            }
          },
          "account_status": {
            "old_value": "active",
            "new_value": "active",
            "changed": false
          },
          "email": {
            "old_value": "woman_1@ex.com",
            "new_value": "woman_1@ex.com",
            "changed": false
          },
          "created_at": {
            "old_value": 1472463811,
            "new_value": 1472463811,
            "changed": false
          },
          "agency": {
            "id": 500,
            "name": "Dream Agency"
          },
          "branch": {
            "id": "",
            "name": ""
          },
          "admin": {
            "id": 1041,
            "name": "Vladislav Len"
          },
          "note": {
            "old_value": "console controller note!",
            "new_value": "console controller note!",
            "changed": false
          },
          "name": {
            "old_value": "Elizabeth",
            "new_value": "Elizabeth",
            "changed": false
          },
          "surname": {
            "old_value": "Guzansha",
            "new_value": "Guzan",
            "changed": false
          },
          "birthday": {
            "old_value": 866026483,
            "new_value": 866024009,
            "changed": false
          },
          "nationality": {
            "old_value": "Ukraine",
            "new_value": "Ukraine",
            "changed": false
          },
          "address_country": {
            "old_value": "Ukraine",
            "new_value": "Ukraine",
            "changed": false
          },
          "address_city": {
            "old_value": "Mykolayivka",
            "new_value": "Mykolayivka",
            "changed": false
          },
          "status": {
            "old_value": "статус",
            "new_value": "статус",
            "changed": false
          },
          "phone_number": {
            "old_value": "380976496914",
            "new_value": "380976496914",
            "changed": false
          },
          "middle_name": {
            "old_value": "Vladimirovna",
            "new_value": null,
            "changed": false
          },
          "passport": {
            "old_value": "EM32523523",
            "new_value": null,
            "changed": false
          },
          "address": {
            "old_value": "Logovenko 2",
            "new_value": null,
            "changed": false
          },
          "skype": {
            "old_value": "skypi",
            "new_value": null,
            "changed": false
          },
          "phone_number_2": {
            "old_value": null,
            "new_value": null,
            "changed": false
          },
          "lang_english": {
            "old_value": "fluent",
            "new_value": "basic",
            "changed": false
          },
          "lang_spanish": {
            "old_value": "basic",
            "new_value": "basic",
            "changed": false
          },
          "lang_french": {
            "old_value": "intermediate",
            "new_value": "intermediate",
            "changed": false
          },
          "lang_portuguese": {
            "old_value": "good",
            "new_value": "good",
            "changed": false
          },
          "lang_german": {
            "old_value": "fluent",
            "new_value": "basic",
            "changed": false
          },
          "education": {
            "old_value": "Bachelor's Degree",
            "new_value": "Master's Degree",
            "changed": false
          },
          "profession": {
            "old_value": "Student Student Student Student Student Student Student Student Student Student Student Student Student Student Student Student Student Student",
            "new_value": "Student",
            "changed": false
          },
          "family_status": {
            "old_value": "single",
            "new_value": "single",
            "changed": false
          },
          "accommodation": {
            "old_value": "separately (rented housing)",
            "new_value": "in dorm",
            "changed": false
          },
          "children": {
            "old_value": "have children, but living separately",
            "new_value": "have children, but living separately",
            "changed": false
          },
          "religion": {
            "old_value": "Catholicism",
            "new_value": "Catholicism",
            "changed": false
          },
          "body": {
            "old_value": "plump",
            "new_value": "athletic",
            "changed": false
          },
          "height": {
            "old_value": 177,
            "new_value": 178,
            "changed": false
          },
          "weight": {
            "old_value": 54,
            "new_value": 53,
            "changed": false
          },
          "eye_color": {
            "old_value": "green",
            "new_value": "brown",
            "changed": false
          },
          "hair_color": {
            "old_value": "redhead",
            "new_value": "brunette",
            "changed": false
          },
          "smoke": {
            "old_value": "rarely",
            "new_value": "often",
            "changed": false
          },
          "drink": {
            "old_value": "rarely",
            "new_value": "occasionally",
            "changed": false
          },
          "flowers_red_roses": {
            "old_value": 0,
            "new_value": 0,
            "changed": false
          },
          "flowers_white_roses": {
            "old_value": 0,
            "new_value": 0,
            "changed": false
          },
          "flowers_pink_roses": {
            "old_value": 0,
            "new_value": 0,
            "changed": false
          },
          "flowers_gerbera": {
            "old_value": 0,
            "new_value": 0,
            "changed": false
          },
          "flowers_chrysanthemum": {
            "old_value": 0,
            "new_value": 0,
            "changed": false
          },
          "pet_dog": {
            "old_value": 0,
            "new_value": 0,
            "changed": false
          },
          "pet_cat": {
            "old_value": 0,
            "new_value": 0,
            "changed": false
          },
          "pet_hamster": {
            "old_value": 0,
            "new_value": 0,
            "changed": false
          },
          "pet_aquarium_fish": {
            "old_value": 0,
            "new_value": 0,
            "changed": false
          },
          "pet_parrot": {
            "old_value": 0,
            "new_value": 0,
            "changed": false
          },
          "pet_turtle": {
            "old_value": 0,
            "new_value": 0,
            "changed": false
          },
          "pet_snake": {
            "old_value": 0,
            "new_value": 0,
            "changed": false
          },
          "pet_iguana": {
            "old_value": 0,
            "new_value": 0,
            "changed": false
          },
          "pet_chinchilla": {
            "old_value": 0,
            "new_value": 0,
            "changed": false
          },
          "celebration_birthday": {
            "old_value": 0,
            "new_value": 0,
            "changed": false
          },
          "celebration_christmas_day": {
            "old_value": 0,
            "new_value": 0,
            "changed": false
          },
          "celebration_new_years_day": {
            "old_value": 0,
            "new_value": 0,
            "changed": false
          },
          "celebration_easter": {
            "old_value": 0,
            "new_value": 0,
            "changed": false
          },
          "celebration_valentines_day": {
            "old_value": 0,
            "new_value": 0,
            "changed": false
          },
          "celebration_halloween": {
            "old_value": 0,
            "new_value": 0,
            "changed": false
          },
          "celebration_womens_day": {
            "old_value": 0,
            "new_value": 0,
            "changed": false
          },
          "interests": {
            "old_value": "",
            "new_value": "",
            "changed": false
          },
          "about_me": {
            "old_value": "",
            "new_value": "",
            "changed": false
          },
          "target_friendship": {
            "old_value": 0,
            "new_value": 0,
            "changed": false
          },
          "target_communication": {
            "old_value": 0,
            "new_value": 0,
            "changed": false
          },
          "target_journey": {
            "old_value": 0,
            "new_value": 0,
            "changed": false
          },
          "target_flirtation": {
            "old_value": 0,
            "new_value": 0,
            "changed": false
          },
          "target_a_meeting": {
            "old_value": 0,
            "new_value": 0,
            "changed": false
          },
          "target_a_family": {
            "old_value": 0,
            "new_value": 0,
            "changed": false
          },
          "target_children": {
            "old_value": 0,
            "new_value": 0,
            "changed": false
          },
          "about_man_age_from": {
            "old_value": 32,
            "new_value": 30,
            "changed": false
          },
          "about_man_age_to": {
            "old_value": 45,
            "new_value": 40,
            "changed": false
          },
          "about_man": {
            "old_value": "",
            "new_value": "",
            "changed": false
          },
          "about_woman_age_from": {
            "old_value": null,
            "new_value": null,
            "changed": false
          },
          "about_woman_age_to": {
            "old_value": null,
            "new_value": null,
            "changed": false
          },
          "about_woman_body": {
            "old_value": "no",
            "new_value": "no",
            "changed": false
          },
          "about_woman_growth_from": {
            "old_value": null,
            "new_value": null,
            "changed": false
          },
          "about_woman_growth_to": {
            "old_value": null,
            "new_value": null,
            "changed": false
          },
          "about_woman_weight_from": {
            "old_value": null,
            "new_value": null,
            "changed": false
          },
          "about_woman_weight_to": {
            "old_value": null,
            "new_value": null,
            "changed": false
          },
          "about_woman_hair_color": {
            "old_value": "no",
            "new_value": "no",
            "changed": false
          },
          "about_woman_eye_color": {
            "old_value": "no",
            "new_value": "no",
            "changed": false
          },
          "about_woman_children": {
            "old_value": "no",
            "new_value": "no",
            "changed": false
          },
          "about_woman_english_level": {
            "old_value": "no",
            "new_value": "no",
            "changed": false
          },
          "about_woman_text": {
            "old_value": null,
            "new_value": null,
            "changed": false
          }
        },
        womanDocument: [],
        womanPassport: [],
        womanPhotoWithPassport: [],
        womanVideoApprove: [],
        womanPhotos: [],
        rejectReason: '',
        rejectReasonError: false,
        flowersChanged: false,
        oldFlowers: '',
        birthday: '',
        petsChanged: false,
        oldPets: '',
        targetChanged: false,
        oldTargets: '',
        celebrationChanged: false,
        oldCelebrations: '',
        avatarPhotos: [],
        publicPhotos: [],
        privatePhotos: [],
        publicOnModeration: [],
        privateOnModeration: [],
        rejectedPublic: [],
        rejectedPrivate: [],
        rejectedAvatars: [],
        galleries: '',
        country: '',
        nationality: '',
        city: '',
        nationalities: [],
        countries: [],
        cities: [],
        selectedCountry: '',
        selectedNationality: '',
        selectedCity: '',
        isLoading: false

      }
    },
    mixins: [
      UPDATE_MODERATION_COUNTER
    ],
    computed: {
      womanTarget() {
        return Vue.prototype.config.siteUrl + '/' + this.woman.user.id
      },
      oldBirthday() {
        return moment(this.woman.birthday.old_value * 1000).format('LL')
      },
      newBirthday() {
        return moment(this.woman.birthday.new_value * 1000).format('LL')
      },
      createdAt() {
        return moment(this.woman.created_at.new_value * 1000).format('LLL')
      },
      selectedPet() {
        let arrayX = [];
        let oldArray = [];
        let preferences = this.woman;
        for (let key in preferences) {
          if (key.match('pet_')) {

            if ( preferences[key].new_value === 0 && preferences[key].old_value === 1 || preferences[key].changed) {
              this.petsChanged = true;
              let old = key.replace('pet_', '');
              old = old.replace('_', ' ').replace('_', ' ').replace(old[0], old[0].toUpperCase());
              oldArray.push(old)
            }

            if (preferences[key].new_value === 1) {
              for (let i = 0; i < this.petLists.length; i++) {
                if (this.petLists[i].name === key) {
                  arrayX.push(this.petLists[i])
                }

              }
            }
          }
        }

        return arrayX;
      },
      selectedCelebration() {
        let arrayX = [];
        let oldArray = [];
        let preferences = this.woman;
        for (let key in preferences) {
          if (key.match('celebration_')) {

            if ( preferences[key].new_value === 0 && preferences[key].old_value === 1 || preferences[key].changed) {
              this.celebrationChanged = true;
              let old = key.replace('pet_', '');
              old = old.replace('_', ' ').replace('_', ' ').replace(old[0], old[0].toUpperCase());
              oldArray.push(old)
            }

            if (preferences[key].new_value === 1) {
              for (let i = 0; i < this.celebrationLists.length; i++) {
                if (this.celebrationLists[i].name === key) {
                  arrayX.push(this.celebrationLists[i])
                }

              }
            }
          }
        }

        return arrayX;
      },
      selectedTarget() {
        let arrayX = [];
        let oldArray = [];
        let preferences = this.woman;
        for (let key in preferences) {
          if (key.match('target_')) {


            if ( preferences[key].new_value === 0 && preferences[key].old_value === 1 || preferences[key].changed) {
              this.targetChanged = true;
              let old = key.replace('pet_', '');
              old = old.replace('_', ' ').replace('_', ' ').replace(old[0], old[0].toUpperCase());
              oldArray.push(old)
            }

            if (preferences[key].new_value === 1) {
              for (let i = 0; i < this.targetLists.length; i++) {
                if (this.targetLists[i].name === key) {
                  arrayX.push(this.targetLists[i])
                }

              }
            }
          }
        }

        return arrayX;
      },
      selectedFlowers() {
        let arrayX = [];
        let oldArray = [];
        let preferences = this.woman;
        for (let key in preferences) {
          if (key.match('flowers_')) {

            if (preferences[key].new_value === 0 && preferences[key].old_value === 1 || preferences[key].changed) {
              this.flowersChanged = true;
              let old = key.replace('pet_', '');
              old = old.replace('_', ' ').replace('_', ' ').replace(old[0], old[0].toUpperCase());
              oldArray.push(old)
            }

            if (preferences[key].new_value === 1) {
              for (let i = 0; i < this.flowersLists.length; i++) {
                if (this.flowersLists[i].name === key) {
                  arrayX.push(this.flowersLists[i])
                }

              }
            }
          }
        }

        return arrayX;
      },
      petList() {
        let arrayX = [];
        let oldArray = [];
        let preferences = this.woman;
        for (let key in preferences) {
          if (key.match('pet_')) {

            if ( preferences[key].new_value === 0 && preferences[key].old_value === 1 || preferences[key].changed) {
              this.petsChanged = true;
              let old = key.replace('pet_', '');
              old = old.replace('_', ' ').replace('_', ' ').replace(old[0], old[0].toUpperCase());
              oldArray.push(old)
            }

            if (preferences[key].new_value === 1) {
              let found = key.replace('pet_', '');
              found = found.replace('_', ' ').replace('_', ' ').replace(found[0], found[0].toUpperCase());
              arrayX.push(found)
            }
          }
        }
        this.oldPets = oldArray.toString().replace(',', ', ')
        return arrayX.toString().replace(',', ', ')
      },
      celebrationList() {
        let arrayX = [];
        let oldArray = [];
        let preferences = this.woman;
        for (let key in preferences) {
          if (key.match('celebration_')) {
            if ( preferences[key].new_value === 0 && preferences[key].old_value === 1 || preferences[key].changed) {
              this.celebrationChanged = true;
              let old = key.replace('pet_', '');
              old = old.replace('_', ' ').replace('_', ' ').replace(old[0], old[0].toUpperCase());
              oldArray.push(old)
            }
            if (  preferences[key].new_value === 1) {
              let found = key.replace('celebration_', '');
              found = found.replace('_', ' ').replace('_', ' ').replace(found[0], found[0].toUpperCase());
              arrayX.push(found)
            }
          }
        }
        this.oldCelebrations = oldArray.toString().replace(',', ', ')
        return arrayX.toString().replace(',', ',  ')
      },
      flowersList() {
        let arrayX = [];
        let oldArray = [];
        let preferences = this.woman;
        for (let key in preferences) {
          if (key.match('flowers_')) {
            if (preferences[key].new_value === 0 && preferences[key].old_value === 1 || preferences[key].changed )
            {
              this.flowersChanged = true;
              let old = key.replace('pet_', '');
              old = old.replace('_', ' ').replace('_', ' ').replace(old[0], old[0].toUpperCase());
              oldArray.push(old)
            }
            if (preferences[key].new_value === 1) {
              let found = key.replace('flowers_', '');
              found = found.replace('_', ' ').replace(found[0], found[0].toUpperCase());
              arrayX.push(found)
            }
          }
        }
        this.oldFlowers = oldArray.toString().replace(',', ', ')
        return arrayX.toString().replace(',', ', ')
      },
      targetsList() {
        let arrayX = [];
        let oldArray = [];
        let preferences = this.woman;
        for (let key in preferences) {
          if (key.match('target_')) {
            if ( preferences[key].new_value === 0 && preferences[key].old_value === 1 || preferences[key].changed) {
              this.targetChanged = true;
              let old = key.replace('pet_', '');
              old = old.replace('_', ' ').replace('_', ' ').replace(old[0], old[0].toUpperCase());
              oldArray.push(old)
            }
            if (preferences[key].new_value == 1) {
              let found = key.replace('target_', '');
              found = found.replace('_', ' ').replace(found[0], found[0].toUpperCase());
              arrayX.push(found)
            }
          }
        }
        this.oldTargets = oldArray.toString().replace(',', ', ')
        return arrayX.toString().replace(',', ', ')
      }
    },
    beforeMount() {
      this.fetchProfileData();
    },
    watch: {
      rejectReason(value) {
        if (value === '') {
          this.rejectReasonError = true
        } else {
          this.rejectReasonError = false
        }
      },
      selectedNationality(value) {
        let name = value.name;
        this.woman.nationality.new_value = name;
      },
      selectedCountry(value) {
        let name = value.name;
        this.woman.address_country.new_value = name;
      },
      selectedCity(value) {
        this.city = value.name
      }
    },
    methods: {

      asyncCity(query) {
        this.isLoading = true;
        this.$http.post(this.config.api.frontend + '/v2/guest/get-city', {
          city_name: query,
          country_id: this.selectedCountry.id
        }).then(data => {
          this.isLoading = false;
          if (data.body.status) {
            this.cities = data.body.result;
          }
        }, err => {
          console.log(err);
          this.isLoading = false
        });
      },
      fetchNationality() {
        this.$http.post(this.config.api.frontend + '/v2/guest/get-nationality', {})
            .then(data => {
              if (data.body.status) {
                this.nationalities = data.body.result;
              } else {
                toastr.error('Не могу загрузить список национальностей')
              }
              this.$nextTick(() => {
                this.initPicker();
              });
            }, err => {
              console.log(err);
            })
      },
      fetchCountry() {
        this.$http.post(this.config.api.frontend + '/v2/guest/get-country', {})
          .then(data => {
            if (data.body.status) {
              this.countries = data.body.result;
            } else {
              toastr.error('Не могу загрузить список стран')
            }
            this.$nextTick(() => {
              this.initPicker();
            });
          }, err => {
            console.log(err);
          })
      },
      limitText(count) {
        return `and ${count} other countries`
      },
      limitNationality(count) {
        return `and ${count} other nationalities`
      },
      sectionEditable(param) {
        this.editable[param] = !this.editable[param]
        if (!this.editable[param]) {
          toastr.success('Изменения приняты!')
        }
      },

      isDocument(name) {
        return name.match('pdf') !== null;
      },
      // editContentEditable( event ) {
      // 	let fieldName = event.target.dataset.field;
      // 	let data = $( event.target ).html().trim();
      // 	this.woman[ fieldName ].new_value = data;
      // },
      saveContentEditableFlowers(event) {
        this.woman[event.name].new_value === 0 ? this.woman[event.name].new_value = 1 : this.woman[event.name].new_value = 0
        this.woman[event.name].changed = true;
        this.$http.post('v2/moderation/update/profile-changes', {
          access_token: this.$cookie.get('access_token'),
          moderation_id: this.$route.params.moderation,
          field_name: event.name,
          value: this.woman[event.name].new_value
        }).then(data => {
          if (!data.body.status) {
            toastr.error('Не могу изменить поле модерации');
            toastr.info(data.body.desc);
          }
        }, err => {
          toastr.error('Не могу изменить поле!')
        })


      },

      saveContentEditable(event, field) {
        let fieldName = field || event.target.dataset.field;
        let data = event.name || event.target.value || $(event.target).html().trim();
        this.woman[fieldName].new_value = data;
        this.woman[fieldName].changed = true;
        this.$http.post('v2/moderation/update/profile-changes', {
          access_token: this.$cookie.get('access_token'),
          moderation_id: this.$route.params.moderation,
          field_name: fieldName,
          value: this.woman[fieldName].new_value
        }).then(data => {
          if (data.body.status) {
            $('[data-toggle="tooltip"]').tooltip();
            // toastr.success( 'Изменения приняты!' )
            // event.target.blur()
          } else {
            toastr.error('Не могу изменить поле модерации');
            toastr.info(data.body.desc);
            event.target.blur()
          }
        }, err => {
          toastr.error('Не могу изменить поле!')
          event.target.blur()
        })
      },
      moderationAccept() {
        this.$http.post('v2/moderation/moderate/profile-changes', {
          access_token: this.$cookie.get('access_token'),
          moderation_id: this.$route.params.moderation,
          status: 'accept',
        }).then(data => {
          if (data.body.status) {
            toastr.success('Профиль принят!');
            this.updateModerationCounters();
            setTimeout(() => {
              this.$router.push({name: 'Модерация изменений профилов'})
            }, 1000)
            this.updateModerationCounters()
          } else {
            toastr.error('Не могу принять профиль!')
            toastr.info(data.body.desc);
          }
        }, err => {
          toastr.error('Не могу принять профиль!')
        })
      },
      moderationReject() {
        if (this.rejectReason === '') {
          this.rejectReasonError = true
        } else {
          this.$http.post('v2/moderation/moderate/profile-changes', {
            access_token: this.$cookie.get('access_token'),
            moderation_id: this.$route.params.moderation,
            status: 'reject',
            note: this.rejectReason
          }).then(data => {
            if (data.body.status) {
              toastr.success('Профиль отклонен!');
              this.updateModerationCounters();
              document.querySelector('#rejectModalActionButton').click()
              setTimeout(() => {
                this.$router.push({name: 'Модерация изменений профилов'})
              }, 1000)
            } else {
              toastr.error('Не могу отклонить профиль!')
              toastr.info(data.body.desc);
            }
          }, err => {
            toastr.error('Не могу отклонить профиль!')
          })
        }
      },
      fetchProfileData() {
        this.$http.post('v2/moderation/get/profile-changes', {
          moderation_id: this.$route.params.moderation,
          access_token: this.$cookie.get('access_token')
        }).then(data => {
          if (data.body.status) {
            this.woman = data.body.result;
            this.birthday = this.woman.birthday.new_value * 1000 + '';
            this.fetchDocuments();
            this.fetchPhotos();
          } else {
            toastr.error('Не могу загрузить список изменений профиля');
            toastr.info(data.body.desc);
          }
        }, err => {
          toastr.error('Не могу загрузить список изменений профиля')
        });
      },
      fetchPhotos() {
        this.$http.post('v2/female/load-photos', {
          access_token: this.$cookie.get('access_token'),
          user_id: this.woman.user.id
        }).then(data => {
          if (data.body.status) {
            this.avatarPhotos = data.body.result.avatars;
            this.publicPhotos = data.body.result.public_photo;
            this.privatePhotos = data.body.result.private_photo;
            this.publicOnModeration = data.body.result.public_on_moderate;
            this.privateOnModeration = data.body.result.private_on_moderate;
            this.rejectedAvatars = data.body.result.rejected_avatar;
            this.rejectedPublic = data.body.result.rejected_public_photo;
            this.rejectedPrivate = data.body.result.rejected_private_photo;
            this.initGallery();
          } else {
            toastr.error('Не могу получить список фото клиентки')
            toastr.info(data.body.desc);
          }
        }, err => {
          toastr.error('Не могу получить список фото клиентки')
          console.log(err);
        })
      },
      fetchDocuments() {
        this.$http.post('v2/document/search/document', {
          access_token: this.$cookie.get('access_token'),
          user_id: this.woman.user.id
        }).then(data => {
          if (data.body.status) {
            this.womanDocument = data.body.result;
            let documents = data.body.result;
            documents.forEach(doc => {
              if (doc.user_document.document_type == 'passport_1' || doc.user_document.document_type == 'passport_2' || doc.user_document.document_type == 'passport_3' || doc.user_document.document_type == 'passport_11') {
                this.womanPassport.push(doc.user_document);
              } else if (doc.user_document.document_type == 'photo_with_passport') {
                this.womanPhotoWithPassport.push(doc.user_document);
              } else if (doc.user_document.document_type == 'video_approve') {
                this.womanVideoApprove.push(doc.user_document)
              }
            })
          } else {
            toastr.error('Не могу загрузить документы клиентки')
          }
        }, err => {
          toastr.error('Не могу загрузить документы клиентки')
        })
      },
      initGallery() {
        if (this.galleries) {
          let tmp = [].slice.call(this.galleries);
          tmp.forEach(i => {
            $(i).data('lightGallery').destroy(true);
          })
        }
        this.$nextTick(() => {
          this.galleries = $('.gal-nav').lightGallery();
        });
      },
      initPicker() {
        $("#birthdayPicker").datetimepicker({
          useCurrent: false,
          defaultDate: moment(+this.birthday),
          format: 'DD.MM.YYYY',
          locale: 'ru',
          widgetPositioning: {
            horizontal: "left"
          }
        });
        $('#birthdayPicker').on("dp.change", (e) => {
          let date = e.date;
          if (e.date) {
            this.birthday = moment(date._d).format('DD.MM.YYYY');
            this.woman.birthday.new_value = +this.birthday ? moment.utc(+this.birthday).format('X') : moment.utc(this.birthday, "DD-MM-YYYY").format('X');
            this.$http.post('v2/moderation/update/profile-changes', {
              access_token: this.$cookie.get('access_token'),
              moderation_id: this.$route.params.moderation,
              field_name: 'birthday',
              value: this.woman.birthday.new_value
            }).then(data => {
              if (data.body.status) {
                // toastr.success( 'Изменения приняты!' )
                // event.target.blur()
              } else {
                toastr.error('Не могу изменить поле модерации');
                toastr.info(data.body.desc);
                event.target.blur()
              }
            }, err => {
              toastr.error('Не могу изменить поле!')
              event.target.blur()
            })
          } else {
            this.woman.birthday.new_value = null
          }
        });
      },

    },
    mounted() {
      setTimeout(() => {
        $(".v-scroll").each(function () {
          if ($(this).attr("data-height")) {
            $(this).css("height", $(this).attr("data-height") + "px");
          }
          $(this).perfectScrollbar();
        });
        $('[data-toggle="tooltip"]').tooltip();
      }, 1000)
      this.fetchCountry();
      this.fetchNationality();
      console.log(this.woman)
    },
    components: {
      Multiselect: window.VueMultiselect.default
    }

  }
</script>

<style lang="scss">
  .multiselect--active{
    z-index: 3;
  }

  [contenteditable="true"] {
    background: #f0f0f0;
    min-width: 100px;
    min-height: 2px;
    cursor: text !important;
    text-align: right;
    padding: 5px 10px;
    border-radius: 3px;
  }

  .box-title {
    span {
      cursor: pointer;
    }
  }

  textarea {
    overflow: auto;
  }

  span.pull-right.text-left {
    text-align: left !important;
  }

  .lang_list {
    list-style: none;
    text-align: left;
    li {
      padding: 10px 0;
      & + li {
        border-top: 1px solid #e8e8e8;
      }
    }
  }

</style>
