<template>
    <div v-if="loaded">
        <h2 class="page-header">
            <div class="row">
                <div class="col-sm-8 text-left">
                    Запрос ID: {{$route.params.request}}
                    <a v-if="canEdit" class="btn" :class="{'btn-success': !edit, 'btn-danger': edit}" @click="editMode">
                    <i class="fa fa-lg fa-edit"></i>
                </a>
                </div>
            </div>
        </h2>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group row">
                    <label class="col-md-2 m-t-0">Дата создания:</label>
                    <div class="col-md-8">05.07.2017 17:32:23</div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 m-t-0">Клиентка:</label>
                    <div class="col-md-8">
                        <router-link :to="{name: 'Профиль клиентки', params: {woman: request.woman.id}}">
                            <div class="user-block user-block-md margin-bottom">
                                <img class="img-circle" :src="request.woman.avatar.small"
                                     :alt="request.woman.name">
                                <span class="username">
                                <a>{{request.woman.name}}</a>
							</span>
                                <a>
                                    <span class="description">ID: {{request.woman.id}}</span>
                                </a>
                            </div>
                        </router-link>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 m-t-0">Клиент:</label>
                    <div class="col-md-8">
                        <router-link :to="{name: 'Профиль клиента', params: {man: request.man.id}}">
                            <div class="user-block user-block-md margin-bottom">
                                <img class="img-circle" :src="request.man.avatar.small"
                                     :alt="request.man.name">
                                <span class="username">
                                <a>{{request.man.name}}</a>
							</span>
                                <a>
                                    <span class="description">ID: {{request.man.id}}</span>
                                </a>
                            </div>
                        </router-link>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 m-t-0">Кредиты:</label>
                    <div class="col-md-8">{{request.credits}}</div>
                </div>
            </div>
        </div>
        <h2 class="page-header">
            <div class="row">
                <div class="col-sm-8 text-left">Модерация</div>
            </div>
        </h2>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group row">
                    <label class="col-md-2 m-t-0">Модерация партнером:</label>
                    <div class="col-md-8">
                        <strong>{{moderationPartner}}</strong>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 m-t-2">Телефон (клиентки):</label>
                    <div class="col-md-8">
                        <div class="row" v-if="!edit">
                            <div class="col-md-12">
                                {{request.phone}}

                            </div>
                        </div>
                        <div class="row" v-if="edit">
                            <div class="col-md-6">
                                <input type="text" v-model="request.phone" placeholder="Телефон клиентки"
                                       class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 m-t-2">Email (клиентки):</label>
                    <div class="col-md-8">
                        <div class="row" v-if="!edit">
                            <div class="col-md-12">
                                {{request.email}}

                            </div>
                        </div>
                        <div class="row" v-if="edit">
                            <div class="col-md-6">
                                <input type="text" v-model="request.email" placeholder="Email клиентки"
                                       class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" v-if="!edit">
                    <div class="col-md-6">
                        <a class="btn btn-warning show-moderaton-modal" href="#"
                           data-title="Напишите причину отклонения" data-toggle="modal" data-target="#rejectModal">Отклонить</a>
                        <a class="btn btn-primary btnNext pull-right" href="#" @click="moderate('accept')">Утвердить</a>
                    </div>
                </div>
                <div class="row" v-else>
                    <div class="col-md-6">
                        <a class="btn btn-primary btnNext pull-right" @click="saveInfoRequest">Сохранить</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="rejectModal" tabindex="-1" role="dialog" aria-labelledby="rejectModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Причина отклонения</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <textarea id="" cols="30" rows="10" class="form-control" v-model="rejectReason" placeholder="Причина отклонения"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" @click="moderate('reject')">Отклонить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import moment from 'moment'
    import toastr from 'toastr'
	import {UPDATE_MODERATION_COUNTER} from '../../../mixins/updateModerationCounter'
    export default {
        name: 'ModerationInfoRequest',
        data() {
            return {
            	rejectReason: '',
                loaded: false,
                edit: false,
                request: {
                    id: '',
                    man: {
                        id: '',
                        name: '',
                        avatar: {
                            small: '',
                            medium: '',
                            large: '',
                            origin: ''
                        }
                    },
                    woman: {
                        id: '',
                        name: '',
                        avatar: {
                            small: '',
                            medium: '',
                            large: '',
                            origin: ''
                        },
                        agency: {
                            id: '',
                            name: ''
                        },
                        branch: {
                            id: '',
                            name: ''
                        },
                        admin: {
                            id: '',
                            name: ''
                        }
                    },
                    moderation_site: "free",
                    moderation_agency: "accept",
                    moderation_site_comment: null,
                    created_at: 1478447334,
                    credits: ''
                }
            }
        },
		mixins: [UPDATE_MODERATION_COUNTER],
        computed: {
            canEdit() {
                return this.request.moderation_site === 'free' && this.request.moderation_agency === 'accept';
            },
            moderationSite() {
                switch (this.request.moderation_site) {
                    case 'accept':
                        return 'одобрено';
                        break;
                    case 'reject':
                        return 'отклонено';
                        break;
                    case 'free':
                        return 'на модерации';
                        break;
                    default:
                        return 'на модерации'
                }
            },
            moderationPartner() {
                switch (this.request.moderation_agency) {
                    case 'accept':
                        return 'одобрено';
                        break;
                    case 'reject':
                        return 'отклонено';
                        break;
                    case 'free':
                        return 'на модерации';
                        break;
                    default:
                        return 'на модерации'
                }
            }
        },
        methods: {
            saveInfoRequest() {
                if(this.request.email !== '' && this.request.phone !== '') {
                	this.$http.post('v2/female/update-realinfo-request', {
                		access_token: this.$cookie.get('access_token'),
                        realinfo_request_id: this.$route.params.request,
                        email: this.request.email,
                        phone: this.request.phone
                    }).then(data => {
                    	if(data.body.status) {
                    		toastr.success('Отредактировано');
                            this.editMode()
                        }else {
                    		toastr.error(data.body.desc);
                            this.editMode()
                        }
                    }, err => {
                        console.log(err);
                        toastr.error('Не могу отредактировать');
                        this.editMode()
                    })
                }else {
                	toastr.error('Необходимо заполнить все поля')
                }
            },
            editMode() {
                this.edit = !this.edit;
            },
            fetchInfoRequest() {
                this.$http.post('v2/moderation/get/request-of-realinfo', {
                    access_token: this.$cookie.get('access_token'),
                    realinfo_request_id: this.$route.params.request
                }).then(data => {
                    if (data.body.status) {
                        this.request = data.body.result;
                        this.loaded = true;
                    } else {
                        toastr.error('Произошла ошибка');
                        toastr.info(data.body.desc);
                        setTimeout(() => {
                        	window.history.back()
                        }, 1000)
                    }
                }, err => {
                    toastr.error('Произошла ошибка');
                    console.log(err);
                })
            },
            saveModeration(status) {
                this.$http.post('v2/moderation/moderate/request-of-realinfo', {
                    access_token: this.$cookie.get('access_token'),
                    realinfo_request_id: this.$route.params.request,
                    status: status,
                    note: this.rejectReason
                }).then(data => {
                    if(data.body.status) {
                        toastr.success('Успешно одобрено');
                        this.updateModerationCounters();
                        this.$router.push({name: 'Запрос контактной информации'});
                    }else {
                        toastr.error('Не могу промодерировать запрос');
                        toastr.info(data.body.desc);
                    }
                }, err => {
                    toastr.error('Не могу промодерировать запрос');
                })
            },
            moderate(result) {
                if (result === 'reject' || result === 'accept') {
                    if(result === 'reject') {
                    	if(this.rejectReason !== '') {
                            this.saveModeration('reject');
                        }else{
                    		toastr.error('Необходимо заполнить причину отклонения')
                        }
                    }else {
                        this.saveModeration('accept');
                    }
                } else {
                    toastr.error('Не могу промодерировать запрос');
                }
            }
        },
        beforeMount() {
            this.fetchInfoRequest();
        }
    }
</script>
