<template>
    <normal-loader v-if="loading"></normal-loader>
    <div class="row" v-else>
        <div class="col-md-12">
            <div class="box box-blue box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Запросы контакт инфо</h3>

                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <!-- filter -->
                    <form class="row">
                        <div class="form-group margin">
                            <div class="col-md-1">
                                <input type="text" class="form-control" placeholder="ID" v-model="searchById">
                            </div>
                            <div class="col-md-2">
                                <my-select :options="allPartners" :placeholder="'Партнер'"
                                           :callback="selectPartnerCallback"
                                           :className="'letters-woman-partner-select'"></my-select>

                            </div>
                            <div class="col-md-2">
                                <my-select :options="showBranches" :placeholder="'Филиал'"
                                           :callback="selectBranchCallback"
                                           :className="'letters-woman-branch-select'"></my-select>
                            </div>
                            <div class="col-md-2">
                                <my-select :options="showAdmins" :placeholder="'Админ'"
                                           :callback="selectAdminCallback"
                                           :className="'letters-woman-admin-select'"></my-select>
                            </div>
                            <div class="col-md-2">
                                <my-select :options="showWomen" :placeholder="'Клиентка'"
                                           :callback="selectWomanCallback"
                                           :className="'moderation-woman-letters'"></my-select>
                            </div>
                            <div class="col-md-2">
                                <my-select :options="mans" :placeholder="'Клиент'"
                                           :callback="selectManCallback"
                                           :className="'moderation-man-letters-form-control'"></my-select>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive">
                    <table class="table table-bordered table-striped" id="infoModerationTable">
                        <thead>
                        <tr>
                            <th style="min-width: 45px;">ID</th>
                            <th class="sm-td">Клиентка</th>
                            <th class="sm-td">Клиент</th>
                            <th>Кредиты</th>
                            <th class="sm-td">Партнер</th>
                            <th class="sm-td">Филиал</th>
                            <th class="sm-td">Админ</th>
                            <th class="sm-td">Дата создания</th>
                            <th>Действие</th>
                        </tr>
                        </thead>
                    </table>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
            <div class="row">
                <div class="col-md-6">
                    <div class="margin-top" id="infoModerationInfo">

                    </div>
                </div>
                <div class="col-md-6">
                    <ul class="pagination pull-right" id="infoModerationPaginate">

                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import toastr from 'toastr'
    import mySelect from '../../custom/select2/component.vue'
    import moment from 'moment'
    import Preloader from '../../custom/normalPreloader/component.vue'
    export default {
    	name: 'InfoRequestList',
        data() {
    		return {
                loading: true,
                requestList: [],
                searchById: '',
                allPartners: [],
                showBranches: [],
                showAdmins: [],
                showWomen: [],
                mans: [],
                table: null,
            }
        },
        watch: {
            searchById(value) {
                this.searchInTable(0, value);
            }
        },
        methods: {
            selectManCallback(id) {
                if (id) {
                    this.searchInTable(2, id)
                } else {
                    this.searchInTable(2, '')
                }
            },
            fetchAdminsByAgency(id) {
                this.$http.post('v2/agency/get/admin-in-agency', {
                    access_token: this.$cookie.get('access_token'),
                    agency_id: id
                }).then(data => {
                    if (data.body.status) {
                        this.showAdmins = data.body.result
                    } else {
                        toastr.error('Не могу загрузить список админов')
                    }
                }, err => {
                    toastr.error('Не могу загрузить список админов');
                    console.log(err);
                });
            },
            fetchWomanByAgency(value) {
                this.$http.post('v2/agency/get/woman-in-agency', {
                    access_token: this.$cookie.get('access_token'),
                    agency_id: value
                }).then(data => {
                    if (data.body.status) {
                        this.showWomen = data.body.result;
                        this.allPartners.forEach(p => {
                            if (p.id == value) {
                                this.showBranches = p.agency_branches
                            }
                        })
                    }
                })
            },
            selectBranchCallback(value) {
                if (value) {
                    this.allBranches.forEach(branch => {
                        if (branch.id == value) {
                            this.searchInTable(5, branch.name);
                        }
                    })
                    this.fetchAdminsByAgency(value);
                    this.fetchWomanByAgency(value);
                } else {
                    this.searchInTable(5, '');
                }
            },
            selectAdminCallback(value) {
                if (value) {
                    this.allAdmins.forEach(admin => {
                        if (admin.id == value) {
                            this.searchInTable(6, admin.name);
                        }
                    });
                    this.$http.post('v2/agency/get/agency-woman', {
                        access_token: this.$cookie.get('access_token'),
                        admin_id: value
                    }).then(data => {
                        if (data.body.status) {
                            this.showWomen = [];
                            data.body.result.forEach(woman => {
                                this.showWomen.push({
                                    id: woman.id,
                                    name: woman.fullName
                                })
                            })
                        } else {
                            toastr.error('Не могу получить список клиенток под админом');
                            toastr.info(data.body.desc);
                        }
                    }, err => {
                        toastr.error('Не могу получить скписок клиенток под админом');
                        console.log(err)
                    })
                } else {
                    this.showAdmins = this.allAdmins;
                    this.searchInTable(6, '')
                }
            },
            selectPartnerCallback(value) {
                if (value) {
                    this.allPartners.forEach(partner => {
                        if (partner.id == value) {
                            this.searchInTable(4, partner.name);
                        }
                    });
                    this.showWomen = [];
                    this.showAdmins = [];
                    this.fetchAdminsByAgency(value);
                    this.fetchWomanByAgency(value);
                } else {
                    this.searchInTable(4, '');
                    this.showWomen = this.allWomen;
                    this.showBranches = this.allBranches;
                    this.showAdmins = this.allAdmins;
                }
            },
            selectWomanCallback(value) {
                if (value) {
                    this.allWomen.forEach(w => {
                        if (w.id == value) {
                            this.searchInTable(1, w.name)
                        }
                    })
                } else {
                    this.searchInTable(1, '')
                }
            },
            fetchBranches() {
                this.$http.post('v2/agency/get/branches', {
                    access_token: this.$cookie.get('access_token')
                }).then(data => {
                    if (data.body.status) {
                        this.allBranches = data.body.result;
                        this.showBranches = this.allBranches
                    } else {
                        toastr.error('Не могу получить список филиалов')
                        toastr.info(data.body.desc)
                    }
                }, err => {
                    toastr.error('Не могу получить список филиалов')
                })
            },
            fetchAdmins() {
                this.$http.post('v2/agency/get/admins', {
                    access_token: this.$cookie.get('access_token')
                }).then(data => {
                    if (data.body.status) {
                        let admins = data.body.result;
                        let adminsPrettyArray = [];
                        admins.forEach(a => {
                            adminsPrettyArray.push({
                                id: a.admin_user_id,
                                name: a.admin_name + ' ' + a.admin_surname,
                            })
                        })
                        this.allAdmins = adminsPrettyArray;
                        this.showAdmins = adminsPrettyArray;
                    } else {
                        toastr.error('Не могу получить список админов сайта')
                    }
                }, err => {
                    toastr.error('Не могу получить список админов сайта')
                })
            },
            fetchPartner() {
                this.$http.post('v2/agency/get/list', {
                    access_token: this.$cookie.get('access_token')
                }).then(data => {
                    if (data.body.status) {
                        this.allPartners = data.body.result;
                    } else {
                        toastr.error('Не могу загрузить список партнеров')
                        toastr.info(data.body.desc);
                    }
                }, err => {
                    toastr.error('Не могу загрузить список партнеров')
                })
            },
            fetchWomen() {
                this.$http.post('v2/femal/load-list', {
                    access_token: this.$cookie.get('access_token')
                }).then(data => {
                    if (data.body.status) {
                        let normalArray = [];
                        data.body.result.forEach(woman => {
                            normalArray.push({
                                id: woman.user_id,
                                name: woman.name + ' ' + woman.surname
                            })
                        })
                        this.allWomen = normalArray;
                        this.showWomen = normalArray;
                    } else {
                        toastr.error('Не могу загрузить список клиенток')
                    }
                }, err => {
                    toastr.error('Не могу загрузить список клиенток')
                })
            },
            searchInTable(col, value) {
                if (this.table !== null) {
                    this.table.column(col)
                        .search(value, false, false)
                        .draw();
                }
            },
            fetchData() {
                this.loading = true;
                this.fetchWomen();
                this.$http.post('v2/moderation/get/request-of-list-realinfo', {
                    access_token: this.$cookie.get('access_token')
                }).then(data => {
                    if (data.body.status) {
                        this.requestList = data.body.result;
                        this.fetchPartner();
                        this.fetchBranches();
                        this.fetchAdmins();
                        this.fetchManFilter();
                        setTimeout(() => {
                            this.loading = false;
                            setTimeout(() => {
                                this.initTable();
                            },40)
                        }, 100)
                    } else {
                        toastr.error(data.body.desc)
                    }
                }, err => {
                    toastr.error('Не могу получить список фото')
                })
            },
            fetchManFilter() {
                this.$http.post('v2/male/easy-load', {
                    access_token: this.$cookie.get('access_token')
                }).then(data => {
                    if (data.body.status) {
                        data.body.result.forEach(man => {
                            this.mans.push({
                                id: man.user_id,
                                name: man.name + ' ' + man.surname
                            })
                        })
                    } else {
                        toastr.err('Не могу загрузить список клиентов');
                        toastr.info(data.body.desc)
                    }
                }, err => {
                    toastr.err('Не могу загрузить список клиентов');
                })
            },
            initTable() {
                if (this.table !== null) {
                    this.table.clear().draw();
                }
                this.table = $('#infoModerationTable').DataTable();
                $('#infoModerationTable_filter').remove();
                $('#infoModerationTable_length').remove();
                $('#infoModerationInfo').append($('#infoModerationTable_info'));
                $('#infoModerationPaginate').append($('#infoModerationTable_paginate'));
                this.requestList.forEach(request => {
                    this.table.row.add([
                        '<a class="moderate-request" data-id="'+request.id+'">'+request.id+'</a>',
                        '<a class="show-woman" data-id="'+request.woman.id+'">'+request.woman.name+ '('+request.woman.id+')</a>',
                        '<a class="show-man" data-id="'+request.man.id+'">'+request.man.name+ '('+request.man.id+')</a>',
                        request.credits,
                        '<a class="show-partner" data-id="'+request.woman.agency.id+'">'+request.woman.agency.name+ '('+request.woman.agency.id+')</a>',
                        '<a class="show-partner" data-id="'+request.woman.branch.id+'">'+request.woman.branch.name+ '</a>',
                        '<a class="show-admin" data-id="'+request.woman.admin.id+'">'+request.woman.admin.name+ '</a>',
                        moment(request.created_at * 1000).format('LLL'),
                        '<a class="btn btn-primary btn-block moderate-request" data-id="'+request.id+'">Модерировать</a>'
                    ]).draw();
                });
                this.initEventListeners();
            },
            initEventListeners() {
                $('#infoModerationTable').on('click', '.moderate-request', event => {
                    this.$router.push('/moderation/info/' + event.target.dataset.id);
                });
                $('#infoModerationTable').on('click', '.show-partner', event => {
                    this.$router.push('/partners/view/' + event.target.dataset.id);
                });
                $('#infoModerationTable').on('click', '.show-woman', event => {
                    this.$router.push('/woman/view/' + event.target.dataset.id);
                });
                $('#infoModerationTable').on('click', '.show-man', event => {
                    this.$router.push('/man/view/' + event.target.dataset.id);
                });
                $('#infoModerationTable').on('click', '.show-admin', event => {
                    this.$router.push('/partner/admin/show/' + event.target.dataset.id);
                });
            }
        },
        beforeMount() {
    	    this.fetchData();
        },
        components: {
            'my-select': mySelect,
            'normal-loader': Preloader
        }
    }
</script>
