<template>
    <section class="content">
        <div class="row margin-bottom">
            <div class="col-md-12">
                <div class="user-block user-block-md pull-left">
                    <img class="img-circle" :src="woman.main.avatar.small"  alt="woman.main.name">
                    <i v-show="woman.main.camera == 'yes'" class="fa fa-video-camera text-blue icon-ava"></i>
                    <span class="username"> <a href="#">{{woman.main.name}}</a>
					</span> <span class="description">ID: {{woman.main.id}}</span>
                </div>
                <span v-if="woman.main.online" class="pull-right text-green margin-top">Online <i class="fa fa-sm fa-circle"></i></span>
            </div>
        </div>

        <!-- Smboxes.vueoxes (Stat box) -->
        <div class="row">
            <div class="col-md-6">
                <div class="box box-blue box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title btn-block">
                            Общая информацияz <a @click="editRoute" class="pull-right"><i class="fa fa-pencil text-blue"></i></a>
                        </h3>
                    </div>
                    <!-- /.box-header -->

                    <div class="box-body no-padding">
                        <ul class="v-list">
                            <li>Статус <span class="pull-right text-green">{{woman.general.status}}</span></li>
                            <li>E-mail <span class="pull-right text-blue">{{woman.general.email}}</span></li>
                            <li>Дата регистрации <span class="pull-right">{{createdAt}}</span></li>
                            <li>Паспорт<span class="pull-right">{{woman.general.passport}}</span></li>
                            <li>Партнер <span class="pull-right">
                                <router-link :to="'/partners/view/' + woman.general.agency.id">
                                    <a>{{woman.general.agency.name}}</a>
                                </router-link>
                            </span></li>
                            <li>Филиал<span class="pull-right">
                                <router-link :to="'/partners/view/' + woman.general.branch.id">
                                    <a>{{woman.general.branch.name}}</a>
                                </router-link>
                            </span></li>
                            <li>Админ<span class="pull-right">
                                <router-link :to="'/partner/admin/show/' + woman.general.admin.id">
                                    <a>{{woman.general.admin.name}}</a>
                                </router-link>
                            </span></li>
                            <li>Дата рождения <span class="pull-right">{{birthday}}</span></li>
                            <li class="row"><span class="col-md-6">Примечание</span>
                                <div class="col-md-6">{{woman.general.note}}</div></li>
                        </ul>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <div class="col-md-6">
                <div class="box box-blue box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title btn-block">
                            Контакты <a @click="editRoute" class="pull-right"><i class="fa fa-pencil text-blue"></i></a>
                        </h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <ul class="v-list">
                            <li>Страна <span class="pull-right">{{woman.contact.country}}</span></li>
                            <li>Город <span class="pull-right">{{woman.contact.city}}</span></li>
                            <li>Адрес <span class="pull-right">{{woman.contact.address}}</span></li>
                            <li>Телефон<span class="pull-right">{{woman.contact.phone}}</span></li>
                            <li>Скайп <span class="pull-right">{{woman.contact.skype}}</span></li>
                        </ul>
                    </div>
                    <!-- /.box-body -->
                </div>

                <div class="box box-blue box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title btn-block">
                            Внешность<a @click="editRoute" class="pull-right"><i class="fa fa-pencil text-blue"></i></a>
                        </h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <ul class="v-list">
                            <li>Телосложение <span class="pull-right">{{woman.appearance.body}}</span></li>
                            <li>Рост<span class="pull-right">{{woman.appearance.height}} cm</span></li>
                            <li>Вес<span class="pull-right">{{woman.appearance.weight}} kg</span></li>
                            <li>Цвет глаз<span class="pull-right">{{woman.appearance.eye_color}}</span></li>
                            <li>Цвет волос<span class="pull-right">{{woman.appearance.hair_color}}</span></li>
                        </ul>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="box box-blue box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title btn-block">Статистика</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="v-list">
                                    <li>Бонусы за тек.месяц <span class="pull-right"><a href="transactions_list.php" class="text-black">{{woman.statistic.bonus}}</a></span></li>
                                    <li>Штрафи за тек. месяц<span class="pull-right text-red"><a href="fines_list.php" class="text-red">{{woman.statistic.penalty}}</a></span></li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="v-list">
                                    <li>Письма новые (критические)<span class="pull-right">{{woman.statistic.new_letters}} (<a class="text-red" href="message.new.php">{{woman.statistic.critical_letters}}</a>)
									</span></li>
                                    <li>Подарки новые (критические)<span class="pull-right">{{woman.statistic.new_gifts}} (<a class="text-red" href="message.new.php">{{woman.statistic.critical_gifts}}</a>)
									</span></li>
                                    <li>Контакт инфо новые (критические)<span class="pull-right">{{woman.statistic.new_realinfo_request}} (<a class="text-red" href="message.new.php">{{woman.statistic.critical_realinfo_request}}</a>)
									</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
        <!-- /.row  -->

        <div class="row">
            <div class="col-md-6">
                <div class="box box-blue box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title btn-block">
                            Дополнительная информация<a @click="editRoute" class="pull-right"><i class="fa fa-pencil text-blue"></i></a>
                        </h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <ul class="v-list">
                            <li>Статус <span class="pull-right">{{woman.additional_info.status}}</span></li>
                            <li>Уровень англ.<span class="pull-right">{{woman.additional_info.lang_english}}</span></li>
                            <li >Другие языки<span class="pull-right">Spanish({{woman.additional_info.lang_spanish}}), French({{woman.additional_info.lang_french}}), German({{woman.additional_info.lang_german}})</span></li>
                            <li>Семейное положение<span class="pull-right">{{woman.additional_info.family_status}}</span></li>
                            <li>Oбразование<span class="pull-right">{{woman.additional_info.education}}</span></li>
                            <li>Професия<span class="pull-right">{{woman.additional_info.profession}}</span></li>
                            <li>Я живу с<span class="pull-right">{{woman.additional_info.accommodation}}</span></li>
                            <li>Дети<span class="pull-right">{{woman.additional_info.children}}</span></li>
                            <li>Религия<span class="pull-right">{{woman.additional_info.religion}}</span></li>
                            <li>Отношение к курению<span class="pull-right">{{woman.additional_info.smoke}}</span></li>
                            <li>Отношение к алкоголю<span class="pull-right">{{woman.additional_info.drink}}</span></li>
                        </ul>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>

            <div class="col-md-6">
                <div class="box box-blue box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title btn-block">
                            Предпочтения<a @click="editRoute" class="pull-right"><i class="fa fa-pencil text-blue"></i></a>
                        </h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <ul class="v-list">
                            <li>Любимые цветы <span class="pull-right"> {{flowersList}} </span>
                            </li>
                            <li>Домашние животные <span class="pull-right"> {{petList}} </span>
                            </li>
                            <li>Любимые праздники <span class="pull-right"> {{celebrationList}} </span>
                            </li>
                            <li>Цели <span class="pull-right"> {{targetsList}}</span>
                            </li>
                            <li>Интересы<span class="pull-right">{{woman.preferences.interests}}</span></li>
                            <li class="row"><span class="col-md-6">Обо мне</span>
                                <div class="col-md-6">
                                    {{woman.preferences.about_me}}
                                </div></li>
                            <li>Возраст мужчины<span class="pull-right">{{woman.preferences.about_man_age_from}} - {{woman.preferences.about_man_age_to}}</span></li>
                            <li class="row"><span class="col-md-6">Описание мужчины</span>
                                <div class="col-md-6">
                                    {{woman.preferences.about_man}}
                                </div></li>
                        </ul>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
        <!-- /.row  -->

        <div class="row">
            <div class="col-md-6">
                <div class="box box-blue box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title btn-block">
                            Фото<a @click="editRoute('#photos')" class="pull-right"><i class="fa fa-pencil text-blue"></i></a>
                        </h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding v-scroll" data-height="263">
                        <ul class="v-list">
                            <li class="header">Аватары</li>
                            <li>
                                <nav class="photo-nav gal-nav photo-list">
                                    <a v-for="photo in photos.avatars" :href="photo.file_url_origin">
                                        <img :src="photo.file_url_small">
                                    </a>
                                </nav>
                            </li>
                            <li class="header">Публичные фото</li>
                            <li>
                                <nav class="photo-nav gal-nav photo-list">
                                    <a v-for="photo in photos.public_photo" :href="photo.file_url_origin">
                                        <img :src="photo.file_url_small">
                                    </a>
                                </nav>
                            </li>

                            <li class="header">Приватные фото</li>
                            <li>
                                <nav class="photo-nav gal-nav photo-list">
                                    <a v-for="photo in photos.private_photo" :href="photo.file_url_origin">
                                        <img :src="photo.file_url_small">
                                    </a>
                                </nav>
                            </li>
                            <li class="header text-yellow">Аватары на модерации</li>
                            <li>
                                <nav class="photo-nav gal-nav photo-list">
                                    <a v-for="photo in photos.avatar_on_moderate" :href="photo.file_url_origin">
                                        <img :src="photo.file_url_origin">
                                        <span @click.prevent.stop="moderateWomanAvatar(photo.id, photo.file_url_origin)"
                                              class="btn btn-block btn-warning btn-xs margin-top-sm set-ava-src"
                                              style="height: 20px; margin: 5px 0; line-height: 5px; padding-top: 3px !important;"> <i
                                            class="fa fa-check"></i> Модер.
											</span>
                                    </a>
                                </nav>
                            </li>
                            <li class="header text-yellow">Публичные фото на модерации</li>
                            <li>
                                <nav class="photo-nav gal-nav photo-list">
                                    <a v-for="photo in photos.public_on_moderate" :href="photo.file_url_origin">
                                        <img :src="photo.file_url_origin">
                                        <span @click.prevent.stop="photoModerate(photo.id, photo.file_url_origin)"
                                              class="btn btn-block btn-warning btn-xs margin-top-sm set-ava-src"
                                              style="height: 20px; margin: 5px 0; line-height: 5px; padding-top: 3px !important;"> <i
                                            class="fa fa-check"></i> Модер.
											</span>
                                    </a>

                                </nav>
                            </li>
                            <li class="header text-yellow">Приватные фото на модерации</li>
                            <li>
                                <nav class="photo-nav gal-nav photo-list">
                                    <a v-for="photo in photos.private_on_moderate" :href="photo.file_url_origin">
                                        <img :src="photo.file_url_origin">
                                    </a>
                                </nav>
                            </li>
                            <li class="header text-red">Отклоненные аватары</li>
                            <li>
                                <nav class="photo-nav gal-nav photo-list">
                                    <a v-for="photo in photos.rejected_avatar" :href="photo.file_url_origin">
                                        <img :src="photo.file_url_origin">
                                    </a>
                                </nav>
                            </li>
                            <li class="header text-red">Отклоненные публичные фото</li>
                            <li>
                                <nav class="photo-nav gal-nav photo-list">
                                    <a v-for="photo in photos.rejected_public_photo" :href="photo.file_url_origin">
                                        <img :src="photo.file_url_origin">
                                    </a>
                                </nav>
                            </li>
                            <li class="header text-red">Отклоненные приватные фото</li>
                            <li>
                                <nav class="photo-nav gal-nav photo-list">
                                    <a v-for="photo in photos.rejected_private_photo" :href="photo.file_path">
                                        <img :src="photo.file_path">
                                    </a>
                                </nav>
                            </li>
                            <li class="header text-red">Фото на удаление</li>
                            <li>
                                <nav class="photo-nav gal-nav photo-list">
                                    <a v-for="photo in photos.photo_on_delete" :href="photo.file_path">
                                        <img :src="photo.file_path">
                                    </a>
                                </nav>
                            </li>

                        </ul>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
            <div class="col-md-6">
                <div class="box box-blue box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title btn-block">
                            Документы <a @click="editRoute" class="pull-right"><i class="fa fa-pencil text-blue"></i></a>
                        </h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding v-scroll" data-height="263">
                        <ul class="v-list">
                            <li class="header">Паспорт</li>
                            <li>
                                <nav class="photo-nav docs-nav photo-list">
                                    <a target="_blank" :class="{ 'photo-nav__item': !isDocument(doc.file_extension) }" v-for="doc in womanPassport" :href="doc.file_path">
                                        <img :src="doc.file_path" v-if="!isDocument(doc.file_extension)">
                                        <img :src="'/dist/img/pdf.png'" v-else="isDocument(doc.file_extension)" alt="Document">
                                    </a>
                                </nav>
                            </li>
                            <li class="header">Фото с паспортом</li>
                            <li>
                                <nav class="photo-nav docs-nav photo-list">
                                    <a target="_blank" :class="{ 'photo-nav__item': !isDocument(doc.file_extension) }" v-for="doc in womanPhotoWithPassport" :href="doc.file_path">
                                        <img :src="doc.file_path" v-if="!isDocument(doc.file_extension)">
                                        <img :src="'/dist/img/pdf.png'" v-else="isDocument(doc.file_extension)" alt="Document">
                                    </a>
                                </nav>
                            </li>
                            <li class="header">Видео подтверждение</li>
                            <li>
                                <nav class="photo-nav video-list">
                                    <a v-for="doc in womanVideoApprove" :href="doc.file_path">
                                        <img :src="doc.file_path">
                                    </a>
                                </nav>
                            </li>

                        </ul>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
        <!-- /.row  -->
        <div class="row">
            <div class="col-md-12">
                <a class="btn btn-warning show-moderaton-modal" id="rejectModalActionButton"  data-title="Напишите причину отклонения" data-toggle="modal" data-target="#myModal">Отклонить</a>
                <a class="btn btn-primary btnNext pull-right" @click.prevent.stop="moderationAccept">Утвердить</a>
            </div>
        </div>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <textarea cols="30" rows="10" class="form-control" v-model="rejectReason" :class="{'error': rejectReasonError}" placeholder="Причина отклониения"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" @click="moderationReject">Отклонить</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import toastr from 'toastr'
    import moment from 'moment'
	import {UPDATE_MODERATION_COUNTER} from '../../../mixins/updateModerationCounter'
    export default {
        name: 'WomanView',
        data() {
            return {
				galleriesDocs: '',
				galleries: '',
                woman: {
                    "main": {
                        "name": null,
                        "online": null,
                        "camera": null,
                        "id": null,
                        "avatar" : {
                            small: '#'
                        }
                    },
                    "general": {
                        "status": null,
                        "email": null,
                        "created_at": null,
                        "passport": null,
                        "agency": {
                            "id": null,
                            "name": null
                        },
                        "branch": {
                            "id": null,
                            "name": null
                        },
                        "admin": {
                            "exist": null,
                            "id": null,
                            "name": null
                        },
                        "birthday": null,
                        "note": null
                    },
                    "contact": {
                        "country": null,
                        "city": null,
                        "address": null,
                        "phone": null,
                        "skype": null
                    },
                    "appearance": {
                        "body": null,
                        "height": null,
                        "weight": null,
                        "eye_color": null,
                        "hair_color": null
                    },
                    "statistic": {
                        "bonus": null,
                        "penalty": null,
                        "new_letters": null,
                        "new_gifts": null,
                        "new_realinfo_request": null,
                        "critical_letters": null,
                        "critical_gifts": null,
                        "critical_realinfo_request": null
                    },
                    "additional_info": {
                        "status": null,
                        "lang_english": null,
                        "lang_spanish": null,
                        "lang_french": null,
                        "lang_portuguese": null,
                        "lang_german": null,
                        "family_status": null,
                        "education": null,
                        "profession": null,
                        "accommodation": null,
                        "children": null,
                        "religion": null,
                        "smoke": null,
                        "drink": null
                    },
                    "preferences": {
                        "flowers_red_roses": null,
                        "flowers_white_roses": null,
                        "flowers_pink_roses": null,
                        "flowers_gerbera": null,
                        "flowers_chrysanthemum": null,
                        "pet_dog": null,
                        "pet_cat": null,
                        "pet_hamster": null,
                        "pet_aquarium_fish": null,
                        "pet_parrot": null,
                        "pet_turtle": null,
                        "pet_snake": null,
                        "pet_iguana": null,
                        "pet_chinchilla": null,
                        "celebration_birthday": null,
                        "celebration_christmas_day": null,
                        "celebration_new_years_day": null,
                        "celebration_easter": null,
                        "celebration_valentines_day": null,
                        "celebration_halloween": null,
                        "celebration_womens_day": null,
                        "target_friendship": null,
                        "target_communication": null,
                        "target_journey": null,
                        "target_flirtation": null,
                        "target_a_meeting": null,
                        "target_a_family": null,
                        "target_children": null,
                        "interests": null,
                        "about_me": null,
                        "about_man_age_from": null,
                        "about_man_age_to": null,
                        "about_man": null
                    }
                },
                womanDocument: [],
                womanPassport: [],
                womanPhotoWithPassport: [],
                womanVideoApprove: [],
                womanPhotos: [],
                rejectReason: '',
                rejectReasonError: false,
                photos: {
                    avatars: [],
                    private_photo: [],
                    public_photo: [],
                    public_on_moderate: [],
                    private_on_moderate: [],
                    rejected_public_photo: [],
                    rejected_private_photo: [],
                    photo_on_delete: [],
                    avatar_on_moderate: [],
                    rejected_avatar: []
                }
            }
        },
		mixins: [ UPDATE_MODERATION_COUNTER ],
        computed: {
            birthday() {
                return moment(this.woman.general.birthday * 1000).format('LLL')
            },
            createdAt() {
                return moment(this.woman.general.created_at * 1000).format('LLL')
            },
            petList() {
                let arrayX = [];
                let preferences = this.woman.preferences;
                for(let key in preferences) {
                    if(key.match('pet_')) {
                        if(preferences[key] == 1) {
                            let found = key.replace('pet_', '');
                            found = found.replace('_', ' ').replace('_', ' ').replace(found[0], found[0].toUpperCase());
                            arrayX.push(found)
                        }
                    }
                }
                return arrayX.toString().replace(',', ', ')
            },
            celebrationList() {
                let arrayX = [];
                let preferences = this.woman.preferences;
                for(let key in preferences) {
                    if(key.match('celebration_')) {
                        if(preferences[key] == 1) {
                            let found = key.replace('celebration_', '');
                            found = found.replace('_', ' ').replace('_', ' ').replace(found[0], found[0].toUpperCase());
                            arrayX.push(found)
                        }
                    }
                }
                return arrayX.toString().replace(',', ',  ')
            },
            flowersList() {
                let arrayX = [];
                let preferences = this.woman.preferences;
                for(let key in preferences) {
                    if(key.match('flowers_')) {
                        if(preferences[key] == 1) {
                            let found = key.replace('flowers_', '');
                            found = found.replace('_', ' ').replace(found[0], found[0].toUpperCase());
                            arrayX.push(found)
                        }
                    }
                }
                return arrayX.toString().replace(',', ', ')
            },
            targetsList() {
                let arrayX = [];
                let preferences = this.woman.preferences;
                for(let key in preferences) {
                    if(key.match('target_')) {
                        if(preferences[key] == 1) {
                            let found = key.replace('target_', '');
                            found = found.replace('_', ' ').replace(found[0], found[0].toUpperCase());
                            arrayX.push(found)
                        }
                    }
                }
                return arrayX.toString().replace(',', ', ')
            }
        },
        beforeMount() {
            this.fetchProfileData();
            this.fetchDocuments();
            this.fetchPhotos();
        },
        watch: {
            rejectReason(value) {
            	if(value === '') {
                    this.rejectReasonError = true
                }else {
                    this.rejectReasonError = false
                }
            }
        },
        methods: {
			isDocument(name) {
				return name.match('pdf') !== null;
			},
            fetchPhotos() {
                this.$http.post('v2/female/load-photos', {
                    access_token: this.$cookie.get('access_token'),
                    user_id: this.$route.params.woman
                }).then(data => {
                    if(data.body.status) {
                        this.photos = data.body.result;
                        this.initGallery()
                    }else{
                        toastr.error('Ошибка API. Не могу загрузить фото')
                    }
                }, err => {
                    toastr.error('Ошибка API. Не могу загрузить фото')
                })
            },
            moderationAccept() {
                this.$http.post('v2/moderation/moderate/new-profile', {
                    access_token: this.$cookie.get('access_token'),
                    user_id: this.$route.params.woman,
                    status: 'accept',
                }).then(data => {
                    if(data.body.status) {
                        toastr.success('Профиль принят!');
					this.updateModerationCounters();
                        setTimeout(() => {
                            window.history.back();
                            window.location.reload();
                        }, 1000)
                    }else {
                        toastr.error('Не могу принять профиль!')
                        toastr.info(data.body.desc);
                    }
                }, err => {
                    toastr.error('Не могу принять профиль!')
                })
            },
            moderationReject() {
                if(this.rejectReason === '') {
                    this.rejectReasonError = true
                }else {
                    this.$http.post('v2/moderation/moderate/new-profile', {
                    	access_token: this.$cookie.get('access_token'),
                        user_id: this.$route.params.woman,
                        status: 'reject',
                        note: this.rejectReason
                    }).then(data => {
                    	if(data.body.status) {
                            toastr.success('Профиль отклонен!');
						this.updateModerationCounters();
                            document.querySelector('#rejectModalActionButton').click()
                            setTimeout(() => {
                            	window.history.back();
                            	window.location.reload();
                            }, 1000)
                        }else {
                            toastr.error('Не могу отклонить профиль!')
                            toastr.info(data.body.desc);
                        }
                    }, err => {
                    	toastr.error('Не могу отклонить профиль!')
                    })
                }
            },
            editRoute() {
                this.$router.push('/woman/edit/' + this.$route.params.woman)
            },
            fetchProfileData() {
                this.$http.post('v2/female/get/one', {
                    user_id: this.$route.params.woman,
                    access_token: this.$cookie.get('access_token')
                }).then(data => {
                    if(data.body.status) {
                        this.woman = data.body.result;
                    }else {
                        toastr.error('Не могу загрузить профиль клиентки')
                    }
                }, err => {
                    toastr.error('Не могу загрузить профиль клиентки')
                })
            },
            fetchDocuments() {
                this.$http.post('v2/document/search/document', {
                    access_token: this.$cookie.get('access_token'),
                    user_id: this.$route.params.woman
                }).then(data => {
                    if(data.body.status) {
                        this.womanDocument = data.body.result;
                        let documents = data.body.result;
                        documents.forEach(doc => {
                            if(doc.user_document.document_type == 'passport_1' || doc.user_document.document_type == 'passport_2' || doc.user_document.document_type == 'passport_3' || doc.user_document.document_type == 'passport_11') {
                                this.womanPassport.push(doc.user_document);
                            }else if(doc.user_document.document_type == 'photo_with_passport') {
                                console.log('Photo with passport')
                                this.womanPhotoWithPassport.push(doc.user_document);
                            }else if(doc.user_document.document_type == 'video_approve') {
                                this.womanVideoApprove.push(doc.user_document)
                            }
                        })
                        this.initGalleryDocs()
                    }else {
                        toastr.error('Не могу загрузить документы клиентки')
                    }
                }, err => {
                    toastr.error('Не могу загрузить документы клиентки')
                })
            },
			initGallery() {
				if ( this.galleries ) {
					let tmp = [].slice.call(this.galleries);
					tmp.forEach(i => {
						$(i).data('lightGallery').destroy(true);
					})
				}
				this.$nextTick( () => {
					this.galleries = $( '.gal-nav' ).lightGallery();
				} );
			},
			initGalleryDocs() {
				if ( this.galleriesDocs ) {
					let tmp = [].slice.call(this.galleriesDocs);
					tmp.forEach(i => {
						$(i).data('lightGallery').destroy(true);
					})
				}
				this.$nextTick( () => {
					this.galleriesDocs = $( '.docs-nav' ).lightGallery();
				} );
			},
        },
        mounted() {
            setTimeout(() => {
                $(".v-scroll").each(function(){
                    if($(this).attr("data-height")){
                        $(this).css("height", $(this).attr("data-height")+"px");
                    }
                    $(this).perfectScrollbar();
                });
            }, 1000)
        },
    }
</script>
