<template>
    <normal-loader v-if="loading"></normal-loader>
    <div class="row" v-else>
        <div class="col-md-12">
            <div class="box box-blue box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Модерация приватных фото</h3>
                </div>
                <div class="box-body no-padding">
                    <form class="row">
                        <div class="form-group margin">
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="ID" v-model="searchById">
                            </div>
                            <div class="col-md-2">
                                <my-select :options="allPartners" :placeholder="'Партнер'"
                                           :callback="selectPartnerCallback"
                                           :className="'moderation-woman-partner-select'"></my-select>

                            </div>
                            <div class="col-md-2">
                                <my-select :options="showBranches" :placeholder="'Филиал'"
                                           :callback="selectBranchCallback"
                                           :className="'moderation-woman-branch-select'"></my-select>
                            </div>
                            <div class="col-md-2">
                                <my-select :options="showAdmins" :placeholder="'Админ'"
                                           :callback="selectAdminCallback"
                                           :className="'moderation-woman-admin-select'"></my-select>
                            </div>
                            <div class="col-md-2">
                                <my-select :options="showWomen" :placeholder="'Клиентка'"
                                           :callback="selectWomanCallback"
                                           :className="'moderation-woman-photo'"></my-select>
                            </div>
                            <div class="col-md-2">
                                <select class="form-control" v-model="searchByStatus">
                                    <option class="placeholder-option" value="" selected>Статус</option>
                                    <option value="active" selected>активные</option>
                                    <option value="banned">забаненные</option>
                                    <option value="on_creating">на создании</option>
                                    <option value="locked">заблокированные</option>
                                    <option value="not_moderated">на модерации</option>
                                    <option value="deactivated">удаленные</option>
                                </select>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive">
                        <table-loading v-show="tableInitProcess"></table-loading>
                        <table v-show="!tableInitProcess" class="table table-bordered table-striped" id="photoPrivateModerationTable" style="width: 100%">
                            <thead>
                            <tr style="width: 100%">
                                <th style="min-width: 45px;">ID</th>
                                <th>Аватар</th>
                                <th class="sm-td">Клиентка</th>
                                <th class="sm-td">Статус</th>
                                <th class="sm-td">Партнер</th>
                                <th class="sm-td">Филиал</th>
                                <th class="sm-td">Админ</th>
                                <th class="sm-td">Дата загрузки</th>
                                <th>Действие</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="margin-top" id="cropPhotoInfo">
                    </div>
                </div>
                <div class="col-md-6">
                    <ul class="pagination pull-right" id="cropPhotoPagination">
                    </ul>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#cropModal"
                id="modalTrigger" style="display: none;">
            Launch demo modal
    </button>
        <div class="modal fade" id="cropModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document" style="width: 75%">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Модерация фото</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="cropp-img-wrapper" style="min-width: 100%">
                                    <img src="" class="cropImageInModal">
                                </div>
                            </div>
                            <div class="col-md-4 preview-wrapper" style="display: none;">
                                <div class="row" style="margin-top: 20px">
                                    <div class="col-md-12">
                                        <div class="large-preview">
                                            <div class="preview large"
                                                 style="max-width: 300px; max-height: 300px"></div>
                                        </div>
                                        <div class="row" style="margin-top: 20px">
                                            <div class="col-md-6">
                                                <div class="preview medium"
                                                     style="max-width: 160px; max-height: 160px"></div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="preview preview-small"
                                                     style="max-width: 60px; max-height: 60px;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer moderation-modal-buttons">
                        <button type="button" class="btn btn-warning " v-if="onModerationProcess"
                                :disabled="onModerationProcess"><i class="fa fa-circle-o-notch fa-spin"></i>
                            Обработка
                        </button>
                        <button type="button" v-if="!onModerationProcess" :disabled="onModerationProcess"
                                class="btn btn-danger" @click="closeCropModal">
                            <svg class="denied-svg" height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"><path d="M16 0C7.164 0 0 7.164 0 16s7.164 16 16 16 16-7.164 16-16S24.836 0 16 0zm0 4c2.59 0 4.973.844 6.934 2.242L6.238 22.93C4.84 20.97 4 18.586 4 16 4 9.383 9.383 4 16 4zm0 24c-2.59 0-4.973-.844-6.934-2.242L25.762 9.07C27.16 11.03 28 13.414 28 16c0 6.617-5.383 12-12 12z" /></svg>
                        </button>
                        <button type="button" v-if="!onModerationProcess" :disabled="onModerationProcess"
                                class="btn btn-success" @click="saveModeration">
                            <svg class="accept-svg" height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"><path fill="none" d="M0 0h32v32H0z"/><path d="M4 16l4-4 6 6L26 6l4 4-16 16"/></svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import toastr from 'toastr'
    import moment from 'moment'
    import Cropper from 'cropperjs'
    import mySelect from '../../custom/select2/component.vue'
    import Preloader from '../../custom/normalPreloader/component.vue'
    import TableLoading from '../../custom/tableLoader/component.vue'
	import {UPDATE_MODERATION_COUNTER} from '../../../mixins/updateModerationCounter'
    export default {
        name: 'PhotoModeration',
        data() {
            return {
                onModerationProcess: false,
                tableInitProcess: true,
                loading: true,
                table: null,
                photos: [],
                allPartners: [],
                allBranches: [],
                allAdmins: [],
                showBranches: [],
                showAdmins: [],
                searchById: '',
                searchByStatus: '',
                cropper: null,
                moderationObject: {},
                allWomen: [],
                showWomen: [],
                selectedPartner: '',
                selectedBranch: '',
                selectedAdmin: '',
                selectedWoman: '',
                countOfDataFetch: 0
            }
        },
        watch: {
            searchById(value) {
                this.searchInTable(0, value)
            },
            searchByStatus(value) {
                this.searchInTable(3, value)
            }
        },
		mixins: [
			UPDATE_MODERATION_COUNTER
		],
        methods: {
            tableResearch() {
                this.searchInTable(0, this.searchById);
                this.searchInTable(2, this.searchByStatus);
                this.searchInTable(4, this.selectedBranch);
                this.searchInTable(5, this.selectedAdmin);
                this.searchInTable(3, this.selectedPartner);
            },
            fetchAdminsByAgency(id) {
                this.$http.post('v2/agency/get/admin-in-agency', {
                    access_token: this.$cookie.get('access_token'),
                    agency_id: id
                }).then(data => {
                    if (data.body.status) {
                        this.showAdmins = data.body.result
                    } else {
                        toastr.error('Не могу загрузить список админов')
                    }
                }, err => {
                    toastr.error('Не могу загрузить список админов');
                    console.log(err);
                });
            },
            fetchWomanByAgency(value) {
                this.$http.post('v2/agency/get/woman-in-agency', {
                    access_token: this.$cookie.get('access_token'),
                    agency_id: value
                }).then(data => {
                    if (data.body.status) {
                        this.showWomen = data.body.result;
                        this.allPartners.forEach(p => {
                            if (p.id == value) {
                                this.showBranches = p.agency_branches
                            }
                        })
                    }
                })
            },
            selectBranchCallback(value) {
                if (value) {
                    this.allBranches.forEach(branch => {
                        if (branch.id == value) {
                            this.selectedBranch = branch.name;
                            this.searchInTable(5, branch.name);
                        }
                    });
                    this.fetchAdminsByAgency(value);
                    this.fetchWomanByAgency(value);
                } else {
                    this.searchInTable(5, '');
                    this.selectedBranch = '';
                }
            },
            selectAdminCallback(value) {
                if (value) {
                    this.allAdmins.forEach(admin => {
                        if (admin.id == value) {
                            this.searchInTable(6, admin.name);
							this.this.selectedAdmin = admin.name;
                        }
                    });
                    this.$http.post('v2/agency/get/agency-woman', {
                        access_token: this.$cookie.get('access_token'),
                        admin_id: value
                    }).then(data => {
                        if (data.body.status) {
                            this.showWomen = [];
                            data.body.result.forEach(woman => {
                                this.showWomen.push({
                                    id: woman.id,
                                    name: woman.fullName
                                })
                            })
                        } else {
                            toastr.error('Не могу получить список клиенток под админом');
                            toastr.info(data.body.desc);
                        }
                    }, err => {
                        toastr.error('Не могу получить скписок клиенток под админом');
                        console.log(err)
                    })
                } else {
                    this.showAdmins = this.allAdmins;
                    this.searchInTable(6, '')
                    this.this.selectedAdmin = '';
                }
            },
            selectPartnerCallback(value) {
                if (value) {
                    this.allPartners.forEach(partner => {
                        if (partner.id == value) {
                            this.selectedPartner = partner.name;
                            this.searchInTable(4, partner.name);
                        }
                    });
                    this.showWomen = [];
                    this.showAdmins = [];
                    this.fetchAdminsByAgency(value);
                    this.fetchWomanByAgency(value);
                } else {
                    this.searchInTable(4, '');
                    this.selectedPartner = '';
                    this.showWomen = this.allWomen;
                    this.showBranches = this.allBranches;
                    this.showAdmins = this.allAdmins;
                }
            },
            selectWomanCallback(value) {
                if (value) {
                    this.searchInTable(2, value);
                } else {
                    this.searchInTable(2, '')
                }
            },
            fetchBranches() {
                this.$http.post('v2/agency/get/branches', {
                    access_token: this.$cookie.get('access_token')
                }).then(data => {
                    if (data.body.status) {
                        this.allBranches = data.body.result;
                        this.showBranches = this.allBranches
                    } else {
                        toastr.error('Не могу получить список филиалов')
                        toastr.info(data.body.desc)
                    }
                }, err => {
                    toastr.error('Не могу получить список филиалов')
                })
            },
            fetchAdmins() {
                this.$http.post('v2/agency/get/admins', {
                    access_token: this.$cookie.get('access_token')
                }).then(data => {
                    if (data.body.status) {
                        let admins = data.body.result;
                        let adminsPrettyArray = [];
                        admins.forEach(a => {
                            adminsPrettyArray.push({
                                id: a.admin_user_id,
                                name: a.admin_name + ' ' + a.admin_surname,
                            })
                        });
                        this.allAdmins = adminsPrettyArray;
                        this.showAdmins = adminsPrettyArray;
                    } else {
                        toastr.error('Не могу получить список админов сайта')
                    }
                }, err => {
                    toastr.error('Не могу получить список админов сайта')
                })
            },
            fetchPartner() {
                this.$http.post('v2/agency/get/list', {
                    access_token: this.$cookie.get('access_token')
                }).then(data => {
                    if (data.body.status) {
                        this.allPartners = data.body.result;
                    } else {
                        toastr.error('Не могу загрузить список партнеров');
                        toastr.info(data.body.desc);
                    }
                }, err => {
                    toastr.error('Не могу загрузить список партнеров')
                })
            },
            fetchWomen() {
                this.$http.post('v2/femal/load-list', {
                    access_token: this.$cookie.get('access_token')
                }).then(data => {
                    if (data.body.status) {
                        let normalArray = [];
                        data.body.result.forEach(woman => {
                            normalArray.push({
                                id: woman.user_id,
                                name: woman.name + ' ' + woman.surname
                            })
                        })
                        this.allWomen = normalArray;
                        this.showWomen = normalArray;
                    } else {
                        toastr.error('Не могу загрузить список клиенток')
                    }
                }, err => {
                    toastr.error('Не могу загрузить список клиенток')
                })
            },
            searchInTable(col, value) {
                if (this.table !== null) {
                    let found = this.table.column(col)
                        .search(value, false, false)
                        .draw();
                }
            },
            closeCropModal() {
                this.onModerationProcess = true;
                this.$http.post('v2/moderation/moderate/new-private-photos', {
                    access_token: this.$cookie.get('access_token'),
                    photo_id: this.moderationObject.photo_id,
                    photo_moderation: 'reject',
                    x: this.moderationObject.x,
                    y: this.moderationObject.y,
                    width: this.moderationObject.width,
                    height: this.moderationObject.height,
                }).then(data => {
                    if (data.body.status) {
                        toastr.success('Отклонено!');
					this.updateModerationCounters();
                        this.onModerationProcess = false;
                        setTimeout(() => {
                            this.fetchData(false);
                            document.querySelector('#modalTrigger').click();
                        }, 300)
                        let count = 0;
                        this.photos.forEach(photo => {
                            if (photo.id === this.moderationObject.photo_id) {
                                this.photos.splice(1, count);
                                console.log('Remove photo')
                            } else {
                                count++;
                            }
                        });
                        this.splicePhotoById(this.moderationObject.photo_id);
                        setTimeout(() => {
                            if(this.photos.length === 1) {
                                if(this.table !== null) {
                                    this.table.clear().draw();
                                }
                                this.photos = [];
                                this.initTable();
                            }else {
                                this.fetchData(false);
                            }
                        }, 100)
                    } else {
                        toastr.error('Ошибка отклонения фото!');
                        this.onModerationProcess = false;
                    }
                }, err => {
                    toastr.error('Ошибка обработки фото!')
                    this.onModerationProcess = false;
                })
            },
            saveModeration() {
                this.onModerationProcess = true;
                toastr.info('Начинаю обработку фото!');
                this.$http.post('v2/moderation/moderate/new-private-photos', {
                    access_token: this.$cookie.get('access_token'),
                    photo_id: this.moderationObject.photo_id,
                    photo_moderation: 'accept',
                    x: this.moderationObject.x,
                    y: this.moderationObject.y,
                    width: this.moderationObject.width,
                    height: this.moderationObject.height,
                }).then(data => {
                    if (data.body.status) {
                        setTimeout(() => {
                            document.querySelector('#modalTrigger').click();
                            let count = 0;
                            this.photos.forEach(photo => {
                                if (photo.id === this.moderationObject.photo_id) {
                                    this.photos.splice(1, count);

                                } else {
                                    count++;
                                }
                            });
                            this.splicePhotoById(this.moderationObject.photo_id);
                            setTimeout(() => {
                                if(this.photos.length === 1) {
                                    if(this.table !== null) {
                                        this.table.clear().draw();
                                    }
                                    this.photos = [];
                                    this.initTable();
                                }else {
                                    this.fetchData(false);
                                }
                            }, 100)
                        }, 300);
                        this.onModerationProcess = false;
						this.updateModerationCounters()
                        toastr.success('Фото промодерировано!')
                    } else {
                        toastr.error('Ошибка обработки фото!');
                        toastr.info(data.body.desc)
                        this.onModerationProcess = false;
                    }
                }, err => {
                    toastr.error('Ошибка обработки фото!')
                    this.onModerationProcess = false;
                })
            },
            setCropImageParams(obj) {
                this.moderationObject = obj;
            },
            splicePhotoById(idToRemove) {
                let count = 0;
                this.photos.forEach(photo => {
                    if(photo.id === idToRemove) {
                        this.photos.splice(count, 1)
                    }else {
                        count++;
                    }
                })
            },
            fetchData(needAll) {
                this.photos = [];
                if(needAll) {
                    this.loading = true;
                }else {
                    this.tableInitProcess = true;
                }
                this.$http.post('v2/moderation/get/new-private-photos', {
                    access_token: this.$cookie.get('access_token')
                }).then(data => {
                    if (data.body.status) {
                        this.photos = data.body.result;
                        this.countOfDataFetch++;
                        if(needAll) {
                            this.fetchPartner();
                            this.fetchWomen();
                            this.fetchBranches();
                            this.fetchAdmins();
                        }
                        setTimeout(() => {
                            this.loading = false;
                            setTimeout(() => {
                                this.initTable();
                            }, 40)
                        }, 100)
                    } else {
                        toastr.error(data.body.desc)
                    }
                }, err => {
                    toastr.error('Не могу получить список фото')
                })
            },
            initTable() {
                this.tableInitProcess = true;
                let preparedData = [];
                let count = 0;
                this.photos.forEach(photo => {
                    if(photo.id === this.moderationObject.photo_id) {
                        console.log('HUI');
                    }else{
                        let status = '<strong>активная <span style="display: none">' + photo.status + '</span> </strong>';
                        if (photo.status === 'deactivated') {
                            status = '<span class="text-yellow">удалена <span style="display: none">' + photo.status + '</span></span>'
                        }
                        if (photo.status === 'banned') {
                            status = '<strong class="text-red">забанена <span style="display: none">' + photo.status + '</span></strong>'
                        }
                        if (photo.status === 'not_moderated') {
                            status = '<strong class="text-yellow">на модерации <span style="display: none">' + photo.status + '</span></strong>'
                        }
                        if (photo.status === 'on_creating') {
                            status = '<strong class="text-yellow">на создании <span style="display: none">' + photo.status + '</span></strong>'
                        }
                        if (photo.status === 'lock') {
                            status = '<strong class="text-black">заблокированна <span style="display: none">' + photo.status + '</span></strong>'
                        }
                        preparedData.push([
                            photo.id,
							'<img src="'+photo.avatar.small+'" class="img-responsive img-rounded">',
                            '<a class="show-woman" style="cursor: pointer;" data-id="'+photo.user.id+'">' + photo.user.name + '(' + photo.user.id + ')' + ' <span style="display: none;">' + photo.user.id + '</span> </a>',
                            status,
                            photo.agency.name + '<span style="display: none;">' + photo.agency.id + '</span>',
                            photo.branch.name + '<span style="display: none;">' + photo.branch.id + '</span>',
                            photo.admin.name + '<span style="display: none;">' + photo.admin.id + '</span>',
                            moment(photo.created_at * 1000).format('LLL'),
                            '<a class="btn btn-primary btn-block cropper-modal-link" href="#" data-title="Модерация фото" data-imgid="' + photo.photo.id + '" data-imgpath="' + photo.photo.file_path + '">Модерировать</a>'
                        ])
                    }
                    count++;
                });
                if(count === this.photos.length) {
                    this.initDataInTable(preparedData);
                }else {
                    console.log('Data not found');
                    this.initDataInTable([]);
                }

            },
            initEventListeners() {
                $('#cropModal').on('hidden.bs.modal', () => {
                    document.querySelector('.cropImageInModal').src = '';
                    let previews = $('.preview > img');
                    for(let i = 0; i < previews.length; i++) {
                        $(previews[i]).attr('src', '#');
                    }
                    if (this.cropper !== null) {
                        this.cropper.destroy();
                    }
                });
                let imgParamsSetter = this.setCropImageParams;
                $('#photoPrivateModerationTable').on('click', '.show-woman', (event) => {
                    this.$router.push(`/woman/view/${event.target.dataset.id}`);
                });
                $('#photoPrivateModerationTable').on('click', '.cropper-modal-link', (event) => {
                    let $previews = $('.preview');
                    let cImage = document.createElement('img');
                    cImage.className='cropImageInModal';
                    $('.cropp-img-wrapper').append(cImage)
                    let photoId = event.target.dataset.imgid;
                    let trigger = document.querySelector('#modalTrigger');
                    let imageToCrop = document.querySelector('.cropImageInModal');
                    imageToCrop.src = '#';
                    imageToCrop.src = event.target.dataset.imgpath + '?' + Math.floor((Math.random() * 99999999) + 1);
                    if (this.cropper !== null) {
                        this.cropper.destroy();
                    }
                    this.cropper = new Cropper(imageToCrop, {
                        checkImageOrigin: false,
                        checkCrossOrigin: false,
                        minCanvasWidth: '600px',
                        minCanvasHeight: '100%',
                        minContainerWidth: 700,
                        minContainerHeight: 700,
                        strict: true,
                        autoCropArea: 1,
                        checkOrientation: false,
                        zoomable: false,
                        scalable: false,
                        cropBoxResizable: true,
                        aspectRatio: 1 / 1,
                        viewMode: 2,
                        movable: false,
                        toggleDragModeOnDblclick: false,
                        rotatable: false,
                        ready: function (e) {
                            let $clone = $(this).clone().removeClass('cropper-hidden');
                            $previews.css({
                                width: '100%',
                                overflow: 'hidden'
                            }).html($clone);
                        },
                        crop: function (e) {
                            $('.preview-wrapper').show();
                            let imageData = e.target.cropper.initialImageData;
                            let previewAspectRatio = e.detail.width / e.detail.height;
                            imgParamsSetter({
                                x: Math.round(e.detail.x),
                                y: Math.round(e.detail.y),
                                width: Math.round(e.detail.width),
                                height: Math.round(e.detail.height),
                                photo_id: photoId
                            });
                            $previews.each(function () {
                                let $preview = $(this);
                                let previewWidth = $preview.width();
                                let previewHeight = previewWidth / previewAspectRatio;
                                let imageScaledRatio = e.detail.width / previewWidth;
                                $preview.height(previewHeight).find('img').css({
                                    width: imageData.naturalWidth / imageScaledRatio,
                                    height: imageData.naturalHeight / imageScaledRatio,
                                    marginLeft: -e.detail.x / imageScaledRatio,
                                    marginTop: -e.detail.y / imageScaledRatio
                                });
                            })
                        }
                    });
                    trigger.click();
                });
            },
            initDataInTable(preparedData) {
                console.log('Try init table');
                if(this.table !== null) {
                    this.table.destroy();
                    $('#photoPrivateModerationTable_filter').remove();
                    $('#photoPrivateModerationTable_length').remove();
                    $('#photoPrivateModerationTable_paginate').remove();
                    $('#photoPrivateModerationTable_info').remove();
                    $('#cropPhotoPagination').append($('#photoPrivateModerationTable_paginate'))
                    $('#cropPhotoInfo').append($('#photoPrivateModerationTable_info'))
                }
                this.table = $('#photoPrivateModerationTable').DataTable({
                    iDisplayLength: 20,
                    deferRender: true,
                    data: preparedData,
                    "oLanguage": {
                        "sLengthMenu": "Отображено _MENU_ записей на страницу",
                        "sSearch": "Поиск:",
                        "sZeroRecords": "Ничего не найдено - извините",
                        "sInfo": "Показано с _START_ по _END_ из _TOTAL_ записей",
                        "sInfoEmpty": "Показано с 0 по 0 из 0 записей",
                        "sInfoFiltered": "(отфильтровано из _MAX_ записей)",
                        "oPaginate": {
                            "sFirst": "Первая",
                            "sLast": "Посл.",
                            "sNext": "След.",
                            "sPrevious": "Пред.",
                        }
                    },
                });
                if(this.table !== null) {
                    $('#photoPrivateModerationTable_filter').remove();
                    $('#photoPrivateModerationTable_length').remove();
                    $('#cropPhotoPagination').append($('#photoPrivateModerationTable_paginate'))
                    $('#cropPhotoInfo').append($('#photoPrivateModerationTable_info'))
                }
                setTimeout(() => {
                    if(this.countOfDataFetch === 1) {
                        this.initEventListeners();
                    }
                    setTimeout(() => {
                        this.tableResearch();
                        this.tableInitProcess = false;
                    }, 40);
                }, 100)
            },
        },
        beforeMount() {
            this.fetchPartner();
        },
        mounted() {
            this.fetchData(true);
            $('.preview-wrapper').hide();

        },
        components: {
            'my-select': mySelect,
            'normal-loader': Preloader,
            'table-loading': TableLoading
        }
    }
</script>

<style lang="scss" scoped>
    .moderation-modal-buttons {
    .btn {
        line-height: 1;
        height: 42px;
    }
    .denied-svg {
        fill: white;
        height: 24px;
        width: 24px;
    }
    .accept-svg {
        fill: white;
        height: 24px;
        width: 24px;
    }
    }
    .large-preview {
        display: flex;
        flex-direction: row;
    }
</style>
