<template>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-blue box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Модерация изменений профайлов</h3>
                </div>
                <div class="box-body no-padding">
                    <form class="row">
                        <div class="form-group margin">
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="ID" v-model="searchById">
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="Имя или фамилия"
                                       v-model="searchByName">
                            </div>
                            <div class="col-md-2">
                                <my-select :options="displayedPartners" :placeholder="'Партнер'" v-model="partner"
                                           @select="selectPartnerCallback($event)"></my-select>
                            </div>
                            <div class="col-md-2">
                                <my-select :options="displayedBranches" :placeholder="'Филиал'" v-model="branch"
                                           @select="selectBranchCallback($event)"></my-select>
                            </div>
                            <div class="col-md-2">
                                <my-select :options="displayedAdmins" :placeholder="'Админ'" v-model="admin"
                                           @select="selectAdminCallback($event)"></my-select>
                            </div>
                        </div>
                    </form>
                    <sst :loader="loading" @load="fetchData" :sort="sort" :data="photos"
                         :count="count" :loadParams="loadParams" :order="order" :pagination="pagination">
                        <tr v-for="i in photos" :key="i.id" slot="tbody">
                            <td>{{i.id}}</td>
                            <td><img style="width: 60px;" :src="i.profile_avatar_file" class="img-responsive img-rounded" :alt="i.name"></td>
                            <td>
                                <router-link :to="{name: 'Профиль клиентки', params: {woman: i.user_id}}">{{i.name}}
                                </router-link>
                            </td>
                            <td>{{i.passport}}</td>
                            <td>{{i.note}}</td>
                            <td>
                                <router-link :to="{name: 'Просмотр партнера', params: {id: i.main_agency_id}}">
                                    {{i.main_agency_name}} (id: {{i.main_agency_id}})
                                </router-link>
                            </td>
                            <td>
                                <template v-if="i.branch_agency_id">
                                    <router-link :to="{name: 'Просмотр партнера', params: {id: i.branch_agency_id}}">
                                        {{i.branch_agency_name}} (id: {{i.branch_agency_id}})
                                    </router-link>
                                </template>
                                <template v-else>
                                    Не указан
                                </template>
                            </td>
                            <td>
                                <template v-if="i.admin_id">
                                    <router-link :to="{name: 'Профиль админа', params: {admin: i.admin_id}}">
                                        {{i.admin_name}} (id: {{i.admin_id}})
                                    </router-link>
                                </template>
                                <template v-else>
                                    Не указан
                                </template>
                            </td>
                            <td>{{date(i.created_at)}}</td>
                            <td>
                                <router-link  class="btn btn-primary btn-block"
                                              :to="{name: 'Модерация изменения профиля', params: {moderation: i.id}}">Модерировать
                                </router-link>
                            </td>
                        </tr>
                    </sst>
                </div>
            </div>
        </div>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#cropModal"
                id="modalTrigger" style="display: none;">
            Launch demo modal
        </button>
        <div class="modal fade" id="cropModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Разрешить установку как аватар?</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="img-container">
                                    <img src="" class="cropImageInModal img-responsive">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-md-6">

                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="btn btn-danger" @click="closeCropModal">Отклонить фото</div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="btn btn-success" @click="saveModeration">
                                            Принять
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
	import toastr from 'toastr'
	import moment from 'moment'
	import Cropper from 'cropperjs'
	import mySelect from '../../custom/select2/select-new.vue'
	import { UPDATE_MODERATION_COUNTER } from '../../../mixins/updateModerationCounter'
	import sst from '../../custom/serverSideTable.vue'
	import { SS_SORT_TABLE } from '../../../mixins/utils'
	import _ from 'lodash'

	export default {
		name: 'AvatarModeration',
		data() {
			return {
				partner: 0,
				branch: 0,
				admin: 0,
				woman: 0,
				loading: true,
				statusSearch: '',
				photos: [],
				allPartners: [],
				allBranches: [],
				allAdmins: [],
				showBranches: [],
				showAdmins: [],
				searchById: '',
				searchByStatus: '',
				cropper: null,
				moderationObject: {},
				allWomen: [],
				showWomen: [],
				searchByName: '',
				sort: [
					{ active: false, name: 'id', column: 'ID' },
					{ active: false, name: '', column: 'Аватар' },
					{ active: false, name: 'name', column: 'ИФ' },
					{ active: false, name: 'passport', column: 'Паспорт' },
					{ active: false, name: 'note', column: 'Примечание' },
					{ active: false, name: 'main_agency_id', column: 'Партнер' },
					{ active: false, name: 'branch_agency_id', column: 'Филиал' },
					{ active: false, name: 'admin_id', column: 'Админ' },
					{ active: true, name: 'created_at', column: 'Дата регистрации' },
					{ active: false, name: '', column: 'Действие' },
				],
			}
		},
		mixins: [
			UPDATE_MODERATION_COUNTER,
			SS_SORT_TABLE
		],
		computed: {
			displayedPartners() {
				return this.allPartners.map( i => {
					return {
						id: +i.id,
						name: `${i.name} (id: ${i.id})`
					}
				} )
			},
			displayedBranches() {
				return this.allBranches.map( i => {
					return {
						id: +i.id,
						name: `${i.name} (id: ${i.id})`
					}
				} )
			},
			displayedAdmins() {
				return this.allAdmins.map( i => {
					if ( i.admin_name ) {
						return {
							id: +i.admin_user_id,
							name: `${(i.admin_name.trim() + ' ' + i.admin_surname.trim()).trim()} (id: ${i.admin_user_id})`
						}
					}
					return {
						id: +i.id,
						name: `${i.name.trim()} (id: ${i.id})`
					}
				} )
			},
			displayedWomen() {
				//TODO: fit answers
				return this.allWomen.map( i => {
					if ( 'fullName' in i ) {
						return {
							id: +i.id,
							name: `${i.fullName.trim()} (id: ${i.id})`
						}
					} else if ( 'surname' in i ) {
						return {
							id: +i.user_id,
							name: `${(i.name.trim() + ' ' + i.surname.trim()).trim()} (id: ${i.user_id})`
						}
					}
					return {
						id: +i.id,
						name: `${i.name.trim()} (id: ${i.id})`
					}
				} )
			},
		},
		watch: {
			statusSearch( value ) {
				this.resetPagination();
				this.fetchData()
			},
			searchById( value ) {
				this.resetPagination();
				this.search()
			},
			searchByName( value ) {
				this.resetPagination();
				this.search()
			},
			searchByStatus( value ) {
				this.resetPagination();
				this.fetchData()
			}
		},
		methods: {
			search: _.debounce( function () {
				this.fetchData()
			}, 300 ),
			selectPartnerCallback( value ) {
				this.branch = this.admin = this.woman = this.man = 0;
				this.resetPagination();
				this.fetchData();
				if ( value ) {
					this.fetchAdminsByAgency( value );
					this.fetchWomanByAgency( value );
					this.fetchBranchByAgency( value )
				} else {
					this.fetchBranches();
					this.fetchAdmins();
					this.fetchWomen();
				}
			},
			selectBranchCallback( value ) {
				if ( !this.partner ) {
					this.admin = this.woman = this.man = 0;
				}
				if ( value ) {
					this.resetPagination();
					this.fetchData();
					this.fetchAdminsByAgency( value );
					this.fetchWomanByAgency( value );
				} else {
					if ( !this.partner ) {
						this.fetchBranches();
						this.fetchAdmins();
						this.fetchWomen();
						this.resetPagination();
						this.fetchData()
					}
					if ( this.partner ) {
						this.selectPartnerCallback( this.partner )
					}
				}
			},
			selectAdminCallback( value ) {
				this.woman = 0;
				if ( value ) {
					this.resetPagination();
					this.fetchData();
				} else {
					this.selectBranchCallback( this.branch )
					this.fetchWomen();
				}
			},
			selectManCallback() {
				this.resetPagination();
				this.fetchData();
			},
			selectWomanCallback() {
				this.resetPagination();
				this.fetchData()
			},
			fetchAdminsByAgency( id ) {
				this.$http.post( 'v2/agency/get/admin-in-agency', {
					access_token: this.$cookie.get( 'access_token' ),
					agency_id: id
				} ).then( data => {
					if ( data.body.status ) {
						this.allAdmins = data.body.result;
					} else {
						toastr.error( 'Не могу загрузить список админов' )
					}
				}, err => {
					toastr.error( 'Не могу загрузить список админов' );
					console.log( err );
				} );
			},
			fetchWomanByAgency( value ) {
				this.$http.post( 'v2/agency/get/woman-in-agency', {
					access_token: this.$cookie.get( 'access_token' ),
					agency_id: value
				} ).then( data => {
					if ( data.body.status ) {
						this.allWomen = data.body.result;
					}
				} )
			},
			fetchBranchByAgency( value ) {
				this.$http.post( 'v2/agency/get/branches', {
					access_token: this.$cookie.get( 'access_token' ),
				} ).then( data => {
					if ( data.body.status ) {
						this.allBranches = data.body.result.filter( i => i.duty_agency.id === value )
					}
				} )
			},
			fetchBranches() {
				this.$http.post( 'v2/agency/get/branches', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( data => {
					if ( data.body.status ) {
						this.allBranches = data.body.result;
					} else {
						toastr.error( 'Не могу получить список филиалов' )
						toastr.info( data.body.desc )
					}
				}, err => {
					toastr.error( 'Не могу получить список филиалов' )
				} )
			},
			fetchAdmins() {
				this.$http.post( 'v2/agency/get/admins', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( data => {
					if ( data.body.status ) {
						this.allAdmins = data.body.result
					} else {
						toastr.error( 'Не могу получить список админов сайта' )
					}
				}, err => {
					toastr.error( 'Не могу получить список админов сайта' )
				} )
			},
			fetchPartner() {
				this.$http.post( 'v2/agency/get/list', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( data => {
					if ( data.body.status ) {
						this.allPartners = data.body.result;
					} else {
						toastr.error( 'Не могу загрузить список партнеров' )
						toastr.info( data.body.desc );
					}
				}, err => {
					toastr.error( 'Не могу загрузить список партнеров' )
				} )
			},
			fetchWomen() {
				this.$http.post( 'v2/femal/load-list', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( data => {
					if ( data.body.status ) {
						this.allWomen = data.body.result
					} else {
						toastr.error( 'Не могу загрузить список клиенток' )
					}
				}, err => {
					toastr.error( 'Не могу загрузить список клиенток' )
				} )
			},
			closeCropModal() {
				this.$http.post( 'v2/moderation/moderate/avatar', {
					access_token: this.$cookie.get( 'access_token' ),
					moderation_id: this.moderationObject.moderation,
					status: 'reject',
				} ).then( data => {
					if ( data.body.status ) {
						toastr.success( 'Отклонено!' )
						this.updateModerationCounters();
						setTimeout( () => {
							this.fetchData();
							document.querySelector( '#modalTrigger' ).click();
						}, 300 )
					} else {
						toastr.error( 'Ошибка отклонения фото!' )
						toastr.info( data.body.desc )
					}
				}, err => {
					toastr.error( 'Ошибка обработки фото!' )
				} )
			},
			saveModeration() {
				toastr.info( 'Начинаю обработку фото!' );
				this.$http.post( 'v2/moderation/moderate/avatar', {
					access_token: this.$cookie.get( 'access_token' ),
					moderation_id: this.moderationObject.moderation,
					status: 'accept',
				} ).then( data => {
					if ( data.body.status ) {
						toastr.success( 'Фото промодерировано!' )
						this.updateModerationCounters();
						setTimeout( () => {
							document.querySelector( '#modalTrigger' ).click();
							this.fetchData();
						}, 300 )
					} else {
						toastr.error( 'Ошибка обработки фото!' )
						toastr.info( data.body.desc )
					}
				}, err => {
					toastr.error( 'Ошибка обработки фото!' )
				} )
			},
			setModerationParams( obj ) {
				this.moderationObject = obj;
			},
			fetchData() {
				window.scrollTo( 0, 0 );
				this.loading = true;
				this.$http.post( 'v2/moderation/get/profile-updates', {
					access_token: this.$cookie.get( 'access_token' ),
					offset: this.loadParams.offset,
					limit: this.loadParams.limit,
					order_type: this.order.type,
					order_by: this.order.by,
					main_agency_id: this.partner || '',
					branch_agency_id: this.branch || '',
					admin_id: this.admin || '',
					name: this.searchByName,
					user_id: this.searchById
				} ).then( data => {
					if ( data.body.status ) {
						this.photos = data.body.result.list;
						this.count = +data.body.result.count
					} else {
						toastr.error( data.body.desc )
					}
					this.loading = false;
				}, err => {
					toastr.error( 'Не могу получить список фото' )
				} )
			},
			date(ts) {
				return moment(ts * 1000).format('LLL')
			}
		},
		mounted() {
			this.updOrderParams( {
				type: 'desc',
				by: 'created_at'
			} );
			this.fetchData();
			this.fetchPartner();
			this.fetchBranches();
			this.fetchAdmins();
			this.fetchWomen();

		},
		components: {
			'my-select': mySelect,
			sst
		}
	}
</script>

