<template>
  <div class="row">
    <div class="col-md-12">
      <div class="box box-blue box-solid">
        <div class="box-header with-border">
          <h3 class="box-title">Модерация изменений профайлов</h3>
        </div>
        <div class="box-body no-padding">
          <form class="row">
            <div class="form-group margin">
              <div class="col-md-2">
                <input type="text" class="form-control" placeholder="ID" v-model="user_id">
              </div>
              <div class="col-md-2">
                <input type="text" class="form-control" placeholder="Имя или фамилия"
                       v-model="name">
              </div>
              <pfaw @selectChange="selectChange" :withWoman="false"></pfaw>
            </div>
          </form>
          <sst :loader="loader" @load="fetchData" :sort="sort" :data="data"
               :count="count" :loadParams="loadParams" :order="order" :pagination="pagination">
            <tr slot="tbody" v-for="i in data" :key="i.id">

              <td>
                <router-link :to="{name: 'Профиль клиентки', params: {woman: i.user_id}}"> {{i.user_id}}
                </router-link>
              </td>
              <td>
                <router-link :to="{name: 'Профиль клиентки', params: {woman: i.user_id}}">
                  <img :src="i.profile_avatar_file" :alt="'Аватар ' + i.name" class="img-responsive img-rounded" width="60px">
                </router-link>
              </td>
              <td>
                <router-link :to="{name: 'Профиль клиентки', params: {woman: i.user_id}}">{{i.name}} (id:{{i.user_id}})
                </router-link>
              </td>
              <td>
                {{i.passport}}
              </td>
              <td>
                <router-link :to="{name: 'Просмотр партнера', params: {id: i.main_agency_id}}">
                  {{i.main_agency_name}} (id: {{i.main_agency_id}})
                </router-link>
              </td>
              <td>
                <template v-if="i.branch_agency_id">
                  <router-link :to="{name: 'Просмотр партнера', params: {id: i.branch_agency_id}}">
                    {{i.branch_agency_name}} (id: {{i.branch_agency_id}})
                  </router-link>
                </template>
                <template v-else>
                  Не указан
                </template>
              </td>
              <td>
                <template v-if="i.admin_id">
                  <router-link :to="{name: 'Профиль админа', params: {admin: i.admin_id}}">
                    {{i.admin_name}} (id: {{i.admin_id}})
                  </router-link>
                </template>
                <template v-else>
                  Не указан
                </template>
              </td>

              <td>
                {{ date( i.user_created_at )}}
              </td>

              <td>
                <router-link  class="btn btn-primary btn-block"
                              :to="{name: 'Модерация изменения профиля', params: {moderation: i.id}}">Модерировать
                </router-link>
              </td>
            </tr>
          </sst>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>
</template>

<script>
  import moment from 'moment'
  import toastr from 'toastr'
  import _ from 'lodash'
  import sst from '../../custom/serverSideTable.vue'
  import mySelect from '../../custom/select2/select-new.vue'
  import pfaw from '../../custom/relativeSelect/component.vue'
  import { SS_SORT_TABLE } from '../../../mixins/utils'

  export default {
    props: {
      routeNew: Number,
      routePay: Number,
      routeOnline: Number,
      routeRNew: Number
    },
    data() {
      return {
        loader: true,
        data: [],
        user_id: '',
        name:'',
        sort: [
          { active: true, name: 'user_id', column: 'ID' },
          { active: false, name: '', column: 'Аватар' },
          { active: false, name: 'name', column: 'ИФ клиентки' },
          { active: false, name: 'passport', column: 'Паспорт' },
          { active: false, name: 'main_agency_id', column: 'Партнер' },
          { active: false, name: 'branch_agency_id', column: 'Филиал' },
          { active: false, name: 'admin_id', column: 'Админ' },
          { active: false, name: 'user_created_at', column: 'Дата регистрации' },
          { active: false, name: '', column: 'Действие' },
        ],
      }
    },

    mixins: [ SS_SORT_TABLE ],
    watch: {
      user_id() {
        this.resetPagination();
        this.search();
      },

      name() {
        this.resetPagination();
        this.search();
      },
    },
    methods: {

      selectChange( value ){
        this.resetPagination();
        this.partner = value.partner
        this.branch = value.branch
        this.admin = value.admin
        this.woman = value.woman
        this.fetchData();
      },
      search: _.debounce( function () {
        this.fetchData()
      }, 300 ),
      fetchData() {
        window.scrollTo( 0, 0 );
        this.loader = true;
        this.$http.post( 'v2/moderation/get/profile-updates', {
          access_token: this.$cookie.get( 'access_token' ),
          offset: this.loadParams.offset,
          limit: this.loadParams.limit,
          order_type: this.order.type,
          order_by: this.order.by,
          user_id:this.user_id,
          name:this.name,
          main_agency_id: this.partner || '',
          branch_agency_id: this.branch || '',
          admin_id: this.admin || '',

        } ).then( data => {
          if ( data.body.status ) {
            this.data = data.body.result.list;
            this.count = +data.body.result.count;
          } else {
            this.data = [];
            this.count = 0;
            toastr.error( 'Не могу получить данные' );
            toastr.info( data.body.desc );
          }
          this.loader = false;
        }, err => {
          this.loader = false;
          this.data = [];
          this.count = 0;
          toastr.error( 'Ошибка API' );
          console.log( err );
        } )
      },
      date( ts ) {
        if ( this.localTZ ) {
          return moment( ts * 1000 ).format( 'LLL' )
        }
        return moment( ts * 1000 ).utc().format( 'LLL' )

      },
    },
    computed: {

    },

    mounted() {
      this.$nextTick( () => {
        this.updOrderParams( {
          type: 'desc',
          by: 'user_id'
        } );
        this.fetchData();
      } )
    },

    beforeMount() {
      this.updOrderParams( {
        type: 'desc',
        by: 'user_id'
      } );
    },

    components: {
      sst,
      mySelect,
      pfaw
    }
  }
</script>

<style scoped>
  .is-new {
    border-radius: 8px;
    border: 2px solid #ff4614;
    text-transform: uppercase;
    font-size: 9px;
    font-weight: 700;
    display: flex;
    padding: 0 3px;
    width: 32px;
    height: 17px;
    align-items: center;
    line-height: 1;
    color: #ff4614;
    background: #fff;
    margin-left: 3px;
  }
</style>
