<template>
  <div class="modal-password-wrap">
    <button
        type="button"
        class="btn btn-primary pull-left btn-sm"
        data-toggle="modal"
        data-target="#changePasswordModal"
    >
      <i class="fa fa-lg fa-lock"></i>
    </button>
    <div
        class="modal fade"
        id="changePasswordModal"
        tabindex="-1"
        role="dialog"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
            ><span
                aria-hidden="true">×</span></button>
            <h4 class="modal-title" id="myModalLabel">Изменить пароль</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label>Пароль</label>
              <input class="form-control input-sm" type="text" v-model="password">
            </div>
            <div class="form-group">
              <label for="edit-change-password"> <input type="checkbox" v-model="sendToEmail" id="edit-change-password">  Отправить на почту</label>
            </div>
          </div>
          <div class="modal-footer clearfix">
            <button type="button" class="btn btn-primary pull-right" @click="changePassword">Отправить</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import toastr from 'toastr'
export default {
  name: 'ChangePasswordModal',
  data() {
    return {
      sendToEmail: 1,
      password: ''
    }
  },
  props: {
    user: Number
  },
  methods: {
    async changePassword() {
      const MIN_LENGTH = 6;
      const MAX_LENGTH = 15;

      if (this.password.length <= MIN_LENGTH || this.password.length >= MAX_LENGTH) {
        toastr.info(`Пароль должен быть между ${MIN_LENGTH} и ${MAX_LENGTH} символов`);
        return;
      }

      try {
        const {body} = await this.$http.post('v2/member/establish/password', {
          access_token: this.$cookie.get('access_token'),
          password: this.password,
          user_id: this.user,
          send_on_email: Number(this.sendToEmail)
        });

        if (!body.status) {
          throw new Error();
        }

        toastr.success('Пароль успешно изменен');
      } catch (err) {
        console.error(err);
        toastr.error(`Не могу сменить пароль пользователю ${this.user}`);
      } finally {
        this.closeModal();
      }
    },
    closeModal() {
      this.password = '';
      $('#changePasswordModal').modal('hide');
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.password = '';
    })
    /*$('.modal-body input[type=checkbox]').iCheck({
        checkboxClass: 'icheckbox_square-blue',
        radioClass: 'iradio_square-white',
        increaseArea: '20%'
    });
    $('.modal-body input[type=checkbox]').on('ifChecked', (e) => {
        this.sendToEmail = 1;
    });
    $('.modal-body input[type=checkbox]').on('ifUnchecked', (e) => {
        this.sendToEmail = 0;
    });*/
  }
}
</script>

<style scoped>
    #changepasswordmodalButton {
        display: block;
        position: relative;
        float: left;
        z-index: 700;
    }
</style>
