<!--<template>-->
    <!--<div class="loading-table">-->
        <!--<div class="loading-table-item loading-table-item&#45;&#45;top"></div>-->
        <!--<div class="loading-table-item">-->
            <!--<moon-loader :loading="true" :color="'#2c3e50'" :size="'30px'"></moon-loader>-->
        <!--</div>-->
        <!--<div class="loading-table-item loading-table-item&#45;&#45;bottom"></div>-->
    <!--</div>-->
<!--</template>-->

<template>
    <div class="loader">
      <moon-loader
        :loading="true"
        :color="'#2c3e50'"
        :size="60"
      />
    </div>
</template>

<script>
    import MoonLoader from '@/components/custom/MoonLoaderNew.vue'
    export default {
        name: 'TableLoader',
        components: {
            'moon-loader': MoonLoader
        }
    }
</script>

<style>
    .loader{
        justify-content: center;
        display: inline-flex;
        margin: 0 auto;
    }
    .loading-table {
        border-top: 1px solid #f4f4f4;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100px;
    }
    .loading-table-item {
        max-width: 50%;
    }
    .loading-table-item--top {
        align-self: flex-start;
    }
    .loading-table-item--bottom {
        align-self: flex-end;
    }
</style>
