<template>
  <div class="row m-ch">
    <profile-modal-app></profile-modal-app>
    <select-woman-modal-app></select-woman-modal-app>
    <left-box-app></left-box-app>
    <middle-box-app></middle-box-app>
    <right-box-app></right-box-app>
    <mail-modal></mail-modal>
  </div>
</template>

<script>

  import LeftBox from './components/areas/leftArea';
  import MiddleBox from './components/areas/middleArea';
  import RightBox from './components/areas/rightArea';
  import SelectWomanModal from './components/modals/selectWomanModal';
  import ProfileModal from './components/modals/profileModal'
  import MailModal from './components/modals/WriteMailModal.vue'

  export default {
    name: 'MultiChatIndex',
    data() {
      return {};
    },
    components: {
      'left-box-app': LeftBox,
      'middle-box-app': MiddleBox,
      'right-box-app': RightBox,
      'select-woman-modal-app': SelectWomanModal,
      'profile-modal-app': ProfileModal,
      MailModal
    },
    computed: {
      ifAdmin() {
        return this.$store.getters.user.accessLevel === 'admin';
      }
    },
    methods: {},
    beforeMount() {
//      if(this.ifAdmin) {
//        this.$router.push('/dashboard');
//      }else {
//        this.$http.post('v2/multichat/check-user', {
//          access_token: this.$cookie.get('access_token'),
//        }).then(serverResponse => {
//          if(!serverResponse.body.status || !serverResponse.body.allowed) {
//            this.$router.push('/dashboard');
//          }
//        }).catch(err => {
//          this.$router.push('/dashboard');
//        });
//      }
    }
  }
</script>


<style lang="scss">
  @import "../../../assets/styles/multichat";
</style>
