<template>
	<select class="selectArea form-control" style="width: 100%;" ref="select"
			:class="computedClassName"
			v-model="localModel">
		<option v-if="hasSelectedModel" :value="hasSelectedModel.id">{{hasSelectedModel.name}}</option>
		<option v-if="!hasSelectedModel" value="" class="placeholder-option"
				selected>{{placeholderData}}
		</option>
		<option v-for="option in computedOptions"
				:value="option.id">{{option.name}} (id:{{option.id}})
		</option>
	</select>
</template>

<script>
	export default {
		name: 'mySelect2',
		props: [
			'options',
			'callback',
			'placeholder',
			'className',
			'selectedModel'
		],
		select: null,
		data() {
			return {
				localModel: '',
				placeholderData: ''
			}
		},
		computed: {
			computedOptions() {
				return this.options
			},
			computedClassName() {
				return this.className;
			},
			hasSelectedModel() {
				if ( this.selectedModel ) {
					return true;
				}
			}
		},
		beforeMount() {
			this.placeholderData = this.placeholder;
		},
		methods: {
			initSelect() {
				if ( !this.select && this.options.length ) {
					this.select = $( this.$refs.select ).select2();
					this.select.on( 'select2:select', ( data ) => {
						this.localModel = data.params.data.id;
					} );
				}
			}
		},
		mounted() {
			/*$('.' + this.computedClassName).select2()
			 $('.' + this.computedClassName).on('select2:select', (data) => {
			 this.localModel = data.params.data.id;
			 });*/

			this.initSelect();


			setTimeout( () => {
				if ( this.selectedModel !== undefined ) {
					this.localModel = this.selectedModel;
					if ( this.options ) {
						this.options.forEach( option => {
							if ( option.id == this.selectedModel ) {
								this.placeholderData = 'Выбран: ' + option.name;
							}
						} )
					}
				}
			}, 500 )
		},
		watch: {
			localModel( value ) {
				if ( value == '' ) {
					this.callback( false );
				} else {
					this.callback( value )
				}
			},
			options() {
				this.initSelect();
			}
		}
	}
</script>

<style>
	.selection > .select2-selection {
		box-shadow: 0 1px 11px -3px rgba(26, 32, 34, 0.18);
		border-color: #e2e3e4;
	}

	.select2-container > .select2-dropdown {
		border-color: rgba(0, 0, 0, .1);
	}

	.select2-container--default .select2-search--dropdown .select2-search__field {
		border: 1px solid rgba(0, 0, 0, .1);
		border-radius: 3px;
	}

	.select2-results__options::-webkit-scrollbar-track {
		border-radius: 10px;
		background-color: #F5F5F5;
	}

	.select2-results__options::-webkit-scrollbar {
		width: 5px;
		background-color: #F5F5F5;
	}

	.select2-results__options::-webkit-scrollbar-thumb {
		width: 3px;
		-webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0);
		background-color: rgba(0, 0, 0, .3);
	}
</style>
