<template>
  <v-select
      class="custom-select"
      :options="paginatedOptions"
      :filterable="true"
      :clearSearchOnSelect="true"
      :placeholder="placeholder"
      label="name"
      v-model="selectedOption"
      @search="handleSearch"
      @open="onOpen"
      @close="onClose"
  >
  <template #list-footer>
    <li v-show="hasNextPage" ref="load" class="loader">
      Загрузка...
    </li>
  </template>
  </v-select>
</template>

<script>
export default {
  props: {
    options: {
      type: Array,
      default: () => []
    },
    placeholder: {
      type: String,
      default: 'Выберите опцию'
    },
    value: {
      type: [String, Number],  // Ожидается только id
      default: null
    },
    loadBatchSize: {
      type: Number,
      default: 20
    }
  },
  data() {
    return {
      observer: null,
      limit: this.loadBatchSize,
      searchQuery: '',
      selectedOption: this.findOptionById(this.value) || null // Инициализация объекта по переданному id
    };
  },
  computed: {
    displayedOptions() {
      return this.options
          .filter(option => Number.isInteger(option.id))
          .map(option => ({
            id: option.id,
            name: option.name
          }));
    },
    filteredOptions() {
      return this.displayedOptions.filter(option =>
          option.name && option.name.toLowerCase().includes(this.searchQuery.toLowerCase())
      );
    },
    paginatedOptions() {
      const uniqueOptions = Array.from(new Set(this.filteredOptions.map(o => JSON.stringify(o))))
          .map(str => JSON.parse(str));
      return uniqueOptions.slice(0, this.limit);
    },
    hasNextPage() {
      return this.paginatedOptions.length < this.filteredOptions.length;
    }
  },
  watch: {
    // Когда `value` изменяется, обновляем выбранный объект на основе `id`
    value(newId) {
      this.selectedOption = this.findOptionById(newId) || null;
    },
    selectedOption(newOption) {
      // Передаем только id выбранного элемента
      if (newOption === null) {
        this.$emit('input', null);
        this.$emit('select', null);
        this.searchQuery = '';
      } else {
        this.$emit('input', newOption.id);
        this.$emit('select', newOption.id);
        this.searchQuery = '';
      }
    }
  },
  mounted() {
    this.observer = new IntersectionObserver(this.infiniteScroll, {
      rootMargin: '20px'
    });
  },
  methods: {
    handleSearch(query) {
      this.searchQuery = query;
      this.limit = this.loadBatchSize;
    },
    async onOpen() {
      if (this.hasNextPage) {
        await this.$nextTick();
        this.observer.observe(this.$refs.load);
      }
    },
    onClose() {
      this.observer.disconnect();
    },
    async infiniteScroll(entries) {
      const [{ isIntersecting }] = entries;
      if (isIntersecting && this.hasNextPage) {
        this.limit += this.loadBatchSize;
      }
    },
    findOptionById(id) {
      // Поиск полного объекта по id для корректного отображения в `v-select`
      return this.options.find(option => option.id === id) || null;
    }
  }
};
</script>
