<template>
    <div class="col-md-6">
        <div class="col-md-4">
            <div class="input-group date d-t-picker dateFilterFrom">
                <span class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </span>
                <input type="text" name="date_from" disabled class="form-control from-sort">
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group date d-t-picker dateFilterTo">
                <span class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </span>
                <input type="text" name="date_to" disabled class="form-control to-sort">
            </div>
        </div>
        <div class="col-md-4">
            <select class="form-control filter-date-nav" v-model="selectedRange" style="width: 100%;">
                <option value="3">Сегодня</option>
                <option value="2">Вчера</option>

            </select>
        </div>
    </div>
</template>

<script>
    import moment from 'moment'
    export default {
        name: 'DateFilterDays',
        props: {
            changeFilter: Function
        },
        data() {
            return {
                dateFrom: moment().startOf('day').startOf('YYYY-MM-DD HH:mm'),
                dateTo: moment().endOf('day').endOf('YYYY-MM-DD HH:mm'),
                selectedRange: '3'

            }
        },
        watch: {
            selectedRange(value) {
                let data = parseInt(value);

                if (data === 2) {
                    this.dateFrom = moment().subtract(1, 'day').startOf('day').startOf('YYYY-MM-DD HH:mm');
                    this.dateTo = moment().subtract(1, 'day').endOf('day').endOf('YYYY-MM-DD HH:mm');
					this.dateChanged()
                }
                if (data === 3) {
                    this.dateFrom = moment().startOf('day').startOf('YYYY-MM-DD HH:mm');
                    this.dateTo = moment().endOf('day').endOf('YYYY-MM-DD HH:mm');
					this.dateChanged()
                }
                $(".dateFilterFrom").datetimepicker().data("DateTimePicker").date(this.dateFrom);
                $(".dateFilterTo").datetimepicker().data("DateTimePicker").date(this.dateTo);

            }
        },
        methods: {
            initPickers() {
                $(".dateFilterFrom").datetimepicker({
                    useCurrent: false,
                    defaultDate: this.dateFrom,
					//keepOpen:false,
                    format: 'DD.MM.YYYY HH:mm',
                    locale: 'ru',
                    widgetPositioning: {
                        horizontal: "left"
                    }
                });

                $(".dateFilterTo").datetimepicker({
                    useCurrent: false,
                    defaultDate: this.dateTo,
					//keepOpen: false,
                    format: 'DD.MM.YYYY HH:mm',
                    locale: 'ru',
                    widgetPositioning: {
                        horizontal: "left"
                    }
                });
				$(".dateFilterFrom").datetimepicker().data("DateTimePicker").date(this.dateFrom);
				$(".dateFilterTo").datetimepicker().data("DateTimePicker").date(this.dateTo);

//                $('#dateFilterFrom').on("dp.change", (e) => {
//					console.log("change from")
//                    this.dateFrom = e.date._d;
//                    this.dateChanged();
//                });
//                $("#dateFilterTo").on("dp.change", (e) => {
//                    this.dateTo = e.date._d;
//                    this.dateChanged();
//                });
            },
            dateChanged() {
                this.changeFilter({
                    from: parseInt(moment(this.dateFrom).format('X')),
                    to: parseInt(moment(this.dateTo).format('X'))
                });
            }
        },
        mounted() {
            this.initPickers();
            this.changeFilter({
                from: parseInt(moment(this.dateFrom).format('X')),
                to: parseInt(moment(this.dateTo).format('X'))
            });



        }
    }
</script>
