
<template>
  <div class="modal"  style="display: block;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" @click="closeModal">&times;</span></button>
          <h4 class="modal-title">Фото {{getName}} ID:{{modalProps.id}}</h4>
          <h5 class="modal-title" >Клиентка: <router-link :to="{name: 'Профиль клиентки', params: {woman: modalProps.user_id}}">
            <u>{{modalProps.name}} (id:{{modalProps.user_id}})</u>
          </router-link>
          </h5>
        </div>
        <div class="modal-body">
              <img class="img-responsive" :src="modalProps.img" width="300px" height="300px">
        </div>
        <div class="modal-footer moderation-modal-buttons">
              <div class="row">

                <div class="col-md-offset-2 col-sm-offset-2 col-xs-offset-2 col-md-3 col-sm-3 col-xs-3">
                  <button type="button"
                          class="btn btn-primary" @click="moveToPrivate">
                    В приват
                  </button>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                  <button type="button"
                          class="btn btn-danger" @click="rejectPhoto">
                    <svg class="denied-svg" height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"><path d="M16 0C7.164 0 0 7.164 0 16s7.164 16 16 16 16-7.164 16-16S24.836 0 16 0zm0 4c2.59 0 4.973.844 6.934 2.242L6.238 22.93C4.84 20.97 4 18.586 4 16 4 9.383 9.383 4 16 4zm0 24c-2.59 0-4.973-.844-6.934-2.242L25.762 9.07C27.16 11.03 28 13.414 28 16c0 6.617-5.383 12-12 12z" /></svg>
                  </button>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                  <button type="button"
                          class="btn btn-success" @click="acceptPhoto">
                    <svg class="accept-svg" height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"><path fill="none" d="M0 0h32v32H0z"/><path d="M4 16l4-4 6 6L26 6l4 4-16 16"/></svg>
                  </button>
                </div>
              </div>

        </div>

      </div>
    </div>
  </div>

</template>

<script>
  import toastr from 'toastr'
  export default {

    props: {
      modalProps:{
        type: Object
      },
      typePhotos:{
        type:String
      }
    },
    computed: {
      isPublic(){
        if (this.typePhotos == 'public'){
          return true
        }
        return false
      },
      getName(){
        if (this.typePhotos == 'delete'){
          return 'удаление'
        }

      },
      getRouters(){
        if (this.typePhotos == 'delete'){
          return {
            accept:'v2/moderation/moderate/photo-on-delete',
            reject:'v2/moderation/moderate/photo-on-delete',
          }
        }

      },
    },

    data() {
      return {
        onModerationProcess:false,
        moderationObject:{},
      }
    },
    watch: {
      modalProps(deep=true){

      },
      moderationObject(deep=true){
        console.log(this.moderationObject)

      },
    },
    methods: {
      closeModal(){
        this.$emit('close')
        $("body").removeClass("modal-open");
      },

      setCropImageParams(obj) {
        this.moderationObject = obj;
      },
      rejectPhoto() {
        this.onModerationProcess = true;
        this.$http.post(this.getRouters.reject, {
          access_token: this.$cookie.get('access_token'),
          moderation_id: this.modalProps.id,
          status: 'reject',
        }).then(data => {
          if (data.body.status) {
            toastr.success('Фото отклонено');
            this.onModerationProcess = false;
            this.closeModal()
            this.$emit('photoModerated')
            //this.updateModerationCounters();

          } else {
            toastr.error('Неполучилось отклонить фото!');
            this.onModerationProcess = false;
          }
        }, err => {
          toastr.error('Неполучилось отклонить фото!')
          this.onModerationProcess = false;
        })
      },
      acceptPhoto() {
        this.onModerationProcess = true;
        toastr.info('Началась обработка фото ...');
        this.$http.post(this.getRouters.accept, {
          access_token: this.$cookie.get('access_token'),
          moderation_id: this.modalProps.id,
          status: 'accept',
        }).then(data => {
          if (data.body.status) {
            this.onModerationProcess = false;
            toastr.success('Фото удалено!')
            this.closeModal()
            this.$emit('photoModerated')
            //this.updateModerationCounters();
          } else {
            toastr.error('Неполучилось удалить фото!');
            toastr.info(data.body.desc)
            this.onModerationProcess = false;
          }
        }, err => {
          toastr.error('Неполучилось удалить фото!')
          this.onModerationProcess = false;
        })
      },
      moveToPrivate() {
        this.onModerationProcess = true;
        toastr.info('Начинаю перемещение!');
        this.$http.post('v2/female/move/to-private', {
          access_token: this.$cookie.get('access_token'),
          photo_id: this.modalProps.photo_id,
          user_id:  this.modalProps.user_id,
        }).then(data => {
          if (data.body.status) {

            this.onModerationProcess = false;
            toastr.success('Фото перемещено!')
            this.closeModal()
            this.$emit('photoModerated')
            //this.updateModerationCounters();
          } else {
            toastr.error('Неполучилось переместить фото!');
            toastr.info(data.body.desc)
            this.onModerationProcess = false;
          }
        }, err => {
          toastr.error('Неполучилось переместить фото!')
          this.onModerationProcess = false;
        })
      },
    },
    mounted() {
      $("body").addClass("modal-open");

    }
  }
</script>


<style lang="scss" scoped>

  .modal-dialog{
    width:30%;
  }
  @media only screen and (max-width : 768px) {
    .modal-dialog{
      width:100%;
    }
  }

  .modal-body > .img-responsive {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .moderation-modal-buttons {
    .btn {
      line-height: 1;
      height: 42px;
    }
    .denied-svg {
      fill: white;
      height: 24px;
      width: 24px;
    }
    .accept-svg {
      fill: white;
      height: 24px;
      width: 24px;
    }
  }
  .referal-links-list {
    list-style: none;
    a {
      cursor: pointer;
    }
  }
  .photo-id-span {
    position: relative;
    text-align: center;
    color: dimgrey;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    font-size: 12px;
    font-weight: 600;
  }
</style>


