<template>
	<div>
		<a class="btn btn-primary btn-sm" data-replied="1" id="freeCredits"> <i class="fa fa-lg fa-credit-card"></i></a>

		<div @close="showModal = false" v-if="showModal" class="modal fade in" tabindex="-1" role="dialog"
			 aria-labelledby="myModalLabel" style="display: block;">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" @click="closeModal" aria-label="Close"><span
								aria-hidden="true">×</span></button>
						<h4 class="modal-title">Начисление кредитов</h4>
					</div>
					<div class="modal-body v-scroll ps-container ps-theme-default ps-active-y" style="height: 200px;">
						<div class="form-group">
							<label>Количество кредитов:</label>
							<input class="form-control input-sm" type="number" v-model="credits_count">
						</div>
						<div class="form-group">
							<label>Сообщить на почту:</label>
							<input type="checkbox" v-model="notifyEmail">
						</div>
					</div>
					<div class="modal-footer clearfix no-display" style="display: block;">
						<button type="button" class="btn btn-primary pull-right yes-agree" @click="addCredits">
							Начислить
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>


<script>
	import toastr from 'toastr'

	export default {
		name: 'FreeCreditsModal',
		props: {
			user_id: Number
		},
		computed: {},

		data() {
			return {
				showModal: false,
				credits_count: 10,
				notifyEmail: true
			}
		},
		watch: {},
		methods: {
			initListeners() {
				$( '#freeCredits' ).on( 'click', ( ev ) => {
					this.showModal = true
				} )
			},
			addCredits() {
				this.$http.post( 'v2/male/get/refills', {
					access_token: this.$cookie.get( 'access_token' ),
					count_credit: this.credits_count,
					send_email: this.notifyEmail ? 1 : 0,
					user_id: this.user_id
				} ).then( data => {
					if ( data.body.status ) {
						this.closeModal();
						toastr.success( 'Кредиты успешно зачислены' );
					} else {
						this.closeModal();
						toastr.error( 'Не могу начислить кредиты клиенту' );

						console.log( err );

					}
				}, err => {
					this.closeModal();
					toastr.error( 'Не могу начислить кредиты клиенту ' );
					console.log( err );

				} )

			},
			closeModal() {
				this.showModal = false;
			}

		},
		created() {
			if ( this.url ) {
				this.id = mailId
			}
		},
		mounted() {
			this.initListeners();
		}

	}
</script>

<style>
	@media (min-width: 769px) {
		.modal-wide {
			width: 95%;
		}
	}

	@media (min-width: 1025px) {
		.modal-wide {
			width: 75%;
		}
	}

	@media (min-width: 1200px) {
		.modal-wide {
			width: 65%;
		}
	}
</style>
