<template>
    <tr>
        <td style="width: 40px;">
            <!--<div class="checkbox icheck">-->
            <input type="checkbox" v-model="currentCheckModel">
            <!--</div>-->
        </td>
        <td style="width: 120px;"><img class="img-lg no-float" :src="image" :alt="gift.name"></td>
        <td>{{gift.name}}</td>
    </tr>
</template>

<script>
    export default {
        name: 'checkBoxHelper',
        props: {
            gift: Object
        },
        data() {
            return {
                currentCheckModel: this.gift.available
            }
        },
        computed: {
            image() {
                return this.gift.photo;
            }
        },
        watch: {
            currentCheckModel(value) {
                this.gift.available = value;
                this.$parent.$emit('check', this.gift);
            }
        }
    }
</script>
