<template>
	<div class="emoji-picker-container">
		<div ref="tmp"></div>
		<textarea rows="30"  ref="textarea" class="form-control textarea-control"
				  :placeholder="placeholder" ></textarea>
	</div>
</template>

<script>

	import MediumEditor from 'medium-editor'

	export default {
		editable: null,
		props: {
			value: String,
			placeholder: String,
			clear: [ Boolean, Number, String ]
		},
		data() {
			return {
				msg: '',
				el: {}
			}
		},
		watch: {
			msg ( v ) {
//				let msg = this.$refs.textarea.value.trim();
				this.$emit( 'input', v );
				this.$emit('clean', this.editable.elements[0].textContent )
			},
			clear( v ) {
				this.msg = '';
				if ( this.editable ) {
					this.$refs.textarea.value = '';
					this.editable.setContent( '' );
				}
			},
		},
		methods: {
			initTextArea() {
				let self = this;
//					area = this.$refs.textarea,
//					el = $( area ).parent().find( '.emoji-wysiwyg-editor' )[ 0 ];
//				el.classList.add( 'message' );
//				this.el = el;
				self.editable = new MediumEditor( this.$refs.textarea, {
					toolbar: false,
					anchorPreview: false,
					placeholder: {
						hideOnClick: false
					},
					paste: {
						cleanPastedHTML: false,
						cleanTags: [ 'meta', 'pre', 'script', 'button', 'img', 'svg', 'canvas', 'label', 'li', 'ul', 'ol', 'a', 'iframe', 'table' ],
						cleanAttrs: [ 'class', 'style', 'dir' ],
						autoLink: false,
						imageDragging: false,
						keyboardCommands: false,
						disableExtraSpaces: true
					}
				} );
        //self.editable.setContent( this.value);
				self.editable.subscribe( 'editableInput', function ( e ) {
					self.msg = self.editable.getContent();
				} )
        //self.msg = this.value
        setTimeout(() => {
          self.editable.setContent( this.value);
        }, 1000)

			},
			cleanHtml( html ) {

			}
		},
		mounted() {
			this.initTextArea()
		}
	}
</script>

<style lang="scss">
	.emoji-picker-container {
	textarea {
		display: none;
		height: 1px;
		width: 1px;
		overflow: hidden;
		background: none;
		border: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		resize: none;
	}
	.form-control {
		background: white;
		text-align: left;
		height: 100%;
	}
	}

</style>
