<!-- MoonLoader.vue -->
<template>
  <div class="moon-loader" v-if="loading">
    <div
        class="moon moon-orbit"
        :style="spinnerStyle"
    >
      <div
          class="moon moon-dot"
          :style="[moonDotStyle, { backgroundColor: color }]"
      />
      <div
          class="moon moon-circle"
          :style="[spinnerStyle, { border: `${moonSize}px solid ${color}` }]"
      />
    </div>
  </div>
</template>

<script>
export default {
  name: 'MoonLoader',
  props: {
    loading: {
      type: Boolean,
      default: true
    },
    color: {
      type: String,
      default: '#2c3e50'
    },
    size: {
      type: Number,
      default: 60
    }
  },
  computed: {
    moonSize() {
      return Math.floor(this.size / 7)
    },
    spinnerStyle() {
      return {
        height: `${this.size}px`,
        width: `${this.size}px`,
        borderRadius: '100%'
      }
    },
    moonDotStyle() {
      return {
        height: `${this.moonSize}px`,
        width: `${this.moonSize}px`,
        borderRadius: '100%',
        top: `${this.size/2 - this.moonSize/2}px`
      }
    }
  }
}
</script>

<style>
.moon-loader {
  display: inline-block;
}

.moon {
  position: relative;
}

.moon-orbit {
  animation: orbit 0.6s linear infinite;
}

.moon-dot {
  position: absolute;
  opacity: 0.8;
}

.moon-circle {
  opacity: 0.1;
}

@keyframes orbit {
  to {
    transform: rotate(360deg);
  }
}
</style>
