<template>
	<div>
		<preloader v-show="loader"></preloader>
		<div class="table-responsive" v-show="!loader">
			<table class="table table-bordered table-striped dataTable">
				<thead>
				<tr>
					<th :class="thClass(i.name)" @click="changeOrder(i.name)" :key="i.column"
						v-for="(i, index) in sort">{{i.column}}
					</th>
				</tr>
				</thead>
				<tbody>
					<slot name="tbody"></slot>
					<tr v-if="!data.length && !loader">
						<td :colspan="sort.length" class="dataTables_empty">По Вашему запросу ничего не найдено.</td>
					</tr>
				</tbody>
				<tfoot>
					<slot name="tfoot"></slot>
				</tfoot>
			</table>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="margin-top dataTables_info" id="womanLettersInfo">
					<p v-if="data.length">
						Показано с {{loadParams.offset + 1}} по {{loadParams.offset + loadParams.limit < count ? loadParams.offset + loadParams.limit : count}} из {{count}} записей</p>
				</div>
			</div>
			<div class="col-md-6">
				<uib-pagination class="pull-right" v-model="localPagination" :total-items="count" :rotate="true"
								:force-ellipses="true" :boundary-links="true" last-text="Посл." first-text="Перв."
								:direction-links="true" :items-per-page="loadParams.limit" :max-size="5" previous-text="Пред."
								next-text="След." @change="switchPage"></uib-pagination>
			</div>
		</div>
	</div>
</template>

<script>

	import preloader from './normalPreloader/component.vue'

	export default {
		props: {
			loader: {
				type: Boolean,
				required: true
			},
			data: {
				type: Array,
				required: true
			},
			/**
			 * Порядок объектов должен совпадать с отображаемым порядком колонок
			 */
			sort: {
				type: Array,
				required: true
			},
			loadParams: {
				type: Object,
				required: true
			},
			order: {
				type: Object,
				required: true
			},
			count: {
				type: Number,
				required: true
			},
			pagination: {
				type: Object,
				required: true
			}
		},
		data() {
			return {
				localPagination: {
					currentPage: 1,
					numPages: 0
				},
			}
		},
		watch: {
			paginPageParent(v) {
				this.localPagination.currentPage = v;
			}
		},
		methods: {
			/**
			 * @param переменная в data() и передается в <th>
			 * */
			thClass( param ) {
				let record = this.sort.find( i => i.name === param );
				if ( record && record.name) {
					return {
						sorting: !record.active,
						sorting_asc: record.active && !this.boolOrder,
						sorting_desc: record.active && this.boolOrder
					}
				} else {
					return {}
				}

			},
			/**
			 * @str - string-param for order.by
			 * */
			changeOrder( str ) {
				let record;
				this.sort.forEach( i => {
					if ( i.name === str ) record = i;
					i.active = false;
				})
				record.active = true;

				if ( this.order.by !== str ) {
					this.order.type = 'desc';
				} else {
					this.order.type = this.boolOrder ? 'asc' : 'desc'
				}
				this.order.by = str;
				this.$emit( 'load' )
			},
			switchPage() {
				this.loadParams.offset = this.localPagination.currentPage * this.loadParams.limit - this.loadParams.limit;
				Object.assign(this.pagination, this.localPagination)
				this.$emit( 'load' )
			},
		},
		computed: {
			boolOrder() {
				return this.order.type === 'desc'
			},
			paginPageParent() {
				return this.pagination.currentPage;
			}
		},
		mounted() {
			Object.assign(this.localPagination, this.pagination);
		},
 		components: {
			preloader
		}
	}
</script>

<style>
</style>
