<template>
    <span ref="trigger" class="trg" />
</template>

<script>
    export default {
        props:{
            options: function () {
                return {
                    type: Object,
                    default: {
                        root: 0,
                        threshold: '0'
                    }
                }
            }
        },
        data() {
            return {
                observer: null
            }
        },
        computed:{
            loaded(){
                return this.dataLoaded;
            },
            dataHistory(){
                return this.allData;
            },
        },
        methods: {
            handleIntersect(entry){
                if (entry.isIntersecting) this.$emit("triggerIntersected");
            }
        },
        mounted() {
            this.observer = new IntersectionObserver( entries => {
                this.handleIntersect( entries[0] );
            }, this.options);

            this.observer.observe(this.$refs.trigger)
        },
        destroyed(){
            this.observer.disconnect();
        }
    }
</script>

<style scoped>
.trg{display: block; height: 1px; line-height: 1; padding: 0; margin: 0;}
</style>
