<template>
    <div>
        <h2 class="page-header"><i class="fa fa-plus"></i> Создание </h2>

        <div class="row">
            <div class="col-md-6">
                <!-- form start -->
                <form method="POST"
                      action=""
                      class="form-horizontal">

                    <div class="form-group">
                        <label for="for-type"
                               class="col-md-4">Название</label>
                        <div class="col-md-5">
                            <input type="text"
                                   class="form-control"
                                   placeholder="Имя подарка"
                                   v-model="modelName">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 big-top-padding">Изображение</label>
                        <div class="col-md-5">
                            <div class="ava-load-wrapp photo">
                                <img src="/dist/img/default.jpg"
                                     src-default="/dist/img/default.jpg"
                                     class="img-responsive load-file-src"
                                     id="preditpack-preview">
                                <div class="clearfix bottom-d">
                                    <span class="load-file-link">
                                          <input type="file" name="giftphoto" class="load-file-input" @change="dropAvatar">
                                          <span class="upload-text-wrapp">
                                            Загрузить <i class="fa fa-download text-blue"></i>
                                          </span>
                                    </span>
                                    <span v-show="needPhotoUpdate"
                                          class="fa fa-times-circle del-photo pull-right"
                                          @click="removeNewAvatar"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="for-type"
                               class="col-md-4">Описание</label>
                        <div class="col-md-5">
                            <textarea placeholder="Описание" class="form-control" cols="30" rows="10" v-model="modelDescription"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="for-status"
                               class="col-md-4">Статус</label>
                        <div class="col-md-5">
                            <select name=""
                                    class="form-control"
                                    id="for-status"
                                    v-model="modelStatus">
                                <option value="1">активный</option>
                                <option value="0">неактивный</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="for-type"
                               class="col-md-4">Тип</label>
                        <div class="col-md-5">
                            <select name=""
                                    class="form-control"
                                    id="for-type"
                                    v-model="modelType">
                                <option value="1">одноразовый</option>
                                <option value="0">постоянный</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="for-credits"
                               class="col-md-4">Кол. кредитов</label>
                        <div class="col-md-3">
                            <input type="number"
                                   class="form-control"
                                   id="for-credits"
                                   placeholder="Количество кредитов"
                                   v-model="modelCredits">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="for-price"
                               class="col-md-4">Цена, USD</label>
                        <div class="col-md-3">
                            <input type="number"
                                   class="form-control"
                                   id="for-price"
                                   placeholder="Цена"
                                   v-model="modelPrice">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="for-oldprice"
                               class="col-md-4">Цена (старая), USD</label>
                        <div class="col-md-3">
                            <input type="number"
                                   class="form-control"
                                   id="for-oldprice"
                                   placeholder="Старая цена"
                                   v-model="modelOldPrice">
                        </div>
                    </div>


                  <div class="form-group">
                    <label for="for-eurprice"
                           class="col-md-4">Цена, EUR</label>
                    <div class="col-md-3">
                      <input type="number"
                             class="form-control"
                             id="for-eurprice"
                             placeholder="Цена"
                             v-model="modelEURPrice">
                    </div>
                  </div>

                    <div class="form-group">
                        <div class="col-md-9 text-right">
                            <button type="submit"
                                    @click.prevent="saveChanges"
                                    class="btn btn-primary">Сохранить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
import toastr from 'toastr'
import config from '../../../config/config'
export default {
    name: 'EditCreditPack',
    data() {
        return {
            modelDescription: '',
            modelName: null,
            modelImage: null,
            modelStatus: 1,
            modelType: 0,
            modelPrice: null,
            modelOldPrice: null,
            modelEURPrice: null,
            modelCredits: null,
            oldPhoto: null
        }
    },
    methods: {
        dropAvatar(event) {
            let files = event.target.files || event.dataTransfer.files;
            for (let i = 0, f; f = files[i]; i++) {
                this.modelImage = f;
            }
            let fileReader = new FileReader();
            fileReader.onload = (e) => {
                let imgPreview = document.querySelectorAll('#preditpack-preview')[0];
                imgPreview.setAttribute('src', e.target.result);
            }
            fileReader.readAsDataURL(this.modelImage);
        },
        removeNewAvatar() {
            if (this.needPhotoUpdate) {
                let imgPreview = document.querySelectorAll('#preditpack-preview')[0];
                imgPreview.setAttribute('src', this.oldPhoto);
                this.needPhotoUpdate = false;
            }
        },
        saveChanges() {

            let dataForm = new FormData();
            dataForm.append('access_token', this.$cookie.get('access_token'));
            dataForm.append('name', this.modelName);
            dataForm.append('description', 'Описание кредит пака');
            dataForm.append('price', this.modelPrice);
            dataForm.append('old_price', this.modelOldPrice);
            dataForm.append('price_euro', this.modelEURPrice);
            dataForm.append('credit', this.modelCredits);
            dataForm.append('active', this.modelStatus);
            dataForm.append('limit', this.modelType);
            dataForm.append('photo', this.modelImage);
            dataForm.append('description', this.modelDescription);
            dataForm.append('credit_pack_id', this.$route.params.id);
            this.$http.post('v2/credit-packages/create', dataForm)
                .then(data => {
                    if (data.body.status) {
                        toastr.success('Кредит пак успешно добавлен');
                        this.$router.push('/credit-packs')
                    } else {
                        toastr.success('Не могу сохранить данные');
                        toastr.info(data.body.desc)
                    }
                }, err => {
                    toastr.info(err);
                })

        }
    }
}
</script>
