<template>
  <div>
    <h2 class="page-header"><i class="fa fa-edit"></i> Редактирование (Start)</h2>

    <div class="row">
      <div class="col-md-6">
        <!-- form start -->
        <form method="POST"
              action="">

          <div class="form-group">
            <label for="for-type"
                   class="col-md-4">Название</label>
            <div class="col-md-5">
              <input type="text"
                     class="form-control"
                     id="for-type"
                     v-model="modelName">
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 big-top-padding">Изображение </label>
            <div class="col-md-8">
              <div class="photo  margin-bottom">
                <img :src="modelImage"
                     :src-default="modelImage"
                     width="160"
                     class="load-file-src" id="preditpack-preview">
                <div class="clearfix bottom-d margin-top">
                                    <span class="load-file-link">
                                  <input type="file" name="giftphoto" class="load-file-input" @change="dropAvatar">
                                  <span class="upload-text-wrapp">
                                    Загрузить <i class="fa fa-download text-blue"></i>
                                  </span>
                                    </span>
                  <span v-show="needPhotoUpdate" class="fa fa-times-circle del-photo pull-right" @click="removeNewAvatar"></span>
                </div>
              </div>
              <div class="alert-warning alert margin-top">

                <b>Важно!</b><br>
                Если пакет акционный, ( это фото будет для <i>*баннера на сайте <br> и в письме при рассылки.</i>)
                <br>Размер: 160x300, расширение: png

              </div>


            </div>
          </div>
          <div class="form-group">
            <label for="for-type"
                   class="col-md-4">Описание</label>
            <div class="col-md-5">
              <textarea placeholder="Описание" class="form-control" cols="30" rows="10" v-model="modelDescription"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label for="for-status"
                   class="col-md-4">Статус</label>
            <div class="col-md-5">
              <select name=""
                      class="form-control"
                      id="for-status"
                      v-model="modelStatus">
                <option value="1">активный</option>
                <option value="0">неактивный</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="for-type"
                   class="col-md-4">Тип</label>
            <div class="col-md-5">
              <select name=""
                      class="form-control"
                      v-model="modelType">
                <option value="1">одноразовый</option>
                <option value="0">постоянный</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="for-credits"
                   class="col-md-4">Кол. кредитов</label>
            <div class="col-md-3">
              <input type="number"
                     class="form-control"
                     id="for-credits"
                     v-model="modelCredits">
            </div>
          </div>

          <div class="form-group">
            <label for="for-price"
                   class="col-md-4">Цена, USD</label>
            <div class="col-md-3">
              <input type="number"
                     class="form-control"
                     id="for-price"
                     v-model="modelPrice">
            </div>
          </div>

          <div class="form-group">
            <label for="for-oldprice"
                   class="col-md-4">Цена (старая), USD</label>
            <div class="col-md-3">
              <input type="number"
                     class="form-control"
                     id="for-oldprice"
                     v-model="modelOldPrice">
            </div>
          </div>
          <div class="form-group">
            <label for="for-eurprice"
                   class="col-md-4">Цена, EUR</label>
            <div class="col-md-3">
              <input type="number"
                     class="form-control"
                     id="for-eurprice"
                     v-model="modelEURPrice">
            </div>
          </div>
          <div class="form-group">
            <label for="for-price-point-id"
                   class="col-md-4">Price Point Id</label>
            <div class="col-md-3">
              <input type="number"
                     class="form-control"
                     id="for-price-point-id"
                     v-model="modelPricePointId">
            </div>
          </div>
          <div class="form-group">
            <label for="for-bestseller"
                   class="col-md-4">Bestseller</label>
            <div class="col-md-3">
              <input type="checkbox"
                     id="for-bestseller"
                     v-model="bestseller">
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-9 text-right">
              <button type="submit" @click.prevent="saveChanges"
                      class="btn btn-primary">Сохранить</button>
            </div>



          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import toastr from 'toastr'
import config from '../../../config/config'
export default {
  name: 'EditCreditPack',
  data() {
    return {
      bestseller: false,
      modelDescription: '',
      modelName: null,
      modelImage: null,
      modelStatus: null,
      modelType: null,
      modelPrice: null,
      modelOldPrice: null,
      modelCredits: null,
      modelPricePointId: null,
      modelEURPrice: null,
      needPhotoUpdate: false,
      oldPhoto: null
    }
  },
  beforeMount() {
    this.$http.post('v2/credit-packages/get/one', {
      access_token: this.$cookie.get('access_token'),
      credit_pack_id: this.$route.params.id
    }).then(dataResponse => {
      if (dataResponse.body.status) {
        let pack = dataResponse.body.result;
        this.modelName = pack.name;
        this.modelImage = pack.photo;
        this.oldPhoto = pack.photo;
        this.modelStatus = pack.active;
        this.modelType = pack.limit;
        this.modelOldPrice = pack.old_price;
        this.modelEURPrice = pack.price_euro;
        this.modelPrice = pack.price;
        this.modelCredits = pack.credit;
        this.modelPricePointId = pack.segpay_price_point_id,
            this.modelDescription = pack.description;
        this.bestseller = !!pack.bestseller;
      } else {
        toastr.error('Не могу загрузить данные о кредит-паке');
      }
    }, err => {
      toastr.error('Не могу загрузить данные о кредит-паке');
      toastr.info(err);
    })
  },
  methods: {
    dropAvatar(event) {
      let files = event.target.files || event.dataTransfer.files;
      for (let i = 0, f; f = files[i]; i++) {
        this.modelImage = f;
      }

      let fileReader = new FileReader();
      fileReader.onload = (e) => {
        let imgPreview = document.querySelectorAll('#preditpack-preview')[0];
        imgPreview.setAttribute('src', e.target.result);
      }
      fileReader.readAsDataURL(this.modelImage);
      this.needPhotoUpdate = true;
    },
    removeNewAvatar() {
      if(this.needPhotoUpdate) {
        let imgPreview = document.querySelectorAll('#preditpack-preview')[0];
        imgPreview.setAttribute('src', this.oldPhoto);
        this.needPhotoUpdate = false;
      }
    },
    saveChanges() {

      let photo_modify = 0;
      if(this.needPhotoUpdate) {
        photo_modify = 1;
      }

      let dataForm = new FormData();
      dataForm.append('access_token', this.$cookie.get('access_token'));
      dataForm.append('name', this.modelName);
      dataForm.append('description', 'Some desc');
      dataForm.append('price', this.modelPrice);
      dataForm.append('old_price', this.modelOldPrice);
      dataForm.append('price_euro', this.modelEURPrice);
      dataForm.append('credit', this.modelCredits);
      dataForm.append('active', this.modelStatus);
      dataForm.append('limit', this.modelType);
      dataForm.append('photo', this.modelImage);
      dataForm.append('segpay_price_point_id', this.modelPricePointId);
      dataForm.append('credit_pack_id', this.$route.params.id);
      dataForm.append('photo_modify', photo_modify);
      dataForm.append('description', this.modelDescription);
      dataForm.append('bestseller', this.bestseller ? 1 : 0);

      this.$http.post('v2/credit-packages/update', dataForm)
          .then(data => {
            if(data.body.status) {
              toastr.success('Данные обновлены успешно');
              setTimeout(() => {
                window.history.back();
              }, 1000)
            }else {
              toastr.success('Не могу обновить данные');
              toastr.info(data.body.desc)
            }
          }, err => {
            toastr.info(err);
          })

    }
  }
}
</script>
