<template>
  <div class="row">
    <div class="col-md-12">
      <div class="box box-blue box-solid">
        <div class="box-header with-border">
          <h3 class="box-title">Пакеты кредитов</h3>

          <div class="box-tools pull-right">
            <router-link to="/credit-packs/create">
              <a class="btn btn-success">Создать <i class="fa fa-plus"></i></a>
            </router-link>
          </div>
        </div>
        <div class="box-body no-padding">
          <form class="row">
            <div class="form-group margin">
              <div class="col-md-2">
                <input type="text" class="form-control" placeholder="Название" v-model="name">
              </div>
              <div class="col-md-2">
                <select class="form-control" v-model="active">
                  <option value="" selected >Статус</option>
                  <option value="1">активный</option>
                  <option value="0">неактивный</option>
                </select>
              </div>
              <div class="col-md-2">
                <select class="form-control" v-model="type">
                  <option value="" selected >Тип</option>
                  <option value="single">одноразовый</option>
                  <option value="multi">постоянный</option>
                </select>
              </div>
            </div>
          </form>
          <sst :loader="loader" @load="fetchData" :sort="sort" :data="data"
               :count="count" :loadParams="loadParams" :order="order" :pagination="pagination">
            <tr slot="tbody" v-for="i in data" :key="i.id">
              <td>
                <router-link :to="{name: 'Изменение кредит-пака', params: {id: i.id}}">{{i.id}}</router-link>
              </td>
              <td>
                <router-link :to="{name: 'Изменение кредит-пака', params: {id: i.id}}">{{i.segpay_price_point_id}}</router-link>
              </td>
              <td>
                <router-link :to="{name: 'Изменение кредит-пака', params: {id: i.id}}">{{i.name}}</router-link>
              </td>
              <td>
                <router-link :to="{name: 'Изменение кредит-пака', params: {id: i.id}}">
                  <img :src="i.photo" class="img-responsive img-rounded" style="width: 50px;" :alt="i.name">
                </router-link>
              </td>
              <td>
                <template v-if="i.active">
                  <strong class="alert-success label">Активный</strong>
                </template>
                <template v-else>
                  <span> Неактивный</span>
                </template>
              </td>
              <td>
                {{i.credit}}
              </td>
              <td>
                {{i.price}}
              </td>
              <td>
                {{i.old_price}}
              </td>
              <td>
                {{i.price_euro}}
              </td>
              <td>
                <template v-if="i.limit">

                  <span class="text-yellow">Одноразовый</span>
                </template>
                <template v-else>
                  <strong>Постоянный</strong>
                </template>
              </td>
              <td>
                <template v-if="i.bestseller">
                  <img :src="'/images/bestseller.png'" class="img-responsive img-rounded" style="width: 50px;" :alt="i.name">
                </template>
              </td>
              <td>
                <router-link :to="{name: 'Изменение кредит-пака', params: {id: i.id}}" class="btn btn-primary btn-block"><i class="fa fa-edit fa-lg text-white"></i></router-link>
              </td>
            </tr>
          </sst>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>
</template>

<script>
import moment from 'moment'
import toastr from 'toastr'
import _ from 'lodash'
import sst from '../../custom/serverSideTable.vue'
import { SS_SORT_TABLE } from '@/mixins/utils.js'

export default {
  props: {
    routeNew: Number,
    routePay: Number,
    routeOnline: Number,
    routeRNew: Number
  },
  data() {
    return {
      loader: true,
      data: [],
      id: '',
      name: '',
      active: '',
      type: '',
      credits: '',
      price: '',
      old_price: '',
      price_euro: '',
      sort: [
        { active: true, name: 'id', column: 'ID' },
        { active: false, name: 'segpay_price_point_id', column: 'SegPay ID' },
        { active: false, name: 'name', column: 'Имя' },
        { active: false, name: '', column: 'Изображение' },
        { active: false, name: 'active', column: 'Статус' },
        { active: false, name: 'credits', column: 'Кол.кредитов' },
        { active: false, name: 'price', column: 'Цена, USD' },
        { active: false, name: 'old_price', column: 'Цена (старая), USD' },
        { active: false, name: 'price_euro', column: 'Цена, EUR' },
        { active: false, name: 'type', column: 'Тип' },
        { active: false, name: '', column: 'Бестселлер' },
        { active: false, name: '', column: 'Действие' },
      ],
    }
  },

  mixins: [ SS_SORT_TABLE ],
  watch: {
    name() {
      this.resetPagination();
      this.search();
    },

    active() {
      this.resetPagination();
      this.fetchData();
    },
    type() {
      this.resetPagination();
      this.fetchData();
    }
  },
  methods: {

    search: _.debounce( function () {
      this.fetchData()
    }, 300 ),
    fetchData() {
      window.scrollTo( 0, 0 );
      this.loader = true;
      this.$http.post( 'v2/credit-packages/get/list', {
        access_token: this.$cookie.get( 'access_token' ),
        offset: this.loadParams.offset,
        limit: this.loadParams.limit,
        order_type: this.order.type,
        order_by: this.order.by,
        id: this.id,
        name: this.name,
        active: this.active,
        type: this.type,

      } ).then( data => {
        if ( data.body.status ) {
          this.data = data.body.result.list;
          this.count = +data.body.result.count;
        } else {
          this.data = [];
          this.count = 0;
          toastr.error( 'Не могу получить пользователей' );
          toastr.info( data.body.desc );
        }
        this.loader = false;
      }, err => {
        this.loader = false;
        this.data = [];
        this.count = 0;
        toastr.error( 'Ошибка API' );
        console.log( err );
      } )
    },


  },
  mounted() {
    this.$nextTick( () => {
      this.updOrderParams( {
        type: 'desc',
        by: 'id'
      } );
      this.fetchData()
    } )
  },


  components: {
    sst
  }
}
</script>

<style scoped>
.is-new {
  border-radius: 8px;
  border: 2px solid #ff4614;
  text-transform: uppercase;
  font-size: 9px;
  font-weight: 700;
  display: flex;
  padding: 0 3px;
  width: 32px;
  height: 17px;
  align-items: center;
  line-height: 1;
  color: #ff4614;
  background: #fff;
  margin-left: 3px;
}
</style>
