<template>
    <div>
        <div class="row">
            <div class="col-md-12">
                <div class="box box-blue box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Пакеты кредитов</h3>

                        <div class="box-tools pull-right">
                            <router-link to="/credit-packs/create">
                                <a class="btn btn-success">Создать <i class="fa fa-plus"></i></a>
                            </router-link>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">

                        <!-- filter -->
                        <form class="row">
                            <div class="form-group margin">

                                <div class="col-md-2">
                                    <input type="text"
                                           class="form-control"
                                           placeholder="Название"
                                           v-model="searchModelName">
                                </div>
                                <div class="col-md-2">
                                    <select class="form-control"
                                            v-model="searchModelStatus">
                                        <option value=""
                                                selected
                                                class="placeholder-option">Статус</option>
                                        <option value="1">активный</option>
                                        <option value="0">неактивный</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <select class="form-control"
                                            v-model="searchModelType">
                                        <option value=""
                                                selected
                                                class="placeholder-option">Тип</option>
                                        <option value="1">одноразовый</option>
                                        <option value="0">постоянный</option>
                                    </select>
                                </div>

                            </div>
                        </form>
                        <div class="table-responsive">
                        <table class="table table-bordered table-scroll"
                               id="creditPackTable">
                            <thead>
                                <tr>
                                    <th>ID

                                    </th>
                                  <th>
                                    SegPay ID
                                  </th>
                                    <th>Название

                                    </th>
                                    <th>Изображение</th>
                                    <th>Статус</th>
                                    <th>Тип

                                    </th>
                                    <th>Кол.кредитов

                                    </th>
                                    <th>Цена, USD

                                    </th>
                                    <th>Цена (старая), USD

                                    </th>
                                    <th>Действие</th>
                                </tr>
                            </thead>
                        </table>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
        <!-- /.row (main row) -->
    </div>
</template>

<script>

function search(column, data) {
    $('#creditPackTable').DataTable().column(column).search(
        data,
        false,
        false
    ).draw();
}

import toastr from 'toastr'
import config from '../../../config/config'
export default {
    name: 'CreditPackList',
    data() {
        return {
            creditPacks: [],
            searchModelName: '',
            searchModelStatus: '',
            searchModelType: '',
        }
    },
    watch: {
        searchModelName(value) {
            search(1, value)
        },
        searchModelStatus(value) {
            search(3, value)
        },
        searchModelType(value) {
            search(4, value)
        }
    },
    methods: {
        fetchData() {
            this.$http.post('v2/credit-packages/get/list', {
                access_token: this.$cookie.get('access_token'),
                limit: 40,
                offset: 0
            }).then(creditPackResponse => {
                if (creditPackResponse.body.status) {
                    this.creditPacks = creditPackResponse.body.result;
                    this.initTable();
                } else {
                    toastr.error('Ошибка загрузки данных')
                }
            }, err => {
                console.log(err);
                toastr.error('Ошибка загрузки данных')
            })
        },
        navigate(id) {
            this.$router.push('/credit-packs/edit/' + id)
        },
        initTable() {
            let navigate = this.navigate;
            let table = $('#creditPackTable').DataTable();
            $('#creditPackTable_length').remove();
            $('#creditPackTable_filter').remove();
            $('#creditPackTable_paginate').remove();
            $('#creditPackTable_info').remove();

            setTimeout(() => {
                let packs = this.creditPacks;
                for (let i = 0; i < packs.length; i++) {
                    let img = '<img src='+packs[i].photo+' class="edit-c-p-img img-responsive"/>'
                    let status = '<strong>Активный<span style="display: none">1</span></strong></strong>';
                    let type = '<strong class="text-black">Постоянный<span style="display: none">0</span></strong>';
                    let edit = '<a class="edit-c-p btn btn-primary btn-block" data-id="' + packs[i].id + '"><i class="fa fa-edit fa-lg text-white"></i></a>'
                    if (packs[i].active == 0) {
                        status = '<strong>Не активный<span style="display: none">0</span></strong></strong>';
                    }
                    if (packs[i].limit > 0) {
                        type = '<strong class="text-yellow">Одноразовый(' + packs[i].limit + ')<span style="display: none">1</span></strong>';
                    }

                    table.row.add([
                        packs[i].id,
                        packs[i].name,
                        img,
                        status,
                        type,
                        packs[i].credit,
                        packs[i].price,
                        packs[i].old_price,
                        edit
                    ]).draw(false)
                }
            }, 10);

            $('#creditPackTable').on('click', '.edit-c-p', function () {
                navigate($(this).data('id'));
            })
        }
    },
    beforeMount() {
        if (!this.$cookie.get('access_token')) {
            this.$router.push('/login');
        } else {
            this.fetchData();
        }
    },
    mounted(){

    }
}
</script>

<style lang="css">
.edit-c-p-img {
    max-width: 70px !important
}
</style>
