<template>
	<div class="row">
		<div class="col-md-12">
			<div class="box box-blue box-solid">
				<div class="box-header with-border">
					<h3 class="box-title">Забаненные клиенты</h3>
				</div>
				<div class="box-body no-padding">
					<form class="row">
						<div class="form-group margin">
							<div class="col-md-2">
								<input type="text" class="form-control" placeholder="ID" v-model="id">
							</div>
							<div class="col-md-2">
								<input type="text" class="form-control" placeholder="Имя" v-model="name">
							</div>
							<div class="col-md-2">
								<input type="text" class="form-control" placeholder="Email" v-model="email">
							</div>
							<div class="col-md-2">
								<select v-model="payyer" class="form-control">
									<option value="">Платник</option>
									<option value="1">Да</option>
									<option value="0">Нет</option>
									<option value="today">Сегодня</option>
									<option value="current_month">Текущий месяц</option>
								</select>
							</div>
						</div>
					</form>
					<sst :loader="loader" @load="fetchData" :sort="sort" :data="data"
						 :count="count" :loadParams="loadParams" :order="order" :pagination="pagination">
						<tr slot="tbody" v-for="i in data" :key="i.id">
							<td>
								<router-link :to="{name: 'Профиль клиента', params: {man: i.id}}">{{i.id}}
								</router-link>
							</td>
							<td>
								<router-link :to="{name: 'Профиль клиента', params: {man: i.id}}">
									<img :src="i.avatar.small" class="img-responsive img-rounded" :alt="i.name"
										 style="width: 50px;">
								</router-link>
							</td>
							<td>
								<router-link :to="{name: 'Профиль клиента', params: {man: i.id}}">
									{{i.name}}
								</router-link>
							</td>
							<td>{{i.count_payyer}}</td>
							<td>{{i.sum_payyer}}</td>
							<td>{{date( i.created_at )}}</td>
							<td>{{i.user_status_note}}</td>
							<td>
								<template v-if="i.user_status_updated_user_id">
									{{i.user_status_updated_user_name}} {{i.user_status_updated_user_surname}} (id: {{i.user_status_updated_user_id}})
								</template>
								<template v-else>
									Не указан
								</template>
							</td>
							<td>{{date( i.last_active )}}</td>
							<td>
								<router-link :to="{name: 'Изменение профиля клиента', params: {man: i.id}}"
											 class="btn btn-primary btn-block">
									<i class="fa fa-edit fa-lg text-white"></i>
								</router-link>
							</td>
						</tr>
					</sst>

				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
		</div>
	</div>
</template>

<script>
	import moment from 'moment'
	import toastr from 'toastr'
	import _ from 'lodash'
	import sst from '../../custom/serverSideTable.vue'
	import { SS_SORT_TABLE } from '../../../mixins/utils'

	export default {
		data() {
			return {
				loader: true,
				data: [],
				id: '',
				name: '',
				email: '',
				online: '',
				payyer: '',
				isNew: '',
				sort: [
					{ active: false, name: 'id', column: 'ID' },
					{ active: false, name: '', column: 'Аватар' },
					{ active: false, name: 'name', column: 'Имя' },
					{ active: false, name: 'count_payyer', column: 'Кол. пополнений' },
					{ active: false, name: 'sum_payyer', column: 'Сумма пополнений' },
					{ active: false, name: 'created_at', column: 'Дата регистрации' },
					{ active: false, name: '', column: 'Примечание' },
					{ active: false, name: 'user_status_updated_user_id', column: 'Инициатор' },
					{ active: true, name: 'last_active', column: 'Дата смены статуса' },
					{ active: false, name: '', column: 'Действие' },
				],
			}
		},
		mixins: [ SS_SORT_TABLE ],
		watch: {
			id() {
				this.resetPagination();
				this.search()
			},
			name() {
				this.resetPagination();
				this.search()
			},
			email() {
				this.resetPagination();
				this.search()
			},
			payyer() {
				this.resetPagination();
				this.fetchData()
			},
		},
		methods: {
			search: _.debounce( function () {
				this.fetchData()
			}, 300 ),
			fetchData() {
				window.scrollTo( 0, 0 );
				this.loader = true;
				this.$http.post( 'v2/male/get', {
					access_token: this.$cookie.get( 'access_token' ),
					account_status: JSON.stringify( [ 'banned' ] ),
					offset: this.loadParams.offset,
					limit: this.loadParams.limit,
					order_type: this.order.type,
					order_by: this.order.by,
					id: this.id,
					name: this.name,
					email: this.email,
					is_online: this.online || '',
					is_payyer: this.payyer || '',
					is_new: this.isNew
				} ).then( data => {
					if ( data.body.status ) {
						this.data = data.body.result;
						this.count = +data.body.count;
					} else {
						toastr.error( 'Не могу получить пользователей' );
						toastr.info( data.body.desc );
						this.data = [];
						this.count = 0;
					}
					this.loader = false;
				}, err => {
					this.loader = false;
					toastr.error( 'Ошибка API' );
					console.log( err );
					this.data = [];
					this.count = 0;
				} )
			},
			date( ts ) {
				return moment( ts * 1000 ).format( 'LLL' )
			}
		},
		beforeMount() {
			this.updOrderParams( {
				type: 'desc',
				by: 'last_active'
			} );
			this.fetchData();
		},
		components: {
			sst
		}
	}
</script>
