<template>
	<div class="row">
		<div class="col-md-12">
			<div class="box box-blue box-solid">
				<div class="box-header with-border">
					<h3 class="box-title">Клиенты-боты</h3>
					<div class="box-tools pull-right">
						<router-link class="btn btn-success" :to="{name: 'Создать клиента бота'}">
							Создать <i class="fa fa-plus"></i>
						</router-link>
					</div>
					<!-- /.box-tools -->
				</div>
				<!-- /.box-header -->
				<div class="box-body no-padding">
					<form class="row">
						<div class="form-group margin">
							<div class="col-md-2">
								<input type="text" class="form-control" placeholder="ID" v-model="id">
							</div>
							<div class="col-md-2">
								<input type="text" class="form-control" placeholder="Имя" v-model="name">
							</div>
							<div class="col-md-2">
								<select v-model="online" class="form-control">
									<option value="">Онлайн</option>
									<option value="1">Да</option>
									<option value="0">Нет</option>
								</select>
							</div>
							<div class="col-md-2">
								<select v-model="status" class="form-control">
									<option value="all">Статус</option>
									<option value="active">Активный</option>
									<option value="banned">Забанен</option>
									<option value="deactivated">Удален</option>
								</select>
							</div>
						</div>
					</form>
					<sst :loader="loader" @load="fetchData" :sort="sort" :data="data"
						 :count="count" :loadParams="loadParams" :order="order" :pagination="pagination">
						<tr slot="tbody" v-for="i in data" :key="i.id">
							<td>
								<router-link :to="{name: 'Профиль клиента', params: {man: i.id}}">{{i.id}}
								</router-link>
							</td>
							<td>
								<router-link :to="{name: 'Профиль клиента', params: {man: i.id}}">
									<img :src="i.avatar.small" class="img-responsive img-rounded" :alt="i.name"
										 style="width: 50px;">
								</router-link>
							</td>
							<td>
								<router-link :to="{name: 'Профиль клиента', params: {man: i.id}}">
									{{i.name}}
								</router-link>
							</td>
							<td>{{i.count_payyer}}</td>
							<td>{{i.sum_payyer}}</td>
							<td>
								<template v-if="i.online">
									<span class="glyphicon glyphicon-ok-circle fa-2x text-green"></span>
								</template>
								<template v-else>
									<span class="glyphicon glyphicon-remove-circle fa-2x text-red"></span>
								</template>
							</td>
							<td>
								<strong :class="{'text-red': i.account_status === 'deactivated',
                                'text-yellow': i.account_status === 'temp_deactivated', 'text-green': i.account_status === 'active'}">
									{{getStatus( i.account_status )}}
								</strong>
							</td>
							<td>
								<router-link :to="{name: 'Изменение профиля клиента', params: {man: i.id}}"
											 class="btn btn-primary btn-block">
									<i class="fa fa-edit fa-lg text-white"></i>
								</router-link>
							</td>
						</tr>
					</sst>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
		</div>
	</div>
</template>

<script>
	import moment from 'moment'
	import toastr from 'toastr'
	import _ from 'lodash'
	import sst from '../../custom/serverSideTable.vue'
	import { SS_SORT_TABLE } from '../../../mixins/utils'

	export default {
		data() {
			return {
				loader: true,
				data: [],
				id: '',
				name: '',
				online: '',
				isNew: '',
				sort: [
					{ active: false, name: 'id', column: 'ID' },
					{ active: false, name: '', column: 'Аватар' },
					{ active: false, name: 'name', column: 'Имя' },
					{ active: false, name: 'count_payyer', column: 'Кол. пополнений' },
					{ active: false, name: 'sum_payyer', column: 'Сумма пополнений' },
					{ active: false, name: 'is_online', column: 'Онлайн' },
					{ active: false, name: 'account_status', column: 'Статус' },
					{ active: false, name: '', column: 'Действие' },
				],
				status: 'all'
			}
		},
		mixins: [ SS_SORT_TABLE ],
		watch: {
			id() {
				this.resetPagination();
				this.search();
			},
			name() {
				this.resetPagination();
				this.search();
			},
			payyer() {
				this.resetPagination();
				this.fetchData();
			},
			status() {
				this.resetPagination();
				this.fetchData();
			}
		},
		methods: {
			getStatus( status ) {
				let tmp;
				switch ( status ) {
					case 'active':
						tmp = 'Активный';
						break;
					case 'banned':
						tmp = 'Забанен';
						break;
					case 'deactivated':
						tmp = 'Удален';
						break;
					case 'temp_deactivated':
						tmp = 'Временно удален';
						break;
				}
				return tmp;
			},
			search: _.debounce( function () {
				this.fetchData()
			}, 300 ),
			fetchData() {
				window.scrollTo( 0, 0 );
				this.loader = true;
				this.$http.post( 'v2/male/get', {
					access_token: this.$cookie.get( 'access_token' ),
					account_status: JSON.stringify( this.usersStatus ),
					offset: this.loadParams.offset,
					limit: this.loadParams.limit,
					order_type: this.order.type,
					order_by: this.order.by,
					id: this.id,
					bot: 1,
					name: this.name,
					is_online: this.online || '',
				} ).then( data => {
					if ( data.body.status ) {
						this.data = data.body.result;
						this.count = +data.body.count;
					} else {
						toastr.error( 'Не могу получить пользователей' );
						toastr.info( data.body.desc );
						this.data = [];
						this.count = 0;
					}
					this.loader = false;
				}, err => {
					this.loader = false;
					toastr.error( 'Ошибка API' );
					console.log( err );
					this.data = [];
					this.count = 0;
				} )
			},
			date( ts ) {
				return moment( ts * 1000 ).format( 'LLL' )
			}
		},
		computed: {
			usersStatus() {
				if ( this.status === 'all' ) {
					return [ 'active', 'banned', 'deactivated', 'temp_deactivated' ]
				}
				return [ this.status ]
			}
		},
		beforeMount() {
			this.updOrderParams( {
				type: 'desc',
				by: 'last_active'
			} );
			this.fetchData();
		},
		components: {
			sst
		}
	}
</script>
