<template>
    <div>
        <h2 class="page-header">
            <i class="fa fa-edit"></i> Клиент ID: {{$route.params.man}}
            <router-link :to="'/man/view/' + $route.params.man">
                <a class="btn btn-sm btn-success"><i class="fa fa-lg  fa-eye"></i></a>
            </router-link>
        </h2>
        <div class="row">
            <div class="col-md-8">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#main-tab" @click="openTab('main')"
                               data-toggle="tab">Главная</a></li>
                        <li><a href="#contacts" @click="openTab('contacts')" data-toggle="tab">Контакты</a></li>
                        <li><a href="#appearance" @click="openTab('appearance')" data-toggle="tab">Внешность</a>
                        </li>
                        <li><a href="#additional" @click="openTab('additional')"
                               data-toggle="tab">Дополнительная</a></li>
                        <li><a href="#preferences" @click="openTab('preferences')"
                               data-toggle="tab">Предпочтения</a></li>
                        <li><a href="#dreamWomanTab" @click="openTab('dreamWoman')"
                               data-toggle="tab">Идеальная женщина</a></li>
                        <li><a href="#photos" @click="openTab('photos')" data-toggle="tab">Фото</a></li>
                    </ul>
                    <div class="tab-content no-padding">
                        <div class="active tab-pane" id="main-tab">
                            <ul class="v-list v-list-sm-pad">
                                <li><label class="col-md-7">Имя <i class="fa fa-asterisk text-red" style="font-size: 9px;"></i></label>
                                    <div class="col-md-5">
                                        <input type="text" class="form-control" v-model="name">
                                    </div>
                                </li>
                                <li><label class="col-md-7">Фамилия</label>
                                    <div class="col-md-5">
                                        <input type="text" class="form-control" v-model="surName">
                                    </div>
                                </li>
                                <li><label class="col-md-7">E-mail</label>
                                    <div class="col-md-5">
                                        <input disabled type="text" class="form-control"
                                               v-model="email">
                                    </div>
                                </li>
                                <li><label class="col-md-7">Дата рождения <i class="fa fa-asterisk text-red"
                                                                             style="font-size: 9px;"></i></label>
                                    <div class="col-md-5">
                                        <div class="input-group date d-t-picker" id="birthdayPickerMan">
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                            <input type="text" name="date_from" class="form-control from-sort">
                                        </div>
                                    </div>
                                </li>
                                <li><label class="col-md-7">Бот</label>
                                    <div class="col-md-5">
                                        <select v-model="bot" class="form-control" disabled>
                                            <option value="0">нет</option>
                                            <option value="1">да</option>
                                        </select>
                                    </div>
                                </li>
                                <li><label class="col-md-7">Статус</label>
                                    <div class="col-md-5">
                                        <select name="" class="form-control" v-model="active">
                                            <option value="active">активный</option>
                                            <option value="banned">забаненный</option>
                                            <option value="deactivated">удален</option>
                                            <option value="temp_deactivated">временно удален</option>
                                        </select>
                                    </div>
                                </li>
                                <li><label class="col-md-4">Примечание</label>
                                    <div class="col-md-8">
                                        <textarea class="form-control" rows="10" v-model="note"></textarea>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-pane" id="contacts">
                            <ul class="v-list v-list-sm-pad">
                                <li><label for="for-country" class="col-md-7">Страна</label>
                                    <div class="col-md-5">
                                        <multiselect v-model="selectedCountry" label="name" track-by="name"
                                                     :placeholder="country" :options="countries" :multiple="false"
                                                     :searchable="true" :internal-search="true"
                                                     :clear-on-select="false" :close-on-select="true"
                                                     :options-limit="300" :limit="3" :limit-text="limitText">
                                            <span slot="noResult">Oops! No elements found. Consider changing the search query.</span>
                                        </multiselect>
                                    </div>
                                </li>
                                <li><label class="col-md-7">Город</label>
                                    <div class="col-md-5">
                                        <multiselect v-model="selectedCity" id="ajax" label="name"
                                                     track-by="country_id" :placeholder="city" :options="cities"
                                                     :multiple="false" :searchable="true" :loading="isLoading"
                                                     :internal-search="false" :clear-on-select="false"
                                                     :close-on-select="true" :options-limit="300" :limit="3"
                                                     :limit-text="limitText" @search-change="asyncCity">
                                            <span slot="noResult">Oops! No elements found. Consider changing the search query.</span>
                                        </multiselect>
                                    </div>
                                </li>
                                <li><label class="col-md-7">Адрес</label>
                                    <div class="col-md-5">
                                        <input type="text" class="form-control" v-model="address">
                                    </div>
                                </li>
                                <li><label for="for-phone-1" class="col-md-7">Телефон</label>
                                    <div class="col-md-5">
                                        <input type="text" v-model="phone" class="form-control" id="for-phone-1">
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-pane" id="appearance">
                            <ul class="v-list v-list-sm-pad">
                                <li><label for="for-country" class="col-md-7">Телосложение</label>
                                    <div class="col-md-5">
                                        <select name="" class="form-control" v-model="body">
                                            <option value="no" selected="selected"></option>
                                            <option value="thin">thin</option>
                                            <option value="slender">slender</option>
                                            <option value="athletic">athletic</option>
                                            <option value="a few extra pounds">a few extra pounds</option>
                                            <option value="plump">plump</option>
                                        </select>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-group">
                                        <label class="col-md-7">Рост</label>
                                        <div class="col-md-5">
                                            <div class="input-group">
                                                <input type="number" class="form-control" :class="{'error': myHeightError}" v-model="height"> <span
                                                class="input-group-addon">cm</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-group">
                                        <label class="col-md-7">Вес</label>
                                        <div class="col-md-5">
                                            <div class="input-group">
                                                <input type="number" class="form-control" :class="{'error': myWeightError}" v-model="weight"> <span
                                                class="input-group-addon">kg</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li><label for="for-country" class="col-md-7">Цвет глаз</label>
                                    <div class="col-md-5">
                                        <select name="" class="form-control" v-model="eye_color">
                                            <option value="no" selected="selected"></option>
                                            <option value="black">black</option>
                                            <option value="green">green</option>
                                            <option value="gray">gray</option>
                                            <option value="brown">brown</option>
                                            <option value="light-brown">light-brown</option>
                                            <option value="blue">blue</option>
                                        </select>
                                    </div>
                                </li>

                                <li><label for="for-country" class="col-md-7">Цвет волос</label>
                                    <div class="col-md-5">
                                        <select name="" class="form-control" v-model="hair_color">
                                            <option value="no" selected="selected"></option>
                                            <option value="blonde">blonde</option>
                                            <option value="brown">brown</option>
                                            <option value="redhead">redhead</option>
                                            <option value="brunette">brunette</option>
                                            <option value="colored">colored</option>
                                        </select>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-pane" id="additional">
                            <ul class="v-list v-list-sm-pad">
                                <li><label class="col-md-2">Статус</label>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" v-model="status">
                                    </div>
                                </li>
                                <li><label for="for-country" class="col-md-7">Уровень знания английского</label>
                                    <div class="col-md-5">
                                        <select name="" class="form-control" v-model="english">
                                            <option value="no" selected="selected"></option>
                                            <option value="basic">basic</option>
                                            <option value="intermediate">intermediate</option>
                                            <option value="good">good</option>
                                            <option value="fluent">fluent</option>
                                        </select>
                                    </div>
                                </li>
                                <li>
                                    <label for="for-country" class="col-md-7">Другие языки</label>
                                    <div class="col-md-5">
                                        <div class="language-line">
                                            <div class="input-group separator margin-bottom">
                                                <label>
                                                    Spanish
                                                </label>
                                                <div class="input-group-addon">-</div>
                                                <select name="" v-model="spanish" class="form-control">
                                                    <option value="no"></option>
                                                    <option value="basic">basic</option>
                                                    <option value="intermediate">intermediate</option>
                                                    <option value="good">good</option>
                                                    <option value="fluent">fluent</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="language-line">
                                            <div class="input-group separator margin-bottom">
                                                <label>
                                                    German
                                                </label>
                                                <div class="input-group-addon">-</div>
                                                <select name="" v-model="german" class="form-control">
                                                    <option value="no"></option>
                                                    <option value="basic">basic</option>
                                                    <option value="intermediate">intermediate</option>
                                                    <option value="good">good</option>
                                                    <option value="fluent">fluent</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="language-line">
                                            <div class="input-group separator margin-bottom">
                                                <label>
                                                    French
                                                </label>
                                                <div class="input-group-addon">-</div>
                                                <select name="" class="form-control" v-model="french">
                                                    <option value="no"></option>
                                                    <option value="basic">basic</option>
                                                    <option value="intermediate">intermediate</option>
                                                    <option value="good">good</option>
                                                    <option value="fluent">fluent</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="language-line">
                                            <div class="input-group separator margin-bottom">
                                                <label>
                                                    Portuguese
                                                </label>
                                                <div class="input-group-addon">-</div>
                                                <select name="" class="form-control" v-model="portuguese">
                                                    <option value="no"></option>
                                                    <option value="basic">basic</option>
                                                    <option value="intermediate">intermediate</option>
                                                    <option value="good">good</option>
                                                    <option value="fluent">fluent</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li><label for="for-country" class="col-md-7">Семейное положение</label>
                                    <div class="col-md-5">
                                        <select name="" class="form-control" v-model="familyStatus">
                                            <option value="no"></option>
                                            <option value="single">single</option>
                                            <option value="divorced">divorced</option>
                                            <option value="widow">widowed</option>
                                            <option value="never been married">never been married</option>
                                        </select>
                                    </div>
                                </li>
                                <li><label for="for-country" class="col-md-7">Oбразование</label>
                                    <div class="col-md-5">
                                        <select name="" class="form-control" v-model="education">
                                            <option value="no"></option>
                                            <option value="Middle School">middle School</option>
                                            <option value="High school">high school</option>
                                            <option value="Student">student</option>
                                            <option value="Bachelor's Degree">Bachelor's Degree</option>
                                            <option value="Master's Degree">Master's Degree</option>
                                            <option value="Doctoral Level">Doctoral Level</option>
                                        </select>
                                    </div>
                                </li>
                                <li><label class="col-md-7">Професия</label>
                                    <div class="col-md-5">
                                        <input type="text" class="form-control" v-model="profession">
                                    </div>
                                </li>
                                <li><label for="for-country" class="col-md-7">Я живу</label>
                                    <div class="col-md-5">
                                        <select name="" class="form-control" id="for-country"
                                                v-model="accommodation">
                                            <option value="no"></option>
                                            <option value="with parents">with parents</option>
                                            <option value="with neighbors">with neighbors</option>
                                            <option value="in dorm">in dorm</option>
                                            <option value="separately (rented housing)">separately (rented
                                                    housing)


                                            </option>
                                            <option value="separately (in own housing)">separately (in own
                                                    housing)


                                            </option>
                                        </select>
                                    </div>
                                </li>
                                <li><label for="for-country" class="col-md-7">Дети</label>
                                    <div class="col-md-5">
                                        <select name="" class="form-control" v-model="children">
                                            <option value="no" selected="selected"></option>
                                            <option value="I have no children">no children</option>
                                            <option value="no but I want to have children">no but I want to have
                                                    children


                                            </option>
                                            <option value="have children">have children</option>
                                            <option value="have children, but living separately">have children, but
                                                    living separately


                                            </option>
                                            <option value="have adult children">have adult children</option>
                                        </select>
                                    </div>
                                </li>
                                <li><label for="for-country" class="col-md-7">Религия</label>
                                    <div class="col-md-5">
                                        <select name="" class="form-control" v-model="religion">
                                            <option value="no"></option>
                                            <option value="Christianity">Christianity</option>
                                            <option value="Catholicism">Catholicism</option>
                                            <option value="Islam">Islam</option>
                                            <option value="Buddhism">Buddhism</option>
                                            <option value="Hinduism">Hinduism</option>
                                            <option value="other">other</option>
                                        </select>
                                    </div>
                                </li>
                                <li><label for="for-country" class="col-md-7">Отношение к курению</label>
                                    <div class="col-md-5">
                                        <select name="" class="form-control" v-model="smoke">
                                            <option value="no"></option>
                                            <option value="I do not smoke">not smoke</option>
                                            <option value="rarely">rarely</option>
                                            <option value="often">often</option>
                                        </select>
                                    </div>
                                </li>
                                <li><label for="for-country" class="col-md-7">Отношение к алкоголю</label>
                                    <div class="col-md-5">
                                        <select name="" class="form-control" v-model="drink">
                                            <option value="no"></option>
                                            <option value="I do not drink">not drink</option>
                                            <option value="rarely">rarely</option>
                                            <option value="occasionally">occasionally</option>
                                            <option value="often">often</option>
                                        </select>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-pane" id="preferences">
                            <ul class="v-list v-list-sm-pad">
                                <li><label for="for-country" class="col-md-7">Домашнее животное</label>
                                    <div class="col-md-5">
                                        <multiselect
                                            v-model="selectedPet"
                                            :options="petList"
                                            :multiple="true"
                                            track-by="name"
                                            :custom-label="customLabel"
                                        >
                                        </multiselect>
                                    </div>
                                </li>
                                <li><label for="for-country" class="col-md-7">Любимый праздник</label>
                                    <div class="col-md-5">
                                        <multiselect
                                            v-model="selectedCelebration"
                                            :options="celebrationList"
                                            :multiple="true"
                                            track-by="name"
                                            :custom-label="customLabel"
                                        >
                                        </multiselect>
                                    </div>
                                </li>
                                <li><label for="for-country" class="col-md-7">Цели</label>
                                    <div class="col-md-5">
                                        <multiselect
                                            v-model="selectedTarget"
                                            :options="targetList"
                                            :multiple="true"
                                            track-by="name"
                                            :custom-label="customLabel"
                                        >
                                        </multiselect>
                                    </div>
                                </li>
                                <li><label class="col-md-7">Интересы</label>
                                    <div class="col-md-5">
                                        <input type="text" class="form-control" v-model="interests">
                                    </div>
                                </li>
                                <li><label class="col-md-4">Обо мне</label>
                                    <div class="col-md-8">
                                        <textarea type="text" rows="10" style="resize: none;" class="form-control"
                                                  v-model="about_me"></textarea>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-pane" id="dreamWomanTab">
                            <ul class="v-list v-list-sm-pad">
                                <li><label class="col-md-7">Возраст женщины</label>
                                    <div class="col-md-5">
                                        <div class="input-group separator">
                                            <input type="number" class="form-control" min="18" max="100"
                                                   :class="{'error': ageErrorFrom}" placeholder="Возраст от "
                                                   v-model="aboutWomanAgeFrom">
                                            <div class="input-group-addon">-</div>
                                            <input type="number" class="form-control" min="18" max="100"
                                                   :class="{'error': ageErrorTo}" placeholder="Возраст до "
                                                   v-model="aboutWomanAgeTo">
                                        </div>
                                    </div>
                                </li>
                                <li><label class="col-md-7">Телосложение женщины</label>
                                    <div class="col-md-5">
                                        <select name="" class="form-control" v-model="aboutWomanBody">
                                            <option value="no" selected="selected"></option>
                                            <option value="thin">thin</option>
                                            <option value="slender">slender</option>
                                            <option value="athletic">athletic</option>
                                            <option value="a few extra pounds">a few extra pounds</option>
                                            <option value="plump">plump</option>
                                        </select>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-group">
                                        <label class="col-md-7">Рост женщины</label>
                                        <div class="col-md-5">
                                            <div class="input-group separator">
                                                <input type="number" class="form-control"
                                                       :class="{'error': heightErrorFrom}" min="70" max="250"
                                                       placeholder="Рост от (см)" v-model="wHeightFrom">

                                                <div class="input-group-addon">-</div>
                                                <input type="number" class="form-control"
                                                       :class="{'error': heightErrorTo}" min="70" max="250"
                                                       placeholder="Рост до (см)" v-model="wHeightTo">

                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-group">
                                        <label class="col-md-7">Вес женщины</label>
                                        <div class="col-md-5">
                                            <div class="input-group separator">
                                                <input type="number" class="form-control" min="30" max="300"
                                                       :class="{'error': weightErrorFrom}" placeholder="Вес от (кг)"
                                                       v-model="aboutWomanWeightFrom">
                                                <div class="input-group-addon">-</div>
                                                <input type="number" class="form-control" min="30" max="300"
                                                       :class="{'error': weightErrorTo}" placeholder="Вес до (кг)"
                                                       v-model="aboutWomanWeightTo">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li><label class="col-md-7">Цвет глаз женщины</label>
                                    <div class="col-md-5">
                                        <select name="" class="form-control" v-model="aboutWomanEyeColor">
                                            <option value="no" selected="selected"></option>
                                            <option value="black">black</option>
                                            <option value="green">green</option>
                                            <option value="gray">gray</option>
                                            <option value="brown">brown</option>
                                            <option value="light-brown">light-brown</option>
                                            <option value="blue">blue</option>
                                        </select>
                                    </div>
                                </li>
                                <li><label class="col-md-7">Цвет волос женщины</label>
                                    <div class="col-md-5">
                                        <select name="" class="form-control" v-model="aboutWomanHairColor">
                                            <option value="no" selected="selected"></option>
                                            <option value="blonde">blonde</option>
                                            <option value="brown">brown</option>
                                            <option value="redhead">redhead</option>
                                            <option value="brunette">brunette</option>
                                            <option value="colored">colored</option>
                                        </select>
                                    </div>
                                </li>
                                <li><label class="col-md-7">Дети женщины</label>
                                    <div class="col-md-5">
                                        <select name="" class="form-control" v-model="aboutWomanChildren">
                                            <option value="no" selected="selected"></option>
                                            <option value="I have no children">no children</option>
                                            <option value="no but I want to have children">no but I want to have
                                                    children


                                            </option>
                                            <option value="have children">have children</option>
                                            <option value="have children, but living separately">have children, but
                                                    living separately


                                            </option>
                                            <option value="have adult children">have adult children</option>
                                        </select>
                                    </div>
                                </li>
                                <li><label class="col-md-4">Опиcание женщины</label>
                                    <div class="col-md-8">
                                        <textarea v-model="aboutWomanNote" name="" class="form-control" rows="10">I want to meet this woman! Will you help me find her? I wanna gift her my shirt! </textarea>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-pane" id="photos">

                          <small-loader v-if="!photosLoading" class="gallery-preloader"></small-loader>
                          <ul v-else class="v-list v-list-sm-pad" v-for="(photo, photoKey) in photos" :key="photoKey">

                            <li class="header text-bold" :class="getClass(photoKey)">

                              <div for="for-site" class="col-md-7">
                                {{ getPhotosTitle(photoKey) }}
                                <span v-if="photoKey === 'public_photo' || photoKey === 'private_photo'" class="text-muted small margin-top">(параметры фото: 720x720 px, не более 2 Mb)</span>
                              </div>

                              <div class="col-md-5 text-right" v-if="photoKey === 'public_photo'">
                                  <span class="load-file-link">
                                      <input type="file" name="mydocs[]"
                                             class="file-loader"
                                             @change="dropPhoto" data-album="public"
                                             data-nav=".photo-list-public">
                                      <span class="upload-text-wrapp">
                                          Загрузить <i class="fa fa-download text-blue"></i>
                                      </span>
                                  </span>
                              </div>

                              <div class="col-md-5 text-right"  v-if="photoKey === 'private_photo'">
                                    <span class="load-file-link">
                                        <input type="file" name="mydocs[]"
                                               class="file-loader"
                                               @change="dropPhoto" data-album="private"
                                               data-type="private"
                                               data-nav=".photo-list-private">
                                          <span class="upload-text-wrapp"> Загрузить
                                            <i class="fa fa-download text-blue"></i>
                                          </span>
                                    </span>
                              </div>

                            </li>

                            <li>
                              <nav class="photo-nav photo-list">
                                <a v-for="(photo, k) in photo.data" :key="k" :href="photo.file_url_origin">
                                  <img :src="photo[photoUrlType(photoKey)]"  alt="photo" />
                                  <span class="bottom-data id photo-id-span">ID: {{ photo.id }}</span>

                                  <span v-if="photoKey !== 'avatars'" class="fa fa-times-circle del-photo" @click.stop.prevent="deletePhoto(photo.id, photoKey)"></span>
                                  <span v-else class="fa fa-times-circle del-photo" @click.stop.prevent="deleteAvatar(photo.id)"></span>

                                  <span v-if="photoKey === 'public_photo'" @click.prevent.stop="pushToPrivate(photo.id)" class="btn btn-block btn-warning btn-xs margin-top-sm set-ava-src" style="bottom: 30px;"> <i class="fa fa-lock"></i> В приват</span>
                                  <span v-if="photoKey === 'public_photo'" @click.prevent.stop="setAsAvatar(photo.id)" class="btn btn-block btn-warning btn-xs margin-top-sm set-ava-src" style="height: 20px; margin: 5px 0; line-height: 5px; padding-top: 3px !important;"> <i class="fa fa-check"></i> Аватар</span>
                                </a>
                              </nav>
                              <button
                                  v-if="photos[photoKey].hasMore && photo.data.length > 0"
                                  @click="loadMore(photoKey)"
                                  :disabled="photos[photoKey].loader"
                                  class="show-more-btn"
                              >
                                <btn-loader class="display-inline-block" v-if="photos[photoKey].loader" :size=20></btn-loader> Показать еще
                              </button>
                            </li>
                          </ul>
                        </div>
                    </div>
                </div>
                <div class="clearfix text-right">
                    <a class="btn btn-primary" href="#contacts" v-show="currentTab !== 'photos' && currentTab !== 'documents'"
                       @click.prevent="saveProfile">Сохранить</a>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    import Multiselect from 'vue-multiselect'
    import toastr from 'toastr'
    import moment from 'moment'
    import _ from 'lodash'
	import SmallLoader from '../../custom/tableLoader/component.vue'
    import { mapGetters } from 'vuex';
    import BtnLoader from '@/components/custom/MoonLoaderNew.vue'
    import loader from "@components/custom/normalPreloader/component.vue";
    export default {
        name: 'ManEdit',
        data() {
            return {
            	galleries: '',
                myHeightError: false,
                myWeightError: false,
                ageErrorFrom: false,
                ageErrorTo: false,
                heightErrorFrom: false,
                heightErrorTo: false,
                weightErrorFrom: false,
                weightErrorTo: false,
                selectedPet: [],
                petList: [
                    {name: 'pet_dog', value: 'Dog'},
                    {name: 'pet_cat', value: 'Cat'},
                    {name: 'pet_hamster', value: 'Hamster'},
                    {name: 'pet_aquarium_fish', value: 'Aquarium fish'},
                    {name: 'pet_parrot', value: 'Parrot'},
                    {name: 'pet_turtle', value: 'Turtle'},
                    {name: 'pet_snake', value: 'Snake'},
                    {name: 'pet_iguana', value: 'Iguana'},
                    {name: 'pet_chinchilla', value: 'Chinchilla'},
                ],
                selectedTarget: [],
                targetList: [
                    {name: 'target_friendship', value: 'Friendship'},
                    {name: 'target_communication', value: 'Communication'},
                    {name: 'target_journey', value: 'Journey'},
                    {name: 'target_flirtation', value: 'Flirtation'},
                    {name: 'target_meeting', value: 'Meeting'},
                    {name: 'target_family', value: 'Family'},
                    {name: 'target_children', value: 'Children'}
                ],
                selectedCelebration: [],
                celebrationList: [
                    {name: 'celebration_birthday', value: 'Birthday'},
                    {name: 'celebration_christmas_day', value: 'Christmas Day'},
                    {name: 'celebration_new_years_day', value: 'New years Day'},
                    {name: 'celebration_easter', value: 'Easter'},
                    {name: 'celebration_valentines_day', value: 'Valentines Day'},
                    {name: 'celebration_halloween', value: 'Halloween'},
                    {name: 'celebration_womens_day', value: 'Women\'s Day'}
                ],
                partner: '',
                branch: '',
                admin: '',
                name: '',
                surName: '',
                middleName: '',
                email: '',
                active: '',
                passport: '',
                note: '',
                country: '',
                city: '',
                address: '',
                phone: '',
                skype: '',
                body: '',
                height: '',
                weight: '',
                eye_color: '',
                hair_color: '',
                status: '',
                english: '',
                spanish: '',
                german: '',
                french: '',
                portuguese: '',
                familyStatus: '',
                degree: '',
                profession: '',
                accommodation: '',
                children: '',
                religion: '',
                smoke: '',
                drink: '',
                interests: '',
                about_me: '',
                about_man_age_from: '',
                about_man_age_to: '',
                about_man: '',
                selectedCountry: '',
                selectedCity: '',
                countries: [],
                cities: [],
                isLoading: false,
                currentTab: 'main',
                passportDocument: [],
                photoWithPassport: [],
                videoApprove: [],
                photosAvatar: [],
                photosPublic: [],
				photosPurchased: [],
                photosPrivate: [],
                publicOnModeration: [],
                privateOnModeration: [],
                photosReject: [],
                privateRejectedPhotos: [],
                publicRejectedPhotos: [],
                photosToDeleting: [],
                bot: '',
                aboutWomanAgeFrom: '',
                aboutWomanAgeTo: '',
                wHeightFrom: '',
                wHeightFromDm: '',
                wHeightTo: '',
                wHeightToDm: '',
                aboutWomanBody: '',
                aboutWomanWeightFrom: '',
                aboutWomanWeightTo: '',
                aboutWomanEyeColor: '',
                aboutWomanHairColor: '',
                aboutWomanChildren: '',
                aboutWomanNote: '',
                birthdayChanged: false,
                birthday: '',
                constants: {
                    kgLbs: 2.20462262185,
                    lbsKg: 0.453592,
                    feetCm: 30.48,
                    inchCm: 2.54
                },
                education: ''
            }
        },
        watch: {
            $route (to, from) {
              this.$store.commit('resetPhotosData', { objectName: 'memberPhotos', type: 'all' });
            },
            photosLoading(val) {
              if (val) {
                this.initGallery();
              }
            },
            height(value) {
                if (value === '') {
                    this.myHeightError = false;
                } else this.myHeightError = value < 70 || value > 250;
            },
            weight(value) {
                if (value === '') {
                    this.myWeightError = false;
                } else this.myWeightError = value < 30 || value > 300;
            },
            selectedCountry(value) {
                let name = value.name;
                this.country = name;
            },
            selectedCity(value) {
                this.city = value.name
            },
            aboutWomanAgeFrom(value) {
                this.ageErrorFrom = value < 18 || value > 100;
                if (value === '') {
                    this.ageErrorFrom = false;
                } else this.ageErrorFrom = value < 18 || value > 100;
            },
            aboutWomanAgeTo(value) {
                if (value === '') {
                    this.ageErrorTo = false;
                } else this.ageErrorTo = value < 18 || value > 100;
            },
            wHeightFrom(value) {
                if (value === '') {
                    this.heightErrorFrom = false;
                } else this.heightErrorFrom = value < 70 || value > 250;
            },
            wHeightTo(value) {
                if (value === '') {
                    this.heightErrorTo = false;
                } else this.heightErrorTo = value < 70 || value > 250;
            },
            aboutWomanWeightFrom(value) {
                if (value === '') {
                    this.weightErrorFrom = false;
                } else this.weightErrorFrom = value < 30 || value > 300;
            },
            aboutWomanWeightTo(value) {
                if (value === '') {
                    this.weightErrorTo = false;
                } else this.weightErrorTo = value < 30 || value > 300;
            },
            currentTab(v) {
            	if (v === 'photos') this.fetchPhotos();
            }
        },
        methods: {
			pushToPrivate(id) {
			    this.$http.post('v2/male/move/to-private', {
					access_token: this.$cookie.get('access_token'),
					photo_id: id,
					user_id: this.$route.params.man
                }).then(r => {
                	if (r.body.status) {
						toastr.success('Фото отправлено в приватный альбом');
                        this.fetchPhotos('public_photo', this.$route.params.man, true);
                        this.fetchPhotos('private_photo', this.$route.params.man, true);
                    } else {
						toastr.error(r.body.desc);
                    }
                }, err => {
					toastr.error('Не могу отправить фото в приватный альбом');
                })
            },
            setAsAvatar(id) {
                this.$http.post('v2/male/establish/avatar', {
                    access_token: this.$cookie.get('access_token'),
                    photo_id: id,
                    user_id: this.$route.params.man
                }).then(data => {
                    if (data.body.status) {
                        toastr.success('Аватар установлен');
                        this.fetchPhotos('avatars', this.$route.params.man, true);
                    } else {
                        toastr.error(data.body.desc);
                    }
                }, err => {
                    toastr.error('Не могу установить аватар');
                })
            },
            deleteAvatar(id) {
                App.confirm('Фото будет удалено без модерации. Вы уверены, что хотите удалить это фото?', response => {
                    if (response) {
                        this.$http.post('v2/male/remove/current-avatar', {
                            access_token: this.$cookie.get('access_token'),
                            user_id: this.$route.params.man
                        }).then(data => {
                            if (data.body.status) {
                                toastr.success('Фото удaлено успешно');
                                this.fetchPhotos('avatars', this.$route.params.man, true);
                            } else {
                                toastr.error('Не могу удалить фото');
                                toastr.info(data.body.desc);
                            }
                        }, err => {
                            toastr.error('Не могу удалить фото')
                        })
                    }
                })
            },
			initGallery() {
				if ( this.galleries ) {
					let tmp = [].slice.call(this.galleries);
					tmp.forEach(i => {
						$(i).data('lightGallery').destroy(true);
					})
				}
				setTimeout( () => {
					this.galleries = $( '.photo-nav' ).lightGallery({
                      closable: false,
                      loop: false,
                      speed: 200,
                      getCaptionFromTitleOrAlt: false,
                      subHtmlSelectorRelative: false,
                    });
				}, 300);
			},
            openTab(name) {
                this.currentTab = name
            },
            limitText (count) {
                return `and ${count} other countries`
            },
            asyncCity (query) {
                this.isLoading = true;
                this.$http.post(this.config.api.frontend + '/v2/guest/get-city', {
                    city_name: query,
                    country_id: this.selectedCountry.id
                }).then(data => {
                    this.isLoading = false;
                    if (data.body.status) {
                        this.cities = data.body.result;
                    }
                }, err => {
                    console.log(err);
                    this.isLoading = false
                });
            },
            fetchCountry() {
                this.$http.post(this.config.api.frontend + '/v2/guest/get-country', {})
                    .then(data => {
                        if (data.body.status) {
                            this.countries = data.body.result;
                        } else {
                            toastr.error('Не могу загрузить список стран')
                        }
                    }, err => {
                        console.log(err);
                    })
            },
            asyncFindCountry (query) {
                this.isLoading = true;
                this.$http.post('https://api.vk.com/method/database.getCountries', {
                    need_all: 1
                }).then(country => {
                    console.log(country.body);
                }, err => {
                    console.log(err);
                })
            },
            customLabel (option) {
                return `${option.value}`
            },
            fetchManData() {
                this.$http.post('v2/male/get/one', {
                    access_token: this.$cookie.get('access_token'),
                    user_id: this.$route.params.man
                }).then(data => {
                    if (data.body.status) {
                        let manData = data.body.result;
                        let preferences = manData.preferences;
                        for (let pref in preferences) {
                            if (pref.match('flowers_')) {
                                if (preferences[pref] == 1) {
                                    let prefName = pref;
                                    prefName = pref.replace('_', ' ').replace('_', ' ')
                                    prefName[0].toUpperCase();
                                    this.selectedFlowers.push({
                                        name: pref,
                                        value: prefName
                                    })
                                }
                            }
                            if (pref.match('pet_')) {
                                if (preferences[pref] == 1) {
                                    let prefName = pref;
                                    prefName = pref.replace('_', ' ').replace('_', ' ').replace('pet ', '');
                                    prefName[0].toUpperCase();
                                    prefName.charAt(0).toUpperCase();
                                    this.selectedPet.push({
                                        name: pref,
                                        value: _.startCase(prefName)
                                    })
                                }
                            }
                            if (pref.match('target_')) {
                                if (preferences[pref] == 1) {
                                    let prefName = pref;
                                    prefName = pref.replace('_', ' ').replace('_', ' ').replace('target_ ', '').replace('target ', ' ');
                                    prefName[0].toUpperCase();
                                    prefName.charAt(0).toUpperCase();
                                    this.selectedTarget.push({
                                        name: pref,
                                        value: _.startCase(prefName)
                                    })
                                }
                            }
                            if (pref.match('celebration_')) {
                                if (preferences[pref] == 1) {
                                    let prefName = pref;
                                    prefName = pref.replace('_', ' ').replace('_', ' ').replace('_', ' ').replace('celebration ', ' ');
                                    this.selectedCelebration.push({
                                        name: pref,
                                        value: _.startCase(prefName)
                                    })
                                }
                            }
                        }
                        this.name = manData.main.first_name;
                        this.surName = manData.main.surname;
                        this.middleName = manData.main.middle_name;
                        this.email = manData.general.email;
                        this.active = manData.general.status;
                        this.passport = manData.general.passport;
                        this.note = manData.general.note;
                        this.country = manData.contact.country;
                        this.city = manData.contact.city;
                        this.address = manData.contact.address;
                        this.phone = manData.contact.phone;
                        this.skype = manData.contact.skype;
                        this.body = manData.appearance.body;
                        this.height = manData.appearance.height;
                        this.weight = manData.appearance.weight;
                        this.eye_color = manData.appearance.eye_color;
                        this.hair_color = manData.appearance.hair_color;
                        this.status = manData.additional_info.status;
                        this.english = manData.additional_info.lang_english;
                        this.spanish = manData.additional_info.lang_spanish;
                        this.french = manData.additional_info.lang_french;
                        this.portuguese = manData.additional_info.lang_portuguese;
                        this.german = manData.additional_info.lang_german;
                        this.familyStatus = manData.additional_info.family_status;
                        this.education = manData.additional_info.education;
                        this.profession = manData.additional_info.profession;
                        this.accommodation = manData.additional_info.accommodation;
                        this.children = manData.additional_info.children;
                        this.religion = manData.additional_info.religion;
                        this.smoke = manData.additional_info.smoke;
                        this.drink = manData.additional_info.drink;
                        this.interests = manData.preferences.interests;
                        this.about_me = manData.preferences.about_me;
                        this.about_man_age_from = manData.preferences.about_man_age_from;
                        this.about_man_age_to = manData.preferences.about_man_age_to;
                        this.about_man = manData.preferences.about_man;
                        this.bot = manData.main.bot;
                        this.aboutWomanAgeFrom = manData.preferences.about_woman_age_from;
                        this.aboutWomanAgeTo = manData.preferences.about_woman_age_to;
                        this.aboutWomanWeightFrom = Math.floor(2.20462 * manData.preferences.about_woman_weight_from);
                        this.aboutWomanWeightTo = Math.floor(2.20462 * manData.preferences.about_woman_weight_to);
                        this.wHeightFrom = manData.preferences.about_woman_growth_from;
                        this.wHeightTo = manData.preferences.about_woman_growth_to;
                        let heightTo = this.cmToFeetInch(manData.preferences.about_woman_growth_to);
                        this.wHeightToFt = heightTo.feet;
                        this.wHeightToDm = heightTo.inches;
                        this.aboutWomanBody = manData.preferences.about_woman_body;
                        this.aboutWomanWeightFrom = manData.preferences.about_woman_weight_from;
                        this.aboutWomanWeightTo = manData.preferences.about_woman_weight_to;
                        this.aboutWomanEyeColor = manData.preferences.about_woman_eye_color;
                        this.aboutWomanHairColor = manData.preferences.about_woman_hair_color;
                        this.aboutWomanChildren = manData.preferences.about_woman_children;
                        this.aboutWomanNote = manData.preferences.about_woman_text;
                        this.ageErrorFrom = false;
                        this.ageErrorTo = false;
                        this.heightErrorFrom = false;
                        this.heightErrorTo = false;
                        this.weightErrorFrom = false;
                        this.weightErrorTo = false;
                        this.myHeightError = false;
                        this.myWeightError = false;

                        if (manData.general.birthday !== null) {
							this.birthday = +moment(manData.general.birthday * 1000).format( 'x' );
                        } else {
                        	this.birthday = '';
                        }

						$("#birthdayPickerMan").datetimepicker({
							useCurrent: false,
							defaultDate: this.birthday,
							format: 'DD.MM.YYYY',
							locale: 'ru',
							widgetPositioning: {
								horizontal: "left"
							}
						});


						$('#birthdayPickerMan').on("dp.change", (e) => {
							this.birthday = moment(e.date._d).format( 'DD.MM.YYYY' );
							/*let date = e.date;
							this.birthday =  moment(date._d).format('X') ;
							if (this.birthday > moment().subtract(1, 'day').startOf('day').unix()){
								this.birthday = 'null'
                            }*/
						});
                    } else {
                        toastr.error('Не могу загрузить информацию о клиентке')
                    }
                }, err => {
                    toastr.error('Не могу загрузить информацию о клиентке')
                })
            },
            kgToLbs(v) {
                return v * this.constants.kgLbs;
            },
            lbsToKg(v) {
                return v * this.constants.lbsKg;
            },
            cmToFeetInch (v) {
                let inches = (v * 0.393700787).toFixed(0),
                    feet = Math.floor(inches / 12);
                inches %= 12;
                return {
                    feet,
                    inches
                }
            },
            feetInchToCm(feet, inch) {
                if (feet !== 'no' && inch !== 'no') {
                    return Math.floor(feet * this.constants.feetCm + inch * this.constants.inchCm)
                }
                return 0;
            },
            dropDocument(event) {
                let documentType = event.target.dataset.type;
                let document = event.target.files[0];
                let documentFormData = new FormData();
                documentFormData.append('access_token', this.$cookie.get('access_token'));
                documentFormData.append('user_document_type', documentType);
                documentFormData.append('user_document_file', document);
                documentFormData.append('user_document_id', this.$route.params.man);
                toastr.info('Начинаю загрузку документа');
                this.$http.post('v2/document/upload/document', documentFormData)
                    .then(data => {
                        if (data.body.status) {
                            console.log(data.body.result);
                            let documentUploaded = data.body.result;
                            if (documentUploaded.document_type == 'passport_1') {
                                this.passportDocument.push(documentUploaded)
                            }
                            if (documentUploaded.document_type == 'photo_with_passport') {
                                this.photoWithPassport.push(documentUploaded)
                            }
                            if (documentUploaded.document_type == 'video_approve') {
                                this.videoApprove.push(documentUploaded)
                            }
                            toastr.success('Документ загружен успешно')
                        } else {
                            toastr.error('Не могу загрузить документ')
                        }
                    }, err => {
                        toastr.error(err)
                    })
            },
            saveProfile() {
                if (this.currentTab == 'main') {

					let birthday = this.birthday
                    if (this.birthday === null || this.birthday === ''){
						birthday = 'null'
                    } else {
						birthday = moment.utc(this.birthday, "DD-MM-YYYY").format('X')
                    }
                    this.$http.post('v2/male/update/main-info', {
                        access_token: this.$cookie.get('access_token'),
                        user_id: this.$route.params.man,
                        account_status: this.active,
                        birthday:birthday,
                        note: this.note,
                        name: this.name,
                        surname: this.surName,
                        middle_name: this.middleName,
                        passport: this.passport
                    }).then(data => {
                        if (data.body.status) {
                            toastr.success('Основная информация обновлена')
                        } else {
                            toastr.error('Не могу обновить основную информацию о клиентке');
                            toastr.info(data.body.desc)
                        }
                    }, err => {
                        console.log(err);
                        toastr.error('Не могу обновить основную информацию о клиентке')
                    })
                }
                if (this.currentTab == 'contacts') {
                    let country = this.country;
                    let city = this.city;
                    if(this.selectedCountry) {
                        country = this.selectedCountry.name;
                    }
                    if(this.selectedCity) {
                        city = this.selectedCity.name;
                    }
                    this.$http.post('v2/male/update/contacts', {
                        access_token: this.$cookie.get('access_token'),
                        user_id: this.$route.params.man,
                        address_country: country,
                        address_city: city,
                        address: this.address,
                        phone_number: this.phone
                    }).then(data => {
                        if (data.body.status) {
                            toastr.success('Данные о контактах обновлены')
                        } else {
                            toastr.error('Не могу обновить основную информацию о контактах')
                            toastr.info(data.body.desc)
                        }
                    }, err => {
                        console.log(err);
                        toastr.error('Не могу обновить основную информацию о контактах')
                    })
                }
                if (this.currentTab == 'appearance') {
                    if(this.myWeightError || this.myHeightError) {
                        toastr.warning('Невалидные поля');
                        return false;
                    }
                    this.$http.post('v2/male/update/appearance', {
                        access_token: this.$cookie.get('access_token'),
                        user_id: this.$route.params.man,
                        body: this.body,
                        height: this.height,
                        weight: this.weight,
                        eye_color: this.eye_color,
                        hair_color: this.hair_color
                    }).then(data => {
                        if (data.body.status) {
                            toastr.success('Данные о внешности обновлены')
                        } else {
                            toastr.error('Не могу обновить основную информацию о внешности')
                            toastr.info(data.body.desc)
                        }
                    }, err => {
                        console.log(err);
                        toastr.error('Не могу обновить основную информацию о внешности')
                    })
                }
                if (this.currentTab == 'additional') {
                    this.$http.post('v2/male/update/additional-info', {
                        access_token: this.$cookie.get('access_token'),
                        user_id: this.$route.params.man,
                        lang_english: this.english,
                        lang_german: this.german,
                        lang_portuguese: this.portuguese,
                        lang_french: this.french,
                        lang_spanish: this.spanish,
                        family_status: this.familyStatus,
                        education: this.education,
                        profession: this.profession,
                        accommodation: this.accommodation,
                        children: this.children,
                        religion: this.religion,
                        smoke: this.smoke,
                        drink: this.drink,
                        status: this.status
                    }).then(data => {
                        if (data.body.status) {
                            toastr.success('Данные о дополнительной информации обновлены')
                        } else {
                            toastr.error('Не могу обновить информацию о дополнительной информации')
                            toastr.info(data.body.desc)
                        }
                    }, err => {
                        console.log(err);
                        toastr.error('Не могу обновить информацию о дополнительной информации')
                    })
                }
                if (this.currentTab == 'preferences') {
                    let prefData = new FormData();
                    prefData.append('access_token', this.$cookie.get('access_token'));
                    prefData.append('user_id', this.$route.params.man);
                    prefData.append('about_man_age_from', this.about_man_age_from);
                    prefData.append('about_man_age_to', this.about_man_age_to);
                    prefData.append('about_man', this.about_man);
                    prefData.append('about_me', this.about_me);
                    prefData.append('interests', this.interests);

                    let pets = this.selectedPet;
                    let allPets = this.petList;
                    let petsSimpleArray = [];
                    for (let i = 0; i < pets.length; i++) {
                        petsSimpleArray.push(pets[i].name)
                    }
                    allPets.forEach(pet => {
                        if (petsSimpleArray.indexOf(pet.name) != -1) {
                            prefData.append(pet.name, 1)
                        } else {
                            prefData.append(pet.name, "0")
                        }
                    });

                    let targets = this.selectedTarget;
                    let allTargets = this.targetList;
                    let targetsSimpleArray = [];
                    for (let i = 0; i < targets.length; i++) {
                        targetsSimpleArray.push(targets[i].name)
                    }
                    allTargets.forEach(target => {
                        if (targetsSimpleArray.indexOf(target.name) != -1) {
                            prefData.append(target.name, 1)
                        } else {
                            prefData.append(target.name, "0")
                        }
                    });

                    let celebrations = this.selectedCelebration;
                    let allCelebrations = this.celebrationList;
                    let celebrationsSimpleaArray = [];
                    for (let i = 0; i < celebrations.length; i++) {
                        celebrationsSimpleaArray.push(celebrations[i].name)
                    }
                    allCelebrations.forEach(celebrate => {
                        if (celebrationsSimpleaArray.indexOf(celebrate.name) != -1) {
                            prefData.append(celebrate.name, 1);

                            console.log(celebrate.name)
                        } else {
                            prefData.append(celebrate.name, "0")
                        }
                    });


                    this.$http.post('v2/male/update/user-preferences', prefData)
                        .then(data => {
                            if (data.body.status) {
                                toastr.success('Данные о предпочтениях обновлены')
                            } else {
                                toastr.error('Не могу обновить информацию о предпочтениях');
                                toastr.info(data.body.desc);
                            }
                        }, err => {
                            console.log(err);
                            toastr.error('Не могу обновить информацию о предпочтениях')
                        })
                }
                if (this.currentTab == 'dreamWoman') {

                    if(this.ageErrorFrom || this.ageErrorTo || this.heightErrorFrom || this.heightErrorFrom || this.heightErrorTo || this.weightErrorFrom || this.weightErrorTo) {
                        toastr.warning('Невалидные поля');
                        return false;
                    }

                    this.$http.post('v2/male/update/looking-for-woman', {
                        access_token: this.$cookie.get('access_token'),
                        user_id: this.$route.params.man,
                        about_woman_age_from: this.aboutWomanAgeFrom,
                        about_woman_age_to: this.aboutWomanAgeTo,
                        about_woman_body: this.aboutWomanBody,
                        about_woman_growth_from: this.wHeightFrom,
                        about_woman_growth_to: this.wHeightTo,
                        about_woman_weight_from: this.aboutWomanWeightFrom,
                        about_woman_weight_to: this.aboutWomanWeightTo,
                        about_woman_eye_color: this.aboutWomanEyeColor,
                        about_woman_hair_color: this.aboutWomanHairColor,
                        about_woman_children: this.aboutWomanChildren,
                        about_woman_text: this.aboutWomanNote,
                    }).then(data => {
                        if (data.body.status) {
                            toastr.success('Идеальная женщина обновлена')
                        } else {
                            toastr.error('Не могу обновить данные')
                            toastr.info(data.body.desc);
                        }
                    }, err => {
                        console.log(err);
                        toastr.error('Не могу обновить данные')
                    })
                }
            },
            fetchPhotos(type = 'all', userId = this.$route.params.woman, reset = true) {
              this.$store.dispatch('loadPhotos', {
                objectName: 'memberPhotos',
                type: type,
                userId: this.$route.params.man,
                reset: reset,
                man: true
              });
            },
            loadMore(type) {
              const isFirstLoad = !this.photos[type].data?.length;

              this.$store.dispatch('loadPhotos', {
                objectName: 'memberPhotos',
                type,
                userId: this.$route.params.man,
                reset: isFirstLoad,
                man: true
              }).then(() => {
                this.initGallery();
              }).catch((error) => {
                console.error('Ошибка при загрузке фотографий:', error);
              });
            },
            deletePhoto(id, type) {
                App.confirm('Вы уверены что хотите удалить это фото?', cb => {
                    if (cb) {
                        this.$http.post('v2/male/remove/photo', {
                            access_token: this.$cookie.get('access_token'),
                            user_id: this.$route.params.man,
                            photo_id: id
                        }).then(data => {
                            if (data.body.status) {
                              this.fetchPhotos(type, this.$route.params.man, true);
                            } else {
                                toastr.error('Не могу удалить фото');
                            }
                        }, err => {
                            toastr.error('Не могу удалить фото');
                        })
                    } else {

                    }
                })
            },
            dropPhoto(event) {
                this.utils.checkImage(event).then(res => {
                    if(res === undefined || res.status === undefined || res.status === false) {
                        return false;
                    }else if('status' in res && res.status){
                        let albumType = event.target.dataset.album;
                        console.log(albumType);
                        if (albumType == 'public' || albumType == 'private') {
                            let photoFile = event.target.files[0];
                            let newPhotoFormData = new FormData();
                            newPhotoFormData.append('user_id', this.$route.params.man);
                            newPhotoFormData.append('access_token', this.$cookie.get('access_token'));
                            newPhotoFormData.append('album_type', albumType);
                            newPhotoFormData.append('image', photoFile);
                            toastr.info('Начинаю загрузку фото');
                            this.$http.post('v2/male/upload/photo', newPhotoFormData)
                                .then(data => {
                                    if (data.body.status) {
                                        this.fetchPhotos(`${albumType}_photo`, this.$route.params.man, true);
                                        setTimeout(() => {
                                            toastr.success('Фото успешно загружено');
                                            event = null;
                                        }, 300);
                                    } else {
                                        toastr.error('Не удалось загрузить фотографию');
                                        event = null;
                                        toastr.info(data.body.desc);
                                    }
                                }, err => {
                                    toastr.error('Не удоалось загрузить фотографию');
                                    event = null;
                                    console.log(err)
                                })
                        } else {
                            toastr.error('Не верный тип альбома');
                            event = null;
                        }
                    }
                }).catch(err => {
                    toastr.error(err.description);
                    event  = null;
                })
            }
        },
        computed: {
          ...mapGetters([
            'memberPhotos',
            'getPhotosTitle',
            'getClass',
            'photoUrlType'
          ]),
          photos(){
            return this.memberPhotos;
          },
          photosLoading() {
            return this.$store.getters.photosLoaded('memberPhotos');
          }
        },
        components: {
          BtnLoader,
          loader,
          Multiselect: window.VueMultiselect.default,
          SmallLoader
        },
        beforeMount() {
            this.fetchManData();
            this.fetchCountry();
        },
        mounted() {
            let needTab = window.location.hash;
            $('a[href="' + needTab + '"]').click();
            if(needTab === '#main-tab') {
                this.openTab('main');
            }
            if(needTab === '#contacts') {
                this.openTab('contacts');
            }
            if(needTab === '#additional') {
                this.openTab('additional');
            }
            if(needTab === '#appearance') {
                this.openTab('appearance');
            }
            if(needTab === '#preferences') {
                this.openTab('preferences');
            }
            if(needTab === '#dreamWomanTab') {
                this.openTab('dreamWoman');
            }
			if(needTab === '#photos') {
				this.openTab('photos');
			}
        },
        destroyed() {
          this.$store.commit('resetPhotosData', { objectName: 'memberPhotos', type: 'all' })
        }
    }
</script>

<style>
    .gallery-preloader {
        padding: 200px 0;
    }
    .multiselect__tag {
        background-color: cornflowerblue !important;
    }
    .error {
        border: solid darkred 1px !important;
    }
</style>
