<template>
	<!-- .row (main row) -->
	<div class="row">
		<div class="col-md-12">
			<div class="box box-blue box-solid">
				<div class="box-header with-border">
					<h3 class="box-title">Письма</h3>
					<div class="box-tools pull-right">
					</div>
					<!-- /.box-tools -->
				</div>
				<!-- /.box-header -->
				<div class="box-body no-padding">
					<!-- filter -->
					<form class="row">
						<div class="form-group margin">
							<date-filter :changeFilter="dateFilterChange"></date-filter>
							<div class="col-md-2">
								<input type="text" class="form-control" placeholder="ID" v-model="searchById">
							</div>
							<div class="col-md-2">
								<my-select :options="displayedPartners" v-model="partner"
										   :placeholder="'Партнер'" @select="selectPartnerCallback($event)"></my-select>
							</div>
							<div class="col-md-2">
								<my-select :options="displayedBranches" @select="selectBranchCallback($event)"
										   v-model="branch"
										   :placeholder="'Филиал'"></my-select>
							</div>
							<div class="col-md-2">
								<my-select :options="displayedAdmins" v-model="admin"
										   :placeholder="'Админ'" @select="selectAdminCallback($event)"></my-select>
							</div>
							<div class="col-md-2">
								<my-select :options="displayedWomen" v-model="woman"
										   :placeholder="'Клиентка'" @select="selectWomanCallback($event)"></my-select>
							</div>
							<div class="col-md-2">
								<my-select :options="displayedMen" v-model="man"
										   :placeholder="'Клиент'" @select="selectManCallback($event)"></my-select>
							</div>
							<div class="col-md-2">
								<select class="form-control" v-model="searchByReade">
									<option class="placeholder-option" value="">Прочитанное</option>
									<option value="1">да</option>
									<option value="0">нет</option>
								</select>
							</div>
							<div class="col-md-2">
								<select class="form-control" v-model="searchByReplied">
									<option class="placeholder-option" value="">Отвеченное</option>
									<option value="1">да</option>
									<option value="0">нет</option>
								</select>
							</div>
						</div>
					</form>
					<preloader v-show="loading"></preloader>
					<div class="table-responsive">
						<table class="table table-bordered table-striped" id="womanLettersTable"
							   v-show="!loading && table" style="width: 100%"
							   ref="table">
							<thead>
							<tr>
								<th class="xs-td">ID</th>
								<th class="xs-td">От(Клиент)</th>
								<th>Кому(Клиентка)</th>
								<th class="ext-lg-td">Тема</th>
								<th class="small-cell">Прочитанное</th>
								<th>Партнер</th>
								<th class="sm-td">Филиал</th>
								<th class="sm-td">Админ</th>
								<th class="sm-td">Дата создания</th>
								<th class="sm-td">Дата Ответа</th>
								<th>Действие</th>
							</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
			<div class="row">
				<div class="col-md-6">
					<div class="margin-top" id="womanLettersInfo">

					</div>
				</div>
				<div class="col-md-6">
					<ul class="pagination pull-right" id="womanLettersPagination">

					</ul>
				</div>
			</div>
		</div>
		<mail-modal v-if="showModal" @closewithout="closeWithout()" @close="closeModals()"
					@reinstall="destroyTable()" :letter="oneLetter">
		</mail-modal>
	</div>
</template>

<script>
	import mySelect from '../../custom/select2/select-new.vue'
	import moment from 'moment'
	import preloader from '../../custom/preloaderSmall/component.vue'
	import toastr from 'toastr'
	import MailModal from '../../modals/MailModal.vue'
	import DateFilter from '../../custom/datefilter/datapicker-period.vue'

	export default {
		name: 'LettersLog',
		data() {
			return {
				partner: 0,
				branch: 0,
				admin: 0,
				woman: 0,
				man: 0,
				timeFrom: moment().startOf( 'day' ).startOf( 'YYYY-MM-DD HH:mm' ),
				timeTo: moment().endOf( 'day' ).endOf( 'YYYY-MM-DD HH:mm' ),
				loading: true,
				allPartners: [],
				allBranches: [],
				allAdmins: [],
				searchById: '',
				searchByStatus: '',
				searchByReplied: '',
				searchByReade: '',
				allWomen: [],
				table: null,
				letters: [],
				mans: [],
				showModal: false,
				oneLetter: null,
			}
		},
		watch: {
			searchById( value ) {
				this.searchInTable( 0, value );
			},
			searchByReplied( value ) {
				this.searchInTable( 9, value );
			},
			searchByReade( value ) {
				this.searchInTable( 4, value );
			},
		},
		computed: {
			displayedPartners() {
				return this.allPartners.map( i => {
					return {
						id: +i.id,
						name: `${i.name} (id: ${i.id})`
					}
				} )
			},
			displayedBranches() {
				return this.allBranches.map( i => {
					return {
						id: +i.id,
						name: `${i.name} (id: ${i.id})`
					}
				} )
			},
			displayedAdmins() {
				return this.allAdmins.map( i => {
					if ( i.admin_name ) {
						return {
							id: +i.admin_user_id,
							name: `${(i.admin_name.trim() + ' ' + i.admin_surname.trim()).trim()} (id: ${i.admin_user_id})`
						}
					}
					return {
						id: +i.id,
						name: `${i.name.trim()} (id: ${i.id})`
					}
				} )
			},
			displayedWomen() {
				//TODO: fit answers
				return this.allWomen.map( i => {
					if ( 'fullName' in i ) {
						return {
							id: +i.id,
							name: `${i.fullName.trim()} (id: ${i.id})`
						}
					} else if ( 'surname' in i ) {
						return {
							id: +i.user_id,
							name: `${(i.name.trim() + ' ' + i.surname.trim()).trim()} (id: ${i.user_id})`
						}
					}
					return {
						id: +i.id,
						name: `${i.name.trim()} (id: ${i.id})`
					}
				} )
			},
			displayedMen() {
				return this.mans.map( i => {
					return {
						id: +i.user_id,
						name: `${(i.name.trim() + ' ' + i.surname.trim()).trim()} (id: ${i.user_id})`
					}
				} )
			}
		},
		methods: {
			dateFilterChange( d ) {
				this.timeFrom = d.from;
				this.timeTo = d.to;
				this.fetchData();
			},
			destroyTable() {
				if ( this.table ) {
					this.table.destroy();
					this.table = null;
					this.$forceUpdate();
				}
			},
			closeWithout() {
				this.showModal = false
				$( 'html' ).removeClass( 'modal-open' )
			},
			closeModals() {
				this.showModal = false
				$( 'html' ).removeClass( 'modal-open' )
				this.fetchData();
			},
			formatName( name, id ) {
				let fname = name.split( ' ' )[ 0 ]
				return `${fname} (id: ${id})`
			},
			selectManCallback( id ) {
				if ( id ) {
					let result = this.displayedMen.find( i => i.id === id );
					if ( result ) {
						this.searchInTable( 1, this.formatName( result.name, id ) )
					}
				} else {
					this.searchInTable( 1, '' )
				}
			},
			fetchAdminsByAgency( id ) {
				this.$http.post( 'v2/agency/get/admin-in-agency', {
					access_token: this.$cookie.get( 'access_token' ),
					agency_id: id
				} ).then( data => {
					if ( data.body.status ) {
						this.allAdmins = data.body.result;
					} else {
						toastr.error( 'Не могу загрузить список админов' )
					}
				}, err => {
					toastr.error( 'Не могу загрузить список админов' );
					console.log( err );
				} );
			},
			fetchWomanByAgency( value ) {
				this.$http.post( 'v2/agency/get/woman-in-agency', {
					access_token: this.$cookie.get( 'access_token' ),
					agency_id: value
				} ).then( data => {
					if ( data.body.status ) {
						this.allWomen = data.body.result;
					}
				} )
			},
			fetchBranchByAgency( value ) {
				this.$http.post( 'v2/agency/get/branches', {
					access_token: this.$cookie.get( 'access_token' ),
				} ).then( data => {
					if ( data.body.status ) {
						this.allBranches = data.body.result.filter( i => i.duty_agency.id === value )
					}
				} )
			},
			selectBranchCallback( value ) {
				if ( !this.partner ) {
					this.admin = this.woman = this.man = 0;
					this.resetSearch();
				}
				if ( value ) {

					let result = this.displayedBranches.find( i => i.id === value );
					if ( result ) {
						this.searchInTable( 6, result.name );
						this.fetchAdminsByAgency( value );
						this.fetchWomanByAgency( value );
					}
				} else {
					this.searchInTable( 6, '' );
					if ( !this.partner ) {
						this.fetchBranches();
						this.fetchAdmins();
						this.fetchWomen();
					}
					if ( this.partner ) {
						this.selectPartnerCallback( this.partner )
					}
				}
			},
			selectAdminCallback( value ) {
				if ( !this.partner || !this.branch ) {
					this.resetSearch();
				}
				this.woman = 0;
				if ( !value ) {
					this.fetchWomen();
					this.selectWomanCallback( '' );
				}
				if ( value ) {
					let result = this.displayedAdmins.find( i => i.id === value );
					if ( result ) {
						this.searchInTable( 7, result.name );
						this.$http.post( 'v2/agency/get/agency-woman', {
							access_token: this.$cookie.get( 'access_token' ),
							admin_id: value
						} ).then( data => {
							if ( data.body.status ) {
								this.allWomen = data.body.result;
							} else {
								toastr.error( 'Не могу получить список клиенток под админом' );
								toastr.info( data.body.desc );
							}
						}, err => {
							toastr.error( 'Не могу получить скписок клиенток под админом' );
							console.log( err )
						} )
					}
				} else {
					this.searchInTable( 7, '' )
					this.selectBranchCallback( this.branch )
				}
			},
			selectPartnerCallback( value ) {
				this.branch = this.admin = this.woman = this.man = 0;
				this.resetSearch();
				if ( value ) {

					let result = this.displayedPartners.find( i => i.id === value );
					if ( result ) {
						this.searchInTable( 5, result.name );
						this.fetchAdminsByAgency( value );
						this.fetchWomanByAgency( value );
						this.fetchBranchByAgency( value )
					}
				} else {
					this.searchInTable( 5, '' );
					this.fetchBranches();
					this.fetchAdmins();
					this.fetchWomen();
				}
			},
			selectWomanCallback( id ) {
				if ( id ) {
					let result = this.displayedWomen.find( i => i.id === id );
					if ( result ) {
						this.searchInTable( 2, this.formatName(result.name, id) )
					}
				} else {
					this.searchInTable( 2, '' )
				}
			},
			fetchBranches() {
				this.$http.post( 'v2/agency/get/branches', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( data => {
					if ( data.body.status ) {
						this.allBranches = data.body.result;
					} else {
						toastr.error( 'Не могу получить список филиалов' )
						toastr.info( data.body.desc )
					}
				}, err => {
					toastr.error( 'Не могу получить список филиалов' )
				} )
			},
			fetchAdmins() {
				this.$http.post( 'v2/agency/get/admins', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( data => {
					if ( data.body.status ) {
						this.allAdmins = data.body.result
					} else {
						toastr.error( 'Не могу получить список админов сайта' )
					}
				}, err => {
					toastr.error( 'Не могу получить список админов сайта' )
				} )
			},
			fetchPartner() {
				this.$http.post( 'v2/agency/get/list', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( data => {
					if ( data.body.status ) {
						this.allPartners = data.body.result;
					} else {
						toastr.error( 'Не могу загрузить список партнеров' )
						toastr.info( data.body.desc );
					}
				}, err => {
					toastr.error( 'Не могу загрузить список партнеров' )
				} )
			},
			fetchWomen() {
				this.$http.post( 'v2/femal/load-list', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( data => {
					if ( data.body.status ) {
						this.allWomen = data.body.result
					} else {
						toastr.error( 'Не могу загрузить список клиенток' )
					}
				}, err => {
					toastr.error( 'Не могу загрузить список клиенток' )
				} )
			},
			resetSearch() {
				if ( this.table ) this.table.search( '' ).columns().search( '' ).draw();
			},
			searchInTable( col, value ) {
				if ( this.table !== null ) {
					this.table.column( col ).search( value, false, false ).draw();
				}
			},
			fetchData() {
				this.loading = true;
				this.fetchWomen();
				this.destroyTable();
				this.$http.post( 'v2/male/get/letters', {
					access_token: this.$cookie.get( 'access_token' ),
					time_from: this.timeFrom,
					time_to: this.timeTo
				} ).then( data => {
					if ( data.body.status ) {
						this.letters = data.body.result;
						this.$nextTick( () => {
							this.initTable();
							this.searchInTable( 0, '' )
						} )
						this.loading = false;
						this.fetchPartner();
						this.fetchBranches();
						this.fetchAdmins();
						this.fetchManFilter();
					} else {
						toastr.error( data.body.desc );
						this.loading = false;
					}
				}, err => {
					toastr.error( 'Не могу получить список фото' )
					this.loading = false;
				} )
			},
			fetchManFilter() {
				this.$http.post( 'v2/male/easy-load', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( data => {
					if ( data.body.status ) {
						this.mans = data.body.result;
					} else {
						toastr.err( 'Не могу загрузить список клиентов' );
						toastr.info( data.body.desc )
					}
				}, err => {
					toastr.err( 'Не могу загрузить список клиентов' );
				} )
			},
			date( ts ) {
				return moment( ts * 1000 ).format( 'DD.MM.YYYY HH:mm:ss' )
			},
			initListeners() {
				$( '#womanLettersTable' ).on( 'click', '.show-letter', ( ev ) => {
					this.$http.post( 'v2/male/get/one-letter', {
						access_token: this.$cookie.get( 'access_token' ),
						message_id: ev.target.dataset.id
					} ).then( data => {
						if ( data.body.status ) {
							console.log( data.body.reslt );
							this.oneLetter = data.body.result;
							this.showModal = true
							$( 'html' ).addClass( 'modal-open' )
						} else {
							toastr.error( 'Не могу загрузить письмо' );
							toastr.info( data.body.desc )
						}
					}, err => {
						toastr.error( 'Не могу загрузить письмо' );
					} )
				} )
			},
			initTable() {
				let prettyLetersArrray = [];
				this.letters.forEach( letter => {
					let isReplied = '<span class="glyphicon glyphicon-ok-circle fa-2x text-green"><span style="display: none;">1</span></span>';
					if ( letter.messageReplied === '0' ) {
						isReplied = '<span class="glyphicon glyphicon-remove-circle fa-2x text-red"><span style="display: none;">0</span></span>';
					}
					let isReade = '<span class="glyphicon glyphicon-ok-circle fa-2x text-green"><span style="display: none;">1</span></span>';
					if ( letter.messageReade === '0' ) {
						isReade = '<span class="glyphicon glyphicon-remove-circle fa-2x text-red"><span style="display: none;">0</span></span>';
					}
					let action = '<a class="btn btn-primary btn-block show-letter" data-id="' + letter.messageId + '"><i data-id="' + letter.messageId + '" class="fa fa-eye fa-lg text-white"></i></a>';
					if ( letter.messageReplied === '0' ) {
						action = '<a class="btn btn-primary btn-block show-letter" data-id="' + letter.messageId + '">Ответить</a>';
					}
					if ( letter.messageReplied === '1' ) {
						action = '<a class="btn btn-primary btn-block show-letter" data-id="' + letter.messageId + '"><i data-id="' + letter.messageId + '" class="fa fa-eye fa-lg text-white"></i></a>';
					}

					let branch = '<span style="display: none;"></span>'
					if ( letter.branchAgencyId ) {
						branch = letter.branchAgencyName + ' (id: ' + letter.branchAgencyId + ')'
					}
					let admin = '<span style="display: none;"></span>'
					if ( letter.adminId ) {
						admin = letter.adminName + ' (id: ' + letter.adminId + ')'
					}
					let repliedAt = letter.messageRepliedAt;
					if ( letter.messageRepliedAt !== null ) {
						repliedAt = '<span><span style="display:none">' + letter.messageRepliedAt + '</span>' + moment( letter.messageRepliedAt * 1000 ).format( 'DD.MM.YYYY HH:mm:ss' ) + '</span>'
					}
					else {
						repliedAt = '<span class="text-red">Не отвечено<span style="display: none;">0</span></span>';
					}
					prettyLetersArrray.push( [
						'<a class="show-letter" data-id="' + letter.messageId + '">' + letter.messageId + '</a>',
						letter.manName + ' (id: ' + letter.manId + ')',
						letter.womanName + ' (id: ' + letter.womanId + ')',
						letter.messageSubject,
						isReade,
						letter.mainAgencyName + ' (id: ' + letter.mainAgencyId + ')',
						branch,
						admin,
						'<span><span style="display:none">' + letter.messageCreatedAt + '</span>' + moment( letter.messageCreatedAt * 1000 ).format( 'DD.MM.YYYY HH:mm:ss' ) + '</span>',
						repliedAt,
						action
					] );
				} )
				if ( this.table !== null ) {
					this.table
						.clear()
						.draw();
				}


				this.table = $( this.$refs.table ).DataTable( {
					data: prettyLetersArrray,
					"order": [ [ 10, "desc" ] ],
					iDisplayLength: 20,
					"pageLength": 20,
					"oLanguage": {
						"sLengthMenu": "Отображено _MENU_ записей на страницу",
						"sSearch": "Поиск:",
						"sZeroRecords": "Ничего не найдено - извините",
						"sInfo": "Показано с _START_ по _END_ из _TOTAL_ записей",
						"sInfoEmpty": "Показано с 0 по 0 из 0 записей",
						"sInfoFiltered": "(отфильтровано из _MAX_ записей)",
						"oPaginate": {
							"sFirst": "Первая",
							"sLast": "Посл.",
							"sNext": "След.",
							"sPrevious": "Пред.",
						}
					},

				} );

				$( '#womanLettersTable_filter' ).remove();
				$( '#womanLettersTable_length' ).remove();
				$( '#womanLettersPagination' ).innerHTML = $( '#womanLettersTable_paginate' )
				if ( this.letters.length < 20 ) {
					$( '#womanLettersPagination' ).hide()
				} else {
					$( '#womanLettersPagination' ).show()
				}

				this.initListeners()
			}
		},
		mounted() {

		},
		components: {
			'my-select': mySelect,
			'preloader': preloader,
			'mail-modal': MailModal,
			'date-filter': DateFilter,
		}
	}
</script>

<style lang="scss">
	.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
		max-width: 130px;
	}
</style>
