<template>
	<!-- .row (main row) -->
	<div class="row">
		<div class="col-md-12">
			<div class="box box-blue box-solid">
				<div class="box-header with-border">
					<h3 class="box-title">Письма</h3>
					<div class="box-tools pull-right">
					</div>
					<!-- /.box-tools -->
				</div>
				<!-- /.box-header -->
				<div class="box-body no-padding">
					<!-- filter -->
					<form class="row">
						<div class="form-group margin">
							<div class="col-md-2">
								<input type="text" class="form-control" placeholder="ID" v-model="searchById">
							</div>
							<div class="col-md-2">
								<my-select :options="allPartners" :placeholder="'Партнер'"
										   :callback="selectPartnerCallback"></my-select>

							</div>
							<div class="col-md-2">
								<my-select :options="showBranches" :placeholder="'Филиал'"
										   :callback="selectBranchCallback"></my-select>
							</div>
							<div class="col-md-2">
								<my-select :options="showAdmins" :placeholder="'Админ'"
										   :callback="selectAdminCallback"></my-select>
							</div>
							<div class="col-md-2">
								<my-select :options="showWomen" :placeholder="'Клиентка'"
										   :callback="selectWomanCallback"></my-select>
							</div>
							<div class="col-md-2">
								<my-select :options="mans" :placeholder="'Клиент'"
										   :callback="selectManCallback"></my-select>
							</div>
						</div>
					</form>
					<div class="row">
						<div class="form-group" style="margin-left: 15px">

							<div class="col-md-2">
								<select class="form-control" v-model="searchByReade">
									<option class="placeholder-option" value="">Прочитанное</option>
									<option value="1">да</option>
									<option value="0">нет</option>
								</select>
							</div>
							<div class="col-md-2">
								<select class="form-control" v-model="searchByReplied">
									<option class="placeholder-option" value="">Отвеченное</option>
									<option value="1">да</option>
									<option value="0">нет</option>
								</select>
							</div>
						</div>
					</div>
					<preloader v-show="loading"></preloader>
					<div class="table-responsive" v-show="!loading">
						<table class="table table-bordered table-striped" id="womanLettersTable" style="width: 100%">
							<thead>
							<tr>
								<th class="xs-td">ID
								</th>
								<th class="xs-td">От(Клиент)
								</th>
								<th>Кому(Клиентка)
								</th>
								<th class="ext-lg-td">Тема
								</th>
								<th class="small-cell">Прочитанное
								</th>
								<th>Партнер
								</th>
								<th class="sm-td">Филиал
								</th>
								<th class="sm-td">Админ
								</th>
								<th class="sm-td">Дата создания
								</th>
								<th class="sm-td">Дата Ответа
								</th>
								<th>Действие</th>
							</tr>
							</thead>
						</table>
					</div>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
			<div class="row">
				<div class="col-md-6">
					<div class="margin-top" id="womanLettersInfo">

					</div>
				</div>
				<div class="col-md-6">
					<ul class="pagination pull-right" id="womanLettersPagination">

					</ul>
				</div>
			</div>
		</div>
		<mail-modal v-if="showModal" @close="closeModals()" @reinstall="reinstall()" :letter="oneLetter">
		</mail-modal>
	</div>
</template>

<script>
	import mySelect from '../../custom/select2/component.vue'
	import moment from 'moment'
	import preloader from '../../custom/preloaderSmall/component.vue'
	import toastr from 'toastr'
	import MailModal from '../../modals/MailModal.vue'

	export default {
		name: 'LettersLog',
		data() {
			return {
				loading: true,
				allPartners: [],
				allBranches: [],
				allAdmins: [],
				showBranches: [],
				showAdmins: [],
				searchById: '',
				searchByStatus: '',
				searchByReplied: '',
				searchByReade: '',
				allWomen: [],
				showWomen: [],
				table: null,
				letters: [],
				mans: [],
				showModal: false,
				oneLetter: null,
			}
		},
		watch: {
			searchById( value ) {
				this.searchInTable( 0, value );
			},
			searchByReplied( value ) {
				this.searchInTable( 5, value );
			},
			searchByReade( value ) {
				this.searchInTable( 4, value );
			}
		},
		methods: {
			reinstall() {
				this.closeModals()
				setTimeout( () => {
					$( "#womanLettersTable" ).DataTable().destroy()
				}, 500 )
				setTimeout( () => {
					this.fetchData()
				}, 1000 )
			},
			closeModals() {
				this.showModal = false
				$( 'html' ).removeClass( 'modal-open' )
			},
			openLetter() {

			},
			selectManCallback( id ) {
				if ( id ) {
					this.searchInTable( 1, id )
				} else {
					this.searchInTable( 1, '' )
				}
			},
			fetchAdminsByAgency( id ) {
				this.$http.post( 'v2/agency/get/admin-in-agency', {
					access_token: this.$cookie.get( 'access_token' ),
					agency_id: id
				} ).then( data => {
					if ( data.body.status ) {
						this.showAdmins = data.body.result
					} else {
						toastr.error( 'Не могу загрузить список админов' )
					}
				}, err => {
					toastr.error( 'Не могу загрузить список админов' );
					console.log( err );
				} );
			},
			fetchWomanByAgency( value ) {
				this.$http.post( 'v2/agency/get/woman-in-agency', {
					access_token: this.$cookie.get( 'access_token' ),
					agency_id: value
				} ).then( data => {
					if ( data.body.status ) {
						this.showWomen = data.body.result;
						this.allPartners.forEach( p => {
							if ( p.id == value ) {
								this.showBranches = p.agency_branches
							}
						} )
					}
				} )
			},
			fetchBranchByAgency( value ) {
				this.$http.post( 'v2/agency/get/branches', {
					access_token: this.$cookie.get( 'access_token' ),
				} ).then( data => {
					if ( data.body.status ) {
						let branches = data.body.result;
						branches.forEach( branch => {
							if ( branch.agency.id === value ) {
								this.showBranches.push( branch )
							}
						} )
					}
				} )
			},
			selectBranchCallback( value ) {
				if ( value ) {
					this.allBranches.forEach( branch => {
						if ( branch.id == value ) {
							this.searchInTable( 7, branch.name );
						}
					} )
					this.fetchAdminsByAgency( value );
					this.fetchWomanByAgency( value );
				} else {
					this.searchInTable( 7, '' );
				}
			},
			selectAdminCallback( value ) {
				if ( value ) {
					this.allAdmins.forEach( admin => {
						if ( admin.id == value ) {
							this.searchInTable( 8, admin.name );
						}
					} );
					this.$http.post( 'v2/agency/get/agency-woman', {
						access_token: this.$cookie.get( 'access_token' ),
						admin_id: value
					} ).then( data => {
						if ( data.body.status ) {
							this.showWomen = [];
							data.body.result.forEach( woman => {
								this.showWomen.push( {
									id: woman.id,
									name: woman.fullName
								} )
							} )
						} else {
							toastr.error( 'Не могу получить список клиенток под админом' );
							toastr.info( data.body.desc );
						}
					}, err => {
						toastr.error( 'Не могу получить скписок клиенток под админом' );
						console.log( err )
					} )
				} else {
					this.showAdmins = this.allAdmins;
					this.searchInTable( 8, '' )
				}
			},
			selectPartnerCallback( value ) {
				if ( value ) {
					this.allPartners.forEach( partner => {
						if ( partner.id == value ) {
							this.searchInTable( 6, partner.name );
						}
					} );
					this.showWomen = [];
					this.showAdmins = [];
					this.showBranches = [];
					this.fetchAdminsByAgency( value );
					this.fetchWomanByAgency( value );
					this.fetchBranchByAgency( value )
				} else {
					this.searchInTable( 6, '' );
					this.showWomen = this.allWomen;
					this.showBranches = this.allBranches;
					this.showAdmins = this.allAdmins;
				}
			},
			selectWomanCallback( id ) {
				if ( id ) {
					this.searchInTable( 2, id )
				} else {
					this.searchInTable( 2, '' )
				}


			},
			fetchBranches() {
				this.$http.post( 'v2/agency/get/branches', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( data => {
					if ( data.body.status ) {
						this.allBranches = data.body.result;
						this.showBranches = this.allBranches
					} else {
						toastr.error( 'Не могу получить список филиалов' )
						toastr.info( data.body.desc )
					}
				}, err => {
					toastr.error( 'Не могу получить список филиалов' )
				} )
			},
			fetchAdmins() {
				this.$http.post( '/v1/agency/get/admins', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( data => {
					if ( data.body.status ) {
						let admins = data.body.result;
						let adminsPrettyArray = [];
						admins.forEach( a => {
							adminsPrettyArray.push( {
								id: a.admin_user_id,
								name: a.admin_name + ' ' + a.admin_surname,
							} )
						} )
						this.allAdmins = adminsPrettyArray;
						this.showAdmins = adminsPrettyArray;
					} else {
						toastr.error( 'Не могу получить список админов сайта' )
					}
				}, err => {
					toastr.error( 'Не могу получить список админов сайта' )
				} )
			},
			fetchPartner() {
				this.$http.post( 'v2/agency/get/list', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( data => {
					if ( data.body.status ) {
						this.allPartners = data.body.result;
					} else {
						toastr.error( 'Не могу загрузить список партнеров' )
						toastr.info( data.body.desc );
					}
				}, err => {
					toastr.error( 'Не могу загрузить список партнеров' )
				} )
			},
			fetchWomen() {
				this.$http.post( 'v2/femal/load-list', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( data => {
					if ( data.body.status ) {
						let normalArray = [];
						data.body.result.forEach( woman => {
							normalArray.push( {
								id: woman.user_id,
								name: woman.name + ' ' + woman.surname
							} )
						} )
						this.allWomen = normalArray;
						this.showWomen = normalArray;
					} else {
						toastr.error( 'Не могу загрузить список клиенток' )
					}
				}, err => {
					toastr.error( 'Не могу загрузить список клиенток' )
				} )
			},
			searchInTable( col, value ) {
				if ( this.table !== null ) {
					this.table.column( col )
						.search( value, false, false )
						.draw();
				}
			},
			fetchData() {
				this.loading = true;
				this.fetchWomen();
				this.$http.post( 'v2/male/get/letters', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( data => {
					if ( data.body.status ) {
						this.letters = data.body.result;
						this.initTable();
						this.loading = false;
						this.fetchPartner();
						this.fetchBranches();
						this.fetchAdmins();
						this.fetchManFilter();
					} else {
						toastr.error( data.body.desc );
						this.loading = false;
					}
				}, err => {
					toastr.error( 'Не могу получить список фото' )
				} )
			},
			fetchManFilter() {
				this.$http.post( 'v2/male/easy-load', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( data => {
					if ( data.body.status ) {
						data.body.result.forEach( man => {
							this.mans.push( {
								id: man.user_id,
								name: man.name + ' ' + man.surname
							} )
						} )
					} else {
						toastr.err( 'Не могу загрузить список клиентов' );
						toastr.info( data.body.desc )
					}
				}, err => {
					toastr.err( 'Не могу загрузить список клиентов' );
				} )
			},


			initListeners() {
				$( '#womanLettersTable' ).on( 'click', '.show-letter', ( ev ) => {
					this.$http.post( 'v2/male/get/one-letter', {
						access_token: this.$cookie.get( 'access_token' ),
						message_id: ev.target.dataset.id
					} ).then( data => {
						if ( data.body.status ) {
							console.log( data.body.reslt );
							this.oneLetter = data.body.result;
							this.showModal = true
							$( 'html' ).addClass( 'modal-open' )
						} else {
							toastr.error( 'Не могу загрузить письмо' );
							toastr.info( data.body.desc )
						}
					}, err => {
						toastr.error( 'Не могу загрузить письмо' );
					} )
				} )
			},

			initTable() {
				let prettyLetersArrray = [];
				this.letters.forEach( letter => {
					let isReplied = '<span class="glyphicon glyphicon-ok-circle fa-2x text-green"><span style="display: none;">1</span></span>';
					if ( letter.messageReplied === '0' ) {
						isReplied = '<span class="glyphicon glyphicon-remove-circle fa-2x text-red"><span style="display: none;">0</span></span>';
					}
					let isReade = '<span class="glyphicon glyphicon-ok-circle fa-2x text-green"><span style="display: none;">1</span></span>';
					if ( letter.messageReade === '0' ) {
						isReade = '<span class="glyphicon glyphicon-remove-circle fa-2x text-red"><span style="display: none;">0</span></span>';
					}
					let action = '<a class="btn btn-primary btn-block show-letter" data-id="' + letter.messageId + '"><i data-id="' + letter.messageId + '" class="fa fa-eye fa-lg text-white"></i></a>';
					if ( letter.messageReplied === '0' ) {
						action = '<a class="btn btn-primary btn-block show-letter" data-id="' + letter.messageId + '">Ответить</a>';
					}
					if ( letter.messageReplied === '1' ) {
						action = '<a class="btn btn-primary btn-block show-letter" data-id="' + letter.messageId + '"><i data-id="' + letter.messageId + '" class="fa fa-eye fa-lg text-white"></i></a>';
					}

					let branch = '<span style="display: none;"></span>'
					if ( letter.adminId ) {
						branch = '<span style="display: none;">' + letter.branchAgencyId + '</span>' + letter.branchAgencyName + '(' + letter.branchAgencyId + ')'
					}
					let admin = '<span style="display: none;"></span>'
					if ( letter.adminId ) {
						admin = '<span style="display: none;">' + letter.adminId + '</span>' + letter.adminName + '(' + letter.adminId + ')'
					}
					let repliedAt = letter.messageCreatedAt
					if ( letter.messageRepliedAt !== null ) {
						repliedAt = '<span><span style="display:none">' + letter.messageCreatedAt + '</span>' + moment( letter.messageCreatedAt * 1000 ).format( 'DD.MM.YYYY HH:mm:ss' ) + '</span>'
					}
					else {
						repliedAt = '<span class="glyphicon glyphicon-remove-circle fa-2x text-red"><span style="display: none;">0</span></span>'
					}
					prettyLetersArrray.push( [
						'<a class="show-letter" data-id="' + letter.messageId + '">' + letter.messageId + '</a>',
						letter.manName + '(' + letter.manId + ')',
						letter.womanName + '(' + letter.womanId + ')',
						letter.messageSubject,
						isReade,
						'<span style="display: none;">' + letter.mainAgencyId + '</span>' + letter.mainAgencyName + '(' + letter.mainAgencyId + ')',
						branch,
						admin,
						'<span><span style="display:none">' + letter.messageCreatedAt + '</span>' + moment( letter.messageCreatedAt * 1000 ).format( 'DD.MM.YYYY HH:mm:ss' ) + '</span>',
						repliedAt,
						action
					] );
				} )
				if ( this.table !== null ) {
					this.table
						.clear()
						.draw();
				}
				this.table = $( '#womanLettersTable' ).DataTable( {
					data: prettyLetersArrray,
					"order": [ [ 9, "desc" ] ],
					iDisplayLength: 20,
					"oLanguage": {
						"sLengthMenu": "Отображено _MENU_ записей на страницу",
						"sSearch": "Поиск:",
						"sZeroRecords": "Ничего не найдено - извините",
						"sInfo": "Показано с _START_ по _END_ из _TOTAL_ записей",
						"sInfoEmpty": "Показано с 0 по 0 из 0 записей",
						"sInfoFiltered": "(отфильтровано из _MAX_ записей)",
						"oPaginate": {
							"sFirst": "Первая",
							"sLast": "Посл.",
							"sNext": "След.",
							"sPrevious": "Пред.",
						}
					},

				} );
				$( '#womanLettersTable_filter' ).remove();
				$( '#womanLettersTable_length' ).remove();
				$( '#womanLettersPagination' ).append( $( '#womanLettersTable_paginate' ) )
				$( '#womanLettersInfo' ).append( $( '#womanLettersTable_info' ) )

				this.initListeners()
			}
		},
		beforeMount() {
			this.fetchData();
		},
		mounted() {
//        	console.log(toastr)
//        	if(  $('#womanLettersTable')) {}
//            $('#womanLettersTable').on('click', '.show-letter', (ev) => {
//                let letterId = ev.target.dataset.id
//                this.$router.push('/man/letter/' + letterId);
//            })
		},
		components: {
			'my-select': mySelect,
			'preloader': preloader,
			'mail-modal': MailModal
		}
	}
</script>

<style lang="scss">
	.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
		max-width: 130px;
	}
</style>
