<template>
    <div>
        <h2 class="page-header">
            <div class="row">
                <div class="col-sm-8 text-left">Письмо ID: {{letter.message.id}}</div>
            </div>
        </h2>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group row">
                    <label class="col-md-2 m-t-0">Дата создания:</label>
                    <div class="col-md-8">{{prettyCreated}}</div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 m-t-0">Рассылка:</label>
                    <div class="col-md-8">
                        <strong>{{isDistribution}}</strong>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 m-t-0">Прочитанно:</label>
                    <div class="col-md-8">
                        <strong>{{isReade}}</strong>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 m-t-0">От:</label>
                    <div class="col-md-8">
                        <div class="user-block user-block-md margin-bottom">
                            <img class="img-circle" :src="letter.sender.avatar.small"
                                 :alt="letter.sender.name">
                            <span class="username">
                                <a>{{letter.sender.name}}</a>
							</span>
                            <a>
                                <span class="description">ID: {{letter.sender.id}}</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 m-t-0">Кому:</label>
                    <div class="col-md-8">
                        <div class="user-block user-block-md margin-bottom">
                            <img class="img-circle" :src="letter.receiver.avatar.small"
                                 :alt="letter.receiver.name">
                            <span class="username">
                                <a>{{letter.receiver.name}}</a>
							</span>
                            <a>
                                <span class="description">
                                    ID: {{letter.receiver.id}}
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 m-t-0">Тема:</label>
                    <div class="col-md-8">
                        {{letter.message.subject}}


                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 m-t-0">Письмо:</label>
                    <div class="col-md-5">
                        {{letter.message.text}}

                        <nav class="photo-nav photo-list margin-top">
                            <a v-for="item in letter.message.attachments"
                               :href="item.file_path">
                                <img :src="item.file_path">
                            </a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="letter.answered">
            <h2 class="page-header">Письмо ID: {{letter.reply_message.id}}</h2>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group row">
                        <label class="col-md-2 m-t-0">Дата ответа:</label>
                        <div class="col-md-8">05.07.2017 17:32:23</div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 m-t-0">Тема:</label>
                        <div class="col-md-8">{{letter.reply_message.subject}}</div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 m-t-0">Письмо:</label>
                        <div class="col-md-6">
                            {{letter.reply_message.text}}
                            <nav class="photo-nav photo-list margin-top">
                                <a v-for="attach in letter.reply_message.attachments" :href="attach.file_path">
                                    <img :src="attach.file_path">
                                </a>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-else>
            <h2 class="page-header">Ответ на письмо</h2>
            <div class="row">
                <div class="col-md-12">
                    <form method="POST" action="" class="form-horizontal">
                        <div class="row form-group">
                            <label class="col-md-2">Тема:</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="for-theme" placeholder="Тема сообщения"
                                       v-model="answer.subject">
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-md-2">Текст письма:</label>
                            <div class="col-md-6">
                                <textarea name="" class="form-control" placeholder="Текст сообщения"
                                          v-model="answer.text" id="for-note" rows="10"></textarea>
                                <div class="text-right margin-top margin-bottom" data-toggle="modal"
                                     data-target="#photosAttachModal" @click="fetchPhotos">
                                    <a href="#" class="text-blue add-photos" data-list=".photo-list-inset"
                                       title="Прикрепить фото"> Прикрепить фото <i class="fa fa-plus text-blue"></i></a>
                                </div>
                                <nav class="photo-nav photo-list-inset">
                                    <a @click.stop v-for="attach in answer.attachments"
                                       :href="attach.file_path">
                                        <img :src="attach.file_path">
                                        <span class="fa fa-times-circle del-photo" @click.stop="toggleAttach(photo)"></span>
                                    </a>
                                </nav>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 text-right">
                                <button type="submit" class="btn btn-primary" @click.prevent="saveAnswer">Отправить</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" tabindex="-1" role="dialog" id="photosAttachModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Прикрепить фото</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-2" v-for="photo in answer.photosToAttach">
                                <img @click="toggleAttach(photo)" :src="photo.file_path" class="img-responsive" :class="{'attached': ifAttached(photo.id)}">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Прикрепить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import toastr from 'toastr'
    import moment from 'moment'
    export default {
        name: 'LetterView',
        data() {
            return {
                answer: {
                    subject: '',
                    text: '',
                    attachments: [],
                    attachmentsPhotoObject: [],
                    photosToAttach: []
                },
                letter: {
                    sender: {
                        id: 0,
                        nam: "Имя отправителя",
                        status: "active",
                        agency: {
                            id: 0,
                            name: "Имя партнера"
                        },
                        branch: {
                            id: "",
                            name: "Имя филиала"
                        },
                        admin: {
                            id: 1041,
                            name: "Имя админа"
                        },
                        avatar: {
                            small: "#",
                        }
                    },
                    receiver: {
                        id: 0,
                        name: "Имя получателя",
                        avatar: {
                            small: "#",
                        }
                    },
                    distribution: false,
                    time_open: null,
                    reade: false,
                    attachments: [],
                    id: 0,
                    message: {
                        created_at: 1491822022,
                        subject: 'Subject body',
                        text: 'Text'
                    },
                    answered: false,
                    reply_message: {
                        id: 69,
                        subject: "Sub",
                        text: "Text",
                        created_at: 1491822022,
                        time_open: 1491822061,
                        reade: true,
                        attachments: [
                            {
                                id: 35,
                                mail_id: 69,
                                file_path: "images/attachment-m6pjNG6DkRJo.jpg"
                            },
                            {
                                id: 36,
                                mail_id: 69,
                                file_path: "images/attachment-7T4Lv8WHCTGb.jpg"
                            }
                        ]
                    }
                }
            }
        },
        methods: {
        	saveAnswer() {
        		let prettyAttachmentsArray = [];
        		this.answer.attachments.forEach(attach => {
        			prettyAttachmentsArray.push(attach.id)
                });
                this.$http.post('v2/male/reply/on-letter', {
                	access_token: this.$cookie.get('access_token'),
                    message_id: this.letter.message.id,
                    subject: this.answer.subject,
                    text: this.answer.text,
                    attachments: JSON.stringify(prettyAttachmentsArray).toString()
                }).then(data => {
                    if(data.body.status) {
                        toastr.success('Ответ отправлен');
                        setTimeout(() => {
                            this.$router.push('/man/letters');
                        }, 1400);
                    }else{
                        toastr.error('Не могу ответить на письмо');
                        toastr.info(data.body.desc);
                    }
                }, err => {
                    toastr.error('Не могу ответить на письмо');
                    console.log(err);
                });
            },
            toggleAttach(photo) {
                if(this.ifAttached(photo.id)) {
                	let counter = 0;
                	this.answer.attachments.forEach(photoForEach => {
                        if(photoForEach.id === photo.id) {
                        	this.answer.attachments.splice(counter, 1);
                        }else {
                        	counter++;
                        }
                    })
                }else {
                	this.answer.attachments.push(photo);
                }
            },
            fetchPhotos() {
                this.$http.post('v2/female/load-photos', {
                    access_token: this.$cookie.get('access_token'),
                    user_id: this.letter.receiver.id
                }).then(data => {
                    if (data.body.status) {
                        this.answer.photosToAttach = [];
                        data.body.result.public_photo.forEach(photo => {
                            this.answer.photosToAttach.push(photo);
                        });
                        data.body.result.private_photo.forEach(photo => {
                            this.answer.photosToAttach.push(photo);
                        });
						this.$nextTick(() => {
							$('.photo-nav').lightGallery();
						})
                    } else {
                        toastr.error('Не могу получить фото клиентки');
                        toastr.info(data.body.desc);
                    }
                }, err => {
                    toastr.error('Не могу получить фото клиентки');
                    console.log(err);
                })
            },
            fetchLetter() {
                this.$http.post('v2/male/get/one-letter', {
                    access_token: this.$cookie.get('access_token'),
                    message_id: this.$route.params.letter
                }).then(data => {
                    if (data.body.status) {
                        this.letter = data.body.result;
						this.$nextTick(() => {
							$('.photo-nav').lightGallery();
						})
                    } else {
                        toastr.error('Не могу загрузить письмо');
                        toastr.info(data.body.desc);
                    }
                }, err => {
                    toastr.error('Не могу загрузить письмо');
                    console.log(err);
                })
            },
            ifAttached(id) {
                let attached = false;
                this.answer.attachments.forEach(photo => {
                    if(photo.id === id) {
                        attached = true;
                    }
                });
                return attached;
            },
        },
        computed: {
            prettyCreated() {
                return moment(this.letter.message.created_at * 1000).format('LLL')
            },
            isReade() {
                if (this.letter.message.reade) {
                    return 'да'
                } else {
                    return 'нет'
                }
            },
            isDistribution() {
                if (this.letter.message.distribution) {
                    return 'да'
                } else {
                    return 'нет'
                }
            }
        },
        beforeMount() {
            this.fetchLetter();
        },
        mounted() {
            setTimeout(() => {
                let photoDeleteButton = document.querySelector('#del-photo');
                photoDeleteButton.onclick = ev => {
                	ev.preventDefault();
                }
            }, 500)
        }
    }
</script>

<style>
    .attached {
        border: solid darkblue 2px;
        border-radius: 3px;
    }
</style>
