<template>
	<!-- .row (main row) -->
	<div class="row">
		<div class="col-md-12">
			<div class="box box-blue box-solid">
				<div class="box-header with-border">
					<h3 class="box-title">Письма</h3>
					<!-- /.box-tools -->
				</div>
				<!-- /.box-header -->
				<div class="box-body no-padding">
					<!-- filter -->
					<form class="row">
						<div class="form-group margin">
							<div class="col-md-1">
								<input type="text" class="form-control" placeholder="ID" v-model="id">
							</div>
                            <oneday-data-picker
                                @changeFilter="dateFilterChange"
                            ></oneday-data-picker>
                            <div class="col-md-2">
                              <my-select :options="displayedMen" :placeholder="'Клиент'" v-model="man"
                                         @select="selectManCallback($event)"></my-select>
                            </div>
                            <div class="col-md-2">
                              <my-select :options="displayedWomen" :placeholder="'Клиентка'" v-model="woman"
                                         @select="selectWomanCallback($event)"></my-select>
                            </div>
							<div class="col-md-2">
								<my-select :options="displayedPartners" :placeholder="'Партнер'" v-model="partner"
										   @select="selectPartnerCallback($event)"></my-select>
							</div>
							<div class="col-md-2">
								<my-select :options="displayedBranches" :placeholder="'Филиал'" v-model="branch"
										   @select="selectBranchCallback($event)"></my-select>
							</div>
							<div class="col-md-1">
								<my-select :options="displayedAdmins" :placeholder="'Админ'" v-model="admin"
										   @select="selectAdminCallback($event)"></my-select>
							</div>
							<div class="col-md-1">
								<select class="form-control" v-model="replied">
									<option class="placeholder-option" value="">Отвеченное</option>
									<option value="1">да</option>
									<option value="0">нет</option>
								</select>
							</div>
							<div class="col-md-2">
								<select class="form-control" v-model="readed">
									<option class="placeholder-option" value="">Прочитанное</option>
									<option value="1">да</option>
									<option value="0">нет</option>
								</select>
							</div>
							<div class="col-md-2">
								<select class="form-control" v-model="critical">
									<option class="placeholder-option" value="">Критическое</option>
									<option value="1">да</option>
									<option value="0">нет</option>
								</select>
							</div>
						</div>
					</form>
					<sst :loader="loader" @load="fetchData" :sort="sort" :data="data"
						 :count="count" :loadParams="loadParams" :order="order" :pagination="pagination">
						<tr slot="tbody" v-for="i in data" :key="i.message_id">
							<td><a @click.prevent="viewLetter(i.message_id)">{{i.message_id}}</a></td>
							<td>
								<router-link :to="{name: 'Профиль клиента', params: {man: i.man_id}}">{{i.man_name}} (id: {{i.man_id}})</router-link>
							</td>
							<td>
								<router-link :to="{name: 'Профиль клиентки', params: {woman: i.woman_id}}">
									{{i.woman_name}} (id: {{i.woman_id}})
								</router-link>
							</td>
							<td>
								<p class="text-limited">{{i.message_subject}}</p>
							</td>
							<td>
								<template v-if="i.message_read">
									<span class="glyphicon glyphicon-ok-circle fa-2x text-green"></span>
								</template>
								<template v-else>
									<span class="glyphicon glyphicon-remove-circle fa-2x text-red"></span>
								</template>
							</td>
							<td>
								<template v-if="i.is_critical">
									<span class="glyphicon glyphicon-ok-circle fa-2x text-red"></span>
								</template>
								<template v-else>
									<span class="glyphicon glyphicon-remove-circle fa-2x text-green"></span>
								</template>
							</td>
							<td>
								<template v-if="i.main_agency_id">
									<router-link :to="{name: 'Просмотр партнера', params: {id: i.main_agency_id}}">
										{{i.main_agency_name}} (id: {{i.main_agency_id}})
									</router-link>
								</template>
								<template v-else="">Не указан</template>
							</td>
							<td>
								<template v-if="i.branch_agency_id">
									<router-link :to="{name: 'Просмотр партнера', params: {id: i.branch_agency_id}}">
										{{i.branch_agency_name}} (id: {{i.branch_agency_id}})
									</router-link>
								</template>
								<template v-else>
									Не указан
								</template>
							</td>
							<td>
								<template v-if="i.admin_id">
									<router-link :to="{name: 'Профиль админа', params: {admin: i.admin_id}}">
										{{i.admin_name}} (id: {{i.admin_id}})
									</router-link>
								</template>
								<template v-else>
									Не указан
								</template>
							</td>
							<td>
								{{date( i.message_created_at )}}
							</td>
							<td>
								<template v-if="i.replied_at !== null">
									{{date( i.replied_at )}}
								</template>
								<template v-else>
									<span class="text-red">Не отвечено</span>
								</template>

							</td>
							<td>
								<a @click.prevent="viewLetter(i.message_id)" class="btn btn-primary btn-block">
									<template v-if="i.is_replied">
										<i class="fa fa-eye fa-lg text-white"></i>
									</template>
									<template v-else>
										Ответить
									</template>
								</a>
							</td>
						</tr>
					</sst>
				</div>
				<!-- /.box-body -->
			</div>

		</div>
		<mail-modal v-if="showModal" @closewithout="closeWithout()" @update-letter="updateLetter(letter_id)" @close="closeModals()"
					:letter="oneLetter"></mail-modal>
	</div>
</template>

<script>
	import mySelect from '../../custom/select2/select-new.vue'
	import moment from 'moment'
	import toastr from 'toastr'
	import DateFilter from '../../custom/datefilter/datapicker-period.vue'
	import OneDayDataPicker from '../../custom/datefilter/oneDayDataPicker'
	import MailModal from '../../modals/MailModal.vue'
	import _ from 'lodash'
	import sst from '../../custom/serverSideTable.vue'
	import { SS_SORT_TABLE } from '../../../mixins/utils'
	import { UPDATE_USER_COUNTER } from '../../../mixins/updateUserCounters'

	export default {
		name: 'LettersLog',
		props: {
			routeCritical: Number,
			routeNew: Number
		},
        components: {
            'my-select': mySelect,
            'oneday-data-picker': OneDayDataPicker,
            'date-filter': DateFilter,
            'mail-modal': MailModal,
            sst
        },
		data() {
			return {
				partner: 0,
				branch: 0,
				admin: 0,
				woman: 0,
				man: 0,
				timeFrom: moment().startOf( 'day' ).startOf( 'YYYY-MM-DD HH:mm' ),
				timeTo: moment().endOf( 'day' ).endOf( 'YYYY-MM-DD HH:mm' ),
				loader: true,
				allPartners: [],
				allBranches: [],
				allAdmins: [],
				id: '',
        		letter_id: 0,
				replied: '',
				allWomen: [],
				data: [],
				mans: [],
				showModal: false,
				oneLetter: null,
				readed: '',
				critical: '',
				sort: [
					{ active: false, name: 'message_id', column: 'ID' },
					{ active: false, name: 'man_name', column: 'От (Клиент)' },
					{ active: false, name: 'woman_name', column: 'Кому (Клиентка)' },
					{ active: false, name: 'message_subject', column: 'Тема' },
					{ active: false, name: 'message_read', column: 'Прочитанное' },
					{ active: false, name: 'is_critical', column: 'Критическое' },
					{ active: false, name: 'main_agency_id', column: 'Партнер' },
					{ active: false, name: 'branch_agency_id', column: 'Филиал' },
					{ active: false, name: 'admin_id', column: 'Админ' },
					{ active: false, name: 'message_created_at', column: 'Дата создания' },
					{ active: false, name: 'replied_at', column: 'Дата ответа' },
					{ active: true, name: 'is_replied', column: 'Действие' },
				],
			}
		},
		mixins: [ UPDATE_USER_COUNTER, SS_SORT_TABLE ],
		watch: {
			id() {
				this.resetPagination();
				this.search()
			},
			critical() {
				this.resetPagination();
				this.fetchData()
			},
			replied() {
				this.resetPagination();
				this.fetchData()
			},
			readed() {
				this.resetPagination();
				this.fetchData()
			},
		},
		computed: {
			displayedPartners() {
				return this.allPartners.map( i => {
					return {
						id: +i.id,
						name: `${i.name} (id: ${i.id})`
					}
				} )
			},
			displayedBranches() {
				return this.allBranches.map( i => {
					return {
						id: +i.id,
						name: `${i.name} (id: ${i.id})`
					}
				} )
			},
			displayedAdmins() {
				return this.allAdmins.map( i => {
					if ( i.admin_name ) {
						return {
							id: +i.admin_user_id,
							name: `${(i.admin_name.trim() + ' ' + i.admin_surname.trim()).trim()} (id: ${i.admin_user_id})`
						}
					}
					return {
						id: +i.id,
						name: `${i.name.trim()} (id: ${i.id})`
					}
				} )
			},
			displayedWomen() {
				//TODO: fit answers
				return this.allWomen.map( i => {
					if ( 'fullName' in i ) {
						return {
							id: +i.id,
							name: `${i.fullName.trim()} (id: ${i.id})`
						}
					} else if ( 'surname' in i ) {
						return {
							id: +i.user_id,
							name: `${(i.name.trim() + ' ' + i.surname.trim()).trim()} (id: ${i.user_id})`
						}
					}
					return {
						id: +i.id,
						name: `${i.name.trim()} (id: ${i.id})`
					}
				} )
			},
			displayedMen() {
				return this.mans.map( i => {
					return {
						id: +i.user_id,
						name: `${(i.name.trim() + ' ' + i.surname.trim()).trim()} (id: ${i.user_id})`
					}
				} )
			}
		},
		methods: {
			search: _.debounce( function () {
				this.fetchData()
			}, 300 ),
			closeWithout() {
				this.showModal = false
				$( 'html' ).removeClass( 'modal-open' )
			},
			closeModals() {
				this.showModal = false
				$( 'html' ).removeClass( 'modal-open' )
			},
			dateFilterChange( d ) {
				this.timeFrom = d.from;
				this.timeTo = d.to;
				this.resetPagination();
				this.fetchData();
			},
			selectPartnerCallback( value ) {
				this.branch = this.admin = this.woman = this.man = 0;
				this.resetPagination();
				this.fetchData();
				if ( value ) {
					this.fetchAdminsByAgency( value );
					this.fetchWomanByAgency( value );
					this.fetchBranchByAgency( value )
				} else {
					this.fetchBranches();
					this.fetchAdmins();
					this.fetchWomen();
				}
			},
			selectBranchCallback( value ) {
				if ( !this.partner ) {
					this.admin = this.woman = this.man = 0;
				}
				if ( value ) {
					this.resetPagination();
					this.fetchData();
					this.fetchAdminsByAgency( value );
					this.fetchWomanByAgency( value );
				} else {
					if ( !this.partner ) {
						this.fetchBranches();
						this.fetchAdmins();
						this.fetchWomen();
						this.resetPagination();
						this.fetchData()
					}
					if ( this.partner ) {
						this.selectPartnerCallback( this.partner )
					}
				}
			},
			selectAdminCallback( value ) {
				this.woman = 0;
				if ( value ) {
					this.resetPagination();
					this.fetchData();
				} else {
					this.selectBranchCallback( this.branch )
					this.fetchWomen();
				}
			},
			selectManCallback() {
				this.resetPagination();
				this.fetchData();
			},
			selectWomanCallback() {
				this.resetPagination();
				this.fetchData()
			},
			fetchAdminsByAgency( id ) {
				this.$http.post( 'v2/agency/get/admin-in-agency', {
					access_token: this.$cookie.get( 'access_token' ),
					agency_id: id
				} ).then( data => {
					if ( data.body.status ) {
						this.allAdmins = data.body.result;
					} else {
						toastr.error( 'Не могу загрузить список админов' )
					}
				}, err => {
					toastr.error( 'Не могу загрузить список админов' );
					console.log( err );
				} );
			},
			fetchWomanByAgency( value ) {
				this.$http.post( 'v2/agency/get/woman-in-agency', {
					access_token: this.$cookie.get( 'access_token' ),
					agency_id: value
				} ).then( data => {
					if ( data.body.status ) {
						this.allWomen = data.body.result;
					}
				} )
			},
			fetchBranchByAgency( value ) {
				this.$http.post( 'v2/agency/get/branches', {
					access_token: this.$cookie.get( 'access_token' ),
				} ).then( data => {
					if ( data.body.status ) {
						this.allBranches = data.body.result.filter( i => i.duty_agency.id === value )
					}
				} )
			},
			fetchBranches() {
				this.$http.post( 'v2/agency/get/branches', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( data => {
					if ( data.body.status ) {
						this.allBranches = data.body.result;
					} else {
						toastr.error( 'Не могу получить список филиалов' )
						toastr.info( data.body.desc )
					}
				}, err => {
					toastr.error( 'Не могу получить список филиалов' )
				} )
			},
			fetchAdmins() {
				this.$http.post( 'v2/agency/get/admins', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( data => {
					if ( data.body.status ) {
						this.allAdmins = data.body.result
					} else {
						toastr.error( 'Не могу получить список админов сайта' )
					}
				}, err => {
					toastr.error( 'Не могу получить список админов сайта' )
				} )
			},
			fetchPartner() {
				this.$http.post( 'v2/agency/get/list', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( data => {
					if ( data.body.status ) {
						this.allPartners = data.body.result;
					} else {
						toastr.error( 'Не могу загрузить список партнеров' )
						toastr.info( data.body.desc );
					}
				}, err => {
					toastr.error( 'Не могу загрузить список партнеров' )
				} )
			},
			fetchWomen() {
				this.$http.post( 'v2/femal/load-list', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( data => {
					if ( data.body.status ) {
						this.allWomen = data.body.result
					} else {
						toastr.error( 'Не могу загрузить список клиенток' )
					}
				}, err => {
					toastr.error( 'Не могу загрузить список клиенток' )
				} )
			},
			fetchManFilter() {
				this.$http.post( 'v2/male/easy-load', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( data => {
					if ( data.body.status ) {
						this.mans = data.body.result;
					} else {
						toastr.err( 'Не могу загрузить список клиентов' );
						toastr.info( data.body.desc )
					}
				}, err => {
					toastr.err( 'Не могу загрузить список клиентов' );
				} )
			},
			fetchData() {
				window.scrollTo( 0, 0 );
				this.updateUserCounters();
				this.loader = true;
				this.$http.post( 'v2/letter/get/list', {
					access_token: this.$cookie.get( 'access_token' ),
					user_type: 'man',
					time_from: this.timeFrom,
					time_to: this.timeTo,
					offset: this.loadParams.offset,
					limit: this.loadParams.limit,
					order_type: this.order.type,
					order_by: this.order.by,
					main_agency_id: this.partner || '',
					branch_agency_id: this.branch || '',
					admin_id: this.admin || '',
					woman_id: this.woman || '',
					man_id: this.man || '',
					read: this.readed || '',
					message_id: this.id || '',
					is_replied: this.replied || '',
					is_critical: this.critical || ''
				} ).then( data => {
					if ( data.body.status ) {
						this.data = data.body.result.list;
						this.count = +data.body.result.counter
					} else {
						this.data = [];
						toastr.error( data.body.desc )
					}
					this.loader = false;
				}, err => {
					toastr.error( 'Не могу получить список писем' )
					this.loader = false;
				} )
			},
			viewLetter( message_id ) {
				this.$http.post( 'v2/male/get/one-letter', {
					access_token: this.$cookie.get( 'access_token' ),
					message_id
				} ).then( data => {
					if ( data.body.status ) {
            this.letter_id = message_id,
						this.oneLetter = data.body.result;
						this.showModal = true
						$( 'html' ).addClass( 'modal-open' )
					} else {
						toastr.error( 'Не могу загрузить письмо' );
						toastr.info( data.body.desc )
					}
				}, err => {
					toastr.error( 'Не могу загрузить письмо' );
				} )
			},
      updateLetter( message_id ) {
        this.$http.post( 'v2/male/get/one-letter', {
          access_token: this.$cookie.get( 'access_token' ),
          message_id
        } ).then( data => {
          if (data.body.status) {
            this.oneLetter = data.body.result;
          } else {
            toastr.error('Не могу загрузить письмо');
            toastr.info(data.body.desc)
          }
        }, err => {
          toastr.error('Не могу загрузить письмо');
        })
      },

			date( ts ) {
				return moment( ts * 1000 ).format( 'DD.MM.YYYY HH:mm:ss' )
			},
		},
		created() {
			this.updOrderParams( {
				type: 'desc',
				by: 'is_replied'
			} );
		},
		beforeRouteEnter( to, from, next ) {
			next( vm => {
				vm.updOrderParams( {
					type: 'desc',
					by: 'is_replied'
				} );
				if ( vm.routeCritical ) vm.critical = '1';
				if ( vm.routeNew ) vm.replied = '0';
			} )
		},
		mounted() {
			this.fetchWomen();
			this.fetchPartner();
			this.fetchBranches();
			this.fetchAdmins();
			this.fetchManFilter();
		}
	}
</script>

<style scoped>
	.text-limited {
		max-width: 300px;
	}
</style>
