<template>
        <div class="row">
            <div class="col-md-12">
                <div class="box box-blue box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Клиенты:  <span class="text-blue">{{manList.length}}</span> (<span class="text-green">{{reverseMessage}}</span>)</h3>
                        <div class="box-tools pull-right">
                            <a class="btn refresh"> <i class="fa fa-refresh"></i> Обновить</a>
                            <!--<router-link to="/man/create">-->
                                <!--<a class="btn btn-success">Создать <i class="fa fa-plus"></i></a>-->
                            <!--</router-link>-->
                        </div>
                    </div>
                    <div class="box-body no-padding">
                        <form class="row">
                            <div class="form-group margin">

                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="ID" v-model="searchById">
                                </div>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="Имя" v-model="searchByName">
                                </div>
                                <div class="col-md-2">
                                    <select class="form-control" id="online-search" v-model="onlineSearch">
                                        <option class="placeholder-option" value="">Онлайн</option>
                                        <option value="yes">Да</option>
                                        <option value="no">Нет</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <select class="form-control" v-model="payMan">
                                        <option class="placeholder-option" value="">Платник</option>
                                        <option value="yes">Да</option>
                                        <option value="no">Нет</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <select class="form-control" v-model="isNew">
                                        <option class="placeholder-option" value="">Новый</option>
                                        <option value="1">Да</option>
                                        <option value="0">Нет</option>
                                    </select>
                                </div>


                            </div>
                        </form>
                        <table-load v-show="initTableProcess"></table-load>
                        <div class="table-responsive" v-show="!initTableProcess">
                        <table class="table table-bordered" id="manListTable" style="width:100%;">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th data-orderable="false">Аватар</th>
                                <th>Имя</th>
                                <th>Примечание</th>
                                <th>Кол.пополнений</th>
                                <th>Cумма пополнений</th>
                                <th>Текущий баланс</th>
                                <th>Онлайн</th>
                                <th>Новый</th>
                                <th>Посл. активность</th>
                                <th>Дата регистр.</th>
                            </tr>
                            </thead>
                        </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="margin-top" id="manlistinfo">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <ul class="pagination pull-right" id="manlistpagination">

                        </ul>
                    </div>
                </div>
            </div>
        </div>
</template>

<script>
    import toastr from 'toastr'
    import moment from 'moment'
    import dateFilter from '../../custom/datefilter/component.vue'
	import TableLoad from '../../custom/tableLoader/component.vue'
    export default {
        name: 'ManList',
        props: {
            routeNew: Number,
            routePay: Number,
			routeOnline: Number
        },
        data() {
            return {
                searchById: '',
                searchByName: '',
                searchByStatus: '',
				onlineSearch: '',
                isNew: '',
                payMan: '',
                manList: [],
                table: null,
				initTableProcess:true,
                timeFrom: moment().startOf('month').format('X'),
                timeTo: moment().endOf('month').format('X'),
				prettyMen: [],
            }
        },
        watch: {
            searchById(value) {
                this.searchInTable(0, value)
            },
            searchByName(value) {
                this.searchInTable(2, value)
            },
            searchByStatus(value) {
                this.searchInTable(3, value)
            },
			payMan(value) {
				this.searchInTable(4, value)
			},
			onlineSearch(value) {
				this.searchInTable(7, value)
			},
			isNew(value) {
				this.searchInTable(8, value)
			},
        },
        computed: {
			reverseMessage: function () {
				console.log('coount');
				let c=0;
				this.manList.forEach(man => {
                    if (man.online){
                    	c=c+1;

                    }
                })
            return c
            },
        },

        methods: {
            searchInTable(col, data) {
                if(this.table !== null) {
                    this.table.column(col)
                        .search(data, false, false)
                        .draw();
                }
            },
            fetchTableData() {
            	this.initTableProcess=true;
                this.$http.post('v2/male/get', {
                    access_token: this.$cookie.get('access_token'),
                }).then(data => {
                    if(data.body.status) {
                        this.manList = data.body.result;
                        this.initTable()
						this.initTableProcess = false;
                    }else {
                        toastr.error('Не могу получить список клиентов на сайте')
						this.initTableProcess = false;
                    }
                }, err => {
                    toastr.error('Не могу получить список клиентов на сайте');
					this.initTableProcess = false;
                    console.log(err);
                })
            },
            initTable() {
				this.prettyMen = [];
                this.manList.forEach(man => {
                    let onlineStatus =  '<span class="glyphicon glyphicon-ok-circle fa-2x text-green"><span style="display: none">yes</span></span>';
                    if(!man.online) {
                        onlineStatus = '<span class="glyphicon glyphicon-remove-circle fa-2x text-red"><span style="display: none">no</span></span>';
                    }

					let newStatus =  '<span class="glyphicon glyphicon-ok-circle fa-2x text-green"><span style="display: none">1</span></span>';
					if(!man.is_new) {
						newStatus = '<span class="glyphicon glyphicon-remove-circle fa-2x text-red"><span style="display: none">0</span></span>';
					}

                    let last_active = '<span><span style="display:none">' + man.last_active + '</span>'+ moment(man.last_active * 1000).format('DD.MM.YYYY HH:mm:ss') +'</span>';
                    if (man.last_active === null){
						last_active = '<span><span style="display:none">' + 0 + '</span></span>';
                    }
					let note = '<span>'+man.note+'</span>'
                    if (man.note === "I am already register"){
						note = "";
                    }
					let credit_balance ='<span>'+man.credit_balance+'</span>'
					if (man.credit_balance >0){
						credit_balance = '<strong class="lg-text text-blue">'+man.credit_balance+'</strong>';
					}
					let count_credit_bought ='<span style="display: none;">no</span><span>'+man.count_credit_bought+'</span>'
					if (man.count_credit_bought >0){
						count_credit_bought = '<span style="display: none;">yes</span><strong class="lg-text text-blue">'+man.count_credit_bought+'</strong>';
					}
					let total_dollars_spent ='<span><span style="display:none">' +  man.total_dollars_spent + '</span>'+man.total_dollars_spent+'$</span>'
					if (man.total_dollars_spent >0){
						total_dollars_spent = '<strong class="lg-text text-blue"><span style="display:none">' +  man.total_dollars_spent + '</span>'+man.total_dollars_spent+'$</strong>';
					}
					this.prettyMen.push([
                        '<a style="cursor: pointer" class="show-man" data-id="'+man.user_id+'">'+man.user_id+'</a>',
                        '<img src="'+man.avatar.small+'" class="img-responsive img-rounded">',
                        '<a style="cursor: pointer" class="show-man" data-id="'+man.user_id+'">'+man.name+' ' +'</a>',
						note,
						count_credit_bought,
						total_dollars_spent,
						credit_balance,
                        onlineStatus,
                        newStatus,
						last_active,
						'<span><span style="display:none">' + man.created_at + '</span>'+ moment(man.created_at * 1000).format('DD.MM.YYYY HH:mm:ss') +'</span>',
                    ])
                });

				if(this.table === null) {
					this.table = $('#manListTable').DataTable({
						data: this.prettyMen,
						iDisplayLength: 20,
						"order": [[ 9, "desc" ]],
						"deferRender": true,
						"oLanguage": {
							"sLengthMenu": "Отображено _MENU_ записей на страницу",
							"sSearch": "Поиск:",
							"sZeroRecords": "Ничего не найдено - извините",
							"sInfo": "Показано с _START_ по _END_ из _TOTAL_ записей",
							"sInfoEmpty": "Показано с 0 по 0 из 0 записей",
							"sInfoFiltered": "(отфильтровано из _MAX_ записей)",
							"oPaginate": {
								"sFirst": "Первая",
								"sLast":"Посл.",
								"sNext":"След.",
								"sPrevious":"Пред.",
							}
						},
					});
					$('#manListTable_filter').remove();
					$('#manListTable_length').remove();
					$('#manlistinfo').append($('#manListTable_info'));
					$('#manlistpagination').append($('#manListTable_paginate'));
				}else {
					//this.table.rows().invalidate().draw()
                    this.table.clear().rows.add( this.prettyMen ).draw(true)
					//this.table.draw();
				}
				if(this.manList.length < 20) {
					$('#manlistpagination').hide();
				}else {
					$('#manlistpagination').show();
				}

				if (this.routeNew) this.isNew = '1';
				if (this.routePay) this.payMan = 'yes';
				if (this.routeOnline) this.onlineSearch = 'yes';
            }
        },
        beforeMount() {
            //this.fetchTableData()
        },
        mounted() {
			this.fetchTableData();
            $('#manListTable').on('click', '.show-man', (event) => {
                this.$router.push('/man/view/' + event.target.dataset.id)
            })
            $('#manListTable').on('click', '.edit-man', (event) => {
                this.$router.push('/man/edit/' + event.target.dataset.id)
            })
			$('.refresh').on('click', (event) => {
				this.fetchTableData();
			})


		},
        components: {
            'date-filter': dateFilter,
			'table-load': TableLoad,
        }
    }
</script>


<style>
    .lg-text {
        font-size: 16px;
    }
</style>
