<template>
	<div class="row">
		<div class="col-md-12">
			<div class="box box-blue box-solid">

				<div class="box-body no-padding">
					<form class="row">
						<div class="form-group margin">
							<div class="col-md-1">
								<input type="text" class="form-control" placeholder="ID" v-model="id">
							</div>
							<div class="col-md-1">
								<input type="text" class="form-control" placeholder="Имя" v-model="name">
							</div>
							<div class="col-md-2">
								<input type="text" class="form-control" placeholder="Email" v-model="email">
							</div>
							<div class="col-md-2">
								<select v-model="payyer" class="form-control">
									<option value="">Платник</option>
									<option value="1">Да</option>
									<option value="0">Нет</option>
									<option value="today">Сегодня</option>
									<option value="current_month">Текущий месяц</option>
								</select>
							</div>
							<div class="col-md-2">
								<select v-model="online" class="form-control">
									<option value="">Онлайн</option>
									<option value="1">Да</option>
									<option value="0">Нет</option>
								</select>
							</div>
							<div class="col-md-2">
								<select v-model="isNew" class="form-control">
									<option value="">Зарегистрирован</option>
									<option value="current_month">Текущий месяц</option>
									<option value="prev_month">Прошлый месяц</option>
									<option value="today">Сегодня</option>
									<option value="yesterday">Вчера</option>
								</select>
							</div>
							<div class="col-md-2">
								<select
										@change="reloadTable"
										v-model="localReloadTime" class="form-control">
									<option value="0">Hot Reload</option>
									<option value="60000">Каждую минуту</option>
									<option value="180000">Каждые 3 минуты</option>
									<option value="300000">Каждые 5 минут</option>
									<option value="600000">Каждые 10 минут</option>
								</select>
							</div>
							<div class="col-md-2">
								<input type="checkbox" id="local-time" v-model="localTZ">
								<label for="local-time">Локальное время</label>
							</div>
							<div class="col-md-2">
								<div class="form-control_icon">
									<i
											@click="search"
											class="fa fa-refresh cursor"
									></i>
								</div>
							</div>

						</div>
					</form>
					<sst :loader="loader" @load="fetchData" :sort="sort" :data="data"
						 :count="count" :loadParams="loadParams" :order="order" :pagination="pagination">
						<tr slot="tbody" v-for="i in data" :key="i.id">
							<td>
								<router-link :to="{name: 'Профиль клиента', params: {man: i.id}}">{{i.id}}</router-link>
							</td>
							<td>
								<router-link :to="{name: 'Профиль клиента', params: {man: i.id}}">
									<img :src="i.avatar.small" class="img-responsive img-rounded"
										 style="width: 50px;" :alt="i.name">
								</router-link>
							</td>
							<td>
								<router-link :to="{name: 'Профиль клиента', params: {man: i.id}}">
									{{i.name}} {{i.surname}}
								</router-link>
							</td>
							<td>
								<router-link v-if="i.sponsor_id"
											 :to="{name: 'Профиль клиентки', params: {woman: i.sponsor_id}}">
									{{i.sponsor_name}} {{i.sponsor_surname}} ( {{i.sponsor_id}} )
								</router-link>
								<span v-else>-</span>
							</td>
							<td>{{filter( i.user_status_note ) }}</td>
							<td>
									<span :class="{'text-blue': i.count_payyer > 0}">
										<strong>{{i.count_payyer}}</strong>
									</span>
							</td>
							<td>
									<span :class="{'text-blue': i.sum_payyer > 0}">
										<strong>{{i.sum_payyer}}$</strong>
									</span>
							</td>
							<td>
									<span :class="{'text-blue': i.credit_balance > 0}">
										<strong>{{i.credit_balance}}</strong>
									</span>
							</td>
							<td>
								<template v-if="i.online">
									<span class="glyphicon glyphicon-ok-circle fa-2x text-green"></span>
								</template>
								<template v-else>
									<span class="glyphicon glyphicon-remove-circle fa-2x text-red"></span>
								</template>
							</td>
							<td>
								<template v-if="i.new">
									<div class="is-new">NEW</div>
								</template>
								<template v-else>
									Нет
								</template>
							</td>
							<td>{{date( i.last_active )}}</td>
							<td>{{date( i.created_at )}}</td>
						</tr>
					</sst>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
		</div>
	</div>
</template>

<script>
	import moment from 'moment'
	import toastr from 'toastr'
	import _ from 'lodash'
	import sst from '../../custom/serverSideTable.vue'
	import { SS_SORT_TABLE } from '../../../mixins/utils'

	export default {
		props: {
			routeNew: Number,
			routePay: Number,
			routeOnline: Number,
			routeRNew: Number
		},
		data() {
			return {
				idInterval: undefined,
				localReloadTime: 0,
				timeFrom: '',
				timeTo: '',
				loader: true,
				localTZ: false,
				data: [],
				id: '',
				name: '',
				email: '',
				online: '',
				payyer: '',
				isNew: '',
				sort: [
					{ active: false, name: 'id', column: 'ID' },
					{ active: false, name: '', column: 'Аватар' },
					{ active: false, name: 'name', column: 'Имя' },
					{ active: false, name: 'sponsor_id', column: 'Привел' },
					{ active: false, name: '', column: 'Примечание' },
					{ active: false, name: 'count_payyer', column: 'Кол. пополнений' },
					{ active: false, name: 'sum_payyer', column: 'Сумма пополнений' },
					{ active: false, name: 'credit_balance', column: 'Текущий баланс' },
					{ active: false, name: 'is_online', column: 'Онлайн' },
					{ active: false, name: 'is_new', column: 'Новый' },
//					{ active: false, name: 'is_payyer', column: 'Платник' },
					{ active: true, name: 'last_active', column: 'Посл. активность' },
					{ active: false, name: 'created_at', column: 'Дата регистрации' },
				],
			}
		},
		mixins: [ SS_SORT_TABLE ],
		watch: {
			id() {
				this.resetPagination();
				this.search();
			},
			name() {
				this.resetPagination();
				this.search();
			},
			email() {
				this.resetPagination();
				this.search();
			},
			payyer() {
				this.resetPagination();
				this.fetchData();
			},
			online() {
				this.resetPagination();
				this.fetchData();
			},
			isNew() {
				this.getTime();
				this.resetPagination();
				this.fetchData();
			},
			localTZ() {
				this.getTime();
				this.resetPagination();
				this.fetchData();
			}
		},
		methods: {
			reloadTable() {
				let localReloadTime = this.localReloadTime;
				if (localReloadTime) {
					this.idInterval = setInterval(() => {
						this.search();
					}, localReloadTime);
				} else {
					clearInterval(this.idInterval);
				}
			},
			getTime() {
				let start, end, offset = 0;
				if ( this.localTZ ) {
					offset = moment().utcOffset() * 60
				}
				switch ( this.isNew ) {
					case '':
						this.timeFrom = this.timeTo = '';
						break;
					case 'current_month':
						start = moment().utc().startOf( 'month' );
						end = moment().utc().endOf( 'month' );
						this.timeFrom = +start.format( 'X' ) + offset;
						this.timeTo = +end.format( 'X' ) + offset;
						break;
					case 'prev_month':
						start = moment().utc().subtract( 1, 'month' ).startOf( 'month' );
						end = moment().utc().subtract( 1, 'month' ).endOf( 'month' );
						this.timeFrom = +start.format( 'X' ) + offset;
						this.timeTo = +end.format( 'X' ) + offset;
						break;
					case 'today':
						start = moment().utc().startOf( 'day' );
						end = moment().utc().endOf( 'day' );
						this.timeFrom = +start.format( 'X' ) + offset;
						this.timeTo = +end.format( 'X' ) + offset;
						break;
					case 'yesterday':
						start = moment().utc().subtract( 1, 'd' ).startOf( 'day' );
						end = moment().utc().subtract( 1, 'd' ).endOf( 'day' );
						this.timeFrom = +start.format( 'X' ) + offset;
						this.timeTo = +end.format( 'X' ) + offset;
						break;
				}
			},
			filter( val ) {
				if ( val ) {
					val += '';
					return val.length > 20 ? val.slice( 0, 20 ) + '...' : val;
				} else {
					return ''
				}
			},
			search: _.debounce( function () {
				this.fetchData()
			}, 300 ),
			fetchData() {
				window.scrollTo( 0, 0 );
				this.loader = true;
				this.$http.post( 'v2/male/get', {
					access_token: this.$cookie.get( 'access_token' ),
					offset: this.loadParams.offset,
					limit: this.loadParams.limit,
					time_from: this.timeFrom,
					time_to: this.timeTo,
					order_type: this.order.type,
					order_by: this.order.by,
					id: this.id,
					bot: 0,
					account_status: JSON.stringify( [ 'active' ] ),
					name: this.name,
					email: this.email,
					is_online: this.online || '',
					is_payyer: this.payyer || ''
				} ).then( data => {
					if ( data.body.status ) {
						this.data = data.body.result;
						this.count = +data.body.count;
					} else {
						this.data = [];
						this.count = 0;
						toastr.error( 'Не могу получить пользователей' );
						toastr.info( data.body.desc );
					}
					this.loader = false;
				}, err => {
					this.loader = false;
					this.data = [];
					this.count = 0;
					toastr.error( 'Ошибка API' );
					console.log( err );
				} )
			},
			date( ts ) {
				if ( this.localTZ ) {
					return moment( ts * 1000 ).format( 'LLL' )
				}
				return moment( ts * 1000 ).utc().format( 'LLL' )
			}
		},
		destroyed() {
			if (this.idInterval) {
				clearInterval(this.idInterval);
			}
		},
		mounted() {
			this.$nextTick( () => {
				if ( !this.isNew && !this.payyer && !this.online && !this.routeRNew ) {
					this.updOrderParams( {
						type: 'desc',
						by: 'last_active'
					} );
					this.fetchData()
				}
			} )
		},
		beforeRouteEnter( to, from, next ) {
			next( vm => {
				vm.updOrderParams( {
					type: 'desc',
					by: 'last_active'
				} );
				if ( vm.routeNew ) vm.isNew = 'current_month';
				if ( vm.routeRNew ) vm.payyer = 'current_month';
				if ( vm.routePay ) vm.payyer = 1;
				if ( vm.routeOnline ) vm.online = 1;
			} )
		},
		components: {
			sst
		}
	}
</script>

<style scoped>
	.form-control_icon {
		height: 40px;
		padding: 7px 10px;
		cursor: pointer;
	}
	.is-new {
		border-radius: 8px;
		border: 2px solid #ff4614;
		text-transform: uppercase;
		font-size: 9px;
		font-weight: 700;
		display: flex;
		padding: 0 3px;
		width: 32px;
		height: 17px;
		align-items: center;
		line-height: 1;
		color: #ff4614;
		background: #fff;
		margin-left: 3px;
	}
</style>
