<template>
	<div class="row">
		<div class="col-md-12">
			<div class="box-body no-padding">
				<ul class="nav nav-tabs">
					<router-link tag="li" active-class="active" exact="" :to="{name: 'Список клиентов'}">
						<a><span>Список клиентов</span></a></router-link>
					<router-link tag="li" active-class="active" exact="" :to="{name: 'Статистика клиентов'}"><a>
            <span>Статистика клиентов</span></a>
					</router-link>
				</ul>
			</div>
			<div class="tab-content">
				<router-view></router-view>
			</div>
		</div>
	</div>
</template>


<style lang="scss" scoped="">

	.nav-tabs {
		> li {
			&.active {
				> a {
					color: #ffffff;
					background: #2f3745 !important;
				}

				span {
					border-bottom-color: transparent;
				}
			}

			> a {
				color: #838ea2;

			}

			span {
				border-bottom: 1px dashed #838ea2;
			}
		}
	}

	.tab-content {
		background-color: #ffffff;
	}

</style>
