<template>
	<div class="row">
		<div class="col-md-12">
			<br><br>
			<button class="btn btn-success" @click="loadAllMembers">Загрузить список клиентов</button>
<button class="btn btn-success" v-if="allIds" @click="loadAllEmails">Загрузить emails</button>

			<br><br>

			<div class="box box-blue box-solid">

				<div class="box-body no-padding">
					<form class="row">
						<div class="form-group margin">
							<div class="col-md-2">
								<input type="text" class="form-control" placeholder="ID" v-model="user_id">
							</div>
							<div class="col-md-2">
								<input type="text" class="form-control" placeholder="Имя" v-model="name">
							</div>
						</div>
					</form>
					<sst :loader="loader" @load="fetchData" :sort="sort" :data="data"
						 :count="count" :loadParams="loadParams" :order="order" :pagination="pagination">
						<tr slot="tbody" v-for="i in data" :key="i.id">
							<td>
								<router-link :to="{name: 'Профиль клиента', params: {man: i.user_id}}">{{i.user_id}}</router-link>
							</td>
							<td>
								<router-link :to="{name: 'Профиль клиента', params: {man: i.user_id}}">
									<img :src="i.avatar" class="img-responsive img-rounded"
										 style="width: 50px;" :alt="i.name">
								</router-link>
							</td>
							<td>
								<router-link :to="{name: 'Профиль клиента', params: {man: i.user_id}}">
									{{i.name}} {{i.surname}}
								</router-link>
							</td>
              <td>
                {{i.note}}
              </td>

							<td>
								<template v-if="i.email_manual_notification_can_send<3">
									<span class="text-red"><strong>{{i.email_manual_notification_can_send}}</strong></span>
								</template>
								<template v-else>
									<span class="text-green"><strong>{{i.email_manual_notification_can_send}}</strong></span>
								</template>
							</td>
              <td>
                {{date(i.last_active)}}
              </td>

						</tr>
					</sst>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
		</div>
	</div>
</template>

<script>
	import moment from 'moment'
	import toastr from 'toastr'
	import _ from 'lodash'
	import sst from '../../custom/serverSideTable.vue'
	import { SS_SORT_TABLE } from '../../../mixins/utils'

	export default {
		
		data() {
			return {
				loader: true,
				localTZ: false,
				data: [],
				user_id: '',
				name: '',

				sort: [
					{ active: false, name: 'user_id', column: 'ID' },
					{ active: false, name: '', column: 'Аватар' },
					{ active: false, name: 'name', column: 'Имя' },
          { active: false, name: '', column: 'Примечание' },
					{ active: false, name: '', column: 'Сообшений на отправку' },
          { active: false, name: 'last_active', column: 'Послед. активность' },

				],

				allIds: []
			}
		},
		mixins: [ SS_SORT_TABLE ],
		watch: {
      user_id() {
				this.resetPagination();
				this.search();
			},
			name() {
				this.resetPagination();
				this.search();
			},


			localTZ() {
				this.getTime();
				this.resetPagination();
				this.fetchData();
			}
		},
		methods: {
			getTime() {
				let start, end, offset = 0;
				if ( this.localTZ ) {
					offset = moment().utcOffset() * 60
				}

			},
			filter( val ) {
				if ( val ) {
					val += '';
					return val.length > 20 ? val.slice( 0, 20 ) + '...' : val;
				} else {
					return ''
				}
			},
			loadManEmail(id){
					this.$http.post('v2/male/get/one', {
                    user_id: id,
                    access_token: this.$cookie.get('access_token')
	                }).then(data => {
	                    if (data.body.status) {
	                        console.log(data.body.result.general.email);
	                    } else {
	                        toastr.error('Не могу загрузить профиль клиента')
	                    }
	                }, err => {
	                    toastr.error('Не могу загрузить профиль клиента')
	                })
			},
			loadC(countOffset){
					this.$http.post( 'v2/male/statistic', {
						access_token: this.$cookie.get( 'access_token' ),
						offset: countOffset,
						limit: this.loadParams.limit,
						order_type: this.order.type,
						order_by: this.order.by,
						user_id: this.user_id,
						name: this.name
					} ).then( data => {
						if ( data.body.status ) {
							let dt = data.body.result;
							let thisss = this;
							dt.forEach(function(element) {
							  thisss.allIds.push(element.user_id)
							});

						} else {
							toastr.error( 'Не могу получить пользователей' );
							toastr.info( data.body.desc );
						}
						this.loader = false;
					}, err => {
						toastr.error( 'Ошибка API' );
					} );
			},
			search: _.debounce( function () {
				this.fetchData()
			}, 300 ),
			loadAllMembers(){
				let cN = 0;
				let th = this;
				let intervalS = setInterval(function(){
					if(cN <= th.count){
						th.loadC(cN);
						cN+=20;
					}else{
						clearInterval(intervalS);
					}
				}, 6000);
					
			},
			loadAllEmails(){
				let cN = 0;
				let th = this;
				let intervalSl = setInterval(function(){
					if(cN <= th.allIds.length){
						th.loadManEmail(th.allIds[cN]);
						cN++;
					}else{
						clearInterval(intervalSl);
					}
				}, 3000);
					
			},
			fetchData() {
				window.scrollTo( 0, 0 );
				this.loader = true;
				this.$http.post( 'v2/male/statistic', {
					access_token: this.$cookie.get( 'access_token' ),
					offset: this.loadParams.offset,
					limit: this.loadParams.limit,
					order_type: this.order.type,
					order_by: this.order.by,
					user_id: this.user_id,
					name: this.name,

				} ).then( data => {
					if ( data.body.status ) {
						this.data = data.body.result;
						this.count = +data.body.count;
					} else {
						this.data = [];
						this.count = 0;
						toastr.error( 'Не могу получить пользователей' );
						toastr.info( data.body.desc );
					}
					this.loader = false;
				}, err => {
					this.loader = false;
					this.data = [];
					this.count = 0;
					toastr.error( 'Ошибка API' );
					console.log( err );
				} )
			},
			date( ts ) {
				if ( this.localTZ ) {
					return moment( ts * 1000 ).format( 'LLL' )
				}
				return moment( ts * 1000 ).utc().format( 'LLL' )

			}
		},
		mounted() {
			this.$nextTick( () => {
				if ( !this.isNew && !this.payyer && !this.online && !this.routeRNew ) {
					this.updOrderParams( {
						type: 'asc',
						by: 'last_active'
					} );
					this.fetchData()
				}
			} )
		},
		beforeRouteEnter( to, from, next ) {
			next( vm => {
				vm.updOrderParams( {
					type: 'asc',
					by: 'last_active'
				} );

			} )
		},
		components: {
			sst
		}
	}
</script>

<style scoped>
	.is-new {
		border-radius: 8px;
		border: 2px solid #ff4614;
		text-transform: uppercase;
		font-size: 9px;
		font-weight: 700;
		display: flex;
		padding: 0 3px;
		width: 32px;
		height: 17px;
		align-items: center;
		line-height: 1;
		color: #ff4614;
		background: #fff;
		margin-left: 3px;
	}
</style>
