<template>
    <div>
        <div class="row margin-bottom">
            <div class="col-md-12">
                <div class="user-block user-block-md pull-left">
                    <img class="img-circle" src="dist/img/man.jpg" alt="User Image">
                    <i class="fa fa-sm fa-circle text-green icon-ava"></i>
                    <span class="username"> <a href="#">John Scott</a>
					</span> <span class="description">ID: 4578777</span>
                </div>

            </div>
        </div>

        <!-- Smboxes.vueoxes (Stat box) -->
        <div class="row">
            <div class="col-md-6">
                <div class="box box-blue box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title btn-block">
                            Общая информация <a href="man_edit.php#main-tab" class="pull-right"><i class="fa fa-pencil text-blue"></i></a>
                        </h3>
                    </div>
                    <!-- /.box-header -->

                    <div class="box-body no-padding">
                        <ul class="v-list">
                            <li>Статус <span class="pull-right text-green">активный</span></li>
                            <li>E-mail <span class="pull-right text-blue">john.scott@mail.ru</span></li>
                            <li>Дата регистрации <span class="pull-right">16.03.2017 23:16</span></li>
                            <li>Дата рождения <span class="pull-right">16.03.1976</span></li>
                            <li class="row"><span class="col-md-6">Примечание</span>
                                <div class="col-md-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque ea blanditiis, deleniti dolorem pariatur
                                    perferendis rerum atque inventore nostrum explicabo dicta dolore nisi obcaecati a tenetur, odit ipsam dignissimos modi? Doloribus voluptatem,
                                    fuga? Natus, ad debitis nulla similique aliquid rem eaque, illo voluptas fuga, labore voluptate amet a quasi culpa sequi animi quo
                                    repellendus quos! Laudantium voluptatem, minima officiis vero</div></li>
                        </ul>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <div class="col-md-6">
                <div class="box box-blue box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title btn-block">
                            Контакты <a href="man_edit.php#contacts" class="pull-right"><i class="fa fa-pencil text-blue"></i></a>
                        </h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <ul class="v-list">
                            <li>Страна <span class="pull-right">USA</span></li>
                            <li>Город <span class="pull-right">New York</span></li>
                            <li>Адрес <span class="pull-right">1556 Broadway, suite 416</span></li>
                            <li>Телефон<span class="pull-right">+1-212-555-7575</span></li>
                        </ul>
                    </div>
                    <!-- /.box-body -->
                </div>

                <div class="box box-blue box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title btn-block">
                            Внешность<a href="man_edit.php#appearance" class="pull-right"><i class="fa fa-pencil text-blue"></i></a>
                        </h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <ul class="v-list">
                            <li>Телосложение <span class="pull-right">slender</span></li>
                            <li>Рост<span class="pull-right">172 cm</span></li>
                            <li>Вес<span class="pull-right">53 kg</span></li>
                            <li>Цвет глаз<span class="pull-right">green</span></li>
                            <li>Цвет волос<span class="pull-right">brown</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box box-blue box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title btn-block">Статистика</h3>
                    </div>
                    <div class="box-body no-padding">
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="v-list">
                                    <li>Сумма пополнений <span class="pull-right"><a href="replenishments_list.php" class="text-black">450</a></span></li>
                                    <li>Сумма пополнений за тек. месяц<span class="pull-right text-red"><a href="replenishments_list.php" class="text-black">34</a></span></li>
                                    <li>Колич. пополнений <span class="pull-right"><a href="replenishments_list.php" class="text-black">8</a></span></li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="v-list">
                                    <li>Потр.кредитов <span class="pull-right"><a href="transactions_list.php" class="text-black">450</a></span></li>
                                    <li>Потр.кредитов за тек. месяц<span class="pull-right text-red"><a href="transactions_list.php" class="text-black">34</a></span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="box box-blue box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title btn-block">
                            Дополнительная информация<a href="man_edit.php#additional" class="pull-right"><i class="fa fa-pencil text-blue"></i></a>
                        </h3>
                    </div>
                    <div class="box-body no-padding">
                        <ul class="v-list">
                            <li>Статус <span class="pull-right">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span></li>
                            <li>Уровень англ.<span class="pull-right">intermediate</span></li>
                            <li class="row">Другие языки<span class="pull-right">Spanish(intermediate), French(good), German(intermediate)</span></li>
                            <li>Семейное положение<span class="pull-right">never been married</span></li>
                            <li>Oбразование<span class="pull-right">Bachelor's Degree</span></li>
                            <li>Професия<span class="pull-right">bookkeeper</span></li>
                            <li>Я живу с<span class="pull-right">separately (rented housing)</span></li>
                            <li>Дети<span class="pull-right">have children</span></li>
                            <li>Религия<span class="pull-right">Christianity</span></li>
                            <li>Отношение к курению<span class="pull-right">rarely</span></li>
                            <li>Отношение к алкоголю<span class="pull-right">occasionally</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box box-blue box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title btn-block">
                            Предпочтения<a href="man_edit.php#preferences" class="pull-right"><i class="fa fa-pencil text-blue"></i></a>
                        </h3>
                    </div>
                    <div class="box-body no-padding">
                        <ul class="v-list">

                            <li>Домашние животные <span class="pull-right"> hamster, rabbit, iguana, chinchilla </span>
                            </li>
                            <li>Любимые праздники <span class="pull-right"> Christmas Day, Valentine's Day, Independence Day </span>
                            </li>
                            <li>Цели <span class="pull-right"> friendship, flirtation, family </span>
                            </li>
                            <li>Интересы<span class="pull-right">I like drawing. I like to play piano.</span></li>
                            <li class="row"><span class="col-md-6">Обо мне</span>
                                <div class="col-md-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque ea blanditiis, deleniti dolorem pariatur
                                    perferendis rerum atque inventore nostrum explicabo dicta dolore nisi obcaecati a tenetur, odit ipsam dignissimos modi? Doloribus voluptatem,
                                    fuga? Natus, ad debitis nulla similique aliquid rem eaque, illo voluptas fuga, labore voluptate amet a quasi culpa sequi animi quo
                                    repellendus quos! Laudantium voluptatem, minima officiis vero</div></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="box box-blue box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title btn-block">
                            Идеальная женщина <a href="man_edit.php#ideal_woman" class="pull-right"><i class="fa fa-pencil text-blue"></i></a>
                        </h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <ul class="v-list">
                            <li>Возраст женщины<span class="pull-right">22 - 65</span></li>
                            <li>Телосложение женщины<span class="pull-right">slender</span></li>
                            <li>Рост женщины<span class="pull-right">172 cm</span></li>
                            <li>Вес женщины<span class="pull-right">53 kg</span></li>
                            <li>Цвет глаз женщины<span class="pull-right">green</span></li>
                            <li>Цвет волос женщины<span class="pull-right">brown</span></li>
                            <li>Дети<span class="pull-right">have children</span></li>
                            <li class="row"><span class="col-md-6">Описание женщины</span>
                                <div class="col-md-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque ea blanditiis, deleniti dolorem pariatur
                                    perferendis rerum atque inventore nostrum explicabo dicta dolore nisi obcaecati a tenetur, odit ipsam dignissimos modi? Doloribus voluptatem,
                                    fuga? Natus, ad debitis nulla similique aliquid rem eaque, illo voluptas fuga, labore voluptate amet a quasi culpa sequi animi quo
                                    repellendus quos! Laudantium voluptatem, minima officiis vero</div></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box box-blue box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title btn-block">
                            Фото<a href="woman_edit.php#photos" class="pull-right"><i class="fa fa-pencil text-blue"></i></a>
                        </h3>
                    </div>
                    <div class="box-body no-padding v-scroll" data-height="263">
                        <ul class="v-list">
                            <li class="header">Аватары</li>
                            <li>
                                <nav class="photo-nav photo-list">
                                    <a href="dist/img/photo1.png"><img src="dist/img/user1-128x128.jpg"></a> <a href="dist/img/photo2.png"><img src="dist/img/user5-128x128.jpg"></a>
                                    <a href="dist/img/photo3.jpg"><img src="dist/img/user3-128x128.jpg"></a>
                                </nav>
                            </li>
                            <li class="header">Публичные фото</li>
                            <li>
                                <nav class="photo-nav photo-list">
                                    <a href="dist/img/photo1.png"><img src="dist/img/user1-128x128.jpg"></a> <a href="dist/img/photo2.png"><img src="dist/img/user5-128x128.jpg"></a>
                                    <a href="dist/img/photo3.jpg"><img src="dist/img/user3-128x128.jpg"></a> <a href="dist/img/photo4.jpg"><img src="dist/img/user4-128x128.jpg"></a>
                                    <a href="dist/img/photo1.png"><img src="dist/img/user1-128x128.jpg"></a> <a href="dist/img/photo2.png"><img src="dist/img/user5-128x128.jpg"></a>
                                    <a href="dist/img/photo3.jpg"><img src="dist/img/user3-128x128.jpg"></a> <a href="dist/img/photo4.jpg"><img src="dist/img/user4-128x128.jpg"></a>
                                    <a href="dist/img/photo1.png"><img src="dist/img/user1-128x128.jpg"></a> <a href="dist/img/photo2.png"><img src="dist/img/user5-128x128.jpg"></a>
                                    <a href="dist/img/photo3.jpg"><img src="dist/img/user3-128x128.jpg"></a> <a href="dist/img/photo4.jpg"><img src="dist/img/user4-128x128.jpg"></a>
                                    <a href="dist/img/photo1.png"><img src="dist/img/user1-128x128.jpg"></a> <a href="dist/img/photo2.png"><img src="dist/img/user5-128x128.jpg"></a>
                                    <a href="dist/img/photo3.jpg"><img src="dist/img/user3-128x128.jpg"></a> <a href="dist/img/photo4.jpg"><img src="dist/img/user4-128x128.jpg"></a>
                                </nav>
                            </li>
                            <li class="header">Приватные фото</li>
                            <li>
                                <nav class="photo-nav photo-list">
                                    <a href="dist/img/photo1.png"><img src="dist/img/user1-128x128.jpg"></a> <a href="dist/img/photo2.png"><img src="dist/img/user5-128x128.jpg"></a>
                                    <a href="dist/img/photo3.jpg"><img src="dist/img/user3-128x128.jpg"></a> <a href="dist/img/photo4.jpg"><img src="dist/img/user4-128x128.jpg"></a>
                                    <a href="dist/img/photo1.png"><img src="dist/img/user1-128x128.jpg"></a> <a href="dist/img/photo3.jpg"><img src="dist/img/user3-128x128.jpg"></a>
                                    <a href="dist/img/photo4.jpg"><img src="dist/img/user4-128x128.jpg"></a> <a href="dist/img/photo1.png"><img src="dist/img/user1-128x128.jpg"></a>
                                    <a href="dist/img/photo2.png"><img src="dist/img/user5-128x128.jpg"></a>
                                </nav>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row"></div>
    </div>
</template>

<script>
    export default {
        name: 'ManProfile',
        data() {
            return {

            }
        },
        methods: {
            fetchData() {
//                this.$http.post('')
            }
        }
    }
</script>
