<template>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-blue box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Удаленные клиенты</h3>
                </div>
                <div class="box-body no-padding">
                    <form class="row">
                        <div class="form-group margin">
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="ID" v-model="id">
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="Имя" v-model="name">
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive">
                    <table class="table table-bordered table-striped" id="bannedManTable">
                        <thead>
                        <tr>
                            <th>ID
                            </th>
                            <th class="sm-td">Имя
                            </th>
                            <th>Кол.пополнений
                            </th>
                            <th>Сумма пополнений
                            </th>

                            <th>Дата регистр.
                            </th>
                            <th>Примечание
                            </th>
                            <th>Инициатор
                            </th>
                            <th>Дата смены статуса
                            </th>
                            <th>Действие</th>
                        </tr>
                        </thead>
                    </table>
                    </div>

                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
            <div class="row">
                <div class="col-md-6">
                    <div class="margin-top" id="bannedManTableInfo">

                    </div>
                </div>
                <div class="col-md-6">
                    <ul class="pagination pull-right" id="bannedManTablePaginate">

                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import moment from 'moment'
    import toastr from 'toastr'
    import mySelect2 from '../../custom/select2/component.vue'
    export default  {
        name: 'BannedMan',
        data() {
            return {
                mans: [],
                table: null,
                id: '',
                name: ''
            }
        },
        watch: {
            id(value) {
                this.search(0, value)
            },
            name(value) {
                this.search(1, value)
            }
        },
        methods: {
            search(col, value) {
                if(this.table !== null) {
                    this.table.column(col).search(value, false, false).draw();
                }
            },
            fetchData() {
                this.$http.post('v2/male/get/other', {
                    access_token: this.$cookie.get('access_token'),
                    account_status: 'deactivated'
                }).then(data => {
                    if(data.body.status) {
                        this.mans = data.body.result;
                        this.initTable();
                    }else {
                        toastr.error('Не могу получить пользователей');
                        toastr.info(data.body.desc);
                    }
                }, err => {
                    toastr.error('Ошибка API');
                    console.log(err);
                })
            },
            initTable() {
                this.table = $('#bannedManTable').DataTable({
                    order: [[7, 'desc']]
                });
                $('#bannedManTable_length').remove();
                $('#bannedManTable_filter').remove();
                $('#bannedManTableInfo').append($('#bannedManTable_info'));
                $('#bannedManTablePaginate').append($('#bannedManTable_paginate'));
                this.mans.forEach(man => {
                    this.table.row.add([
                        '<a data-id="'+man.user_id+'" class="show-man" style="cursor:pointer;">'+man.user_id+'</a>',
                        '<a data-id="'+man.user_id+'" class="show-man" style="cursor:pointer;">'+man.name+' '+man.surname+' </a>',
                        man.count_credit_bought,
                        man.total_credit_bought,
                        '<span style="display:none;">' + man.created_at+ '</span> ' + moment(man.created_at * 1000).format('LLL'),
                        man.user_status_note,
                        man.user_status_updated_user_name + ' ' + man.user_status_updated_user_surname,
						'<span style="display:none;">' + man.user_status_updated_at+ '</span> ' + moment(man.user_status_updated_at * 1000).format('LLL'),
                        '<a class="btn btn-primary btn-block edit-man" data-id="'+man.user_id+'"><i data-id="'+man.user_id+'" class="fa fa-edit fa-lg text-white"></i></a>'
                    ]).draw();
                });
                this.initEventListeners();
            },
            initEventListeners() {
                $('#bannedManTable').on('click', '.show-man', ev => {
                    this.$router.push('/man/view/' + ev.target.dataset.id);
                })
                $('#bannedManTable').on('click', '.edit-man', ev => {
                    this.$router.push('/man/edit/' + ev.target.dataset.id);
                })
            }
        },
        beforeMount() {
            this.fetchData();
        },
        components: {
            'my-select': mySelect2
        }
    }
</script>
