<template>
    <preloader v-if="!loaded">

    </preloader>


    <div v-else>
        <div class="row margin-bottom">
            <div class="col-md-12">
                <div class="user-block user-block-md pull-left margin-right">
                    <img class="img-circle" :src="woman.main.avatar.small"
                         alt="woman.main.name">
                    <i v-show="woman.main.camera == 'yes'" class="fa fa-video-camera text-blue icon-ava"></i>
                    <span class="username"> <a href="#">{{woman.main.name}}</a>
					</span> <span class="description">ID: {{woman.main.id}}</span>
                </div>
                <div style="display: flex; align-items: center; padding-top: 10px; margin-left: 10px;">
                    <credits-modal :user_id="parseInt(woman.main.id)"></credits-modal>
                    <change-password :user="parseInt(woman.main.id)" style="margin-left: 10px;"></change-password>
                    <change-email @chengeEmail="reload()" :emailProp="woman.general.email" :user="parseInt(woman.main.id)" style="margin-left: 10px;"></change-email>
                    <custom-notification :userID="+woman.main.id" style="margin-left: 10px;"></custom-notification>
                </div>
                <span v-if="woman.main.online" class="pull-right text-green margin-top">Online <i
                    class="fa fa-sm fa-circle"></i></span>
            </div>
        </div>

        <!-- Smboxes.vueoxes (Stat box) -->
        <div class="row">
            <div class="col-md-6">
                <div class="box box-blue box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title btn-block">
                            Общая информация <a @click="editRoute('#main-tab')" class="pull-right"><i
                            class="fa fa-pencil text-blue"></i></a>
                        </h3>
                    </div>
                    <!-- /.box-header -->

                    <div class="box-body no-padding">
                        <ul class="v-list">
                            <li>Статус <span class="pull-right text-green" v-html="status"></span></li>
                            <li :class="{'bg-danger': !woman.general.email_active}">E-mail <span class="pull-right text-blue">{{woman.general.email}}</span></li>
                            <li>Дата регистрации <span class="pull-right">{{createdAt}}</span></li>
                            <li>Дата рождения <span class="pull-right">{{birthday}}</span></li>
                            <li class="row"><span class="col-md-6">Примечание</span>
                                <div class="col-md-6">{{note}}</div>
                            </li>
                        </ul>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <div class="col-md-6">
                <div class="box box-blue box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title btn-block">
                            Контакты <a @click="editRoute('#contacts')" class="pull-right"><i
                            class="fa fa-pencil text-blue"></i></a>
                        </h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <ul class="v-list">
                            <li>Страна <span class="pull-right">{{woman.contact.country}}</span></li>
                            <li>Город <span class="pull-right">{{woman.contact.city}}</span></li>
                            <li>Адрес <span class="pull-right">{{woman.contact.address}}</span></li>
                            <li>Телефон<span class="pull-right">{{woman.contact.phone}}</span></li>
                        </ul>
                    </div>
                    <!-- /.box-body -->
                </div>

                <div class="box box-blue box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title btn-block">
                            Внешность<a @click="editRoute('#appearance')" class="pull-right"><i
                            class="fa fa-pencil text-blue"></i></a>
                        </h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <ul class="v-list">
                            <li>Телосложение <span class="pull-right">{{woman.appearance.body}}</span></li>
                            <li>Рост<span class="pull-right">{{woman.appearance.height}} cm</span></li>
                            <li>Вес<span class="pull-right">{{Math.round(woman.appearance.weight)}} kg</span></li>
                            <li>Цвет глаз<span class="pull-right">{{woman.appearance.eye_color}}</span></li>
                            <li>Цвет волос<span class="pull-right">{{woman.appearance.hair_color}}</span></li>
                        </ul>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="box box-blue box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title btn-block">Статистика</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="v-list">
                                    <li>
                                        Сумма пополнений <span class="pull-right">{{woman.statistic.total_credit_bought}}</span>
                                    </li>
                                    <li>
                                        Сумма пополнений за тек. месяц <span
                                        class="pull-right">{{woman.statistic.total_credit_bought_per_current_month}}</span>
                                    </li>
                                    <li>
                                        Колич. пополнений <span class="pull-right">{{woman.statistic.count_credit_bought}}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="v-list">
                                    <li>
                                        Потр.кредитов <span
                                        class="pull-right">{{woman.statistic.total_spent_credit}}</span>
                                    </li>
                                    <li>
                                        Потр.кредитов за тек. месяц <span
                                        class="pull-right">{{woman.statistic.total_credit_spent_per_current_month}}</span>
                                    </li>
                                    <li>
                                        Текущий баланс пользователя <span
                                        class="pull-right">{{woman.statistic.balance}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
        <!-- /.row  -->

        <div class="row">
            <div class="col-md-6">
                <div class="box box-blue box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title btn-block">
                            Дополнительная информация<a @click="editRoute('#additional')" class="pull-right"><i
                            class="fa fa-pencil text-blue"></i></a>
                        </h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <ul class="v-list">
                            <li>Статус <span class="pull-right">{{woman.additional_info.status}}</span></li>
                            <li>Уровень англ.<span class="pull-right">{{woman.additional_info.lang_english}}</span></li>
                            <li>Другие языки<span class="pull-right">{{additionalLang}}</span>
                            </li>
                            <li>Семейное положение<span
                                class="pull-right">{{woman.additional_info.family_status}}</span></li>
                            <li>Oбразование<span class="pull-right">{{woman.additional_info.education}}</span></li>
                            <li>Професия<span class="pull-right">{{woman.additional_info.profession}}</span></li>
                            <li>Я живу с<span class="pull-right">{{woman.additional_info.accommodation}}</span></li>
                            <li>Дети<span class="pull-right">{{woman.additional_info.children}}</span></li>
                            <li>Религия<span class="pull-right">{{woman.additional_info.religion}}</span></li>
                            <li>Отношение к курению<span class="pull-right">{{woman.additional_info.smoke}}</span></li>
                            <li>Отношение к алкоголю<span class="pull-right">{{woman.additional_info.drink}}</span></li>
                        </ul>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>

            <div class="col-md-6">
                <div class="box box-blue box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title btn-block">
                            Предпочтения<a @click="editRoute('#preferences')" class="pull-right"><i
                            class="fa fa-pencil text-blue"></i></a>
                        </h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <ul class="v-list">
                            <li>Домашние животные <span class="pull-right"> {{petList}} </span>
                            </li>
                            <li>Любимые праздники <span class="pull-right"> {{celebrationList}} </span>
                            </li>
                            <li>Цели <span class="pull-right"> {{targetsList}}</span>
                            </li>
                            <li>Интересы<span class="pull-right">{{woman.preferences.interests}}</span></li>
                            <li class="row"><span class="col-md-6">Обо мне</span>
                                <div class="col-md-6">
                                    {{woman.preferences.about_me}}


                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="box box-blue box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title btn-block">
                            Идеальная женщина<a @click="editRoute('#dreamWoman')" class="pull-right"><i
                            class="fa fa-pencil text-blue"></i></a>
                        </h3>
                    </div>
                    <div class="box-body no-padding">
                        <ul class="v-list">
                            <li>Возраст женщины<span
                                class="pull-right">{{woman.preferences.about_woman_age_from}} - {{woman.preferences.about_woman_age_to}}</span>
                            </li>
                            <li>Телосложение женщины<span
                                class="pull-right">{{woman.preferences.about_woman_body}}</span></li>
                            <li>Рост женщины<span class="pull-right">{{woman.preferences.about_woman_growth_from}} cm - {{woman.preferences.about_woman_growth_to}}</span>
                            </li>
                            <li>Вес женщины<span class="pull-right">
                                <template v-if="woman.preferences.about_woman_weight_from || woman.preferences.about_woman_weight_to">
                                    {{Math.round(woman.preferences.about_woman_weight_from)}} - {{Math.round(woman.preferences.about_woman_weight_to)}}
                                </template> kg</span>
                            </li>
                            <li>Цвет глаз женщины<span
                                class="pull-right">{{woman.preferences.about_woman_eye_color}}</span></li>
                            <li>Цвет волос женщины<span
                                class="pull-right">{{woman.preferences.about_woman_hair_color}}</span></li>
                            <li>Дети<span class="pull-right">{{woman.preferences.about_woman_children}}</span></li>
                            <li class="row"><span class="col-md-6">Описание женщины</span>
                                <div class="col-md-6">{{woman.preferences.about_woman_text}}</div>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box box-blue box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title btn-block">
                            Фотографии <a @click="editRoute('#photos')" class="pull-right"><i
                            class="fa fa-pencil text-blue"></i></a>
                        </h3>
                    </div>
                    <div class="box-body no-padding v-scroll" data-height="450">
                      <div v-if="!photosLoading" class="text-center p-all-2">
                        <small-loader class="display-inline-block"></small-loader>
                      </div>

                      <div v-else>
                        <ul class="v-list" v-for="(photo, photoKey) in photos" :key="photoKey" v-if="photo.data.length > 0">
                          <li class="header text-bold" :class="getClass(photoKey)">
                            <i class="fa fa-image m-r2"></i>{{ getPhotosTitle(photoKey) }}
                          </li>
                          <li>
                            <nav class="photo-nav photo-list" :class="`lightGallery-list-`+photoKey">
                              <a v-for="(photo, k) in photo.data" :key="k" :href="photo.file_url_origin">
                                <img :src="photo[photoUrlType(photoKey)]"  alt="photo" />
                                <span class="bottom-data id photo-id-span">ID: {{ photo.id }}</span>
                              </a>
                            </nav>
                            <button
                                v-if="photos[photoKey].hasMore && photo.data.length > 0"
                                @click="loadMore(photoKey)"
                                :disabled="photos[photoKey].loader"
                                class="show-more-btn"
                            >
                              <small-loader class="display-inline-block" v-if="photos[photoKey].loader" :size=20></small-loader> Показать еще
                            </button>
                          </li>
                        </ul>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row"></div>
    </div>
</template>

<script>
    import toastr from 'toastr'
    import moment from 'moment'
    import { mapGetters } from 'vuex';
    import preloader from '../../custom/preloader/component.vue'
    import SmallLoader from '@/components/custom/MoonLoaderNew.vue'
	import FreeCreditsModal from '../../custom/freeCreditsModal/component.vue'
	import changePassword from '../../custom/changePasswordModal/component.vue'
	import changeEmail from '../../custom/changeEmailModal/component.vue'
	import customNotification from '../../custom/customNotificationModal/component.vue'
    import _ from 'lodash';
    export default {
        name: 'ManView',
        data() {
            return {
                loaded: false,
                woman: {
                    "main": {
                        "name": null,
                        "online": null,
                        "camera": null,
                        "id": null,
                        "avatar": {
                            small: '#'
                        }
                    },
                    "general": {
                        "status": null,
                        "email": null,
                        "created_at": null,
                        "passport": null,
                        email_active: true,
                        "agency": {
                            "id": null,
                            "name": null
                        },
                        "branch": {
                            "id": null,
                            "name": null
                        },
                        "admin": {
                            "exist": null,
                            "id": null,
                            "name": null
                        },
                        "birthday": null,
                        "note": null
                    },
                    "contact": {
                        "country": null,
                        "city": null,
                        "address": null,
                        "phone": null,
                        "skype": null
                    },
                    "appearance": {
                        "body": null,
                        "height": null,
                        "weight": null,
                        "eye_color": null,
                        "hair_color": null
                    },
                    "statistic": {
                        "bonus": null,
                        "penalty": null,
                        "new_letters": null,
                        "new_gifts": null,
                        "new_realinfo_request": null,
                        "critical_letters": null,
                        "critical_gifts": null,
                        "critical_realinfo_request": null
                    },
                    "additional_info": {
                        "status": null,
                        "lang_english": null,
                        "lang_spanish": null,
                        "lang_french": null,
                        "lang_portuguese": null,
                        "lang_german": null,
                        "family_status": null,
                        "education": null,
                        "profession": null,
                        "accommodation": null,
                        "children": null,
                        "religion": null,
                        "smoke": null,
                        "drink": null
                    },
                    "preferences": {
                        "flowers_red_roses": null,
                        "flowers_white_roses": null,
                        "flowers_pink_roses": null,
                        "flowers_gerbera": null,
                        "flowers_chrysanthemum": null,
                        "pet_dog": null,
                        "pet_cat": null,
                        "pet_hamster": null,
                        "pet_aquarium_fish": null,
                        "pet_parrot": null,
                        "pet_turtle": null,
                        "pet_snake": null,
                        "pet_iguana": null,
                        "pet_chinchilla": null,
                        "celebration_birthday": null,
                        "celebration_christmas_day": null,
                        "celebration_new_years_day": null,
                        "celebration_easter": null,
                        "celebration_valentines_day": null,
                        "celebration_halloween": null,
                        "celebration_womens_day": null,
                        "target_friendship": null,
                        "target_communication": null,
                        "target_journey": null,
                        "target_flirtation": null,
                        "target_a_meeting": null,
                        "target_a_family": null,
                        "target_children": null,
                        "interests": null,
                        "about_me": null,
                        "about_woman_age_from": 18,
                        "about_woman_age_to": 32,
                        "about_woman_weight_from": 45.8128,
                        "about_woman_weight_to": 87.9968,
                        "about_woman_growth_from": 121,
                        "about_woman_growth_to": 205,
                        "about_woman_body": "plump",
                        "about_woman_children": "have adult children",
                        "about_woman_hair_color": "redhead",
                        "about_woman_eye_color": "gray",
                        "about_woman_english_level": "intermediate",
                        "about_woman_text": ""
                    }
                },
                womanPassport: [],
                womanPhotoWithPassport: [],
                womanVideoApprove: [],
                womanPhotos: [],
                lightGallery: false,
                // photos: {
                //     avatar: [],
                //     photos_public: [],
                //     photos_private: [],
                //     photos_purchased: []
                // }
            }
        },
        computed: {
            ...mapGetters([
              'memberPhotos',
              'getPhotosTitle',
              'getClass',
              'photoUrlType'
            ]),
            photos(){
              return this.memberPhotos;
            },
            photosLoading() {
              return this.$store.getters.photosLoaded('memberPhotos');
            },
            additionalLang() {
                let langArray = [];
                if(this.woman.additional_info.lang_spanish !== 'no') {
                    langArray.push('Spanish('+this.woman.additional_info.lang_spanish+')');
                }
                if(this.woman.additional_info.lang_french !== 'no') {
                    langArray.push('French('+this.woman.additional_info.lang_french+')');
                }
                if(this.woman.additional_info.lang_german !== 'no') {
                    langArray.push('German('+this.woman.additional_info.lang_german+')');
                }
                if(this.woman.additional_info.lang_portuguese !== 'no') {
                    langArray.push('Portuguese('+this.woman.additional_info.lang_portuguese+')');
                }
                return _.replace(langArray.toString(), new RegExp(",","g"), ', ');
            },
            status() {
                let status = '';
                switch (this.woman.general.status) {
                    case 'active':
                        status = '<strong>активный</strong>';
                        break;
                    case 'deactivated':
                        status = '<strong class="text-yellow">удален</strong>';
                        break;
                    case 'banned':
                        status = '<strong class="text-red">забаненный</strong>';
                        break;
					case 'temp_deactivated':
						status = '<strong class="text-yellow">временно удален</strong>';
						break;
                }
                return status
            },
            birthday() {
            	if(this.woman.general.birthday !== null){
					return moment(this.woman.general.birthday * 1000).format('LL')
                } else{
                    return 'not filled'
                }

            },
			note() {
				if(this.woman.general.note === "I am already register"){
					return ""
				} else{
					return this.woman.general.note
				}

			},
            createdAt() {
                return moment(this.woman.general.created_at * 1000).format('LLL').replace(',', '')
            },
            petList() {
                let arrayX = [];
                let preferences = this.woman.preferences;
                for (let key in preferences) {
                    if (key.match('pet_')) {
                        if (preferences[key] == 1) {
                            let found = key.replace('pet_', '');
                            found = found.replace('_', ' ').replace('_', ' ').replace(found[0], found[0].toUpperCase());
                            arrayX.push(found)
                        }
                    }
                }
                return _.replace(arrayX.toString(), new RegExp(",","g"), ', ')
            },
            celebrationList() {
                let arrayX = [];
                let preferences = this.woman.preferences;
                for (let key in preferences) {
                    if (key.match('celebration_')) {
                        if (preferences[key] == 1) {
                            let found = key.replace('celebration_', '');
                            found = found.replace('_', ' ').replace('_', ' ').replace(found[0], found[0].toUpperCase());
                            arrayX.push(found)
                        }
                    }
                }
                return _.replace(arrayX.toString(), new RegExp(",","g"), ', ')
            },
            targetsList() {
                let arrayX = [];
                let preferences = this.woman.preferences;
                for (let key in preferences) {
                    if (key.match('target_')) {
                        if (preferences[key] == 1) {
                            let found = key.replace('target_', '');
                            found = found.replace('_', ' ').replace(found[0], found[0].toUpperCase());
                            arrayX.push(found)
                        }
                    }
                }
                return _.replace(arrayX.toString(), new RegExp(",","g"), ', ')
            }
        },
        watch: {
          rejectReason(value) {
            this.rejectReasonError = value === '';
          },
          photosLoading(val) {
            if (val) {
              setTimeout(() => {
                if (this.lightGallery) {
                  $('.photo-list').data('lightGallery').destroy(true);
                }

                this.lightGallery = $('.photo-list').lightGallery({
                  closable: false,
                  loop: false,
                  speed: 200,
                  getCaptionFromTitleOrAlt: false,
                  subHtmlSelectorRelative: false,
                });

              }, 200)
            }
          },
          $route (to, from) {
            this.$store.commit('resetPhotosData', { objectName: 'memberPhotos', type: 'all' });
          }
        },
        methods: {
            editRoute(sub) {
                this.$router.push('/man/edit/' + this.$route.params.man + sub)
            },
            fetchProfileData() {
                this.$http.post('v2/male/get/one', {
                    user_id: this.$route.params.man,
                    access_token: this.$cookie.get('access_token')
                }).then(data => {
                    if (data.body.status) {
                        this.woman = data.body.result;
                        this.loaded = true;
                        this.fetchPhotos()
                    } else {
                        toastr.error('Не могу загрузить профиль клиента')
                    }
                }, err => {
                    toastr.error('Не могу загрузить профиль клиента')
                })
            },
            fetchPhotos(type = 'all', userId = this.$route.params.man, reset = true) {
              this.$store.dispatch('loadPhotos', {
                objectName: 'memberPhotos',
                type: type,
                userId: userId,
                reset: reset,
                man: true
              }).then(() => {
                  setTimeout(() => {
                      this.lightGallery = $('.photo-nav').lightGallery();

                      $('.modal').each(function () {
                          $(this).on('shown.bs.modal', function (e) {
                              $(this).find(".v-scroll").perfectScrollbar('update');
                          });
                      });

                      $(".v-scroll").each(function () {

                          if ($(this).attr("data-height")) {
                              $(this).css("height", $(this).attr("data-height") + "px");
                          }

                          $(this).perfectScrollbar();
                      });
                  }, 400);
              }).catch((error) => {
                console.error('Ошибка при загрузке фотографий:', error);
              });
            },
            loadMore(type) {
              const isFirstLoad = !this.photos[type].data?.length;

              this.$store.dispatch('loadPhotos', {
                objectName: 'memberPhotos',
                type,
                userId: this.$route.params.man,
                reset: isFirstLoad,
                man: true
              }).then(() => {
                  setTimeout(() => {
                    if (this.lightGallery) {
                      $('.photo-nav').data('lightGallery').destroy(true);
                    }
                    this.lightGallery = $('.photo-nav').lightGallery();
                  }, 400);
              }).catch((error) => {
                console.error('Ошибка при загрузке фотографий:', error);
              });
            },
			reload() {
				location.reload()
			}
        },
        mounted() {
          this.fetchProfileData();
          this.fetchPhotos();
        },
        components: {
            preloader,
            'small-loader': SmallLoader,
			'credits-modal': FreeCreditsModal,
			changeEmail,
			changePassword,
			customNotification
        },
        destroyed() {
          this.$store.commit('resetPhotosData', { objectName: 'memberPhotos', type: 'all' })
        }
    }
</script>

<style lang="scss">
    .bg-danger {
        background: red !important;
        color: #ffffff !important;


        .text-blue {
            color: #ffffff !important;
        }
    }
</style>
