<template>
    <!--TODO: Раскомментировать потом модалку соглашения-->
    <div style="z-index: 999999" class="modal fade" id="index-info-modal-disabled" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
                    <h4 class="modal-title" id="myModalLabel">Общие правила</h4>
                </div>
                <div class="modal-body v-scroll" data-height="300" @scroll="scrollHandler">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic incidunt, quae, molestias distinctio vel mollitia numquam! Ad animi iure veniam consectetur, dolore cum vitae alias, incidunt aliquam. Nesciunt doloremque in, minus, tenetur dolorem eum provident pariatur libero harum distinctio modi, reiciendis reprehenderit culpa minima consectetur cupiditate doloribus praesentium ullam!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic incidunt, quae, molestias distinctio vel mollitia numquam! Ad animi iure veniam consectetur, dolore cum vitae alias, incidunt aliquam. Nesciunt doloremque in, minus, tenetur dolorem eum provident pariatur libero harum distinctio modi, reiciendis reprehenderit culpa minima consectetur cupiditate doloribus praesentium ullam!

                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic incidunt, quae, molestias distinctio vel mollitia numquam! Ad animi iure veniam consectetur, dolore cum vitae alias, incidunt aliquam. Nesciunt doloremque in, minus, tenetur dolorem eum provident pariatur libero harum distinctio modi, reiciendis reprehenderit culpa minima consectetur cupiditate doloribus praesentium ullam!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic incidunt, quae, molestias distinctio vel mollitia numquam! Ad animi iure veniam consectetur, dolore cum vitae alias, incidunt aliquam. Nesciunt doloremque in, minus, tenetur dolorem eum provident pariatur libero harum distinctio modi, reiciendis reprehenderit culpa minima consectetur cupiditate doloribus praesentium ullam!

                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic incidunt, quae, molestias distinctio vel mollitia numquam! Ad animi iure veniam consectetur, dolore cum vitae alias, incidunt aliquam. Nesciunt doloremque in, minus, tenetur dolorem eum provident pariatur libero harum distinctio modi, reiciendis reprehenderit culpa minima consectetur cupiditate doloribus praesentium ullam!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic incidunt, quae, molestias distinctio vel mollitia numquam! Ad animi iure veniam consectetur, dolore cum vitae alias, incidunt aliquam. Nesciunt doloremque in, minus, tenetur dolorem eum provident pariatur libero harum distinctio modi, reiciendis reprehenderit culpa minima consectetur cupiditate doloribus praesentium ullam!

                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic incidunt, quae, molestias distinctio vel mollitia numquam! Ad animi iure veniam consectetur, dolore cum vitae alias, incidunt aliquam. Nesciunt doloremque in, minus, tenetur dolorem eum provident pariatur libero harum distinctio modi, reiciendis reprehenderit culpa minima consectetur cupiditate doloribus praesentium ullam!
                </div>
                <div class="modal-footer clearfix" v-if="showButton || accepted">
                    <div class="row">
                        <div class="col-md-6 text-left">
                            <span v-if="accepted">
                                <strong>Вы приняли правила сервиса</strong>
                            </span>
                        </div>
                        <div class="col-md-6">
                            <button type="button" data-dismiss="modal" :disabled="accepted" class="btn btn-warning pull-right yes-agree" @click="accept">Я согласен</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'AcceptModal',
        data() {
            return {
                accepted: false,
                showButton: false
            }
        },
        methods: {
            accept() {
                this.$cookie.set('accepted', true, 7);
                this.accepted = this.$cookie.get('accepted');
            },
            scrollHandler(e) {
                let height = 300;
                let scrollLength = e.target.scrollTop;
                if(scrollLength > height) {
                    this.showButton = true;
                }
            }
        },
        beforeMount() {
            let accepted = this.$cookie.get('accepted');
            if(accepted) {
                this.accepted = true;
            }
        },
        mounted() {
            let maxHeight = $(".v-scroll").attr("data-height");
            $(".v-scroll").css("height", maxHeight).perfectScrollbar();
        }
    }
</script>
