<template>
  <div class="modal fade in " id="help-view-modal-index" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
       style="display: block;">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" @click="$emit('close')" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
          <h4 class="modal-title"><span class="modal-title-text">Письмо ID: {{letter.id}}  </span></h4>
        </div>
        <div v-show="!editable">
          <div class="modal-body woman-modal modal-wide v-scroll ps-container ps-theme-default ps-active-y"
               data-height="500">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-md-2 m-t-0">Дата создания:</label>
                  <div class="col-md-8">{{prettyCreated}}</div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 m-t-0">Спам:</label>
                  <div class="col-md-8">
                    <strong class="go-right" v-html="isSpam"></strong>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 m-t-0">Рассылка:</label>
                  <div class="col-md-8">
                    <strong class="go-right">{{isDistribution}}</strong>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 m-t-0">Прочитанно:</label>
                  <div class="col-md-8">
                    <strong class="go-right">{{isReade}}</strong>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 m-t-0">От:</label>
                  <div class="col-md-8">
                    <div class="user-block user-block-md margin-bottom">
                      <img class="img-circle" :src="letter.sender.avatar.small" :alt="letter.receiver.name">
                      <span class="username">
                          <a>{{letter.sender.name}}</a>
							        </span>
                      <a>
                        <span class="description">ID: {{letter.sender.id}}</span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 m-t-0">Кому:</label>
                  <div class="col-md-8">
                    <div class="user-block user-block-md margin-bottom">
                      <img class="img-circle" :src="letter.receiver.avatar.small" :alt="letter.receiver.name">
                      <span class="username">
                                <a>{{letter.receiver.name}}</a>
							          </span>
                      <a>
                                <span class="description">
                                    ID: {{letter.receiver.id}}
                                </span>
                      </a>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-md-2 m-t-0">Тема:</label>
                  <div class="col-md-8">
                    {{letter.subject}}
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 m-t-0">Письмо:</label>
                  <div class="col-md-10 text-wrap" v-html="letter.text">
                  </div>
                </div>

                <div class="form-group row" v-if="letter.attachments.length > 0">
                  <label class="col-md-2 m-t-0">Фото:</label>
                  <nav ref="lightgallery" id="lightgallery" class="col-md-10 photo-nav photo-list margin-top">
                    <a v-for="(item, index) in letter.attachments" :href="item.file_name_origin">
                      <img :src="item.file_url_medium || item.file_name_medium">
                      <i v-if="item.album_type === 'private'" class="photo-label label-private bottom-photo">Private</i>
                    </a>
                  </nav>
                </div>


                <div class="form-group row" v-if="letter.attachments_video.length > 0">
                  <label class="col-md-2 m-t-0">Видео:</label>
                  <div class="col-md-10 margin-top">
                    <lady-video-gallery
                        v-if="letter.attachments_video.length > 0"
                        :videos="letter.attachments_video"
                        :has-label="true"
                    />
                  </div>
                </div>

                <!--ANSWER_BLOCK-->
                <div class="mail-modal__reply" v-if="letter.reply_on_message">
                  <hr>
                  <h3>Ответ:</h3>
                  <div class="form-group row">
                    <label class="col-md-2 m-t-0">От:</label>
                    <div class="col-md-8">
                      <div class="user-block user-block-md margin-bottom">
                        <img class="img-circle" :src="letter.receiver.avatar.small" :alt="letter.receiver.name">
                        <span class="username">
                                <a>{{letter.receiver.name}}</a>
							          </span>
                        <a>
                                <span class="description">
                                    ID: {{letter.receiver.id}}
                                </span>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-2 m-t-0">Кому:</label>

                    <div class="col-md-8">
                      <div class="user-block user-block-md margin-bottom">
                        <img class="img-circle" :src="letter.sender.avatar.small" :alt="letter.receiver.name">
                        <span class="username">
                          <a>{{letter.sender.name}}</a>
							        </span>
                        <a>
                          <span class="description">ID: {{letter.sender.id}}</span>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-2 m-t-0">Тема:</label>
                    <div class="col-md-10">
                      <p>{{letter.reply_on_message.subject}}</p>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-2 m-t-0">Письмо:</label>
                    <div class="col-md-10" v-html="letter.reply_on_message.text">
                    </div>
                  </div>
                  <div class="form-group row" v-if="letter.reply_on_message.attachments.length > 0">
                    <label class="col-md-2 m-t-0">Фото:</label>
                    <nav ref="lightgallery" id="lightgallery-answer-2"
                         class="col-md-10 photo-nav photo-list margin-top">
                        <a v-for="item in letter.reply_on_message.attachments"
                           :href="item.file_name_origin">
                          <img :src="item.file_name_medium">
                          <i v-if="item.album_type === 'private'" class="photo-label label-private bottom-photo">Private</i>
                        </a>
                    </nav>
                  </div>

                  <div class="form-group row" v-if="letter.reply_on_message.attachments_video.length > 0">
                    <label class="col-md-2 m-t-0">Видео:</label>
                    <div class="col-md-10 margin-top">
                      <lady-video-gallery v-if="letter.reply_on_message.attachments_video.length > 0" :videos="letter.reply_on_message.attachments_video" :has-label="true"/>
                    </div>
                  </div>
                </div>
                <!--ANSWER BLOCK ENDS-->
              </div>
            </div>

          </div>
          <div class="modal-footer clearfix no-display" style="display: block;">
            <button type="button" class="btn btn-success  yes-agree" @click="editLetter">Редактировать
            </button>
          </div>
        </div>
        <div v-show="editable">
          <div class="modal-body woman-modal modal-wide v-scroll ps-container ps-theme-default ps-active-y"
               data-height="500">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-md-2 m-t-0">Дата создания:</label>
                  <div class="col-md-8">{{prettyCreated}}</div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 m-t-0">Спам:</label>
                  <div class="col-md-8">
                    <strong class="go-right" v-html="isSpam"></strong>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 m-t-0">Рассылка:</label>
                  <div class="col-md-8">
                    <strong class="go-right">{{isDistribution}}</strong>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 m-t-0">Прочитанно:</label>
                  <div class="col-md-8">
                    <strong class="go-right">{{isReade}}</strong>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 m-t-0">От:</label>
                  <div class="col-md-8">
                    <div class="user-block user-block-md margin-bottom">
                      <img class="img-circle" :src="letter.sender.avatar.small" :alt="letter.receiver.name">
                      <span class="username">
                                <a>{{letter.sender.name}}</a>
							</span>
                      <a>
                        <span class="description">ID: {{letter.sender.id}}</span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 m-t-0">Кому:</label>
                  <div class="col-md-8">
                    <div class="user-block user-block-md margin-bottom">
                      <img class="img-circle" :src="letter.receiver.avatar.small" :alt="letter.receiver.name">
                      <span class="username">
                                <a>{{letter.receiver.name}}</a>
							</span>
                      <a>
                                <span class="description">
                                    ID: {{letter.receiver.id}}
                                </span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 m-t-0" for="for-theme">Тема:</label>
                  <div class="col-md-10">
                    <input type="text" class="form-control" id="for-theme" v-model="letter.subject"
                           placeholder="Тема письма">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 m-t-0">Письмо:</label>
                  <div class="col-md-10">
                    <app-editable
                      v-model="letter.text"></app-editable>
                  </div>
                </div>
                <div class="row ">
                  <div class="col-md-offset-2 col-md-5">
                    <p class="text-counter">Кол. символов -
                      {{ letter.text.length}}</p>
                  </div>
                  <div class="col-md-offset-1 col-md-4 text-right">
                    <a @click.prevent="fetchFiles" data-list=".photo-list-inset"
                       data-target="#attachPhotoToLetter" data-toggle="modal">
                      <b class="text-red cursor"><i class="fa fa-paperclip"></i> Прикрепить файл</b>
                    </a>
                  </div>
                </div>
                <div class="form-group row" v-if="attachedPhotos.length > 0">
                  <label class="col-md-2 m-t-0">Фото:</label>
                  <nav ref="lightgallery" id="lightgallery-edit" class="col-md-10 photo-nav photo-list margin-top">
                    <a v-for="(item, index) in attachedPhotos"
                       :href="item.file_url_origin">
                      <img :src="item.file_url_medium">
                      <i v-if="item.album_type === 'private'" class="photo-label label-private bottom-photo">Private</i>
                      <span class="fa fa-times-circle del-photo"
                            @click.stop.prevent="removeFromAttached(item.id, index)"></span>
                    </a>
                  </nav>
                </div>

                <div class="form-group row" v-if="attachedVideos.length > 0">
                  <label class="col-md-2 m-t-0">Видео:</label>
                  <div class="col-md-10 margin-top">
                    <lady-video-gallery
                        v-if="attachedVideos.length > 0"
                        :videos="attachedVideos"
                        :has-label="true"
                        :delete-icon="true"
                        :hasDelSpin="true"
                        :has-back-call="true"
                        @backFunction="removeFromAttachedVideo"
                    />
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="modal-footer clearfix no-display" style="display: block;">
            <button type="button" class="btn btn-success  yes-agree" @click="saveMessage">Сохранить</button>
            <button type="button" class="btn btn-danger yes-agree" @click="deleteMessage(letter.id)">Удалить</button>
          </div>
          <preloader v-show="preload"></preloader>
        </div>
      </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="attachPhotoToLetter">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Прикрепить к письму</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <nav class="col-md-12 attach-file-list photo-list photo-nav" style="max-height: 270px; overflow-y: auto;">
                <a v-for="photo in photosToAttach"  href="#" role="button"  @click="selectPhoto(photo)" :class="{'attached': photo.selected}">
                  <img :src="photo.file_url_medium" class="img-responsive" >
                  <i v-if="photo.album_type === 'private'" class="photo-label label-private bottom-photo">Private</i>
                </a>

              </nav>
            </div>

            <hr>

            <div class="row">
              <h5>Видео</h5>
              <nav class="col-md-12 attach-file-list photo-list photo-nav" style="max-height: 300px; overflow-y: auto">
                <a v-for="video in videosToAttach"  href="#" role="button"  @click="selectVideo(video)" :class="{'attached': video.selected}">
                  <img :src="video.preview_file_name_medium" class="img-responsive" >
                  <i v-if="video.album_type === 'private'" class="photo-label label-private bottom-photo">Private</i>
                </a>

              </nav>
            </div>
          </div>
          <div class="modal-footer">
            <button :disabled="disabledAttacBtn" type="button"
                    class="btn btn-primary" data-dismiss="modal" @click="finishAttach">Добавить
            </button>
          </div>
        </div>
      </div>
    </div>
    <modal-video/>
  </div>

</template>

<script>
  import AppEditable from '../custom/ContentEditable.vue'
  import preloader from '../custom/preloaderSmall/component.vue'
  import toastr from 'toastr'
  import LadyVideoGallery from "@components/content/girls/parts/VideoGallery.vue";
  import modalVideo from "@components/modals/PlayVideoModal.vue";

  export default {
    name: 'MailModalWoman',
    props: {
      letter: {
        type: Object
      }
    },
    data() {
      return {
        id: 36,
        editable: false,
        attach_id: [],
        photosLoading: true,
        attach_id_delete: [],
        photosToAttach: [],
        attachedPhotos: [],
        preload: false,

        // video
        attach_video_id:[],
        videosLoading: true,
        attach_id_video_delete: [],
        videosToAttach: [],
        attachedVideos: []
      }
    },
    computed: {
      disabledAttacBtn() {
        return (this.selectedPhotos.length + this.attachedPhotos.length) > this.generalSettings.max_photo_attach_mail_woman ||
            (this.selectedVideos.length + this.attachedVideos.length) > this.generalSettings.max_video_attach_mail_woman

      },
      generalSettings(){
        return this.$store.getters.generalSettings;
      },
      selectedPhotos() {
        return this.photosToAttach.filter(i => i.selected);
      },
      selectedVideos() {
        return this.videosToAttach.filter(i => i.selected);
      },
      prettyCreated() {
        return moment(this.letter.created_at * 1000).format('LLL')
      },
      isReade() {
        if (this.letter.reade) {
          return 'да'
        } else {
          return 'нет'
        }
      },
      isDistribution() {
        if (this.letter.distribution) {
          return 'да'
        } else {
          return 'нет'
        }
      },
      isSpam() {
        if (this.letter.spam) {
          return '<span style="color:red">да</span>'
        } else {
          return 'нет'
        }
      },
    },
    watch: {
      photosLoading(val) {
        if (!val && this.letter.attachments.length >= 1) {
          this.initlightGallery()
        } else if (val && this.attachedPhotos.length >= 1) {
          this.initlightGalleryEdit()
        }
      }
    },
    methods: {
      editLetter() {
        this.letter.attachments.forEach(photo => {
          photo.file_url_medium = photo.file_name_medium
          photo.file_url_origin = photo.file_name_origin
          this.attachedPhotos.push(photo)
        })


        this.letter.attachments_video.forEach(video => {
          video['selected']=true;
          this.attachedVideos.push(video)
        })

        this.editable = !this.editable
        setTimeout(() => {
          this.photosLoading = true;
          this.videosLoading = true;
        }, 200)
      },
      initlightGallery() {
        let lgs = $('#lightgallery').lightGallery("destroy");
        lgs.data('lightGallery').destroy(true);
        setTimeout(() => {
          $('#lightgallery').lightGallery();
        }, 200)
      },
      initlightGalleryEdit() {
        let lg = $('#lightgallery-edit').lightGallery("destroy");
        lg.data('lightGallery').destroy(true);
        setTimeout(() => {
          $('#lightgallery-edit').lightGallery();
        }, 200)
      },
      removeFromAttached(id, i) {
        this.photosLoading = false;

        this.letter.attachments.forEach(photo => {
          if (photo.id == id) {
            this.attach_id_delete.push(photo.id)
          }
        })
        let count = 0;
        this.attach_id.forEach(photoId => {
          if(photoId == id){
            this.attach_id.splice(count, 1)
          }else{
            count++;
          }
        })
        this.attachedPhotos.splice(i, 1);
        setTimeout(() => {
          this.photosLoading = true;
        }, 200)

      },


      removeFromAttachedVideo(obj) {

        let id = obj.id, i=obj.i;

        this.videosLoading = false;

        this.letter.attachments_video.forEach(video => {
          if (video.id === id) {
            this.attach_id_video_delete.push(video.id)
          }
        })
        let count = 0;
        this.attach_video_id.forEach(videoId => {
          if(videoId === id){
            this.attach_video_id.splice(count, 1)
          }else{
            count++;
          }
        })
        this.attachedVideos.splice(i, 1);
        setTimeout(() => {
          this.videosLoading = true;
        }, 200)

      },
      selectPhoto(photo) {
        if (this.selectedPhotos.length + this.attachedPhotos.length >= this.generalSettings.max_photo_attach_mail_woman) {
          toastr.error('Превышено допустимое к-во фотографий');
        }
        else {
          photo.selected = !photo.selected;
        }
      },
      selectVideo(video) {
        if (this.selectedVideos.length + this.attachedVideos.length >= this.generalSettings.max_video_attach_mail_woman) {
          toastr.error('Превышено допустимое к-во видео');
        }
        else {
          video.selected = !video.selected;
        }
      },
      finishAttach() {
        if (this.attachedPhotos.length < this.generalSettings.max_photo_attach_mail_woman) {
          this.photosToAttach.forEach(photo => {
            if (photo.selected) {
              this.attachedPhotos.push(photo)
            }
          })

          this.attachedPhotos.forEach(photo => {
            if (photo.selected) {
              this.attach_id.push(photo.id)
            }

          })
          this.attachedPhotos.forEach(photo => {
            photo.thumb = photo.file_url_medium
            photo.src = photo.file_url_origin
          })
          this.clear()

            setTimeout(() => {
              this.photosLoading = true;
            }, 200)


        }
        else {
          this.photosToAttach.forEach(photo => {
            photo.selected = false
          })
          toastr.error('Превышено допустимое к-во фотографий');
        }

        this.finishAttachVideo();
      },
      finishAttachVideo() {
        if (this.attachedVideos.length < this.generalSettings.max_video_attach_mail_woman) {
          this.videosToAttach.forEach(video => {
            if (video.selected) {
              this.attachedVideos.push(video)
            }
          })

          this.attachedVideos.forEach(video => {
            if (video.selected) {
              this.attach_video_id.push(video.id)
            }

          })

          this.attachedVideos.forEach(video => {
            video.selected = true
          })

          this.clearVideo();

          setTimeout(() => {
            this.videosLoading = true;
          }, 200);

        }
        else {

          this.videosToAttach.forEach(vid => {
            vid.selected = false
          })
          toastr.error('Превышено допустимое к-во видео');

        }
      },
      clear() {
        this.photosToAttach.forEach(photo => {
          photo.selected = false
        })
      },
      clearVideo() {
        this.videosToAttach.forEach(video => {
          video.selected = false
        })
      },

      async fetchFiles(){
        await this.fetchPhotos();
        await this.fetchVideos();
      },
      fetchPhotos() {
        this.photosLoading = false;
        this.$http.post('v2/female/load-photos', {
          access_token: this.$cookie.get('access_token'),
          user_id: this.letter.sender.id
        }).then(data => {
          if (data.body.status) {
            this.photosToAttach = [];
            this.attach_id = [];
            data.body.result.public_photo.forEach(photo => {
              if (this.attachedPhotos.filter( i => photo.id==i.id ).length>0){
                photo.selected = true
              }
              else {
                photo.selected = false
              }
              this.photosToAttach.push(photo);
            });
            data.body.result.private_photo.forEach(photo => {
              if (this.attachedPhotos.filter( i => photo.id==i.id ).length>0){
                photo.selected = true
              }
              else {
                photo.selected = false
              }
              this.photosToAttach.push(photo);
            });

          } else {
            if ('message' in data.body) {
              toastr.error(data.body.message);
            }
            toastr.error('Не могу загрузить список фото клиентки');
            toastr.info(data.body.desc);
          }
        }, err => {
          toastr.error('Не могу загрузить список фото клиентки');
          console.log(err);
        })
      },
      fetchVideos() {
        this.videosLoading = false;
        this.$http.post('v2/female/load-videos', {
          access_token: this.$cookie.get('access_token'),
          user_id: this.letter.sender.id
        }).then(data => {
          if (data.body.status) {
            this.videosToAttach = [];
            this.attach_id = [];
            data.body.result.public_video.forEach(video => {
              video.selected = false;
              video.album_type = 'public';
              this.videosToAttach.push(video);
            });
            data.body.result.private_video.forEach(video => {
              video.selected = false;
              video.album_type = 'private';
              this.videosToAttach.push(video);
            });

          } else {
            if ('message' in data.body) {
              toastr.error(data.body.message);
            }
            toastr.error('Не могу загрузить список видео клиентки');
            toastr.info(data.body.desc);
          }
        }, err => {
          toastr.error('Не могу загрузить список видео клиентки');
          console.log(err);
        })
      },
      deleteMessage(id) {
        this.$http.post('v2/letter/remove', {
          access_token: this.$cookie.get('access_token'),
          message_id: id
        }).then(data => {
          if (data.body.status) {
            toastr.success('Сообщение удалено');
            this.$emit('close')
          } else {
            toastr.error('Данный тип сообщений нельзя удалить');
            toastr.info(data.body.desc);
          }
        }, err => {
          console.log(err);
          toastr.error('Не могу удалить фото из вложений');
        })
      },
      saveMessage() {
        this.preload = true;

        /*
        * Удалить  аттачи фото
        * */
        if (this.attach_id_delete.length > 0) {
          this.$http.post('v2/letter/attach/delete', {
            access_token: this.$cookie.get('access_token'),
            mail_id: this.letter.id,
            message_attach_id_list: JSON.stringify(this.attach_id_delete).toString(),
          }).then(data => {
            if (data.body.status) {
              this.attach_id_delete = []
            } else {
              toastr.error('Не могу удалить фото из вложений');
              toastr.info(data.body.desc);
            }
          }, err => {
            console.log(err);
            toastr.error('Не могу удалить фото из вложений');
          })
        }
        /*
        * Удалить  аттачи видео
        * */
        if (this.attach_id_video_delete.length > 0) {
          this.$http.post('v2/letter/video-attach/delete', {
            access_token: this.$cookie.get('access_token'),
            mail_id: this.letter.id,
            message_attach_id_list: JSON.stringify(this.attach_id_video_delete).toString(),
          }).then(data => {
            if (data.body.status) {
              this.attach_id_delete = []
            } else {
              toastr.error('Не могу удалить видео из вложений');
              toastr.info(data.body.desc);
            }
          }, err => {
            console.log(err);
            toastr.error('Не могу удалить видео из вложений');
          })
        }
        /*
        * Изменить текст и тему сообщения
        * */
        this.$http.post('v2/letter/update', {
          access_token: this.$cookie.get('access_token'),
          message_id: this.letter.id,
          text: this.letter.text,
          subject: this.letter.subject
        }).then(data => {
          if (data.body.status) {
            this.editable = false;
          } else {
            toastr.error('Не могу изменить тему или текст сообщения');
            toastr.info(data.body.desc);
          }
        }, err => {
          console.log(err);
          toastr.error('Не могу изменить тему или текст сообщения');
        })

        /*
        * Добавить аттачи
        * */
        this.$http.post('v2/letter/attach/add', {
          access_token: this.$cookie.get('access_token'),
          message_id: this.letter.id,
          attachments: JSON.stringify(this.attach_id).toString()
        }).then(data => {
          if (data.body.status) {
            this.attach_id = [];
            this.attachedPhotos = [];
            this.$emit('update-letter');
            let self = this
            setTimeout(() => {
              this.photosLoading = false;
              this.preload = false;
            }, 500)
          } else {
            toastr.error('Не могу добавить фото');
            toastr.info(data.body.desc);
          }
        }, err => {
          console.log(err);
          toastr.error('Не могу добавить фото');
        });

        this.$http.post('v2/letter/video-attach/add', {
          access_token: this.$cookie.get('access_token'),
          message_id: this.letter.id,
          attachments: JSON.stringify(this.attach_video_id).toString(),
        }).then(data => {
          if (data.body.status) {
            this.attach_video_id = [];
            this.attachedVideos= [];
            this.$emit('update-letter');
            let self = this;
            setTimeout(() => {
              this.videosLoading = false;
              this.preload = false;
            }, 500)
          } else {
            toastr.error('Не могу добавить видео');
            toastr.info(data.body.desc);
          }
        }, err => {
          console.log(err);
          toastr.error('Не могу добавить видео');
        })

      }
    },
    mounted() {
      if(this.letter.attachments.length > 0){
        this.photosLoading = false;
      }
      if(this.letter.attachments_video.length > 0){
        this.videosLoading = false;
      }
      $('#lightgallery').lightGallery();
      $('#lightgallery-edit').lightGallery();
    },
    created() {
      if (this.url) {
        this.id = mailId
      }
    },
    components: {
      modalVideo,
      LadyVideoGallery,
      AppEditable,
      preloader
    }
  }
</script>

<style scoped="" lang="scss">
  .preloader-wrapper {
    background: #ffffff;
    min-height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
  }

  .woman-modal {
    height: 500px;
    overflow-y: scroll !important;
    -webkit-overflow-scrolling: touch;
  }

  .modal-title-text {
    display: flex;
    align-items: center;

  }

  h4 {
    position: relative;
    margin-right: 40px;
  }

  h5 {
    margin: 0;
    cursor: pointer;
  }

  .edit-mail {
    margin-left: 10px;
    cursor: pointer;
    height: 36px;
    width: 36px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    transition: .3s;
    &:hover {
      background: #171e2b;
      .fa {
        color: lighten(#0c78dd, 15%);
      }
    }

    .fa {
      color: #0c78dd;
      transition: .3s;
    }
  }

  .go-right {
    margin-left: 30px;
  }

  @media (max-width: 768px) {
    .woman-modal {
      height: auto;
    }
  }

  @media (min-width: 769px) {
    .modal-wide {
      width: 95%;
    }
  }

  @media (min-width: 1025px) {
    .modal-wide {
      width: 75%;
    }
  }

  @media (min-width: 1200px) {
    .modal-wide {
      width: 100% !important;
    }
  }

  .answer-letter-w {
    height: 150px;
    width: 100%;
  }
</style>
