<template>
  <div class="mail-modal modal fade in " id="help-view-modal-index" tabindex="-1" role="dialog"
       aria-labelledby="myModalLabel"
       style="display: block;">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" @click="$emit('closewithout')" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Письмо ID: {{letter.message.id}}</h4>
        </div>
        <div v-show="!editable">
          <div class="man-modal modal-body modal-wide v-scroll ps-container ps-theme-default ps-active-y">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-md-2 m-t-0">Дата создания:</label>
                  <div class="col-md-8">{{prettyCreated}}</div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 m-t-0">Рассылка:</label>
                  <div class="col-md-8">
                    <strong class="go-right">{{isDistribution}}</strong>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 m-t-0">Прочитанно:</label>
                  <div class="col-md-8">
                    <strong class="go-right">{{isReade}}</strong>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 m-t-0">От:</label>
                  <div class="col-md-8">
                    <div class="user-block user-block-md margin-bottom">
                      <img class="img-circle" :src="letter.sender.avatar.small"
                           :alt="letter.receiver.name">
                      <span class="username">
                                <a>{{letter.sender.name}}</a>
							</span>
                      <a>
                        <span class="description">ID: {{letter.sender.id}}</span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 m-t-0">Кому:</label>
                  <div class="col-md-8">
                    <div class="user-block user-block-md margin-bottom">
                      <img class="img-circle" :src="letter.receiver.avatar.small"
                           :alt="letter.receiver.name">
                      <span class="username">
                                <a>{{letter.receiver.name}}</a>
							</span>
                      <a>
                                <span class="description">
                                    ID: {{letter.receiver.id}}
                                </span>
                      </a>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-md-2 m-t-0">Тема:</label>
                  <div class="col-md-10">
                    <p>{{letter.message.subject}}</p>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 m-t-0">Письмо:</label>
                  <div class="col-md-10" v-html="letter.message.text">
                  </div>
                </div>
                <div class="form-group row" v-if="letter.message.attachments.length > 0">
                  <label class="col-md-2 m-t-0">Вложения:</label>
                  <nav ref="lightgallery" id="lightgallery"
                       class="col-md-10 photo-nav photo-list margin-top">
                    <a v-for="item in letter.message.attachments" :href="item.file_name_origin">
                      <img :src="item.file_name_medium">
                    </a>
                  </nav>
                </div>

                <!--ANSWER_BLOCK-->
                <div class="mail-modal__reply" v-if="letter.answered">
                  <hr>
                  <!--<div class="form-group row">-->
                  <!--<label class="col-md-2 m-t-0">От:</label>-->
                  <!--<div class="col-md-8">-->
                  <!--<div class="user-block user-block-md margin-bottom">-->
                  <!--<img class="img-circle" :src="letter.receiver.avatar.small"-->
                  <!--:alt="letter.receiver.name">-->
                  <!--<span class="username">-->
                  <!--<a>{{letter.receiver.name}}</a>-->
                  <!--</span>-->
                  <!--<a>-->
                  <!--<span class="description">ID: {{letter.receiver.id}}</span>-->
                  <!--</a>-->
                  <!--</div>-->
                  <!--</div>-->
                  <!--</div>-->
                  <!--<div class="form-group row">-->
                  <!--<label class="col-md-2 m-t-0">Кому:</label>-->
                  <!--<div class="col-md-8">-->
                  <!--<div class="user-block user-block-md margin-bottom">-->
                  <!--<img class="img-circle" :src="letter.sender.avatar.small"-->
                  <!--:alt="letter.sender.name">-->
                  <!--<span class="username">-->
                  <!--<a>{{letter.sender.name}}</a>-->
                  <!--</span>-->
                  <!--<a>-->
                  <!--<span class="description">-->
                  <!--ID: {{letter.sender.id}}-->
                  <!--</span>-->
                  <!--</a>-->
                  <!--</div>-->
                  <!--</div>-->
                  <!--</div>-->
                  <h3>Ответ:</h3>
                  <div class="form-group row">
                    <label class="col-md-2 m-t-0">Тема:</label>
                    <div class="col-md-10">
                      <p v-if="letter.answered">{{letter.reply_message.subject}}</p>
                      <input v-else placeholder="subject" v-model="answerSubject"
                             class="form-control">
                    </div>
                  </div>
                  <div class="form-group row" v-if="letter.answered">
                    <label class="col-md-2 m-t-0">Письмо:</label>
                    <div class="col-md-10" v-html="letter.reply_message.text">
                    </div>
                  </div>
                  <div class="form-group row" v-if="letter.reply_message.attachments.length > 0">
                    <label class="col-md-2 m-t-0">Вложения:</label>
                    <nav ref="lightgallery" id="lightgallery-answer"
                         class="col-md-10 photo-nav photo-list margin-top">
                      <a v-for="item in letter.reply_message.attachments"
                         :href="item.file_name_origin">
                        <img :src="item.file_name_medium">
                      </a>
                    </nav>
                  </div>
                </div>
                <!--ANSWER BLOCK ENDS-->


                <div v-if="!letter.answered">
                  <hr>
                  <div>
                    <form class="mail-modal__form" @submit.prevent="sendAnswer()">
                      <div class="form-group row">
                        <label class="col-md-2 m-t-0">Тема:</label>
                        <div class="col-md-10">
                          <input placeholder="subject" v-model="answerSubject"
                                 class="col-md-10 form-control">
                        </div>
                      </div>
                      <div class="block-row form-group row">
                        <label class="col-md-2 m-t-0">Текст:</label>
                        <!--<textarea placeholder="message-text" v-model="answerText"-->
                        <!--class="form-control col-md-10 answer-letter-w" name=""-->
                        <!--id="answer-text"-->
                        <!--cols="30" rows="10"></textarea>-->
                        <app-editable @clean="textLength = $event" class="col-md-10 m-h"
                                      v-model="answerText"></app-editable>
                        <p class="col-md-offset-2 text-counter">Количество введенных символов -
                          {{textLength.length}}</p>
                      </div>
                      <div class="flex-row flex-end">
                        <div class="mail-modal__form--attach-wrap text-right margin-top margin-bottom">
                          <a href="#" class="text-blue add-photos"
                             data-list=".photo-list-inset" title="Прикрепить фото"
                             data-target="#attachPhotoToLetter" data-toggle="modal"> Прикрепить
                            фото
                            <i class="fa fa-plus text-blue"></i></a>
                        </div>
                        <button type="submit" class="btn btn-primary">Отправить</button>
                      </div>

                      <div class="flex-row" v-if="attachedPhotos.length">
                        <label class="m-t-0">Вложения:</label>
                        <nav ref="lightgallery" id="lightgallery-attached"
                             class="photo-nav photo-list">
                          <div v-for="(image, i) in attachedPhotos"
                               class="mail-modal__photo-attach">
													<span class="mail-modal--delete-photo" @click="deleteAttach(i)">
														<svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path
                              d="M437.5 386.6L306.9 256l130.6-130.6c14.1-14.1 14.1-36.8 0-50.9-14.1-14.1-36.8-14.1-50.9 0L256 205.1 125.4 74.5c-14.1-14.1-36.8-14.1-50.9 0-14.1 14.1-14.1 36.8 0 50.9L205.1 256 74.5 386.6c-14.1 14.1-14.1 36.8 0 50.9 14.1 14.1 36.8 14.1 50.9 0L256 306.9l130.6 130.6c14.1 14.1 36.8 14.1 50.9 0 14-14.1 14-36.9 0-50.9z"/></svg>
													</span>
                            <a class="dynamic" :data-slide="i">
                              <img :src="image.file_url_medium">
                            </a>
                          </div>
                        </nav>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="modal-footer clearfix no-display" style="display: block;">
            <button type="button" class="btn btn-success  yes-agree" @click="editLetter">Редактировать
            </button>
          </div>
        </div>
        <div v-show="editable">
          <div class="man-modal modal-body modal-wide v-scroll ps-container ps-theme-default ps-active-y">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-md-2 m-t-0">Дата создания:</label>
                  <div class="col-md-8">{{prettyCreated}}</div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 m-t-0">Рассылка:</label>
                  <div class="col-md-8">
                    <strong class="go-right">{{isDistribution}}</strong>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 m-t-0">Прочитанно:</label>
                  <div class="col-md-8">
                    <strong class="go-right">{{isReade}}</strong>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 m-t-0">От:</label>
                  <div class="col-md-8">
                    <div class="user-block user-block-md margin-bottom">
                      <img class="img-circle" :src="letter.sender.avatar.small"
                           :alt="letter.receiver.name">
                      <span class="username">
                                <a>{{letter.sender.name}}</a>
							</span>
                      <a>
                        <span class="description">ID: {{letter.sender.id}}</span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 m-t-0">Кому:</label>
                  <div class="col-md-8">
                    <div class="user-block user-block-md margin-bottom">
                      <img class="img-circle" :src="letter.receiver.avatar.small"
                           :alt="letter.receiver.name">
                      <span class="username">
                                <a>{{letter.receiver.name}}</a>
							</span>
                      <a>
                                <span class="description">
                                    ID: {{letter.receiver.id}}
                                </span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 m-t-0">Тема:</label>
                  <div class="col-md-10">
                    <input type="text" class="form-control" id="for-theme" v-model="letter.message.subject"
                           placeholder="Тема письма">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 m-t-0">Письмо:</label>
                  <div class="col-md-10">
                    <app-editable
                      v-model="letter.message.text"></app-editable>
                  </div>
                </div>
                <div class="row ">
                  <div class="col-md-offset-2 col-md-5">
                    <p class="text-counter">Кол. символов -
                      {{ letter.message.text.length}}</p>
                  </div>
                  <div class="col-md-offset-1 col-md-4">
                    <a @click.prevent="fetchPhotosMan" data-list=".photo-list-inset"
                       data-target="#attachPhotoToLetter" data-toggle="modal">
                      <h5 class="text-green"><i class="fa fa-paperclip"></i> прикрепить фото</h5>
                    </a>
                  </div>
                </div>
                <div class="form-group row" v-if="attachedPhotosMan.length > 0">
                  <label class="col-md-2 m-t-0">Вложения:</label>
                  <nav ref="lightgallery" id="lightgallery-edit"
                       class="col-md-10 photo-nav photo-list margin-top">
                    <a v-for="(item, index) in attachedPhotosMan" :href="item.file_url_origin">
                      <img :src="item.file_url_medium">
                      <span class="fa fa-times-circle del-photo"
                            @click.stop.prevent="removeFromAttached(item.id, index)"></span>
                    </a>
                  </nav>
                </div>
              </div>
            </div>

          </div>
          <div class="modal-footer clearfix no-display" style="display: block;">
            <button type="button" class="btn btn-success  yes-agree" @click="saveMessage">Сохранить</button>
            <button type="button" class="btn btn-danger yes-agree" @click="deleteMessage(letter.message.id)">Удалить
            </button>
          </div>
          <preloader v-show="preload"></preloader>
        </div>


      </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="attachPhotoToLetter">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" @click="clear()" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Прикрепить фото</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div v-for="photo in editable ? photosToAttachMan : photosToAttach" class="col-md-2">
                <img :src="photo.file_url_medium" class="img-responsive" alt=""
                     :class="{'attached': photo.selected}"
                     @click="selectPhoto(photo)">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              :disabled="editable ? selectedPhotosMan.length + attachedPhotosMan.length > 3 : selectedPhotos.length + attachedPhotos.length > 3"
              type="button" class="btn btn-primary" data-dismiss="modal"
              @click="editable ? finishAttachMan() : finishAttach()">
              Добавить
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
  import {CLEAN_HTML} from '../../mixins/cleanHtml'
  import toastr from 'toastr'
  import AppEditable from '../custom/ContentEditable.vue'
  import preloader from '../custom/preloaderSmall/component.vue'
  import {UPDATE_USER_COUNTER} from '../../mixins/updateUserCounters'

  export default {
    name: 'MailModal2',
    props: {
      letter: {
        type: Object
      }
    },
    data() {
      return {
        id: 36,
        editable: false,
        answerText: '',
        answerSubject: '',
        canAttach: false,
        photosToAttach: [],
        attachedPhotos: [],
        attach_id: [],
        photosLoading: true,
        attach_id_delete: [],
        preload: false,
        photosToAttachMan: [],
        attachedPhotosMan: [],
        textLength: '',
        noPhoto: false
      }
    },
    computed: {
      selectedPhotos() {
        return this.photosToAttach.filter(i => i.selected);
      },
      selectedPhotosMan() {
        return this.photosToAttachMan.filter(i => i.selected);
      },
      validation() {
        if (this.textLength.length >= 200 && this.answerSubject.length >= 10 && this.textLength.length <= 5000 && this.answerSubject.length <= 250) {
          return true
        }
        else {
          return false
        }
      },
      prettyCreated() {
        return moment(this.letter.message.created_at * 1000).format('LLL')
      },
      isReade() {
        if (this.letter.reade) {
          return 'да'
        } else {
          return 'нет'
        }
      },
      isDistribution() {
        if (this.letter.distribution) {
          return 'да'
        } else {
          return 'нет'
        }
      }
    },
    watch: {
      answerText(v) {
        this.answerText = this.cleanHtml(this.answerText)
      },
      photosLoading(val) {
        if (!val && this.letter.message.attachments.length >= 1) {
          this.initlightGallery()
        } else if (val && this.attachedPhotosMan.length >= 1) {
          this.initlightGalleryEdit()
        }
      }
    },
    methods: {
      editLetter() {
        this.letter.message.attachments.forEach(photo => {
          photo.file_url_medium = photo.file_name_medium
          photo.file_url_origin = photo.file_name_origin
          this.attachedPhotosMan.push(photo)
        })
        this.editable = !this.editable
        setTimeout(() => {
          this.photosLoading = true
        }, 200)
      },
      initlightGallery() {
        let lgs = $('#lightgallery').lightGallery("destroy");
        lgs.data('lightGallery').destroy(true);
        setTimeout(() => {
          $('#lightgallery').lightGallery();
        }, 200)
      },
      initlightGalleryEdit() {
        let lg = $('#lightgallery-edit').lightGallery("destroy");
        lg.data('lightGallery').destroy(true);
        setTimeout(() => {
          $('#lightgallery-edit').lightGallery();
        }, 200)
      },
      removeFromAttached(id, i) {
        this.photosLoading = false;
        this.letter.message.attachments.forEach(photo => {
          if (photo.id == id) {
            this.attach_id_delete.push(photo.id)
          }
        })
        let count = 0;
        this.attach_id.forEach(photoId => {
          if (photoId == id) {
            this.attach_id.splice(count, 1)
          } else {
            count++;
          }
        })
        this.attachedPhotosMan.splice(i, 1);
        setTimeout(() => {
          this.photosLoading = true;
        }, 200)
      },
      finishAttach() {
        if (this.attachedPhotos.length < 3) {
//					this.attachedPhotos = this.selectedPhotos
          this.photosToAttach.forEach(photo => {
            if (photo.selected) {
              this.attachedPhotos.push(photo)
            }
          })

          this.attachedPhotos.forEach(photo => {
            photo.thumb = photo.file_url_medium
            photo.src = photo.file_url_origin
          })
          this.clear()
          setTimeout(() => {
            let self = this
//						$( '#lightgallery-attached' ).lightGallery();
            $('.dynamic').on('click', function () {
              let slideID = $(this).attr('data-slide');
              $(this).lightGallery({
                dynamic: true,
                dynamicEl: self.attachedPhotos,
                index: slideID
              })

            });
          }, 400);
        }
        else {
          this.photosToAttach.forEach(photo => {
            photo.selected = false
          })
          toastr.error('Превышено допустимое к-во фотографий');
        }
      },
      finishAttachMan() {
        if (this.attachedPhotosMan.length < 3) {
//					this.attachedPhotos = this.selectedPhotos
          this.photosToAttachMan.forEach(photo => {
            if (photo.selected) {
              this.attachedPhotosMan.push(photo)
            }
          })

          this.attachedPhotosMan.forEach(photo => {
                if(photo.selected){
                  this.attach_id.push(photo.id)
                }
          })
          this.attachedPhotosMan.forEach(photo => {
            photo.thumb = photo.file_url_medium
            photo.src = photo.file_url_origin
          })
          this.clear()
          setTimeout(() => {
            this.photosToAttachMan = []
            this.closeModal()
            this.clear()
            this.photosLoading = true;
          }, 200)

        }
        else {
          this.photosToAttachMan.forEach(photo => {
            photo.selected = false
          })
          toastr.error('Превышено допустимое к-во фотографий');
        }
      },
      clear() {
        this.photosToAttach.forEach(photo => {
          photo.selected = false
        })
      },
      getCount(v) {
        console.log(v)
      },
      isAttached(id) {
        return (this.attachedPhotos.indexOf(id) !== -1);
      },
      fetchPhotos() {

        this.$http.post('v2/female/load-photos', {
          access_token: this.$cookie.get('access_token'),
          user_id: this.letter.receiver.id
        }).then(data => {
          if (data.body.status) {
            this.photosToAttach = [];

            data.body.result.public_photo.forEach(photo => {
              photo.selected = false
              this.photosToAttach.push(photo);
            });
            data.body.result.private_photo.forEach(photo => {
              photo.selected = false
              this.photosToAttach.push(photo);
            });

          } else {
            if ('message' in data.body) {
              toastr.error(data.body.message);
            }
            toastr.error('Не могу загрузить список фото клиентки');
            toastr.info(data.body.desc);
          }
        }, err => {
          toastr.error('Не могу загрузить список фото клиентки');
          console.log(err);
        })
      },
      fetchPhotosMan() {
        this.photosLoading = false;
        this.$http.post('v2/male/get/photos', {
          access_token: this.$cookie.get('access_token'),
          user_id: this.letter.sender.id
        }).then(data => {
          if (data.body.status) {
            this.photosToAttachMan = [];
            this.attach_id = [];
            data.body.result.photos_private.forEach(photo => {
              photo.selected = false
              this.photosToAttachMan.push(photo);
            });
            data.body.result.photos_public.forEach(photo => {
              photo.selected = false
              this.photosToAttachMan.push(photo);
            });

          } else {
            if ('message' in data.body) {
              toastr.error(data.body.message);
            }
            toastr.error('Не могу загрузить список фото клиентки');
            toastr.info(data.body.desc);
          }
        }, err => {
          toastr.error('Не могу загрузить список фото клиентки');
          console.log(err);
        })
      },
      closeModal() {
        $('#attachPhotoToLetter').modal('toggle');
      },
      selectPhoto(photo) {
        photo.selected = !photo.selected
        if (this.selectedPhotos.length + this.attachedPhotos.length > 3 || this.selectedPhotosMan.length + this.attachedPhotosMan.length > 3) {
          toastr.error('Превышено допустимое к-во фотографий');
        }
      },
      deleteAttach(i) {
        this.attachedPhotos.splice(i, 1);
      },
      clearForm() {
        this.answerText = ''
        this.answerSubject = ''
        this.photosObjectAttached = []
      },
      sendAnswer() {
        let photoid = [];
        this.attachedPhotos.forEach(function (arrayItem) {
          let id = arrayItem.id
          photoid.push(id)
        });
        if (this.validation) {
          this.$http.post('v2/male/reply/on-letter', {
            access_token: this.$cookie.get('access_token'),
            message_id: this.letter.message.id,
            text: this.answerText,
            subject: this.answerSubject,
            attachments: JSON.stringify(photoid).toString()
          }).then(data => {
            if (data.body.status) {
              this.clearForm()
              toastr.success('Успешно Отправлено!');
              this.updateUserCounters()
              this.$emit('close')
            } else {

            }
          }, err => {

          })
        }
        else {
          toastr.error('Не введено минимальное количетсво символов');
        }
      },
      deleteMessage(id) {
        this.$http.post('v2/letter/remove', {
          access_token: this.$cookie.get('access_token'),
          message_id: id
        }).then(data => {
          if (data.body.status) {
            toastr.success('Сообщение удалено');
            this.$emit('closewithout')
          } else {
            toastr.error('Данный тип сообщений нельзя удалить');
            toastr.info(data.body.desc);
          }
        }, err => {
          console.log(err);
          toastr.error('Данный тип сообщений нельзя удалить');
        })
      },
      saveMessage() {
        this.preload = true
        /*
        * Удалить  аттачи
        * */
        if (this.attach_id_delete.length > 0) {
          this.$http.post('v2/letter/attach/delete', {
            access_token: this.$cookie.get('access_token'),
            message_attach_id_list: JSON.stringify(this.attach_id_delete).toString(),
          }).then(data => {
            if (data.body.status) {
              this.attach_id_delete = []
            } else {
              toastr.error('Не могу удалить фото из вложений');
              toastr.info(data.body.desc);
            }
          }, err => {
            console.log(err);
            toastr.error('Не могу удалить фото из вложений');
          })
        }
        /*
        * Изменить текст и тему сообщения
        * */
        this.$http.post('v2/letter/update', {
          access_token: this.$cookie.get('access_token'),
          message_id: this.letter.message.id,
          text: this.letter.message.text,
          subject: this.letter.message.subject
        }).then(data => {
          if (data.body.status) {
            this.editable = false;
          } else {
            toastr.error('Не могу изменить тему или текст сообщения');
            toastr.info(data.body.desc);
          }
        }, err => {
          console.log(err);
          toastr.error('Не могу изменить тему или текст сообщения');
        })

        /*
        * Добавить аттачи
        * */
        this.$http.post('v2/letter/attach/add', {
          access_token: this.$cookie.get('access_token'),
          message_id: this.letter.message.id,
          attachments: JSON.stringify(this.attach_id).toString(),
        }).then(data => {
          if (data.body.status) {
            this.attach_id = [];
            this.attachedPhotosMan = [];
            this.$emit('update-letter');
            setTimeout(() => {
              this.photosLoading = false;
              this.preload = false;
            }, 500)
          } else {
            toastr.error('Не могу добавить фото');
            toastr.info(data.body.desc);
          }
        }, err => {
          console.log(err);
          toastr.error('Не могу добавить фото');
        })

      }
    },
    mounted() {
      if (this.letter.message.attachments.length > 0) {
        this.photosLoading = false;
      }
      $('#lightgallery-edit').lightGallery();
      this.fetchPhotos()
      setTimeout(() => {
        $('#lightgallery').lightGallery();
        $('#lightgallery-answer').lightGallery();
      }, 300)
    },
    created() {
      if (this.url) {
        this.id = mailId
      }
    },
    components: {
      AppEditable,
      preloader
    },
    mixins: [CLEAN_HTML, UPDATE_USER_COUNTER],
  }
</script>

<style lang="scss" scoped>
  .preloader-wrapper {
    background: #ffffff;
    min-height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
  }

  .m-h {
    min-height: 150px;
  }

  .man-modal {
    height: 500px;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll !important;
  }

  @media (max-width: 768px) {
    .man-modal {
      height: auto;
    }
  }

  .go-right {
    margin-left: 30px;
  }

  @media (min-width: 769px) {
    .modal-wide {
      width: 95%;
    }
  }

  @media (min-width: 1025px) {
    .modal-wide {
      width: 75%;
    }
  }

  @media (min-width: 1200px) {
    .modal-wide {
      width: 100% !important;
    }
  }

  .answer-letter-w {
    height: 150px;
  }

  .flex-row {
    display: flex;

    label {
      flex: 0 0 17.6%;
    }

    textarea {
      flex: 0 0 81%;
    }

  }
</style>
