<template>
  <div
      v-if="stateModal.open"
      style="display: block;"
      class="modal">
    <div class="modal-dialog" style="display: block; width: 100%; margin: 0;">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" @click="closeModal(false)"><span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">
            {{ videoTitle }} ID: {{ stateModal.options.id }} Extension: {{ videoPlayPath | fileExtention}}
          </h4>
        </div>
        <div class="modal-body" v-if="loadStep" style="overflow: hidden; overflow-y: auto;">
          <div class="row">
            <div class="col-md-5">
              <div class="flex flex-x-between">
                <div class="m-r">
                  <video
                      controls
                      ref="videoId"
                      :type="getVideoMimeType(videoPlayPath)"
                      class="video-prev"
                      :src="videoPlayPath">
                    <source
                        :src="videoPlayPath">
                    Your browser does not support the video tag.
                  </video>
                </div>
                <div v-if="!tDelete">
                  <div class="prev-video-img-wrapp">
                    <canvas ref="canvasId" :width="prevW" :height="prevH"></canvas>
                  </div>

                  <button
                      type="button"
                      class="btn margin-top btn-primary"
                      @click="cropVideoPrev()"
                  >Сделать превью
                  </button>
                </div>
              </div>
              <div class="row margin-top">
                <div class="col-md-3">
                  <div class="prev-video-img-wrapp">
                    <label>Текущее превью</label><br>
                    <img :src="prevVideo">
                  </div>
                </div>
                <div class="col-md-9">
                  <div class="text-left p-l">
                    <div
                        v-if="videoConverted && videoConverted.mp4Video"
                        class="col-md-3 margin-right"
                    >
                      <select class="form-control" v-model="videoPlayPath">
                        <option class="placeholder-option" value="" >Видео</option>
                        <option
                            :value="videoConverted.filePath"
                        >{{ videoConverted.filePath | fileExtention }}
                        </option>
                        <option :value="videoConverted.mp4Video">
                          {{ videoConverted.mp4Video | fileExtention }}
                        </option>
                      </select>
                    </div>
                    <button
                        type="button"
                        class="btn btn-danger margin-right"
                        @click="sendData('reject')"
                        :disabled="disabledSt"
                    >Отклонить
                    </button>

                    <button
                        v-if="hasPreview && !tDelete"
                        type="button"
                        class="btn btn-warning margin-right"
                        @click="sendData('changeAlbum')"
                        :disabled="disabledSt"
                    > {{ albumStr }}
                    </button>
                  </div>
                </div>
                <div class="col-md-9  margin-top">
                  <div class="text-left p-l">
                    <button
                        v-if="!tDelete"
                        type="button"
                        class="btn btn-success"
                        @click="getConvertVideoType()"
                        :disabled="disabledSt"
                    >Ковертировать
                      <i v-show="disabledSt" class="fa fa-circle-o-notch fa-spin"></i>
                    </button>

                    <button
                        v-if="readyForAccept"
                        type="button"
                        class="btn btn-success"
                        @click="sendData('accept')"
                        :disabled="disabledSt"
                    >Принять
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-7">
              <div class="m-l" style="max-height: 91vh; overflow-y: auto; overflow-x: hidden;">
                <div v-if="isVideoMiniLoaderAttached" class="text-center p-all-2">
                  <small-loader class="display-inline-block"></small-loader>
                </div>

                <ul v-else class="v-list">
                  <li class="header">
                      <span class="text-info text-bold">
                        <i class="text-info fa fa-play"></i>
                        Публичные видео <b class="text-bold label label-info m-l2">{{ videosPublic.length }}</b>
                      </span>
                  </li>
                  <li>
                    <lady-video-gallery :videos="videosPublic"/>
                  </li>

                  <li class="header">
                      <span class="text-success text-bold">
                        <i class="text-success fa fa-play"></i>
                        Приватные видео <b class="text-bold label label-success m-l2">{{ videosPrivate.length }}</b>
                      </span>
                  </li>
                  <li>
                    <lady-video-gallery :videos="videosPrivate"/>
                  </li>

                  <li class="header" v-if="videosPublicOnModeration.length > 0">
                      <span class="label label-warning text-white" style="font-size: 12px;">
                        <span class="label m-r2"><i class="fa fa-play"></i></span>
                        Публичные видео на модерации  <b class="text-bold label bg-white text-black m-l2">{{ videosPublicOnModeration.length }}</b>
                      </span>
                  </li>
                  <li v-if="videosPublicOnModeration.length > 0">
                    <lady-video-gallery :videos="videosPublicOnModeration"/>
                  </li>

                  <li class="header" v-if="videosPrivateOnModeration.length > 0">
                      <span class="label label-warning text-white" style="font-size: 12px;">
                        <span class="label m-r2"><i class="fa fa-play"></i></span>
                        Приватные видео на модерации <b class="text-bold label bg-white text-black m-l2">{{ videosPrivateOnModeration.length }}</b>
                      </span>
                  </li>
                  <li v-if="videosPrivateOnModeration.length > 0">
                    <lady-video-gallery :videos="videosPrivateOnModeration"/>
                  </li>

                  <li class="header text-red text-bold">
                    <i class="fa fa-play m-r2"></i>Отклоненные публичные видео <b class="text-bold label label-danger m-l2">{{ publicRejectedVideos.length }}</b>
                  </li>
                  <li>
                    <lady-video-gallery :videos="publicRejectedVideos"/>
                  </li>

                  <li class="header text-red text-bold">
                    <i class="fa fa-play m-r2"></i>Отклоненные приватные видео <b class="text-bold label label-danger m-l2">{{ privateRejectedVideos.length }}</b>
                  </li>
                  <li>
                    <lady-video-gallery :videos="privateRejectedVideos"/>
                  </li>

                  <li class="header text-red text-bold">
                    <i class="fa fa-trash m-r2"></i>Видео на удаление <b class="text-bold label label-danger m-l2">{{ videosToDeleting.length }}</b>
                  </li>
                  <li>
                    <lady-video-gallery :videos="videosToDeleting"/>
                  </li>
                </ul>

              </div>
            </div>
          </div>
        </div>

        <box-area
            v-if="!loadStep"
            @backToplay="backToplay($event)"
            :img-url="cropImgUrl"
            :blob-file="blobForServer"
            :v-type="stateModal.videoType"
            :v-id="stateModal.options.id">
        </box-area>

      </div>
    </div>

    <modal-video/>
  </div>
</template>

<script>
import toastr from 'toastr'
import SmallLoader from '../custom/tableLoader/component.vue'
import BoxArea from '../custom/cropModal/CropArea.vue'
import LadyVideoGallery from "@components/content/girls/parts/VideoGallery.vue";
import {mapGetters} from "vuex";
import modalVideo from "@components/modals/PlayVideoModal.vue";
// require styles
export default {
  name: 'VideoModal',
  components: {modalVideo, LadyVideoGallery, SmallLoader, BoxArea},
  data() {
    return {
      videoLoading: false,
      videoPlayPath: '',
      videoConverted: null,
      convertError: "Произошла ошибка во время ковертация видео",
      previewLoaded: false,
      newWidth: '780px',
      isCropping: false,
      isLoading: true,
      rejectedReason: "",
      disabledSt: false,
      cropped: false,
      cropImgUrl: "/static/dist/img/avatar04.png",
      blobForServer: "",
      prevW: 720,
      prevH: 720,
      minSize: 720,
      upSize: {},
      loadStep: true,
      deleteMessage: 'Вы уверены, что хотите отклонить это видео?'
    };
  },
  filters: {
    fileExtention: (str) => {
      return str.match(/\.[0-9a-z]+$/i)[0];
    }
  },
  computed: {
    ...mapGetters([
      'isVideoMiniLoaderAttached',
      'ladyVideoApprove',
      // video
      'videosPublic',
      'videosPrivate',
      'videosPublicOnModeration',
      'videosPrivateOnModeration',
      'privateRejectedVideos',
      'publicRejectedVideos',
      'videosToDeleting'
    ]),
    videoIdParam() {
      return this.stateModal.options.id;
    },
    albumStr() {
      return this.tPr ? "В паблик" : "В приват"
    },
    videoTitle() {
      return this.stateModal.videoType == 'private' ? "Модерация приватного видео" : "Модерация публичного видео";
    },
    stateModal() {
      return this.$store.getters.moderateVideoModalState;
    },
    tDelete() {
      return this.stateModal.videoType == 'delete';
    },
    tPr() {
      return this.stateModal.videoType == 'private';
    },
    accessT() {
      return this.$cookie.get('access_token');
    },
    prevVideo() {
      return this.stateModal.options.preview_file_name_medium;
    },
    readyForAccept() {
      return this.hasPreview && this.videoConverted || this.tDelete;
    },
    hasPreview() {
      return this.stateModal.options.has_preview != 0;
    }
  },
  watch: {
    stateModal({ open }) {
      if (open) {
        this.getMp4Format(this.stateModal.options);
        this.initMountedDraw();

        this.loadVideos();
      }
    }
  },
  methods: {
    loadVideos () {
      this.$store.commit('attachVideoMiniLoader');
      // get lady data
      this.$store.dispatch('getLadyVideos', {'access_token': this.$cookie.get('access_token'), 'user_id': this.stateModal.options.user_id})
          .then(() => {
            this.$store.commit('detachVideoMiniLoader');
          })
          .catch(() => {
            this.$store.commit('detachVideoMiniLoader');
            toastr.error('Не могу загрузить видео!')
          });
    },
    getMp4Format(options) {
      let {
        file_path: filePath,
        file_path_mp4: mp4Video
      } = options;
      if (mp4Video) {
        this.videoConverted = { filePath, mp4Video };
      }
      this.videoPlayPath = filePath
    },
    initMountedDraw() {
      this.$nextTick(() => {
        if (this.$refs.videoId && this.$refs.canvasId) {
          this.initDraw();
        }
      });
    },
    // customPhotoSize(imgWidth, imgHeight, minWidth) {
    //   let width = imgWidth,
    //       height = imgHeight;
    //
    //   if(width < minWidth || height < minWidth){
    //     let k = Math.max(minWidth/width, minWidth/height);
    //     width = width * k;
    //     height = height * k;
    //   }
    //
    //   return {
    //     w: Math.round(width),
    //     h: Math.round(height)
    //   }
    // },
    customPhotoSize(imgWidth, imgHeight, minSize = 720, maxSize = 2000) {
      let width = imgWidth,
          height = imgHeight;

      // Увеличиваем до минимального размера (720 × 720), если одно из значений меньше
      if (width < minSize || height < minSize) {
        let scaleUp = Math.max(minSize / width, minSize / height);
        width *= scaleUp;
        height *= scaleUp;
      }

      // Ограничиваем максимальным размером (2000 × 2000), если одно из значений больше
      if (width > maxSize || height > maxSize) {
        let scaleDown = Math.min(maxSize / width, maxSize / height);
        width *= scaleDown;
        height *= scaleDown;
      }

      return {
        w: Math.round(width),
        h: Math.round(height)
      };
    },
    async sendData(action) {
      if (action === "reject" && !confirm(this.deleteMessage)) {
        return;
      }
      let videoType = this.stateModal.videoType;
      let { dispatch, data } = this.getTypeAction(action, videoType);

      this.disabledSt = true;
      try {
        let text = await this.$store.dispatch(dispatch, data);
        toastr.success(text);
      } catch (error) {
        toastr.error(error.message || error);
      }
      this.disabledSt = false;
      this.closeModal();
    },
    /**
     * Если видео прошло успешую модерациюю с коверить его в другие форматы
     */
    async getConvertVideoType() {
      this.disabledSt = true;
      try {
        await this.$http.post('v2/female/video-convert',
            {
              access_token: this.$cookie.get('access_token'),
              video_id: this.videoIdParam
            })
            .then(response => response.json())
            .then(({ status, result, desc }) => {
              if (status) {
                this.getMp4Format(result);
                return Promise.resolve();
              } else {
                throw new Error(desc || this.convertError);
              }
            });
      } catch (error) {
        toastr.error(error.message || error);
      }
      this.disabledSt = false;
    },
    dataURItoBlob(dataURI) {
      // convert base64 to raw binary data held in a string
      let byteString = atob(dataURI.split(',')[1]);
      // separate out the mime component
      let mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];
      // write the bytes of the string to an ArrayBuffer
      let ab = new ArrayBuffer(byteString.length);
      let dw = new DataView(ab);
      for (let i = 0; i < byteString.length; i++) {
        dw.setUint8(i, byteString.charCodeAt(i));
      }
      return new Blob([ab], {type: mimeString});
    },
    getVideoMimeType(filePath) {
      const extension = filePath.split('.').pop().toLowerCase();

      switch (extension) {
        case 'mp4':
          return 'video/mp4';
        case 'webm':
          return 'video/webm';
        case 'ogg':
          return 'video/ogg';
        case 'mov':
          return 'video/quicktime';
        case 'avi':
          return 'video/x-msvideo';
        case 'mkv':
          return 'video/x-matroska';
        case 'flv':
          return 'video/x-flv';
        default:
          return 'application/octet-stream'; // Generic binary stream if unknown
      }
    },
    drawVideo(video, canvas) {
      var nsize = this.customPhotoSize(video.videoWidth, video.videoHeight, this.minSize);
      this.upSize = {w: nsize.w, h: nsize.h};
      // alert("Width: " + nsize.w);
      // alert("Height: " + nsize.h);
      canvas.width = nsize.w;
      canvas.height = nsize.h;
      video.crossOrigin = "anonymous";
      var context = canvas.getContext('2d');
      context.drawImage(video, 0, 0, nsize.w, nsize.h);
      this.cropImgUrl = canvas.toDataURL();
      this.blobForServer = this.dataURItoBlob(this.cropImgUrl);
    },
    initDraw() {
      var video = this.$refs.videoId;
      var canvas = this.$refs.canvasId;

      let thh = this;
      video.oncanplay = function () {
        setTimeout(function () {
          thh.drawVideo(video, canvas);
        }, 600);
      };
      video.addEventListener('timeupdate', (event) => {
        thh.drawVideo(video, canvas);
      }, true);

    },
    closeModal(updateData = true) {
      $("body").removeClass("modal-open");
      this.$store.commit('updateModerateVideoModalState', {
        open: false,
        options: {},
        videoType: ""
      });

      this.videoPlayPath = '';
      this.videoConverted = null;
      this.loadStep = true;
      this.previewLoaded = false;
      if (updateData || this.previewLoaded) this.$emit("updateData");
    },
    getTypeAction(action, videoType) {
      switch (action) {
        case 'accept':
        case 'reject':
          if (videoType === 'public' || videoType === 'private') {
            return {
              dispatch: 'moderateLadyVideo',
              data: {
                access_token: this.accessT,
                video_id: this.videoIdParam,
                video_moderation: action
              }
            };
          } else if (videoType === 'delete') {
            return {
              dispatch: 'moderateLadyDeletedVideo',
              data: {
                access_token: this.accessT,
                moderation_id: this.videoIdParam,
                status: action
              }
            };
          }
          break;

        case 'delete':
          if (videoType === 'delete') {
            return {
              dispatch: 'moderateLadyDeletedVideo',
              data: {
                access_token: this.accessT,
                moderation_id: this.videoIdParam,
                status: 'accept'
              }
            }
          }
          break;

        case 'changeAlbum':
          return {
            dispatch: 'changeLadyVideoAlbum',
            data: {
              access_token: this.accessT,
              video_id: this.videoIdParam,
              user_id: this.stateModal.options.user_id,
              to_album: videoType === 'public' ? 'private' : 'public'
            }
          };
      }
    },
    cropVideoPrev() {
      this.loadStep = false;
    },
    backToplay(previewLoaded) {
      this.previewLoaded = previewLoaded;
      this.loadStep = true;
      this.initMountedDraw();
    }
  }
};
</script>
<style scoped lang="scss">
.video-box {
  outline: 0;
  padding: 0;
  margin: 0;
  background-color: #000;
  height: 320px;
  width: 100%;
}

@media (max-width: 450px) {
  .video-box {
    height: 180px;
  }
}

.upload-wrapp {
  text-align: center;
  padding: 20px 30px 40px;
  background-color: #eee;
  border: 0;
  margin: 10px;
  display: block;

  .upload-text {
    color: #777;
    font-size: 20px;
    font-weight: 400;
    margin: 40px 0 30px 0;
    display: block;
  }

  .load-file-link, .add-photos {
    text-decoration: none;
    color: #0b77dd !important;
    border: 2px solid #0b77dd;
    padding: 3px 15px;
    border-radius: 15px;
  }

}


// video
.video-prev {
  background: #000;
  width: 530px;
  height: 300px;
  position: relative;
  z-index: 467;
  outline: none;
}

.prev-video-img-wrapp {
  text-align: left;

  h4 {
    font-size: 16px;
    margin: 0;
    padding: 0 0 5px 0;
  }

  canvas {
    max-width: 160px;
    height: 160px;
    object-fit: cover;
    background-color: #000;
  }

  img {
    max-width: 160px;
    height: 160px;
    object-fit: cover;

  }
}

.flex-box {
  display: flex;
  width: 95%;
  height: 50px;
  margin-top: 15px;
  margin-left: 15px;
  align-items: flex-end;
  justify-content: flex-end;
  border-top: 1px solid #eee;
}

.preview-wp {
  padding: 0 15px 15px 15px;
}

.form-control {
  margin: 0 0 0 15px;
  width: 96%;
  height: 40px;
  border-radius: 0;
}

label {
  font-weight: 400;
  padding-left: 15px;
}

.flex-bottom {
  align-items: end;
}
</style>
