<template>
    <div 
        v-if="stateModal.open" 
        style="display: block;"
        class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" @click="closeModal()"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Видео ID: {{ stateModal.videoId }}</h4>
                </div>
                <div class="modal-body">
                    <small-loader v-if="!stateModal.path"></small-loader>
                    <video v-else class="video-box" :src="stateModal.path" autoplay controls></video>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import toastr from 'toastr'
import SmallLoader from '../custom/tableLoader/component.vue'
// require styles
export default {
    name: 'VideoModal',
    components: {SmallLoader},
    data () {
        return {
            isLoading: true
        };
    },
    computed: {
        stateModal () {
            return this.$store.getters.videoModalState;
        }
    },
    methods: {
        closeModal () {
            this.$store.commit('updateVideoModalState', {
                open: false,
                path: '',
                videoId: undefined
            });
        }
    }
};
</script>
<style scoped lang="scss">
    .video-box{
        outline: 0;
        padding: 0;
        margin: 0;
        background-color: #000;
        height: 320px;
        width: 100%;
    }
    @media (max-width: 450px) {
        .video-box{height: 180px;}
    }
</style>
