<!--suppress ALL -->
<template>
    <div
        v-if="stateModal.open"
        style="display: block;"
        class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" @click="closeModal()"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Загрузка видео</h4>
                </div>
                <div class="modal-body">
                    <small-loader v-if="isLoading"></small-loader>
                    <div v-else>
                        <div
                            v-if="!isChoose"
                            class="upload-wrapp">
                            <form
                                id="upload-form"
                                ref="upload-form"
                                data-vv-scope="fileFormVideo">
                                <div class="upload-text">
                                    Пожалуйста загрузите файл и отправьте его на модерацию!
                                </div>

                                <span class="load-file-link">
                                    <input
                                        class="file-loader"
                                        v-validate="validationParams"
                                        type="file"
                                        name="file"
                                        @change="setData($event)">
                                        <span class="upload-text-wrapp">
                                            Выбрать файл <i class="fa fa-download text-blue"></i>
                                        </span>
                                </span>

                                <div class="text-yellow margin-top">
                                    mp4, mov, m4v, avi, не более 200Mb
                                </div>
                            </form>
                        </div>

                        <div class="row" v-else>
                            <div class="col-md-12">
                                <video
                                    controls
                                    id="videoId"
                                    ref="videoId"
                                    class="video-prev"
                                    :src="prevVideo.url">
                                    <source
                                        :src="prevVideo.url"
                                        :type="prevVideo.type">
                                    Your browser does not support the video tag.
                                </video>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="preview-wp" v-if="isChoose && !isLoading">
                    <div class="row">
                        <div class="col-md-12 text-right">

                                <button
                                type="button"
                                class="btn btn-sm btn-warning margin-right"
                                @click="cancelUpload()"
                            >Отменить</button>

                            <button
                                :disabled="isLoading"
                                type="button"
                                class="btn btn-sm btn-success"
                                @click="uploadVideoFile()">
                                    <span v-if="!isLoading">
                                        Отправить на модерацию
                                    </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
import SmallLoader from '../custom/tableLoader/component.vue'
import toastr from 'toastr'
import CropperBox from '../custom/cropModal/CropArea.vue'
import { mapActions } from 'vuex';
export default {
    name: 'UploadVideoModal',
    data () {
        return {
            fileFormVideo: null,
            isChoose: false,
            isLoading: false,
            validationParams: 'mimes:video/mp4,video/x-m4v,video/mov,video/avi,video/*|size:20000000',
        };
    },
    components: {
        SmallLoader
    },
    computed: {
        stateModal () {
            return this.$store.getters.uploadVideoModal;
        },
        prevVideo(){
            return this.$store.getters.uploadPreviewVideo;
        },
        stateModalConfig () {
            return this.stateModal.config;
        }
    },
    methods: {
        ...mapActions([
            'uploadLadyVideo'
        ]),
        uploadVideoFile () {
            this.isLoading = true;
            let newDocFormData = new FormData();
            newDocFormData.append('access_token', this.$cookie.get('access_token'));
            newDocFormData.append('user_id', this.stateModalConfig.ladyId);
            newDocFormData.append('album_type', this.stateModalConfig.type);
            newDocFormData.append('video', this.prevVideo.file);
            this.uploadLadyVideo({ type: this.stateModalConfig.type, data: newDocFormData })
                .then(result => {
                    toastr.success('Файл успешно отправлен на модерацию!');
                    this.closeModal();
                })
                .catch(error => {
                    toastr.error('Ошибка загрузки файла!');
                    this.cancelUpload();
                    this.isLoading = false;
                })

        },
        setData (event) {
            this.$validator.validateAll('fileFormVideo')
                .then(result => {
                    if (result) {
                        let file = event.target.files[0];
                        let fileBack = {
                            file: file,
                            size: file.size,
                            url: URL.createObjectURL(file),
                            type: file.type
                        };

                        this.$store.commit('updateUploadPreviewVideo', fileBack);
                        this.isChoose = true;
                        this.$refs['upload-form'].reset();

                    } else {
                        this.isLoading = false;
                        this.isChoose = false;
                    }
                })
                .catch(() => {
                    this.cancelUpload();
                    this.$refs['upload-form'].reset();
                    toastr.error('Пожалуйста проверьте требования к загруженному файлу!')
                });
        },
        cancelUpload () {
            this.$store.commit('updateUploadPreviewVideo', {});
            this.isLoading = false;
            this.isChoose = false;
            this.$store.dispatch('getCountersModeration');
        },
        closeModal () {
            this.$store.commit('updateUploadVideoModal', {
                open: false,
                config: { }
            });
            this.cancelUpload();
        }
    }
};
</script>
<style scoped lang="scss">
    .upload-wrapp{
        text-align: center;
        padding: 20px 30px 40px;
        background-color: #eee;
        border: 0;
        margin: 10px;
        display: block;

        .upload-text{
            color: #777;
            font-size: 20px;
            font-weight: 400;
            margin: 40px 0 30px 0;
            display: block;
        }

        .load-file-link, .add-photos {
            text-decoration: none;
            color: #0b77dd!important;
            border: 2px solid #0b77dd;
            padding: 3px 15px;
            border-radius: 15px;
        }

    }
    // video
    .video-prev{
        background: #000;
        width: 530px;
        height: 300px;
        position: relative;
        z-index: 467;
        outline: none;
    }
    .prev-video-img-wrapp{
        text-align: left;
        h4{
            font-size: 16px;
            margin: 0;
            padding: 0 0 5px 0;
        }
        canvas{
            width: 160px;
            height: 160px;
            object-fit: cover;
        }
    }
    .modal-content{
        width: 560px;
    }
    .flex-box{
        display: flex;
        width: 100%;
        height: 130px;
        align-items: flex-end;
        justify-content: flex-end;
    }
    .preview-wp{
        padding: 0 15px 15px 15px;
    }
</style>
