<template>
	<transition name="modal" v-if="open">
		<div class="vue-modal modal-mask photos-modal">
			<div class="vue-modal--wrapper">
				<div class="vue-modal--container photos-modal--body">
					<div class="photos-modal--header set-flex">
						<h4 class="modal-title">Choose photo</h4>
						<div class="set-flex">
							<button class="btn btn-primary" type="button" @click="passPhotos">
								Attach
							</button>
							<button type="button" class="close" @click="closeModal">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.642 15.642">
									<path fill-rule="evenodd"
										  d="M8.882 7.82l6.54-6.54c.294-.293.294-.768 0-1.06-.292-.294-.767-.294-1.06 0l-6.54 6.54L1.28.22C.987-.073.512-.073.22.22c-.294.293-.294.768 0 1.06l6.54 6.542-6.54 6.54c-.293.293-.293.768 0 1.06.147.147.338.22.53.22s.384-.072.53-.22l6.54-6.54 6.542 6.54c.147.147.338.22.53.22s.384-.072.53-.22c.293-.292.293-.767 0-1.06l-6.54-6.54z"/>
								</svg>
							</button>
						</div>
					</div>
					<div class="photos-modal-body">
						<div class="settings-alert" v-if="sell">
							<p><span class="icon">!</span>
								Вы можете отправить конкретную фотографию собеседнику только 1 раз.
							</p>
						</div>
							<div class="alert alert-danger" v-show="showErrLimit">Limit reached</div>
							<div class="loader center-block" v-show="showPreloader"></div>
							<ul class="photos list-unstyled">
								<li class="photos--item photos-modal--photo"
									:class="{checked: photo.selected}"
									v-for="(photo, index) in photos"
									@click="selectPhoto(photo)">
									<div class="checkbox-emit" :class="{checked: photo.selected}">
										<svg class="checkbox-emit--icon" xmlns="http://www.w3.org/2000/svg"
											 viewBox="0 0 448.8 448.8">
											<path d="M142.8 323.85L35.7 216.75 0 252.45l142.8 142.8 306-306-35.7-35.7"/>
										</svg>
									</div>
									<img :src="photo._photo" alt="Photo preview">
								</li>
							</ul>
							<hr>
							<load-more v-show="showLimit < count" @click.native="loadMore"
									   :counter="defaultLimit"></load-more>
						</div>
					</div>
				</div>
			</div>
	</transition>
</template>

<script>
	import loadMore from './parts/LoadMore.vue'

	export default {
		props: {
			userId: Number,
			limit: Number,
			open: Boolean,
			passedCount: Number,
			sell: Boolean
		},
		data() {
			return {
				showPreloader: true,
				storedPhotos: [],
				showLimit: 30,
				defaultLimit: 30,
				showErrLimit: false,
				count: 0
			}
		},
		watch: {
			open( val ) {
				val ? this.loadPhotos() : this.clearData();
			}
		},
		methods: {
			clearData() {
				this.storedPhotos = [];
				this.count = 0;
				this.showLimit = this.defaultLimit;
				this.showErrLimit = false;
			},
			loadMore() {
				this.showLimit += this.defaultLimit;
			},
			loadPhotosToSell() {
				this.showPreloader = true;
				this.$http.post(this.config.api.frontend + '/v2/member-photo/photo-for-sell', {
					access_token: this.token,
					target_user_id: this.userId
				} ).then( r => {
					if ( r.body.status ) {
						this.count += r.body.count;
						this.storedPhotos = this.storedPhotos.concat( r.body.result.map( item => {
							return {
								_photo: item.img_preview,
								selected: false,
								id: item.photo_id
							}
						} ) )
					} else {

					}
					this.showPreloader = false;
				} )
			},
			loadAlbums() {
				this.showPreloader = true;
				this.$http.post( this.config.api.frontend + '/v2/member-photo/album-photo', {
					access_token: this.token,
					limit: 0,
					offset: 0,
					album_type: 'private',
					sort: 'DESC'
				} ).then( response => {
					this.count += response.body.count;
					this.storedPhotos = this.storedPhotos.concat( response.body.result.map( item => {
						return {
							_photo: item.img_preview,
							selected: false,
							id: item.photo_id
						}
					} ) )
					this.showPreloader = false;
				} );
				this.$http.post( 'v2/member-photo/album-photo', {
					access_token: this.token,
					limit: 0,
					offset: 0,
					album_type: 'public',
					sort: 'DESC'
				} ).then( response => {
					this.count += response.body.count;
					this.storedPhotos = this.storedPhotos.concat( response.body.result.map( item => {
						return {
							_photo: item.img_preview,
							selected: false,
							id: item.photo_id
						}
					} ) )
					this.showPreloader = false;
				} );
			},
			loadPhotos() {
				this.sell ? this.loadPhotosToSell() : this.loadAlbums();
			},
			passPhotos() {
				this.$emit( 'selected', this.selectedPhotos );
				this.closeModal();
			},
			closeModal() {
				this.$emit( 'close' );
				this.selectedPhotos.forEach( i => i.selected = false );
				this.showPreloader = true;
			},
			selectPhoto( photo ) {
				if ( this.sell ) {
					photo.selected = !photo.selected;
					this.passPhotos()
				} else {
					if ( this.selectedPhotos.length + this.passedCount < this.limit ) {
						photo.selected = !photo.selected;
					} else if ( photo.selected ) {
						photo.selected = false;
					} else {
						this.showErrLimit = true;
						photo.selected = false;
						return
					}
					this.showErrLimit = false;
				}

			},
		},
		computed: {
			selectedPhotos() {
				return this.storedPhotos.filter( i => i.selected );
			},
			photos() {
				return this.storedPhotos.slice( 0, this.showLimit );
			},
			token() {
				return this.$store.getters.womanSiteToken;
			}
		},
		components: {
			loadMore
		},
	}
</script>

<style lang="scss" scoped>
	@import "../../../../../assets/styles/multichat";
	@import "../../../../../assets/styles/mixins";

	button.close {
		color: #333 !important;
	}

	.checkbox-emit {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 20px;
		width: 20px;
		border-radius: 2px;
		line-height: 0;
		background: #fff;
		cursor: pointer;
		transition: background .1s ease;

		&.checked {
			background: $brand-primary;
			svg {
				fill: #fff;
				opacity: 1;
			}
		}

		&--icon {
			width: 15px;
			height: 15px;
			opacity: 0;
			fill: #fff;
			transition: opacity .1s ease;
		}
	}

	.photos-modal {

		.alert {
			margin-top: 10px;
		}

		&--header {
			align-items: center;
			justify-content: space-between;

			svg {
				height: 16px;
				width: 16px;
				fill: #b8b8b9;
			}
			.btn + .close {
				margin-left: 25px;
			}

			.btn-primary {
				line-height: 1;
				font-size: 13px;
				padding: 10px 20px;
			}
		}
		&--body {
			width: 920px !important;
			padding: 15px 30px;

			.photos {
				@include customGrid(100%, 4, 200px, photos--item);

				&--item {
					position: relative;
					margin-top: 20px;
					cursor: pointer;
					user-select: none;

					&:before {
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						height: 100%;
						width: 100%;
						transition: opacity .1s ease;
						box-shadow: inset 0 0 0 4px $brand-primary;
						opacity: 0;
					}

					&.checked {
						&:before {
							opacity: 1;
						}
					}

					.checkbox-emit {
						position: absolute;
						top: 10px;
						right: 10px;
					}

					img {
						width: 100%;
					}
				}
			}
		}
	}

	@media only screen and (max-width: 992px) {
		.photos-modal {
			&--body {
				width: 100%;
				.photos {
					@include customGrid(100%, 4, 24%, photos--item);
				}
			}
		}
	}

	@media only screen and (max-width: 768px) {
		.photos-modal {
			&--body {
				padding: 15px;
				.photos {
					@include customGrid(100%, 3, 32%, photos--item);
				}
			}
		}
	}

	@media only screen and (max-width: 480px) {
		.photos-modal {
			&--body {
				.photos {
					@include customGrid(100%, 2, 49%, photos--item);
				}
			}
		}
	}
</style>
