<template>
    <transition name="modal">
        <div class="vue-modal modal-mask pr-m" :class="{loading: !loaded}" v-show="modal.open"
             @click="closeModal($event.target, false)">
            <div class="vue-modal--wrapper">
                <div class="pr-m--loader" v-show="!loaded">
                    <div class="loader"></div>
                </div>
                <div class="vue-modal--container pr-m--body" v-show="loaded">
                    <div class="modal-header">
                        <button type="button" class="close" @click="closeModal(false, true)">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.642 15.642">
                                <path fill-rule="evenodd"
                                      d="M8.882 7.82l6.54-6.54c.294-.293.294-.768 0-1.06-.292-.294-.767-.294-1.06 0l-6.54 6.54L1.28.22C.987-.073.512-.073.22.22c-.294.293-.294.768 0 1.06l6.54 6.542-6.54 6.54c-.293.293-.293.768 0 1.06.147.147.338.22.53.22s.384-.072.53-.22l6.54-6.54 6.542 6.54c.147.147.338.22.53.22s.384-.072.53-.22c.293-.292.293-.767 0-1.06l-6.54-6.54z"/>
                            </svg>
                        </button>
                        <h4 class="modal-title set-flex"><span>{{user.name}},</span> <span
                            class="set-flex"><small>({{date}})</small> <zodiac-tpl :timestamp="user.birthday"
                                                                                   v-if="user.birthday !== null"></zodiac-tpl></span>
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="pr-m--content">
                            <dl class="pr-m--content__item">
                                <dt>
									<span class="icon">
										<svg xmlns="http://www.w3.org/2000/svg" width="510" height="510"
                                             viewBox="0 0 510 510">
											<path
                                                d="M204 471.75v-153h102v153h127.5v-204H510L255 38.25 0 267.75h76.5v204"/>
										</svg>
									</span>
                                    <span class="def">Country:</span>
                                </dt>
                                <dd>{{noData(user.address_country)}}</dd>
                            </dl>
                            <dl class="pr-m--content__item">
                                <dt>
									<span class="icon">
										<svg xmlns="http://www.w3.org/2000/svg" width="510" height="510"
                                             viewBox="0 0 510 510">
											<path
                                                d="M255 0C155.55 0 76.5 79.05 76.5 178.5 76.5 311.1 255 510 255 510s178.5-198.9 178.5-331.5C433.5 79.05 354.45 0 255 0zm0 242.25c-35.7 0-63.75-28.05-63.75-63.75s28.05-63.75 63.75-63.75 63.75 28.05 63.75 63.75-28.05 63.75-63.75 63.75z"/>
										</svg>
									</span>
                                    <span class="def">City:</span>
                                </dt>
                                <dd>{{noData(user.address_city)}}</dd>
                            </dl>
                            <dl class="pr-m--content__item">
                                <dt>
									<span class="icon">
										<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25.626 25.626">
										  <g>
											  <path
                                                  d="M16.812 4c-.997 0-1.952.175-2.846.48 1.066.662 1.994 1.52 2.737 2.527.037-.002.072-.006.11-.006 3.204 0 5.812 2.608 5.812 5.814s-2.608 5.812-5.813 5.812S11 16.018 11 12.813c0-1.295.43-2.487 1.15-3.455-.733-.707-1.69-1.167-2.75-1.298-.883 1.372-1.4 3-1.4 4.753 0 4.867 3.945 8.813 8.813 8.813s8.813-3.945 8.813-8.813S21.68 4 16.812 4z"/>
											  <path
                                                  d="M8.812 21.626c.997 0 1.952-.174 2.846-.48-1.066-.66-1.994-1.52-2.737-2.526-.036 0-.07.006-.108.006C5.607 18.626 3 16.02 3 12.813S5.606 7 8.81 7s5.813 2.608 5.813 5.813c0 1.295-.43 2.487-1.15 3.455.733.707 1.69 1.167 2.75 1.298.883-1.372 1.4-3 1.4-4.753C17.625 7.946 13.68 4 8.812 4S0 7.946 0 12.813s3.945 8.813 8.812 8.813z"/>
										  </g>
										</svg>
									</span>
                                    <span class="def">Marital:</span>
                                </dt>
                                <dd>{{noData(profile.family_status)}}</dd>
                            </dl>
                            <dl class="pr-m--content__item">
                                <dt>
									<span class="icon">
										<svg xmlns="http://www.w3.org/2000/svg" width="79.531" height="79.531"
                                             viewBox="0 0 79.531 79.531">
											<path
                                                d="M51.333 50.373s7.602 7.61 7.622 7.622c2.424 2.443 1.797 6.736-.502 9.072L47.85 78.117c-4.097 4.085-9.57-1.585-5.594-5.54l6.727-6.732-6.586-6.534 8.936-8.937zm-23.643 0s-7.59 7.61-7.59 7.622c-2.445 2.443-1.818 6.736.455 9.072l10.65 11.05c4.08 4.085 9.555-1.585 5.6-5.54l-6.717-6.732 6.535-6.534-8.933-8.937M39.776 22.06c6.09 0 11.03-4.928 11.03-11.046C50.805 4.932 45.865 0 39.775 0 33.68 0 28.73 4.932 28.73 11.014c0 6.113 4.946 11.045 11.046 11.045zm11.95 23.896l.162-7.524 9.17 8.554c.746.71 1.704 1.046 2.662 1.046 1.035 0 2.087-.414 2.853-1.232 1.47-1.584 1.388-4.05-.187-5.52 0 0-10.51-11.423-12.023-12.754-2.796-2.48-6.897-3.886-13.55-3.886h-2.088c-6.66 0-10.755 1.406-13.562 3.88-1.506 1.332-12.018 12.76-12.018 12.76-1.57 1.47-1.662 3.936-.187 5.52.767.818 1.812 1.232 2.854 1.232.958 0 1.916-.336 2.667-1.046l9.165-8.55.16 7.524h23.923v-.004z"/>
										</svg>
									</span>
                                    <span class="def">Children:</span>
                                </dt>
                                <dd>{{noData(profile.children)}}</dd>
                            </dl>
                            <dl class="pr-m--content__item">
                                <dt>
									<span class="icon">
										<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 492.388 492.388">
											<path
                                                d="M217.015 189.087c-15.393-5.53-32.37 2.48-37.893 17.882l-17.73 49.415-1.776-30.452 56.055-155.7c3.763-10.393-.75-22.195-10.864-27.3-10.93-5.52-24.258-1.135-29.78 9.795l-78.6 155.586c-1.683 3.36-2.674 7.264-2.674 11.282l.416 117.078-72.232 37.924C1.9 385.118-5.814 409.88 4.7 429.908c10.53 20.035 35.284 27.748 55.32 17.227l133.503-70.104 3.058-1.6c8.946-4.77 15.682-13.48 17.522-24.26l22.114-129.206c2.385-13.908-5.456-27.95-19.2-32.877zM470.453 374.597l-72.232-37.924.417-117.078c0-4.018-.99-7.92-2.673-11.282l-78.6-155.586c-5.522-10.93-18.85-15.314-29.78-9.794-10.113 5.104-14.626 16.905-10.865 27.3l56.054 155.7-1.776 30.45-17.73-49.415c-5.52-15.4-22.5-23.41-37.892-17.882-13.746 4.93-21.587 18.97-19.203 32.877l22.115 129.207c1.84 10.778 8.576 19.49 17.52 24.26l3.06 1.6 133.503 70.104c20.036 10.52 44.79 2.808 55.32-17.227 10.51-20.026 2.798-44.788-17.237-55.31z"/>
										</svg>
									</span>
                                    <span class="def">Religion:</span>
                                </dt>
                                <dd>{{noData(profile.religion)}}</dd>
                            </dl>

                            <dl class="pr-m--content__item">
                                <dt>
									<span class="icon">
										<svg xmlns="http://www.w3.org/2000/svg" width="510" height="510"
                                             viewBox="0 0 510 510">
											<path
                                                d="M459 114.75H357v-51l-51-51H204l-51 51v51H51c-28.05 0-51 22.95-51 51v280.5c0 28.05 22.95 51 51 51h408c28.05 0 51-22.95 51-51v-280.5c0-28.05-22.95-51-51-51zm-153 0H204v-51h102v51z"/>
										</svg>
									</span>
                                    <span class="def">Occupation:</span>
                                </dt>
                                <dd>{{noData(profile.profession)}}</dd>
                            </dl>
                            <dl class="pr-m--content__item full">
                                <dt>
									<span class="icon">
										<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 511.999 511.999">
											<path
                                                d="M374.495 112.97l40.65-67.87c2.104-3.513 2.157-7.886.14-11.447-2.02-3.562-5.798-5.763-9.892-5.763H166.435V17.053C166.435 7.635 158.8 0 149.38 0S132.33 7.635 132.33 17.053V442.55c-21.354 5.88-37.09 25.46-37.09 48.658v9.42c0 6.28 5.09 11.37 11.37 11.37h85.548c6.28 0 11.37-5.09 11.37-11.37v-9.42c0-23.197-15.737-42.777-37.09-48.657V198.056h238.957c4.094 0 7.872-2.202 9.89-5.763 2.02-3.563 1.967-7.934-.137-11.446l-40.65-67.875zM269.15 148.835H166.434v-22.738H269.15c6.278 0 11.368 5.09 11.368 11.37 0 6.277-5.09 11.368-11.37 11.368z"/>
										</svg>
									</span>
                                    <span class="def">Interests:</span>
                                </dt>
                                <dd>{{noData(profile.interests)}}</dd>
                            </dl>
                            <dl class="pr-m--content__item full">
                                <dt>
									<span class="icon">
										<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
											<path
                                                d="M512 65.826l-76.797 10.97L446.175 0 387.76 58.413c-39.762-27.068-87.79-42.898-139.518-42.898C111.142 15.515 0 126.655 0 263.758S111.14 512 248.242 512c137.1 0 248.242-111.14 248.242-248.242 0-51.73-15.83-99.758-42.898-139.52L512 65.826zM248.242 449.94c-102.825 0-186.182-83.358-186.182-186.183s83.357-186.18 186.182-186.18c43.024 0 82.634 14.6 114.16 39.107l-44.406 44.406c-19.88-13.534-43.89-21.453-69.755-21.453-68.55 0-124.12 55.57-124.12 124.12S179.69 387.88 248.24 387.88s124.122-55.572 124.122-124.122c0-25.864-7.92-49.875-21.453-69.755l44.405-44.406c24.508 31.527 39.107 71.137 39.107 114.16.002 102.826-83.356 186.182-186.18 186.182zm-10.514-175.67c9.087 9.09 23.824 9.09 32.914 0l34.75-34.748c3.16 7.447 4.91 15.638 4.91 24.236 0 34.276-27.785 62.06-62.06 62.06s-62.06-27.784-62.06-62.06 27.785-62.06 62.06-62.06c8.6 0 16.79 1.75 24.235 4.91l-34.75 34.75c-9.086 9.088-9.086 23.824 0 32.913z"/>
										</svg>
									</span>
                                    <span class="def">Goals:</span>
                                </dt>
                                <dd>{{noData(goals)}}</dd>
                            </dl>
                            <dl class="pr-m--content__item full">
                                <dt>
									<span class="icon">
										<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 488.9 488.9">
											<path
                                                d="M239.15 0c31.9 0 57.7 25.8 57.7 57.7s-25.8 57.7-57.7 57.7-57.7-25.8-57.7-57.7S207.25 0 239.15 0zm52.5 151.6h-97.7c-19 0-34.3 15.4-34.3 34.3 0 19 15.4 34.3 34.3 34.3h3.4v200h-37.7v68.7h169.6v-68.7h-37.5V151.6h-.1z"/>
										</svg>
									</span>
                                    <span class="def">About me:</span>
                                </dt>
                                <dd>{{noData(profile.about_me)}}</dd>
                            </dl>
                            <dl class="pr-m--content__item full">
                                <dt>
									<span class="icon" v-if="true">
										<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 499.996 499.996">
											<path
                                                d="M499.292 19.184c-.1-.528-.384-1.036-.548-1.54l-.332-.908c-.184-.648-.404-1.292-.664-1.936-.26-.624-.596-1.204-.92-1.784l-.468-.848c-.236-.464-.484-.928-.784-1.388-1.728-2.58-3.916-4.76-6.492-6.488-.424-.284-.876-.516-1.324-.748l-.76-.412c-.628-.356-1.256-.7-1.94-.992-.584-.236-1.176-.412-1.776-.58l-.932-.28c-.548-.184-1.1-.352-1.672-.468-1.3-.256-2.668-.508-4.1-.536-.16-.016-.344-.136-.464-.136h-97.44c-12.912 0-23.412 10.528-23.412 23.436 0 12.912 10.5 23.436 23.412 23.436h40.928L315.208 151.476c-34.208-26.868-76.764-41.584-120.24-41.584C87.46 109.888 0 197.372 0 304.88c0 107.5 87.46 194.976 194.968 194.976s194.972-87.46 194.972-194.968c0-43.472-14.544-86.024-41.412-120.236L453.124 80.276v40.928c0 12.908 10.528 23.412 23.436 23.412s23.436-10.5 23.436-23.412V23.768c.004-1.516-.4-3.06-.704-4.584zm-304.324 433.86c-81.692 0-148.152-66.46-148.152-148.148 0-81.696 66.46-148.156 148.152-148.156 81.688 0 148.156 66.46 148.156 148.156-.004 81.688-66.468 148.148-148.156 148.148z"/>
										</svg>
									</span>
                                    <span class="def">Type of man</span>
                                </dt>
                                <dd>
                                    {{noData(profile.about_woman_text)}}
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>

    import zodiacTpl from '../elements/zodiac/_template'
    import moment from 'moment'

    export default {
        data() {
            return {}
        },
        props: {
            manId: Number,
        },
        watch: {
            loaded(v) {
                if (v) this.makeGuest()
            }
        },
        methods: {
            closeModal(e) {
                if (!$(e).closest('.pr-m--body').length || !e) {
                    this.$store.commit('CHAT_UPDATE_PROFILE_MODAL', {
                        open: false,
                        user: {},
                        loaded: false
                    })
                }
            },
            makeGuest() {
                this.$http.post(this.config.api.frontend + '/v2/guest/make-visit', {
                    access_token: this.$store.getters.womanSiteToken,
                    target_user_id: this.user.user_id
                })
            },
            noData(val) {
                return !val || val === 'no' ? 'Not filled' : val
            }
        },
        computed: {
            date() {
                return moment(this.user.birthday * 1000).format('Do MMM, YYYY')
            },
            goals() {
                let tmp = [
                    {
                        k: 'Friendship',
                        v: this.user.target_friendship
                    },
                    {
                        k: 'Communication',
                        v: this.user.target_communication
                    },
                    {
                        k: 'Journey',
                        v: this.user.target_journey
                    },
                    {
                        k: 'Flirtation',
                        v: this.user.target_flirtation
                    },
                    {
                        k: 'Meeting',
                        v: this.user.target_meeting
                    },
                    {
                        k: 'Family',
                        v: this.user.target_family
                    },
                    {
                        k: 'Children',
                        v: this.user.target_children
                    }
                ];

                return tmp.filter(item => {
                    return item.v
                }).map(item => item.k).join(', ')
            },
            sex() {
                return this.$store.getters.sex;
            },
            modal() {
                return this.$store.getters.profileModal;
            },
            loaded() {
                return this.modal.loaded;
            },
            profile() {
                return this.user.profile_additional_info || {}
            },
            user() {
                return this.modal.user;
            },
        },
        components: {
            zodiacTpl
        }
    }
</script>

<style lang="scss">

    $brand-primary: #FF993E;

    .pr-m {

        &.loading {
            align-items: center;
        }

        &--body {
            width: 900px;
            padding: 0;

            .zodiac-icon {
                margin-left: 6px;
                svg {
                    fill: $brand-primary;
                    height: 14px;
                    width: 14px;
                }
            }

            .modal-title {
                align-items: baseline;

                span {
                    display: block;
                    + span {
                        margin-left: 5px;
                    }
                }

                .set-flex {
                    display: flex !important;
                    align-items: baseline;
                }

                .small {
                    display: block;
                }
            }

        }

        &--content {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -5px;

            &__item {
                display: flex;
                align-items: flex-start;
                flex: 0 0 50%;
                padding: 0 0;

                svg {
                    height: 16px;
                    width: 16px;
                    fill: #b8babd;
                }

                .icon + .def {
                    margin-left: 5px;
                }

                .icon,
                .def {
                    display: block;
                }

                &.full {
                    flex: 0 0 100%;
                }

                dt {
                    flex: 0 0 120px;
                    display: flex;
                    align-items: center;
                }

                dd {
                    word-break: break-all;
                    /* Non standard for WebKit */
                    word-break: break-word;
                    hyphens: auto;
                }

            }
        }

        .close {
            svg {
                height: 16px;
                width: 16px;
                fill: #FFFFFF;
            }
        }

        .modal-header {
            border: none;
            margin-bottom: 15px;
            color: #656565;

            small {
                color: #969696;
            }
        }

        .modal-header,
        .modal-body {
            padding: 15px;
        }

        h4 {
            font-size: 18px;
            font-weight: bold;
        }

    }

    @media only screen and (max-width: 992px) {
        .pr-m {
            .vue-modal--wrapper,
            &--body {
                width: 100%;
            }
        }
    }

    @media only screen and (max-width: 768px) {
        .pr-m {
            padding: 0;

            .vue-modal--wrapper,
            &--body {
                height: 100%;
            }

            .modal-body {
                max-height: calc(100% - 40px);
                overflow-y: auto;
                -webkit-overflow-scrolling: touch;
                margin: -0px -5px;
            }

            .loader {
                position: absolute;
                top: calc(50% - 30px);
                left: calc(50% - 30px);
            }

            &--body {
                border-radius: 0;
                padding: 15px;

                .zodiac-icon {
                    svg {
                        height: 12px;
                        width: 12px;
                    }
                }
            }

            &--content {
                margin: 0;
                &__item {
                    dt {
                        flex: 0 0 25px;
                    }
                    .def {
                        display: none;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 480px) {
        .pr-m {
            h4 {
                font-size: 15px;
            }
        }
    }
</style>
