<template>
    <div class="modal fade" id="selectWomanModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="background-color: #F4F5F4; overflow: hidden">
                <div class="modal-body disabled-modal" v-show="chatIsActive">
                  <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-7"></div>
                    <div class="col-md-2 text-right">
                      <button type="button" class="close" data-dismiss="modal">
                        <svg style="fill: #000000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.642 15.642">
                          <path fill-rule="evenodd" d="M8.882 7.82l6.54-6.54c.294-.293.294-.768 0-1.06-.292-.294-.767-.294-1.06 0l-6.54 6.54L1.28.22C.987-.073.512-.073.22.22c-.294.293-.294.768 0 1.06l6.54 6.542-6.54 6.54c-.293.293-.293.768 0 1.06.147.147.338.22.53.22s.384-.072.53-.22l6.54-6.54 6.542 6.54c.147.147.338.22.53.22s.384-.072.53-.22c.293-.292.293-.767 0-1.06l-6.54-6.54z"></path>
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-3">
                            <b>Настройки</b>
                        </div>
                        <div class="col-md-7"></div>
                        <div class="col-md-2 text-right">
                          <button type="button" class="close" data-dismiss="modal">
                            <svg style="fill: #000000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.642 15.642">
                              <path fill-rule="evenodd"
                                    d="M8.882 7.82l6.54-6.54c.294-.293.294-.768 0-1.06-.292-.294-.767-.294-1.06 0l-6.54 6.54L1.28.22C.987-.073.512-.073.22.22c-.294.293-.294.768 0 1.06l6.54 6.542-6.54 6.54c-.293.293-.293.768 0 1.06.147.147.338.22.53.22s.384-.072.53-.22l6.54-6.54 6.542 6.54c.147.147.338.22.53.22s.384-.072.53-.22c.293-.292.293-.767 0-1.06l-6.54-6.54z"/>
                            </svg>
                          </button>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px">
                        <div class="col-md-3">
                            <input type="number" class="form-control search-woman-by-id" v-model="searchId"
                                   placeholder="Поиск по ID">
                        </div>
                        <div class="col-md-9 text-right" style="line-height: 40px">
                            <b>в списке</b> ({{womanArray.length}})
                        </div>
                    </div>
                    <div class="row" style="margin-top: 15px">
                        <div class="col-md-12">
                            <small-woman-item-app :woman="foundWoman" v-if="resultExists"></small-woman-item-app>
                            <small-woman-item-app v-for="woman in womanArray" :woman="woman"
                                                  :key="woman.id"></small-woman-item-app>
                        </div>
                    </div>
                </div>
                <div class="modal-body" style="background: #fff; box-shadow: 0 0 1px 1px #DADFE1;">

                    <div class="row">
                        <div class="col-md-12">
                            <div
                                style="text-align: center; color: #F09133; padding: 20px; border: dotted #F09133 3px; border-radius: 10px"
                                class="bordered-messagee">
                                <div style="margin-top: 10px; display: inline-block;">
                                    <i class="fa fa-exclamation-circle" style="font-size: 30px" aria-hidden="true"></i>
                                </div>
                                <div style="height: 100%; line-height: 40px; display: inline-block;">
                                    Максимальное количество не может быть больше 10
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 20px">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12 text-center" style="color: #585A5C;">
                                    <i class="fa fa-volume-up" aria-hidden="true"></i>
                                    <b>Звуковые уведомления</b>
                                    <div class="row" style="margin-top: 10px">
                                        <div class="col-md-6">
                                            <input type="checkbox" v-model="chatSound"> Чат
                                        </div>
                                        <div class="col-md-6">
                                            <input type="checkbox" v-model="activeChatSound"> Активный чат
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12 text-center" style="color: #585A5C;">
                                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                    <b>Визуальные оповещения</b>
                                    <div class="row" style="margin-top: 10px">
                                        <div class="col-md-12">
                                            <input type="checkbox" v-model="visualInvitations"> визуальные инвайты
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer" style="text-align: center">
                    <button type="button" class="btn btn-warning" style="border-radius: 20px; outline: none;"
                            data-dismiss="modal">
                        Готово
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import SmallWomanItem from '../items/SmallWomanItem';

    export default {
        name: 'selectWomanModal',
        data() {
            return {
                searchId: '',
                resultExists: false,
                foundWoman: {},
                activeChatSound: true,
                chatSound: true,
                womanInChat: [],
                visualInvitations: true,
            };
        },
        watch: {
            searchId(value) {
                this.foundWoman = {};
                if(value === '') return false;
                this.resultExists = false;
                this.$http.post('v2/female/get/one', {
                    access_token: this.$cookie.get('access_token'),
                    user_id: value,
                }).then(serverResponse => {
                    if (serverResponse.body.status) {
                        if (serverResponse.body.result.general.status !== "active") {
                            this.resultExists = false;
                            return false;
                        }
                        this.resultExists = true;
                        this.foundWoman = serverResponse.body.result.main;
                        this.foundWoman.inChat = this.womanInChat.indexOf(serverResponse.body.result.main.id) !== -1;
                        this.foundWoman.age = Math.floor((new Date() - new Date(serverResponse.body.result.general.birthday * 1000)) / 1000 / 60 / 60 / 24 / 365.25);

                        if(this.foundWoman.online) {
                            this.foundWoman.inChat = true;
                        }

                    } else {
                        this.resultExists = false;
                    }

                });
            },
            activeChatSound(value) {
                this.$store.commit('CHAT_SET_SOUND_CHAT', value);
            },
            chatSound(value) {
                this.$store.commit('CHAT_SET_SOUND_ACTIVE_CHAT', value);
            },
            visualInvitations(value) {
                this.$store.commit('CHAT_NOTIFICATIONS_SET', value);
            },
        },
        computed: {
            chatIsActive() {
                return this.$store.getters.chatStatus;
            },
            womanArray() {
                return this.$store.getters.chatWomenList;
            },
        },
        components: {
            'small-woman-item-app': SmallWomanItem,
        },
        methods: {
          fetchUnavailableWoman() {
              this.$http.post(this.config.api.socket + '/api/multichat/get-unavailable-woman', {
                  access_token: this.$cookie.get('access_token'),
              }).then(data => {
                  if (data.body.status) {
                      this.womanInChat = data.body.users;
                  }
              }).catch(ex => {
                  console.log(ex);
              });
          },
        },
        mounted() {
            const self = this;
            $("#selectWomanModal").on('shown.bs.modal', function () {
              self.fetchUnavailableWoman();
            });
            this.$on('clear', (data) => {
                this.searchId = '';
                this.foundWoman = {};
                this.resultExists = false;
            });
            this.activeChatSound = this.$store.getters.activeChatSound;
            this.chatSound = this.$store.getters.chatSounds;
            this.$nextTick(() => {
                setTimeout(() => {
                    $('input').iCheck('destroy');
                }, 100)
            })
        }
    }
</script>

<style>
    #selectWomanModal > div > div {
        border-radius: 3px;
    }

    .disabled-modal {
        position: absolute;
        height: 210px;
        width: 100%;
        background: rgba(255, 255, 255, .5);
        z-index: 200;
    }
</style>
