<template>
	<transition name="modal">
		<div class="vue-modal modal-mask mail-modal-chat" v-show="mailModal.open" @click="closeModal($event.target, false)">
			<div class="vue-modal--wrapper">
				<div class="vue-modal--container mail-modal-chat--body">
					<div class="modal-header">
						<button type="button" class="close" @click="closeModal(false, true)">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.642 15.642">
								<path fill-rule="evenodd"
									  d="M8.882 7.82l6.54-6.54c.294-.293.294-.768 0-1.06-.292-.294-.767-.294-1.06 0l-6.54 6.54L1.28.22C.987-.073.512-.073.22.22c-.294.293-.294.768 0 1.06l6.54 6.542-6.54 6.54c-.293.293-.293.768 0 1.06.147.147.338.22.53.22s.384-.072.53-.22l6.54-6.54 6.542 6.54c.147.147.338.22.53.22s.384-.072.53-.22c.293-.292.293-.767 0-1.06l-6.54-6.54z"/>
							</svg>
						</button>
						<h4 class="modal-title">Write letter</h4>
					</div>
					<div class="modal-body">
						<form class="new-mail-form" @submit.prevent="submitLetter">
							<div class="form-group destination-users"
								 :class="{ 'has-error': error }"
								 v-if="user.user_id">
								<p class="destination-users__item">To:</p>
								<div class="destination-users__item user-addressee">
									<span>
										<img :src="user.avatar.img_small"
											 :alt="user.name + '\'s avatar'">{{ user.name }}
									</span>
								</div>
								<div class="error" v-show="error">
									<i class="fa fa-warning"></i>
									<span>{{ error }}</span>
								</div>
							</div>
							<div class="form-group" v-else :class="{ 'has-error': error }">
								<div class="error" v-show="error">
									<i class="fa fa-warning"></i>
									<span>{{ error }}</span>
								</div>
							</div>
							<div class="form-group" :class="{ 'has-error': err.first('mMailSubject') }">
								<input v-model="subject"
									   type="text"
									   name="mMailSubject"
									   class="form-control"
									   placeholder="Subject">
								<div class="error" v-show="err.first('mMailSubject')">
									<i class="fa fa-warning"></i>
									<span>{{ err.first( 'mMailSubject' ) }}</span>
								</div>
							</div>
							<div class="form-group" :class="{ 'has-error': err.first('mMailMessage') }">
								<content-editable v-if="mailModal.open" :name="'mMailMessage'"
												  v-model="message"
												  @clearText="clearText = $event"
												  :placeholder="'Message'"
												  class="message"></content-editable>
								<p class="small text-muted" v-if="sex.isWoman" v-show="clearText">Количество введенных символов: {{clearText.length}}</p>
								<div class="error" v-show="err.first('mMailMessage')">
									<i class="fa fa-warning"></i>
									<span>{{ err.first( 'mMailMessage' ) }}</span>
								</div>
							</div>
							<div class="send-box set-flex form-group">
								<attach-box @attached="attachments = $event"
											:photos="attachments" :clear="clear"></attach-box>
								<button type="submit" :disabled="isSending" class="btn btn-primary mail-submit">Send</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</transition>
</template>

<script>
	import ContentEditable from './parts/ContentEditable.vue'
	import AttachBox from './parts/AttachPhotosBox.vue'
	import { Validator } from  'vee-validate'
	import toastr from 'toastr'

	export default {
		name: 'modalMail',
		validator: null,
		data () {
			return {
				isSending: false,
				message: '',
				clearText: '',
				subject: '',
				error: '',
				attachments: [],
				clear: 0,
				keepUser: false,
				err: [],
			}
		},
		watch: {
			clearText( v ) {
				this.validator.validate( 'mMailMessage', v ).catch(() => {});
			},
			subject( v ) {
				this.validator.validate( 'mMailSubject', v ).catch( () => {
				} )
			},
			user( n, o ) {
				if ( o && (o.user_id !== n.user_id) && !this.keepUser ) {
					this.clearData();
				}
			},
		},
		methods: {
			closeModal( e, clear ) {
				if ( !$( e ).closest( '.mail-modal-chat--body' ).length || !e ) {
					if ( clear ) {
						this.clearData();
						this.clearUser();
					}
					this.$store.commit( 'updateMailModal', {
						open: false
					} )
				}
			},
			clearData() {
				this.message = '';
				this.clearText = '';
				this.subject = '';
				this.keepUser = false;
				this.clear++;
				this.attachments = [];
				this.error = '';

				let self = this;
				setTimeout( () => {
					self.err.clear();
				}, 0 );
			},
			userSelected( user ) {
				this.$store.commit( 'updateMailModal', {
					to: user
				} );
				this.error = '';
			},
			clearUser() {
				this.keepUser = true;
				this.$store.commit( 'updateMailModal', {
					to: ''
				} );
			},
			sendLetter() {
				const attachments = this.attachments.map( i => i.id ) || [];
				this.$http.post( this.config.api.frontend + '/v2/letter/send-letter', {
					access_token: this.token,
					target_user_id: this.user.user_id,
					message: this.message,
					subject: this.subject,
					attachments: JSON.stringify( attachments )
				} ).then( r => {
					if ( r.body.status ) {
						this.closeModal( false, true );
						this.clearData();
						toastr.success('Letter sent')
					} else {
						toastr.error('Some error happened during request execution')
					}
				}, err => {
					toastr.error('Some error happened during request execution')
				} )
			},
			submitLetter() {
				!this.user.user_id ? this.error = 'No user selected' : '';
				this.validator.validateAll( {
					mMailSubject: this.subject,
					mMailMessage: this.clearText
				} ).then( success => {
					if ( success && !this.error && !this.isSending ) {
						this.sendLetter();
					}
				} ).catch( () => {
				} );
			},
		},
		computed: {
			mailModal() {
				return this.$store.getters.mailModal;
			},
			user() {
				return this.mailModal.to;
			},
			token() {
				return this.$store.getters.womanSiteToken;
			},
			sex() {
//				return this.$store.getters.sex;
				return {
					isWoman: true,
					isMan: false
				}
			}
		},
		created() {
			this.validator = new Validator();
			let titleValidation = this.sex.isMan ? 'max:255' : 'required|min:10|max:255',
				letterValidation = this.sex.isMan ?  'required|max:5000' : 'required|min:200|max:5000';
			this.validator.attach( 'mMailSubject', titleValidation, {
				prettyName: 'Subject'
			} );
			this.validator.attach( 'mMailMessage', letterValidation, {
				prettyName: 'Message'
			} );
			this.$set( this, 'err', this.validator.errorBag )
		},
		components: {
			AttachBox,
			ContentEditable
		},
	}
</script>

<style lang="scss">
	.mail-modal-chat {

		.medium-editor-element {
			overflow: auto;

			p {
				color: #1b2225;
			}
		}

		div.error {
			border: none !important;
			color: red;
			margin-top: 3px;
		}

		&--body {
			width: 900px;
		}

		.close {
			svg {
				height: 16px;
				width: 16px;
				fill: #bababa;
			}
		}

		.modal-header {
			background: none;
			border: none;
			margin-bottom: 15px;

			.modal-title {
				color: #333333;
			}
		}

		.modal-header,
		.modal-body {
			padding: 0;
		}

		h4 {
			font-size: 18px;
			font-weight: bold;
		}

		input {
			appearance: none; //iOS
		}

		.destination-users,
		.destination-users__item,
		.destination-users__item > span {
			display: flex;
			justify-content: flex-start;
			align-items: center
		}

		.destination-users__item {
			margin-top: 10px;
			+ .destination-users__item {
				margin-left: 10px;
			}
		}

		p {
			color: #bdbdbd;
		}



		.user-addressee {
			position: relative;
			height: 36px;
			border-radius: 88px;
			background-color: #ededed;

			> span {
				margin-right: 10px;
				color: #3e3f42;
				white-space: nowrap;
				&:hover {
					text-decoration: none;
				}
			}
			img {
				width: 36px;
				height: 36px;
				border-radius: 50%;
				margin-right: 5px;
			}
			> .btn {
				margin: 2px 2px 2px 0;
				height: 32px;
				width: 32px;
				padding: 0;
				line-height: 1;
				background-color: #d3d3d3;
				border-radius: 50%;
				border: none;
			}
			svg {
				stroke: #f1f1f1;
				fill: #f1f1f1;
				height: 12px;
				width: 12px;
			}
		}

		.btn-success {
			height: 36px;
			font-size: 14px;
			padding: 0 12px;
			> span {
				height: 100%;
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			.hidden-xs {
				margin-right: 10px;
			}
			svg {
				height: 16px;
				width: 16px;
				fill: currentColor;
			}
		}

		.form-group {
			margin: 0;
			+ .form-group {
				margin-top: 10px;
			}
		}

		textarea {
			resize: none;
			min-height: 150px;
		}

		.form-control {
			border-radius: 4px;
			box-shadow: none;
			border-color: #ededed;
		}

		.uploaded-list__item {
			display: flex;
			align-items: center;
			justify-content: space-between;
			color: #aeaeb1;
			border-bottom: 1px solid transparent;
			padding: 5px 0 2px;

			&:hover {
				border-bottom: 1px solid #aeaeb1;
				.btn-delete {
					opacity: 1;
				}
			}

			svg {
				height: 13px;
				width: 13px;
				fill: #aeaeb1;
				stroke: #aeaeb1;
			}
		}

		.btn-delete {
			opacity: 0;
			background: none;
			border: none;
			height: 16px;
			width: 16px;
			padding: 0;
			margin-left: 10px;
			transition: opacity .2s ease-in-out;
		}

		.send-box {
			justify-content: flex-end;
			align-items: center;
		}

		.attach-box + .btn {
			margin-left: 15px;
		}

		.mail-submit {
			padding: 10px 20px;
			font-size: 11px;
			line-height: 1;
			text-transform: uppercase;
		}
	}

	@media only screen and (max-width: 992px) {
		.mail-modal-chat {

			.vue-modal--wrapper {
				flex: 1 1;
			}

			&--body {
				width: auto;
			}
		}
	}

	@media only screen and (max-width: 480px) {
		.mail-modal-chat {
			.send-box {
				flex-direction: column;
				align-items: flex-end;
			}

			.attach-box {
				&--inner {
					display: block;
				}

				&--photos {
					margin-bottom: 10px;
					&__item {
						flex: 1 1 30% !important;
						max-width: 80px;
					}
				}

				&--btn {
					margin: 0 0 10px !important;
					justify-content: flex-end !important;
				}
			}

		}
	}
</style>
