<template>
	<div>
		<loader v-if="loading"></loader>
		<template v-else="">
			<ul class="v-list v-list-sm-pad">
				<li><label class="col-md-2">Статус</label>
					<div class="col-md-10">
						<input type="text" class="form-control" v-model="status">
					</div>
				</li>
				<li><label for="for-country" class="col-md-7">Уровень знания английского <i
						class="fa fa-asterisk text-red" style="font-size: 9px;"></i></label>
					<div class="col-md-5">
						<select name="" class="form-control" v-model="english">
							<option value="no" selected>не выбрано</option>
							<option value="basic">basic</option>
							<option value="intermediate">intermediate</option>
							<option value="good">good</option>
							<option value="fluent">fluent</option>
						</select>
					</div>
				</li>
				<li>
					<label for="for-country" class="col-md-7">Другие языки</label>
					<div class="col-md-5">
						<div class="language-line">
							<div class="input-group separator margin-bottom">
								<label>
									Spanish
								</label>
								<div class="input-group-addon">-</div>
								<select name="no" class="form-control" v-model="spanish">
									<option value="no">не выбрано</option>
									<option value="basic">basic</option>
									<option value="intermediate">intermediate</option>
									<option value="good">good</option>
									<option value="fluent">fluent</option>
								</select>
							</div>
						</div>
						<div class="language-line">
							<div class="input-group separator margin-bottom">
								<label>
									German
								</label>
								<div class="input-group-addon">-</div>
								<select name="no" v-model="german" class="form-control">
									<option value="no">не выбрано</option>
									<option value="basic">basic</option>
									<option value="intermediate">intermediate</option>
									<option value="good">good</option>
									<option value="fluent">fluent</option>
								</select>
							</div>
						</div>
						<div class="language-line">
							<div class="input-group separator margin-bottom">
								<label>
									French
								</label>
								<div class="input-group-addon">-</div>
								<select name="no" class="form-control" v-model="french">
									<option value="no">не выбрано</option>
									<option value="basic">basic</option>
									<option value="intermediate">intermediate</option>
									<option value="good">good</option>
									<option value="fluent">fluent</option>
								</select>
							</div>
						</div>
						<div class="language-line">
							<div class="input-group separator margin-bottom">
								<label>
									Portuguese
								</label>
								<div class="input-group-addon">-</div>
								<select name="" class="form-control" v-model="portuguese">
									<option value="no">не выбрано</option>
									<option value="basic">basic</option>
									<option value="intermediate">intermediate</option>
									<option value="good">good</option>
									<option value="fluent">fluent</option>
								</select>
							</div>
						</div>
					</div>
				</li>
				<li><label for="for-country" class="col-md-7">Семейное положение <i
						class="fa fa-asterisk text-red" style="font-size: 9px;"></i></label>
					<div class="col-md-5">
						<select name="" class="form-control" v-model="familyStatus">
							<option value="no">не выбрано</option>
							<option value="single">single</option>
							<option value="divorced">divorced</option>
							<option value="widow">widowed</option>
							<option value="never been married">never been married</option>
						</select>
					</div>
				</li>
				<li><label for="for-country" class="col-md-7">Oбразование <i
						class="fa fa-asterisk text-red" style="font-size: 9px;"></i></label>
					<div class="col-md-5">
						<select name="" class="form-control" v-model="education">
							<option value="no">не выбрано</option>
							<option value="Middle School">middle School</option>
							<option value="High school">high school</option>
							<option value="Student">student</option>
							<option value="Bachelor's Degree">Bachelor's Degree</option>
							<option value="Master's Degree">Master's Degree</option>
							<option value="Doctoral Level">Doctoral Level</option>
						</select>
					</div>
				</li>
				<li><label class="col-md-7">Професия <i class="fa fa-asterisk text-red"
														style="font-size: 9px;"></i></label>
					<div class="col-md-5">
						<input type="text" class="form-control" v-model="profession">
					</div>
				</li>
				<li><label for="for-country" class="col-md-7">Я живу <i class="fa fa-asterisk text-red"
																		style="font-size: 9px;"></i></label>
					<div class="col-md-5">
						<select name="" class="form-control" id="for-country" v-model="accommodation">
							<option value="no">не выбрано</option>
							<option value="with parents">with parents</option>
							<option value="with neighbors">with neighbors</option>
							<option value="in dorm">in dorm</option>
							<option value="separately (rented housing)">separately (rentedhousing)</option>
							<option value="separately (in own housing)">separately (in own housing)</option>
						</select>
					</div>
				</li>
				<li><label for="for-country" class="col-md-7">Дети <i class="fa fa-asterisk text-red"
																	  style="font-size: 9px;"></i></label>
					<div class="col-md-5">
						<select name="" class="form-control" v-model="children">
							<option value="no">не выбрано</option>
							<option value="I have no children">no children</option>
							<option value="no but I want to have children">
								no but I want to have children
							</option>
							<option value="have children">have children</option>
							<option value="have children, but living separately">
								have children, but living separately
							</option>
							<option value="have adult children">have adult children</option>
						</select>
					</div>
				</li>
				<li><label for="for-country" class="col-md-7">Религия</label>
					<div class="col-md-5">
						<select name="" class="form-control" v-model="religion">
							<option value="no">не выбрано</option>
							<option value="Christianity">Christianity</option>
							<option value="Catholicism">Catholicism</option>
							<option value="Islam">Islam</option>
							<option value="Buddhism">Buddhism</option>
							<option value="Hinduism">Hinduism</option>
							<option value="other">other</option>
						</select>
					</div>
				</li>
				<li><label for="for-country" class="col-md-7">Отношение к курению <i
						class="fa fa-asterisk text-red" style="font-size: 9px;"></i></label>
					<div class="col-md-5">
						<select name="" class="form-control" v-model="smoke">
							<option value="no">не выбрано</option>
							<option value="I do not smoke">not smoke</option>
							<option value="rarely">rarely</option>
							<option value="often">often</option>
						</select>
					</div>
				</li>
				<li><label for="for-country" class="col-md-7">Отношение к алкоголю <i
						class="fa fa-asterisk text-red" style="font-size: 9px;"></i></label>
					<div class="col-md-5">
						<select name="" class="form-control" v-model="drink">
							<option value="no">не выбрано</option>
							<option value="I do not drink">not drink</option>
							<option value="rarely">rarely</option>
							<option value="occasionally">occasionally</option>
							<option value="often">often</option>
						</select>
					</div>
				</li>
			</ul>
			<div class="clearfix text-right">
				<button type="button" class="btn btn-primary" @click="saveProfile">Сохранить</button>
			</div>
		</template>
	</div>
</template>

<script>

	import toastr from 'toastr'
	import loader from '../../../custom/normalPreloader/component.vue'

	export default {
		data() {
			return {
				loading: true,
				status: 'no',
				english: 'no',
				spanish: 'no',
				german: 'no',
				french: 'no',
				portuguese: 'no',
				familyStatus: 'no',
				degree: 'no',
				profession: '',
				education: 'no',
				accommodation: 'no',
				children: 'no',
				religion: 'no',
				smoke: 'no',
				drink: 'no',
			}
		},
		methods: {
			fetchData() {
				this.loading = true;
				this.$http.post( 'v2/female/get/one', {
					access_token: this.$cookie.get( 'access_token' ),
					user_id: this.$route.params.woman
				} ).then( data => {
					if ( data.body.status ) {
						let womanData = data.body.result;
						this.status = womanData.additional_info.status;
						this.english = womanData.additional_info.lang_english;
						this.spanish = womanData.additional_info.lang_spanish;
						this.french = womanData.additional_info.lang_french;
						this.portuguese = womanData.additional_info.lang_portuguese;
						this.german = womanData.additional_info.lang_german;
						this.familyStatus = womanData.additional_info.family_status;
						this.education = womanData.additional_info.education;
						this.profession = womanData.additional_info.profession;
						this.accommodation = womanData.additional_info.accommodation;
						this.children = womanData.additional_info.children;
						this.religion = womanData.additional_info.religion;
						this.smoke = womanData.additional_info.smoke;
						this.drink = womanData.additional_info.drink;
					} else {
						toastr.error( 'Не могу загрузить информацию о клиентке' )
					}
					this.loading = false;
				}, err => {
					toastr.error( 'Не могу загрузить информацию о клиентке' )
				} )
			},
			validate() {
				return new Promise( ( resolve, reject ) => {
					if ( this.english === 'no' ) {
						reject( {
							desc: 'Поле уровень английского обязательно к заполнению'
						} )
					}
					if ( this.familyStatus === 'no' ) {
						reject( {
							desc: 'Поле семейное положение обязательно к заполнению'
						} )
					}
					if ( this.education === 'no' ) {
						reject( {
							desc: 'Поле образование обязательно к заполнению'
						} )
					}
					if ( this.children === 'no' ) {
						reject( {
							desc: 'Поле дети обязательно к заполнению'
						} )
					}
					if ( this.smoke === 'no' ) {
						reject( {
							desc: 'Поле отношение к курению обязательно к заполнению'
						} )
					}
					if ( this.drink === 'no' ) {
						reject( {
							desc: 'Поле отношение к алкоголю обязательно к заполнению'
						} )
					}
					if ( !this.profession ) {
						reject( {
							desc: 'Поле профессия глаз обязательно к заполнению'
						} )
					}
					if ( this.accommodation === 'no' ) {
						reject( {
							desc: 'Поле "Я живу" волос обязательно к заполнению'
						} )
					}
					resolve()
				} )
			},
			saveProfile() {
				this.validate().then( r => {
					this.$http.post( 'v2/female/edit-additional-info', {
						access_token: this.$cookie.get( 'access_token' ),
						user_id: this.$route.params.woman,
						lang_english: this.english,
						lang_german: this.german,
						lang_portuguese: this.portuguese,
						lang_french: this.french,
						lang_spanish: this.spanish,
						family_status: this.familyStatus,
						education: this.education,
						profession: this.profession,
						accommodation: this.accommodation,
						children: this.children,
						religion: this.religion,
						smoke: this.smoke,
						drink: this.drink,
						status: this.status
					} ).then( data => {
						if ( data.body.status ) {
							toastr.success( 'Доп. информация клиентки обновлена' )
						} else {
							toastr.error( 'Не могу обновить доп. информацию клиентки' )
							toastr.info( data.body.desc )
						}
					}, err => {
						console.log( err );
						toastr.error( 'Возникла ошибка при выполнении запроса. Обратитесь в тех. поддержку' )
					} )
				} ).catch( r => {
					toastr.error( r.desc || r.name )
				} )
			},
		},
		computed: {},
		mounted() {
			this.fetchData()
		},
		components: {
			loader
		}
	}
</script>

<style>
</style>
