<template>
	<div>
		<loader v-if="loading"></loader>
		<template v-else>
			<ul class="v-list v-list-sm-pad">
				<li><label for="body" class="col-md-7">Телосложение <i
						class="fa fa-asterisk text-red" style="font-size: 9px;"></i></label>
					<div class="col-md-5">
						<select name="" class="form-control" id="body" v-model="body">
							<option value="">не выбрано</option>
							<option value="thin">thin</option>
							<option value="slender">slender</option>
							<option value="athletic">athletic</option>
							<option value="a few extra pounds">a few extra pounds</option>
							<option value="plump">plump</option>
						</select>
					</div>
				</li>
				<li>
					<div class="form-group">
						<label class="col-md-7" for="height">Рост <i class="fa fa-asterisk text-red"
														style="font-size: 9px;"></i></label>
						<div class="col-md-5">
							<div class="input-group">
								<input type="number" class="form-control" id="height" v-model="height"> <span
									class="input-group-addon">cm</span>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="form-group">
						<label class="col-md-7" for="weight">Вес <i class="fa fa-asterisk text-red"
													   style="font-size: 9px;"></i></label>
						<div class="col-md-5">
							<div class="input-group">
								<input type="number" class="form-control" id="weight" v-model="weight"> <span
									class="input-group-addon">kg</span>
							</div>
						</div>
					</div>
				</li>
				<li><label for="eye" class="col-md-7">Цвет глаз <i
						class="fa fa-asterisk text-red" style="font-size: 9px;"></i></label>
					<div class="col-md-5">
						<select name="" class="form-control" id="eye" v-model="eye_color">
							<option value="">не выбрано</option>
							<option value="black">black</option>
							<option value="green">green</option>
							<option value="gray">gray</option>
							<option value="brown">brown</option>
							<option value="light-brown">light-brown</option>
							<option value="blue">blue</option>
						</select>
					</div>
				</li>

				<li><label for="hair" class="col-md-7">Цвет волос <i
						class="fa fa-asterisk text-red" style="font-size: 9px;"></i></label>
					<div class="col-md-5">
						<select name="" class="form-control" id="hair" v-model="hair_color">
							<option value="">не выбрано</option>
							<option value="blonde">blonde</option>
							<option value="brown">brown</option>
							<option value="redhead">redhead</option>
							<option value="brunette">brunette</option>
							<option value="colored">colored</option>
						</select>
					</div>
				</li>
			</ul>
			<div class="clearfix text-right">
				<button type="button" class="btn btn-primary" @click="saveProfile">Сохранить</button>
			</div>
		</template>
	</div>
</template>

<script>

	import toastr from 'toastr'
	import loader from '../../../custom/normalPreloader/component.vue'

	export default {
		data() {
			return {
				loading: true,
				body: '',
				height: '',
				weight: '',
				eye_color: '',
				hair_color: '',
			}
		},
		methods: {
			fetchData() {
				this.loading = true;
				this.$http.post( 'v2/female/get/one', {
					access_token: this.$cookie.get( 'access_token' ),
					user_id: this.$route.params.woman
				} ).then( data => {
					if ( data.body.status ) {
						let womanData = data.body.result;
						this.body = womanData.appearance.body;
						this.height = womanData.appearance.height;
						this.weight = womanData.appearance.weight;
						this.eye_color = womanData.appearance.eye_color;
						this.hair_color = womanData.appearance.hair_color;
					} else {
						toastr.error( 'Не могу загрузить информацию о клиентке' )
					}
					this.loading = false;
				}, err => {
					toastr.error( 'Не могу загрузить информацию о клиентке' )
				} )
			},
			validate() {
				return new Promise( ( resolve, reject ) => {
					if ( !this.body ) {
						reject( {
							desc: 'Поле телосложение обязательно к заполнению'
						} )
					}
					if ( !this.height ) {
						reject( {
							desc: 'Поле рост обязательно к заполнению'
						} )
					}
					if ( !this.weight ) {
						reject( {
							desc: 'Поле вес обязательно к заполнению'
						} )
					}
					if ( !this.eye_color || this.eye_color === 'no') {
						reject( {
							desc: 'Поле цвет глаз обязательно к заполнению'
						} )
					}
					if ( !this.hair_color || this.hair_color === 'no' ) {
						reject( {
							desc: 'Поле цвет волос обязательно к заполнению'
						} )
					}
					resolve()
				} )
			},
			saveProfile() {
				this.validate().then( r => {
					this.$http.post( 'v2/female/edit-user-appearance', {
						access_token: this.$cookie.get( 'access_token' ),
						user_id: this.$route.params.woman,
						body: this.body,
						height: this.height,
						weight: this.weight,
						eye_color: this.eye_color,
						hair_color: this.hair_color
					} ).then( data => {
						if ( data.body.status ) {
							toastr.success( 'Данные о внешнем виде обновлены' )
						} else {
							toastr.error( 'Не могу обновить данные о внешнем виде клиентки' )
							toastr.info( data.body.desc )
						}
					}, err => {
						console.log( err );
						toastr.error( 'Возникла ошибка при выполнении запроса. Обратитесь в тех. поддержку' )
					} )
				} ).catch( r => {
					toastr.error( r.desc || r.name )
				} )
			},
		},
		computed: {},
		mounted() {
			this.fetchData()
		},
		components: {
			loader
		}
	}
</script>

<style>
</style>
