<script src="../../../../../config/dev.env.js"></script>
<template>
	<div>
		<loader v-if="loading"></loader>
		<template v-else="">
			<ul class="v-list v-list-sm-pad">
        <li><label class="col-md-7">Национальность <i class="fa fa-asterisk text-red"
                                              style="font-size: 9px;"></i></label>
          <div class="col-md-5">
            <multiselect v-model="selectedNationality"
                         label="name"
                         track-by="name"
                         :placeholder="nationality"
                         :options="nationalities" :multiple="false"
                         :searchable="true" :internal-search="true"
                         :close-on-select="true"
                         :options-limit="300"
                         :limit="3"
                         :limit-text="limitNationality">
              <span slot="noResult">Нет данных. Попробуйте ввести другой текст! </span>
            </multiselect>
          </div>
        </li>
				<li><label class="col-md-7">Страна <i class="fa fa-asterisk text-red"
																		style="font-size: 9px;"></i></label>
					<div class="col-md-5">
						<multiselect v-model="selectedCountry" label="name" track-by="name"
									 :placeholder="country" :options="countries" :multiple="false"
									 :searchable="true" :internal-search="true"
									 :close-on-select="true"
									 :options-limit="300" :limit="3" :limit-text="limitText">
							<span slot="noResult">Oops! No elements found. Consider changing the search query.</span>
						</multiselect>
					</div>
				</li>
				<li><label class="col-md-7">Город <i class="fa fa-asterisk text-red"
													 style="font-size: 9px;"></i></label>
					<div class="col-md-5">
						<multiselect v-model="selectedCity" id="ajax" label="name"
									 track-by="country_id" :placeholder="city" :options="cities"
									 :multiple="false" :searchable="true" :loading="isLoading"
									 :internal-search="false"
									 :close-on-select="true" :options-limit="300" :limit="3"
									 :limit-text="limitText" @search-change="asyncCity">
							<span slot="noResult">Oops! No elements found. Consider changing the search query.</span>
						</multiselect>
					</div>
				</li>
				<li><label class="col-md-7">Адрес <i class="fa fa-asterisk text-red"
													 style="font-size: 9px;"></i></label>
					<div class="col-md-5">
						<input type="text" class="form-control" v-model="address">
					</div>
				</li>
				<li><label for="for-phone-1" class="col-md-7">Телефон <i
						class="fa fa-asterisk text-red" style="font-size: 9px;"></i></label>
					<div class="col-md-5">
						<input type="text" v-model="phone"
							   placeholder="+38 0## ## ## ###"
							   class="form-control" id="for-phone-1">
					</div>
				</li>
				<li><label class="col-md-7">Скайп</label>
					<div class="col-md-5">
						<input type="text" class="form-control" v-model="skype">
					</div>
				</li>
			</ul>
			<div class="clearfix text-right">
				<button type="button" class="btn btn-primary" @click="saveProfile">Сохранить</button>
			</div>
		</template>
	</div>
</template>

<script>
	import mySelect from '../../../custom/select2/select-new.vue'
	import toastr from 'toastr'
	import loader from '../../../custom/normalPreloader/component.vue'
	import moment from 'moment'
	export default {
		data() {
			return {
				isLoading: false,
				loading: true,
				country: '',
        nationality: '',
				city: '',
				address: '',
				phone: '',
				skype: '',
				countries: [],
        nationalities: [],
				cities: [],
				selectedCountry: '',
        selectedNationality: '',
				selectedCity: ''
			}
		},
		watch: {
			selectedCountry( value ) {
				let name = value.name;
				this.country = name;
			},
      selectedNationality( value ) {
        let name = value.name;
        this.nationality = name;
      },
			selectedCity( value ) {
				this.city = value.name
			},
		},
		methods: {
			validate() {
				return new Promise( ( resolve, reject ) => {
          if ( !this.nationality && !this.selectedNationality ) {
            reject( {
              desc: 'Поле обязательно к заполнению'
            } )
          }

					if ( !this.country && !this.selectedCountry ) {
						reject( {
							desc: 'Поле страна обязательно к заполнению'
						} )
					}
					if ( !this.city && !this.selectedCity ) {
						reject( {
							desc: 'Поле город обязательно к заполнению'
						} )
					}
					if ( !this.address ) {
						reject( {
							desc: 'Поле адрес обязательно к заполнению'
						} )
					}
					if ( !this.phone ) {
						reject( {
							desc: 'Поле номер телефона обязательно к заполнению'
						} )
					}
					resolve()
				} )
			},
			saveProfile() {
				this.validate().then( r => {
					this.$http.post( 'v2/female/edit-personal-contact', {
						access_token: this.$cookie.get( 'access_token' ),
						user_id: this.$route.params.woman,
            nationality: this.nationality,
						address_country: this.country,
						address_city: this.city,
						address: this.address,
						phone: this.phone,
						skype: this.skype
					} ).then( data => {
						if ( data.body.status ) {
							toastr.success( 'Контактные данные обновлены' )
						} else {
							toastr.error( 'Не могу обновить контактные данные клиентки' )
							toastr.info( data.body.desc )
						}
					}, err => {
						console.log( err );
						toastr.error( 'Возникла ошибка при выполнении запроса. Обратитесь в тех. поддержку' )
					} )
				} ).catch( r => {
					toastr.error( r.desc || r.name )
				} )
			},
			asyncCity ( query ) {
				this.isLoading = true;
				this.$http.post( this.config.api.frontend + '/v2/guest/get-city', {
					city_name: query,
					country_id: this.selectedCountry.id
				} ).then( data => {
					this.isLoading = false;
					if ( data.body.status ) {
						this.cities = data.body.result;
					}
				}, err => {
					console.log( err );
					this.isLoading = false
				} );
			},
			fetchCountry() {
				this.$http.post( this.config.api.frontend + '/v2/guest/get-country', {} )
					.then( data => {
						if ( data.body.status ) {
							this.countries = data.body.result;
						} else {
							toastr.error( 'Не могу загрузить список стран' )
						}
					}, err => {
						console.log( err );
					} )
			},
			limitText ( count ) {
				return `and ${count} other countries`
			},
      limitNationality( count ) {
        return `and ${count} other nationality`
      },
      fetchNationality() {
        this.$http.post( this.config.api.frontend + '/v2/guest/get-nationality', {} )
            .then( data => {
              if ( data.body.status ) {
                this.nationalities = data.body.result;
              } else {
                toastr.error( 'Не могу загрузить список национальностей' )
              }
            }, err => {
              console.log( err );
            } )
      },
			fetchData() {
				this.loading = true;
				this.$http.post( 'v2/female/get/one', {
					access_token: this.$cookie.get( 'access_token' ),
					user_id: this.$route.params.woman
				} ).then( data => {
					if ( data.body.status ) {
						let womanData = data.body.result;
						this.id = womanData.main.id;
            this.nationality = womanData.contact.nationality;
						this.country = womanData.contact.country;
						this.city = womanData.contact.city;
						this.address = womanData.contact.address;
						this.phone = womanData.contact.phone;
						this.skype = womanData.contact.skype;
					} else {
						toastr.error( 'Не могу загрузить информацию о клиентке' )
					}
					this.loading = false;
				}, err => {
					this.loading = false;
					toastr.error( 'Не могу загрузить информацию о клиентке' )
				} )
			},
			customLabel ( option ) {
				return `${option.value}`
			},
		},
		computed: {

		},
		mounted() {
			this.fetchData();
			this.fetchCountry();
      this.fetchNationality();
		},
		components: {
			Multiselect: window.VueMultiselect.default,
			loader,
			mySelect
		}
	}
</script>

<style>
</style>
