<template>
	<div>
		<loader v-if="loading"></loader>
		<template v-else="">
			<ul class="v-list v-list-sm-pad">
				<li class="header">
					<div for="for-site" class="col-md-7">Паспорт <span class="text-muted margin-top"><small>jpg, jpeg, pdf (не более 20Mb)</small></span>
					</div>
					<div class="col-md-5 text-right">
						<span class="load-file-link">
							<input type="file" name="mydocs[]"
								   class="file-loader"
								   @change="dropDocument"
								   data-type="passport_1"
								   data-nav=".photo-list-mydoc">
							<span
									class="upload-text-wrapp"> Загрузить <i
									class="fa fa-download text-blue"></i>
							</span>
						</span>
					</div>
				</li>
				<li>
					<nav class="photo-nav photo-list-oficearend" ref="pass-doc" id="passportdoc">
						<a :target="{'_blank': isDocument(doc.file_extension)}"
						   :class="{ 'photo-nav__item': !isDocument(doc.file_extension) }"
						   v-for="doc in passportDocument" :href="doc.file_path">
							<img :src="doc.file_path" v-if="!isDocument(doc.file_extension)">
							<img :src="'/dist/img/pdf.png'" v-else="isDocument(doc.file_extension)"
								 alt="Document">
							<span class="fa fa-times-circle del-photo"
								  @click.prevent.stop="removeDocument(doc.id)"></span>
						</a>
					</nav>
				</li>
				<li class="header">
					<div for="for-site" class="col-md-7">Фото с паспортом <span
							class="text-muted margin-top"><small>jpg, jpeg, pdf (не более 20Mb)</small></span>
					</div>
					<div class="col-md-5 text-right">
						<span class="load-file-link">
							<input type="file" name="ofice[]"
								   class="file-loader"
								   @change="dropDocument"
								   data-type="photo_with_passport"
								   data-nav=".photo-list-ofice"> <span
								class="upload-text-wrapp"> Загрузить <i
								class="fa fa-download text-blue"></i>
						</span>
						</span>
					</div>
				</li>
				<li>
					<nav class="photo-nav photo-list-oficearend" ref="with-pass" id="withpassport">
						<a :target="{'_blank': isDocument(doc.file_extension)}"
						   :class="{ 'photo-nav__item': !isDocument(doc.file_extension) }"
						   v-for="doc in photoWithPassport" :href="doc.file_path">
							<img :src="doc.file_path" v-if="!isDocument(doc.file_extension)">
							<img :src="'/dist/img/pdf.png'" v-else="isDocument(doc.file_extension)"
								 alt="Document">
							<span class="fa fa-times-circle del-photo"
								  @click.prevent.stop="removeDocument(doc.id)"></span>
						</a>
					</nav>

				</li>
				<li class="header">
					<div for="for-site" class="col-md-7">Видео подтверждение <span
							class="text-muted margin-top"><small>mp4, mov, m4v, avi (не более 20Mb)</small></span>
					</div>

					<div class="col-md-5 text-right">
						<span class="load-file-link">
							<input type="file" name="pasport2[]" class="file-loader"
								   accept="video/mp4, video/x-m4v,  video/mov, video/avi, video/*"
								   @change="dropVideo"
								   data-type="video_approve"
								   data-nav=".photo-list-pasport2"> <span
								class="upload-text-wrapp"> Загрузить <i
								class="fa fa-download text-blue"></i>
						</span>
						</span>
					</div>
				</li>
				<li>
					<div class="alert p-l-0 p-b-0 m-b-0 text-muted">
						Запись видео производится при нормальном
						освещении, без головных уборов и солнцезащитных
						очков, с открытым паспортом на странице с
						последней фотографией в руках. Текст:

						<div class="text-yellow">
							Здравствуйте, меня зовут (ФИО)
							Я клиентка Вашего партнёра "Partner".
							Сегодня (полная дата).
							Я хочу создать свой профайл на сервисе FeDate с целью новых знакомств для
							поиска своего спутника жизни.
							С правилами пользователя сервиса ознакомлена и принимаю их!

						</div>
						<hr>
					</div>
					<nav class="photo-list-pasport2">
						<!--<div v-for="doc in videoApprove" style="display:none;"-->
						<!--:id="replaceId(doc.file_name)">-->
						<!--<video class="lg-video-object lg-html5" controls preload="none">-->
						<!--<source :src="doc.file_path">-->
						<!--Your browser does not support HTML5 video.-->
						<!--</video>-->
						<!--</div>-->

						<lady-video-gallery :videos="videoApprove"/>

						<!-- <div class="video-list">
							<a v-for="doc in videoApprove"
							   target="_blank"
							   :href="doc.file_path"
							   :data-sub-html="doc.file_name"
							   :data-html="'#' + replaceId(doc.file_name)">
								<img src="https://ateliesaun.ru/img/new/video.jpg"/>
								<span class="fa fa-times-circle del-photo"
									  @click.stop.prevent="removeDocument(doc.id)"></span>
							</a>
						</div> -->
					</nav>
				</li>
			</ul>

		</template>
		 <modal-video/>
	</div>
</template>

<script>

	import toastr from 'toastr'
	import _ from 'lodash'
	import loader from '../../../custom/normalPreloader/component.vue'
	import LadyVideoGallery from '../../../content/girls/parts/VideoGallery.vue';
	import modalVideo from '../../../modals/PlayVideoModal';

	export default {
		data() {
			return {
				loading: true,
				passportDocument: [],
				photoWithPassport: [],
				videoApprove: [],
				galleryPassport: '',
				galleryWith: ''
			}
		},
		methods: {
			dropVideo( event ) {
				let file = event.currentTarget.files[ 0 ]
				file.typeServer = 'video_approve'
				this.utils.checkVideo( file ).then( ( res, rej ) => {
					console.log( file )
					console.log( res )
					if ( rej ) {
						toastr.error( rej.description );
						return false;
					}
					else {
						let documentType = file.type;
						let document = file;
						let documentFormData = new FormData();
						documentFormData.append( 'access_token', this.$cookie.get( 'access_token' ) );
						documentFormData.append( 'user_document_type', document.typeServer );
						documentFormData.append( 'user_document_file', document );
						documentFormData.append( 'user_document_id', this.$route.params.woman );
						toastr.info( 'Начинаю загрузку документа' );
						this.$http.post( 'v2/document/upload/document', documentFormData )
							.then( data => {
								if ( data.body.status ) {
									console.log( data.body.result );
									let documentUploaded = data.body.result;
									if ( documentUploaded.document_type == 'video_approve' ) {
										//this.videoApprove.push( documentUploaded )
										this.videoApprove.push({
					                        file_prev: "/dist/img/video.png",
					                        file_path: documentUploaded.file_path,
					                        id: documentUploaded.id});
									}
									toastr.success( 'Документ загружен успешно' )
									file = null;
								} else {
									toastr.error( 'Не могу загрузить документ' );
									toastr.info( data.body.desc );
									file = null;
								}
							}, err => {
								toastr.error( err )
								event.target.value = null;
							} )
					}
				} )
			},
			isDocument( name ) {
				return name.match( 'pdf' ) !== null;
			},
			replaceId( name ) {
				return _.replace( name.replace( '.', '' ), new RegExp( '[0-9]' ), '' )
			},
			dropDocument( event ) {
				this.utils.checkDocument( event ).then( res => {
					if ( res === undefined || res.status === undefined || res.status === false ) {
						return false;
					} else if ( 'status' in res && res.status ) {
						let documentType = event.target.dataset.type;
						let document = event.target.files[ 0 ];
						let documentFormData = new FormData();
						documentFormData.append( 'access_token', this.$cookie.get( 'access_token' ) );
						documentFormData.append( 'user_document_type', documentType );
						documentFormData.append( 'user_document_file', document );
						documentFormData.append( 'user_document_id', this.$route.params.woman );
						toastr.info( 'Начинаю загрузку документа' );
						this.$http.post( 'v2/document/upload/document', documentFormData )
							.then( data => {
								if ( data.body.status ) {
									console.log( data.body.result );
									let documentUploaded = data.body.result;
									if ( documentUploaded.document_type == 'passport_1' ) {
										this.passportDocument.push( documentUploaded )
									}
									if ( documentUploaded.document_type == 'photo_with_passport' ) {
										this.photoWithPassport.push( documentUploaded )
									}
									if ( documentUploaded.document_type == 'video_approve' ) {
										//this.videoApprove.push( documentUploaded )

										this.videoApprove.push({
					                        file_prev: "/dist/img/video.png",
					                        file_path: documentUploaded.file_path,
					                        id: documentUploaded.id});
									}
									toastr.success( 'Документ загружен успешно' )
									event.target.value = null;
								} else {
									toastr.error( 'Не могу загрузить документ' );
									toastr.info( data.body.desc );
									event.target.value = null;
								}
							}, err => {
								toastr.error( err )
								event.target.value = null;
							} )
					}
				} ).catch( err => {
					toastr.error( err.description );
					event.target.value = null;
					event = null;

				} )
			},
			removeDocument( id ) {
				App.confirm( 'Отметить документ неактивным?', cf => {
					if ( cf ) {
						this.$http.post( 'v2/document/disable/document', {
							access_token: this.$cookie.get( 'access_token' ),
							user_document_id: id
						} ).then( data => {
							if ( data.body.status ) {
								toastr.success( 'Документ отмечен неактивным' );
								setTimeout( () => {
									this.fetchDocument();
								}, 200 )
							} else {
								toastr.error( 'Не могу удалить документ' );
							}
						}, err => {
							toastr.error( 'Не могу удалить документ' );
						} )
					}
				} )
			},
			fetchDocument() {
				this.loading = true;
				this.passportDocument = [];
				this.photoWithPassport = [];
				this.videoApprove = [];
				this.$http.post( 'v2/document/search/document', {
					access_token: this.$cookie.get( 'access_token' ),
					user_id: this.$route.params.woman
				} ).then( data => {
					if ( data.body.status ) {
						let documents = data.body.result;
						documents.forEach( doc => {
							doc = doc.user_document;
							if ( doc.document_type == 'passport_1' || doc.document_type == 'passport_2' || doc.document_type == 'passport_3' || doc.document_type == 'passport_11' || doc.document_type == 'passport_14' ) {
								this.passportDocument.push( doc );
							}
							if ( doc.document_type == 'photo_with_passport' ) {
								this.photoWithPassport.push( doc )
							}
							if ( doc.document_type == 'video_approve' ) {
								// this.videoApprove.push( doc )
								this.videoApprove.push({
			                        file_prev: "/dist/img/video.png",
			                        file_path: doc.file_path,
			                        id: doc.id});
							}
						}, this )
					} else {
						toastr.error( 'Не могу загрузить список документов клиентки' );
						toastr.info( data.body.desc );
					}
					this.loading = false;
				}, err => {
					toastr.error( 'Не могу загрузить список документов клиентки' )
				} )
			},
		},
		computed: {},
		mounted() {
			this.fetchDocument()
		},
		components: {
			modalVideo,
			loader,
			LadyVideoGallery
		}
	}
</script>

<style>
</style>
