<template>
	<div>
		<div class="row margin-bottom">
			<div class="col-md-6">
				<div class="user-block user-block-md pull-left margin-right">
					<img class="img-circle" :src="user.avatar.small" :alt="user.name">
					<i v-show="user.camera == 'yes'" class="fa fa-video-camera text-blue icon-ava"></i>
					<i v-show="user.online" class="fa fa-sm fa-circle text-green"
					   style="margin-top: -6px; margin-left: -13px"></i>
					<span class="username" v-if="user.online" style="margin-top: -10px"> <a
							href="#">{{user.name}} {{user.surname}}</a> </span>
					<span class="username" v-else> <a href="#">{{user.name}} {{user.surname}}</a></span>
					<span class="description">ID: {{user.user_id}}</span>
				</div>
				<router-link :to="{name: 'Профиль клиентки', params: {woman:$route.params.woman }}" class="btn btn-sm btn-success  margin-top">
					<i class="fa fa-lg fa-eye"></i>
				</router-link>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<div class="nav-tabs-custom">
					<ul class="nav nav-tabs">
						<router-link exact tag="li" active-class="active" :to="{name: 'Изменение клиентки'}"><a>Главная</a></router-link>
						<router-link exact tag="li" active-class="active" :to="{name: 'Изменение клиентки - Контакты'}"><a>Контакты</a></router-link>
						<router-link exact tag="li" active-class="active" :to="{name: 'Изменение клиентки - Внешность'}"><a>Внешность</a></router-link>
						<router-link exact tag="li" active-class="active" :to="{name: 'Изменение клиентки - Доп. инфо'}"><a>Дополнительная</a></router-link>
						<router-link exact tag="li" active-class="active" :to="{name: 'Изменение клиентки - Предпочтения'}"><a>Предпочтения</a></router-link>
						<router-link exact tag="li" active-class="active" :to="{name: 'Изменение клиентки - Фото'}"><a>Фото</a></router-link>
						<router-link exact tag="li" active-class="active" :to="{name: 'Изменение клиентки - Видео'}"><a>Видео</a></router-link>
						<router-link exact tag="li" active-class="active" :to="{name: 'Изменение клиентки - Документы'}"><a>Документы</a></router-link>
					</ul>
					<div class="tab-content">
						<router-view></router-view>
					</div>
				</div>
			</div>
		</div>

	</div>
</template>

<script>
	import toastr from 'toastr'
	export default {
		data() {
			return {
				user: {
					avatar: {

					}
				}
			}
		},
		methods: {
			fetchData() {
				this.$http.post('v2/female/get/small', {
					access_token: this.$cookie.get( 'access_token' ),
					user_id: this.$route.params.woman
				}).then(r => {
					if (r.body.status) {
						this.user = r.body.result
					} else {
						toastr.error('Возникла ошибка при получении данных профиля')
					}
				}, err => {
					console.log(err)
					toastr.error('Возникла ошибка при получении данных профиля')
				})
			}
		},
		created() {
			this.fetchData();
		},
		computed: {},
		components: {}
	}
</script>

<style>
</style>
