<template>
  <div>
    <loader v-if="loading"></loader>
    <template v-else="">
      <ul class="v-list v-list-sm-pad">
        <li><label class="col-md-7">Партнер <i class="fa fa-asterisk text-red" style="font-size: 9px;"></i></label>
          <div class="col-md-5">
            <app-select :options="displayedPartners" v-model="partner"
                        :placeholder="'Партнер'"
                        @select="selectPartnerCallback($event)"></app-select>
          </div>
        </li>
        <li><label class="col-md-7">Филиал </label>
          <div class="col-md-5">
            <app-select :options="displayedBranches" v-model="branch"
                        :placeholder="'Филиалы'"
                        @select="selectBranchCallback($event)">
            </app-select>
          </div>
        </li>
        <li><label class="col-md-7">Админ <i class="fa fa-asterisk text-red"
                                             style="font-size: 9px;"></i></label>
          <div class="col-md-5">
            <app-select :options="displayedAdmins" v-model="admin"
                        :placeholder="'Админ'"></app-select>
          </div>
        </li>
        <li><label class="col-md-7">Имя <i class="fa fa-asterisk text-red" style="font-size: 9px;"></i></label>
          <div class="col-md-5">
            <input type="text" class="form-control" v-model="name">
          </div>
        </li>
        <li><label class="col-md-7">Фамилия <i class="fa fa-asterisk text-red" style="font-size: 9px;"></i></label>
          <div class="col-md-5">
            <input type="text" class="form-control" v-model="surname">
          </div>
        </li>
        <li><label class="col-md-7">Отчество <i class="fa fa-asterisk text-red"
                                                style="font-size: 9px;"></i></label>
          <div class="col-md-5">
            <input type="text" class="form-control" v-model="middle_name">
          </div>
        </li>
        <li><label class="col-md-7">E-mail <i class="fa fa-asterisk text-red"
                                              style="font-size: 9px;"></i></label>
          <div class="col-md-5">
            <input disabled type="text" class="form-control"
                   v-model="email">
          </div>
        </li>
        <li><label class="col-md-7">Дата рождения <i class="fa fa-asterisk text-red"
                                                     style="font-size: 9px;"></i></label>
          <div class="col-md-5">
            <div class="input-group date d-t-picker" id="birthdayPicker">
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
              <input type="text" name="date_from" class="form-control from-sort">
            </div>
          </div>
        </li>
        <li>
          <label class="col-md-7">Паспорт <i class="fa fa-asterisk text-red"
                                             style="font-size: 9px;"></i></label>
          <div class="col-md-5">
            <input  type="text" class="form-control" v-model="passport" placeholder="Паспорт">

          </div>
        </li>
        <li><label class="col-md-7">Статус <i class="fa fa-asterisk text-red"
                                              style="font-size: 9px;"></i></label>
          <div class="col-md-5">
            <select name="" class="form-control" v-model="status">
              <option value="active">активный</option>
              <option value="banned">забаненный</option>
              <option value="deactivated">удалена</option>
              <option value="on_creating">на создании</option>
              <option value="not_moderated">не промодерирована</option>
              <option value="lock" disabled>заблокирована</option>
            </select>
          </div>
        </li>
        <li><label for="for-note" class="col-md-4">Примечание</label>
          <div class="col-md-8">
            <textarea class="form-control" id="for-note" rows="10" v-model="note"></textarea>
          </div>
        </li>
      </ul>
      <div class="clearfix text-right">
        <button type="button" class="btn btn-primary" @click="saveProfile">Сохранить</button>
      </div>
    </template>
  </div>
</template>

<script>
  import mySelect from '../../../custom/select2/select-new.vue'
  import toastr from 'toastr'
  import moment from 'moment'
  import loader from '../../../custom/normalPreloader/component.vue'

  export default {
    data() {
      return {
        passportType: '',
        usualPass: true,
        loading: true,
        birthday: '',
        name: '',
        surname: '',
        note: '',
        middle_name: '',
        partner: 0,
        branch: 0,
        admin: 0,
        status: '',
        allPartners: [],
        allBranches: [],
        allAdmins: []
      }
    },
    watch: {
      passportType( v ) {
        this.usualPass = !this.usualPass;
        this.passport = ''
      },
    },
    methods: {
      selectPartnerCallback( value ) {
        this.branch = this.admin = 0;
        if ( value ) {
          this.fetchAdminsByAgency( value );
          this.fetchBranchByAgency( value )
        }
      },
      selectBranchCallback( value ) {
        if ( !this.partner ) {
          this.admin = 0;
        }
        if ( value ) {
          this.fetchAdminsByAgency( value );
        }
      },
      fetchAdminsByAgency( id ) {
        this.$http.post( 'v2/agency/get/admin-in-agency', {
          access_token: this.$cookie.get( 'access_token' ),
          agency_id: id
        } ).then( data => {
          if ( data.body.status ) {
            this.allAdmins = data.body.result;
          } else {
            toastr.error( 'Не могу загрузить список админов' )
          }
        }, err => {
          toastr.error( 'Не могу загрузить список админов' );
          console.log( err );
        } );
      },
      fetchBranchByAgency( value ) {
        this.$http.post( 'v2/agency/get/branches', {
          access_token: this.$cookie.get( 'access_token' ),
        } ).then( data => {
          if ( data.body.status ) {
              this.allBranches = data.body.result.filter( ({ duty_agency_id: id }) => +id === value)
          }
        } )
      },
      fetchPartner() {
        this.$http.post( 'v2/agency/get/list', {
          access_token: this.$cookie.get( 'access_token' )
        } ).then( data => {
          if ( data.body.status ) {
            this.allPartners = data.body.result;
          } else {
            toastr.error( 'Не могу загрузить список партнеров' )
            toastr.info( data.body.desc );
          }
        }, err => {
          toastr.error( 'Не могу загрузить список партнеров' )
        } )
      },
      fetchData() {
        this.loading = true;
        this.$http.post( 'v2/female/get/one', {
          access_token: this.$cookie.get( 'access_token' ),
          user_id: this.$route.params.woman
        } ).then( data => {
          if ( data.body.status ) {
            let womanData = data.body.result;
            if ( womanData.general.passport.length > 8 ) {
              this.passportType = 'passportBio'
            }
            else {
              this.passportType = ''
            }
            if ( womanData.general.birthday !== null ) {
              this.birthday = womanData.general.birthday * 1000 + '';
            }
            this.branch = womanData.general.branch.id;
            if ( womanData.general.admin.exist ) {
              this.admin = womanData.general.admin.id;
            } else {
              this.admin = 0;
            }
            this.partner = womanData.general.agency.id;
            this.fetchPartner();
            this.fetchBranchByAgency( this.partner );
            this.fetchAdminsByAgency( this.branch || this.partner );


            this.name = womanData.main.first_name;
            this.surname = womanData.main.surname;
            this.middle_name = womanData.main.middle_name;
            this.email = womanData.general.email;
            this.status = womanData.general.status;
            this.passport = womanData.general.passport;
            this.note = womanData.general.note;
          } else {
            toastr.error( 'Не могу загрузить информацию о клиентке' )
          }
          this.loading = false;
          this.$nextTick(() => {
            this.initPicker();
          });
        }, err => {
          toastr.error( 'Не могу загрузить информацию о клиентке' )
        } )
      },
      initPicker() {
        $( "#birthdayPicker" ).datetimepicker( {
          useCurrent: false,
          defaultDate: moment( +this.birthday ),
          format: 'DD.MM.YYYY',
          locale: 'ru',
          widgetPositioning: {
            horizontal: "left"
          }
        } );
        $( '#birthdayPicker' ).on( "dp.change", ( e ) => {
          let date = e.date;
          console.log(date._d)
          if ( e.date ) {
            this.birthday = moment( date._d ).format( 'DD.MM.YYYY' );
          } else {
            this.birthday = null
          }
        } );
      },
      validate() {
        return new Promise( ( resolve, reject ) => {
          if ( this.note === '' ) {
            reject( {
              desc: 'Поле примечание обязательно к заполнению'
            } )
          }
          if ( this.name === '' || this.name === null ) {
            reject( {
              desc: 'Поле имя обязательно к заполнению'
            } )
          }
          if ( this.surname === '' || this.surname === null ) {
            reject( {
              desc: 'Поле фамилия обязательно к заполнению'
            } )
          }
          if ( this.middle_name === '' || this.middle_name === null ) {
            reject( {
              desc: 'Поле отчество обязательно к заполнению'
            } )
          }
          if ( this.middle_name === '' ) {
            reject( {
              desc: 'Поле отчество обязательно к заполнению'
            } )
          }
          if ( this.passport === '' || this.passport === null ) {
            reject( {
              desc: 'Поле паспорт обязательно к заполнению'
            } )
          }

          if ( this.birthday === null || this.birthday === '' || this.birthday === 'null' ) {
            reject( {
              desc: 'Поле дата рождения обязательно к заполнению'
            } )
          }
          resolve( {
            birthday: +this.birthday ? moment.utc( +this.birthday ).format( 'X' ) : moment.utc( this.birthday, "DD-MM-YYYY" ).format( 'X' )
          } )
        } )
      },
      saveProfile() {
        this.validate().then( r => {

          this.$http.post( 'v2/female/edit-main-info', {
            birthday: r.birthday,
            access_token: this.$cookie.get( 'access_token' ),
            user_id: this.$route.params.woman,
            status: this.status,
            note: this.note,
            admin_id: this.admin || '',
            agency_id: this.branch || this.partner,
            name: this.name,
            surname: this.surname,
            middle_name: this.middle_name,
            passport: this.passport
          } ).then( data => {
            if ( data.body.status ) {
              toastr.success( 'Основная информация обновлена' )
            } else {
              toastr.error( 'Не могу обновить основную информацию о клиентке' )
              toastr.info( data.body.desc )
            }
          }, err => {
            console.log( err );
            toastr.error( 'Возникла ошибка при выполнении запроса. Обратитесь в тех. поддержку' )
          } )
        } ).catch( r => {
          toastr.error( r.desc || r.name )
        } )
      }
    },
    computed: {
      displayedPartners() {
        return this.allPartners.map( i => {
          return {
            id: +i.id,
            name: `${i.name} (id: ${i.id})`
          }
        } )
      },
      displayedBranches() {
        return this.allBranches.map( i => {
          return {
            id: +i.id,
            name: `${i.name} (id: ${i.id})`
          }
        } )
      },
      displayedAdmins() {
        return this.allAdmins.map( i => {
          if ( i.admin_name ) {
            return {
              id: +i.admin_user_id,
              name: `${(i.admin_name.trim() + ' ' + i.admin_surname.trim()).trim()} (id: ${i.admin_user_id})`
            }
          }
          return {
            id: +i.id,
            name: `${i.name.trim()} (id: ${i.id})`
          }
        } )
      },
    },
    mounted() {
      this.fetchData()
    },
    components: {
      appSelect: mySelect,
      loader
    }
  }
</script>

<style>
</style>
