<template>
	<div>
		<loader v-if="!photosLoading"></loader>
		<template v-show="photosLoading">
          <ul class="v-list v-list-sm-pad" v-for="(photo, photoKey) in photos" :key="photoKey" v-if="photo.data.length > 0">
            <li class="header text-bold" :class="getClass(photoKey)">

              <div for="for-site" class="col-md-7">
                {{ getPhotosTitle(photoKey) }}
                <span v-if="photoKey === 'public_photo' || photoKey === 'private_photo'" class="text-muted small margin-top">(параметры фото: 720x720 px, не более 2 Mb)</span>
              </div>

              <div class="col-md-5 text-right" v-if="photoKey === 'avatars'">
                  <span class="load-file-link">
                      <input type="file" name="mydocs[]" class="file-loader" data-nav=".photo-list-ava">
                      <span class="upload-text-wrapp"></span>
                  </span>
              </div>

              <div class="col-md-5 text-right" v-if="photoKey === 'public_photo'">
                <div class="load-file-link" v-show="!drag">
                  <span class="upload-text-wrapp" style="margin-right: 15px;" @click="savePublicPhotosQueue">
                      Обновить очередь <i class="fa fa-refresh text-blue" :class="{'fa-spin': updatingQueue}"></i>
                  </span>
                </div>
                <span class="load-file-link">
                    <input type="file" name="mydocs[]"
                           class="file-loader"
                           @change="dropNewPhoto"
                           data-type="public"
                           data-nav=".photo-list-public">
                    <span class="upload-text-wrapp">
                        Загрузить <i class="fa fa-download text-blue"></i>
                    </span>
                </span>
              </div>

              <div class="col-md-5 text-right" v-if="photoKey === 'private_photo'">
						<span class="load-file-link">
							<input type="file" name="mydocs[]"
                                   class="file-loader"
                                   @change="dropNewPhoto"
                                   data-type="private"
                                   data-nav=".photo-list-private"> <span
                            class="upload-text-wrapp"> Загрузить <i
                            class="fa fa-download text-blue"></i>
						</span>
						</span>
              </div>

            </li>


            <li v-if="photoKey === 'public_photo'">
              <draggable
                  v-if="photosPublic.length > 0"
                  v-model="photosPublic"
                  tag="nav"
                  v-bind="dragOptions"
                  @start="drag = true"
                  @end="updateQueue"
                  class="photo-nav photo-list photo-list-public"
              >
                  <a v-for="(photo, i) in photosPublic"
                     :name="!drag ? 'flip-list' : null"
                     :href="photo.file_url_origin"
                     :key="i">
                    <img :src="photo[photoUrlType(photoKey)]">
                    <span class="bottom-data id photo-id-span">ID: {{photo.id}}</span>
                    <span class="fa fa-times-circle del-photo" @click.stop.prevent="deletePhoto(photo.id, photoKey)"></span>
                    <span @click.prevent.stop="setAsAvatar(photo.id)" class="btn btn-block btn-warning btn-xs margin-top-sm set-ava-src"
                          style="height: 20px; margin: 5px 0; line-height: 5px; padding-top: 3px !important; top: 60px;"> Как аватар
                                </span>
                  </a>
              </draggable>

              {{ photosPublic.length }} {{ photoKey }}
              <button
                  v-if="photos[photoKey].hasMore && photo.data.length > 0"
                  @click="loadMore(photoKey, true)"
                  :disabled="photos[photoKey].loader"
                  class="show-more-btn"
              >
                <small-loader class="display-inline-block" v-if="photos[photoKey].loader" :size=20></small-loader> Показать еще
              </button>
            </li>

            <li v-else>
              <nav class="photo-nav photo-list" :class="`lightGallery-list-`+photoKey">
                <a v-for="(photo, k) in photo.data" :key="k" :href="photo.file_url_origin">
                  <img :src="photo[photoUrlType(photoKey)]"  alt="photo" />
                  <span class="bottom-data id photo-id-span">ID: {{ photo.id }}</span>
                  <span
                      v-if="photoKey !== 'avatars' &&
                      photoKey !== 'trash_photo' &&
                      photoKey !== 'photo_on_delete' &&
                      photoKey !== 'avatar_on_moderate'"
                      class="fa fa-times-circle del-photo" @click.stop.prevent="deletePhoto(photo.id, photoKey)">
                  </span>
                </a>
              </nav>
              <button
                  v-if="photos[photoKey].hasMore && photo.data.length > 0"
                  @click="loadMore(photoKey)"
                  :disabled="photos[photoKey].loader"
                  class="show-more-btn"
              >
                <small-loader class="display-inline-block" v-if="photos[photoKey].loader" :size=20></small-loader> Показать еще
              </button>
            </li>
          </ul>
		</template>
	</div>
</template>

<script>
	import toastr from 'toastr'
	import loader from '../../../custom/normalPreloader/component.vue'
	import _ from 'lodash'
    import draggable from "vuedraggable";
    import { mapGetters } from 'vuex';
    import SmallLoader from '@/components/custom/MoonLoaderNew.vue'

	export default {
		data() {
			return {
                drag: false,
				galleries: '',
				// loading: true,
				// photosPrivate: [],
				// photosPublic: [],
				// publicOnModeration: [],
				// avatarsOnModeration: [],
				// privateOnModeration: [],
				// photosReject: [],
                // photosTrash: [],
				// privateRejectedPhotos: [],
				// publicRejectedPhotos: [],
				// photosToDeleting: [],
				updatingQueue: false
			}
		},
		methods: {
            updateQueue() {
              this.$store.commit('updatePhotos', {
                objectName: 'profilePhotos',
                type: 'public_photo',
                data: this.photosPublic,
                reset: true
              });

              this.drag = false;
            },
			// turnLeft(index) {
			// 	let tmp = this.photosPublic.splice(index, 1)[0];
			// 	this.photosPublic.splice(index - 1, 0, tmp)
			// },
			// turnRight(index) {
			// 	let tmp = this.photosPublic.splice(index, 1)[0];
			// 	this.photosPublic.splice(index + 1, 0, tmp)
			// },
			initGallery() {
				if ( this.galleries ) {
					let tmp = [].slice.call(this.galleries);
					tmp.forEach(i => {
						$(i).data('lightGallery').destroy(true);
					})
				}
				setTimeout( () => {
					this.galleries = $( '.photo-nav' ).lightGallery( );
				}, 300 );
			},
			deletePhoto( id, type) {
				App.confirm(
            'Фото будет удалено без модерации. Вы уверены, что хотите удалить это фото?',
            response => {
					if ( response ) {
						this.$http.post( 'v2/female/remove-photo', {
							access_token: this.$cookie.get( 'access_token' ),
							user_id: this.$route.params.woman,
							photo_id: id
						} ).then( data => {
							if ( data.body.status ) {
								toastr.success( 'Фото удaлено успешно' )

                                this.fetchPhotos(type, this.$route.params.woman, true);
							} else {
								toastr.error( 'Не могу удалить фото' )
								toastr.info( data.body.desc );
							}
						}, err => {
							toastr.error( 'Не могу удалить фото' )
						} )
					}
				} )
			},
			setAsAvatar( photoId ) {
				this.$http.post( 'v2/female/establish/avatar', {
					access_token: this.$cookie.get( 'access_token' ),
					user_id: this.$route.params.woman,
					photo_id: photoId
				} ).then( data => {
					if ( data.body.status ) {

                        this.fetchPhotos('avatar_on_moderate', this.$route.params.woman, true);

						toastr.success( 'Аватар отправлен на модерацию' )
					} else {
						toastr.error( 'Не могу установить фото как аватар' )
					}
				}, err => {
					toastr.error( 'Не могу установить фото как аватар' )
				} )
			},
            fetchPhotos(type = 'all', userId = this.$route.params.woman, reset = true) {
              this.$store.dispatch('loadPhotos', {
                objectName: 'profilePhotos',
                type: type,
                userId: userId,
                reset: reset,
              });
            },
            loadMore(type, drog) {
              const isFirstLoad = !this.photos[type].data?.length;

              this.$store.dispatch('loadPhotos', {
                objectName: 'profilePhotos',
                type,
                userId: this.$route.params.woman,
                reset: isFirstLoad,
              }).then(() => {
                this.initGallery();
                if(drog){

                }
              }).catch((error) => {
                console.error('Ошибка при загрузке фотографий:', error);
              });
            },
			savePublicPhotosQueue() {
				this.updatingQueue = true;

                this.photosPublic.forEach((item, index) => {
                  item.number_in_queue = null;
                });

				this.$http.post('v2/member/establish/photo-order', {
					access_token: this.$cookie.get( 'access_token' ),
					user_id: this.$route.params.woman,
					photo_queue: JSON.stringify(this.photosPublic)
				}).then(r => {
					if (r.body.status) {
						toastr.success( 'Очередь публичных фотографий клиентки успешно обновлена' );

                        // this.fetchPhotos('public_photo', this.$route.params.woman, true);

					} else {
						toastr.error( 'Не могу обновить очередь публичных фото клиенкти' );
						toastr.info( data.body.desc );

					}
					this.updatingQueue = false;
				}, err => {
					toastr.error( 'Не могу обновить очередь публичных фото клиенкти' );
					this.updatingQueue = false;
				})
			},
			dropNewPhoto( event ) {
				this.utils.checkImage( event ).then( res => {
					if ( res === undefined || res.status === undefined || res.status === false ) {
						return false;
					} else if ( 'status' in res && res.status ) {
						let albumType = event.target.dataset.type;
						if ( albumType == 'public' || albumType == 'private' ) {
							let photoFile = event.target.files[ 0 ];
							let newPhotoFormData = new FormData();
							newPhotoFormData.append( 'user_id', this.$route.params.woman )
							newPhotoFormData.append( 'access_token', this.$cookie.get( 'access_token' ) )
							newPhotoFormData.append( 'album_type', albumType );
							newPhotoFormData.append( 'image', photoFile );
							toastr.info( 'Начинаю загрузку фото' );
							this.$http.post( 'v2/female/upload-photo', newPhotoFormData )
								.then( data => {
									if ( data.body.status ) {

                                        this.fetchPhotos(`${albumType}_on_moderate`, this.$route.params.woman, true);

										setTimeout( () => {
											toastr.success( 'Фото успешно загружено' )
											event.target.value = null;
											event = null;

										}, 300 );
									} else {
										toastr.error( 'Не удалось загрузить фотографию' );
										event.target.value = null;
										event = null;
										toastr.info( data.body.desc );
									}
								}, err => {
									toastr.error( 'Не удоалось загрузить фотографию' );
									event.target.value = null;
									event = null;
									console.log( err )
								} )
						} else {
							toastr.error( 'Не верный тип альбома' );
							event.target.value = null;
							event = null;
						}
					}
				} ).catch( err => {
					toastr.error( err.description );
					event.target.value = null;
					event = null;

				} )
			},
		},
		computed: {
            ...mapGetters([
              'profilePhotos',
              'getPhotosTitle',
              'getClass',
              'photoUrlType'
            ]),
            photos(){
              return this.profilePhotos;
            },
            photosPublic: {
              get() {
                return this.photos['public_photo'].data;
              },
              set(value) {
                this.$store.commit('updatePhotos', { objectName: 'profilePhotos', type: 'public_photo', data: value, reset: true });
              }
            },
            photosLoading() {
              return this.$store.getters.photosLoaded('profilePhotos');
            },
            dragOptions() {
                return {
                    animation: 200,
                    group: "description",
                    disabled: false,
                    ghostClass: "ghost"
                }
            }
		},
		mounted() {
			this.fetchPhotos()
		},
        watch: {
          photosLoading(val) {
            if (val) {
              this.initGallery();
            }
          },
          $route (to, from) {
            this.$store.commit('resetPhotosData', { objectName: 'profilePhotos', type: 'all' });
          }
        },
		components: {
          'small-loader': SmallLoader,
          loader,
          draggable,
		},
        destroyed() {
          this.$store.commit('resetPhotosData', { objectName: 'profilePhotos', type: 'all' })
        }
	}
</script>

<style scoped lang="scss">
	.photo-list-public {
		> a {
			position: relative;
			&:hover {
				.photos-nav__nav {
					display: flex;
				}
			}
		}
		.photos-nav__nav {
			display: none;
			position: absolute;
			justify-content: space-between;
			width: 100%;
			top: 30%;
			left: 0;
			color: #ffffff;
			line-height: 1;
			text-shadow: 1px 0 2px #000;
			> span {
				flex: 0 0 33%;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			.ch-nav {
				padding: 4px;
				opacity: .8;
				&:hover {
					opacity: 1;
				}
			}
		}
	}
    .ghost {
        opacity: 0.1;
        box-shadow: 0 0 0 3px #0a78dd;
    }
    .flip-list-move {
        transition: transform 0.5s;
    }
    .no-move {
        transition: transform 0s;
    }
    .list-group-item {
        cursor: move;
    }
    .list-group-item i {
        cursor: pointer;
    }
</style>
