<template>
	<div>
		<loader v-if="loading"></loader>
		<template v-else="">
			<ul class="v-list v-list-sm-pad">
				<li><label class="col-md-7">Любимые цветы</label>
					<div class="col-md-5">
						<multiselect v-model="selectedFlowers" :options="flowersList" :multiple="true"
									 placeholder="Type to search" track-by="name" label="value">
							<span slot="noResult">Извините, ничего не найдено</span>
						</multiselect>
					</div>
				</li>
				<li><label class="col-md-7">Домашнее животное</label>
					<div class="col-md-5">
						<multiselect
								v-model="selectedPet"
								:options="petList"
								:multiple="true"
								:close-on-select="true"
								track-by="name"
								:custom-label="customLabel">
						</multiselect>
					</div>
				</li>
				<li><label class="col-md-7">Любимый праздник</label>
					<div class="col-md-5">
						<multiselect
								v-model="selectedCelebration"
								:options="celebrationList"
								:multiple="true"
								track-by="name"
								:custom-label="customLabel">
						</multiselect>
					</div>
				</li>
				<li><label class="col-md-7">Цели <i class="fa fa-asterisk text-red"
																	  style="font-size: 9px;"></i></label>
					<div class="col-md-5">
						<multiselect
								v-model="selectedTarget"
								:options="targetList"
								:multiple="true"
								track-by="name"
								:custom-label="customLabel">
						</multiselect>
					</div>
				</li>
				<li><label class="col-md-7">Интересы <i class="fa fa-asterisk text-red"
														style="font-size: 9px;"></i></label>
					<div class="col-md-5">
						<input type="text" class="form-control" placeholder="Интересы"
							   v-model="interests">
					</div>
				</li>
				<li><label class="col-md-4">Обо мне <i class="fa fa-asterisk text-red"
													   style="font-size: 9px;"></i></label>
					<div class="col-md-8">
						<textarea type="text" placeholder="Обо мне" class="form-control"
								  v-model="about_me" rows="10"
								  style="resize: none"> </textarea>
					</div>
				</li>

				<li><label class="col-md-7">Возраст мужчины <i class="fa fa-asterisk text-red"
															   style="font-size: 9px;"></i></label>
					<div class="col-md-5">
						<div class="input-group separator">
							<input type="number" class="form-control" style="z-index:0;"
								   v-model="about_man_age_from" placeholder="Возраст от">
							<div class="input-group-addon">-</div>
							<input type="number" class="form-control" style="z-index:0;"
								   v-model="about_man_age_to" placeholder="Возраст до">
						</div>
					</div>
				</li>
				<li><label for="for-note" class="col-md-4">Опиание мужчины <i
						class="fa fa-asterisk text-red" style="font-size: 9px;"></i></label>
					<div class="col-md-8">
						<textarea name="" placeholder="Описание мужчины" class="form-control"
								  id="for-note" rows="10" v-model="about_man" style="resize: none"></textarea>
					</div>
				</li>
			</ul>
			<div class="clearfix text-right">
				<button type="button" class="btn btn-primary" @click="saveProfile">Сохранить</button>
			</div>
		</template>
	</div>
</template>

<script>

	import toastr from 'toastr'
	import _ from 'lodash'
	import loader from '../../../custom/normalPreloader/component.vue'

	export default {
		data() {
			return {
				loading: true,
				interests: '',
				about_me: '',
				about_man_age_from: '',
				about_man_age_to: '',
				about_man: '',
				selectedFlowers: [],
				flowersList: [
					{ name: 'flowers_red_roses', value: 'Red roses' },
					{ name: 'flowers_white_roses', value: 'White roses' },
					{ name: 'flowers_pink_roses', value: 'Pink roses' },
					{ name: 'flowers_gerbera', value: 'Gerbera' },
					{ name: 'flowers_chrysanthemum', value: 'Chrysanthemum' },
				],
				selectedPet: [],
				petList: [
					{ name: 'pet_dog', value: 'Dog' },
					{ name: 'pet_cat', value: 'Cat' },
					{ name: 'pet_hamster', value: 'Hamster' },
					{ name: 'pet_aquarium_fish', value: 'Aquarium fish' },
					{ name: 'pet_parrot', value: 'Parrot' },
					{ name: 'pet_turtle', value: 'Turtle' },
					{ name: 'pet_snake', value: 'Snake' },
					{ name: 'pet_iguana', value: 'Iguana' },
					{ name: 'pet_chinchilla', value: 'Chinchilla' },
					{ name: 'pet_rabbit', value: 'Rabbit' },
				],
				selectedTarget: [],
				targetList: [
					{ name: 'target_friendship', value: 'Friendship' },
					{ name: 'target_communication', value: 'Communication' },
					{ name: 'target_journey', value: 'Journey' },
					{ name: 'target_flirtation', value: 'Flirtation' },
					{ name: 'target_meeting', value: 'Meeting' },
					{ name: 'target_family', value: 'Family' },
					{ name: 'target_children', value: 'Children' }
				],
				selectedCelebration: [],
				celebrationList: [
					{ name: 'celebration_birthday', value: 'Birthday' },
					{ name: 'celebration_christmas_day', value: 'Christmas Day' },
					{ name: 'celebration_new_years_day', value: 'New years Day' },
					{ name: 'celebration_easter', value: 'Easter' },
					{ name: 'celebration_valentines_day', value: 'Valentines Day' },
					{ name: 'celebration_halloween', value: 'Halloween' },
					{ name: 'celebration_womens_day', value: 'Women\'s Day' }
				],
			}
		},
		methods: {
			customLabel ( option ) {
				return `${option.value}`
			},
			limitText ( count ) {
				return `and ${count} other countries`
			},
			fetchData() {
				this.loading = true;
				this.$http.post( 'v2/female/get/one', {
					access_token: this.$cookie.get( 'access_token' ),
					user_id: this.$route.params.woman
				} ).then( data => {
					if ( data.body.status ) {
						let womanData = data.body.result;

						let preferences = womanData.preferences;
						for ( let pref in preferences ) {
							if ( pref.match( 'flowers_' ) ) {
								if ( preferences[ pref ] == 1 ) {

									let prefName = pref;
									prefName = pref.replace( '_', ' ' ).replace( '_', ' ' ).replace( 'flowers ', '' );
									prefName[ 0 ].toUpperCase();
									prefName.charAt( 0 ).toUpperCase();
									this.selectedFlowers.push( {
										name: pref,
										value: _.startCase( prefName )
									} )
								}
							}
							if ( pref.match( 'pet_' ) ) {
								if ( preferences[ pref ] == 1 ) {
									let prefName = pref;
									prefName = pref.replace( '_', ' ' ).replace( '_', ' ' ).replace( 'pet ', '' );
									prefName[ 0 ].toUpperCase();
									prefName.charAt( 0 ).toUpperCase();
									this.selectedPet.push( {
										name: pref,
										value: _.startCase( prefName )
									} )
								}
							}
							if ( pref.match( 'target_' ) ) {
								if ( preferences[ pref ] == 1 ) {
									let prefName = pref;
									prefName = pref.replace( '_', ' ' ).replace( '_', ' ' ).replace( 'target_ ', '' );
									prefName[ 0 ].toUpperCase();
									prefName.charAt( 0 ).toUpperCase();
									this.selectedTarget.push( {
										name: pref,
										value: _.replace( _.startCase( prefName ), 'Target', '' )
									} )
								}
							}
							if ( pref.match( 'celebration_' ) ) {
								if ( preferences[ pref ] == 1 ) {
									let prefName = pref;
									prefName = pref.replace( '_', ' ' ).replace( '_', ' ' ).replace( '_', ' ' ).replace( 'celebration ', ' ' );
									this.selectedCelebration.push( {
										name: pref,
										value: _.startCase( prefName )
									} )
								}
							}
						}

						this.interests = womanData.preferences.interests;
						this.about_me = womanData.preferences.about_me;
						this.about_man_age_from = womanData.preferences.about_man_age_from;
						this.about_man_age_to = womanData.preferences.about_man_age_to;
						this.about_man = womanData.preferences.about_man;
					} else {
						toastr.error( 'Не могу загрузить информацию о клиентке' )
					}
					this.loading = false;
				}, err => {
					toastr.error( 'Не могу загрузить информацию о клиентке' )
				} )
			},
			validate() {
				return new Promise( ( resolve, reject ) => {
					if ( !this.selectedTarget.length ) {
						reject( {
							desc: 'Поле цели обязательно к заполнению'
						} )
					}
					if ( !this.interests  ) {
						reject( {
							desc: 'Поле интересы обязательно к заполнению'
						} )
					}
					if ( !this.about_me ) {
						reject( {
							desc: 'Поле обо мне обязательно к заполнению'
						} )
					}
					if ( !this.about_man_age_from  ) {
						reject( {
							desc: 'Поле возраст мужчины обязательно к заполнению'
						} )
					}
					if ( !this.about_man_age_to ) {
						reject( {
							desc: 'Поле возраст мужчины обязательно к заполнению'
						} )
					}
					if ( !this.about_man ) {
						reject( {
							desc: 'Поле о мужчине обязательно к заполнению'
						} )
					}
					resolve()
				} )
			},
			saveProfile() {
				this.validate().then( r => {

					let prefData = new FormData();
					prefData.append( 'access_token', this.$cookie.get( 'access_token' ) );
					prefData.append( 'user_id', this.$route.params.woman );
					prefData.append( 'about_man_age_from', this.about_man_age_from );
					prefData.append( 'about_man_age_to', this.about_man_age_to );
					prefData.append( 'about_man', this.about_man );
					prefData.append( 'about_me', this.about_me );
					prefData.append( 'interests', this.interests );

					let pets = this.selectedPet;
					let allPets = this.petList;
					let petsSimpleArray = [];
					for ( let i = 0; i < pets.length; i++ ) {
						petsSimpleArray.push( pets[ i ].name )
					}
					allPets.forEach( pet => {
						if ( petsSimpleArray.indexOf( pet.name ) != -1 ) {
							prefData.append( pet.name, 1 )
						} else {
							prefData.append( pet.name, "0" )
						}
					} );

					let flowers = this.selectedFlowers;
					let allFlowers = this.flowersList;
					let flowersSimpleArray = [];
					for ( let i = 0; i < flowers.length; i++ ) {
						flowersSimpleArray.push( flowers[ i ].name )
					}
					allFlowers.forEach( flower => {
						if ( flowersSimpleArray.indexOf( flower.name ) != -1 ) {
							prefData.append( flower.name, 1 )
							console.log( flower.name )
						} else {
							console.log( flower.name )
							prefData.append( flower.name, "0" )
						}
					} );

					let targets = this.selectedTarget;
					let allTargets = this.targetList;
					let targetsSimpleArray = [];
					for ( let i = 0; i < targets.length; i++ ) {
						targetsSimpleArray.push( targets[ i ].name )
					}
					allTargets.forEach( target => {
						console.log( target );
						if ( targetsSimpleArray.indexOf( target.name ) != -1 ) {
							prefData.append( target.name, 1 )
						} else {
							prefData.append( target.name, "0" )
						}
					} );

					let celebrations = this.selectedCelebration;
					let allCelebrations = this.celebrationList;
					let celebrationsSimpleaArray = [];
					for ( let i = 0; i < celebrations.length; i++ ) {
						celebrationsSimpleaArray.push( celebrations[ i ].name )
					}
					allCelebrations.forEach( celebrate => {
						if ( celebrationsSimpleaArray.indexOf( celebrate.name ) != -1 ) {
							prefData.append( celebrate.name, 1 );

							console.log( celebrate.name )
						} else {
							prefData.append( celebrate.name, "0" )
						}
					} );

					this.$http.post( 'v2/female/edit-user-preference', prefData ).then( data => {
						if ( data.body.status ) {
							toastr.success( 'Доп. информация клиентки обновлена' )
						} else {
							toastr.error( 'Не могу обновить доп. информацию клиентки' )
							toastr.info( data.body.desc )
						}
					}, err => {
						console.log( err );
						toastr.error( 'Возникла ошибка при выполнении запроса. Обратитесь в тех. поддержку' )
					} )
				} ).catch( r => {
					toastr.error( r.desc || r.name )
				} )
			},
		},
		computed: {},
		mounted() {
			this.fetchData();
		},
		components: {
			Multiselect: window.VueMultiselect.default,
			loader
		}
	}
</script>

<style>
</style>
