
<template>
	<div>
		<loader v-if="videoLoader"></loader>
		<template v-else="">
			<ul class="v-list v-list-sm-pad">
				<li class="header">
					<div class="col-md-7">
						Публичные видео
					</div>
					<div class="col-md-5 text-right">
						<div class="load-file-link">
							<span class="upload-text-wrapp" style="margin-right: 15px;" @click="changeSortVideo">
								Обновить очередь <i class="fa fa-refresh text-blue" :class="{'fa-spin': updatingQueue}"></i>
							</span>
						</div>
						<span class="load-file-link">
							<span class="upload-text-wrapp" @click="updateUploadVideoModal('public')">
								Загрузить <i class="fa fa-download text-blue"></i>
							</span>
						</span>
					</div>
				</li>
				<li>
					<lady-video-gallery
                        :videos="videosPublic"
                        :has-sort-button="true"
                        :delete-icon="true"
                        :lady-id="ladyId"
                        @deletedVideo="deleteVideo($event)"
                    />
				</li>

				<li class="header">
					<div for="for-site" class="col-md-7">Приватные видео </div>
					<div class="col-md-5 text-right">
						<span class="load-file-link">
							<span
								@click="updateUploadVideoModal('private')"
                                @changesort="changeSortVideo('private')"
								class="upload-text-wrapp"> Загрузить <i
								class="fa fa-download text-blue"></i>
						    </span>
						</span>
					</div>
				</li>
				<li>
					<lady-video-gallery
                        :videos="videosPrivate"
                        :delete-icon="true"
                        :lady-id="ladyId"
                        @deletedVideo="deleteVideo($event)"
                    />
				</li>

				<li class="header">
					<div for="for-site" class="col-md-7">
						<span class="header text-yellow">Публичные видео на модерации</span>
					</div>
				</li>
				<li>
					<lady-video-gallery
                        :videos="videosPublicOnModeration"
                        :delete-icon="true"
                        :lady-id="ladyId"
                        @deletedVideo="deleteVideo($event)"
                    />
				</li>

				<li class="header">
					<div for="for-site" class="col-md-7">
						<span class="header text-yellow">Приватные видео на модерации</span>
					</div>
				</li>
				<li>
					<lady-video-gallery
                        :videos="videosPrivateOnModeration"
                        :delete-icon="true"
                        :lady-id="ladyId"
                        @deletedVideo="deleteVideo($event)"
                    />
				</li>

				<li class="header">
					<div for="for-site" class="col-md-7">
						<span class="header text-red">Отклоненные публичные видео</span>
					</div>
				</li>
				<li>
					<lady-video-gallery
                        :videos="publicRejectedVideos"
                        :delete-icon="true"
                        :lady-id="ladyId"
                        @deletedVideo="deleteVideo($event)"
                    />
				</li>

				<li class="header">
					<div class="col-md-7">
						<span class="header text-red">Отклоненные приватные видео</span>
					</div>
				</li>
				<li>
					<lady-video-gallery
                        :videos="privateRejectedVideos"
                        :delete-icon="true"
                        :lady-id="ladyId"
                        @deletedVideo="deleteVideo($event)"
                    />
				</li>

				<li class="header">
					<div for="for-site" class="col-md-7">
						<span class="header text-red">Видео на удаление</span>
					</div>
				</li>
				<li>
					<lady-video-gallery
                        :videos="videosToDeleting"
                        :delete-icon="true"
                        :lady-id="ladyId"
                        @deletedVideo="deleteVideo($event)"
                    />
				</li>
			</ul>
		</template>
		<upload-video-modal/>
		<modal-video/>
	</div>
</template>

<script>
	import { mapGetters } from 'vuex';
	import LadyVideoGallery from '../../../content/girls/parts/VideoGallery.vue';
	import ModalVideo from '../../../modals/PlayVideoModal';
	import UploadVideoModal from '../../../modals/UploadVideoModal';
	import toastr from 'toastr'

	export default {
    name: 'Video',
    components: {
        LadyVideoGallery,
        UploadVideoModal,
        ModalVideo
    },
    data () {
        return {
            updatingQueue: false,
            tipOnCreate: 'test tip for creation',
            videoLoader: false
        };
    },
    computed: {
        ...mapGetters([
            'lady',
            'videosPublic',
            'videosPrivate',
            'videosPublicOnModeration',
            'videosPrivateOnModeration',
            'privateRejectedVideos',
            'publicRejectedVideos',
            'videosToDeleting'
        ]),
        ladyId () {
            return +this.$route.params.woman;
        },
        ladyStatus () {
            return this.lady.general.status;
        },
        isLadyOnCreate () {
            return this.ladyStatus === this.modStatusCreate;
        }
    },
    created () {
        this.videoLoader = false;
        this.loadVideos()
            .catch(() => {
                toastr.error('Ошибка загрузки!');
            })
            .finally(() => {
                this.videoLoader = false;
            });
    },
    methods: {
        updateUploadVideoModal (type) {
            this.$store.commit('updateUploadVideoModal', {
                open: true,
                config: { type, ladyId: this.$route.params.woman }
            });
        },
        loadVideos () {
            return this.$store.dispatch('getLadyVideos', {'access_token': this.$cookie.get('access_token'), 'user_id': this.$route.params.woman});
        },
        changeSortVideo (){
            let sortedList = this.videosPublic.map(video => {
                return video.id
            });

            this.$store.dispatch('updateVideoSort', {
                'access_token': this.$cookie.get('access_token'),
                'user_id': this.$route.params.woman,
                'video_queue': JSON.stringify(sortedList)
            })
                .then(({ status, desc }) => {
                    if (status) {
                        toastr.success(desc);
                    } else {
                        throw new Error(desc);
                    }
                })
                .catch(({ message }) => {
                    toastr.error(message);
             });
        }
    }
};
</script>

