<template>
    <div>
        <h2 class="page-header"><i class="fa fa-plus"></i> Новый вебмастер</h2>
        <div class="row">
            <div class="col-md-7">
                <form action=""
                      method="POST"
                      class="form-horizontal">
                    <div class="nav-tabs-custom">
                        
                        <div class="tab-content no-padding">
                            <div class="active tab-pane"
                                 id="main-tab">
                                <ul class="v-list v-list-sm-pad">
                                    <li>
                                        <label
                                               class="col-md-7">Название <i class="fa fa-asterisk text-red" style="font-size: 9px;"></i></label>
                                        <div class="col-md-5">
                                            <input type="text"
                                                   class="form-control"
                                                   placeholder="Название"
                                                   v-model="name">
                                        </div>
                                    </li>

                                    <li>
                                        <label
                                               class="col-md-7">E-mail <i class="fa fa-asterisk text-red" style="font-size: 9px;"></i></label>
                                        <div class="col-md-5">
                                            <input type="text"
                                                   class="form-control"
                                                   placeholder="Email"
                                                   v-model="email">
                                        </div>
                                    </li>

                                    

                                    

                                    <li>
                                        <label  class="col-md-7">Паспорт <i class="fa fa-asterisk text-red" style="font-size: 9px;"></i></label>
                                        <div class="col-md-5">
                                            <input type="text"
                                                   class="form-control"
                                                   placeholder="Паспорт"
                                                   v-model="passport">
                                        </div>
                                    </li>

                                    <li>
                                        <label for="for-director"
                                               class="col-md-7">Имя<i class="fa fa-asterisk text-red" style="font-size: 9px;"></i></label>
                                        <div class="col-md-5">
                                            <input type="text"
                                                   class="form-control"
                                                   placeholder="Имя"
                                                   id="for-director"
                                                   v-model="firstName">
                                        </div>
                                    </li>

                                    <li>
                                        <label for="for-lastname"
                                               class="col-md-7">Фамилия<i class="fa fa-asterisk text-red" style="font-size: 9px;"></i></label>
                                        <div class="col-md-5">
                                            <input type="text"
                                                   placeholder="Фамилия"
                                                   class="form-control"
                                                   id="for-lastname"
                                                   v-model="surname">
                                        </div>
                                    </li>

                                    <li>
                                        <label for="for-middle-name"
                                               class="col-md-7">Отчество<i class="fa fa-asterisk text-red" style="font-size: 9px;"></i></label>
                                        <div class="col-md-5">
                                            <input type="text"
                                                   placeholder="Отчество"
                                                   class="form-control"
                                                   id="for-middle-name"
                                                   v-model="middleName">
                                        </div>
                                    </li>

                                    <li>
                                        <label for="for-note"
                                               class="col-md-4">Примечание</label>
                                        <div class="col-md-8">
                                            <textarea name=""
                                                      class="form-control"
                                                      id="for-note"
                                                      rows="10"
                                                      placeholder="Примечание"
                                                      v-model="note">
                                            </textarea>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- /.tab-pane -->

                            
                        </div>
                    </div>
                    <div class="clearfix text-right">
                        <a class="btn btn-primary" v-html="currentAction"
                           @click="nextTab"></a>
                    </div>
                </form>
            </div>
        </div>

    </div>
</template>

<script>
import Vue from 'vue'
import toastr from 'toastr'
export default {
    name: 'CreateWebmaster',
    data() {
        return {
            email: null,
            partnerPassport: null,
            name: null,
            firstName: null,
            surname: null,
            middleName: null,
            passport: null,
            note: null,
            currentTab: 1,
            currentAction: 'Сохранить',
            isLoading: false,
        }
    },
    watch: {
        
    },
    beforeMount() {
        
        
    },
    methods: {
        limitText (count) {
            return `and ${count} other countries`
        },
        
        
        changeTab(number) {
            this.currentTab = number;
            if(number === 2) {
                this.currentAction = 'Сохранить партнера';
            }else {
                this.currentAction = 'Дальше';
            }
        },
        
        nextTab() {
            
                if(this.name === '' || this.name === null) {
                    toastr.warning('Название обязательно поле');
                    return false;
                }
                if(this.email === '' || this.email === null || !this.utils.validateEmail(this.email)) {
                    if(this.email === '' || this.email === null) {
                        toastr.warning('Email обязательно поле');
                        return false;
                    }
                    if(!this.utils.validateEmail(this.email)) {
                        toastr.warning('Поле Email невалидное');
                        return false;
                    }
                }
                

                
                let newWebmasterForm = new FormData();
                newWebmasterForm.append('access_token', this.$cookie.get('access_token'));
                newWebmasterForm.append('email', this.email);
                newWebmasterForm.append('name', this.name);
                newWebmasterForm.append('first_name', this.firstName);
                newWebmasterForm.append('surname', this.surname);
                newWebmasterForm.append('middle_name', this.middleName);
                newWebmasterForm.append('note', this.note);
                newWebmasterForm.append('passport', this.passport);
                
                
                
                

                Vue.http.post('v2/webmaster/create/new', newWebmasterForm)
                    .then(createPartnerResponse => {
                        console.log(createPartnerResponse);
                        if(createPartnerResponse.body.status) {
                            this.$router.push('/webmaster/edit/' + createPartnerResponse.body.result.webmaster_id + '#main-tab')
                        }
                    }, err => {
                        toastr.error('Не могу создать вебмастера');
                        console.log(err);
                    })

            
        }
    },
    components: {
        
    }
}
</script>
