<template>
    <div>
        <div class="row margin-bottom">

            <div class="col-md-6">
            <h2 class="page-header"><i class="fa fa-edit"></i> {{webmasterName}} <span class="text-white">
                                    <router-link :to="'/webmaster/view/' + $route.params.id">
                        <span class="text-white">
                            <a class="btn btn-sm btn-success"><i class="fa fa-lg  fa-eye"  style="color: #fff"></i></a>
                        </span>
                    </router-link>
                                </span></h2>

            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <form action="" method="POST" class="form-horizontal">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#main-tab" @click="changeTab(0)" data-toggle="tab">Главная</a>
                            </li>
                            <li>
                                <a href="#contacts" @click="changeTab(1)" data-toggle="tab">Контакты</a>
                            </li>
                            <li>
                                <a href="#plan" @click="changeTab(2)" data-toggle="tab">План</a>
                            </li>

                        </ul>
                        <div class="tab-content no-padding">
                            <div class="active tab-pane" id="main-tab">
                                <ul class="v-list v-list-sm-pad">
                                    <li><label class="col-md-7">Название<i class="fa fa-asterisk text-red" style="font-size: 9px;"></i></label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" v-model="webmasterName">
                                        </div></li>
                                    <li>
                                        <label for="for-status" class="col-md-7">Статус <i class="fa fa-asterisk text-red" style="font-size: 9px;"></i></label>
                                        <div class="col-md-5">
                                            <select name="" class="form-control" id="for-status"
                                                    v-model="webmasterModel.webmasterStatus">
                                                <option value="on_creating" disabled>На создании</option>
                                                <option value="active">активный</option>
                                                <option value="deactivated">неактивный</option>
                                                <option value="banned">забаненный</option>

                                            </select>
                                        </div>
                                    </li>
                                    <li>
                                    {{webmasterModel.first_name}}
                                      <label  class="col-md-7">Email <i class="fa fa-asterisk text-red" style="font-size: 9px;"></i></label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control"
                                                   v-model="webmasterModel.email" placeholder="Email">
                                        </div>
                                    </li>
                                    <li>
                                      <label  class="col-md-7">Паспорт </label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control"
                                                   v-model="passport" placeholder="Паспорт">
                                        </div>
                                    </li>

                                    <li>
                                        <label for="for-director" class="col-md-7">Имя</label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" name="" id="for-director"
                                                   v-model="webmasterModel.firstName">
                                        </div>
                                    </li>
                                    <li>
                                        <label for="for-lastname" class="col-md-7">Фамилия</label>
                                        <div class="col-md-5">
                                            <input type="text" name="" class="form-control" id="for-lastname"
                                                   v-model="webmasterModel.surName">
                                        </div>
                                    </li>
                                    <li>
                                        <label for="for-middle-name" class="col-md-7">Отчество</label>
                                        <div class="col-md-5">
                                            <input type="text" name="" class="form-control" id="for-middle-name"
                                                   v-model="webmasterModel.middleName">
                                        </div>
                                    </li>
                                    <li>
                                        <label for="for-note" class="col-md-4">Примечание</label>
                                        <div class="col-md-8">
                                          <textarea name="" class="form-control" id="for-note" rows="10"
                                                    v-model="webmasterModel.note">
                                          </textarea>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-pane" id="contacts">
                                <ul class="v-list v-list-sm-pad">
                                    <li>
                                        <label class="col-md-7">Страна</label>
                                        <div class="col-md-5">
                                            <multiselect v-model="country" label="name" track-by="name"
                                                         :placeholder="webmasterModel.country" :options="countries"
                                                         :multiple="false"
                                                         :searchable="true" :internal-search="true"
                                                         :clear-on-select="false" :close-on-select="true"
                                                         :options-limit="300" :limit="3" :limit-text="limitText">
                                                <span slot="noResult">По вашему запросу ничего не найдено</span>
                                            </multiselect>
                                        </div>
                                    </li>
                                    <li>
                                        <label class="col-md-7">Город</label>
                                        <div class="col-md-5">
                                            <multiselect v-model="city" id="ajax" label="name"
                                                         track-by="country_id" :placeholder="webmasterModel.city"
                                                         :options="cities"
                                                         :multiple="false" :searchable="true" :loading="isLoading"
                                                         :internal-search="false" :clear-on-select="false"
                                                         :close-on-select="true" :options-limit="300" :limit="3"
                                                         :limit-text="limitText" @search-change="asyncCity">
                                                <span slot="noResult">По вашему запросу ничего не найдено</span>
                                            </multiselect>
                                        </div>
                                    </li>
                                    <li>
                                        <label for="for-adress" class="col-md-7">Адрес</label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" id="for-adress"
                                                   v-model="webmasterModel.address">
                                        </div>
                                    </li>
                                    <li>
                                        <label for="for-phone-1" class="col-md-7">Телефон</label>
                                        <div class="col-md-5">
                                            <input type="text" v-model="webmasterModel.firstPhone"
                                                   placeholder="+38 0## ## ## ###"
                                                   class="form-control" id="for-phone-1">
                                        </div>
                                    </li>
                                    <li>
                                        <label for="for-skype" class="col-md-7">Скайп</label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" id="for-skype"
                                                   v-model="webmasterModel.skype">
                                        </div>
                                    </li>
                                    <li>
                                        <label for="bank-data" class="col-md-4">Банковские реквизиты</label>
                                        <div class="col-md-8">
                                            <textarea name="bank-data" class="form-control" id="bank-data" rows="10"
                                                      v-model="webmasterModel.bankDetail"></textarea>
                                        </div>
                                    </li>
                                </ul>

                            </div>
                            <div class="tab-pane" id="plan">

                                <ul class="v-list v-list-sm-pad">
                                    <li>
                                        <label for="for-status" class="col-md-7">Платежный план </label>
                                        <div class="col-md-5">
                                            <select name="" class="form-control" id="for-status"
                                                    v-model="webmasterModel.plan.type">
                                                <option ></option>
                                                <option value="refill">за пополнение</option>
                                                <option value="registration">за регистрацию</option>

                                            </select>
                                        </div>
                                    </li>

                                    <li v-show="webmasterModel.plan.type === 'refill'">
                                        <label for="for-status" class="col-md-7">Процент за первое пополнение </label>
                                        <div class="col-md-5">
                                            <input type="number" class="form-control"
                                                   v-model="webmasterModel.plan.refill.first_refill_percentage" placeholder="Процент за первое пополнение">
                                        </div>
                                    </li>

                                    <li v-show="webmasterModel.plan.type === 'refill'">
                                        <label for="for-status" class="col-md-7">Процент за пополнение </label>
                                        <div class="col-md-5">
                                            <input type="number" class="form-control"
                                                   v-model="webmasterModel.plan.refill.other_refill_percentage" placeholder="Процент за пополнение">
                                        </div>
                                    </li>

                                    <!-- <li v-show="webmasterModel.plan === 'registration'">
                                        <div class="form-group countries">
                                            <multiselect @select="addCountryPrice" label="key" track-by="key"
                                                         :options="formattedCodes"
                                                         :placeholder="'Страны'"
                                                         :multiple="true"
                                                         :limit="0"
                                                         :custom-label="countryLabel"
                                                         :limit-text="limitTextCountries"
                                                         :searchable="true" :internal-search="true"
                                                         :clear-on-select="false" :close-on-select="true" :hide-selected="true">
                                              <span slot="noResult">По вашему запросу ничего не найдено</span>
                                            </multiselect>
                                            <div class="form-group">
                                                <div class="v-scroll" data-height="400">
                                                  <ul class="settings-items user-list-corection top-users">
                                                    <li class="top-users__item item settings-item" v-for="cp in countries_prise" :key="cp.code">
                                                        <div class="settings-item-content just_content_sb margin_none width100">
                                                          {{cp.code}} ({{cp.country}}) <input type="number" class="form-control" size=5
                                                   v-model="cp.price" placeholder="бонус зарегистрацию">
                                                        <div class="top-users__actions right-icon">
                                                        <span class="top-users__action label label-danger" @click="removeCountryFromBlackList(c, i)"><i class="fa fa-times"></i></span>
                                                        </div>
                                                      </div>
                                                    </li>
                                                  </ul>
                                                </div>
                                              </div>
                                        </div>
                                    </li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <button type="submit" class="btn btn-primary pull-right" v-show="tab !== 3" @click.prevent="saveForm">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue'
    import checkBoxComponent from '../../custom/checkBoxComponent.vue'
    import toastr from 'toastr'
    import multiselect from 'vue-multiselect'
    import {COUNTRIES} from '../../../mixins/utils'
    import _ from 'lodash'

    export default {
        name: 'WebmasterEdit',
        data() {
            return {
				passportType: '',
                passport: '',
				usualPass: true,
                webmasterName: '',
                initHook: false,
                webmasterModel: {
                    id: '',
                    webmasterStatus: '',
                    passport: '',
                    firstName: '',
                    surName: '',
                    middleName: '',
                    note: '',
                    country: '',
                    city: '',
                    address: '',
                    email: '',
                    firstPhone: '',
                    skype: '',
                    bankDetail: '',
                    plan: '',
                },
                webmasterFirstRefill: 0,
                webmasterRefill: 0,
                webmasterAccountType: '',
                type: 1,
                tab: 0,
                countries: [],
                cities: [],
                country: '',
                city: '',
                isLoading: false,
                countries_prise: [],
            }
        },
        watch: {
			passportType( v ) {
				this.usualPass = !this.usualPass
			},
        },
        beforeMount() {
            this.fetchCountry();

            Vue.http.post('v2/webmaster/get/detail-info', {
                access_token: this.$cookie.get('access_token'),
                webmaster_id: this.$route.params.id
            }).then(response => {
                if (response.body.status) {
                    this.webmaster = response.body.result;
                    let webmaster = response.body.result;
                    this.webmasterModel.name = webmaster.user.name;
                    this.webmasterModel.id = webmaster.user.id;
                    this.webmasterModel.webmasterStatus = webmaster.general.status;
                    this.passport = webmaster.general.passport;
                    this.webmasterName = webmaster.general.name;

                    this.webmasterModel.firstName = webmaster.general.first_name;
                    this.webmasterModel.surName = webmaster.general.surname;
                    this.webmasterModel.middleName = webmaster.general.middle_name;
                    this.webmasterModel.note = webmaster.general.note;
                    this.webmasterModel.name = webmaster.general.name;
                    this.webmasterModel.country = webmaster.contacts.country;
                    this.webmasterModel.city = webmaster.contacts.city;
                    this.webmasterModel.address = webmaster.contacts.address;
                    this.webmasterModel.email = webmaster.contacts.email;
                    this.webmasterModel.firstPhone = webmaster.contacts.phone;
                    this.webmasterModel.skype = webmaster.contacts.skype;
                    this.webmasterModel.bankDetail = webmaster.contacts.bank_detail;
                    this.webmasterModel.plan = webmaster.plan;

                    if ( webmaster.general.passport.length > 8 ) {
                    this.passportType = 'passportBio'
                }
                else {
                    this.passportType = ''
                }

                }
            }, err => {
                toastr.error('Не могу загрузить данные об агенстве');
                console.log(err);
            });
        },
        methods: {

            addCountryPrice(v) {
                this.countries_prise.push({
                    'code': v.key,
                    'country':v.name,
                    'price':0
                })
                //alert(v.toSource());
                // this.$http.post('v2/site/settings/add/geo-ip-country-code-blacklist', {
                //   access_token: this.$cookie.get('access_token'),
                //   country_code: v.key
                // }).then(r => {
                //   if (r.body.status) {
                //     toastr.success('Вы добавили в страну в список запрещенных');
                //     this.getCountriesBlacklist();
                //   }
                // })
              },

            countryLabel({name}) {
                return name;
             },
             limitTextCountries(count) {
                return `Добавлено стран: ${count}`
              },
			changePassport() {
				this.passport = ''
			},
            replaceId(name) {
                console.log(name);
                return _.replace(name.replace('.', ''), new RegExp('[0-9]'), '')
            },
            changeTab(number) {
                this.tab = number
            },
            limitText (count) {
                return `and ${count} other countries`
            },
            asyncCity (query) {
                this.isLoading = true;
                this.$http.post(this.config.api.frontend + '/v2/guest/get-city', {
                    city_name: query,
                    country_id: this.country.id
                }).then(data => {
                    this.isLoading = false;
                    if (data.body.status) {
                        this.cities = data.body.result;
                    }
                }, err => {
                    this.isLoading = false
                });
            },
            fetchCountry() {
                this.$http.post(this.config.api.frontend + '/v2/guest/get-country', {})
                    .then(data => {
                        if (data.body.status) {
                            this.countries = data.body.result;
                        } else {
                            toastr.error('Не могу загрузить список стран')
                        }
                    }, err => {
                        console.log(err);
                    })
            },
            giftLink(data) {
                return config.media.frontend
            },



            saveForm() {
                if (this.tab === 0) {
                    let data = this.webmasterModel;

                    if(this.webmasterModel.webmasterStatus === null || this.webmasterModel.webmasterStatus === '') {
                        toastr.warning('После статус обязательно к заполению');
                        return false;
                    }


                    this.$http.post('v2/webmaster/update', {
                        access_token: this.$cookie.get('access_token'),
                        webmaster_id:  this.$route.params.id,
                        webmaster_status: this.webmasterModel.webmasterStatus,

                        passport: this.passport,
                        name: this.webmasterName,
                        first_name: this.webmasterModel.firstName,
                        surname: this.webmasterModel.surName,
                        middle_name: this.webmasterModel.middleName,
                        note: this.webmasterModel.note,
                        email: this.webmasterModel.email
                    }).then(data => {
                        if (data.body.status) {
                            toastr.success('Основные данные сохранены')
                        } else {
                            toastr.error('Ошибка');
                            toastr.info(data.body.desc);
                        }
                    })
                }

                if (this.tab === 1) {

                    let c = '';
                    if(this.country === '') {
                        c = this.webmasterModel.country
                    }else {
                        c = this.country.name
                    }
                    let c2 = '';
                    if(this.city === '') {
                        c2 = this.webmasterModel.city
                    }else {
                        c2 = this.city.name
                    }

                    this.$http.post('v2/webmaster/update', {
                        access_token: this.$cookie.get('access_token'),
                        webmaster_id: this.$route.params.id,
                        country: c,
                        city: c2,
                        address: this.webmasterModel.address,
                        phone: this.webmasterModel.firstPhone,
                        skype: this.webmasterModel.skype,
                        bank_detail: this.webmasterModel.bankDetail
                    }).then(data => {
                        if (data.body.status) {
                            toastr.success('Контактные данные сохранены')
                        } else {
                            toastr.error('Ошибка');
                            toastr.info(data.body.desc);
                        }
                    })
                }

                if(this.tab === 2) {
                    this.$http.post('v2/webmaster/update', {
                        access_token: this.$cookie.get('access_token'),
                        webmaster_id: this.$route.params.id,
                        webmaster_plan: this.webmasterModel.plan.type,
                        webmaster_first_refill_percentage: this.webmasterModel.plan.refill.first_refill_percentage,
                        webmaster_other_refill_percentage: this.webmasterModel.plan.refill.other_refill_percentage,
                    }).then(data => {
                        if (data.body.status) {
                            toastr.success('Настройки плана для вебмастера сохранены')
                        } else {
                            toastr.error('Ошибка');
                            toastr.info(data.body.desc);
                        }
                    })
                }

            },


        },
        components: {
            'gift-check-box': checkBoxComponent,
            'multiselect': multiselect,
        },
        mixins: [COUNTRIES],
        mounted() {
            let needTab = window.location.hash;
            $('a[href="' + needTab + '"]').click();

            if (needTab === '#main-tab') {
                this.changeTab(0);
            }
            if (needTab === '#contacts') {
                this.changeTab(1);
            }
            if (needTab === '#plan') {
                this.changeTab(2);
            }
            this.$on('check', (gift) => {
                for (let i = 0; i < this.gifts.length; i++) {
                    for (let j = 0; j < this.gifts[i].length; j++) {
                        if (this.gifts[i][j].id == gift.id) {
                            this.gifts[i][j].available = gift.available;
                        }
                    }
                }
            });
        }
    }

</script>

<style lang="scss" >
    .video-list {
        display: flex;
        flex-wrap: wrap;
    a {
        position: relative;
        margin: 0 8px;
        flex: 0 0 120px;
    }
    img {
        width: 100%;
    }
    .del-photo {
        position: absolute;
        top: -4px;
        right: -4px;
        background: #fff;
        border-radius: 50%;
        line-height: 15px;
        font-size: 19px;
        color: #2f3745;
    }
    }
    #video-gallery {
        margin-left: 0;
        padding-left: 0;
    }

    #video-gallery li img {
        max-width: 100px;
    }
</style>
