<template>
	<div>
		<div class="row">
			<div class="col-md-12">
				<div class="box box-blue box-solid">
					<div class="box-header with-border">
						<h3 class="box-title"><i class="fa fa-group text-blue"></i> Вебмастера</h3>
						<div class="box-tools pull-right">
							<router-link to='/create/webmaster'>
								<a class="btn btn-success">Создать <i class="fa fa-plus"></i></a>
							</router-link>
						</div>
					</div>
					<div class="box-body no-padding">
						<form class="row margin-bottom">
							<div class="form-group margin">
								<div class="col-md-2">
									<input type="text" class="form-control" placeholder="ID" v-model="id"
										   data-column="0">
								</div>
								<div class="col-md-2">
									<select class="form-control" v-model="type">
										<option selected="selected" value="">План</option>
										<option value="refill">за пополнение</option>
                                        <option value="registration">за регистрацию</option>
									</select>
								</div>
								<div class="col-md-2">
									<select class="form-control" v-model="status">
										<option value="" selected="selected">Статус</option>
										<option value="on_creating">на создании</option>
                                        <option value="active">активный</option>
                                        <option value="deactivated">неактивный</option>
                                        <option value="banned">забаненный</option>
										
									</select>
								</div>
							</div>
						</form>

						<sst :loader="loading" @load="fetchData" :sort="sort" :data="data"
							 :count="count" :loadParams="loadParams" :order="order" :pagination="pagination">
							<tr slot="tbody" v-for="i in data" :key="i.id">
								<td>{{i.id}}</td>
								<td>
									<router-link :to="{name: 'Просмотр вебмастера', params: {id: i.id}}">
										{{  i.name}}
									</router-link>
								</td>
								<td>{{i.full_name}} (id: {{i.id}})</td>
								<td>
									<template v-if="i.online">
										<span class="glyphicon glyphicon-ok-circle fa-2x text-green"></span>
									</template>
									<template v-else>
										<span class="glyphicon glyphicon-remove-circle fa-2x text-red"></span>
									</template>
								</td>
								<td>
									<template v-if="i.plan==='refill'">
	                                         процент от пополнения
	                                </template>
	                                <template v-else-if="i.plan==='registration'">
	                                         плата за регистрацию
	                                </template>
	                                <template v-else>
	                                        {{i.plan}}
	                                </template>
								</td>
								<td>{{i.refill_amount}}</td>
								<td>{{i.count_client}}</td>
								<td>{{i.count_payer}}</td>
								<td><span v-html="statuse(i.webmaster_status)"></span></td>
								<td>
									<template v-if="i.webmaster_created_at">
										{{date(i.webmaster_created_at)}}
									</template>
									<template v-else="">
										Нет данных
									</template>
									</td>
								
								
								<td>
									<template v-if="i.last_active">
										{{date(i.last_active)}}
									</template>
									<template v-else="">
										Не был активен
									</template>
								</td>
								<td>
									<router-link class="btn btn-primary btn-block edit-p"
												 :to="{name: 'Редактирование вебмастера', params: {id: i.id}}">
										<i class="fa fa-lg fa-edit"></i>
									</router-link>
								</td>
							</tr>
						</sst>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import Vue from 'vue'
	import moment from 'moment'
	import sst from '../../custom/serverSideTable.vue'
	import { SS_SORT_TABLE, MATH } from '../../../mixins/utils'
	import _ from 'lodash'

	moment.locale( 'ru' );

	export default {
		name: 'WebmastersList',
		
		data() {
			return {
				agency: [],
				agencyShow: false,
				partnerTypes: [],
				isNew: '',
				table: '',
				id: '',
				type: '',
				status: '',
				loading: true,
				data: [],
				sort: [
					{ active: false, name: 'id', column: 'ID' },
					{ active: false, name: 'name', column: 'Название' },
					{ active: false, name: 'first_name', column: 'Имя/Фамилия' },
					{ active: false, name: 'online', column: 'Онлайн' },
					{ active: false, name: 'plan', column: 'План' },
					{ active: false, name: 'refill_amount', column: 'Сумма пополн. клиентов' },
					{ active: false, name: 'count_client', column: 'Кол. привед. клиентов' },
					{ active: false, name: 'count_payer', column: 'Кол. привед. платников' },
					
					{ active: false, name: 'status', column: 'Статус' },
					{ active: false, name: 'webmaster_created_at', column: 'Дата регистр.' },
					
					{ active: true, name: 'last_active', column: 'Последняя активность' },
					{ active: false, name: '', column: 'Действие' },
				],
			}
		},
		mixins: [
			SS_SORT_TABLE,
			MATH
		],
		watch: {
			isNew( v ) {
				this.resetPagination();
				this.fetchData()
			},
			id(v) {
				this.resetPagination();
				this.search()
			},
			type(v) {
				this.resetPagination();
				this.fetchData()
			},
			status(v) {
				this.resetPagination();
				this.fetchData()
			}
		},
		methods: {
			search: _.debounce( function () {
				this.fetchData()
			}, 300 ),
			fetchPartnerTypes() {
				this.$http.post( 'v2/agency/get/agency-type', {
					access_token: this.$cookie.get( 'access_token' ),
					limit: 30,
					offset: 0
				} ).then( data => {
					if ( data.body.status ) {
						this.partnerTypes = data.body.result.list
					}
				} ).catch( err => {
					console.log( err );
				} )
			},
			fetchData() {
				this.loading = true;
				this.$http.post( 'v2/webmaster/get/list', {
					access_token: this.$cookie.get( 'access_token' ),
					webmaster_status: JSON.stringify( this.beautyStatus ),
					offset: this.loadParams.offset,
					limit: this.loadParams.limit,
					order_type: this.order.type,
					order_by: this.order.by,
					id: this.id,
				} ).then( agencyResponse => {
					if ( agencyResponse.body.status ) {
						this.data = agencyResponse.body.result;
						this.count = +agencyResponse.body.count;
					}
					this.loading = false;
				}, requestError => {
					console.log( requestError );
				} )
			},
			date(ts) {
				return moment(ts * 1000).format('LLL')
			},
			statuse(status) {
				switch ( status ) {
					case 'active':
						return '<strong>активный  </strong>';
						break;
					case 'deactivated':
						return '<strong class="text-yellow">удален  </strong>';
						break;
					case 'banned':
						return '<strong class="text-red">забаненный  </strong>';
						break;
					case 'lock':
						return '<strong>заблокированный </strong>'
						break;
					case 'chief_banned':
						return '<strong>Бан руководителя </strong>'
						break;
					case 'administration_banned':
						return '<strong>Бан администрации </strong>'
						break;
					case 'on_creating':
						return '<strong>На создании </strong>'
						break
				}	
			},
			editPartner( id ) {
				this.$router.push( '/partners/edit/' + id );
			},
			showPartner( id ) {
				this.$router.push( '/partners/view/' + id );
			}
		},
		components: {
			sst
		},
		computed: {
			beautyStatus() {
				if (this.status) return [this.status]
				return [ 'on_creating', 'active', 'banned', 'deactivated' ]
			}
		},
		mounted() {
			this.fetchPartnerTypes();
			if (!this.status && !this.isNew) this.fetchData()
		},
		created() {
			this.updOrderParams( {
				type: 'desc',
				by: 'last_active'
			} );
			if ( this.routeNew ) this.isNew = this.routeNew + '';
			if ( this.routeStatus ) this.status = this.routeStatus;
		},
		beforeDestroy() {
			this.agencyShow = false;
		}
	}
</script>

<style>
	.green-type {
		color: green;
	}

	.red-type {
		color: red;
	}

	.orange-type {
		color: orange;
	}

	.dataTables_info {
		margin: 0 15px 15px 15px;
		color: #888;
	}

	#example_paginate {
		margin-top: -10px;
	}

	.skin-bbm .pagination {
		box-shadow: none;
	}
</style>
