<template>
    <div>
        <div class="row margin-bottom">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <h2 class="page-header"> <span>{{webmaster.general.name}}(id:{{webmaster.general.id}})</span>
                            <span class="text-white">
                                 <change-password :user="parseInt(webmaster.user.id)" style=" margin-left: 10px;" class="pull-right"></change-password>
                                <change-email @chengeEmail="reload()" :emailProp="email" :user="parseInt(webmaster.user.id)" class="pull-right" style="margin-left: 10px;  display: inline-block;"></change-email>

                            </span>
                        </h2>


                    </div>

                </div>
            </div>
        </div>

        <!-- Smboxes.vueoxes (Stat box) -->
        <div class="row">
            <div class="col-md-6">
                <div class="box box-blue box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title btn-block">Общая информация <a href="#" @click.prevent="editPartner('#main-tab')"
                                                                            class="pull-right"><i
                                class="fa fa-pencil text-blue"></i></a></h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <ul class="v-list">
                            <li>Статус <span class="pull-right" :class="{'text-green': webmaster.general.status === 'active', 'text-red': webmaster.general.status === 'deactivated'}">{{webmasterStatus}}</span></li>
                            <li>Дата регистрации <span class="pull-right">{{dateOfRegistration}}</span></li>
                            <li>Паспорт (номер+серия) <span class="pull-right">{{passportData}}</span></li>
                            <li>Имя<span class="pull-right">{{firstName}}</span></li>
                            <li>Фамилия<span class="pull-right">{{surName}}</span></li>
                            <li>Отчество<span class="pull-right">{{middleName}}</span></li>
                            <li class="row">
                                <span class="col-md-6">Примечание</span>
                                <div class="col-md-6">
                                    {{webmaster.general.note}}
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <div class="col-md-6">
                <div class="box box-blue box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title btn-block">Контакты <a href="#" @click.prevent="editPartner('#contacts')"
                                                                    class="pull-right"><i
                                class="fa fa-pencil text-blue"></i></a></h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <ul class="v-list">
                            <li>Страна <span class="pull-right">{{country}}</span></li>
                            <li>Город <span class="pull-right">{{city}}</span></li>
                            <li>Адрес <span class="pull-right">{{address}}</span></li>
                            <li :class="{'bg-danger': !webmaster.contacts.email_active}">E-mail <span class="pull-right text-blue">{{email}}</span></li>
                            <li>Телефон<span class="pull-right">{{phone}}</span></li>
                            <li>Скайп <span class="pull-right">{{skype}}</span></li>
                            <li class="row">
                                <span class="col-md-6">Банковские реквизиты</span>
                                <div class="col-md-6">
                                    {{bank_detail}}
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>

        <!-- /.row (main row) -->

        <div class="row">
            <div class="col-md-6">
                <div class="box box-blue box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title btn-block">План <a href="#" @click.prevent="editPartner('#plan')"
                                                                 class="pull-right"><i
                                class="fa fa-pencil text-blue"></i></a></h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <ul class="v-list">
                            <li>Платежный план <span class="pull-right">{{webmaster.plan.type}}</span></li>
                        </ul>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>

    </div>
</template>

<script>
    import Vue from 'vue'
    import moment from 'moment'
    import changePasswordModal from '../../../components/custom/changePasswordModal/component.vue'
	  import changeEmail from '../../../components/custom/changeEmailModal/component.vue'
    import {MATH} from '@/mixins/utils.js'

    export default {
        name: 'WebmasterView',
        data() {
            return {

                webmaster: {
                    "user": {
                        "id": '',
                        "name": "",
                        "online": true,
                    },
                    "general": {
                        "id": 0,
                        "status": "",
                        "created_at": null,
                        "passport": null,
                        "first_name": null,
                        "surname": null,
                        "middle_name": null,
                        "note": null
                    },
                    "contacts": {
                        "country": null,
                        "city": null,
                        "address": null,
                        "email": null,
                        "email_active":true,
                        "phone": null,
                        "skype": null,
                        "bank_detail": null
                    },
                    "plan": {
                        "type":null
                    }

                },
            }
        },
        mixins: [MATH],
        beforeMount() {
            if (!this.$cookie.get('access_token')) {
                this.$router.push('/');
            } else {
                Vue.http.post('v2/webmaster/get/detail-info', {
                    access_token: this.$cookie.get('access_token'),
                    webmaster_id: this.$route.params.id
                }).then(webmasterResponse => {
                    if (webmasterResponse.body.status) {
                        this.webmaster = webmasterResponse.body.result;
                    } else {
                        this.$router.push('/');
                    }
                }, err => {
                    console.log('Some error');
                    this.$router.push('/');
                })
            }
        },
        computed: {
            webmasterStatus() {
				switch (this.webmaster.general.status) {
					case 'active':
						return 'Активный';
						break;
					case 'deactivated':
						return 'Неактивный';
						break;
					case 'banned':
						return 'Забаненный';
						break;
					case 'lock':
						return 'Заблокированный';
						break;
					case 'on_creating':
						return 'На создании';
						break;
				}
            },

            dateOfRegistration() {
                if (this.webmaster.general.created_at !== null) {
                    return moment.utc(this.webmaster.general.created_at * 1000).format('LL')
                } else {
                    return 'Не указано';
                }
            },

            passportData() {
                if (this.webmaster.general.passport) {
                    return this.webmaster.general.passport;
                } else {
                    return 'Не указано'
                }
            },
            firstName() {
                if (this.webmaster.general.first_name) {
                    return this.webmaster.general.first_name;
                } else {
                    return 'Не указано'
                }
            },
            surName() {
                if (this.webmaster.general.surname) {
                    return this.webmaster.general.surname;
                } else {
                    return 'Не указано'
                }
            },
            middleName() {
                if (this.webmaster.general.middle_name) {
                    return this.webmaster.general.middle_name;
                } else {
                    return 'Не указано'
                }
            },
            country() {
                if (this.webmaster.contacts.country === null || this.webmaster.contacts.country === "undefined" ) {
                    return '';
                } else {
                    return this.webmaster.contacts.country;
                }
            },
            city() {
                if (this.webmaster.contacts.city == null || this.webmaster.contacts.city === "undefined") {
                    return '';
                } else {
                    return this.webmaster.contacts.city;
                }
            },
            address() {
                if (this.webmaster.contacts.address == null) {
                    return 'Не указано';
                } else {
                    return this.webmaster.contacts.address;
                }
            },
            email() {
                if (this.webmaster.contacts.email == null) {
                    return 'Не указано';
                } else {
                    return this.webmaster.contacts.email;
                }
            },
            phone() {
                if (this.webmaster.contacts.phone == null) {
                    return 'Не указано';
                } else {
                    return this.webmaster.contacts.phone;
                }
            },
            skype() {
                if (this.webmaster.contacts.skype == null) {
                    return 'Не указано';
                } else {
                    return this.webmaster.contacts.skype;
                }
            },
            bank_detail() {
                if (this.webmaster.contacts.bank_detail == null) {
                    return 'Не указано';
                } else {
                    return this.webmaster.contacts.bank_detail;
                }
            },


        },
        methods: {

            editPartner(subtab) {
                this.$router.push('/webmaster/edit/' + this.webmaster.general.id + subtab);
            },
            reload() {
				location.reload()
            }
        },
        mounted() {
          //this.getAgencyTypes()
            const handleScroll = function () {
                let maxHeight = $(".v-scroll").attr("data-height");
                $(".v-scroll").css("height", maxHeight).perfectScrollbar();
            };
            handleScroll();

        },
        components: {
            'change-password': changePasswordModal,
			changeEmail
        }
    }
</script>
