<template>
	<div>
		<!--Modal referals starts here-->
		<div class="modal fade" id="referal-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">Modal title</h4>
					</div>
					<div class="modal-body">
						<ul>
							<li v-for="referalUser in referalsList">
								<a class="referal-link" @click="openUserProfile(referalUser.man_id)">{{referalUser.man_name}} {{referalUser.man_surname}} ( {{referalUser.man_id}} )</a>
								<span class="pull-right">{{createdAt(referalUser.man_created_at)}}</span>
							</li>
						</ul>
					</div>
					<div class="modal-footer">
						<button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-primary">Закрыть</button>
					</div>
				</div>
			</div>
		</div>
		<!--Modal referals ends here-->
	</div>
</template>

<script>
	import moment from 'moment'
	export default {
		data () {
			return {}
		},
		props: ['referalsList'],
		methods: {
			openUserProfile(id) {
				$('#referal-modal').modal('hide');
				this.navigator('/man/view/' + id);
			},
			navigator(route) {
				this.$router.push(route.toString());
			},
			createdAt( ts ) {
				return moment( ts * 1000 ).format( 'DD.MM.YYYY HH:mm:ss' )
			},
		},
		computed: {

		},
		components: {}
	}
</script>

<style lang="scss" scoped>
	.referal-link {
		cursor: pointer;
	}
</style>
