<template>
     <div>
        <draggable
            v-if="videos.length > 0"
            v-model="videoList"
            v-bind="dragOptions"
            tag="nav"
            :disabled="!hasSortButton"
            :class="{'with-icon': deleteIcon}"
            class="video-list-custom"
        >
            <transition-group type="transition">
                <video-item
                    v-for="(video, i) in videos"
                    :key="`${i}-${video.id}`"
                    :video="video"
                    :hasLabel="hasLabel"
                    :delete-icon="deleteIcon"
                    @openVideoModal="openVideoModal(video.file_path, video.id)"
                    @deleteVideo="deleteVideo($event, video.id, i)"
                />
            </transition-group>
        </draggable>

        <div v-else class="no-data text-center center">
            Нет данных!
        </div>
     </div>
</template>
<script>
import draggable from "vuedraggable";
import toastr from 'toastr'

export default {
    data () {
        return {
            dragging: false
        };
    },
    components: {
        draggable,
        videoItem: {
            data () {
                return {
                    loadingSpinner: false,
                    loading: true
                };
            },
            props: ['video', 'deleteIcon', 'hasLabel'],
            template: `
                 <li>
                    <div class="wrapp" @click="$emit('openVideoModal')">
                       <img :src="srcFilePrev" alt="Video">
                        <i class="fa fa-play"></i>
                        <i v-if="video.album_type === 'private'" class="photo-label label-private bottom">Private</i>
<!--                        <i v-if="!video.is_lock && video.album_type === 'private'" class="photo-label label-was-bought">$</i>-->
                    </div>
                    <i
                        v-if="deleteIcon"
                        :class="detectDelClass"
                        @click="$emit('deleteVideo', rotateSpinner)"></i>
                    <span class="video-id">ID: {{ video.id }}</span>
                  </li>
            `,
            computed: {
                detectDelClass () {
                    return this.loadingSpinner
                        ? 'fa fa-circle-o-notch is-disabled spinner delete'
                        : 'fa fa-close delete';
                },
                srcFilePrev () {
                    return this.video.preview_file_name_medium || this.video.file_prev || '/images/photo-not-found.jpg';
                }

            },
            methods: {
                rotateSpinner (value) {
                    this.loadingSpinner = value;
                }
            }
        }
    },
    computed: {
        videoList: {
            get() {
                return this.videos;
            },
            set(value) {
                this.$store.commit('updateVideosPublic', value)
            }
        },
        dragOptions() {
            return {
                animation: 400,
                ghostClass: "ghost"
            };
        }
    },
    props: {
        ladyId:{
            type: Number,
            default: 0
        },
        videos: {
            type: Array,
            default: function () {
                return [];
            }
        },
        hasBackCall: {
          type: Boolean,
          default: false
        },
        hasLabel: {
          type: Boolean,
          default: false
        },
        deleteIcon: {
            type: Boolean,
            default: false
        },
        hasDelSpin: {
            type: Boolean,
            default: false
        },
        hasSortButton: {
            type: Boolean,
            default: false
        }
    },
    methods: {

        deleteVideo (rotateSpinner, id, i) {


              if (this.hasBackCall) {
                rotateSpinner(true);
                this.$emit('backFunction', {id, i})
                rotateSpinner(false);
              }
              else
              {
                if (confirm('Вы уверены, что хотите удалить это видео?')) {
                rotateSpinner(true);
                this.$store.dispatch('deleteLadyVideo',
                    {
                      video_id: id,
                      user_id: this.ladyId
                    }
                )
                    .then(text => {
                      rotateSpinner(false);
                      toastr.success('Видео успешно удалено!')

                      this.$store.dispatch('getLadyVideos',
                          {
                            access_token: this.$cookie.get('access_token'),
                            user_id: this.ladyId
                          }
                      )
                      this.$store.dispatch('getCountersModeration');
                    })
                    .catch(textErr => {
                      rotateSpinner(false);
                      toastr.error('Ошибка!')
                    });
                    } else {

                    }
              }
        },
        openVideoModal (path, videoId) {
            this.$store.commit('updateVideoModalState', {
                open: true,
                path: path,
                videoId
            });
        }
    }
};
</script>
<style scoped lang="scss">
    .ghost {
        opacity: 0.1;
        box-shadow: 0 0 0 3px #0a78dd;
        cursor: move!important;
    }
    .flip-list-move {
        transition: transform 0.5s;
    }
    .no-move {
        transition: transform 0s;
    }
    .list-group-item {
        cursor: move;
    }
    .list-group-item i {
        cursor: pointer;
    }
</style>
