<template>
	<div class="modal-emal-wrap">
		<button type="button" id="sendNotifModalBtn" class="btn btn-primary pull-left btn-sm" data-toggle="modal"
				data-target="#sent-notification-modal">
			<i class="fa fa-lg fa-envelope" aria-hidden="true"></i>
		</button>
		<div class="modal fade" id="sent-notification-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabelNotification"
			 style="display: none;">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
								aria-hidden="true">×</span></button>
						<h4 class="modal-title" id="modalLabelNotification">Отправка уведомления</h4>
					</div>
					<form @submit.prevent="send()">
						<div class="modal-body">
							<p v-if="check">Проверка возможности отправки письма <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
								<span class="sr-only">Loading...</span></p>
							<p v-if="canSend && !check">Отправить пользователю ручное уведомление на эл. адрес с случайными непрочитанными письмами?</p>
							<!--<p v-if="!canSend && !check && !noEnoughMessages && !lastActive">Вы можете отправить уведомление через {{delay}}</p>
							<p v-if="noEnoughMessages">У пользователя недостаточно писем для отправки письма</p>
							<p v-if="lastActive">Пользователь недавно был онлайн</p>-->
							<template v-if="!canSend && !check">
								<p v-if="!allowEmail">E-mail находится в списке заблокированных</p>
								<p v-if="!enoughMessage">У пользователя недостаточно писем для создания уведомления</p>
								<p v-if="!enoughLastActive">Пользователь недавно был онлайн</p>
								<p v-if="!recentlySent">Уведомление недавно было отправлено.</p>
							</template>

						</div>
						<div class="modal-footer clearfix">
							<button type="submit" class="btn btn-primary pull-right" v-if="canSend" :disabled="isSending">Отправить</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import toastr from 'toastr'
	export default {
		name: 'customNotificationModal',
		props: {
			userID: Number
		},
		data() {
			return {
				isSending: false,
				check: true,
				canSend: false,
				delay: '',
				noEnoughMessages: false,
				lastActive: false,
				//

				allowEmail: true,
				enoughMessage: true,
				enoughLastActive: true,
				recentlySent: true
			}
		},
		methods: {
			clearState() {
				this.check = true;
				this.canSend = false;
				this.noEnoughMessages = false;
				this.lastActive = true;
				//

				this.allowEmail = true;
				this.enoughMessage = true;
				this.enoughLastActive = true;
				this.recentlySent = true;
			},
			closeModal() {
				document.querySelector('#sendNotifModalBtn').click();
				this.clearState();
			},
			checkPrivileges: function () {
				this.check = true;
				this.$http.post( 'v2/emai/notification/can/send', {
					access_token: this.$cookie.get( 'access_token' ),
					user_id: this.userID
				} ).then( r => {
					if ( r.body.status ) {
						if ( r.body.result.can_send ) {
							this.canSend = true;
						} else {
							this.canSend = false;
							/*if (r.body.result.enough_message && !r.body.result.last_active && r.body.result.delay) {
								let tmp = Math.round( r.body.result.delay / 3600 );
								this.delay = tmp === 0 ? 'меньше, чем через час' : tmp += ' час(ов)';
							} else if (!r.body.result.enough_message) {
								this.noEnoughMessages = true;
							} else if (r.body.result.last_active) {
								this.lastActive = true;
							}*/

							//
							let res = r.body.result;

							this.allowEmail = res.enough_email;

							this.enoughMessage = res.enough_message;
							this.enoughLastActive = res.enough_last_active;
							this.recentlySent = res.enough_email_manual_notification;
						}
					} else {
						toastr.error('Возникла ошибка про проверке возможности отправки ручного уведомления')
					}
					this.check = false;
				}, err => {
					toastr.error( 'Возникла ошибка при выполнении запроса проверки возможности отправки уведомления' )
				} )
			},
			send() {
				if (!this.isSending) {
					this.isSending = true;
					this.$http.post('v2/emai/notification/send', {
						access_token: this.$cookie.get('access_token'),
						user_id: this.userID
					}).then(r => {
						if (r.body.status) {
							toastr.success('Уведомление отправлено пользователю')
							this.closeModal()
						} else {
							toastr.error('Возникла ошибка при отправлении уведомления пользователю')
						}
						this.isSending = false;
					}, err => {
						toastr.error('Возникла ошибка при выполнении запроса')
						this.isSending = false;
					})
				}
			}
		},
		mounted() {
			this.checkPrivileges()
		},
		components: {
		}
	}
</script>

<style scoped>
	.modal-emal-wrap--svg {
		height: 22px;
		width: 22px;
		fill: white;
	}
	#sendNotifModalBtn {
		position: relative;
		float: left;
		z-index: 700;
	}

	.modal-body {
		text-align: center;
	}
</style>
