<template>
    <div class="row">
        <div class="col-md-12">
          <h3>Активность на сайте</h3>
        </div>
        <div class="col-md-12">
            <div class="box box-blue box-solid">
                <div class="box-body no-padding">
                    <form class="row">
                        <div class="form-group margin">


                          <date-filter :defaultRange="defDateValue" :changeFilter="dateFilterChange"></date-filter>


                          <div class="col-md-2" v-if="!loaderTransactions">

                            <my-select :options="displayedMen" :placeholder="'Клиент'" v-model="man"
                                       @select="selectManCallback($event)"></my-select>

                          </div>

                            <div class="col-md-2" v-if="!loaderTransactions">
                                <my-select :options="displayedWomen" :placeholder="'Клиентка'" v-model="woman"
                                           @select="selectWomanCallback($event)"></my-select>
                            </div>

                          <div class="col-md-2" v-if="anyUserSelected" >
                            <button @click="filterData" type="button" class="btn btn-info margin-right">Поиск</button>

                            <button  @click="clearFilters" type="button" class="btn btn-link margin-right"><i class="fa fa-close"></i> отмена</button>

                            <button @click="sortList" type="button" class="btn btn-link"><i class="fa" :class="sortClass"></i></button>

                          </div>


                        </div>
                    </form>
                </div>
            </div>


          <div class="row bg-white bordered-all">

            <div class="col-md-3">

              <h4 class="text-center">Последняя активность</h4>
              <div class="scroll-bar" ref="scrollBar">
                <div class="bg-gray-light border-all" v-if="!loaderTransactions">
                  <div class="p-all border-b"
                       style="cursor: pointer;"
                       :class="{'active-group' : group.id === activeGroup.id}"
                       v-for="group in groupedTransactions"
                       :key="group.id"
                       @click="chooseGroup(group)">
                    <div class="flex flex-x-left flex-line flex-y-center position-relative">
                      <div class="padding-right text-left position-relative width-25">
                        <span class="label label-primary label-position">{{ group.transactions.length }}</span>
                        <i :class="getTransactionActionType(group.agency_bonus_change_type_id).icon"></i>
                      </div>

                      <div class="text-left width-300 p-l flex flex-x-between flex-y-center">
                        <div class="text-grey">
                          <b>{{ group.client_name }}</b>
                          <div class="user-id">
                            ID: {{ group.client_id}}
                          </div>
                        </div>
                        <i class="fa fa-angle-right margin-right margin-left"></i>
                        <div class="text-blue  width-120 text-left">
                          <b>{{ group.woman_name }}</b>
                          <div class="user-id">
                            ID: {{ group.target_user_id }}
                          </div>
                        </div>
                      </div>

                      <span class="text-right position-date">{{ date(group.created_at) }}</span>
                    </div>
                  </div>

                  <div class="p-all2" v-if="showMoreTransBtn">
                    <button @click="moreTransactions" :disabled="showMoreTransBtnLoader" class="btn btn-block btn-default">
                      <i v-if="showMoreTransBtnLoader" class="fa fa-circle-o-notch fa-spin"></i>
                      Загрузить еще
                    </button>
                  </div>
                </div>
                <div v-else class="p-all-2 text-center border-all">
                  <i class="fa fa-circle-o-notch fa-spin"></i> Идет загрузка последних {{ transitionsData.limit }} записей...
                </div>
              </div>

            </div>


            <div class="col-md-9">
              <h4 class="text-center">Выбранная активность</h4>
              <div v-if="dataHistory" class="panel-body">

                <div class="statistic-scroll-wrapp">
                  <div class="history-body direct-chat direct-chat-primary">

                    <div class="direct-chat-messages" ref="scrollContainer">
                      <div v-for="ls in dataHistory">
                        <div v-if="ls.type == 'letter'">
                          <div v-if="ls.sender_type == 'man'" class="margin-bottom">
                            <div class="clearfix">
                              <div :class="{'flex-row flex flex-x-between': !bothUserSelected}">
                                <div class="direct-chat-msg margin-bottom left-direct">

                                  <user
                                      class="direct-chat-img"
                                      :userData="{
                                          id: ls.sender_id,
                                          userType: 'man',
                                          name: ls.sender_name,
                                          avatar: ls.sender_avatar
                                      }"/>

                                  <div class="direct-chat-text direct-letter-text">
                                    <span class="text-success margin-r-5" v-if="ls.is_read == 1">Прочитанно</span>
                                    <span class="text-danger margin-r-5" v-if="ls.is_critical == 1">Критичное</span>
                                    <span class="text-info" v-if="ls.is_replied == 1">Отвечено</span>

                                    <button class="btn btn-sm btn-default pull-right margin-left"  @click="showOneLetter(ls.message_id, 'man')"><i class="fa fa-eye"></i> | <i class="fa fa-pencil"></i></button>

                                    <hr>
                                    <strong v-html="ls.subject"></strong>
                                    <br><br>
                                    <div v-html="ls.text"></div>

                                    <div v-if="ls.attachments.length > 0"  class="text-left margin-top">
                                      <img v-for="att in ls.attachments" :src="att.file_name_small" :alt="att.id" width="120px" class="img-rounded margin-r-5">
                                    </div>

                                    <span class="date-bottom">
                                        {{ date(ls.created) }}
                                    </span>
                                  </div>
                                </div>

                                <div class="padding-sm arrow" v-if="!bothUserSelected">
                                  <i class="fa fa-arrow-right"></i>
                                </div>

                                <user
                                    v-if="!bothUserSelected"
                                    class="direct-chat-img"
                                    :userData="{
                                        id: ls.receiver_id,
                                        userType: 'woman',
                                        name: ls.receiver_name,
                                        avatar: ls.receiver_avatar
                                    }"/>
                              </div>
                            </div>
                          </div>
                          <div v-else class="margin-bottom">
                            <div class="clearfix">
                              <div :class="{'flex-row flex flex-x-between': !bothUserSelected}">

                                <user
                                    v-if="!bothUserSelected"
                                    class="direct-chat-img"
                                    :userData="{
                                        id: ls.receiver_id,
                                        userType: 'man',
                                        name: ls.receiver_name,
                                        avatar: ls.receiver_avatar
                                    }"/>

                                <div v-if="!bothUserSelected" class="text-center padding-sm arrow">
                                  <i class="fa fa-arrow-left"></i>
                                </div>

                                <div class="direct-chat-msg margin-bottom right right-direct">

                                  <user
                                      class="direct-chat-img"
                                      :userData="{
                                                            id: ls.sender_id,
                                                            userType: 'woman',
                                                            name: ls.sender_name,
                                                            avatar: ls.sender_avatar
                                                        }"/>

                                  <div class="direct-chat-text direct-letter-text">
                                    <span class="text-success margin-r-5" v-if="ls.is_read == 1">Прочитанно</span>
                                    <span class="text-danger strong margin-r-5" v-if="ls.is_critical == 1">Критичное</span>
                                    <span class="text-info" v-if="ls.is_replied == 1">Отвечено</span>
                                    <button class="btn btn-sm btn-default pull-right"  @click="showOneLetter(ls.message_id, 'woman')"><i class="fa fa-eye"></i> | <i class="fa fa-pencil"></i></button>

                                    <hr>
                                    <strong v-html="ls.subject"></strong>
                                    <br><br>
                                    <div v-html="ls.text"></div>

                                    <div v-if="ls.attachments.length > 0"  class="text-left margin-top">
                                      <img v-for="att in ls.attachments" :src="att.file_name_small" :alt="att.id" width="120px" class="img-rounded margin-r-5">
                                    </div>
                                    <span class="date-bottom">
                                                                {{ date(ls.created) }}
                                                            </span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <!--Чат-->
                        <div v-else>
                          <div v-if="ls.sender_type == 'man'">
                            <div class="clearfix">
                              <div :class="{'flex-row flex flex-x-between': !bothUserSelected}">
                                <div class="direct-chat-msg margin-bottom left-direct">

                                  <user :userData="{
                                    id: ls.sender_id,
                                    userType: 'man',
                                    name: ls.sender_name,
                                    avatar: ls.sender_avatar
                                  }"
                                        class="direct-chat-img"
                                  />

                                  <div class="direct-chat-text">
                                    <div v-html="ls.text"></div>
                                    <span class="date-bottom">
                                                                {{ date(ls.created) }}
                                                            </span>
                                  </div>

                                </div>

                                <div class="text-center padding-sm arrow" v-if="!bothUserSelected">
                                  <i class="fa fa-arrow-right"></i>
                                </div>

                                <user v-if="!bothUserSelected" :userData="{
                                                            id: ls.receiver_id,
                                                            userType: 'woman',
                                                            name: ls.receiver_name,
                                                            avatar: ls.receiver_avatar
                                                        }"/>
                              </div>

                            </div>
                          </div>
                          <div v-else>
                            <div class="clearfix">
                              <div :class="{'flex-row flex flex-x-between': !bothUserSelected}">

                                <user v-if="!bothUserSelected" :userData="{
                                                       id: ls.receiver_id,
                                                        userType: 'man',
                                                        name: ls.receiver_name,
                                                        avatar: ls.receiver_avatar
                                                        }"/>

                                <div class="text-center padding-sm arrow" v-if="!bothUserSelected">
                                  <i class="fa fa-arrow-left"></i>
                                </div>

                                <div class="direct-chat-msg margin-bottom right right-direct">
                                  <user
                                      class="direct-chat-img"
                                      :userData="{
                                                                id: ls.sender_id,
                                                                userType: 'woman',
                                                                name: ls.sender_name,
                                                                avatar: ls.sender_avatar
                                                            }"/>

                                  <div class="direct-chat-text">

                                    <div v-html="ls.text" v-if="ls.text != '_'"></div>

                                    <div v-if="ls.photo" class="text-left margin-top">
                                                                <span class="photo-wrapp">
                                                                    <img :src="ls.photo.small" :alt="ls.sender_id" width="120px" class="img-rounded">
                                                                    <span v-if="ls.photo_pay" class="viewed">Просмотрено</span>
                                                                </span>

                                    </div>

                                    <span class="date-bottom">
                                                                {{ date(ls.created) }}
                                                            </span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div v-if="loading" class="text-center p-all">
                        <i class="fa fa-circle-o-notch fa-spin m-r"></i> Загрузка...
                      </div>

                      <div v-if="dataHistory.length == 0 && !loading" class="text-center">
                        <h4>Нет данных</h4>
                      </div>

                      <trigger @triggerIntersected="loadMore"></trigger>

                    </div>

                    <transition name="bounce" v-if="scrollIcon">
                      <div class="icon-scroll" @click="scrollToBottom">
                        <i class="fa fa-angle-up"></i>
                      </div>
                    </transition>

                  </div>
                </div>

              </div>
              <div v-else class="text-center p-all-2">
                <h3>Выберите активность слева в списке</h3>
              </div>
            </div>
          </div>
        </div>

        <mail-modal v-if="showModal" @close="closeModals" @reinstall="closeModals" @closewithout="closeModals" :letter="oneLetter" />

        <mail-modal-woman @add-attach="addAttachments"  @delete-attach="deleteAttachments()" v-if="showModalWoman" @close="closeModals"  :letter="oneLetter" />
    </div>
</template>

<script>
    import moment from 'moment'
    import toastr from 'toastr'
    import DynamicSearch from '../../custom/relativeSelect/dynamic-search'
    import mySelect from '../../custom/select2/select-new.vue'
    import dateFilter from '../../custom/datefilter/component'
    import MailModal from '../../modals/MailModal.vue'
    import MailModalWoman from '../../modals/MailModalWoman.vue'
    import Trigger from '../../custom/TriggerIntersection'

    // items
    import User from './Items/User'
    import _ from 'lodash'

    export default {
        data() {
            return {
                // lazy params
                allData: [],
                timeFrom: Math.floor(moment().subtract(1, 'day').unix()),
                timeTo: Math.floor(moment().unix()),
                woman: 0,
                man: 0,
                sortType: 'asc',
                allWomen: [],
                data: [],
                mans: [],
                localTZ: true,
                showModal: false,
                oneLetter: null,
                showModalWoman: false,
                loading: false,
                offset: 0,
                counter: 0,
                limit: 20,

                scrollIcon: false,
                lazyLoaded: false,
                scrollH: 0,
                elemntH: 0,

                loaderTransactions: true,
                showMoreTransBtn: true,
                showMoreTransBtnLoader: false,
                transitionsData: {
                  localTZ: false,
                  limit: 20,
                  offset: 0,
                  id: '',
                  type: '',
                  categories: [],
                  category: '',
                  active: '',
                  stats: {
                    admin_id: 0,
                    agency_id: 0,
                    branch_agency_id: 0,
                    client_id: 0,
                    target_user_id: 0,
                    bonus: 0,
                    category_id: 0
                  },
                  data: [],
                  allPartners: [],
                  allBranches: [],
                  allAdmins: [],
                  allWomen: [],
                  mans: [],
                  partner: 0,
                  branch: 0,
                  admin: 0,
                  woman: 0,
                  man: 0,
                  count: 0,
                  order_type: 'desc', // @boolOrder: true - desc, false - asc
                  order_by: 'created_at',
                  sort: [
                    { active: false, name: 'id' },
                    { active: false, name: 'auto' },
                    { active: false, name: 'category_name' },
                    { active: false, name: 'active' },
                    { active: false, name: 'agency_id' },
                    { active: false, name: 'branch_agency_id' },
                    { active: false, name: 'admin_id' },
                    { active: false, name: 'target_user_id' },
                    { active: false, name: 'client_id' },
                    { active: false, name: 'credits' },
                    { active: false, name: 'agency_bonus' },
                    { active: true, name: 'created_at' },
                  ],
                  pagination: {}
                },
                openedAllGroupe: false,
                groupedTransactions: [],
                activeGroup: []
            }
        },
        computed:{
            // за последние 24 часа
            defDateValue(){
              return [
                Math.floor(moment().subtract(1, 'day')),
                Math.floor(moment())
              ];
            },
            sortClass(){
                return this.sortType == 'asc' ? 'fa-sort-numeric-asc' : 'fa-sort-numeric-desc';
            },
            loaded(){
                return this.loading;
            },
            dataHistory(){
                return this.allData;
            },
            bothUserSelected(){
                return this.man && this.woman;
            },
            anyUserSelected(){
                return this.man || this.woman;
            },
            displayedWomen() {
                return this.allWomen.map( i => {
                    if ( 'fullName' in i ) {
                        return {
                            id: +i.id,
                            name: `${i.fullName.trim()} (id: ${i.id})`
                        }
                    } else if ( 'surname' in i ) {
                        return {
                            id: +i.user_id,
                            name: `${(i.name.trim() + ' ' + i.surname.trim()).trim()} (id: ${i.user_id})`
                        }
                    }
                    return {
                        id: +i.id,
                        name: `${i.name.trim()} (id: ${i.id})`
                    }
                } )
            },
            displayedMen() {
                return this.mans.map( i => {
                    return {
                        id: +i.user_id,
                        name: `${(i.name.trim() + ' ' + i.surname.trim()).trim()} (id: ${i.user_id})`
                    }
                } )
            },
        },
        methods: {
          getTransactionActionType(typeId) {
            switch (typeId) {
              case 1:
                return {
                  icon: 'fa fa-envelope-open-text', // Иконка для "Просроченное сообщение"
                  text: 'Просроченное сообщение'
                };
              case 2:
                return {
                  icon: 'fa fa-gift', // Иконка для "Просроченный подарок"
                  text: 'Просроченный подарок'
                };
              case 3:
                return {
                  icon: 'fa fa-address-book', // Иконка для "Просроченная контактная информация"
                  text: 'Просроченная контактная информация'
                };
              case 4:
                return {
                  icon: 'fa fa-envelope', // Иконка для "Написал/Ответил на письмо"
                  text: 'Письмо'
                };
              case 5:
                return {
                  icon: 'fa fa-gift', // Иконка для "Подарил подарок"
                  text: 'Подарил подарок'
                };
              case 6:
                return {
                  icon: 'fa fa-address-card', // Иконка для "Заказал контактную информацию"
                  text: 'Заказал контактную информацию'
                };
              case 7:
                return {
                  icon: 'fa fa-comments', // Иконка для "Текстовый чат"
                  text: 'Текстовый чат'
                };
              case 8:
                return {
                  icon: 'fa fa-play', // Иконка для "Видео чат"
                  text: 'Видео чат'
                };
              case 9:
                return {
                  icon: 'fa fa-comment-alt', // Иконка для "Чат"
                  text: 'Чат'
                };
              case 10:
                return {
                  icon: 'fa fa-image', // Иконка для "Купил приватное фото"
                  text: 'Купил приватное фото'
                };
              case 11:
                return {
                  icon: 'fa fa-play', // Иконка для "Купил приватное видео"
                  text: 'Купил приватное видео'
                };
              default:
                return {
                  icon: 'fa fa-question-circle', // Иконка для неизвестного действия
                  text: 'Действие неизвестное'
                };
            }
          },
          groupTransactions() {
            const grouped = _.groupBy(this.transitionsData.data, item => `${item.client_id}-${item.target_user_id}`);
            this.groupedTransactions = Object.keys(grouped).map(key => {
              return {
                id: grouped[key][0].id,
                agency_bonus_change_type_id: grouped[key][0].agency_bonus_change_type_id,
                note_id: grouped[key][0].note_id,
                category_name: grouped[key][0].category_name,
                woman_name: grouped[key][0].woman_name,
                client_name: grouped[key][0].client_name,
                client_id: grouped[key][0].client_id,
                target_user_id: grouped[key][0].target_user_id,
                created_at: grouped[key][0].created_at,
                transactions: grouped[key].sort((a, b) => new Date(b.date) - new Date(a.date)) // сортировка по дате
              };
            });
            this.loaderTransactions = false;
            this.showMoreTransBtnLoader = false;
          },
          switchPage() {
            this.transitionsData.offset = this.transitionsData.pagination.currentPage * this.transitionsData.limit - this.transitionsData.limit;
            this.fetchDataTransactions();
          },
          fetchDataTransactions(more) {
              if(!more){
                this.loaderTransactions = true;
              }
              else {
                this.transitionsData.offset = this.transitionsData.offset + this.transitionsData.limit;
              }

              this.$http.post( 'v2/bonuses/load-transactions', {
                access_token: this.$cookie.get( 'access_token' ),
                time_from: this.timeFrom,
                time_to: this.timeTo,
                limit: this.transitionsData.limit,
                offset: this.transitionsData.offset,
                id: this.transitionsData.id,
                auto: this.transitionsData.type,
                agency_bonus_change_type_id: this.transitionsData.category,
                active: this.transitionsData.active,
                agency_id: '',
                branch_agency_id: '',
                admin_id: '',
                target_user_id: this.woman || '',
                client_id: this.man || '',
                order_type: this.transitionsData.order_type,
                order_by: this.transitionsData.order_by,
              } ).then( data => {
                if ( data.body.status ) {

                  if(more){
                    this.transitionsData.data = [...this.transitionsData.data, ...data.body.result];
                  }
                  else {
                    this.transitionsData.data = data.body.result;
                    this.transitionsData.offset = 0;
                  }

                  this.transitionsData.count = data.body.count;


                  if( this.transitionsData.offset > this.transitionsData.count){
                    this.showMoreTransBtn = false;
                  }

                  this.groupTransactions();

                } else {
                  this.transitionsData.data = [];
                  toastr.error( data.body.desc );
                }
              }, err => {
                toastr.error( 'Ошибка загрузки данных' );
                this.loaderTransactions = false;
              } )
            },
          chooseGroup(group) {
            this.activeGroup = group;
            this.man = group.client_id;
            this.woman = group.target_user_id;
            this.offset = 0;

            this.fetchData(group.client_id, group.target_user_id, false);
          },
          dynamicManListSelectId(dynamicManList) {
              return dynamicManList
                  .reduce((
                      acc, man) => [
                      ...acc,
                      {
                          label: `${man['name']} (id: ${man['user_id']})`,
                          value: man['user_id']
                      }], [{ label: ' ', value: ' ' }]
                  );
          },
          sortList(){
              if(this.sortType == 'asc'){
                  this.sortType = 'desc'
              }
              else{
                  this.sortType = 'asc'
              }
              this.filterData();
          },
          deleteAttachments(payload) {
              if (this.oneLetter.attachments[payload.index].id == payload.item.id) {
                  this.oneLetter.attachments.splice(payload.index, 1);
              } else {
                  this.oneLetter.attachments.splice(payload.index-1, 1);
              }
          },
          addAttachments(item){
              this.oneLetter.attachments.concat(item)
          },
          filterData(){
              this.clearData();
              if ( this.anyUserSelected ) this.fetchData(this.man, this.woman, false);
          },
          clearData(){
              this.allData = [];
              this.offset = 0;
              this.counter = 0;
              this.loading = false;
          },
          clearFilters(){
              this.clearData();
              this.woman = 0;
              this.man = 0;
              this.activeGroup = [];
              if(this.$route.query.time) this.$router.push({ path: '/messaging-history', query: {} });
          },
          scrollToBottom() {
              const element = this.$refs.scrollContainer;
              element.scrollTo({ top: 0, behavior: 'smooth' })
          },
          closeModals() {
              this.showModal = false;
              this.showModalWoman = false;
              $( 'html' ).removeClass( 'modal-open' );
          },
          goToProfile(id, t){
              if(t === 'man'){
                  window.open('/man/view/'+id, '_blank');
              }
              else {
                  window.open('/woman/view/'+id, '_blank');
              }
          },
          dateFilterChange(d) {
              this.timeFrom = d.from;
              this.timeTo = d.to;
              // if(this.man || this.woman){
              //     this.filterData();
              // }
          },
          filter( val ) {
              if ( val ) {
                  val += '';
                  return val.length > 20 ? val.slice( 0, 20 ) + '...' : val;
              } else {
                  return ''
              }
          },
          selectManCallback(e) {
              this.man = e !== 0 ? e : this.man;
              // this.filterData();
          },
          selectWomanCallback(e) {
              this.woman = e !== 0 ? e : this.woman;
              // this.filterData();
          },
          fetchWomen() {
              this.$http.post( 'v2/femal/load-list', {
                  access_token: this.$cookie.get( 'access_token' )
              } ).then( data => {
                  if ( data.body.status ) {
                      this.allWomen = data.body.result
                  } else {
                      toastr.error( 'Не могу загрузить список клиенток' )
                  }
              }, err => {
                  toastr.error( 'Не могу загрузить список клиенток' )
              } )
          },
          loadMore(){
              if( this.anyUserSelected && this.offset <= this.counter && !this.loading ){
                  this.fetchData(this.man, this.woman, true);
              }
          },
          moreTransactions(){
            this.showMoreTransBtnLoader = true;
            if( this.transitionsData.offset <= this.transitionsData.count && !this.loaderTransactions ){
              this.fetchDataTransactions(true);
            }
          },
          fetchData(manId, ladId, showMore = false){
              this.loading = true;
              if(showMore){
                this.offset = this.offset + this.limit;
              }
              var letterData = {
                  access_token: this.$cookie.get( 'access_token' ),
                  time_from: this.timeFrom,
                  time_to: this.timeTo,
                  offset: this.offset,
                  limit: this.limit,
                  order_type: this.sortType,
                  woman_id: ladId,
                  man_id: manId
              };

              this.$http.post( 'v2/monitoring/communication-load', letterData).then( data => {
                  if ( data.body.status ) {
                      if(data.body.result.list.length > 0) {

                          if(showMore){
                            this.allData = [...this.allData, ...data.body.result.list];
                          }
                          else {
                            this.allData = data.body.result.list;
                            this.offset = 0;
                          }

                          this.counter = data.body.result.counter;

                          this.loading = false;

                        this.reInitScroll();
                      }
                      else {
                          this.loading = false;
                           this.reInitScroll();
                      }
                  } else {

                      this.clearData();

                      toastr.error( 'Не могу загрузить историю общения:' + data.body.desc);
                  }
              }, err => {

                  this.clearData();

                  toastr.error( 'Не могу загрузить историю общения:' + err);
              } )
          },
          fetchManFilter() {
              this.$http.post( 'v2/male/easy-load', {
                  access_token: this.$cookie.get( 'access_token' )
              } ).then( data => {
                  if ( data.body.status ) {
                      this.mans = data.body.result;
                  } else {
                      toastr.err( 'Не могу загрузить список клиентов' );
                      toastr.info( data.body.desc )
                  }
              }, err => {
                  toastr.err( 'Не могу загрузить список клиентов' );
              } )
          },
          fetchMen() {
              this.$http.post( 'v2/male/easy-load', {
                  access_token: this.$cookie.get( 'access_token' )
              } ).then( data => {
                  if ( data.body.status ) {
                      this.mans = data.body.result;
                  } else {
                      toastr.error( 'Не могу получить пользователей для селекта' );
                      toastr.info( data.body.desc );
                  }
              }, err => {
                  toastr.error( 'Ошибка API' );
                  console.log( err );
              } )
          },
          date( ts ) {
            // Преобразуем timestamp из секунд в миллисекунды для корректного расчета
            const date = moment(ts * 1000);

            // Получаем текущую дату для сравнения
            const today = moment().startOf('day');
            const yesterday = moment().subtract(1, 'days').startOf('day');

            if (date.isSame(today, 'day')) {
              // Если дата совпадает с сегодняшней
              return `Сегодня в ${date.format('HH:mm')}`;
            } else if (date.isSame(yesterday, 'day')) {
              // Если дата совпадает со вчерашней
              return `Вчера в ${date.format('HH:mm')}`;
            } else {
              // В остальных случаях форматируем только дату
              return date.format('DD.MM.YYYY');
            }
          },
          reInitScroll(){
              let th = this;
              this.$refs.scrollContainer.addEventListener('scroll', e => {
                  setTimeout(() => {
                      if (!e.target) return;
                      th.scrollIcon =  e.target.scrollTop > 600;
                  }, 200)
              })
          },
          scrollToPosition(pos) {
              console.log(pos)
              let dialogScrollBar = this.$refs.scrollContainer;
              if (dialogScrollBar) {
                  dialogScrollBar.scrollTop = pos;
              }
          },
          showOneLetter(m_id, user){

              let mesUrl = user == 'man' ? 'v2/male/get/one-letter' : 'v2/female/get/letter-one';

              this.$http.post( mesUrl, {
                  access_token: this.$cookie.get( 'access_token' ),
                  message_id: m_id
              } ).then( data => {
                  if ( data.body.status ) {
                      this.oneLetter = data.body.result;

                      if(user == 'man'){
                          this.showModal = true;
                      }
                      else{
                          this.showModalWoman = true;
                      }

                      $( 'html' ).addClass( 'modal-open' )
                  } else {
                      toastr.error( 'Не могу загрузить письмо' );
                      toastr.info( data.body.desc )
                  }
              }, err => {
                  toastr.error( 'Не могу загрузить письмо' );
              } )
          }
        },
        mounted() {
            this.fetchDataTransactions();
            this.fetchWomen();
            this.fetchMen();
        },
        beforeRouteEnter( to, frm, next ) {
            next(vm => {
                let { woman, man, time } = vm.$route.query;
                if (woman && man) {
                    vm.woman = woman;
                    vm.man = man;
                    if(time){
                      vm.timeFrom = time;
                    }
                }
            });
        },
        components: {
            DynamicSearch,
            'my-select': mySelect,
            'date-filter': dateFilter,
            MailModal,
            MailModalWoman,
            Trigger,
            User
        }
    }
</script>

<style scoped lang="scss">
      .scroll-bar{
        overflow-y: auto;
        height: 70vh;
      }
    .statistic-scroll-wrapp{
        .direct-chat-msg{
            min-height: 95px;
            .direct-chat-text{
              font-size: 16px;
              padding: 12px 10px 5px 10px;
            }

        }
        .direct-chat-messages{
            height: 66vh;
            padding: 8px 10px;
        }
        background: #fcfcfc;

        .date-bottom{
            font-size: 12px!important;
            font-weight: 500!important;
        }

        .direct-letter-text{
            max-width: 500px;
            padding: 15px!important;
            border-radius: 1px!important;
            p{
                font-size: 15px;
            }
            .date-bottom{
                color: #000!important;
            }
        }
        .left-direct{
            margin-right: 85px;
            float: left;
            min-width: 260px;
            .direct-chat-text{
                margin: 0 0 0 85px;
                background: #f2f2f2;
                border-color: #f2f2f2;
                color: #544e0d;

                &:before, &:after{
                    border-right-color: #f2f2f2;
                    color: #f2f2f2;
                }
            }
            .direct-letter-text{
                margin: 0 0 0 85px;
                background: #fff;
                color: #000;
                border-color: #ddd;
                &:before, &:after{
                    border-right-color: #ddd;
                    color: #ddd;
                }
            }
        }
        .right-direct{
            margin-left: 85px;
            float: right;
            min-width: 340px;

            .direct-chat-text{
                background: #b6dbf1;
                border-color: #b6dbf1;
                color: #000;
                .date-bottom{
                    color: #3b769b;
                }
                margin: 0 85px 0 0;
                &:after, &:before{
                  border-left-color: #b6dbf1;
                  color: #b6dbf1;
                }
            }
            .direct-letter-text{
                margin: 0 85px 0 0;
                background: #f3f3f3;
                color: #000;
                border-color: #ddd;
                &:before, &:after{
                    border-left-color: #ddd;
                    color: #303745;
                }
                .date-bottom{
                  font-weight: 600;
                }
            }
        }
        .divider{
            text-align: center;
            background: #eee;
            border: 1px solid #fff;
            width: 50px;
            padding: 1px 5px;
            border-radius: 30px;
            position: relative;
            margin: 0 auto;
            font-size: 16px;
            &:before{
                content: "";
                border: 1px solid #eee;
            }
        }
        .direct-chat-text{
            border-radius: 12px;
            position: relative;
            padding: 4px 10px;
            .date-bottom{
                color: #777;
                display: block;
                text-align: right;
                margin-top: 3px;
            }
        }
        .direct-chat-name{
            font-size: 13px;
        }

        .icon-scroll{
            position: absolute;
            bottom: 30px;
            left:30px;
            width: 40px;
            height: 40px;
            background: rgba(0, 0, 0, .1);
            border-radius: 50%;
            line-height: 0;
            z-index: 2;
            color: #fff;
            cursor: pointer;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover{
                background: rgba(0, 0, 0, .4);
            }
            i{
                font-size: 14px;
            }
        }
    }
    .cursor-pointer{
        cursor: pointer;
    }
    .flex-right{
        justify-content: flex-end;
    }

    .arrow{
        padding-top: 25px;
        i{
            font-size: 18px;
            color: #777;
        }
    }
    .photo-wrapp{
        position: relative;
        display: inline-block;
        vertical-align: top;
        .viewed{
            transform: translateX(-50%);
            left: 50%;
            position: absolute;
            bottom: 10px;
            display: inline-block;
            font-size: 11px;
            font-weight: bold;
            vertical-align: top;
            padding: 3px 6px;
            border-radius: 5px;
            background-color: rgba(0,0,0, .4);
            color: #13f18c;
        }
    }

    .active-group{
      background: #2e3745;
      border-color: #2e3745;
      color: #fff;
      .position-date{color: #c7ddff;}
    }

    .user-id{
      font-size: 13px;
    }
</style>
