<template>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-blue box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Модерация видео (удаление)</h3>
                </div>
                <div class="box-body no-padding">
                    <form class="row">
                        <div class="form-group margin">
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="ID" v-model="id">
                            </div>
                            <pfaw @selectChange="selectChange" :withWoman="true"></pfaw>
                            <div class="col-md-2">
                                <select class="form-control" v-model="account_status">
                                    <option class="placeholder-option" value="" selected>Статус</option>
                                    <option value="active">активные</option>
                                    <option value="banned">забаненные</option>
                                    <option value="on_creating">на создании</option>
                                    <option value="lock">заблокированные</option>
                                    <option value="not_moderated">на модерации</option>
                                    <option value="deactivated">удаленные</option>
                                </select>
                            </div>
                        </div>
                    </form>
                    <sst :loader="loader" @load="fetchData" :sort="sort" :data="data"
                         :count="count" :loadParams="loadParams" :order="order" :pagination="pagination">
                        <tr slot="tbody" v-for="i in data" :key="i.video_id">

                            <td>
                                {{i.video_id}}
                            </td>
                            <td>
                                <router-link :to="{name: 'Профиль клиентки', params: {woman: i.user_id}}">
                                    <img :src="i.profile_avatar_file" :alt="'Аватар ' + i.name"
                                         class="img-responsive img-rounded" width="60px">
                                </router-link>
                            </td>
                            <td>
                                <router-link :to="{name: 'Профиль клиентки', params: {woman: i.user_id}}">{{i.name}}
                                    (id:{{i.user_id}})
                                </router-link>
                            </td>
                            <td>
                                <template v-if="i.account_status==='active'">
                                    <span class="text-black"> активная </span>
                                </template>
                                <template v-else-if="i.account_status==='deactivated'">
                                    <span class="text-yellow"> удалена </span>
                                </template>
                                <template v-else-if="i.account_status==='banned'">
                                    <span class="text-red"> забанена </span>
                                </template>
                                <template v-else-if="i.account_status==='not_moderated'">
                                    <span class="text-grey"> на модерации </span>
                                </template>
                                <template v-else-if="i.account_status==='on_creating'">
                                    <span class="text-grey"> на создании </span>
                                </template>
                                <template v-else-if="i.account_status==='lock'">
                                    <span class="text-red"> заблокированна </span>
                                </template>


                            </td>
                            <td>
                                <router-link :to="{name: 'Просмотр партнера', params: {id: i.main_agency_id}}">
                                    {{i.main_agency_name}} (id: {{i.main_agency_id}})
                                </router-link>
                            </td>
                            <td>
                                <template v-if="i.branch_agency_id">
                                    <router-link :to="{name: 'Просмотр партнера', params: {id: i.branch_agency_id}}">
                                        {{i.branch_agency_name}} (id: {{i.branch_agency_id}})
                                    </router-link>
                                </template>
                                <template v-else>
                                    Не указан
                                </template>
                            </td>
                            <td>
                                <template v-if="i.admin_id">
                                    <router-link :to="{name: 'Профиль админа', params: {admin: i.admin_id}}">
                                        {{i.admin_name}} (id: {{i.admin_id}})
                                    </router-link>
                                </template>
                                <template v-else>
                                    Не указан
                                </template>
                            </td>

                            <td>
                                {{ date( i.video_created_at )}}
                            </td>

                            <td>
                                <button class="btn btn-primary btn-block" @click="modalShow(i)">
                                    Модерировать
                                </button>
                            </td>
                        </tr>
                    </sst>

                </div>

                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- <cropModal v-if="flagModal" @close="modalClose" @photoModerated="updateData" :modalProps="modalProps" :typePhotos="typePhotos"></cropModal> -->
        <moderate-video-modal @updateData="updateData()"/>
    </div>

</template>

<script>
    import moment from 'moment'
    import toastr from 'toastr'
    import _ from 'lodash'
    import sst from '../../../custom/serverSideTable.vue'
    import mySelect from '../../../custom/select2/select-new.vue'
    import pfaw from '../../../custom/relativeSelect/component.vue'
    import ModerateVideoModal from '../../../modals/ModerateVideoModal.vue'
    import {SS_SORT_TABLE} from '../../../../mixins/utils'
    import {UPDATE_MODERATION_COUNTER} from '../../../../mixins/updateModerationCounter'

    export default {
        props: {
            routeNew: Number,
            routePay: Number,
            routeOnline: Number,
            routeRNew: Number
        },
        data() {
            return {
                loader: true,
                data: [],
                id: '',
                account_status: '',
                //typePhotos: "public",
                // modalProps:{},
                flagModal: false,
                sort: [
                    { active: false, name: '', column: 'ID' },
                    { active: false, name: '', column: 'Аватар' },
                    { active: false, name: 'name', column: 'ИФ клиентки' },
                    { active: false, name: '', column: 'Статус' },
                    { active: false, name: '', column: 'Партнер' },
                    { active: false, name: '', column: 'Филиал' },
                    { active: false, name: '', column: 'Админ' },
                    { active: true, name: 'video_created_at', column: 'Дата загрузки'},
                    { active: false, name: '', column: 'Действие' },
                ],
            }
        },

        mixins: [
            SS_SORT_TABLE,
            UPDATE_MODERATION_COUNTER
        ],

        watch: {
            id() {
                this.resetPagination();
                this.search();
            },
            account_status() {
                this.resetPagination();
                this.fetchData();
            }
        },
        methods: {
            selectChange(value) {
                this.resetPagination();
                this.partner = value.partner
                this.branch = value.branch
                this.admin = value.admin
                this.woman = value.woman
                this.fetchData();
            },
            modalShow(d) {
                this.$store.commit('updateModerateVideoModalState', {
                    open: true,
                    options: Object.assign(d, {id: d.video_delete_request_id}),
                    videoType: 'delete'
                });
            },
            updateData() {
                this.updateModerationCounters();
                this.resetPagination();
                this.fetchData();
                this.$store.dispatch('getCountersModeration');
            },
            search: _.debounce(function () {
                this.fetchData()
            }, 300),
            fetchData() {
                window.scrollTo(0, 0);
                this.loader = true;

                this.$http.post('v2/moderation/list-video-delete-request', {
                    access_token: this.$cookie.get('access_token'),
                    offset: this.loadParams.offset,
                    limit: this.loadParams.limit,
                    order_type: this.order.type,
                    order_by: this.order.by,
                    id: this.id,
                    name: this.name || '',
                    main_agency_id: this.partner || '',
                    branch_agency_id: this.branch || '',
                    admin_id: this.admin || '',
                    user_id: this.woman || '',
                    account_status: this.account_status,

                }).then(response => response.json())
                    .then(({status, desc, code, result}) => {
                        if (status) {
                            this.data = result.list;
                            this.count = +result.count;
                        } else {
                            //console.log(data.body);
                            this.data = [];
                            this.count = 0;
                            toastr.error('Не могу получить данные');
                            toastr.info(desc);
                        }
                        this.loader = false;
                    });
            },
            date(ts) {
                if (this.localTZ) {
                    return moment(ts * 1000).format('LLL')
                }
                return moment(ts * 1000).utc().format('LLL')
            }
        },
        computed: {},
        mounted() {
            this.$nextTick(() => {
                this.updOrderParams({
                    type: 'desc',
                    by: 'video_created_at'
                });
                this.fetchData();
            })
        },

        beforeMount() {
            this.updOrderParams({
                type: 'desc',
                by: 'video_created_at'
            });
        },
        components: {
            sst,
            mySelect,
            pfaw,
            ModerateVideoModal
        }
    }
</script>

<style scoped lang="scss">
    .is-new {
        border-radius: 8px;
        border: 2px solid #ff4614;
        text-transform: uppercase;
        font-size: 9px;
        font-weight: 700;
        display: flex;
        padding: 0 3px;
        width: 32px;
        height: 17px;
        align-items: center;
        line-height: 1;
        color: #ff4614;
        background: #fff;
        margin-left: 3px;
    }

    .moderation-modal-buttons {
        .btn {
            line-height: 1;
            height: 42px;
        }

        .denied-svg {
            fill: white;
            height: 24px;
            width: 24px;
        }

        .accept-svg {
            fill: white;
            height: 24px;
            width: 24px;
        }
    }

    .referal-links-list {
        list-style: none;

        a {
            cursor: pointer;
        }
    }

    .photo-id-span {
        position: relative;
        text-align: center;
        color: dimgrey;
        margin-top: 10px;
        margin-bottom: 10px;
        display: block;
        font-size: 12px;
        font-weight: 600;
    }
</style>

