<template>
	<transition name="fade">
		<div>
			<small-preloader
          v-if="!loaded"
      />
			<section v-else>
				<div class="row">
					<div class="col-md-6">
						<div class="box box-blue box-solid">
							<div class="box-header with-border">
								<h3 class="box-title"><i class="fa fa-dollar text-blue"></i> Финансы</h3>
								<div class="box-tools pull-right">
									<button type="button" class="btn btn-box-tool" data-widget="collapse"><i
											class="fa fa-minus"></i></button>
								</div>
							</div>
							<div class="box-body no-padding">
								<ul class="v-list no-after">
									<li class="flex-orientation flex-orientation__between">Доход за всё время <span
											class="text-blue dashboard-text-common">{{round10( stats.finance.finance_profit_for_all_time, -2 )}}</span>
									</li>
									<li class="flex-orientation flex-orientation__between">Месячный доход
										<div class="flex-orientation">
											<span
											   class="text-black dashboard-text-common">{{round10( stats.finance.finance_profit_for_this_month, -2 )}}
											</span>
											<f-tpl class="dashboard-text-common" :current="stats.finance.finance_profit_for_this_month"
												   :prev="stats.finance.finance_profile_for_previous_month"></f-tpl>
										</div>

									</li>
									<li class="flex-orientation flex-orientation__between">Пополнения за всё время
										<router-link :to="{name: 'Пополнения'}" class="text-black dashboard-text-common">
											{{round10( stats.finance.refill_for_all_time, -2 )}}
										</router-link>
									</li>
									<li class="flex-orientation flex-orientation__between">Пополнения за месяц
										<div class="flex-orientation">
											<router-link :to="{name: 'Пополнения'}" class="text-black dashboard-text-common">
												{{round10( stats.finance.refill_for_this_month, -2 )}}
											</router-link>
											<f-tpl  :current="stats.finance.refill_for_this_month"
												   :prev="stats.finance.refill_for_previous_month"
												   class="text-black dashboard-text-common"></f-tpl>
										</div>
									</li>
									<li class="flex-orientation flex-orientation__between">Штрафы за месяц
										<div class="flex-orientation">
											<router-link :to="{name: 'Штрафы', query: {sort: 'active'}}"
														 class="text-black dashboard-text-common">
												{{round10( stats.finance.penalty_for_this_month, -2 )}}
											</router-link>
											<f-tpl  :current="stats.finance.penalty_for_this_month"
												   :prev="stats.finance.penalty_for_previous_month"
												   class="text-black dashboard-text-common"></f-tpl>
										</div>
									</li>
									<li class="flex-orientation flex-orientation__between">Бонусы партнеров за месяц
										<div class="flex-orientation">
											<span
											   class="text-black dashboard-text-common">{{round10( stats.finance.agency_bonus_for_this_month, -2 )}}</span>
											<f-tpl :current="stats.finance.agency_bonus_for_this_month"
												   :prev="stats.finance.agency_bonus_for_previous_month"
												   class="text-black dashboard-text-common"></f-tpl>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="box box-blue box-solid">
							<div class="box-header with-border">
								<h3 class="box-title"><i class="fa fa-male text-blue"></i> Клиенты</h3>
								<div class="box-tools pull-right">
									<button type="button" class="btn btn-box-tool" data-widget="collapse"><i
											class="fa fa-minus"></i></button>
								</div>
							</div>
							<div class="box-body no-padding">
								<ul class="v-list no-after">
									<li class="flex-orientation flex-orientation__between">
											Онлайн (реальный)
										<span class="text-black-gray">
											<span class="text-black dashboard-text-common">{{stats.man.man_all_online}}</span> (<router-link class="text-green dashboard-text-common" :to="{name: 'Список клиентов', query: {online: 1}}">{{stats.man.man_real_online}}</router-link>)
										</span>
									</li>



									<li class="flex-orientation flex-orientation__between">Количество (новых) <span class="text-black-gray"><span class="text-black dashboard-text-common">{{stats.man.man_all}}</span> (
										<router-link :to="{name: 'Список клиентов', query: {'new': 1}}" class="text-green dashboard-text-common">{{stats.man.man_new}}</router-link>)</span></li>
									<li class="flex-orientation flex-orientation__between">Платники (новые) <span class="text-black-gray dashboard-text-common">
										<router-link :to="{name: 'Список клиентов', query: {pay: 1}}" class="text-black dashboard-text-common">{{stats.man.man_payment_available}}</router-link> ( <router-link :to="{name: 'Список клиентов', query: { 'rnew': 1}}"
											class="text-green dashboard-text-common">{{stats.man.man_payment_new}}</router-link>)</span>
									</li>
									<li class="flex-orientation flex-orientation__between">Корзина <router-link :to="{name: 'Удаленные клиенты'}" class="text-black dashboard-text-common">{{stats.man.deleted_man}}</router-link>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="box box-blue box-solid">
							<div class="box-header with-border">
								<h3 class="box-title"><i class="fa fa-female text-blue"></i> Клиентки</h3>
								<div class="box-tools pull-right">
									<button type="button" class="btn btn-box-tool" data-widget="collapse"><i
											class="fa fa-minus"></i></button>
								</div>
							</div>
							<div class="box-body no-padding">
								<ul class="v-list no-after">
									<li class="flex-orientation flex-orientation__between">Онлайн (реальный)
										<span class="text-black-gray">
											<span class="text-black dashboard-text-common">{{stats.woman.online.woman_online}}</span> (<router-link class="text-green dashboard-text-common" :to="{name: 'Список клиенток', query: {online: 1}}">
												{{stats.woman.online.woman_online_real}}
										</router-link>)
										</span>
									</li>
									<li class="flex-orientation flex-orientation__between">С камерами
										<router-link :to="{name: 'Список клиенток', query: {online: 1, webcam: 1}}" style="text-decoration: none;">
											<small class="label bg-green dashboard-text-common">
												{{stats.woman.online.woman_online_real_cam}}  <i
													class="fa fa-video-camera"></i></small>
										</router-link>
									</li>

									<li class="flex-orientation flex-orientation__between">Количество (новых) <span class="text-black-gray">
										<span class="text-black dashboard-text-common">{{stats.woman.woman_count.all}}</span>
										(<span class="text-green dashboard-text-common">{{stats.woman.woman_count.new}}</span>)</span></li>
									<li class="flex-orientation flex-orientation__between">На модерации <span class="text-black dashboard-text-common">{{stats.woman.on_moderation}}</span>
									</li>
									<li class="flex-orientation flex-orientation__between">Корзина
										<router-link :to="{name: 'Удаленные клиентки'}" class="text-black dashboard-text-common">
											{{stats.woman.deleted_woman}}
										</router-link>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="box box-blue box-solid">
							<div class="box-header with-border">
								<h3 class="box-title"><i class="fa fa-group text-blue"></i> Партнеры</h3>
								<div class="box-tools pull-right">
									<button type="button" class="btn btn-box-tool" data-widget="collapse"><i
											class="fa fa-minus"></i></button>
								</div>
							</div>
							<div class="box-body no-padding">
								<ul class="v-list no-after">
									<li class="flex-orientation flex-orientation__between">Количество (новых) <span class="text-black-gray"><router-link
											:to="{name: 'Список партнеров'}"
											class="text-black dashboard-text-common">{{stats.agency.agency_count.all}}</router-link> (
										<router-link :to="{name: 'Список партнеров', query: { 'new': 1}}"
													 class="text-green dashboard-text-common">{{stats.agency.agency_count.new}}</router-link>)</span>
									</li>
									<li class="flex-orientation flex-orientation__between">
										На создании <router-link :to="{name: 'Список партнеров', query: { 'status': 'on_creating'}}" class="text-grenn dashboard-text-common">{{stats.agency.on_moderation}}</router-link>
									</li>
									<li class="flex-orientation flex-orientation__between">Корзина <span class="text-black dashboard-text-common">{{stats.agency.deleted}}</span>
									</li>

								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="box box-blue box-solid">
							<div class="box-header with-border">
								<h3 class="box-title"><i class="fa fa-th-list text-blue"></i> Сервисы</h3>
								<div class="box-tools pull-right">
									<button type="button" class="btn btn-box-tool" data-widget="collapse"><i
											class="fa fa-minus"></i>
									</button>
								</div>
							</div>
							<div class="box-body no-padding">
								<ul class="v-list no-after">
									<li class="flex-orientation flex-orientation__between">Письма новые (критические) <span class="text-black-gray"><router-link
											:to="{name: 'Список сообщений', query: {'new': 1}}"
											class="text-black dashboard-text-common">{{stats.services.message_new}}</router-link> (<router-link
											:to="{name: 'Список сообщений', query: {critical: 1, 'new': 1}}"
											class="text-red dashboard-text-common">{{stats.services.message_critical}}</router-link>)</span>
									</li>
									<li class="flex-orientation flex-orientation__between">Подарки новые (критические) <span class="text-black-gray"><router-link
											:to="{name: 'Список подарков', query: {'new': 1}}"
											class="text-black dashboard-text-common">{{stats.services.gift_new}}</router-link>
										(<router-link :to="{name: 'Список подарков', query: {critical: 1, 'new': 1}}" class="text-red dashboard-text-common">{{stats.services.gift_critical}}</router-link>)</span>
									</li>
									<li class="flex-orientation flex-orientation__between">Контакт инфо новые (критические) <span class="text-black-gray">
										<router-link :to="{name: 'Список запросов контактной информации', query: {'new': 1}}"
													 class="text-black dashboard-text-common">{{stats.services.realinfo_request_new}}</router-link>
										(<router-link :to="{name: 'Список запросов контактной информации', query: {critical: 1, 'new': 1}}"
													  class="text-red dashboard-text-common">{{stats.services.realinfo_request_critical}}</router-link>)</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="box box-blue box-solid">
							<div class="box-header with-border">
								<h3 class="box-title"><i class="fa fa-phone text-blue"></i> Обратная связь</h3>

								<div class="box-tools pull-right">
									<button type="button" class="btn btn-box-tool" data-widget="collapse"><i
											class="fa fa-minus"></i>
									</button>
								</div>
							</div>
							<div class="box-body no-padding">
								<ul class="v-list no-after">
									<li class="flex-orientation flex-orientation__between">От клиенток
										<router-link :to="{name: 'Список обращений от Клиенток', query: {sort: 1}}"
													 class="text-black dashboard-text-common">{{stats.feedback.from_woman}}
										</router-link>
									</li>
									<li class="flex-orientation flex-orientation__between">От клиентов
										<router-link :to="{name: 'Список обращений от клиентов', query: {sort: 1}}"
													 class="text-black dashboard-text-common">{{stats.feedback.from_man}}
										</router-link>
									</li>
									<li class="flex-orientation flex-orientation__between">От партнеров
										<router-link :to="{name: 'Список обращений от Партнеров', query: {sort: 1}}"
													 class="text-black dashboard-text-common">{{stats.feedback.from_agency}}
										</router-link>
									</li>
									<li class="flex-orientation flex-orientation__between">От гостей
										<router-link :to="{name: 'Список обращений', query: {sort: 1}}" class="text-black dashboard-text-common">
											{{stats.feedback.from_guest}}
										</router-link>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="box box-blue box-solid">
							<div class="box-header with-border">
								<h3 class="box-title"><i class="fa fa-recycle text-blue"></i> Модерация</h3>

								<div class="box-tools pull-right">
									<button type="button" class="btn btn-box-tool" data-widget="collapse"><i
											class="fa fa-minus"></i>
									</button>
								</div>
								<!-- /.box-tools -->
							</div>
							<!-- /.box-header -->
							<div class="box-body no-padding">
								<ul class="v-list no-after">
									<li class="flex-orientation flex-orientation__between">Клиентки <router-link :to="{name: 'Модерация новых клиенток'}"
													class="text-black dashboard-text-common">{{stats.moderation.woman}}</router-link>
									</li>
									<li class="flex-orientation flex-orientation__between">Фото <router-link :to="{name: 'Модерация публичных фото'}" class="text-black dashboard-text-common">{{stats.moderation.photo}}</router-link>
									</li>
									<li class="flex-orientation flex-orientation__between">Аватары <router-link :to="{name: 'Модерация аватаров'}"
												   class="text-black dashboard-text-common">{{stats.moderation.avatar}}</router-link>
									</li>
									<li class="flex-orientation flex-orientation__between">Рассылки <router-link :to="{name: 'Модерация рассылок'}"
													class="text-black dashboard-text-common">{{stats.moderation.distribution}}</router-link>
									</li>
									<li class="flex-orientation flex-orientation__between">Подарки <router-link :to="{name: 'Модерация подарков'}"
																												 class="text-black dashboard-text-common">{{stats.moderation.gifts}}</router-link>
									</li>
									<li class="flex-orientation flex-orientation__between">Контакт-инфо <router-link :to="{name: 'Запрос контактной информации'}"
																												 class="text-black dashboard-text-common">{{stats.moderation.real_info_request}}</router-link>
									</li>
								</ul>
							</div>
							<!-- /.box-body -->
						</div>
						<!-- /.box -->
					</div>
					<div class="col-md-6">
						<div class="box box-blue box-solid">
							<div class="box-header with-border">
								<h3 class="box-title"><i class="fa fa-group text-blue"></i> Посетители</h3>
								<div class="box-tools pull-right">
									<button type="button" class="btn btn-box-tool" data-widget="collapse"><i
											class="fa fa-minus"></i></button>
								</div>
								<!-- /.box-tools -->
							</div>
							<!-- /.box-header -->
							<div class="box-body no-padding">
								<ul class="v-list no-after">
									<li class="flex-orientation flex-orientation__between">Клиенты <span class="text-black dashboard-text-common">{{stats.visitors.unique_man_user_pay_day}}</span></li>
									<li class="flex-orientation flex-orientation__between">Клиентки <span class="text-black dashboard-text-common">{{stats.visitors.unique_woman_user_pay_day}}</span></li>
								</ul>
							</div>
							<!-- /.box-body -->
						</div>
						<!-- /.box -->
					</div>
				</div>
			</section>
		</div>
	</transition>
</template>

<script>
  import preloaderSmall from '../../components/custom/normalPreloader/component.vue'
  import { MATH } from '@/mixins/utils.js'
	import fTpl from '../custom/dashboard/_tpl.vue'

	export default {
		data() {
			return {
				loaded: false,
				stats: {
					finance: {
						agency_bonus_for_previous_month: 0,
						agency_bonus_for_this_month: 0,
						agency_bonus_ration_this_month_to_previous: 0,
						finance_profile_for_previous_month: 0,
						finance_profit_for_all_time: 0,
						finance_profit_for_this_month: 0,
						finance_ration_this_month_to_previous: 0,
						penalty_for_previous_month: 0,
						penalty_for_this_month: 0,
						penalty_ratio_this_month_to_previous: 0,
						refill_for_all_time: 0,
						refill_for_previous_month: 0,
						refill_for_this_month: 0,
						refill_ration_this_month_to_previous: 0
					},
					man: {
						deleted_man: 0,
						man_all: 0,
						man_all_online: 0,
						man_bot_online: 0,
						man_new: 0,
						man_payment_all: 0,
						man_payment_new: 0,
						man_real_online: 0,
						man_payment_available: 0
					},
					woman: {
						deleted_woman: 0,
						on_moderation: 0,
						online: {
							woman_online: 0,
							woman_online_real: 0,
							woman_online_real_cam: 0,
							woman_online_bot: 0
						},
						woman_count: {
							all: 0,
							'new': 0
						},
					},
					agency: {
						agency_count: {
							all: 0,
							'new': 0
						},
						deleted: 1,
						on_moderation: 0
					},
					services: {
						gift_critical: 0,
						gift_new: 0,
						message_critical: 0,
						message_new: 0,
						realinfo_request_critical: 0,
						realinfo_request_new: 0,
					},
					feedback: {
						from_woman: 0,
						from_man: 0,
						from_agency: 0,
						from_guest: 0
					},
					moderation: {
						avatar: 0,
						distribution: 0,
						photo: 0,
						woman: 0,
						real_info_request: 0,
						gifts: 0
					},
					visitors: {
						visitors_user_per_day: 0,
						unique_woman_user_pay_day: 0,
						unique_man_user_pay_day: 0
					}
				},
			}
		},
		mixins: [ MATH ],

		methods: {
			fetchData() {
				this.loaded = false;
				this.$http.post( 'v2/dashboard/get/statistic', {
					access_token: this.$cookie.get( 'access_token' ),
				} ).then( statResult => {
					if ( statResult.body.status ) {
						this.stats = statResult.body.result;
					} else {
						toastr[ "error" ]( "Some server error!" );
					}
					this.loaded = true;
				}, err => {
					console.log( err );
				} )
			}
		},
		computed: {
			profit() {
				return parseFloat( this.stats.finance.profit ).toFixed( 2 );
			},
		},
		beforeMount() {
			this.fetchData();
		},
		components: {
			'small-preloader': preloaderSmall,
			fTpl
		}
	}
</script>

<style lang="scss">
	.v-list {
		&.no-after {
			li {
				&:after {
					display: none !important;
				}
			}
		}
	}

	.flex-orientation {
		display: flex !important;
		align-items: center;

		&__between {
			justify-content: space-between;
		}

		> * {
			width: auto !important;
		}

		> * + * {
			margin-left: 4px;
		}
	}

	.fade-enter-active, .fade-leave-active {
		transition: opacity 2s
	}

	.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */
	{
		opacity: 0
	}
	.dashboard-text-common {
		font-size: 15px;
	}
</style>
