<template>
    <div>
        <div class="row margin-bottom">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <div  class="user-block user-block-md pull-left">
                            <img class="img-circle" :src="partnerAvatar" alt="User Image">
                            <i v-if="partner.director.online" class="fa fa-sm fa-circle text-green icon-ava"></i>
                            <span class="username">
                              <a href="#">{{partner.general.name}}</a>
                            </span>
                            <span class="description">ID: {{partner.director.id}}</span>
                        </div>
                        <change-password :user="parseInt(partner.director.id)" style="padding-top: 10px; margin-left: 10px;" class="pull-left"></change-password>
                        <change-email @chengeEmail="reload()" :emailProp="email" :user="parseInt(partner.director.id)" style="margin-left: 10px; padding-top: 10px; display: inline-block;"></change-email>
                    </div>
                    <div class="col-md-6 col-xs-12 text-right">
                        <router-link :to="'/branch/create/' + partner.general.id">
                            <a class="btn btn-success margin-top">Филиал <i class="fa fa-plus"></i></a>
                        </router-link>
                        <router-link :to="'/partner/admin/create/' + partner.general.id">
                            <a class="btn btn-success margin-top" >Админ <i class="fa fa-plus"></i></a>
                        </router-link>
                        <router-link :to="'/partners/woman/create/' + partner.general.id">
                            <a class="btn btn-success margin-top" >Клиентка <i class="fa fa-plus"></i></a>
                        </router-link>
                    </div>
                </div>
            </div>
        </div>

        <!-- Smboxes.vueoxes (Stat box) -->
        <div class="row">
            <div class="col-md-6">
                <div class="box box-blue box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title btn-block">Общая информация <a href="#" @click.prevent="editPartner('#main-tab')"
                                                                            class="pull-right"><i
                                class="fa fa-pencil text-blue"></i></a></h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <ul class="v-list">
                            <li>Статус <span class="pull-right" :class="{'text-green': partner.general.status === 'active', 'text-red': partner.general.status === 'deactivated'}">{{partnerStatus}}</span></li>
                            <li>Тип <span class="pull-right text-orange">{{partnerType}}</span></li>
                            <li>Дата регистрации <span class="pull-right">{{dateOfRegistration}}</span></li>
                            <li>Паспорт (номер+серия) <span class="pull-right">{{passportData}}</span></li>
                            <li>Имя директора <span class="pull-right">{{directorName}}</span></li>
                            <li>Фамилия директора <span class="pull-right">{{directorSurName}}</span></li>
                            <li>Фамилия директора <span class="pull-right">{{directorMiddleName}}</span></li>
                            <li class="row">
                                <span class="col-md-6">Примечание</span>
                                <div class="col-md-6">
                                    {{partner.general.note}}
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <div class="col-md-6">
                <div class="box box-blue box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title btn-block">Контакты <a href="#" @click.prevent="editPartner('#contacts')"
                                                                    class="pull-right"><i
                                class="fa fa-pencil text-blue"></i></a></h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <ul class="v-list">
                            <li>Страна <span class="pull-right">{{country}}</span></li>
                            <li>Город <span class="pull-right">{{city}}</span></li>
                            <li>Адрес <span class="pull-right">{{address}}</span></li>
                            <li :class="{'bg-danger': !partner.contacts.email_active}">E-mail <span class="pull-right text-blue">{{email}}</span></li>
                            <li>Телефон 1 <span class="pull-right">{{phone_1}}</span></li>
                            <li>Телефон 2 <span class="pull-right">{{phone_2}}</span></li>
                            <li>Скайп <span class="pull-right">{{skype}}</span></li>
                            <li class="row">
                                <span class="col-md-6">Банковские реквизиты</span>
                                <div class="col-md-6">
                                    {{bank_detail}}
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="box box-blue box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title btn-block">Статистика </h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="v-list">
                                    <li>Количество анкет <span
                                            class="pull-right">{{partner.statistic.profile_count}}</span></li>
                                    <li>Анкет онлайн <span class="label label-default pull-right online-point">{{partner.statistic.online_profile_count}}</span>
                                    </li>
                                    <li>Бонусы за месяц <span class="pull-right text-green">{{round10(partner.statistic.bonus_per_month, -2)}}</span>
                                    </li>
                                    <li>Кол-во админов <span class="pull-right">{{partner.statistic.admin_count}}</span>
                                    </li>
                                    <li>Кол-во филиалов <span
                                            class="pull-right">{{partner.statistic.branches_count}}</span></li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="v-list">
                                    <li>Штрафы за месяц<span class="pull-right text-red">{{round10(partner.statistic.fines_for_the_month, -2)}}</span>
                                    </li>
                                    <li>Письма новые (критические)<span class="pull-right">{{partner.statistic.mail.new}} (<a
                                            class="text-red"
                                            href="message.new.html">{{partner.statistic.mail.critical}}</a>)</span></li>
                                    <li>Подарки новые (критические)<span class="pull-right">{{partner.statistic.gift.new}} (<a
                                            class="text-red"
                                            href="message.new.html">{{partner.statistic.gift.critical}}</a>)</span></li>
                                    <li>Контакт инфо новые (критические)<span class="pull-right">{{partner.statistic.realinfo_request.new}} (<a
                                            class="text-red" href="message.new.html">{{partner.statistic.realinfo_request.critical}}</a>)</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
        <!-- /.row (main row) -->

        <div class="row">
            <div class="col-md-6">
                <div class="box box-blue box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title btn-block">Промо <a href="#" @click.prevent="editPartner('#promo')"
                                                                 class="pull-right"><i
                                class="fa fa-pencil text-blue"></i></a></h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <ul class="v-list">
                            <li>VK директора <a :href="partnerVkDirector" target="_blank" class="pull-right">{{partnerVkDirector}}</a>
                            </li>
                            <li>Facebook директора <a :href="partnerFacebookDirector" class="pull-right"
                                                      target="_blank">{{partnerFacebookDirector}}</a></li>
                            <li>VK агентства <a :href="partnerVkAgency" class="pull-right" target="_blank">{{partnerVkAgency}}</a>
                            </li>
                            <li>Facebook агентства <a :href="partnerFacebookAgency" target="_blank" class="pull-right">{{partnerFacebookAgency}}</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>

            <div class="col-md-6">
                <div class="box box-blue box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title btn-block">Документы <a href="#" @click.prevent="editPartner('#documents')" class="pull-right"><i
                            class="fa fa-pencil text-blue"></i></a></h3>
                    </div>
                    <div class="box-body no-padding v-scroll" data-height="210">
                        <ul class="v-list">
                            <li class="header">ЧП (фирмы)</li>
                            <li>
                                <nav class="photo-nav photo-list">
                                    <a target="_blank" :class="{ 'photo-nav__item': !isDocument(photo.file_extension) }" v-for="photo in documents.business_docs" :href="photo.image">
                                        <img :src="photo.image" v-if="!isDocument(photo.file_extension)">
                                        <img :src="'/dist/img/pdf.png'" v-else="isDocument(photo.file_extension)" alt="Document">
                                    </a>
                                </nav>
                            </li>
                            <li class="header">Фото офиса (фирмы)</li>
                            <li>
                                <nav class="photo-nav photo-list">
                                    <a target="_blank" :class="{ 'photo-nav__item': !isDocument(photo.file_extension) }" v-for="photo in documents.office_photo" :href="photo.image">
                                        <img :src="photo.image" v-if="!isDocument(photo.file_extension)">
                                        <img :src="'/dist/img/pdf.png'" v-else="isDocument(photo.file_extension)" alt="Document">
                                    </a>
                                </nav>
                            </li>
                            <li class="header">Паспорт директора</li>
                            <li>
                                <nav class="photo-nav photo-list">
                                    <a target="_blank" :class="{ 'photo-nav__item': !isDocument(photo.file_extension) }" v-for="photo in documents.passport_1" :href="photo.image">
                                        <img :src="photo.image" v-if="!isDocument(photo.file_extension)">
                                        <img :src="'/dist/img/pdf.png'" v-else="isDocument(photo.file_extension)" alt="Document">
                                    </a>
                                </nav>
                            </li>
                            <li class="header">Видео с директором</li>
                            <li>
                                <nav class="photo-nav photo-list">
                                    <a target="_blank" v-for="photo in documents.video_approve" :href="photo.image">
                                        <img src="https://ateliesaun.ru/img/new/video.jpg"/>
                                    </a>
                                </nav>
                            </li>
                            <li class="header">Копия последней страницы договора с сервисом и подписью</li>
                            <li>
                                <nav class="photo-nav photo-list">
                                    <a target="_blank" :class="{ 'photo-nav__item': !isDocument(photo.file_extension) }" v-for="photo in documents.contract_with_site" :href="photo.image">
                                        <img :src="photo.image" v-if="!isDocument(photo.file_extension)">
                                        <img :src="'/dist/img/pdf.png'" v-else="isDocument(photo.file_extension)" alt="Document">
                                    </a>
                                </nav>
                            </li>
                            <li class="header">Договор на аренду офиса (копия)</li>
                            <li>
                                <nav class="photo-nav photo-list">
                                    <a target="_blank" :class="{ 'photo-nav__item': !isDocument(photo.file_extension) }" v-for="photo in documents.office_rent" :href="photo.image">
                                        <img :src="photo.image" v-if="!isDocument(photo.file_extension)">
                                        <img :src="'/dist/img/pdf.png'" v-else="isDocument(photo.file_extension)" alt="Document">
                                    </a>
                                </nav>
                            </li>
                            <li class="header">Другие</li>
                            <li>
                                <nav class="photo-nav photo-list">
                                    <a target="_blank" :class="{ 'photo-nav__item': !isDocument(photo.file_extension) }" v-for="photo in documents.other" :href="photo.image">
                                        <img :src="photo.image" v-if="!isDocument(photo.file_extension)">
                                        <img :src="'/dist/img/pdf.png'" v-else="isDocument(photo.file_extension)" alt="Document">
                                    </a>
                                </nav>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="box box-blue box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title btn-block">
                            Подарки <a @click.prevent="editPartner('#gifts')" class="pull-right"><i class="fa fa-pencil text-blue"></i></a>
                        </h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">

                        <!-- .box -->
                        <div class="box box-xs box-solid collapsed-box">
                            <div class="box-header with-border" data-widget="collapse">
                                <i class="fa fa-plus"></i>
                                <h3 class="box-title">Парфюмы</h3>
                            </div>
                            <div class="box-body no-padding no-display">
                                <ul class="nav nav-pills nav-stacked">
                                    <li v-for="gift in gifts.perfume">
                                        <div class="attachment-block clearfix">
                                            <img class="attachment-img" :src="gift.photo" :alt="gift.name">
                                            <div class="attachment-pushed">
                                                <div class="attachment-heading">{{gift.name}}</div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.box -->

                        <!-- .box -->
                        <div class="box box-xs box-solid collapsed-box">
                            <div class="box-header with-border" data-widget="collapse">
                                <i class="fa fa-plus"></i>
                                <h3 class="box-title">Ювелирные изделия</h3>
                            </div>
                            <div class="box-body no-padding no-display">
                                <ul class="nav nav-pills nav-stacked">
                                    <li v-for="gift in gifts.jewelry">
                                        <div class="attachment-block clearfix">
                                            <img class="attachment-img" :src="gift.photo" :alt="gift.name">
                                            <div class="attachment-pushed">
                                                <div class="attachment-heading">{{gift.name}}</div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.box -->

                        <!-- .box -->
                        <div class="box box-xs box-solid collapsed-box">
                            <div class="box-header with-border" data-widget="collapse">
                                <i class="fa fa-plus"></i>
                                <h3 class="box-title">Техника</h3>
                            </div>
                            <div class="box-body no-padding no-display">
                                <ul class="nav nav-pills nav-stacked">
                                    <li v-for="gift in gifts.electronic_devices">
                                        <div class="attachment-block clearfix">
                                            <img class="attachment-img" :src="gift.photo" :alt="gift.name">
                                            <div class="attachment-pushed">
                                                <div class="attachment-heading">{{gift.name}}</div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.box -->

                        <!-- .box -->
                        <div class="box box-xs box-solid collapsed-box">
                            <div class="box-header with-border" data-widget="collapse">
                                <i class="fa fa-plus"></i>
                                <h3 class="box-title">Игрушки</h3>
                            </div>
                            <div class="box-body no-padding no-display">
                                <ul class="nav nav-pills nav-stacked">
                                    <li v-for="gift in gifts.toys">
                                        <div class="attachment-block clearfix">
                                            <img class="attachment-img" :src="gift.photo" :alt="gift.name">
                                            <div class="attachment-pushed">
                                                <div class="attachment-heading">{{gift.name}}</div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.box -->

                        <!-- .box -->
                        <div class="box box-xs box-solid collapsed-box">
                            <div class="box-header with-border" data-widget="collapse">
                                <i class="fa fa-plus"></i>
                                <h3 class="box-title">Продукты и напитки</h3>
                            </div>
                            <div class="box-body no-padding no-display">
                                <ul class="nav nav-pills nav-stacked">
                                    <li v-for="gift in gifts.food_and_beverage">
                                        <div class="attachment-block clearfix">
                                            <img class="attachment-img" :src="gift.photo" :alt="gift.name">
                                            <div class="attachment-pushed">
                                                <div class="attachment-heading">{{gift.name}}</div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.box -->

                        <!-- .box -->
                        <div class="box box-xs box-solid collapsed-box">
                            <div class="box-header with-border" data-widget="collapse">
                                <i class="fa fa-plus"></i>
                                <h3 class="box-title">Cертификаты</h3>
                            </div>
                            <div class="box-body no-padding no-display">
                                <ul class="nav nav-pills nav-stacked">
                                    <li v-for="gift in gifts.season_tickets_and_certificates">
                                        <div class="attachment-block clearfix">
                                            <img class="attachment-img" :src="gift.photo" :alt="gift.name">
                                            <div class="attachment-pushed">
                                                <div class="attachment-heading">{{gift.name}}</div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.box -->

                        <!-- .box -->
                        <div class="box box-xs box-solid collapsed-box">
                            <div class="box-header with-border" data-widget="collapse">
                                <i class="fa fa-plus"></i>
                                <h3 class="box-title">Шарики</h3>
                            </div>
                            <div class="box-body no-padding no-display">
                                <ul class="nav nav-pills nav-stacked">
                                    <li v-for="gift in gifts.balloons">
                                        <div class="attachment-block clearfix">
                                            <img class="attachment-img" :src="gift.photo" :alt="gift.name">
                                            <div class="attachment-pushed">
                                                <div class="attachment-heading">{{gift.name}}</div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.box -->

                        <!-- .box -->
                        <div class="box box-xs box-solid collapsed-box">
                            <div class="box-header with-border" data-widget="collapse">
                                <i class="fa fa-plus"></i>
                                <h3 class="box-title">Одежда</h3>
                            </div>
                            <div class="box-body no-padding no-display">
                                <ul class="nav nav-pills nav-stacked">
                                    <li v-for="gift in gifts.clothing">
                                        <div class="attachment-block clearfix">
                                            <img class="attachment-img" :src="gift.photo" :alt="gift.name">
                                            <div class="attachment-pushed">
                                                <div class="attachment-heading">{{gift.name}}</div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.box -->

                        <!-- .box -->
                        <div class="box box-xs box-solid collapsed-box">
                            <div class="box-header with-border" data-widget="collapse">
                                <i class="fa fa-plus"></i>
                                <h3 class="box-title">Цветы</h3>
                            </div>
                            <div class="box-body no-padding no-display">
                                <ul class="nav nav-pills nav-stacked">
                                    <li v-for="gift in gifts.flowers">
                                        <div class="attachment-block clearfix">
                                            <img class="attachment-img" :src="gift.photo" :alt="gift.name">
                                            <div class="attachment-pushed">
                                                <div class="attachment-heading">{{gift.name}}</div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue'
    import moment from 'moment'
    import changePasswordModal from '../../components/custom/changePasswordModal/component.vue'
	  import changeEmail from '../../components/custom/changeEmailModal/component.vue'
    import {MATH} from '@/mixins/utils.js'

    export default {
        name: 'PartnerView',
        data() {
            return {
                gifts: {
                    clothing: [],
                    balloons: [],
                    electronic_devices: [],
                    flowers: [],
                    food_and_beverage: [],
                    jewelry: [],
                    other: [],
                    perfume: [],
                    season_tickets_and_certificates: [],
                    toys: []
                },
                documents: {
                    passport_1: [],
                    business_docs: [],
                    office_photo: [],
                    office_rent: [],
                    contract_with_site: [],
                    video_approve: [],
                    photo_with_passport: [],
                    other: [],
                },
                agencyTypes: [],
                partner: {
                    "director": {
                        "id": '',
                        "name": "",
                        "online": true,
                        "avatar": {
                            "small": "#"
                        }
                    },
                    "general": {
                        avatar: {
                            small: '#'
                        },
                        "id": 0,
                        "status": "",
                        "type": "",
                        "created_at": null,
                        "passport": null,
                        "director_name": null,
                        "director_surname": null,
                        "director_middle_name": null,
                        "note": null
                    },
                    "contacts": {
                        "country": null,
                        "city": null,
                        "address": null,
                        "email": null,
                        "email_active":true,
                        "phone_1": null,
                        "phone_2": null,
                        "skype": null,
                        "bank_detail": null
                    },
                    "statistic": {
                        "profile_count": "0",
                        "online_profile_count": "0",
                        "bonus_per_month": 0,
                        "admin_count": "0",
                        "branches_count": "0",
                        "fines_for_the_month": 0,
                        "mail": {
                            "new": 0,
                            "critical": 0
                        },
                        "gift": {
                            "new": 0,
                            "critical": 0
                        },
                        "realinfo_request": {
                            "new": 0,
                            "critical": 0
                        }
                    },
                    "promo": {
                        "vk_director": null,
                        "vk_agency": null,
                        "facebook_director": null,
                        "facebook_agency": null
                    },
                    "documents": []
                },
            }
        },
        mixins: [MATH],
        beforeMount() {
            if (!this.$cookie.get('access_token')) {
                this.$router.push('/');
            } else {
              this.getAgencyTypes()

                this.fetchGifts();
                Vue.http.post('v2/agency/get/detail', {
                    access_token: this.$cookie.get('access_token'),
                    agency_id: this.$route.params.id
                }).then(partnerResponse => {
                    if (partnerResponse.body.status) {
                        this.partner = partnerResponse.body.result;
                        this.initDocuments();
                    } else {
                        this.$router.push('/');
                    }
                }, err => {
                    console.log('Some error');
                    this.$router.push('/');
                })
            }
        },
        computed: {
            partnerStatus() {
				switch (this.partner.general.status) {
					case 'active':
						return 'Активный';
						break;
					case 'deactivated':
						return 'Неактивный';
						break;
					case 'banned':
						return 'Забаненный';
						break;
					case 'lock':
						return 'Заблокированный';
						break;
					case 'chief_banned':
						return 'Бан руководителя';
						break;
					case 'on_creating':
						return 'На создании';
						break;
					case 'administration_banned':
						return 'Бан администрации';
						break;
				}
            },
            partnerType() {
              console.log(this.agencyTypes)
                let typex = 'стандарт';
                this.agencyTypes.forEach(type => {
                    if(type.id === this.partner.general.type) {
                        typex = type.name
                    }
                });
                return typex;
            },
            dateOfRegistration() {
                if (this.partner.general.created_at !== null) {
                    return moment.utc(this.partner.general.created_at * 1000).format('LL')
                } else {
                    return 'Не указано';
                }
            },
            partnerAvatar() {
                return this.partner.general.avatar.small;
            },
            passportData() {
                if (this.partner.general.passport) {
                    return this.partner.general.passport;
                } else {
                    return 'Не указано'
                }
            },
            directorName() {
                if (this.partner.general.director_name) {
                    return this.partner.general.director_name;
                } else {
                    return 'Не указано'
                }
            },
            directorSurName() {
                if (this.partner.general.director_surname) {
                    return this.partner.general.director_surname;
                } else {
                    return 'Не указано'
                }
            },
            directorMiddleName() {
                if (this.partner.general.director_middle_name) {
                    return this.partner.general.director_middle_name;
                } else {
                    return 'Не указано'
                }
            },
            country() {
                if (this.partner.contacts.country === null || this.partner.contacts.country === "undefined" ) {
                    return '';
                } else {
                    return this.partner.contacts.country;
                }
            },
            city() {
                if (this.partner.contacts.city == null || this.partner.contacts.city === "undefined") {
                    return '';
                } else {
                    return this.partner.contacts.city;
                }
            },
            address() {
                if (this.partner.contacts.address == null) {
                    return 'Не указано';
                } else {
                    return this.partner.contacts.address;
                }
            },
            email() {
                if (this.partner.contacts.email == null) {
                    return 'Не указано';
                } else {
                    return this.partner.contacts.email;
                }
            },
            phone_1() {
                if (this.partner.contacts.phone_1 == null) {
                    return 'Не указано';
                } else {
                    return this.partner.contacts.phone_1;
                }
            },
            phone_2() {
                if (this.partner.contacts.phone_2 == null) {
                    return 'Не указано';
                } else {
                    return this.partner.contacts.phone_2;
                }
            },
            skype() {
                if (this.partner.contacts.skype == null) {
                    return 'Не указано';
                } else {
                    return this.partner.contacts.skype;
                }
            },
            bank_detail() {
                if (this.partner.contacts.bank_detail == null) {
                    return 'Не указано';
                } else {
                    return this.partner.contacts.bank_detail;
                }
            },
            partnerVkDirector() {
                if (this.partner.promo.vk_director) {
                    return 'https://' + this.partner.promo.vk_director
                } else {
                    return '#'
                }
            },
            partnerVkAgency() {
                if (this.partner.promo.vk_agency) {
                    return 'https://' + this.partner.promo.vk_agency
                } else {
                    return '#'
                }
            },
            partnerFacebookDirector() {
                if (this.partner.promo.facebook_director) {
                    return 'https://' + this.partner.promo.facebook_director
                } else {
                    return '#'
                }
            },
            partnerFacebookAgency() {
                if (this.partner.promo.facebook_agency) {
                    return 'https://' + this.partner.promo.facebook_agency
                } else {
                    return '#'
                }
            },
            otherDocument() {
                let documents = this.partner.documents;
                let prettyArray = [];
                for (let i = 0; i < documents.length; i++) {
                    prettyArray.push({
                        date: moment.utc(documents[i].created_at * 1000).format('LL'),
                        image: documents[i].file_path,
                        note: documents[i].note
                    })
                }
                return prettyArray;
            },
            officePhoto() {
                let d = this.partner.documents;
                let documents = [];
                for (let i = 0; i < d.length; i++) {
                    if (d[i].document_type == 'office_photo') {
                        documents.push(d[i]);
                    }
                }
                let prettyArray = [];
                for (let i = 0; i < documents.length; i++) {
                    prettyArray.push({
                        date: moment.utc(documents[i].created_at * 1000).format('LL'),
                        image: documents[i].file_path,
                        note: documents[i].note
                    })
                }
                return prettyArray;
            }
        },
        methods: {
            isDocument(name) {
                return name.match('pdf') !== null;
            },


            getAgencyTypes(){
              this.$http.post( 'v2/agency/get/agency-type', {
                access_token: this.$cookie.get( 'access_token' ),
              } ).then( data => {
                if ( data.body.status ) {
                  this.photosToAttach = [];
                  this.agencyTypes = data.body.result.list;


                } else {
                  if ( 'message' in data.body ) {
                    toastr.error( data.body.message );
                  }
                  toastr.error( 'Не получить типы партнеров' );
                  toastr.info( data.body.desc );
                }
              }, err => {
                toastr.error( 'Не получить типы партнеров' );
                console.log( err );
              } )
            },
            initDocuments() {
                Vue.http.post('v2/document/search/document', {
                    access_token: this.$cookie.get('access_token'),
                    user_id: this.partner.director.id,
                    status: 'active'
                }).then(data => {
                    let documents = data.body.result;
                    for (let i = 0; i < documents.length; i++) {
                        if (documents[i].user_document.document_type == 'passport_1') {
                            this.documents.passport_1.push({
                                id: documents[i].user_document.id,
                                image: documents[i].user_document.file_path,
                                note: documents[i].user_document.note,
                                type: documents[i].user_document.document_type,
								file_extension: documents[i].user_document.file_extension
                            })
                        }
                        if (documents[i].user_document.document_type == 'passport_2') {
                            this.documents.passport_1.push({
                                id: documents[i].user_document.id,
                                image: documents[i].user_document.file_path,
                                note: documents[i].user_document.note,
                                type: documents[i].user_document.document_type,
								file_extension: documents[i].user_document.file_extension
                            })
                        }
                        if (documents[i].user_document.document_type == 'passport_3') {
                            this.documents.passport_1.push({
                                id: documents[i].user_document.id,
                                image: documents[i].user_document.file_path,
                                note: documents[i].user_document.note,
                                type: documents[i].user_document.document_type,
								file_extension: documents[i].user_document.file_extension
                            })
                        }
                        if (documents[i].user_document.document_type == 'passport_11') {
                            this.documents.passport_1.push({
                                id: documents[i].user_document.id,
                                image: documents[i].user_document.file_path,
                                note: documents[i].user_document.note,
                                type: documents[i].user_document.document_type,
								file_extension: documents[i].user_document.file_extension
                            })
                        }
                        if (documents[i].user_document.document_type == 'business_docs') {
                            this.documents.business_docs.push({
                                id: documents[i].user_document.id,
                                image: documents[i].user_document.file_path,
                                note: documents[i].user_document.note,
                                type: documents[i].user_document.document_type,
								file_extension: documents[i].user_document.file_extension
                            })
                        }
                        if (documents[i].user_document.document_type == 'office_photo') {
                            this.documents.office_photo.push({
                                id: documents[i].user_document.id,
                                image: documents[i].user_document.file_path,
                                note: documents[i].user_document.note,
                                type: documents[i].user_document.document_type,
								file_extension: documents[i].user_document.file_extension
                            })
                        }
                        if (documents[i].user_document.document_type == 'contract_with_site') {
                            this.documents.contract_with_site.push({
                                id: documents[i].user_document.id,
                                image: documents[i].user_document.file_path,
                                note: documents[i].user_document.note,
                                type: documents[i].user_document.document_type,
								file_extension: documents[i].user_document.file_extension
                            })
                        }
                        if (documents[i].user_document.document_type == 'office_rent') {
                            this.documents.office_rent.push({
                                id: documents[i].user_document.id,
                                image: documents[i].user_document.file_path,
                                note: documents[i].user_document.note,
                                type: documents[i].user_document.document_type,
								file_extension: documents[i].user_document.file_extension
                            })
                        }
                        if (documents[i].user_document.document_type == 'video_approve') {
                            this.documents.video_approve.push({
                                id: documents[i].user_document.id,
                                image: documents[i].user_document.file_path,
                                note: documents[i].user_document.note,
                                type: documents[i].user_document.document_type,
								file_extension: documents[i].user_document.file_extension
                            })
                        }
                        if (documents[i].user_document.document_type == 'photo_with_passport') {
                            this.documents.photo_with_passport.push({
                                id: documents[i].user_document.id,
                                image: 'https://admin.fedate.com' / +documents[i].user_document.file_path,
                                note: documents[i].user_document.note,
                                type: documents[i].user_document.document_type,
								file_extension: documents[i].user_document.file_extension
                            })
                        }
                        if (documents[i].user_document.document_type == 'other') {
                            this.documents.other.push({
                                id: documents[i].user_document.id,
                                image: documents[i].user_document.file_path,
                                note: documents[i].user_document.note,
                                type: documents[i].user_document.document_type,
								file_extension: documents[i].user_document.file_extension
                            })
                        }
                    }
                }, err => {
                    console.log(err);
                })
            },
            fetchGifts() {
                this.$http.post('v2/agency/get/present-list', {
                    access_token: this.$cookie.get('access_token'),
                    agency_id: this.$route.params.id
                }).then(response => {
                    if (response.body.status) {
                        response.body.result.flowers.forEach(g => {
                            if(g.available) {
                                this.gifts.flowers.push(g)
                            }
                        });
                        response.body.result.clothing.forEach(g => {
                            if(g.available) {
                                this.gifts.clothing.push(g)
                            }
                        });
                        response.body.result.balloons.forEach(g => {
                            if(g.available) {
                                this.gifts.balloons.push(g)
                            }
                        });
                        response.body.result.electronic_devices.forEach(g => {
                            if(g.available) {
                                this.gifts.electronic_devices.push(g)
                            }
                        });
                        response.body.result.food_and_beverage.forEach(g => {
                            if(g.available) {
                                this.gifts.food_and_beverage.push(g)
                            }
                        });
                        response.body.result.jewelry.forEach(g => {
                            if(g.available) {
                                this.gifts.jewelry.push(g)
                            }
                        });
                        response.body.result.season_tickets_and_certificates.forEach(g => {
                            if(g.available) {
                                this.gifts.season_tickets_and_certificates.push(g)
                            }
                        });
                        response.body.result.toys.forEach(g => {
                            if(g.available) {
                                this.gifts.toys.push(g)
                            }
                        });
                        response.body.result.perfume.forEach(g => {
                            if(g.available) {
                                this.gifts.perfume.push(g)
                            }
                        });

                    } else {
                        toastr.error('Не могу загрузить список подарков')
                    }
                }, err => {
                    console.log(err);
                    toastr.error('Не могу загрузить список подарков')
                });
            },
            editPartner(subtab) {
                this.$router.push('/partners/edit/' + this.partner.general.id + subtab);
            },
            reload() {
				location.reload()
            }
        },
        mounted() {
          //this.getAgencyTypes()
            const handleScroll = function () {
                let maxHeight = $(".v-scroll").attr("data-height");
                $(".v-scroll").css("height", maxHeight).perfectScrollbar();
            };
            handleScroll();

        },
        components: {
            'change-password': changePasswordModal,
			changeEmail
        }
    }
</script>
