<template>
    <select-inside :options="shlyapa" v-model="selected">
        <option class="placeholder-option" selected="selected" value="">{{placeholder}}</option>
    </select-inside>
</template>
<script>
import selectInside from './select-inside.vue'
    export default {
        name:'select2',
        props: {
            parentData: Object,
            options: Array,
            placeholder: String,
            modelName: '',
        },
        data (){
          return {
              selected: 0,
          }
        },
        computed: {
            shlyapa() {
                let t = [];
                if(this.modelName == 'agency') {
                    for(let i = 0; i < this.parentData.agency.length; i++) {
                        t.push({
                            id: this.options[i].name,
                            text: this.options[i].name
                        })
                    }
                }
                if(this.modelName == 'branch') {
                    for(let i = 0; i < this.parentData.selected_branches.length; i++) {
                        t.push({
                            id: this.options[i].name,
                            text: this.options[i].name
                        })
                    }
                }
                if(this.modelName == 'admin') {
                    for(let i = 0; i < this.parentData.selected_admins.length; i++) {
                        t.push({
                            id: this.options[i].name,
                            text: this.options[i].name
                        })
                    }
                }
                return t;
            }
        },
        components:{'select-inside' :selectInside},
        watch: {
            selected(value) {
                if(this.modelName == 'agency') {
                    this.parentData.modelAgency = value;
                }
                if(this.modelName == 'branch') {
                    this.parentData.modelBranch = value
                }
                if(this.modelName == 'admin') {
                    this.parentData.modelAdmin = value;
                }
            }
        }
    }
</script>