<template>
	<div class="content-wrapper">
		<section class="content-header">
			<ul class="breadcrumb">
				<li class="breadcrumb__li">
					<router-link to="/dashboard" class="breadcrumb__link">
						Главная
					</router-link>
				</li>
				<li class="active">
					<!--<router-link :to="path" class="breadcrumb__link active">-->
						{{route}}
					<!--</router-link>-->
				</li>
			</ul>
		</section>
		<section class="content">
			<transition name="fade">
				<router-view></router-view>
			</transition>
		</section>
	</div>
</template>

<script>
	export default {
		name: 'Content',
		data() {
			return {
				hasMiddle: false,
				middle: {
					name: '',
					link: ''
				}
			}
		},
		route: {
			afterRouteUpdate( to ) {

			}
		},
		watch: {
			'$route'( v ) {
				if ( 'breadcrumbs' in v.meta ) {
					this.middle = v.meta.breadcrumbs[ 0 ];
					this.hasMiddle = true;
				} else {
					this.hasMiddle = false;
				}
			}
		},
		beforeMount() {
			if ( 'breadcrumbs' in this.$route.meta ) {
				this.route = this.$route.meta.breadcrumbs;
				this.hasMiddle = true;
			} else {
				this.hasMiddle = false;
			}
		},
		mounted() {

		},
		computed: {
			route() {
				return this.$route.name
			},
			path() {
				return this.$route.path
			}
		}
	}
</script>

<style scoped lang="scss">
	/*.content {*/
		/*min-height: 90vh;*/
	/*}*/

	.content-wrapper {
		padding-top: 40px;
		min-height: 717px!important;
	}

	.fade-enter-active,
	.fade-leave-active {
		transition: opacity .1s
	}

	.fade-enter,
	.fade-leave-to
		/* .fade-leave-active in <2.1.8 */

	{
		opacity: 0
	}

	.content-header {
		margin-top: 10px;
	}

	#app > div > div.content-wrapper > section.content-header > ul > li:nth-child(2) > a > a {
		text-decoration: none !important;
		color: #444 !important;
	}

	#app > div > div.content-wrapper > section.content-header > ul > li:nth-child(2) > a > a {
		text-decoration: none !important;
		color: #7f8288 !important;
	}

	#app > div > div.content-wrapper > section.content-header > ul > li:nth-child(3) > a > a {
		text-decoration: none !important;
		color: #7f8288 !important;
	}
</style>
