<template>
    <footer class="main-footer">
        <div class="pull-right">
            <ul class="nav social-nav">

                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>

                    <a href="#"><i class="fa fa-youtube"></i></a>

                    <a href="#"><i class="fa fa-vk"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
            </ul>
        </div>
        <div class="copyright">Copyright © 2016 - {{getYear}}</div>
    </footer>
</template>

<script>
    export default {
        name: 'Footer',
        data() {
            return {

            }
        },
      computed:{
          getYear(){
           return  (new Date()).getFullYear()
          }
      }
    }
</script>

<style lang="scss" scoped>
    .fa {
        font-size: 20px;
        color: white;
        &:hover {
            color: #d4d3d3;
         }
    }
    ul {
        a + a {
            margin-left: 15px;
        }
    }
</style>
