<template>
    <header class="main-header">
        <!-- Logo -->
        <router-link :to="'/dashboard'" class="logo">
            <span class="logo-mini"><b>FeDate </b></span>
            <span class="logo-lg"><b>FeDate </b>Admin <i class="fa fa-gear hidden-xs"></i></span>
        </router-link>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- Tasks: style can be found in dropdown.less -->
                    <li>
                        <a href="#" id="show-acceptmodal" data-toggle="modal" data-target="#index-info-modal">
                            <i class="fa fa-info-circle"></i>
                        </a>
                    </li>
                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img :src="avatar" class="user-image" :alt="stuffName">
                            <span class="hidden-xs">{{stuffName}}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <router-link to="/profile/root">
                                    <i class="fa fa-user"></i> Профиль

                                </router-link>
                            </li>
                            <li><a href="login.html" @click.prevent="logout"><i class="fa fa-sign-out"></i> Выйти</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
</template>

<script>
    export default {
        name: 'Header',
        methods: {
            logout() {
                this.$cookie.delete('access_token');
                window.location = '/';
            }
        },
        computed: {
            avatar() {
                return this.$store.getters.user.identity.avatar.small
            },
            stuffName() {
                return this.$store.getters.user.identity.name
            },
            stuffRole() {
                return this.$store.getters.user.accessLevel;
            }
        },
        mounted() {
            if (!this.$cookie.get('accepted')) {
//                document.querySelector('#show-acceptmodal').click();
                setTimeout(() => {
                    $('#index-info-modal').modal('toggle');
                }, 1000)
            }
        }
    }
</script>

<style scoped>
    .main-header {
        position: fixed;
        width: 100%;
    }
    .logo > a {
        text-decoration: none !important;
        color: #fff !important;
    }
    .router-link-active {
        text-decoration: none !important;
        color: #fff !important;
    }
</style>
