<template>
	<div>
		<header-component></header-component>
		<side-bar-component></side-bar-component>
		<content-component @click.native="closeSidebar"></content-component>
		<footer-component @click.native="closeSidebar"></footer-component>
		<base-modal></base-modal>
	</div>
</template>

<script>
	import Header from './header.vue'
	import Side from './side.vue'
	import Footer from './footer.vue';
	import ContentWrapper from './contentWrapper.vue'
	import AcceptModal from '../modals/AcceptModal.vue'

	export default {
		name: 'Main',
		data() {
			return {
				width: 0
			}
		},
		methods: {
			setWidth( e ) {
				this.width = e.target.outerWidth;
			},
			closeSidebar() {
				if ( this.width <= 1024 ) {
					let body = document.getElementsByTagName( 'body' )[ 0 ];
					body.classList.remove( 'sidebar-open' );
				}
			}
		},
		mounted() {
			this.width = window.outerWidth;
			window.addEventListener( 'resize', this.setWidth )
		},
		components: {
			'side-bar-component': Side,
			'header-component': Header,
			'footer-component': Footer,
			'base-modal': AcceptModal,
			'content-component': ContentWrapper
		},
		beforeMount() {
			$( 'body' ).addClass( 'skin-bbm sidebar-mini' )
		}
	}
</script>