<template>
  <aside class="main-sidebar">
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img :src="avatar"
               class="img-circle"
               alt="User Image">
          <span class="online"><i class="fa fa-circle text-success"></i></span>
        </div>
        <div class="pull-left info">
          <p>{{stuffName}}</p>
          <a href="#">{{stuffRole}}</a>
        </div>
      </div>
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <!-- <li class="header">MAIN NAVIGATION</li> -->
        <li>
          <router-link to="/dashboard">
            <i class="fa fa-home"></i> <span>Главная</span>
          </router-link>
        </li>
        <li>
          <router-link to="/missed-invites">
            <i class="fa fa-envelope"></i> <span>Пропущенные ивайты</span>
          </router-link>
        </li>
        <li v-if="isRouteAccess('statistics_man')">
          <router-link :to="{ path: '/messaging-history'}">
            <i class="fa fa-circle-o"></i> <span>Активность на сайте</span>
          </router-link>
        </li>
        <li class="treeview" v-if="isCategoryAccess('finance')">
          <a href="#">
            <i class="fa fa-dollar"></i> <span>Финансы</span>
            <span class="pull-right-container"><i class="fa fa-angle-right pull-right"></i></span>
          </a>
          <ul class="treeview-menu">
            <li v-if="isRouteAccess('finance_access_refill')">
              <router-link to="/finance/replenishment"><i class="fa fa-circle-o"></i> пополнения
              </router-link>
            </li>
            <li v-if="isRouteAccess('finance_access_bonus')">
              <router-link to="/finance/orders"><i class="fa fa-circle-o"></i> бонусы</router-link>
            </li>
            <li v-if="isRouteAccess('finance_access_penalty')">
              <router-link to="/finance/penalty"><i class="fa fa-circle-o"></i> штрафы</router-link>
            </li>
            <li v-if="isRouteAccess('finance_access_transaction')">
              <router-link to="/finance/transactions"><i class="fa fa-circle-o"></i> транзакции
              </router-link>
            </li>
            <li v-if="isRouteAccess('finance_access_agency_accruals')">
              <router-link to="/finance/accrual">
                <i class="fa fa-circle-o"></i> начисления партнеров
              </router-link>
            </li>
            <li v-if="isRouteAccess('finance_access_agency_payments')">
              <router-link to="/finance/paid_out">
                <i class="fa fa-circle-o"></i> выплаты партнерам
              </router-link>
            </li>
          </ul>
        </li>
        <li class="treeview" v-if="isCategoryAccess('man')">
          <a href="#">
            <i class="fa fa-male"></i> <span>Клиенты <span class="exclamation-sign" v-show="checkNotifications(countersMan)"><i class="fa fa-exclamation" aria-hidden="true"></i></span></span>
            <span class="pull-right-container"><i class="fa fa-angle-right pull-right"></i></span>
          </a>
          <ul class="treeview-menu">
            <li v-if="isRouteAccess('access_man')">
              <router-link to="/man/list">
                <i class="fa fa-circle-o"></i> список
              </router-link>
            </li>
            <li v-if="isRouteAccess('bot')">
              <router-link to="/man/bots">
                <i class="fa fa-circle-o"></i> боты
              </router-link>
            </li>
            <li v-if="isRouteAccess('access_man')">
              <router-link to="/man/banned">
                <i class="fa fa-circle-o"></i> забаненные
              </router-link>
            </li>
            <li v-if="isRouteAccess('access_man')">
              <router-link to="/man/trash">
                <i class="fa fa-circle-o"></i> корзина
              </router-link>
            </li>
            <li v-if="isRouteAccess('service_access_message')">
              <router-link to="/man/letters">
                <i class="fa fa-circle-o"></i> письма
                <span v-if="countersMan.not_replied_message > 0"
                      class="label label-primary">{{ countersMan.not_replied_message }}</span>
              </router-link>
            </li>
            <!--<li v-if="isRouteAccess('service_access_chat_log')">-->
            <!--<router-link to="/chat-log">-->
            <!--<i class="fa fa-circle-o"></i> логи чатов-->
            <!--</router-link>-->
            <!--</li>-->
            <li v-if="isRouteAccess('setting_access_gift')">
              <router-link to="/man/gifts">
                <i class="fa fa-circle-o"></i> подарки
              </router-link>
            </li>
            <li v-if="isRouteAccess('service_access_realinfo_request_man')">
              <router-link to="/inforequest">
                <i class="fa fa-circle-o"></i> запрос контактинфо
              </router-link>
            </li>
          </ul>
        </li>
        <li class="treeview" v-if="isCategoryAccess('women')">
          <a href="#">
            <i class="fa fa-female"></i> <span>
						Клиентки <span class="exclamation-sign" v-show="checkNotifications(womanCounters)"><i class="fa fa-exclamation" aria-hidden="true"></i></span></span>
            <span class="pull-right-container">
                                            <i class="fa fa-angle-right pull-right"></i>
                                            </span>
          </a>
          <ul class="treeview-menu">
            <li v-if="isRouteAccess('access_woman')">
              <router-link to="/women/list">
                <i class="fa fa-circle-o"></i> список
              </router-link>
            </li>
            <li v-if="isRouteAccess('bot')">
              <router-link to="/woman/bots">
                <i class="fa fa-circle-o"></i> боты
              </router-link>
            </li>
            <li v-if="isRouteAccess('access_woman')">
              <router-link to="/woman/onmoderation">
                <i class="fa fa-circle-o"></i> новые
                <span v-if="womanCounters.new_woman > 0"
                      class="label label-primary">{{ womanCounters.new_woman }}</span>
              </router-link>
            </li>
            <li v-if="isRouteAccess('access_woman')">
              <router-link to="/woman/banned">
                <i class="fa fa-circle-o"></i> забаненные
              </router-link>
            </li>
            <li v-if="isRouteAccess('access_woman')">
              <router-link to="/woman/locked">
                <i class="fa fa-circle-o"></i> заблокированные
              </router-link>
            </li>
            <li v-if="isRouteAccess('access_woman')">
              <router-link to="/woman/trash">
                <i class="fa fa-circle-o"></i> корзина
              </router-link>
            </li>
            <li v-if="isRouteAccess('service_access_message')">
              <router-link to="/woman/letters">
                <i class="fa fa-circle-o"></i> письма
              </router-link>
            </li>
            <li v-if="isRouteAccess('service_access_distribution')">
              <router-link to="/woman/distributions">
                <i class="fa fa-circle-o"></i> рассылки
              </router-link>
            </li>
            <li v-if="isRouteAccess('service_access_chat_log')">
              <router-link to="/chat-log">
                <i class="fa fa-circle-o"></i> логи чатов
              </router-link>
            </li>
            <li v-if="isRouteAccess('setting_access_gift')">
              <router-link to="/woman/gifts">
                <i class="fa fa-circle-o"></i> подарки<span v-if="womanCounters.new_gift_sent > 0" class="label label-primary">{{ womanCounters.new_gift_sent
                }}</span>
              </router-link>
            </li>
            <li v-if="isRouteAccess('setting_access_virtual_gift')">
              <router-link to="/woman/virtual-gifts">
                <i class="fa fa-circle-o"></i> виртуальные подарки
              </router-link>
            </li>
            <li v-if="isRouteAccess('service_access_realinfo_request')">
              <router-link to="/inforequest">
                <i class="fa fa-circle-o"></i> запрос контактинфо<span
                  v-if="womanCounters.new_realinfo_request > 0"
                  class="label label-primary">{{ womanCounters.new_realinfo_request }}</span>
              </router-link>
            </li>
            <li v-if="isRouteAccess('access_woman')">
              <router-link to="/woman/video-list">
                <i class="fa fa-circle-o"></i> видео
              </router-link>
            </li>
          </ul>
        </li>
        <li class="treeview" v-if="isCategoryAccess('partner')">
          <a href="#">
            <i class="fa fa-group"></i> <span>Партнеры</span>
            <span class="pull-right-container">
							<i class="fa fa-angle-right pull-right"></i>
						</span>
          </a>
          <ul class="treeview-menu">
            <li v-if="isRouteAccess('access_agency')">
              <router-link exact to="/partners">
                <i class="fa fa-circle-o"></i> список
              </router-link>
            </li>
            <li v-if="isRouteAccess('access_agency')">
              <router-link to="/partner/admins">
                <i class="fa fa-circle-o"></i> админы
              </router-link>
            </li>
            <li v-if="isRouteAccess('access_agency')">
              <router-link to="/branches">
                <i class="fa fa-circle-o"></i> филиалы
              </router-link>
            </li>
            <li v-if="isRouteAccess('access_agency')">
              <router-link exact to="/partner/trash">
                <i class="fa fa-circle-o"></i> корзина
              </router-link>
            </li>
          </ul>
        </li>
        <li class="treeview" v-if="isCategoryAccess('moderation')">
          <a href="#">
            <i class="fa fa-recycle"></i>
            <span>Модерация <span class="exclamation-sign" v-show="checkNotifications(moderationCounters)"><i class="fa fa-exclamation" aria-hidden="true"></i></span></span>
            <span class="pull-right-container">
							<i class="fa fa-angle-right pull-right"></i>
						</span>
          </a>
          <ul class="treeview-menu">
            <li v-if="isRouteAccess('access_moderation_woman_new_profile')">
              <router-link to="/moderation/woman/new">
                <i class="fa fa-circle-o"></i> клиентки (новые) <span
                  v-if="moderationCounters.new_profile > 0"
                  class="label label-primary">{{ moderationCounters.new_profile }}</span>
              </router-link>
            </li>
            <li v-if="isRouteAccess('access_moderation_woman_change_profile')">
              <router-link to="/moderation/woman/info">
                <i class="fa fa-circle-o"></i> клиентки (инфо) <span
                  v-if="moderationCounters.profile_changes > 0"
                  class="label label-primary">{{ moderationCounters.profile_changes }}</span>
              </router-link>
            </li>

            <li v-if="isRouteAccess('access_moderation_woman_distribution')">
              <router-link to="/moderation/distribution">
                <i class="fa fa-circle-o"></i> рассылка <span
                  v-if="moderationCounters.message_distribution > 0"
                  class="label label-primary">{{ moderationCounters.message_distribution }}</span>
              </router-link>
            </li>
            <li v-if="isRouteAccess('access_moderation_woman_gift_sent')">
              <router-link to="/moderation/gift">
                <i class="fa fa-circle-o"></i> подарки <span v-if="moderationCounters.gifts > 0"
                                                             class="label label-primary">{{ moderationCounters.gifts
                }}</span>
              </router-link>
            </li>
            <li v-if="isRouteAccess('service_access_realinfo_request')">
              <router-link to="/moderation/info">
                <i class="fa fa-circle-o"></i> запрос контак. информ. <span
                  v-if="moderationCounters.realinfo_request > 0"
                  class="label label-primary">{{ moderationCounters.realinfo_request }}</span>
              </router-link>
            </li>

            <hr class="divider">
            <li v-if="isRouteAccess('access_moderation_woman_avatar')">
              <router-link to="/moderation/avatar">
                <i class="fa fa-circle-o"></i> аватары <span v-if="moderationCounters.avatar > 0"
                                                             class="label label-primary">{{ moderationCounters.avatar
                }}</span>
              </router-link>
            </li>
            <li v-if="isRouteAccess('access_moderation_woman_photo')">
              <router-link to="/moderation/photo">
                <i class="fa fa-circle-o"></i> фото (публичные) <span
                  v-if="moderationCounters.public_photo > 0"
                  class="label label-primary">{{ moderationCounters.public_photo }}</span>
              </router-link>
            </li>
            <li v-if="isRouteAccess('access_moderation_woman_photo')">
              <router-link to="/moderation/private-photos">
                <i class="fa fa-circle-o"></i> фото (приватные) <span
                  v-if="moderationCounters.private_photo > 0"
                  class="label label-primary">{{ moderationCounters.private_photo }}</span>
              </router-link>
            </li>

            <li v-if="isRouteAccess('access_moderation_photo_delete_request')">
              <router-link to="/moderation/deletephoto">
                <i class="fa fa-circle-o"></i> фото (удаление) <span
                  v-if="moderationCounters.photo_delete_request > 0"
                  class="label label-primary">{{ moderationCounters.photo_delete_request }}</span>
              </router-link>
            </li>

            <hr class="divider">

            <li>
              <router-link to="/moderation/public-video">
                <i class="fa fa-circle-o"></i> видео (публичные) <span
                  v-if="moderationCounters.public_video > 0"
                  class="label label-primary">{{ moderationCounters.public_video }}</span>
              </router-link>
            </li>
            <li>
              <router-link to="/moderation/private-video">
                <i class="fa fa-circle-o"></i> видео (приватные) <span
                  v-if="moderationCounters.private_video > 0"
                  class="label label-primary">{{ moderationCounters.private_video }}</span>
              </router-link>
            </li>


            <li>
              <router-link to="/moderation/delete-video">
                <i class="fa fa-circle-o"></i> видео (удаление) <span
                  v-if="moderationCounters.video_delete_request > 0"
                  class="label label-primary">{{ moderationCounters.video_delete_request }}</span>
              </router-link>
            </li>


          </ul>
        </li>
        <li class="treeview" v-if="isCategoryAccess('partner')">
          <a href="#">
            <i class="fa fa-group"></i> <span>Вебмастера</span>
            <span class="pull-right-container">
							<i class="fa fa-angle-right pull-right"></i>
						</span>
          </a>
          <ul class="treeview-menu">
            <li v-if="isRouteAccess('access_agency')">
              <router-link exact to="/webmasters/list">
                <i class="fa fa-circle-o"></i> список
              </router-link>
            </li>
            <li v-if="isRouteAccess('access_agency')">
              <router-link to="/create/webmaster">
                <i class="fa fa-circle-o"></i> новые
              </router-link>
            </li>
          </ul>
        </li>
        <li class="treeview" v-if="isCategoryAccess('staff')">
          <a href="#">
            <i class="fa fa-sitemap"></i> <span>Персонал</span>
            <span class="pull-right-container">
                      <i class="fa fa-angle-right pull-right"></i>
                    </span>
          </a>
          <ul class="treeview-menu">
            <li>
              <router-link to="/staff/moderator">
                <i class="fa fa-circle-o"></i> модераторы
              </router-link>
            </li>
            <li>
              <router-link to="/staff/admin">
                <i class="fa fa-circle-o"></i> админы
              </router-link>
            </li>
            <li>
              <router-link to="/staff/trash/admin">
                <i class="fa fa-circle-o"></i> корзина - админы
              </router-link>
            </li>
            <li>
              <router-link to="/staff/trash/moderator">
                <i class="fa fa-circle-o"></i> корзина - модераторы
              </router-link>
            </li>
          </ul>
        </li>
        <li class="treeview" v-if="isCategoryAccess('feedback')">
          <a href="#">
            <i class="fa fa-phone"></i>
            <span>
							Обратная связь
							<span class="exclamation-sign" v-show="checkNotifications(feedbackCounters)"><i class="fa fa-exclamation" aria-hidden="true"></i></span>
						</span>
            <span class="pull-right-container">
							<i class="fa fa-angle-right pull-right"></i>
						</span>
          </a>
          <ul class="treeview-menu">
            <li v-if="isRouteAccess('feedback_man')">
              <router-link to="/feedback/mans">
                <i class="fa fa-circle-o"></i> клиенты <span v-if="feedbackCounters.man_count > 0"
                                                             class="label label-primary">{{ feedbackCounters.man_count
                }}</span>
              </router-link>
            </li>
            <li v-if="isRouteAccess('access_feedback_woman')">
              <router-link to="/feedback/women">
                <i class="fa fa-circle-o"></i> клиентки <span v-if="feedbackCounters.woman_count > 0"
                                                              class="label label-primary">{{ feedbackCounters.woman_count
                }}</span>
              </router-link>
            </li>
            <li v-if="isRouteAccess('feedback_agency')">
              <router-link to="/feedback/partner">
                <i class="fa fa-circle-o"></i> партнеры <span v-if="feedbackCounters.agency_count > 0"
                                                              class="label label-primary">{{ feedbackCounters.agency_count
                }}</span>
              </router-link>
            </li>
            <li v-if="isRouteAccess('feedback_guest')">
              <router-link to="/feedback/guest">
                <i class="fa fa-circle-o"></i> гости <span v-if="feedbackCounters.guest_count > 0"
                                                           class="label label-primary">{{ feedbackCounters.guest_count
                }}</span>
              </router-link>
            </li>

          </ul>
        </li>
        <li class="treeview" v-if="isCategoryAccess('settings')">
          <a href="#">
            <i class="fa fa-cogs"
               aria-hidden="true"></i> <span>Настройки</span>
            <span class="pull-right-container">
                                          <i class="fa fa-angle-right pull-right"></i>
                                        </span>
          </a>
          <ul class="treeview-menu">

            <li v-if="isRouteAccess('setting_access_credit_pack')">
              <router-link to="/credit-packs">
                <i class="fa fa-circle-o"></i> пакеты кредитов
              </router-link>
            </li>

            <li v-if="isRouteAccess('setting_access_agency_type')">
              <router-link to="/partner-types">
                <i class="fa fa-circle-o"></i> типы партнеров
              </router-link>
            </li>

            <li v-if="isRouteAccess('setting_access_bonus_category')">
              <router-link to="/bonus-category">
                <i class="fa fa-circle-o"></i> категории бонусов
              </router-link>
            </li>
            <li v-if="isRouteAccess('setting_access_price_list')">
              <router-link to="/services/price/list">
                <i class="fa fa-circle-o"></i> стоимость услуг
              </router-link>
            </li>
            <li v-if="isRouteAccess('setting_access_gift')">
              <router-link to="/services/gift/list">
                <i class="fa fa-circle-o"></i> подарки
              </router-link>
            </li>
            <li v-if="isRouteAccess('setting_access_gift')">
              <router-link to="/services/virtual-gift/list">
                <i class="fa fa-circle-o"></i> виртуальные подарки
              </router-link>
            </li>
            <li v-if="isRouteAccess('setting_access_penalty')">
              <router-link to="/settings/fine">
                <i class="fa fa-circle-o"></i> штрафы
              </router-link>
            </li>
            <li v-if="isRouteAccess('setting_access_site')">
              <router-link to="/settings/service">
                <i class="fa fa-circle-o"></i> настройки сервиса
              </router-link>
            </li>
            <li>
              <router-link to="/settings/multichat">
                <i class="fa fa-circle-o"></i> настройки мультичата
              </router-link>
            </li>
          </ul>
        </li>
        <li class="treeview main-sidebar--promotion" v-if="isCategoryAccess('promotion')">
          <a href="#">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 151.02 158.73"><title>
              icon</title>
              <path class="cls-1"
                    d="M150.37 36.42l-37.81-34-37.49 34H95c0 3.11-1.42 17.6-22.12 43.58-23 28.84-70.62 24.67-70.62 24.67 41.38 19.31 77.91 2.48 101.7-15.38 20.88-15.67 28.65-49.35 29.41-52.87zM106.8 93.13a86 86 0 0 1-19.47 12.24v52h21.15V91.62q-.83.77-1.68 1.51z"/>
              <path class="cls-1"
                    d="M137.1 41.23c-2.1 8.12-8.55 25.77-19.73 40.49v75.66h21.15V41.23zM59.45 114.62v42.76H80.6v-49.09a129 129 0 0 1-21.15 6.33zM3 111.48l-1.44-.58v46.48h21.13v-41A81.27 81.27 0 0 1 3 111.48zM30.62 117.1v40.28h21.14V116a113.21 113.21 0 0 1-21.14 1.1z"/>
            </svg>
            <span>Продвижение</span>
            <span class="pull-right-container">
							<i class="fa fa-angle-right pull-right"></i>
						</span>
          </a>
          <ul class="treeview-menu">
            <li v-if="isRouteAccess('setting_access_credit_pack')" class="main-sidebar--promotion__item">
              <router-link :to="{ name: 'Настройка гостевого API'}">
                <i class="fa fa-circle-o"></i> Гостевое API
              </router-link>
            </li>
            <li>
              <router-link :to="{ name: 'Реферальные ссылки'}">
                <i class="fa fa-circle-o"></i> Реферальные ссылки
              </router-link>
            </li>
            <li>
              <router-link :to="'/multichat'">
                <i class="fa fa-circle-o"></i> Мультичат
              </router-link>
            </li>
          </ul>
        </li>
      </ul>
    </section>
  </aside>
</template>

<script>
export default {
  name: 'Side',
  data() {
    return {}
  },
  computed: {
    countersMan() {
      return this.$store.getters.countersMan
    },
    womanCounters() {
      return this.$store.getters.countersWomen
    },
    moderationCounters() {
      return this.$store.getters.moderationCounters
    },
    feedbackCounters() {
      return this.$store.getters.feedbackCounters
    },
    stats() {
      return this.$store.getters.stats
    },
    avatar() {
      return this.$store.getters.user.identity.avatar.small
    },
    stuffName() {
      return this.$store.getters.user.identity.name
    },
    stuffRole() {
      return this.$store.getters.user.accessLevel;
    }
  },
  methods: {
    checkNotifications( obj ) {
      for ( let key in obj ) {
        if ( +obj[ key ] ) {
          return true;
        }
      }
    },
    isCategoryAccess( name ) {
      if ( this.$store.getters.app.user.accessLevel === 'root' ) {
        return true;
      }
      let allRules = this.$store.getters.rules;
      let myRules = this.$store.getters.app.user.rules;
      let access = false;
      let categoryRuleOnlyKeyName = [];
      for ( let key in allRules[ name ] ) {
        categoryRuleOnlyKeyName.push( key );
      }
      for ( let i = 0; i < myRules.length; i++ ) {
        if ( categoryRuleOnlyKeyName.indexOf( myRules[ i ] ) !== -1 ) {
          access = true;
        }
      }
      return access;

    },
    isRouteAccess( name ) {
      if ( this.$store.getters.app.user.accessLevel === 'root' ) {
        return true;
      }
      let myRules = this.$store.getters.app.user.rules;
      return myRules.indexOf( name ) !== -1;
    }
  },
  mounted() {
    var urlPage = document.location.pathname + document.location.search;
    urlPage = '/' + urlPage.substr( 1 );
    $( '.sidebar-menu li' ).each( function () {
      var link = $( this ).find( "a" );
      if ( link.attr( "href" ) == urlPage ) {
        link.parent().addClass( "active" );
        link.parent().parent().parent().addClass( "active" );
      }
    } );
    $( '.main-sidebar' ).slimscroll( {
      width: '230px'
    } );
    if ( document.querySelector( '.slimScrollBar' ) !== null ) {
      document.querySelector( '.slimScrollBar' ).parentNode.removeChild( document.querySelector( '.slimScrollBar' ) );
    }
  }
}
</script>

<style scoped lang="scss">
.main-sidebar {
  position: fixed;

  &--promotion {
    svg {
      margin-right: 6px;
      fill: #0b78dd;;
      width: 14px;
      height: 14px;
    }
  }

  .treeview {
    &.active {
      .exclamation-sign {
        display: none;
      }
    }
  }

  ul {

    li {

      span {
        margin-left: 8px;
      }

    }
  }
}
.divider{
  border-color: #525d6d;
  margin: 8px 15px 8px 35px;
}
</style>
