<template>
  <span>
    <div class="col-md-2">
      <my-select :options="displayedPartners" :placeholder="'Партнер'" v-model="partner"
                 @select="selectPartnerCallback($event)"></my-select>
    </div>
    <div class="col-md-2">
        <my-select :options="displayedBranches" :placeholder="'Филиал'" v-model="branch"
                   @select="selectBranchCallback($event)"></my-select>
    </div>
    <div class="col-md-2">
        <my-select :options="displayedAdmins" :placeholder="'Админ'" v-model="admin"
                   @select="selectAdminCallback($event)"></my-select>
    </div>
    <div
        v-if="withWoman" class="col-md-2"
    >
        <my-select
            :options="displayedWomen"
            :placeholder="'Клиентка'"
            @select="selectWomanCallback($event)"
        ></my-select>
    </div>
     <div v-if="withMan" class="col-md-2">
         <dynamic-search
             :placeholder="'Клиент'"
             :optionHandler="dynamicManListSelectId"
             :searchKeyForAction="'name_or_id'"
             :action="'manListDynamic'"
             @select="selectDynamicSearchCallback($event)"
         ></dynamic-search>
    </div>
  </span>
</template>

<script>
    import mySelect from '../select2/select-new.vue'
    import dynamicSearch from '../relativeSelect/dynamic-search'
    import vueSelect from 'vue-select'

    export default {
        components: {
            dynamicSearch,
            mySelect,
            "vue-select": vueSelect
        },
        props: {
            withWoman: {
                type: Boolean,
                default: true
            },
            withMan: {
                type: Boolean,
                default: false
            },
        },
        data() {
            return {
                watchers: [],
                watchProperties: ["man", "woman", "partner", "branch", "admin"],
                partner: 0,
                branch: 0,
                admin: 0,
                woman: 0,
                man: 0,
                allPartners: [],
                allBranches: [],
                allAdmins: [],
                allWomen: []
            }
        },
        beforeMount() {
            this.fetchPartner();
            this.fetchBranches();
            this.fetchAdmins();
            if (this.withWoman) {
                this.fetchWomen();
            }

        },
        created () {
            this.watchers = this.watchProperties.map(
                prop => this.$watch(prop, this.emitSelectChanges)
            )
        },
        destroyed() {
            this.watchers.forEach(unwatch => unwatch());
        },
        methods: {
            dynamicManListSelectId(dynamicManList) {
                return dynamicManList
                    .reduce((
                        acc, man) => [
                        ...acc,
                        {
                            label: `${man['name']} (id: ${man['user_id']})`,
                            value: man['user_id']
                        }], [{ label: ' ', value: ' ' }]
                    );
            },
            emitSelectChanges() {
                this.$emit('selectChange', this.getParams)
            },
            selectPartnerCallback(value) {
                this.branch = 0;
                this.admin = 0;
                this.woman = 0;
                if (value) {
                    let result = this.displayedPartners.find(i => i.id === value);
                    if (result) {
                        this.fetchBranchByAgency(value)
                        this.fetchAdminsByAgency(value);
                        if (this.withWoman) {
                            this.fetchWomanByAgency(value);
                        }

                    }
                } else {
                    this.fetchBranches();
                    this.fetchAdmins();
                    if (this.withWoman) {
                        this.fetchWomen();
                    }
                }
            },
            selectBranchCallback(value) {
                this.admin = 0;
                this.woman = 0;
                if (value) {
                    let result = this.displayedBranches.find(i => i.id === value);
                    if (result) {
                        this.fetchAdminsByAgency(value);
                        if (this.withWoman) {
                            this.fetchWomanByAgency(value);
                        }
                    }
                } else {
                    if (!this.partner) {
                        this.fetchBranches();
                        this.fetchAdmins();
                        if (this.withWoman) {
                            this.fetchWomen();
                        }
                    }
                    if (this.partner) {
                        this.selectPartnerCallback(this.partner)
                    }
                }
            },
            selectAdminCallback(value) {
                this.woman = 0;
                if (value) {
                    let result = this.displayedAdmins.find(i => i.id === value);
                    if (result) {
                        if (this.withWoman) {
                            this.fetchWomanByAdmin(value);
                        }
                    }
                } else {
                    this.selectBranchCallback(this.branch)
                }
            },
            selectWomanCallback(value) {
                console.log(value);
                if (value) {
                    this.woman = value;
                } else {
                    this.selectAdminCallback(this.branch)
                }
            },
            /**
             * Select value from dynamic search
             * @param { Number } value  id of the user if list was unselected return 0
             */
            selectDynamicSearchCallback(value) {
                this.man = value ? value : 0;
            },
            fetchAdminsByAgency(id) {
                this.$http.post('v2/agency/get/admin-in-agency', {
                    access_token: this.$cookie.get('access_token'),
                    agency_id: id
                }).then(data => {
                    if (data.body.status) {
                        this.allAdmins = data.body.result;
                    } else {
                        toastr.error('Не могу загрузить список админов')
                    }
                }, err => {
                    toastr.error('Не могу загрузить список админов');
                    console.log(err);
                });
            },
            fetchWomanByAgency(value) {
                this.$http.post('v2/agency/get/woman-in-agency', {
                    access_token: this.$cookie.get('access_token'),
                    agency_id: value
                }).then(data => {
                    if (data.body.status) {
                        this.allWomen = data.body.result;
                    }
                })
            },
            fetchBranchByAgency(value) {
                this.$http.post('v2/agency/get/branches', {
                    access_token: this.$cookie.get('access_token'),
                }).then(data => {
                    if (data.body.status) {
                        this.allBranches = data.body.result.filter(i => +i.duty_agency_id === value)
                    }
                })
            },
            fetchWomanByAdmin(value) {
                this.$http.post('v2/female/get/list', {
                    access_token: this.$cookie.get('access_token'),
                }).then(data => {
                    if (data.body.status) {
                        this.allWomen = data.body.result.filter(i => +i.admin.id === value)
                    }
                })
            },
            fetchPartner() {
                this.$http.post('v2/agency/get/list', {
                    access_token: this.$cookie.get('access_token')
                }).then(data => {
                    if (data.body.status) {
                        this.allPartners = data.body.result;
                    } else {
                        toastr.error('Не могу загрузить список партнеров')
                        toastr.info(data.body.desc);
                    }
                }, err => {
                    toastr.error('Не могу загрузить список партнеров')
                })
            },
            fetchBranches() {
                this.$http.post('v2/agency/get/branches', {
                    access_token: this.$cookie.get('access_token')
                }).then(data => {
                    if (data.body.status) {
                        this.allBranches = data.body.result;
                    } else {
                        toastr.error('Не могу получить список филиалов')
                        toastr.info(data.body.desc)
                    }
                }, err => {
                    toastr.error('Не могу получить список филиалов')
                })
            },
            fetchAdmins() {
                this.$http.post('v2/agency/get/admins', {
                    access_token: this.$cookie.get('access_token')
                }).then(data => {
                    if (data.body.status) {
                        this.allAdmins = data.body.result
                    } else {
                        toastr.error('Не могу получить список админов сайта')
                    }
                }, err => {
                    toastr.error('Не могу получить список админов сайта')
                })
            },
            fetchWomen() {
                this.$http.post('v2/female/get/list', {
                    access_token: this.$cookie.get('access_token')
                }).then(data => {
                    if (data.body.status) {
                        this.allWomen = data.body.result
                    } else {
                        toastr.error('Не могу получить список админов сайта')
                    }
                }, err => {
                    toastr.error('Не могу получить список админов сайта')
                })
            }
        },
        computed: {
            getParams() {
                return {
                    'partner': this.partner,
                    'branch': this.branch,
                    'admin': this.admin,
                    'woman': this.woman,
                    'man': this.man
                }

            },
            displayedPartners() {
                return this.allPartners.map(i => {
                    return {
                        id: +i.id,
                        name: `${i.name} (id: ${i.id})`
                    }
                })
            },
            displayedBranches() {
                return this.allBranches.map(i => {
                    return {
                        id: +i.id,
                        name: `${i.name} (id: ${i.id})`
                    }
                })
            },
            displayedAdmins() {
                return this.allAdmins.map(i => {
                    if (i.admin_name) {
                        return {
                            id: +i.admin_user_id,
                            name: `${(i.admin_name.trim() + ' ' + i.admin_surname.trim()).trim()} (id: ${i.admin_user_id})`
                        }
                    } else if (i.name && i.user_id) {
                        return {
                            id: +i.user_id,
                            name: `${i.name.trim()} (id: ${i.user_id})`
                        }
                    } else {
                        return {
                            id: +i.id,
                            name: `${i.name.trim()} (id: ${i.id})`
                        }
                    }
                })
            },
            displayedWomen() {
                //TODO: fit answers
                return this.allWomen.map(i => {
                    if (i.full_name) {
                        return {
                            id: i.id,
                            name: `${i.full_name.trim()} (id: ${i.id})`
                        }
                    } else if (i.name) {
                        return {
                            id: +i.id,
                            name: `${i.name.trim()} (id: ${i.id})`

                        }
                    }

                })
            }
        }
    }
</script>
