<template>
    <v-select
        ref="searchSelect"
        :loading="mutableLoading"
        :placeholder="placeholder"
        :options="handledOptions"
        @input="selectValue"
        class="modify-select"
        @search="initAction"
    />
</template>

<script>

import toastr from 'toastr'
import { debounce, isNull } from 'lodash';

export default {
    name: 'DynamicSearch',
    props: {
        /**
         * {
         *    placeholder: "ID"
         *    optionHandler: 'usersStatus'
         * }
         */
        placeholder: {
            type: String,
            required: true,
            default: undefined
        },
        searchKeyForAction: {
            type: String,
            required: true,
            default: undefined
        },
        action: {
            type: String,
            required: true,
            default: undefined
        },
        optionHandler: {
            type: Function,
            default: undefined
        }
    },
    data () {
        return {
            options: [],
            mutableLoading: false,
            immediateAction: true,
            mutation: undefined
        };
    },
    computed: {
        handledOptions() {
            return this.optionHandler(this.options);
        },
        isSearchable () {
            return !!this.action;
        }
    },
    methods: {
        selectValue (option) {
            let searchedValue = '';

            switch (typeof option) {
                case 'object' :
                    searchedValue = isNull(option)
                        ? ''
                        : (typeof option.value === 'string')
                            ? option.value
                            : Number(option.value);
                    break;
                case 'string' :
                    searchedValue = isNull(option) ? '' : Number(option);
                    break;
            }

            ['input', 'select'].forEach(event => {
                this.$emit(event, searchedValue);
            })

        },
        resetOptions () {
            this.options = [];
        },
        initAction: debounce(function (option) {
            if (!this.isSearchable) return;

            if (option) {
                let searchedValue = isNaN(option) ? String(option) : Number(option);
                this.mutableLoading = true;
                this.$store.dispatch(this.action, {
                    [this.searchKeyForAction]: searchedValue
                })
                    .then(({ status, result }) => {
                        if (status) {
                           this.options = result;
                        } else {
                            throw new Error();
                        }
                    })
                    .catch(() => {
                        toastr.error('Что то произошло во время подгрузки списка мужчин обратитесь к разработчикам');
                    })
                    .finally(() => {
                        this.mutableLoading = false;
                    });
            } else {
                this.options = [];
            }
        }, 300)
    }
};
</script>
<style lang="scss">
// v-select style
.modify-select{
  height: 41px!important;
  border-color: #ddd;
  &.open{
    overflow: visible;
  }
  .vs__search{
    padding: 6px 6px 6px 12px!important;
    height: 41px;
    font-size: 14px!important;
    margin: 0;
  }
  &.vs__unsearchable input[type=search] {
    opacity: 1!important;
  }
  .vs__dropdown-toggle{
    border-radius: 3px;
    border-color: #DFE3E9;
    height: 41px!important;
    overflow: hidden;
    width: auto;
    .vs__clear {
      position: absolute;
      bottom: 14px;
      opacity: 1;
      right: -1px;
      width: 18px;
      z-index: 99;
      line-height: 1;
      fill: #e47f7f!important;
      background-color: #ffffff;
      cursor: pointer;
      &:hover{
        fill: #000!important;
      }
    }
  }
  .vs__selected{
    padding: 4px 0.5em !important;
    line-height: 1;
    position: absolute;
    right: 15px;
    left: 0;
    bottom: 3px;
    font-size: 14px;
    overflow: hidden;
    display: block;
    max-width: 99%;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .open-indicator {
    bottom: 3px;
    right: 11px;
    height: 20px;
    &:before {
      height: 8px;
      width: 8px;
      border-width: 2px 2px 0 0!important;
    }
  }

  /* List Items */
  li {
    line-height: 1; /* Normalize line height */
  }

  .vs__dropdown-menu {
    border-radius: 0 0 3px 3px;
    border-color: #DFE3E9;
    box-shadow: none;
    width: auto;
    min-width: 60px!important;
    right: 0;
    .active > a {
      color: #fff;
      background: #7b8cd2;
    }
    .vs__dropdown-option{
      display: block;
      padding: 4px 10px;
      clear: both;
      color: #333; /* Overrides most CSS frameworks */
      white-space: normal;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 100%;
      transition: none;
      font-size: 14px;
      line-height: 20px;
      &--highlight{
        background: #0b78dd;
        color: #fff;
      }
    }
  }
}
</style>
