<template>
	<div class="attach-box">
		<div class="attach-box--inner set-flex">
			<ul class="attach-box--photos list-unstyled">
				<li class="attach-box--photos__item" v-for="(photo, index) in photos">
					<div class="del-btn" @mouseup="unAttachPhoto(index)">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 490.4 490.4">
							<path d="M245.2 490.4c135.2 0 245.2-110 245.2-245.2S380.4 0 245.2 0 0 110 0 245.2s110 245.2 245.2 245.2zm0-465.9c121.7 0 220.7 99 220.7 220.7s-99 220.7-220.7 220.7-220.7-99-220.7-220.7 99-220.7 220.7-220.7z"/>
							<path d="M180.3 310.1c2.4 2.4 5.5 3.6 8.7 3.6s6.3-1.2 8.7-3.6l47.6-47.6 47.6 47.6c2.4 2.4 5.5 3.6 8.7 3.6s6.3-1.2 8.7-3.6c4.8-4.8 4.8-12.5 0-17.3l-47.8-47.6 47.6-47.6c4.8-4.8 4.8-12.5 0-17.3s-12.5-4.8-17.3 0l-47.6 47.6-47.6-47.6c-4.8-4.8-12.5-4.8-17.3 0s-4.8 12.5 0 17.3l47.6 47.6-47.6 47.6c-4.8 4.8-4.8 12.5 0 17.3z"/>
						</svg>
					</div>
					<img :src="photo._photo" alt="Photo preview">
				</li>
			</ul>
			<div v-show="photos.length < attachLimit" class="attach-box--btn"
				 @mouseup="modalOpen = true">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 51.619 51.619"
					 class="svg replaced-svg">
					<path d="M50.14 19.206c-.39-.39-1.023-.39-1.414 0L21.432 46.5c-2.012 2.012-4.697 3.12-7.563 3.12-2.868 0-5.554-1.108-7.565-3.12s-3.12-4.697-3.12-7.564c0-2.866 1.108-5.552 3.12-7.563L33.598 4.078c2.897-2.896 7.445-2.72 10.58.413 3.132 3.134 3.31 7.683.413 10.58L18.95 40.71c-1.432 1.434-3.766 1.435-5.202 0-1.434-1.434-1.434-3.768 0-5.202l17.37-17.37c.39-.39.39-1.022 0-1.413s-1.024-.39-1.415 0l-17.37 17.368c-2.213 2.214-2.213 5.816 0 8.03 2.217 2.217 5.82 2.213 8.032 0l25.64-25.64c3.704-3.704 3.526-9.468-.413-13.407-3.938-3.938-9.703-4.117-13.407-.413L4.89 29.958c-2.39 2.39-3.705 5.577-3.705 8.978 0 3.4 1.315 6.59 3.705 8.98 2.39 2.39 5.577 3.704 8.98 3.704 3.4 0 6.588-1.315 8.977-3.705L50.14 20.62c.39-.39.39-1.024 0-1.414z"/>
				</svg>
				<span>Attach</span>
			</div>
		</div>
		<photos-modal
				:userId="userId"
				@close="modalOpen = false"
				:limit="attachLimit"
				@selected="getSelectedPhotos($event)"
				:passedCount="photos.length"
				:open="modalOpen"></photos-modal>
	</div>
</template>

<script>
	import PhotosModal from '../PhotosModal.vue'

	export default {
		props: {
			clear: Number,
			userId: Number,
			photos: Array
		},
		data () {
			return {
				modalOpen: false,
				attachLimit: 3
			}
		},
		watch: {
			photos( val ) {
				this.$emit( 'attached', val );
			},
			clear() {
				this.photos = [];
			}
		},
		methods: {
			getSelectedPhotos( data ) {
				this.photos = this.photos.concat( data );
			},
			unAttachPhoto( index ) {
				this.photos.splice( index, 1 );
			}
		},
		computed: {
		},
		components: {
			PhotosModal
		},
	}
</script>

