<template>
	<div class="load-more btn-lazy-load">
		Load ({{counter}}) more
	</div>
</template>

<script>
	export default {
		props: {
			counter: Number
		},
		data () {
			return {}
		},
		methods: {},
		computed: {},
		components: {}
	}
</script>

<style lang="scss" scoped>
	.load-more {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 40px;
		margin-top: 10px;
		border-radius: 4px;
		cursor: pointer;
		background-color: #dcdcdc;
		color: #fff;
		user-select: none;
	}
</style>
