<template>
  <div>
    <h2 class="page-header"><i class="fa fa-plus"></i> Подарок</h2>
    <div class="row">
      <div class="col-md-7">
        <!-- form start -->
        <form @submit.prevent class="form-horizontal">
          <div class="form-group">
            <label for="for-status" class="col-md-4">Категория</label>
            <div class="col-md-6">
              <select name="" class="form-control" id="for-status" v-model="modelCategory" required>
                <option class="placeholder-option" value="">Категория</option>
                <option value="birthday">День рождения</option>
                <option value="friendship">Дружба</option>
                <option value="romance">Романтика</option>
                <option value="halloween">Хэллоуин</option>
                <option value="xxl">XXL</option>
                <option value="christmas">Рождество</option>
                <option value="valentines_day">День св. Валентина</option>
                <option value="easter">Пасха</option>
                <option value="patricks_day">День св. Патрика</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="for-name" class="col-md-4">Название</label>
            <div class="col-md-6">
              <input type="text" class="form-control" id="for-name" required v-model="modelName">
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 big-top-padding">Изображение</label>
            <div class="col-md-6">
              <div class="ava-load-wrapp photo">
                <img src="/dist/img/default.jpg" src-default="dist/img/default.jpg"
                     class="img-responsive load-file-src" id="gift-avatar">
                <div class="clearfix bottom-d">
                                <span class="load-file-link">
                                  <input type="file" name="giftphoto" @change="avatarDrop" class="load-file-input">
                                  <span class="upload-text-wrapp">
                                    Загрузить <i class="fa fa-download text-blue"></i>
                                  </span>
                                </span>
                  <span class="fa fa-times-circle del-photo pull-right"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Активный: </label>
            <div class="col-md-6">
              <input type="checkbox" v-model="modelActive">
            </div>
          </div>
          <div class="form-group">
            <label for="for-note" class="col-md-4">Номер в очереди</label>
            <div class="col-md-6">
              <input type="number" class="form-control" v-model="number_in_queue">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Тип: </label>
            <div class="col-md-6">
              <div class="col-md-6">
              <label >Постоянный: </label>
              <input type="radio" v-model="constant" value="0">
              </div>
              <div class="col-md-6">
              <label >Сезонный: </label>
              <input type="radio" v-model="constant" value="1">
              </div>
            </div>

          </div>
          <div class="form-group" v-if="+constant">
            <label class="col-md-4">Период: </label>
            <div class="col-md-6">
              <div class="col-md-6">
                <label class="col-md-4">C: </label>
                <input type="text" class="form-control"  v-model="date_available_from" placeholder="_ _ / _ _">
              </div>
              <div class="col-md-6">
                <label class="col-md-4">По: </label>
                <input type="text" class="form-control" v-model="date_available_to" placeholder="_ _ / _ _">
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="for-note" class="col-md-4">Описание</label>
            <div class="col-md-6">
              <textarea name="" class="form-control" id="for-note" rows="10" v-model="modelDescription"></textarea>
              <div v-if="hasErr"  class="error" style=""><i class="fa fa-warning"></i> <span >Максимальное количество символов 255</span></div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-10 text-right">
              <button type="submit" class="btn btn-primary" @click.prevernt="createGift">Сохранить</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
  import toastr from 'toastr'
  import Vue from 'vue'

  export default {
    name: 'CreateVirtualGift',
    data() {
      return {
        modelCategory: '',
        modelName: null,
        modelAvatar: null,
        modelCredits: null,
        modelDelivery: null,
        modelBonus: null,
        modelDescription: '',
        date_available_from: '',
        date_available_to: '',
        number_in_queue: 0,
        constant: 0,
        modelActive: 0,
        allowedCategory: [
          'birthday',
          'friendship',
          'romance',
          'halloween',
          'xxl',
          'christmas',
          'valentines_day',
          'easter',
          'patricks_day']
      }
    },
    watch: {
      date_available_from(v){
        if(this.date_available_from[0] > 3 || this.date_available_from[0] + this.date_available_from[1]> 31){
          this.date_available_from = ''
          toastr.error('Неверно заполнены параметры');
        }
        if(this.date_available_from[3] > 1 || this.date_available_from[3] + this.date_available_from[4]> 12){
          this.date_available_from  = ''
          toastr.error('Неверно заполнены параметры');
        }
      },

      date_available_to(v){
        if(this.date_available_to[0] > 3 || this.date_available_to[0] + this.date_available_to[1]> 31){
          this.date_available_from = ''
          toastr.error('Неверно заполнены параметры');
        }
        if(this.date_available_to[3] > 1 || this.date_available_to[3] + this.date_available_to[4]> 12){
          this.date_available_to  = ''
          toastr.error('Неверно заполнены параметры');
        }
      }
    },
    methods: {
      createGift() {
        let day_available_from = this.date_available_from[0] + this.date_available_from[1];
        let month_available_from = this.date_available_from[3] + this.date_available_from[4];

        let day_available_to = this.date_available_to[0] + this.date_available_to[1];
        let month_available_to = this.date_available_to[3] + this.date_available_to[4];
        let checkType = false;
        for (let i = 0; i < this.allowedCategory.length; i++) {
          if (this.modelCategory == this.allowedCategory[i]) {
            checkType = true;
          }
        }
        if (checkType && this.modelName && this.modelAvatar) {
          let myData = new FormData();
          myData.append('photo', this.modelAvatar);
          myData.append('access_token', this.$cookie.get('access_token'));
          myData.append('category', this.modelCategory);
          myData.append('name', this.modelName);
          myData.append('description', this.modelDescription);
          myData.append('active', Number(this.modelActive));
          myData.append('number_in_queue', this.number_in_queue ? this.number_in_queue : '0');
          myData.append('month_available_from', month_available_from && +this.constant? month_available_from : '');
          myData.append('day_available_from',  day_available_from && +this.constant? day_available_from : '');
          myData.append('month_available_to', month_available_to && +this.constant? month_available_to : '');
          myData.append('day_available_to',  day_available_to && +this.constant? day_available_to : '');


          Vue.http.post('v2/virtual/gift/add', myData)
            .then(data => {
              if (data.body.status) {
                toastr.success('Подарок добавлен');
                this.$router.push('/services/virtual-gift/list')
              } else {
                toastr.error('Ошибка добавления подарка');
              }
            }, err => {
              console.log('Err', err);
            })
        } else {
          toastr.error('Неверно заполнены параметры');
        }
      },
      avatarDrop(event) {
        this.avatar = event.target.files || event.dataTransfer.files;
        let files = this.avatar;
        for (let i = 0, f; f = files[i]; i++) {
          this.modelAvatar = f;
        }

        let reader = new FileReader();
        reader.onload = (e) => {
          $('#gift-avatar').attr('src', e.target.result);
        };
        reader.readAsDataURL(this.modelAvatar);
      }
    },
    computed: {
      hasErr(){

        return  this.modelDescription.length > 255 ?  true : false

      }
    }

  }
</script>

<style>
  .form-horizontal .form-group {
    margin: 0 0 15px 0;
  }
  .skin-bbm .ava-load-wrapp>img{
    object-fit: contain;
  }
  .error{
    color: #d9534f;
    border: none;
    margin-top: 10px;

  }
</style>
