<template>
  <div>
    <h2 class="page-header"><i class="fa fa-edit"></i> Подарок (ID:{{id}} )</h2>

    <div class="row">
      <div class="col-md-7">
        <!-- form start -->
        <form @submit.prevent class="form-horizontal">
          <div class="form-group">
            <label for="for-status" class="col-md-4">Категория</label>
            <div class="col-md-6">
              <select name="" class="form-control" id="for-status" v-model="modelCategory">
                <option class="placeholder-option" value="">Категория</option>
                <option value="birthday">День рождения</option>
                <option value="friendship">Дружба</option>
                <option value="romance">Романтика</option>
                <option value="halloween">Хэллоуин</option>
                <option value="xxl">XXL</option>
                <option value="christmas">Рождество</option>
                <option value="valentines_day">День св. Валентина</option>
                <option value="easter">Пасха</option>
                <option value="patricks_day">День св. Патрика</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="for-name" class="col-md-4">Название</label>
            <div class="col-md-6">
              <input type="text" class="form-control" id="for-name" v-model="modelName">
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 big-top-padding">Изображение</label>
            <div class="col-md-6">
              <div class="ava-load-wrapp photo">
                <img :src="modelPhoto" :src-default="modelPhoto" class="img-responsive load-file-src" id="gift-avatar">
                <div class="clearfix bottom-d">
                                <span class="load-file-link">
                                  <input type="file" name="giftphoto" @change="giftPhotoDrop" class="load-file-input">
                                  <span class="upload-text-wrapp">
                                    Загрузить <i class="fa fa-download text-blue"></i>
                                  </span>
                                </span>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="for-active-cb" class="col-md-4">Активный</label>
            <div class="col-md-6">
              <input type="checkbox" id="for-active-cb" v-model="active">
            </div>
          </div>
          <div class="form-group">
            <label for="for-note" class="col-md-4">Номер в очереди</label>
            <div class="col-md-6">
              <input type="number" class="form-control" v-model="queue_number">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Тип: </label>
            <div class="col-md-6">
              <div class="col-md-6">
                <label >Постоянный: </label>
                <input type="radio" v-model="constant" value="0">
              </div>
              <div class="col-md-6">
                <label >Сезонный: </label>
                <input type="radio" v-model="constant" value="1">
              </div>
            </div>

          </div>
          <div class="form-group" v-if="+constant">
            <label class="col-md-4">Период: </label>
            <div class="col-md-6">
              <div class="col-md-6">
                <label class="col-md-4">C: </label>
                <input type="text" class="form-control" v-model="date_available_from" placeholder="_ _ / _ _">
              </div>
              <div class="col-md-6">
                <label class="col-md-4">По: </label>
                <input type="text" class="form-control" v-model="date_available_to" placeholder="_ _ / _ _">
              </div>
            </div>
          </div >
          <div class="form-group">
            <label for="for-note" class="col-md-4">Описание</label>
            <div class="col-md-6">
              <textarea name="" class="form-control" id="for-note" rows="10" v-model="modelDescription"></textarea>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-10 text-right">
              <button type="submit" class="btn btn-primary" @click.prevernt="editGift">Сохранить</button>
              <button type="submit" class="btn btn-danger" @click.prevernt="deleteGift">Удалить</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
  import Vue from 'vue'
  import Cookie from 'vue-cookie'
  import toastr from 'toastr'

  export default {
    name: 'EditVirtualGift',
    data() {
      return {
        id: '',
        modelName: '',
        modelDescription: '',
        modelPrice: '',
        modelPhoto: '',
        photoNeedUpdate: 0,
        modelDelivery: '',
        modelCategory: '',
        modelBonus: 0,
        oldPhoto: '',
        queue_number: '',
        date_available_from: '',
        date_available_to: '',
        constant: 0,
        active: false
      }
    },
    beforeMount() {
      if (!this.$cookie.get('access_token')) {
        toastr.error('Ошибка авторизации. Попробуйте обновить страницу');
        next(false);
      } else {
        Vue.http.post('v2/virtual/gift/get/one', {
          access_token: this.$cookie.get('access_token'),
          id: this.$route.params.id
        }).then(result => {
          let gift = result.body.result;
          this.id = gift.id;
          this.modelName = gift.name;
          this.modelDescription = gift.description;
          this.modelPrice = gift.price;
          this.modelPhoto = gift.photo;
          this.oldPhoto = gift.photo;
          this.modelCategory = gift.category;
          this.queue_number = gift.number_in_queue;
          this.active = !!gift.active;
          this.constant = gift.day_available_from ? 1 : 0
          this.date_available_from = gift.day_available_from ? (gift.day_available_from < 9 ? 0 + '' + gift.day_available_from: gift.day_available_from) +
                                '' + (gift.month_available_from < 9 ? 0 + '' + gift.month_available_from: gift.month_available_from) : '';
          this.date_available_to = gift.day_available_to ? (gift.day_available_to < 9 ? 0 + '' + gift.day_available_to: gift.day_available_to) +
                                '' + (gift.month_available_to < 9 ? 0 + '' + gift.month_available_to: gift.month_available_to) : '';

        })
      }
    },
    methods: {
      removeNewAvatarSetOld() {

        this.photoNeedUpdate = 0;
        $('#gift-avatar').attr('src', this.oldPhoto);
      },
      editGift() {

        let myFormData = new FormData();

        let day_available_from = this.date_available_from[0] + this.date_available_from[1];
        let month_available_from = this.date_available_from[3] + this.date_available_from[4];

        let day_available_to = this.date_available_to[0] + this.date_available_to[1];
        let month_available_to = this.date_available_to[3] + this.date_available_to[4];


        myFormData.append('access_token', this.$cookie.get('access_token'));
        myFormData.append('virtual_gift_id', this.id);
        myFormData.append('name', this.modelName);
        myFormData.append('description', this.modelDescription);
        myFormData.append('category', this.modelCategory);
        myFormData.append('photo', this.modelPhoto);
        myFormData.append('active', Number(this.active));
        myFormData.append('number_in_queue', this.queue_number);
        myFormData.append('photo_modify', this.photoNeedUpdate);
        myFormData.append('month_available_from', month_available_from && +this.constant ? month_available_from : '');
        myFormData.append('day_available_from', day_available_from && +this.constant ? day_available_from : '');
        myFormData.append('month_available_to', month_available_to && +this.constant ? month_available_to : '');
        myFormData.append('day_available_to', day_available_to && +this.constant ? day_available_to : '');


        Vue.http.post('v2/virtual/gift/update', myFormData).then(giftUpdateResult => {
          if (giftUpdateResult.body.status) {
            toastr.success('Подарок успешно обновлен');
            this.$router.push('/services/virtual-gift/list')
          } else {
            toastr.error(giftUpdateResult.body.desc)
          }
        }, err => {
          toastr.error('Ошибка API');
        })
      },
      deleteGift(){
        Vue.http.post('v2/virtual/gift/disable', {
          access_token: this.$cookie.get('access_token'),
          virtual_gift_id: this.$route.params.id
        }).then(r => {
          if (r.body.status) {
            toastr.success('Подарок удален');
            this.$router.push('/services/virtual-gift/list')
          } else {
            toastr.error(r.body.desc ? r.body.desc : 'Что-то пошло не так')
          }
        }, err => {
          toastr.error('Ошибка API');
        })
      },
      giftPhotoDrop(event) {
        let files = event.target.files || event.dataTransfer.files;
        for (let i = 0, f; f = files[i]; i++) {
          this.modelPhoto = f;
        }
        let reader = new FileReader();
        reader.onload = (e) => {
          $('#gift-avatar').attr('src', e.target.result);
        };
        reader.readAsDataURL(this.modelPhoto);
        this.photoNeedUpdate = 1;
        console.log(this.modelPhoto)
      }
    }
  }
</script>
