<template>
  <div>
    <!-- .row (main row) -->
    <div class="row">
      <div class="col-md-12">
        <div class="box box-blue box-solid">
          <div class="box-header with-border">
            <h3 class="box-title"><i class="fa fa-gift text-blue"></i> Подарки</h3>
            <div class="box-tools pull-right">
              <router-link to="/services/virtual-gift/create">
                <a class="btn btn-success">Создать <i class="fa fa-plus"></i></a>
              </router-link>
            </div>
            <!-- /.box-tools -->
          </div>
          <!-- /.box-header -->
          <div class="box-body no-padding">

            <!-- filter -->
            <form class="row">
              <div class="form-group margin">
                <div class="col-md-2">
                  <input type="text" class="form-control" placeholder="ID" v-model="searchIdModel">
                </div>
                <div class="col-md-2">
                  <input type="text" class="form-control" placeholder="Название" v-model="searchNameModel">
                </div>
                <div class="col-md-3">
                  <select class="form-control" v-model="searchCategoryModel">
                    <option class="placeholder-option" value="" selected>Категория</option>
                    <option value="День рождения">День рождения</option>
                    <option value="Дружба">Дружба</option>
                    <option value="Романтика">Романтика</option>
                    <option value="Хэллоуин">Хэллоуин</option>
                    <option value="XXL">XXL</option>
                    <option value="Рождество">Рождество</option>
                    <option value="День св. Валентина">День св. Валентина</option>
                    <option value="Пасха">Пасха</option>
                    <option value="День св. Патрика">День св. Патрика</option>
                  </select>
                </div>
              </div>
            </form>
            <div class="table-responsive">
              <table-load v-show="initTableProcess"></table-load>
              <table class="table table-bordered table-scroll" id="gifts-list" v-show="!initTableProcess">
                <thead>
                <tr>
                  <th>ID</th>
                  <th>Поряд. номер</th>
                  <th>Название</th>
                  <th>Фото</th>
                  <th>Категория</th>
                  <th>Активный</th>
                  <th>Описание
                  </th>
                  <th>Действие</th>
                </tr>
                </thead>
              </table>
            </div>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->

        <div class="row">
          <div class="col-md-6">
            <div class="margin-top" id="girls-showing">
            </div>
          </div>
          <div class="col-md-6" id="girls-pagination">

          </div>
        </div>

      </div>
    </div>
    <!-- /.row (main row) -->
  </div>
</template>
<script>
  function giftsSearch(column, data) {
    $('#gifts-list').DataTable().column(column).search(
      data,
      false,
      false
    ).draw();
  }

  import Vue from 'vue'
  import toastr from 'toastr'
  import TableLoad from '../../custom/tableLoader/component.vue'

  export default {
    name: 'VirtualGiftList',
    data() {
      return {
        initTableProcess: true,
        gifts: {},
        giftsWithoutCategory: {},
        searchIdModel: '',
        searchNameModel: '',
        searchCategoryModel: '',
      }
    },
    beforeMount() {
      if (!this.$cookie.get('access_token')) {
        this.$router.push('/');
      } else {
        this.fetchData();
      }
    },
    methods: {
      editGift(id) {
        this.$router.push('/services/virtual-gift/edit/' + id);
      },
      fetchData() {
        Vue.http.post('v2/virtual/gift/get/all', {
          access_token: this.$cookie.get('access_token'),
        }).then(giftsResponse => {
          if (giftsResponse.body.status) {
            this.gifts = giftsResponse.body.result;
            /*let gifts = giftsResponse.body.result;
            let prettyGifts = [];
            for (let category in gifts) {
                for (let i = 0; i < gifts[category].length; i++) {
                    prettyGifts.push({
                        id: gifts[category][i].id,
                        category: gifts[category][i].category,
                        created_at: gifts[category][i].created_at,
                        delivery_price: gifts[category][i].delivery_price,
                        agency_bonus: gifts[category][i].agency_bonus,
                        description: gifts[category][i].description,
                        name: gifts[category][i].name,
                        price: gifts[category][i].price,
                        photo: gifts[category][i].photo,
                    });
                }
            }*/
            this.giftsWithoutCategory = giftsResponse.body.result;
            this.initTable()
          } else {
            toastr.error('Ошибка. Не могу получить список подарков')
          }
        }, err => {
          toastr.error('Ошибка API. Страница будет перезагружена');
          setTimeout(() => {
            window.location.reload();
          }, 2000);
          console.log(err);
        })
      },
      initTable() {
        let table = $('#gifts-list').DataTable({
          iDisplayLength: 20,
          "order": [[0, "desc"]]
        });
        $('#gifts-list_length').remove();
        $('#gifts-list_filter').remove();
        $('#girls-pagination').append($('#gifts-list_paginate'));
        $('#girls-showing').append($('#gifts-list_info'));

        let giftsForTable = this.giftsWithoutCategory;
        for (let i = 0; i < giftsForTable.length; i++) {
          let giftPhoto = '<img src="' + giftsForTable[i].photo + '" class="attachment-img">';
          let prettyCategory = null;
          let giftActive = null;
          let action = '<a class="btn btn-primary edit-g" data-id="' + giftsForTable[i].id + '"><i class="fa fa-edit fa-lg text-white"></i></a>';
          switch (giftsForTable[i].category) {
            case "birthday":
              prettyCategory = 'День рождения';
              break;
            case "friendship":
              prettyCategory = 'Дружба';
              break;
            case "romance":
              prettyCategory = 'Романтика';
              break;
            case "halloween":
              prettyCategory = 'Хэллоуин';
              break;
            case "xxl":
              prettyCategory = 'XXL';
              break;
            case "christmas":
              prettyCategory = 'Рождество';
              break;
            case "valentines_day":
              prettyCategory = 'День св. Валентина';
              break;
            case "easter":
              prettyCategory = 'Пасха';
              break;
            case "patricks_day":
              prettyCategory = 'День св. Патрика';
              break;
            case "other":
              prettyCategory = 'Другое';
              break;
          }
          switch (giftsForTable[i].active) {
            case '1':
              giftActive = 'Активный';
              break;
            case '0':
              giftActive = 'Не активный';
              break;
          }

          table.row.add([
            giftsForTable[i].id,
            giftsForTable[i].number_in_queue,
            giftsForTable[i].name,
            giftPhoto,
            prettyCategory,
            giftActive,
            giftsForTable[i].description ? giftsForTable[i].description : '',
            action
          ]).draw(false);
        }


        let editGift = this.editGift;

        $('#gifts-list').on('click', '.edit-g', function () {
          let ID = table.row($(this).parents('tr').first()).data()[0];
          editGift(ID);
        });
        this.initTableProcess = false;
      }
    },
    mounted() {
    },
    watch: {
      searchIdModel(value) {
        giftsSearch(0, value);
      },
      searchNameModel(value) {
        giftsSearch(2, value)
      },
      searchCategoryModel(value) {
        giftsSearch(4, value)
      }
    },
    components: {
      'table-load': TableLoad
    },
  }
</script>

<style>

  .attachment-img {
    max-width: 80px;
  }

  #girls-pagination {
    text-align: right;
  }

</style>
