<template>
  <div class="msg-line info-message">
    <span>{{displayedText}}</span>
    <div class="line"></div>
  </div>
</template>

<script>
  export default {
    props: {
      message: Object
    },
    data () {
      return {}
    },
    methods: {},
    computed: {
      displayedText() {
        if ( this.message.action === 'start' ) {
          return  'Чат начался';

        } else if (this.message.action === 'change') {
          let tmp = 'Текущий тип чата: текстовый';

          switch ( this.message.chatType ) {
            case 'video':
              tmp = 'Текущий тип чата: видео';
              break;
            case 'private':
              tmp = 'Текущий тип чата: приватный';
              break;
          }
          return tmp;
        } else if ( this.message.action === 'end' ) {
          return 'Чат завершен'
        }
      }
    },
    components: {},
    mounted() {
      this.$emit( 'msg', this.$el );
    }
  }
</script>

<style>
</style>
