<template>
  <component :is="message.view" @msg="passScrollEvent($event)" :message="message"></component>
</template>

<script>
  import info from './info.vue'
  import message from './message.vue'
  import photo from './photo.vue'

  export default {
    props: {
      message: Object
    },
    data () {
      return {}
    },
    methods: {
      passScrollEvent(e) {
        this.$emit('msg', e)
      }
    },
    computed: {},
    components: {
      info,
      message,
      photo,
    }
  }
</script>

<style>
</style>
