<template>
  <div v-show="isActive">
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: 'Tab',
  props: {
    name: { type: String, required: true },
    id: { type: String, required: true }
  },
  data() {
    return {
      isActive: false
    }
  },
  mounted() {
    this.$parent.addTab(this)
  },
  beforeDestroy() {
    this.$parent.removeTab(this)
  }
}
</script>

<style scoped>
.tab-pane {
  padding: 1rem 0;
}
</style>
