<template>
  <div class="tabs-setting">
    <ul class="tabs-component-tabs">
      <li
          v-for="tab in tabs"
          :key="tab.id"
          :class="['tab-button', { 'is-active': activeTab === tab.id }]"
          @click="setActiveTab(tab.id)"
      >
        {{ tab.name }}
      </li>
    </ul>
    <slot name="action-button"/>
    <div class="tabs-content">
      <slot name="tab-content"/>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Tabs',
  data() {
    return {
      tabs: [],
      activeTab: null
    }
  },
  methods: {
    addTab(tab) {
      this.tabs.push({
        name: tab.name,
        id: tab.id,
        component: tab
      })

      if (this.tabs.length === 1) {
        this.setActiveTab(tab.id)
      }
    },
    removeTab(tab) {
      const index = this.tabs.findIndex(t => t.id === tab.id)
      if (index > -1) {
        this.tabs.splice(index, 1)
        if (this.activeTab === tab.id && this.tabs.length) {
          this.setActiveTab(this.tabs[0].id)
        }
      }
    },
    setActiveTab(tabId) {
      this.activeTab = tabId
      this.tabs.forEach(tab => {
        tab.component.isActive = tab.id === tabId
      })
      this.$emit('tab-changed', tabId)
    }
  }
}
</script>
