
<template>
  <div class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: block;">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" @click="closeModal">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Прикрепить файл</h4>
        </div>
        <div class="modal-body">
          <div class="row">

              <nav class="col-md-12 attach-file-list photo-list photo-nav" style="max-height: 270px; overflow-y: auto;">
                <a v-for="photo in photosToAttach"  href="#" role="button"  @click="selectPhoto(photo)" :class="{'attached': photo.attached, 'selected': photo.selected}">
                  <img :src="photo.path.photo_small" class="img-responsive" >
                  <i v-if="photo.album_type === 'private'" class="photo-label label-private bottom-photo">Private</i>
                </a>
              </nav>

          </div>
          <hr  v-if="videosToAttach.length > 0">

          <div class="row" v-if="videosToAttach.length > 0">
            <h5>Видео</h5>
            <nav class="col-md-12 attach-file-list photo-list photo-nav" style="max-height: 300px; overflow-y: auto">
              <a v-for="video in videosToAttach"  href="#" role="button"  @click="selectVideo(video)" :class="{'attached': video.attached, 'selected': video.selected}">
                <img :src="video.preview_file_name_medium" class="img-responsive" >
                <i v-if="video.album_type === 'private'" class="photo-label label-private bottom-photo">Private</i>
              </a>

            </nav>
          </div>
        </div>
        <div class="modal-footer">
          <button @click="acceptAll" class="btn btn-primary">Отправить</button>
        </div>

      </div>
    </div>
  </div>

</template>

<script>
  import toastr from 'toastr'
  export default {
    props: {
      userId:{
        type: Number
      },
      attachments: {
        type:Array
      },
      attachmentsVideo: {
        type:Array
      },
      attachmentsNew: {
        type:Array
      },
      attachmentsVideoNew: {
        type:Array
      },
      hasVideoList: false
    },
    data() {
      return {
        photosToAttach: [],
        videosToAttach: [],
      }
    },
    computed: {
      canAttachPhoto() {
        return this.attachments.length + this.selectedPhotos.length >= this.generalSettings.max_photo_attach_mail_woman;
      },
      canAttachVideo() {
        return this.attachmentsVideo.length + this.selectedVideos.length >= this.generalSettings.max_video_attach_mail_woman;
      },
      selectedPhotos() {
        return this.photosToAttach.filter( i => i.selected );
      },
      selectedVideos() {
        return this.videosToAttach.filter( i => i.selected );
      },
      generalSettings(){
        return this.$store.getters.generalSettings;
      }
    },
    watch: {
      modalProps(deep=true){},
    },
    methods: {
      async initialModal(){

        // load photos
        await this.$http.post( 'v2/female/load-photos', {
          access_token: this.$cookie.get( 'access_token' ),
          user_id: this.userId
        } ).then( data => {
          if ( data.body.status ) {
            this.photosToAttach = [];
            let public_photo_obj = {};
            let private_photo_obj = {};
            data.body.result.public_photo.forEach( photo => {

              public_photo_obj = {
                path: {
                  photo_small:photo.file_url_medium,
                  photo_origin:photo.file_url_origin,
                },
                id: photo.id,
                album_type: photo.album_type,
                is_lock: photo.is_lock,
                selected: false
              }
              if (this.attachments.filter( i => photo.id==i.id ).length>0){
                public_photo_obj.attached = true
              }
              else {
                public_photo_obj.attached = false
              }
              this.photosToAttach.push( public_photo_obj );

            });

            data.body.result.private_photo.forEach( photo => {

              private_photo_obj = {
                path: {
                  photo_small:photo.file_url_medium,
                  photo_origin:photo.file_url_origin,
                },
                id: photo.id,
                album_type: photo.album_type,
                is_lock: photo.is_lock,
                selected: false
              }

              if (this.attachments.filter( i => photo.id==i.id ).length > 0){
                private_photo_obj.attached = true
              }
              else {
                private_photo_obj.attached = false
              }

              this.photosToAttach.push( private_photo_obj );
            });


          } else {
            if ( 'message' in data.body ) {
              toastr.error( data.body.message );
            }
            toastr.error( 'Не могу загрузить список фото клиентки' );
            toastr.info( data.body.desc );
          }
        }, err => {
          toastr.error( 'Не могу загрузить список фото клиентки' );
          console.log( err );
        } );

        await this.$http.post( 'v2/female/load-videos', {
          access_token: this.$cookie.get( 'access_token' ),
          user_id: this.userId
        } ).then( data => {
          if ( data.body.status ) {
            this.videosToAttach = [];

            data.body.result.public_video.forEach(video => {
              video.album_type = 'public';
              if (this.attachmentsVideo.filter( i => video.id==i.id ).length>0){
                video.attached = true
              }
              else {
                video.attached = false
              }
              video.selected = false;
              this.videosToAttach.push(video);
            });

            data.body.result.private_video.forEach(video => {

              video.album_type = 'private';

              if (this.attachmentsVideo.filter( i => video.id==i.id ).length>0){
                video.attached = true
              }
              else {
                video.attached = false
              }

              video.selected = false;

              this.videosToAttach.push(video);
            });

          } else {
            if ( 'message' in data.body ) {
              toastr.error( data.body.message );
            }
            toastr.error( 'Не могу загрузить список видео клиентки' );
            toastr.info( data.body.desc );
          }
        }, err => {
          toastr.error( 'Не могу загрузить список видео клиентки' );
          console.log( err );
        } );


      },
      acceptAll(){
        this.$emit('newPhotoSelected', this.selectedPhotos);
        this.$emit('newVideoSelected', this.selectedVideos);
        this.closeModal()
      },
      selectPhoto( photo ) {
          if(photo.attached){
            toastr.error( 'Это фото уже добавлено к письму, выберите другое!' );
          }else{
            if (this.canAttachPhoto) {
              toastr.error( 'Превышено допустимое количество фото' );
              if(photo.selected) photo.selected = false;
            } else{
              photo.selected = !photo.selected;
            }
          }
      },
      selectVideo( video ) {
        if(video.attached){
          toastr.error( 'Это видео уже добавлено к письму, выберите другое!' );
        }else{
          if (this.canAttachVideo) {
            toastr.error( 'Превышено допустимое количество видео' );
            if(video.selected) video.selected = false;
          } else{
            video.selected = !video.selected
          }
        }
      },
      closeModal(){
        this.$emit('close')
        $("body").removeClass("modal-open");
      },
    },
    mounted() {
      this.initialModal()
      $("body").addClass("modal-open");

    }
  }
</script>


<style lang="scss" scoped>

  .modal-body{
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll !important;
  }

  @media only screen and (max-width : 768px) {
    .modal-dialog{width:100%;}
  }

  @media only screen and (min-width: 1025px) {
      .modal-dialog{width:60%;}

  }

</style>


