<template>
	<span class="f-tpl">
		<component :is="comp" :class="{'text-danger': calculated.min, 'text-green': calculated.suc}" :value="calculated.num" :clear="calculated.clear"></component>
	</span>
</template>

<script>


	import infinity from './infinity.vue'
	import num from './num.vue'
	import { MATH } from '../../../mixins/utils'

	export default {
		props: [ 'current', 'prev' ],
		data() {
			return {
				comp: 'num'
			}
		},
		mixins: [ MATH ],
		methods: {
			calcRatio( cur, prev ) {
				let tmp;
				try {
					tmp = cur / prev * 100 - 100;
				} catch ( e ) {
					tmp = 100;
				}

				if ( Math.abs( tmp ) === Infinity ) {
					this.comp = 'infinity';
					return tmp
				}
				if ( isNaN( tmp ) ) return 0;
				return this.round10( tmp, -2 );
			},
		},
		computed: {
			calculated() {
				let tmp = this.calcRatio( this.current, this.prev );
				return {
					num: tmp >= 0 ? '+' + tmp + '%' : tmp + '%',
					suc: tmp >= 0,
					min: tmp < 0,
					clear: tmp
				}
			},
		},
		components: {
			infinity,
			num
		}
	}




</script>

<style scoped>
	.f-tpl {
		margin-left: 4px;
	}
</style>
