<template>
	<span>(
		{{num}}
		<svg xmlns="http://www.w3.org/2000/svg" width="150.223" height="150.223" viewBox="0 0 150.223 150.223">
		  <path d="M115.885 38.63c-21.312 0-35.416 17.426-47.86 32.803-10.63 13.136-20.67 25.54-32.896 25.54-12.71 0-20.513-13.062-20.513-22.426 0-8.682 8.56-21.3 21.976-21.3 13.018 0 19.8 10.42 20.142 10.954 2.11 3.414 6.587 4.488 10.017 2.396 3.447-2.1 4.54-6.597 2.438-10.044-.446-.73-11.167-17.92-32.597-17.92C15.03 38.632 0 57.562 0 74.548c0 17.52 14.427 37.043 35.128 37.043 19.2 0 31.94-15.74 44.26-30.962 11.395-14.078 22.16-27.38 36.497-27.38 8.53 0 14.135 2.895 17.13 8.84 2.597 5.16 2.595 11 2.593 13.023 0 1.16-.613 6.98-3.45 12.218-3.237 5.968-7.83 8.746-14.47 8.746-13.37 0-20.592-8.69-23.312-11.963-.707-.85-1.216-1.464-1.896-2.046-3.062-2.623-7.678-2.27-10.306.795-2.534 2.956-2.29 7.352.478 10.013.132.15.29.347.48.576 3.545 4.265 14.324 17.24 34.553 17.24 24.586 0 32.537-23.974 32.537-35.68.002-7.454-1.394-14.012-4.154-19.495-3.875-7.7-12.26-16.884-30.183-16.884z"/>
		</svg>
		)
	</span>
</template>

<script>
	export default {
		props: [ 'value', 'clear' ],
		data() {
			return {}
		},
		methods: {},
		computed: {
			num() {
				return this.clear > 0 ? '+' : '-'
			}
		},
		components: {}
	}
</script>

<style scoped>

	span {
		display: flex;
		align-items: center;
	}

	svg {
		fill: currentColor;
		height: 16px;
		width: 16px;
		margin-right: 3px;
	}

</style>
