<template>
	<span>({{value}})</span>
</template>

<script>
	export default {
		props: ['value', 'clear'],
		data() {
			return {}
		},
		methods: {},
		computed: {},
		components: {}
	}
</script>

<style>
</style>
