<template>
	<div class="modal-guest-api" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" @click="closeModal()">&times;</button>
					<h4 v-if="edit" class="modal-title">Редактирование</h4>
					<h4 v-else class="modal-title">Создание</h4>
				</div>
				<div class="modal-body">
					<div class="form-group row">
						<div class="col-md-2">
							<label for="">URL</label>
						</div>
						<div class="col-md-10">
							<input v-model="objectActive.domain" type="text" placeholder="Введите URL"
								   class="form-control">
						</div>
					</div>

					<div v-if="edit">
						<div class="form-group row">
							<div class="col-md-2">
								<label for="">Статус</label>
							</div>
							<div class="col-md-6 col-md-offset-4">
								<select @change="detectActive($event)" v-model="objectActive.active" name="" id=""
										class="form-control">
									<option value='1'>активный</option>
									<option value='0'>неактивный</option>
								</select>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-2">
								<label for="">Примечание</label>
							</div>
							<div class="col-md-10">
								<input class="form-control" type="text" v-model="objectActive.description" disabled>
							</div>
						</div>
					</div>

					<div v-else class="form-group row">
						<div class="col-md-2">
							<label for="">Примечание</label>
						</div>
						<div class="col-md-10">
							<input v-model="description" type="text" placeholder="Введите Примечание"
								   class="form-control">
						</div>
					</div>

				</div>
				<div class="modal-footer" v-if="edit">
					<button type="button" class="btn btn-delete" @click="deleteCors()">Удалить</button>
					<button type="button" class="btn btn-default" @click="editCors()">Редактировать</button>
				</div>
				<div class="modal-footer" v-else>
					<button type="button" class="btn btn-default" @click="createCors()">Создать</button>
				</div>
			</div>

		</div>
	</div>
</template>

<script>
	import toastr from 'toastr'
	export default {
		data () {
			return {
				description: '',
				url: '',
				active: 0,
				selectChange: false,
				objectActive: {}
			}
		},
		watch: {
			objectActive( $event ) {

			}
		},
		props: [
			'showModal',
			'edit',
			'corsObject'
		],
		methods: {
			detectActive( $event ) {
				this.active = $event.currentTarget.value
				this.selectChange = true
			},
			validate() {
				if ( this.objectActive.domain === undefined || this.objectActive.domain.length < 1 ) {
					toastr.error( 'Введите URL' );
					return false
				}
				if ( this.active.length < 1 ) {
					toastr.error( 'Выберите статус' );
					return false
				}
				if ( this.description.length > 255 ) {
					toastr.error( 'Максимальное -к-во символов 255' );
					return false
				}
				else {
					return true
				}
			},
			closeModal() {
				this.$emit( 'close' )
			},
			deleteCors() {
				if ( confirm( "Вы уверены что хотите удалить домен?" ) ) {
					this.$http.post( 'v2/site/settings/remove/site-cors', {
						access_token: this.$cookie.get( 'access_token' ),
						site_cors_id: this.objectActive.id,
					} ).then( data => {
						if ( data.body.status ) {
							toastr.success( 'Успешно удалено!' );
							this.closeModal()
							this.$emit( 'reinstall' )
						} else {

						}
					}, err => {
						toastr.error( 'Ошибка' );
					} )
				} else {
					alert( "Удаление отменено!" )
				}
			},
			editCors() {
				if ( this.selectChange ) {
					if ( confirm( "Вы уверены что хотите изменить домен?" ) ) {
						this.sendData()
					} else {
						this.objectActive.active = 1
					}
				}

				else {
					if ( this.validate() ) {
						this.sendData()
					}
					else {
						toastr.error( 'Ошибка' );
					}
				}
			},

			sendData() {
				this.$http.post( 'v2/site/settings/update/site-cors', {
					access_token: this.$cookie.get( 'access_token' ),
					id: this.objectActive.id,
					domain: this.objectActive.domain,
					active: this.objectActive.active
				} ).then( data => {
					if ( data.body.status ) {
						toastr.success( 'Успешно отредактировано!' );
						this.closeModal()
						this.$emit( 'reinstall' )
					} else {

					}
				}, err => {
					toastr.error( 'Ошибка' );
				} )
			},
			createCors() {
				if ( this.validate() ) {
					this.$http.post( 'v2/site/settings/add/site-cors', {
						access_token: this.$cookie.get( 'access_token' ),
						domain: this.objectActive.domain,
						description: this.description,
					} ).then( data => {
						if ( data.body.status ) {
							toastr.success( 'Успешно Отправлено!' );
							this.closeModal()
							this.$emit( 'reinstall' )
						} else {

						}
					}, err => {
						toastr.error( 'Ошибка' );
					} )
				}
				else {
					toastr.error( 'Ошибка' );
				}
			}
		},
		computed: {},
		components: {},
		mounted() {
			this.objectActive = this.corsObject
//			if(this.objectActive.active === 1) {
//				this.active = 'active'
//			}
//			else {
//				this.active = 'deactivated'
//			}
		}
	}
</script>

<style>
</style>
