<template>
	<div class="modal-guest-api" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" @click="closeModal()">&times;</button>
					<h4 v-if="edit" class="modal-title">Редактирование</h4>
					<h4 v-else class="modal-title">Создание</h4>
				</div>
				<div class="modal-body">
					<div class="form-group row" v-if="!edit">
						<div class="col-md-2">
							<label for="">URL</label>
						</div>
						<div class="col-md-10">
							<select id="test" @change="changeCors($event)"
									class="form-control">
								<option selected>URL</option>
								<option :value="core.id" :key="core.id" v-for="core in cors">{{core.name
									}}-({{core.id}})
								</option>
							</select>
							<!--<my-select :className="'select-from-letter'" :placeholder="'URL'" :callback="selectCorsCallback" :options="cors"></my-select>-->
						</div>
					</div>
					<div v-if="unique" class="form-group row">
						<div class="col-md-2">
							<label for="">Клиентка</label>
						</div>
						<div class="col-md-10">
							<my-select v-model="objectActive.womanId" id="woman-select"  :placeholder="'Клиентка'"
									   @select="selectWomanCallback($event)" :options="women"></my-select>
						</div>
					</div>
					<div v-if="edit">
						<div class="form-group row">
							<div class="col-md-2">
								<label for="">Клиентка</label>
							</div>
							<div class="col-md-10">
								<my-select :disabled="true" v-model="objectActive.womanId" id="woman-select"  :placeholder="'Клиентка'"
										   @select="selectWomanCallback($event)" :options="women"></my-select>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-2">
								<label for="">Статус</label>
							</div>
							<div class="col-md-6 col-md-offset-4">
								<select v-model="objectActive.active" name="" id=""
										class="form-control">
									<option value='1'>активный</option>
									<option value='0'>неактивный</option>
								</select>
							</div>
						</div>
					</div>

				</div>
				<div class="modal-footer" v-if="edit">
					<button type="button" class="btn btn-delete" @click="deleteReferal()">Удалить</button>
					<button type="button" class="btn btn-default" @click="editReferal()">Редактировать</button>
				</div>
				<div class="modal-footer" v-else>
					<button type="button" class="btn btn-default" @click="createReferal()">Создать</button>
				</div>
			</div>

		</div>
	</div>
</template>

<script>
	import toastr from 'toastr'
	import mySelect2 from '../../../custom/select2/select-new.vue'
	export default {
		data () {
			return {
				cors: [],
				women: [],
				description: '',
				objectActive: {},
				selectedWoman: null,
				selectedCors: null,
				editCors: ''
			}
		},
		props: [
			'showModal',
			'edit',
			'referalObject',
			'unique'
		],
		methods: {
			setSelectValue() {
				let self = this
				if ( self.edit ) {
					self.women.forEach( woman => {
						if ( woman.id == self.referalObject.womanId ) {
							self.selectedWoman = self.referalObject.womanId
							$('#woman-select').val(self.selectedWoman).trigger('change');
						}
					} )
				}
			},
			changeCors( $event ) {
				let corsName = $event.target.value
				this.cors.forEach( core => {
					if ( corsName == core.id ) {
						this.selectedCors = core.name
					}
				} )
			},
			validate() {
				if ( this.selectedCors === null || this.selectedCors === 'URL' ) {
					toastr.error( 'Введите URL' );
					return false
				}
//				if ( this.selectedWoman === null ) {
//					toastr.error( 'Выберите клиентку' );
//					return false
//				}
				else {
					return true
				}
			},
			validateEdit() {
				if ( this.editCors === null || this.editCors === 'URL' ) {
					toastr.error( 'Введите URL' );
					return false
				}
				if ( this.selectedWoman === null ) {
					toastr.error( 'Выберите клиентку' );
					return false
				}
				else {
					return true
				}
			},
			selectWomanCallback( value ) {
				this.selectedWoman = value
			},
			selectCorsCallback( value ) {
				this.selectedCors = value
			},
			fetchCors() {
				this.$http.post( 'v2/site/settings/get/site-cors', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( corsResponse => {
					if ( corsResponse.body.status ) {
						corsResponse.body.result.forEach( cors => {
							this.cors.push( {
								id: cors.id,
								name: cors.domain
							} )
						} )
						this.$nextTick(()=> {
							this.setSelectValue()
						})
					}
				}, requestError => {
					console.log( requestError );
				} )
			},
			fetchWomen() {
				this.$http.post( 'v2/femal/load-list', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( data => {
					if ( data.body.status ) {
						data.body.result.forEach( woman => {
							this.women.push( {
								id: woman.user_id,
								name: woman.name + ' ' + woman.surname + '(' + woman.user_id + ')'
							} )
						} )
					} else {
						if ( 'message' in data.body ) {
							toastr.error( data.body.message );
						}
						toastr.error( 'Не могу загрузить список клиенток' )
					}
				}, err => {
					toastr.error( 'Не могу загрузить список клиенток' );
					console.log( err );
				} )
			},
			closeModal() {
				this.$emit( 'close' )
			},
			editReferal() {
				if ( confirm( "Вы уверены что хотите изменить ссылку?" ) ) {
					if ( this.validateEdit() ) {
						this.$http.post( 'v2/site/referrals/update', {
							access_token: this.$cookie.get( 'access_token' ),
							id: this.objectActive.referalId,
							url: this.objectActive.url,
							woman_user_id: this.selectedWoman,
							active: this.objectActive.active
						} ).then( data => {
							if ( data.body.status ) {
								toastr.success( 'Успешно изменено!' );
								this.closeModal()
								this.$emit( 'reinstall' )
							} else {

							}
						}, err => {
							toastr.error( 'Ошибка' );
						} )
					}
				} else {
					alert( "Удаление отменено!" )
				}
			},


			deleteReferal() {
				if ( confirm( "Вы уверены что хотите удалить ссылку?" ) ) {
					this.$http.post( 'v2/site/referrals/remove', {
						access_token: this.$cookie.get( 'access_token' ),
						id: this.objectActive.referalId,
					} ).then( data => {
						if ( data.body.status ) {
							toastr.success( 'Успешно удалено!' );
							this.closeModal()
							this.$emit( 'reinstall' )
						} else {

						}
					}, err => {
						toastr.error( 'Ошибка' );
					} )
				} else {
					alert( "Удаление отменено!" )
				}
			},
			createReferal() {
				if ( this.validate() ) {
					this.$http.post( 'v2/site/referrals/add', {
						access_token: this.$cookie.get( 'access_token' ),
						url: this.selectedCors,
						woman_user_id: this.selectedWoman,
						active: 1,
						all: this.ifSingleSelct
					} ).then( data => {
						if ( data.body.status ) {
							toastr.success( 'Успешно Отправлено!' );
							this.closeModal()
							this.$emit( 'reinstall' )
						} else {

						}
					}, err => {
						toastr.error( 'Ошибка' );
					} )
				}
				else {
					toastr.error( 'Ошибка' );
				}
			},
			ifSingleSelct() {
				if(this.unique) {
					return 0
				}
				else {
					return 1
				}
			},
		},
		mounted() {
			this.objectActive = this.referalObject
			this.fetchWomen()
			this.fetchCors()
			this.setSelectValue()
			if(this.edit) {
				this.editCors = this.objectActive.url
			}
		},
		computed: {},
		components: {
			'my-select': mySelect2,
		}
	}
</script>

<style>
</style>
