<template>
  <div class="m-ch__sidebar box-columns m-ch__mainbox" style="padding-bottom: 0">
    <div class="black-background">
      <chat-setting-button-app></chat-setting-button-app>
      <div class="left-tabs">
        <ul class="nav nav-tabs">
          <li class="active">
            <a data-toggle="tab" href="#allOnline">Онлайн</a>
          </li>
          <li>
            <a data-toggle="tab" href="#favorites">Фавориты</a>
          </li>
          <li>
            <a data-toggle="tab" href="#bookmarks">Закладки</a>
          </li>
        </ul>
      </div>
    </div>
    <!--Top buttons POWER/SETTINGS-->
    <div class="tab-content scroll-wrapp">
      <div style="height: 100%;" id="allOnline" class="tab-pane simplebar in active" ref="allOnline">
        <input type="text" v-model="searchInOnline" placeholder="Поиск по ID" class="search-by-id-input">
        <div>
          <user-item-app v-for="user in onlineList"
                         :user="user"
                         :key="Math.floor(Date.now())"
                         :onlyWithInvites="true"
                         v-show="$store.getters.chatStatus"></user-item-app>
          <user-item-app v-for="user in onlineList"
                         :user="user"
                         :key="user.id"
                         :onlyWithInvites="false"
                         v-show="$store.getters.chatStatus"></user-item-app>
        </div>
      </div>
      <div style="height: 100%" id="favorites" class="tab-pane simplebar" ref="allFavorites">
        <input type="text" v-model="searchInFavorites" placeholder="Поиск по ID" class="search-by-id-input">
        <div>
          <user-item-app v-for="user in favoritesList"
                         :user="user"
                         :key="user.id"
                         v-show="$store.getters.chatStatus"></user-item-app>
        </div>
      </div>
      <div style="height: 100%" id="bookmarks" class="tab-pane simplebar" ref="allBookmarks">
        <input type="text" v-model="searchInBookmark" placeholder="Поиск по ID" class="search-by-id-input">
        <div>
          <user-item-app v-for="user in bookmarksList"
                         :user="user"
                         :key="user.id"
                         v-show="$store.getters.chatStatus"></user-item-app>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

  import UserItem from '../items/UserItem';
  import ChatSettingButton from '../boxes/ChatSettingButton';
  import SimpleBar from 'simplebar';
  import _ from 'lodash';

  export default {
    name: 'leftBox',
    scrollOnline: null,
    scrollFavorites: null,
    scrollBookmarks: null,
    data() {
      return {
        listUpdateIterator: null,
        searchInOnline: null,
        searchInBookmark: null,
        searchInFavorites: null,
      };
    },
    computed: {
      userWithInvites() {
        return this.$store.getters.userWithInvites;
      },
      currentWoman() {
        return this.$store.getters.currentChatWoman;
      },
      onlineList() {
        if (this.$store.getters.currentChatWoman === null) return [];
        if(this.searchInOnline !== null && this.searchInOnline !== '') {
          let filteredUsers = this.currentWoman.onlineList.filter(user => user.id.toString().match(parseInt(this.searchInOnline)));
          return _.sortBy(filteredUsers, 'id').reverse();
        }

        return _.sortBy(this.$store.getters.currentChatWoman.onlineList, 'id').reverse();
      },
      favoritesList() {
        if (this.$store.getters.currentChatWoman === null) return [];
        if(this.searchInFavorites !== null && this.searchInFavorites !== '') {
          let filteredUsers = this.$store.getters.currentChatWoman.favoritesList.filter(user => user.id.toString().match(parseInt(this.searchInFavorites)));
          return filteredUsers.sort(function (a, b) {
            return a.id < b.id;
          });
        }
        return this.$store.getters.currentChatWoman.favoritesList.sort(function (a, b) {
          return a.id < b.id;
        });
      },
      bookmarksList() {
        if (this.$store.getters.currentChatWoman === null) return [];
        if(this.searchInBookmark !== null && this.searchInBookmark !== '') {
          let filteredUsers = this.$store.getters.currentChatWoman.bookmarksList.filter(user => user.id.toString().match(parseInt(this.searchInBookmark)));
          return filteredUsers.sort(function (a, b) {
            return a.id < b.id;
          });
        }
        return this.$store.getters.currentChatWoman.bookmarksList.sort(function (a, b) {
          return a.id < b.id;
        });
      }
    },
    components: {
      'user-item-app': UserItem,
      'chat-setting-button-app': ChatSettingButton,
    },
    methods: {
      updateWomanLastActive() {
        this.$store.getters.chatWomenList.forEach(woman => {
          this.$http.post(this.config.api.frontend + '/v2/active-status/set-online', {
            access_token: woman.token.site,
          }).then(() => {
//            console.info('Last active of users updated: ', Math.floor(Date.now() / 1000))
          }).catch(err => {
            console.warn(err);
          })
        });
      },
      fetchLists(){
        if (this.$store.getters.currentChatWoman === null) return false;
        if (this.$store.getters.currentChatWoman.listUpdated > Math.floor(Date.now() / 1000 - 15)) return false;

        const forWomanId = this.$store.getters.currentChatWoman.id;

        this.$http.post(this.config.api.frontend + '/v2/site/app-chat/get/last-dialogs', {
          access_token: this.$store.getters.womanSiteToken,
        }).then(onlineListServerResponse => {
          const prettyUserListArray = [];
          if ('contacts' in onlineListServerResponse.body && onlineListServerResponse.body.contacts === []) return false;
          onlineListServerResponse.body.forEach(manUser => {
            prettyUserListArray.push({
              id: parseInt(manUser.user_id),
              name: manUser.name,
              age: parseInt(manUser.age),
              avatar: manUser.avatar,
              isNew: manUser.new,
              status: manUser.status,
              isOnline: manUser.online,
              invite: (this.userWithInvites.indexOf(parseInt(manUser.user_id)) !== -1),
            })
          });

          this.$store.commit('CHAT_SET_CONTACT_LIST', {
            woman_id: forWomanId,
            list: prettyUserListArray,
          });

          this.$store.commit('CHAT_SET_ONLINE_LIST_UPDATED', {
            woman_id: forWomanId,
          });

        }).catch(fetchOnlineUsersListException => {
          console.warn(fetchOnlineUsersListException);
        });


        this.$http.post(this.config.api.frontend + '/v2/site/app-chat/get/online-list', {
          access_token: this.$store.getters.womanSiteToken
        }).then(onlineListServerResponse => {
          if (!onlineListServerResponse.body.status) return false;
          const prettyUserListArray = [];
          onlineListServerResponse.body.result.forEach(manUser => {

            prettyUserListArray.push({
              id: parseInt(manUser.user_id),
              name: manUser.name,
              age: parseInt(manUser.age),
              avatar: manUser.avatar,
              isNew: manUser.new,
              status: manUser.status,
              isOnline: manUser.online,
              invite: (this.userWithInvites.indexOf(parseInt(manUser.user_id)) !== -1),
            })
          });

          let manSortedList = prettyUserListArray.sort(function (a, b) {
            return a.id < b.id;
          });

          const copyArray = [];
          prettyUserListArray.forEach(man => {
            let copyObject = {};
            for(let key in man) {
              copyObject[key] = man[key];
            };
            copyArray.push(copyObject);
          });

          this.$store.getters.chatWomenList.forEach(woman => {
            this.$store.commit('CHAT_SET_ONLINE_LIST', {
              woman_id: woman.id,
              list:  Object.assign([], copyArray),
            });
            this.$store.commit('CHAT_SET_ONLINE_LIST_UPDATED', {
              woman_id: woman.id,
            });
          });

        }).catch(fetchOnlineUsersListException => {
          console.warn(fetchOnlineUsersListException);
        });

        this.$http.post(this.config.api.frontend + '/v2/site/app-chat/get/favorites', {
          access_token: this.$store.getters.womanSiteToken,
        }).then(onlineListServerResponse => {
          if (!onlineListServerResponse.body.status) return false;
          const prettyUserListArray = [];
          onlineListServerResponse.body.result.forEach(manUser => {
            prettyUserListArray.push({
              id: parseInt(manUser.id),
              name: manUser.profile.name,
              age: parseInt(manUser.age),
              avatar: manUser.profile.avatarList,
              isNew: manUser.new,
              status: manUser.status,
              isOnline: manUser.online,
              invite: (this.userWithInvites.indexOf(parseInt(manUser.user_id)) !== -1),
            })
          });

          this.$store.commit('CHAT_SET_FAVORITE_LIST', {
            woman_id: forWomanId,
            list: prettyUserListArray,
          });

          this.$store.commit('CHAT_SET_ONLINE_LIST_UPDATED', {
            woman_id: forWomanId,
          });

        }).catch(fetchOnlineUsersListException => {
          console.warn(fetchOnlineUsersListException);
        });

        this.$http.post(this.config.api.frontend + '/v2/site/app-chat/get/bookmarks', {
          access_token: this.$store.getters.womanSiteToken,
        }).then(onlineListServerResponse => {
          if (!onlineListServerResponse.body.status) return false;
          const prettyUserListArray = [];
          onlineListServerResponse.body.result.forEach(manUser => {
            prettyUserListArray.push({
              id: parseInt(manUser.id),
              name: manUser.profile.name,
              age: parseInt(manUser.age),
              avatar: manUser.profile.avatarList,
              isNew: manUser.new,
              status: manUser.profile.status,
              isOnline: manUser.online,
              invite: (this.userWithInvites.indexOf(parseInt(manUser.user_id)) !== -1),
            })
          });

          this.$store.commit('CHAT_SET_BOOKMARK_LIST', {
            woman_id: forWomanId,
            list: prettyUserListArray,
          });

          this.$store.commit('CHAT_SET_ONLINE_LIST_UPDATED', {
            woman_id: forWomanId,
          });

        }).catch(fetchOnlineUsersListException => {
          console.warn(fetchOnlineUsersListException);
        });
      },
    },
    watch: {
      currentWoman(value) {
        if (value === null) return false;
        this.fetchLists();
      },
    },
    mounted() {
      this.listUpdateIterator = setInterval(() => {
        if (this.$store.getters.currentChatWoman !== null) {
          this.fetchLists();
          this.updateWomanLastActive();
        }
      }, 15 * 1000);
      this.$nextTick(() => {
        this.scrollOnline = new SimpleBar(this.$refs.allOnline, {});
        this.scrollFavorites = new SimpleBar(this.$refs.allFavorites, {});
        this.scrollBookmarks = new SimpleBar(this.$refs.allBookmarks, {});
      })

    },
    beforeDestroy() {
      clearInterval(this.listUpdateIterator);
    }
  }
</script>

<style>

  .tab-pane {
    max-height: 100%;
  }

  .horizontal {
    display: none;
  }

  .search-by-id-input {
    width: calc(100% - 10px);
    margin: 5px;
    border: solid #ddd 1px;
    border-radius: 3px;
    outline: none;
    padding: 4px;
    color: #777;
  }

</style>
