<template>
  <div class="box-columns m-ch__main m-ch__mainbox">
    <header-box-app></header-box-app>
    <div class="middle-container-content m-ch__main--inner scroll-wrapp">
      <template v-if="currentUserExists">
        <current-user-box-app></current-user-box-app>
        <div class="m-ch__msg-area message-area">
          <message-box-app></message-box-app>
        </div>
        <message-input-app v-show="$store.getters.chatStatus"></message-input-app>
      </template>
      <div class="no-user" v-else="">
        <p>
          <b style="color: darkgray; font-size: 30px; font-weight: lighter">Не выбран клиент</b>
        </p>
      </div>
    </div>
  </div>
</template>

<script>

  import CurrentUserBox from  '../boxes/CurrentUserBox';
  import MessageBox from '../boxes/ChatMessageBox';
  import HeaderBox from  '../boxes/HeaderBox';
  import CreateMessageInput from '../boxes/CreateMessageInput';

  export default {
    name: 'middleBox',
    data() {
      return {
        placeholder: 'Напишите сообщение'
      };
    },
      computed: {
		  currentUserExists() {
			  return (this.$store.getters.currentChatUser !== null);
		  },
      },
    components: {
      'message-box-app': MessageBox,
      'header-box-app': HeaderBox,
      'current-user-box-app': CurrentUserBox,
		'message-input-app': CreateMessageInput,
    }
  }
</script>

<style>
  .current-user-header {
    height: 70px;
    background-color: #273343;
    color: #FFFFFF;
    line-height: 70px;
    padding-left: 15px;
    border-radius: 7px 7px 0 0 ;
  }
  .sound-control {
    font-size: 1.5em !important;
  }
  .current-chat-user-avatar {
    margin: 5px;
  }

  .message-area {
    overflow-x: hidden;;
    background: #FFFFFF;
    overflow-y: hidden;
  }
  .shadow-for-message-box {
    width: 100%;
    height: 1px;
    background: #FFFFFF;
    box-shadow: 0 0 2px 2px red;
  }
</style>
