<template>
  <div class="box-columns m-ch__sidebar m-ch__mainbox" style="padding-bottom: 0;">
    <div class="black-background">
      <h4 style="color: #FFFFFF; text-align: center; padding-bottom: 10px">Диалоги</h4>
      <div class="left-tabs">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#dialogs">Чаты</a></li>
          <li>
            <span class="unreade-messages" v-show="showUnreadeMessagesIndicator">{{unreadeMessages}}</span>
            <a data-toggle="tab" href="#women" id="womanTabTrigger">Клиентки</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="tab-content scroll-wrapp">
      <div id="dialogs" class="tab-pane simplebar in active" ref="dialogs">
        <div>
          <user-item-app v-show="$store.getters.chatStatus" :showChatStatus="true"  :showOnlineIndicator="true" v-for="user in contactList"
                         :user="user" :key="user.id"></user-item-app>
        </div>
      </div>
      <div id="women" class="tab-pane simplebar" ref="women">
        <div>
          <big-woman-item-app v-for="woman in allWomen" :woman="woman" :key="woman.id"></big-woman-item-app>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

  import UserItem from '../items/UserItem';
  import BigWomanItem from '../items/BigWomanItem';
  import SimpleBar from 'simplebar';

  export default {
    name: 'RightBox',
    scrollDialogs: null,
    scrollWomen: null,
    data() {
      return {};
    },
    components: {
      'user-item-app': UserItem,
      'big-woman-item-app': BigWomanItem,
    },
    computed: {
      allWomen() {
        return this.$store.getters.chatWomenList;
      },
      contactList() {
        if (this.$store.getters.currentChatWoman === null) return [];
        return this.$store.getters.currentChatWoman.contactsList;
      },
      showUnreadeMessagesIndicator() {
        if(this.unreadeMessages !== 0) return true;
        return false;
      },
      unreadeMessages() {
        let women = this.allWomen;
        let countOfMessages = 0;
        let currentChatWoman = this.$store.getters.currentChatWoman;
        if(currentChatWoman === null) {
          currentChatWoman = {};
          currentChatWoman.id = null;
        }
        women.forEach(woman => {
          if(woman.id !== currentChatWoman.id && woman.dialogsList !== undefined) {
            woman.dialogsList.list.forEach(dialog => {
              dialog.messages.forEach(message => {
                if(!message.reade) countOfMessages++;
              })
            })
          }
        });
        return countOfMessages;
      },
    },
    mounted() {
      this.initScrollbars()
    },
    methods: {
      initScrollbars() {
        this.$nextTick(() => {
          this.scrollDialogs = new SimpleBar(this.$refs.dialogs, {});
          this.scrollWomen = new SimpleBar(this.$refs.women, {});
        })
      }
    },
  }
</script>

<style>
  .power-button {
    background: #ff941c;
    color: #fff !important;
    border: none;
    border-radius: 50%;
    box-shadow: 1.408px 2.649px 7px 0px rgba(0, 0, 0, 0.07), inset 0px 2px 3px 0px rgba(0, 0, 0, 0.16);
    top: 73px;
    width: 36px;
    height: 36px;
    z-index: 221;
  }

  .setting-bottom {
    background: #ffffff !important;
    line-height: 48px;
    text-align: center;
    padding-left: 10px;
  }

  .unreade-messages {
    width: 17px;
    height: 17px;
    border-radius: 15px;
    background: orange;
    position: absolute;
    z-index: 100;
    right: 0;
    top: -5px;
    text-align: center;
    font-size: 10px;
    color: #FFFFFF;
  }

</style>
