
<template>
        <div class="modal fade in " id="help-view-modal-index" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: block;">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Письмо ID: {{letter.id}}</h4>
          </div>
            <div class="modal-body modal-wide v-scroll ps-container ps-theme-default ps-active-y" data-height="500" style="height: 500px;">

                  <div class="row">
                      <div class="col-md-12">
                          <div class="form-group row">
                              <label class="col-md-2 m-t-0">Дата создания:</label>
                              <div class="col-md-8">{{prettyCreated}}</div>
                          </div>
                          <div class="form-group row">
                              <label class="col-md-2 m-t-0">Рассылка:</label>
                              <div class="col-md-8">
                                  <strong>{{isDistribution}}</strong>
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-md-2 m-t-0">Прочитанно:</label>
                              <div class="col-md-8">
                                  <strong>{{isReade}}</strong>
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-md-2 m-t-0">От:</label>
                              <div class="col-md-8">
                                  <div class="user-block user-block-md margin-bottom">
                                      <img class="img-circle" :src="letter.sender.avatar.small"  :alt="letter.receiver.name">
                                      <span class="username">
                                <a>{{letter.sender.name}}</a>
							</span>
                                      <a>
                                          <span class="description">ID: {{letter.sender.id}}</span>
                                      </a>
                                  </div>
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-md-2 m-t-0">Кому:</label>
                              <div class="col-md-8">
                                  <div class="user-block user-block-md margin-bottom">
                                      <img class="img-circle" :src="letter.receiver.avatar.small" :alt="letter.receiver.name">
                                      <span class="username">
                                <a>{{letter.receiver.name}}</a>
							</span>
                                      <a>
                                <span class="description">
                                    ID: {{letter.receiver.id}}
                                </span>
                                      </a>
                                  </div>
                              </div>
                          </div>

                          <div class="form-group row">
                              <label class="col-md-2 m-t-0">Тема:</label>
                              <div class="col-md-8">
                                  {{letter.subject}}

                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-md-2 m-t-0">Письмо:</label>
                              <div class="col-md-5" v-html="letter.text">
                                  <nav class="photo-nav photo-list margin-top">
                                      <a v-for="item in letter.attachments" :href="item.file_name_medium">
                                          <img :src="item.file_path">
                                      </a>
                                  </nav>
                              </div>
                          </div>
                      </div>
                  </div>

          </div>
                    <div class="modal-footer clearfix no-display" style="display: block;">
                        <button type="button" class="btn btn-primary pull-right yes-agree" @click="$emit('close')">Закрыть</button>
                    </div>


        </div>
      </div>
    </div>

</template>

<script>
    export default {
        name: 'MailModal2',
		props: {
			letter:{
				type: Object
            }
        },
		computed: {
			prettyCreated() {
				return moment( this.letter.created_at * 1000 ).format( 'LLL' )
			},
			isReade() {
				if(this.letter.reade) {
					return 'да'
				}else {
					return 'нет'
				}
			},
			isDistribution() {
				if(this.letter.distribution) {
					return 'да'
				}else {
					return 'нет'
				}
			}
		},

        data() {
            return {
				id:36
            }
        },
        watch: {

        },
		created(){
			if(this.url){
				this.id = mailId
			}
		},

    }
</script>

<style>
    @media (min-width: 769px) {
        .modal-wide{
            width: 95%;
        }
    }
    @media (min-width: 1025px) {
        .modal-wide{
            width: 75%;
        }
    }
    @media (min-width: 1200px) {
        .modal-wide{
            width: 65%;
        }
    }
</style>
