<template>
	<div class="row">
		<div class="col-md-12">
			<div class="box box-blue box-solid">
				<div class="box-header with-border">
					<h3 class="box-title">Начисления партнерам</h3>
					<!-- /.box-tools -->
				</div>
				<!-- /.box-header -->
				<div class="box-body no-padding">
					<!-- filter -->
					<form class="row">
						<div class="form-group margin">
							<div class="col-md-2">
								<div class="input-group date d-t-picker" ref="picker">
									<span class="input-group-addon">
										<i class="fa fa-calendar"></i>
									</span>
									<input type="text" name="date_from" class="form-control from-sort">
								</div>
							</div>
							<div class="col-md-2">
								<my-select v-model="partner" :options="displayedPartners" :placeholder="'Партнер'"
										   @select="selectPartnerCallback($event)"></my-select>
							</div>
							<div class="col-md-2">
								<select class="form-control" v-model="statusFilter">
									<option class="placeholder-option" value="" selected="selected">Статус партнёра
									</option>
									<option value="active">активные</option>
									<option value="banned">забаненные</option>
									<option value="blocked">заблокированные</option>
									<option value="deleted">удаленные</option>
								</select>
							</div>
							<div class="col-md-2">
								<select class="form-control" v-model="payStatus">
									<option class="placeholder-option" value="" selected="selected">Выплата</option>
									<option value="выплачена">выплачена</option>
									<option value="в ожидании">в ожидании</option>
									<option value="перенесена">перенесена</option>
								</select>
							</div>
						</div>
					</form>
					<div class="row"
						 v-show="preloader">
						<preloader></preloader>
					</div>
					<div class="table-responsive" v-show="!preloader">
						<table class="table table-bordered table-striped" id="paidoutTable" ref="table">
							<thead>
							<tr>
								<th>ID</th>
								<th class="sm-td">Партнер</th>
								<th>Статус партнера</th>
								<th>Сумма</th>
								<th>Период</th>
								<th>Статус</th>
							</tr>
							</thead>
							<tbody>
							</tbody>
							<tfoot>
							<tr class="bg-gray">
								<th>Всего</th>
								<th></th>
								<th></th>
								<th class="bg-navy-active">{{statsCount}}</th>
								<th></th>
								<th></th>
							</tr>
							</tfoot>
						</table>
					</div>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
			<div class="row">
				<div class="col-md-6">
					<div class="margin-top" id="paidoutInfo">

					</div>
				</div>
				<div class="col-md-6">
					<ul class="pagination pull-right" id="paidoutPaginate">

					</ul>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import moment from 'moment'
	import toastr from 'toastr'
	import mySelect2 from '../../custom/select2/select-new.vue'
	import preloader from '../../custom/normalPreloader/component.vue'
	import { MATH } from '../../../mixins/utils'

	export default {
		name: 'PaidOut',
		picker: null,
		data() {
			return {
				date: {
					limit: moment.utc().subtract( 1, 'month' ).startOf( 'month' ).endOf( 'YYYY-MM-DD HH:mm' ),
					date: moment.utc().subtract( 1, 'month' ).startOf( 'month' )
				},
				preloader: true,
				paidOutList: [],
				allPartners: [],
				payStatus: '',
				statsCount: '',
				table: null,
				statusFilter: '',
				partner: 0
			}
		},
		mixins: [ MATH ],
		watch: {
			statusFilter( value ) {
				this.search( 2, value )
			},
			payStatus( value ) {
				this.search( 5, value )
			},
			dateX() {
				this.fetchData();
			}
		},
		computed: {
			dateX() {
				if ( this.date.date.isUTC ) {
					return {
						'from': moment( this.date.date ).startOf( 'month' ).format( 'X' ),
						'to': moment( this.date.date ).endOf( 'month' ).format( 'X' )
					}
				} else {
					let tmp = +moment( this.date.date ).utc().format( 'X' ) + moment.parseZone( this.date.date ).utcOffset() * 600;
					return {
						'from': moment( tmp * 1000 ).utc().startOf( 'month' ).format( 'X' ),
						'to': moment( tmp * 1000 ).utc().endOf( 'month' ).format( 'X' )
					}
				}

			},
			displayedPartners() {
				return this.allPartners.map( i => {
					return {
						id: +i.id,
						name: `${i.name} (id: ${i.id})`
					}
				} )
			},
		},
		methods: {
			initPicker() {
				this.picker = $( this.$refs.picker ).datetimepicker( {
					useCurrent: false,
					defaultDate: moment.utc().subtract( 1, 'month' ).startOf( 'month' ).endOf( 'YYYY-MM-DD HH:mm' ).format(),
					viewMode: 'years',
					format: 'MM/YYYY',
					locale: 'ru',
					minDate: moment.utc().set( {
						'year': 2017,
						'month': 0,
						date: 1,
						hour: 0,
						second: 0,
						minute: 0
					} ).format(),
					maxDate: moment.utc().subtract( 1, 'month' ).startOf( 'month' ).endOf( 'YYYY-MM-DD HH:mm' ).format(),
					widgetPositioning: {
						horizontal: "left"
					}
				} )

				this.picker.on( 'dp.change', ( e ) => {
					this.date.date = e.date._d;
				} )
			},
			selectPartnerCallback( value ) {
				if ( value ) {
					let result = this.displayedPartners.find( i => i.id === value );
					if ( result ) {
						this.search( 1, result.name )
					}
				} else {
					this.search( 1, '' );
				}
			},
			search( col, value ) {
				if ( this.table !== null ) {
					let found = this.table.column( col )
						.search( value, false, false )
						.draw();

					let allRecords = found.context[ 0 ].aoData;
					this.foundIndex = found.context[ 0 ].aiDisplay;
					let foundNormalIdArray = [];
					for ( let i = 0; i < this.foundIndex.length; i++ ) {
						let index = this.foundIndex[ i ];
						for ( let j = 0; j < allRecords.length; j++ ) {
							if ( allRecords[ j ].idx == index ) {
								foundNormalIdArray.push( +allRecords[ j ]._aData[ 0 ] );
							}
						}
					}
					let count = 0;
					for ( let i = 0; i < foundNormalIdArray.length; i++ ) {
						this.paidOutList.forEach( row => {
							if ( row.id === foundNormalIdArray[ i ] ) {
								count += row.agency_bonus_total
							}
						} )
					}
					this.statsCount = this.round10(count, -2);
				}
			},
			fetchData() {
				this.preloader = true;
				this.$http.post( 'v2/profit/get/list', {
					access_token: this.$cookie.get( 'access_token' ),
					time_from: this.dateX.from,
					time_to: this.dateX.to
				} ).then( data => {
					if ( data.body.status ) {
						this.paidOutList = data.body.result;
						this.initTable();
					} else {
						toastr.error( 'Не могу загрузить данные' )
					}
					this.preloader = false;
				}, err => {
					toastr.error( 'Не могу загрузить данные' )
					this.preloader = false;
				} )
			},
			fetchPartners() {
				this.$http.post( 'v2/agency/get/list', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( data => {
					if ( data.body.status ) {
						this.allPartners = data.body.result;
					} else {
						toastr.error( 'Не могу получить список партнеров' );
						toastr.error( data.body.desc );
					}
				}, err => {
					toastr.error( 'Ошибка API' );
					console.log( err );
				} )
			},
			initTable() {
				if ( !this.table ) {
					this.table = $( this.$refs.table ).DataTable( {
						iDisplayLength: 20,
						"oLanguage": {
							"sLengthMenu": "Отображено _MENU_ записей на страницу",
							"sSearch": "Поиск:",
							"sZeroRecords": "Ничего не найдено - извините",
							"sInfo": "Показано с _START_ по _END_ из _TOTAL_ записей",
							"sInfoEmpty": "Показано с 0 по 0 из 0 записей",
							"sInfoFiltered": "(отфильтровано из _MAX_ записей)",
							"oPaginate": {
								"sFirst": "Первая",
								"sLast": "Посл.",
								"sNext": "След.",
								"sPrevious": "Пред.",
							}
						},
					} );
					$( '#paidoutTable_filter' ).remove();
					$( '#paidoutTable_length' ).remove();
					$( '#paidoutPaginate' ).innerHTML = $( '#paidoutTable_paginate' );
					$( '#paidoutInfo' ).innerHTML = $( '#paidoutTable_info' );
				}
				else {
					this.table.clear().draw();
				}
				if ( this.paidOutList.length < 20 ) {
					$( '#paidoutPaginate' ).hide();
				} else {
					$( '#paidoutPaginate' ).show();
				}
				this.paidOutList.forEach( row => {

					let svg = '<svg xmlns="http://www.w3.org/2000/svg" width="485.213" height="485.212" style="height: 16px; width: 16px; fill: #fff;" viewBox="0 0 485.213 485.212">\n' +
						'  <path d="M60.652 75.816V15.163C60.652 6.78 67.432 0 75.817 0c8.38 0 15.16 6.78 15.16 15.163v60.653c0 8.38-6.78 15.16-15.16 15.16-8.384.002-15.165-6.78-15.165-15.16zm257.772 15.162c8.378 0 15.163-6.78 15.163-15.16V15.162C333.587 6.78 326.802 0 318.424 0c-8.382 0-15.168 6.78-15.168 15.163v60.653c0 8.38 6.786 15.162 15.168 15.162zm166.788 272.928c0 66.996-54.312 121.307-121.303 121.307-66.987 0-121.303-54.31-121.303-121.307 0-66.986 54.315-121.3 121.302-121.3 66.99 0 121.302 54.313 121.302 121.3zm-30.322 0c0-50.16-40.81-90.976-90.98-90.976-50.166 0-90.976 40.814-90.976 90.976 0 50.17 40.81 90.98 90.976 90.98 50.17 0 90.98-40.81 90.98-90.98zm-333.585-181.95H60.652v60.65h60.653v-60.65zM60.652 333.583h60.653V272.93H60.652v60.654zm90.977-90.978h60.653v-60.65H151.63v60.65zm0 90.978h60.653V272.93H151.63v60.654zM30.327 360.89V151.63H363.91v60.653h30.327V94c0-18.42-14.692-33.35-32.843-33.35h-12.647v15.167c0 16.7-13.596 30.325-30.322 30.325-16.73 0-30.326-13.624-30.326-30.325V60.65H106.14v15.167c0 16.7-13.593 30.325-30.322 30.325-16.733 0-30.327-13.624-30.327-30.325V60.65H32.86C14.706 60.65 0 75.58 0 94v266.892c0 18.36 14.707 33.346 32.86 33.346h179.423v-30.33H32.86c-1.375-.002-2.532-1.42-2.532-3.017zm272.928-118.284v-60.65h-60.648v60.65h60.648zm106.143 121.3h-45.49v-45.49c0-8.377-6.782-15.158-15.164-15.158s-15.16 6.78-15.16 15.158v60.658c0 8.378 6.778 15.163 15.16 15.163H409.4c8.38 0 15.162-6.785 15.162-15.163 0-8.382-6.78-15.168-15.163-15.168z"/>\n' +
						'</svg>'

					let transfButton = '<a class="btn btn-danger link-confirm decline-payout" style="margin-right: 10px;" data-count="' + row.agency_bonus_total + '" data-id="' + row.agency_id + '' +
						'" data-partner="' + row.agency_name + '">' + svg + '</a>';
					let payButton = '<a class="btn btn-primary link-confirm create-payout" data-count="' + row.agency_bonus_total + '" data-id="' + row.agency_id + '' +
						'" data-partner="' + row.agency_name + '">Выплатить</a>';

					let paidout = 'выплачена';
					switch (row.paid_out_status) {
						case 'awaiting':
							paidout = 'в ожидании';
							break;
						case 'moved' :
							paidout = 'перенесена';
							payButton = 'перенос';
							transfButton = '';
							break;
						default: // paid
							transfButton = '';
							payButton = moment( row.paid_out_at * 1000 ).format( 'DD-MM-YYYY HH:mm:SS' );
							paidout = 'выплачена';
					}


					let status = '';
					switch ( row.agency_status ) {
						case 'active':
							status = '<strong>активный</strong> <span style="display: none;">' + row.agency_status + '</span>';
							break;
						case 'deactivated':
							status = '<strong>удаленный</strong> <span style="display: none;">' + row.agency_status + '</span>';
							break;
						case 'banned':
							status = '<strong>забаненый</strong> <span style="display: none;">' + row.agency_status + '</span>';
							break;
						case 'lock':
							status = '<strong>заблокированный</strong> <span style="display: none;">' + row.agency_status + '</span>';
							break;
					}
					this.table.row.add( [
						row.id,
						'<a style="cursor:pointer;" class="show-partner" data-id="' + row.agency_id + '">' + row.agency_name + ' (id: ' + row.agency_id + ')</a>',
						status,
						row.agency_bonus_total,
						moment( row.time_from * 1000 ).format( 'MMMM YYYY' ),
						paidout,
					] ).draw()
				} )
				this.search( 0, '' );
				this.initEventListeners()
			},
			date( ts ) {
				return moment( ts * 1000 ).format( 'DD-MM-YYYY HH:mm:SS' )
			},
			dateLL( ts ) {
				return moment( ts * 1000 ).format( 'LL' )
			},
			status( status ) {
				let tmp;
				switch ( status ) {
					case 'active':
						tmp = 'активный';
						break;
					case 'tmp':
						status = 'удаленный';
						break;
					case 'banned':
						tmp = 'забаненый';
						break;
					case 'lock':
						tmp = 'заблокированный'
						break;
				}
				return tmp;
			},
			initEventListeners() {
				$( '#paidoutTable' ).on( 'click', '.show-partner', ev => {
					this.$router.push( '/partners/view/' + ev.target.dataset.id );
				} );
			}
		},
		mounted() {
			this.initPicker()
		},
		beforeMount() {
			this.fetchData();
			this.fetchPartners();
		},
		components: {
			'my-select': mySelect2,
			preloader
		}
	}
</script>

<style>

</style>
