<template>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-blue box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Начисления партнерам</h3>
                </div>
                <div class="box-body no-padding">
                    <form class="row">
                        <div class="form-group margin">
                            <div class="col-md-1">
                                <select class="form-control" v-model="yearSearch">
                                    <option class="placeholder-option" value="">Год</option>
                                    <option value="2016" selected>2016</option>
                                    <option value="2017" selected>2017</option>
                                </select>
                            </div>
                            <div class="col-md-1">
                                <select class="form-control" v-model="monthSearch">
                                    <option class="placeholder-option" value="">Месяц</option>
                                    <option value="январь" selected>январь</option>
                                    <option value="февраль">февраль</option>
                                    <option value="март">март</option>
                                    <option value="апрель">апрель</option>
                                    <option value="май">май</option>
                                    <option value="июнь">июнь</option>
                                    <option value="июль">июль</option>
                                    <option value="август">август</option>
                                    <option value="сентябрь">сентябрь</option>
                                    <option value="октябрь">октябрь</option>
                                    <option value="ноябрь">ноябрь</option>
                                    <option value="декабрь">декабрь</option>
                                </select>
                            </div>
                            <div class="col-md-1">
                                <input type="text" class="form-control" placeholder="ID" v-model="idSearch">
                            </div>
                            <div class="col-md-2">
                                <my-select :options="allPartners" :placeholder="'Партнер'" :className="'partneraccruals'" :callback="selectPartnerCallback">

                                </my-select>
                            </div>
                            <div class="col-md-2">
                                <select class="form-control" v-model="statusSearch">
                                    <option class="placeholder-option" value="" selected="selected">Статус</option>
                                    <option value="active">активные</option>
                                    <option value="banned">забаненные</option>
                                    <option value="blocked">заблокированные</option>
                                    <option value="deleted">удаленные</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <select class="form-control" v-model="paid_out">
                                    <option class="placeholder-option" value="" selected="selected">Выплата</option>
                                    <option value="1">да</option>
                                    <option value="0">нет</option>
                                </select>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive">
                    <table class="table table-bordered table-striped" id="accrualTable">
                        <thead>
                        <tr>
                            <th>ID

                            </th>
                            <th class="sm-td">Партнер

                            </th>
                            <th>Статус партнера
                            </th>
                            <th>Сумма
                            </th>
                            <th>Период
                            </th>
                            <th>Выплата
                            </th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr class="bg-gray">
                            <th>Всего</th>
                            <th></th>
                            <th></th>
                            <th class="bg-navy-active" id="total-categori"><strong>{{statsCount}}</strong></th>
                            <th></th>
                            <th></th>
                        </tr>
                        </tfoot>
                    </table>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
            <div class="row">
                <div class="col-md-6">
                    <div class="margin-top" id="accrualInfo">

					</div>
                </div>
                <div class="col-md-6">
                    <ul class="pagination pull-right" id="accrualPaginate">

                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import moment from 'moment'
    import toastr from 'toastr'
    import mySelect2 from '../../custom/select2/component.vue'
    export default {
        name: 'AccrualTable',
        data() {
            return {
                yearSearch:'',
                idSearch: '',
                monthSearch: '',
                statsCount: 0,
                accruals: [],
                table: null,
                monthNamesArray: ['январь', 'февраль', 'март', 'апрель', 'май', 'июнь', 'июль', 'август', 'сентябрь', 'октябрь', 'ноябрь', 'декабрь'],
                foundIndex: {},
                allPartners: [],
                statusSearch: '',
                paid_out: ''
            }
        },
        watch: {
            paid_out(value) {
                this.search(5, value)
            },
            statusSearch(value) {
                this.search(2, value)
            },
            idSearch(value) {
                this.search(0, value)
            },
            monthSearch(value) {
                this.search(4, value)
            },
            yearSearch(value) {
                this.search(4, value)
            }
        },
        methods: {
            selectPartnerCallback(value) {
                if(value) {
                    this.search(1, value);
                }else {
                    this.search(1, '');
                }
            },
            fetchPartners() {
                this.$http.post('v2/agency/get/list', {
                    access_token: this.$cookie.get('access_token')
                }).then(data => {
                    if(data.body.status) {
                        this.allPartners = data.body.result;
                    }else{
                        toastr.error('Не могу получить список партнеров');
                        toastr.error(data.body.desc);
                    }
                }, err => {
                    toastr.error('Ошибка API');
                    console.log(err);
                })
            },
            search(col, value) {
                if(this.table !== null) {
                    let found = this.table.column(col)
                        .search(value, false, false)
                        .draw();

                    let allRecords = found.context[0].aoData;
                    this.foundIndex = found.context[0].aiDisplay;
                    let foundNormalIdArray = [];
                    for (let i = 0; i < this.foundIndex.length; i++) {
                        let index = this.foundIndex[i];
                        for (let j = 0; j < allRecords.length; j++) {
                            if (allRecords[j].idx == index) {
                                foundNormalIdArray.push(allRecords[j]._aData[0]);
                            }
                        }
                    }
                    let count = 0;
                    for(let i = 0; i < foundNormalIdArray.length; i++) {
                        this.accruals.forEach(row => {
                            if(row.id === foundNormalIdArray[i]) {
                                count += row.agency_bonus
                            }
                        })
                    }
                    this.statsCount = count;
                }
            },
            fetchData() {
                //du
                this.$http.post('v1/profit-paid/agency-profit', {
                    access_token: this.$cookie.get('access_token')
                }).then(data => {
                    if(data.body.status) {
                        this.accruals = data.body.result;
                        this.initTable();
                    }else {
                        toastr.error('Не могу загрузить данные');
                    }
                }, err => {
                    toastr.error('Не могу загрузить данные');
                    console.log(err);
                })
            },
            initTable() {
                if(this.table !== null) {
                    this.table.clear()
                        .draw();
                }else {
                    this.table = $('#accrualTable').DataTable({
                        iDisplayLength: 20,
                        "oLanguage": {
                            "sLengthMenu": "Отображено _MENU_ записей на страницу",
                            "sSearch": "Поиск:",
                            "sZeroRecords": "Ничего не найдено - извините",
                            "sInfo": "Показано с _START_ по _END_ из _TOTAL_ записей",
                            "sInfoEmpty": "Показано с 0 по 0 из 0 записей",
                            "sInfoFiltered": "(отфильтровано из _MAX_ записей)",
                            "oPaginate": {
                                "sFirst": "Первая",
                                "sLast":"Посл.",
                                "sNext":"След.",
                                "sPrevious":"Пред.",
                            }
                        },
                    });
                    $('#accrualTable_filter').remove();
                    $('#accrualTable_length').remove();
                    $('#accrualPaginate').append($('#accrualTable_paginate'));
                    $('#accrualInfo').append($('#accrualTable_info'));
                }
                if(this.accruals < 20) {
                    $('#accrualPaginate').hide();
                }else {
                    $('#accrualPaginate').show();
                }
                this.accruals.forEach(row => {
                    let monthNumber = new Date(row.time_from * 1000).getMonth();
                    let yearNumber = new Date(row.time_from * 1000).getFullYear();
                    let paid_out = '<span class="glyphicon glyphicon-remove-circle fa-2x text-red"><span style="display: none;">0</span></span>';
                    if(row.paid_out === 1) {
                        paid_out = '<span class="glyphicon glyphicon-ok-circle fa-2x text-green"><span style="display: none;">1</span></span>';
                    }
                    let status = '';
                    switch (row.status) {
                        case 'active':
                            status = '<strong>активный</strong> <span style="display: none;">' + row.status + '</span>';
                            break;
                        case 'deactivated':
                            status = '<strong>удаленный</strong> <span style="display: none;">' + row.status + '</span>';
                            break;
                        case 'banned':
                            status = '<strong>забаненый</strong> <span style="display: none;">' + row.status + '</span>';
                            break;
                        case 'lock':
                            status = '<strong>заблокированный</strong> <span style="display: none;">' + row.status + '</span>';
                            break;
                    }
                    this.table.row.add([
                        row.id,
                        '<a style="cursor:pointer;" class="show-partner" data-id="'+row.agency.id+'">'+row.agency.name+' ('+row.agency.id+')</a>',
                        status,
                        row.agency_bonus,
                        this.monthNamesArray[monthNumber] + ' ' + yearNumber,
                        paid_out
                    ]).draw();
                });
                this.initEventListeners();
                this.search(0, '');
            },
            initEventListeners() {
                $('#accrualTable').on('click', '.show-partner', ev => {
                    this.$router.push('/partners/view/' + ev.target.dataset.id);
                })
            }
        },
        beforeMount() {
            this.fetchData();
            this.fetchPartners();
        },
        components: {
            'my-select': mySelect2
        }
    }
</script>
