<template>
    <div>
    <h2 class="page-header">
			<i class="fa fa-edit"></i> Создние категории бонусов
		</h2>
		<div class="row">
			<div class="col-md-6">
				<!-- form start -->
				<form method="POST" action="" class="form-horizontal">
					<div class="form-group">
						<label for="for-name" class="col-md-4">Название</label>
						<div class="col-md-8">
							<input type="text" class="form-control" 
                            v-model="name" 
                            :class="{'error': name_error}"
                            placeholder="Название категории">
						</div>
					</div>
					<div class="form-group">
						<label for="for-descr" class="col-md-4">Описание</label>
						<div class="col-md-8">
							<textarea name="descr" 
                            class="form-control"
                            placeholder="Описание категории" 
                            rows="10" 
                            v-model="description" 
                            :class="{'error': description_error}">
                            </textarea>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12 text-right">
							<button type="submit" class="btn btn-primary" @click.prevent="saveCategory" :disabled="hasError">Сохранить</button>
						</div>
					</div>
				</form>
			</div>
		</div>
</div>
</template>

<script>
    import toastr from 'toastr'
    export default {
        name: 'CreateBonusCategory',
        data() {
            return {
                name: '',
                name_error: false,
                description: '',
                description_error: false
            }
        },
        watch: {
            name(value) {
                if(value === '') {
                    this.name_error = true;
                }else {
                    this.name_error = false;
                }
            },
            description(value) {
                if(value === '') {
                    this.description_error = true;
                }else {
                    this.description_error = false;
                }
            }
        },
        computed: {
            hasError() {
                if(this.name_error || this.description_error) {
                    return true;
                }else {
                    return false;
                }
            }
        },
        methods: {
            saveCategory() {
                this.$http.post('v2/bonus-categories/create', {
                    access_token: this.$cookie.get('access_token'),
                    name: this.name,
                    description: this.description
                }).then(data => {
                    if(data.body.status) {
                        toastr.success('Категория добавлена!');
                        setTimeout(() => {
                            window.history.back();
                        }, 1000)
                    }else {
                        toastr.error('Не могу сохранить категорию зачислений')
                        toastr.info(data.body.desc);
                    }
                }, err => {
                    toastr.error('Не могу сохранить категорию зачислений')
                })
            }
        }
    }
</script>

<style lang="css">
    .error {
        border: solid red 2px;
        border-radius: 3px;
    }
</style>