<template>
     <div>
     <div class="row">
        <div class="col-md-12">
          <div class="box box-blue box-solid">
            <div class="box-header with-border">
              <h3 class="box-title">Категории бонусов</h3>
              <div class="box-tools pull-right">
                <router-link to="/bonus-category/new">
                    <a class="btn btn-success">Создать <i class="fa fa-plus"></i></a>
                </router-link>
              </div>
            </div>
            <div class="box-body no-padding">
                <div class="table-responsive">
               <table class="table table-bordered table-scroll" id="BonusCategory">
                <thead>
                  <tr>
                    <th>ID <div class="pull-right"></div></th>
                    <th>Название<div class="pull-right"></div></th>
                    <th>Описание<div class="pull-right"></div></th>
                  	<th>Действие</th>
                  </tr>
                </thead>
              </table>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row margin-top">
        <div class="col-md-6" id="bcatInfo"></div>
        <div class="col-md-6 text-right" id="bcatPaginate"></div>
      </div>
      </div>
</template>

<script>
    import toastr from 'toastr'
    export default {
        name: 'BonusCategory',
        data() {
            return  {
                table: null,
                categoryList: []
            }
        },
        methods: {
            fetchData() {
                this.$http.post('v2/bonus-categories/get/list', {
                    access_token: this.$cookie.get('access_token')
                }).then(data => {   
                    if(data.body.status) {
                        this.categoryList = data.body.result;
                        this.initTable();
                    }else {
                        toastr.error('Не могу получить список категорий бонусов')
                        toastr.info(data.body.desc);
                    }
                }, err => {
                    toastr.error('Не могу получить список категорий');
                })
            },
            initTable() {
                this.table = $('#BonusCategory').DataTable();
                $('#BonusCategory_filter').remove();
                $('#bcatInfo').append($('#BonusCategory_info'));
                $('#bcatPaginate').append($('#BonusCategory_paginate'));
                $('#BonusCategory_length').remove();
                 this.categoryList.forEach(category => {
                     this.table.row.add([
                         category.id,
                         category.name,
                         category.description,
                         '<a class="btn btn-primary btn-block show-bonus-category" data-id="'+category.id+'"><i data-id="'+category.id+'" class="fa fa-edit fa-lg text-white"></i></a>'
                     ]).draw(false);
                 })
                 this.addEventListener();
            },
            addEventListener() {
                $('#BonusCategory').on('click', '.show-bonus-category', (event) => {
                    let categoryId = event.target.dataset.id;
                    if(categoryId !== undefined) {
                        this.$router.push('/bonus-category/' + categoryId)
                    }
                })
            }
        },
        beforeMount() {
            this.fetchData();
        }
    }
</script>