<template>
    <div>
    <h2 class="page-header">
			<i class="fa fa-edit"></i> Категория бонусов ID: {{category.id}}
		</h2>
		<div class="row">
			<div class="col-md-6">
				<!-- form start -->
				<form method="POST" action="" class="form-horizontal">
					<div class="form-group">
						<label for="for-name" class="col-md-4">Название</label>
						<div class="col-md-8">
							<input type="text" class="form-control" v-model="category.name" :class="{'error': category.name_error}">
						</div>
					</div>
					<div class="form-group">
						<label for="for-descr" class="col-md-4">Описание</label>
						<div class="col-md-8">
							<textarea name="descr" class="form-control" rows="10" v-model="category.description" :class="{'error': category.description_error}"></textarea>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12 text-right">
							<button type="submit" class="btn btn-primary" @click.prevent="saveCategory">Сохранить</button>
						</div>
					</div>
				</form>
			</div>
		</div>
</div>
</template>

<script>
    import toastr from 'toastr'
    export default {
        name: 'EditBonusCategory',
        data() {
            return {
                category: {
                    id: '',
                    name: '',
                    name_error: false,
                    description: '',
                    description_error: false,
                    system: '',
                    created_at: 1490791441,
                    created_user_id: '',
                    updated_at: '',
                    updated_user_id: ''
                }
            }
        },
        methods: {
            fetchData() {
                this.$http.post('v2/bonus-categories/get/one', {
                    access_token: this.$cookie.get('access_token'),
                    agency_bonus_change_type_id: this.$route.params.category
                }).then(data => {
                    if(data.body.status) {
                        this.category = data.body.result;
                    }else {
                        toastr.error('Не могу загрузить информацию о категории');
                        toastr.info(data.body.desc);
                    }
                }, err => {
                    toastr.error('Не могу загрузить информацию о категории');
                })
            },
            saveCategory() {
                let hasError = false;
                if (this.category.name === '') {
                    hasError = true;
                    this.category.name_error = true;
                } else {
                    hasError = false;
                    this.category.name_error = false;
                }
                if(this.category.description === '') {
                    this.category.description_error = true;
                    hasError = true;
                }else {
                    this.category.description_error = false;
                    hasError = false;
                }
                if(hasError) {
                    toastr.error('Надо заполнить все поля');
                }else {
                    this.$http.post('v2/bonus-categories/update', {
                        access_token: this.$cookie.get('access_token'),
                        agency_bonus_change_type_id: this.category.id,
                        name: this.category.name,
                        description: this.category.description
                    }).then(data => {
                        if(data.body.status) {
                            toastr.success('Категория успешно обновлена');
                            setTimeout(() => {
                                window.history.back();
                            }, 1000)
                        }else {
                            toastr.error('Не могу обновить данные категории')
                            toastr.info(data.body.desc);
                        }
                    }, err => {
                        toastr.error('Не могу обновить данные категории')
                        console.log(err);
                    })
                }

            }
        },
        beforeMount() {
            this.fetchData();
        }
    }
</script>

<style lang="css">
    .error {
        border: solid red 2px;
        border-radius: 3px;
    }
</style>
