<template>
    <div>
        <h2 class="page-header">
            <i class="fa fa-plus"></i> Штраф
        </h2>
        <div class="row">
            <div class="col-md-6">
                <!-- form start -->
                <form method="POST" @submit.prevent="addFine" action="" class="form-horizontal">
                    <div class="form-group">
                        <label for="for-category" class="col-md-4">Категория</label>
                        <div class="col-md-8">
                            <select name="" class="form-control" id="for-category" v-model="modelCategory">
                                <option value="" class="placeholder-option" selected>Категория</option>
                                <option v-for="cat in bonusChangeCategory" :value="cat.id">{{cat.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="for-descr" class="col-md-4">Описание</label>
                        <div class="col-md-8">
							<textarea name="descr" class="form-control" id="for-descr"
                                      rows="10" v-model="modelDescription"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="for-category" class="col-md-4">Партнер</label>
                        <div class="col-md-8">
                            <my-select2 :options="allPartners" :callback="selectPartnerCallback" :className="'select-partner-fine'" :placeholder="'Партнер'">

                            </my-select2>
                        </div>
                    </div>
                    <div class="form-group" v-show="partnerSelected" style="margin-top: 15px">
                        <label for="for-category" class="col-md-4">Клиентка</label>
                        <div class="col-md-8">
                            <my-select2 :options="showWomen" :callback="selectWomenCallback" :className="'select-women-fine'" :placeholder="'Клиентка'">

                            </my-select2>
                        </div>
                    </div>
                    <div class="form-group"  style="margin-top: 15px">
                        <label for="for-fine-count" class="col-md-4">Размер штрафа</label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <input type="number" class="form-control" id="for-fine-count"
                                       v-model="modelFineCount"> <span class="input-group-addon">$</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="margin-top: 15px">
                        <label for="for-status" class="col-md-4">Статус</label>
                        <div class="col-md-8">
                            <select name="" class="form-control" id="for-status" v-model="modelStatus">
                                <option value="" class="placeholder-option" selected>Статус</option>
                                <option value="1">активный</option>
                                <option value="0">неактивный</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="for-review" class="col-md-4">Пересмотрение</label>
                        <div class="col-md-8">
                            <select name="" class="form-control" id="for-review" v-model="modelReview">
                                <option value="" class="placeholder-option">Пересмотрение</option>
                                <option value="1">да</option>
                                <option value="0" selected>нет</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 text-right">
                            <button type="submit" @click.prevent="addFine" class="btn btn-primary">Создать</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import mySelect2 from '../../custom/select2/component.vue'
    import toastr from 'toastr'
    export default {
        name: 'CreateFine',
        data() {
            return {
                allPartners: [],
                allWomen: [],
                showWomen: [],
                modelCategory: '',
                modelDescription: '',
                modelPartner: '',
                modelWomen: '',
                modelFineCount: 0,
                modelStatus: '',
                modelReview: '',
                partnerSelected: false,
                bonusChangeCategory: []
            }
        },
        methods: {
            addFine() {
                this.$http.post('v2/bonuses/create/penalty', {
                    access_token: this.$cookie.get('access_token'),
                    agency_bonus: Math.abs(this.modelFineCount) * -1,
                    target_user_id: this.modelWomen,
                    target_agency_id: this.modelPartner,
                    agency_bonus_change_type_id: this.modelCategory,
                    description: this.modelDescription,
                    active: this.modelStatus,
                    can_review: this.modelReview,
                }).then(data => {
                    if(data.body.status) {
                        toastr.info('Операция успешна!')
                        setTimeout(() => {
                            window.history.back();
                        }, 2000)
                    }else {
                        toastr.error('Не могу завершить операцию')
                        toastr.info(data.body.desc)
                    }
                }, err => {
                    toastr.error('Ошибка сервера!')
                    console.log(err);
                })
            },
            fetchSelectData() {
                this.$http.post('v2/bonuses/load-categories', {
                    access_token: this.$cookie.get('access_token')
                }).then(data => {
                    if(data.body.status) {
                        this.bonusChangeCategory = [];
                        data.body.result.forEach(c => {
                            if(c.id > 9) {
                                this.bonusChangeCategory.push(c);
                            }
                        })
                    }else {
                        toastr.error('Не могу загрузить список типов штрафа')
                    }
                }, err => {
                    toastr.error('Не могу загрузить список типов штрафа')
                });
                this.$http.post('v2/femal/load-list', {
                    access_token: this.$cookie.get('access_token')
                }).then(data => {
                    if(data.body.status) {
                        let women = data.body.result;
                        for(let i = 0; i < women.length; i++) {
                            let branch = false;
                            if(women[i].agency.branch !== undefined) {
                                branch = women[i].agency.branch.id
                            }
                            this.allWomen.push({
                                id: women[i].user_id,
                                name: women[i].name,
                                agency_id: women[i].agency.main.id,
                                branch_id: branch
                            })
                        }
                    }else {
                        toastr.error('Не могу загрузить список клиенток')
                    }
                }, err => {
                    toastr.error('Не могу загрузить список клиенток')
                });
                this.$http.post('v2/agency/get/list', {
                    access_token: this.$cookie.get('access_token')
                }).then(data => {
                    if(data.body.status) {
                        let partners = data.body.result;
                        for(let i = 0; i < partners.length; i++) {
                            this.allPartners.push({
                                id: partners[i].id,
                                name: partners[i].name
                            })
                        }
                    }else {
                        toastr.error('Не могу загрузить список партнеров')
                    }
                }, err => {
                    toastr.error('Не могу загрузить список партнеров')
                });
            },
            selectPartnerCallback(value) {
                this.partnerSelected = value;
                this.modelPartner = value;
                if(!value) {
                    this.modelWomen = false
                }
                let women = this.allWomen;
                this.showWomen = [];
                for(let i = 0; i < women.length; i++) {
                    if(women[i].agency_id == value || women[i].branch_id == value) {
                        this.showWomen.push(women[i])
                    }
                }
            },
            selectWomenCallback(value) {
                this.modelWomen = value
            }
        },
        beforeMount() {
            this.fetchSelectData()
        },
        components: {
            'my-select2': mySelect2
        }
    }
</script>
