<template>
    <div>
        <h2 class="page-header">
            <i class="fa fa-edit"></i> <span v-if="isFine">Штраф</span> <span v-else>Бонус</span> ID:{{transaction.id}}
        </h2>
        <div class="row">
            <div class="col-md-10">

                <div class="form-group row">
                    <label class="col-md-2 m-t-0">Дата создания:</label>
                    <div class="col-md-8">{{created}}</div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2 m-t-0">Тип:</label>
                    <div class="col-md-8">{{autoTransaction}}</div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2 m-t-0">Категория:</label>
                    <div class="col-md-8">{{transaction.category.name}}</div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2 m-t-0">Описание:</label>
                    <div class="col-md-4">{{transaction.description}}
                    </div>
                </div>

                <div class="form-group row">
                    <label  class="col-md-2 m-t-0">Партнер:</label>
                    <div class="col-md-8">
                        <router-link :to="'/partners/view/' + transaction.agency.id">
                            <a>{{transaction.agency.name}}</a>
                        </router-link>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2 m-t-0">Клиентка:</label>
                    <div class="col-md-8">
                        <router-link :to="'/woman/view/' + transaction.woman.id">
                            <a>{{transaction.woman.name}} ({{transaction.woman.id}})</a>
                        </router-link>
                    </div>
                </div>

                <div class="form-group row">
                    <label  class="col-md-2 m-t-0">Размер <span v-if="isFine">штрафа</span><span v-else >бонуса</span>:</label>
                    <div class="col-md-8">{{transaction.agency_bonus}}</div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2 m-t-0">Клиент:</label>
                    <div class="col-md-8">
                        <router-link :to="'/man/view/' + transaction.client.id">
                            <a>{{transaction.client.name}} ({{transaction.client.id}})</a>
                        </router-link>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2 m-t-0">Количество кредитов:</label>
                    <div class="col-md-8">{{transaction.credits}}</div>
                </div>

                <div class="form-group row">
                    <label for="for-status" class="col-md-2 m-t-0">Статус:</label>
                    <div class="col-md-4">
                        <select name="" class="form-control" id="for-status" v-model="modelIsActive">
                            <option value="1">активный</option>
                            <option value="0">неактивный</option>
                        </select>
                    </div>
                </div>

                <div class="form-group" v-show="isCanReview">
                    <label for="for-review" class="col-md-2 m-t-0">Пересмотрение:</label>
                    <div class="col-md-4">
                        <select name="" class="form-control" id="for-review" v-model="modelCanReview">
                            <option value="1">да</option>
                            <option value="0">нет</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8 text-right">
                        <button type="submit" @click="save" class="btn btn-primary">Изменить</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    import moment from 'moment'
    import toastr from 'toastr'
    export default {
        name: 'EditAutoTransaction',
        data() {
            return {
                typeTitle: 'Штраф',
                isFine: false,
                transaction: {
                    "id": 0,
                    "created_at": 1489046094,
                    "category": {
                        "id": 0,
                        "name": ""
                    },
                    "description": "",
                    "agency": {
                        "id": 0,
                        "name": ""
                    },
                    "woman": {
                        "id": 0,
                        "name": ""
                    },
                    "agency_bonus": 0,
                    "status": 0,
                    "auto": 0,
                    "client": {
                        "id": 0,
                        "name": ""
                    },
                    "credits": 1,
                    "can_review": 0
                },
                modelIsActive: null,
                modelCanReview: 0,
                bonusURL: 'v2/bonuses/update/auto-bonus',
                fineURL: 'v2/bonuses/update/auto-penalty'
            }
        },
        beforeMount() {
            if(this.$route.params.type == 'fine') {
                this.typeTitle = 'Штраф';
                this.isFine = true;
            }else if(this.$route.params.type == 'bonus') {
                this.typeTitle = 'Bonus';
            }
            this.$http.post('v2/bonuses/update/agency-bonus-detail', {
                access_token: this.$cookie.get('access_token'),
                agency_bonus_change_id: this.$route.params.id
            }).then(data => {
                if(data.body.status) {
                    let transaction = data.body.result;
                    if(transaction.auto === 0) {
                        this.$router.push('/transaction/edit/manual/'+this.$route.params.type+'/' + this.$route.params.id)
                    }
                    this.transaction = transaction;
                    if(this.isFine) {
                        this.modelCanReview = transaction.can_review
                    }
                    this.modelIsActive = transaction.status;
                }else {
                    toastr.error('Не могу получить данные по транзакции');
                    toastr.info(data.body.desc)
                }
            }, err => {
                console.log(err);
                toastr.error('Не могу получить данные по транзакции');
            })
        },
        methods: {
            save() {
                let currentURL = this.bonusURL;
                let paramName = 'agency_bonus_id';
                if(this.isFine) {
                    currentURL = this.fineURL;
                    paramName = 'agency_penalty_id'
                }
                let data = new FormData();
                data.append(paramName.toString(), this.$route.params.id);
                data.append('active', this.modelIsActive);
                data.append('access_token', this.$cookie.get('access_token'));
                if(this.isFine) {
                    data.append('can_review', this.modelCanReview);
                }
                this.$http.post(currentURL, data)
                    .then(data => {
                        if(data.body.status) {
                            toastr.success('Операция успешна')
                        }else {
                            toastr.success('Ошибка сохранения');
                            toastr.info(data.body.desc)
                        }
                    }, err => {
                        console.log(err);
                    })
            }
        },
        computed: {
            created() {
                return moment(this.transaction.created_at * 1000).format('LLL')
            },
            autoTransaction() {
                if(this.transaction.auto == 1) {
                    return 'авто'
                }else {
                    return 'ручной'
                }
            },
            isCanReview() {
                if(this.transaction.auto !== 1 && this.isFine) {
                    return true;
                }
            }
        }
    }
</script>
