<template>
	<div>
		<h2 class="page-header">
			<i class="fa fa-edit"></i> <span v-if="isFine">Штраф</span> <span v-else>Бонус</span> ID: {{id}}
		</h2>

		<div class="row">
			<div class="col-md-6">
				<!-- form start -->
				<form method="POST" @submit.prevent="submitForm" action="" class="form-horizontal">
					<div class="form-group" :class="{ 'has-error': errs.first('fCategory')}">
						<label for="for-category" class="col-md-4">Категория <span class="text-danger">*</span></label>
						<div class="col-md-8">
							<select name="fCategory" class="form-control" id="for-category" v-model="category">
								<option value="" class="placeholder-option" selected>Не выбрано</option>
								<option :value="cat.id" v-for="cat in categories">{{cat.name}}</option>
							</select>
							<div class="err" v-show="errs.first('fCategory')">
								<i class="fa fa-warning"></i>
								<span>{{ errs.first( 'fCategory' ) }}</span>
							</div>
						</div>
					</div>
					<div class="form-group" :class="{ 'has-error': errs.first('fDescription')}">
						<label for="for-descr" class="col-md-4">Описание <span class="text-danger">*</span></label>
						<div class="col-md-8">
							<textarea name="fDescription" class="form-control" id="for-descr"
									  rows="10" v-model="description"></textarea>
							<div class="err" v-show="errs.first('fDescription')">
								<i class="fa fa-warning"></i>
								<span>{{ errs.first( 'fDescription' ) }}</span>
							</div>
						</div>
					</div>
					<div class="form-group" :class="{ 'has-error': showErr}">
						<label class="col-md-4">Партнер <span
								class="text-info">*</span></label>
						<div class="col-md-8">
							<my-select2 v-model="partner" :options="displayedPartners"
										@select="selectPartnerCallback($event)" :placeholder="'Партнер'"></my-select2>
							<div class="err" v-show="showErr">
								<i class="fa fa-warning"></i>
								<span>Укажите соответствующего партнёра или филиал</span>
							</div>
						</div>
					</div>
					<div class="form-group" :class="{ 'has-error': showErr}">
						<label class="col-md-4">Филиал <span
								class="text-info">*</span></label>
						<div class="col-md-8">
							<my-select2 v-model="branch" :options="displayedBranches"
										@select="selectBranchCallback($event)" :placeholder="'Филиал'"></my-select2>
							<div class="err" v-show="showErr">
								<i class="fa fa-warning"></i>
								<span>Укажите соответствующего партнёра или филиал</span>
							</div>
						</div>
					</div>
					<div class="form-group" :class="{ 'has-error': errs.first('fWoman')}">
						<label class="col-md-4">Клиентка <span class="text-danger">*</span></label>
						<div class="col-md-8">
							<my-select2 v-model="woman" :options="displayedWomen" :name="'fWoman'"
										:placeholder="'Клиентка'"></my-select2>
							<div class="err" v-show="errs.first('fWoman')">
								<i class="fa fa-warning"></i>
								<span>{{ errs.first( 'fWoman' ) }}</span>
							</div>
						</div>
					</div>
					<div class="form-group" :class="{ 'has-error': errs.first('fAmount')}">
						<label for="for-fine-count" class="col-md-4" v-if="isFine">Размер штрафа <span
								class="text-danger">*</span></label>
						<label for="for-fine-count" class="col-md-4" v-else>Размер бонуса</label>
						<div class="col-md-8">
							<div class="input-group">
								<input type="number" style="z-index: 0" class="form-control" id="for-fine-count"
									   v-model="amount" name="fAmount"> <span class="input-group-addon">$</span>
							</div>
							<div class="err" v-show="errs.first('fAmount')">
								<i class="fa fa-warning"></i>
								<span>{{ errs.first( 'fAmount' ) }}</span>
							</div>
						</div>
					</div>
					<div class="form-group" :class="{ 'has-error': errs.first('fStatus')}">
						<label for="for-status" class="col-md-4">Статус <span class="text-danger">*</span></label>
						<div class="col-md-8">
							<select name="" class="form-control" id="for-status" v-model="status">
								<option value="1">активный</option>
								<option value="0">неактивный</option>
							</select>
						</div>
					</div>
					<div class="form-group" v-if="isFine" :class="{ 'has-error': errs.first('fReview')}">
						<label for="for-review" class="col-md-4">Пересмотрение</label>
						<div class="col-md-8">
							<select name="fReview" class="form-control" id="for-review" v-model="review">
								<option value="1">да</option>
								<option value="0">нет</option>
							</select>
							<div class="err" v-show="errs.first('fReview')">
								<i class="fa fa-warning"></i>
								<span>{{ errs.first( 'fReview' ) }}</span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12 text-right">
							<button type="submit" class="btn btn-primary" :disabled="isSending">Изменить</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</template>

<script>
	import toastr from 'toastr'
	import myselect2 from '../../custom/select2/select-new.vue'
	import { Validator } from 'vee-validate'

	export default {
		validator: null,
		data() {
			return {
				errs: [],
				partner: 0,
				branch: 0,
				woman: '',
				allPartners: [],
				allWomen: [],
				allBranches: [],
				typeTitle: '',
				categories: [],
				isFine: false,
				modelCanReview: 0,
				category: '',
				description: '',
				amount: '',
				status: '',
				review: '',
				bonusURL: 'v2/bonuses/update/manual-bonus',
				fineURL: 'v2/bonuses/update/manual-penalty',
				id: '',
				isSending: false,
				noAttachedErr: false
			}
		},
		watch: {
			category( v ) {
				this.validator.validate( 'fCategory', v ).catch( () => {
				} )
			},
			description( v ) {
				this.validator.validate( 'fDescription', v ).catch( () => {
				} )
			},
			amount( v ) {
				this.validator.validate( 'fAmount', v ).catch( () => {
				} )
			},
			review( v ) {
				this.validator.validate( 'fReview', v ).catch( () => {
				} )
			},
			status( v ) {
				this.validator.validate( 'fStatus', v ).catch( () => {
				} )
			},
			woman( v ) {
				this.validator.validate( 'fWoman', v ).catch( () => {
				} )
			},
			partner() {
				this.noAttachedErr = false;
			},
			branch() {
				this.noAttachedErr = false;
			}
		},
		methods: {
			initValidator() {
				this.validator = new Validator();
				this.validator.attach( 'fCategory', 'required', {
					prettyName: 'Категория'
				} );
				this.validator.attach( 'fDescription', 'required|max:2000', {
					prettyName: 'Описание'
				} );
				this.validator.attach( 'fWoman', 'required', {
					prettyName: 'Клиентка'
				} );
				this.validator.attach( 'fAmount', 'required|min_value:1', {
					prettyName: 'Сумма транзакции'
				} );
				this.validator.attach( 'fStatus', 'required', {
					prettyName: 'Статус'
				} );
				this.validator.attach( 'fReview', 'required', {
					prettyName: 'Пересмотр'
				} );
				this.$set( this, 'errs', this.validator.errorBag );
			},
			submitForm() {
				this.validator.validateAll( {
					fCategory: this.category,
					fDescription: this.description,
					fWoman: this.woman,
					fAmount: this.amount,
					fStatus: this.status
				} ).then( success => {
					if ( success && !this.isSending ) {
						if ( this.branch || this.partner ) {
							this.save();
						} else {
							this.noAttachedErr = true;
							toastr.error( 'Заполните все необходимые поля!' )
						}
					}
					if ( !success ) {
						toastr.error( 'Заполните все необходимые поля!' )
					}
				} )
			},
			save() {
				let currentURL = this.bonusURL,
					amount = this.amount;
				if ( this.isFine ) {
					currentURL = this.fineURL;
					amount *= -1;
				}
				let data = new FormData();
				data.append( 'access_token', this.$cookie.get( 'access_token' ) );
				if ( this.isFine ) {
					data.append( 'agency_penalty_id', this.$route.params.id );
				} else {
					data.append( 'agency_bonus_id', this.$route.params.id );
				}
				data.append( 'active', this.active );
				if ( this.isFine ) {
					data.append( 'can_review', this.review );
				}
				data.append( 'target_agency_id', this.branch || this.partner );
				data.append( 'target_user_id', this.woman );
				data.append( 'agency_bonus', amount );
				data.append( 'agency_bonus_change_type_id', this.category );
				data.append( 'description', this.description );

				this.$http.post( currentURL, data )
					.then( data => {
						console.log( data );
						if ( data.body.status ) {
							toastr.success( 'Данные обновлены' )
						} else {
							toastr.error( 'Произошла ошибка во время выполнения запроса' )
						}
					}, err => {
						toastr.error( 'Произошла ошибка во время выполнения запроса' )
						console.log( err );
					} )
			},
			fetchWomanByAgency( value ) {
				this.$http.post( 'v2/agency/get/woman-in-agency', {
					access_token: this.$cookie.get( 'access_token' ),
					agency_id: value
				} ).then( data => {
					if ( data.body.status ) {
						this.allWomen = data.body.result;
					}
				} )
			},
			fetchBranchByAgency( value ) {
				this.$http.post( 'v2/agency/get/branches', {
					access_token: this.$cookie.get( 'access_token' ),
				} ).then( data => {
					if ( data.body.status ) {
						this.allBranches = data.body.result.filter( i => i.duty_agency.id === value )
					}
				} )
			},
			selectBranchCallback( value ) {
				if ( !this.partner ) {
					this.woman = 0;
				}
				if ( value ) {
					this.fetchWomanByAgency( value );
				} else {
					if ( !this.partner ) {
						this.fetchBranches();
						this.fetchWomen();
					}
					if ( this.partner ) {
						this.selectPartnerCallback( this.partner )
					}
				}
			},
			selectPartnerCallback( value ) {
				this.branch = this.woman = 0;
				if ( value ) {
					this.fetchWomanByAgency( value );
					this.fetchBranchByAgency( value )
				} else {
					this.fetchBranches();
					this.fetchWomen();
				}
			},
			fetchBranches() {
				this.$http.post( 'v2/agency/get/branches', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( data => {
					if ( data.body.status ) {
						this.allBranches = data.body.result;
					} else {
						toastr.error( 'Не могу получить список филиалов' )
						toastr.info( data.body.desc )
					}
				}, err => {
					toastr.error( 'Не могу получить список филиалов' )
				} )
			},
			fetchPartner() {
				this.$http.post( 'v2/agency/get/list', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( data => {
					if ( data.body.status ) {
						this.allPartners = data.body.result;
					} else {
						toastr.error( 'Не могу загрузить список партнеров' )
						toastr.info( data.body.desc );
					}
				}, err => {
					toastr.error( 'Не могу загрузить список партнеров' )
				} )
			},
			fetchWomen() {
				this.$http.post( 'v2/femal/load-list', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( data => {
					if ( data.body.status ) {
						this.allWomen = data.body.result
					} else {
						toastr.error( 'Не могу загрузить список клиенток' )
					}
				}, err => {
					toastr.error( 'Не могу загрузить список клиенток' )
				} )
			},
			fetchData() {
				this.fetchWomen();
				this.fetchPartner();
				this.fetchBranches();
				this.fetchCategories();
				this.loadGeneralData();
			},
			fetchCategories() {
				this.$http.post( 'v2/bonuses/load-categories', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( data => {
					if ( data.body.status ) {
						this.categories = data.body.result;
					} else {
						toastr.error( 'Не могу загрузить список типов бонусов' )
					}
				}, err => {
					toastr.error( 'Не могу загрузить список типов бонусов' )
				} );
			},
			loadGeneralData() {
				this.$http.post( 'v2/bonuses/update/agency-bonus-detail', {
					access_token: this.$cookie.get( 'access_token' ),
					agency_bonus_change_id: this.$route.params.id
				} ).then( data => {
					if ( data.body.status ) {
						let transaction = data.body.result;
						if ( transaction.auto === 0 ) {
							this.$router.push( '/transaction/edit/manual/' + this.$route.params.type + '/' + this.$route.params.id )
						}
						this.category = transaction.category.id;
						this.description = transaction.description;
						this.id = transaction.id;
						this.partner = transaction.agency.id || 0;
						this.branch = transaction.branch_agency.id || 0;
						this.woman = transaction.woman.id;
						this.amount = Math.abs( transaction.agency_bonus );
						this.active = transaction.status;
						if ( this.isFine ) {
							this.review = transaction.can_review
						}
						this.status = transaction.status;
						console.log( transaction, this.displayedPartners, this.displayedBranches, this.displayedWomen )
					} else {
						toastr.error( 'Не могу получить данные по транзакции' );
						toastr.info( data.body.desc )
					}
				}, err => {
					console.log( err );
					toastr.error( 'Не могу получить данные по транзакции' );
				} )
			},
		},
		computed: {
			showErr() {
				return this.noAttachedErr && (!this.partner || !this.branch)
			},
			displayedPartners() {
				return this.allPartners.map( i => {
					return {
						id: +i.id,
						name: `${i.name} (id: ${i.id})`
					}
				} )
			},
			displayedBranches() {
				return this.allBranches.map( i => {
					return {
						id: +i.id,
						name: `${i.name} (id: ${i.id})`
					}
				} )
			},
			displayedWomen() {
				//TODO: fit answers
				return this.allWomen.map( i => {
					if ( 'fullName' in i ) {
						return {
							id: +i.id,
							name: `${i.fullName} (id: ${i.id})`
						}
					} else if ( 'surname' in i ) {
						return {
							id: +i.user_id,
							name: `${i.name} ${i.surname} (id: ${i.user_id})`
						}
					}
					return {
						id: +i.id,
						name: `${i.name} (id: ${i.id})`
					}
				} )
			},
		},
		beforeMount() {
			this.fetchData();
			if ( this.$route.params.type == 'fine' ) {
				this.typeTitle = 'Штраф';
				this.isFine = true;
			} else if ( this.$route.params.type == 'bonus' ) {
				this.typeTitle = 'Bonus';
			}
		},
		created() {
			this.initValidator();
		},
		components: {
			'my-select2': myselect2
		}
	}
</script>
