<template>
	<div>
		<h2 class="page-header">
			<i class="fa fa-edit"></i> <span v-if="isFine">Штраф</span> <span v-else>Бонус</span> ID: {{id}}
		</h2>

		<div class="row">
			<div class="col-md-6">
				<!-- form start -->
				<form method="POST" @submit.prevent action="" class="form-horizontal">
					<div class="form-group">
						<label for="for-category" class="col-md-4">Категория</label>
						<div class="col-md-8">
							<select name="" class="form-control" id="for-category" v-model="modelCategory">
								<option value="" class="placeholder-option" selected>Не выбрано</option>
								<option :value="cat.id" v-for="cat in categoryList">{{cat.name}}</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="for-descr" class="col-md-4">Описание</label>
						<div class="col-md-8">
							<textarea name="descr" class="form-control" id="for-descr"
									  rows="10" v-model="modelNote"></textarea>
						</div>
					</div>
					<div class="form-group" style="margin-bottom: 15px">
						<label for="for-category" class="col-md-4">Партнер</label>
						<div class="col-md-8">
							<selected :options="allPartners" :custom-label="nameWithId" v-model="modelPartner"
									  :searchable="true" track-by="name"></selected>
						</div>
					</div>
					<div class="form-group" style="margin-bottom: 15px">
						<label for="for-category" class="col-md-4">Клиентка</label>
						<div class="col-md-8">
							<selected :options="womanArray" :custom-label="womanNameWithId" v-model="modelWoman"
									  :searchable="true" track-by="name"></selected>
						</div>
					</div>
					<div class="form-group" style="margin-bottom: 15px">
						<label for="for-fine-count" class="col-md-4" v-if="isFine">Размер штрафа</label>
						<label for="for-fine-count" class="col-md-4" v-else>Размер бонуса</label>
						<div class="col-md-8">
							<div class="input-group">
								<input type="number" style="z-index: 0" class="form-control" id="for-fine-count"
									   v-model="modelAmount"> <span class="input-group-addon">$</span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="for-status" class="col-md-4">Статус</label>
						<div class="col-md-8">
							<select name="" class="form-control" id="for-status" v-model="modelActive">
								<option value="1">активный</option>
								<option value="0">неактивный</option>
							</select>
						</div>
					</div>
					<div class="form-group" v-show="isFine">
						<label for="for-review" class="col-md-4">Пересмотрение</label>
						<div class="col-md-8">
							<select name="" class="form-control" id="for-review" v-model="modelReview">
								<option value="1">да</option>
								<option value="0">нет</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12 text-right">
							<button @click="save" type="submit" class="btn btn-primary">Изменить</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</template>

<script>
	import toastr from 'toastr'
	import myselect2 from '../../custom/select2/component.vue'
	import myltiselect from 'vue-multiselect'

	export default {
		name: 'EditManualTransaction',
		data() {
			return {
				typeTitle: '',
				categoryList: [],
				allPartners: [],
				showWomen: [],
				allWomen: [],
				isFine: false,
				modelIsActive: null,
				modelCanReview: 0,
				modelCategory: 0,
				modelNote: '',
				modelPartner: '',
				modelWoman: '',
				modelAmount: '',
				modelActive: '',
				modelReview: '',
				bonusURL: 'v2/bonuses/update/manual-bonus',
				fineURL: 'v2/bonuses/update/manual-penalty',
				id: '',
				womanArray: []
			}
		},
		watch: {
			modelPartner( value ) {
				let women = this.allWomen;
				this.womanArray = [];
				women.forEach( w => {
					if ( w.agency.main.id === value.id ) {
						this.womanArray.push( {
							id: w.user_id,
							name: w.name + ' ' + w.surname
						} )
					}
				} )
			}
		},
		methods: {
			nameWithId( { name, id } ) {
				return `${name} — [${id}]`
			},
			womanNameWithId( { name, id } ) {
				return `${name} — [${id}]`
			},
			save() {
				let currentURL = this.bonusURL;
				if ( this.isFine ) {
					currentURL = this.fineURL;
					this.modelAmount = this.modelAmount * -1;
				}
				let data = new FormData();
				data.append( 'access_token', this.$cookie.get( 'access_token' ) );
				if ( this.isFine ) {
					data.append( 'agency_penalty_id', this.$route.params.id );
				} else {
					data.append( 'agency_bonus_id', this.$route.params.id );
				}
				data.append( 'active', this.modelActive );
				if ( this.isFine ) {
					data.append( 'can_review', this.modelReview );
				}
				data.append( 'target_agency_id', this.modelPartner.id );
				data.append( 'target_user_id', this.modelWoman.id );
				data.append( 'agency_bonus', this.modelAmount );
				data.append( 'agency_bonus_change_type_id', this.modelCategory );
				data.append( 'description', this.modelNote );

				this.$http.post( currentURL, data )
					.then( data => {
						console.log( data );
						if ( data.body.status ) {
							toastr.success( 'Данные обновлены' )
						}
					}, err => {
						console.log( err );
					} )
			},
			selectPartnerCallback( value ) {
				if ( value ) {
					let women = this.allWomen;
					this.womanArray = [];
					women.forEach( w => {
						if ( w.agency.main.id == value ) {
							this.womanArray.push( {
								id: w.user_id,
								name: w.name + ' ' + w.surname
							} )
						}
					} )
				}
			},
			selectWomanCallback( value ) {
				if ( value ) {
					this.modelWoman = value;
				}
			},
			fetchData() {
				this.$http.post( 'v2/femal/load-list', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( data => {
					this.allWomen = data.body.result;
					this.womanArray = [];
					data.body.result.forEach( wo => {
						this.womanArray.push( {
							id: wo.user_id,
							name: wo.name + ' ' + wo.surname
						} );
					} )
				} );
				this.$http.post( 'v2/agency/get/list', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( data => {
					this.allPartners = [];
					data.body.result.forEach( p => {
						this.allPartners.push( {
							id: p.id,
							name: p.name
						} )
					} )
				}, err => {
					console.log( err );
				} );
				if ( this.$route.params.type == 'fine' ) {
					this.typeTitle = 'Штраф';
					this.isFine = true;
				} else if ( this.$route.params.type == 'bonus' ) {
					this.typeTitle = 'Bonus';
				}
				this.$http.post( 'v2/bonuses/load-categories', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( data => {
					if ( data.body.status ) {
						this.categoryList = [];
						data.body.result.forEach( c => {
							if ( c.id > 9 ) {
								this.categoryList.push( c );
							}
						} );
						this.loadGeneralData()
					}
				}, err => {
					console.log( err );
				} );
			},
			loadGeneralData() {
				this.$http.post( 'v2/bonuses/update/agency-bonus-detail', {
					access_token: this.$cookie.get( 'access_token' ),
					agency_bonus_change_id: this.$route.params.id
				} ).then( data => {
					if ( data.body.status ) {
						let transaction = data.body.result;
						if ( transaction.auto === 0 ) {
							this.$router.push( '/transaction/edit/manual/' + this.$route.params.type + '/' + this.$route.params.id )
						}
						this.modelCategory = transaction.category.id;
						this.modelNote = transaction.description;
						this.id = transaction.id;
						this.modelPartner = transaction.agency;
						this.modelWoman = transaction.woman;
						this.modelAmount = transaction.agency_bonus;
						this.modelActive = transaction.status;
						if ( this.isFine ) {
							this.modelReview = transaction.can_review
						}
						this.modelIsActive = transaction.status;
					} else {
						toastr.error( 'Не могу получить данные по транзакции' );
						toastr.info( data.body.desc )
					}
				}, err => {
					console.log( err );
					toastr.error( 'Не могу получить данные по транзакции' );
				} )
			}
		},
		computed: {
			partnerPlaceholder() {
				let name = '';
				this.allPartners.forEach( p => {
					if ( p.id === this.modelPartner ) {
						name = p.name
					}
				} );
				return name.toString();
			}
		},
		beforeMount() {
			this.fetchData();
		},
		components: {
			'my-select': myselect2,
			'selected': myltiselect
		}
	}
</script>
