<template>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-blue box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Выплаты партнерам</h3>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <!-- filter -->
                    <form class="row">
                        <div class="form-group margin">
                            <div class="col-md-2">
                                <my-select :options="allPartners" :placeholder="'Партнер'"
                                           :className="'partneraccruals'" :callback="selectPartnerCallback">

                                </my-select>
                            </div>
                            <div class="col-md-2">
                                <select class="form-control" v-model="statusFilter">
                                    <option class="placeholder-option" value="" selected="selected">Статус</option>
                                    <option value="active">активные</option>
                                    <option value="banned">забаненные</option>
                                    <option value="blocked">заблокированные</option>
                                    <option value="deleted">удаленные</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <select class="form-control" v-model="paid_outFilter">
                                    <option class="placeholder-option" value="" selected="selected">Выплата</option>
                                    <option value="1">да</option>
                                    <option value="0" selected>нет</option>
                                </select>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive">
                    <table class="table table-bordered table-striped" id="paidoutTable">
                        <thead>
                        <tr>
                            <th class="sm-td">Партнер
                            </th>
                            <th>Статус партнера
                            </th>
                            <th>Сумма
                            </th>
                            <th>Дата от
                            </th>
                            <th>Дата до
                            </th>
                            <th>Выплата
                            </th>
                            <th>Инициатор
                            </th>
                            <th>Дата выплаты
                            </th>
                            <th class="sm-td" style="display: none;">ID
                            </th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr class="bg-gray">
                            <th>Всего</th>
                            <th></th>
                            <th class="bg-navy-active" id="total-categori">{{statsCount}}</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        </tfoot>
                    </table>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
            <div class="row">
                <div class="col-md-6">
                    <div class="margin-top" id="paidoutInfo">

                    </div>
                </div>
                <div class="col-md-6">
                    <ul class="pagination pull-right" id="paidoutPaginate">

                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import moment from 'moment'
    import toastr from 'toastr'
    import mySelect2 from '../../custom/select2/component.vue'
    export default {
        name: 'PaidOut',
        data() {
            return {
                paidOutList: [],
                allPartners: [],
                statsCount: '',
                table: null,
                paid_outFilter: '',
                statusFilter: ''
            }
        },
        watch: {
            statusFilter(value) {
                this.search(1, value)
            },
            paid_outFilter(value) {
                this.search(5, value)
            }
        },
        methods: {
            selectPartnerCallback(value) {
                if (value) {
                    this.search(0, value);
                } else {
                    this.search(0, '');
                }
            },
            search(col, value) {
                if (this.table !== null) {
                    let found = this.table.column(col)
                        .search(value, false, false)
                        .draw();

                    let allRecords = found.context[0].aoData;
                    this.foundIndex = found.context[0].aiDisplay;
                    let foundNormalIdArray = [];
                    for (let i = 0; i < this.foundIndex.length; i++) {
                        let index = this.foundIndex[i];
                        for (let j = 0; j < allRecords.length; j++) {
                            if (allRecords[j].idx == index) {
                                foundNormalIdArray.push(allRecords[j]._aData[6]);
                            }
                        }
                    }
                    let count = 0;
                    for (let i = 0; i < foundNormalIdArray.length; i++) {
                        this.paidOutList.forEach(row => {
                            if (row.id === foundNormalIdArray[i]) {
                                count += row.agency_bonus_total
                            }
                        })
                    }
                    this.statsCount = count;
                }
            },
            fetchData() {
                //du
                this.$http.post('v1/profit-paid/agency-paid-out', {
                    access_token: this.$cookie.get('access_token')
                }).then(data => {
                    if (data.body.status) {
                        this.paidOutList = data.body.result;
                        this.initTable();
                    } else {
                        toastr.error('Не могу загрузить данные')
                    }
                }, err => {
                    toastr.error('Не могу загрузить данные')
                })
            },
            fetchPartners() {
                this.$http.post('v2/agency/get/list', {
                    access_token: this.$cookie.get('access_token')
                }).then(data => {
                    if (data.body.status) {
                        this.allPartners = data.body.result;
                    } else {
                        toastr.error('Не могу получить список партнеров');
                        toastr.error(data.body.desc);
                    }
                }, err => {
                    toastr.error('Ошибка API');
                    console.log(err);
                })
            },
            initTable() {
                if(this.table === null) {
                    this.table = $('#paidoutTable').DataTable({
                        iDisplayLength: 20,
                        "oLanguage": {
                            "sLengthMenu": "Отображено _MENU_ записей на страницу",
                            "sSearch": "Поиск:",
                            "sZeroRecords": "Ничего не найдено - извините",
                            "sInfo": "Показано с _START_ по _END_ из _TOTAL_ записей",
                            "sInfoEmpty": "Показано с 0 по 0 из 0 записей",
                            "sInfoFiltered": "(отфильтровано из _MAX_ записей)",
                            "oPaginate": {
                                "sFirst": "Первая",
                                "sLast":"Посл.",
                                "sNext":"След.",
                                "sPrevious":"Пред.",
                            }
                        },
                    });
                    $('#paidoutTable_filter').remove();
                    $('#paidoutTable_length').remove();
                    $('#paidoutPaginate').append($('#paidoutTable_paginate'));
                    $('#paidoutInfo').append($('#paidoutTable_info'));
                }else {
                    this.table.clear().draw();
                }
                if(this.paidOutList.length < 20) {
                    $('#paidoutPaginate').hide();
                }else {
                    $('#paidoutPaginate').show();
                }
                this.paidOutList.forEach(row => {
                    let payButton = '<a class="btn btn-primary btn-block link-confirm create-payout" data-count="'+row.agency_bonus_total+'" data-id="'+row.agency.id+'" data-partner="'+row.agency.name+'">Выплатить</a>';
                    if(row.paid_out) {
                        payButton = moment(row.paid_out_at * 1000).format('DD-MM-YYYY HH:mm:SS');
                    }
                    let paidout = '<span class="glyphicon glyphicon-ok-circle fa-2x text-green"><span style="display: none">1</span></span>';
                    if(row.paid_out === false) {
                        paidout = '<span class="glyphicon glyphicon-remove-circle fa-2x text-red"><span style="display: none">0</span></span>';
                    }
                    let status = '';
                    switch (row.agency.status) {
                        case 'active':
                            status = '<strong>активный</strong> <span style="display: none;">' + row.agency.status + '</span>';
                            break;
                        case 'deactivated':
                            status = '<strong>удаленный</strong> <span style="display: none;">' + row.agency.status + '</span>';
                            break;
                        case 'banned':
                            status = '<strong>забаненый</strong> <span style="display: none;">' + row.agency.status + '</span>';
                            break;
                        case 'lock':
                            status = '<strong>заблокированный</strong> <span style="display: none;">' + row.agency.status + '</span>';
                            break;
                    }
                    this.table.row.add([
                        '<a style="cursor:pointer;" class="show-partner" data-id="'+row.agency.id+'">'+row.agency.name+' ('+row.agency.id+')</a>',
                        status,
                        row.agency_bonus_total,
                        moment(row.time_from * 1000).format('LL'),
                        moment(row.time_to * 1000).format('LL'),
                        paidout,
                        row.id,
                        row.initiator.name + ' ',
                        payButton
                    ]).draw()
                })
                this.search(0, '');
                this.initEventListeners()
            },
            initEventListeners() {
                $('#paidoutTable').on('click', '.show-partner', ev => {
                    this.$router.push('/partners/view/' + ev.target.dataset.id);
                });
                $('#paidoutTable').on('click', '.create-payout', ev => {
                    let message = 'Вы уверены что совершили выплату в $'+ev.target.dataset.count+'  партнеру '+ev.target.dataset.partner+'('+ev.target.dataset.id+')?';
                    App.confirm(message, cb => {
                       if(cb) {
                            this.$http.post('v2/profit/paid/out', {
                                access_token: this.$cookie.get('access_token'),
                                agency_id: ev.target.dataset.id
                            }).then(data => {
                                if(data.body.status) {
                                    toastr.success('Выплата успешна!');
                                    this.table.clear().draw();
                                    this.fetchData();
                                }else {
                                    toastr.error('Ошибка выплаты');
                                    toastr.info(data.body.desc);
                                }
                            }, err => {
                                toastr.error('Ошибка  API');
                                console.log(err);
                            })
                       }
                    });
                })
            }
        },
        beforeMount() {
            this.fetchData();
            this.fetchPartners();
        },
        components: {
            'my-select': mySelect2
        }
    }
</script>

<style>
    #paidoutTable > tbody > tr > td:nth-child(7) {
        display: none;
    }
</style>
