<template>
    <div>
        <div class="row">
            <div class="col-md-12">
                <div class="box box-blue box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Штрафы</h3>
                        <!-- /.box-tools -->
                        <router-link to="/finance/create/fine">
                            <div class="box-tools pull-right">
                                <a class="btn btn-danger">Штраф <i class="fa fa-plus"></i></a>
                            </div>
                        </router-link>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">

                        <!-- filter -->
                        <form class="row">
                            <div class="form-group margin">
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                    <div class="input-group date d-t-picker"
                                         id="dateFromFine">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input type="text"
                                               name="date_to"
                                               class="form-control to-sort">
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                    <div class="input-group date d-t-picker"
                                         id="dateToFine">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input type="text"
                                               name="date_to"
                                               class="form-control to-sort">
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <select class="form-control filter-date-nav"
                                            style="width: 100%;"
                                            v-model="changeDate">
                                        <option selected="selected"
                                                value="0">Текущий месяц</option>
                                        <option value="1">Прошлый месяц</option>
                                        <option value="2">Вчера</option>
                                        <option value="3">Сегодня</option>
                                    </select>
                                </div>

                                <div class="col-md-2">
                                    <input type="text"
                                           class="form-control"
                                           placeholder="ID"
                                           v-model="searchIdModel">
                                </div>

                                <div class="col-md-2">
                                    <select class="form-control"
                                            v-model="searchTypeModel">
                                        <option value=""
                                                class="placeholder-option"
                                                selected>Тип</option>
                                        <option value="1">авто</option>
                                        <option value="0">ручной</option>
                                    </select>
                                </div>

                                <div class="col-md-2">
                                    <select class="form-control"
                                            v-model="categorySearch">
                                        <option value=""
                                                class="placeholder-option"
                                                selected>Категория</option>
                                        <option v-for="category in categoryComputed"
                                                :value="category.id">{{category.name}}</option>
                                    </select>
                                </div>

                                <div class="col-md-2">
                                    <select class="form-control"
                                            v-model="statusSearch">
                                        <option value=""
                                                class="placeholder-option"
                                                selected>Активный</option>
                                        <option value="1">да</option>
                                        <option value="0">нет</option>
                                    </select>
                                </div>

                                <div class="col-md-2">
                                    <select-partner :options="allPartners"
                                                    :placeholder="'Партнер'"
                                                    :className="'select-partner'"
                                                    :callback="partnerSelectCallback"></select-partner>
                                </div>

                                <div class="col-md-2">
                                    <select-branch :options="showBranches"
                                                   :placeholder="'Филиалы'"
                                                   :className="'select-branch'"
                                                   :callback="branchSelectCallback">
                                    </select-branch>
                                </div>

                                <div class="col-md-2">
                                    <select-admin :options="showAdmins"
                                                  :placeholder="'Админ'"
                                                  :className="'select-admin'"
                                                  :callback="adminSelectCallback"></select-admin>
                                </div>

                                <div class="col-md-2">
                                    <select-admin :options="showWomen"
                                                  :placeholder="'Клиентка'"
                                                  :className="'select-woman'"
                                                  :callback="womanSelectCallback"></select-admin>
                                </div>

                                <div class="col-md-2">
                                    <select-man :options="allMans"
                                                :placeholder="'Клиент'"
                                                :className="'select-man'"
                                                :callback="manSelectCallback">
                                    </select-man>
                                </div>
                            </div>
                        </form>

                        <div class="row"
                             v-show="preloader">
                            <div class="col-md-12">
                                <div class="loader">
                                    <span class="inner1"></span>
                                    <span class="inner2"></span>
                                    <span class="inner3"></span>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                        <table class="table table-bordered table-scroll"
                               id="penaltyTable"
                               v-show="!preloader">
                            <thead>
                                <tr>
                                    <th>ID
                                    </th>
                                    <th class="md-td">Тип

                                    </th>
                                    <th class="md-td">Категория

                                    </th>
                                    <th>Бонусы

                                    </th>
                                    <th class="md-td">Клиентка
                                    </th>
                                    <th>Кредиты
                                    </th>
                                    <th class="md-td">Клиент
                                    </th>
                                    <th>Активный
                                    </th>
                                    <th class="md-td">Партнер
                                    </th>
                                    <th class="md-td">Филиал
                                    </th>
                                    <th class="md-td">Админ
                                    </th>
                                    <th>Дата
                                    </th>
                                </tr>
                            </thead>

                            <tbody>

                            </tbody>
                            <!-- Всего -->
                            <tfoot>
                                <tr class="bg-gray">
                                    <th> Всего</th>
                                    <th></th>
                                    <!-- колич. uniq категорий -->
                                    <th id="total-categori">{{stats.uniqCategory}}</th>
                                    <!-- сумма бонусов -->
                                    <th class="bg-red-active"
                                        id="total-bonuses">{{stats.countOfBonus}}</th>
                                    <!-- колич. uniq клиенток -->
                                    <th id="total-women">{{stats.uniqWomen}}</th>
                                    <!-- сумма кредитов -->
                                    <th id="total-credits">{{stats.countOfCredits}}</th>
                                    <!-- всего uniq клиентов -->
                                    <th id="total-men">{{stats.uniqMans}}</th>
                                    <!-- колич. уник типов заказов -->
                                    <th id="total-active-orders">{{stats.uniqActive}}</th>
                                    <!-- колич. uniq партнеров -->
                                    <th id="total-partners">{{stats.uniqPartners}}</th>
                                    <!-- колич. uniq филилалов -->
                                    <th id="total-filials">{{stats.uniqBranches}}</th>
                                    <!-- колич. uniq админов -->
                                    <th id="total-admins">{{stats.uniqAdmins}}</th>
                                    <th></th>
                                </tr>
                            </tfoot>

                        </table>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

                <div class="row">
                    <div class="col-md-6">
                        <div class="margin-top"
                             id="orders-shows">

                        </div>
                    </div>
                    <div class="col-md-6">
                        <ul class="pagination pull-right"
                            id="orders-paginate">

                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <!-- /.row (main row) -->
    </div>
</template>

<script>

import toastr from 'toastr'
import moment from 'moment'
import mySelect2 from '../../custom/select2/component.vue'

export default {
    name: 'Orders',
    data() {
        return {
            allOrders: [],
            currentOrdersOnPage: [],
            searchIdModel: '',
            searchTypeModel: '',
            searchStatusModel: '',
            searchPartnerModel: '',
            searchPartnerFilialModel: '',
            searchAdminModel: '',
            searchWomanModel: '',
            searchManModel: '',
            dataFromModel: Math.floor(new Date().getTime()),
            dataToModel: Math.floor((new Date().getTime()) + 24 * 3600),
            table: null,
            tableInfo: null,
            all_agencys: [],
            all_branches: [],
            all_admins: [],
            preloader: false,
            timeFrom: moment().startOf('month'),
            timeStampFrom: moment().startOf('month').format('MM.DD.YYYY H:mm'),
            timeTo: moment().endOf('month'),
            timeStampTo: moment().endOf('month').format('MM.DD.YYYY H:mm'),
            changeDate: '0',
            allCategory: [],
            categorySearch: '',
            statusSearch: '',
            stats: {
                uniqCategory: 0,
                countOfBonus: 0,
                uniqWomen: 0,
                countOfCredits: 0,
                uniqMans: 0,
                uniqActive: 0,
                uniqPartners: 0,
                uniqBranches: 0,
                uniqAdmins: 0
            },
            allPartners: [],
            allBranches: [],
            allAdmins: [],
            allWomen: [],
            allMan: [],
            partnersData: [],
            showBranches: [],
            showAdmins: [],
            showWomen: [],
            selectedPartner: false,
            selectedBranch: false,
            selectedAdmin: false,
            selectedWoman: false,
            adminWithWoman: [],
            allMans: [],
            foundIndex: []
        }
    },
    beforeMount() {
        if (!this.$cookie.get('access_token')) {
            this.$router.push('/')
        } else {
            this.preloader = true;
            this.fetchData();
        }
    },
    methods: {
        showDetails(id) {
            this.$router.push('/transaction/' + id);
        },
        loadAgencyList() {
            this.$http.post('v2/agency/get/list', {
                access_token: this.$cookie.get('access_token')
            }).then(listData => {
                if (listData.body.status) {
                    this.all_agencys = listData.body.result;
                } else {
                    toastr.error('Не могу загрузить список агенств!')
                }
            }, err => {
                toastr.error('Не могу загрузить список агенств!')
                console.log(err);
            })
        },
        updateDataTable() {
            this.preloader = true;
            if(this.table === null) {
                this.table = $('#penaltyTable').DataTable({
                    iDisplayLength: 20,
                    "oLanguage": {
                        "sLengthMenu": "Отображено _MENU_ записей на страницу",
                        "sSearch": "Поиск:",
                        "sZeroRecords": "Ничего не найдено - извините",
                        "sInfo": "Показано с _START_ по _END_ из _TOTAL_ записей",
                        "sInfoEmpty": "Показано с 0 по 0 из 0 записей",
                        "sInfoFiltered": "(отфильтровано из _MAX_ записей)",
                        "oPaginate": {
                            "sFirst": "Первая",
                            "sLast":"Посл.",
                            "sNext":"След.",
                            "sPrevious":"Пред.",
                        }
                    },
                });
            }else {
                this.table
                    .clear()
                    .draw();
            }
            $('#penaltyTable_filter').remove();
            $('#penaltyTable_length').remove();
            $('#orders-paginate').append($('#penaltyTable_paginate'))
            $('#orders-shows').append($('#penaltyTable_info'))
            if(this.allOrders.length < 20) {
                $('#orders-paginate').hide()
            }else {
                $('#orders-paginate').show()
            }
            for (let i = 0; i < this.allOrders.length; i++) {
                let row = this.allOrders[i];
                let type = '<strong>ручной</strong> <span style="display:none;">0</span>'
                let woman = '<a class="show-girl" style="cursor: pointer" data-id="'+row.woman_id+'">' + row.woman_name + '(' + row.woman_id + ') <span style="display:none">' + row.woman_id + '</span> </a>';
                let active = '<span class="glyphicon glyphicon-ok-circle fa-2x text-green"><span style="display:none">' + row.active + '</span></span>'
                if (row.auto === 1) {
                    type = 'автоматический <span style="display:none;">1</span>'
                }
                if (row.active === 0) {
                    active = '<span class="glyphicon glyphicon-remove-circle fa-2x text-red"><span style="display:none">' + row.active + '</span></span>'
                }
                let man = '<a style="cursor: pointer;" class="show-man" data-id="'+row.client_id+'"> '+row.client_name+ ' ('+row.client_id+')</a>';
                if(row.client_id === '') {
                    man = ''
                }
                let admin = '<a style="cursor: pointer;" class="show-admin" data-id="'+row.admin_id+'"> '+row.admin_name+ ' ('+row.admin_id+')<span style="display: none">' + row.admin_id + '</span></a>';
                if(row.admin_id === '') {
                    admin = ''
                }

                let agency = '<a style="cursor: pointer;" class="show-partner" data-id="'+row.agency_id+'"> '+row.agency_name+ ' ('+row.agency_id+')<span style="display: none">' + row.agency_id + '</span></a>';
                if(row.agency_id === '') {
                    agency = ''
                }

                let branch = '<a style="cursor: pointer;" class="show-partner" data-id="'+row.branch_agency_name+'"> '+row.agency_name+ ' ('+row.branch_agency_id+')<span style="display: none">' + row.branch_agency_id + '</span></a>';
                if(row.branch_agency_id === '') {
                    branch = ''
                }
                this.table.row.add([
                    '<a class="show-transaction-d" data-id="' + row.id + '">' + row.id + '</a>',
                    type,
                    row.category_name + '<span style="display:none">' + row.category_id + '</span>',
                    '<span class="text-red">'+row.agency_bonus+'</span>',
                    woman,
                    row.credits,
                    man,
                    active,
                    agency,
                    branch,
                    admin,
                    moment(row.created_at * 1000).format('DD.MM.YYYY H:mm') + '<span style="display:none">' + moment(row.created_at * 1000).format('MM/DD/YYYY H:mm') + '</span>',
                ]).draw(false);
            }
            this.initEventListeners();
            this.preloader = false;




            let d = this.showDetails
            $('#penaltyTable').on('click', '.show-transaction-d', function (ev) {
                d($(this).data('id'))
            })
        },
        initEventListeners() {
            $('#penaltyTable').on('click', '.show-man', ev => {
                this.$router.push('/man/view/' + ev.target.dataset.id);
            });
            $('#penaltyTable').on('click', '.show-girl', ev => {
                this.$router.push('/woman/view/' + ev.target.dataset.id);
            });
            $('#penaltyTable').on('click', '.show-admin', ev => {
                this.$router.push('/partner/admin/show/' + ev.target.dataset.id);
            });
            $('#penaltyTable').on('click', '.show-partner', ev => {
                this.$router.push('/partners/view/' + ev.target.dataset.id);
            });
        },
        searchByColumn(col, data) {
            let r = new RegExp(/(data-id=")(\d+)(")/);
            let found = $('#penaltyTable').DataTable()
                .columns(col)
                .search(data)
                .draw()

            //Пересчет сумарных данных для футера таблицы
            let allRecords = found.context[0].aoData;
            this.foundIndex = found.context[0].aiDisplay;
            let foundNormalIdArray = []
            for (let i = 0; i < this.foundIndex.length; i++) {
                let index = this.foundIndex[i];
                for (let j = 0; j < allRecords.length; j++) {
                    if (allRecords[j].idx == index) {
                        try {
                            let rc = allRecords[j]._aData[0];
                            foundNormalIdArray.push(parseInt(rc.match(r)[2]));
                        } catch (Ex) {
                            console.log('Exception')
                        }
                    }
                }
            }
            console.log('Found id array', foundNormalIdArray)

            let allOrders = this.allOrders;
            let precessedOrders = [];
            let processedCategory = [];
            let processedWomen = [];
            let processedMan = [];
            let processedActive = [];
            let processedBranches = [];
            let processedPartners = [];
            let processedAdmins = [];

            let localStats = {
                uniqCategory: 0,
                countOfBonus: 0,
                uniqWomen: 0,
                countOfCredits: 0,
                uniqMans: 0,
                uniqActive: 0,
                uniqPartners: 0,
                uniqBranches: 0,
                uniqAdmins: 0
            };

            /**
             * Перебор всех записей. Сверяем, если идентификатор записи об оплате
             * присутствует внутри массива записей, для которых надо посчитать сумму
             * начинаем перебор значений массивов статистики на наличие повторяющихся значений
             */
            for (let i = 0; i < allOrders.length; i++) {
                let order = allOrders[i];
                /**
                 * Запись была найдена в массиве
                 */
                if (foundNormalIdArray.indexOf(order.id) !== -1) {
                    if (processedCategory.indexOf(order.category_id) === -1) {
                        localStats.uniqCategory++;
                        processedCategory.push(order.category_id);
                    }
                    if(processedWomen.indexOf(order.woman_id) === -1) {
                        localStats.uniqWomen++;
                        processedWomen.push(order.woman_id);
                    }
                    if(processedMan.indexOf(order.client_id) === -1) {
                        if(order.client_id !== '') {
                            localStats.uniqMans++;
                            processedMan.push(order.client_id);
                        }
                    }
                    if(processedActive.indexOf(order.active) === -1) {
                        if(order.active !== '') {
                            localStats.uniqActive++;
                            processedActive.push(order.active);
                        }
                    }
                    if(processedBranches.indexOf(order.branch_agency_id) === -1) {
                        if(order.branch_agency_id !== '') {
                            localStats.uniqBranches++;
                            processedBranches.push(order.branch_agency_id);
                        }
                    }
                    if(processedPartners.indexOf(order.agency_id) === -1) {
                        if(order.agency_id !== '') {
                            localStats.uniqPartners++;
                            processedPartners.push(order.agency_id);
                        }
                    }
                    if(processedAdmins.indexOf(order.admin_id) === -1) {
                        if(order.admin_id !== '') {
                            localStats.uniqAdmins++;
                            processedAdmins.push(order.admin_id);
                        }
                    }

                    localStats.countOfBonus += parseFloat(parseFloat(order.agency_bonus).toFixed(2));
                    if(order.credits !== '') {
                        localStats.countOfCredits += parseInt(order.credits);
                    }
                }
            }

            this.stats = localStats;

        },
        fetchData() {
            this.allOrders = null;
            this.currentOrdersOnPage = null;
            this.preloader = true;
            this.loadAgencyList();
            this.$http.post('v2/bonuses/load-penalty', {
                access_token: this.$cookie.get('access_token'),
                time_from: Math.floor(Date.parse(this.timeStampFrom) / 1000),
                time_to: Math.floor(Date.parse(this.timeStampTo) / 1000)
            }).then(bonusesData => {
                if (bonusesData.body.status) {
                    this.allOrders = bonusesData.body.result;
                    this.updateDataTable();
                    setTimeout(() => {
                        this.searchByColumn(0, '');
                    }, 100)
                } else {
                    toastr.error('Ошибка загрузки данных');
                }
            }, err => {
                toastr.error('Ошибка загрузки данных');
            })

            this.$http.post('v2/bonuses/load-categories', {
                access_token: this.$cookie.get('access_token')
            }).then(categoryData => {
                if (categoryData.body.status) {
                    this.allCategory = categoryData.body.result;
                } else {
                    toastr.error('Ошибка загрузки данных категорий');
                }
            }, err => {
                console.log(err);
                toastr.error('Ошибка загрузки данных категорий');
            })

            this.$http.post('v2/bonuses/get/list-agency', {
                access_token: this.$cookie.get('access_token')
            }).then(data => {
                if (data.body.status) {
                    let d = data.body.result;
                    for (let i = 0; i < d.length; i++) {
                        this.allPartners.push(d[i].main);
                    }
                    for (let i = 0; i < d.length; i++) {
                        if (d[i].admins.length > 0) {
                            let admins = d[i].admins;
                            for (let j = 0; j < admins.length; j++) {
                                this.allAdmins.push(admins[j]);
                            }
                        }
                    }
                    for (let i = 0; i < d.length; i++) {
                        if (d[i].branches.length > 0) {
                            let branches = d[i].branches;
                            for (let j = 0; j < branches.length; j++) {
                                this.allBranches.push(branches[j]);
                            }
                        }
                    }
                    for (let i = 0; i < d.length; i++) {
                        if (d[i].woman.length > 0) {
                            let woman = d[i].woman;
                            for (let j = 0; j < woman.length; j++) {
                                this.allWomen.push(woman[j]);
                            }
                        }
                    }
                    //Создние списка филиалов для показа
                    for (let i = 0; i < this.allBranches.length; i++) {
                        this.showBranches.push(this.allBranches[i].main)
                    }
                    this.partnersData = data.body.result;
                    this.showAdmins = this.allAdmins;
                    this.showWomen = this.allWomen;
                } else {
                    toastr.error('Не могу получить данные для фильтров')
                }
            }, err => {
                toastr.error('Не могу получить данные для фильтров')
            })

            this.$http.post('v2/bonuses/get/admins-with-woman', {
                access_token: this.$cookie.get('access_token')
            }).then(data => {
                if (data.body.status) {
                    this.adminWithWoman = data.body.result
                } else {
                    toastr.error('Не могу получить список девушек, которые находяться под админом!')
                }
            }, err => {
                console.log(err);
            })

            this.$http.post('v2/bonuses/get/list-man', {
                access_token: this.$cookie.get('access_token')
            }).then(data => {
                if (data.body.status) {
                    this.allMans = data.body.result;
                } else {
                    toastr.error('Не могу загрузить список клиентов для фильтра')
                }
            }, err => {
                toastr.error('Не могу загрузить список клиентов для фильтра')
            })
        },
        partnerSelectCallback(value) {
            if (value === false) {
                this.selectedPartner = false;
                this.showAdmins = this.allAdmins;
                this.showBranches = [];
                for (let i = 0; i < this.allBranches.length; i++) {
                    this.showBranches.push(this.allBranches[i].main)
                }
                this.searchByColumn(8, '')
            } else {
                this.selectedPartner = value;
                this.showAdmins = [];
                let partners = this.partnersData;
                for (let i = 0; i < partners.length; i++) {
                    if (partners[i].main.id == value) {
                        let partnersBranches = partners[i].branches;
                        this.showBranches = [];
                        for (let j = 0; j < partnersBranches.length; j++) {
                            this.showBranches.push(partnersBranches[j].main)
                        }
                        this.showAdmins = partners[i].admins
                        this.showWomen = partners[i].woman
                    }
                }
                this.searchByColumn(8, value)
            }
        },
        branchSelectCallback(value) {
            if (value === false) {
                this.selectedBranch = false
                if (this.selectedPartner == false) {
                    this.showWomen = this.allWomen
                    this.showAdmins = this.allAdmins
                } else {
                    let partners = this.partnersData;
                    for (let i = 0; i < partners.length; i++) {
                        if (partners[i].main.id == this.selectedPartner) {
                            this.showWomen = partners[i].woman
                            this.showAdmins = partners[i].admins;
                        }
                    }
                }
                this.searchByColumn(9, '')
            } else {
                let branches = this.allBranches;
                this.selectedBranch = value;
                for (let i = 0; i < branches.length; i++) {
                    if (branches[i].main.id == value) {
                        this.showAdmins = branches[i].admins
                        this.showWomen = branches[i].woman
                    }
                }
                this.searchByColumn(9, value)
            }
        },
        adminSelectCallback(value) {
            if (value) {
                let womanRelatedToAdmin = this.adminWithWoman;
                for (let i = 0; i < womanRelatedToAdmin.length; i++) {
                    if (womanRelatedToAdmin[i].admin.id == value) {
                        this.showWomen = womanRelatedToAdmin[i].woman;
                    }
                }
                this.searchByColumn(10, value)
            } else {
                if (this.selectedBranch) {
                    let branches = this.allBranches;
                    for (let i = 0; i < branches.length; i++) {
                        if (branches[i].main.id == this.selectedBranch) {
                            this.showWomen = branches[i].woman;
                        }
                    }
                } else if (this.selectedPartner) {
                    let partners = this.partnersData;
                    for (let i = 0; i < partners.length; i++) {
                        if (partners[i].main.id == this.selectedPartner) {
                            this.showWomen = partners[i].woman
                        }
                    }
                } else {
                    this.showWomen = this.allWomen;
                }
                this.searchByColumn(10, '')
            }
        },
        womanSelectCallback(value) {
            if (value) {
                this.searchByColumn(4, value)
            } else {
                this.searchByColumn(4, '')
            }
        },
        manSelectCallback(value) {
            if (value) {
                this.searchByColumn(6, value)
            } else {
                this.searchByColumn(6, '')
            }
        }
    },
    mounted() {

        setTimeout(() => {
            $("#dateFromFine").datetimepicker({
                useCurrent: false,
                defaultDate: this.timeFrom,
                format: 'DD.MM.YYYY H:mm',
                locale: 'ru',
                widgetPositioning: {
                    horizontal: "left"
                }
            });
            $('#dateToFine').datetimepicker({
                useCurrent: false,
                defaultDate: this.timeTo,
                format: 'DD.MM.YYYY H:mm',
                locale: 'ru',
                widgetPositioning: {
                    horizontal: "left"
                }
            })
            $("#dateToFine").on("dp.change", (e) => {
                this.timeStampTo = e.date._d
                this.fetchData();
            });
            $("#dateFromFine").on("dp.change", (e) => {
                this.timeStampFrom = e.date._d
                this.fetchData();
            });
        }, 300)


    },
    watch: {
        searchIdModel(value) {
            this.searchByColumn(0, value);
        },
        searchTypeModel(value) {
            this.searchByColumn(1, value)
        },
        categorySearch(value) {
            this.searchByColumn(2, value)
        },
        statusSearch(value) {
            this.searchByColumn(7, value)
        },
        changeDate(value) {
            if (value == '0') {
                this.timeFrom = moment().startOf('month').startOf('DD.MM.YYYY H:mm');
                this.timeTo = moment().endOf('month').endOf('MM.DD.YYYY H:mm');
            }
            if (value == '1') {
                this.timeFrom = moment().subtract(1, 'month').startOf('month').startOf('DD.MM.YYYY H:mm');
                this.timeTo = moment().subtract(1, 'month').endOf('month').endOf('DD.MM.YYYY H:mm');
            }
            if (value == '2') {
                this.timeFrom = moment().subtract(1, 'days').startOf('day').startOf('DD.MM.YYYY H:mm');
                this.timeTo = moment().subtract(1, 'days').endOf('day').endOf('DD.MM.YYYY H:mm');
            }
            if (value == '3') {
                this.timeFrom = moment().startOf('day').startOf('DD.MM.YYYY H:mm');
                this.timeTo = moment().endOf('day').endOf('DD.MM.YYYY H:mm');
            }
            $("#dateFromFine").datetimepicker().data("DateTimePicker").date(this.timeFrom);
            $("#dateToFine").datetimepicker().data("DateTimePicker").date(this.timeTo);
            this.fetchData();
        }
    },
    computed: {
        categoryComputed() {
            return this.allCategory;
        }
    },
    components: {
        'select-partner': mySelect2,
        'select-branch': mySelect2,
        'select-admin': mySelect2,
        'select-woman': mySelect2,
        'select-man': mySelect2
    }
}
</script>

<style lang="css">
.show-girl {
    cursor: pointer !important;
}

.loader {
    display: block;
    width: 5em;
    margin: 10% auto;
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: translateY(0%);
    }
    30% {
        -webkit-transform: translateY(-0.25em);
    }
    50% {
        -webkit-transform: translateY(0%);
    }
    70% {
        -webkit-transform: translateY(0.25em);
    }
}

.loader {
    display: block;
}

.loader .inner1,
.loader .inner2,
.loader .inner3 {
    display: inline-block;
    margin: 0.125em;
    width: 0.5em;
    height: 0.5em;
    border: 1px solid lightgray;
    border-radius: 1em;
    background-color: lightgray;
    -webkit-transform-origin: 50%;
    -webkit-animation-duration: 0.75s;
    -webkit-animation-name: rotate;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

.loader .inner2 {
    -webkit-animation-delay: 0.1875s;
}

.loader .inner3 {
    -webkit-animation-delay: 0.375s;
}
</style>
