<template>
	<div>
		<!-- .row (main row) -->
		<div class="row">
			<div class="col-md-12">
				<div class="box box-blue box-solid">
					<div class="box-header with-border">
						<h3 class="box-title">Пополнения Клиентов</h3>
					</div>
					<!-- /.box-header -->
					<div class="box-body no-padding">
						<!-- filter -->
						<form class="row">
							<div class="form-group margin">
								<date-filter :changeFilter="dateFilterChange"></date-filter>
								<div class="col-md-2">
									<input type="text" class="form-control" placeholder="ID" v-model="idSearch">
								</div>
								<div class="col-md-2">
									<input type="text" class="form-control" placeholder="ID или имя клиента" v-model="nameOrIdSearch">
								</div>
								<div class="col-md-2">
									<select class="form-control" v-model="creditPackSearch">
										<option class="placeholder-option" value="" selected>Пакет</option>
										<option v-for="pack in creditPacks"
												:value="pack.id">{{pack.name}}
										</option>
									</select>
								</div>
							</div>
						</form>
						<small-preloader v-show="!loaded"></small-preloader>
						<div class="table-responsive" v-show="loaded">
							<table class="table table-bordered table-striped" id="refillTable">
								<thead>
								<tr>
									<th>ID</th>
									<th>Клиент</th>
									<th>Пакет</th>
									<th>Кол.кредитов</th>
									<th>Стоимость, USD</th>
									<th>Дата пополнения</th>
								</tr>
								</thead>
								<tbody></tbody>
								<tfoot>
									<tr class="bg-gray">
										<th>Всего</th>
										<th id="total-men">{{summary.uniqMan}}</th>
										<th id="total-packs">{{summary.uniqCreditPack}}</th>
										<th id="total-credits">{{summary.credits}}</th>
										<th class="bg-navy-active" id="total-money">{{summary.usd}}
										</th>
										<th></th>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="margin-top" id="refillskShow"></div>
					</div>
					<div class="col-md-6">
						<ul class="pagination pull-right" id="refillsPaginate"></ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>

	import moment from 'moment'
	import toastr from 'toastr'

	import smallPreloader from '../../custom/preloaderSmall/component.vue'
	import dateFilter from '../../custom/datefilter/component.vue'
	export default {
		name: 'Replenishment',
		data() {
			return {
				loaded: false,
				timeFrom: moment().startOf('month').format('X'),
				timeTo: moment().endOf('month').format('X'),
				creditPacks: [],
				refills: [],
				table: null,
				idSearch: '',
				nameOrIdSearch: '',
				creditPackSearch: '',
				foundIndex: [],
				allUSD: 0,
				summary: {
					uniqMan: 0,
					uniqCreditPack: 0,
					credits: 0,
					usd: 0
				},
			}
		},
		beforeMount() {
			this.fetchData();
		},
		mounted() {
			let tableSearch = this.tableSearch;
		},
		methods: {
			dateFilterChange(d) {
				this.timeFrom = d.from;
				this.timeTo = d.to;
				this.fetchData()
			},
			tableSearch( col, data ) {
				let r = new RegExp( /(data-id=")(\d+)(")/ );
				if ( this.table !== null ) {
					let found = this.table.columns( col )
						.search( data )
						.draw();
					let allRecords = found.context[ 0 ].aoData;
					this.foundIndex = found.context[ 0 ].aiDisplay;
					//Пересчет сумарных значений из найденых данных;
					//ААААААААААААА УБЕЙТЕ!
					let foundNormalIdArray = [];
					let foundCreditPacks = []
					for ( let i = 0; i < this.foundIndex.length; i++ ) {
						let index = this.foundIndex[ i ];
						let alerted = false;
						for ( let j = 0; j < allRecords.length; j++ ) {
							if ( allRecords[ j ].idx == index ) {
								try {
									let rc = allRecords[ j ]._aData[ 0 ];
									foundNormalIdArray.push( parseInt( rc.match( r )[ 2 ] ) );
								} catch ( Ex ) {
									if ( alerted === false ) {
										toastr.error( 'Ошибочные данные. Не могу выполнить подсчет данных внизу таблицы' );
										alerted = true;
									}
								}
							}
						}
					}
					let foundManIdArray = [];
					let countOfUniqueMan = 0;
					let founUniqueCreditPack = 0;
					let coundOfFoundCredits = 0;
					let countOfFoundUSD = 0;
					for ( let i = 0; i < this.refills.length; i++ ) {
						let currentRow = this.refills[ i ];
						if ( foundNormalIdArray.indexOf( currentRow.id ) != -1 ) {
							if ( foundManIdArray.indexOf( currentRow.client_id ) == -1 ) {
								countOfUniqueMan++;
								foundManIdArray.push( currentRow.client_id )
							}
							if ( foundCreditPacks.indexOf( currentRow.credit_pack_name ) == -1 ) {
								founUniqueCreditPack++;
								foundCreditPacks.push( currentRow.credit_pack_name );
							}
							coundOfFoundCredits += currentRow.credits
							countOfFoundUSD += currentRow.price;
						}
					}
					this.summary = {
						uniqMan: countOfUniqueMan,
						uniqCreditPack: founUniqueCreditPack,
						credits: coundOfFoundCredits,
						usd: countOfFoundUSD
					}
				}
			},
			tableInit() {
				if ( this.table === null ) {
					this.table = $( '#refillTable' ).DataTable( {
						iDisplayLength: 20,
						"order": [[ 5, "desc" ]],
						"oLanguage": {
							"sLengthMenu": "Отображено _MENU_ записей на страницу",
							"sSearch": "Поиск:",
							"sZeroRecords": "Ничего не найдено - извините",
							"sInfo": "Показано с _START_ по _END_ из _TOTAL_ записей",
							"sInfoEmpty": "Показано с 0 по 0 из 0 записей",
							"sInfoFiltered": "(отфильтровано из _MAX_ записей)",
							"oPaginate": {
								"sFirst": "Первая",
								"sLast": "Посл.",
								"sNext": "След.",
								"sPrevious": "Пред.",
							}
						},
					} );

					$( '#refillTable_length' ).remove();
					$( '#refillTable_filter' ).remove();
					$( '#refillsPaginate' ).append( $( '#refillTable_paginate' ) );
					$( '#refillskShow' ).append( $( '#refillTable_info' ) );
				} else {
					this.table.clear().draw();
				}

				let rows = this.refills;
				if ( rows.length < 20 ) {
					$( '#refillsPaginate' ).hide();
				} else {
					$( '#refillsPaginate' ).show();
				}
				for ( let i = 0; i < rows.length; i++ ) {
					let currrentRow = rows[ i ];
					let client = '<a style="cursor: pointer;" class="show-m" data-id="' + currrentRow.client_id + '">' + currrentRow.client_name + '(' + currrentRow.client_id + ')</a>';
					this.table.row.add( [
						'<span data-id="' + currrentRow.id + '">' + currrentRow.id + '</span>',
						client,
						currrentRow.credit_pack_name + '<span style="display: none">' + currrentRow.credit_pack_id + '</span>',
						currrentRow.credits,
						currrentRow.price,
						'<span><span style="display:none">' + currrentRow.created_at + '</span>'+ moment(currrentRow.created_at * 1000).format('DD.MM.YYYY HH:mm:ss') +'</span>',
					] ).draw( false )
				}
				this.initEventListeners();
				this.tableSearch( 0, '' );
			},
			loadCreditPacks() {
				this.$http.post( 'v2/credit-packages/get/list', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( data => {
					if ( data.body.status ) {
						this.creditPacks = data.body.result
					} else {
						console.log( data );
					}
				}, err => {
					console.log( err );
				} )
			},
			loadTableData() {
				this.loaded = false;
				this.$http.post( 'v2/bonuses/get/client-refills', {
					access_token: this.$cookie.get( 'access_token' ),
					time_from: this.timeFrom,
					time_to: this.timeTo
				} ).then( data => {
					if ( data.body.status ) {
						this.refills = data.body.result;
						this.tableInit();
						this.loaded = true;
					} else {
						this.loaded = true;
					}
				}, err => {
					console.log( err );
				} )
			},
			fetchData() {
				this.loadCreditPacks();
				this.loadTableData();
			},
			initEventListeners() {
				$( '#refillTable' ).on( 'click', '.show-m', ev => {
					this.$router.push( '/man/view/' + ev.target.dataset.id );
				} )
			}
		},

		watch: {
			idSearch( value ) {
				this.tableSearch( 0, value )
			},
			nameOrIdSearch( value ) {
				this.tableSearch( 1, value )
			},
			creditPackSearch( value ) {
				this.tableSearch( 2, value )
			},
		},
		computed: {
		},
		components: {
			'small-preloader': smallPreloader,
			'date-filter': dateFilter
		}
	}
</script>
