<template>
	<div>
		<!-- .row (main row) -->
		<div class="row">
			<div class="col-md-12">
				<div class="box box-blue box-solid">
					<div class="box-header with-border">
						<h3 class="box-title">Пополнения Клиентов</h3>
					</div>
					<!-- /.box-header -->
					<div class="box-body no-padding">
						<!-- filter -->
						<form class="row">
							<div class="form-group margin">
                                <date-filter :changeFilter="dateFilterChange"></date-filter>

								<div class="col-md-1">
									<input type="text" class="form-control" placeholder="ID" v-model="idSearch">
								</div>
								<div class="col-md-2">
									<input type="text" class="form-control" placeholder="ID или имя клиента"
										   v-model="nameOrIdSearch">
								</div>
								<div class="col-md-1">
									<select class="form-control" v-model="creditPackSearch">
										<option class="placeholder-option" value="" selected>Пакет</option>
										<option v-for="pack in creditPacks"
												:value="pack.id">{{pack.name}}
										</option>
									</select>
								</div>
                                <div class="col-md-2 form-group">
                                  <select class="form-control" id="online-search" v-model="payment_gateway">
                                    <option class="placeholder-option" selected="selected" value="">Процес.сервис</option>
                                    <option value="segpay">segpay</option>
                                    <option value="multicard">multicard</option>
                                  </select>
                                </div>
							</div>
						</form>
						<sst :loader="loader" @load="fetchData" :sort="sort" :data="data"
							 :count="count" :loadParams="loadParams" :order="order" :pagination="pagination">
							<tr slot="tbody" v-for="i in data" :key="i.id">
								<td>{{i.id}}</td>
								<td>{{i.order_id}}</td>
								<td><router-link :to="{name: 'Профиль клиента', params: {man: i.client_id}}">{{i.client_name}} (id: {{i.client_id}})</router-link></td>
								<td>{{i.credit_pack_name}} (id: {{i.credit_pack_id}})</td>
								<td>{{i.credits}}</td>
								<td>{{i.price}}</td>
                <td>{{i.payment_gateway}}</td>
								<td>{{date(i.created_at)}}</td>
							</tr>
							<tr class="bg-gray" slot="tfoot">
								<th>Всего</th>
								<th></th>
								<th>Уник.: {{summary.uniqMan}}</th>
								<th>Уник.: {{summary.uniqCreditPack}}</th>
								<th>{{summary.credits}}</th>
								<th class="bg-navy-active">{{summary.usd}}
                <th></th>
								</th>
								<th></th>
							</tr>
						</sst>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>

	import moment from 'moment'
	import toastr from 'toastr'
	import dateFilter from '../../custom/datefilter/component.vue'
	import sst from '../../custom/serverSideTable.vue'
	import { SS_SORT_TABLE } from '@/mixins/utils.js'

	export default {
		name: 'Replenishment',
		data() {
			return {
				inputL: true,
				sort: [
					{ active: true, name: 'id', column: 'ID' },
					{ active: false, name: 'order_id', column: '№ заказа)' },
					{ active: false, name: 'user_id', column: 'Клиент' },
					{ active: false, name: 'credit_pack_id', column: 'Пакет' },
					{ active: false, name: 'credits', column: 'Кол.кредитов' },
					{ active: false, name: 'price', column: 'Стоимость, USD' },
          { active: false, name: 'payment_gateway', column: 'Процес.сервис' },
					{ active: false, name: 'created_at', column: 'Дата пополнения' },
				],
				loader: true,
				timeFrom: moment().startOf( 'month' ).format( 'X' ),
				timeTo: moment().endOf( 'month' ).format( 'X' ),
				creditPacks: [],
				data: [],
				table: null,
				idSearch: '',
        payment_gateway:'',
				nameOrIdSearch: '',
				creditPackSearch: '',
				foundIndex: [],
				allUSD: 0,
				summary: {
					uniqMan: 0,
					uniqCreditPack: 0,
					credits: 0,
					usd: 0
				},
			}
		},
		mixins: [ SS_SORT_TABLE ],
		methods: {
			dateFilterChange( d ) {
				this.timeFrom = d.from;
				this.timeTo = d.to;
				this.fetchData()
			},
			date( ts ) {
				return moment( ts * 1000 ).format( 'DD.MM.YYYY HH:mm:ss' )
			},
			loadCreditPacks() {
				this.$http.post( 'v2/credit-packages/get/list', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( data => {
					if ( data.body.status ) {
						this.creditPacks = data.body.result
					} else {
						console.log( data );
					}
				}, err => {
					console.log( err );
				} )
			},
			fetchData() {
				this.loader = true;
				this.$http.post( 'v2/bonuses/get/client-refills', {
					access_token: this.$cookie.get( 'access_token' ),
					time_from: this.timeFrom,
					time_to: this.timeTo,
					offset: this.loadParams.offset,
					limit: this.loadParams.limit,
          order_type: this.order.type,
          order_by: this.order.by,
					name_or_id: this.nameOrIdSearch,
					id: this.idSearch,
					credit_pack_id: this.creditPackSearch,
          payment_gateway:this.payment_gateway
				} ).then( data => {
					if ( data.body.status ) {
						this.data = data.body.result.list;
						this.count = +data.body.result.count;
						this.summary.uniqMan = data.body.result.count_unique_client;
						this.summary.credits = data.body.result.count_credits;
						this.summary.usd = data.body.result.sum_payed;
						this.summary.uniqCreditPack = data.body.result.count_unique_credit_pack;
					} else {
						toastr.error( 'Не могу получить данные для таблицы' );
					}
					this.loader = false;
				}, err => {
					toastr.error( 'Не могу получить данные для таблицы' );
					console.log( err );
					this.loader = false;
				} )
			},
			lazySearch (){
				this.inputL = false;
				this.loading = true;
				var delay = 900;
				var this_ = this;
				setTimeout(function(){
					this_.resetPagination();
					this_.fetchData();
					this_.inputL = true;
				}, delay);
			}
		},

    beforeMount() {
      this.updOrderParams( {
        type: 'desc',
        by: 'id'
      } );
    },
    mounted() {
      this.$nextTick( () => {
        this.updOrderParams( {
          type: 'desc',
          by: 'id'
        } );
        this.fetchData()
      } )
    },
		watch: {
			idSearch( value ) {
				if (this.inputL) this.lazySearch();
			},
			nameOrIdSearch( value ) {
				if (this.inputL) this.lazySearch();
			},
			creditPackSearch( value ) {
				if (this.inputL) this.lazySearch();
			},
			  payment_gateway ( value ){
				  if (this.inputL) this.lazySearch();
			  }
		},
		computed: {},
		components: {
			'date-filter': dateFilter,
			sst
		}
	}
</script>
