<template>
	<div>
		<div class="row">
			<div class="col-md-12">
				<div class="box box-blue box-solid">
					<div class="box-header with-border">
						<h3 class="box-title">Транзакции</h3>
						<div class="box-tools pull-right">
							<router-link to="/finance/create/bonus">
								<a class="btn btn-success"
								>Бонус <i class="fa fa-plus"></i></a>
							</router-link>
							<router-link to="/finance/create/fine">
								<a class="btn btn-danger"
								>Штраф <i class="fa fa-plus"></i></a>
							</router-link>
						</div>
					</div>
					<!-- /.box-header -->
					<div class="box-body no-padding">

						<!-- filter -->
						<form class="row">
							<div class="form-group margin">
								<date-filter :changeFilter="dateFilterChange"></date-filter>

								<div class="col-md-2">
									<input type="text"
										   class="form-control"
										   placeholder="ID"
										   v-model="searchIdModel">
								</div>

								<div class="col-md-2">
									<select class="form-control"
											v-model="searchTypeModel">
										<option value=""
												class="placeholder-option"
												selected>Тип

										</option>
										<option value="1">авто</option>
										<option value="0">ручной</option>
									</select>
								</div>

								<div class="col-md-2">
									<select class="form-control"
											v-model="categorySearch">
										<option value=""
												class="placeholder-option"
												selected>Категория

										</option>
										<option v-for="category in categoryComputed"
												:value="category.name">{{category.name}}

										</option>
									</select>
								</div>

								<div class="col-md-2">
									<select class="form-control"
											v-model="statusSearch">
										<option value=""
												class="placeholder-option"
												selected>Активный

										</option>
										<option value="1">да</option>
										<option value="0">нет</option>
									</select>
								</div>

								<div class="col-md-2">
									<select-partner :options="allPartners"
													:placeholder="'Партнер'"
													:className="'select-partner'"
													:callback="partnerSelectCallback"></select-partner>
								</div>

								<div class="col-md-2">
									<select-branch :options="showBranches"
												   :placeholder="'Филиалы'"
												   :className="'select-branch'"
												   :callback="branchSelectCallback">
									</select-branch>
								</div>

								<div class="col-md-2">
									<select-admin :options="showAdmins"
												  :placeholder="'Админ'"
												  :className="'select-admin'"
												  :callback="adminSelectCallback"></select-admin>
								</div>

								<div class="col-md-2">
									<select-admin :options="showWomen"
												  :placeholder="'Клиентка'"
												  :className="'select-woman'"
												  :callback="womanSelectCallback"></select-admin>
								</div>

								<div class="col-md-2">
									<select-man :options="allMans"
												:placeholder="'Клиент'"
												:className="'select-man'"
												:callback="manSelectCallback">
									</select-man>
								</div>
							</div>
						</form>

						<div class="row"
							 v-show="preloader">
							<div class="col-md-12">
								<div class="loader">
									<span class="inner1"></span>
									<span class="inner2"></span>
									<span class="inner3"></span>
								</div>
							</div>
						</div>
						<div class="table-responsive">
							<table class="table table-bordered table-scroll"
								   id="transactionTable"
								   v-show="!preloader" style="width:100%;">
								<thead>
								<tr>
									<th>ID
									</th>
									<th>Тип
									</th>
									<th>Категория
									</th>
									<th>Бонусы
									</th>
									<th>Клиентка
									</th>
									<th>Кредиты
									</th>
									<th>Клиент
									</th>
									<th>Активный
									</th>
									<th>Партнер
									</th>
									<th>Филиал
									</th>
									<th>Админ
									</th>
									<th>Дата
									</th>
								</tr>
								</thead>
								<tbody>
								</tbody>
								<!-- Всего -->
								<tfoot>
								<tr class="bg-gray">
									<th> Всего</th>
									<th></th>
									<!-- колич. uniq категорий -->
									<th id="total-categori">{{stats.uniqCategory}}</th>
									<!-- сумма бонусов -->
									<th class="bg-navy-active"
										id="total-bonuses">{{stats.countOfBonus}}

									</th>
									<!-- колич. uniq клиенток -->
									<th id="total-women">{{stats.uniqWomen}}</th>
									<!-- сумма кредитов -->
									<th id="total-credits">{{stats.countOfCredits}}</th>
									<!-- всего uniq клиентов -->
									<th id="total-men">{{stats.uniqMans}}</th>
									<!-- колич. уник типов заказов -->
									<th id="total-active-orders">{{stats.uniqActive}}</th>
									<!-- колич. uniq партнеров -->
									<th id="total-partners">{{stats.uniqPartners}}</th>
									<!-- колич. uniq филилалов -->
									<th id="total-filials">{{stats.uniqBranches}}</th>
									<!-- колич. uniq админов -->
									<th id="total-admins">{{stats.uniqAdmins}}</th>
									<th></th>
								</tr>
								</tfoot>

							</table>
						</div>
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->

				<div class="row">
					<div class="col-md-6">
						<div class="margin-top"
							 id="orders-shows">

						</div>
					</div>
					<div class="col-md-6">
						<ul class="pagination pull-right"
							id="orders-paginate">

						</ul>
					</div>
				</div>

			</div>
		</div>
		<!-- /.row (main row) -->
	</div>
</template>

<script>

	import toastr from 'toastr'
	import moment from 'moment'
	import mySelect2 from '../../custom/select2/component.vue'
	import DateFilter from '../../custom/datefilter/component.vue'

	export default {
		name: 'Orders',
		data() {
			return {
				allOrders: [],
				currentOrdersOnPage: [],
				searchIdModel: '',
				searchTypeModel: '',
				searchStatusModel: '',
				searchPartnerModel: '',
				searchPartnerFilialModel: '',
				searchAdminModel: '',
				searchWomanModel: '',
				searchManModel: '',
				dataFromModel: Math.floor( new Date().getTime() ),
				dataToModel: Math.floor( (new Date().getTime()) + 24 * 3600 ),
				table: null,
				tableInfo: null,
				all_agencys: [],
				all_branches: [],
				all_admins: [],
				preloader: false,

				timeFrom: moment().startOf( 'day' ).startOf( 'YYYY-MM-DD HH:mm' ),
				timeTo: moment().endOf( 'day' ).endOf( 'YYYY-MM-DD HH:mm' ),
				allCategory: [],
				categorySearch: '',
				statusSearch: '',
				stats: {
					uniqCategory: 0,
					countOfBonus: 0,
					uniqWomen: 0,
					countOfCredits: 0,
					uniqMans: 0,
					uniqActive: 0,
					uniqPartners: 0,
					uniqBranches: 0,
					uniqAdmins: 0
				},
				allPartners: [],
				allBranches: [],
				allAdmins: [],
				allWomen: [],
				allMan: [],
				partnersData: [],
				showBranches: [],
				showAdmins: [],
				showWomen: [],
				selectedPartner: false,
				selectedBranch: false,
				selectedAdmin: false,
				selectedWoman: false,
				adminWithWoman: [],
				allMans: [],
				foundIndex: []
			}
		},
		beforeMount() {

		},
		methods: {
			dateFilterChange( d ) {
				this.timeFrom = d.from;
				this.timeTo = d.to;
				this.fetchData();
			},
			loadAgencyList() {
				this.$http.post( 'v2/agency/get/list', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( listData => {
					if ( listData.body.status ) {
						this.all_agencys = listData.body.result;
					} else {
						toastr.error( 'Не могу загрузить список агенств!' )
					}
				}, err => {
					toastr.error( 'Не могу загрузить список агенств!' )
					console.log( err );
				} )
			},
			updateDataTable() {
				this.preloader = true;
				let prettyOrders = [];
				for ( let i = 0; i < this.allOrders.length; i++ ) {
					let row = this.allOrders[ i ];
					let type = '<strong>ручной</strong> <span style="display:none;">0</span>'
					let woman = '<a class="show-girl" style="cursor: pointer" data-id="' + row.target_user_id + '">' + row.woman_name + '(' + row.target_user_id + ') <span style="display:none">' + row.woman_id + '</span> </a>';
					let active = '<span class="glyphicon glyphicon-ok-circle fa-2x text-green"><span style="display:none">' + row.active + '</span></span>'
					if ( row.auto === 1 ) {
						type = 'авто <span style="display:none;">1</span>'
					}
					if ( row.active === 0 ) {
						active = '<span class="glyphicon glyphicon-remove-circle fa-2x text-red"><span style="display:none">' + row.active + '</span></span>'
					}
					let bonusType = '<span class="text-black">' + row.agency_bonus + '</span>';
					let changeType = 'bonus';
					if ( row.agency_bonus < 0 ) {
						changeType = 'fine'
						bonusType = '<span class="text-red">' + row.agency_bonus + '</span>'
					}

					let man = '<a style="cursor: pointer;" class="show-man" data-id="' + row.client_id + '"> ' + row.client_name + ' (' + row.client_id + ')</a>';
					if ( row.client_id === '' ) {
						man = ''
					}
					let admin = '<a style="cursor: pointer;" class="show-admin" data-id="' + row.admin_id + '"> ' + row.admin_name + ' (' + row.admin_id + ')<span style="display: none">' + row.admin_id + '</span></a>';
					if ( row.admin_id === null ) {
						admin = ''
					}

					let agency = '<a style="cursor: pointer;" class="show-partner" data-id="' + row.agency_id + '"> ' + row.agency_name + ' (' + row.agency_id + ')<span style="display: none">' + row.agency_id + '</span></a>';
					if ( row.agency_id === null ) {
						agency = ''
					}

					let branch = '<a style="cursor: pointer;" class="show-partner" data-id="' + row.branch_agency_name + '"> ' + row.agency_name + ' (' + row.branch_agency_id + ')<span style="display: none">' + row.branch_agency_id + '</span></a>';
					if ( row.branch_agency_id === null ) {
						branch = ''
					}

					prettyOrders.push( [
						'<a class="show-transaction-d" data-id="' + row.id + '">' + row.id + '</a>',
						type,
						row.category_name + '<span style="display:none">' + row.category_name + '</span>',
						bonusType,
						woman,
						row.credits,
						man,
						active,
						agency,
						branch,
						admin,
						'<span><span style="display:none">' + row.created_at + '</span>' + moment( row.created_at * 1000 ).format( 'DD.MM.YYYY HH:mm:ss' ) + '</span>',

					] )
				}
				if ( this.table === null ) {
					this.table = $( '#transactionTable' ).DataTable( {
						data: prettyOrders,
						iDisplayLength: 20,
						"order": [ [ 11, "desc" ] ],
						"oLanguage": {
							"sLengthMenu": "Отображено _MENU_ записей на страницу",
							"sSearch": "Поиск:",
							"sZeroRecords": "Ничего не найдено - извините",
							"sInfo": "Показано с _START_ по _END_ из _TOTAL_ записей",
							"sInfoEmpty": "Показано с 0 по 0 из 0 записей",
							"sInfoFiltered": "(отфильтровано из _MAX_ записей)",
							"oPaginate": {
								"sFirst": "Первая",
								"sLast": "Посл.",
								"sNext": "След.",
								"sPrevious": "Пред.",
							}
						},
					} );
				} else {
					this.table.clear().rows.add( prettyOrders ).draw( true )
				}
				$( '#transactionTable_filter' ).remove();
				$( '#transactionTable_length' ).remove();
				$( '#orders-paginate' ).append( $( '#transactionTable_paginate' ) )
				$( '#orders-shows' ).append( $( '#transactionTable_info' ) )
				if ( this.allOrders.length < 20 ) {
					$( '#orders-paginate' ).hide()
				} else {
					$( '#orders-paginate' ).show()
				}
				this.preloader = false;
				$( ".table" ).not( '.subtable' ).wrap( '<div class="h-scroll"></div>' );

				this.initEventListeners();
			},
			initEventListeners() {
				$( '#transactionTable' ).on( 'click', '.show-man', ev => {
					this.$router.push( '/man/view/' + ev.target.dataset.id );
				} );
				$( '#transactionTable' ).on( 'click', '.show-girl', ev => {
					this.$router.push( '/woman/view/' + ev.target.dataset.id );
				} );
				$( '#transactionTable' ).on( 'click', '.show-admin', ev => {
					this.$router.push( '/partner/admin/show/' + ev.target.dataset.id );
				} );
				$( '#transactionTable' ).on( 'click', '.show-partner', ev => {
					this.$router.push( '/partners/view/' + ev.target.dataset.id );
				} );
			},
			showDetails( id ) {
				this.$router.push( '/transaction/' + id );
			},
			searchByColumn( col, data ) {
				let r = new RegExp( /(data-id=")(\d+)(")/ );
				let found = $( '#transactionTable' ).DataTable()
					.columns( col )
					.search( data )
					.draw()

				//Пересчет сумарных данных для футера таблицы
				let allRecords = found.context[ 0 ].aoData;
				this.foundIndex = found.context[ 0 ].aiDisplay;
				let foundNormalIdArray = []
				for ( let i = 0; i < this.foundIndex.length; i++ ) {
					let index = this.foundIndex[ i ];
					for ( let j = 0; j < allRecords.length; j++ ) {
						if ( allRecords[ j ].idx == index ) {
							try {
								let rc = allRecords[ j ]._aData[ 0 ];
								foundNormalIdArray.push( parseInt( rc.match( r )[ 2 ] ) );
							} catch (Ex) {
								console.log( 'Exception' )
							}
						}
					}
				}

				let allOrders = this.allOrders;
				let precessedOrders = [];
				let processedCategory = [];
				let processedWomen = [];
				let processedMan = [];
				let processedActive = [];
				let processedBranches = [];
				let processedPartners = [];
				let processedAdmins = [];

				let localStats = {
					uniqCategory: 0,
					countOfBonus: 0,
					uniqWomen: 0,
					countOfCredits: 0,
					uniqMans: 0,
					uniqActive: 0,
					uniqPartners: 0,
					uniqBranches: 0,
					uniqAdmins: 0
				};
				let finex = 0;
				let bonusx = 0
				/**
				 * Перебор всех записей. Сверяем, если идентификатор записи об оплате
				 * присутствует внутри массива записей, для которых надо посчитать сумму
				 * начинаем перебор значений массивов статистики на наличие повторяющихся значений
				 */
				for ( let i = 0; i < allOrders.length; i++ ) {
					let order = allOrders[ i ];
					/**
					 * Запись была найдена в массиве
					 */
					if ( foundNormalIdArray.indexOf( order.id ) !== -1 ) {
						if ( processedCategory.indexOf( order.category_id ) === -1 ) {
							if ( order.category_id !== '' ) {
								localStats.uniqCategory++;
								processedCategory.push( order.category_id );
							}
						}
						if ( processedWomen.indexOf( order.woman_id ) === -1 ) {
							if ( order.woman_id !== '' ) {
								localStats.uniqWomen++;
								processedWomen.push( order.woman_id );
							}
						}
						if ( processedMan.indexOf( order.client_id ) === -1 ) {
							if ( order.client_id !== '' ) {
								localStats.uniqMans++;
								processedMan.push( order.client_id );
							}
						}
						if ( processedActive.indexOf( order.active ) === -1 ) {
							if ( order.active !== '' ) {
								localStats.uniqActive++;
								processedActive.push( order.active );
							}
						}
						if ( processedBranches.indexOf( order.branch_agency_id ) === -1 ) {
							if ( order.branch_agency_id !== '' ) {
								localStats.uniqBranches++;
								processedBranches.push( order.branch_agency_id );
							}
						}
						if ( processedPartners.indexOf( order.agency_id ) === -1 ) {
							if ( order.agency_id !== '' ) {
								localStats.uniqPartners++;
								processedPartners.push( order.agency_id );
							}
						}
						if ( processedAdmins.indexOf( order.admin_id ) === -1 ) {
							if ( order.admin_id !== '' ) {
								localStats.uniqAdmins++;
								processedAdmins.push( order.admin_id );
							}
						}
						if ( order.agency_bonus < 0 ) {
							finex = finex - Math.abs( order.agency_bonus )
						} else {
							bonusx = bonusx + Math.abs( order.agency_bonus );
						}
						if ( order.credits !== '' ) {
							localStats.countOfCredits += parseInt( order.credits );
						}
					}
				}
				localStats.countOfBonus = (bonusx - Math.abs( finex )).toFixed( 2 );
				this.stats = localStats;
			},
			fetchData() {
				this.allOrders = null;
				this.currentOrdersOnPage = null;
				this.preloader = true;
				this.loadAgencyList();
				this.$http.post( 'v2/bonuses/load-transactions', {
					access_token: this.$cookie.get( 'access_token' ),
					time_from: this.timeFrom,
					time_to: this.timeTo
				} ).then( bonusesData => {
					if ( bonusesData.body.status ) {
						this.allOrders = bonusesData.body.result;
						this.updateDataTable();
						setTimeout( () => {
							this.searchByColumn( 0, '' );
						}, 100 )
					} else {
						toastr.error( 'Ошибка загрузки данных' );
					}
				}, err => {
					toastr.error( 'Ошибка загрузки данных' );
				} )

				this.$http.post( 'v2/bonuses/load-categories', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( categoryData => {
					if ( categoryData.body.status ) {
						this.allCategory = categoryData.body.result;
					} else {
						toastr.error( 'Ошибка загрузки данных категорий' );
					}
				}, err => {
					console.log( err );
					toastr.error( 'Ошибка загрузки данных категорий' );
				} )

				this.$http.post( 'v2/bonuses/get/list-agency', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( data => {
					if ( data.body.status ) {
						let d = data.body.result;
						for ( let i = 0; i < d.length; i++ ) {
							this.allPartners.push( d[ i ].main );
						}
						for ( let i = 0; i < d.length; i++ ) {
							if ( d[ i ].admins.length > 0 ) {
								let admins = d[ i ].admins;
								for ( let j = 0; j < admins.length; j++ ) {
									this.allAdmins.push( admins[ j ] );
								}
							}
						}
						for ( let i = 0; i < d.length; i++ ) {
							if ( d[ i ].branches.length > 0 ) {
								let branches = d[ i ].branches;
								for ( let j = 0; j < branches.length; j++ ) {
									this.allBranches.push( branches[ j ] );
								}
							}
						}
						for ( let i = 0; i < d.length; i++ ) {
							if ( d[ i ].woman.length > 0 ) {
								let woman = d[ i ].woman;
								for ( let j = 0; j < woman.length; j++ ) {
									this.allWomen.push( woman[ j ] );
								}
							}
						}
						//Создние списка филиалов для показа
						for ( let i = 0; i < this.allBranches.length; i++ ) {
							this.showBranches.push( this.allBranches[ i ].main )
						}
						this.partnersData = data.body.result;
						this.showAdmins = this.allAdmins;
						this.showWomen = this.allWomen;
					} else {
						toastr.error( 'Не могу получить данные для фильтров' )
					}
				}, err => {
					toastr.error( 'Не могу получить данные для фильтров' )
				} )

				this.$http.post( 'v2/bonuses/get/admins-with-woman', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( data => {
					if ( data.body.status ) {
						this.adminWithWoman = data.body.result
					} else {
						toastr.error( 'Не могу получить список девушек, которые находяться под админом!' )
					}
				}, err => {
					console.log( err );
				} )

				this.$http.post( 'v2/bonuses/get/list-man', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( data => {
					if ( data.body.status ) {
						this.allMans = data.body.result;
					} else {
						toastr.error( 'Не могу загрузить список клиентов для фильтра' )
					}
				}, err => {
					toastr.error( 'Не могу загрузить список клиентов для фильтра' )
				} )
			},
			partnerSelectCallback( value ) {
				console.log( value );
				if ( value === false ) {
					this.selectedPartner = false;
					this.showAdmins = this.allAdmins;
					this.showBranches = [];
					for ( let i = 0; i < this.allBranches.length; i++ ) {
						this.showBranches.push( this.allBranches[ i ].main )
					}
					this.searchByColumn( 8, '' )
				} else {
					this.selectedPartner = value;
					this.showAdmins = [];
					let partners = this.partnersData;
					for ( let i = 0; i < partners.length; i++ ) {
						if ( partners[ i ].main.id == value ) {
							let partnersBranches = partners[ i ].branches;
							this.showBranches = [];
							for ( let j = 0; j < partnersBranches.length; j++ ) {
								this.showBranches.push( partnersBranches[ j ].main )
							}
							this.showAdmins = partners[ i ].admins
							this.showWomen = partners[ i ].woman
						}
					}
					this.searchByColumn( 8, value )
				}
			},
			branchSelectCallback( value ) {
				if ( value === false ) {
					this.selectedBranch = false
					if ( this.selectedPartner == false ) {
						this.showWomen = this.allWomen
						this.showAdmins = this.allAdmins
					} else {
						let partners = this.partnersData;
						for ( let i = 0; i < partners.length; i++ ) {
							if ( partners[ i ].main.id == this.selectedPartner ) {
								this.showWomen = partners[ i ].woman
								this.showAdmins = partners[ i ].admins;
							}
						}
					}
					this.searchByColumn( 9, '' )
				} else {
					let branches = this.allBranches;
					this.selectedBranch = value;
					for ( let i = 0; i < branches.length; i++ ) {
						if ( branches[ i ].main.id == value ) {
							this.showAdmins = branches[ i ].admins
							this.showWomen = branches[ i ].woman
						}
					}
					this.searchByColumn( 9, value )
				}
			},
			adminSelectCallback( value ) {
				if ( value ) {
					let womanRelatedToAdmin = this.adminWithWoman;
					for ( let i = 0; i < womanRelatedToAdmin.length; i++ ) {
						if ( womanRelatedToAdmin[ i ].admin.id == value ) {
							this.showWomen = womanRelatedToAdmin[ i ].woman;
						}
					}
					this.searchByColumn( 10, value )
				} else {
					if ( this.selectedBranch ) {
						let branches = this.allBranches;
						for ( let i = 0; i < branches.length; i++ ) {
							if ( branches[ i ].main.id == this.selectedBranch ) {
								this.showWomen = branches[ i ].woman;
							}
						}
					} else if ( this.selectedPartner ) {
						let partners = this.partnersData;
						for ( let i = 0; i < partners.length; i++ ) {
							if ( partners[ i ].main.id == this.selectedPartner ) {
								this.showWomen = partners[ i ].woman
							}
						}
					} else {
						this.showWomen = this.allWomen;
					}
					this.searchByColumn( 10, '' )
				}
			},
			womanSelectCallback( value ) {
				if ( value ) {
					this.searchByColumn( 4, value )
				} else {
					this.searchByColumn( 4, '' )
				}
			},
			manSelectCallback( value ) {
				if ( value ) {
					this.searchByColumn( 6, value )
				} else {
					this.searchByColumn( 6, '' )
				}
			},
			navigator( to ) {
				this.$router.push( to )
			}
		},
		mounted() {

			$( '#transactionTable' ).on( 'click', '.show-girl', function ( event ) {
				console.log( 'Show woman' );
			} )

			let navigator = this.navigator;

			$( '#transactionTable' ).on( 'click', '.edit-manual-transaction', function ( event ) {
				if ( $( this ).data( 'type' ) == 'fine' ) {
					navigator( '/transaction/edit/manual/fine/' + $( this ).data( 'id' ) )
				} else {
					navigator( '/transaction/edit/manual/bonus/' + $( this ).data( 'id' ) )
				}
			} )
			$( '#transactionTable' ).on( 'click', '.edit-auto-transaction', function ( event ) {
				if ( $( this ).data( 'type' ) == 'fine' ) {
					navigator( '/transaction/edit/auto/fine/' + $( this ).data( 'id' ) )
				} else {
					navigator( '/transaction/edit/auto/bonus/' + $( this ).data( 'id' ) )
				}
			} )
			let d = this.showDetails
			$( '#transactionTable' ).on( 'click', '.show-transaction-d', function ( ev ) {
				d( $( this ).data( 'id' ) )

			} )

		},
		watch: {
			searchIdModel( value ) {
				this.searchByColumn( 0, value );
			},
			searchTypeModel( value ) {
				this.searchByColumn( 1, value )
			},
			categorySearch( value ) {
				this.searchByColumn( 2, value )
			},
			statusSearch( value ) {
				this.searchByColumn( 7, value )
			}
		},
		computed: {
			categoryComputed() {
				return this.allCategory;
			}
		},
		components: {
			'select-partner': mySelect2,
			'select-branch': mySelect2,
			'select-admin': mySelect2,
			'select-woman': mySelect2,
			'select-man': mySelect2,
			'date-filter': DateFilter,
		}
	}
</script>

<style lang="css">
	.show-girl {
		cursor: pointer !important;
	}

	.loader {
		display: block;
		width: 5em;
		margin: 10% auto;
	}

	@-webkit-keyframes rotate {
		0% {
			-webkit-transform: translateY(0%);
		}
		30% {
			-webkit-transform: translateY(-0.25em);
		}
		50% {
			-webkit-transform: translateY(0%);
		}
		70% {
			-webkit-transform: translateY(0.25em);
		}
	}

	.loader {
		display: block;
	}

	.loader .inner1,
	.loader .inner2,
	.loader .inner3 {
		display: inline-block;
		margin: 0.125em;
		width: 0.5em;
		height: 0.5em;
		border: 1px solid lightgray;
		border-radius: 1em;
		background-color: lightgray;
		-webkit-transform-origin: 50%;
		-webkit-animation-duration: 0.75s;
		-webkit-animation-name: rotate;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-timing-function: linear;
	}

	.loader .inner2 {
		-webkit-animation-delay: 0.1875s;
	}

	.loader .inner3 {
		-webkit-animation-delay: 0.375s;
	}
</style>
