<template>
	<div>
		<h2 class="page-header">
			<div class="row">
				<div class="col-sm-8 text-left">{{title}} ID: {{transaction.id}}</div>
				<div class="col-sm-4 text-right" v-if="canEdit && displayEditLink">
					<router-link :to="editLink" v-if="false">
						<!--temporary hidden-->
						<a class="btn btn-success">Редактировать
							<i class="fa fa-edit"></i>
						</a>
					</router-link>
				</div>
			</div>
		</h2>
		<div class="row">
			<div class="col-md-10">
				<div class="form-group row">
					<label class="col-md-2 m-t-0">Дата создания:</label>
					<div class="col-md-8">{{compCreated}}</div>
				</div>
				<div class="form-group row">
					<label class="col-md-2 m-t-0">Тип:</label>
					<div class="col-md-8">{{compAuto}}</div>
				</div>
				<div class="form-group row">
					<label class="col-md-2 m-t-0">Категория:</label>
					<div class="col-md-8">{{transaction.category.name}}</div>
				</div>
				<div class="form-group row">
					<label class="col-md-2 m-t-0">Описание:</label>
					<div class="col-md-4">{{transaction.description}}
					</div>
				</div>
				<div class="form-group row" v-if="transaction.auto && isFine">
					<label class="col-md-2 m-t-0">ID транзакции:</label>
					<div class="col-md-4">{{transaction.note_id}}
					</div>
				</div>
				<div class="form-group row">
					<label class="col-md-2 m-t-0">Партнер:</label>
					<div class="col-md-8">
						<router-link :to="'/partners/view/' + transaction.agency.id">
							<a>{{transaction.agency.name}}</a>
						</router-link>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-md-2 m-t-0">Клиентка:</label>
					<div class="col-md-8">
						<router-link :to="'/woman/view/' + transaction.woman.id">
							<a>{{transaction.woman.name}} ({{transaction.woman.id}})</a>
						</router-link>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-md-2 m-t-0" v-if="isFine">Размер штрафа:</label>
					<label class="col-md-2 m-t-0" v-else>Размер бонуса:</label>
					<div class="col-md-8">{{transaction.agency_bonus}}</div>
				</div>
				<div class="form-group row" v-if="transaction.auto === 1">
					<label class="col-md-2 m-t-0">Клиент:</label>
					<div class="col-md-8">
						<router-link :to="'/man/view/' + transaction.client.id">
							<a>{{transaction.client.name}} ({{transaction.client.id}})</a>
						</router-link>
					</div>
				</div>
				<div class="form-group row" v-if="transaction.auto === 1">
					<label class="col-md-2 m-t-0">Количество кредитов:</label>
					<div class="col-md-8">{{transaction.credits}}</div>
				</div>
				<div class="form-group row" v-if="transaction.photo_to_unlock">
					<label class="col-md-2 m-t-0">ID фотографии:</label>
					<div class="col-md-8">{{transaction.photo_to_unlock.woman_photo_id}}</div>
				</div>
				<div class="form-group row">
					<label class="col-md-2 m-t-0">Статус:</label>
					<div class="col-md-8">{{compActive}}</div>
				</div>
				<div class="form-group row" v-show="isCanReview">
					<label class="col-md-2 m-t-0">Пересмотрение:</label>
					<div class="col-md-8">{{compReview}}</div>
				</div>
			</div>
		</div>

	</div>
</template>

<script>
	import toastr from 'toastr'
	import moment from 'moment'

	export default {
		name: 'TransactionDetail',
		data() {
			return {
				transaction: {
					id: this.$route.params.id,
					created_at: 1491138376,
					agency_profit_paid_id: null,
					category: {
						id: 0,
						name: ''
					},
					note_id: 0,
					description: '',
					agency: {
						id: 0,
						name: ''
					},
					woman: {
						id: 0,
						name: ''
					},
					agency_bonus: 0,
					status: 0,
					auto: 0,
					client: {
						id: '',
						name: ''
					},
					credits: '',
					can_review: 1,
				},
				isFine: false,
				title: 'Бонус',
				canEdit: false
			}
		},
		computed: {
			displayEditLink() {
				if ( this.transaction.auto && this.transaction.category.id >= 7 && this.transaction.category.id <= 9 ) { //7-9 - chat categories (text, video, private)
					return false
				} else if ( this.transaction.agency_profit_paid_id ) { // если произошла выплата
					return false
				}
				return true;
			},
			editLink() {
				if ( this.isFine ) {
					if ( this.transaction.auto == 1 ) {
						return '/transaction/edit/auto/fine/' + this.$route.params.id
					} else {
						return '/transaction/edit/manual/fine/' + this.$route.params.id
					}
				} else {
					if ( this.transaction.auto == 1 ) {
						return '/transaction/edit/auto/bonus/' + this.$route.params.id
					} else {
						return '/transaction/edit/manual/bonus/' + this.$route.params.id
					}
				}
			},
			compCreated() {
				return moment( this.transaction.created_at * 1000 ).format( 'DD-MM-YYYY HH:ss' )
			},
			compAuto() {
				if ( this.transaction.auto == 1 ) {
					return 'авто'
				} else {
					return 'ручной'
				}
			},
			compActive() {
				if ( this.transaction.status == 1 ) {
					return 'Активный'
				} else {
					return 'Неактивный'
				}
			},
			compReview() {
				if ( this.transaction.can_review == 1 ) {
					return 'да'
				} else {
					return 'нет'
				}
			},
			isCanReview() {
				if ( this.transaction.auto !== 1 && this.isFine ) {
					return true;
				}
			}
		},
		beforeMount() {
			this.fetchData();
		},
		methods: {
			fetchData() {
				this.$http.post( 'v2/bonuses/update/agency-bonus-detail', {
					access_token: this.$cookie.get( 'access_token' ),
					agency_bonus_change_id: this.$route.params.id
				} ).then( data => {
					if ( data.body.status ) {
						this.transaction = data.body.result;
						if ( this.transaction.agency_bonus < 0 ) {
							this.isFine = true;
							this.title = 'Штраф'
						}
						this.canEdit = true;
					} else {
						toastr.error( 'Не могу загрузить данные' );
						toastr.info( data.body.desc );
					}
				}, err => {
					toastr.error( 'Не могу загрузить данные' );
				} )
			}
		}
	}
</script>
