<template>
  <div>
    <div class="row">
      <div class="col-md-12">
        <div class="box box-blue box-solid">
          <div class="box-header with-border">
            <h3 class="box-title">Транзакции</h3>
            <div class="box-tools pull-right">
              <router-link :to="{name: 'Создать бонус'}" class="btn btn-success">Бонус <i
                  class="fa fa-plus"></i></router-link>
              <router-link :to="{name: 'Создать штраф'}" class="btn btn-danger">Штраф <i
                  class="fa fa-plus"></i></router-link>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body no-padding">

            <!-- filter -->
            <form class="row">
              <div class="form-group margin">
                <div class="col-md-1">
                  <input type="text"
                         class="form-control"
                         placeholder="ID"
                         v-model="id">
                </div>

                <div class="col-md-1">
                  <label for="local-ch">
                    <input type="checkbox"
                           v-on:change="fetchData"
                           id="local-ch"
                           v-model="localTZ"> Лок. врм
                  </label>

                </div>

                <date-filter :changeFilter="dateFilterChange"></date-filter>

                <div class="col-md-2">
                  <select class="form-control"
                          v-model="type">
                    <option value=""
                            class="placeholder-option"
                            selected>Тип

                    </option>
                    <option value="1">авто</option>
                    <option value="0">ручной</option>
                  </select>
                </div>

                <div class="col-md-2">
                  <select class="form-control"
                          v-model="category">
                    <option value=""
                            class="placeholder-option"
                            selected>Категория

                    </option>
                    <option v-for="category in categories"
                            :value="category.id">{{category.name}}
                    </option>
                  </select>
                </div>

                <div class="col-md-2">
                  <select class="form-control"
                          v-model="active">
                    <option value=""
                            class="placeholder-option"
                            selected>Активный

                    </option>
                    <option value="1">да</option>
                    <option value="0">нет</option>
                  </select>
                </div>

                <div class="col-md-2">
                  <app-select :options="displayedPartners" v-model="partner"
                              :placeholder="'Партнер'"
                              @select="selectPartnerCallback($event)"></app-select>
                </div>

                <div class="col-md-2">
                  <app-select :options="displayedBranches" v-model="branch"
                              :placeholder="'Филиалы'"
                              @select="selectBranchCallback($event)">
                  </app-select>
                </div>

                <div class="col-md-2">
                  <app-select :options="displayedAdmins" v-model="admin"
                              :placeholder="'Админ'"
                              @select="selectAdminCallback($event)"></app-select>
                </div>

                <div class="col-md-2">
                  <app-select :options="displayedWomen" v-model="woman"
                              :placeholder="'Клиентка'"
                              :className="'select-woman'"
                              @select="selectWomanCallback($event)"></app-select>
                </div>

                <div class="col-md-2">
                  <app-select :options="displayedMen" v-model="man"
                              :placeholder="'Клиент'"
                              @select="selectManCallback($event)">
                  </app-select>
                </div>
              </div>
            </form>
            <div class="row"
                 v-show="loader">
              <preloader></preloader>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered table-scroll dataTable"
                     v-show="!loader" style="width:100%;">
                <thead>
                <tr>
                  <th :class="thClass('id')" @click="changeOrder('id')">ID</th>
                  <th :class="thClass('auto')" @click="changeOrder('auto')">Тип</th>
                  <th :class="thClass('category_name')"
                      @click="changeOrder('category_name')">Категория (id)
                  </th>
                  <th :class="thClass('agency_bonus')" @click="changeOrder('agency_bonus')">
                    Бонусы / Штрафы
                  </th>
                  <th :class="thClass('target_user_id')" @click="changeOrder('target_user_id')">
                    Клиентка
                  </th>
                  <th :class="thClass('credits')" @click="changeOrder('credits')">Кредиты</th>
                  <th :class="thClass('client_id')" @click="changeOrder('client_id')">Клиент</th>
                  <th :class="thClass('active')" @click="changeOrder('active')">Активный</th>
                  <th :class="thClass('agency_id')" @click="changeOrder('agency_id')">Партнер</th>
                  <th :class="thClass('branch_agency_id')" @click="changeOrder('branch_agency_id')">
                    Филиал
                  </th>
                  <th :class="thClass('admin_id')" @click="changeOrder('admin_id')">Админ</th>
                  <th :class="thClass('created_at')" @click="changeOrder('created_at')">Дата</th>
                </tr>
                <tr v-if="!data.length && !loader">
                  <td colspan="12" class="dataTables_empty">По Вашему запросу ничего не найдено.</td>
                </tr>
                </thead>
                <tbody>
                <tr v-for="i in data" :key="i.id">
                  <td>
                    <router-link :to="{name: 'Просмотр транзакции', params: {id: i.id}}">{{i.id}}
                    </router-link>
                  </td>
                  <td>
                    <template v-if="i.auto">
                      авто
                    </template>
                    <template v-else>
                      ручной
                    </template>
                  </td>
                  <td>
                    <!--{{i.category_name}} <span v-if="i.note_id">(id: {{i.note_id}})</span>-->

                    <router-link v-if="i.agency_bonus_change_type_id == 10 || i.agency_bonus_change_type_id == 4 || i.agency_bonus_change_type_id == 7"
                                 :to="{ path: '/messaging-history', query: { time: i.created_at, woman: i.target_user_id, man: i.client_id }}">
                      {{i.category_name}} <span v-if="i.note_id">(id: {{i.note_id}})</span>
                    </router-link>

                    <span v-else>
											{{i.category_name}} <span v-if="i.note_id">(id: {{i.note_id}})</span>
										</span>

                  </td>
                  <td>
                    <span v-if="i.agency_bonus >= 0" class="text-black">{{i.agency_bonus}}</span>
                    <span v-else class="text-red">{{i.agency_bonus}}</span>
                  </td>
                  <td>
                    <router-link
                        :to="{name: 'Профиль клиентки', params: {woman: i.target_user_id}}">
                      {{i.woman_name}} (id: {{i.target_user_id}})
                    </router-link>
                  </td>
                  <td>{{i.credits}}</td>
                  <td>
                    <template v-if="i.client_id">
                      <router-link :to="{name: 'Профиль клиента', params: {man: i.client_id}}">
                        {{i.client_name}} (id: {{i.client_id}})
                      </router-link>
                    </template>
                    <template v-else>
                      Не указан
                    </template>
                  </td>
                  <td>
                    <template v-if="i.active">
                      <span class="glyphicon glyphicon-ok-circle fa-2x text-green"></span>
                    </template>
                    <template v-else>
                      <span class="glyphicon glyphicon-remove-circle fa-2x text-red"></span>
                    </template>
                  </td>
                  <td>
                    <template v-if="i.agency_id">
                      <router-link :to="{name: 'Просмотр партнера', params: {id: i.agency_id}}">
                        {{i.agency_name}} (id: {{i.agency_id}})
                      </router-link>
                    </template>
                    <template v-else>
                      Не указан
                    </template>
                  </td>
                  <td>
                    <template v-if="i.branch_agency_id">
                      <router-link
                          :to="{name: 'Просмотр партнера', params: {id: i.branch_agency_id}}">
                        {{i.branch_agency_name}} (id: {{i.branch_agency_id}})
                      </router-link>
                    </template>
                    <template v-else>
                      Не указан
                    </template>
                  </td>
                  <td>
                    <template v-if="i.admin_id">
                      <router-link :to="{name: 'Профиль админа', params: {admin: i.admin_id}}">
                        {{i.admin_name}} (id: {{i.admin_id}})
                      </router-link>
                    </template>
                    <template v-else>
                      Не указан
                    </template>
                  </td>
                  <td>{{date( i.created_at )}}</td>
                </tr>
                </tbody>
                <!-- Всего -->
                <tfoot>
                <tr class="bg-gray">
                  <th>Всего:</th>
                  <th></th>
                  <!-- колич. uniq категорий -->
                  <th>Уник.: {{stats.category_id}}</th>
                  <!-- сумма бонусов -->
                  <th>{{stats.bonus}}</th>
                  <!-- колич. uniq клиенток -->
                  <th>Уник.: {{stats.target_user_id}}</th>
                  <!-- сумма кредитов -->
                  <th>{{stats.credits}}</th>
                  <!-- всего uniq клиентов -->
                  <th>Уник.: {{stats.client_id}}</th>
                  <!-- колич. уник типов заказов -->
                  <th></th>
                  <!-- колич. uniq партнеров -->
                  <th>Уник.: {{stats.agency_id}}</th>
                  <!-- колич. uniq филилалов -->
                  <th>Уник.: {{stats.branch_agency_id}}</th>
                  <!-- колич. uniq админов -->
                  <th>Уник.: {{stats.admin_id}}</th>
                  <th></th>
                </tr>
                </tfoot>
              </table>
            </div>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
        <div class="row">
          <div class="col-md-6">
            <div class="margin-top dataTables_info" id="womanLettersInfo">
              <p v-if="data.length">
                Показано с {{offset + 1}} по {{offset + limit < count ? offset + limit : count}} из {{count}} записей</p>
            </div>
          </div>
          <div class="col-md-6">
            <uib-pagination class="pull-right" v-model="pagination" :total-items="count" :rotate="true"
                            :force-ellipses="true" :boundary-links="true" last-text="Посл."
                            first-text="Перв."
                            :direction-links="true" :items-per-page="limit" :max-size="5"
                            previous-text="Пред."
                            next-text="След." @change="switchPage"></uib-pagination>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row (main row) -->
  </div>
</template>

<script>

import _ from 'lodash'
import toastr from 'toastr'
import moment from 'moment'
import appSelect from '../../custom/select2/select-new.vue'
import DateFilter from '../../custom/datefilter/component.vue'
import preloader from '../../custom/normalPreloader/component.vue'

export default {
  name: 'Orders',
  data() {
    return {
      localTZ: false,
      limit: 20,
      offset: 0,
      loader: true,
      id: '',
      type: '',
      timeFrom: moment().startOf( 'day' ).startOf( 'YYYY-MM-DD HH:mm' ),
      timeTo: moment().endOf( 'day' ).endOf( 'YYYY-MM-DD HH:mm' ),
      categories: [],
      category: '',
      active: '',
      stats: {
        admin_id: 0,
        agency_id: 0,
        branch_agency_id: 0,
        client_id: 0,
        target_user_id: 0,
        bonus: 0,
        category_id: 0
      },
      data: [],
      allPartners: [],
      allBranches: [],
      allAdmins: [],
      allWomen: [],
      mans: [],
      partner: 0,
      branch: 0,
      admin: 0,
      woman: 0,
      man: 0,
      count: 0,
      order_type: 'desc', // @boolOrder: true - desc, false - asc
      order_by: 'created_at',
      sort: [
        { active: false, name: 'id' },
        { active: false, name: 'auto' },
        { active: false, name: 'category_name' },
        { active: false, name: 'active' },
        { active: false, name: 'agency_id' },
        { active: false, name: 'branch_agency_id' },
        { active: false, name: 'admin_id' },
        { active: false, name: 'target_user_id' },
        { active: false, name: 'client_id' },
        { active: false, name: 'credits' },
        { active: false, name: 'agency_bonus' },
        { active: true, name: 'created_at' },
      ],
      pagination: {}
    }
  },
  methods: {
    dateFilterChange( d ) {
      this.timeFrom = d.from;
      this.timeTo = d.to;
      if ( 'currentPage' in this.pagination ) this.pagination.currentPage = 1;
      this.offset = 0;
      this.fetchData();
    },
    thClass( param ) {
      let record = this.sort.find( i => i.name === param );
      return {
        sorting: !record.active,
        sorting_asc: record.active && !this.boolOrder,
        sorting_desc: record.active && this.boolOrder
      }
    },
    changeOrder( str ) {
      let record;
      this.sort.forEach( i => {
        if ( i.name === str ) record = i;
        i.active = false;
      } )
      record.active = true;

      if ( this.order_by !== str ) {
        this.order_type = 'desc';
      } else {
        this.order_type = this.boolOrder ? 'asc' : 'desc'
      }
      this.order_by = str;
      this.search()

    },
    search: _.debounce( function () {
      this.fetchData()
    }, 300 ),
    date( ts ) {
      if ( this.localTZ ) {
        return moment( ts * 1000 ).format( 'DD.MM.YYYY HH:mm:ss' );
      }
      return moment( ts * 1000 ).utc().format( 'DD.MM.YYYY HH:mm:ss' );
    },
    selectPartnerCallback( value ) {
      this.branch = this.admin = this.woman = this.man = 0;
      if ( 'currentPage' in this.pagination ) this.pagination.currentPage = 1;
      this.offset = 0;
      this.fetchData();
      if ( value ) {
        this.fetchAdminsByAgency( value );
        this.fetchWomanByAgency( value );
        this.fetchBranchByAgency( value )
      } else {
        this.fetchBranches();
        this.fetchAdmins();
        this.fetchWomen();
      }
    },
    selectBranchCallback( value ) {
      if ( !this.partner ) {
        this.admin = this.woman = this.man = 0;
      }
      if ( value ) {
        if ( 'currentPage' in this.pagination ) this.pagination.currentPage = 1;
        this.offset = 0;
        this.fetchData();
        this.fetchAdminsByAgency( value );
        this.fetchWomanByAgency( value );
      } else {
        if ( !this.partner ) {
          this.fetchBranches();
          this.fetchAdmins();
          this.fetchWomen();
          if ( 'currentPage' in this.pagination ) this.pagination.currentPage = 1;
          this.offset = 0;
          this.fetchData()
        }
        if ( this.partner ) {
          this.selectPartnerCallback( this.partner )
        }
      }
    },
    selectAdminCallback( value ) {
      this.woman = 0;
      if ( value ) {
        if ( 'currentPage' in this.pagination ) this.pagination.currentPage = 1;
        this.offset = 0;
        this.fetchData();
      } else {
        this.selectBranchCallback( this.branch )
        this.fetchWomen();
      }
    },
    selectManCallback() {
      if ( 'currentPage' in this.pagination ) this.pagination.currentPage = 1;
      this.offset = 0;
      this.fetchData();
    },
    selectWomanCallback() {
      if ( 'currentPage' in this.pagination ) this.pagination.currentPage = 1;
      this.offset = 0;
      this.fetchData()
    },
    fetchAdminsByAgency( id ) {
      this.$http.post( 'v2/agency/get/admin-in-agency', {
        access_token: this.$cookie.get( 'access_token' ),
        agency_id: id
      } ).then( data => {
        if ( data.body.status ) {
          this.allAdmins = data.body.result;
        } else {
          toastr.error( 'Не могу загрузить список админов' )
        }
      }, err => {
        toastr.error( 'Не могу загрузить список админов' );
        console.log( err );
      } );
    },
    fetchWomanByAgency( value ) {
      this.$http.post( 'v2/agency/get/woman-in-agency', {
        access_token: this.$cookie.get( 'access_token' ),
        agency_id: value
      } ).then( data => {
        if ( data.body.status ) {
          this.allWomen = data.body.result;
        }
      } )
    },
    fetchBranchByAgency( value ) {
      this.$http.post( 'v2/agency/get/branches', {
        access_token: this.$cookie.get( 'access_token' ),
      } ).then( data => {
        if ( data.body.status ) {
          this.allBranches = data.body.result.filter( i => i.duty_agency.id === value )
        }
      } )
    },
    fetchBranches() {
      this.$http.post( 'v2/agency/get/branches', {
        access_token: this.$cookie.get( 'access_token' )
      } ).then( data => {
        if ( data.body.status ) {
          this.allBranches = data.body.result;
        } else {
          toastr.error( 'Не могу получить список филиалов' )
          toastr.info( data.body.desc )
        }
      }, err => {
        toastr.error( 'Не могу получить список филиалов' )
      } )
    },
    fetchAdmins() {
      this.$http.post( 'v2/agency/get/admins', {
        access_token: this.$cookie.get( 'access_token' )
      } ).then( data => {
        if ( data.body.status ) {
          this.allAdmins = data.body.result
        } else {
          toastr.error( 'Не могу получить список админов сайта' )
        }
      }, err => {
        toastr.error( 'Не могу получить список админов сайта' )
      } )
    },
    fetchPartner() {
      this.$http.post( 'v2/agency/get/list', {
        access_token: this.$cookie.get( 'access_token' )
      } ).then( data => {
        if ( data.body.status ) {
          this.allPartners = data.body.result;
        } else {
          toastr.error( 'Не могу загрузить список партнеров' )
          toastr.info( data.body.desc );
        }
      }, err => {
        toastr.error( 'Не могу загрузить список партнеров' )
      } )
    },
    fetchWomen() {
      this.$http.post( 'v2/femal/load-list', {
        access_token: this.$cookie.get( 'access_token' )
      } ).then( data => {
        if ( data.body.status ) {
          this.allWomen = data.body.result
        } else {
          toastr.error( 'Не могу загрузить список клиенток' )
        }
      }, err => {
        toastr.error( 'Не могу загрузить список клиенток' )
      } )
    },
    fetchManFilter() {
      this.$http.post( 'v2/male/easy-load', {
        access_token: this.$cookie.get( 'access_token' )
      } ).then( data => {
        if ( data.body.status ) {
          this.mans = data.body.result;
        } else {
          toastr.err( 'Не могу загрузить список клиентов' );
          toastr.info( data.body.desc )
        }
      }, err => {
        toastr.err( 'Не могу загрузить список клиентов' );
      } )
    },
    loadCategories() {
      this.$http.post( 'v2/bonuses/load-categories', {
        access_token: this.$cookie.get( 'access_token' )
      } ).then( categoryData => {
        if ( categoryData.body.status ) {
          this.categories = categoryData.body.result;
        } else {
          toastr.error( 'Ошибка загрузки данных категорий' );
        }
      }, err => {
        console.log( err );
        toastr.error( 'Ошибка загрузки данных категорий' );
      } )
    },
    switchPage() {
      this.offset = this.pagination.currentPage * this.limit - this.limit;
      this.fetchData();
    },
    fetchData() {
      window.scrollTo( 0, 0 );
      this.loader = true;
      this.$http.post( 'v2/bonuses/load-transactions', {
        access_token: this.$cookie.get( 'access_token' ),
        time_from: this.timeFrom,
        time_to: this.timeTo,
        limit: this.limit,
        offset: this.offset,
        id: this.id,
        auto: this.type,
        agency_bonus_change_type_id: this.category,
        active: this.active,
        agency_id: this.partner || '',
        branch_agency_id: this.branch || '',
        admin_id: this.admin || '',
        target_user_id: this.woman || '',
        client_id: this.man || '',
        order_type: this.order_type,
        order_by: this.order_by,
      } ).then( data => {
        if ( data.body.status ) {
          this.data = data.body.result;
          this.count = +data.body.count;
          Object.assign( this.stats, data.body.unique );
          this.stats.credits = data.body.sum.credits_sum;
          this.stats.bonus = data.body.sum.agency_bonus_all_sum;
        } else {
          this.data = [];
          toastr.error( data.body.desc );
        }
        this.loader = false;
      }, err => {
        toastr.error( 'Ошибка загрузки данных' );
        this.loader = false;
      } )
    }
  },
  watch: {
    id() {
      if ( 'currentPage' in this.pagination ) this.pagination.currentPage = 1;
      this.offset = 0;
      this.fetchData();
    },
    type() {
      if ( 'currentPage' in this.pagination ) this.pagination.currentPage = 1;
      this.offset = 0;
      this.fetchData();
    },
    category() {
      if ( 'currentPage' in this.pagination ) this.pagination.currentPage = 1;
      this.offset = 0;
      this.fetchData();
    },
    active() {
      if ( 'currentPage' in this.pagination ) this.pagination.currentPage = 1;
      this.offset = 0;
      this.fetchData();
    }
  },
  computed: {
    boolOrder() {
      return this.order_type === 'desc'
    },
    displayedPartners() {
      return this.allPartners.map( i => {
        return {
          id: +i.id,
          name: `${i.name} (id: ${i.id})`
        }
      } )
    },
    displayedBranches() {
      return this.allBranches.map( i => {
        return {
          id: +i.id,
          name: `${i.name} (id: ${i.id})`
        }
      } )
    },
    displayedAdmins() {
      return this.allAdmins.map( i => {
        if ( i.admin_name ) {
          return {
            id: +i.admin_user_id,
            name: `${(i.admin_name.trim() + ' ' + i.admin_surname.trim()).trim()} (id: ${i.admin_user_id})`
          }
        }
        return {
          id: +i.id,
          name: `${i.name.trim()} (id: ${i.id})`
        }
      } )
    },
    displayedWomen() {
      //TODO: fit answers
      return this.allWomen.map( i => {
        if ( 'fullName' in i ) {
          return {
            id: +i.id,
            name: `${i.fullName.trim()} (id: ${i.id})`
          }
        } else if ( 'surname' in i ) {
          return {
            id: +i.user_id,
            name: `${(i.name.trim() + ' ' + i.surname.trim()).trim()} (id: ${i.user_id})`
          }
        }
        return {
          id: +i.id,
          name: `${i.name.trim()} (id: ${i.id})`
        }
      } )
    },
    displayedMen() {
      return this.mans.map( i => {
        return {
          id: +i.user_id,
          name: `${(i.name.trim() + ' ' + i.surname.trim()).trim()} (id: ${i.user_id})`
        }
      } )
    }
  },
  mounted() {
    this.loadCategories();
    this.fetchWomen();
    this.fetchPartner();
    this.fetchBranches();
    this.fetchAdmins();
    this.fetchManFilter();
  },
  components: {
    appSelect,
    'date-filter': DateFilter,
    preloader
  }
}
</script>

<style lang="css">
.show-girl {
  cursor: pointer !important;
}
</style>
