<template>
	<div>
		<div class="row">
			<div class="col-md-12">
				<div class="box box-blue box-solid">
					<div class="box-header with-border">
						<h3 class="box-title">Транзакции</h3>
						<div class="box-tools pull-right">
							<router-link :to="{name: 'Создать бонус'}" class="btn btn-success">Бонус <i
									class="fa fa-plus"></i></router-link>
							<router-link :to="{name: 'Создать штраф'}" class="btn btn-danger">Штраф <i
									class="fa fa-plus"></i></router-link>
						</div>
					</div>
					<!-- /.box-header -->
					<div class="box-body no-padding">

						<!-- filter -->
						<form class="row">
							<div class="form-group margin">
								<date-filter :changeFilter="dateFilterChange"></date-filter>

								<div class="col-md-2">
									<input type="text"
										   class="form-control"
										   placeholder="ID"
										   v-model="searchIdModel">
								</div>

								<div class="col-md-2">
									<select class="form-control"
											v-model="searchTypeModel">
										<option value=""
												class="placeholder-option"
												selected>Тип

										</option>
										<option value="1">авто</option>
										<option value="0">ручной</option>
									</select>
								</div>

								<div class="col-md-2">
									<select class="form-control"
											v-model="categorySearch">
										<option value=""
												class="placeholder-option"
												selected>Категория

										</option>
										<option v-for="category in categories"
												:value="category.name">{{category.name}}
										</option>
									</select>
								</div>

								<div class="col-md-2">
									<select class="form-control"
											v-model="statusSearch">
										<option value=""
												class="placeholder-option"
												selected>Активный

										</option>
										<option value="1">да</option>
										<option value="0">нет</option>
									</select>
								</div>

								<div class="col-md-2">
									<app-select :options="displayedPartners" v-model="partner"
												:placeholder="'Партнер'"
												@select="selectPartnerCallback($event)"></app-select>
								</div>

								<div class="col-md-2">
									<app-select :options="displayedBranches" v-model="branch"
												:placeholder="'Филиалы'"
												@select="selectBranchCallback($event)">
									</app-select>
								</div>

								<div class="col-md-2">
									<app-select :options="displayedAdmins" v-model="admin"
												:placeholder="'Админ'"
												@select="selectAdminCallback($event)"></app-select>
								</div>

								<div class="col-md-2">
									<app-select :options="displayedWomen" v-model="woman"
												:placeholder="'Клиентка'"
												:className="'select-woman'"
												@select="selectWomanCallback($event)"></app-select>
								</div>

								<div class="col-md-2">
									<app-select :options="displayedMen" v-model="man"
												:placeholder="'Клиент'"
												@select="selectManCallback($event)">
									</app-select>
								</div>
							</div>
						</form>
						<div class="row"
							 v-show="loader">
							<div class="col-md-12">
								<div class="loader">
									<span class="inner1"></span>
									<span class="inner2"></span>
									<span class="inner3"></span>
								</div>
							</div>
						</div>
						<div class="table-responsive">
							<table class="table table-bordered table-scroll"
								   id="transactionTable" ref="table" data-page-length="20"
								   v-show="!loader" style="width:100%;">
								<thead>
								<tr>
									<th>ID</th>
									<th>Тип</th>
									<th>Категория</th>
									<th>Бонусы / Штрафы</th>
									<th>Клиентка</th>
									<th>Кредиты</th>
									<th>Клиент</th>
									<th>Активный</th>
									<th>Партнер</th>
									<th>Филиал</th>
									<th>Админ</th>
									<th>Дата</th>
								</tr>
								</thead>
								<tbody>
								</tbody>
								<!-- Всего -->
								<tfoot>
								<tr class="bg-gray">
									<th>Всего:</th>
									<th></th>
									<!-- колич. uniq категорий -->
									<th>Уник.: {{stats.uniqCategory}}</th>
									<!-- сумма бонусов -->
									<th>{{stats.countOfBonus}}</th>
									<!-- колич. uniq клиенток -->
									<th>Уник.: {{stats.uniqWomen}}</th>
									<!-- сумма кредитов -->
									<th>{{stats.countOfCredits}}</th>
									<!-- всего uniq клиентов -->
									<th>Уник.: {{stats.uniqMans}}</th>
									<!-- колич. уник типов заказов -->
									<th>Уник.: {{stats.uniqActive}}</th>
									<!-- колич. uniq партнеров -->
									<th>Уник.: {{stats.uniqPartners}}</th>
									<!-- колич. uniq филилалов -->
									<th>Уник.: {{stats.uniqBranches}}</th>
									<!-- колич. uniq админов -->
									<th>Уник.: {{stats.uniqAdmins}}</th>
									<th></th>
								</tr>
								</tfoot>
							</table>
						</div>
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->
				<div class="row">
					<div class="col-md-6">
						<div class="margin-top"
							 id="orders-shows">

						</div>
					</div>
					<div class="col-md-6">
						<ul class="pagination pull-right"
							id="orders-paginate">

						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- /.row (main row) -->
	</div>
</template>

<script>

	import toastr from 'toastr'
	import moment from 'moment'
	import appSelect from '../../custom/select2/select-new.vue'
	import DateFilter from '../../custom/datefilter/component.vue'

	export default {
		name: 'Orders',
		data() {
			return {
				loader: true,
				searchIdModel: '',
				searchTypeModel: '',
				dataFromModel: Math.floor( new Date().getTime() ),
				dataToModel: Math.floor( (new Date().getTime()) + 24 * 3600 ),
				table: null,
				timeFrom: moment().startOf( 'day' ).startOf( 'YYYY-MM-DD HH:mm' ),
				timeTo: moment().endOf( 'day' ).endOf( 'YYYY-MM-DD HH:mm' ),
				categories: [],
				categorySearch: '',
				statusSearch: '',
				stats: {
					uniqCategory: 0,
					countOfBonus: 0,
					uniqWomen: 0,
					countOfCredits: 0,
					uniqMans: 0,
					uniqActive: 0,
					uniqPartners: 0,
					uniqBranches: 0,
					uniqAdmins: 0
				},
				allOrders: [],
				allPartners: [],
				allBranches: [],
				allAdmins: [],
				allWomen: [],
				mans: [],
				partnersData: [],
				partner: 0,
				branch: 0,
				admin: 0,
				woman: 0,
				man: 0,
				adminWithWoman: [],
				foundIndex: []
			}
		},
		methods: {
			dateFilterChange( d ) {
				this.timeFrom = d.from;
				this.timeTo = d.to;
				this.fetchData();
			},
			date( ts ) {
				return moment( ts * 1000 ).format( 'DD.MM.YYYY HH:mm:ss' )
			},
			updateDataTable() {
				let prettyOrders = [];
				for ( let i = 0; i < this.allOrders.length; i++ ) {
					let row = this.allOrders[ i ];
					let type = '<strong>ручной</strong> <span style="display:none;">0</span>'
					let woman = '<a class="show-girl" style="cursor: pointer" data-id="' + row.target_user_id + '">' + row.woman_name + ' (id: ' + row.target_user_id + ') </a>';
					let active = '<span class="glyphicon glyphicon-ok-circle fa-2x text-green"><span style="display:none">' + row.active + '</span></span>'
					if ( row.auto === 1 ) {
						type = 'авто <span style="display:none;">1</span>'
					}
					if ( row.active === 0 ) {
						active = '<span class="glyphicon glyphicon-remove-circle fa-2x text-red"><span style="display:none">' + row.active + '</span></span>'
					}
					let bonusType = '<span class="text-black">' + row.agency_bonus + '</span>';
					let changeType = 'bonus';
					if ( row.agency_bonus < 0 ) {
						changeType = 'fine'
						bonusType = '<span class="text-red">' + row.agency_bonus + '</span>'
					}

					let man = '<a style="cursor: pointer;" class="show-man" data-id="' + row.client_id + '"> ' + row.client_name + ' (id: ' + row.client_id + ')</a>';
					if ( !row.client_id ) {
						man = ''
					}
					let admin = '<a style="cursor: pointer;" class="show-admin" data-id="' + row.admin_id + '"> ' + row.admin_name + ' (id: ' + row.admin_id + ')</a>';
					if ( !row.admin_id ) {
						admin = ''
					}

					let agency = '<a style="cursor: pointer;" class="show-partner" data-id="' + row.agency_id + '"> ' + row.agency_name + ' (id: ' + row.agency_id + ')</a>';
					if ( !row.agency_id ) {
						agency = ''
					}

					let branch = '<a style="cursor: pointer;" class="show-partner" data-id="' + row.branch_agency_id + '"> ' + row.branch_agency_name + ' (id: ' + row.branch_agency_id + ')</a>';
					if ( !row.branch_agency_id ) {
						branch = ''
					}

					prettyOrders.push( [
						'<a class="show-transaction-d" data-id="' + row.id + '">' + row.id + '</a>',
						type,
						row.category_name + '<span style="display:none">' + row.category_name + '</span>',
						bonusType,
						woman,
						row.credits,
						man,
						active,
						agency,
						branch,
						admin,
						'<span><span style="display:none">' + row.created_at + '</span>' + moment( row.created_at * 1000 ).format( 'DD.MM.YYYY HH:mm:ss' ) + '</span>',
					] )
				}
				if ( !this.table ) {
					this.table = $( this.$refs.table ).DataTable( {
						data: prettyOrders,
						iDisplayLength: 20,
						"order": [ [ 11, "desc" ] ],
						"oLanguage": {
							"sLengthMenu": "Отображено _MENU_ записей на страницу",
							"sSearch": "Поиск:",
							"sZeroRecords": "Ничего не найдено - извините",
							"sInfo": "Показано с _START_ по _END_ из _TOTAL_ записей",
							"sInfoEmpty": "Показано с 0 по 0 из 0 записей",
							"sInfoFiltered": "(отфильтровано из _MAX_ записей)",
							"oPaginate": {
								"sFirst": "Первая",
								"sLast": "Посл.",
								"sNext": "След.",
								"sPrevious": "Пред.",
							}
						},
					} );
				}
				else {
					this.table.clear().rows.add( prettyOrders ).draw( true )
				}
				$( '#transactionTable_filter' ).remove();
				$( '#transactionTable_length' ).remove();
				$( '#orders-paginate' ).innerHTML = $( '#transactionTable_paginate' )
				$( '#orders-shows' ).innerHTML = $( '#transactionTable_info' )
				if ( this.allOrders.length < 20 ) {
					$( '#orders-paginate' ).hide()
				} else {
					$( '#orders-paginate' ).show()
				}
//				$( ".table" ).not( '.subtable' ).wrap( '<div class="h-scroll"></div>' );

				this.initEventListeners();
			},
			initEventListeners() {
				$( this.$refs.table ).on( 'click', '.show-man', ev => {
					this.$router.push( '/man/view/' + ev.target.dataset.id );
				} );
				$( this.$refs.table ).on( 'click', '.show-girl', ev => {
					this.$router.push( '/woman/view/' + ev.target.dataset.id );
				} );
				$( this.$refs.table ).on( 'click', '.show-admin', ev => {
					this.$router.push( '/partner/admin/show/' + ev.target.dataset.id );
				} );
				$( this.$refs.table ).on( 'click', '.show-partner', ev => {
					this.$router.push( '/partners/view/' + ev.target.dataset.id );
				} );
				let d = this.showDetails
				$( this.$refs.table ).on( 'click', '.show-transaction-d', function ( ev ) {
					d( $( this ).data( 'id' ) )
				} )
			},
			searchByColumn( col, data ) {
				let r = new RegExp( /(data-id=")(\d+)(")/ );
				let found = $( '#transactionTable' ).DataTable()
					.columns( col )
					.search( data )
					.draw();


				//Пересчет сумарных данных для футера таблицы
				let allRecords = found.context[ 0 ].aoData;
				this.foundIndex = found.context[ 0 ].aiDisplay;
				let foundNormalIdArray = []
				for ( let i = 0; i < this.foundIndex.length; i++ ) {
					let index = this.foundIndex[ i ];
					for ( let j = 0; j < allRecords.length; j++ ) {
						if ( allRecords[ j ].idx == index ) {
							try {
								let rc = allRecords[ j ]._aData[ 0 ];
								foundNormalIdArray.push( parseInt( rc.match( r )[ 2 ] ) );
								foundNormalIdArray.push( +rc );
							} catch ( Ex ) {
								console.log( 'Exception' )
							}
						}
					}
				}

				let precessedOrders = [];
				let processedCategory = [];
				let processedWomen = [];
				let processedMan = [];
				let processedActive = [];
				let processedBranches = [];
				let processedPartners = [];
				let processedAdmins = [];

				let localStats = {
					uniqCategory: 0,
					countOfBonus: 0,
					uniqWomen: 0,
					countOfCredits: 0,
					uniqMans: 0,
					uniqActive: 0,
					uniqPartners: 0,
					uniqBranches: 0,
					uniqAdmins: 0
				};
				let finex = 0;
				let bonusx = 0
				/**
				 * Перебор всех записей. Сверяем, если идентификатор записи об оплате
				 * присутствует внутри массива записей, для которых надо посчитать сумму
				 * начинаем перебор значений массивов статистики на наличие повторяющихся значений
				 */
				for ( let i = 0; i < this.allOrders.length; i++ ) {
					let order = this.allOrders[ i ];
					/**
					 * Запись была найдена в массиве
					 */
					if ( foundNormalIdArray.indexOf( order.id ) !== -1 ) {
						if ( processedCategory.indexOf( order.category_name ) === -1 ) {
							if ( order.category_name ) {
								localStats.uniqCategory++;
								processedCategory.push( order.category_name );
							}
						}
						if ( processedWomen.indexOf( order.target_user_id ) === -1 ) {
							if ( order.target_user_id ) {
								localStats.uniqWomen++;
								processedWomen.push( order.target_user_id );
							}
						}
						if ( processedMan.indexOf( order.client_id ) === -1 ) {
							if ( order.client_id ) {
								localStats.uniqMans++;
								processedMan.push( order.client_id );
							}
						}
						if ( processedActive.indexOf( order.active ) === -1 ) {
							if ( order.active ) {
								localStats.uniqActive++;
								processedActive.push( order.active );
							}
						}
						if ( processedBranches.indexOf( order.branch_agency_id ) === -1 ) {
							if ( order.branch_agency_id ) {
								localStats.uniqBranches++;
								processedBranches.push( order.branch_agency_id );
							}
						}
						if ( processedPartners.indexOf( order.agency_id ) === -1 ) {
							if ( order.agency_id ) {
								localStats.uniqPartners++;
								processedPartners.push( order.agency_id );
							}
						}
						if ( processedAdmins.indexOf( order.admin_id ) === -1 ) {
							if ( order.admin_id ) {
								localStats.uniqAdmins++;
								processedAdmins.push( order.admin_id );
							}
						}
						if ( order.agency_bonus < 0 ) {
							finex = finex - Math.abs( order.agency_bonus )
						} else {
							bonusx = bonusx + Math.abs( order.agency_bonus );
						}
						if ( order.credits ) {
							localStats.countOfCredits += +order.credits;
						}
					}
				}
				localStats.countOfBonus = (bonusx - Math.abs( finex )).toFixed( 2 );
				this.stats = localStats;
			},
			loadCategories() {
				this.$http.post( 'v2/bonuses/load-categories', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( categoryData => {
					if ( categoryData.body.status ) {
						this.categories = categoryData.body.result;
					} else {
						toastr.error( 'Ошибка загрузки данных категорий' );
					}
				}, err => {
					console.log( err );
					toastr.error( 'Ошибка загрузки данных категорий' );
				} )
			},
			formatName( name, id ) {
				let fname = name.split( ' ' )[ 0 ]
				return `${fname} (id: ${id})`
			},
			selectManCallback( id ) {
				if ( id ) {
					let result = this.displayedMen.find( i => i.id === id );
					if ( result ) {
						this.searchByColumn( 6, this.formatName( result.name, id ) )
					}
				} else {
					this.searchByColumn( 6, '' )
				}
			},
			selectWomanCallback( id ) {
				if ( id ) {
					let result = this.displayedWomen.find( i => i.id === id );
					if ( result ) {
						this.searchByColumn( 4, this.formatName(result.name, id) )
					}
				} else {
					this.searchByColumn( 4, '' )
				}
			},
			fetchAdminsByAgency( id ) {
				this.$http.post( 'v2/agency/get/admin-in-agency', {
					access_token: this.$cookie.get( 'access_token' ),
					agency_id: id
				} ).then( data => {
					if ( data.body.status ) {
						this.allAdmins = data.body.result;
					} else {
						toastr.error( 'Не могу загрузить список админов' )
					}
				}, err => {
					toastr.error( 'Не могу загрузить список админов' );
					console.log( err );
				} );
			},
			fetchWomanByAgency( value ) {
				this.$http.post( 'v2/agency/get/woman-in-agency', {
					access_token: this.$cookie.get( 'access_token' ),
					agency_id: value
				} ).then( data => {
					if ( data.body.status ) {
						this.allWomen = data.body.result;
					}
				} )
			},
			fetchBranchByAgency( value ) {
				this.$http.post( 'v2/agency/get/branches', {
					access_token: this.$cookie.get( 'access_token' ),
				} ).then( data => {
					if ( data.body.status ) {
						this.allBranches = data.body.result.filter( i => i.duty_agency.id === value )
					}
				} )
			},
			selectBranchCallback( value ) {
				if ( !this.partner ) {
					this.admin = this.woman = this.man = 0;
					this.resetSearch();
				}
				if ( value ) {

					let result = this.displayedBranches.find( i => i.id === value );
					if ( result ) {
						this.searchByColumn( 9, result.name );
						this.fetchAdminsByAgency( value );
						this.fetchWomanByAgency( value );
					}
				} else {
					this.searchByColumn( 9, '' );
					if ( !this.partner ) {
						this.fetchBranches();
						this.fetchAdmins();
						this.fetchWomen();
					}
					if ( this.partner ) {
						this.selectPartnerCallback( this.partner )
					}
				}
			},
			selectAdminCallback( value ) {
				if ( !this.partner || !this.branch ) {
					this.resetSearch();
				}
				this.woman = 0;
				if ( !value ) {
					this.fetchWomen();
					this.selectWomanCallback( '' );
				}
				if ( value ) {
					let result = this.displayedAdmins.find( i => i.id === value );
					if ( result ) {
						this.searchByColumn( 10, result.name );
						this.$http.post( 'v2/agency/get/agency-woman', {
							access_token: this.$cookie.get( 'access_token' ),
							admin_id: value
						} ).then( data => {
							if ( data.body.status ) {
								this.allWomen = data.body.result;
							} else {
								toastr.error( 'Не могу получить список клиенток под админом' );
								toastr.info( data.body.desc );
							}
						}, err => {
							toastr.error( 'Не могу получить скписок клиенток под админом' );
							console.log( err )
						} )
					}
				} else {
					this.searchByColumn( 10, '' )
					this.selectBranchCallback( this.branch )
				}
			},
			selectPartnerCallback( value ) {
				this.branch = this.admin = this.woman = this.man = 0;
				this.resetSearch();
				if ( value ) {

					let result = this.displayedPartners.find( i => i.id === value );
					if ( result ) {
						this.searchByColumn( 8, result.name );
						this.fetchAdminsByAgency( value );
						this.fetchWomanByAgency( value );
						this.fetchBranchByAgency( value )
					}
				} else {
					this.searchByColumn( 8, '' );
					this.fetchBranches();
					this.fetchAdmins();
					this.fetchWomen();
				}
			},
			fetchWomen() {
				this.$http.post( 'v2/femal/load-list', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( data => {
					if ( data.body.status ) {
						this.allWomen = data.body.result
					} else {
						toastr.error( 'Не могу загрузить список клиенток' )
					}
				}, err => {
					toastr.error( 'Не могу загрузить список клиенток' )
				} )
			},
			fetchPartner() {
				this.$http.post( 'v2/agency/get/list', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( data => {
					if ( data.body.status ) {
						this.allPartners = data.body.result;
					} else {
						toastr.error( 'Не могу загрузить список партнеров' )
						toastr.info( data.body.desc );
					}
				}, err => {
					toastr.error( 'Не могу загрузить список партнеров' )
				} )
			},
			fetchBranches() {
				this.$http.post( 'v2/agency/get/branches', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( data => {
					if ( data.body.status ) {
						this.allBranches = data.body.result;
					} else {
						toastr.error( 'Не могу получить список филиалов' )
						toastr.info( data.body.desc )
					}
				}, err => {
					toastr.error( 'Не могу получить список филиалов' )
				} )
			},
			fetchAdmins() {
				this.$http.post( 'v2/agency/get/admins', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( data => {
					if ( data.body.status ) {
						this.allAdmins = data.body.result
					} else {
						toastr.error( 'Не могу получить список админов сайта' )
					}
				}, err => {
					toastr.error( 'Не могу получить список админов сайта' )
				} )
			},
			resetSearch() {
				if ( this.table ) this.table.search( '' ).columns().search( '' ).draw();
			},
			fetchManFilter() {
				this.$http.post( 'v2/male/easy-load', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( data => {
					if ( data.body.status ) {
						this.mans = data.body.result;
					} else {
						toastr.err( 'Не могу загрузить список клиентов' );
						toastr.info( data.body.desc )
					}
				}, err => {
					toastr.err( 'Не могу загрузить список клиентов' );
				} )
			},
			fetchData() {
				this.loader = true;
				this.fetchWomen();

				this.$http.post( 'v2/bonuses/load-transactions', {
					access_token: this.$cookie.get( 'access_token' ),
					time_from: this.timeFrom,
					time_to: this.timeTo
				} ).then( data => {
					if ( data.body.status ) {
						this.allOrders = data.body.result;
						this.updateDataTable();
						this.searchByColumn( 0, '' )
						this.fetchPartner();
						this.fetchBranches();
						this.fetchAdmins();
						this.fetchManFilter();
					} else {
						toastr.error( data.body.desc );
					}
					this.loader = false;
				}, err => {
					toastr.error( 'Ошибка загрузки данных' );
					this.loader = false;
				} )
			},
			navigator( to ) {
				this.$router.push( to )
			},
			showDetails( id ) {
				this.$router.push( '/transaction/' + id );
			}
		},
		watch: {
			searchIdModel( value ) {
				this.searchByColumn( 0, value );
			},
			searchTypeModel( value ) {
				this.searchByColumn( 1, value )
			},
			categorySearch( value ) {
				this.searchByColumn( 2, value )
			},
			statusSearch( value ) {
				this.searchByColumn( 7, value )
			}
		},
		computed: {
			displayedPartners() {
				return this.allPartners.map( i => {
					return {
						id: +i.id,
						name: `${i.name} (id: ${i.id})`
					}
				} )
			},
			displayedBranches() {
				return this.allBranches.map( i => {
					return {
						id: +i.id,
						name: `${i.name} (id: ${i.id})`
					}
				} )
			},
			displayedAdmins() {
				return this.allAdmins.map( i => {
					if ( i.admin_name ) {
						return {
							id: +i.admin_user_id,
							name: `${(i.admin_name.trim() + ' ' + i.admin_surname.trim()).trim()} (id: ${i.admin_user_id})`
						}
					}
					return {
						id: +i.id,
						name: `${i.name.trim()} (id: ${i.id})`
					}
				} )
			},
			displayedWomen() {
				//TODO: fit answers
				return this.allWomen.map( i => {
					if ( 'fullName' in i ) {
						return {
							id: +i.id,
							name: `${i.fullName.trim()} (id: ${i.id})`
						}
					} else if ( 'surname' in i ) {
						return {
							id: +i.user_id,
							name: `${(i.name.trim() + ' ' + i.surname.trim()).trim()} (id: ${i.user_id})`
						}
					}
					return {
						id: +i.id,
						name: `${i.name.trim()} (id: ${i.id})`
					}
				} )
			},
			displayedMen() {
				return this.mans.map( i => {
					return {
						id: +i.user_id,
						name: `${(i.name.trim() + ' ' + i.surname.trim()).trim()} (id: ${i.user_id})`
					}
				} )
			}
		},
		mounted() {
			this.loadCategories()
		},
		components: {
			appSelect,
			'date-filter': DateFilter,
		}
	}
</script>

<style lang="css">
	.show-girl {
		cursor: pointer !important;
	}

	.loader {
		display: block;
		width: 5em;
		margin: 10% auto;
	}

	@-webkit-keyframes rotate {
		0% {
			-webkit-transform: translateY(0%);
		}
		30% {
			-webkit-transform: translateY(-0.25em);
		}
		50% {
			-webkit-transform: translateY(0%);
		}
		70% {
			-webkit-transform: translateY(0.25em);
		}
	}

	.loader {
		display: block;
	}

	.loader .inner1,
	.loader .inner2,
	.loader .inner3 {
		display: inline-block;
		margin: 0.125em;
		width: 0.5em;
		height: 0.5em;
		border: 1px solid lightgray;
		border-radius: 1em;
		background-color: lightgray;
		-webkit-transform-origin: 50%;
		-webkit-animation-duration: 0.75s;
		-webkit-animation-name: rotate;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-timing-function: linear;
	}

	.loader .inner2 {
		-webkit-animation-delay: 0.1875s;
	}

	.loader .inner3 {
		-webkit-animation-delay: 0.375s;
	}
</style>
