<template>
  <div>
    <div class="form-group row">
      <label class="col-md-1 m-t-0">Черный cписок:</label>
      <div class="col-md-4">
        <div class="search-user margin-bottom p-relative">
          <div class="input-group">
            <input type="number" v-model="menId"
                   class="form-control" @click="focusOn" @blur="focusOff" placeholder="Добавить...">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
          </div>
          <div class="dropdown-search-list" :style="dropDownStyle">
            <div class="vertical-scroll">
              <ul class="products-list  product-list-in-box user-list-corection">
                <li class="item" v-for="item in foundManToBlacklist">
                  <div class="product-img">
                    <img :src="item.avatar"
                         :alt="item.name">
                  </div>
                  <div class="product-info">
                    <a class="product-title">{{item.name}}</a>
                    <span class="product-description">ID: {{item.id}}</span>
                    <label class="label label-success right-icon"
                           @mousedown="addToBlacklist(item)"><i class="fa fa-plus"></i></label>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-4 col-md-offset-1">
        <div class="vertical-scroll" >
          <ul class="products-list product-list-in-box user-list-corection">
            <li class="item" v-for="item in blacklist">
              <div class="product-img">
                <img :src="item.avatar" :alt="item.name">
              </div>
              <div class="product-info">
                <a class="product-title">{{item.name}}</a>
                <span class="product-description">ID: {{item.id}}</span>
                <label class="label label-danger right-icon"
                       @click="removeFromBlacklist(item.id)"><i class="fa fa-times"></i></label>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import toastr from 'toastr'

  export default {
    props: {
      blacklist:{
        type: Array
      },
    },
    computed: {},
    data() {
      return {
        foundManToBlacklist: [],
        //blacklist: [],
        menId: '',
        dropDownStyle: "display:none;"
      }
    },
    watch: {
      menId(value) {
        setTimeout(() => {
          this.searchMan(value)
        }, 1000);
      },
      blacklist(){
        this.$emit('blacklistChange',this.blacklist)
      }
    },
    methods: {
      dropDownShow() {
        this.dropDownStyle = "display:block;"
      },
      dropDownHide() {
        this.dropDownStyle = "display:none;"
      },
      focusOn() {
        if (this.menId){
          this.searchMan(this.menId)
        }
        //
        this.dropDownShow()
      },
      focusOff() {
        this.dropDownHide()
      },
      addToBlacklist(item) {
        this.blacklist.push(item);
        this.foundManToBlacklist= []
      },
      removeFromBlacklist(id) {
        let counter = 0;
        this.blacklist.forEach(item => {
          if (item.id == id) {
            this.blacklist.splice(counter, 1);
          } else {
            counter++;
          }
        });
      },


      searchMan(value) {
        this.$http.post('v2/male/get', {
          access_token: this.$cookie.get('access_token'),
          offset: 0,
          limit: 500,
          account_status: JSON.stringify(['active']),
          id: value,
        }).then(data => {
          if (data.body.status) {
            let mans = data.body.result;
            this.foundManToBlacklist = [];
            mans.forEach(man => {
              if(!this.blacklist.filter( i => man.id==i.id ).length>0){
                this.foundManToBlacklist.push({
                  id: man.id,
                  name: man.name,
                  avatar: man.avatar.small
                })
              }

            })
          } else {
            toastr.error(data.body.desc);
          }
        }, err => {
          toastr.error('Ошибка поиска');
          console.log(err);
        })
      }
    },
    mounted() {
      $(".v-scroll").each(function () {
        if ($(this).attr("data-height")) {
          $(this).css("height", $(this).attr("data-height") + "px");
        }

        $(this).perfectScrollbar();
      });

    }
  }
</script>

<style>
  .vertical-scroll {
    max-height: 300px;
    overflow-y: scroll;
  }
</style>




