<template>
    <div class="loading-awesome">
        <div class="loading-awesome-item loading-awesome-item--top"></div>
        <div class="loading-awesome-item">
            <moon-loader
                :loading="true"
                :color="'#2c3e50'"
                :size="40"/>
        </div>
        <div class="loading-awesome-item loading-awesome-item--bottom"></div>
    </div>
</template>

<script>
    import MoonLoader from '@/components/custom/MoonLoaderNew.vue'
    export default {
        name: 'LoadingSpinner',
        components: {
            'moon-loader': MoonLoader
        },
    }
</script>

<style>
    .loading-awesome {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 90vh;
    }
    .loading-awesome-item {
        max-width: 50%;
    }
    .loading-awesome-item--top {
        align-self: flex-start;
    }
    .loading-awesome-item--bottom {
        align-self: flex-end;
    }
</style>
