<template>
	<div class="modal-emal-wrap">
		<button
        type="button"
        class="btn btn-primary pull-left btn-sm"
        data-toggle="modal"
				data-target="#changeEmailmodalButton"
    >
			<i class="fa fa-lg fa-at"></i>
		</button>
		<div
        class="modal fade"
        id="changeEmailmodalButton"
        tabindex="-1"
        role="dialog"
    >
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
								aria-hidden="true">×</span></button>
						<h4 class="modal-title">Изменить email</h4>
					</div>
					<div>
					<div class="modal-body">
						<div class="form-group">
							<label>Email</label>
							<input class="form-control input-sm" required type="email" v-model="email">
						</div>
						<div class="form-group">
							<label> <input type="checkbox" v-model="sendToEmail">  Отправить на почту</label>
						</div>
					</div>
					<div class="modal-footer clearfix">
						<button @click="changeEmail" class="btn btn-primary pull-right">Отправить</button>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import toastr from 'toastr'
	export default {
		name: 'ChangePasswordModal',
		data() {
			return {
				sendToEmail: 1,
				email: ''
			}
		},
		props: {
			user: Number,
			emailProp: ''
		},
		methods: {
      async changeEmail() {
        if (!this.email) {
          toastr.info('Email не может быть пустым');
          return;
        }

        try {
          const { body } = await this.$http.post('v2/member/update/email', {
            access_token: this.$cookie.get('access_token'),
            email: this.email,
            user_id: this.user,
            send_on_email: Number(this.sendToEmail)
          });

          if (!body.status) {
            throw new Error();
          }

          toastr.success('Email успешно изменен');
          this.$emit('chengeEmail');
        } catch (err) {
          toastr.error(`Не могу сменить email пользователю ${this.user}`);
        } finally {
          this.closeModal();
        }
      },
			closeModal() {
        $('#changeEmailmodalButton').modal('hide');
        this.email = '';
			}
		},
		watch: {
			emailProp(v) {
				this.email = v
			}
		},
		mounted() {
			setTimeout(() => {
				this.email = this.emailProp
			},100)
		}
	}
</script>

