<template>
  <div class="m-ch__active-usr--actions user-action-button-row">
    <div class="user-action-button">
      <button class="control-button btn-flex" :disabled="!canFavorite" :class="{'control-button-active': isFavorite, 'control-button-active': !canFavorite}" @click="addToFavorite">
        <span>
          <span v-if="isFavorite" class="checked-icon" title="Favorite">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" enable-background="new 0 0 26 26">
              <path
                d="m.3,14c-0.2-0.2-0.3-0.5-0.3-0.7s0.1-0.5 0.3-0.7l1.4-1.4c0.4-0.4 1-0.4 1.4,0l.1,.1 5.5,5.9c0.2,0.2 0.5,0.2 0.7,0l13.4-13.9h0.1v-8.88178e-16c0.4-0.4 1-0.4 1.4,0l1.4,1.4c0.4,0.4 0.4,1 0,1.4l0,0-16,16.6c-0.2,0.2-0.4,0.3-0.7,0.3-0.3,0-0.5-0.1-0.7-0.3l-7.8-8.4-.2-.3z"></path>
            </svg>
          </span>
          <svg class="svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 489.2 489.2">
            <path
              d="M40.8 265.4l189 189c4 4 9.4 6.2 15 6.2s11-2.2 15-6.2l188.7-188.7c26.2-26.2 40.7-61.1 40.7-98.1 0-37.1-14.4-72-40.6-98.2s-61-40.6-98.1-40.6-71.9 14.5-98.2 40.7l-7.6 7.6-7.8-7.8c-26.3-26.3-61.2-40.7-98.3-40.7-37 0-71.8 14.4-98 40.6S0 130.3 0 167.4c.1 37 14.6 71.8 40.8 98z"/>
          </svg>
        </span>
      </button>
      <button class="control-button btn-flex" :class="{'control-button-active': isBookmark}" @click="addToBookmark">
        <span>
          <span v-if="isBookmark" class="checked-icon">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" enable-background="new 0 0 26 26">
              <path
                d="m.3,14c-0.2-0.2-0.3-0.5-0.3-0.7s0.1-0.5 0.3-0.7l1.4-1.4c0.4-0.4 1-0.4 1.4,0l.1,.1 5.5,5.9c0.2,0.2 0.5,0.2 0.7,0l13.4-13.9h0.1v-8.88178e-16c0.4-0.4 1-0.4 1.4,0l1.4,1.4c0.4,0.4 0.4,1 0,1.4l0,0-16,16.6c-0.2,0.2-0.4,0.3-0.7,0.3-0.3,0-0.5-0.1-0.7-0.3l-7.8-8.4-.2-.3z"></path>
            </svg>
          </span>
             <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 490.451 490.451">
              <path
                d="M463.226 168.626l-138.2-10-52.7-128.2c-5-12.1-16.1-18.2-27.1-18.2s-22.1 6.1-27.1 18.2l-52.7 128.2-138.2 10c-25.6 1.4-37 34.2-17.1 51.3l106.9 88.3-32.8 133.9c-5.5 19.7 10.1 36.1 27.4 36.1 5.2 0 10.5-1.5 15.4-4.7l116.8-72.7 118.3 72.7c4.9 3.3 10.2 4.7 15.2 4.7 16.9 0 31.9-16.4 27.5-36.1l-32.8-133.9 108.3-88.3c19.9-17.1 8.5-49.9-17.1-51.3z"/>
            </svg>
        </span>
      </button>
      <button class="control-button btn-flex" :class="{'control-button-active': isWink}" :disabled="isWink"
              @click="sendWink">
        <span>
          <span v-if="isWink" class="checked-icon">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" enable-background="new 0 0 26 26">
              <path
                d="m.3,14c-0.2-0.2-0.3-0.5-0.3-0.7s0.1-0.5 0.3-0.7l1.4-1.4c0.4-0.4 1-0.4 1.4,0l.1,.1 5.5,5.9c0.2,0.2 0.5,0.2 0.7,0l13.4-13.9h0.1v-8.88178e-16c0.4-0.4 1-0.4 1.4,0l1.4,1.4c0.4,0.4 0.4,1 0,1.4l0,0-16,16.6c-0.2,0.2-0.4,0.3-0.7,0.3-0.3,0-0.5-0.1-0.7-0.3l-7.8-8.4-.2-.3z"></path>
            </svg>
          </span>
            <svg xmlns="http://www.w3.org/2000/svg" width="34.25" height="34.25" viewBox="0 0 34.25 34.25">
              <path
                d="M17.125 0C7.668 0 0 7.667 0 17.125S7.668 34.25 17.125 34.25c9.46 0 17.125-7.667 17.125-17.125S26.584 0 17.125 0zm-6.32 10.415c1.797 0 3.252 1.456 3.252 3.252s-1.455 3.252-3.252 3.252c-1.795 0-3.252-1.457-3.252-3.253s1.457-3.252 3.252-3.252zM26.363 23.08c-2.098 3.045-5.55 4.863-9.237 4.863-3.69 0-7.145-1.818-9.242-4.865-.47-.682-.297-1.616.387-2.086.683-.47 1.616-.297 2.087.386 1.535 2.233 4.066 3.565 6.77 3.565 2.7 0 5.23-1.332 6.768-3.565.473-.68 1.404-.854 2.086-.385.68.47.854 1.403.383 2.086zm.594-7.913h-5c-.828 0-1.5-.67-1.5-1.5s.672-1.5 1.5-1.5h5c.83 0 1.5.67 1.5 1.5s-.67 1.5-1.5 1.5z"></path>
            </svg>
        </span>
      </button>
      <button class="control-button btn-flex" @click="sendMail">
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 489.2 489.2">
              <path
                d="M428.3 431.1c33.6 0 60.9-27.3 60.9-60.9V119c0-33.6-27.3-60.9-60.9-60.9H60.9C27.3 58.1 0 85.4 0 119v251.1C0 403.7 27.3 431 60.9 431h367.4v.1zm-366-288.2c-6.3-5.4-7.1-14.8-1.7-21.1s14.8-7.1 21.1-1.7l162.9 138.2 163-138.3c6.3-5.4 15.8-4.6 21.1 1.7 5.4 6.3 4.6 15.8-1.7 21.1l-116.3 98.8 116.9 110c6 5.7 6.3 15.2.6 21.2-3 3.1-6.9 4.7-10.9 4.7-3.7 0-7.4-1.4-10.3-4.1L287.7 261.2l-33.3 28.3c-2.8 2.4-6.3 3.6-9.7 3.6-3.5 0-6.9-1.2-9.7-3.6l-33.4-28.3L82.3 373.5c-2.9 2.7-6.6 4.1-10.3 4.1-4 0-8-1.6-10.9-4.7-5.7-6-5.4-15.5.6-21.2l116.9-110.1-116.3-98.7z"/>
            </svg>
          </span>
      </button>
    </div>
    <button class="btn btn-lg control-gallery" v-if="hasPhotos" @click="displayGallery = !displayGallery"
            :class="{open: displayGallery}">
      <span></span>
    </button>
  </div>
</template>

<script>

  import {MAIL_MODAL} from '../../../../../mixins/utils'

  export default {
    name: 'ActionButtonBox',
    props: {
      hasPhotos: Boolean,
      open: Boolean
    },
    data() {
      return {
        isFavorite: false,
        isBookmark: false,
        isWink: false,
        displayGallery: false,
        canFavorite: true,
      };
    },
    mixins: [MAIL_MODAL],
    methods: {
      sendMail() {
        this.toggleMailModal({
          avatar: {
            img_small: this.user.avatar.img_small
          },
          user_id: this.user.id,
          name: this.user.name
        }, this)
      },
      addToFavorite() {
        let action = 'add';
        if (this.isFavorite) {
          action = 'remove';
        }
        this.$http.post(`${this.config.api.frontend}/v2/favorite/${action}`, {
          access_token: this.$store.getters.womanSiteToken,
          favorite_user_id: this.user.id
        }).then(data => {
          if (data.body.status) {
            this.isFavorite = !this.isFavorite;
          }
        });
        if(action === 'remove') {
          setTimeout(() => {
            this.$http.post(this.config.api.frontend + '/v2/favorite/avaible-to-add', {
              access_token: this.$store.getters.womanSiteToken,
              favorite_user_id: parseInt(this.user.id),
            }).then(serverResponse => {
              this.canFavorite = serverResponse.body;
            }).catch(err => {
              this.canFavorite = false;
            });
          }, 200)
        }
      },
      sendWink() {
        this.$http.post(this.config.api.frontend + '/v2/kiss/make-kiss', {
          access_token: this.$store.getters.womanSiteToken,
          target_user_id: this.user.id
        }).then(data => {
          if (data.body.status) {
            this.isWink = true;
          }
        })
      },
      addToBookmark() {
        let action = 'add';
        if (this.isBookmark) {
          action = 'remove';
        }
        this.$http.post(`${this.config.api.frontend}/v2/bookmark/${action}`, {
          access_token: this.$store.getters.womanSiteToken,
          bookmark_user_id: this.user.id
        }).then(data => {
          if (data.body.status) {
            this.isBookmark = !this.isBookmark;
          }
        });
      },
    },
    computed: {
      user() {
        return this.$store.getters.currentChatUser;
      }
    },
    watch: {
      user(value) {
        if (value === null) {
          return false;
        }
        this.$http.post(this.config.api.frontend + '/v2/favorite/avaible-to-add', {
          access_token: this.$store.getters.womanSiteToken,
          favorite_user_id: parseInt(this.user.id),
        }).then(serverResponse => {
          this.canFavorite = serverResponse.body;
        }).catch(err => {
          this.canFavorite = false;
        });
        this.$http.post(this.config.api.frontend + '/v2/profile/load', {
          access_token: this.$store.getters.womanSiteToken,
          target_user_id: value.id,
        }).then(serverResponse => {
          if (serverResponse.body.status) {
            this.isBookmark = serverResponse.body.result.is_bookmark;
            this.isFavorite = serverResponse.body.result.is_favorite;
            this.isWink = serverResponse.body.result.is_wink;
          }
        }).catch(requestException => {
          console.log('request exception');
        })
      },
      displayGallery(v) {
        this.$emit('displayGallery', v)
      },
      open(v) {
        this.displayGallery = v;
      }
    }
  }
</script>

