<template>
  <div class="row" style="padding: 10px">
    <div class="col-md-7">
      <p class="text-white"
         style="margin-top: 10px; margin-left: 3%">
        Мужчины <span class="online-point"
                      style="margin-left: 7px; margin-top: 7px"></span>
      </p>
    </div>
    <div v-show="disableButton || !canChatStart" class="col-md-3" style="text-align: right;">
      <button class="power-button btn-flex pb-gray" style="outline: none"
              :class="{'chatActive': chatActive}"
              :disabled="disableButton || !canChatStart"
              @click="prepareChat">
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 489.888 489.888">
            <path d="M25.383 290.5c-7.2-77.5 25.9-147.7 80.8-192.3 21.4-17.4 53.4-2.5 53.4 25 0 10.1-4.8 19.4-12.6 25.7-38.9 31.7-62.3 81.7-56.6 136.9 7.4 71.9 65 130.1 136.8 138.1 93.7 10.5 173.3-62.9 173.3-154.5 0-48.6-22.5-92.1-57.6-120.6-7.8-6.3-12.5-15.6-12.5-25.6 0-27.2 31.5-42.6 52.7-25.6 50.2 40.5 82.4 102.4 82.4 171.8 0 126.9-107.8 229.2-236.7 219.9-106.6-7.5-193.5-92.4-203.4-198.8zM244.883 0c-18 0-32.5 14.6-32.5 32.5v149.7c0 18 14.6 32.5 32.5 32.5s32.5-14.6 32.5-32.5V32.5c0-17.9-14.5-32.5-32.5-32.5z"/>
          </svg>
        </span>
      </button>
    </div>
    <div v-show="!disableButton && canChatStart" class="col-md-3" style="text-align: right;">
      <button class="power-button btn-flex" style="outline: none"
              :class="{'chatActive': chatActive}"
              :disabled="disableButton || !canChatStart"
              @click="prepareChat">
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 489.888 489.888">
            <path d="M25.383 290.5c-7.2-77.5 25.9-147.7 80.8-192.3 21.4-17.4 53.4-2.5 53.4 25 0 10.1-4.8 19.4-12.6 25.7-38.9 31.7-62.3 81.7-56.6 136.9 7.4 71.9 65 130.1 136.8 138.1 93.7 10.5 173.3-62.9 173.3-154.5 0-48.6-22.5-92.1-57.6-120.6-7.8-6.3-12.5-15.6-12.5-25.6 0-27.2 31.5-42.6 52.7-25.6 50.2 40.5 82.4 102.4 82.4 171.8 0 126.9-107.8 229.2-236.7 219.9-106.6-7.5-193.5-92.4-203.4-198.8zM244.883 0c-18 0-32.5 14.6-32.5 32.5v149.7c0 18 14.6 32.5 32.5 32.5s32.5-14.6 32.5-32.5V32.5c0-17.9-14.5-32.5-32.5-32.5z"/>
          </svg>
        </span>
      </button>
    </div>
    <div class="col-md-2">
      <button class="setting-bottom power-button btn-flex"
              style="outline: none;"
              @click="openSelectWomanModal">
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 511.999 511.999">
            <path d="M505.078 354.75l-15.403-2.96c-7.842-1.51-14.268-6.853-17.186-14.286-2.92-7.433-1.844-15.718 2.883-22.16l9.668-13.185c2.493-3.397 2.134-8.108-.844-11.086l-20.89-20.88c-2.893-2.894-7.424-3.33-10.82-1.042l-12.988 8.806c-6.613 4.48-14.933 5.24-22.255 2.048-7.313-3.19-12.416-9.813-13.628-17.707l-2.492-16.163c-.64-4.164-4.215-7.236-8.43-7.236H363.16c-4.096 0-7.612 2.902-8.38 6.922l-3.83 19.89c-1.494 7.792-6.555 13.996-13.885 17.025-7.313 3.046-15.292 2.22-21.854-2.227l-16.767-11.358c-3.388-2.287-7.927-1.852-10.82 1.04l-20.89 20.882c-2.978 2.978-3.336 7.69-.845 11.085l9.668 13.183c4.727 6.443 5.803 14.73 2.884 22.16s-9.344 12.775-17.186 14.286l-15.403 2.96c-4.018.768-6.92 4.284-6.92 8.38v29.534c0 4.215 3.072 7.79 7.236 8.43l16.162 2.493c7.893 1.212 14.515 6.306 17.707 13.628 3.19 7.322 2.432 15.642-2.057 22.255l-8.798 12.988c-2.287 3.388-1.852 7.927 1.04 10.82l20.882 20.88c2.987 2.98 7.68 3.346 11.085.854l13.184-9.668c6.427-4.72 14.72-5.81 22.162-2.884 7.433 2.918 12.774 9.344 14.285 17.186l2.96 15.403c.77 4.018 4.285 6.92 8.38 6.92h29.535c4.215 0 7.79-3.072 8.43-7.236l1.75-11.366c1.246-8.064 6.494-14.754 14.03-17.877 7.55-3.122 15.982-2.107 22.56 2.723l9.277 6.8c3.412 2.493 8.106 2.126 11.084-.852l20.88-20.88c2.894-2.893 3.33-7.433 1.042-10.82l-8.806-12.988c-4.48-6.613-5.24-14.933-2.048-22.255 3.19-7.322 9.813-12.416 17.707-13.628l16.16-2.493c4.165-.64 7.237-4.215 7.237-8.43V363.13c.002-4.1-2.9-7.614-6.92-8.382zm-129.613 71.885c-28.237 0-51.2-22.963-51.2-51.2 0-28.237 22.963-51.2 51.2-51.2 28.237 0 51.2 22.963 51.2 51.2 0 28.236-22.963 51.2-51.2 51.2z"/>
            <path d="M375.465 341.3c-18.825 0-34.133 15.31-34.133 34.134 0 18.825 15.31 34.133 34.133 34.133 18.825 0 34.133-15.31 34.133-34.133 0-18.824-15.308-34.133-34.133-34.133zM259.732 420.45l-16.162-2.49c-12.578-1.938-21.7-12.58-21.7-25.294v-29.542c0-12.254 8.73-22.827 20.77-25.14l12.553-2.414c-1.93-2.227-3.695-6.263-4.95-9.216-1.125-2.654-2.192-7.262-2.602-10.65 0 0-1.97-27.7 7.032-36.693l20.88-20.89c4.848-4.837 11.274-7.49 18.11-7.49 5.127 0 10.085 1.51 14.335 4.385l16.785 11.366c1.084.735 2.21 1.102 3.354 1.102.777 0 1.58-.17 2.38-.503 2.04-.837 3.27-2.348 3.68-4.498l3.822-19.883c.563-2.936 1.63-5.66 3.08-8.116-17.288-32.4-34.243-74.94-35.088-118.28-.05-1.144-7.177-114.1-118.434-116.174C76.632 2.105 69.506 115.06 69.44 116.477c-1.435 74.334-51.27 147.37-66.51 167.987-4.275 5.777-3.183 13.884 2.492 18.458 20.002 16.085 57.156 13.124 60.535 12.783h62.03c-.376 3.38-1.443 7.97-2.552 10.18l-1.297 2.68c-1.613 3.37-3.43 7.167-5.17 8.293L66.733 356.51c-25.523 9.677-45.14 30.054-53.828 55.927l-12.46 37.08c-.878 2.602-.443 5.47 1.153 7.696 1.603 2.236 4.19 3.558 6.937 3.558h242.45c-.854-6.1.41-12.475 4.06-17.876l8.807-12.996c1.195-1.766 1.39-3.9.538-5.854-.854-1.963-2.552-3.268-4.66-3.593z"/>
          </svg>
        </span>
      </button>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'ChatSettingName',
    data() {
      return {
        disableButton: false,
      };
    },
    computed: {
      chatActive() {
        return this.$store.getters.chatStatus;
      },
      canChatStart() {
        return (this.$store.getters.chatWomenList.length > 0);
      }
    },
    methods: {
      openSelectWomanModal() {
        $('#selectWomanModal').modal('toggle');
      },
      fetchLists(id) {
        if (this.$store.getters.currentChatWoman === null) return false;
        if (this.$store.getters.currentChatWoman.listUpdated > Math.floor(Date.now() / 1000 - 15)) return false;

        const forWomanId = id;

        this.$http.post(this.config.api.frontend + '/v2/site/app-chat/get/last-dialogs', {
          access_token: this.$store.getters.womanSiteToken,
        }).then(onlineListServerResponse => {
          const prettyUserListArray = [];
          if ('contacts' in onlineListServerResponse.body && onlineListServerResponse.body.contacts === []) return false;
          onlineListServerResponse.body.forEach(manUser => {
            prettyUserListArray.push({
              id: parseInt(manUser.user_id),
              name: manUser.name,
              age: parseInt(manUser.age),
              avatar: manUser.avatar,
              isNew: manUser.new,
              status: manUser.status,
              isOnline: manUser.online,
              invite: false,
            })
          });

          this.$store.commit('CHAT_SET_CONTACT_LIST', {
            woman_id: forWomanId,
            list: prettyUserListArray,
          });

          this.$store.commit('CHAT_SET_ONLINE_LIST_UPDATED', {
            woman_id: forWomanId,
          });

        }).catch(fetchOnlineUsersListException => {
          console.warn(fetchOnlineUsersListException);
        });

        this.$http.post(this.config.api.frontend + '/v2/site/app-chat/get/online-list', {
          access_token: this.$store.getters.womanSiteToken,
        }).then(onlineListServerResponse => {
          if (!onlineListServerResponse.body.status) return false;
          const prettyUserListArray = [];
          onlineListServerResponse.body.result.forEach(manUser => {
            prettyUserListArray.push({
              id: parseInt(manUser.user_id),
              name: manUser.name,
              age: parseInt(manUser.age),
              avatar: manUser.avatar,
              isNew: manUser.new,
              status: manUser.status,
              isOnline: manUser.online,
              invite: false,
            })
          });

          let manSortedList = prettyUserListArray.sort(function (a, b) {
            return a.id < b.id;
          });


          this.$store.getters.chatWomenList.forEach(woman => {

            this.$store.commit('CHAT_SET_ONLINE_LIST', {
              woman_id: woman.id,
              list: Object.assign([], manSortedList),
            });
            this.$store.commit('CHAT_SET_ONLINE_LIST_UPDATED', {
              woman_id: woman.id,
            });
          });



        }).catch(fetchOnlineUsersListException => {
          console.warn(fetchOnlineUsersListException);
        });

        this.$http.post(this.config.api.frontend + '/v2/site/app-chat/get/favorites', {
          access_token: this.$store.getters.womanSiteToken,
        }).then(onlineListServerResponse => {
          if (!onlineListServerResponse.body.status) return false;
          const prettyUserListArray = [];
          onlineListServerResponse.body.result.forEach(manUser => {
            prettyUserListArray.push({
              id: parseInt(manUser.id),
              name: manUser.profile.name,
              age: parseInt(manUser.age),
              avatar: manUser.profile.avatarList,
              isNew: manUser.new,
              status: manUser.status,
              isOnline: manUser.online,
              invite: false,
            })
          });

          this.$store.commit('CHAT_SET_FAVORITE_LIST', {
            woman_id: forWomanId,
            list: prettyUserListArray,
          });

          this.$store.commit('CHAT_SET_ONLINE_LIST_UPDATED', {
            woman_id: forWomanId,
          });

        }).catch(fetchOnlineUsersListException => {
          console.warn(fetchOnlineUsersListException);
        });

        this.$http.post(this.config.api.frontend + '/v2/site/app-chat/get/bookmarks', {
          access_token: this.$store.getters.womanSiteToken,
        }).then(onlineListServerResponse => {
          if (!onlineListServerResponse.body.status) return false;
          const prettyUserListArray = [];
          onlineListServerResponse.body.result.forEach(manUser => {
            prettyUserListArray.push({
              id: parseInt(manUser.id),
              name: manUser.profile.name,
              age: parseInt(manUser.age),
              avatar: manUser.profile.avatarList,
              isNew: manUser.new,
              status: manUser.profile.status,
              isOnline: manUser.online,
              invite: false,
            })
          });

          this.$store.commit('CHAT_SET_BOOKMARK_LIST', {
            woman_id: forWomanId,
            list: prettyUserListArray,
          });

          this.$store.commit('CHAT_SET_ONLINE_LIST_UPDATED', {
            woman_id: forWomanId,
          });

        }).catch(fetchOnlineUsersListException => {
          console.warn(fetchOnlineUsersListException);
        });
      },
      prepareChat() {
        if(this.chatActive === true) {

          let oneActiveChat = false;
          this.$store.getters.chatWomenList.forEach(woman => {
            woman.dialogsList.list.forEach(dialog => {
              if(dialog.chatActive) {
                oneActiveChat = true;
              }
            })
          });

          if(oneActiveChat) {
            App.alert('У клиентки есть активный чат. Завершите его сначала.') ;
            return true;
          }

          this.disableButton = true;
          this.$http.post(this.config.api.socket + '/api/session/unlock', {
            access_token: this.$cookie.get('access_token'),
            socket: this.$socket.id,
          }).then(unlockSessionResponse => {
            if(unlockSessionResponse.body.status) {
              this.chatActive = false;
              this.disableButton = false;
              this.$store.commit('CHAT_STOP_ALL_CHATS', {});
              this.$store.commit('CHAT_TOGGLE_CHAT_STATUS', false);
              this.$store.commit('CHAT_DROP_WOMAN_SESSION', []);
            }else {
              alert('Не могу разблокировать сессии клиенткам. Обновите страницу');
            }
          }).catch(sessionUnlockException => {
            console.log(sessionUnlockException);
            alert('Не могу разблокировать сессии клиенткам. Обновите страницу');
          });
          return false;
        }else {

          this.disableButton = true;
          // get access tokens
          let userIdsArray = [];
          this.$store.getters.chatWomenList.forEach(woman => {
            userIdsArray.push(parseInt(woman.id));
          });

          let womanTokens = [];

          this.$http.post('v2/multichat/user-login', {
            access_token: this.$cookie.get('access_token'),
            users: JSON.stringify(userIdsArray),
          }).then(authServerResponse => {
            if (!authServerResponse.body.status) return Promise.reject();
            womanTokens = authServerResponse.body.tokens;
            console.log(`block ${authServerResponse.body.tokens.length} users`);
            let authusers = [];
            womanTokens.forEach(user => {
              authusers.push(user.id);
            });
            userIdsArray = userIdsArray.filter(id => {
              return authusers.indexOf(id) !== -1;
            });
            return this.$http.post(this.config.api.socket + '/api/session/lock', {
              socket: this.$socket.id,
              users: JSON.stringify(userIdsArray),
              access_token: this.$cookie.get('access_token'),
            });
          }).then(sessionLockResponse => {
            console.log(sessionLockResponse);
            if (sessionLockResponse.body.status) {
              this.$store.commit('CHAT_TOGGLE_CHAT_STATUS', true);
              const lockedWoman = sessionLockResponse.body.session.locked;
              let prettyWomanArrayForStore = [];

              this.$store.getters.chatWomenList.forEach(woman => {
                if (lockedWoman.indexOf(woman.id) !== -1) {
                  const womanObjectToPush = {
                    ...woman,
                    listUpdated: 0,
                    onlineList: [],
                    currentUser: null,
                    currentTypedMessage: null,
                    bookmarksList: [],
                    favoritesList: [],
                    contactsList: [],
                    dialogsList: {
                      current: null,
                      list: []
                    }
                  };
                  womanTokens.forEach(token => {
                    if(token.id === woman.id) {
                      womanObjectToPush.token = token.token;
                    }
                  });
                  prettyWomanArrayForStore.push(womanObjectToPush);
                }
              });
              this.$store.commit('CHAT_WOMAN_INIT_LIST', prettyWomanArrayForStore);
              prettyWomanArrayForStore.forEach(woman => {
                this.$store.commit('CHAT_SET_CURRENT_WOMAN', woman.id);
              });
              this.$store.commit('CHAT_SET_CURRENT_WOMAN', prettyWomanArrayForStore[0].id);

              this.$store.getters.chatWomenList.forEach(woman => {
                this.fetchLists(woman.id);
              });

              document.querySelector('#womanTabTrigger').click();
              this.disableButton = false;
              this.$store.commit('CHAT_TOGGLE_CHAT_STATUS', true);
            } else {
              this.$store.commit('CHAT_TOGGLE_CHAT_STATUS', false);
            }
          }).catch(exception => {
            console.warn(exception);
          });
        }
      },
    },
  };
</script>

<style>
  .power-button {
    background: limegreen !important;
    color: #fff !important;
    border: none;
    border-radius: 50%;
    box-shadow: 1.408px 2.649px 7px 0px rgba(0, 0, 0, 0.07), inset 0px 2px 3px 0px rgba(0, 0, 0, 0.16);
    top: 73px;
    width: 36px;
    height: 36px;
    z-index: 221;
  }

  .pb-gray {
    background: darkgray !important;
  }

  .setting-bottom {
    background: #ffffff !important;
    line-height: 48px;
    text-align: center;
    padding-left: 10px;
  }

  .chatActive {
    background: red !important;
  }
</style>
