<template>
  <div class="simplebar" ref="scrollbar">
    <div>
      <message-row-app
          v-for="message in messages"
          :key="message.id"
          @msg="scrollToBottom($event)"
          :message="message"
      />
    </div>
  </div>
</template>

<script>

  import MessageRow from '../items/message/template';
  import SimpleBar from 'simplebar'
  import ProfileModal from '../modals/profileModal';

  export default {
    scroll: null,
    name: 'ChatMessageBox',
    data() {
      return {};
    },
    computed: {
      currentUserExists() {
        return (this.$store.getters.currentChatUser !== null);
      },
      messages() {
        return this.$store.getters.dialog.messages;
      }
    },
    methods: {
      scrollToBottom(e) {
        if (this.scroll) { // remove error
          let container = this.scroll.getScrollElement();
          let el;
          if (e) {
            el = e.parentNode.lastElementChild
          } else {
            el = container.children[0].lastElementChild
          }
          if (el) { // remove warn
            try {
              $(container).scrollTo(el, 0)
            } catch (UndefinedObject) {
              console.warn(UndefinedObject);
            }
          }
        }
      },
      initScrollBar() {
        this.$nextTick(() => {
          this.scroll = new SimpleBar(this.$refs.scrollbar, {});
          this.scrollToBottom();
        })
      },
      destroyScrollBar() {
        this.scroll.unMount();
        this.scroll = null;
      }
    },
    components: {
      'message-row-app': MessageRow
    },
    mounted() {
      this.initScrollBar();
    }
  }
</script>

<style>

  /*.message-item {
      margin-bottom: 15px;
      z-index: 9;
  }

  .message-item--sender {
      background: #F5F6F5;
      color: #808180;
      padding: 20px;
      right: 10px;
      border-radius: 10px;
      overflow-y: scroll;
  }

  .simplebar-content {
      padding-right: 10px !important;
  }*/

</style>

<style lang="scss">

  $brand-primary: #ff993e;

  /*.msg-line + .msg-line {
      margin-top: 10px;
  }

  .usr-message {
      position: relative;
      padding: 0 15px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      color: #6a6a6a;
      font-size: 13px;
  }

  .usr-message {
      position: relative;
      padding: 0 15px;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      color: #6a6a6a;
      font-size: 13px;
      > span {
          flex: 0 0 35px;
          margin-right: 15px;
          img {
              width: 35px;
              height: 35px;
              border-radius: 50%;
          }
      }
      &.sender {
          flex-direction: row-reverse;
          > span {
              margin-right: 0;
              margin-left: 15px;
          }
          .msg {
              background-color: #f6f6f6;
              &:after {
                  left: 100%;
                  border-left-color: #f6f6f6;
              }
          }
      }
      &.recipient {
          .msg {
              background-color: #eef0ff;
              &:after {
                  right: 100%;
                  border-right-color: #eef0ff;
              }
          }
      }

      &.invite {
          .invite-indicator {
              display: block;
          }
      }

      .invite-indicator {
          display: none;
          position: absolute;
          right: 15px;
          top: 0;
          transform: translateY(-50%);
          background-color: $brand-primary;
          color: #ffffff;
          border-radius: 6px;
          font-size: 8px;
          text-transform: uppercase;
          padding: 1px 3px;
      }

      .btn {
          color: #c4c6d2;
          background: none;
          border: none;
          padding: 0;
          border-radius: 0;
          margin-right: 10px;
          font-size: 11px;
          &:active {
              box-shadow: none;
          }
          svg {
              fill: currentColor;
              height: 16px;
              width: 16px;
          }
      }
      .flex-center {
          display: flex;
          align-items: center;
          justify-content: flex-start;
      }
      .emojione {
          height: 24px;
          width: 24px;
      }
      .date {
          font-size: 11px;
          color: #c4c6d2;
          float: right;
      }
      .text-underline {
          text-decoration: underline;
          margin-left: 5px;
      }
      .btn-trnsl-box {
          float: left;
      }
      .msg {
          position: relative;
          flex: 1 1 100%;
          max-width: 360px;
          min-height: 36px;
          padding: 10px 15px;
          border-radius: 8px;

          word-break: break-all;
          !* Non standard for WebKit *!
          word-break: break-word;
          hyphens: auto;

          &:after {
              top: 15px;
              border: solid transparent;
              content: " ";
              height: 0;
              width: 0;
              position: absolute;
              pointer-events: none;
              border-width: 7px;
          }

          > p {
              margin-bottom: 5px;
          }
      }

      .is-translating + .loader {
          display: block;
      }

      .loader {
          margin: 0;
          line-height: 0;
          display: none;
      }
  }

  .usr-message > span {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 35px;
      flex: 0 0 35px;
      margin-right: 15px;
  }

  .usr-message > span img {
      width: 35px;
      border-radius: 50%;
  }

  .usr-message.sender {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
  }

  .usr-message.sender > span {
      margin-right: 0;
      margin-left: 15px;
  }

  .usr-message.sender .msg {
      background-color: #f6f6f6;
  }

  .usr-message.sender .msg:after {
      left: 100%;
      border-left-color: #f6f6f6;
  }

  .usr-message.recipient .msg {
      background-color: #eef0ff;
  }

  .usr-message.recipient .msg:after {
      right: 100%;
      border-right-color: #eef0ff;
  }

  .usr-message .btn {
      color: #c4c6d2;
      background: none;
      border: none;
      padding: 0;
      border-radius: 0;
      margin-right: 10px;
      font-size: 11px;
  }

  .usr-message .btn:active {
      box-shadow: none;
  }

  .usr-message .btn svg {
      fill: currentColor;
      height: 16px;
      width: 16px;
  }

  .usr-message .flex-center {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
  }

  .usr-message .btn-trnsl-box {
      position: absolute;
      bottom: 10px;
      left: 10px;
  }

  .usr-message .emojione {
      height: 24px;
      width: 24px;
  }

  .usr-message .date {
      font-size: 11px;
      color: #c4c6d2;
      float: right;
  }

  .usr-message .text-underline {
      text-decoration: underline;
      margin-left: 5px;
  }

  .usr-message .msg {
      position: relative;
      -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
      flex: 1 1 100%;
      max-width: 360px;
      padding: 10px 15px;
      border-radius: 8px;
  }

  .usr-message .msg:after {
      top: 15px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-width: 7px;
  }

  .usr-message .msg > p {
      margin-bottom: 5px;
  }

  .usr-message .is-translating + .loader {
      display: block;
  }

  .usr-message .loader {
      margin: 0;
      line-height: 0;
      display: none;
  }

  .usr-message .loader .dot {
      height: 10px;
      width: 10px;
  }

  .invite-indicator {
      display: none;
      position: absolute;
      right: 15px;
      top: 0;
      transform: translateY(-50%);
      background-color: #ff993e;
      color: #ffffff;
      border-radius: 6px;
      font-size: 8px;
      text-transform: uppercase;
      padding: 1px 3px;
  }

  .usr-message {
      position: relative;
      padding: 0 15px;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      color: #6a6a6a;
      font-size: 13px;
      > span {
          flex: 0 0 35px;
          margin-right: 15px;
          img {
              width: 35px;
              height: 35px;
              border-radius: 50%;
          }
      }
      &.sender {
          flex-direction: row-reverse;
          > span {
              margin-right: 0;
              margin-left: 15px;
          }
          .msg {
              background-color: #f6f6f6;
              &:after {
                  left: 100%;
                  border-left-color: #f6f6f6;
              }
          }
      }
      &.recipient {
          .msg {
              background-color: #eef0ff;
              &:after {
                  right: 100%;
                  border-right-color: #eef0ff;
              }
          }
      }

      &.invite {
          .invite-indicator {
              display: block;
          }
      }

      .invite-indicator {
          display: none;
          position: absolute;
          right: 15px;
          top: 0;
          transform: translateY(-50%);
          background-color: $brand-primary;
          color: #ffffff;
          border-radius: 6px;
          font-size: 8px;
          text-transform: uppercase;
          padding: 1px 3px;
      }

      .btn {
          color: #c4c6d2;
          background: none;
          border: none;
          padding: 0;
          border-radius: 0;
          margin-right: 10px;
          font-size: 11px;
          &:active {
              box-shadow: none;
          }
          svg {
              fill: currentColor;
              height: 16px;
              width: 16px;
          }
      }
      .flex-center {
          display: flex;
          align-items: center;
          justify-content: flex-start;
      }
      .emojione {
          height: 24px;
          width: 24px;
      }
      .date {
          font-size: 11px;
          color: #c4c6d2;
          float: right;
      }
      .text-underline {
          text-decoration: underline;
          margin-left: 5px;
      }
      .btn-trnsl-box {
          float: left;
      }
      .msg {
          position: relative;
          flex: 1 1 100%;
          max-width: 360px;
          min-height: 36px;
          padding: 10px 15px;
          border-radius: 8px;

          word-break: break-all;
          !* Non standard for WebKit *!
          word-break: break-word;
          hyphens: auto;

          &:after {
              top: 15px;
              border: solid transparent;
              content: " ";
              height: 0;
              width: 0;
              position: absolute;
              pointer-events: none;
              border-width: 7px;
          }

          > p {
              margin-bottom: 5px;
          }
      }

      .is-translating + .loader {
          display: block;
      }

      .loader {
          margin: 0;
          line-height: 0;
          display: none;
      }
  }

  .is-translating + .loader {
      display: block;
  }

  .loader {
      margin: 0;
      line-height: 0;
      display: none;
  }*/

</style>
