<template>
  <form class="send-form" :class="{'no-invites': !invitesLength}" @submit.prevent="sendMessage">
    <div class="form-wrap" v-show="showInput">
      <div class="content-editable translate-active">
        <content-editable v-model="message" :clear="clear" @submit="sendMessage($event)"
                          :placeholder="'Напишите сообщение'"></content-editable>
      </div>
      <div class="send-box wmn">
        <div class="send-box__actions">
          <button class="btn btn-translate"
                  :class="{'translate-active': !messageEmpty}"
                  :disabled="messageEmpty"
                  type="button"
                  @click="translate">
						<span class="btn-inner">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 490 490">
								<path
                  d="M245 490c135.1 0 245-109.9 245-245S380.1 0 245 0 0 109.9 0 245s109.9 245 245 245zm72.3-77.3c14.9-20.8 29.3-47 39.2-79.2h48.2c-19.5 35.1-50.3 63.1-87.4 79.2zm102.8-219.5c4.9 16.4 7.5 33.8 7.5 51.8s-2.7 35.4-7.5 51.8h-55c2.7-16.1 4.3-33.3 4.3-51.8s-1.6-35.7-4.3-51.8h55zm-15.4-36.7h-48.2c-9.9-32.2-24.3-58.4-39.2-79.2 37.1 16.1 67.9 44.1 87.4 79.2zM263.3 70.4c17.7 17.9 39.9 46.3 54.3 86.1h-54.3V70.4zm0 122.8h64.4c3.1 15.9 5 33.1 5 51.8s-1.8 35.9-4.9 51.8h-64.5V193.2zm0 140.3h54.5c-14.4 40.2-36.7 68.6-54.5 86.4v-86.4zm-178 0h48.2c9.9 32.2 24.3 58.4 39.2 79.2-37.1-16.1-67.9-44.1-87.4-79.2zm141.4 86.1c-17.7-17.9-39.9-46.3-54.3-86.1h54.3v86.1zm0-122.8h-64.4c-3.1-15.9-5-33.1-5-51.8s1.8-35.9 4.9-51.8h64.5v103.6zm0-140.3h-54.5c14.4-40.2 36.7-68.6 54.5-86.4v86.4zm-54-79.2c-14.9 20.8-29.3 47-39.2 79.2H85.3c19.5-35.1 50.3-63.1 87.4-79.2zM62.4 245c0-18 2.7-35.4 7.5-51.8h55c-2.7 16.1-4.3 33.3-4.3 51.8s1.6 35.7 4.3 51.8h-55C65 280.4 62.4 263 62.4 245z"/></svg>
								<span class="text-uppercase hidden-sm hidden-xs" v-if="!inProcess">Перевести</span>
							<span class="text-uppercase hidden-sm hidden-xs" v-if="inProcess">
								<div class="spinner">
									<div class="bounce1"></div>
									<div class="bounce2"></div>
									<div class="bounce3"></div>
								</div>
							</span>
						</span>
          </button>
          <div class="attach-box" v-if="isActive" @click="attachOpen = true" >
            <div class="attach-box--inner set-flex">
              <div class="attach-box--btn">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 51.619 51.619"
                     class="svg replaced-svg">
                  <path d="M50.14 19.206c-.39-.39-1.023-.39-1.414 0L21.432 46.5c-2.012 2.012-4.697 3.12-7.563 3.12-2.868 0-5.554-1.108-7.565-3.12s-3.12-4.697-3.12-7.564c0-2.866 1.108-5.552 3.12-7.563L33.598 4.078c2.897-2.896 7.445-2.72 10.58.413 3.132 3.134 3.31 7.683.413 10.58L18.95 40.71c-1.432 1.434-3.766 1.435-5.202 0-1.434-1.434-1.434-3.768 0-5.202l17.37-17.37c.39-.39.39-1.022 0-1.413s-1.024-.39-1.415 0l-17.37 17.368c-2.213 2.214-2.213 5.816 0 8.03 2.217 2.217 5.82 2.213 8.032 0l25.64-25.64c3.704-3.704 3.526-9.468-.413-13.407-3.938-3.938-9.703-4.117-13.407-.413L4.89 29.958c-2.39 2.39-3.705 5.577-3.705 8.978 0 3.4 1.315 6.59 3.705 8.98 2.39 2.39 5.577 3.704 8.98 3.704 3.4 0 6.588-1.315 8.977-3.705L50.14 20.62c.39-.39.39-1.024 0-1.414z"></path>
                </svg>

                <span class="hidden-sm hidden-xs">Прикрепить</span>
              </div>
            </div>
          </div>
        </div>
        <div class="flex">
          <button type="submit" class="btn btn-primary btn-orange">
						<span>
							<svg xmlns="http://www.w3.org/2000/svg" class="hidden-lg hidden-md"
                   viewBox="0 0 535.5 535.5"><path
                d="M0 497.25l535.5-229.5L0 38.25v178.5l382.5 51-382.5 51"/></svg>
							<span class="visible-lg visible-md">Отправить</span>
						</span>
          </button>
        </div>
      </div>
      <button class="btn btn-wmn-invites hidden-lg hidden-md" v-show="invitesLength"
              @click="responsiveShowLastDialogs" type="button">
                <span>
					<svg xmlns="http://www.w3.org/2000/svg" class="icon" version="1.1" x="0px" y="0px" viewBox="0 0 487.7 487.7" xml:space="preserve" enable-background="new 0 0 487.7 487.7"><g><path d="M437.1 10.796H50.5c-27.9 0-50.5 22.6-50.5 50.5v276.3c0 27.9 22.6 50.5 50.5 50.5h11.2v81.4c0 6.6 8 9.9 12.6 5.2l86.6-86.6h276.3c27.9 0 50.5-22.6 50.5-50.5v-276.2C487.7 33.496 465 10.796 437.1 10.796zM156.2 225.796c-14.5 0-26.3-11.8-26.3-26.3s11.8-26.3 26.3-26.3 26.3 11.8 26.3 26.3S170.7 225.796 156.2 225.796zM243.8 225.796c-14.5 0-26.3-11.8-26.3-26.3s11.8-26.3 26.3-26.3c14.5 0 26.3 11.8 26.3 26.3S258.3 225.796 243.8 225.796zM331.4 225.796c-14.5 0-26.3-11.8-26.3-26.3s11.8-26.3 26.3-26.3 26.3 11.8 26.3 26.3S345.9 225.796 331.4 225.796z"></path></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
					<span class="label label-primary">{{invitesLength}}</span>
                </span>
      </button>
    </div>
    <attach-photos :userId="receiver"
                   @close="attachOpen = false"
                   :limit="1"
                   @selected="getSelectedPhotos($event)"
                   :passedCount="0" :sell="true"
                   :open="attachOpen"></attach-photos>
  </form>
</template>

<script>

  import ContentEditable from '../elements/ContentEditable'
  import AttachPhotos from '../modals/PhotosModal';

  export default {
    data() {
      return {
        attachOpen: false,
        message: '',
        clear: false,
        inProcess: false,
        showInput: false,
      }
    },
    watch: {
      isActive(v) {
        console.log(v);
      },
      receiver(v) {
        console.log(`new receiver ${v}`);
        if(v !== undefined && v !== null) {
          this.$store.commit('CHAT_REMOVE_INVITE', this.receiver);
          this.$store.commit('CHAT_READ_MESSAGE_IN_CURRENT_DIALOG', {
            user_id: this.receiver,
          });
        }
        this.clearMessage();
        let userOnline = false;
        this.$store.getters.currentChatWoman.onlineList.forEach(user => {
          if(user.id === this.receiver) {
            userOnline = true;
          }
        });
        this.showInput = userOnline;
      },
    },
    methods: {
      getSelectedPhotos( e ) {
        let id = e[ 0 ].id;
        this.$http.post(this.config.api.frontend + '/v2/site/app-chat/open-photo-for-sale', {
          access_token: this.$store.getters.womanSiteToken,
          photo_id: id,
          target_user_id: this.receiver
        } ).then( r => {
          if ( r.body.status ) {
            this.$socket.emit( 'message', {
              token: this.$store.getters.womanChatToken,
              receiver: this.receiver,
              message: '_',
              photoSell: true,
              photoBuyId: id,
              type: 'normalMessage'
            } );
            this.$store.commit('CHAT_PUSH_MESSAGE_TO_DIALOG', {
              type: 'photo',
              user_id: this.$store.getters.currentChatWoman.id,
              target_user_id: this.receiver,
              text: '_',
              photo: +id,
              isInvite: false,
              start: false,
              invite: false,
              id: Math.floor(Date.now()),
            });
            this.$store.commit( 'SET_CURRENT_TYPED_MESSAGE', '' );
          } else {
            console.error( 'unable to send photo' )
          }
        }, err => {
          console.error( 'unable to send photo' )
        } )
      },
      responsiveShowLastDialogs() {
        if (this.invitesLength) {
          this.$store.dispatch('setResponsiveShowLastDialogs', true);
        }
      },
      clearMessage() {
        this.clear = !this.clear;
      },
      sendMessage(e) {
        let oldMessage = typeof e === 'string' ? e : this.message;
        this.message = '';
        this.clearMessage();
        let type = 'textInvite';
        if (this.isActive) {
          type = 'normalMessage';
        }
        if (!this.isActive && this.isVideoChat) {
          type = 'videoInvite';
        }
        if (!this.isActive && this.isTextChat) {
          type = 'textInvite';
        }

        if (oldMessage.trim() === '') return false;

        this.$socket.emit('message', {
          token: this.$store.getters.womanChatToken,
          receiver: this.receiver,
          message: oldMessage,
          type: type
        });

        this.$store.commit('CHAT_PUSH_MESSAGE_TO_DIALOG', {
          user_id: this.$store.getters.currentChatWoman.id,
          target_user_id: this.receiver,
          created: Math.floor(Date.now() / 1000),
          text: this.$store.getters.currentTypedMessage,
          type: 'normalMessage',
          start: false,
          invite: !this.$store.getters.currentChatWoman.dialogsList.current.chatActive,
          id: Math.floor(Math.random() * 10000) - 1231,
        });
        this.$store.commit('CHAT_SET_CURRENT_TYPED_MESSAGE', '');
        if (this.$store.getters.chatSounds && this.$store.getters.activeChatSound && this.$store.getters.chatActiveClock) {
          window.wMessage.play();
        }
      },
      translate() {
        this.inProcess = true;
        this.$http.post(this.config.api.frontend + '/v2/site/app-chat/translate-message', {
          access_token: this.$store.getters.womanSiteToken,
          sentence: this.message,
          from: 'ru',
          to: 'en'
        }).then(translatedText => {
          if (translatedText.data.status) {
            this.$store.commit('CHAT_SET_CURRENT_TYPED_MESSAGE', translatedText.data.text);
            this.message = translatedText.data.text;
            this.setMessageView(this.message);
            this.inProcess = false;
          } else {
            this.inProcess = false;
          }
        }, err => {
          this.inProcess = false;
        })
      },
      setMessageView(msg) {
        document.querySelector('.emoji-wysiwyg-editor').innerHTML = msg;
      }
    },
    computed: {
      woman() {
        return this.$store.getters.currentChatWoman;
      },
      token() {
        return this.$store.getters.token
      },
      receiver() {
        return this.woman.dialogsList.current.user.id;
      },
      isActive() {
        return (this.$store.getters.chatActiveClock && this.$store.getters.currentChatUser !== null)
      },
      isTextChat() {
        return true;
      },
      messageEmpty() {
        return this.message === '';
      },
      invitesLength() {
        return 0;
      },
      receiverUser() {
        return this.$store.getters.currentChatWoman.dialogsList.current.user
      }
    },
    mounted() {
      this.clear = !this.clear;
      this.$store.commit('CHAT_REMOVE_INVITE', this.receiver);
      this.$store.commit('CHAT_READ_MESSAGE_IN_CURRENT_DIALOG', {
        user_id: this.receiver,
      });
      this.showInput = !this.$store.getters.currentChatWoman.dialogsList.current.user.online;
    },
    components: {
      ContentEditable,
      AttachPhotos
    },
  }
</script>

<style scoped>
  .spinner {
    margin: auto auto 0;
    width: 67px;
    text-align: center;
  }

  .send-form .emoji-dropdown .emoji-wrap {
    width: 100% !important;
  }

  .spinner > div {
    width: 10px;
    height: 10px;
    background-color: #27ae60;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }

  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }

  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }

  @-webkit-keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
      -webkit-transform: scale(0)
    }
    40% {
      -webkit-transform: scale(1.0)
    }
  }

  @keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    40% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }
</style>

<style lang="scss">

  .send-form .content-editable {
    margin: 0 10px;
    position: relative;
  }

  .send-form .content-editable .placeholder {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #bdbdbd;
    pointer-events: none;
  }

  .send-form .content-editable .dropdown {
    position: absolute;
    right: 7px;
    top: 7px;
    z-index: 5;
    outline: none;
  }

  .send-form .message {
    min-height: 60px;
    max-height: 120px;
    width: 100%;
    padding: 10px 35px 10px 10px;
    border: 1px solid #ededed;
    border-radius: 8px;
    font-size: 13px;
    overflow: auto;
    word-break: break-all;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
  }

  .send-form .message:focus, .send-form .message:active {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
  }

  .send-form .message:focus + .placeholder, .send-form .message:active + .placeholder {
    opacity: .5;
  }

  .send-form .message .emojione {
    width: 20px;
    height: 20px;
  }

  .send-form .message .emoji-message-wrap {
    display: inline-block;
    height: 20px;
    width: 20px;
  }

  .send-form .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .send-form .send-box {
    margin: 15px 15px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .send-form .send-box.wmn {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
.send-box__actions {
  display: flex;
  align-items: center;
}
  .send-form .btn-translate {
    color: #cbcbcb;
    border-color: #cbcbcb;
    background: transparent;
    font-size: 11px;
    line-height: 1.2;
    padding: 9px 14px;
  }

  .send-form .btn-translate.translate-active {
    color: #05ca6b;
    border-color: #05ca6b;
  }

  .send-form .btn-translate.translate-active .text-uppercase {
    border-color: #05ca6b;
  }

  .send-form .btn-translate > span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .send-form .btn-translate .text-uppercase {
    margin-left: 5px;
    border-bottom: 1px dashed #cbcbcb;
  }

  .send-form .btn-translate svg {
    fill: currentColor;
    width: 16px;
    height: 16px;
  }

  .send-form .btn-translate:active .text-uppercase {
    border-color: #fff;
  }

  .send-form .used-smiles + .btn {
    margin-left: 13px;
  }

  .send-form .used-smiles > li {
    display: block;
    float: left;
    cursor: pointer;
  }

  .send-form .used-smiles > li + li {
    margin-left: 8px;
  }

  .send-form .used-smiles .emojione {
    width: 24px;
    height: 24px;
  }

  .send-form .dropdown-btn {
    padding: 3px 5px;
    cursor: pointer;
  }

  .send-form .dropdown-btn svg {
    fill: #bdbdbd;
    width: 16px;
    height: 16px;
  }

  .send-form .emoji-dropdown {
    padding: 0;
    border: 1px solid #ededed;
    height: 115px;
    width: 210px;
    top: auto;
    right: -7px;
    bottom: calc(100% + 16px);
    left: auto;
  }

  .send-form .emoji-dropdown:before {
    bottom: auto;
    top: 100%;
    right: 15px;
    border-top-color: #fff;
    border-bottom-color: transparent;
  }

  .send-form .emoji-dropdown .emoji-wrap {
    height: 100%;
    width: 208px;
  }

  .send-form .emoji-dropdown .simplebar-content {
    width: 208px;
  }

  .send-form .emoji-dropdown .simplebar-scrollbar {
    width: 4px;
  }

  .send-form .emoji-list {
    padding: 6px 9px;
  }

  .send-form .emoji-box {
    display: block;
    float: left;
    line-height: 0;
    padding: 4px 7px;
    cursor: pointer;
  }

  .send-form .emoji-box:hover {
    background: rgba(204, 204, 204, 0.5);
    box-shadow: 0 0 2px red;
  }

  .send-form .emoji-box .emojione {
    pointer-events: none;
    width: 24px;
    height: 24px;
  }

  .send-form .btn-primary {
    line-height: 1;
    padding: 12px 25px;
    text-transform: uppercase;
    font-size: 11px;
  }

  .send-form .btn-primary svg {
    fill: #b9b9b9;
    height: 16px;
    width: 16px;
  }

  @media only screen and (max-width: 992px) {
    .ios .dialog-row {
      height: calc(100% - 50px) !important;
    }
    .send-form .form-wrap {
      position: relative;
    }
    .send-form .content-editable {
      margin: 0 50px 0 10px;
    }
    .send-form .content-editable.translate-active .message {
      padding-left: 35px;
    }
    .send-form .content-editable.translate-active .placeholder {
      left: 35px;
      top: 11px;
    }
    .send-form .content-editable .dropdown {
      display: none;
    }
    .send-form .message {
      min-height: 40px;
      max-height: 40px;
    }
    .send-form .used-smiles + .btn {
      margin: 0;
    }
    .send-form .send-box {
      margin: 0;
      position: absolute;
      top: 50%;
      right: 60px;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    .send-form .send-box.wmn {
      pointer-events: none;
      left: 10px;
    }
    .send-form .send-box.wmn button,
    .send-form .send-box.wmn div {
      pointer-events: all;
    }
    .send-form .btn-translate {
      padding: 8px;
      border: none;
    }
    .send-form .btn-translate:active {
      box-shadow: none;
    }
    .send-form .btn-primary {
      background: none;
      border: none;
      padding: 0;
      border-radius: 0;
    }
    .btn-wmn-invites {
      position: absolute;
      top: 5px;
      right: 10px;
      background: none;
      border: none;
      line-height: 1;
      width: 30px;
      height: 30px;
      padding: 0;
    }
    .btn-wmn-invites:active {
      box-shadow: none;
    }
    .btn-wmn-invites > span {
      position: relative;
      display: block;
      height: 20px;
      width: 20px;
    }
    .btn-wmn-invites .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 16px;
      height: 16px;
      fill: #bababa;
    }
    .btn-wmn-invites .label {
      position: absolute;
      top: -10px;
      right: 0;
      -webkit-transform: translateX(50%);
      transform: translateX(50%);
      padding: 1px 4px 2px;
      line-height: 1;
      border-radius: 10px;
      border: 2px solid #fff;
      font-size: 11px;
    }
  }

  .send-form .btn {
    border-radius: 88px;
    font-size: 15px;
  }

  .send-form .btn:focus {
    outline: none !important;
  }

  .btn-white {
    border-color: rgba(255, 255, 255, 0.5);
    color: #fff;
  }

  .btn-orange {
    background-color: #ff993e !important;
    color: #fff !important;
    border-color: #ff993e !important;
  }

  .btn-orange.transparent {
    background-color: transparent;
    border-color: #ff993e !important;
    color: #ff993e !important;
  }

  .btn-success {
    background-color: #05ca6b;
  }

  .btn-success:focus {
    outline: none !important;
  }

  .btn-success:hover {
    border-color: none;
  }

  .btn-primary:hover {
    transition: .4s;
    background-color: #ec8b35 !important;
    border-color: #ff993e !important;
  }
</style>
