<template>
  <div class="m-ch__active-usr">
    <div class="m-ch__active-usr--info">
      <div v-show="$store.getters.chatStatus" @click="openProfileModal">
        <img :src="avatar" alt="" class="img-responsive current-chat-user-avatar cursor">
      </div>
      <div v-show="$store.getters.chatStatus">
        <p class="usr-name">
          <span class="user-name">
            <b>{{name}}</b><template v-if="age">, {{age}}</template></span>
          <div class="text-muted"><b>ID: {{id}}</b></div>
          <button class="btn btn-sm btn-orange" @click="openProfileModal"><i class="glyphicon glyphicon-eye-open"></i> Visit Profile</button>
        </p>
        <p class="m-ch__active-usr--status" v-if="status">
          {{status}}
        </p>
      </div>
    </div>
    <nav class="photo-nav swiper-container" v-if="open">
      <div class="swiper-wrapper" ref="gallery">
        <a class="swiper-slide" v-for="i in photos" :href="i.img_origin">
          <img :src="i.img_preview">
        </a>
      </div>
    </nav>
    <action-button-box :hasPhotos="!!photosLen" :open="open" @displayGallery="displayGallery($event)"></action-button-box>
  </div>

</template>

<script>


  import ActionButtonBox from './ActionButtonBox';
  import toastr from 'toastr'

  export default {
    name: 'CurrentUserBox',
    data() {
      return {
        lg: null,
        gallery: null,
        sliderInitialized: false,
        open: false,
        photos: []
      };
    },
    methods: {
      openProfileModal() {
        this.$http.post(this.config.api.frontend + '/v2/profile/load', {
          access_token: this.$store.getters.womanSiteToken,
          target_user_id: this.id
        }).then(serverResponse => {
          if (serverResponse.body.status) {
            this.$store.commit('CHAT_UPDATE_PROFILE_MODAL', {
              open: true,
              user: serverResponse.body.result,
              loaded: true
            })
          } else {
            toastr.error('Не могу получить профайл');
          }
        })
      },
		displayGallery(open) {
      	  this.open = open
        },


        getPhotos() {
        this.$http.post(this.config.api.frontend + '/v2/profile/load', {
          access_token: this.$store.getters.womanSiteToken,
          target_user_id: this.id
        }).then(r => {
          if (r.body.status) {
            this.photos = r.body.result.photos;
          } else {
            toastr.error('Не могу получить фотографии пользователя')
          }
        }, err => {
          toastr.error('Не могу получить фотографии пользователя')
          console.log(err)
        })
      },
      initGallery() {
        if (this.lg) this.lg.data('lightGallery').destroy(true);
        this.$nextTick(() => {
          this.lg = $(this.$refs.gallery).lightGallery();
        });
      },
    },
    computed: {
    	photosLen() {
    	  return this.photos.length;
        },
      user() {
        return this.$store.getters.currentChatUser;
      },
      currentChatUserExists() {
        return (this.user !== null);
      },
      name() {
        return this.user.name;
      },
      age() {
        return this.user.age || '';
      },
      id() {
        return this.user.id;
      },
      status() {
        return this.user.status;
      },
      avatar() {
        if (this.user === null) return false;
        return this.user.avatar.img_medium;
      }
    },
    beforeMount() {
    },
    mounted() {
      this.getPhotos()
    },
    watch: {
      id(v) {
        this.getPhotos();
        this.open = false;
        this.$store.commit('CHAT_READ_MESSAGE_IN_CURRENT_DIALOG', {
          user_id: v,
        });
      },
        open(v) {
      	  if (v) {
			  this.initGallery();
          }
        }
    },
    components: {
      ActionButtonBox
    }
  }
</script>

<style>
  .current-chat-user-avatar {
    max-height: 75px !important;
    max-width: 75px !important;
    border-radius: 5px;
    margin-right: 15px;
  }

  .user-name > svg {
    fill: #bababa;
    height: 13px;
    width: 13px;
  }
</style>
