<template>
  <div class="current-user-header">
    <div class="row">
      <div class="col-md-5">
        <div v-if="womanSelected">
          <img :src="currentWoman.avatar.large" width="50px" height="50px" style="border-radius: 5px; margin-right: 5px;">
          <b>{{currentWoman.name}}, {{currentWoman.age}}</b> | ID: {{currentWoman.id}}
        </div>
        <span v-else>
          <b>Не выбрана клиентка</b>
        </span>
      </div>
      <div class="col-md-5">
        <clock-app></clock-app>
      </div>
      <div class="col-md-2 text-right" style="padding-right: 15px; margin-top: 5px">
        <span v-if="soundOn" class="sound-control" @click="soundSwitch">
          <span><svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M4.125 8.8H2.042C1 8.8 1 9.867 1 9.867v4.266S1 15.2 2.042 15.2h2.083L12 20V4L4.125 8.8zm14.48-4.53C20.69 6.19 22 8.943 22 12.002c0 3.15-1.387 5.975-3.583 7.9l-.8-.63C19.684 17.53 21 14.92 21 12.002c0-2.81-1.22-5.337-3.16-7.076l.764-.656zm-2.46 2.107C17.892 7.844 19 10.044 19 12.502c0 2.312-.98 4.394-2.548 5.855l-.798-.626C17.094 16.45 18 14.58 18 12.503c0-2.21-1.025-4.182-2.625-5.464l.77-.66zM13.82 8.372c1.316.9 2.18 2.414 2.18 4.13 0 1.615-.766 3.05-1.954 3.965l-.818-.643c1.07-.718 1.772-1.938 1.772-3.322 0-1.47-.793-2.755-1.975-3.45l.794-.68z" fill="#fff"></path></g></svg></span>
        </span>
        <span v-else class="sound-control" @click="soundSwitch">
          <span><svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M12 12.98V20l-7.875-4.8H2.042C1 15.2 1 14.133 1 14.133V9.867S1 8.8 2.042 8.8h2.083l.725-.442 7.15 4.62zm0-3.573V4L7.695 6.624 12 9.407zm9.408 6.08c.383-1.09.592-2.263.592-3.485 0-3.06-1.308-5.813-3.396-7.732l-.765.656C19.78 6.666 21 9.19 21 12.002c0 1.02-.16 2.004-.46 2.925l.868.56zm-1.4 2.668c-.463.64-.997 1.226-1.59 1.746l-.802-.628c.58-.49 1.102-1.047 1.552-1.66l.84.543zm-1.122-4.298c.075-.44.114-.893.114-1.355 0-2.458-1.11-4.658-2.854-6.125l-.77.66C16.975 8.32 18 10.293 18 12.503c0 .256-.014.508-.04.757l.926.597zm-1.09 2.868c-.375.602-.828 1.15-1.344 1.632l-.798-.626c.505-.45.944-.97 1.302-1.548l.84.543zm-1.823-4.75C15.816 10.478 15 9.18 13.82 8.372l-.795.68c.818.48 1.45 1.244 1.76 2.156l1.188.767zm-.698 3.12c-.322.53-.74.996-1.23 1.372l-.817-.643c.49-.33.903-.764 1.207-1.27l.84.542zM2.962 5.803l19.552 12.874.546-.838L3.508 4.964l-.546.838z" fill="#fff"></path></g></svg></span>
        </span>
      </div>
    </div>
  </div>
</template>

<script>

  import Clock from '../elements/Clock';

  export default {
    name: 'HeaderBox',
    data() {
      return {
        soundState: true,
      };
    },
    computed: {
      soundOn() {
        return this.$store.getters.chatSounds;
      },
      womanSelected() {
        return this.$store.getters.currentChatWoman !== null;
      },
      currentWoman() {
        return this.$store.getters.currentChatWoman;
      }
    },
    watch: {
      currentChatWoman(v) {
        if(v !== null && v.dialogsList.current !== null) {
          this.$store.commit('CHAT_READ_MESSAGE_IN_CURRENT_DIALOG', {
            user_id: v.dialogsList.current.user.id,
          });
          this.$store.commit('CHAT_SET_CLOCK_ACTIVITY', v.dialogsList.current.cahtActive);
        }
      }
    },
    methods: {
      soundSwitch() {
        this.$store.commit('CHAT_SET_SOUND_CHAT', !this.soundOn);
      },
    },
    mounted() {
      this.soundState = this.$store.getters.chatSounds;
    },
    components: {
      'clock-app': Clock,
    }
  }
</script>
