<template>
    <div class="preloader-wrapper">
        <div class='preload-juggle'>
            <div class='ball'></div>
            <div class='ball'></div>
            <div class='ball'></div>
        </div>
    </div>
</template>

<script>
    export default {
    	name: 'preloader'
    }
</script>

<style>
    .preloader-wrapper {
        min-height: 50.5vh;
    }
    .preload-juggle {
        width: 300px;
        height: 300px;
        position: absolute;
        top: 50%;
        margin-top: -150px;
        left: 50%;
        margin-left: -150px;
    }
    .preload-juggle div {
        position: absolute;
        width: 21px;
        height: 21px;
        border-radius: 10.5px;
        background: #2f3745;
        margin-top: 150px;
        margin-left: 150px;
        animation: juggle 2.1s linear infinite;
    }
    .preload-juggle div:nth-child(1) {
        animation-delay: -0.7s;
    }
    .preload-juggle div:nth-child(2) {
        animation-delay: -1.4s;
    }

    @keyframes juggle {
        0% {
            transform: translateX(0px) translateY(0px);
        }
        12.5% {
            transform: translateX(27.5px) translateY(-57px) scale(1.1);
            background: #2f3745;
        }
        25% {
            transform: translateX(55px) translateY(0px);
            animation-timing-function: ease-out;
        }
        37.5% {
            transform: translateX(27.5px) translateY(57px);
        }
        50% {
            transform: translateX(0px) translateY(0px);
        }
        62.5% {
            transform: translateX(-27.5px) translateY(-57px) scale(1.1);
            animation-timing-function: ease-in;
        }
        75% {
            transform: translateX(-55px) translateY(0px);
            animation-timing-function: ease-out;
        }
        87.5% {
            transform: translateX(-27.5px) translateY(57px);
        }
        100% {
            transform: translateX(0px) translateY(0px);
        }
    }
</style>
