<template>
    <div>
        <h2 class="page-header"><i class="fa fa-edit"></i> Стоимость услуг</h2>

        <div class="row">
            <div class="col-md-6">
                <!-- form start -->
                <form  method="POST" action="" @submit.prevent class="form-horizontal">

                    <div class="form-group">
                        <label for="for-letter" class="col-md-4">Исходящее письмо</label>
                        <div class="col-md-5">
                            <input type="number" class="form-control" id="for-letter" v-model="writeLetterModel">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="for-text-chat" class="col-md-4">Одна минута в текстовом чате</label>
                        <div class="col-md-5">
                            <input type="number" class="form-control" id="for-text-chat" v-model="textChatMinute">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="for-video-chat" class="col-md-4">Одна минута в видеочате</label>
                        <div class="col-md-5">
                            <input type="number" class="form-control" id="for-video-chat" v-model="videoChatMinute">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="for-private-chat" class="col-md-4">Одна минута в приватном чате</label>
                        <div class="col-md-5">
                            <input type="number" class="form-control" id="for-private-chat" v-model="privateChatMinute">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="for-info-request" class="col-md-4">Стоимость запроса контактной информации</label>
                        <div class="col-md-5">
                            <input type="number" class="form-control" id="for-info-request" v-model="infoRequest">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ph-buy" class="col-md-4">Покупка приватного фото в чате</label>
                        <div class="col-md-5">
                            <input type="number" class="form-control" id="ph-buy" v-model="photoBuy">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ph-video" class="col-md-4">Покупка приватного видео</label>
                        <div class="col-md-5">
                            <input type="number" class="form-control" id="ph-video" v-model="videoBuy">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-9 text-right">
                            <button type="submit" class="btn btn-primary" @click.prevent="updatePrice">Сохранить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue'
    import toastr from 'toastr'
    export default {
        name: 'EditPrice',
        data() {
            return {
                writeLetterModel: '',
                textChatMinute: '',
                videoChatMinute: '',
                privateChatMinute: '',
                infoRequest: '',
                photoBuy: '',
                videoBuy: ''
            }
        },
        beforeMount() {
            Vue.http.post('v2/prices/get/all', {
                access_token: this.$cookie.get('access_token')
            }).then(result => {
                if(result.body.status) {
                    let price = result.body.result;
                    for(let i = 0; i < price.length; i++) {
                        if(price[i].action == 'write_letter') {
                            this.writeLetterModel = price[i].price
                        }
                        if(price[i].action == 'text_chat') {
                            this.textChatMinute = price[i].price
                        }
                        if(price[i].action == 'video_chat') {
                            this.videoChatMinute = price[i].price
                        }
                        if(price[i].action == 'private_chat') {
                            this.privateChatMinute = price[i].price
                        }
                        if(price[i].action == 'realinfo_request') {
                            this.infoRequest = price[i].price
                        }
                        if(price[i].action == 'private_photo_buy') {
                            this.photoBuy = price[i].price
                        }
                        if(price[i].action == 'private_video_buy') {
                            this.videoBuy = price[i].price
                        }

                    }
                }else {
                    toastr.error('Ошибка загрузки цен!');
                }
            }, err => {
                toastr.error('Ошибка загрузки цен!')
            })
        },
        methods: {
            updatePrice() {
                this.$http.post('v2/prices/update/all', {
                    access_token: this.$cookie.get('access_token'),
                    write_letter: this.writeLetterModel,
                    text_chat: this.textChatMinute,
                    video_chat: this.videoChatMinute,
                    private_chat: this.privateChatMinute,
                    realinfo_request: this.infoRequest,
					private_photo_buy: this.photoBuy,
                    private_video_buy: this.videoBuy
                }).then(result => {
                    if(result.body.status) {
                        toastr.success('Данные успешно обновлены');
                    }else {
                        toastr.error('Ошибка обновления данных!');
                    }
                }, err => {
                    toastr.error('Ошибка API!');
                })
            }
        }
    }
</script>
