<template>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-blue box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Стоимость услуг</h3>

                    <div class="box-tools pull-right">
                        <a class="btn btn-success" @click="goToEdit">Редактировать <i class="fa fa-edit"></i></a>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <div class="table-responsive">
                    <table class="table table-bordered table-scroll" id="priceTable">
                        <thead>
                        <tr>
                            <th>ID <div class="pull-right"></div></th>
                            <th>Название услуги<div class="pull-right"></div></th>
                            <th>Стоимость в кредитах <div class="pull-right"></div></th>
                        </tr>
                        </thead>
                    </table>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</template>

<script>
    import Vue from 'vue'
    import toastr from 'toastr'
    export default {
        name: 'PriceList',
        data() {
            return {
                price: []
            }
        },
        beforeMount() {
            this.$http.post('v2/prices/get/all', {
                access_token: this.$cookie.get('access_token')
            }).then(priceResponse => {
                if(priceResponse.body.status) {
                    let data = priceResponse.body.result;
                    for(let i = 0; i < data.length; i++) {
                        this.price.push([data[i].id, data[i].description, data[i].price])
                    }
                    this.initTable();
                }else {
                    toastr.error('Не могу загрузить список цен');
                }
            }, err => {
                console.log(err);
                toastr.error('Ошибка API. Страница будет перезагружена');
                setTimeout(() => {
                    window.location.reload();
                }, 2000);
            })
        },
        methods: {
            goToEdit() {
                this.$router.push('/services/price/edit')
            },
            initTable() {
				let data = this.price;
				$('#priceTable').DataTable({
					data: data,
				});
				$('#priceTable_length').remove();
				$('#priceTable_filter').remove();
				$('#priceTable_info').remove();
				$('#priceTable_paginate').remove();
            }
        }
    }
</script>