<template>
    <div>
        <!-- .row (main row) -->
        <div class="row">
            <div class="col-md-12">
                <div class="box box-blue box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Список админов</h3>
                    </div>
                    <div class="box-body no-padding">
                        <form class="row">
                            <div class="form-group margin">
                                <div class="col-md-2">
                                    <input type="text"
                                           class="form-control"
                                           placeholder="ID"
                                           v-model="searchById">
                                </div>
                                <div class="col-md-2">
                                    <input type="text"
                                           class="form-control"
                                           placeholder="ИФ"
                                           v-model="searchByName">
                                </div>
                                <div class="col-md-2">
                                    <my-select :options="partners"
                                               :placeholder="'Партнер'"
                                               :className="'pick-pas'"
                                               :callback="selectPartnerCallback"></my-select>
                                </div>
                                <div class="col-md-2">
                                    <my-select :options="showBranches"
                                               :placeholder="'Филиал'"
                                               :className="'pick-b'"
                                               :callback="selectBranchCallback"></my-select>
                                </div>

                                <div class="col-md-2">
                                    <select class="form-control"
                                            v-model="onlineSearch">
                                        <option class="placeholder-option"
                                                selected="selected"
                                                value="">Онлайн
                                        </option>
                                        <option value="1">онлайн</option>
                                        <option value="0">офлайн</option>
                                    </select>
                                </div>

                                <div class="col-md-2">
                                    <select class="form-control"
                                            v-model="statusSearch">
                                        <option class="placeholder-option"
                                                selected="selected"
                                                value="">Статус
                                        </option>
                                        <option value="active">активные</option>
                                        <option value="deactivated">неактивные</option>
                                        <option value="administration_banned">Бан администрации</option>
                                        <option value="chief_banned">Бан руководителя</option>
                                        <option value="banned">забаненные</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                        <div v-show="loading">
                            <preloader></preloader>
                        </div>
                        <div class="table-responsive" v-show="!loading">
                            <table class="table table-bordered table-striped"
                                   id="partnerAdminTable">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th class="sm-td">ИФ</th>
                                    <th>Онлайн</th>
                                    <th>Статус</th>
                                    <th>Анкеты</th>
                                    <th>Баланс</th>
                                    <th class="sm-td">Партнер</th>
                                    <th class="sm-td">Филиал</th>
                                    <th class="sm-td">Дата создания</th>
                                    <th class="sm-td">Последняя активность</th>
                                    <th>Действие</th>
                                </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="margin-top"
                             id="partner-admins-shows">

                        </div>
                    </div>
                    <div class="col-md-6">
                        <ul class="pagination pull-right"
                            id="partner-admin-paginate">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import toastr from 'toastr'
    import mySelect2 from '../../custom/select2/component.vue'
    import {MATH} from '../../../mixins/utils'
	import preloader from '../../custom/normalPreloader/component.vue'
    export default {
        name: 'PartnerStuffList',
        data() {
            return {
                admins: [],
                table: null,
                searchById: '',
                searchByName: '',
                partners: [],
                branches: [],
                showBranches: [],
                onlineSearch: '',
                statusSearch: '',
                loading: true
            }
        },
        mixins: [MATH],
        watch: {
            searchById(value) {
                this.searchByTable(0, value)
            },
            searchByName(value) {
                this.searchByTable(1, value)
            },
            statusSearch(value) {
                this.searchByTable(3, value)
            },
            onlineSearch(value) {
                this.searchByTable(2, value)
            }
        },
        methods: {
            searchByTable(col, data) {
                this.table
                    .columns(col)
                    .search(data)
                    .draw()
            },
            fetchData() {
            	this.loading = true;
                this.$http.post('v2/agency/get/admins', {
                    access_token: this.$cookie.get('access_token'),
					agency_status: JSON.stringify(['on_creating','active','banned','chief_banned','administration_banned', 'deactivated'])
                }).then(data => {
                    if (data.body.status) {
                        this.admins = data.body.result
                        this.tableInit();
                    } else {
                        toastr.error('Не могу загрузить список админов')
                    }
                    this.loading = false;
                }, err => {
                    toastr.error('Не могу загрузить список админов');
                    toastr.error(err);
                });
                this.$http.post('v2/agency/get/list', {
                    access_token: this.$cookie.get('access_token')
                }).then(data => {
                    if (data.body.status) {
                        this.partners = data.body.result;
                    } else {
                        toastr.error('Не могу загрузить список партнеров и филиалов для фильтра')
                    }
                }, err => {
                    toastr.error('Не могу загрузить список партнеров и филиалов для фильтра')
                })
            },
            tableInit() {
                if (this.table === null) {
                    this.table = $('#partnerAdminTable').DataTable({
                        iDisplayLength: 20,
                        "oLanguage": {
                            "sLengthMenu": "Отображено _MENU_ записей на страницу",
                            "sSearch": "Поиск:",
                            "sZeroRecords": "Ничего не найдено - извините",
                            "sInfo": "Показано с _START_ по _END_ из _TOTAL_ записей",
                            "sInfoEmpty": "Показано с 0 по 0 из 0 записей",
                            "sInfoFiltered": "(отфильтровано из _MAX_ записей)",
                            "oPaginate": {
                                "sFirst": "Первая",
                                "sLast": "Посл.",
                                "sNext": "След.",
                                "sPrevious": "Пред.",
                            }
                        },
                    });
                    $('#partnerAdminTable_filter').remove();
                    $('#partnerAdminTable_length').remove();
                    $('#partner-admin-paginate').append($('#partnerAdminTable_paginate'))
                    $('#partner-admins-shows').append($('#partnerAdminTable_info'))
                }else {
                    this.table.clear().draw();
                }
                if(this.admins.length < 20)  {
                    $('#partner-admin-paginate').hide();
                }else {
                    $('#partner-admin-paginate').show();
                }
                let admins = this.admins;
                admins.forEach(admin => {
                    let active = '<strong>Активный <span style="display: none">' + admin.admin_user_status + '</span></strong>'
                    switch (admin.account_status) {
                        case 'active':
                            active = '<strong>активный <span style="display: none">' + admin.admin_user_status + '</span></strong>'
                            break
                        case 'deactivated':
                            active = '<strong>неактивный <span style="display: none">' + admin.admin_user_status + '</span></strong>'
                            break
                        case 'banned':
                            active = '<strong>забаненный <span style="display: none">' + admin.admin_user_status + '</span></strong>'
                            break;
                        case 'lock':
                            active = '<strong>заблокированный<span style="display: none">' + admin.admin_user_status + '</span></strong>'
                            break;
						case 'chief_banned':
							active = '<strong>Бан руководителя<span style="display: none">' + admin.admin_user_status + '</span></strong>'
							break;
						case 'administration_banned':
							active = '<strong>Бан администрации<span style="display: none">' + admin.admin_user_status + '</span></strong>'
							break
                    }
					let lastActivity = admin.last_active
					if (lastActivity !== null) {
						lastActivity = '<span><span style="display:none">' + admin.last_active + '</span>'+ moment(admin.last_active * 1000).format('DD.MM.YYYY HH:mm:ss') +'</span>'
					}
					else {
						lastActivity = 'Не был активен'
					}
					let createdAt =  admin.created_at;
					if (createdAt !== null) {
						createdAt =  '<span><span style="display:none">' + admin.created_at + '</span>'+ moment(admin.created_at * 1000).format('DD.MM.YYYY HH:mm:ss') +'</span>'
					}
					else {
						createdAt = 'Не указано'
					}
					let branch;
					if (admin.branch_agency_id) {
						branch = '<a class="show-p-p" data-id="' + admin.branch_agency_id + '">' + admin.branch_agency_name +'('+ admin.branch_agency_id + ')</a>'
                    } else {
						branch = 'Не указан'
                    }
                    let online = '<span class="glyphicon glyphicon-ok-circle fa-2x text-green"><span style="display: none">1</span></span>'
                    if (!admin.online) online = '<span class="glyphicon glyphicon-remove-circle fa-2x text-red"><span style="display: none">0</span></span>'
                    this.table.row.add([
                        '<a class="show-p-a" data-id="' + admin.user_id + '">' + admin.user_id + '</a>',
                        '<a class="show-p-a" data-id="' + admin.user_id + '">' + admin.name + '</a>',
                        online,
                        active,
                        admin.profile_count,
                        this.round10(admin.balance, -2),
                        '<a class="show-p-p" data-id="' + admin.main_agency_id + '">' + admin.main_agency_name + ' (' + admin.main_agency_id + ')</a>',
                        branch,
						createdAt,
						lastActivity,
                        '<a class="btn btn-primary btn-block edit-partner-admin" data-id="' + admin.user_id + '"><i class="fa fa-edit fa-lg text-white"></i></a>'
                    ]).draw(false)
                })
            },
            selectPartnerCallback(value) {
                if (value) {
                    this.searchByTable(6, value)
                    let partners = this.partners
                    partners.forEach(partner => {
                        if (partner.id == value) {
                            this.showBranches = partner.branches
                        }
                    })
                } else {
                    this.showBranches = this.branches
                    this.searchByTable(6, '')
                }
            },
            selectBranchCallback(value) {
                if (value) {
                    this.searchByTable(7, value)
                } else {
                    this.searchByTable(7, '')
                }
            },
			fetchBranches() {
				this.$http.post( 'v2/agency/get/branches', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( data => {
					if ( data.body.status ) {
						this.showBranches = data.body.result;
					} else {
						toastr.error( 'Не могу получить список филиалов' )
						toastr.info( data.body.desc )
					}
				}, err => {
					toastr.error( 'Не могу получить список филиалов' )
				} )
			},
        },
        beforeMount() {
            if (!this.$cookie.get('access_token')) {
                this.$router.push('/')
            } else {
                this.fetchData()
            }
        },
        mounted() {
        	this.fetchBranches();
            $('#partnerAdminTable').on('click', '.show-p-a', (ev) => {
                this.$router.push('/partner/admin/show/' + ev.currentTarget.dataset.id)
            })
            $('#partnerAdminTable').on('click', '.show-p-p', (ev) => {
                this.$router.push('/partners/view/' + ev.currentTarget.dataset.id)
            })
            $('#partnerAdminTable').on('click', '.edit-partner-admin', (ev) => {
                this.$router.push('/partner/admin/edit/' + ev.currentTarget.dataset.id)
            });
        },
        components: {
            'my-select': mySelect2,
            preloader
        }
    }
</script>
