<template>
    <div>
        <div class="row margin-bottom">
            <div class="col-md-6 col-xs-12">
                <div class="user-block user-block-md pull-left">
                    <img class="img-circle" :src="admin.avatar" :alt="admin.name"> <span class="username"> <a href="#">{{admin.name}}</a>
					</span> <span class="description">ID: {{admin.id}}</span>
                </div>
                <password-modal :user="parseInt(admin.id)" style="padding-top: 10px;margin-left: 10px;" class="pull-left"></password-modal>
                <change-email @chengeEmail="reload()" :emailProp="admin.email" :user="parseInt(admin.id)" style="margin-left: 10px; padding-top: 10px; display: inline-block;"></change-email>
            </div>
            <div class="col-md-6 text-right">
                <router-link :to="'/partner/woman/create/admin/' + admin.id">
                    <div class="btn btn-success"><div class="fa fa-plus"></div> Клиентка</div>
                </router-link>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="box box-blue box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title btn-block">
                            Общая информация
                            <router-link :to="'/partner/admin/edit/' + admin.id + '#main-tab'">
                                <a class="pull-right"><i class="fa fa-pencil text-blue"></i></a>
                            </router-link>
                        </h3>
                    </div>
                    <div class="box-body no-padding">
                        <ul class="v-list">
                            <li>Партнер <span class="pull-right">
                                <router-link :to="'/partners/view/' + admin.partner.id ">
                                    <a>{{admin.partner.name}}</a>
                                </router-link>
                            </span></li>
                            <li>Филиал <span class="pull-right">
                                <router-link :to="'/partners/view/' + admin.branch.id ">
                                    <a>{{admin.branch.name}}</a>
                                </router-link>
                            </span></li>
                            <li>Статус <span class="pull-right" :class="{'text-green': admin.status === 'active', 'text-red': admin.status === 'deactivated'}">{{fetchStatus(admin.status)}}</span></li>
                            <li :class="{'bg-danger': !admin.email_active}">E-mail <span class="pull-right text-blue">{{admin.email}}</span></li>
                            <li>Дата регистрации <span class="pull-right">{{admin.created_at}}</span></li>
                            <li>Паспорт (номер+серия) <span class="pull-right">{{admin.passport}}</span></li>
                            <li>Имя<span class="pull-right">{{admin.firstName}}</span></li>
                            <li>Фамилия<span class="pull-right">{{admin.surName}}</span></li>
                            <li>Отчество <span class="pull-right">{{admin.middleName}}</span></li>
                            <li>Дата рождния <span class="pull-right">{{admin.birthday}}</span></li>
                            <li class="row"><span class="col-md-6">Примечание</span>
                                <div class="col-md-6">{{admin.note}}</div></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box box-blue box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title btn-block">
                            Контакты
                            <router-link :to="'/partner/admin/edit/' + admin.id+ '#contacts'">
                                <a class="pull-right"><i class="fa fa-pencil text-blue"></i></a>
                            </router-link>
                        </h3>
                    </div>
                    <div class="box-body no-padding">
                        <ul class="v-list">
                            <li>Страна <span class="pull-right">{{admin.country}}</span></li>
                            <li>Город <span class="pull-right">{{admin.city}}</span></li>
                            <li>Адрес <span class="pull-right">{{admin.address}}</span></li>
                            <li>Телефон 1 <span class="pull-right">{{admin.phone_1}}</span></li>
                            <li>Телефон 2 <span class="pull-right">{{admin.phone_2}}</span></li>
                            <li>Скайп <span class="pull-right">{{admin.skype}}</span></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="box box-blue box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title btn-block">Статистика</h3>
                    </div>
                    <div class="box-body no-padding">
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="v-list">
                                    <li>Количество анкет <span class="pull-right"><a>{{admin.stats.countOfWomen}}</a></span></li>
                                    <li>Анкет онлайн <span class="label label-default pull-right online-point"><a >{{admin.stats.countOfWomenOnline}}</a></span></li>
                                    <li>Бонусы за месяц <span class="pull-right text-green"><a>{{round10(admin.stats.bonusPerMonth, -2 )}}</a></span></li>
                                    <li><span class="pull-right"></span></li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="v-list">
                                    <li>Штрафы за месяц<span class="pull-right text-red"><a >{{round10(admin.stats.finePerMonth, -2)}}</a></span></li>
                                    <li>Письма новые (критические)<span class="pull-right">{{admin.stats.letters.normal}} (<a class="text-red">{{admin.stats.letters.critical}}</a>)
									</span></li>
                                    <li>Подарки новые (критические)<span class="pull-right">{{admin.stats.gift.normal}} (<a class="text-red">{{admin.stats.gift.critical}}</a>)
									</span></li>
                                    <li>Контакт инфо новые (критические)<span class="pull-right">{{admin.stats.info.normal}} (<a class="text-red">{{admin.stats.info.critical}}</a>)
									</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="box box-blue box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title btn-block">
                            Клиентки
                            <router-link :to="'/partner/admin/edit/' + admin.id + '#women'">
                                <a class="pull-right"><i class="fa fa-pencil text-blue"></i></a>
                            </router-link>
                        </h3>
                    </div>
                    <div class="box-body no-padding">
                        <div class="v-scroll" data-height="268">
                            <ul class="products-list product-list-in-box user-list-corection list-in-box">
                                <li class="item" v-for="woman in women">
                                    <div class="product-img">
                                        <img :src="woman.avatar.small" :alt="woman.fullName">
                                    </div>
                                    <div class="product-info">
                                        <router-link :to="'/woman/view/'+ woman.id">
                                            <a href="javascript:void(0)" class="product-title">{{woman.fullName}}</a> <span class="product-description">ID: {{woman.id}}</span>
                                        </router-link>
                                    </div>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="box box-blue box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title btn-block">
                            Документы
                            <router-link :to="'/partner/admin/edit/' + admin.id+ '#documents'">
                                <a class="pull-right"><i class="fa fa-pencil text-blue"></i></a>
                            </router-link>
                        </h3>
                    </div>
                    <div class="box-body no-padding v-scroll" data-height="263">
                        <ul class="v-list">
                            <li class="header">Паспорт</li>
                            <li>
                                <!--<nav class="photo-nav photo-list">-->
                                    <!--<a v-for="document in document_passport_1" :href="document.file_path">-->
                                        <!--<img :src="document.file_path">-->
                                    <!--</a>-->
                                <!--</nav>-->

                                <nav class="photo-nav photo-list">
                                    <a target="_blank" :class="{ 'photo-nav__item': !isDocument(document.file_extension) }" v-for="document in document_passport_1" :href="document.file_path">
                                        <img :src="document.file_path" v-if="!isDocument(document.file_extension)">
                                        <img :src="'/dist/img/pdf.png'" v-else="isDocument(document.file_extension)" alt="Document">
                                    </a>
                                </nav>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import toastr from 'toastr'
    import moment from 'moment'
    import changePasswordModal from '../../custom/changePasswordModal/component.vue'
	import changeEmail from '../../custom/changeEmailModal/component.vue'
    import {MATH} from '../../../mixins/utils'
    export default {
        name: 'AdminView',
        data() {
            return {
                admin: {
                    name: '',
                    id: '',
                    avatar: '#',
                    status: '',
                    email: '',
                    email_active:true,
                    created_at: '',
                    passport: '',
                    firstName: 'Не указкано',
                    surName: 'Не указано',
                    middleName: 'Не указано',
                    birthday: '',
                    note: '',
                    country: '',
                    city: '',
                    address: '',
                    phone_1: '',
                    phone_2: '',
                    skype: '',
                    partner: {
                        id: 0,
                        name: 'Пусто'
                    },
                    branch: {
                        id: 0,
                        name: 'Пусто'
                    },
                    stats: {
                        countOfWomen: 0,
                        countOfWomenOnline: 0,
                        bonusPerMonth: 0,
                        finePerMonth: 0,
                        letters: {
                            normal: 0,
                            critical: 100
                        },
                        gift: {
                            normal: 0,
                            critical: 10
                        },
                        info: {
                            normal: 0,
                            critical: 123
                        }
                    }
                },
                women: [],
                document_passport_1: [],
                document_passport_2: [],
                document_passport_3: [],
                documents_other: []
            }
        },
        mixins: [MATH],
        methods: {
			reload() {
				// location.reload()
			},
        	fetchStatus(status) {
				switch (status) {
					case 'active':
						return 'Активный'
						break
					case 'deactivated':
						return 'Неактивный'
						break
					case 'banned':
						return 'Забаненный'
						break;
					case 'lock':
						return 'Заблокированный'
						break;
					case 'chief_banned':
						return 'Бан руководителя'
						break;
					case 'administration_banned':
						return 'Бан администрации'
						break
				}
            },
			isDocument(name) {
				return name.match('pdf') !== null;
			},
            fetchData() {
                this.$http.post('v2/agency/get/admin-detail', {
                    access_token: this.$cookie.get('access_token'),
                    user_id: this.$route.params.admin
                }).then(data => {
                    if(data.body.status) {
                        let admin = data.body.result;
                        this.admin = {
                            name: admin.main.name +' '+ admin.main.surname,
                            id: this.$route.params.admin,
                            avatar: admin.main.avatar,
                            status: admin.main.status,
                            email: admin.main.email,
                            email_active:admin.main.email_active,
                            created_at: moment(admin.main.created_at * 1000).format('LL'),
                            passport: admin.main.passport,
                            firstName: admin.main.name,
                            surName: admin.main.surname,
                            middleName: admin.main.middle_name,
                            birthday: moment(admin.main.birthday * 1000).format('LL'),
                            note: admin.main.note,
                            country: admin.contact.country,
                            city: admin.contact.city,
                            address: admin.contact.address,
                            phone_1: admin.contact.phone_1,
                            phone_2: admin.contact.phone_2,
                            skype: admin.contact.skype,
                            partner: {
                                id: admin.main.agency.id,
                                name: admin.main.agency.name,
                            },
                            branch: {
                                id: admin.main.branch.id,
                                name: admin.main.branch.name
                            },
                            stats: {
                                countOfWomen: admin.statistic.profile_count,
                                countOfWomenOnline: admin.statistic.profile_online,
                                bonusPerMonth: admin.statistic.bonus_per_month,
                                finePerMonth: admin.statistic.penalty_per_month,
                                letters: {
                                    normal: admin.statistic.new_letter,
                                    critical: admin.statistic.critical_letter
                                },
                                gift: {
                                    normal: admin.statistic.new_gift,
                                    critical: admin.statistic.critical_gift
                                },
                                info: {
                                    normal: admin.statistic.new_realinfo_request,
                                    critical: admin.statistic.critical_realinfo_request
                                }
                            }
                        }
                    }else {
                        toastr.error('Не могу загрузить данные об админе');
                        toastr.info(data.body.desc);
                    }
                }, err => {
                    toastr.error('Не могу загрузить данные об админе')
                });
                this.$http.post('v2/agency/get/agency-woman', {
                    access_token: this.$cookie.get('access_token'),
                    admin_id: this.$route.params.admin
                }).then(data => {
                    if(data.body.status)  {
                        this.women = data.body.result;
                    }else {
                        toastr.error('Не могу загрузить список клиенток под админом');
                        toastr.info(data.body.desc)
                    }
                }, err => {
                    toastr.error('Не могу загрузить список клиенток под админом');
                });
                this.$http.post('v2/document/search/document', {
                    access_token: this.$cookie.get('access_token'),
                    user_id: this.$route.params.admin
                }).then(data => {
                    if(data.body.status) {
                        let documents = data.body.result;
                        documents.forEach(document => {
                            if(document.user_document.document_type == "passport_1" || document.user_document.document_type == "passport_3" || document.user_document.document_type == "passport_2" || document.user_document.document_type == "passport_11") {
                                this.document_passport_1.push(document.user_document)
                            }
                        })
                    }else {
                        toastr.error('Не могу загрузить список документов админа');
                        toastr.info(data.body.desc)
                    }
                }, err => {
                    toastr.error('Не могу загрузить список документов админа');
                })
            },
        },
        beforeMount() {
            this.fetchData()
        },
        mounted() {
            $(".v-scroll").each(function(){
                if($(this).attr("data-height")){
                    $(this).css("height", $(this).attr("data-height")+"px");
                }
                $(this).perfectScrollbar();
            });
            $(".h-scroll").each(function(){
                $(this).perfectScrollbar();
            });
        },
        components: {
            'password-modal': changePasswordModal,
			changeEmail
        }
    }
</script>

<style>
    .product-img img {
        margin-left: 10px;
        border-radius: 4px;
        margin-right: 7px;
    }
</style>
