<template>
    <div>
        <h2 class="page-header">
            <i class="fa fa-plus"></i> Админ
		</h2>
        <div class="row">
            <div class="col-md-7">
                <form action="" @submit.prevent class="form-horizontal">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li :class="{'active': currentTab === 0}"><a @click="changeTab(0)" href="#main-tab" data-toggle="tab">Главная</a></li>
                            <li :class="{'active': currentTab === 1}"><a href="#contacts" @click="changeTab(1)" data-toggle="tab">Контакты</a></li>
                        </ul>
                        <div class="tab-content no-padding">
                            <div class="tab-pane" id="main-tab" :class="{'active': currentTab === 0}">
                                <ul class="v-list v-list-sm-pad">
                                    <li><label  class="col-md-7">Партнер</label>
                                        <div class="col-md-5">
                                            <select disabled="" name="" class="form-control">
                                                <option class="placeholder-option" value=""></option>
                                                <option value="" selected>{{partner.id}}:{{partner.name}}</option>
                                            </select>
                                        </div></li>
                                    <li><label class="col-md-7 big-top-padding">Аватар</label>
                                        <div class="col-md-5">
                                            <div class="ava-load-wrapp photo">
                                                <img :src="avatarPreview" src-default="/dist/img/default.jpg" id="part-avatar" class="img-responsive">
                                                <div class="clearfix bottom-d">
													<span class="load-file-link"> <input type="file" @change="dropAvatar"> <span class="upload-text-wrapp"> Загрузить <i class="fa fa-download text-blue"></i>
													</span>
													</span> <span class="fa fa-times-circle del-photo pull-right"></span>
                                                </div>
                                            </div>
                                        </div></li>
                                    <li>
                                        <label class="col-md-7">Имя</label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" v-model="name" placeholder="Имя">
                                        </div>
                                    </li>
                                    <li><label class="col-md-7">Фамилия</label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" v-model="surname" placeholder="Фамилия">
                                        </div>
                                    </li>
                                    <li><label class="col-md-7">Отчество</label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" v-model="middleName" placeholder="Отчество">
                                        </div>
                                    </li>
                                    <li><label  class="col-md-7">E-mail</label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" placeholder="Email" v-model="email">
                                        </div>
                                    <li><label class="col-md-7">Паспорт</label>
                                        <div class="col-md-5">
                                            <div class="row">
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" placeholder="Паспорт" v-model="passport">
                                                </div>
                                            </div>
                                        </div></li>
                                    <li>
                                        <label class="col-md-7">Дата рождения</label>
                                        <div class="col-md-5">
                                            <div class="input-group date d-t-picker" id="birthdayPicker">
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                                <input type="text" name="date_from" class="form-control from-sort">
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <label class="col-md-7">Статус</label>
                                        <div class="col-md-5">
                                            <select name="" class="form-control" v-model="status">
                                                <option value="active">активный</option>
                                                <option value="banned">забаненный</option>
                                                <option value="banned">удален</option>
                                            </select>
                                        </div>
                                    </li>
                                    <li>
                                        <label class="col-md-4">Примечание</label>
                                        <div class="col-md-8">
                                            <textarea v-model="note" class="form-control" placeholder="Примечание" rows="10"></textarea>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-pane" id="contacts"  :class="{'active': currentTab === 1}">
                                <ul class="v-list v-list-sm-pad">
                                    <li>
                                        <label class="col-md-7">Страна</label>
                                        <div class="col-md-5">
                                            <multiselect v-model="country" label="name" track-by="name"
                                                         :placeholder="'Страна'" :options="countries" :multiple="false"
                                                         :searchable="true" :internal-search="true"
                                                         :clear-on-select="false" :close-on-select="true"
                                                         :options-limit="300" :limit="3" :limit-text="limitText">
                                                <span slot="noResult">По вашему запросу ничего не найдено</span>
                                            </multiselect>
                                        </div>
                                    </li>
                                    <li>
                                        <label class="col-md-7">Город</label>
                                        <div class="col-md-5">
                                            <multiselect v-model="city" id="ajax" label="name"
                                                         track-by="country_id" :placeholder="'Город'" :options="cities"
                                                         :multiple="false" :searchable="true" :loading="isLoading"
                                                         :internal-search="false" :clear-on-select="false"
                                                         :close-on-select="true" :options-limit="300" :limit="3"
                                                         :limit-text="limitText" @search-change="asyncCity">
                                                <span slot="noResult">По вашему запросу ничего не найдено</span>
                                            </multiselect>
                                        </div>
                                    </li>
                                    <li>
                                        <label class="col-md-7">Адрес</label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" v-model="address" placeholder="Адресс">
                                        </div>
                                    </li>
                                    <li>
                                        <label class="col-md-7">Телефон</label>
                                        <div class="col-md-5">
                                            <input type="text" v-model="phone"  class="form-control" placeholder="Номер телефона">
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix text-right">
                        <a class="btn btn-primary btnNext" v-if="currentTab === 0" @click="changeTab(1)" href="#contacts">Дальше <i class="fa fa-long-arrow-right"></i></a>
                        <a class="btn btn-primary btnNext" v-if="currentTab === 1" @click="add" href="#contacts">Сохранить</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import Multiselect from 'vue-multiselect'
    import toastr from 'toastr'
    export default {
        name: 'CreateMan',
        data() {
            return {
                avatarPreview: '/dist/img/default.jpg',
                avatar: null,
                isLoading: false,
                name: '',
                surname: '',
                middleName: '',
                passport: '',
                email: '',
                birthday: '',
                status: 'active',
                bot: 0,
                note: '',
                country: '',
                city: '',
                address: '',
                phone: '',
                countries: [],
                cities: [],
                currentTab: 0,
                partner: {
                    id: '',
                    name: ''
                }
            }
        },
        methods: {
            dropAvatar(event) {
                let avatar = event.target.files[0];
                this.avatar = avatar;
                let avatarReader = new FileReader();
                avatarReader.onload = ev => {
                    this.avatarPreview = ev.target.result;
                };
                avatarReader.readAsDataURL(avatar);
            },
            changeTab(number) {
                this.currentTab = number;
            },
            limitText (count) {
                return `and ${count} other countries`
            },
            asyncCity (query) {
                this.isLoading = true;
                this.$http.post(this.config.api.frontend + '/v2/guest/get-city', {
                    city_name: query,
                    country_id: this.country.id
                }).then(data => {
                    this.isLoading = false;
                    if (data.body.status) {
                        this.cities = data.body.result;
                    }
                }, err => {
                    this.isLoading = false
                });
            },
            fetchPartner() {

            },
            fetchCountry() {
                this.$http.post(this.config.api.frontend + '/v2/guest/get-country', {})
                    .then(data => {
                        if (data.body.status) {
                            this.countries = data.body.result;
                        } else {
                            toastr.error('Не могу загрузить список стран')
                        }
                    }, err => {
                        console.log(err);
                    })
            },
            add() {
                if(this.name === '' || this.email === '') {
                    toastr.error('Имя и Email обязательные поля')
                }else {
                    let form = new FormData();
                    form.append('access_token', this.$cookie.get('access_token'));
                    form.append('agency_id', this.$route.params.partner);
                    form.append('name', this.name);
                    form.append('surname', this.surname);
                    form.append('middle_name', this.middleName);
                    form.append('staff_type', 'admin');
                    form.append('email', this.email);
                    form.append('birthday', Math.floor(new Date(this.birthday).getTime() / 1000));
                    form.append('status', this.status);
                    form.append('note', this.note);
                    form.append('passport', this.passport.toUpperCase());
                    form.append('image', this.avatar);
                    form.append('address_country', this.country.name);
                    form.append('address_city', this.city.name);
                    form.append('phone_1', this.phone);
                    form.append('phone_2', this.phone);
                    form.append('skype', ' ');
                    form.append('address', this.address);
                    this.$http.post('v2/agency/create/admin', form).then(data => {
                        console.log(data.body);
                        if(data.body.status) {
                            toastr.success('Пользователь сохранен');
                            setTimeout(() => {
                                this.$router.push('/partner/admin/show/' + data.body.result.id);
                            }, 1000)
                        }else {
                            toastr.error('Не могу сохранить пользователя');
                            toastr.info(data.body.desc);
                        }
                    }, err => {
                        toastr.error('Не могу сохранить пользователя');
                        console.log(err);
                    })
                }
            }
        },
        beforeMount() {
            this.fetchCountry();
            this.fetchPartner();
        },
        components: {
            Multiselect
        },
        mounted() {
            $("#birthdayPicker").datetimepicker({
                useCurrent: true,
                format: 'DD.MM.YYYY',
                locale: 'ru',
                widgetPositioning: {
                    horizontal: "left"
                }
            });
            $('#birthdayPicker').on("dp.change", (e) => {
                let date = e.date;
                this.birthday = date._d;
            });
        }
    }
</script>
