<template>
    <div>
        <div class="row margin-bottom">
            <div class="col-md-12">
                <div class="user-block user-block-md pull-left" style="margin-right: 10px">
                    <img class="img-circle" :src="oldAvatar" alt="User Image"> <span class="username"> <a
                    href="#">{{modelFirstName}} {{modelSurName}}</a>
					</span> <span class="description">ID: {{modelId}}</span>
                </div>
                <div style="margin-top: 7px">
                    <router-link :to="'/partner/admin/show/' + $route.params.admin">
                        <a class="btn btn-sm btn-success"><i class="fa fa-lg  fa-eye"></i></a>
                    </router-link>
                </div>
                <!-- <span class="pull-right text-green margin-top">Online <i class="fa fa-sm fa-circle"></i></span> -->
            </div>
        </div>

        <div class="row">
            <div class="col-md-7">
                <form action="" method="POST" class="form-horizontal">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a @click="setCurrentTab(0)" href="#main-tab" data-toggle="tab">Главная</a></li>
                            <li><a href="#contacts" @click="setCurrentTab(1)" data-toggle="tab">Контакты</a></li>
                            <li><a href="#documents" @click="setCurrentTab(2)" data-toggle="tab">Документы</a></li>
                            <li><a href="#women" @click="setCurrentTab(3)" data-toggle="tab">Клиентки</a></li>
                        </ul>
                        <div class="tab-content no-padding">
                            <!-- .tab-pane -->
                            <div class="active tab-pane" id="main-tab">

                                <ul class="v-list v-list-sm-pad">

                                    <li><label class="col-md-7">Партнер</label>
                                        <div class="col-md-5">
                                            <label>
                                                <select disabled name="" class="form-control">
                                                    <option class="placeholder-option" value=""></option>
                                                    <option value="16364" selected>{{modelPartner}}</option>
                                                    <option value="16364">16364:DreamAngel</option>
                                                </select>
                                            </label>
                                        </div>
                                    </li>

                                    <li><label class="col-md-7">Филиал</label>
                                        <div class="col-md-5">
                                            <label>
                                                <select disabled name="" class="form-control">
                                                    <option value="16364" selected>{{modelBranch}}</option>
                                                </select>
                                            </label>
                                        </div>
                                    </li>

                                    <li><label class="col-md-7 big-top-padding">Аватар</label>
                                        <div class="col-md-5">
                                            <div class="ava-load-wrapp photo">
                                                <img :src="oldAvatar"
                                                     id="part-ava-load-input-admin-p" class="img-responsive">
                                                <div class="clearfix bottom-d">
													<span class="load-file-link">
                                                        <input type="file" name="myfiles[]"
                                                               @change="dropAvatar"
                                                        > <span
                                                        class="upload-text-wrapp"> Загрузить <i
                                                        class="fa fa-download text-blue"></i>
													</span>
													</span> <span v-show="photoUpdate" @click="restoreOldAvatar"
                                                                  class="fa fa-times-circle del-photo pull-right"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li><label class="col-md-7">Имя</label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" v-model="modelFirstName">
                                        </div>
                                    </li>

                                    <li><label class="col-md-7">Фамилия</label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" v-model="modelSurName">
                                        </div>
                                    </li>

                                    <li><label class="col-md-7">Отчество</label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" v-model="modelMiddleName">
                                        </div>
                                    </li>
                                    <li><label class="col-md-7">Дата рождения</label>
                                        <div class="col-md-5">
                                          <div class="input-group date d-t-picker" id="birthdayPicker">
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                            <input
                                                type="text"
                                                name="date_from"
                                                class="form-control from-sort">
                                          </div>
                                        </div>
                                    </li>

                                    <!--<li><label class="col-md-7">Паспорт</label>
                                        <div class="col-md-5">
                                            <div class="row">
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" v-model="modelPassport">
                                                </div>
                                            </div>
                                        </div>
                                    </li>-->
                                    <li>
                                        <div class="col-md-3 no-padding">
                                            <select @change="changePassport()" class="form-control" v-model="passportType"
                                                    name="Passport" id="">
                                                <option value="">Стандартный пасспорт</option>
                                                <option value="passportBio">ID (Биометрический паспор)</option>
                                            </select>
                                        </div>
                                        <div class="col-md-5 col-md-offset-4">
                                            <input v-if="usualPass" type="text" class="form-control"
                                                   v-model="passport" placeholder="Паспорт">
                                            <input v-else type="text" class="form-control"
                                                   v-model="passport" placeholder="Биометрический паспорт">
                                        </div>
                                    </li>

                                    <li><label for="for-status" class="col-md-7">Статус</label>
                                        <div class="col-md-5">
                                            <select name="" class="form-control" id="for-status" v-model="modelStatus">
                                                <option value="active">активный</option>
                                                <option value="deactivated" selected="selected">неактивный</option>
                                                <option value="banned">забаненный</option>
                                                <option value="lock" disabled>заблокированный</option>
                                            </select>
                                        </div>
                                    </li>

                                    <li><label for="for-note" class="col-md-4">Примечание</label>
                                        <div class="col-md-8">
                                            <textarea name="" class="form-control" id="for-note" rows="10"
                                                      v-model="modelNote"></textarea>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-pane" id="contacts">
                                <ul class="v-list v-list-sm-pad">

                                    <li><label class="col-md-7">Страна</label>
                                        <div class="col-md-5">
                                            <multiselect v-model="selectedCountry" label="name" track-by="name"
                                                         :placeholder="modelCountry" :options="countryList" :multiple="false"
                                                         :searchable="true" :internal-search="true"
                                                         :close-on-select="true"
                                                         :options-limit="300" :limit="3" :limit-text="limitText">
                                                <span slot="noResult">Oops! No elements found. Consider changing the search query.</span>
                                            </multiselect>
                                        </div>
                                    </li>

                                    <li><label class="col-md-7">Город</label>
                                        <div class="col-md-5">
                                            <multiselect v-model="selectedCity" id="ajax" label="name"
                                                         track-by="country_id" :placeholder="modelCity" :options="cities"
                                                         :multiple="false" :searchable="true" :loading="isLoading"
                                                         :internal-search="false"
                                                         :close-on-select="true" :options-limit="300" :limit="3"
                                                         :limit-text="limitText" @search-change="asyncCity">
                                                <span slot="noResult">Oops! No elements found. Consider changing the search query.</span>
                                            </multiselect>
                                        </div>
                                    </li>

                                    <li><label for="for-adress" class="col-md-7">Адрес</label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" id="for-adress"
                                                   v-model="modelAddress">
                                        </div>
                                    </li>

                                    <li><label for="for-phone-1" class="col-md-7">Телефон 1</label>
                                        <div class="col-md-5">
                                            <input type="text" v-model="modelPhone1"
                                                   class="form-control" id="for-phone-1">
                                        </div>
                                    </li>

                                    <li><label for="for-phone-2" class="col-md-7">Телефон 2</label>
                                        <div class="col-md-5">
                                            <input type="text" v-model="modelPhone2"
                                                   class="form-control" id="for-phone-2">
                                        </div>
                                    </li>

                                    <li><label for="for-skype" class="col-md-7">Скайп</label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" id="for-skype" v-model="modelSkype">
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-pane" id="documents">

                                <ul class="v-list v-list-sm-pad">

                                    <li class="header">
                                        <div for="for-site" class="col-md-7">Паспорт  <span class="text-muted margin-top"><small>jpg, jpeg, pdf (не более 20Mb)</small></span></div>
                                        <div class="col-md-5 text-right">
											<span class="load-file-link">
                                                <input type="file" name="pasport2[]"
                                                       class="file-loader"
                                                       data-nav=".photo-list-pasport2" @change="loadPassport"
                                                       data-type="passport_1">
                                                <span class="upload-text-wrapp"> Загрузить
                                                    <i class="fa fa-download text-blue"></i>
											</span>
											</span>
                                        </div>
                                    </li>

                                    <li>
                                        <!--<nav class="photo-nav photo-list-pasport2">-->
                                            <!--<a v-for="doc in modelDocumentPassport1" :href="doc.file_path">-->
                                                <!--<img :src="doc.file_path">-->
                                                <!--<span class="fa fa-times-circle del-photo"-->
                                                      <!--@click.prevent.stop="disableDocument(doc.id)"></span>-->
                                            <!--</a>-->
                                        <!--</nav>-->

                                        <nav class="photo-nav photo-list-pasport2" id="docsphoto">
                                            <a :target="{'_blank': isDocument(doc.user_document.file_extension)}" :class="{ 'photo-nav__item': !isDocument(doc.user_document.file_extension) }" v-for="doc in modelDocumentPassport1" :href="doc.user_document.file_path">
                                                <img :src="doc.user_document.file_path" v-if="!isDocument(doc.user_document.file_extension)">
                                                <img :src="'/dist/img/pdf.png'" v-else="isDocument(doc.user_document.file_extension)" alt="Document">
                                                <span class="fa fa-times-circle del-photo"
                                                      @click.prevent.stop="disableDocument(doc.user_document.id)"></span>
                                            </a>
                                        </nav>

                                    </li>
                                </ul>
                            </div>
                            <div class="tab-pane pad" id="women">
                                <multiselect v-model="adminRelatedWomen" @remove="removeWoman" @select="relatewoman" label="id" track-by="id"
                                             :options="allWomen"
                                             :placeholder="' '"
                                             :multiple="true"
                                             :limit="0"
                                             :custom-label="customWomanLabel"
                                             :limit-text="limitTextWoman"
                                             :searchable="true" :internal-search="true"
                                             :clear-on-select="false" :close-on-select="true" :hide-selected="true">
                                    <span slot="noResult">По вашему запросу ничего не найдено</span>
                                </multiselect>
                                <br>
                                <div class="v-scroll" data-height="500">
                                    <ul class="products-list product-list-in-box user-list-corection"
                                        id="insert-item-wrapp">
                                        <li class="item" v-for="woman in adminRelatedWomen">
                                            <div class="product-img">
                                                <img :src="woman.avatar.small" :alt="woman.fullName">
                                            </div>
                                            <div class="product-info">
                                                <a href="javascript:void(0)" class="product-title">{{woman.fullName}}</a>
                                                <span
                                                    class="product-description">ID: {{woman.id}}</span>
                                                <a class="label label-warning right-icon pull-right"
                                                   style="margin-top: -22px; height: 18px; line-height: 13px"
                                                   @click.prevent="removeFromAdmin(woman.id)"><i
                                                    class="fa fa-times"></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <button type="submit" @click.prevent="updateInfo" v-show="currentTab !== 2 && currentTab !== 3" class="btn btn-primary pull-right">Сохранить
                    </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import mySelect2 from '../../custom/select2/component.vue'
    import toastr from 'toastr'
    import myltiselect from 'vue-multiselect'
    import moment from "moment";

    export default {
        name: 'EditPartnerAdmin',
        data() {
            return {
                currentTab: 0,
                isLoading: false,
                modelId: '',
                modelPartner: '',
                modelBranch: '',
                oldAvatar: '',
                avatarModel: '',
                modelFirstName: '',
                modelSurName: '',
                modelMiddleName: '',
                modelBirthdayTimeStamp: '',
                modelPassport: '',
                modelStatus: '',
                modelNote: '',
                modelCountry: '',
                modelCity: '',
                modelAddress: '',
                modelPhone1: '',
                modelPhone2: '',
                modelSkype: '',
                modelDocumentPassport1: [],
                modelDocumentPassport2: [],
                modelDocumentPassport11: [],
                modelDocumentOther: [],
                modelWomen: [],
                countryList: [],
                cityList: [],
                photoUpdate: false,
                allWomen: [],
                adminRelatedWomen: [],
                foundWomen: [],
                searchWoman: '',
                selectedCountry: '',
                selectedCity: '',
                countries: [],
                cities: [],
				galleryPassport: null,
				passportType: '',
				passport: '',
				usualPass: true,

            }
        },

        methods: {
			changePassport() {
				this.passport = ''
			},
			isDocument(name) {
				return name.match('pdf') !== null;
			},
            customWomanLabel ({ fullName, id }) {
                return `${fullName} (${id})`
            },
            setCurrentTab(number) {
                this.currentTab = number
            },
            removeWoman(options, id) {
                if(options === undefined) {
                    return false;
                }
                this.$http.post('v2/agency/remove/related-woman-from-admin', {
                    access_token: this.$cookie.get('access_token'),
                    woman_id: options.id,
                    admin_id: this.$route.params.admin
                }).then(fromServer => {
                    if (fromServer.body.status) {
                        for (let i = 0; i < this.adminRelatedWomen.length; i++) {
                            if (this.adminRelatedWomen[i].id == id) {
                                this.adminRelatedWomen.splice(i, 1);
                            }
                        }
                    } else {
                        toastr.error('Не могу открепить админа от клиентки')
                    }
                }, err => toastr.error('Не могу открепить админа от клиентки'))
            },
            relatewoman(options, id) {
                if(options === null) {
                    return false;
                }
                this.$http.post('v2/agency/get/related-admin-woman', {
                    access_token: this.$cookie.get('access_token'),
                    admin_id: this.$route.params.admin,
                    woman_id: options.id
                }).then(data => {
                    if (data.body.status) {
                    } else {
                        toastr.error('Не могу закрепить админа за девушкой!')
                    }
                }, err => {
                    toastr.error('Не могу закрепить админа за девушкой ', err)
                })
            },
            disableDocument(id) {
                App.confirm('Сделать документ неактивным?', cb => {
                    if (cb) {
                        this.$http.post('v2/document/disable/document', {
                            access_token: this.$cookie.get('access_token'),
                            user_document_id: id
                        }).then(data => {
                            if (data.body.status) {
                                this.fetchData()
                            } else {
                                toastr.error('Не могу деактивировать документ')
                            }
                        }, err => {
                            toastr.error('Не могу деактивировать документ')
                        })
                    } else {

                    }
                })
            },
            womanAssing(womanId) {
                this.$http.post('v2/agency/get/related-admin-woman', {
                    access_token: this.$cookie.get('access_token'),
                    admin_id: this.$route.params.admin,
                    woman_id: womanId
                }).then(data => {
                    if (data.body.status) {
                        toastr.success('Админ закреплен на клиенткой.');
                        toastr.info('Клиентка:' + womanId)
                        this.fetchAdminWoman()
                        this.fetchAllWomen();
                    } else {
                        toastr.error('Не могу закрепить админа за девушкой!')
                    }
                }, err => {
                    toastr.error('Не могу закрепить админа за девушкой ', err)
                })
            },
            womanHasAdmin(id) {
                let found = false;
                this.allWomen.forEach(woman => {
                    if (woman.admin_id && woman.id == id) {
                        found = true
                    }
                })
                return found;
            },
            s(ev) {

            },
            removeFromAdmin(id) {
                App.confirm('Открепить клиентку от админа?', (data) => {
                    if (data) {
                        this.$http.post('v2/agency/remove/related-woman-from-admin', {
                            access_token: this.$cookie.get('access_token'),
                            woman_id: id,
                            admin_id: this.$route.params.admin
                        }).then(fromServer => {
                            if (fromServer.body.status) {
                                for (let i = 0; i < this.adminRelatedWomen.length; i++) {
                                    if (this.adminRelatedWomen[i].id == id) {
                                        this.adminRelatedWomen.splice(i, 1);
                                        this.fetchAdminWoman()
                                        this.fetchAllWomen();
                                    }
                                }
                            } else {
                                toastr.error('Не могу открепить админа от клиентки')
                            }
                        }, err => toastr.error('Не могу открепить админа от клиентки'))
                    }
                })
            },
            loadPassport(ev) {
				let file = event.target.files[0];
				let size = event.target.files[0].size
				let form = new FormData();
				this.utils.checkDocument( event ).then( res => {
					if ( res === undefined || res.status === undefined || res.status === false ) {
					return false;
				}
			else {
					toastr.info( 'Начинаю загрзку документа' );
					form.append( 'access_token', this.$cookie.get( 'access_token' ) );
					form.append( 'user_document_id', this.$route.params.admin );
					form.append( 'user_document_type', 'passport_1' );
					form.append( 'user_document_file', file );
					this.$http.post( 'v2/document/upload/document', form ).then( data => {
						if ( data.body.status ) {
							this.fetchData()
						toastr.success( 'Документ загружен успешно' );
					} else {
						toastr.error( 'Не могу загрузить документ' );
						toastr.info( data.body.desc );
					}
				}, err => {
						console.log( err );
						toastr.error( 'Не могу загрузить документ' );
					} )
				}
			} ).catch( err => {
					toastr.error( err.description );
				event.target.value = null;
				event = null;

			} )

            },
            dropAvatar(ev) {
                this.avatarModel = ev.target.files[0];
                let avatarReader = new FileReader();
                avatarReader.onload = e => {
                    let img = document.querySelector('#part-ava-load-input-admin-p');
                    if (img) {
                        img.setAttribute('src', e.target.result);
                        this.photoUpdate = true;
                    }
                };
                avatarReader.readAsDataURL(this.avatarModel);
            },
            restoreOldAvatar() {
                this.photoUpdate = true;
                let img = document.querySelector('#part-ava-load-input-admin-p');
                if (img) {
                    img.setAttribute('src', this.oldAvatar);
                    this.photoUpdate = false;
                }
            },
            updateInfo() {
                let c ='';
                let c2 = '';
                if(this.selectedCountry === '') {
                    c = this.modelCountry
                }else {
                    c = this.selectedCountry.name
                }
                if(this.selectedCity === '') {
                    c2 = this.modelCity
                }else {
                    c2 = this.selectedCity.name
                }
                let updateData = new FormData();
                updateData.append('access_token', this.$cookie.get('access_token'))
                updateData.append('name', this.modelFirstName);
                updateData.append('surname', this.modelSurName);
                updateData.append('middle_name', this.modelMiddleName);
                updateData.append('birthday', this.modelBirthdayTimeStamp);
//                updateData.append('passport', this.modelPassport);
                updateData.append('passport', this.passport);
                updateData.append('status', this.modelStatus);
                updateData.append('note', this.modelNote);
                updateData.append('country', c);
                updateData.append('city', c2);
                updateData.append('address', this.modelAddress);
                updateData.append('phone_1', this.modelPhone1);
                updateData.append('phone_2', this.modelPhone2);
                updateData.append('skype', this.modelSkype);
                updateData.append('image', this.avatarModel);
                updateData.append('user_id', this.$route.params.admin);
                if (this.photoUpdate) {
                    updateData.append('image_modify', 1)
                } else {
                    updateData.append('image_modify', 0)
                }

                this.$http.post('v2/agency/update/admin', updateData)
                    .then(data => {
                        if (data.body.status) {
                            toastr.success('Данные профиля обновлены')
                        } else {
                            toastr.error(data.body.desc)
                        }
                        for (let key in data.body.valid_error) {
                            toastr.info(data.body.valid_error[key]);
                        }
                    }, err => {
                        console.log(err);
                        toastr.error('Ошибка обновления данных')
                    })

            },
            selectCity(value) {
                if (value) {
                    let cList = this.cityList;
                    cList.forEach(cE => {
                        if (cE.id = value) {
                            this.modelCity = cE.name
                        }
                    })
                }
            },
            selectCountry(value) {
                if (value) {
                    this.$http.post(this.config.api.frontend + '/v2/guest/get-all-cities', {
                        country_id: value,
                        city_name: ' '
                    }).then(data => {
                        let country = this.countryList;
                        country.forEach(cE => {
                            if (cE.id == value) {
                                this.modelCountry = cE.name
                            }
                        })
                        if (data.body.status) {
                            this.cityList = [];
                            let cityRes = data.body.result;
                            cityRes.forEach(cex => {
                                this.cityList.push({
                                    id: cex.name,
                                    name: cex.name
                                })
                            })
                        } else {
                            toastr.error('Не могу загрузить список городов этой страны');
                        }
                    }, err => {
                        console.log(err);
                        toastr.error('Не могу загрузить список городов этой страны');
                    });
                }
            },
            fetchAdminWoman() {
                this.$http.post('v2/agency/get/agency-woman', {
                    access_token: this.$cookie.get('access_token'),
                    admin_id: this.$route.params.admin
                }).then(data => {
                    if (data.body.status) {
                        this.adminRelatedWomen = data.body.result;
                    } else {
                        toastr.error('Не могу загрузить список клиенток под админом')
                    }
                }, err => {
                    toastr.error('Не могу загрузить список клиенток под админом')
                })
            },
            fetchAllWomen() {
                this.$http.post('v2/agency/get/woman-in-agency-with-admin', {
                    admin_id: this.$route.params.admin,
                    name_or_id: 'a',
                    access_token: this.$cookie.get('access_token')
                }).then(data => {
                    if (data.body.status) {
                        this.allWomen = data.body.result;
                    } else {
                        toastr.error('Не могу загрузить список всех девушек на сайте')
                    }
                }, err => {
                    toastr.error('Не могу загрузить список всех девушек на сайте')
                })
            },
            limitText (count) {
                return `Страна`
            },
            limitTextWoman (count) {
                return `Прикреплено ${count} клиенток`
            },
            asyncCity (query) {
                this.isLoading = true;
                this.$http.post(this.config.api.frontend + '/v2/guest/get-city', {
                    city_name: query,
                    country_id: this.selectedCountry.id
                }).then(data => {
                    this.isLoading = false;
                    if (data.body.status) {
                        this.cities = data.body.result;
                    }
                }, err => {
                    console.log(err);
                    this.isLoading = false
                });
            },
            fetchCountry() {
                this.$http.post(this.config.api.frontend + '/v2/guest/get-country', {})
                    .then(data => {
                        if (data.body.status) {
                            this.countries = data.body.result;
                        } else {
                            toastr.error('Не могу загрузить список стран')
                        }
                    }, err => {
                        console.log(err);
                    })
            },
            asyncFindCountry (query) {
                this.isLoading = true;
                this.$http.post('https://api.vk.com/method/database.getCountries', {
                    need_all: 1
                }).then(country => {

                }, err => {
                    console.log(err);
                })
            },
            customLabel (option) {
                return `${option.value}`
            },
            fetchData() {
                this.$http.post('v2/document/search/document', {
                    access_token: this.$cookie.get('access_token'),
                    user_id: this.$route.params.admin
                }).then(data => {
                    if (data.body.status) {
                        let documents = data.body.result;
                        this.modelDocumentPassport1 = documents.filter(document => document.user_document.document_type == "passport_1" || document.user_document.document_type == "passport_2" || document.user_document.document_type == "passport_3" || document.user_document.document_type == "passport_11")
                    } else {
                        toastr.error('Не могу загрузить список документов админа');
                        toastr.info(data.body.desc)
                    }
                }, err => {
                    toastr.error('Не могу загрузить список документов админа');
                })
                this.$http.post(this.config.api.frontend + '/v2/guest/get-country', {})
                    .then(data => {
                        if (data.body.status) {
                            this.countryList = data.body.result;
                        } else {
                            toastr.error('Не могу загрузить список стран');
                        }
                    }, err => {
                        console.log(err);
                        toastr.error('Не могу загрузить список стран');
                    });

                this.$http.post('v2/agency/get/admin-detail', {
                    access_token: this.$cookie.get('access_token'),
                    user_id: this.$route.params.admin
                })
                  .then(data => {
                    if (data.body.status) {
                        let admin = data.body.result;
                        this.modelId = this.$route.params.admin;
                        this.modelPartner = admin.main.agency.id + ': ' + admin.main.agency.name;
                        this.modelBranch = admin.main.branch.name;
                        this.modelStatus = admin.main.status;
                        this.modelFirstName = admin.main.name;
                        this.modelSurName = admin.main.surname;
                        this.modelMiddleName = admin.main.middle_name;
                        this.modelBirthdayTimeStamp = admin.main.birthday;
//                        this.modelPassport = admin.main.passport;
						if ( this.admin.main.passport.length > 8 ) {
							this.passportType = 'passportBio'
						}
						else {
							this.passportType = ''
						}
                        this.passport = admin.main.passport;

                        this.modelNote = admin.main.note;
                        if (this.modelNote === '') {
                            this.modelNote = ' ';
                        }
                        this.modelCountry = admin.contact.country;
                        this.modelCity = admin.contact.city;
                        this.modelAddress = admin.contact.address;
                        this.modelPhone1 = admin.contact.phone_1;
                        this.modelPhone2 = admin.contact.phone_2;
                        this.modelSkype = admin.contact.skype;
                        this.oldAvatar = admin.main.avatar;
                        this.fetchAdminWoman()
                        this.fetchAllWomen();

                    } else {
                        toastr.error('Не могу загрузить данные по админу');
                        toastr.info(data.body.desc);
                    }


                }, err => {
                    console.log(err);
                    toastr.error('Не могу загрузить данные по админу');
                })
            }
        },
        watch: {
            passportType( v ) {
              this.usualPass = !this.usualPass
            },
            selectedCountry(value) {
                let name = value.name;
                this.country = name;
            },
            selectedCity(value) {
                this.city = value.name
            },
            searchWoman(value) {
                console.log(value)
            }
        },
        beforeMount() {
            this.fetchData();
        },
        mounted() {
          $("#birthdayPicker").datetimepicker({
            useCurrent: true,
            defaultDate: this.modelBirthdayTimeStamp,
            format: 'DD.MM.YYYY',
            locale: 'ru',
          });

          $('#birthdayPicker').on("dp.change", (e) => {
            this.modelBirthdayTimeStamp = moment(e.date?._d).format('X');
          });


            setTimeout(() => {
                $(".v-scroll").each(function(){
                    if($(this).attr("data-height")){
                        $(this).css("height", $(this).attr("data-height")+"px");
                    }
                    $(this).perfectScrollbar();
                });
            }, 400);
            let needTab = window.location.hash;
            $('a[href="' + needTab + '"]').click();
            if (needTab === '#main-tab') {
                this.setCurrentTab(0);
            }
            if (needTab === '#contacts') {
                this.setCurrentTab(1);
            }
            if (needTab === '#women') {
                this.setCurrentTab(2);
            }
            if (needTab === '#documents') {
                this.setCurrentTab(3);
            }
        },
        components: {
            'my-select': mySelect2,
            'multiselect': myltiselect
        }
    }
</script>
