<template>
    <div>
        <h2 class="page-header">
            <i class="fa fa-plus"></i> Филиал
        </h2>
        <div class="row">
            <div class="col-md-7">
                <form action="" method="POST" class="form-horizontal">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li @click="setTab(0)" :class="{'active': currentTab == 0}"><a href="#main-tab" data-toggle="tab">Главная</a></li>
                            <li @click="setTab(1)" :class="{'active': currentTab == 1}"><a href="#contacts" data-toggle="tab">Контакты</a></li>
                            <li @click="setTab(2)" :class="{'active': currentTab == 2}"><a href="#promo" data-toggle="tab">Промо</a></li>
                        </ul>
                        <div class="tab-content no-padding">
                            <!-- .tab-pane -->
                            <div class="tab-pane" :class="{'active': currentTab == 0}" id="main-tab">

                                <ul class="v-list v-list-sm-pad">

                                    <li><label for="for-partner" class="col-md-7">Партнер</label>
                                        <div class="col-md-5">
                                            <select name="" disabled class="form-control" id="for-partner">
                                                <option class="placeholder-option" selected
                                                        :value="parentBranch.general.id">{{parentBranch.general.name}}
                                                </option>
                                            </select>
                                        </div>
                                    </li>

                                    <li><label for="for-em" class="col-md-7 big-top-padding">Аватар</label>
                                        <div class="col-md-5">
                                            <div class="ava-load-wrapp photo">
                                                <img src="/dist/img/default.jpg"
                                                     src-default="dist/img/default.jpg" id="part-avatar-branch"
                                                     class="img-responsive">
                                                <div class="clearfix bottom-d">
													<span class="load-file-link">
                                                        <input type="file" id="part-ava-load-input" @change="selectAvatar"> <span
                                                            class="upload-text-wrapp"> Загрузить <i
                                                            class="fa fa-download text-blue"></i>
													</span>
													</span>
                                                    <span v-show="avatarSelected" @click="removeAvatar" class="fa fa-times-circle del-photo pull-right"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li><label for="for-em" class="col-md-7">Название филиала</label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" id="for-em" v-model="modelName">
                                        </div>
                                    </li>

                                    <li><label for="for-em2" class="col-md-7">E-mail</label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" id="for-em2" v-model="modelEmail">
                                        </div>
                                    </li>

                                    <li><label for="for-status" class="col-md-7">Статус</label>
                                        <div class="col-md-5">
                                            <select name="" class="form-control" id="for-status" v-model="modelStatus">
                                                <option value="">Не выбрано</option>
                                                <option value="active">активный</option>
                                                <option value="deactivated" selected="selected">неактивный</option>
                                                <option value="banned">забаненный</option>
                                            </select>
                                        </div>
                                    </li>


                                    <li><label class="col-md-7">Паспорт</label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" name="" v-model="modelPassport">
                                        </div>
                                    </li>

                                    <li><label for="for-director" class="col-md-7">Имя директора</label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" name=""
                                                   id="for-director" v-model="modelDirectorName">
                                        </div>
                                    </li>

                                    <li><label for="for-lastname" class="col-md-7">Фамилия
                                        директора</label>
                                        <div class="col-md-5">
                                            <input type="text" name="" class="form-control"
                                                   id="for-lastname" v-model="modelDirectorSurname">
                                        </div>
                                    </li>

                                    <li><label for="for-middle-name" class="col-md-7">Отчество
                                        директора</label>
                                        <div class="col-md-5">
                                            <input type="text" name="" class="form-control"
                                                   id="for-middle-name" v-model="modelDirectorMiddleName">
                                        </div>
                                    </li>

                                    <li><label for="for-note" class="col-md-4">Примечание</label>
                                        <div class="col-md-8">
											<textarea name="" class="form-control" id="for-note"
                                                      rows="10" v-model="modelNote"></textarea>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                            <!-- /.tab-pane -->

                            <!-- .tab-pane -->
                            <div class="tab-pane" :class="{'active': currentTab == 1}" id="contacts">
                                <ul class="v-list v-list-sm-pad">

                                    <li><label for="for-country" class="col-md-7">Страна</label>
                                        <div class="col-md-5">
                                            <multiselect v-model="country" label="name" track-by="name"
                                                         :placeholder="'Страна'" :options="countries" :multiple="false"
                                                         :searchable="true" :internal-search="true"
                                                         :clear-on-select="false" :close-on-select="true"
                                                         :options-limit="300" :limit="3" :limit-text="limitText">
                                                <span slot="noResult">По вашему запросу ничего не найдено</span>
                                            </multiselect>
                                        </div>
                                    </li>

                                    <li><label for="for-city" class="col-md-7">Город</label>
                                        <div class="col-md-5">
                                            <multiselect v-model="city" id="ajax" label="name"
                                                         track-by="country_id" :placeholder="'Город'" :options="cities"
                                                         :multiple="false" :searchable="true" :loading="isLoading"
                                                         :internal-search="false" :clear-on-select="false"
                                                         :close-on-select="true" :options-limit="300" :limit="3"
                                                         :limit-text="limitText" @search-change="asyncCity">
                                                <span slot="noResult">По вашему запросу ничего не найдено</span>
                                            </multiselect>
                                        </div>
                                    </li>

                                    <li><label for="for-adress" class="col-md-7">Адрес</label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" id="for-adress"
                                                   v-model="modelAddress">
                                        </div>
                                    </li>

                                    <li><label for="for-phone-1" class="col-md-7">Телефон 1</label>
                                        <div class="col-md-5">
                                            <input type="text" value=""
                                                   class="form-control" id="for-phone-1" v-model="modelPhone1">
                                        </div>
                                    </li>

                                    <li><label for="for-phone-2" class="col-md-7">Телефон 2</label>
                                        <div class="col-md-5">
                                            <input type="text" value=""
                                                   class="form-control" id="for-phone-2" v-model="modelPhone2">
                                        </div>
                                    </li>

                                    <li><label for="for-skype" class="col-md-7">Скайп</label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" id="for-skype"
                                                   v-model="modelSkype">
                                        </div>
                                    </li>

                                    <li><label for="bank-data" class="col-md-4">Банковские
                                        реквизиты</label>
                                        <div class="col-md-8">
											<textarea name="bank-data" class="form-control"
                                                      id="bank-data" rows="10" v-model="modelBank"></textarea>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                            <!-- /.tab-pane -->

                            <!-- .tab-pane -->
                            <div class="tab-pane" :class="{'active': currentTab == 2}" id="promo">
                                <ul class="v-list v-list-sm-pad">

                                    <li><label for="for-vk" class="col-md-7">VK директора</label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" id="for-vk" v-model="modelVkDirector">
                                        </div>
                                    </li>

                                    <li><label for="for-fc-dir" class="col-md-7">Facebook директора</label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" id="for-fc-dir"
                                                   v-model="modelFbDirector">
                                        </div>
                                    </li>

                                    <li><label for="for-vk-agency" class="col-md-7">VK филиала</label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" id="for-vk-agency"
                                                   v-model="modelVkAgency">
                                        </div>
                                    </li>

                                    <li><label for="for-agency" class="col-md-7">Facebook филиала</label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" id="for-agency"
                                                   v-model="modelFbAgency">
                                        </div>
                                    </li>

                                    <li><label for="for-site" class="col-md-7">Сайт</label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" id="for-site"
                                                   v-model="modelSite">
                                        </div>
                                    </li>

                                </ul>

                            </div>
                            <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                    </div>
                    <div class="clearfix text-right">
                        <a @click="switchTab" class="btn btn-primary btnNext" href="#contacts"> <span v-if="currentTab < 2">Дальше</span> <span v-if="currentTab == 2">Сохранить</span> <i
                                class="fa fa-long-arrow-right" v-if="currentTab < 2"></i></a>
                    </div>
                </form>
            </div>
        </div>

    </div>
    </div>
</template>

<script>
    import toastr from 'toastr'
	import multiselect from 'vue-multiselect'
    export default {
        name: 'CreateBranch',
        data() {
            return {
                parentBranch: {
                    general: {
                        id: 0,
                        name: ''
                    }
                },
                avatar: null,
                avatarModel: null,
                defaultAvatar: '/dist/img/default.jpg',
                avatarSelected: false,
                modelName: '',
                modelEmail: '',
                modelStatus: '',
                modelPassport: '',
                modelDirectorName: '',
                modelDirectorSurname: '',
                modelDirectorMiddleName: '',
                modelNote: '',
                modelCountry: '',
                modelCity: '',
                modelAddress: '',
                modelPhone1: '',
                modelPhone2: '',
                modelSkype: '',
                modelBank: '',
                modelVkDirector: '',
                modelVkAgency: '',
                modelFbDirector: '',
                modelFbAgency: '',
                modelSite: '',
                currentTab: 0,
				countries: [],
				cities: [],
				country: '',
				city: '',
				isLoading: false,
            }
        },
		watch: {
			country(value) {
				this.cities = [];
				this.city = '';
			},
            city(v) {

            }
		},
        beforeMount() {
        	this.fetchCountry()
            if (!this.$cookie.get('access_token') || this.$route.params.parent == undefined || this.$route.params.parent == null) {
                this.$router.push('/')
            } else {
                this.fetchData()
            }
        },
        methods: {
			asyncCity (query) {
				this.isLoading = true;
				this.$http.post(this.config.api.frontend + '/v2/guest/get-city', {
					city_name: query,
					country_id: this.country.id
				}).then(data => {
					this.isLoading = false;
					if (data.body.status) {
						this.cities = data.body.result;
					}
				}, err => {
					this.isLoading = false
				});
			},
			fetchCountry() {
				this.$http.post(this.config.api.frontend + '/v2/guest/get-country', {})
					.then(data => {
					if (data.body.status) {
						this.countries = data.body.result;
					} else {
						toastr.error('Не могу загрузить список стран')
					}
				}, err => {
					console.log(err);
				})
			},
			limitText (count) {
				return `and ${count} other countries`
			},
            setTab(number) {
                this.currentTab = number
            },
            switchTab() {
                if(this.currentTab >= 2) {
                    this.saveBranch()
                }else {
                    this.currentTab++
                }
            },
            saveBranch() {
                let branchFormData = new FormData()
                branchFormData.append('access_token', this.$cookie.get('access_token'))
                branchFormData.append('email', this.modelEmail)
                branchFormData.append('status', this.modelStatus)
                branchFormData.append('director_first_name', this.modelDirectorName)
                branchFormData.append('director_surname', this.modelDirectorSurname)
                branchFormData.append('director_middle_name', this.modelDirectorMiddleName)
                branchFormData.append('note', this.modelNote)
                branchFormData.append('address_country', this.modelCountry)
                branchFormData.append('address_city', this.modelCity)
                branchFormData.append('address', this.modelAddress)
                branchFormData.append('phone_1', this.modelPhone1)
                branchFormData.append('phone_2', this.modelPhone2)
                branchFormData.append('skype', this.modelSkype)
                branchFormData.append('bank_details', this.modelBank)
                branchFormData.append('promo_vk_director', this.modelVkDirector)
                branchFormData.append('promo_vk_agency', this.modelVkAgency)
                branchFormData.append('promo_facebook_director', this.modelFbDirector)
                branchFormData.append('promo_facebook_agency', this.modelFbAgency)
                branchFormData.append('site', this.modelSite)
                branchFormData.append('image', this.avatarModel)
                branchFormData.append('passport', this.modelPassport)
                branchFormData.append('name', this.modelName)
                branchFormData.append('duty_agency_id', this.$route.params.parent)
                this.$http.post('v2/agency/create/branch', branchFormData)
                    .then(data => {
                        if(data.body.status) {
                            this.$router.push('/partners/view/' + data.body.result.agency_id)
                        }else {
                            toastr.error('Не могу создать филиал')
                            toastr.info(data.body.desc)
                        }
                    }, err => {
                        toastr.error('Не могу создать филиал')
                    })
            },
            fetchData() {
                this.$http.post('v2/agency/get/detail', {
                    access_token: this.$cookie.get('access_token'),
                    agency_id: this.$route.params.parent
                }).then(data => {
                    if (data.body.status) {
                        this.parentBranch = data.body.result
                    } else {
                        toastr.error('Не могу загрузить партнера, для которого будет создан филиал! Возврат!');
                        setTimeout(() => {
                            window.history.back()
                        }, 2000)
                    }
                }, err => {
                    toastr.error('Не могу загрузить партнера, для которого будет создан филиал! Возврат!');
                    setTimeout(() => {
                        window.history.back()
                    }, 2000)
                })
            },
            selectAvatar(ev) {
                let selectedFiles = ev.target.files;
                for (let i = 0; i < selectedFiles.length; i++) {
                    this.avatarModel = selectedFiles[i]
                }

                let avatarReader = new FileReader()
                avatarReader.onload = file => {
                    let baseSource = file.target.result
                    let avatarPreview = document.querySelector('#part-avatar-branch')
                    avatarPreview.src = baseSource
                }
                avatarReader.readAsDataURL(this.avatarModel)
                this.avatarSelected = true
            },
            removeAvatar() {
                if (this.avatarSelected) {
                    this.avatarModel = null
                    this.avatarSelected = false
                    let avatarPreview = document.querySelector('#part-avatar-branch')
                    avatarPreview.src = this.defaultAvatar
                }
            }
        },
        components: {
			multiselect
        }
    }
</script>
