<template>
    <div>
        <h2 class="page-header"><i class="fa fa-plus"></i> Новый партнер</h2>
        <div class="row">
            <div class="col-md-7">
                <form action=""
                      method="POST"
                      class="form-horizontal">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs"
                            id="new-partner-tab">
                            <li class="active">
                                <a href="#main-tab" @click="changeTab(1)"
                                   data-toggle="tab">Главная</a></li>
                            <li>
                                <a href="#contacts" @click="changeTab(2)"
                                   data-toggle="tab">Контакты</a></li>
                        </ul>
                        <div class="tab-content no-padding">
                            <div class="active tab-pane"
                                 id="main-tab">
                                <ul class="v-list v-list-sm-pad">
                                    <li>
                                        <label
                                               class="col-md-7">Название <i class="fa fa-asterisk text-red" style="font-size: 9px;"></i></label>
                                        <div class="col-md-5">
                                            <input type="text"
                                                   class="form-control"
                                                   placeholder="Название"
                                                   v-model="partnerAgencyName">
                                        </div>
                                    </li>

                                    <li>
                                        <label
                                               class="col-md-7">E-mail <i class="fa fa-asterisk text-red" style="font-size: 9px;"></i></label>
                                        <div class="col-md-5">
                                            <input type="text"
                                                   class="form-control"
                                                   placeholder="Email"
                                                   v-model="partnerEmail">
                                        </div>
                                    </li>

                                    <li>
                                        <label for="for-status"
                                               class="col-md-7">Статус <i class="fa fa-asterisk text-red" style="font-size: 9px;"></i></label>
                                        <div class="col-md-5">
                                            <select name=""
                                                    class="form-control"
                                                    id="for-status"
                                                    v-model="partnerStatus">
                                                <option value="" disabled>Статус аккаунта</option>
                                                <option value="on_creating">на создании</option>
                                                <option value="active">активный</option>
                                                <option value="deactivated">удален</option>
                                                <option value="banned">забаненный</option>
                                            </select>
                                        </div>
                                    </li>

                                    <li>
                                        <label for="for-type"
                                               class="col-md-7">Тип <i class="fa fa-asterisk text-red" style="font-size: 9px;"></i></label>
                                        <div class="col-md-5">
                                            <select name=""
                                                    class="form-control"
                                                    id="for-type"
                                                    aria-placeholder="Тип"
                                                    v-model="partnerType">
                                                <option value="" disabled selected>Тип партнера</option>
                                                <option v-for="type in agencyTypes"
                                                        :value="type.id">{{type.name}}</option>
                                            </select>
                                        </div>
                                    </li>

                                    <li>
                                        <label  class="col-md-7">Паспорт <i class="fa fa-asterisk text-red" style="font-size: 9px;"></i></label>
                                        <div class="col-md-5">
                                            <input type="text"
                                                   class="form-control"
                                                   placeholder="Паспорт"
                                                   v-model="partnerPassport">
                                        </div>
                                    </li>

                                    <li>
                                        <label for="for-director"
                                               class="col-md-7">Имя директора <i class="fa fa-asterisk text-red" style="font-size: 9px;"></i></label>
                                        <div class="col-md-5">
                                            <input type="text"
                                                   class="form-control"
                                                   placeholder="Имя директора"
                                                   id="for-director"
                                                   v-model="partnerName">
                                        </div>
                                    </li>

                                    <li>
                                        <label for="for-lastname"
                                               class="col-md-7">Фамилия директора <i class="fa fa-asterisk text-red" style="font-size: 9px;"></i></label>
                                        <div class="col-md-5">
                                            <input type="text"
                                                   placeholder="Фамилия директора"
                                                   class="form-control"
                                                   id="for-lastname"
                                                   v-model="partnerSurName">
                                        </div>
                                    </li>

                                    <li>
                                        <label for="for-middle-name"
                                               class="col-md-7">Отчество директора <i class="fa fa-asterisk text-red" style="font-size: 9px;"></i></label>
                                        <div class="col-md-5">
                                            <input type="text"
                                                   placeholder="Отчество директора"
                                                   class="form-control"
                                                   id="for-middle-name"
                                                   v-model="partnerMiddleName">
                                        </div>
                                    </li>

                                    <li>
                                        <label for="for-note"
                                               class="col-md-4">Примечание</label>
                                        <div class="col-md-8">
                                            <textarea name=""
                                                      class="form-control"
                                                      id="for-note"
                                                      rows="10"
                                                      placeholder="Примечание"
                                                      v-model="partnerNote">
                                            </textarea>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- /.tab-pane -->

                            <!-- .tab-pane -->
                            <div class="tab-pane"
                                 id="contacts">

                                <ul class="v-list v-list-sm-pad">
                                    <li>
                                        <label class="col-md-7">Страна</label>
                                        <div class="col-md-5">
                                            <multiselect v-model="country" label="name" track-by="name"
                                                         :placeholder="'Страна'" :options="countries" :multiple="false"
                                                         :searchable="true" :internal-search="true"
                                                         :clear-on-select="false" :close-on-select="true"
                                                         :options-limit="300" :limit="3" :limit-text="limitText">
                                                <span slot="noResult">По вашему запросу ничего не найдено</span>
                                            </multiselect>
                                        </div>
                                    </li>
                                    <li>
                                        <label class="col-md-7">Город</label>
                                        <div class="col-md-5">
                                            <multiselect v-model="city" id="ajax" label="name"
                                                         track-by="country_id" :placeholder="'Город'" :options="cities"
                                                         :multiple="false" :searchable="true" :loading="isLoading"
                                                         :internal-search="false" :clear-on-select="false"
                                                         :close-on-select="true" :options-limit="300" :limit="3"
                                                         :limit-text="limitText" @search-change="asyncCity">
                                                <span slot="noResult">По вашему запросу ничего не найдено</span>
                                            </multiselect>
                                        </div>
                                    </li>
                                    <li>
                                        <label for="for-adress"
                                               class="col-md-7">Адрес</label>
                                        <div class="col-md-5">
                                            <input type="text"
                                                   class="form-control"
                                                   id="for-adress"
                                                   v-model="partnerAddress">
                                        </div>
                                    </li>

                                    <li>
                                        <label for="for-phone-1"
                                               class="col-md-7">Телефон 1</label>
                                        <div class="col-md-5">
                                            <input type="text"
                                                   v-model="partnerPhone1"
                                                   placeholder="+38 0## ## ## ###"
                                                   class="form-control"
                                                   id="for-phone-1">
                                        </div>
                                    </li>

                                    <li>
                                        <label for="for-phone-2"
                                               class="col-md-7">Телефон 2</label>
                                        <div class="col-md-5">
                                            <input type="text"
                                                   v-model="partnerPhone2"
                                                   placeholder="+38 0## ## ## ###"
                                                   class="form-control"
                                                   id="for-phone-2">
                                        </div>
                                    </li>

                                    <li>
                                        <label for="for-skype"
                                               class="col-md-7">Скайп</label>
                                        <div class="col-md-5">
                                            <input type="text"
                                                   class="form-control"
                                                   id="for-skype"
                                                   v-model="partnerSkype">
                                        </div>
                                    </li>

                                    <li>
                                        <label for="bank-data"
                                               class="col-md-4">Банковские реквизиты</label>
                                        <div class="col-md-8">
                                            <textarea name="bank-data"
                                                      class="form-control"
                                                      id="bank-data"
                                                      rows="10"
                                                      v-model="partnerBank"></textarea>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix text-right">
                        <a class="btn btn-primary" v-html="currentAction"
                           @click="nextTab"></a>
                    </div>
                </form>
            </div>
        </div>

    </div>
</template>

<script>
import Vue from 'vue'
import toastr from 'toastr'
import multiselect from 'vue-multiselect'
export default {
    name: 'CreatePartner',
    data() {
        return {
            agencyTypes: [],
            partnerAvatar: null,
            partnerEmail: null,
            partnerStatus: 'on_creating',
            partnerType: null,
            partnerPassport: null,
            partnerAgencyName: null,
            partnerName: null,
            partnerSurName: null,
            partnerMiddleName: null,
            partnerNote: null,
            partnerCountry: null,
            partnerCity: null,
            partnerAddress: null,
            partnerPhone1: null,
            partnerPhone2: null,
            partnerSkype: null,
            partnerBank: null,
            partnerVk: null,
            partnerFacebook: null,
            agencyVk: null,
            agencyFacebook: null,
            agencySite: null,
            currentTab: 1,
            currentAction: 'Дальше',
            countries: [],
            cities: [],
            country: '',
            city: '',
            isLoading: false,
        }
    },
    watch: {
        country(value) {
            this.cities = [];
            this.city = '';
        }
    },
    beforeMount() {
        this.fetchCountry();
        Vue.http.post('v2/agency/get/agency-type', {
            access_token: this.$cookie.get('access_token')
        }).then(data => {
            let types = data.body.result.list;
            for (let i = 0; i < types.length; i++) {
                this.agencyTypes.push(types[i]);
            }
        }, err => {
            console.log(err);
        })
    },
    methods: {
        limitText (count) {
            return `and ${count} other countries`
        },
        asyncCity (query) {
            this.isLoading = true;
            this.$http.post(this.config.api.frontend + '/v2/guest/get-city', {
                city_name: query,
                country_id: this.country.id
            }).then(data => {
                this.isLoading = false;
                if (data.body.status) {
                    this.cities = data.body.result;
                }
            }, err => {
                this.isLoading = false
            });
        },
        fetchCountry() {
            this.$http.post(this.config.api.frontend + '/v2/guest/get-country', {})
                .then(data => {
                    if (data.body.status) {
                        this.countries = data.body.result;
                    } else {
                        toastr.error('Не могу загрузить список стран')
                    }
                }, err => {
                    console.log(err);
                })
        },
        changeTab(number) {
            this.currentTab = number;
            if(number === 2) {
                this.currentAction = 'Сохранить партнера';
            }else {
                this.currentAction = 'Дальше';
            }
        },
        avatarDrop(event) {
            this.utils.checkImage(event).then(res => {
                if('status' in res && res.status) {
                    let files = event.target.files || event.dataTransfer.files;
                    for(let i = 0; i < files.length; i++) {
                        this.partnerAvatar = files[i];
                    }
                    let avatarReader = new FileReader();
                    avatarReader.onload = (event) => {
                        let avatarElement = document.querySelector('#part-avatar');
                        avatarElement.setAttribute('src', event.target.result);
                    };
                    avatarReader.readAsDataURL(this.partnerAvatar);
                }
            }).catch(error => {
                toastr.error(error.description);
            });
        },
        nextTab() {
            if(this.currentTab === 1) {
                $('.nav-tabs a[href="#contacts"]').tab('show');
                this.currentTab = 2;
                this.currentAction = 'Сохранить';
            }else if(this.currentTab === 2) {
                if(this.partnerAgencyName === '' || this.partnerAgencyName === null) {
                    toastr.warning('Название обязательно поле');
                    return false;
                }
                if(this.partnerEmail === '' || this.partnerEmail === null || !this.utils.validateEmail(this.partnerEmail)) {
                    if(this.partnerEmail === '' || this.partnerEmail === null) {
                        toastr.warning('Email обязательно поле');
                        return false;
                    }
                    if(!this.utils.validateEmail(this.partnerEmail)) {
                        toastr.warning('Поле Email невалидное');
                        return false;
                    }
                }
                if(this.partnerStatus === '' || this.partnerStatus === null) {
                    toastr.warning('Статус партнера обязательно поле');
                    return false;
                }
                if(this.partnerType === '' || this.partnerType === null) {
                    toastr.warning('Тип партнера обязательно поле');
                    return false;
                }

                if(this.partnerPassport === '' || this.partnerPassport === null) {
                    toastr.warning('Паспорт обязательно поле');
                    return false;
                }
                if(this.partnerName === '' || this.partnerName === null) {
                    toastr.warning('Имя директора обязательно поле');
                    return false;
                }
                if(this.partnerSurName === '' || this.partnerSurName === null) {
                    toastr.warning('Фамилия директора обязательно поле');
                    return false;
                }
                if(this.partnerMiddleName === '' || this.partnerMiddleName === null) {
                    toastr.warning('Отчество директора обязательно поле');
                    return false;
                }
                let newPartnerForm = new FormData();
                newPartnerForm.append('access_token', this.$cookie.get('access_token'));
                newPartnerForm.append('email', this.partnerEmail);
                newPartnerForm.append('status', this.partnerStatus);
                newPartnerForm.append('type_id', this.partnerType);
                newPartnerForm.append('director_first_name', this.partnerName);
                newPartnerForm.append('director_surname', this.partnerSurName);
                newPartnerForm.append('director_middle_name', this.partnerMiddleName);
                newPartnerForm.append('note', this.partnerNote);
                newPartnerForm.append('country', this.country.name);
                newPartnerForm.append('city', this.city.name);
                newPartnerForm.append('address', this.partnerAddress);
                newPartnerForm.append('phone_1', this.partnerPhone1);
                newPartnerForm.append('phone_2', this.partnerPhone2);
                newPartnerForm.append('skype', this.partnerSkype);
                newPartnerForm.append('bank_details', this.partnerBank);
                newPartnerForm.append('promo_vk_director', this.partnerVk);
                newPartnerForm.append('promo_vk_agency', this.agencyVk);
                newPartnerForm.append('promo_facebook_director', this.partnerFacebook);
                newPartnerForm.append('promo_facebook_agency', this.agencyFacebook);
                newPartnerForm.append('site', this.agencySite);
                newPartnerForm.append('passport', this.partnerPassport);
                newPartnerForm.append('name', this.partnerAgencyName);
                newPartnerForm.append('agency_type_id', this.partnerType);

                Vue.http.post('v2/agency/create-one', newPartnerForm)
                    .then(createPartnerResponse => {
                        console.log(createPartnerResponse);
                        if(createPartnerResponse.body.status) {
                            this.$router.push('/partners/edit/' + createPartnerResponse.body.result.agency_id + '#promo')
                        }
                    }, err => {
                        toastr.error('Не могу создать партнера');
                        console.log(err);
                    })

            }
        }
    },
    components: {
        multiselect
    }
}
</script>
