<template>
    <div>
        <h2 class="page-header"><i class="fa fa-plus"></i> Новый тип партнера</h2>

        <div class="row">
            <div class="col-md-6">
                <!-- form start -->
                <form method="POST"
                      action=""
                      @submit.prevent
                      class="form-horizontal">

                    <div class="form-group">
                        <label for="for-type"
                               class="col-md-4">Тип</label>
                        <div class="col-md-5">
                            <input type="text"
                                   class="form-control"
                                   id="for-type"
                                   v-model="modelName">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="for-letter"
                               class="col-md-4">Письмо</label>
                        <div class="col-md-3">
                            <input type="number"
                                   class="form-control"
                                   id="for-letter"
                                   v-model="modelTextLetter">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="for-textchat"
                               class="col-md-4">Текстовый чат</label>
                        <div class="col-md-3">
                            <input type="number"
                                   class="form-control"
                                   id="for-textchat"
                                   v-model="modelTextChat">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="for-videochat"
                               class="col-md-4">Видео чат</label>
                        <div class="col-md-3">
                            <input type="number"
                                   class="form-control"
                                   id="for-videochat"
                                   v-model="modelVideoChat">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="for-privatetchat"
                               class="col-md-4">Приват чат</label>
                        <div class="col-md-3">
                            <input type="number"
                                   class="form-control"
                                   id="for-privatetchat"
                                   v-model="modelPrivateChat">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="for-privatetchat"
                               class="col-md-4">Покупка приватного фото</label>
                        <div class="col-md-3">
                            <input type="number"
                                   class="form-control"
                                   id="for-privatephoto"
                                   v-model="modelPrivatePhoto">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="for-privatetchat"
                               class="col-md-4">Покупка приватного видео</label>
                        <div class="col-md-3">
                            <input type="number"
                                   class="form-control"
                                   id="for-privatevideo"
                                   v-model="modelPrivateVideo">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="for-contactinfo"
                               class="col-md-4">Конт.инфо.</label>
                        <div class="col-md-3">
                            <input type="number"
                                   class="form-control"
                                   id="for-contactinfo"
                                   v-model="modelInfoRequest">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10 text-right">
                            <button type="submit" @click.prevent="addPartner"
                                    class="btn btn-primary">Создать</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
import Vue from 'vue'
import toastr from 'toastr'
export default {
    name: 'CreateAgencyType',
    data() {
        return {
            modelName: '',
            modelDescription: ' ',
            modelTextLetter: 0,
            modelTextChat: 0,
            modelVideoChat: 0,
            modelPrivateChat: 0,
            modelInfoRequest: 0,
			modelPrivatePhoto: 0,
            modelPrivateVideo: 0,
        }
    },
    methods: {
        addPartner() {
            Vue.http.post('v2/agency/create/agency-type', {
                access_token: this.$cookie.get('access_token'),
                name: this.modelName,
                desc: this.modelDescription,
                write_letter: this.modelTextLetter,
                text_chat: this.modelTextChat,
                video_chat: this.modelVideoChat,
                private_chat: this.modelPrivateChat,
				private_photo_buy: this.modelPrivatePhoto,
                private_video_buy: this.modelPrivateVideo,
                realinfo_request: this.modelInfoRequest
            }).then(dataResponse => {
                console.log(dataResponse)
                if(dataResponse.body.status) {
                    this.$router.push('/partner-types')
                }else {
                    toastr.error(dataResponse.body.desc)
                }
            }, err => {
                toastr.error(err);
            })
        }
    }
}
</script>
