<template>
    <div>
        <div class="row margin-bottom">
            <div class="col-md-6">
                <div class="user-block user-block-md pull-left">
                    <img class="img-circle" :src="agencyModel.avatar.small" :alt="agencyModel.name">
                    <span class="username">
                  <a href="#">{{agencyName}}
                    <router-link :to="'/partners/view/' + $route.params.id">
                        <span class="text-white">
                            <a class="btn btn-sm btn-success"><i class="fa fa-lg  fa-eye"  style="color: #fff"></i></a>
                        </span>
                    </router-link>
                  </a>
                </span><span class="description">ID: {{agencyModel.id}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <form action="" method="POST" class="form-horizontal">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#main-tab" @click="changeTab(0)" data-toggle="tab">Главная</a>
                            </li>
                            <li>
                                <a href="#contacts" @click="changeTab(1)" data-toggle="tab">Контакты</a>
                            </li>
                            <li>
                                <a href="#promo" @click="changeTab(2)" data-toggle="tab">Промо</a>
                            </li>
                            <li>
                                <a href="#documents" @click="changeTab(3)" data-toggle="tab">Документы</a>
                            </li>
                            <li>
                                <a href="#gifts" @click="changeTab(4)" data-toggle="tab">Подарки</a>
                            </li>
                        </ul>
                        <div class="tab-content no-padding">
                            <div class="active tab-pane" id="main-tab">
                                <ul class="v-list v-list-sm-pad">
                                    <li>
                                        <label class="col-md-7 big-top-padding">Аватар</label>
                                        <div class="col-md-5">
                                            <div class="ava-load-wrapp photo">
                                                <img :src="agencyModel.avatar.small" :src-default="agencyModel.avatar"
                                                     id="part-avatar" class="img-responsive">
                                                <div class="clearfix bottom-d">
                                                    <span class="load-file-link">
                                                        <input type="file" name="myfiles" @change="avatarDrop"
                                                               id="part-ava-load-input">
                                                        <span class="upload-text-wrapp">
                                                            Загрузить <i class="fa fa-download text-blue"></i>
                                                        </span>
                                                    </span>
                                                    <span class="fa fa-times-circle del-photo pull-right"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li><label class="col-md-7">Название партнера <i class="fa fa-asterisk text-red" style="font-size: 9px;"></i></label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" v-model="agencyName">
                                        </div></li>
                                    <li>
                                        <label for="for-status" class="col-md-7">Статус <i class="fa fa-asterisk text-red" style="font-size: 9px;"></i></label>
                                        <div class="col-md-5">
                                            <select name="" class="form-control" id="for-status"
                                                    v-model="agencyModel.agencyStatus">
                                                <option value="on_creating" disabled>На создании</option>
                                                <option value="active">активный</option>
                                                <option value="deactivated">неактивное</option>
                                                <option value="banned">забаненный</option>
                                                <option value="chief_banned">Бан руководителя</option>
                                                <option value="administration_banned">Бан администрации</option>

                                            </select>
                                        </div>
                                    </li>
                                    <li>
                                        <label for="for-type" class="col-md-7">Тип <i class="fa fa-asterisk text-red" style="font-size: 9px;"></i></label>
                                        <div class="col-md-5">
                                            <select class="form-control" id="for-type"
                                                    v-model="agencyAccountType">
                                                <option value="" selected disabled>тип</option>
                                                <option v-for="t in agencyTypes" :value="t.id">
                                                    {{t.name}}
                                                </option>
                                            </select>
                                        </div>
                                    </li>
                                    <li>
                                      <label  class="col-md-7">Паспорт <i class="fa fa-asterisk text-red" style="font-size: 9px;"></i></label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control"
                                                   v-model="passport" placeholder="Паспорт">
                                        </div>
                                    </li>

                                    <li>
                                        <label for="for-director" class="col-md-7">Имя директора <i class="fa fa-asterisk text-red" style="font-size: 9px;"></i></label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" name="" id="for-director"
                                                   v-model="agencyModel.firstName">
                                        </div>
                                    </li>
                                    <li>
                                        <label for="for-lastname" class="col-md-7">Фамилия директора <i class="fa fa-asterisk text-red" style="font-size: 9px;"></i></label>
                                        <div class="col-md-5">
                                            <input type="text" name="" class="form-control" id="for-lastname"
                                                   v-model="agencyModel.surName">
                                        </div>
                                    </li>
                                    <li>
                                        <label for="for-middle-name" class="col-md-7">Отчество директора <i class="fa fa-asterisk text-red" style="font-size: 9px;"></i></label>
                                        <div class="col-md-5">
                                            <input type="text" name="" class="form-control" id="for-middle-name"
                                                   v-model="agencyModel.middleName">
                                        </div>
                                    </li>
                                    <li>
                                        <label for="for-note" class="col-md-4">Примечание</label>
                                        <div class="col-md-8">
                                          <textarea name="" class="form-control" id="for-note" rows="10"
                                                    v-model="agencyModel.note">
                                          </textarea>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-pane" id="contacts">
                                <ul class="v-list v-list-sm-pad">
                                    <li>
                                        <label class="col-md-7">Страна</label>
                                        <div class="col-md-5">
                                            <multiselect v-model="country" label="name" track-by="name"
                                                         :placeholder="agencyModel.country" :options="countries"
                                                         :multiple="false"
                                                         :searchable="true" :internal-search="true"
                                                         :clear-on-select="false" :close-on-select="true"
                                                         :options-limit="300" :limit="3" :limit-text="limitText">
                                                <span slot="noResult">По вашему запросу ничего не найдено</span>
                                            </multiselect>
                                        </div>
                                    </li>
                                    <li>
                                        <label class="col-md-7">Город</label>
                                        <div class="col-md-5">
                                            <multiselect v-model="city" id="ajax" label="name"
                                                         track-by="country_id" :placeholder="agencyModel.city"
                                                         :options="cities"
                                                         :multiple="false" :searchable="true" :loading="isLoading"
                                                         :internal-search="false" :clear-on-select="false"
                                                         :close-on-select="true" :options-limit="300" :limit="3"
                                                         :limit-text="limitText" @search-change="asyncCity">
                                                <span slot="noResult">По вашему запросу ничего не найдено</span>
                                            </multiselect>
                                        </div>
                                    </li>
                                    <li>
                                        <label for="for-adress" class="col-md-7">Адрес</label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" id="for-adress"
                                                   v-model="agencyModel.address">
                                        </div>
                                    </li>
                                    <li>
                                        <label for="for-phone-1" class="col-md-7">Телефон 1</label>
                                        <div class="col-md-5">
                                            <input type="text" v-model="agencyModel.firstPhone"
                                                   placeholder="+38 0## ## ## ###"
                                                   class="form-control" id="for-phone-1">
                                        </div>
                                    </li>
                                    <li>
                                        <label for="for-phone-2" class="col-md-7">Телефон 2</label>
                                        <div class="col-md-5">
                                            <input type="text" v-model="agencyModel.secondPhone"
                                                   placeholder="+38 0## ## ## ###"
                                                   class="form-control" id="for-phone-2">
                                        </div>
                                    </li>
                                    <li>
                                        <label for="for-skype" class="col-md-7">Скайп</label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" id="for-skype"
                                                   v-model="agencyModel.skype">
                                        </div>
                                    </li>
                                    <li>
                                        <label for="bank-data" class="col-md-4">Банковские реквизиты</label>
                                        <div class="col-md-8">
                                            <textarea name="bank-data" class="form-control" id="bank-data" rows="10"
                                                      v-model="agencyModel.bankDetail"></textarea>
                                        </div>
                                    </li>
                                </ul>

                            </div>
                            <div class="tab-pane" id="promo">

                                <ul class="v-list v-list-sm-pad">
                                    <li>
                                        <label for="for-vk" class="col-md-7">VK директора</label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" id="for-vk"
                                                   v-model="agencyModel.vkDirector">
                                        </div>
                                    </li>
                                    <li>
                                        <label for="for-fc-dir" class="col-md-7">Facebook директора</label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" id="for-fc-dir"
                                                   v-model="agencyModel.facebookDirector">
                                        </div>
                                    </li>
                                    <li>
                                        <label for="for-vk-agency" class="col-md-7">VK агентства</label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" id="for-vk-agency"
                                                   v-model="agencyModel.vkAgency">
                                        </div>
                                    </li>
                                    <li>
                                        <label for="for-agency" class="col-md-7">Facebook агентства</label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" id="for-agency"
                                                   v-model="agencyModel.facebookAgency">
                                        </div>
                                    </li>
                                    <li>
                                        <label for="for-site" class="col-md-7">Сайт</label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" id="for-site"
                                                   v-model="agencyModel.site">
                                        </div>
                                    </li>
                                </ul>

                            </div>
                            <div class="tab-pane" id="documents">
                                <ul class="v-list v-list-sm-pad">
                                    <li class="header">
                                        <div for="for-site" class="col-md-7">ЧП (фирмы) <span class="text-muted margin-top"><small>jpg, jpeg, pdf (не более 20Mb)</small></span></div>
                                        <div class="col-md-5 text-right">
                                        <span class="load-file-link">
                                          <input type="file" class="file-loader" @change="uploadDocs"
                                                 data-type="business_docs" data-nav=".photo-list-mydoc">
                                          <span class="upload-text-wrapp">
                                            Загрузить <i class="fa fa-download text-blue"></i>
                                          </span>
                                        </span>
                                        </div>
                                    </li>
                                    <li>
                                        <nav class="photo-nav photo-list-mydoc" id="bdphoto">
                                            <a :target="{'_blank': isDocument(item.image)}" :class="{ 'photo-nav__item': !isDocument(item.image) }" v-for="item in documents.business_docs" :href="item.image">
                                                <img :src="item.image" v-if="!isDocument(item.image)">
                                                <img :src="'/dist/img/pdf.png'" v-else="isDocument(item.image)" alt="Document">
                                                <span class="fa fa-times-circle del-photo"
                                                      @click.prevent.stop="disableDocument(item.id)"></span>
                                            </a>
                                        </nav>
                                    </li>
                                    <li class="header">
                                        <div for="for-site" class="col-md-7">Фото офиса <span class="text-muted margin-top"><small>jpg, jpeg, pdf (не более 20Mb)</small></span></div>
                                        <div class="col-md-5 text-right">
                                            <span class="load-file-link">
                                            <input type="file" @change="uploadDocs" data-type="office_photo"
                                                   class="file-loader"
                                                   data-nav=".photo-list-oficearend">
                                            <span class="upload-text-wrapp">
                                                Загрузить <i class="fa fa-download text-blue"></i>
                                            </span>
                                            </span>
                                        </div>
                                    </li>
                                    <li>
                                        <nav class="photo-nav photo-list-ofice" id="officephoto">
                                            <a :target="{'_blank': isDocument(item.image)}" :class="{ 'photo-nav__item': !isDocument(item.image) }" v-for="item in documents.office_photo" :href="item.image">
                                                <img :src="item.image" v-if="!isDocument(item.image)">
                                                <img :src="'/dist/img/pdf.png'" v-else="isDocument(item.image)" alt="Document">
                                                <span class="fa fa-times-circle del-photo"
                                                      @click.prevent.stop="disableDocument(item.id)"></span>
                                            </a>
                                        </nav>
                                    </li>
                                    <li class="header">
                                        <div for="for-site" class="col-md-7">Паспорта директора <span class="text-muted margin-top"><small>jpg, jpeg, pdf (не более 20Mb)</small></span></div>
                                        <div class="col-md-5 text-right">
                                            <span class="load-file-link">
                                              <input type="file" @change="uploadDocs" data-type="passport_1"
                                                     class="file-loader"
                                                     data-nav=".photo-list-pasport1">
                                              <span class="upload-text-wrapp">
                                                Загрузить <i class="fa fa-download text-blue"></i>
                                              </span>
                                            </span>
                                        </div>
                                    </li>
                                    <li>
                                        <nav class="photo-nav photo-list-pasport1" id="passportphoto">
                                            <a :target="{'_blank': isDocument(item.image)}" :class="{ 'photo-nav__item': !isDocument(item.image) }" v-for="item in documents.passport_1" :href="item.image">
                                                <img :src="item.image" v-if="!isDocument(item.image)">
                                                <img :src="'/dist/img/pdf.png'" v-else alt="Document">
                                                <span class="fa fa-times-circle del-photo"
                                                      @click.prevent.stop="disableDocument(item.id)"></span>
                                            </a>
                                        </nav>
                                    </li>
                                    <li class="header">
                                        <div for="for-site" class="col-md-7">Видео с директором <span class="text-muted margin-top"><small>mp4, mov, m4v, avi (не более 20Mb)</small></span></div>
                                        <div class="col-md-5 text-right">
                                            <span class="load-file-link">
                                              <input type="file" @change="uploadVideoDocs" data-type="video_approve"
                                                     data-nav=".video-list">
                                              <span class="upload-text-wrapp">
                                                Загрузить <i class="fa fa-download text-blue"></i>
                                              </span>
                                            </span>
                                        </div>
                                    </li>
                                    <li>
                                        <nav class="photo-list-pasport2">
                                                <!--<a v-for="doc in documents.video_approve" @click="openVideo(doc.image)"-->
                                                   <!--data-poster="https://ateliesaun.ru/img/new/video.jpg">-->
                                                    <!--<img src="https://ateliesaun.ru/img/new/video.jpg"/>-->
                                                    <!--<span class="fa fa-times-circle del-photo"-->
                                                          <!--@click.prevent.stop="disableDocument(doc.id)"></span>-->
                                                <!--</a>-->
                                            <div class="video-list">
                                                <a v-for="doc in documents.video_approve"
                                                   target="_blank"
                                                   :href="doc.image"
                                                   :data-sub-html="doc.name">
                                                    <img src="https://ateliesaun.ru/img/new/video.jpg"/>
                                                    <span class="fa fa-times-circle del-photo"
                                                          @click.stop.prevent="disableDocument(doc.id)"></span>
                                                </a>
                                            </div>
                                        </nav>
                                    </li>
                                    <li class="header">
                                        <div for="for-site" class="col-md-7">Копия последней страницы договора с сервисом и подписью <span class="text-muted margin-top"><small>jpg, jpeg, pdf (не более 20Mb)</small></span></div>
                                        <div class="col-md-5 text-right">
                                            <span class="load-file-link">
                                              <input type="file" @change="uploadDocs" data-type="contract_with_site"
                                                     class="file-loader" data-nav=".photo-list-lastp">
                                              <span class="upload-text-wrapp">
                                                Загрузить <i class="fa fa-download text-blue"></i>
                                              </span>
                                            </span>
                                        </div>
                                    </li>
                                    <li>
                                        <nav class="photo-nav contract_with_site" id="contractphoto">
                                            <a :target="{'_blank': isDocument(item.image)}" :class="{ 'photo-nav__item': !isDocument(item.image) }" v-for="item in documents.contract_with_site" :href="item.image"
                                               >
                                                <img :src="item.image" v-if="!isDocument(item.image)">
                                                <img :src="'/dist/img/pdf.png'" v-else="isDocument(item.image)" alt="Document">
                                                <span class="fa fa-times-circle del-photo"
                                                      @click.prevent.stop="disableDocument(item.id)"></span>
                                            </a>
                                        </nav>
                                    </li>
                                    <li class="header">
                                        <div for="for-site" class="col-md-7">Договор на аренду офиса (копия) <span class="text-muted margin-top"><small>jpg, jpeg, pdf (не более 20Mb)</small></span></div>
                                        <div class="col-md-5 text-right">
                                            <span class="load-file-link">
                                              <input type="file" @change="uploadDocs" data-type="office_rent"
                                                     class="file-loader"
                                                     data-nav=".photo-list-oficearend">
                                              <span class="upload-text-wrapp">
                                                Загрузить <i class="fa fa-download text-blue"></i>
                                              </span>
                                            </span>
                                        </div>
                                    </li>
                                    <li>
                                        <nav class="photo-nav photo-list-oficearend" id="rentphoto">
                                            <a :target="{'_blank': isDocument(item.image)}" :class="{ 'photo-nav__item': !isDocument(item.image) }" v-for="item in documents.office_rent" :href="item.image" >
                                                <img :src="item.image" v-if="!isDocument(item.image)">
                                                <img :src="'/dist/img/pdf.png'" v-else="isDocument(item.image)" alt="Document">
                                                <span class="fa fa-times-circle del-photo"
                                                      @click.prevent.stop="disableDocument(item.id)"></span>
                                            </a>
                                        </nav>
                                    </li>
                                    <li class="header">
                                        <div for="for-site" class="col-md-7">Другие документы <span class="text-muted margin-top"><small>jpg, jpeg, pdf (не более 20Mb)</small></span></div>
                                        <div class="col-md-5 text-right">
                                            <span class="load-file-link">
                                              <input type="file" @change="uploadDocs" data-type="other"
                                                     class="file-loader"
                                                     data-nav=".photo-list-oficearend">
                                              <span class="upload-text-wrapp">
                                                Загрузить <i class="fa fa-download text-blue"></i>
                                              </span>
                                            </span>
                                        </div>
                                    </li>
                                    <li>
                                        <nav class="photo-nav photo-list-other" id="otherphoto">
                                            <a :target="{'_blank': isDocument(item.image)}" :class="{ 'photo-nav__item': !isDocument(item.image) }" v-for="item in documents.other" :href="item.image">
                                                <img :src="item.image" v-if="!isDocument(item.image)">
                                                <img :src="'/dist/img/pdf.png'" v-else="isDocument(item.image)" alt="Document">
                                                <span class="fa fa-times-circle del-photo"
                                                      @click.prevent.stop="disableDocument(item.id)"></span>
                                            </a>
                                        </nav>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-pane pad" id="gifts">
                                <div class="box box-xs box-solid collapsed-box">
                                    <div class="box-header with-border" data-widget="collapse">
                                        <i class="fa fa-plus"></i>
                                        <h3 class="box-title">Парфюмы</h3>
                                    </div>
                                    <div class="box-body no-padding no-display">
                                        <table class="table sm-col-pad">
                                            <tbody>
                                            <gift-check-box v-for="gift in gifts.perfume" :gift="gift"
                                                            :key="gift.id"></gift-check-box>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="box box-xs box-solid collapsed-box">
                                    <div class="box-header with-border" data-widget="collapse">
                                        <i class="fa fa-plus"></i>
                                        <h3 class="box-title">Ювелирные изделия</h3>
                                    </div>
                                    <div class="box-body no-padding no-display">
                                        <table class="table sm-col-pad">
                                            <tbody>
                                            <gift-check-box v-for="gift in gifts.jewelry" :gift="gift"
                                                            :key="gift.id"></gift-check-box>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="box box-xs box-solid collapsed-box">
                                    <div class="box-header with-border" data-widget="collapse">
                                        <i class="fa fa-plus"></i>
                                        <h3 class="box-title">Техника</h3>
                                    </div>
                                    <div class="box-body no-padding no-display">
                                        <table class="table sm-col-pad">
                                            <tbody>
                                            <gift-check-box v-for="gift in gifts.electronic_devices" :gift="gift"
                                                            :key="gift.id"></gift-check-box>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="box box-xs box-solid collapsed-box">
                                    <div class="box-header with-border" data-widget="collapse">
                                        <i class="fa fa-plus"></i>
                                        <h3 class="box-title">Игрушки</h3>
                                    </div>
                                    <div class="box-body no-padding no-display">
                                        <table class="table sm-col-pad">
                                            <tbody>
                                            <gift-check-box v-for="gift in gifts.toys" :gift="gift"
                                                            :key="gift.id"></gift-check-box>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="box box-xs box-solid collapsed-box">
                                    <div class="box-header with-border" data-widget="collapse">
                                        <i class="fa fa-plus"></i>
                                        <h3 class="box-title">Продукты и напитки</h3>
                                    </div>
                                    <div class="box-body no-padding no-display">
                                        <table class="table sm-col-pad">
                                            <tbody>
                                            <gift-check-box v-for="gift in gifts.food_and_beverage" :gift="gift"
                                                            :key="gift.id"></gift-check-box>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="box box-xs box-solid collapsed-box">
                                    <div class="box-header with-border" data-widget="collapse">
                                        <i class="fa fa-plus"></i>
                                        <h3 class="box-title">Сертификаты</h3>
                                    </div>
                                    <div class="box-body no-padding no-display">
                                        <table class="table sm-col-pad">
                                            <tbody>
                                            <gift-check-box v-for="gift in gifts.season_tickets_and_certificates"
                                                            :gift="gift" :key="gift.id"></gift-check-box>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="box box-xs box-solid collapsed-box">
                                    <div class="box-header with-border" data-widget="collapse">
                                        <i class="fa fa-plus"></i>
                                        <h3 class="box-title">Одежда</h3>
                                    </div>
                                    <div class="box-body no-padding no-display">
                                        <table class="table sm-col-pad">
                                            <tbody>
                                            <gift-check-box v-for="gift in gifts.clothing" :gift="gift"
                                                            :key="gift.id"></gift-check-box>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="box box-xs box-solid collapsed-box">
                                    <div class="box-header with-border" data-widget="collapse">
                                        <i class="fa fa-plus"></i>
                                        <h3 class="box-title">Цветы</h3>
                                    </div>
                                    <div class="box-body no-padding no-display">
                                        <table class="table sm-col-pad">
                                            <tbody>
                                            <gift-check-box v-for="gift in gifts.flowers" :gift="gift" :key="gift.id"></gift-check-box>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="box box-xs box-solid collapsed-box">
                                    <div class="box-header with-border" data-widget="collapse">
                                        <i class="fa fa-plus"></i>
                                        <h3 class="box-title">Шарики</h3>
                                    </div>
                                    <div class="box-body no-padding no-display">
                                        <table class="table sm-col-pad">
                                            <tbody>
                                            <gift-check-box v-for="gift in gifts.balloons" :gift="gift"
                                                            :key="gift.id"></gift-check-box>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <button type="submit" class="btn btn-primary pull-right" v-show="tab !== 3" @click.prevent="saveForm">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue'
    import checkBoxComponent from '../../custom/checkBoxComponent.vue'
    import toastr from 'toastr'
    import multiselect from 'vue-multiselect'
    import _ from 'lodash'
    import randomstring from 'randomstring'
    export default {
        name: 'partnerEdit',
        data() {
            return {
				passportType: '',
                passport: '',
				usualPass: true,
                fullAgency: {},
                agencyName: '',
				gallery: null,
				galleryOffice: null,
                galleryPassport: null,
				galleryContract: null,
				galleryRent: null,
                initHook: false,
                agencyModel: {
                    avatar: '',
                    name: '',
                    id: '',
                    agencyType: '',
                    agencyStatus: '',
                    passport: '',
                    firstName: '',
                    surName: '',
                    middleName: '',
                    note: '',
                    country: '',
                    city: '',
                    address: '',
                    email: '',
                    firstPhone: '',
                    secondPhone: '',
                    skype: '',
                    bankDetail: '',
                    vkDirector: '',
                    vkAgency: '',
                    facebookDirector: '',
                    facebookAgency: '',
                    site: '',
                    balance: ''
                },
                agencyAccountType: '',
                gifts: {},
                avatar: null,
                avatarFile: null,
                documents: {
                    passport_1: [],
                    business_docs: [],
                    office_photo: [],
                    office_rent: [],
                    contract_with_site: [],
                    video_approve: [],
                    photo_with_passport: [],
                    other: [],
                },
                agencyTypes: [],
                agencyType: 1,
                type: 1,
                tab: 0,
                countries: [],
                cities: [],
                country: '',
                city: '',
                isLoading: false,
            }
        },
        watch: {
			passportType( v ) {
				this.usualPass = !this.usualPass
			},
        },
        beforeMount() {
            this.fetchCountry();
            Vue.http.post('v2/agency/get/present-list', {
                access_token: this.$cookie.get('access_token'),
                agency_id: this.$route.params.id
            }).then(response => {
                if (response.body.status) {
                    this.gifts = response.body.result;
                } else {
                    toastr.error('Не могу загрузить список подарков')
                }
            }, err => {
                console.log(err);
                toastr.error('Не могу загрузить список подарков')
            });

            Vue.http.post('v2/agency/get/detail', {
                access_token: this.$cookie.get('access_token'),
                agency_id: this.$route.params.id
            }).then(response => {
                if (response.body.status) {
                    this.fullAgency = response.body.result;
                    Vue.http.post('v2/agency/get/agency-type', {
                        access_token: this.$cookie.get('access_token')
                    }).then(data => {
                        let types = data.body.result.list;
                        for (let i = 0; i < types.length; i++) {
                            this.agencyTypes.push(types[i]);
                        }
                        this.agencyAccountType = this.type;
                    }, err => {
                        console.log(err);
                    });

                    this.agency = response.body.result;
                    let agency = response.body.result;
                    let type = response.body.result.general.type;
                    this.agencyModel.avatar = agency.general.avatar;
                    this.agencyModel.name = agency.director.name;
                    this.agencyModel.id = agency.director.id;
                    this.type = type;
                    this.agencyModel.agencyStatus = agency.general.status;
                    this.passport = agency.general.passport;
				if ( agency.general.passport.length > 8 ) {
					this.passportType = 'passportBio'
				}
				else {
					this.passportType = ''
				}
                    this.agencyModel.firstName = agency.general.director_name;
                    this.agencyModel.surName = agency.general.director_surname;
                    this.agencyModel.middleName = agency.general.director_middle_name;
                    this.agencyModel.note = agency.general.note;
                    this.agencyName = agency.general.name;
                    this.agencyModel.country = agency.contacts.country;
                    this.agencyModel.city = agency.contacts.city;
                    this.agencyModel.address = agency.contacts.address;
                    this.agencyModel.email = agency.contacts.email;
                    this.agencyModel.firstPhone = agency.contacts.phone_1;
                    this.agencyModel.secondPhone = agency.contacts.phone_2;
                    this.agencyModel.skype = agency.contacts.skype;
                    this.agencyModel.bankDetail = agency.contacts.bank_detail;

                    this.agencyModel.vkDirector = agency.promo.vk_director;
                    this.agencyModel.vkAgency = agency.promo.vk_agency;
                    this.agencyModel.facebookDirector = agency.promo.facebook_director;
                    this.agencyModel.facebookAgency = agency.promo.facebook_agency;
                    this.agencyModel.site = agency.promo.promo_site;
                    this.type = this.agency.general.type;
                    this.initDocuments();
                    this.agencyAccountType = type;
                }
            }, err => {
                toastr.error('Не могу загрузить данные об агенстве');
                console.log(err);
            });
        },
        methods: {
			changePassport() {
				this.passport = ''
			},
            openVideo(url) {
                let win = window.open(url, '_blank');
                win.focus();
            },
            replaceId(name) {
                console.log(name);
                return _.replace(name.replace('.', ''), new RegExp('[0-9]'), '')
            },
            isDocument(name) {
                return name.match('.pdf') !== null;
            },
            initDocuments() {
                Vue.http.post('v2/document/search/document', {
                    access_token: this.$cookie.get('access_token'),
                    user_id: this.agencyModel.id,
                    status: 'active'
                }).then(data => {
                    let documents = data.body.result;
                    for (let i = 0; i < documents.length; i++) {
                        if (documents[i].user_document.document_type == 'passport_1') {
                            this.documents.passport_1.push({
                                id: documents[i].user_document.id,
                                image: documents[i].user_document.file_path,
                                note: documents[i].user_document.note,
                                type: documents[i].user_document.document_type
                            })
                        }
                        if (documents[i].user_document.document_type == 'passport_2') {
                            this.documents.passport_1.push({
                                id: documents[i].user_document.id,
                                image: documents[i].user_document.file_path,
                                note: documents[i].user_document.note,
                                type: documents[i].user_document.document_type
                            })
                        }
                        if (documents[i].user_document.document_type == 'passport_3') {
                            this.documents.passport_1.push({
                                id: documents[i].user_document.id,
                                image: documents[i].user_document.file_path,
                                note: documents[i].user_document.note,
                                type: documents[i].user_document.document_type
                            })
                        }
                        if (documents[i].user_document.document_type == 'passport_11') {
                            this.documents.passport_1.push({
                                id: documents[i].user_document.id,
                                image: documents[i].user_document.file_path,
                                note: documents[i].user_document.note,
                                type: documents[i].user_document.document_type
                            })
                        }
                        if (documents[i].user_document.document_type == 'business_docs') {
                            this.documents.business_docs.push({
                                id: documents[i].user_document.id,
                                image: documents[i].user_document.file_path,
                                note: documents[i].user_document.note,
                                type: documents[i].user_document.document_type
                            })
                        }
                        if (documents[i].user_document.document_type == 'office_photo') {
                            this.documents.office_photo.push({
                                id: documents[i].user_document.id,
                                image: documents[i].user_document.file_path,
                                note: documents[i].user_document.note,
                                type: documents[i].user_document.document_type
                            })
                        }
                        if (documents[i].user_document.document_type == 'contract_with_site') {
                            this.documents.contract_with_site.push({
                                id: documents[i].user_document.id,
                                image: documents[i].user_document.file_path,
                                note: documents[i].user_document.note,
                                type: documents[i].user_document.document_type
                            })
                        }
                        if (documents[i].user_document.document_type == 'office_rent') {
                            this.documents.office_rent.push({
                                id: documents[i].user_document.id,
                                image: documents[i].user_document.file_path,
                                note: documents[i].user_document.note,
                                type: documents[i].user_document.document_type
                            })
                        }
                        if (documents[i].user_document.document_type == 'video_approve') {
                            this.documents.video_approve.push({
                                id: documents[i].user_document.id,
                                image: documents[i].user_document.file_path,
                                note: documents[i].user_document.note,
                                type: documents[i].user_document.document_type,
                                name: randomstring.generate(9)
                            })
                        }
                        if (documents[i].user_document.document_type == 'photo_with_passport') {
                            this.documents.photo_with_passport.push({
                                id: documents[i].user_document.id,
                                image: 'https://admin.fedate.com' / +documents[i].user_document.file_path,
                                note: documents[i].user_document.note,
                                type: documents[i].user_document.document_type
                            })
                        }
                        if (documents[i].user_document.document_type == 'other') {
                            this.documents.other.push({
                                id: documents[i].user_document.id,
                                image: documents[i].user_document.file_path,
                                note: documents[i].user_document.note,
                                type: documents[i].user_document.document_type
                            })
                        }
                    }
                    this.initHook = !this.initHook
                }, err => {
                    console.log(err);
                })
            },
            disableDocument(id) {
                App.confirm("Отметив этот документ неактивным - вы больше не сможете получить к нему доступ! Вы уверены?",
                    isConfirm => {
                      if (!isConfirm) {
                        return
                      }

                      Vue.http.post('v2/document/disable/document', {
                        access_token: this.$cookie.get('access_token'),
                        user_document_id: id
                      }).then(remove => {
                        if (remove.body.status) {
                          for (let category in this.documents) {
                            for (let i = 0; i < this.documents[category].length; i++) {
                              if (this.documents[category][i].id == id) {
                                this.documents[category].splice(i, 1);
                              }
                            }
                          }
                          toastr.success("Документ успешно помечен как неактивный.", "success");
                        } else {
                          toastr.error('Не могу сделать документ неактивным');
                        }
                      }, err => {
                        console.log(err);
                      });
                    })
            },
            changeTab(number) {
                this.tab = number
            },
            limitText (count) {
                return `and ${count} other countries`
            },
            asyncCity (query) {
                this.isLoading = true;
                this.$http.post(this.config.api.frontend + '/v2/guest/get-city', {
                    city_name: query,
                    country_id: this.country.id
                }).then(data => {
                    this.isLoading = false;
                    if (data.body.status) {
                        this.cities = data.body.result;
                    }
                }, err => {
                    this.isLoading = false
                });
            },
            fetchCountry() {
                this.$http.post(this.config.api.frontend + '/v2/guest/get-country', {})
                    .then(data => {
                        if (data.body.status) {
                            this.countries = data.body.result;
                        } else {
                            toastr.error('Не могу загрузить список стран')
                        }
                    }, err => {
                        console.log(err);
                    })
            },
            giftLink(data) {
                return config.media.frontend
            },
            avatarDrop(event) {
                this.avatar = event.target.files || event.dataTransfer.files;
                let files = this.avatar;
                for (let i = 0, f; f = files[i]; i++) {
                    this.avatarFile = f;
                }

                let reader = new FileReader();
                reader.onload = (e) => {
                    $('#part-avatar').attr('src', e.target.result);
                };
                reader.readAsDataURL(this.avatarFile);
            },
            uploadAvatar() {
                let MyFormData = new FormData();
                MyFormData.append('image', this.avatarFile);
                MyFormData.append('access_token', this.$cookie.get('access_token'));
                MyFormData.append('agency_id', this.$route.params.id);
                Vue.http.post('v2/agency/update/avatar', MyFormData)
                    .then(fileUploadResult => {
                        if (!fileUploadResult.body.status) {
                            toastr.error('НЕ могу обновить аватар');
                        }
                    }, err => {
                        console.log(err);
                        toastr.error('НЕ могу обновить аватар');
                    })
            },
            saveGifts() {
                let giftIdsArray = [];
                let gifts = this.gifts;
                for (let category in gifts) {
                    for (let i = 0; i < gifts[category].length; i++) {
                        if (gifts[category][i].available) {
                            giftIdsArray.push(gifts[category][i].id);
                        }
                    }
                }
                Vue.http.post('v2/agency/update/present-list', {
                    access_token: this.$cookie.get('access_token'),
                    agency_id: this.$route.params.id,
                    gift_id_list: JSON.stringify(giftIdsArray)
                }).then(editGiftResult => {
                    if (editGiftResult.body.status) {
                        toastr.info('Список подарков обновлен успешно');
                    } else {
                        toastr.error('Ошибка. Не могу обновить список подарков');
                    }
                }, err => {
                    console.log(err);
                    toastr.error('Ошибка. Не могу обновить список подарков');
                })
            },
            saveForm() {
                if (this.tab === 0) {
                    let data = this.agencyModel;
                    if (this.avatarFile !== null) {
                        this.uploadAvatar();
                    }

                    if(this.agencyModel.agencyStatus === null || this.agencyModel.agencyStatus === '') {
                        toastr.warning('После статус партнера обязательно к заполению');
                        return false;
                    }
                    if(this.agencyAccountType === null || this.agencyAccountType === '' || this.agencyAccountType === undefined) {
                        toastr.warning('После тип партнера обязательно к заполению');
                        return false;
                    }
                    if(this.passport === null || this.passport === '') {
                        toastr.warning('После паспорт обязательно к заполению');
                        return false;
                    }
                    if(this.agencyModel.firstName === null || this.agencyModel.firstName === '') {
                        toastr.warning('После имя директора обязательно к заполению');
                        return false;
                    }
                    if(this.agencyModel.middleName === null || this.agencyModel.middleName === '') {
                        toastr.warning('После отчество директора обязательно к заполению');
                        return false;
                    }
                    if(this.agencyModel.surName === null || this.agencyModel.surName === '') {
                        toastr.warning('После фамилия директора обязательно к заполению');
                        return false;
                    }

                    this.$http.post('v2/agency/update', {
                        access_token: this.$cookie.get('access_token'),
                        agency_id:  this.$route.params.id,
                        agency_status: this.agencyModel.agencyStatus,
                        agency_type_id: this.agencyAccountType,
                        passport: this.passport,
                        name: this.agencyName,
                        first_name: this.agencyModel.firstName,
                        surname: this.agencyModel.surName,
                        middle_name: this.agencyModel.middleName,
                        note: this.agencyModel.note
                    }).then(data => {
                        if (data.body.status) {
                            toastr.success('Основные данные сохранены')
                        } else {
                            toastr.error('Ошибка');
                            toastr.info(data.body.desc);
                        }
                    })
                }

                if (this.tab === 1) {

                    let c = '';
                    if(this.country === '') {
                        c = this.agencyModel.country
                    }else {
                        c = this.country.name
                    }
                    let c2 = '';
                    if(this.city === '') {
                        c2 = this.agencyModel.city
                    }else {
                        c2 = this.city.name
                    }

                    this.$http.post('v2/agency/update', {
                        access_token: this.$cookie.get('access_token'),
                        agency_id: this.$route.params.id,
                        country: c,
                        city: c2,
                        address: this.agencyModel.address,
                        phone_1: this.agencyModel.firstPhone,
                        phone_2: this.agencyModel.secondPhone,
                        skype: this.agencyModel.skype,
                        bank_detail: this.agencyModel.bankDetail
                    }).then(data => {
                        if (data.body.status) {
                            toastr.success('Контактные данные сохранены')
                        } else {
                            toastr.error('Ошибка');
                            toastr.info(data.body.desc);
                        }
                    })
                }

                if(this.tab === 2) {
                    this.$http.post('v2/agency/update', {
                        access_token: this.$cookie.get('access_token'),
                        agency_id: this.$route.params.id,
                        promo_vk_director: this.agencyModel.vkDirector,
                        promo_vk_agency: this.agencyModel.vkAgency,
                        promo_facebook_director: this.agencyModel.facebookDirector,
                        promo_facebook_agency: this.agencyModel.facebookAgency,
                        promo_site: this.agencyModel.site
                    }).then(data => {
                        if (data.body.status) {
                            toastr.success('Промо данные сохранены')
                        } else {
                            toastr.error('Ошибка');
                            toastr.info(data.body.desc);
                        }
                    })
                }

                if(this.tab === 4) {
                    this.saveGifts();
                }
            },
            uploadDocs(event) {
				this.utils.checkDocument(event)
                    .then(data => {
                let targetData = event.target.dataset.type;
                let files = event.target.files || event.dataTransfer.files;
                let DocumentFile = null;
                let myFormData = new FormData();
                for (let i = 0, f; f = files[i]; i++) {
                    DocumentFile = f;
                }
                myFormData.append('access_token', this.$cookie.get('access_token'));
                myFormData.append('user_document_id', this.fullAgency.director.id);
                myFormData.append('user_document_type', targetData);
                myFormData.append('user_document_file', DocumentFile);
                toastr.info('Начинаю загружать документ');
                Vue.http.post('v2/document/upload/document', myFormData)
                    .then(uploadDocumentResult => {
                        this.documents[targetData].push({
                            id: uploadDocumentResult.body.result.id,
                            image: uploadDocumentResult.body.result.file_path,
                            type: uploadDocumentResult.body.result.document_type
                        });
                        toastr.info('Документ загружен');
                        this.initHook = !this.initHook
                    }, err => {
                        console.log(err);
                        toastr.error('Ошибка загрузки документа');
                    })
					}).catch(err => {
					toastr.error(err.description);
				})
            },
            uploadVideoDocs(event) {
                this.utils.checkVideo(event.target.files[0])
                    .then(data => {
                        let targetData = event.target.dataset.type;
                        let files = event.target.files || event.dataTransfer.files;
                        let DocumentFile = null;
                        let myFormData = new FormData();
                        for (let i = 0, f; f = files[i]; i++) {
                            DocumentFile = f;
                        }
                        myFormData.append('access_token', this.$cookie.get('access_token'));
                        myFormData.append('user_document_id', this.fullAgency.director.id);
                        myFormData.append('user_document_type', targetData);
                        myFormData.append('user_document_file', DocumentFile);
                        toastr.info('Начинаю загружать документ');
                        Vue.http.post('v2/document/upload/document', myFormData)
                            .then(uploadDocumentResult => {
                                this.documents[targetData].push({
                                    id: uploadDocumentResult.body.result.id,
                                    image: uploadDocumentResult.body.result.file_path,
                                    type: uploadDocumentResult.body.result.document_type
                                });
                                toastr.info('Документ загружен');
                                this.galleryInit();
                            }, err => {
                                console.log(err);
                                toastr.error('Ошибка загрузки документа');
                            })
                    }).catch(err => {
//                        toastr.error(err.description);
                })
            }
        },
        components: {
            'gift-check-box': checkBoxComponent,
            multiselect
        },
        mounted() {
            let needTab = window.location.hash;
            $('a[href="' + needTab + '"]').click();

            if (needTab === '#main-tab') {
                this.changeTab(0);
            }
            if (needTab === '#contacts') {
                this.changeTab(1);
            }
            if (needTab === '#promo') {
                this.changeTab(2);
            }
            if (needTab === '#documents') {
                this.changeTab(3);
            }
            if (needTab === '#gifts') {
                this.changeTab(4);
            }
            this.$on('check', (gift) => {
                for (let i = 0; i < this.gifts.length; i++) {
                    for (let j = 0; j < this.gifts[i].length; j++) {
                        if (this.gifts[i][j].id == gift.id) {
                            this.gifts[i][j].available = gift.available;
                        }
                    }
                }
            });
        }
    }

</script>

<style lang="scss" >
    .video-list {
        display: flex;
        flex-wrap: wrap;
    a {
        position: relative;
        margin: 0 8px;
        flex: 0 0 120px;
    }
    img {
        width: 100%;
    }
    .del-photo {
        position: absolute;
        top: -4px;
        right: -4px;
        background: #fff;
        border-radius: 50%;
        line-height: 15px;
        font-size: 19px;
        color: #2f3745;
    }
    }
    #video-gallery {
        margin-left: 0;
        padding-left: 0;
    }

    #video-gallery li img {
        max-width: 100px;
    }
</style>
