<template>
    <div>
        <h2 class="page-header"><i class="fa fa-edit"></i> Редактирование ({{title}})</h2>

        <div class="row">
            <div class="col-md-6">
                <!-- form start -->
                <form method="POST"
                      action=""
                      class="form-horizontal">

                    <div class="form-group">
                        <label for="for-type"
                               class="col-md-4">Тип</label>
                        <div class="col-md-5">
                            <input type="text"
                                   class="form-control"
                                   id="for-type"
                                   v-model="currentType.agency_type.name">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="for-letter"
                               class="col-md-4">Письмо</label>
                        <div class="col-md-3">
                            <input class="form-control"
                                   id="for-letter"
                                   v-model="currentType.agency_bonuses[0].agency_bonus">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="for-textchat"
                               class="col-md-4">Текстовый чат</label>
                        <div class="col-md-3">
                            <input class="form-control"
                                   id="for-textchat"
                                   v-model="currentType.agency_bonuses[1].agency_bonus">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="for-videochat"
                               class="col-md-4">Видео чат</label>
                        <div class="col-md-3">
                            <input class="form-control"
                                   id="for-videochat"
                                   v-model="currentType.agency_bonuses[2].agency_bonus">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="for-privatetchat"
                               class="col-md-4">Приват чат</label>
                        <div class="col-md-3">
                            <input class="form-control"
                                   id="for-privatetchat"
                                   v-model="currentType.agency_bonuses[3].agency_bonus">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="for-contactinfo"
                               class="col-md-4">Конт.инфо.</label>
                        <div class="col-md-3">
                            <input class="form-control"
                                   id="for-contactinfo"
                                   v-model="currentType.agency_bonuses[4].agency_bonus">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="buy-ph"
                               class="col-md-4">Фото в чате</label>
                        <div class="col-md-3">
                            <input class="form-control"
                                   id="buy-ph"
                                   v-model="currentType.agency_bonuses[5].agency_bonus">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="buy-video"
                               class="col-md-4">Приватное видео</label>
                        <div class="col-md-3">
                            <input class="form-control"
                                   id="buy-video"
                                   v-model="currentType.agency_bonuses[6].agency_bonus">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10 text-right">
                            <button type="submit"
                                    @click.prevent="finishEdit"
                                    class="btn btn-primary">Сохранить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</template>

<script>

import Vue from 'vue';
import toastr from 'toastr'

export default {
    name: 'PartnerTypesEdit',
    data() {
        return {
            title: 'Ожидайте....',
            currentType: {
                "agency_type": {
                    "id": 0,
                    "name": "Ожидайте....",
                    "desc": "Ожидайте....",
                    "created_at": 1490121422
                },
                "agency_bonuses": [
                    {
                        "action": "write_letter",
                        "agency_bonus": 0
                    },
                    {
                        "action": "text_chat",
                        "agency_bonus": 0
                    },
                    {
                        "action": "video_chat",
                        "agency_bonus": 0
                    },
                    {
                        "action": "private_chat",
                        "agency_bonus": 0
                    },
                    {
                        "action": "realinfo_request",
                        "agency_bonus": 0
                    },
					{
						"action": "private_photo_buy",
						"agency_bonus": 0
					},
                    {
                        "action": "private_video_buy",
                        "agency_bonus": 0
                    }
                ]
            },
        }
    },
    methods: {
        fetchData() {
            Vue.http.post('v2/agency/get/one-agency-type', {
                access_token: this.$cookie.get('access_token'),
                agency_type_id: this.$route.params.id
            }).then(agencyTypeResponse => {
                if (agencyTypeResponse.body.status) {
                    this.title = agencyTypeResponse.body.result.agency_type.name
                    this.currentType = agencyTypeResponse.body.result;
                } else {
                    toastr.error(agencyTypeResponse.body.desc);
                }
            }, err => {
                console.log(err);
            })
        },
        finishEdit() {
            Vue.http.post('v2/agency/udapte/agency-type', {
                access_token: this.$cookie.get('access_token'),
                name: this.currentType.agency_type.name,
                desc: this.currentType.agency_type.desc,
                write_letter: this.currentType.agency_bonuses[0].agency_bonus,
                text_chat: this.currentType.agency_bonuses[1].agency_bonus,
                video_chat: this.currentType.agency_bonuses[2].agency_bonus,
                private_chat: this.currentType.agency_bonuses[3].agency_bonus,
                realinfo_request: this.currentType.agency_bonuses[4].agency_bonus,
				private_photo_buy: this.currentType.agency_bonuses[5].agency_bonus,
                private_video_buy: this.currentType.agency_bonuses[6].agency_bonus,
                agency_type_id: this.$route.params.id,
            }).then(agencyTypeResponse => {
                if (agencyTypeResponse.body.status) {
                    toastr.success('Данные успешно обновлены')
                } else {
                    toastr.error(agencyTypeResponse.body.desc);
                }
            }, err => {
                console.log(err);
            })
        }
    },
    beforeMount() {
        this.fetchData();
    }
}
</script>
