<template>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-blue box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Типы партнеров</h3>

                    <div class="box-tools pull-right">
                        <router-link to="/create-agency-type">
                            <a class="btn btn-success">Создать <i class="fa fa-plus"></i></a>
                        </router-link>

                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <div class="table-responsive">
                    <table class="table table-bordered table-scroll"
                           id="partnerTypeTable">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Тип </th>
                                <th>Письмо </th>
                                <th>Текстовый чат</th>
                                <th>Видео чат</th>
                                <th>Приват чат</th>
                                <th>Конт. инфо.</th>
                                <th>Фото в чате</th>
                                <th>Приватное видео</th>
                                <th>Действие</th>
                            </tr>
                        </thead>
                    </table>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</template>

<script>

import Vue from 'vue'
import toastr from 'toastr'

export default {
    name: 'PartnerTypes',
    data() {
        return {
            types: []
        }
    },
    methods: {
        fetchData() {
            Vue.http.post('v2/agency/get/agency-type', {
                access_token: this.$cookie.get('access_token')
            }).then(typesResponse => {
                if (typesResponse.body.status) {
                    this.types = typesResponse.body.result.list;
                    this.initTable();
                } else {
                    toastr.error('Не могу загрузить типы партнеров')
                }
            }, err => {
                toastr.error('Не могу загрузить типы партнеров');
                console.log(err);
            })
        },
        navigate(to) {
            this.$router.push(to);
        },
        initTable() {
			let navigate = this.navigate;
			let table = $('#partnerTypeTable').DataTable();
			$('#partnerTypeTable_length').remove();
			$('#partnerTypeTable_filter').remove();
			$('#partnerTypeTable_info').remove();
			$('#partnerTypeTable_paginate').remove();
				let types = this.types;
				for (let i = 0; i < types.length; i++) {
					table.row.add([
						types[i].agency_type_id,
						types[i].name,
						parseFloat(types[i].write_letter),
						types[i].text_chat,
						types[i].video_chat,
						types[i].private_chat,
						types[i].realinfo_request,
						types[i].private_photo_buy,
                        types[i].private_video_buy,
						'<a class="btn btn-primary btn-block edit-type-agency" data-id="' + types[i].agency_type_id + '"><i class="fa fa-edit fa-lg text-white"></i></a>'
					]).draw(false)
				}

			$('#partnerTypeTable').on('click', '.edit-type-agency', function (data) {
				navigate('/partner-type-edit/' + $(this).data('id'));
			})
        }
    },
    beforeMount() {
        if (!this.$cookie.get('access_token')) {
            this.$router.push('/');
        } else {
            this.fetchData();
        }
    },
    mounted() {


    }
}
</script>
