<template>
    <div class="user-custum" @click="goToProfile(userData.id, userData.userType)">
        <img class="cursor-pointer" :src="userData.avatar" alt="Message User Image">
        <div class="bottom-text">
            <span class="name">
                {{ userData.name }}
            </span>
            <div class="id">
                ID: {{ userData.id }}
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {}
        },
        props: {
            userData: Object
        },
        methods: {
            goToProfile(id, t){
                if(t === 'man'){
                    window.open('/man/view/'+id, '_blank');
                }
                else {
                    window.open('/woman/view/'+id, '_blank');
                }
            },
        }
    }
</script>

<style scoped lang="scss">
    .user-custum{
        cursor: pointer;
        img{
            border-radius: 50%;
            height: 60px;
            width: 60px;
            object-fit: cover;
            object-position: 50% 0;
        }
        width: 60px;
        height: 80px;
        text-align: center;
        .bottom-text{
            font-size: 12px;
            line-height: 16px;
            padding-top: 5px;
            .name{
                font-size: 13px;
                font-weight: bold;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                color: #0a70ce;
                max-width: 100%;
                display: block;
            }
            .id{
                color: #777;
            }
        }
    }
    .left-direct{
      .name{color: #000!important;}
    }
</style>
