<template>
  <div class="row big-woman-item-row" :class="{'active-woman-item': isActiveWoman, notif: showNotification}">
    <div @click="setActiveWoman">
      <div class="col-md-4">
        <img :src="woman.avatar.medium" alt="woman.name" class="img-responsive big-woman-avatar">
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-12">
            <b>{{woman.name}}</b>, {{woman.age}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-10">
            ID: <b>{{woman.id}}</b>
          </div>
          <div class="col-md-2">
            <div v-show="showNotification" style="min-width: 25px; height: 25px; background: orange; border-radius: 25px; color: #fff; text-align: center; line-height: 23px">
              {{countOfMessages}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="close-btn btn-flex btn" @click.prevent="unlockWoman">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11.88 11.88" class="svg replaced-svg">
                    <path d="M.61 11.26L11.26.61M.61.61l10.65 10.65" class="cls-1"/>
                </svg>
            </span>
    </button>
  </div>
</template>

<script>
  export default {
    name: 'BitWomanItem',
    props: {
      woman: Object,
    },
    data() {
      return {
        messagesCount: 0
      };
    },
    computed: {
      showNotification() {
        if(this.countOfMessages > 0) return true;
        return false;
      },
      isActiveWoman() {
        return this.$store.getters.currentChatWoman !== null
          && this.$store.getters.currentChatWoman.id === parseInt(this.woman.id);
      },
      countOfMessages() {
        const womanInChat = this.$store.getters.chatWomenList;
        this.messagesCount = 0;
        womanInChat.forEach(woman => {
          if(woman.id === this.woman.id && woman.dialogsList !== undefined) {
            try {
              woman.dialogsList.list.forEach(dialog => {
                dialog.messages.forEach(message => {
                  if(message.reade === false) {
                    this.messagesCount++;
                  }
                })
              })
            } catch(ex) {
              console.warn(ex);
            }
          }
        });
        return this.messagesCount;
      },
    },
    methods: {
      setActiveWoman() {
        if (!this.$store.getters.chatStatus) return false;
        this.$store.commit('CHAT_SET_CURRENT_WOMAN', this.woman.id);
      },
      unlockWoman() {

        let oneActiveChat = false;
        this.$store.getters.chatWomenList.forEach(woman => {
          if(woman.id === this.woman.id) {
            woman.dialogsList.list.forEach(dialog => {
              if(dialog.chatActive) {
                oneActiveChat = true;
              }
            })
          }
        });

        if(oneActiveChat) {
          App.alert('У клиентки есть активный чат. Завершите его сначала.') ;
          return true;
        }

        if(!this.$store.getters.chatStatus) {
          this.$store.commit('CHAT_REMOVE_WOMAN_FROM_LIST', this.woman);
          return true;
        }
        App.confirm('Вы уверенны, что хотите разблокироваль клиентку?', (answer) => {
          if(answer) {
            this.$http.post(`${this.config.api.socket}/api/session/unlock-one`, {
              access_token: this.$cookie.get('access_token'),
              user_id: this.woman.id
            }).then(serverResponse => {
              if(serverResponse.body.status) {
                this.$store.commit('CHAT_REMOVE_WOMAN_FROM_LIST', this.woman);
              }else {
                console.log(serverResponse.body);
              }
            }).catch(requestException => {
              console.warn(requestException);
            })
          }
        })
      },
    }
  }
</script>

<style scoped lang="scss">
  .big-woman-avatar {
    max-width: 70px;
    margin-left: -7px;
  }

  .big-woman-item-row {
    position: relative;
    box-sizing: border-box;
    padding: 5px 10px;
    max-width: 100%;
    margin-left: 0;
    cursor: pointer;
    margin-top: 5px;
  }

  .close-btn {
    position: absolute;
    top: -5px;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    color: #ffffff;
    height: 15px;
    width: 15px;

    &:hover {
      background-color: #000000;
    }

    svg {
      stroke: #fff;
      height: 7px;
      width: 7px;
    }
  }

  .active-woman-item {
    background-color: #F0F1F0;
    box-shadow: inset 4px 0 0 #273343;
  }
</style>
