<template>
  <div class="message-item row" v-if="!sender" style="padding-right: 15px; box-sizing: border-box">
    <div class="col-md-4"></div>
    <div class="col-md-7 text-right message-item message-item--sender"  v-html="message.text">
    </div>
    <div class="col-md-1">
      <img src="https://pbs.twimg.com/profile_images/710788577190252545/sekyjByZ_400x400.jpg" alt="Lorem" class="img-responsive" style="border-radius: 100%">
    </div>
  </div>
  <div class="message-item row" v-else style="padding-left: 20px; box-sizing: border-box">
    <div class="col-md-1" style="margin-right: 15px">
      <img src="https://pbs.twimg.com/profile_images/710788577190252545/sekyjByZ_400x400.jpg" alt="Lorem" class="img-responsive" style="border-radius: 100%">
    </div>
    <div class="col-md-7 message-item message-item--sender"  v-html="message.text">
    </div>
    <div class="col-md-4"></div>
  </div>
</template>

<script>
  export default {
    name: 'MessageRow',
    props: {
      message: Object,
    },
    data() {
      return {
        myId: 1,
      };
    },
    computed: {
      sender() {
        return (this.message.sender === this.myId);
      }
    }
  };
</script>

