<template>
  <div class="woman-item">
    <div class="add-point" v-if="!womanInList" @click="addOrRemoveWomanFromList" :class="{'remove-point': woman.inChat}">
      <i class="fa fa-plus"></i>
    </div>
    <div class="add-point remove-point" v-else @click="addOrRemoveWomanFromList">
      <i class="fa fa-close"></i>
    </div>
    <div class="text-center">
        <img :src="woman.avatar.small" :alt="woman.name" width="60" height="60" class="user-small-avatar">
        <br>
        <strong class="text-center">{{woman.first_name}}</strong>

        <span class="online-indicator" v-show="woman.online"></span><br>

        <small>ID:{{woman.id}}</small>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'SmallWomanItem',
    props: {
      woman: Object,
    },
    data() {
      return {};
    },
    computed: {
      womanInList() {
        const allWomen = this.$store.getters.chatWomenList;
        let womanInList = false;
        allWomen.forEach(woman => {
          if(parseInt(woman.id) === parseInt(this.woman.id)) {
            womanInList = true;
          }
        });
        return womanInList;
      }
    },
    methods: {
      addOrRemoveWomanFromList() {
        // if(this.woman.inChat) return false;
        if(this.womanInList) {
          this.$store.commit('CHAT_REMOVE_WOMAN_FROM_LIST', this.woman);
          this.clearSearchData();
        }else {
          if(this.$store.getters.chatWomenList.length >= 10) return false;
          this.$store.commit('CHAT_ADD_WOMAN_TO_LIST', this.woman);
          this.clearSearchData();
        }
      },
      clearSearchData() {
        this.$parent.$emit('clear', {});
      }
    }
  }
</script>

<style>
  .user-small-avatar {
    height: 60px;
    width: 60px;
    border-radius:50%!important;
    object-position: 50% 0;
    object-fit: cover;
    z-index:1;
  }
  .woman-item {
    width: 60px;
    position: relative;
    float: left;
    margin: 6px;
  }
  .add-point {
    cursor: pointer;
    position: absolute;
    right: 0px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background-color: #F09033;
    border-radius: 100%;
    color: #FFFFFF;
    z-index:2;
  }
  .remove-point {
    background: #888888 !important;
  }
  .online-indicator {
    position: absolute;
    width: 10px;
    height: 10px;
    background: limegreen;
    top: 0;
    right: 3px;
    border-radius: 100%;
  }
</style>
