<template>
  <div class="user-item"
       :class="{'active': userIsActive, notif: invite}"
       v-if="needToShow"
       @click="setUserToActive">
    <div class="row">
      <div class="col-md-4">
        <div class="online-indicator" v-show="showOnlineIndicator && user.isOnline"></div>
        <img class="user-avatar-img img-responsive"
             :src="avatar"/>
      </div>
      <div class="col-md-7">
        {{user.name}}{{age}} <br><b>ID: {{user.id}}</b>
      </div>
      <div class="chat-controls" v-if="showChatStatus">
        <ul class="list-unstyled notification" :data-notification-count="countOfMessages">
          <li v-if="chatActive">
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" class="svg" viewBox="0 0 48 48">
              <path fill="none" d="M-838-2232H562v3600H-838z"/>
              <path d="M16 10v28l22-14z"/>
              <path fill="none" d="M0 0h48v48H0z"/>
            </svg>
          </span>
          </li>
          <li v-else>
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              <path
                d="M224 435.8V76.1c0-6.7-5.4-12.1-12.2-12.1h-71.6c-6.8 0-12.2 5.4-12.2 12.1v359.7c0 6.7 5.4 12.2 12.2 12.2h71.6c6.8 0 12.2-5.4 12.2-12.2zM371.8 64h-71.6c-6.7 0-12.2 5.4-12.2 12.1v359.7c0 6.7 5.4 12.2 12.2 12.2h71.6c6.7 0 12.2-5.4 12.2-12.2V76.1c0-6.7-5.4-12.1-12.2-12.1z"/>
            </svg>
          </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'UserItem',
    props: {
      user: Object,
      showInvite: false,
      showOnlineIndicator: false,
      showChatStatus: Boolean,
      onlyWithInvites: Boolean,
    },
    data() {
      return {
        active: false,
      };
    },
    computed: {
      needToShow() {
        if(this.onlyWithInvites) {
          if(this.invite) return true;
          return false;
        }else {
          if(!this.invite) return true;
          return false;
        }
      },
      avatar() {
        if (this.user.avatar === undefined) {
          return '';
        } else {
          return this.user.avatar.img_medium;
        }
      },
      invite() {
        return (this.$store.getters.chatInvitesArray.find(element => element.user === this.user.id && element.target === this.$store.getters.currentChatWoman.id));
      },
      chatActive() {
        let status = false;
        this.$store.getters.currentChatWoman.dialogsList.list.forEach(dialog => {
          if (dialog.user.id === this.user.id) {
            status = dialog.chatActive;
          }
        });
        return status;
      },
      countOfMessages() {
        let foundUser = this.$store.getters.currentChatWoman.dialogsList.list.find(dialog => dialog.user.id === this.user.id);
        if(foundUser === undefined) return 0;
        return foundUser.messages.filter(i => !i.reade).length;
      },
      userIsActive() {
        return this.$store.getters.currentChatUser !== null && this.$store.getters.currentChatUser.id === parseInt(this.user.id);
      },
      age() {
        if (parseInt(this.user.age) === 0) {
          return '';
        } else {
          return `, ${this.user.age}`;
        }
      },
    },
    watch: {
      invite(v) {
        console.info(`Invite status changes for user ${this.user.id} -> set ${v}`);
      }
    },
    methods: {
      setUserToActive() {
        this.$store.commit('CHAT_SET_USER_ACTIVE', this.user.id);
      },
    }
  }
</script>

<style scoped="true">
  .user-item {
    cursor: pointer;
    min-height: 60px;
    margin-bottom: 2px;
    padding: 5px 10px;
  }

  .user-avatar-img {
    max-width: 80px;
    max-height: 80px;
  }

  .active {
    background-color: #F0F1F0;
    box-shadow: inset 4px 0 0 #273343;
  }

  .online-indicator {
    width: 7px;
    height: 7px;
    background: #2ecc71;
    border-radius: 10px;
    position: absolute;
    left: 82px;
    z-index: 100;
    top: -2px;
  }

</style>
