<template>
    <form method="POST" @submit.prevent="save" action="" class="form-horizontal">
        <div class="row">
            <div class="col-md-4">
                <h2 class="page-header">
                    <i class="fa fa-edit"></i> Исходящее письмо
				</h2>
                <div class="form-group">
                    <label class="col-md-6">Выполнение для клиента (в часах):</label>
                    <div class="col-md-6">
                        <input type="number" class="form-control" v-model="data.time_limit_for_man_message">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-6">Выполнение для партнера (в часах):</label>
                    <div class="col-md-6">
                        <input type="number" class="form-control" v-model="data.time_limit_for_agency_message">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-6">Размер штрафа (бон./день):</label>
                    <div class="col-md-6">
                        <input type="number" class="form-control" v-model="data.agency_bonus_penalty_per_day_message">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-6">Критичное (осталось до штрафа):</label>
                    <div class="col-md-6">
                        <input type="number" class="form-control" v-model="data.time_limit_for_agency_critical_message">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h2 class="page-header">
                    <i class="fa fa-edit"></i> Подарок
				</h2>
                <div class="form-group">
                    <label class="col-md-6">Выполнение для клиента (в часах):</label>
                    <div class="col-md-6">
                        <input type="number" class="form-control" v-model="data.time_limit_for_man_gift">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-6">Выполнение для партнера (в часах):</label>
                    <div class="col-md-6">
                        <input type="number" class="form-control" v-model="data.time_limit_for_agency_gift">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-6">Размер штрафа (бон./день):</label>
                    <div class="col-md-6">
                        <input type="number" class="form-control" v-model="data.agency_bonus_penalty_per_day_gift">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-6">Критичное (осталось до штрафа):</label>
                    <div class="col-md-6">
                        <input type="number" class="form-control" v-model="data.time_limit_for_agency_critical_gift">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h2 class="page-header">
                    <i class="fa fa-edit"></i> Запрос контакт инфо
					</h2>
                <!-- form start -->
                <div class="form-group">
                    <label class="col-md-6">Выполнение для клиента (в часах):</label>
                    <div class="col-md-6">
                        <input type="number" class="form-control" v-model="data.time_limit_for_man_realinfo_request">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-6">Выполнение для партнера (в часах):</label>
                    <div class="col-md-6">
                        <input type="number" class="form-control" v-model="data.time_limit_for_agency_realinfo_request">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-6">Размер штрафа (бон./день):</label>
                    <div class="col-md-6">
                        <input type="number" class="form-control" v-model="data.agency_bonus_penalty_per_day_realinfo_request">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-6">Критичное (осталось до штрафа):</label>
                    <div class="col-md-6">
                        <input type="number" class="form-control" v-model="data.time_limit_for_agency_critical_realinfo_request">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="col-md-8 text-right">
                        <button type="submit" @click.prevent="save" class="btn btn-primary">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</template>

<script>
    import toastr from 'toastr'
    export default {
        name: 'FineEdit',
        data() {
            return {
                data: {
                    time_limit_for_man_message: '',
                    time_limit_for_man_gift: '',
                    time_limit_for_man_realinfo_request: '',
                    time_limit_for_agency_message: '',
                    time_limit_for_agency_gift: '',
                    time_limit_for_agency_realinfo_request: '',
                    time_limit_for_agency_critical_message: '',
                    time_limit_for_agency_critical_gift: '',
                    time_limit_for_agency_critical_realinfo_request: '',
                    agency_bonus_penalty_per_day_message: 1,
                    agency_bonus_penalty_per_day_gift: 1,
                    agency_bonus_penalty_per_day_realinfo_request: 1
                }
            }
        },
        methods: {
            fetchData() {
                this.$http.post('v2/site/settings/get/penalty', {
                    access_token: this.$cookie.get('access_token')
                }).then(data => {
                    if(data.body.status) {
                        let res = data.body.result;
                        this.data = {
                            time_limit_for_man_message: Math.floor(res.time_limit_for_man_message / 3600),
                            time_limit_for_man_gift: Math.floor(res.time_limit_for_man_gift / 3600),
                            time_limit_for_man_realinfo_request: Math.floor(res.time_limit_for_man_realinfo_request / 3600),
                            time_limit_for_agency_message: Math.floor(res.time_limit_for_agency_message / 3600),
                            time_limit_for_agency_gift: Math.floor(res.time_limit_for_agency_gift / 3600),
                            time_limit_for_agency_realinfo_request: Math.floor(res.time_limit_for_agency_realinfo_request / 3600),
                            time_limit_for_agency_critical_message: Math.floor(res.time_limit_for_agency_critical_message / 3600),
                            time_limit_for_agency_critical_gift: Math.floor(res.time_limit_for_agency_critical_gift / 3600),
                            time_limit_for_agency_critical_realinfo_request: Math.floor(res.time_limit_for_agency_critical_realinfo_request / 3600),
                            agency_bonus_penalty_per_day_message: 1,
                            agency_bonus_penalty_per_day_gift: 1,
                            agency_bonus_penalty_per_day_realinfo_request: 1
                        };
                    }else {
                        toastr.error('Не могу получить данные о штрафах')
                    }
                }, err => {
                    console.log(err);
                    toastr.error('Не могу получить данные о штрафах')
                })
            },
            save() {
                this.$http.post('v2/site/settings/update/penalty', {
                    access_token: this.$cookie.get('access_token'),
                    time_limit_for_man_message: Math.floor(this.data.time_limit_for_man_message * 3600),
                    time_limit_for_man_gift: Math.floor(this.data.time_limit_for_man_gift * 3600),
                    time_limit_for_man_realinfo_request: Math.floor(this.data.time_limit_for_man_realinfo_request * 3600),
                    time_limit_for_agency_message: Math.floor(this.data.time_limit_for_agency_message * 3600),
                    time_limit_for_agency_gift: Math.floor(this.data.time_limit_for_agency_gift * 3600),
                    time_limit_for_agency_realinfo_request: Math.floor(this.data.time_limit_for_agency_realinfo_request * 3600),
                    time_limit_for_agency_critical_message: Math.floor(this.data.time_limit_for_agency_critical_message * 3600),
                    time_limit_for_agency_critical_gift: Math.floor(this.data.time_limit_for_agency_critical_gift * 3600),
                    time_limit_for_agency_critical_realinfo_request: Math.floor(this.data.time_limit_for_agency_critical_realinfo_request * 3600),
                    agency_bonus_penalty_per_day_message: this.data.agency_bonus_penalty_per_day_message,
                    agency_bonus_penalty_per_day_gift: this.data.agency_bonus_penalty_per_day_gift,
                    agency_bonus_penalty_per_day_realinfo_request: this.data.agency_bonus_penalty_per_day_realinfo_request
                }).then(data => {
                    if(data.body.status) {
                        toastr.success('Данные обновлены');
                        setTimeout(() => {
                            this.$router.back();
                        }, 1000)
                    }else{
                        toastr.error('Не могу обновить данные');
                    }
                }, err => {
                    toastr.error('Не могу обновить данные');
                    console.log(err);
                })
            }
        },
        beforeMount() {
            this.fetchData();
        }
    }
</script>
