<template>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-blue box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Настройки штрафов</h3>
                    <div class="box-tools pull-right">
                        <router-link to="/settings/fine/edit">
                            <a class="btn btn-success">Редактировать <i class="fa fa-edit"></i></a>
                        </router-link>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-scroll">
                        <thead>
                        <tr>
                            <th class="sm-td">Название услуги</th>
                            <th class="sm-td">Выполнение для клиента (в часах)</th>
                            <th class="sm-td">Выполнение для партнера (в часах)</th>
                            <th class="sm-td">Размер штрафа (бон./день)</th>
                            <th class="sm-td">Критичное (осталось до штрафа)
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Исходящее письмо</td>
                            <td>{{Math.floor(data.time_limit_for_man_message / 3600)}}</td>
                            <td>{{Math.floor(data.time_limit_for_agency_message / 3600)}}</td>
                            <td>{{data.agency_bonus_penalty_per_day_message}}</td>
                            <td>{{Math.floor(data.time_limit_for_agency_critical_message / 3600)}}</td>
                        </tr>
                        <tr>
                            <td>Подарок</td>
                            <td>{{Math.floor(data.time_limit_for_man_gift / 3600)}}</td>
                            <td>{{Math.floor(data.time_limit_for_agency_gift / 3600)}}</td>
                            <td>{{data.agency_bonus_penalty_per_day_gift}}</td>
                            <td>{{Math.floor(data.time_limit_for_agency_critical_gift / 3600)}}</td>
                        </tr>
                        <tr>
                            <td>Запрос контакт инфо</td>
                            <td>{{Math.floor(data.time_limit_for_man_realinfo_request / 3600)}}</td>
                            <td>{{Math.floor(data.time_limit_for_agency_realinfo_request / 3600)}}</td>
                            <td>{{data.agency_bonus_penalty_per_day_realinfo_request}}</td>
                            <td>{{Math.floor(data.time_limit_for_agency_critical_realinfo_request / 3600)}}</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import toastr from 'toastr'
    export default {
        name: 'SettingsFine',
        data() {
            return {
                data: {
                    time_limit_for_man_message: 345000,
                    time_limit_for_man_gift: 864000,
                    time_limit_for_man_realinfo_request: 864000,
                    time_limit_for_agency_message: 172000,
                    time_limit_for_agency_gift: 432000,
                    time_limit_for_agency_realinfo_request: 432000,
                    time_limit_for_agency_critical_message: 86400,
                    time_limit_for_agency_critical_gift: 172000,
                    time_limit_for_agency_critical_realinfo_request: 172000,
                    agency_bonus_penalty_per_day_message: 1,
                    agency_bonus_penalty_per_day_gift: 1,
                    agency_bonus_penalty_per_day_realinfo_request: 1
                }
            }
        },
        methods: {
            fetchData() {
                this.$http.post('v2/site/settings/get/penalty', {
                    access_token: this.$cookie.get('access_token')
                }).then(data => {
                    if(data.body.status) {
                        this.data = data.body.result;
                    }else {
                        toastr.error('Не могу получить данные о штрафах')
                    }
                }, err => {
                    console.log(err);
                    toastr.error('Не могу получить данные о штрафах')
                })
            }
        },
        beforeMount() {
            this.fetchData();
        }
    }
</script>
