<template>
	<div class="box-body no-padding">
		<div class="table-responsive">
			<table class="table table-bordered table-striped dataTable" id="bannedManTable">
				<thead>
				<tr>
					<th>ID</th>
					<th>Партнер</th>
					<th>Директор</th>
					<th>Доступ к мультичату</th>
					<th>Список администраторов</th>
				</tr>
				</thead>
				<tbody>
				<template  v-for="partner in partners">
					<tr>
						<td>{{partner.id}}</td>
						<td>{{partner.name}}</td>
						<td>{{partner.name_director}}</td>
						<td><input v-if="refreshed"
								   v-model="partner.allow"
								   :value="partner.allow"
								   :checked="partner.allow === 1"
								   @change="allow(partner)"
								   type="checkbox"></td>
						<td>
							<div class="button-group">
								<button @click="openAdmins(partner)"
										type="button"
										class="btn btn-primary btn-sm dropdown-toggle">Админы <span class="caret"></span></button>
							</div>
						</td>
					</tr>
					<tr v-if="partner.open">
						<td colspan="5">
							<ul>
								<li v-for="admin in adminsList">
									<span>{{admin.name}} ( {{admin.id}} )</span>
									<input
											v-if="refreshedAdmin"
											v-model="admin.allow"
											:value="admin.allow"
											:checked="admin.allow === 1"
											@change="allowAdmin(admin, partner)" type="checkbox">
								</li>
							</ul>
						</td>
					</tr>
				</template>

				</tbody>
			</table>
		</div>
	</div>
</template>

<script>
	import toastr from 'toastr'
	import _  from 'lodash'
	export default {
		data () {
			return {
				refreshed: false,
				refreshedAdmin: false,
				partners: [],
				allowedId: [],
				allowedIdAdmins: [],
				showAdmins: false,
				adminsList: []
			}
		},
		methods: {
			openAdmins(partner) {
				partner.open = !partner.open
				this.$http.post( 'v2/agency/get/admin-in-agency', {
					access_token: this.$cookie.get( 'access_token' ),
					agency_id: partner.id
				} ).then( referalResponse => {
					if ( referalResponse.body.status ) {
						this.adminsList = referalResponse.body.result
						this.checkAllowedAdmin(partner.id)
					}
				}, requestError => {
					console.log( requestError );
				} )
			},
			allowAdmin(admin, partner ) {
				let partnerId = partner.id
				let partnerAllow = partner.allow
				let id = admin.id
				let allow = admin.allow
				if(allow) {
					this.$http.post( 'v2/multichat/allowed-user', {
						access_token: this.$cookie.get( 'access_token' ),
						partner_id: partnerId,
						user_id: id
					} ).then( data => {
						if ( data.body.status ) {
							toastr.success( 'Успешно изменено!' );
						} else {

						}
					}, err => {
						toastr.error( 'Ошибка' );
					} )
				}
				else {
					this.$http.post( 'v2/multichat/remove/for-user', {
						access_token: this.$cookie.get( 'access_token' ),
						partner_id: partnerId,
						user_id: id
					} ).then( data => {
						if ( data.body.status ) {
							toastr.success( 'Успешно изменено!' );
						} else {

						}
					}, err => {
						toastr.error( 'Ошибка' );
					} )
				}
			},

			allow(partner) {
				let id = partner.id
				let allow = partner.allow
				if(allow) {
					this.$http.post( 'v2/multichat/user-allow', {
						access_token: this.$cookie.get( 'access_token' ),
						partner_id: id
					} ).then( data => {
						if ( data.body.status ) {
							toastr.success( 'Успешно изменено!' );
						} else {

						}
					}, err => {
						toastr.error( 'Ошибка' );
					} )
				}
				else {
					this.$http.post( 'v2/multichat/remove/user', {
						access_token: this.$cookie.get( 'access_token' ),
						partner_id: id
					} ).then( data => {
						if ( data.body.status ) {
							toastr.success( 'Успешно изменено!' );
						} else {

						}
					}, err => {
						toastr.error( 'Ошибка' );
					} )
				}
				this.$forceUpdate();
				setTimeout(function() {
					this.fetchPartners
				}, 1000);
			},

			checkAllowed() {
				let self = this
				let allowedArr = []
				this.$http.post( 'v2/multichat/user-allowed', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( allowed => {
					if ( allowed.body.status ) {
						allowedArr = allowed.body.result
						allowedArr.forEach(item => {
							self.allowedId.push(item.agency_id)
						});
						self.partners.forEach(partner => {
							if(self.allowedId.indexOf(partner.id) !== -1) {
								partner.allow = true;
								partner.open = false
							}else {
								partner.allow = false;
								partner.open = false
							}
						})
						self.refreshed = true
					}
				}, requestError => {
					console.log( requestError );
				} )
			},
			checkAllowedAdmin(id) {
				if(this.refreshedAdmin) {
					this.refreshedAdmin = false
				}
				let allowedArr = []
				this.$http.post( 'v2/multichat/allowed-list-users', {
					access_token: this.$cookie.get( 'access_token' ),
					partner_id: id
				} ).then( allowed => {
					if ( allowed.body.status ) {
						allowedArr = allowed.body.result
						allowedArr.forEach(item => {
							if( item.user_id !== null ) {
								this.allowedIdAdmins.push(item.user_id)
							}
						});
						this.adminsList.forEach(admin => {
							if(this.allowedIdAdmins.indexOf(admin.id) !== -1) {
								admin.allow = true;
							}else {
								admin.allow = false;
							}
						})
						this.refreshedAdmin = true
					}
				}, requestError => {
					console.log( requestError );
				} )
			},
			fetchPartners() {
				this.$http.post( 'v2/agency/get/list', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( referalResponse => {
					if ( referalResponse.body.status ) {
//						this.partners = referalResponse.body.result;
						let arr = referalResponse.body.result.forEach(item => {
							item.open =false
							this.partners.push(item)
						})
						this.checkAllowed()
					}
				}, requestError => {
					console.log( requestError );
				} )
			}
		},
		computed: {

		},
		components: {},
		mounted() {
			this.fetchPartners()
		}
	}
</script>

<style lang="scss" scoped>
	.table {
		background-color: white;
	}
</style>
