<template><div>
  <div class="settings-form">

    <tabs>
      <template #action-button>
        <button @click="save" class="btn btn-edit btn-save">
          <span>Сохранить</span><i class="fa fa-lg fa-floppy-o"></i>
        </button>
      </template>
      <template #tab-content>
        <tab name="Общие" id="total" >
          <div class="content-block">
            <h2>Компания</h2>
            <ul class="settings-items">
              <li class="settings-item">Регистрация на сайте: <div class="settings-item-content">
                <select class="form-control" v-model="data.site_user_registration">
                  <option value="1" :selected="data.site_user_registration" :true-value="1">Включена</option>
                  <option value="0" :selected="!data.site_user_registration" :false-value="0">Выключена</option>
                </select>
                <!--<input type="checkbox" id="reg_status" class="lg-checkbox" :true-value="1" :false-value="0"-->
                <!--v-model="data.site_user_registration"> <label v-html="registrationStatus"-->
                <!--for="reg_status"></label>-->
              </div></li>
              <li class="settings-item">Название: <div class="settings-item-content">
                <input type="text" class="form-control" v-model="data.company_name">
              </div></li>
              <li class="settings-item">Адрес: <div class="settings-item-content">
                <input type="text" class="form-control" v-model="data.company_address">
              </div></li>
            </ul>
          </div>
          <div class="content-block">
            <h2>FaceBook</h2>
            <ul class="settings-items">
              <li class="settings-item">Идентификатор приложения: <div class="settings-item-content"><input type="text" class="form-control"
                                                                                                            v-model="data.facebook_app_id"></div></li>
              <li class="settings-item">Секрет приложения: <div class="settings-item-content"><input type="text" class="form-control"
                                                                                                     v-model="data.facebook_app_secret"></div></li>
            </ul>
          </div>
          <div class="content-block">
            <h2>Ключи</h2>
            <ul class="settings-items">
              <li class="settings-item">Google переводчик: <div class="settings-item-content"><input type="text" class="form-control"
                                                                                                     v-model="data.google_translate_api_key"></div>
              </li>
              <li class="settings-item">SendGrid: <div class="settings-item-content"><input type="text" class="form-control"
                                                                                            v-model="data.email_sender_sendgrid_api_key"></div></li>
              <li class="settings-item">Google ReCaptcha Public Key: <div class="settings-item-content"><input type="text" class="form-control"
                                                                                                               v-model="data.google_recaptcha_public_key"></div>
              </li>
              <li class="settings-item">Google ReCaptcha Private Key: <div class="settings-item-content"><input type="text" class="form-control"
                                                                                                                v-model="data.google_recaptcha_secret_key"></div>
              </li>
            </ul>
          </div>
          <div class="content-block">
            <h2>Emails</h2>
            <ul class="settings-items">
              <li class="settings-item">Для Feedback: <div class="settings-item-content">
                <input type="text" class="form-control" placeholder="name" v-model="data.feedback_user_name">
                <input type="text" class="form-control" placeholder="test@gmail.com"
                       v-model="data.feedback_user_email"></div></li>
              <li class="settings-item">Для Notifications: <div class="settings-item-content">
                <input type="text" class="form-control" placeholder="Test Test" v-model="data.notification_user_name">
                <input type="text" class="form-control" placeholder="test@gmail.com" v-model="data.notification_user_email"></div>
              </li>
            </ul>
          </div>
        </tab>
        <tab name="Лимиты" id="limits">
          <div class="content-block">
            <h2>Время</h2>
            <ul class="settings-items">
              <li class="settings-item">Клиентка онлайн: <div class="settings-item-content">
                <div class="input-group">
                  <input type="number" class="form-control" v-model="data.time_while_woman_is_online">
                  <div class="input-group-addon">секунд</div>
                </div>
              </div></li>
              <li class="settings-item">Клиент онлайн: <div class="settings-item-content">
                <div class="input-group">
                  <input type="number" class="form-control" v-model="data.time_while_man_is_online">
                  <div class="input-group-addon">секунд</div>
                </div>
              </div></li>
              <li class="settings-item">Клиентка является новой: <div class="settings-item-content">
                <div class="input-group">
                  <input type="number" class="form-control" v-model="data.time_while_woman_is_new">
                  <div class="input-group-addon">часов</div>
                </div>
              </div>
              </li>
              <li class="settings-item">Клиент является новым: <div class="settings-item-content">
                <div class="input-group">
                  <input type="number" class="form-control" v-model="data.time_while_man_is_new">
                  <div class="input-group-addon">часов</div>
                </div></div>
              </li>
              <li class="settings-item">Интервал отправки ручных уведомлений: <div class="settings-item-content">
                <div class="input-group">
                  <input type="number" class="form-control" v-model="data.email_manual_notification_delay">
                  <div class="input-group-addon">часов</div>
                </div>
              </div>
              </li>
            </ul>
          </div>
          <div class="content-block">
            <h2>Фото</h2>
            <ul class="settings-items">
              <li class="settings-item">Доступно для гостя: <div class="settings-item-content">
                <div class="input-group">
                  <input type="number" class="form-control" v-model="data.public_photo_available_for_guest">
                  <div class="input-group-addon">фото</div>
                </div>
              </div>
              </li>
              <li class="settings-item">Доступно для не платника: <div class="settings-item-content">
                <div class="input-group">
                  <input type="number" class="form-control" v-model="data.public_photo_available_for_user_without_payment">
                  <div class="input-group-addon">фото</div>
                </div>
              </div>
              </li>
              <li class="settings-item">Доступно Клиенту прикреплять в письме: <div class="settings-item-content">
                <div class="input-group">
                  <input type="number" class="form-control" v-model="data.max_photo_attach_mail_man">
                  <div class="input-group-addon">фото</div>
                </div>
              </div>
              </li>
              <li class="settings-item">Доступно Клиентке прикреплять в письме: <div class="settings-item-content">
                <div class="input-group">
                  <input type="number" class="form-control" v-model="data.max_photo_attach_mail_woman">
                  <div class="input-group-addon">фото</div>
                </div>
              </div>
              </li>
            </ul>
          </div>
          <div class="content-block">
            <h2>Видео</h2>
            <ul class="settings-items">
              <li class="settings-item">Доступно Клиентке прикреплять в письме: <div class="settings-item-content">
                <div class="input-group">
                  <input type="number" class="form-control" v-model="data.max_video_attach_mail_woman">
                  <div class="input-group-addon">видео</div>
                </div>
              </div>
              </li>
            </ul>
          </div>
          <div class="content-block">
            <h2>Рассылка (для 1-ой клиентки)</h2>
            <ul class="settings-items">
              <li class="settings-item">Писем: <div class="settings-item-content">
                <div class="input-group">
                  <input type="number" class="form-control" v-model="data.message_distribution_count_message_per_woman">
                  <div class="input-group-addon">штук</div>
                </div>
              </div>
              </li>
              <li class="settings-item">Период: <div class="settings-item-content">
                <div class="input-group">
                  <input type="number" class="form-control" v-model="data.message_distribution_time_between_distribution">
                  <div class="input-group-addon">часов</div>
                </div>
              </div></li>
            </ul>
          </div>
          <div class="content-block">
            <h2>Лимиты сообщений</h2>
            <ul class="settings-items">
              <li class="settings-item">Кол.сообщений клиенту "Новый" (в штуках, в 24 часа): <div class="settings-item-content">
                <input type="number" class="form-control" v-model="data.message_count_limit_per_day_for_new_user">
              </div>
              </li>
              <li class="settings-item">Время до получения 1 нового от клиентки без диалога (в часах): <div class="settings-item-content">
                <input type="number" class="form-control" v-model="data.message_hour_limit_for_one_sender">
              </div>
              </li>
            </ul>
          </div>
          <div class="content-block">
            <h2>Виртуальные подарки</h2>
            <ul class="settings-items">
              <li class="settings-item">Комментарий к подарку:
                <label class="switch">
                  <input type="checkbox" v-model="data.virtual_gift_comment" true-value="1" false-value="0">
                  <span class="slider"></span>
                </label>
              </li>
              <li class="settings-item">Кол-во подарков в месяц ( от 1 клиентки для 1 клиента):
                <div class="settings-item-content">
                  <input type="number" class="form-control width_auto" v-model="data.virtual_gift_amount_per_user">
                </div>
              </li>
            </ul>
          </div>
          <div class="content-block">
            <h2>Топ клиенток</h2>
            <ul class="settings-items">
              <li class="settings-item">Количество в ТОПе: <div class="settings-item-content">
                <input type="number" class="form-control width_auto" v-model="topWoman.amount_in_top">
              </div></li>
              <li class="settings-item">Кол-во пользователей для сдвига: <div class="settings-item-content">
                <input type="number" class="form-control width_auto" v-model="topWoman.amount_of_shift">
              </div></li>
              <li class="settings-item">Дата сдвига: <div class="settings-item-content">
                <div class="form-group">
                  <div class="input-group date d-t-picker" id="datePicker">
                    <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                    <input type="text" name="date_from" class="form-control from-sort">
                  </div> </div></div>
              </li>
              <li class="settings-item">Интервал времени сдвига: <div class="settings-item-content">
                <input type="text" id="top-shift" class="form-control" v-model="intervalValue">
                <select v-model="topWoman.intervalType" class="form-control">
                  <option v-for="i in topWoman.intervalParams" :key="i.k" :value="i.k">{{i.v}}
                  </option>
                </select>
              </div></li>
              <li class="settings-item">ИД девушки сдвига: <div class="settings-item-content"><input type="text" id="top-shift-id" class="form-control"
                                                                                                     v-model="topWoman.top_woman_user_id_start_shift"></div></li>
              <li class="settings-item"><div class="settings-item-content save-top"><button class="btn btn-primary pull-right" type="button" @click="saveTopSettings">
                Сохранить настройки ТОПа
              </button></div></li>
            </ul>

          </div>
          <multiselect @select="relatewoman" label="id" track-by="id"
                       :options="allowedWmnToAdd"
                       :placeholder="'Клиентки'"
                       :multiple="true"
                       :limit="0"
                       :custom-label="customWomanLabel"
                       :limit-text="limitTextWoman"
                       :searchable="true" :internal-search="true"
                       :select-label="'Select'"
                       :clear-on-select="false" :close-on-select="true" :hide-selected="true">
            <span slot="noResult">По вашему запросу ничего не найдено</span>
          </multiselect>
          <div class="form-group top-woman">
            <p class="text-muted">
              <small>Клиенток в очереди: {{adminRelatedWomen.length}}</small>
            </p>
            <div class="v-scroll" data-height="400">
              <ul class="products-list product-list-in-box user-list-corection top-users">
                <li class="top-users__item item" v-for="(woman, i) in adminRelatedWomen">
                  <div class="top-users__img-box">
                    <router-link :to="{name: 'Профиль клиентки', params: { woman: woman.user_id}}"
                                 style="display: block;">
                      <img :src="woman.avatar" :alt="woman.name">
                    </router-link>
                  </div>
                  <div class="top-users__info">
                    <router-link :to="{name: 'Профиль клиентки', params: { woman: woman.user_id}}"
                                 class="product-name">{{woman.name}}
                    </router-link>
                    <span class="product-description">ID: {{woman.user_id}}</span>
                    <div class=" top-users__actions right-icon">
          <span class="top-users__action label label-warning"
                @click="turnUp(i)" v-if="i !== 0"><i
              class="fa fa-arrow-up"></i></span>
                      <span class="top-users__action label label-warning"
                            @click="turnDown(i)" v-if="i !== adminRelatedWomen.length - 1"><i
                          class="fa fa-arrow-down"></i></span>
                      <span class="top-users__action label label-danger"
                            @click="removeFromTop(i)"><i
                          class="fa fa-times"></i></span>
                    </div>

                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="form-group clearfix">
            <button class="btn btn-primary pull-right" type="button" @click="saveQueue">Сохранить очередь
            </button>
          </div>
        </tab>
        <tab name="Финансы" id="finances">
          <div class="content-block">
            <h2>Финансы</h2>
            <ul class="settings-items">
              <li class="settings-item">Мин. сумма выплат партнёрам: <div class="settings-item-content">
                <!--<div class="input-group">-->
                <input type="number" class="form-control" v-model="data.minimum_amount_for_payments">
                <!--<div class="input-group-addon">штук</div>-->
                <!--</div>-->
              </div>
              </li>
              <li class="settings-item">Средняя стоимость кредитов: <div class="settings-item-content">
                <!--<div class="input-group">-->
                <input type="number" class="form-control" v-model="data.average_credit_price">
                <!--<div class="input-group-addon">штук</div>-->
                <!--</div>-->
              </div></li>
            </ul>
          </div>
          <div class="content-block">
            <h2>Multicard (processing service)</h2>
            <ul class="settings-items">
              <li class="settings-item">Merchant ID: <div class="settings-item-content">
                <input type="number" class="form-control" v-model="data.multicard_mer_id">
              </div></li>
              <li class="settings-item">Order page ID: <div class="settings-item-content">
                <input type="text" class="form-control width-auto" v-model="data.multicard_mer_url_idx">
              </div></li>
              <li class="settings-item">Silent post password: <div class="settings-item-content">
                <input type="text" class="form-control width-auto" v-model="data.multicard_mer_password">
              </div></li>
            </ul>
          </div>

          <div class="content-block">
            <h2>Epayments (processing service)</h2>
            <ul class="settings-items">
              <li class="settings-item">Payment URL: <div class="settings-item-content">
                <input type="text" class="form-control" v-model="data.epayments_payment_url">
              </div></li>
              <li class="settings-item">Shop ID: <div class="settings-item-content">
                <input type="number" class="form-control" v-model="data.epayments_shop_id">
              </div></li>
              <li class="settings-item">Secret key: <div class="settings-item-content">
                <input type="text" class="form-control width-auto" v-model="data.epayments_secret_key">
              </div></li>
              <li class="settings-item">Username: <div class="settings-item-content">
                <input type="text" class="form-control width-auto" v-model="data.epayments_username">
              </div></li>
              <li class="settings-item">Password: <div class="settings-item-content">
                <input type="text" class="form-control width-auto" v-model="data.epayments_password">
              </div></li>
            </ul>
          </div>

          <div class="content-block">
            <h2>SegPay (processing service)</h2>
            <ul class="settings-items">
              <li class="settings-item">Package: <div class="settings-item-content">
                <input type="number" class="form-control" v-model="data.segpay_package">
              </div></li>
              <li class="settings-item">URL ID: <div class="settings-item-content">
                <input type="number" class="form-control width-auto" v-model="data.segpay_url_id">
              </div></li>
              <li class="settings-item">User id: <div class="settings-item-content">
                <input type="text" class="form-control width-auto" v-model="data.segpay_user_id">
              </div></li>
              <li class="settings-item">User access key: <div class="settings-item-content">
                <input type="text" class="form-control width-auto" v-model="data.segpay_user_access_key">
              </div></li>
            </ul>
          </div>
        </tab>
        <tab name="Страны" id="countries">
          <div class="content-block">
            <h2>Запрещенные страны для регистрации:</h2>
            <div class="form-group countries">
              <multiselect @select="addCountryToBlackList" label="key" track-by="key"
                           :options="formattedCodes"
                           :placeholder="'Страны'"
                           :multiple="true"
                           :limit="0"
                           :custom-label="countryLabel"
                           :limit-text="limitTextCountries"
                           :searchable="true" :internal-search="true"
                           :clear-on-select="false" :close-on-select="true" :hide-selected="true">
                <span slot="noResult">По вашему запросу ничего не найдено</span>
              </multiselect>
              <div class="form-group">
                <div class="v-scroll" data-height="400">
                  <ul class="settings-items user-list-corection top-users">
                    <li class="top-users__item item settings-item" v-for="(c, i) in countriesBlacklist" :key="c.id">
                      <div class="settings-item-content just_content_sb margin_none width100">
                        {{c.name}} ({{c.code}})
                        <div class="top-users__actions right-icon">
  <span class="top-users__action label label-danger"
        @click="removeCountryFromBlackList(c, i)"><i
      class="fa fa-times"></i></span>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </tab>
      </template>
    </tabs>
  </div>

</div>
</template>

<script>
  import toastr from 'toastr'
  import multiselect from 'vue-multiselect'
  import _ from 'lodash'
  import moment from 'moment'
  import {COUNTRIES} from '../../../mixins/utils'
  import mySelect from '../../custom/select2/component.vue'
  import Template from "@components/content/multichat/components/items/message/template.vue";


  export default {
    name: 'EditSiteSettings',
    picker: null,
    data() {
      return {
        data: {
          time_while_woman_is_new: 90000000,
          time_while_man_is_new: 300,
          time_while_woman_is_online: 300,
          time_while_man_is_online: 300,
          max_photo_attach_mail_man: 3,
          max_photo_attach_mail_woman: 3,
          max_video_attach_mail_woman: 3,
          max_video_attach_mail_man: 3,
          public_photo_available_for_guest: 4,
          public_photo_available_for_user_without_payment: 6,
          message_distribution_count_message_per_woman: null,
          message_distribution_time_between_distribution: null,
          multicard_mer_password: '',
          multicard_mer_id: 32323,
          multicard_mer_url_idx: '',
          epayments_payment_url: "",
          epayments_shop_id: 0,
          epayments_secret_key: "",
          epayments_username: "",
          epayments_password: "",
          minimum_amount_for_payments: null,
          company_name: "",
          company_address: "",
          email_sender_sendgrid_api_key: "",
          feedback_user_name: "",
          feedback_user_email: "",
          notification_user_name: "",
          notification_user_email: "",
          google_translate_api_key: "",
          google_recaptcha_public_key: "",
          google_recaptcha_secret_key: "",
          facebook_app_id: "",
          facebook_app_secret: "",
          site_user_registration: 0,
          email_manual_notification_delay: 0,
          message_count_limit_per_day_for_new_user: 0,
          message_hour_limit_for_one_sender: 0,
          segpay_package: null,
          segpay_url_id: null,
          segpay_user_access_key: null,
          segpay_user_id: null,
          virtual_gift_amount_per_user: 0,
          virtual_gift_comment: 0
        },
        adminRelatedWomen: [],
        allWomen: [],
        topWoman: {
          amount_in_top: '',
          amount_of_shift: '',
          time_interval: '',
          time_next_shift: '',
          top_woman_user_id_start_shift: '',
          intervalType: '60',
          intervalParams: [
            {k: '60', v: 'минуты'},
            {k: 60 * 60 + '', v: 'часы'},
            {k: 60 * 60 * 24 + '', v: 'дни'},
          ]
        },
        countriesFilter: {
          blacklist: []
        }
      }
    },
    mixins: [COUNTRIES],
    computed: {
      countDistributionTime() {
        return this.data.message_distribution_time_between_distribution / (60 * 60)
      },
      registrationStatus() {
        if (this.data.site_user_registration === 1) {
          return '<span class="text-green h4"><strong>включена</strong></span>'
        } else {
          return '<span class="text-red h4"><strong>выключена</strong></span>'
        }
      },
      allowedWmnToAdd() {
        return this.allWomen.filter(par => {
          return !this.adminRelatedWomen.find(i => i.user_id === par.user_id)
        }, this)
      },
      intervalValue: {
        get() {
          return this.topWoman.time_interval / this.topWoman.intervalType
        },
        set(v) {
          this.topWoman.time_interval = v * this.topWoman.intervalType
        }
      },
      countriesBlacklist() {
        return this.countriesFilter.blacklist.map((i) => {
          return {
            id: i.id,
            code: i.country_code,
            name: this.formattedCodes.find(j => j.key === i.country_code).name
          }
        }, this)
      }
    },
    methods: {

      initialDatePicker() {
        let dateL
        if (this.topWoman.time_next_shift != " ") {
          //dateL = +moment(this.topWoman.time_next_shift * 1000).format( 'x' );
          dateL = +moment(this.topWoman.time_next_shift * 1000).format('x');
        } else {
          dateL = '';
        }
        $("#datePicker").datetimepicker({
          useCurrent: false,
          defaultDate: dateL,
          format: 'DD.MM.YYYY HH:mm:ss',
          locale: 'ru',
          widgetPositioning: {
            horizontal: "left"
          }
        }
        );
        $('#datePicker').on("dp.change", (e) => {
          console.log("change!")
          this.topWoman.time_next_shift = moment(e.date._d).utc().unix();
          console.log(this.topWoman.time_next_shift)
        });
      },
      getCountriesBlacklist() {
        this.$http.post('v2/site/settings/get/geo-ip-country-code-blacklist', {
          access_token: this.$cookie.get('access_token')
        }).then(r => {
          if (r.body.status) {
            this.countriesFilter.blacklist = r.body.result;
          }
        })
      },
      removeCountryFromBlackList(country, index) {
        this.$http.post('v2/site/settings/remove/geo-ip-country-code-blacklist', {
          access_token: this.$cookie.get('access_token'),
          geoip_country_code_blacklist_id: country.id
        }).then(r => {
          if (r.body.status) {
            this.countriesFilter.blacklist.splice(index, 1);
            toastr.success(`Вы удалили ${country.name} (${country.code}) из списка запрещенных`)
          } else {
            toastr.error('Возникла ошибка при удалении страны из списка запрещенных')
          }
        }, err => {
          toastr.error('Возникла ошибка при удалении страны из списка запрещенных')
        })
      },
      save() {
        this.$http.post('v2/site/settings/update/general', {
          access_token: this.$cookie.get('access_token'),
          average_credit_price: this.data.average_credit_price,
          time_while_woman_is_new: Math.floor(this.data.time_while_woman_is_new * 3600),
          time_while_man_is_new: Math.floor(this.data.time_while_man_is_new * 3600),
          time_while_woman_is_online: this.data.time_while_woman_is_online,
          time_while_man_is_online: this.data.time_while_man_is_online,
          max_photo_attach_mail_man: this.data.max_photo_attach_mail_man,
          max_photo_attach_mail_woman: this.data.max_photo_attach_mail_woman,
          max_video_attach_mail_woman: this.data.max_video_attach_mail_woman,
          max_video_attach_mail_man: this.data.max_video_attach_mail_man,
          public_photo_available_for_guest: this.data.public_photo_available_for_guest,
          public_photo_available_for_user_without_payment: this.data.public_photo_available_for_user_without_payment,
          message_distribution_count_message_per_woman: this.data.message_distribution_count_message_per_woman,
          message_distribution_time_between_distribution: Math.floor(this.data.message_distribution_time_between_distribution * 3600),
          multicard_mer_password: this.data.multicard_mer_password,
          minimum_amount_for_payments: this.data.minimum_amount_for_payments,
          multicard_mer_id: this.data.multicard_mer_id,
          multicard_mer_url_idx: this.data.multicard_mer_url_idx,
          epayments_payment_url: this.data.epayments_payment_url,
          epayments_shop_id: this.data.epayments_shop_id,
          epayments_secret_key: this.data.epayments_secret_key,
          epayments_username: this.data.epayments_username,
          epayments_password: this.data.epayments_password,
          company_name: this.data.company_name,
          company_address: this.data.company_address,
          email_sender_sendgrid_api_key: this.data.email_sender_sendgrid_api_key,
          feedback_user_name: this.data.feedback_user_name,
          feedback_user_email: this.data.feedback_user_email,
          notification_user_name: this.data.notification_user_name,
          notification_user_email: this.data.notification_user_email,
          google_translate_api_key: this.data.google_translate_api_key,
          facebook_app_id: this.data.facebook_app_id,
          facebook_app_secret: this.data.facebook_app_secret,
          site_user_registration: this.data.site_user_registration,
          google_recaptcha_public_key: this.data.google_recaptcha_public_key,
          google_recaptcha_secret_key: this.data.google_recaptcha_secret_key,
          email_manual_notification_delay: this.data.email_manual_notification_delay * 3600,
          message_count_limit_per_day_for_new_user: this.data.message_count_limit_per_day_for_new_user,
          message_hour_limit_for_one_sender: this.data.message_hour_limit_for_one_sender,
          segpay_package: this.data.segpay_package,
          segpay_url_id: this.data.segpay_url_id,
          segpay_user_access_key: this.data.segpay_user_access_key,
          segpay_user_id: this.data.segpay_user_id,
          virtual_gift_amount_per_user: this.data.virtual_gift_amount_per_user,
          virtual_gift_comment: this.data.virtual_gift_comment

        }).then(data => {
          if (data.body.status) {
            toastr.success('Данныe обновлены');
            setTimeout(() => {
              this.$router.back();
            }, 1000)
          } else {
            toastr.error('Не могу сохранить данные');
          }
        }, err => {
          toastr.error('Не могу сохранить данные');
          console.log(err);
        })
      },
      fetch() {
        this.$http.post('v2/site/settings/get/general', {
          access_token: this.$cookie.get('access_token')
        }).then(data => {
          if (data.body.status) {
            let res = data.body.result;
            this.data = {
              average_credit_price: res.average_credit_price,
              time_while_woman_is_new: Math.floor(res.time_while_woman_is_new / 3600),
              time_while_man_is_new: Math.floor(res.time_while_man_is_new / 3600),
              time_while_woman_is_online: res.time_while_woman_is_online,
              time_while_man_is_online: res.time_while_man_is_online,
              max_photo_attach_mail_man: res.max_photo_attach_mail_man,
              max_photo_attach_mail_woman: res.max_photo_attach_mail_woman,
              max_video_attach_mail_woman: res.max_video_attach_mail_woman,
              max_video_attach_mail_man: res.max_video_attach_mail_man,
              public_photo_available_for_guest: res.public_photo_available_for_guest,
              public_photo_available_for_user_without_payment: res.public_photo_available_for_user_without_payment,
              message_distribution_count_message_per_woman: res.message_distribution_count_message_per_woman,
              message_distribution_time_between_distribution: Math.floor(res.message_distribution_time_between_distribution / 3600),
              minimum_amount_for_payments: res.minimum_amount_for_payments,
              multicard_mer_password: res.multicard_mer_password,
              multicard_mer_id: res.multicard_mer_id,
              multicard_mer_url_idx: res.multicard_mer_url_idx,
              epayments_payment_url: res.epayments_payment_url,
              epayments_shop_id: res.epayments_shop_id,
              epayments_secret_key: res.epayments_secret_key,
              epayments_username: res.epayments_username,
              epayments_password: res.epayments_password,
              company_name: res.company_name,
              company_address: res.company_address,
              email_sender_sendgrid_api_key: res.email_sender_sendgrid_api_key,
              feedback_user_name: res.feedback_user_name,
              feedback_user_email: res.feedback_user_email,
              notification_user_name: res.notification_user_name,
              notification_user_email: res.notification_user_email,
              google_translate_api_key: res.google_translate_api_key,
              facebook_app_id: res.facebook_app_id,
              facebook_app_secret: res.facebook_app_secret,
              site_user_registration: res.site_user_registration,
              google_recaptcha_public_key: res.google_recaptcha_public_key,
              google_recaptcha_secret_key: res.google_recaptcha_secret_key,
              email_manual_notification_delay: Math.floor(res.email_manual_notification_delay / 3600),
              message_count_limit_per_day_for_new_user: res.message_count_limit_per_day_for_new_user,
              message_hour_limit_for_one_sender: res.message_hour_limit_for_one_sender,
              segpay_package: res.segpay_package,
              segpay_url_id: res.segpay_url_id,
              segpay_user_access_key: res.segpay_user_access_key,
              segpay_user_id: res.segpay_user_id,
              virtual_gift_amount_per_user: res.virtual_gift_amount_per_user,
              virtual_gift_comment: res.virtual_gift_comment
            }

          } else {
            toastr.error('Не могу загрузить данные');
          }
        }, err => {
          toastr.error('Не могу загрузить данные');
          console.log(err);
        });
        this.fetchAllWomen();
        this.fetchAdminWoman();

      },
      customWomanLabel({name, surname, id}) {
        return `${name} ${surname} (${id})`
      },
      countryLabel({name}) {
        return name;
      },
      limitTextWoman(count) {
        return `Добавлено девушек: ${count}`
      },
      limitTextCountries(count) {
        return `Добавлено стран: ${count}`
      },
      addCountryToBlackList(v) {
        this.$http.post('v2/site/settings/add/geo-ip-country-code-blacklist', {
          access_token: this.$cookie.get('access_token'),
          country_code: v.key
        }).then(r => {
          if (r.body.status) {
            toastr.success('Вы добавили в страну в список запрещенных');
            this.getCountriesBlacklist();
          }
        })
      },
      relatewoman(opt) {
        if (opt === null) {
          return false;
        }
        this.adminRelatedWomen.push({
          user_id: opt.id,
          name: opt.name + ' ' + opt.surname,
          avatar: opt.avatar.small
        })
      },
      fetchAllWomen() {
        this.$http.post('v2/female/get/list', {
          access_token: this.$cookie.get('access_token')
        }).then(data => {
          if (data.body.status) {
            this.allWomen = data.body.result;
          } else {
            toastr.error('Не могу загрузить список клиенток')
          }
        }, err => {
          toastr.error('Не могу загрузить список клиенток')
        })
      },
      fetchAdminWoman() {
        this.$http.post('v2/top-woman/get/woman-queue', {
          access_token: this.$cookie.get('access_token'),
        }).then(data => {
          if (data.body.status) {
            this.adminRelatedWomen = data.body.result.map(i => {
              return {
                avatar: i.avatar_small,
                user_id: i.user_id,
                name: `${i.name.trim()} ${i.surname}`
              }
            });
          } else {
            toastr.error('Не могу загрузить топ клиенток')
          }
        }, err => {
          toastr.error('Не могу загрузить топ клиенток')
        })
      },
      turnUp(index) {
        let tmp = this.adminRelatedWomen.splice(index, 1)[0];
        this.adminRelatedWomen.splice(index - 1, 0, tmp)
      },
      turnDown(index) {
        let tmp = this.adminRelatedWomen.splice(index, 1)[0];
        this.adminRelatedWomen.splice(index + 1, 0, tmp)
      },
      removeFromTop(index) {
        App.confirm('Удалить клиентку из ТОПа?', (data) => {
          if (data) {
            this.adminRelatedWomen.splice(index, 1);
          }
        })
      },
      validateTopSaving() {
        return new Promise((resolve, reject) => {
          if (this.adminRelatedWomen.length < +this.topWoman.amount_in_top + +this.topWoman.amount_of_shift) {
            reject({
              desc: 'Количество добавленных клиенток в ТОПе не может быть меньше суммы нужного кол-ва клиенток и кол-во пользователей для сдвига'
            })
          }
          resolve()
        })
      },
      saveTopSettings() {
        this.validateTopSaving().then(r => {
          this.$http.post('v2/top-woman/update/settings', {
            access_token: this.$cookie.get('access_token'),
            amount_in_top: this.topWoman.amount_in_top,
            time_interval: this.topWoman.time_interval,
            time_next_shift: this.topWoman.time_next_shift,
            amount_of_shift: this.topWoman.amount_of_shift,
            top_woman_user_id_start_shift: this.topWoman.top_woman_user_id_start_shift,
          }).then(r => {
            if (r.body.status) {
              toastr.success('Настройки ТОПа успешно сохранены');
              setTimeout(() => {
                this.$router.back();
              }, 1000)
            } else {
              toastr.error('Возникла проблема при сохранении очереди ТОПа. Пожалуйста, обратитесь в тех. поддержку');
            }
          }, err => {
            toastr.error('Возникла проблема при обработке запроса. Пожалуйста, обратитесь в тех. поддержку');
          })
        }).catch(e => {
          toastr.error(e.desc || e.message)
        })
      },
      saveQueue() {
        this.validateTopSaving().then(r => {
          let self = this;
          this.$http.post('v2/top-woman/update/woman-queue', {
            access_token: this.$cookie.get('access_token'),
            queue_list() {
              return JSON.stringify(self.adminRelatedWomen.map((i, index) => {
                return {
                  top_woman_user_id: i.user_id,
                  number_in_queue: index + 1
                }
              }))
            }
          }).then(r => {
            if (r.body.status) {
              toastr.success('Очередь ТОПа клиенток успешно обновлена')
            } else {
              toastr.error('Возникла проблема при сохранении очереди ТОПа. Пожалуйста, обратитесь в тех. поддержку')
            }
          }, err => {
            toastr.error('Возникла проблема при обработке запроса. Пожалуйста, обратитесь в тех. поддержку')
          })
        }).catch(e => {
          toastr.error(e.desc || e.message)
        })
      },
      getTopWomanQueueSettings() {
        this.$http.post('v2/top-woman/get/settings', {
          access_token: this.$cookie.get('access_token')
        }).then(r => {
          if (r.body.status) {
            Object.assign(this.topWoman, r.body.result);
            this.initialDatePicker();
            let self = this;
            //this.topWoman.intervalType = '60'
            this.topWoman.intervalType = _.minBy(self.topWoman.intervalParams, (i => {
              let coef = i.k / self.topWoman.time_interval;
              if (coef < 1) {
                return Infinity
              } else {
                return coef
              }
            })).k;
          } else {
            toastr.error('Возникла ошибка при получении настроек ТОП клиенток')
          }
        }, err => {
          toastr.error('Возникла ошибка при получении настроек ТОП клиенток')
          console.log(err)
        })
      },
    },
    beforeMount() {
      this.fetch();
      this.getCountriesBlacklist();
      this.getTopWomanQueueSettings();
      console.log(this.topWoman.time_next_shift)


    },
    mounted() {
      setTimeout(() => {
        $(".v-scroll").each(function () {
          if ($(this).attr("data-height")) {
            $(this).css("height", $(this).attr("data-height") + "px");
          }
          $(this).perfectScrollbar();
        });
      }, 400);
      console.log(this.allowedWmnToAdd);
    },

    components: {
      Template,
      'multiselect': multiselect,
      'my-select': mySelect
    }

    // components: {
    // 	'multiselect': multiselect
    // }
  }
</script>
<style scoped lang="scss">
  $switch-width:          40px !default;
  $switch-height:         20px !default;
  $switch-inner-border:   4px !default;
  $switch-rounded:        true !default;
  $switch-bg-color:       #4a89d6 !default;

  .switch {
    position: relative;
    display: inline-block;
    width: $switch-width;
    height: $switch-height;
    margin: 0;

    input {
      display: none; // hide default checkbox
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: 0.4s;
      transition: 0.4s;

      &::before {
        position: absolute;
        content: "";
        height: calc( #{$switch-height} - (#{$switch-inner-border} * 2));
        width: calc( #{$switch-height} - (#{$switch-inner-border} * 2));
        left: $switch-inner-border;
        top: $switch-inner-border;
        background-color: white;
        -webkit-transition: 0.4s;
        transition: 0.4s;
      }

      @if $switch-rounded {
        border-radius: $switch-height;

        &::before {
          border-radius: 50%;
        }
      }
    }
  }

  input:checked + .slider {
    background-color: $switch-bg-color;

    &::before {
      -webkit-transform: translateX( calc( #{$switch-width} - #{$switch-height}  ) );
      -ms-transform: translateX( calc( #{$switch-width} - #{$switch-height} ) );
      transform: translateX( calc( #{$switch-width} - #{$switch-height} ) );
    }
  }
  input:disabled + .slider {
    cursor: default;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
  }
  .form-control {
    z-index: 0;
  }

  .lg-checkbox {
    width: 25px;
    height: 25px;
    margin-right: 20px;
  }

  .top-users {

    &__img-box{
      display: flex;
      align-items: center;
      div{
        margin-left: 15px;
      }
    }

    &__item {
      position: relative;
      padding-left: 10px;
      display: flex;
      align-items: center;
    }

    &__info {
      padding-left: 15px;
    }

    &__actions {

      .label + .label {
        margin-left: 5px;

      }

      .label {
        font-size: 16px !important;
        display: inline-block;
        padding: 5px 7px;
        &:last-child {
          margin-left: 5px;
        }
      }
    }

    &__action {
      cursor: pointer;
      user-select: none;
    }


    .label-danger{
      background-color: transparent !important;
      border: 1px solid #dd481e;
      color: #dd481e !important;
    }

    .label-warning{
      background-color: transparent !important;
      border: 1px solid #a7a7a7;
      color: #a7a7a7 !important;
    }
  }

  .input-group{
    display: flex;
    position: relative;

    .input-group-addon{
      width: auto !important;
      display: flex;
      align-items: center;
      min-width: 69px;
      justify-content: center;
    }
  }
  .width-auto{
      width: auto !important;
    }

  .width100{
    width: 100% !important;
    align-items: center;
  }

  .form-group.top-woman{
    margin-bottom: 15px !important;
  }

  .save-top{
    width: 100% !important;
  }



  @media (max-width: 640px) {
    input.form-control {
      width: 100% !important;
    }

    .tabs-setting .content-block .settings-items li .settings-item-content input.form-control {
        width: 100% !important;
      }

    select.form-control {
      width: auto!important;
    }
    }
  @media (max-width: 991px){
    .switch{
      display: block;
      float: right;
    }
    .tabs-setting .content-block .settings-items .settings-item{
      display: block;
    }
    .tabs-setting .content-block .settings-items .settings-item .settings-item-content{
      display: block;
      padding: 0;
      text-align: left;
      width: 100%;
    }

  }

</style>
