<template>
  <div class="settings-form" style="min-height: 85vh">
    <tabs class="tabs-setting">
      <template #action-button>
        <router-link tag="button" :to="'/settings/service/edit'+$route.hash" class="btn btn-edit">
          <span>Редактировать</span><i class="fa fa-lg fa-pencil"></i>
        </router-link>
      </template>
      <template #tab-content>
        <tab name="Общие" id="total">
          <div class="content-block">
            <h2>Компания</h2>
            <ul class="settings-items">
              <li class="settings-item">Регистрация на сайте:
                <div class="settings-item-content" v-html="registrationStatus"></div>
              </li>
              <li class="settings-item">Название:
                <div class="settings-item-content">{{data.company_name}}</div>
              </li>
              <li class="settings-item">Адрес:
                <div class="settings-item-content">{{data.company_address}}</div>
              </li>
            </ul>
          </div>
          <div class="content-block">
            <h2>FaceBook</h2>
            <ul class="settings-items">
              <li class="settings-item">Идентификатор приложения:
                <div class="settings-item-content">{{data.facebook_app_id}}</div>
              </li>
              <li class="settings-item">Секрет приложения:
                <div class="settings-item-content">{{data.facebook_app_secret}}</div>
              </li>
            </ul>
          </div>
          <div class="content-block">
            <h2>Ключи</h2>
            <ul class="settings-items">
              <li class="settings-item">Google переводчик:
                <div class="settings-item-content">{{data.google_translate_api_key}}</div>
              </li>
              <li class="settings-item">SendGrid:
                <div class="settings-item-content">{{data.email_sender_sendgrid_api_key}}</div>
              </li>
              <li class="settings-item">Google ReCaptcha Public Key:
                <div class="settings-item-content">{{data.google_recaptcha_public_key}}</div>
              </li>
              <li class="settings-item">Google ReCaptcha Private Key:
                <div class="settings-item-content">{{data.google_recaptcha_secret_key}}</div>
              </li>
            </ul>
          </div>
          <div class="content-block">
            <h2>Emails</h2>
            <ul class="settings-items">
              <li class="settings-item">Для Feedback:
                <div class="settings-item-content">{{data.feedback_user_name}} <{{data.feedback_user_email}}></div>
              </li>
              <li class="settings-item">Для Notifications:
                <div class="settings-item-content">{{data.notification_user_name}} <{{data.notification_user_email}}>
                </div>
              </li>
            </ul>
          </div>
        </tab>
        <tab name="Лимиты" id="limits">
          <div class="content-block">
            <h2>Время</h2>
            <ul class="settings-items">
              <li class="settings-item">Клиентка онлайн:
                <div class="settings-item-content">{{data.time_while_woman_is_online}} секунд</div>
              </li>
              <li class="settings-item">Клиент онлайн:
                <div class="settings-item-content">{{data.time_while_man_is_online}} секунд</div>
              </li>
              <li class="settings-item">Клиентка является новой:
                <div class="settings-item-content">{{Math.floor( data.time_while_woman_is_new / 3600 )}} часов</div>
              </li>
              <li class="settings-item">Клиент является новым:
                <div class="settings-item-content">{{Math.floor( data.time_while_man_is_new / 3600 )}} часов</div>
              </li>
              <li class="settings-item">Интервал отправки ручных уведомлений:
                <div class="settings-item-content">{{Math.floor( data.email_manual_notification_delay / 3600 )}} часов
                </div>
              </li>
            </ul>
          </div>
          <div class="content-block">
            <h2>Фото</h2>
            <ul class="settings-items">
              <li class="settings-item">Доступно для гостя:
                <div class="settings-item-content">{{data.public_photo_available_for_guest}} фото</div>
              </li>
              <li class="settings-item">Доступно для не платника:
                <div class="settings-item-content">{{data.public_photo_available_for_user_without_payment}} фото</div>
              </li>
              <li class="settings-item">Доступно Клиенту прикреплять в письме:
                <div class="settings-item-content">{{data.max_photo_attach_mail_man}} фото</div>
              </li>
              <li class="settings-item">Доступно Клиентке прикреплять в письме:
                <div class="settings-item-content">{{data.max_photo_attach_mail_woman}} фото</div>
              </li>
            </ul>
          </div>
          <div class="content-block">
            <h2>Видео</h2>
            <ul class="settings-items">
              <li class="settings-item">Доступно Клиентке прикреплять в письме:
                <div class="settings-item-content">{{data.max_video_attach_mail_woman}} видео</div>
              </li>
            </ul>
          </div>
          <div class="content-block">
            <h2>Рассылка (для 1-ой клиентки)</h2>
            <ul class="settings-items">
              <li class="settings-item">Писем:
                <div class="settings-item-content">{{data.message_distribution_count_message_per_woman}} штук</div>
              </li>
              <li class="settings-item">Период:
                <div class="settings-item-content">{{countDistributionTime}} часов</div>
              </li>
            </ul>
          </div>
          <div class="content-block">
            <h2>Лимиты сообщений</h2>
            <ul class="settings-items">
              <li class="settings-item">Кол.сообщений клиенту "Новый" (в штуках, в 24 часа):
                <div class="settings-item-content">{{data.message_count_limit_per_day_for_new_user}}</div>
              </li>
              <li class="settings-item">Время до получения 1 нового от клиентки без диалога (в часах):
                <div class="settings-item-content">{{data.message_hour_limit_for_one_sender}}</div>
              </li>
            </ul>
          </div>
          <div class="content-block">
            <h2>Виртуальные подарки</h2>
            <ul class="settings-items">
              <li class="settings-item">Комментарий к подарку:
                <label class="switch" :title="+data.virtual_gift_comment ? 'Включен' : 'Выключен'">
                  <input type="checkbox" v-model="data.virtual_gift_comment" true-value="1" false-value="0"  disabled >
                  <span class="slider"></span>
                </label>
              </li>
              <li class="settings-item">Кол-во подарков в месяц ( от 1 клиентки для 1 клиента):
                <div class="settings-item-content">{{data.virtual_gift_amount_per_user}}</div>
              </li>
            </ul>
          </div>
          <div class="content-block">
            <h2>Топ клиенток <i>Клиенток в очереди: {{women.length}}</i></h2>
            <ul class="settings-items">
              <li class="settings-item">Количество в ТОПе:
                <div class="settings-item-content">{{topWoman.amount_in_top}}</div>
              </li>
              <li class="settings-item">Кол-во пользователей для сдвига:
                <div class="settings-item-content">{{topWoman.amount_of_shift}}</div>
              </li>
              <li class="settings-item">Дата сдвига:
                <div class="settings-item-content">{{formettedDate}}</div>
              </li>
              <li class="settings-item">Интервал времени сдвига:
                <div class="settings-item-content">{{topWoman.time_interval/60}} минут</div>
              </li>
              <li class="settings-item">ИД девушки сдвига:
                <div class="settings-item-content">{{topWoman.top_woman_user_id_start_shift}}</div>
              </li>
            </ul>
          </div>
        </tab>
        <tab name="Финансы" id="finances">
          <div class="content-block">
            <h2>Финансы</h2>
            <ul class="settings-items">
              <li class="settings-item">Мин. сумма выплат партнёрам:
                <div class="settings-item-content">{{data.minimum_amount_for_payments}}</div>
              </li>
              <li class="settings-item">Средняя стоимость кредитов:
                <div class="settings-item-content">{{data.average_credit_price}}</div>
              </li>
            </ul>
          </div>
          <div class="content-block">
            <h2>Multicard (processing service)</h2>
            <ul class="settings-items">
              <li class="settings-item">Merchant ID:
                <div class="settings-item-content">{{data.multicard_mer_id}}</div>
              </li>
              <li class="settings-item">Order page ID:
                <div class="settings-item-content">{{data.multicard_mer_url_idx}}</div>
              </li>
              <li class="settings-item">Silent post password:
                <div class="settings-item-content">{{data.multicard_mer_password}}</div>
              </li>
            </ul>
          </div>
          <div class="content-block">
            <h2>Epayments (processing service)</h2>
            <ul class="settings-items">
              <li class="settings-item">Payment URL:
                <div class="settings-item-content">{{data.epayments_payment_url}}</div>
              </li>
              <li class="settings-item">Shop ID:
                <div class="settings-item-content">{{data.epayments_shop_id}}</div>
              </li>
              <li class="settings-item">Secret key:
                <div class="settings-item-content">{{data.epayments_secret_key}}</div>
              </li>
              <li class="settings-item">Username:
                <div class="settings-item-content">{{data.epayments_username}}</div>
              </li>
              <li class="settings-item">Password:
                <div class="settings-item-content">{{data.epayments_password}}</div>
              </li>
            </ul>
          </div>
          <div class="content-block">
            <h2>SegPay (processing service)</h2>
            <ul class="settings-items">
              <li class="settings-item">Package:
                <div class="settings-item-content">{{data.segpay_package}}</div>
              </li>
              <li class="settings-item">URL ID:
                <div class="settings-item-content">{{data.segpay_url_id}}</div>
              </li>
              <li class="settings-item">User id:
                <div class="settings-item-content">{{data.segpay_user_id}}</div>
              </li>
              <li class="settings-item">User access key:
                <div class="settings-item-content">{{data.segpay_user_access_key}}</div>
              </li>
            </ul>
          </div>
        </tab>
        <tab name="Страны" id="countries">
          <div class="content-block">
            <h2>Запрещенные страны для регистрации:</h2>
            <ul class="settings-items">
              <li class="settings-item" v-for="(c, i) in countriesBlacklist" :key="c.id">
                <div class="settings-item-content just_content_sb margin_none"> {{c.name}} ({{c.code}})</div>
              </li>

            </ul>
          </div>
        </tab>
      </template>
    </tabs>
  </div>
</template>

<script>
  import toastr from 'toastr'
  import moment from 'moment'
  import _ from 'lodash'
  import {COUNTRIES} from '@/mixins/utils.js'
  import Template from "@components/content/multichat/components/items/message/template.vue";

  export default {
    name: 'SiteSetting',
    components: {Template},
    data() {
      return {
        data: {
          time_while_woman_is_new: 90000000,
          time_while_man_is_new: 300,
          time_while_woman_is_online: 300,
          time_while_man_is_online: 300,
          max_photo_attach_mail_man: 3,
          max_photo_attach_mail_woman: 3,
          public_photo_available_for_guest: 4,
          public_photo_available_for_user_without_payment: 6,
          message_distribution_count_message_limit: null,
          message_distribution_repeat_for_one_user: 0,
          message_distribution_time_to_new_distribution: null,
          multicard_mer_password: "adsspk367",
          multicard_mer_id: 32323,
          multicard_mer_url_idxtime_while_woman_is_online: "wefewfwef",
          epayments_payment_url: "",
          epayments_shop_id: 0,
          epayments_secret_key: "",
          epayments_username: "",
          epayments_password: "",
          company_name: "",
          company_address: "",
          email_sender_sendgrid_api_key: "",
          feedback_user_name: "",
          feedback_user_email: "",
          notification_user_name: "",
          notification_user_email: "",
          google_translate_api_key: "",
          google_recaptcha_secret_key: '',
          google_recaptcha_public_key: '',
          facebook_app_id: "",
          facebook_app_secret: "",
          site_user_registration: "",
          email_manual_notification_delay: 0,
          segpay_package: null,
          segpay_url_id: null,
          segpay_user_access_key: null,
          segpay_user_id: null,
          virtual_gift_amount_per_user: 0,
          virtual_gift_comment: 0
        },
        women: [],
        topWoman: {
          amount_in_top: '',
          amount_of_shift: '',
          time_interval: '',
          time_next_shift: '',
          top_woman_user_id_start_shift: '',
          intervalType: '60',
          intervalParams: [
            {k: '60', v: 'минуты'},
            {k: 60 * 60 + '', v: 'часы'},
            {k: 60 * 60 * 24 + '', v: 'дни'},
            {k: 60 * 60 * 24 * 7 + '', v: 'недели'},
          ]
        },
        countriesFilter: {
          blacklist: []
        }
      }
    },
    mixins: [COUNTRIES],
    methods: {
      getCountriesBlacklist() {
        this.$http.post('v2/site/settings/get/geo-ip-country-code-blacklist', {
          access_token: this.$cookie.get('access_token')
        }).then(r => {
          if (r.body.status) {
            this.countriesFilter.blacklist = r.body.result;
          }
        })
      },
      fetchData() {
        this.$http.post('v2/site/settings/get/general', {
          access_token: this.$cookie.get('access_token')
        }).then(data => {
          if (data.body.status) {
            let res = data.body.result;
            this.data = res;
            console.log(this.data)
          } else {
            toastr.error('Не могу получить данные');
          }
        }, err => {
          toastr.error('Не могу получить данные');
          console.log(err);
        });
        this.$http.post('v2/top-woman/get/woman-queue', {
          access_token: this.$cookie.get('access_token'),
        }).then(data => {
          if (data.body.status) {
            this.women = data.body.result.map(i => {
              return {
                avatar: i.avatar_small,
                user_id: i.user_id,
                name: `${i.name.trim()} ${i.surname}`
              }
            });
          } else {
            toastr.error('Не могу загрузить список клиенток под админом');
            toastr.info(data.body.desc)
          }
        }, err => {
          toastr.error('Не могу загрузить список клиенток под админом');
        });
      },
      getTopWomanQueueSettings() {
        this.$http.post('v2/top-woman/get/settings', {
          access_token: this.$cookie.get('access_token')
        }).then(r => {
          if (r.body.status) {
            Object.assign(this.topWoman, r.body.result);
            let self = this;
            this.topWoman.intervalType = _.minBy(self.topWoman.intervalParams, (i => {
              let coef = i.k / self.topWoman.time_interval;
              if (coef < 1) {
                return Infinity
              } else {
                return coef
              }
            })).k;
          } else {
            toastr.error('Возникла ошибка при получении настроек ТОП девушек')
          }
        }, err => {
          toastr.error('Возникла ошибка при получении настроек ТОП девушек')
          console.log(err)
        })
      },
    },
    computed: {
      formettedDate() {
        if (this.topWoman.time_next_shift) {
          return moment(this.topWoman.time_next_shift * 1000).format('YYYY-MM-DD HH:MM')
        }
        return 'Undefined'
      },
      countDistributionTime() {
        return this.data.message_distribution_time_between_distribution / (60 * 60)
      },
      countriesBlacklist() {
        return this.countriesFilter.blacklist.map((i) => {
          return {
            id: i.id,
            code: i.country_code,
            name: this.formattedCodes.find(j => j.key === i.country_code).name
          }
        }, this)
      },
      registrationStatus() {
        if (this.data.site_user_registration === 1) {
          return '<span class="text-green"><strong>включена</strong></span>';
        } else {
          return '<span class="text-red"><strong>выключена</strong></span>';
        }
      },
      intervalValue: {
        get() {
          return this.topWoman.time_interval / this.topWoman.intervalType
        },
        set(v) {
          this.topWoman.time_interval = v * this.topWoman.intervalType
        }
      }
    },
    beforeMount() {
      this.fetchData();
      this.getTopWomanQueueSettings();
      this.getCountriesBlacklist();
    },
    mounted() {
    },
  }
</script>

<style scoped lang="scss">
  $switch-width:          40px !default;
  $switch-height:         20px !default;
  $switch-inner-border:   4px !default;
  $switch-rounded:        true !default;
  $switch-bg-color:       #4a89d6 !default;

  .switch {
    position: relative;
    display: inline-block;
    width: $switch-width;
    height: $switch-height;
    margin: 0;

    input {
      display: none; // hide default checkbox
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: 0.4s;
      transition: 0.4s;

      &::before {
        position: absolute;
        content: "";
        height: calc( #{$switch-height} - (#{$switch-inner-border} * 2));
        width: calc( #{$switch-height} - (#{$switch-inner-border} * 2));
        left: $switch-inner-border;
        top: $switch-inner-border;
        background-color: white;
        -webkit-transition: 0.4s;
        transition: 0.4s;
      }

      @if $switch-rounded {
        border-radius: $switch-height;

        &::before {
          border-radius: 50%;
        }
      }
    }
  }

  input:checked + .slider {
    background-color: $switch-bg-color;

    &::before {
      -webkit-transform: translateX( calc( #{$switch-width} - #{$switch-height}  ) );
      -ms-transform: translateX( calc( #{$switch-width} - #{$switch-height} ) );
      transform: translateX( calc( #{$switch-width} - #{$switch-height} ) );
    }
  }
  input:disabled + .slider {
  cursor: default;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
  }

  .page-header {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
  }

  @media (max-width: 991px) {
    .switch{
      display: block;
      float: right;
    }
    .tabs-setting .content-block .settings-items .settings-item {
      display: block;
    }
    .tabs-setting .content-block .settings-items .settings-item .settings-item-content {
      display: block;
      padding: 0;
      text-align: left;
      width: 100%;
    }

  }
</style>

