<template>
    <div class="login-box">
        <div class="login-logo">
            <a href="index.html"><b>FeDate </b>Admin <i class="fa fa-gear hidden-xs"></i></a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <form action="index.html" method="post" @submit.prevent>
                <div class="form-group has-feedback">
                    <input type="email" class="form-control no-radius" :class="{error:loginError}" placeholder="E-mail"
                           v-model="login">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control no-radius" placeholder="Пароль" v-model="password"
                           :class="{error:passwordError}">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck">
                            <label for="remember"><input type="checkbox" v-model="rememberLogin" id="remember">
                                Запомнить меня</label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat" @click="startLogin">
                            <span v-if="!loginProcess">Вход</span>
                            <div class="row" v-else>
                                <div class="col-md-4 text-center">

                                </div>
                                <div class="col-md-4">
                                    <moon-loader
                                        :loading="true"
                                        :color="'#fff'"
                                        :size="20"
                                    />
                                </div>
                                <div class="col-md-4 text-center">

                                </div>
                            </div>
                        </button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
            <!-- /.login-box-body -->
        </div>
        <!-- /.login-box -->
    </div>
</template>

<script>
    import Vue from 'vue'
    import MoonLoader from '@/components/custom/MoonLoaderNew.vue'

    export default {
        name: 'login',
        props: {
            loginCallback: Function,
        },
        data() {
            return {
                loginProcess: false,
                login: '',
                password: '',
                loginError: false,
                passwordError: false,
                rememberLogin: false
            }
        },
        methods: {
            setCookie(cname, cvalue, exdays) {
                let d = new Date();
                d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
                let expires = "expires=" + d.toUTCString();
                document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
            },
            startLogin() {
                if (this.login == '') {
                    this.loginError = true;
                    setTimeout(() => {
                        this.loginError = false;
                    }, 2000)
                }
                if (this.password == '') {
                    this.passwordError = true;
                    setTimeout(() => {
                        this.passwordError = false;
                    }, 2000)
                }
                if (this.password !== '' && this.login !== '') {
                    this.loginProcess = true;
                    Vue.http.post('v2/authorization/login-user', {
                        email: this.login,
                        password: this.password
                    }).then(loginResult => {
                        this.loginProcess = false;
                        if (loginResult.body.status) {
                            this.loginCallback(true);
                            if (this.rememberLogin) {
                                this.setCookie('access_token', loginResult.body.result.access_token, 30);
                            } else {
                                this.setCookie('access_token', loginResult.body.result.access_token, 7);
                            }
                            this.$store.dispatch('setIdentity', {
                                name: loginResult.body.result.full_name,
                                email: loginResult.body.result.email,
                                id: loginResult.body.result.user_id,
                                avatar: loginResult.body.result.avatar,
                                allRules: loginResult.body.result.all_rules,
                                myRules: loginResult.body.result.rules
                            });
                            this.$store.dispatch('setAccessLevel', loginResult.body.result.user_type);
                            this.$store.dispatch('userRules', loginResult.body.result.rules);
                            this.$store.dispatch('setAuthStatus', true);
                            config.media = {
                                admin: 'https://admin.fedate.com/',
                                frontend: 'https://fedate.com/'
                            };
                            this.$router.push(this.$route.path)
                        } else {
                            this.loginCallback(false);
                            this.loginError = true;
                            this.passwordError = true;
                            setTimeout(() => {
                                this.loginError = false;
                                this.passwordError = false;
                            }, 2000)
                        }
                    }, requestError => {
                        this.loginProcess = false;
                        console.log('Some login error');
                    });
                }
            }
        },
        beforeMount() {
            $('body').addClass('login-page')
        },
        beforeDestroy() {
            $('body').removeClass('login-page')
        },
        mounted() {
            setTimeout(() => {
                $('.icheck input[type=checkbox]').iCheck({
                    checkboxClass: 'icheckbox_square-blue',
                    radioClass: 'iradio_square-white',
                    increaseArea: '20%'
                });
                $('.icheck input[type=checkbox]').on('ifChecked', (e) => {
                    this.rememberLogin = true;
                });
                $('.icheck input[type=checkbox]').on('ifUnchecked', (e) => {
                    this.rememberLogin = false;
                });
            }, 400)
        },
        components: {
            'moon-loader': MoonLoader
        }
    }
</script>

<style scoped>
    .error {
        border-color: red;
    }
</style>
