<template>

    <!--From Partner Section-->
    <div v-if="fromPartner">
        <div class="row">
            <div class="page-header">
                Сообщение ID:{{feedback.feedback.id}}
            </div>
            <div class="col-md-12">
                <div class="form-group row">
                    <label for="for-name"
                           class="col-md-2 m-t-0">Дата создания:</label>
                    <div class="col-md-8">
                        {{dataCreated}}
                    </div>
                </div>

                <div class="form-group row">
                    <label for="for-name"
                           class="col-md-2 m-t-0">От: </label>

                    <div class="col-md-8">
                        <span class="username">
                               {{feedback.agency.agency_name}}
                            </span>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="for-name"
                           class="col-md-2 m-t-0">Email:</label>
                    <div class="col-md-8">
                        {{feedback.feedback.email}}
                    </div>
                </div>

                <div class="form-group row">
                    <label for="for-name"
                           class="col-md-2 m-t-0">Тема:</label>
                    <div class="col-md-8">
                        {{feedback.feedback.subject}}
                    </div>
                </div>

                <div class="form-group row">
                    <label for="for-name"
                           class="col-md-2 m-t-0">Письмо:</label>
                    <div class="col-md-6">
                        <p v-html="feedback.feedback.message"></p>
                        <nav ref="lightgallery" id="lightgallery" class="photo-nav photo-list margin-top"
                             v-if="feedback.attach">
                            <a v-for="attach in attachments" :href="attach.file_name">
                                <img  :src="attach.file_name">
                            </a>
                        </nav>
                        <nav class="file-attachments">
                            <a v-for="attachFile in attachmentsFiles" :href="attachFile.file_name"><img src="/dist/img/file.png" alt=""></a>
                        </nav>
                    </div>
                </div>
            </div>
            <h2 class="page-header">Ответ на сообщение</h2>

            <div class="row" v-if="!feedback.answer && feedback.feedback.archive === 1">
                <div class="col-md-10">
                    <div class="pull-right">
                        <button type="button" @click="markUnviewed" class="btn btn-warning">Сделать неотвеченным</button>
                    </div>
                </div>
            </div>

            <div class="row"
                 v-if="'answer' in feedback">
                <div class="col-md-12">
                    <div class="row form-group">
                        <label class="col-md-2 m-t-0">От:</label>
                        <div class="col-md-6 margin-bottom">
                            support@FeDate.com
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="for-name"
                               class="col-md-2 m-t-0"> Ответил:</label>
                        <div class="col-md-8">
                            <strong>{{feedback.answer.moderator.name}}({{feedback.answer.moderator.id}})</strong>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="for-name"
                               class="col-md-2 m-t-0">Дата ответа:</label>
                        <div class="col-md-8">
                            {{dataAnswered}}
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="for-name"
                               class="col-md-2 m-t-0">Email:</label>
                        <div class="col-md-8">
                            {{feedback.feedback.email}}
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="for-name"
                               class="col-md-2 m-t-0">Тема:</label>
                        <div class="col-md-8">
                            {{feedback.feedback.subject}}
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="for-name"
                               class="col-md-2 m-t-0">Письмо:</label>
                        <div class="col-md-6">
                            <p v-html="feedback.answer.text"></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row"
                 v-if="feedback.feedback.archive === 0">
                <div class="col-md-12">
                    <!-- form start -->
                    <form method="POST"
                          action=""
                          class="form-horizontal">

                        <div class="row form-group">
                            <label class="col-md-2 m-t-0">От:</label>
                            <div class="col-md-6 margin-bottom">
                                support@fedate.com
                            </div>
                        </div>

                        <div class="row form-group">
                            <label for="for-name"
                                   class="col-md-2">Кому:</label>
                            <div class="col-md-4">
                                <input type="text"
                                       class="form-control"
                                       id="for-name"
                                       v-model="feedback.feedback.email"
                                       disabled>
                            </div>
                        </div>

                        <div class="row form-group">
                            <label
                                    class="col-md-2">Тема:</label>
                            <div class="col-md-4">
                                <input type="text"
                                       class="form-control"
                                       id="for-theme"
                                       v-model="feedback.feedback.subject"
                                       disabled>
                            </div>
                        </div>

                        <div class="row form-group">
                            <label for="for-note"
                                   class="col-md-2">Текст письма:</label>
                            <div class="col-md-6 ">
                                <app-editable v-model="modelText" :clear="clear" ></app-editable>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8 text-right">
                                <button type="button" @click="markUnviewed" v-if="!feedback.answer && feedback.feedback.archive === 1" class="btn btn-warning">В неотвеченные</button>
                                <button type="button" @click="markViewed" v-if="feedback.feedback.archive === 0" class="btn btn-success">В отвеченные</button>
                                <button type="submit"
                                        class="btn btn-primary"
                                        @click.prevent="saveAnswer">Отправить</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--From Partner Section ends here-->





    <div v-else>
        <div class="page-header">
            Сообщение ID:{{feedback.feedback.id}}
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group row">
                    <label for="for-name"
                           class="col-md-2 m-t-0">ID сообщения:</label>
                    <div class="col-md-8">
                        <strong>{{feedback.feedback.id}}</strong>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="for-name"
                           class="col-md-2 m-t-0">Дата создания:</label>
                    <div class="col-md-8">
                        {{dataCreated}}
                    </div>
                </div>

                <div class="form-group row">
                    <label for="for-name"
                           class="col-md-2 m-t-0">От: </label>

                    <div class="col-md-8"
                         v-if="fromGuest">
                        <span class="username">
                                <a>Гостя</a>
                            </span>
                    </div>
                    <div class="col-md-8"
                         v-if="!fromGuest">
                        <div class="user-block user-block-md margin-bottom" style="cursor: pointer;" @click="goToUser(feedback.user.id)">
                            <img class="img-circle"
                                 :src="config.media.frontend+feedback.user.avatar.small"
                                 alt="User Image">
                            <span class="username">
                                            <a>{{feedback.user.full_name}}</a>
                                            <a>{{feedback.user.name}}</a>
                                        </span>
                            <a><span class="description">ID: {{feedback.user.id}}</span></a>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="for-name"
                           class="col-md-2 m-t-0">Email:</label>
                    <div class="col-md-8">
                        {{feedback.feedback.email}}
                    </div>
                </div>

                <div class="form-group row">
                    <label for="for-name"
                           class="col-md-2 m-t-0">Тема:</label>
                    <div class="col-md-8">
                        {{feedback.feedback.subject}}
                    </div>
                </div>

                <div class="form-group row">
                    <label for="for-name"
                           class="col-md-2 m-t-0">Письмо:</label>
                    <div class="col-md-6">
                        <p v-html="feedback.feedback.message"></p>
                        <nav ref="lightgallery" id="lightgallery" class="photo-nav photo-list margin-top"
                             v-if="feedback.attach">
                            <a v-for="attach in attachments" :href="attach.file_name">
                                <img  :src="attach.file_name">
                            </a>
                        </nav>
                        <nav class="file-attachments">
                            <a v-for="attachFile in attachmentsFiles" :href="attachFile.file_name"><img src="/dist/img/file.png" alt=""></a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <h2 class="page-header">Ответ на сообщение</h2>
        <div class="row" v-if="!feedback.answer && feedback.feedback.archive === 1">
            <div class="col-md-10">
                <div class="pull-right">
                    <button type="button" @click="markUnviewed" class="btn btn-warning">Сделать неотвеченным</button>
                </div>
            </div>
        </div>
        <div class="row"
             v-if="'answer' in feedback">
            <div class="col-md-12">
                <div class="row form-group">
                    <label class="col-md-2 m-t-0">От:</label>
                    <div class="col-md-6 margin-bottom">
                        support@fedate.com
                    </div>
                </div>
                <div class="form-group row">
                    <label for="for-name"
                           class="col-md-2 m-t-0"> Ответил:</label>
                    <div class="col-md-8">
                        <strong>{{feedback.answer.moderator.name}}({{feedback.answer.moderator.id}})</strong>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="for-name"
                           class="col-md-2 m-t-0">Дата ответа:</label>
                    <div class="col-md-8">
                        {{dataAnswered}}
                    </div>
                </div>

                <div class="form-group row">
                    <label for="for-name"
                           class="col-md-2 m-t-0">Email:</label>
                    <div class="col-md-8">
                        {{feedback.feedback.email}}
                    </div>
                </div>

                <div class="form-group row">
                    <label for="for-name"
                           class="col-md-2 m-t-0">Тема:</label>
                    <div class="col-md-8">
                        {{feedback.feedback.subject}}
                    </div>
                </div>

                <div class="form-group row">
                    <label for="for-name"
                           class="col-md-2 m-t-0">Письмо:</label>
                    <div class="col-md-6">
                        <p v-html="feedback.answer.text"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row"
             v-if="feedback.feedback.archive === 0">
            <div class="col-md-12">
                <!-- form start -->
                <form method="POST"
                      action=""
                      class="form-horizontal">

                    <div class="row form-group">
                        <label class="col-md-2 m-t-0">От:</label>
                        <div class="col-md-6 margin-bottom">
                            support@fedate.com
                        </div>
                    </div>

                    <div class="row form-group">
                        <label for="for-name"
                               class="col-md-2">Кому:</label>
                        <div class="col-md-4">
                            <input type="text"
                                   class="form-control"
                                   id="for-name"
                                   v-model="feedback.feedback.email"
                                   disabled>
                        </div>
                    </div>

                    <div class="row form-group">
                        <label
                               class="col-md-2">Тема:</label>
                        <div class="col-md-4">
                            <input type="text"
                                   class="form-control"
                                   id="for-theme"
                                   v-model="feedback.feedback.subject"
                                   disabled>
                        </div>
                    </div>

                    <div class="row form-group">
                        <label for="for-note"
                               class="col-md-2">Текст письма:</label>
                        <div class="col-md-6 ">
                            <!--<textarea name=""-->
                                      <!--ref="textarea"-->
                                      <!--v-model="modelText"-->
                                      <!--class="form-control"-->
                                      <!--:class="{error: err}"-->
                                      <!--:disabled="disabledText"-->
                                      <!--id="for-note"-->
                                      <!--rows="10"></textarea>-->

                            <app-editable v-model="modelText" :clear="clear" ></app-editable>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-8 text-right">
                            <button type="button" @click="markUnviewed" v-if="!feedback.answer && feedback.feedback.archive === 1" class="btn btn-warning">В неотвеченные</button>
                            <button type="button" @click="markViewed" v-if="feedback.feedback.archive === 0" class="btn btn-success">В отвеченные</button>
                            <button type="submit"
                                    class="btn btn-primary"
                                    @click.prevent="saveAnswer">Отправить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</template>

<script>
import {CLEAN_HTML} from '../../../mixins/cleanHtml'
import {UPDATE_FEEDBACK_COUNTER} from '../../../mixins/updateFeedbackCounter'
import toastr from 'toastr'
import moment from 'moment'
import config from '../../../config/config'
import AppEditable from '../../custom/ContentEditable.vue'
export default {
    name: 'FeedbackAction',
    data() {
        return {
			editable: null,
			showPlaceholder: false,
            feedback: {
                feedback: {
                    id: 0
                }
            },
            attachments: [],
            attachmentsFiles: [],
            modelText: '',
            err: false,
            disabledText: false,
            clear: false
        }
    },
    methods: {
		markUnviewed() {
			this.$http.post('v2/feedback/mark/not-replied', {
				access_token: this.$cookie.get('access_token'),
				feedback_id: this.$route.params.id,
			}).then(response => {
				if (response.body.status) {
					toastr.success('Успешно отмечено!')
					this.$router.go(-1);
				} else {
					toastr.success('Ошибка ответа')
				}
			}, err => {
				toastr.success('Ошибка ответа')
			})
        },
		markViewed() {
			this.$http.post('v2/feedback/mark/replied', {
				access_token: this.$cookie.get('access_token'),
				feedback_id: this.$route.params.id,
			}).then(response => {
				if (response.body.status) {
					toastr.success('Успешно отмечено!')
					this.$router.go(-1);
				} else {
					toastr.success('Ошибка ответа')
				}
			}, err => {
				toastr.success('Ошибка ответа')
			})
        },
        goToUser(id) {
            this.$http.post('v2/male/get/one', {
                access_token: this.$cookie.get('access_token'),
                user_id: id
            }).then(data => {
                if(data.body.status === true) {
                    this.$router.push('/man/view/' + id);
                }else if(data.body.code === 10404) {
                    fetchWoman()
                }
            });
            let fetchWoman = () => {
                this.$http.post('v2/female/get/one', {
                    access_token: this.$cookie.get('access_token'),
                    user_id: id
                }).then(data => {
                    if(data.body.status) {
                        this.$router.push('/woman/view/' + id);
                    }else if(data.body.code === 10404) {

                    }
                });
            }
        },
        fetchData() {
			function getExtension(filename) {
				var parts = filename.split('.');
				return parts[parts.length - 1];
			}
			function isImage(filename) {
				var ext = getExtension(filename);
				switch (ext.toLowerCase()) {
					case 'jpg':
					case 'jpeg':
					case 'gif':
					case 'bmp':
					case 'png':
						//etc
						return true;
				}
				return false;
			}

            this.$http.post('v2/feedback/get/one', {
                access_token: this.$cookie.get('access_token'),
                feedback_id: this.$route.params.id
            }).then(data => {
                if (data.body.status) {
                    this.feedback = data.body.result;
                    if(data.body.result.attach) {
						data.body.result.attachments.forEach(atach => {
							let file = atach
                            if (isImage(file.file_name)) {
							this.attachments.push(file)
                        }
                        else {
                            this.attachmentsFiles.push(file)
                        }
					})
                    }
                } else {
                    toastr.error(data.body.desc);
                    setTimeout(() => {
                        window.history.back();
                    }, 2000)
                }
				setTimeout( () => {
					$( '#lightgallery' ).lightGallery();
				}, 300 )
            })
        },
		saveMessage() {
//			this.modelText = this.editable.getContent()
//			this.modelText = this.cleanHtml(this.modelText)
		},
        saveAnswer() {
            if (this.modelText == '') {
                this.err = true;
            } else {
                this.modelText = this.cleanHtml(this.modelText)
                this.err = false;
                this.disabledText = true;
                this.$http.post('v2/feedback/save/answer', {
                    access_token: this.$cookie.get('access_token'),
                    feedback_id: this.$route.params.id,
                    answer: this.modelText
                }).then(response => {
                    if (response.body.status) {
                        toastr.success('Успешно отвечено!')
                        setTimeout(() => {
                            window.location.reload();
                        }, 2000)
                    } else {
                        toastr.success('Ошибка ответа')
                        this.disabledText = true;
                    }
                }, err => {
                    toastr.success('Ошибка ответа')
                    this.disabledText = true;
                })
            }
        }
    },
    beforeMount() {
        moment.locale('ru');
        this.fetchData();
    },
    computed: {
        dataCreated() {
            return moment(this.feedback.feedback.created_at * 1000).format('LLL')
        },
        dataAnswered() {
            if (this.feedback.feedback.archive === 1) {
                return moment(this.feedback.answer.created_at * 1000).format('LLL')
            }
        },
        fromGuest() {
            return !this.feedback.feedback.user_id
        },
        fromPartner() {
        	if (this.feedback.agency) {
        		return true
            }
        }
    },
    watch: {
        modelText(value) {
            if (value == '') {
                this.err = true;
            } else {
                this.err = false;
            }
        }
    },
    components: {
		AppEditable
    },
    mixins: [ CLEAN_HTML, UPDATE_FEEDBACK_COUNTER ],
    mounted() {
//		this.initTextArea();

//		setTimeout(() => {
//			$('#lightgallery').lightGallery();
//		}, 300)
    }
}
</script>

<style lang="scss">
    .mooeditable {
    &-wrap {
         position: relative;
         height: 100%;
     }
    &-placeholder {
         position: absolute;
         top: 5px;
         left: 12px;
         color: #bdbdbd;
         line-height: 1.2;
         pointer-events: none;
     }
    &-container {
         width: 100% !important;

    iframe {
        height: 100% !important;
        width: 100%;
    }
    }
    }

    textarea {
        height: 1px;
        width: 1px;
        overflow: hidden;
        background: none;
        border: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        resize: none;
    }
    .emoji-picker-container {
        p {
            margin: 0!important;
        }
    }
    .file-attachments {
        img {
            width: 87px;
        }
    }
</style>
