<template>
    <!-- .row (main row) -->
    <div class="row">
        <div class="col-md-12">
            <div class="box box-blue box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Обратная связь <strong>Клиенты</strong></h3>
                </div>
                <div class="box-body no-padding">
                    <form class="row">
                        <div class="form-group margin">
                            <div class="col-md-2">
                                <input type="text"
                                       class="form-control"
                                       v-model="searchModelId"
                                       placeholder="ID соообщения">
                            </div>
                            <div class="col-md-2">
                                <input type="text"
                                       class="form-control"
                                       v-model="searchModelUserId"
                                       placeholder="ID клиентки">
                            </div>
                            <div class="col-md-2">
                                <input type="text"
                                       class="form-control"
                                       v-model="searchModelUserName"
                                       placeholder="Имя клиентки">
                            </div>
                            <div class="col-md-2">
                                <select class="form-control" v-model="searchModelStatus">
                                    <option class="placeholder-option"
                                            value=""
                                            selected>Статус</option>
                                    <option value="1">отвечено</option>
                                    <option value="0">не отвечено</option>
                                </select>
                            </div>
                        </div>
                    </form>
                    <div v-show="loading">
                        <preloader></preloader>
                    </div>
                    <div class="table-responsive" v-show="!loading">
                    <table class="table table-bordered table-scroll"
                           id="womanFeedbackTable">
                        <thead>
                            <tr>
                                <th class="small-cell">ID соообщения

                                </th>
                                <th class="small-cell">ID клиентки

                                </th>
                                <th>Имя клиентки

                                </th>
                                <th class="lg-td">Тема

                                </th>
                                <th>Статус

                                </th>
                                <th class="md-td">Дата создания

                                </th>
                                <th>Действие</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

            <div class="row">
                <div class="col-md-6">
                    <div class="margin-top" id="feedbackShow_women">

                    </div>
                </div>
                <div class="col-md-6">
                    <ul class="pagination pull-right" id="feedbackPaginate_women">

                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

function searchInFeedbacks(col, data) {
     $('#womanFeedbackTable').DataTable()
        .columns(col)
        .search(data)
        .draw()
}

import toasrt from 'toastr'
import moment from 'moment'
import config from '../../../config/config'
import {UPDATE_FEEDBACK_COUNTER} from '../../../mixins/updateFeedbackCounter'
import preloader from '../../custom/normalPreloader/component.vue'

export default {
	props: {
	    routeSort: Number
    },
    data() {
        return {
			feedBackTable: '',
            feedbacks: [],
            searchModelId: '',
            searchModelStatus: '',
            searchModelUserName: '',
            searchModelUserId: '',
            loading: true
        }
    },
	mixins: [UPDATE_FEEDBACK_COUNTER],
    methods: {
        fetchData() {
        	this.loading = true;
            this.updateFeedbackModeration();
            //du
            this.$http.post('v1/feedback/load-woman', {
                access_token: this.$cookie.get('access_token')
            }).then(feedbackData => {
                if (feedbackData.body.status) {
                    let feedbackFromServer = feedbackData.body.result;
                    for(let i = 0; i < feedbackFromServer.length; i++) {
                        this.feedbacks.push({
                            userName: feedbackFromServer[i].woman.full_name,
                            userId: feedbackFromServer[i].woman.id,
                            id: feedbackFromServer[i].feedback.id,
                            subject: feedbackFromServer[i].feedback.subject,
                            status: feedbackFromServer[i].feedback.subject,
                            created_at: feedbackFromServer[i].feedback.created_at,
							archive: feedbackFromServer[i].feedback.archive
                        })
                    }
                    this.initTable();
                } else {
                    toasrt.error('Не могу загрузить списов обращений')
                }
                this.loading = false;
            }, err => {
                toasrt.error('Не могу загрузить список обращений');
                toasrt.info(err);
            })
        },
        viewFeedback(id) {
            this.$router.push('/feedback/view/' + id);
        },
        answerFeedback(id) {
            this.$router.push('/feedback/view/' + id);
        },
		searchInTable(col, value) {
			this.feedBackTable.column(col)
				.search(value, false, false)
				.draw();
		},
        initTable() {
            moment.locale('ru');
            let order = [[ 5, 'desc' ]]
			if (this.routeSort) order = [[5, 'asc']]
            let answerFeedback = this.answerFeedback;
            let viewFeedback = this.viewFeedback;
            this.feedBackTable = $('#womanFeedbackTable').DataTable({
				order
            });
            $('#womanFeedbackTable_filter').remove();
            $('#womanFeedbackTable_length').remove();
            $('#feedbackPaginate_women').append($('#womanFeedbackTable_paginate'))
            $('#feedbackShow_women').append($('#womanFeedbackTable_info'))
                let feedbacks = this.feedbacks;
            for (let i = 0; i < feedbacks.length; i++) {
                let answered = 'отвечено<span style="display:none">1</span>';
                let created = moment(feedbacks[i].created_at * 1000).format('LLL');
                let action = '<a class="btn btn-primary btn-block view-feedback" data-id="' + feedbacks[i].id + '"><span style="display:none">1</span><i class="fa fa-eye fa-lg text-white"></i></a>';
                if (feedbacks[i].archive == 0) {
                    answered = '<span class="text-red">не отвечено<span style="display:none">0</span></span>';
					action = '<a class="btn btn-primary btn-block answer-feedback" data-id="' + feedbacks[i].id + '"><span style="display:none">0</span><i class="fa fa-edit fa-lg text-white"></i></a>';
                }
                this.feedBackTable.row.add([
                    feedbacks[i].id,
                    feedbacks[i].userId,
                    feedbacks[i].userName,
                    feedbacks[i].subject,
                    answered,
					'<span><span style="display:none">' +  feedbacks[i].created_at + '</span>'+ moment( feedbacks[i].created_at * 1000).format('DD.MM.YYYY HH:mm:ss') +'</span>',
                    action
                ]).draw(false)
            }

            if (this.routeSort) this.searchModelStatus = '0'

            $('#womanFeedbackTable').on('click', '.view-feedback', function (event) {
                viewFeedback($(this).data('id'));
            })

            $('#womanFeedbackTable').on('click', '.answer-feedback', function (event) {
                answerFeedback($(this).data('id'));
            })
        }
    },
    beforeMount() {
        if (!this.$cookie.get('access_token')) {
            this.$router.push('/');
        } else {
            this.fetchData();
        }
    },
    mounted() {

    },
    watch: {
        searchModelId(value) {
            searchInFeedbacks(0, value);
        },
        searchModelStatus(value) {
			this.searchInTable(4, value)
        },
        searchModelUserId(value) {
            searchInFeedbacks(1, value)
        },
        searchModelUserName(value) {
            searchInFeedbacks(2, value)
        }
    },
    components: {
		preloader
    }
}
</script>

<style lang="scss">
    #womanFeedbackTable {
    tr {
        th {
        &:after {
            top: calc((100% - 18px) / 2);
        }
        }
        }
    }
</style>
