<template>
  <div class="row">
    <div class="col-md-12">
      <div class="box box-blue box-solid">
        <div class="box-header with-border">
          <h3 class="box-title">Обратная связь <strong>Клиенты</strong></h3>
        </div>
        <div class="box-body no-padding">
          <form class="row">
            <div class="form-group margin">
              <div class="col-md-2">
                <input type="text"
                       class="form-control"
                       v-model="id"
                       placeholder="ID соообщения">
              </div>
              <div class="col-md-2">
                <input type="text"
                       class="form-control"
                       v-model="user_id"
                       placeholder="ID клиента">
              </div>
              <div class="col-md-2">
                <input type="text"
                       class="form-control"
                       v-model="user_name"
                       placeholder="Имя клиента">
              </div>


              <div class="col-md-2">
                <select class="form-control" v-model="status">
                  <option class="placeholder-option"
                          value=""
                          selected>Статус</option>
                  <option value="1">отвечено</option>
                  <option value="0">не отвечено</option>
                </select>
              </div>
            </div>
          </form>
          <sst :loader="loader" @load="fetchData" :sort="sort" :data="data"
               :count="count" :loadParams="loadParams" :order="order" :pagination="pagination">
            <tr slot="tbody" v-for="i in data" :key="i.id">

              <td>
                <router-link :to="{name: 'Обращение от клиента', params: {id: i.id}}">{{i.id}}</router-link>
              </td>
              <td>
                <router-link :to="{name: 'Профиль клиента', params: {man: i.user_id}}">{{i.user_id}}</router-link>
              </td>
              <td>
                <router-link :to="{name: 'Профиль клиента', params: {man: i.user_id}}">{{i.user_name}}</router-link>
              </td>
              <td>
                {{i.subject}}
              </td>
              <td>
                {{i.email}}
              </td>
              <td>
                <template v-if="+i.status">
                  <strong>отвечено</strong>
                </template>
                <template v-else>
                  <span style="color:red">не отвечено</span>
                </template>
              </td>

              <td>
                {{ date( +i.created_at )}}
              </td>

              <td>
                <router-link :to="{name: 'Обращение от клиента', params: {id: i.id}}" class="btn btn-primary btn-block"><i class="fa fa-edit fa-lg text-white"></i></router-link>
              </td>





            </tr>
          </sst>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>
</template>

<script>
  import moment from 'moment'
  import toastr from 'toastr'
  import _ from 'lodash'
  import sst from '../../custom/serverSideTable.vue'
  import { SS_SORT_TABLE } from '../../../mixins/utils'

  export default {
    props: {
      routeNew: Number,
      routePay: Number,
      routeOnline: Number,
      routeRNew: Number
    },
    data() {
      return {
        loader: true,
        data: [],
        id: '',
        user_id: '',
        user_name: '',
        status: '',
        sort: [
          { active: true, name: 'id', column: 'ID' },
          { active: false, name: 'user_id', column: 'ID клиента' },
          { active: false, name: 'user_name', column: 'Имя клиента' },
          { active: false, name: 'subject', column: 'Тема' },
          { active: false, name: 'email', column: 'Email' },
          { active: false, name: 'status', column: 'Статус' },
          { active: false, name: 'created_at', column: 'Дата создания' },
          { active: false, name: '', column: 'Действие' },
        ],
      }
    },

    mixins: [ SS_SORT_TABLE ],
    watch: {
      id() {
        this.resetPagination();
        this.search();
      },

      user_id() {
        this.resetPagination();
        this.search();
      },
      user_name() {
        this.resetPagination();
        this.search();
      },
      status() {
        this.resetPagination();
        this.fetchData();
      }
    },
    methods: {

      search: _.debounce( function () {
        this.fetchData()
      }, 300 ),
      fetchData() {
        window.scrollTo( 0, 0 );
        this.loader = true;
        this.$http.post( 'v2/feedback/get/all', {
          access_token: this.$cookie.get( 'access_token' ),
          offset: this.loadParams.offset,
          limit: this.loadParams.limit,
          order_type: this.order.type,
          order_by: this.order.by,
          user_type:"man",
          user_id:this.user_id,
          user_name:this.user_name,
          id:this.id,
          status:this.status,


        } ).then( data => {
          if ( data.body.status ) {
            this.data = data.body.result.list;
            this.count = +data.body.result.count;
          } else {
            this.data = [];
            this.count = 0;
            toastr.error( 'Не могу получить данные' );
            toastr.info( data.body.desc );
          }
          this.loader = false;
        }, err => {
          this.loader = false;
          this.data = [];
          this.count = 0;
          toastr.error( 'Ошибка API' );
          console.log( err );
        } )
      },
      date( ts ) {
        if ( this.localTZ ) {
          return moment( ts * 1000 ).format( 'LLL' )
        }
        return moment( ts * 1000 ).utc().format( 'LLL' )

      }
    },
    mounted() {
      this.$nextTick( () => {
        this.updOrderParams( {
          type: 'desc',
          by: 'id'
        } );
        this.fetchData()
      } )
    },

    components: {
      sst
    }
  }
</script>

<style scoped>
  .is-new {
    border-radius: 8px;
    border: 2px solid #ff4614;
    text-transform: uppercase;
    font-size: 9px;
    font-weight: 700;
    display: flex;
    padding: 0 3px;
    width: 32px;
    height: 17px;
    align-items: center;
    line-height: 1;
    color: #ff4614;
    background: #fff;
    margin-left: 3px;
  }
</style>
