<template>
	<div class="row">
		<div class="col-md-12">
			<div class="box box-blue box-solid">
				<div class="box-header with-border">
					<h3 class="box-title">Клиентки-боты</h3>
					<div class="box-tools pull-right">
						<router-link class="btn btn-success" :to="{name: 'Создание бот-клиентки'}">
							Создать <i class="fa fa-plus"></i>
						</router-link>
					</div>
				</div>
				<div class="box-body no-padding">
					<div style="padding: 10px 10px 0;">
						<div class="row">
							<div class="col-md-1 form-group">
								<input type="text" class="form-control" v-model="id" placeholder="ID">
							</div>
							<div class="col-md-1 form-group">
								<input type="text" class="form-control" v-model="name" placeholder="Имя">
							</div>
							<div class="col-md-1 form-group">
								<select class="form-control" id="online-search" v-model="online">
									<option class="placeholder-option" selected="selected" value="">Онлайн</option>
									<option value="1">онлайн</option>
									<option value="0">офлайн</option>
								</select>
							</div>
							<div class="col-md-1 form-group">
								<select class="form-control" id="webcam-search" v-model="webcam">
									<option class="placeholder-option" selected="selected" value="">Веб-камера
									</option>
									<option value="1">с камерой</option>
									<option value="0">без камеры</option>
								</select>
							</div>
							<div class="col-md-2 form-group">
								<select class="form-control" v-model="status">
									<option class="placeholder-option" value="" selected="selected">Статус</option>
									<option value="active">активные</option>
									<option value="banned">забаненные</option>
									<option value="lock">заблокированные</option>
									<option value="deactivated">удаленные</option>
									<option value="on_creating">на создании</option>
								</select>
							</div>
							<div class="col-md-2 form-group">
								<my-select v-model="partner" :options="displayedPartners"
										   :placeholder="'Партнер'"></my-select>
							</div>
						</div>
					</div>
					<sst :loader="loading" @load="fetchData" :sort="sort" :data="data"
						 :count="count" :loadParams="loadParams" :order="order" :pagination="pagination">
						<tr v-for="i in data" :key="i.id" slot="tbody">
							<td>
								<router-link :to="{name: 'Профиль клиентки', params: {woman: i.id}}"> {{i.id}}
								</router-link>
							</td>
							<td>
								<router-link :to="{name: 'Профиль клиентки', params: {woman: i.id}}">
									<img :src="i.avatar.small" :alt="'Аватар ' + i.name"
										 class="img-responsive img-rounded">
								</router-link>
							</td>
							<td>
								<router-link :to="{name: 'Профиль клиентки', params: {woman: i.id}}">{{i.full_name}}
								</router-link>
							</td>
							<td>
								<span v-if="i.is_online" class="glyphicon glyphicon-ok-circle fa-2x text-green"></span>
								<span v-else="" class="glyphicon glyphicon-remove-circle fa-2x text-red"></span>
							</td>
							<td>
								<span v-if="i.camera === 'yes' || i.camera === 'hd'"
									  class="glyphicon glyphicon-ok-circle fa-2x text-green"></span>
								<span class="glyphicon glyphicon-remove-circle fa-2x text-red"></span>
							</td>
							<td>
								<strong :class="getStatus( i.account_status ).cls">{{getStatus( i.account_status ).text}}</strong>
							</td>
							<td>
								<router-link :to="{name: 'Просмотр партнера', params: {id: i.agency.main.id}}">
									{{i.agency.main.name}} (ID: {{i.agency.main.id}})
								</router-link>
							</td>
							<td>{{date( i.created_at )}}</td>
							<td>{{date( i.last_active )}}</td>
							<td>
								<router-link :to="{name: 'Изменение клиентки', params: { woman: i.id }}" class="btn btn-primary btn-block"><i class="fa fa-edit fa-lg text-white"></i></router-link>
							</td>
						</tr>
					</sst>
				</div>
			</div>
		</div>
	</div>
</template>

<script>

	import toastr from 'toastr'
	import mySelect from '../../custom/select2/select-new.vue'
	import _ from 'lodash'
	import sst from '../../custom/serverSideTable.vue'
	import { SS_SORT_TABLE } from '../../../mixins/utils'

	export default {
		name: 'WomenList',
		props: {
			routeOnline: Number,
			routeWebcam: Number
		},
		mixins: [ SS_SORT_TABLE ],
		data() {
			return {
				loading: true,
				data: [],
				id: '',
				name: '',
				email: '',
				online: '',
				webcam: '',
				status: '',
				mans: [],
				partner: 0,
				branch: 0,
				admin: 0,
				allPartners: [],
				allBranches: [],
				allAdmins: [],
				sort: [
					{ active: false, name: 'id', column: 'ID' },
					{ active: false, name: '', column: 'Аватар' },
					{ active: false, name: 'full_name', column: 'Имя' },
					{ active: false, name: 'is_online', column: 'Онлайн' },
					{ active: false, name: 'camera', column: 'Вебкамера' },
					{ active: false, name: 'account_status', column: 'Статус' },
					{ active: false, name: 'main_agency_name', column: 'Партнер' },
					{ active: false, name: 'created_at', column: 'Дата регистрации' },
					{ active: true, name: 'last_active', column: 'Последняя активность' },
					{ active: false, name: '', column: 'Действие' },
				],
			}
		},
		methods: {
			getStatus( status ) {
				let text, cls;
				switch ( status ) {
					case 'active':
						text = 'активная';
						cls = 'text-green';
						break;
					case 'deactivated':
						text = 'удалена';
						cls = 'text-yellow';
						break;
					case 'banned':
						text = 'забаненная';
						cls = 'text-red';
						break;
					case 'lock':
						text = 'заблокированная';
						break;
					case 'on_creating':
						text = 'на создании';
						break;
				}
				return {
					text,
					cls
				}
			},
			search: _.debounce( function () {
				this.fetchData()
			}, 300 ),
			date( ts ) {
				return moment( ts * 1000 ).format( 'lll' );
			},
			fetchData() {
				window.scrollTo( 0, 0 );
				this.loading = true;
				this.$http.post( 'v2/female/get/list', {
					access_token: this.$cookie.get( 'access_token' ),
					offset: this.loadParams.offset,
					limit: this.loadParams.limit,
					order_type: this.order.type,
					order_by: this.order.by,
					account_status: JSON.stringify( this.usrStatus ),
					id: this.id,
					bot: 1,
					full_name: this.name,
					email: this.email,
					is_online: this.online || '',
					camera: this.webcam,
					main_agency_id: this.partner || '',
				} ).then( response => {
					if ( response.body.status ) {
						this.data = response.body.result;
						this.count = +response.body.count;
					} else {
						toastr.error( response.body.desc )
					}
					this.loading = false;
				}, err => {
					this.loader = false;
					toastr.error( 'Ошибка API' );
					console.log( err );
					this.data = [];
					this.count = 0;
				} );
			},
			fetchPartner() {
				this.$http.post( 'v2/agency/get/list', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( data => {
					if ( data.body.status ) {
						this.allPartners = data.body.result;
					} else {
						toastr.error( 'Не могу загрузить список партнеров' )
						toastr.info( data.body.desc );
					}
				}, err => {
					toastr.error( 'Не могу загрузить список партнеров' )
				} )
			},
		},
		watch: {
			status() {
				this.resetPagination();
				this.fetchData();
			},
			admin() {
				this.resetPagination();
				this.fetchData();
			},
			branch() {
				this.resetPagination();
				this.fetchData();
			},
			partner() {
				this.resetPagination();
				this.fetchData();
			},
			id() {
				this.resetPagination();
				this.search();
			},
			name() {
				this.resetPagination();
				this.search();
			},
			email() {
				this.resetPagination();
				this.search();
			},
			online() {
				this.resetPagination();
				this.fetchData();
			},
			passport() {
				this.resetPagination();
				this.search();
			},
			webcam() {
				this.resetPagination();
				this.search();
			},
			partner() {
				this.resetPagination();
				this.fetchData();
			}
		},
		computed: {
			usrStatus() {
				if ( !this.status ) {
					return [ 'active', 'deactivated', 'banned', 'lock', 'on_creating', 'not_moderated', 'temp_deactivated' ]
				} else {
					return [ this.status ]
				}
			},
			displayedPartners() {
				return this.allPartners.map( i => {
					return {
						id: +i.id,
						name: `${i.name} (id: ${i.id})`
					}
				} )
			},
			displayedBranches() {
				return this.allBranches.map( i => {
					return {
						id: +i.id,
						name: `${i.name} (id: ${i.id})`
					}
				} )
			},
			displayedAdmins() {
				return this.allAdmins.map( i => {
					if ( i.admin_name ) {
						return {
							id: +i.admin_user_id,
							name: `${(i.admin_name.trim() + ' ' + i.admin_surname.trim()).trim()} (id: ${i.admin_user_id})`
						}
					}
					return {
						id: +i.id,
						name: `${i.name.trim()} (id: ${i.id})`
					}
				} )
			},
			displayedWomen() {
				//TODO: fit answers
				return this.allWomen.map( i => {
					if ( 'fullName' in i ) {
						return {
							id: +i.id,
							name: `${i.fullName.trim()} (id: ${i.id})`
						}
					} else if ( 'surname' in i ) {
						return {
							id: +i.user_id,
							name: `${(i.name.trim() + ' ' + i.surname.trim()).trim()} (id: ${i.user_id})`
						}
					}
					return {
						id: +i.id,
						name: `${i.name.trim()} (id: ${i.id})`
					}
				} )
			},
		},
		beforeMount() {
			this.updOrderParams( {
				type: 'desc',
				by: 'last_active'
			} );
			this.fetchData()
			this.fetchPartner();
		},
		components: {
			mySelect,
			sst
		},

	}
</script>

