<template>
    <div>
        <h2 class="page-header">
            <i class="fa fa-plus"></i> Бот клиентка
		</h2>
        <div class="row">
            <div class="col-md-7">
                <form action="" @submit.prevent class="form-horizontal">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li :class="{'active': currentTab === 0}"><a @click="changeTab(0)" href="#main-tab" data-toggle="tab">Главная</a></li>
                            <li :class="{'active': currentTab === 1}"><a href="#contacts" @click="changeTab(1)" data-toggle="tab">Контакты</a></li>
                        </ul>
                        <div class="tab-content no-padding">
                            <div class="tab-pane" id="main-tab" :class="{'active': currentTab === 0}">
                                <ul class="v-list v-list-sm-pad">
                                    <li><label class="col-md-7">Партнер</label>
                                        <div class="col-md-5">
                                            <select disabled="" name="" class="form-control">
                                                <option class="placeholder-option" value=""></option>
                                                <option value="16364" selected="">16364:BotLand</option>
                                                <option value="16364">16364:DreamAngel</option>
                                            </select>
                                        </div></li>
                                    <li><label class="col-md-7">Филиал</label>
                                        <div class="col-md-5">
                                            <select disabled="" name="" class="form-control placeholder-color">
                                                <option class="placeholder-option" selected="" value=""></option>
                                            </select>
                                        </div></li>
                                    <li><label class="col-md-7">Админ</label>
                                        <div class="col-md-5">
                                            <select disabled="" name="" class="form-control placeholder-color">
                                                <option class="placeholder-option" selected="" value=""></option>
                                            </select>
                                        </div></li>
                                    <li>
                                        <label class="col-md-7">Имя</label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" v-model="name" placeholder="Имя">
                                        </div>
                                    </li>
                                    <li>
                                        <label class="col-md-7">Фамилия</label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" v-model="surname" placeholder="Фамилия">
                                        </div>
                                    </li>
                                    <li>
                                        <label class="col-md-7">Отчество</label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" v-model="middle_name" placeholder="Отчество">
                                        </div>
                                    </li>
                                    <li>
                                        <label class="col-md-7">E-mail</label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" v-model="email" placeholder="Email">
                                        </div>
                                    </li>
                                    <li>
                                        <label class="col-md-7">Дата рождения</label>
                                        <div class="col-md-5">
                                            <div class="input-group date d-t-picker" id="birthdayPicker">
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                                <input
                                                    type="text"
                                                    name="date_from"
                                                    class="form-control from-sort"
                                                >
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <label class="col-md-7">Паспорт</label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" v-model="passport" placeholder="EM234241">
                                        </div>
                                    </li>
                                    <li>
                                        <label class="col-md-4">Примечание</label>
                                        <div class="col-md-8">
                                            <textarea v-model="note" class="form-control" placeholder="Примечание" rows="10"></textarea>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-pane" id="contacts"  :class="{'active': currentTab === 1}">
                                <ul class="v-list v-list-sm-pad">
<!--                                    <li>-->
<!--                                      <label class="col-md-7">Национальность</label>-->
<!--                                      <div class="col-md-5">-->
<!--                                        <multiselect v-model="nationality"-->
<!--                                                     label="name"-->
<!--                                                     track-by="name"-->
<!--                                                     :placeholder="'Национальность'"-->
<!--                                                     :options="nationalities"-->
<!--                                                     :multiple="false"-->
<!--                                                     :searchable="true"-->
<!--                                                     :internal-search="true"-->
<!--                                                     :clear-on-select="false"-->
<!--                                                     :close-on-select="true"-->
<!--                                                     :options-limit="300"-->
<!--                                                     :limit="3"-->
<!--                                                     :limit-text="limitNationality">-->
<!--                                          <span slot="noResult">По вашему запросу ничего не найдено</span>-->
<!--                                        </multiselect>-->
<!--                                      </div>-->
<!--                                    </li>-->
                                    <li>
                                        <label class="col-md-7">Страна</label>
                                        <div class="col-md-5">
                                            <multiselect v-model="country" label="name" track-by="name"
                                                         :placeholder="'Страна'" :options="countries" :multiple="false"
                                                         :searchable="true" :internal-search="true"
                                                         :clear-on-select="false" :close-on-select="true"
                                                         :options-limit="300" :limit="3" :limit-text="limitText">
                                                <span slot="noResult">По вашему запросу ничего не найдено</span>
                                            </multiselect>
                                        </div>
                                    </li>
                                    <li>
                                        <label class="col-md-7">Город</label>
                                        <div class="col-md-5">
                                            <multiselect v-model="city" id="ajax" label="name"
                                                         track-by="country_id" :placeholder="'Город'" :options="cities"
                                                         :multiple="false" :searchable="true" :loading="isLoading"
                                                         :internal-search="false" :clear-on-select="false"
                                                         :close-on-select="true" :options-limit="300" :limit="3"
                                                         :limit-text="limitText" @search-change="asyncCity">
                                                <span slot="noResult">По вашему запросу ничего не найдено</span>
                                            </multiselect>
                                        </div>
                                    </li>
                                    <li>
                                        <label class="col-md-7">Адрес</label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" v-model="address" placeholder="Адресс">
                                        </div>
                                    </li>
                                    <li>
                                        <label class="col-md-7">Телефон</label>
                                        <div class="col-md-5">
                                            <input type="text" v-model="phone" class="form-control" placeholder="+38 0## ## ## ###">
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix text-right">
                        <a class="btn btn-primary btnNext" v-if="currentTab === 0" @click="changeTab(1)" href="#contacts">Дальше <i class="fa fa-long-arrow-right"></i></a>
                        <a class="btn btn-primary btnNext" v-if="currentTab === 1" @click="add" href="#contacts">Сохранить</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import Multiselect from 'vue-multiselect';
    import toastr from 'toastr';
    import moment from 'moment';
    export default {
        name: 'CreateBotWoman',
        data() {
            return {
                passport: '',
                surname: '',
                middle_name: '',
                isLoading: false,
                name: '',
                email: '',
                birthday: '',
                status: 'active',
                bot: 0,
                note: '',
                nationality: '',
                country: '',
                city: '',
                address: '',
                phone: '',
                countries: [],
                nationalities: [],
                cities: [],
                currentTab: 0
            }
        },
        methods: {
            changeTab(number) {
                this.currentTab = number;
            },
            limitText (count) {
                return `and ${count} other countries`
            },
            limitNationality (count) {
              return `and ${count} other nationalities`
            },
            asyncCity (query) {
                this.isLoading = true;
                this.$http.post(this.config.api.frontend + '/v2/guest/get-city', {
                    city_name: query,
                    country_id: this.country.id
                }).then(data => {
                    this.isLoading = false;
                    if (data.body.status) {
                        this.cities = data.body.result;
                    }
                }, err => {
                    this.isLoading = false
                });
            },
            fetchNationalities() {
              this.$http.post(this.config.api.frontend + '/v2/guest/get-nationality', {})
                  .then(data => {
                    if (data.body.status) {
                      this.nationalities = data.body.result;
                    } else {
                      toastr.error('Не могу загрузить список национальностей')
                    }
                  }, err => {
                    console.log(err);
                  })
            },
            fetchCountry() {
                this.$http.post(this.config.api.frontend + '/v2/guest/get-country', {})
                    .then(data => {
                        if (data.body.status) {
                            this.countries = data.body.result;
                        } else {
                            toastr.error('Не могу загрузить список стран')
                        }
                    }, err => {
                        console.log(err);
                    })
            },
            add() {
                if(this.email === '') {
                    toastr.error('Email обязательное поле');
                }else {
                    this.$http.post('v2/female/create/bot', {
                        access_token: this.$cookie.get('access_token'),
                        name: this.name,
                        surname: this.surname,
                        middle_name: this.middle_name,
                        email: this.email,
                        account_status: 'active',
                        birthday: moment(this.birthday).format('X'),
                        note: this.note,
                        nationality: this.nationality.name,
                        address_country: this.country.name,
                        address_city: this.city.name,
                        address: this.address,
                        phone_number: this.phone,
                        passport: this.passport
                    }).then(data => {
                        if(data.body.status) {
                            toastr.success('Пользователь сохранен');
                            setTimeout(() => {
                                this.$router.push('/woman/edit/' + data.body.result.id + '#appearance');
                            }, 1000)
                        }else {
                            toastr.error('Не могу сохранить пользователя');
                            toastr.info(data.body.desc);
                        }
                    }, err => {
                        toastr.error('Не могу сохранить пользователя');
                        console.log(err);
                    })
                }
            }
        },
        beforeMount() {
            this.fetchCountry();
            this.fetchNationalities();
        },
        components: {
            Multiselect
        },
        mounted() {
            $("#birthdayPicker").datetimepicker({
                useCurrent: true,
                format: 'DD.MM.YYYY',
                locale: 'ru',
            });

            $('#birthdayPicker').on("dp.change", (e) => {
                let date = e.date;
                this.birthday = date._d;
            });
        }
    }
</script>
