 <template>
    <div>
        <h2 class="page-header">
            <i class="fa fa-plus"></i> Бот-Клиентка
		</h2>
        <div class="row">
            <div class="col-md-7">
                <form action="" method="POST" class="form-horizontal">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#main-tab" data-toggle="tab">Главная</a></li>
                            <li><a href="#contacts" data-toggle="tab">Контакты</a></li>
                        </ul>
                        <div class="tab-content no-padding">
                            <!-- .tab-pane -->
                            <div class="active tab-pane" id="main-tab">
                                <ul class="v-list v-list-sm-pad">
                                    <li><label  class="col-md-7">Партнер</label>
                                        <div class="col-md-5">
                                            <select disabled name="" class="form-control">
                                                <option class="placeholder-option" value=""></option>
                                                <option value="16364" selected>16364:BotLand</option>
                                                <option value="16364">16364:DreamAngel</option>
                                            </select>
                                        </div></li>
                                    <li><label class="col-md-7">Филиал</label>
                                        <div class="col-md-5">
                                            <select disabled name="" class="form-control">
                                                <option class="placeholder-option" selected value=""></option>
                                            </select>
                                        </div></li>
                                    <li><label class="col-md-7">Админ</label>
                                        <div class="col-md-5">
                                            <select disabled name="" class="form-control">
                                                <option class="placeholder-option" selected value=""></option>
                                            </select>
                                        </div></li>
                                    <li><label class="col-md-7">Имя</label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" value="">
                                        </div></li>
                                    <li><label class="col-md-7">Фамилия</label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" value="">
                                        </div></li>
                                    <li><label class="col-md-7">Отчество</label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" value="">
                                        </div></li>
                                    <li><label class="col-md-7">E-mail</label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" value="">
                                        </div></li>
                                    <li><label class="col-md-7">Паспорт</label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" name="" value="">
                                        </div></li>
                                    <li><label class="col-md-4">Примечание</label>
                                        <div class="col-md-8">
                                            <textarea name="" class="form-control" rows="10"></textarea>
                                        </div></li>
                                </ul>
                            </div>
                            <!-- /.tab-pane -->
                            <!-- .tab-pane -->
                            <div class="tab-pane" id="contacts">
                                <ul class="v-list v-list-sm-pad">
                                    <li><label class="col-md-7">Страна</label>
                                        <div class="col-md-5">
                                            <select name="" class="form-control">
                                                <option value="" selected="selected"></option>
                                                <option value="123">Украина</option>
                                                <option value="124">Россия</option>
                                            </select>
                                        </div></li>
                                    <li><label class="col-md-7">Город</label>
                                        <div class="col-md-5">
                                            <select name="" class="form-control">
                                                <option value="" selected="selected"></option>
                                                <option value="">Киев</option>
                                                <option value="">Николаев</option>
                                                <option value="">Херсон</option>
                                                <option value="">Одесса</option>
                                            </select>
                                        </div></li>
                                    <li><label class="col-md-7">Адрес</label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" value="">
                                        </div></li>
                                    <li><label  class="col-md-7">Телефон</label>
                                        <div class="col-md-5">
                                            <input type="text" value=""
                                                   class="form-control">
                                        </div></li>
                                    <li><label class="col-md-7">Скайп</label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" value="">
                                        </div></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix text-right">
                        <a class="btn btn-primary btnNext" href="#contacts">Дальше <i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'WomanBotCreate'
    }
</script>
