<template>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-blue box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Рассылки</h3>
                    <div class="box-tools pull-right">
                        <router-link to="/woman/distribution/create">
                            <a class="btn btn-success">Создать <i class="fa fa-plus"></i></a>
                        </router-link>
                    </div>
                </div>
                <div class="box-body no-padding">
                    <form class="row">
                        <div class="form-group margin">
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="ID" v-model="searchById">
                            </div>
                            <div class="col-md-2">
                                <my-select :options="allPartners" :placeholder="'Партнер'"
                                           :callback="selectPartnerCallback"
                                           :className="'moderation-woman-partner-select'"></my-select>

                            </div>
                            <div class="col-md-2">
                                <my-select :options="showBranches" :placeholder="'Филиал'"
                                           :callback="selectBranchCallback"
                                           :className="'moderation-woman-branch-select'"></my-select>
                            </div>
                            <div class="col-md-2">
                                <my-select :options="showAdmins" :placeholder="'Админ'"
                                           :callback="selectAdminCallback"
                                           :className="'moderation-woman-admin-select'"></my-select>
                            </div>
                            <div class="col-md-2">
                                <my-select :options="showWomen" :placeholder="'Клиентка'"
                                           :callback="selectWomanCallback"
                                           :className="'moderation-woman-photo'"></my-select>
                            </div>
                            <div class="col-md-2">
                                <select class="form-control" v-model="searchByStatus">
                                    <option class="placeholder-option" value="" selected>Статус</option>
                                    <option value="active" selected>активные</option>
                                    <option value="banned">забаненные</option>
                                    <option value="locked">заблокированные</option>
                                    <option value="deactivated">удаленные</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <select class="form-control placeholder-color" v-model="dStatus">
                                    <option class="placeholder-option" value="">Статус рассылки</option>
                                    <option value="accept">выполнена</option>
                                    <option value="free">на модерации</option>
                                    <option value="reject">отклонена</option>
                                </select>
                            </div>
                        </div>
                    </form>
                    <div v-show="loading">
                        <preloader></preloader>
                    </div>
                    <div class="table-responsive" v-show="!loading">
                    <table class="table table-bordered table-striped" id="deliveryModerationTable">
                        <thead>
                        <tr>
                            <th style="min-width: 40px;">ID
                            </th>
                            <th class="sm-td">Клиентка
                            </th>
                            <th>Статус
                            </th>
                            <th>Тема
                           </th>
                            <th>Статус рассылки
                            </th>
                            <th class="sm-td">Партнер
                            </th>
                            <th class="sm-td">Филиал
                            </th>
                            <th class="sm-td">Админ
                            </th>
                            <th class="sm-td">Дата создания
                            </th>
                            <th>Действие</th>
                        </tr>
                        </thead>
                    </table>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
            <div class="row">
                <div class="col-md-6">
                    <div class="margin-top" id="cropPhotoInfo">

                    </div>
                </div>
                <div class="col-md-6">
                    <ul class="pagination pull-right" id="cropPhotoPagination">

                    </ul>
                </div>
            </div>
        </div>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#cropModal"
                id="modalTrigger" style="display: none;">
            Launch demo modal
        </button>
        <div class="modal fade" id="cropModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document" >
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Разрешить установку как аватар?</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="img-container">
                                    <img src="" class="cropImageInModal img-responsive">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-md-6">

                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="btn btn-danger" @click="closeCropModal">Отклонить фото</div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="btn btn-success" @click="saveModeration">
                                            Принять
										</div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import toastr from 'toastr'
    import moment from 'moment'
    import Cropper from 'cropperjs'
    import mySelect from '../../custom/select2/component.vue'
	import preloader from '../../custom/normalPreloader/component.vue'
    export default {
        name: 'AvatarModeration',
        data() {
            return {
                table: null,
                photos: [],
                allPartners: [],
                allBranches: [],
                allAdmins: [],
                showBranches: [],
                showAdmins: [],
                searchById: '',
                searchByStatus: '',
                cropper: null,
                moderationObject: {},
                allWomen: [],
                showWomen: [],
                dStatus: '',
                loading: true,
            }
        },
        watch: {
            searchById(value) {
                this.searchInTable(0, value)
            },
            searchByStatus(value) {
                this.searchInTable(2, value)
            },
            dStatus(value) {
                this.searchInTable(4, value)
            }
        },
        methods: {
            fetchAdminsByAgency(id) {
                this.$http.post('v2/agency/get/admin-in-agency', {
                    access_token: this.$cookie.get('access_token'),
                    agency_id: id
                }).then(data => {
                    if(data.body.status) {
                        this.showAdmins = data.body.result
                    }else {
                        toastr.error('Не могу загрузить список админов')
                    }
                }, err => {
                    toastr.error('Не могу загрузить список админов');
                    console.log(err);
                });
            },
            fetchWomanByAgency(value) {
                this.$http.post('v2/agency/get/woman-in-agency', {
                    access_token: this.$cookie.get('access_token'),
                    agency_id: value
                }).then(data => {
                    if (data.body.status) {
                        this.showWomen = data.body.result;
                        this.allPartners.forEach(p => {
                            if (p.id == value) {
                                this.showBranches = p.agency_branches
                            }
                        })
                    }
                })
            },
            selectBranchCallback(value) {
                if(value) {
                    this.allBranches.forEach(branch => {
                        if(branch.id == value) {
                            this.searchInTable(6, branch.name);
                        }
                    })
                    this.fetchAdminsByAgency(value);
                    this.fetchWomanByAgency(value);
                }else {
                    this.searchInTable(6, '');
                }
            },
            selectAdminCallback(value) {
                if(value) {
                    this.allAdmins.forEach(admin => {
                        if(admin.id == value) {
                            this.searchInTable(7, admin.name);
                        }
                    });
                    this.$http.post('v2/agency/get/agency-woman', {
                        access_token: this.$cookie.get('access_token'),
                        admin_id: value
                    }).then(data => {
                        if(data.body.status) {
                            this.showWomen = [];
                            data.body.result.forEach(woman => {
                                this.showWomen.push({
                                    id: woman.id,
                                    name: woman.fullName
                                })
                            })
                        }else {
                            toastr.error('Не могу получить список клиенток под админом');
                            toastr.info(data.body.desc);
                        }
                    }, err => {
                        toastr.error('Не могу получить скписок клиенток под админом');
                        console.log(err)
                    })
                }else {
                    this.showAdmins = this.allAdmins;
                    this.searchInTable(7, '')
                }
            },
            selectPartnerCallback(value) {
                if (value) {
                    this.allPartners.forEach(partner => {
                        if(partner.id == value) {
                            this.searchInTable(5, partner.name);
                        }
                    });
                    this.showWomen = [];
                    this.showAdmins = [];
                    this.fetchAdminsByAgency(value);
                    this.fetchWomanByAgency(value);
                } else {
                    this.searchInTable(5, '');
                    this.showWomen = this.allWomen;
                    this.showBranches = this.allBranches;
                    this.showAdmins = this.allAdmins;
                }
            },
            selectWomanCallback(value) {
                if (value) {
                    this.allWomen.forEach(w => {
                        if(w.id == value) {
                            this.searchInTable(1, w.name)
                        }
                    })
                } else {
                    this.searchInTable(1, '')
                }
            },
            fetchBranches() {
                this.$http.post('v2/agency/get/branches', {
                    access_token: this.$cookie.get('access_token')
                }).then(data => {
                    if (data.body.status) {
                        this.allBranches = data.body.result;
                        this.showBranches = this.allBranches
                    } else {
                        toastr.error('Не могу получить список филиалов')
                        toastr.info(data.body.desc)
                    }
                }, err => {
                    toastr.error('Не могу получить список филиалов')
                })
            },
            fetchAdmins() {
                this.$http.post('v2/agency/get/admins', {
                    access_token: this.$cookie.get('access_token')
                }).then(data => {
                    if(data.body.status) {
                        let admins = data.body.result;
                        let adminsPrettyArray = [];
                        admins.forEach(a => {
                            adminsPrettyArray.push({
                                id: a.admin_user_id,
                                name: a.admin_name + ' ' + a.admin_surname,
                            })
                        })
                        this.allAdmins = adminsPrettyArray;
                        this.showAdmins = adminsPrettyArray;
                    }else {
                        toastr.error('Не могу получить список админов сайта')
                    }
                }, err => {
                    toastr.error('Не могу получить список админов сайта')
                })
            },
            fetchPartner() {
                this.$http.post('v2/agency/get/list', {
                    access_token: this.$cookie.get('access_token')
                }).then(data => {
                    if (data.body.status) {
                        this.allPartners = data.body.result;
                    } else {
                        toastr.error('Не могу загрузить список партнеров')
                        toastr.info(data.body.desc);
                    }
                }, err => {
                    toastr.error('Не могу загрузить список партнеров')
                })
            },
            fetchWomen() {
                this.$http.post('v2/femal/load-list', {
                    access_token: this.$cookie.get('access_token')
                }).then(data => {
                    if (data.body.status) {
                        let normalArray = [];
                        data.body.result.forEach(woman => {
                            normalArray.push({
                                id: woman.user_id,
                                name: woman.name + ' ' + woman.surname
                            })
                        })
                        this.allWomen = normalArray;
                        this.showWomen = normalArray;
                    } else {
                        toastr.error('Не могу загрузить список клиенток')
                    }
                }, err => {
                    toastr.error('Не могу загрузить список клиенток')
                })
            },
            searchInTable(col, value) {
                if (this.table !== null) {
                    this.table.column(col)
                        .search(value, false, false)
                        .draw();
                }
            },
            closeCropModal() {
                this.$http.post('v2/moderation/moderate/avatar', {
                    access_token: this.$cookie.get('access_token'),
                    moderation_id: this.moderationObject.moderation,
                    status: 'reject',
                }).then(data => {
                    if (data.body.status) {
                        toastr.success('Отклонено!')
                        setTimeout(() => {
                            this.fetchData();
                            document.querySelector('#modalTrigger').click();
                        }, 300)
                    } else {
                        toastr.error('Ошибка отклонения фото!')
                        toastr.info(data.body.desc)
                    }
                }, err => {
                    toastr.error('Ошибка обработки фото!')
                })
            },
            saveModeration() {
                toastr.info('Начинаю обработку фото!');
                this.$http.post('v2/moderation/moderate/avatar', {
                    access_token: this.$cookie.get('access_token'),
                    moderation_id: this.moderationObject.moderation,
                    status: 'accept',
                }).then(data => {
                    if (data.body.status) {
                        toastr.success('Фото промодерировано!')
                        setTimeout(() => {
                            document.querySelector('#modalTrigger').click();
                            this.fetchData();
                        }, 300)
                    } else {
                        toastr.error('Ошибка обработки фото!')
                        toastr.info(data.body.desc)
                    }
                }, err => {
                    toastr.error('Ошибка обработки фото!')
                })
            },
            setModerationParams(obj) {
                this.moderationObject = obj;
            },
            fetchData() {
            	this.loading = true;
                this.fetchWomen();
                this.$http.post('v2/female/distribution/ge', {
                    access_token: this.$cookie.get('access_token')
                }).then(data => {
                    if (data.body.status) {
                        this.photos = data.body.result;
                        this.initTable();
                        this.fetchPartner();
                        this.fetchBranches();
                        this.fetchAdmins();
                    } else {
                        toastr.error(data.body.desc)
                    }
                    this.loading = false;
                }, err => {
                    toastr.error('Не могу получить список фото')
                })
            },
            initTable() {
                if(this.table !== null) {
                    this.table
                        .clear()
                        .draw();
                }
                this.table = $('#deliveryModerationTable').DataTable();
                $('#deliveryModerationTable_filter').remove();
                $('#deliveryModerationTable_length').remove();
                $('#cropPhotoPagination').append($('#deliveryModerationTable_paginate'))
                $('#cropPhotoInfo').append($('#deliveryModerationTable_info'))
                let photos = this.photos;
                photos.forEach(data => {
                    let status = '<strong>активная <span style="display: none">'+data.status+'</span> </strong>';
                    if(data.status == 'deactivated') {
                        status = '<span class="text-yellow">удалена <span style="display: none">'+data.status+'</span></span>'
                    }
                    if(data.status == 'deactivated') {
                        status = '<strong class="text-red">забанена <span style="display: none">'+data.status+'</span></strong>'
                    }
                    let distributionStatus = '<span>на модерации <span style="display: none;">free</span></span>';
                    if(data.moderation_site === 'reject') {
                    	distributionStatus = '<span>отклонена <span style="display: none;">reject</span> </span>';
                    } else if(data.moderation_site === 'accept') {
                    	distributionStatus = '<strong>выполнена<span style="display: none;">accept</span></strong>';
                    }
                    this.table.row.add([
                        data.id,
                        '<a class="show-woman" data-id="'+data.user.id+'">' + data.user.name + '(' + data.user.id + ')' + '</a>',
                        status,
                        data.subject,
                        distributionStatus,
                        data.user.agency.name + '<span style="display: none;">' + data.user.agency.id + '</span>',
                        data.user.branch.name + '<span style="display: none;">' + data.user.branch.id + '</span>',
                        data.user.admin.name + '<span style="display: none;">' + data.user.admin.id + '</span>',
                        moment(data.created_at * 1000).format('LLL'),
                        '<a class="btn btn-primary btn-block show-woman-delivery" data-id="'+data.id+'"><i  data-id="'+data.id+'" class="fa fa-eye fa-lg text-white"></i></a>'
                    ]).draw(false)
                })
            }
        },
        beforeMount() {
            this.fetchData();
        },
        mounted() {
            $('#deliveryModerationTable').on('click', '.show-woman-delivery', (event) => {
                let id = event.target.dataset.id;
                this.$router.push('/woman/distribution/' + id)
            })

            $('#deliveryModerationTable').on('click', '.show-woman', (event) => {
                let id = event.target.dataset.id;
                this.$router.push('/woman/view/' + id)
            })
        },
        components: {
            'my-select': mySelect,
            preloader
        }
    }
</script>

<style>
    .large-preview {
        display: flex;
        flex-direction: row;
    }
</style>
