<template>
  <div>
    <h2 class="page-header">Создание рассылки </h2>
    <div class="row">
      <div class="col-md-12">
        <!-- form start -->
        <form method="POST" action="" class="form-horizontal">
          <div class="form-group row">
            <label class="col-md-1 m-t-0">От:</label>
            <div class="col-md-4" style="margin-bottom: 15px">
              <my-select :options="women" :placeholder="'Клиентка'" :className="'select-woman-delivery'"
                         :callback="selectedWoman"></my-select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-1 m-t-0">Фильтр:</label>

            <div class="col-md-3 margin-bottom">
              <span class="margin-right">
                <input type="checkbox" v-model="distribution.setting_favorite" id="online-distr">
                Фавориты <i class="fa fa-heart text-red"></i>
						  </span>
              <span class="margin-right">
                <input type="checkbox" v-model="distribution.setting_bookmark" id="online-distr">
                Закладки <i class="fa fa-star text-yellow"></i>
						  </span>
              <span class="margin-right">
                <input type="checkbox" v-model="distribution.setting_other" id="online-distr">
                Остальные
						  </span>
            </div>
            <label class="col-md-2 m-t-1"></label>
          </div>
          <div class="form-group row">
            <div class="col-md-8 col-md-offset-1">
              <div class="row">
              <div class="col-md-3">
              <select class="form-control bottom-buffer" v-model="selectedFilter" >
                <option selected="selected" value="all">все</option>
                <option value="new">только со статусом "новые" <i class="fa fa-star text-yellow"></i></option>
                <option value="birthday">только именинники</option>
              </select>
            </div>
                <label class="col-md-3 m-t-1"></label>
              </div>
            </div>
          </div>
          <selectMenModal @blacklistChange="blacklistChange" :blacklist="blacklist"></selectMenModal>
          <div class="row margin-bottom top-buffer">
            <label class="col-md-1 m-t-0">Тема:</label>
            <div class="col-md-4">
              <input type="text" class="form-control" id="for-theme" v-model="distribution.subject"
                     placeholder="Тема письма">
            </div>
          </div>
          <div class="row form-group">
            <label class="col-md-1 m-t-0">Текст письма:</label>
            <div class="col-md-4">
              <div class="row margin-bottom">
                <!--<div class="col-md-6">-->
                  <!--<input type="text" class="form-control" v-model="distribution.greeting" placeholder="Приветствие">-->
                <!--</div>-->
                <!--<label class="col-md-6">[тут будет имя мужчины],</label>-->
                <div class="col-md-12">
                  <br><br>
                  Используйте Имя получателя: <b class="text-red">%name%</b>

                </div>
              </div>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-offset-1 col-md-5">
              <app-editable class="col-md-10 m-h"
                            v-model="distribution.text"></app-editable>
            </div>

          </div>
          <div class="row">
            <div class="col-md-offset-1 col-md-2">
              <p class="text-counter">Кол. символов -
                {{distribution.text.length}}</p>
            </div>
            <div class="col-md-offset-1 col-md-2">
              <a @click.prevent="selectPhotoModalShow()">
                <h5 class="text-green"><i class="fa fa-paperclip"></i> прикрепить фото</h5>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-offset-1 col-md-5">

              <div class="row">
                <nav v-if="!photosLoading" class="photo-nav photo-list-lastp margin-bottom">
                  <a v-for="item in attachmentsNew" :href="item.path.photo_origin">
                    <img :src="item.path.photo_small">
                    <span class="fa fa-times-circle del-photo"
                          @click.stop.prevent="removeFromAttachments(item.id)"></span>
                  </a>
                </nav>
              </div>

            </div>
          </div>

          <div class="row">
            <div class="col-md-5 text-right">
              <button type="submit" class="btn btn-primary" @click.prevent="createDistribution">Создать рассылку
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <selectPhotoModal v-if="flagModal" @close="modalClose" :userId="+user.id" :attachments="attachments"
                      @newPhotoSelected="handleSelectedPhotos" :attachmentsNew="attachmentsNew"></selectPhotoModal>
  </div>
</template>

<script>
  import moment from 'moment'
  import toastr from 'toastr'
  import mySelect from '../../custom/select2/component.vue'
  import AppEditable from '../../custom/ContentEditable.vue'
  import {CLEAN_HTML} from '../../../mixins/cleanHtml'
  import {UPDATE_USER_COUNTER} from '../../../mixins/updateUserCounters'
  import selectPhotoModal from '../../custom/selectPhotoModal/component.vue'
  import selectMenModal from '../../custom/selectMenModal/component.vue'

  export default {
    name: 'DeliveryCreate',
    data() {
      return {
        flagModal: false,
        photosLoading: true,
        distribution: {
          subject: "",
          greeting: "Hello",
          text: "",
          setting_new: false,
          setting_birthday: false,
          setting_favorite: false,
          setting_bookmark: false,
          setting_other: false,
        },
        user: {
          id: 0,
          name: ''
        },
        blacklist: [],
        attachments: [],
        attachmentsNew: [],
        selectedFilter: 'all',
        women: [],
        selectedFrom: false
      }
    },
    watch: {
      'distribution.text': function (v) {
        //console.log(v)
        this.distribution.text = this.cleanHtml(this.distribution.text)
      },
      photosLoading(val) {
        if (!val) {
          this.initlightGallery()
        }
      }

    },
    methods: {

      initlightGallery(){
        console.log('init galery')
        $('.photo-nav').lightGallery("destroy");
        setTimeout(() => {
          $('.photo-nav').lightGallery();
        }, 200)
      },

      blacklistChange(value) {
        this.blacklist = value
        console.log("blacklist")
      },
      handleSelectedPhotos(value) {
        this.photosLoading = true;
        this.attachmentsNew = value
        setTimeout(() => {
          this.photosLoading = false;
        }, 200)
      },
      selectPhotoModalShow() {
        if (this.user.id == 0) {
          toastr.error('Выберите клиентку!');
        } else {
          this.flagModal = true
        }

      },
      modalClose() {
        this.flagModal = false
      },
      selectedWoman(value) {
        if (value) {
          this.user.id = value
          this.selectedFrom = true;
          console.log("woman change")
          this.getBlackList()
        } else {
          this.selectedFrom = false;
        }
      },
      removeFromAttachments(id) {
        console.log(this.attachments)
        let count = 0;
        this.attachmentsNew.forEach(photo => {
          if (photo.id == id) {
            this.attachmentsNew.splice(count, 1);
          } else {
            count++;
          }
        })
        console.log(this.attachments)
      },

      getBlackList(){
        this.blacklist = []
        this.$http.post('v2/female/distribution/get/blacklist', {
          access_token: this.$cookie.get('access_token'),
          user_id: this.user.id,
        }).then(data => {
          if (data.body.status) {
            //this.blacklist = data.body.result;
            let blacklist_obj = {}
            data.body.result.forEach(obj => {
              blacklist_obj = {
                avatar: obj.avatar,
                id: obj.user_id,
                name: obj.name
              }
              this.blacklist.push(blacklist_obj);
            });
            console.log(this.blacklist)
          } else {
            toastr.error('Ошибка');


          }
        }, err => {
          toastr.error('Не могу создать рассылку');
          console.log(err);
        })

      },

      createDistribution() {

        if ( this.validation == true ) {

          let prettyBlacklist = [];
          let prettyAttachments = [];
          let setting_favorites = 0;
          let setting_bookmarks = 0;
          let setting_other = 0;
          let setting_new = 0;
          let setting_birthday = 0;

          if (this.distribution.setting_favorite === true || this.distribution.setting_favorite === 1) {
            setting_favorites = 1;
          }
          if (this.distribution.setting_bookmark === true || this.distribution.setting_bookmark === 1) {
            setting_bookmarks = 1;
          }
          if (this.distribution.setting_other === true || this.distribution.setting_other === 1) {
            setting_other = 1;
          }


          if (this.selectedFilter === 'new') {
            setting_new = 1;
          }
          if (this.selectedFilter === 'birthday') {
            setting_birthday = 1;
          }

          this.blacklist.forEach(item => {
            prettyBlacklist.push(item.id);
          });
          this.attachmentsNew.forEach(attach => {
            prettyAttachments.push(attach.id);
          });


          this.$http.post('v2/female/distribution/create', {
            access_token: this.$cookie.get('access_token'),
            user_id: this.user.id,
            subject: this.distribution.subject,
            text: this.distribution.text,
            greeting: this.distribution.greeting,
            setting_new: setting_new,
            setting_birthday: setting_birthday,
            setting_favorite: setting_favorites,
            setting_bookmark: setting_bookmarks,
            setting_other: setting_other,
            black_list_user_id: JSON.stringify(prettyBlacklist).toString(),
            attachments: JSON.stringify(prettyAttachments).toString()
          }).then(data => {
            if (data.body.status) {
              toastr.success('Рассылка успешно создана');
              this.$router.push('/woman/distributions');
            } else {
              toastr.error('Не могу создать рассылку');
              for (let err in  data.body.valid_error) {
                toastr.info(data.body.valid_error[err]);
              }

            }
          }, err => {
            toastr.error('Не могу создать рассылку');
            console.log(err);
          })
        } else {
          toastr.error( this.validation );
        }
      },

      fetchWomen() {
        this.$http.post('v2/femal/load-list', {
          access_token: this.$cookie.get('access_token')
        }).then(data => {
          if (data.body.status) {
            this.women = [];
            data.body.result.forEach(w => {
              this.women.push({
                id: w.user_id,
                name: w.name + ' ' + w.surname
              })
            })
          } else {
            toastr.error('Не могу получить список клиенток');
          }
        }, err => {
          toastr.error('Не могу получить список клиенток');
          console.log(err);
        })
      },
      removeFromBlacklist(id) {
        let counter = 0;
        this.blacklist.forEach(item => {
          if (item.id == id) {
            this.blacklist.splice(counter, 1);
          } else {
            counter++;
          }
        });
      },
    },
    computed: {
      validation() {
        if ( this.distribution.subject.length < 10) {
          return 'Тема письма должна содержать больше 10 символов'
        }
        else if ( this.distribution.text.length < 200){
          return 'Текст письма должен содержать больше 200 символов'

        }
        else if ( this.distribution.text.length > 5000 ){
          return 'Текст письма должен содержать меньше 5000 символов'
        }
        else if ( this.distribution.subject.length > 250 ){
          return 'Тема письма должна содержать меньше 250 символов'
        }
        else {
          return true
        }
      },
      prettyCreated() {
        return moment(this.distribution.created_at * 1000).format('LLL')
      },
    },
    beforeMount() {
      this.fetchWomen();
    },
    mounted() {


    },
    components: {
      'my-select': mySelect,
      AppEditable,
      selectPhotoModal,
      selectMenModal,


    },
    mixins: [
      CLEAN_HTML,
      UPDATE_USER_COUNTER
    ],
  }
</script>

<style>
  .note-error {
    border-radius: 2px;
    border: solid darkred 2px !important;
  }
  input[type=checkbox] {width:15px; height:15px;}

  .top-buffer {
    margin-top:20px;
  }
  .bottom-buffer {
    margin-bottom:20px;
  }
</style>
