<template>
  <div>
    <h2 class="page-header">Редактирование рассылки </h2>
    <div class="row">
      <div class="col-md-12">
        <!-- form start -->
        <form method="POST" action="" class="form-horizontal">
          <div class="form-group row">
            <label class="col-md-1 m-t-0">От:</label>
            <div class="col-md-5">
              <div class="user-block user-block-md margin-bottom">
                <img class="img-circle" :src="user.avatar.small"
                     :alt="user.name"> <span class="username"> <a
                :href="'/woman/view/' + user.id">{{user.name}}</a>
							</span> <a :href="'/woman/view/' + user.id"><span class="description">ID: {{user.id}}</span></a>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-1 m-t-0">Фильтр:</label>
            <div class="col-md-10 margin-bottom">
                            <span class="margin-right">
                            <input type="checkbox" v-model="distribution.setting_online" id="online-distr"> Онлайн
                        <small class="fa fa-circle text-green"></small>
						</span> <span class="margin-right">
                        <input type="checkbox" v-model="distribution.setting_new"> Новые <small
              class="label bg-red">New</small>
						</span> <span> <input type="checkbox" v-model="distribution.setting_birthday"> Именинники <i
              class="fa fa-birthday-cake text-blue"></i>
						</span>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-4 col-md-offset-1">
              <select class="form-control" v-model="selectedFilter">
                <option value="all">все</option>
                <option value="favorites">мои фавориты</option>
                <option value="bookmarks">мои закладки</option>
              </select>
            </div>
          </div>
          <selectMenModal @blacklistChange="blacklistChange" :blacklist="blacklist"></selectMenModal>
          <div class="row form-group">
            <label class="col-md-1">Тема:</label>
            <div class="col-md-4">
              <input type="text" class="form-control" id="for-theme" v-model="distribution.subject"
                     placeholder="Тема письма">
            </div>
          </div>
          <div class="row form-group">
            <label class="col-md-1">Текст письма:</label>
            <div class="col-md-4">
              <div class="row margin-bottom">
                <div class="col-md-6">
                  <input type="text" class="form-control" v-model="distribution.greeting" placeholder="Приветствие">
                </div>
                <div class="col-md-6">
                  <label class="col-md-2">John,</label>
                </div>

              </div>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-offset-1 col-md-5">
              <app-editable class="col-md-10 m-h"
                            v-model="distribution.text"></app-editable>
            </div>

          </div>
          <div class="row ">
            <div class="col-md-offset-1 col-md-2">
              <p class="text-counter">Кол. символов -
                {{distribution.text.length}}</p>
            </div>
            <div class="col-md-offset-1 col-md-2">
              <a @click.prevent="selectPhotoModalShow()">
                <h5 class="text-green"><i class="fa fa-paperclip"></i> прикрепить фото</h5>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-offset-1 col-md-5">

              <div class="row">
                <nav class="photo-nav photo-list-lastp margin-bottom">
                  <a v-for="item in attachments" :href="item.path">
                    <img :src="item.path">
                    <span class="fa fa-times-circle del-photo"
                          @click.prevent="removeFromAttachments(item.id)"></span>
                  </a>
                  <a v-for="item in attachmentsNew" :href="item.path">
                    <img :src="item.path">
                    <span class="fa fa-times-circle del-photo"
                          @click.prevent="removeFromAttachmentsNew(item.id)"></span>
                  </a>
                </nav>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-5 text-right">
              <button type="submit" class="btn btn-primary" @click.prevent="editDistribution">Изменить рассылку
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <selectPhotoModal v-if="flagModal" @close="modalClose" :userId="+user.id" :attachments="attachments"
                      :attachmentsNew="attachmentsNew"
                      @newPhotoSelected="handleSelectedPhotos"></selectPhotoModal>
  </div>
</template>

<script>
  import moment from 'moment'
  import toastr from 'toastr'
  import mySelect from '../../custom/select2/component.vue'
  import AppEditable from '../../custom/ContentEditable.vue'
  import {CLEAN_HTML} from '../../../mixins/cleanHtml'
  import {UPDATE_USER_COUNTER} from '../../../mixins/updateUserCounters'
  import selectPhotoModal from '../../custom/selectPhotoModal/component.vue'
  import selectMenModal from '../../custom/selectMenModal/component.vue'


  export default {
    name: 'DeliveryCreate',
    props: {
      id: {
        type: Number
      }
    },
    data() {
      return {
        flagModal: false,
        distribution: {
          subject: "",
          greeting: "",
          text: "",
          setting_online: null,
          setting_new: null,
          setting_birthday: null,
          setting_favorite: null,
          setting_bookmark: null,
          setting_all: null,
        },
        user: {
          id: 0,
          name: '',
          avatar: {
            small: ''
          }
        },
        blacklist: [],
        attachments: [],
        attachmentsNew: [],
        selectedFilter: '',
        women: [],
        selectedFrom: false
      }
    },
    watch: {
      'distribution.text': function (v) {
        console.log(v)
        this.distribution.text = this.cleanHtml(this.distribution.text)
      },
    },
    methods: {

      blacklistChange(value) {
        this.blacklist = value
        console.log("blacklist")
      },
      handleSelectedPhotos(value) {
        this.attachmentsNew = value
      },
      selectPhotoModalShow() {
        if (this.user.id == 0) {
          toastr.error('Выберите клиентку!');
        } else {
          this.flagModal = true
        }

      },
      modalClose() {
        this.flagModal = false
      },
      selectedWoman(value) {
        if (value) {
          this.user.id = value
          this.selectedFrom = true;
        } else {
          this.selectedFrom = false;
        }
      },
      removeFromAttachmentsNew(id) {
        let count = 0;
        this.attachmentsNew.forEach(photo => {
          if (photo.id == id) {
            this.attachmentsNew.splice(count, 1);
          } else {
            count++;
          }
        })
      },
      removeFromAttachments(id) {
        let counter = 0;
        App.confirm('Вы хотите удалить это фото из вложений?', confirm => {
          if (confirm) {
            this.$http.post('v2/female/delete/attachment-distribution', {
              access_token: this.$cookie.get('access_token'),
              distribution_id: this.id,
              attachment_id: id
            }).then(data => {
              if (data.body.status) {
                this.attachments.forEach(photo => {
                  if (photo.id == id) {
                    this.attachments.splice(counter, 1);
                  } else {
                    counter++;
                  }
                })
              } else {
                toastr.error('Не могу удалить фото из вложений');
                toastr.info(data.body.desc);
              }
            }, err => {
              console.log(err);
              toastr.error('Не могу удалить фото из вложений');
            })
          }
        });
      },


      fetchDistribution() {
        this.$http.post('v2/female/distribution/get', {
          access_token: this.$cookie.get('access_token'),
          distribution_id: this.id
        }).then(data => {
          if (data.body.status) {
            let result = data.body.result;
            this.distribution = result.distribution;
            //console.log(this.distribution.text)
            this.user = result.user;
            //this.blacklist = result.blacklist;
            //this.attachments = result.attachments;
            this.count_receiver = result.count_receiver;


            let photo_obj = {}
            let blacklist_obj = {}

            result.attachments.forEach(photo => {
              photo_obj = {
                path: photo.photo,
                id: photo.id,
                selected: true
              }
              this.attachments.push(photo_obj);
            });

            result.blacklist.forEach(man => {
              blacklist_obj = {
                id: man.id,
                name: man.name,
                avatar: man.avatar.small
              }
              this.blacklist.push(blacklist_obj);
            });


            if (this.distribution.setting_bookmark == 1) {
              this.selectedFilter = 'bookmarks';
            }

            if (this.distribution.setting_favorite == 1) {
              this.selectedFilter = 'favorites';
            }
            if (this.distribution.setting_all == 1) {
              this.selectedFilter = 'all';
            }


          } else {
            toastr.error('Не могу получить информацию рассылки');
            toastr.info(data.body.desc);
          }
        }, err => {
          toastr.error('Не могу получить информацию рассылки')
          console.log(err);
        })
      },


      editDistribution() {

        let prettyBlacklist = [];
        let prettyAttachments = [];
        let setting_favorites = 0;
        let setting_bookmarks = 0;
        let setting_all = 0;
        let setting_new = 0;
        let setting_birthday = 0;
        let setting_online = 0;

        if (this.distribution.setting_new === 1 || this.distribution.setting_new) {
          setting_new = 1;
        }
        if (this.distribution.setting_online === 1 || this.distribution.setting_online) {
          setting_online = 1;
        }
        if (this.distribution.setting_birthday === 1 || this.distribution.setting_birthday) {
          setting_birthday = 1;
        }

        if (this.selectedFilter === 'favorites') {
          setting_favorites = 1;
        } else if (this.selectedFilter === 'bookmarks') {
          setting_bookmarks = 1;
        } else if (this.selectedFilter === 'all') {
          setting_all = 1;
        }
        this.attachmentsNew.forEach(attach => {
          prettyAttachments.push(attach.id);
        });
        this.blacklist.forEach(item => {
          prettyBlacklist.push(item.id);
        });

        this.$http.post('v2/moderation/update/distribution', {
          access_token: this.$cookie.get('access_token'),
          distribution_id: this.id,
          subject: this.distribution.subject,
          text: this.distribution.text,
          greeting: this.distribution.greeting,
          setting_online: setting_online,
          setting_new: setting_new,
          setting_birthday: setting_birthday,
          setting_favorite: setting_favorites,
          setting_bookmark: setting_bookmarks,
          setting_all: setting_all,
          black_list_user_id: JSON.stringify(prettyBlacklist).toString(),
          attachments: JSON.stringify(prettyAttachments).toString()
        }).then(data => {
          if (data.body.status) {
            toastr.success('Рассылка отредактирована');
            this.$router.push({ name: 'Рассылка',params: { id: this.id }})
            //this.$router.push('/moderation/delivery/' + this.$route.params.delivery);
          } else {
            toastr.error('Не удалось отредактировать рассылку');
            toastr.info(data.body.desc);
          }
        }, err => {
          toastr.error('Не удалось отредактировать рассылку');
          console.log(err);
        })

      },

      fetchWomen() {
        this.$http.post('v2/femal/load-list', {
          access_token: this.$cookie.get('access_token')
        }).then(data => {
          if (data.body.status) {
            this.women = [];
            data.body.result.forEach(w => {
              this.women.push({
                id: w.user_id,
                name: w.name + ' ' + w.surname
              })
            })
          } else {
            toastr.error('Не могу получить список клиенток');
          }
        }, err => {
          toastr.error('Не могу получить список клиенток');
          console.log(err);
        })
      },
      removeFromBlacklist(id) {
        let counter = 0;
        this.blacklist.forEach(item => {
          if (item.id == id) {
            this.blacklist.splice(counter, 1);
          } else {
            counter++;
          }
        });
      },
    },
    computed: {

      prettyCreated() {
        return moment(this.distribution.created_at * 1000).format('LLL')
      },
    },
    beforeMount() {
      this.fetchWomen();
    },
    mounted() {
      this.fetchDistribution()
    },
    components: {
      'my-select': mySelect,
      AppEditable,
      selectPhotoModal,
      selectMenModal,


    },
    mixins: [
      CLEAN_HTML,
      UPDATE_USER_COUNTER
    ],
  }
</script>

<style>
  .note-error {
    border-radius: 2px;
    border: solid darkred 2px !important;
  }
</style>
