<template>
  <div v-if="!photosLoading">
    <h2 class="page-header">
      <div class="row">
        <div class="col-sm-8 text-left">
          {{getName}} ID: {{id}}


          <router-link v-if="(distribution.moderation_site === 'free')"
                       :to="{name: 'Редактирование рассылки', params: {id: id}}">
            <a class="btn btn-success">
              <i class="fa fa-lg fa-edit"></i>
            </a>
          </router-link>
        </div>
      </div>
    </h2>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group row">
          <label class="col-md-2 m-t-0">Дата создания:</label>
          <div class="col-md-8">{{prettyCreated}}</div>
        </div>
        <div class="form-group row">
          <label class="col-md-2 m-t-0">Статус:</label>
          <div class="col-md-8">
            <strong v-html="moderationStatus"></strong>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-2 m-t-0">От:</label>
          <div class="col-md-8">
            <div class="user-block user-block-md margin-bottom">
              <img class="img-circle" :src="user.avatar.small" :alt="user.name">
              <span class="username"> <a
                :href="'/woman/view/' + user.id">{{user.name}}</a>
							</span> <a :href="'/woman/view/' + user.id"><span class="description">ID: {{user.id}}</span></a>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-2 m-t-0">Получатели:</label>
          <div class="col-md-10">
            <template v-if="distribution.moderation_site === 'accept'">
              <div class="margin-bottom">запланировано: <strong>{{count_receiver}}</strong></div>
              <div class="margin-bottom">отправлено: <strong>{{receiver_count_success}}</strong></div>
            </template>


            <span class="margin-right">
                <input disabled type="checkbox" v-model="distribution.setting_favorite" id="online-distr">
                Фавориты <i class="fa fa-heart text-red"></i>
						  </span>
            <span class="margin-right">
                <input disabled type="checkbox" v-model="distribution.setting_bookmark" id="online-distr">
                Закладки <i class="fa fa-star text-yellow"></i>
						  </span>
            <span class="margin-right">
                <input disabled type="checkbox" v-model="distribution.setting_other" id="online-distr">
                Остальные
						  </span>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-5 col-md-offset-2">
            <select disabled class="form-control bottom-buffer" v-model="selectedFilter" >
              <option selected="selected" value="all">все</option>
              <option value="new">только со статусом "новые" <i class="fa fa-star text-yellow"></i></option>
              <option value="birthday">только именинники</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-2 m-t-0">Черный список:</label>
          <div class="col-md-5">
            <!-- /.search-user -->
            <div class="vertical-scroll">
              <ul class="products-list user-list-corection no-item-bg">
                <li v-for="item in blacklist" class="item">
                  <div class="product-img">
                    <img :src="item.avatar.small" :alt="item.name">
                  </div>
                  <div class="product-info">
                    <a href="javascript:void(0)" class="product-title">{{item.name}}</a> <span
                    class="product-description">ID: {{item.id}}</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-2 m-t-0">Тема:</label>
          <div class="col-md-8">
            {{distribution.subject}}

          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-2 m-t-0">Письмо:</label>
          <div class="row margin-bottom">
            <div class="col-md-3">
              <!--{{distribution.greeting}} <span><em><strong>[тут имя мужчины],</strong></em></span>-->
            </div>
            <div class="col-md-9">
            </div>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-5">
            <div v-html="distribution.text"></div>


            <nav v-if="!photosLoading" class="photo-nav photo-list margin-top">
              <a v-for="photo in attachments" :href="photo.file_name_origin">
                <img :src="photo.file_name_medium">
                <i v-if="photo.album_type === 'private'" class="photo-label label-private">Private</i>
<!--                <i v-if="!photo.is_lock && photo.album_type === 'private'" class="photo-label label-was-bought">$</i>-->
              </a>
            </nav>

            <h5  v-if="attachmentsVideo.length > 0">Видео:</h5>
            <lady-video-gallery v-if="attachmentsVideo.length > 0" :videos="attachmentsVideo" :has-label="true"/>
          </div>
        </div>
        <div class="row" v-if="moderation && distribution.moderation_site === 'free'">
          <div class="col-md-4">
            <a class="btn btn-warning show-moderaton-modal pull-right" @click="openNoteModal()">Отклонить</a>
          </div>
          <div class="col-md-2">
            <a class="btn btn-primary btnNext pull-right" @click="doModeration('accept')">Утвердить</a>
          </div>
        </div>
      </div>
    </div>

    <div v-if="modalShow" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         style="display: block;">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"
                                                                                              @click="closeModal">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Напишите причину отклонения</h4>
          </div>
          <div class="modal-body">
            <textarea v-model="rejectReason"
                      style="width: 100%; resize: none; border: solid midnightblue 1px; border-radius: 3px; outline: none"
                      cols="30" rows="10"></textarea>
          </div>
          <div class="modal-footer">
            <button @click="doModeration('reject')" class="btn btn-primary">Отклонить</button>
          </div>

        </div>
      </div>
    </div>
    <modal-video/>
  </div>
</template>

<script>
  import moment from 'moment'
  import toastr from 'toastr'
  import {UPDATE_MODERATION_COUNTER} from '../../../mixins/updateModerationCounter'
  import LadyVideoGallery from "@components/content/girls/parts/VideoGallery.vue";
  import modalVideo from "@components/modals/PlayVideoModal.vue";


  export default {
    name: 'DeliveryView',
    components: {modalVideo, LadyVideoGallery},
    props: {
      moderation: {
        type: Boolean,
        //default: true
      },
      id: {
        type: Number
      }
    },
    data() {
      return {
        modalShow: false,
        photosLoading: true,
        distribution: {
          "id": 0,
          "sender_user_id": 0,
          "subject": "Subject loading....",
          "text": "Text loading....",
          "created_at": 1491912776,
          "moderation_agency": "accept",
          "moderation_site": "accept",
          "greeting": "Greeting loading....",
          "setting_new": null,
          "setting_birthday": null,
          "setting_favorite": null,
          "setting_bookmark": null,
          "setting_other": null,
        },
        user: {
          "id": 0,
          "name": "Name loading...",
          "avatar": {
            "small": "#",
            "medium": "#",
            "large": "#",
            "origin": "#"
          }
        },
        blacklist: [],
        attachments: [],
        attachmentsVideo: [],
        count_receiver: null,
        receiver_count_success:null,
        selectedFilter: '',
        rejectReason: '',
      }
    },

    mixins: [UPDATE_MODERATION_COUNTER],
    watch: {

      photosLoading(val) {
        if (!val) {
          this.initlightGallery()
        }
      }
    },
    methods: {
      initlightGallery(){
        $('.photo-nav').lightGallery("destroy");
        setTimeout(() => {
          $('.photo-nav').lightGallery();
        }, 200)
      },

      openNoteModal() {
        this.modalShow = true
      },
      closeModal() {
        this.modalShow = false
      },


      loadInfo() {
        this.photosLoading = true;
        $('.photo-nav').lightGallery("destroy");
        return new Promise((resolve, reject) => {
          this.$http.post('v2/female/distribution/get', {
            access_token: this.$cookie.get('access_token'),
            distribution_id: this.id
          }).then(data => {
            if (data.body.status) {
              let result = data.body.result;
              this.distribution = result.distribution;
              this.user = result.user;
              this.blacklist = result.blacklist;
              this.attachments = result.attachments;
              this.attachmentsVideo = result.attachments_video;
              this.count_receiver = result.count_receiver;
              this.receiver_count_success = result.receiver_count_success;

              if (this.distribution.setting_new == 1) {
                this.selectedFilter = 'new';
              } else if (this.distribution.setting_birthday == 1) {
                this.selectedFilter = 'birthday';
              } else {
                this.selectedFilter = 'all';
              }
              setTimeout(() => {
                $('.photo-nav').lightGallery();
                this.photosLoading = false;
              }, 200)

            } else {
              toastr.error('Не могу получить информацию рассылки');
              toastr.info(data.body.desc);
            }
          }, err => {
            toastr.error('Не могу получить информацию рассылки')
            console.log(err);
          })
        })
      },
      doModeration(result) {
        if (result === 'reject' && this.rejectReason !== '') {
          this.$http.post('v2/moderation/moderate/distribution', {
            access_token: this.$cookie.get('access_token'),
            moderation_id: this.id,
            status: result,
            note: this.rejectReason
          }).then(data => {
            if (data.body.status) {
              toastr.success('Рассылка промодерирована');
              this.updateModerationCounters();
              setTimeout(() => {
                this.$router.push({name: 'Модерация рассылок'})
              }, 2000)
            } else {
              toastr.error('Ошибка модерации рассылки сообщений');
              toastr.info(data.body.desc);
            }
          }, err => {
            toastr.error('Ошибка модерации рассылки сообщений');
          })
        } else if (result === 'accept') {
          this.$http.post('v2/moderation/moderate/distribution', {
            access_token: this.$cookie.get('access_token'),
            moderation_id: this.id,
            status: result,
            note: this.rejectReason
          })
          //   .then(data => {
          //   if (data.body.status) {
          //     toastr.success('Рассылка промодерирована');
          //     //this.updateModerationCounters();
          //     // setTimeout(() => {
          //     //   this.$router.push({name: 'Модерация рассылок'})
          //     // }, 2000)
          //   } else {
          //     toastr.error('Ошибка модерации рассылки сообщений');
          //     toastr.info(data.body.desc);
          //   }
          // }, err => {
          //   toastr.error('Ошибка модерации рассылки сообщений');
          // })
          toastr.success('Рассылка ушла в обработку ...');
          setTimeout(() => {
            this.$router.push({name: 'Модерация рассылок'})
          }, 10)
        } else {
          this.rejectError = true;
          toastr.error('Укажите причину отклонения!')
        }

      }
    },
    computed: {
      prettyCreated() {
        return moment(this.distribution.created_at * 1000).format('YYYY-MM-DD HH:MM')
      },
      getName() {
        console.log(this.moderation)
        console.log(this.distribution.moderation_site === 'free')
        if (this.moderation && this.distribution.moderation_site === 'free') {
          return "Модерация рассылки"
        } else {
          return "Рассылка"

        }
      },
      moderationStatus() {
        if (this.distribution.moderation_site === 'accept') {
          return "<span class='text-blue'>Выполнена</span>"
        } else if (this.distribution.moderation_site === 'reject') {
          return "<span class='text-red'>Отклонена</span>"
        } else if (this.distribution.moderation_site === 'free') {
          return "<span class='text-orange'>На модерации</span>"
        } else {
          return this.distribution.moderation_site
        }
      }
    },
    beforeMount() {

    },
    mounted() {
      this.loadInfo()
      // setTimeout(() => {
      //   $('.photo-nav').lightGallery();
      // }, 500)
    }
  }
</script>

<style>
  .note-error {
    border-radius: 2px;
    border: solid darkred 2px !important;
  }

  .vertical-scroll {
    max-height: 300px;
    overflow-y: scroll;
  }

</style>
