<template>
  <div>
    <h2 class="page-header">Редактирование рассылки</h2>
    <div class="row">
      <div class="col-md-12">
        <!-- form start -->
        <form method="POST" action="" class="form-horizontal">
          <div class="form-group row">
            <label class="col-md-1 m-t-0">От:</label>
            <div class="col-md-5">
              <div class="user-block user-block-md margin-bottom">
                <img class="img-circle" :src="user.avatar.small"
                     :alt="user.name"> <span class="username"> <a
                :href="'/woman/view/' + user.id">{{user.name}}</a>
							</span> <a :href="'/woman/view/' + user.id"><span class="description">ID: {{user.id}}</span></a>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-1 m-t-0">Фильтр:</label>
            <div class="col-md-3 margin-bottom">
              <span class="margin-right">
                <input type="checkbox" v-model="distribution.setting_favorite" id="online-distr">
                Фавориты <i class="fa fa-heart text-red"></i>
						  </span>
              <span class="margin-right">
                <input type="checkbox" v-model="distribution.setting_bookmark" id="online-distr">
                Закладки <i class="fa fa-star text-yellow"></i>
						  </span>
              <span class="margin-right">
                <input type="checkbox" v-model="distribution.setting_other" id="online-distr">
                Остальные
						  </span>
            </div>
            <label class="col-md-2 m-t-1"></label>
          </div>
          <div class="form-group row">
            <div class="col-md-8 col-md-offset-1">
              <div class="row">
                <div class="col-md-3">
                  <select class="form-control bottom-buffer" v-model="selectedFilter" >
                    <option selected="selected" value="all">все</option>
                    <option value="new">только со статусом "новые" <i class="fa fa-star text-yellow"></i></option>
                    <option value="birthday">только именинники</option>
                  </select>
                </div>
                <label class="col-md-3 m-t-1"></label>
              </div>
            </div>
          </div>
          <selectMenModal @blacklistChange="blacklistChange" :blacklist="blacklist"></selectMenModal>
          <div class="row margin-bottom top-buffer">
            <label class="col-md-1">Тема:</label>
            <div class="col-md-4">
              <input type="text" class="form-control" id="for-theme" v-model="distribution.subject"
                     placeholder="Тема письма">
            </div>
          </div>
          <div class="row form-group">
            <label class="col-md-1">Текст письма:</label>
            <div class="col-md-4">
              <div class="row margin-bottom">
                <div class="col-md-12">
                  <br><br>
                  Используйте Имя получателя: <b class="text-red">%name%</b>

                </div>

              </div>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-offset-1 col-md-5">
              <app-editable class="col-md-10 m-h"
                            v-model="distribution.text"></app-editable>
            </div>

          </div>
          <div class="row ">
            <div class="col-md-offset-1 col-md-2">
              <p class="text-counter">Кол. символов -
                {{distribution.text.length}}</p>
            </div>
            <div class="col-md-offset-1 col-md-2">
              <a @click.prevent="selectPhotoModalShow()">
                <b class="text-red cursor"><i class="fa fa-paperclip"></i> Прикрепить файл</b>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-offset-1 col-md-5">

              <div class="row">
                <nav v-if="!photosLoading" class="photo-nav photo-list-lastp margin-bottom">
                  <a v-for="item in attachments" :href="item.path.photo_origin" :class="{'attached': item.attached, 'selected': item.selected}">
                    <img :src="item.path.photo_small">
                    <span class="fa fa-times-circle del-photo"
                          @click.stop.prevent="removeFromAttachments(item.id)"></span>
                    <i v-if="item.album_type === 'private'" class="photo-label label-private bottom-photo">Private</i>
                  </a>


                  <a v-for="item in attachmentsNew" :href="item.path.photo_origin" :class="{'attached': item.attached, 'selected': item.selected}">
                    <img :src="item.path.photo_small">
                    <i v-if="item.album_type === 'private'" class="photo-label label-private bottom-photo">Private</i>
                    <span class="fa fa-times-circle del-photo"
                          @click.stop.prevent="removeFromAttachmentsNew(item.id)"></span>
                  </a>
                </nav>

                <h5 v-if="attachmentsVideo.length > 0">Видео:</h5>
                <lady-video-gallery v-if="attachmentsVideo.length > 0"
                                    :videos="attachmentsVideo"
                                    :deleteIcon="true"
                                    :has-label="true"
                                    :hasDelSpin="true"
                                    :hasBackCall="true"
                                    @backFunction="removeFromAttachmentsVideo"/>

                <lady-video-gallery v-if="attachmentsVideoNew.length > 0"
                                    :videos="attachmentsVideoNew"
                                    :deleteIcon="true"
                                    :has-label="true"
                                    :hasBackCall="true"
                                    @backFunction="removeFromAttachmentsVideoNew"/>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-5 text-right">
              <button type="submit" class="btn btn-primary" @click.prevent="editDistribution">Изменить рассылку
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <modal-video/>
    <selectPhotoModal
        v-if="flagModal"
        @close="modalClose"
        :userId="+user.id"
        :attachments="attachments"
        :attachmentsVideo="attachmentsVideo"
        :hasVideoList="true"
        :attachmentsNew="attachmentsNew"
        :attachmentsVideoNew="attachmentsVideoNew"
        @newVideoSelected="handleSelectedVideos"
        @newPhotoSelected="handleSelectedPhotos">
    </selectPhotoModal>
  </div>
</template>

<script>
  import moment from 'moment'
  import toastr from 'toastr'
  import mySelect from '../../custom/select2/component.vue'
  import AppEditable from '../../custom/ContentEditable.vue'
  import {CLEAN_HTML} from '../../../mixins/cleanHtml'
  import {UPDATE_USER_COUNTER} from '../../../mixins/updateUserCounters'
  import selectPhotoModal from '../../custom/selectPhotoModal/component.vue'
  import selectMenModal from '../../custom/selectMenModal/component.vue'
  import LadyVideoGallery from "@components/content/girls/parts/VideoGallery.vue";
  import modalVideo from "@components/modals/PlayVideoModal.vue";


  export default {
    name: 'DeliveryCreate',
    props: {
      id: {
        type: Number
      }
    },
    data() {
      return {
        flagModal: false,
        photosLoading: true,
        distribution: {
          subject: "",
          greeting: "Hello",
          text: "",
          setting_new: null,
          setting_birthday: null,
          setting_favorite: null,
          setting_bookmark: null,
          setting_other: null,
        },
        user: {
          id: 0,
          name: '',
          avatar: {
            small: ''
          }
        },
        blacklist: [],
        attachments: [],
        attachmentsVideo: [],
        attachmentsNew: [],
        attachmentsVideoNew: [],
        selectedFilter: '',
        women: [],
        selectedFrom: false
      }
    },
    watch: {
      'distribution.text': function (v) {
        //console.log(v)
        this.distribution.text = this.cleanHtml(this.distribution.text)
      },
      photosLoading(val) {
        if (!val) {
          this.initlightGallery()
        }
      }
    },
    methods: {

      initlightGallery(){
        $('.photo-nav').lightGallery("destroy");
        setTimeout(() => {
          $('.photo-nav').lightGallery();
        }, 200)
      },
      blacklistChange(value) {
        this.blacklist = value
        console.log("blacklist")
      },
      handleSelectedPhotos(value) {
        this.photosLoading = true;
        this.attachmentsNew = value
        setTimeout(() => {
        this.photosLoading = false;
        }, 200)
      },
      handleSelectedVideos(value) {
        this.attachmentsVideoNew = value
      },
      selectPhotoModalShow() {
        if (this.user.id == 0) {
          toastr.error('Выберите клиентку!');
        } else {
          this.flagModal = true
        }

      },
      modalClose() {
        this.flagModal = false
      },
      selectedWoman(value) {
        if (value) {
          this.user.id = value
          this.selectedFrom = true;
        } else {
          this.selectedFrom = false;
        }
      },
      removeFromAttachmentsVideoNew(id) {
        let count = 0;
        this.attachmentsVideoNew.forEach(video => {
          if (video.id == id) {
            this.attachmentsVideoNew.splice(count, 1);
          } else {
            count++;
          }
        })
      },
      removeFromAttachmentsNew(id) {
        let count = 0;
        this.attachmentsNew.forEach(photo => {
          if (photo.id == id) {
            this.attachmentsNew.splice(count, 1);
          } else {
            count++;
          }
        })
      },
      removeFromAttachments(id) {
        let counter = 0;
        App.confirm('Вы хотите удалить это фото из вложений?', confirm => {
          if (confirm) {
            this.$http.post('v2/female/delete/attachment-distribution', {
              access_token: this.$cookie.get('access_token'),
              distribution_id: this.id,
              attachment_id: id
            }).then(data => {
              if (data.body.status) {
                this.attachments.forEach(photo => {
                  if (photo.id == id) {
                    this.attachments.splice(counter, 1);
                  } else {
                    counter++;
                  }
                })
              } else {
                toastr.error('Не могу удалить фото из вложений');
                toastr.info(data.body.desc);
              }
            }, err => {
              console.log(err);
              toastr.error('Не могу удалить фото из вложений');
            })
          }
        });
      },

      removeFromAttachmentsVideo(obj) {

        let counter = 0;
        App.confirm('Вы хотите удалить это видео из вложений?', confirm => {
              if (confirm) {
                  this.$http.post('v2/female/delete/attachment-video-distribution', {
                    access_token: this.$cookie.get('access_token'),
                    distribution_id: this.id,
                    attachment_id: obj.id
                  }).then(data => {
                    if (data.body.status) {
                      this.attachmentsVideo.forEach(video => {
                        if (video.id == obj.id) {
                          this.attachmentsVideo.splice(obj.i, 1);
                        } else {
                          counter++;
                        }
                      })
                    } else {
                      toastr.error('Не могу удалить видео из вложений');
                      toastr.info(data.body.desc);
                    }
                  }, err => {
                    console.log(err);
                    toastr.error('Не могу удалить видео из вложений');
                  })
                }
        });
      },


      fetchDistribution() {
        this.photosLoading = true;
        $('.photo-nav').lightGallery("destroy");

        return new Promise((resolve, reject) => {
          this.$http.post('v2/female/distribution/get', {
            access_token: this.$cookie.get('access_token'),
            distribution_id: this.id
          }).then(data => {
            if (data.body.status) {
              let result = data.body.result;
              this.distribution = result.distribution;
              this.user = result.user;
              this.count_receiver = result.count_receiver;

              let photo_obj = {}
              let blacklist_obj = {}

              result.attachments.forEach(photo => {
                photo_obj = {
                  path: {
                    photo_small:photo.file_name_medium,
                    photo_origin:photo.file_name_origin,
                    },
                  id: photo.id,
                  album_type: photo.album_type,
                  is_lock: photo.is_lock,
                  selected: true
                }
                this.attachments.push(photo_obj);
              });

              result.attachments_video.forEach(video => {

                let videoObj = video;
                videoObj['selected'] = true;
                this.attachmentsVideo.push(videoObj);
              });

              result.blacklist.forEach(man => {
                blacklist_obj = {
                  id: man.id,
                  name: man.name,
                  avatar: man.avatar.small
                }
                this.blacklist.push(blacklist_obj);
              });


              if (this.distribution.setting_new == 1) {
                this.selectedFilter = 'new';
              }

              if (this.distribution.setting_birthday == 1) {
                this.selectedFilter = 'birthday';
              }

              if (this.distribution.setting_birthday == 0 && this.distribution.setting_new == 0) {
                this.selectedFilter = 'all';
              }

              setTimeout(() => {
                $('.photo-nav').lightGallery();
                this.photosLoading = false;
              }, 200)

            } else {
              toastr.error('Не могу получить информацию рассылки');
              toastr.info(data.body.desc);
            }
          }, err => {
            toastr.error('Не могу получить информацию рассылки')
            console.log(err);
          })
        });
      },


      editDistribution() {
        if ( this.validation == true ) {
          let prettyBlacklist = [];
          let prettyAttachments = [];
          let prettyAttachmentsVideo = [];
          let setting_favorites = 0;
          let setting_bookmarks = 0;
          let setting_other = 0;
          let setting_new = 0;
          let setting_birthday = 0;

          if (this.distribution.setting_favorite === true || this.distribution.setting_favorite === 1) {
            setting_favorites = 1;
          }
          if (this.distribution.setting_bookmark === true || this.distribution.setting_bookmark === 1) {
            setting_bookmarks = 1;
          }
          if (this.distribution.setting_other === true || this.distribution.setting_other === 1) {
            setting_other = 1;
          }


          if (this.selectedFilter === 'new') {
            setting_new = 1;
          }
          if (this.selectedFilter === 'birthday') {
            setting_birthday = 1;
          }

          this.attachmentsNew.forEach(attach => {
            prettyAttachments.push(attach.id);
          });

          this.attachmentsVideoNew.forEach(attach => {
            prettyAttachmentsVideo.push(attach.id);
          });

          this.blacklist.forEach(item => {
            prettyBlacklist.push(item.id);
          });

          this.$http.post('v2/moderation/update/distribution', {
            access_token: this.$cookie.get('access_token'),
            distribution_id: this.id,
            subject: this.distribution.subject,
            text: this.distribution.text,
            greeting: this.distribution.greeting,
            setting_new: setting_new,
            setting_birthday: setting_birthday,
            setting_favorite: setting_favorites,
            setting_bookmark: setting_bookmarks,
            setting_other: setting_other,
            black_list_user_id: JSON.stringify(prettyBlacklist).toString(),
            attachments: JSON.stringify(prettyAttachments).toString(),
            attachments_video: JSON.stringify(prettyAttachmentsVideo).toString()
          }).then(data => {
            if (data.body.status) {
              toastr.success('Рассылка отредактирована');
              this.$router.push({name: 'Рассылка', params: {id: this.id}})
              //this.$router.push('/moderation/delivery/' + this.$route.params.delivery);
            } else {
              toastr.error('Не удалось отредактировать рассылку');
              toastr.info(data.body.desc);
            }
          }, err => {
            toastr.error('Не удалось отредактировать рассылку');
            console.log(err);
          })
        } else {
          toastr.error( this.validation );
        }
      },

      fetchWomen() {
        this.$http.post('v2/femal/load-list', {
          access_token: this.$cookie.get('access_token')
        }).then(data => {
          if (data.body.status) {
            this.women = [];
            data.body.result.forEach(w => {
              this.women.push({
                id: w.user_id,
                name: w.name + ' ' + w.surname
              })
            })
          } else {
            toastr.error('Не могу получить список клиенток');
          }
        }, err => {
          toastr.error('Не могу получить список клиенток');
          console.log(err);
        })
      },
      removeFromBlacklist(id) {
        let counter = 0;
        this.blacklist.forEach(item => {
          if (item.id == id) {
            this.blacklist.splice(counter, 1);
          } else {
            counter++;
          }
        });
      },

    },
    computed: {

      prettyCreated() {
        return moment(this.distribution.created_at * 1000).format('LLL')
      },
      validation() {
        if ( this.distribution.subject.length < 10) {
          return 'Тема письма должна содержать больше 10 символов'
        }
        else if ( this.distribution.text.length < 200){
          return 'Текст письма должен содержать больше 200 символов'

        }
        else if ( this.distribution.text.length > 5000 ){
          return 'Текст письма должен содержать меньше 5000 символов'
        }
        else if ( this.distribution.subject.length > 250 ){
          return 'Тема письма должна содержать меньше 250 символов'
        }
        else {
          return true
        }
      },

    },
    beforeMount() {
      this.fetchWomen();
    },
    mounted() {
      this.fetchDistribution()
        .then(success => this.$nextTick(() => {
          console.log('Init')
        }));
    },
    components: {
      modalVideo,
      LadyVideoGallery,
      'my-select': mySelect,
      AppEditable,
      selectPhotoModal,
      selectMenModal,


    },
    mixins: [
      CLEAN_HTML,
      UPDATE_USER_COUNTER
    ],
  }
</script>

<style>
  .note-error {
    border-radius: 2px;
    border: solid darkred 2px !important;
  }
  input[type=checkbox] {width:15px; height:15px;}

  .top-buffer {
    margin-top:20px;
  }
  .bottom-buffer {
    margin-bottom:20px;
  }

</style>
