<template>
	<div class="row">
		<div class="col-md-12">
			<div class="box box-blue box-solid">
				<div class="box-header with-border">
					<h3 class="box-title">Рассылки</h3>
					<div class="box-tools pull-right">
						<router-link to="/woman/distribution/create">
							<a class="btn btn-success">Создать <i class="fa fa-plus"></i></a>
						</router-link>
					</div>
				</div>
				<div class="box-body no-padding">
					<form class="row">
						<div class="form-group margin">
							<div class="col-md-2">
								<input type="text" class="form-control" placeholder="ID" v-model="searchById">
							</div>
							<div class="col-md-2">
								<my-select :options="displayedPartners" :placeholder="'Партнер'" v-model="partner"
										   @select="selectPartnerCallback($event)"></my-select>
							</div>
							<div class="col-md-2">
								<my-select :options="displayedBranches" :placeholder="'Филиал'" v-model="branch"
										   @select="selectBranchCallback($event)"></my-select>
							</div>
							<div class="col-md-2">
								<my-select :options="displayedAdmins" :placeholder="'Админ'" v-model="admin"
										   @select="selectAdminCallback($event)"></my-select>
							</div>
							<div class="col-md-2">
								<my-select :options="displayedWomen" :placeholder="'Клиентка'" v-model="woman"
										   @select="selectWomanCallback($event)"></my-select>
							</div>
							<div class="col-md-2">
								<select class="form-control" v-model="searchByStatus">
									<option class="placeholder-option" value="" selected>Статус</option>
									<option value="active" selected>активные</option>
									<option value="banned">забаненные</option>
									<option value="lock">заблокированные</option>
									<option value="deactivated">удаленные</option>
								</select>
							</div>
							<div class="col-md-2">
								<select class="form-control placeholder-color" v-model="dStatus">
									<option class="placeholder-option" value="">Статус рассылки</option>
									<option value="accept">выполнена</option>
									<option value="free">на модерации</option>
									<option value="reject">отклонена</option>
								</select>
							</div>
						</div>
					</form>
					<sst :loader="loading" @load="fetchData" :sort="sort" :data="data"
						 :count="count" :loadParams="loadParams" :order="order" :pagination="pagination">
						<tr slot="tbody" v-for="i in data" :key="i.id">
							<td>{{i.distribution_id}}</td>
							<td>
								<router-link :to="{name: 'Профиль клиентки', params: {woman: i.woman_id}}">
									{{i.woman_name}} (id: {{i.woman_id}})
								</router-link></td>
							<td>{{uStatus(i.woman_status)}}</td>
							<td>{{i.message_distribution_subject}}</td>
							<td>{{dStatusRU(i.message_distribution_status)}}</td>
							<td>
								<template v-if="i.main_agency_id">
									<router-link :to="{name: 'Просмотр партнера', params: {id: i.main_agency_id}}">
										{{i.main_agency_name}} (id: {{i.main_agency_id}})
									</router-link>
								</template>
								<template v-else>Не указан</template>
							</td>
							<td>
								<template v-if="i.branch_agency_id">
									<router-link :to="{name: 'Просмотр партнера', params: {id: i.branch_agency_id}}">
										{{i.branch_agency_name}} (id: {{i.branch_agency_id}})
									</router-link>
								</template>
								<template v-else>
									Не указан
								</template>
							</td>
							<td>
								<template v-if="i.admin_id">
									<router-link :to="{name: 'Профиль админа', params: {admin: i.admin_id}}">
										{{i.admin_name}} (id: {{i.admin_id}})
									</router-link>
								</template>
								<template v-else>
									Не указан
								</template>
							</td>
							<td>{{date( i.message_distribution_created_at )}}</td>
							<td>
								<router-link :to="{name: 'Рассылка', params: {id: i.distribution_id}}"
											 class="btn btn-primary btn-block show-woman-delivery">
									<i class="fa fa-eye fa-lg text-white"></i>
								</router-link>
							</td>
						</tr>
					</sst>
				</div>
				<!-- /.box-body -->
			</div>
		</div>
		<!-- Button trigger modal -->
<!--		<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#cropModal"-->
<!--				id="modalTrigger" style="display: none;">-->
<!--			Launch demo modal-->
<!--		</button>-->
<!--		<div class="modal fade" id="cropModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">-->
<!--			<div class="modal-dialog" role="document" >-->
<!--				<div class="modal-content">-->
<!--					<div class="modal-header">-->
<!--						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span-->
<!--								aria-hidden="true">&times;</span></button>-->
<!--						<h4 class="modal-title" id="myModalLabel">Разрешить установку как аватар?</h4>-->
<!--					</div>-->
<!--					<div class="modal-body">-->
<!--						<div class="row">-->
<!--							<div class="col-md-12">-->
<!--								<div class="img-container">-->
<!--									<img src="" class="cropImageInModal img-responsive">-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--					<div class="modal-footer">-->
<!--						<div class="row">-->
<!--							<div class="col-md-6">-->

<!--							</div>-->
<!--							<div class="col-md-6">-->
<!--								<div class="row">-->
<!--									<div class="col-md-6">-->
<!--										<div class="btn btn-danger" @click="closeCropModal">Отклонить фото</div>-->
<!--									</div>-->
<!--									<div class="col-md-6">-->
<!--										<div class="btn btn-success" @click="saveModeration">-->
<!--											Принять-->
<!--										</div></div>-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
	</div>
</template>

<script>
  import toastr from 'toastr'
  import moment from 'moment'
  import mySelect from '../../custom/select2/select-new.vue'
  import sst from '../../custom/serverSideTable.vue'
  import { SS_SORT_TABLE } from '@/mixins/utils.js'
  import _ from 'lodash'

	export default {
		name: 'AvatarModeration',
		data() {
			return {
				sort: [
					{ active: true, name: 'distribution_id', column: 'ID' },
					{ active: false, name: 'woman_id', column: 'Клиентка' },
					{ active: false, name: 'woman_status', column: 'Статус' },
					{ active: false, name: '', column: 'Тема' },
					{ active: false, name: 'message_distribution_status', column: 'Статус рассылки' },
					{ active: false, name: 'main_agency_id', column: 'Партнер' },
					{ active: false, name: 'branch_agency_id', column: 'Филиал' },
					{ active: false, name: 'admin_id', column: 'Админ' },
					{ active: false, name: 'message_distribution_created_at', column: 'Дата создания' },
					{ active: false, name: '', column: 'Действие' },
				],
				partner: 0,
				branch: 0,
				admin: 0,
				woman: 0,
				data: [],
				allPartners: [],
				allBranches: [],
				allAdmins: [],
				showBranches: [],
				showAdmins: [],
				searchById: '',
				searchByStatus: '',
				cropper: null,
				moderationObject: {},
				allWomen: [],
				showWomen: [],
				dStatus: '',
				loading: true,

			}
		},
		mixins: [ SS_SORT_TABLE ],
		watch: {
			searchById(value) {
				this.resetPagination();
				this.search()
			},
			searchByStatus(value) {
				this.resetPagination();
				this.fetchData()
			},
			dStatus(value) {
				this.resetPagination();
				this.fetchData()
			}
		},
		computed: {
			displayedPartners() {
				return this.allPartners.map( i => {
					return {
						id: +i.id,
						name: `${i.name} (id: ${i.id})`
					}
				} )
			},
			displayedBranches() {
				return this.allBranches.map( i => {
					return {
						id: +i.id,
						name: `${i.name} (id: ${i.id})`
					}
				} )
			},
			displayedAdmins() {
				return this.allAdmins.map( i => {
					if ( i.admin_name ) {
						return {
							id: +i.admin_user_id,
							name: `${(i.admin_name.trim() + ' ' + i.admin_surname.trim()).trim()} (id: ${i.admin_user_id})`
						}
					}
					return {
						id: +i.id,
						name: `${i.name.trim()} (id: ${i.id})`
					}
				} )
			},
			displayedWomen() {
				//TODO: fit answers
				return this.allWomen.map( i => {
					if ( 'fullName' in i ) {
						return {
							id: +i.id,
							name: `${i.fullName.trim()} (id: ${i.id})`
						}
					} else if ( 'surname' in i ) {
						return {
							id: +i.user_id,
							name: `${(i.name.trim() + ' ' + i.surname.trim()).trim()} (id: ${i.user_id})`
						}
					}
					return {
						id: +i.id,
						name: `${i.name.trim()} (id: ${i.id})`
					}
				} )
			},
			displayedMen() {
				return this.mans.map( i => {
					return {
						id: +i.user_id,
						name: `${(i.name.trim() + ' ' + i.surname.trim()).trim()} (id: ${i.user_id})`
					}
				} )
			}
		},
		methods: {
			date( ts ) {
				return moment( ts * 1000 ).format( 'DD.MM.YYYY HH:mm:ss' )
			},
			fetchAdminsByAgency(id) {
				this.$http.post('v2/agency/get/admin-in-agency', {
					access_token: this.$cookie.get('access_token'),
					agency_id: id
				}).then(data => {
					if(data.body.status) {
						this.showAdmins = data.body.result
					}else {
						toastr.error('Не могу загрузить список админов')
					}
				}, err => {
					toastr.error('Не могу загрузить список админов');
					console.log(err);
				});
			},
			fetchWomanByAgency(value) {
				this.$http.post('v2/agency/get/woman-in-agency', {
					access_token: this.$cookie.get('access_token'),
					agency_id: value
				}).then(data => {
					if (data.body.status) {
						this.showWomen = data.body.result;
						this.allPartners.forEach(p => {
							if (p.id == value) {
								this.showBranches = p.agency_branches
							}
						})
					}
				})
			},
			selectPartnerCallback( value ) {
				this.branch = this.admin = this.woman = 0;
				this.resetPagination();
				this.fetchData();
				if ( value ) {
					this.fetchAdminsByAgency( value );
					this.fetchWomanByAgency( value );
					this.fetchBranchByAgency( value )
				} else {
					this.fetchBranches();
					this.fetchAdmins();
					this.fetchWomen();
				}
			},
			selectBranchCallback( value ) {
				if ( !this.partner ) {
					this.admin = this.woman = 0;
				}
				if ( value ) {
					this.resetPagination();
					this.fetchData();
					this.fetchAdminsByAgency( value );
					this.fetchWomanByAgency( value );
				} else {
					if ( !this.partner ) {
						this.fetchBranches();
						this.fetchAdmins();
						this.fetchWomen();
						this.resetPagination();
						this.fetchData()
					}
					if ( this.partner ) {
						this.selectPartnerCallback( this.partner )
					}
				}
			},
			selectAdminCallback( value ) {
				this.woman = 0;
				if ( value ) {
					this.resetPagination();
					this.fetchData();
				} else {
					this.selectBranchCallback( this.branch )
					this.fetchWomen();
				}
			},
			selectWomanCallback() {
				this.resetPagination();
				this.fetchData()
			},
			fetchBranches() {
				this.$http.post('v2/agency/get/branches', {
					access_token: this.$cookie.get('access_token')
				}).then(data => {
					if (data.body.status) {
						this.allBranches = data.body.result;
						this.showBranches = this.allBranches
					} else {
						toastr.error('Не могу получить список филиалов')
						toastr.info(data.body.desc)
					}
				}, err => {
					toastr.error('Не могу получить список филиалов')
				})
			},
			fetchAdmins() {
				this.$http.post('v2/agency/get/admins', {
					access_token: this.$cookie.get('access_token')
				}).then(data => {
					if(data.body.status) {
						let admins = data.body.result;
						let adminsPrettyArray = [];
						admins.forEach(a => {
							adminsPrettyArray.push({
								id: a.user_id,
								name: a.name ,
							})
						})
						this.allAdmins = adminsPrettyArray;
						this.showAdmins = adminsPrettyArray;
					}else {
						toastr.error('Не могу получить список админов сайта')
					}
				}, err => {
					toastr.error('Не могу получить список админов сайта')
				})
			},
			fetchPartner() {
				this.$http.post('v2/agency/get/list', {
					access_token: this.$cookie.get('access_token')
				}).then(data => {
					if (data.body.status) {
						this.allPartners = data.body.result;
					} else {
						toastr.error('Не могу загрузить список партнеров')
						toastr.info(data.body.desc);
					}
				}, err => {
					toastr.error('Не могу загрузить список партнеров')
				})
			},
			fetchWomen() {
				this.$http.post('v2/femal/load-list', {
					access_token: this.$cookie.get('access_token')
				}).then(data => {
					if (data.body.status) {
						let normalArray = [];
						data.body.result.forEach(woman => {
							normalArray.push({
								id: woman.user_id,
								name: woman.name + ' ' + woman.surname
							})
						})
						this.allWomen = normalArray;
						this.showWomen = normalArray;
					} else {
						toastr.error('Не могу загрузить список клиенток')
					}
				}, err => {
					toastr.error('Не могу загрузить список клиенток')
				})
			},
			// closeCropModal() {
			// 	this.$http.post('v2/moderation/moderate/avatar', {
			// 		access_token: this.$cookie.get('access_token'),
			// 		moderation_id: this.moderationObject.moderation,
			// 		status: 'reject',
			// 	}).then(data => {
			// 		if (data.body.status) {
			// 			toastr.success('Отклонено!')
			// 			setTimeout(() => {
			// 				this.fetchData();
			// 				document.querySelector('#modalTrigger').click();
			// 			}, 300)
			// 		} else {
			// 			toastr.error('Ошибка отклонения фото!')
			// 			toastr.info(data.body.desc)
			// 		}
			// 	}, err => {
			// 		toastr.error('Ошибка обработки фото!')
			// 	})
			// },
			// saveModeration() {
			// 	toastr.info('Начинаю обработку фото!');
			// 	this.$http.post('v2/moderation/moderate/avatar', {
			// 		access_token: this.$cookie.get('access_token'),
			// 		moderation_id: this.moderationObject.moderation,
			// 		status: 'accept',
			// 	}).then(data => {
			// 		if (data.body.status) {
			// 			toastr.success('Фото промодерировано!')
			// 			setTimeout(() => {
			// 				document.querySelector('#modalTrigger').click();
			// 				this.fetchData();
			// 			}, 300)
			// 		} else {
			// 			toastr.error('Ошибка обработки фото!')
			// 			toastr.info(data.body.desc)
			// 		}
			// 	}, err => {
			// 		toastr.error('Ошибка обработки фото!')
			// 	})
			// },
			setModerationParams(obj) {
				this.moderationObject = obj;
			},
			uStatus(status) {
				switch (status) {
					case 'active':
						return 'активные'
						break;
					case 'deactivated':
						return 'удаленные'
						break;
					case 'banned':
						return 'забаненные'
						break;
					case 'lock':
						return 'заблокированные'
						break;
				}
			},
			dStatusRU(status) {
				switch (status) {
					case 'accept':
						return 'выполнена';
						break;
					case 'free':
						return 'на модерации';
						break;
					case 'reject':
						return 'отклонена';
						break;
				}
			},
			search: _.debounce( function () {
				this.fetchData()
			}, 300 ),
			fetchData() {
				this.loading = true;
				this.fetchWomen();
				this.$http.post('v2/letter/get/distributions', {
					access_token: this.$cookie.get('access_token'),
					offset: this.loadParams.offset,
					limit: this.loadParams.limit,
					order_type: this.order.type,
					order_by: this.order.by,
					distribution_id: this.searchById,
					main_agency_id: this.partner || '',
					branch_agency_id: this.branch || '',
					admin_id: this.admin || '',
					woman_id: this.woman || '',
					woman_status: this.searchByStatus,
					message_distribution_status: this.dStatus
				}).then(data => {
					if (data.body.status) {
						this.data = data.body.result.list;
						this.count = +data.body.result.count
					} else {
						toastr.error(data.body.desc)
					}
					this.loading = false;
				}, err => {
					toastr.error('Не могу получить список фото')
				})
			},
		},
		mounted() {
			this.updOrderParams( {
				type: 'desc',
				by: 'message_distribution_created_at'
			} );
			this.fetchData();
			this.fetchPartner();
			this.fetchBranches();
			this.fetchAdmins();
		},
		components: {
			mySelect,
			sst
		}
	}
</script>

<style>
	.large-preview {
		display: flex;
		flex-direction: row;
	}
</style>
