<template>
	<loader v-if="loading"></loader>
	<div v-else>
		<div class="row margin-bottom">
			<div class="col-md-6">
				<div class="user-block user-block-md pull-left margin-right">
					<img class="img-circle" :src="avatar.small"
						 alt="name">
					<i v-show="camera == 'yes'" class="fa fa-video-camera text-blue icon-ava"></i>
					<i v-show="online" class="fa fa-sm fa-circle text-green"
					   style="margin-top: -6px; margin-left: -13px"></i>
					<span class="username" v-if="online" style="margin-top: -10px"> <a
							href="#">{{name}}</a> </span>
					<span class="username" v-else> <a href="#">{{name}} {{surName}}</a></span>
					<span class="description">ID: {{id}}</span>
				</div>
				<router-link :to="'/woman/view/' + $route.params.woman">
					<a class="btn btn-sm btn-success  margin-top"><i class="fa fa-lg  fa-eye"></i></a>
				</router-link>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<div class="nav-tabs-custom">
					<ul class="nav nav-tabs">
						<li class="active">
							<a href="#main-tab" @click="openTab('main')"
							   data-toggle="tab">Главная</a></li>
						<li><a href="#contacts" @click="openTab('contacts')" data-toggle="tab">Контакты</a></li>
						<li><a href="#appearance" @click="openTab('appearance')" data-toggle="tab">Внешность</a>
						</li>
						<li><a href="#additional" @click="openTab('additional')"
							   data-toggle="tab">Дополнительная</a></li>
						<li><a href="#preferences" @click="openTab('preferences')"
							   data-toggle="tab">Предпочтения</a></li>
						<li><a href="#photos" @click="openTab('photos')" data-toggle="tab">Фото</a></li>
						<li><a href="#documents" @click="openTab('documents')" data-toggle="tab">Документы</a></li>
					</ul>
					<div class="tab-content no-padding">
						<div class="active tab-pane" id="main-tab">
							<ul class="v-list v-list-sm-pad">
								<li><label class="col-md-7">Партнер <i class="fa fa-asterisk text-red"
																	   style="font-size: 9px;"></i></label>
									<div class="col-md-5">
										<my-select :callback="selectNewPartner" :className="'selectNewPartner'"
												   :options="allPartners" :placeholder="partner"></my-select>
									</div>
								</li>
								<li><label class="col-md-7">Филиал <i class="fa fa-asterisk text-red"
																	  style="font-size: 9px;"></i></label>
									<div class="col-md-5">
										<select name="" class="form-control">
											<option class="placeholder-option" :value="branch">{{branch}}</option>
										</select>
									</div>
								</li>
								<li><label class="col-md-7">Админ <i class="fa fa-asterisk text-red"
																	 style="font-size: 9px;"></i></label>
									<div class="col-md-5">
										<select v-model="newAdmin" class="form-control">
											<option value="">не выбрано</option>
											<option v-for="admin in showAdmins" :value="admin.id">{{admin.name}}
												(id:{{admin.id}})
											</option>
										</select>
									</div>
								</li>
								<li><label class="col-md-7">Имя <i class="fa fa-asterisk text-red"
																   style="font-size: 9px;"></i></label>
									<div class="col-md-5">
										<input type="text" class="form-control" v-model="name">
									</div>
								</li>
								<li><label class="col-md-7">Фамилия <i class="fa fa-asterisk text-red"
																	   style="font-size: 9px;"></i></label>
									<div class="col-md-5">
										<input type="text" class="form-control" v-model="surName">
									</div>
								</li>
								<li><label class="col-md-7">Отчество <i class="fa fa-asterisk text-red"
																		style="font-size: 9px;"></i></label>
									<div class="col-md-5">
										<input type="text" class="form-control" v-model="middleName">
									</div>
								</li>
								<li><label class="col-md-7">E-mail <i class="fa fa-asterisk text-red"
																	  style="font-size: 9px;"></i></label>
									<div class="col-md-5">
										<input disabled type="text" class="form-control"
											   v-model="email">
									</div>
								</li>
								<li><label class="col-md-7">Дата рождения <i class="fa fa-asterisk text-red"
																			 style="font-size: 9px;"></i></label>
									<div class="col-md-5">
										<div class="input-group date d-t-picker" id="birthdayPicker">
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
											<input type="text" name="date_from" class="form-control from-sort">
										</div>
									</div>
								</li>
								<li>
									<div class="col-md-3 no-padding">
										<select @change="changePassport()" class="form-control" v-model="passportType"
												name="Passport" id="">
											<option value="">Стандартный паспорт</option>
											<option value="passportBio">ID (Биометрический паспорт)</option>
										</select>
									</div>
									<div class="col-md-5 col-md-offset-4">
										<input v-if="usualPass" type="text" class="form-control"
											   v-model="passport" placeholder="Паспорт">
										<input v-else type="text" class="form-control"
											   v-model="passport" placeholder="Биометрический паспорт">
									</div>
								</li>
								<li><label class="col-md-7">Статус <i class="fa fa-asterisk text-red"
																	  style="font-size: 9px;"></i></label>
									<div class="col-md-5">
										<select name="" class="form-control" v-model="active">
											<option value="active">активный</option>
											<option value="banned">забаненный</option>
											<option value="deactivated">удалена</option>
											<option value="lock">заблокирована</option>
											<option value="on_creating">на создании</option>
											<option value="not_moderated">не промодерирована</option>
										</select>
									</div>
								</li>
								<li><label for="for-note" class="col-md-4">Примечание</label>
									<div class="col-md-8">
										<textarea class="form-control" rows="10" v-model="note"></textarea>
									</div>
								</li>
							</ul>
						</div>
						<div class="tab-pane" id="contacts">
							<ul class="v-list v-list-sm-pad">
								<li><label for="for-country" class="col-md-7">Страна <i class="fa fa-asterisk text-red"
																						style="font-size: 9px;"></i></label>
									<div class="col-md-5">
										<multiselect v-model="selectedCountry" label="name" track-by="name"
													 :placeholder="country" :options="countries" :multiple="false"
													 :searchable="true" :internal-search="true"
													 :close-on-select="true"
													 :options-limit="300" :limit="3" :limit-text="limitText">
											<span slot="noResult">Oops! No elements found. Consider changing the search query.</span>
										</multiselect>
									</div>
								</li>
								<li><label class="col-md-7">Город <i class="fa fa-asterisk text-red"
																	 style="font-size: 9px;"></i></label>
									<div class="col-md-5">
										<multiselect v-model="selectedCity" id="ajax" label="name"
													 track-by="country_id" :placeholder="city" :options="cities"
													 :multiple="false" :searchable="true" :loading="isLoading"
													 :internal-search="false"
													 :close-on-select="true" :options-limit="300" :limit="3"
													 :limit-text="limitText" @search-change="asyncCity">
											<span slot="noResult">Oops! No elements found. Consider changing the search query.</span>
										</multiselect>
									</div>
								</li>
								<li><label class="col-md-7">Адрес <i class="fa fa-asterisk text-red"
																	 style="font-size: 9px;"></i></label>
									<div class="col-md-5">
										<input type="text" class="form-control" v-model="address">
									</div>
								</li>
								<li><label for="for-phone-1" class="col-md-7">Телефон <i
										class="fa fa-asterisk text-red" style="font-size: 9px;"></i></label>
									<div class="col-md-5">
										<input type="text" v-model="phone"
											   placeholder="+38 0## ## ## ###"
											   class="form-control" id="for-phone-1">
									</div>
								</li>
								<li><label class="col-md-7">Скайп</label>
									<div class="col-md-5">
										<input type="text" class="form-control" v-model="skype">
									</div>
								</li>
							</ul>
						</div>
						<div class="tab-pane" id="appearance">
							<ul class="v-list v-list-sm-pad">
								<li><label for="for-country" class="col-md-7">Телосложение <i
										class="fa fa-asterisk text-red" style="font-size: 9px;"></i></label>
									<div class="col-md-5">
										<select name="" class="form-control" v-model="body">
											<option value="">не выбрано</option>
											<option value="thin">thin</option>
											<option value="slender">slender</option>
											<option value="athletic">athletic</option>
											<option value="a few extra pounds">a few extra pounds</option>
											<option value="plump">plump</option>
										</select>
									</div>
								</li>
								<li>
									<div class="form-group">
										<label class="col-md-7">Рост <i class="fa fa-asterisk text-red"
																		style="font-size: 9px;"></i></label>
										<div class="col-md-5">
											<div class="input-group">
												<input type="number" class="form-control" v-model="height"> <span
													class="input-group-addon">cm</span>
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="form-group">
										<label class="col-md-7">Вес <i class="fa fa-asterisk text-red"
																	   style="font-size: 9px;"></i></label>
										<div class="col-md-5">
											<div class="input-group">
												<input type="number" class="form-control" v-model="weight"> <span
													class="input-group-addon">kg</span>
											</div>
										</div>
									</div>
								</li>
								<li><label for="for-country" class="col-md-7">Цвет глаз <i
										class="fa fa-asterisk text-red" style="font-size: 9px;"></i></label>
									<div class="col-md-5">
										<select name="" class="form-control" v-model="eye_color">
											<option value="">не выбрано</option>
											<option value="black">black</option>
											<option value="green">green</option>
											<option value="gray">gray</option>
											<option value="brown">brown</option>
											<option value="light-brown">light-brown</option>
											<option value="blue">blue</option>
										</select>
									</div>
								</li>

								<li><label for="for-country" class="col-md-7">Цвет волос <i
										class="fa fa-asterisk text-red" style="font-size: 9px;"></i></label>
									<div class="col-md-5">
										<select name="" class="form-control" v-model="hair_color">
											<option value="">не выбрано</option>
											<option value="blonde">blonde</option>
											<option value="brown">brown</option>
											<option value="redhead">redhead</option>
											<option value="brunette">brunette</option>
											<option value="colored">colored</option>
										</select>
									</div>
								</li>
							</ul>
						</div>
						<div class="tab-pane" id="additional">
							<ul class="v-list v-list-sm-pad">
								<li><label class="col-md-2">Статус</label>
									<div class="col-md-10">
										<input type="text" class="form-control" v-model="status">
									</div>
								</li>
								<li><label for="for-country" class="col-md-7">Уровень знания английского <i
										class="fa fa-asterisk text-red" style="font-size: 9px;"></i></label>
									<div class="col-md-5">
										<select name="" class="form-control" v-model="english">
											<option value="no" selected>не выбрано</option>
											<option value="basic">basic</option>
											<option value="intermediate">intermediate</option>
											<option value="good">good</option>
											<option value="fluent">fluent</option>
										</select>
									</div>
								</li>
								<li>
									<label for="for-country" class="col-md-7">Другие языки</label>
									<div class="col-md-5">
										<div class="language-line">
											<div class="input-group separator margin-bottom">
												<label>
													Spanish
												</label>
												<div class="input-group-addon">-</div>
												<select name="no" class="form-control" v-model="spanish">
													<option value="no"></option>
													<option value="basic">basic</option>
													<option value="intermediate">intermediate</option>
													<option value="good">good</option>
													<option value="fluent">fluent</option>
												</select>
											</div>
										</div>
										<div class="language-line">
											<div class="input-group separator margin-bottom">
												<label>
													German
												</label>
												<div class="input-group-addon">-</div>
												<select name="no" v-model="german" class="form-control">
													<option value="no"></option>
													<option value="basic">basic</option>
													<option value="intermediate">intermediate</option>
													<option value="good">good</option>
													<option value="fluent">fluent</option>
												</select>
											</div>
										</div>
										<div class="language-line">
											<div class="input-group separator margin-bottom">
												<label>
													French
												</label>
												<div class="input-group-addon">-</div>
												<select name="no" class="form-control" v-model="french">
													<option value="no"></option>
													<option value="basic">basic</option>
													<option value="intermediate">intermediate</option>
													<option value="good">good</option>
													<option value="fluent">fluent</option>
												</select>
											</div>
										</div>
										<div class="language-line">
											<div class="input-group separator margin-bottom">
												<label>
													Portuguese
												</label>
												<div class="input-group-addon">-</div>
												<select name="" class="form-control" v-model="portuguese">
													<option value="no"></option>
													<option value="basic">basic</option>
													<option value="intermediate">intermediate</option>
													<option value="good">good</option>
													<option value="fluent">fluent</option>
												</select>
											</div>
										</div>
									</div>
								</li>
								<li><label for="for-country" class="col-md-7">Семейное положение <i
										class="fa fa-asterisk text-red" style="font-size: 9px;"></i></label>
									<div class="col-md-5">
										<select name="" class="form-control" v-model="familyStatus">
											<option value=""></option>
											<option value="single">single</option>
											<option value="divorced">divorced</option>
											<option value="widow">widowed</option>
											<option value="never been married">never been married</option>
										</select>
									</div>
								</li>
								<li><label for="for-country" class="col-md-7">Oбразование <i
										class="fa fa-asterisk text-red" style="font-size: 9px;"></i></label>
									<div class="col-md-5">
										<select name="" class="form-control" v-model="education">
											<option value=""></option>
											<option value="Middle School">middle School</option>
											<option value="High school">high school</option>
											<option value="Student">student</option>
											<option value="Bachelor's Degree">Bachelor's Degree</option>
											<option value="Master's Degree">Master's Degree</option>
											<option value="Doctoral Level">Doctoral Level</option>
										</select>
									</div>
								</li>
								<li><label class="col-md-7">Професия <i class="fa fa-asterisk text-red"
																		style="font-size: 9px;"></i></label>
									<div class="col-md-5">
										<input type="text" class="form-control" v-model="profession">
									</div>
								</li>
								<li><label for="for-country" class="col-md-7">Я живу <i class="fa fa-asterisk text-red"
																						style="font-size: 9px;"></i></label>
									<div class="col-md-5">
										<select name="" class="form-control" id="for-country"
												v-model="accommodation">
											<option value=""></option>
											<option value="with parents">with parents</option>
											<option value="with neighbors">with neighbors</option>
											<option value="in dorm">in dorm</option>
											<option value="separately (rented housing)">separately (rentedhousing)


											</option>
											<option value="separately (in own housing)">separately (in own housing)

											</option>
										</select>
									</div>
								</li>
								<li><label for="for-country" class="col-md-7">Дети <i class="fa fa-asterisk text-red"
																					  style="font-size: 9px;"></i></label>
									<div class="col-md-5">
										<select name="" class="form-control" v-model="children">
											<option value="no" selected="selected"></option>
											<option value="I have no children">no children</option>
											<option value="no but I want to have children">
												no but I want to have children


											</option>
											<option value="have children">have children</option>
											<option value="have children, but living separately">
												have children, but living separately


											</option>
											<option value="have adult children">have adult children</option>
										</select>
									</div>
								</li>
								<li><label for="for-country" class="col-md-7">Религия</label>
									<div class="col-md-5">
										<select name="" class="form-control" v-model="religion">
											<option value="no"></option>
											<option value="Christianity">Christianity</option>
											<option value="Catholicism">Catholicism</option>
											<option value="Islam">Islam</option>
											<option value="Buddhism">Buddhism</option>
											<option value="Hinduism">Hinduism</option>
											<option value="other">other</option>
										</select>
									</div>
								</li>
								<li><label for="for-country" class="col-md-7">Отношение к курению <i
										class="fa fa-asterisk text-red" style="font-size: 9px;"></i></label>
									<div class="col-md-5">
										<select name="" class="form-control" v-model="smoke">
											<option value=""></option>
											<option value="I do not smoke">not smoke</option>
											<option value="rarely">rarely</option>
											<option value="often">often</option>
										</select>
									</div>
								</li>
								<li><label for="for-country" class="col-md-7">Отношение к алкоголю <i
										class="fa fa-asterisk text-red" style="font-size: 9px;"></i></label>
									<div class="col-md-5">
										<select name="" class="form-control" v-model="drink">
											<option value=""></option>
											<option value="I do not drink">not drink</option>
											<option value="rarely">rarely</option>
											<option value="occasionally">occasionally</option>
											<option value="often">often</option>
										</select>
									</div>
								</li>
							</ul>
						</div>
						<div class="tab-pane" id="preferences">
							<ul class="v-list v-list-sm-pad">
								<li><label for="for-country" class="col-md-7">Любимые цветы</label>
									<div class="col-md-5">
										<multiselect v-model="selectedFlowers" :options="flowersList" :multiple="true"
													 placeholder="Type to search" track-by="name" label="value">
											<span slot="noResult">Извините, ничего не найдено</span>
										</multiselect>
									</div>
								</li>
								<li><label for="for-country" class="col-md-7">Домашнее животное</label>
									<div class="col-md-5">
										<multiselect
												v-model="selectedPet"
												:options="petList"
												:multiple="true"
												:close-on-select="true"
												track-by="name"
												:custom-label="customLabel"
										>
										</multiselect>
									</div>
								</li>
								<li><label for="for-country" class="col-md-7">Любимый праздник</label>
									<div class="col-md-5">
										<multiselect
												v-model="selectedCelebration"
												:options="celebrationList"
												:multiple="true"
												track-by="name"
												:custom-label="customLabel"
										>
										</multiselect>
									</div>
								</li>
								<li><label for="for-country" class="col-md-7">Цели <i class="fa fa-asterisk text-red"
																					  style="font-size: 9px;"></i></label>
									<div class="col-md-5">
										<multiselect
												v-model="selectedTarget"
												:options="targetList"
												:multiple="true"
												track-by="name"
												:custom-label="customLabel"
										>
										</multiselect>
									</div>
								</li>
								<li><label class="col-md-7">Интересы <i class="fa fa-asterisk text-red"
																		style="font-size: 9px;"></i></label>
									<div class="col-md-5">
										<input type="text" class="form-control" placeholder="Интересы"
											   v-model="interests">
									</div>
								</li>
								<li><label class="col-md-4">Обо мне <i class="fa fa-asterisk text-red"
																	   style="font-size: 9px;"></i></label>
									<div class="col-md-8">
                                        <textarea type="text" placeholder="Обо мне" class="form-control"
												  v-model="about_me" rows="10"
												  style="resize: none"> </textarea>
									</div>
								</li>

								<li><label class="col-md-7">Возраст мужчины <i class="fa fa-asterisk text-red"
																			   style="font-size: 9px;"></i></label>
									<div class="col-md-5">
										<div class="input-group separator">
											<input type="number" class="form-control" style="z-index:0;"
												   v-model="about_man_age_from" placeholder="Возраст от">
											<div class="input-group-addon">-</div>
											<input type="number" class="form-control" style="z-index:0;"
												   v-model="about_man_age_to" placeholder="Возраст до">
										</div>
									</div>
								</li>
								<li><label for="for-note" class="col-md-4">Опиание мужчины <i
										class="fa fa-asterisk text-red" style="font-size: 9px;"></i></label>
									<div class="col-md-8">
                                            <textarea name="" placeholder="Описание мужчины" class="form-control"
													  id="for-note" rows="10"
													  v-model="about_man" style="resize: none"></textarea>
									</div>
								</li>
							</ul>
						</div>
						<div class="tab-pane" id="photos">
							<ul class="v-list v-list-sm-pad">
								<li class="header">
									<div for="for-site" class="col-md-7">Аватар</div>
									<div class="col-md-5 text-right">
											<span class="load-file-link">
											<input type="file" name="mydocs[]" class="file-loader"
												   data-nav=".photo-list-ava"> <span class="upload-text-wrapp">

											</span>
											</span>
									</div>
								</li>
								<li>
									<nav class="photo-nav photo-list-ava">
										<a v-for="photo in photosAvatar"
										   :href="photo.file_url_origin">
											<img :src="photo.file_url_small">
											<span class="bottom-data id photo-id-span">ID: {{photo.id}}</span>
										</a>
									</nav>
								</li>
								<li class="header">
									<div for="for-site" class="col-md-7">Публичные фото <span
											class="text-muted small margin-top">(параметры фото: 720x720 px, не более 2 Mb)</span>
									</div>
									<div class="col-md-5 text-right">
											<span class="load-file-link">
                                                <input type="file" name="mydocs[]"
													   class="file-loader"
													   @change="dropNewPhoto"
													   data-type="public"
													   data-nav=".photo-list-public"
												>
                                                <span class="upload-text-wrapp">
                                                    Загрузить <i class="fa fa-download text-blue"></i>
											</span>
											</span>
									</div>
								</li>
								<li>
									<nav class="photo-nav photo-list-public">
										<a v-for="photo in photosPublic"
										   :href="photo.file_url_origin">
											<img :src="photo.file_url_small">
											<span class="bottom-data id photo-id-span">ID: {{photo.id}}</span>
											<span class="fa fa-times-circle del-photo"
												  @click.stop.prevent="deletePhoto(photo.id)"></span>
											<span @click.prevent.stop="setAsAvatar(photo.id)"
												  class="btn btn-block btn-warning btn-xs margin-top-sm set-ava-src"
												  style="height: 20px; margin: 5px 0; line-height: 5px; padding-top: 3px !important; top: 60px;"> <i
													class="fa fa-check"></i> Аватар
											</span>
										</a>
									</nav>
								</li>
								<li class="header">
									<div for="for-site" class="col-md-7">Приватные фото <span
											class="text-muted small margin-top">(параметры фото: 720x720 px, не более 2 Mb)</span>
									</div>
									<div class="col-md-5 text-right">
											<span class="load-file-link">
                                                <input type="file" name="mydocs[]"
													   class="file-loader"
													   @change="dropNewPhoto"
													   data-type="private"
													   data-nav=".photo-list-private"> <span
													class="upload-text-wrapp"> Загрузить <i
													class="fa fa-download text-blue"></i>
											</span>
											</span>
									</div>
								</li>
								<li>
									<nav class="photo-nav photo-list-private">
										<a v-for="photo in photosPrivate"
										   :href="photo.file_url_origin">
											<img :src="photo.file_url_small">
											<span class="bottom-data id photo-id-span">ID: {{photo.id}}</span>
											<span class="fa fa-times-circle del-photo"
												  @click.stop.prevent="deletePhoto(photo.id)"></span>
										</a>
									</nav>
								</li>
								<li class="header">
									<div for="for-site" class="col-md-7">
										<span class="header text-yellow">Аватары на модерации</span>
									</div>
								</li>
								<li>
									<nav class="photo-nav photo-list-p-moder">
										<a v-for="photo in avatarsOnModeration"
										   :href="photo.file_url_origin">
											<img :src="photo.file_url_small">
											<span class="bottom-data id photo-id-span">ID: {{photo.id}}</span>
											<span class="fa fa-times-circle del-photo"
												  @click.stop.prevent="deletePhoto(photo.id)"></span>
										</a>
									</nav>
								</li>
								<li class="header">
									<div for="for-site" class="col-md-7">
										<span class="header text-yellow">Публичные фото на модерации</span>
									</div>
								</li>
								<li>
									<nav class="photo-nav photo-list-p-moder">
										<a v-for="photo in publicOnModeration"
										   :href="photo.file_url_origin">
											<img :src="photo.file_url_origin">
											<span class="bottom-data id photo-id-span">ID: {{photo.id}}</span>
											<span class="fa fa-times-circle del-photo"
												  @click.stop.prevent="deletePhoto(photo.id)"></span>
										</a>
									</nav>
								</li>
								<li class="header">
									<div for="for-site" class="col-md-7">
										<span class="header text-yellow">Приватные фото на модерации</span>
									</div>
								</li>
								<li>
									<nav class="photo-nav photo-list-mydoc">
										<a v-for="photo in privateOnModeration"
										   :href="photo.file_url_origin">
											<img :src="photo.file_url_origin">
											<span class="bottom-data id photo-id-span">ID: {{photo.id}}</span>
											<span class="fa fa-times-circle del-photo"
												  @click.stop.prevent="deletePhoto(photo.id)"></span>
										</a>
									</nav>
								</li>
								<li class="header">
									<div for="for-site" class="col-md-7">
										<span class="header text-red">Отклоненные публичные фото</span>
									</div>
								</li>
								<li>
									<nav class="photo-nav photo-list-mydoc">
										<a v-for="photo in publicRejectedPhotos"
										   :href="photo.file_url_origin">
											<img :src="photo.file_url_origin">
											<span class="bottom-data id photo-id-span">ID: {{photo.id}}</span>
											<span class="fa fa-times-circle del-photo"
												  @click.stop.prevent="deletePhoto(photo.id)"></span>
										</a>
									</nav>
								</li>
								<li class="header">
									<div for="for-site" class="col-md-7">
										<span class="header text-red">Отклоненные приватные фото</span>
									</div>
								</li>
								<li>
									<nav class="photo-nav photo-list-mydoc">
										<a v-for="photo in privateRejectedPhotos"
										   :href="photo.file_url_origin">
											<img :src="photo.file_url_origin">
											<span class="bottom-data id photo-id-span">ID: {{photo.id}}</span>
											<span class="fa fa-times-circle del-photo"
												  @click.stop.prevent="deletePhoto(photo.id)"></span>
										</a>
									</nav>
								</li>
								<li class="header">
									<div for="for-site" class="col-md-7">
										<span class="header text-red">Фото на удаление</span>
									</div>
								</li>
								<li>
									<nav class="photo-nav photo-list-mydoc">
										<a v-for="photo in photosToDeleting"
										   :href="photo.file_url_small">
											<img :src="photo.file_url_origin">
											<span class="bottom-data id photo-id-span">ID: {{photo.id}}</span>
										</a>
									</nav>
								</li>
							</ul>
						</div>
						<div class="tab-pane" id="documents">
							<ul class="v-list v-list-sm-pad">
								<li class="header">
									<div for="for-site" class="col-md-7">Паспорт <span class="text-muted margin-top"><small>jpg, jpeg, pdf (не более 20Mb)</small></span>
									</div>
									<div class="col-md-5 text-right">
											<span class="load-file-link">
                                                <input type="file" name="mydocs[]"
													   class="file-loader"
													   @change="dropDocument"
													   data-type="passport_1"
													   data-nav=".photo-list-mydoc">
                                                <span
														class="upload-text-wrapp"> Загрузить <i
														class="fa fa-download text-blue"></i>
											</span>
											</span>
									</div>
								</li>
								<li>
									<nav class="photo-nav photo-list-oficearend" id="passportdoc">
										<a :target="{'_blank': isDocument(doc.file_extension)}" :class="{ 'photo-nav__item': !isDocument(doc.file_extension) }" v-for="doc in passportDocument" :href="doc.file_path">
											<img :src="doc.file_path" v-if="!isDocument(doc.file_extension)">
											<img :src="'/dist/img/pdf.png'" v-else="isDocument(doc.file_extension)" alt="Document">
											<span class="fa fa-times-circle del-photo"
												  @click.prevent.stop="removeDocument(doc.id)"></span>
										</a>
									</nav>
								</li>
								<li class="header">
									<div for="for-site" class="col-md-7">Фото с паспортом <span
											class="text-muted margin-top"><small>jpg, jpeg, pdf (не более 20Mb)</small></span>
									</div>
									<div class="col-md-5 text-right">
											<span class="load-file-link"> <input type="file" name="ofice[]"
																				 class="file-loader"
																				 @change="dropDocument"
																				 data-type="photo_with_passport"
																				 data-nav=".photo-list-ofice"> <span
													class="upload-text-wrapp"> Загрузить <i
													class="fa fa-download text-blue"></i>
											</span>
											</span>
									</div>
								</li>
								<li>
									<nav class="photo-nav photo-list-oficearend" id="withpassport">
										<a :target="{'_blank': isDocument(doc.file_extension)}" :class="{ 'photo-nav__item': !isDocument(doc.file_extension) }" v-for="doc in photoWithPassport" :href="doc.file_path">
											<img :src="doc.file_path" v-if="!isDocument(doc.file_extension)">
											<img :src="'/dist/img/pdf.png'" v-else="isDocument(doc.file_extension)" alt="Document">
											<span class="fa fa-times-circle del-photo"
												  @click.prevent.stop="removeDocument(doc.id)"></span>
										</a>
									</nav>

								</li>
								<li class="header">
									<div for="for-site" class="col-md-7">Видео подтверждение <span
											class="text-muted margin-top"><small>mp4, mov, m4v, avi (не более 20Mb)</small></span>
									</div>

									<div class="col-md-5 text-right">
											<span class="load-file-link">
                                                <input type="file" name="pasport2[]"
													   class="file-loader"
													   accept="video/mp4, video/x-m4v,  video/mov, video/avi, video/*"
													   @change="dropVideo"
													   data-type="video_approve"
													   data-nav=".photo-list-pasport2"> <span
													class="upload-text-wrapp"> Загрузить <i
													class="fa fa-download text-blue"></i>
											</span>
											</span>
									</div>
								</li>
								<li>
									<div class="alert p-l-0 p-b-0 m-b-0 text-muted">
										Запись видео производится при нормальном
										освещении, без головных уборов и солнцезащитных
										очков, с открытым паспортом на странице с
										последней фотографией в руках. Текст:

										<div class="text-yellow">
											Здравствуйте, меня зовут (ФИО)
											Я клиентка Вашего партнёра "Partner".
											Сегодня (полная дата).
											Я хочу создать свой профайл на сервисе FeDate с целью новых знакомств для
											поиска своего спутника жизни.
											С правилами пользователя сервиса ознакомлена и принимаю их!

										</div>
										<hr>
									</div>
									<nav  class="photo-list-pasport2">
										<!--<div v-for="doc in videoApprove" style="display:none;"-->
											 <!--:id="replaceId(doc.file_name)">-->
											<!--<video class="lg-video-object lg-html5" controls preload="none">-->
												<!--<source :src="doc.file_path">-->
												<!--Your browser does not support HTML5 video.-->
											<!--</video>-->
										<!--</div>-->
										<div class="video-list">
                                            <a v-for="doc in videoApprove"
											   target="_blank"
											   :href="doc.file_path"
											   :data-sub-html="doc.file_name"
											   :data-html="'#' + replaceId(doc.file_name)">
                                            <img src="https://ateliesaun.ru/img/new/video.jpg"/>
                                                <span class="fa fa-times-circle del-photo"
													  @click.stop.prevent="removeDocument(doc.id)"></span>
                                        </a>
                                        </div>
									</nav>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="clearfix text-right">
					<a class="btn btn-primary" v-show="currentTab !== 'photos' && currentTab !== 'documents'"
					   @click.prevent="saveProfile">Сохранить</a>
				</div>
			</div>
		</div>

	</div>
</template>

<script>
	import Multiselect from 'vue-multiselect'
    import MySelect from  '../../custom/select2/component.vue'
	import toastr from 'toastr'
	import moment from 'moment'
	import _ from 'lodash'
	import Preloader from '../../custom/normalPreloader/component.vue'
	export default {
		name: 'WomanEdit',
		data() {
			return {
				passportType: '',
				usualPass: true,
				allPartners: [],
				allAdmins: [],
				showAdmins: [],
				id: null,
				avatar: '#',
				camera: null,
				online: null,
				selectedPartner: false,
				loading: true,
				selectedFlowers: [],
				galleryPassport: null,
				galleryWith: null,
				flowersList: [
					{ name: 'flowers_red_roses', value: 'Red roses' },
					{ name: 'flowers_white_roses', value: 'White roses' },
					{ name: 'flowers_pink_roses', value: 'Pink roses' },
					{ name: 'flowers_gerbera', value: 'Gerbera' },
					{ name: 'flowers_chrysanthemum', value: 'Chrysanthemum' },
				],
				selectedPet: [],
				petList: [
					{ name: 'pet_dog', value: 'Dog' },
					{ name: 'pet_cat', value: 'Cat' },
					{ name: 'pet_hamster', value: 'Hamster' },
					{ name: 'pet_aquarium_fish', value: 'Aquarium fish' },
					{ name: 'pet_parrot', value: 'Parrot' },
					{ name: 'pet_turtle', value: 'Turtle' },
					{ name: 'pet_snake', value: 'Snake' },
					{ name: 'pet_iguana', value: 'Iguana' },
					{ name: 'pet_chinchilla', value: 'Chinchilla' },
					{ name: 'pet_rabbit', value: 'Rabbit' },
				],
				selectedTarget: [],
				targetList: [
					{ name: 'target_friendship', value: 'Friendship' },
					{ name: 'target_communication', value: 'Communication' },
					{ name: 'target_journey', value: 'Journey' },
					{ name: 'target_flirtation', value: 'Flirtation' },
					{ name: 'target_meeting', value: 'Meeting' },
					{ name: 'target_family', value: 'Family' },
					{ name: 'target_children', value: 'Children' }
				],
				selectedCelebration: [],
				celebrationList: [
					{ name: 'celebration_birthday', value: 'Birthday' },
					{ name: 'celebration_christmas_day', value: 'Christmas Day' },
					{ name: 'celebration_new_years_day', value: 'New years Day' },
					{ name: 'celebration_easter', value: 'Easter' },
					{ name: 'celebration_valentines_day', value: 'Valentines Day' },
					{ name: 'celebration_halloween', value: 'Halloween' },
					{ name: 'celebration_womens_day', value: 'Women\'s Day' }
				],
				partner: '',
				birthday: '',
				branch: '',
				admin: '',
				name: '',
				surName: '',
				middleName: '',
				email: '',
				active: '',
				passport: '',
				note: '',
				country: '',
				city: '',
				address: '',
				phone: '',
				skype: '',
				body: '',
				height: '',
				weight: '',
				eye_color: '',
				hair_color: '',
				status: '',
				english: '',
				spanish: '',
				german: '',
				french: '',
				portuguese: '',
				familyStatus: '',
				degree: '',
				profession: '',
				accommodation: '',
				children: '',
				religion: '',
				smoke: '',
				drink: '',
				interests: '',
				about_me: '',
				about_man_age_from: '',
				about_man_age_to: '',
				about_man: '',
				selectedCountry: '',
				selectedCity: '',
				countries: [],
				cities: [],
				isLoading: false,
				currentTab: 'main',
				passportDocument: [],
				photoWithPassport: [],
				videoApprove: [],
				photosAvatar: [],
				photosPublic: [],
				education: '',
				photosPrivate: [],
				publicOnModeration: [],
				avatarsOnModeration: [],
				privateOnModeration: [],
				photosReject: [],
				privateRejectedPhotos: [],
				publicRejectedPhotos: [],
				photosToDeleting: [],
				needAdminUpdate: false,
				newAdmin: '',
				newPartner: ''
			}
		},
		watch: {
			passportType( v ) {
				this.usualPass = !this.usualPass
			},
			selectedCountry( value ) {
				let name = value.name;
				this.country = name;
			},
			selectedCity( value ) {
				this.city = value.name
			},
		},
		methods: {
			initGallery() {
				if ( this.galleryPassport ) this.galleryPassport.data('lightGallery').destroy(true);
				this.$nextTick( () => {
					this.galleryPassport = $( '#passportdoc' ).lightGallery( {
						selector: '.photo-nav__item'
					} );
				} );
				this.initGalleryWith()
			},
			initGalleryWith() {
				if ( this.galleryWith ) this.galleryWith.data('lightGallery').destroy(true);
				this.$nextTick( () => {
					this.galleryWith = $( '#withpassport' ).lightGallery( {
						selector: '.photo-nav__item'
					} );
				} );
			},
			isDocument(name) {
				return name.match('pdf') !== null;
			},
			changePassport() {
				this.passport = ''
			},
			fetchAllPartners() {
				this.$http.post( 'v2/agency/get/list', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( data => {
					if ( data.body.status ) {
						this.allPartners = data.body.result;
					}
				} ).catch( err => {
					toastr.error( 'Не могу получить список всех партнеров' )
				} )
			},
			selectNewPartner( id ) {
				if ( id ) {
					this.newPartner = id;
					this.newAdmin = '';
					this.admin = '';
					this.showAdmins = [];
					this.needAdminUpdate = true;
					this.fetchAdminInPartner( id );
				} else {
					this.newPartner = '';
					this.showAdmins = [];
				}
			},
			selectNewAdmin( id ) {
				if ( id ) {
					this.newAdmin = id;
					this.needAdminUpdate = true;
				} else {
					this.newAdmin = '';
					this.needAdminUpdate = true;
				}
			},
			fetchAdminInPartner( id ) {
				this.$http.post( 'v2/agency/get/admin-in-agency', {
					access_token: this.$cookie.get( 'access_token' ),
					agency_id: id
				} ).then( data => {
					if ( data.body.status ) {
						this.showAdmins = [];
						this.showAdmins = data.body.result;
					}
				} ).catch( err => {
					toastr.error( 'Не могу получить список админов выбраного партнера' )
				} )
			},
			removeDocument( id ) {
				App.confirm( 'Отметить документ неактвным?', cf => {
					if ( cf ) {
						this.$http.post( 'v2/document/disable/document', {
							access_token: this.$cookie.get( 'access_token' ),
							user_document_id: id
						} ).then( data => {
							if ( data.body.status ) {
								toastr.success( 'Документ отмечен неактивным' );
								setTimeout( () => {
									this.fetchDocument();
								}, 200 )
							} else {
								toastr.error( 'Не могу удалить документ' );
							}
						}, err => {
							toastr.error( 'Не могу удалить документ' );
						} )
					}
				} )
			},
			replaceId( name ) {
				return _.replace( name.replace( '.', '' ), new RegExp( '[0-9]' ), '' )
			},
			deletePhoto( id ) {
				App.confirm( 'Фото будет удалено без модерации. Вы уверены, что хотите удалить это фото?', response => {
					if ( response ) {
						this.$http.post( 'v2/female/remove-photo', {
							access_token: this.$cookie.get( 'access_token' ),
							user_id: this.$route.params.woman,
							photo_id: id
						} ).then( data => {
							if ( data.body.status ) {
								toastr.success( 'Фото удaлено успешно' )
								this.fetchPhotos()
							} else {
								toastr.error( 'Не могу удалить фото' )
								toastr.info( data.body.desc );
							}
						}, err => {
							toastr.error( 'Не могу удалить фото' )
						} )
					}
				} )
			},
			setAsAvatar( photoId ) {
				this.$http.post( 'v2/female/establish/avatar', {
					access_token: this.$cookie.get( 'access_token' ),
					user_id: this.$route.params.woman,
					photo_id: photoId
				} ).then( data => {
					if ( data.body.status ) {
						this.fetchPhotos();
						toastr.success( 'Аватар отправлен на модерацию' )
					} else {
						toastr.error( 'Не могу установить фото как аватар' )
					}
				}, err => {
					toastr.error( 'Не могу установить фото как аватар' )
				} )
			},
			clearInput( el ){
				console.log( el.value );
				el.value = null;
				//el.value;
			},
			dropNewPhoto( event ) {
				this.utils.checkImage( event ).then( res => {
					if ( res === undefined || res.status === undefined || res.status === false ) {
						return false;
					} else if ( 'status' in res && res.status ) {
						let albumType = event.target.dataset.type;
						if ( albumType == 'public' || albumType == 'private' ) {
							let photoFile = event.target.files[ 0 ];
							let newPhotoFormData = new FormData();
							newPhotoFormData.append( 'user_id', this.$route.params.woman )
							newPhotoFormData.append( 'access_token', this.$cookie.get( 'access_token' ) )
							newPhotoFormData.append( 'album_type', albumType );
							newPhotoFormData.append( 'image', photoFile );
							toastr.info( 'Начинаю загрузку фото' );
							this.$http.post( 'v2/female/upload-photo', newPhotoFormData )
								.then( data => {
									if ( data.body.status ) {
										this.fetchPhotos();
										setTimeout( () => {
											toastr.success( 'Фото успешно загружено' )
											event.target.value = null;
											event = null;

										}, 300 );
									} else {
										toastr.error( 'Не удалось загрузить фотографию' );
										event.target.value = null;
										event = null;
										toastr.info( data.body.desc );
									}
								}, err => {
									toastr.error( 'Не удоалось загрузить фотографию' );
									event.target.value = null;
									event = null;
									console.log( err )
								} )
						} else {
							toastr.error( 'Не верный тип альбома' );
							event.target.value = null;
							event = null;
						}
					}
				} ).catch( err => {
					toastr.error( err.description );
					event.target.value = null;
					event = null;

				} )
			},
			fetchPhotos() {
				this.$http.post( 'v2/female/load-photos', {
					access_token: this.$cookie.get( 'access_token' ),
					user_id: this.$route.params.woman
				} ).then( data => {
					if ( data.body.status ) {
						let photos = data.body.result;
						this.photosAvatar = photos.avatars;
						this.photosPublic = photos.public_photo;
						this.photosPrivate = photos.private_photo;
						this.publicOnModeration = photos.public_on_moderate;
						this.avatarsOnModeration = photos.avatar_on_moderate
						this.privateOnModeration = photos.private_on_moderate;
						this.privateRejectedPhotos = photos.rejected_private_photo;
						this.publicRejectedPhotos = photos.rejected_public_photo;
						this.photosToDeleting = photos.photo_on_delete;
						this.initGallery()
					} else {
						toastr.error( 'Не могу загрузить список фото клиентки' );
						toastr.info( data.body.desc );
					}
				}, err => {
					toastr.error( 'Не могу загрузить список фото клиентки' )
				} )
			},
			fetchDocument() {
				this.passportDocument = [];
				this.photoWithPassport = [];
				this.videoApprove = [];
				this.$http.post( 'v2/document/search/document', {
					access_token: this.$cookie.get( 'access_token' ),
					user_id: this.$route.params.woman
				} ).then( data => {
					if ( data.body.status ) {
						let documents = data.body.result;
						documents.forEach( doc => {
							doc = doc.user_document;
							if ( doc.document_type == 'passport_1' || doc.document_type == 'passport_2' || doc.document_type == 'passport_3' || doc.document_type == 'passport_11' || doc.document_type == 'passport_14' ) {
								this.passportDocument.push( doc );
							}
							if ( doc.document_type == 'photo_with_passport' ) {
								this.photoWithPassport.push( doc )
							}
							if ( doc.document_type == 'video_approve' ) {
								this.videoApprove.push( doc )
							}
						} )
					} else {
						toastr.error( 'Не могу загрузить список документов клиентки' );
						toastr.info( data.body.desc );
					}
				}, err => {
					toastr.error( 'Не могу загрузить список документов клиентки' )
				} )
			},
			openTab( name ) {
				this.currentTab = name
			},
			limitText ( count ) {
				return `and ${count} other countries`
			},
			asyncCity ( query ) {
				this.isLoading = true;
				this.$http.post( this.config.api.frontend + '/v2/guest/get-city', {
					city_name: query,
					country_id: this.selectedCountry.id
				} ).then( data => {
					this.isLoading = false;
					if ( data.body.status ) {
						this.cities = data.body.result;
					}
				}, err => {
					console.log( err );
					this.isLoading = false
				} );
			},
			fetchCountry() {
				this.$http.post( this.config.api.frontend + '/v2/guest/get-country', {} )
					.then( data => {
						if ( data.body.status ) {
							this.countries = data.body.result;
						} else {
							toastr.error( 'Не могу загрузить список стран' )
						}
					}, err => {
						console.log( err );
					} )
			},
			limitText ( count ) {
				return `and ${count} other countries`
			},
			asyncFindCountry ( query ) {
				this.isLoading = true;
				this.$http.post( 'https://api.vk.com/method/database.getCountries', {
					need_all: 1
				} ).then( country => {
					console.log( country.body );
				}, err => {
					console.log( err );
				} )
			},
			customLabel ( option ) {
				return `${option.value}`
			},
			fetchManData() {
				this.loading = true;
				this.$http.post( 'v2/female/get/one', {
					access_token: this.$cookie.get( 'access_token' ),
					user_id: this.$route.params.woman
				} ).then( data => {
					if ( data.body.status ) {
						let womanData = data.body.result;
						if ( womanData.general.passport.length > 8 ) {
							this.passportType = 'passportBio'
						}
						else {
							this.passportType = ''
						}
						let preferences = womanData.preferences;
						for ( let pref in preferences ) {
							if ( pref.match( 'flowers_' ) ) {
								if ( preferences[ pref ] == 1 ) {
									let prefName = pref;
									prefName = pref.replace( '_', ' ' ).replace( '_', ' ' ).replace( 'flowers ', '' );
									prefName[ 0 ].toUpperCase();
									prefName.charAt( 0 ).toUpperCase();
									this.selectedFlowers.push( {
										name: pref,
										value: _.startCase( prefName )
									} )
								}
							}
							if ( pref.match( 'pet_' ) ) {
								if ( preferences[ pref ] == 1 ) {
									let prefName = pref;
									prefName = pref.replace( '_', ' ' ).replace( '_', ' ' ).replace( 'pet ', '' );
									prefName[ 0 ].toUpperCase();
									prefName.charAt( 0 ).toUpperCase();
									this.selectedPet.push( {
										name: pref,
										value: _.startCase( prefName )
									} )
								}
							}
							if ( pref.match( 'target_' ) ) {
								if ( preferences[ pref ] == 1 ) {
									let prefName = pref;
									prefName = pref.replace( '_', ' ' ).replace( '_', ' ' ).replace( 'target_ ', '' );
									prefName[ 0 ].toUpperCase();
									prefName.charAt( 0 ).toUpperCase();
									this.selectedTarget.push( {
										name: pref,
										value: _.replace( _.startCase( prefName ), 'Target', '' )
									} )
								}
							}
							if ( pref.match( 'celebration_' ) ) {
								if ( preferences[ pref ] == 1 ) {
									let prefName = pref;
									prefName = pref.replace( '_', ' ' ).replace( '_', ' ' ).replace( '_', ' ' ).replace( 'celebration ', ' ' );
									this.selectedCelebration.push( {
										name: pref,
										value: _.startCase( prefName )
									} )
								}
							}
						}
						this.id = womanData.main.id;
						this.avatar = womanData.main.avatar;
						this.camera = womanData.main.camera;
						this.online = womanData.main.online;

						this.partner = womanData.general.agency.name + ' (id:' + womanData.general.agency.id + ')';
						//this.partner_id = womanData.general.agency.id;

						if (womanData.general.birthday !== null) {
							this.birthday = womanData.general.birthday * 1000 + '';
						}
						this.branch = womanData.general.branch.name;
						this.admin = womanData.general.admin.name;
						if ( womanData.general.admin.exist ) {
							this.newAdmin = womanData.general.admin.id;
						} else {
							this.newAdmin = '';
						}
						this.newPartner = womanData.general.agency.id;
						this.fetchAdminInPartner( womanData.general.agency.id );
						this.$http.post( 'v2/agency/get/admin-in-agency', {
							access_token: this.$cookie.get( 'access_token' ),
							agency_id: womanData.general.agency.id
						} ).then( data => {
							if ( data.body.status ) {
								this.allAdmins = data.body.result;
							}
						} ).catch( err => {
							toastr.error( 'Не могу получить список админов выбраного партнера' )
						} )

						this.name = womanData.main.first_name;
						this.surName = womanData.main.surname;
						this.middleName = womanData.main.middle_name;
						this.email = womanData.general.email;
						this.active = womanData.general.status;
						this.passport = womanData.general.passport;
						this.note = womanData.general.note;
						this.country = womanData.contact.country;
						this.city = womanData.contact.city;
						this.address = womanData.contact.address;
						this.phone = womanData.contact.phone;
						this.skype = womanData.contact.skype;
						this.body = womanData.appearance.body;
						this.height = womanData.appearance.height;
						this.weight = womanData.appearance.weight;
						this.eye_color = womanData.appearance.eye_color;
						this.hair_color = womanData.appearance.hair_color;
						this.status = womanData.additional_info.status;
						this.english = womanData.additional_info.lang_english;
						this.spanish = womanData.additional_info.lang_spanish;
						this.french = womanData.additional_info.lang_french;
						this.portuguese = womanData.additional_info.lang_portuguese;
						this.german = womanData.additional_info.lang_german;
						this.familyStatus = womanData.additional_info.family_status;
						this.education = womanData.additional_info.education;
						this.profession = womanData.additional_info.profession;
						this.accommodation = womanData.additional_info.accommodation;
						this.children = womanData.additional_info.children;
						this.religion = womanData.additional_info.religion;
						this.smoke = womanData.additional_info.smoke;
						this.drink = womanData.additional_info.drink;
						this.interests = womanData.preferences.interests;
						this.about_me = womanData.preferences.about_me;
						this.about_man_age_from = womanData.preferences.about_man_age_from;
						this.about_man_age_to = womanData.preferences.about_man_age_to;
						this.about_man = womanData.preferences.about_man;

						setTimeout( () => {
							this.loading = false;
							setTimeout( () => {
								this.openNeedTab();
								$( "#birthdayPicker" ).datetimepicker( {
									useCurrent: false,
									defaultDate: moment( +this.birthday ),
									format: 'DD.MM.YYYY',
									locale: 'ru',
									widgetPositioning: {
										horizontal: "left"
									}
								} );
								$( '#birthdayPicker' ).on( "dp.change", ( e ) => {
									let date = e.date;
									if (e.date) {
										this.birthday = moment(date._d).format('DD.MM.YYYY');
									} else {
										this.birthday = null
									}
								} );
							}, 40 );
						}, 100 );
					} else {
						toastr.error( 'Не могу загрузить информацию о клиентке' )
					}
				}, err => {
					toastr.error( 'Не могу загрузить информацию о клиентке' )
				} )
			},
			capitalizeFirstLetter( string ) {
				return string
					.toLowerCase()
					.split( ' ' )
					.map( function ( word ) {
						return word[ 0 ].toUpperCase() + word.substr( 1 );
					} )
					.join( ' ' );
			},
			test( event ) {
				this.utils.checkImage( event ).then( res => {
					if ( res === undefined || res.status === undefined || res.status === false ) {
						return false;
					} else if ( 'status' in res && res.status ) {
						let albumType = event.target.dataset.type;
						if ( albumType == 'public' || albumType == 'private' ) {
							let photoFile = event.target.files[ 0 ];
							let newPhotoFormData = new FormData();
							newPhotoFormData.append( 'user_id', this.$route.params.woman )
							newPhotoFormData.append( 'access_token', this.$cookie.get( 'access_token' ) )
							newPhotoFormData.append( 'album_type', albumType );
							newPhotoFormData.append( 'image', photoFile );
							toastr.info( 'Начинаю загрузку фото' );
							this.$http.post( 'v2/female/upload-photo', newPhotoFormData )
								.then( data => {
									if ( data.body.status ) {
										this.fetchPhotos();
										setTimeout( () => {
											toastr.success( 'Фото успешно загружено' )
											event.target.value = null;
											event = null;

										}, 300 );
									} else {
										toastr.error( 'Не удалось загрузить фотографию' );
										event.target.value = null;
										event = null;
										toastr.info( data.body.desc );
									}
								}, err => {
									toastr.error( 'Не удоалось загрузить фотографию' );
									event.target.value = null;
									event = null;
									console.log( err )
								} )
						} else {
							toastr.error( 'Не верный тип альбома' );
							event.target.value = null;
							event = null;
						}
					}
				} ).catch( err => {
					toastr.error( err.description );
					event.target.value = null;
					event = null;

				} )
			},
			dropVideo( event ) {
				let file = event.currentTarget.files[0]
				file.typeServer = 'video_approve'
				this.utils.checkVideo( file ).then( (res, rej) => {
					console.log(file)
					console.log(res)
					if ( rej ) {
						toastr.error( rej.description );
						return false;
					}
					else {
						let documentType = file.type;
						let document = file;
						let documentFormData = new FormData();
						documentFormData.append( 'access_token', this.$cookie.get( 'access_token' ) );
						documentFormData.append( 'user_document_type', document.typeServer );
						documentFormData.append( 'user_document_file', document );
						documentFormData.append( 'user_document_id', this.$route.params.woman );
						toastr.info( 'Начинаю загрузку документа' );
						this.$http.post( 'v2/document/upload/document', documentFormData )
							.then( data => {
								if ( data.body.status ) {
									console.log( data.body.result );
									let documentUploaded = data.body.result;
									if ( documentUploaded.document_type == 'video_approve' ) {
										this.videoApprove.push( documentUploaded )
									}
									toastr.success( 'Документ загружен успешно' )
									file = null;
								} else {
									toastr.error( 'Не могу загрузить документ' );
									toastr.info( data.body.desc );
									file = null;
								}
							}, err => {
								toastr.error( err )
								event.target.value = null;
							} )
					}
				})
			},
			dropDocument( event ) {
				this.utils.checkDocument( event ).then( res => {
					if ( res === undefined || res.status === undefined || res.status === false ) {
						return false;
					} else if ( 'status' in res && res.status ) {
						let documentType = event.target.dataset.type;
						let document = event.target.files[ 0 ];
						let documentFormData = new FormData();
						documentFormData.append( 'access_token', this.$cookie.get( 'access_token' ) );
						documentFormData.append( 'user_document_type', documentType );
						documentFormData.append( 'user_document_file', document );
						documentFormData.append( 'user_document_id', this.$route.params.woman );
						toastr.info( 'Начинаю загрузку документа' );
						this.$http.post( 'v2/document/upload/document', documentFormData )
							.then( data => {
								if ( data.body.status ) {
									console.log( data.body.result );
									let documentUploaded = data.body.result;
									if ( documentUploaded.document_type == 'passport_1' ) {
										this.passportDocument.push( documentUploaded )
									}
									if ( documentUploaded.document_type == 'photo_with_passport' ) {
										this.photoWithPassport.push( documentUploaded )
									}
									if ( documentUploaded.document_type == 'video_approve' ) {
										this.videoApprove.push( documentUploaded )
									}
									toastr.success( 'Документ загружен успешно' )
									event.target.value = null;
								} else {
									toastr.error( 'Не могу загрузить документ' );
									toastr.info( data.body.desc );
									event.target.value = null;
								}
							}, err => {
								toastr.error( err )
								event.target.value = null;
							} )
					}
				} ).catch( err => {
					toastr.error( err.description );
					event.target.value = null;
					event = null;

				} )
			},
			dropPhoto( event ) {
				let albumType = event.target.dataset.type;
				let photo = event.target.dataset.type;
			},
			saveProfile() {
				if ( this.currentTab == 'main' ) {
					let hasError = false;
					if ( this.note === '' ) {
						toastr.warning( 'Поле примечание обязательно к заполнению' );
						hasError = true;
					}
					if ( this.name === '' || this.name === null ) {
						toastr.warning( 'Поле имя обязательно к заполнению' );
						hasError = true;
						return false;
					}
					if ( this.surName === '' || this.surName === null ) {
						toastr.warning( 'Поле фамилия обязательно к заполнению' );
						hasError = true;
						return false;
					}
					if ( this.middleName === '' || this.middleName === null ) {
						toastr.warning( 'Поле отчество обязательно к заполнению' );
						hasError = true;
						return false;
					}

					let birthday;

					if (this.birthday === null || this.birthday === '' || this.birthday === 'null') {
						birthday = '' // for receiving server validation error about required birthday
						toastr.warning('Поле дата рождения обязательно к заполнению');
                        hasError = true;
					} else {
						birthday = +this.birthday ? moment.utc( +this.birthday ).format( 'X' ) : moment.utc(this.birthday, "DD-MM-YYYY").format('X')
					}

					if ( this.surname === '' ) {
						toastr.warning( 'Поле фамилия  обязательно к заполнению' );
						hasError = true;
						return false;
					}
					if ( this.middle_name === '' ) {
						toastr.warning( 'Поле отчество обязательно к заполнению' );
						hasError = true;
						return false;
					}
					if ( this.passport === '' || this.passport === null ) {
						toastr.warning( 'Поле паспорт обязательно к заполнению' );
						hasError = true;
						return false;
					}
					if ( hasError ) {
						return false;
					}
					this.$http.post( 'v2/female/edit-main-info', {
						birthday,
						access_token: this.$cookie.get( 'access_token' ),
						user_id: this.$route.params.woman,
						status: this.active,
						note: this.note,
						admin_id: this.newAdmin,
						agency_id: this.newPartner,
						name: this.name,
						surname: this.surName,
						middle_name: this.middleName,
						passport: this.passport
					} ).then( data => {
						if ( data.body.status ) {
							toastr.success( 'Основная информация обновлена' )
						} else {
							toastr.error( 'Не могу обновить основную информацию о клиентке' )
							toastr.info( data.body.desc )
						}
					}, err => {
						console.log( err );
						toastr.error( 'Не могу обновить основную информацию о клиентке' )
					} )
				}
				if ( this.currentTab == 'contacts' ) {
					let hasError = false;
					if ( (this.country === '' || this.country === null ) && (this.selectedCountry === '' || this.selectedCountry === null) ) {
						toastr.warning( 'Поле страна обязательно к заполнению' );
						hasError = true;
						return false;
					}
					if ( (this.city === '' || this.city === null) && (this.selectedCity === '' || this.selectedCity === null) ) {
						toastr.warning( 'Поле город обязательно к заполнению' );
						hasError = true;
						return false;
					}
					if ( this.address === '' || this.address === null ) {
						toastr.warning( 'Поле адрес обязательно к заполнению' );
						hasError = true;
						return false;
					}
					if ( this.phone === '' ) {
						toastr.warning( 'Поле номер телефона  обязательно к заполнению' );
						hasError = true;
						return false;
					}

					if ( hasError ) {
						return false;
					}
					this.$http.post( 'v2/female/edit-personal-contact', {
						access_token: this.$cookie.get( 'access_token' ),
						user_id: this.$route.params.woman,
						address_country: this.country,
						address_city: this.city,
						address: this.address,
						phone: this.phone,
						skype: this.skype
					} ).then( data => {
						if ( data.body.status ) {
							toastr.success( 'Данные о контактах обновлены' )
						} else {
							toastr.error( 'Не могу обновить основную информацию о контактах' );
							toastr.info( data.body.desc )
						}
					}, err => {
						console.log( err );
						toastr.error( 'Не могу обновить основную информацию о контактах' )
					} )
				}
				if ( this.currentTab == 'appearance' ) {
					let hasError = false;
					if ( this.body === '' || this.body === null ) {
						toastr.warning( 'Поле телосложение обязательно к заполнению' );
						hasError = true;
						return false;
					}
					if ( this.height === '' || this.height === null ) {
						toastr.warning( 'Поле рост обязательно к заполнению' );
						hasError = true;
						return false;
					}
					if ( this.weight === '' || this.weight === null ) {
						toastr.warning( 'Поле вес обязательно к заполнению' );
						hasError = true;
						return false;
					}
					if ( this.eye_color === '' || this.eye_color === null ) {
						toastr.warning( 'Поле цвет глаз обязательно к заполнению' );
						hasError = true;
						return false;
					}
					if ( this.hair_color === 'no' || this.hair_color === '' || this.hair_color === null ) {
						toastr.warning( 'Поле цвет волос обязательно к заполнению' );
						hasError = true;
						return false;
					}

					if ( !hasError ) {
						this.$http.post( 'v2/female/edit-user-appearance', {
							access_token: this.$cookie.get( 'access_token' ),
							user_id: this.$route.params.woman,
							body: this.body,
							height: this.height,
							weight: this.weight,
							eye_color: this.eye_color,
							hair_color: this.hair_color
						} ).then( data => {
							if ( data.body.status ) {
								toastr.success( 'Данные о внешности обновлены' )
							} else {
								toastr.error( 'Не могу обновить основную информацию о внешности' )
								toastr.info( data.body.desc )
							}
						}, err => {
							console.log( err );
							toastr.error( 'Не могу обновить основную информацию о внешности' )
						} )
					}
				}
				if ( this.currentTab == 'additional' ) {

					if ( this.english === 'no' ) {
						toastr.warning( 'Поле уровень английского обязательно к заполеннию' );
						return false;
					}
					if ( this.familyStatus === '' || this.familyStatus === null || this.familyStatus === 'no' ) {
						toastr.warning( 'Поле семейное положение обязательно к заполеннию' );
						return false;
					}
					if ( this.education === 'no' || this.education === null || this.education === '' ) {
						toastr.warning( 'Поле образование обязательно к заполеннию' );
						return false;
					}
					if ( this.profession === '' || this.profession === null ) {
						toastr.warning( 'Поле профессия обязательно к заполеннию' );
						return false;
					}
					if ( this.accommodation === 'no' || this.accommodation === '' || this.accommodation === null ) {
						toastr.warning( 'Поле "Я живу" обязательно к заполеннию' );
						return false;
					}
					if ( this.children === 'no' || this.children === '' || this.children === null ) {
						toastr.warning( 'Поле дети обязательно к заполеннию' );
						return false;
					}
					if ( this.smoke === 'no' || this.smoke === '' || this.smoke === null ) {
						toastr.warning( 'Поле отношение к курению обязательно к заполеннию' );
						return false;
					}
					if ( this.drink === 'no' || this.drink === '' || this.drink === null ) {
						toastr.warning( 'Поле отношение к алкоголю обязательно к заполеннию' );
						return false;
					}

					this.$http.post( 'v2/female/edit-additional-info', {
						access_token: this.$cookie.get( 'access_token' ),
						user_id: this.$route.params.woman,
						lang_english: this.english,
						lang_german: this.german,
						lang_portuguese: this.portuguese,
						lang_french: this.french,
						lang_spanish: this.spanish,
						family_status: this.familyStatus,
						education: this.education,
						profession: this.profession,
						accommodation: this.accommodation,
						children: this.children,
						religion: this.religion,
						smoke: this.smoke,
						drink: this.drink,
						status: this.status
					} ).then( data => {
						if ( data.body.status ) {
							toastr.success( 'Данные о дополнительной информации обновлены' )
						} else {
							toastr.error( 'Не могу обновить информацию о дополнительной информации' )
							toastr.info( data.body.desc )
						}
					}, err => {
						console.log( err );
						toastr.error( 'Не могу обновить информацию о дополнительной информации' )
					} )
				}
				if ( this.currentTab == 'preferences' ) {

					if ( this.selectedTarget.length === 0 ) {
						toastr.warning( 'Поле цели обязательно к заполению' );
						return false;
					}
					if ( this.interests === '' || this.interests === null ) {
						toastr.warning( 'Поле интересы обязательно к заполению' );
						return false;
					}
					if ( this.about_me === '' || this.about_me === null ) {
						toastr.warning( 'Поле обо мне обязательно к заполению' );
						return false;
					}
					if ( this.about_man_age_from === '' || this.about_man_age_from === null ) {
						toastr.warning( 'Поле возраст мужчины обязательно к заполению' );
						return false;
					}
					if ( this.about_man_age_to === '' || this.about_man_age_to === null ) {
						toastr.warning( 'Поле возраст мужчины обязательно к заполению' );
						return false;
					}

					if ( this.about_man === '' || this.about_man === null ) {
						toastr.warning( 'Поле о мужчине обязательно к заполению' );
						return false;
					}

					let prefData = new FormData();
					prefData.append( 'access_token', this.$cookie.get( 'access_token' ) );
					prefData.append( 'user_id', this.$route.params.woman );
					prefData.append( 'about_man_age_from', this.about_man_age_from );
					prefData.append( 'about_man_age_to', this.about_man_age_to );
					prefData.append( 'about_man', this.about_man );
					prefData.append( 'about_me', this.about_me );
					prefData.append( 'interests', this.interests );

					let pets = this.selectedPet;
					let allPets = this.petList;
					let petsSimpleArray = [];
					for ( let i = 0; i < pets.length; i++ ) {
						petsSimpleArray.push( pets[ i ].name )
					}
					allPets.forEach( pet => {
						if ( petsSimpleArray.indexOf( pet.name ) != -1 ) {
							prefData.append( pet.name, 1 )
						} else {
							prefData.append( pet.name, "0" )
						}
					} );

					let flowers = this.selectedFlowers;
					let allFlowers = this.flowersList;
					let flowersSimpleArray = [];
					for ( let i = 0; i < flowers.length; i++ ) {
						flowersSimpleArray.push( flowers[ i ].name )
					}
					allFlowers.forEach( flower => {
						if ( flowersSimpleArray.indexOf( flower.name ) != -1 ) {
							prefData.append( flower.name, 1 )
							console.log( flower.name )
						} else {
							console.log( flower.name )
							prefData.append( flower.name, "0" )
						}
					} );

					let targets = this.selectedTarget;
					let allTargets = this.targetList;
					let targetsSimpleArray = [];
					for ( let i = 0; i < targets.length; i++ ) {
						targetsSimpleArray.push( targets[ i ].name )
					}
					allTargets.forEach( target => {
						console.log( target );
						if ( targetsSimpleArray.indexOf( target.name ) != -1 ) {
							prefData.append( target.name, 1 )
						} else {
							prefData.append( target.name, "0" )
						}
					} );

					let celebrations = this.selectedCelebration;
					let allCelebrations = this.celebrationList;
					let celebrationsSimpleaArray = [];
					for ( let i = 0; i < celebrations.length; i++ ) {
						celebrationsSimpleaArray.push( celebrations[ i ].name )
					}
					allCelebrations.forEach( celebrate => {
						if ( celebrationsSimpleaArray.indexOf( celebrate.name ) != -1 ) {
							prefData.append( celebrate.name, 1 );

							console.log( celebrate.name )
						} else {
							prefData.append( celebrate.name, "0" )
						}
					} );


					this.$http.post( 'v2/female/edit-user-preference', prefData )
						.then( data => {
							if ( data.body.status ) {
								toastr.success( 'Данные о предпочтениях обновлены' )
							} else {
								toastr.error( 'Не могу обновить информацию о предпочтениях' );
								toastr.info( data.body.desc );
							}
						}, err => {
							console.log( err );
							toastr.error( 'Не могу обновить информацию о предпочтениях' )
						} )
				}
			},
			openNeedTab() {
				let needTab = window.location.hash;
				$( 'a[href="' + needTab + '"]' ).click();
				if ( needTab === '#main-tab' ) {
					this.openTab( 'main' );
				}
				if ( needTab === '#contacts' ) {
					this.openTab( 'contacts' );
				}
				if ( needTab === '#additional' ) {
					this.openTab( 'additional' );
				}
				if ( needTab === '#appearance' ) {
					this.openTab( 'appearance' );
				}
				if ( needTab === '#preferences' ) {
					this.openTab( 'preferences' );
				}
			}
		},
		components: {
			Multiselect: window.VueMultiselect.default,
			'my-select': MySelect,
			'loader': Preloader
		},
		beforeMount() {
			this.fetchManData();
			this.fetchCountry();
			this.fetchDocument();
			this.fetchPhotos();
			this.fetchAllPartners();
		},
		mounted() {

		}
	}
</script>

<style lang="scss" scoped>
	.video-list {
		display: flex;
		flex-wrap: wrap;
		a {
			position: relative;
			margin: 0 8px;
			flex: 0 0 120px;
		}
		img {
			max-width: 100%;
		}
		.del-photo {
			position: absolute;
			top: -4px;
			right: -4px;
			background: #fff;
			border-radius: 50%;
			line-height: 15px;
			font-size: 19px;
			color: #2f3745;
		}
	}
	.multiselect__tag {
		background-color: cornflowerblue !important;
	}
</style>
