<template>
    <!-- .row (main row) -->
    <div class="row">
        <div class="col-md-12">
            <div class="box box-blue box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Список подарков</h3>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <!-- filter -->
                    <form class="row">
                        <div class="form-group margin">
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="ID" v-model="searchById">
                            </div>
                            <div class="col-md-2">
                                <my-select :options="allPartners" :placeholder="'Партнер'"
                                           :callback="selectPartnerCallback"
                                           :className="'letters-woman-partner-select'"></my-select>

                            </div>
                            <div class="col-md-2">
                                <my-select :options="showBranches" :placeholder="'Филиал'"
                                           :callback="selectBranchCallback"
                                           :className="'letters-woman-branch-select'"></my-select>
                            </div>
                            <div class="col-md-2">
                                <my-select :options="showAdmins" :placeholder="'Админ'"
                                           :callback="selectAdminCallback"
                                           :className="'letters-woman-admin-select'"></my-select>
                            </div>
                            <div class="col-md-2">
                                <my-select :options="showWomen" :placeholder="'Клиентка'"
                                           :callback="selectWomanCallback"
                                           :className="'moderation-woman-letters'"></my-select>
                            </div>
                            <div class="col-md-2">
                                <my-select :options="mans" :placeholder="'Клиент'"
                                           :callback="selectManCallback"
                                           :className="'moderation-man-letters-form-control'"></my-select>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="form-group" style="margin-left: 15px">

                            <div class="col-md-2">
                                <select class="form-control" v-model="searchPartnerModeration">
                                    <option class="placeholder-option" value="">Модерация партнера</option>
                                    <option value="free">на модерации</option>
                                    <option value="accept">утверждено</option>
                                    <option value="reject">отклонено</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <select class="form-control" v-model="searchAgencyModeration">
                                    <option class="placeholder-option" value="">Модерация сервиса</option>
                                    <option value="free">на модерации</option>
                                    <option value="accept">утверждено</option>
                                    <option value="reject">отклонено</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                    <table class="table table-bordered table-striped" id="womanGiftsTable" style="width: 100%">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th class="sm-td">Клиентка
                            </th>
                            <th class="sm-td">Клиент
                            </th>
                            <th>Подарок
                            </th>
                            <th>Количество
                            </th>
                            <th>Кредиты
                            </th>
                            <th>Модерация<br>партнера
                            </th>
                            <th>Модерация<br>сервиса
                            </th>
                            <th class="sm-td">Партнер
                            </th>
                            <th class="sm-td">Филиал
                            </th>
                            <th class="sm-td">Админ
                            </th>
                            <th class="sm-td">Дата создания
                            </th>
                            <th>Действие</th>
                        </tr>
                        </thead>
                    </table>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
            <div class="row">
                <div class="col-md-6">
                    <div class="margin-top" id="womanLettersInfo">

                    </div>
                </div>
                <div class="col-md-6">
                    <ul class="pagination pull-right" id="womanLettersPagination">

                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import mySelect from '../../custom/select2/component.vue'
    import moment from 'moment'
    import toastr from 'toastr'
    export default {
        name: 'LettersLog',
        data() {
            return {
                searchPartnerModeration: '',
                searchAgencyModeration: '',
                allPartners: [],
                allBranches: [],
                allAdmins: [],
                showBranches: [],
                showAdmins: [],
                searchById: '',
                searchByStatus: '',
                searchByDistribution: '',
                searchByReade: '',
                allWomen: [],
                showWomen: [],
                table: null,
                letters: [],
                mans: []
            }
        },
        watch: {
            searchById(value) {
                this.searchInTable(0, value);
            },
            searchPartnerModeration(value) {
                this.searchInTable(6, value);
            },
            searchAgencyModeration(value) {
                this.searchInTable(7, value);
            }
        },
        methods: {
            selectManCallback(id) {
                if(id) {
                    this.searchInTable(2, id)
                }else {
                    this.searchInTable(2, '')
                }
            },
            fetchAdminsByAgency(id) {
                this.$http.post('v2/agency/get/admin-in-agency', {
                    access_token: this.$cookie.get('access_token'),
                    agency_id: id
                }).then(data => {
                    if (data.body.status) {
                        this.showAdmins = data.body.result
                    } else {
                        toastr.error('Не могу загрузить список админов')
                    }
                }, err => {
                    toastr.error('Не могу загрузить список админов');
                    console.log(err);
                });
            },
            fetchWomanByAgency(value) {
                this.$http.post('v2/agency/get/woman-in-agency', {
                    access_token: this.$cookie.get('access_token'),
                    agency_id: value
                }).then(data => {
                    if (data.body.status) {
                        this.showWomen = data.body.result;
                        this.allPartners.forEach(p => {
                            if (p.id == value) {
                                this.showBranches = p.agency_branches
                            }
                        })
                    }
                })
            },
            selectBranchCallback(value) {
                if (value) {
                    this.allBranches.forEach(branch => {
                        if (branch.id == value) {
                            this.searchInTable(9, branch.name);
                        }
                    })
                    this.fetchAdminsByAgency(value);
                    this.fetchWomanByAgency(value);
                } else {
                    this.searchInTable(9, '');
                }
            },
            selectAdminCallback(value) {
                if (value) {
                    this.allAdmins.forEach(admin => {
                        if (admin.id == value) {
                            this.searchInTable(10, admin.name);
                        }
                    });
                    this.$http.post('v2/agency/get/agency-woman', {
                        access_token: this.$cookie.get('access_token'),
                        admin_id: value
                    }).then(data => {
                        if (data.body.status) {
                            this.showWomen = [];
                            data.body.result.forEach(woman => {
                                this.showWomen.push({
                                    id: woman.id,
                                    name: woman.fullName
                                })
                            })
                        } else {
                            toastr.error('Не могу получить список клиенток под админом');
                            toastr.info(data.body.desc);
                        }
                    }, err => {
                        toastr.error('Не могу получить скписок клиенток под админом');
                        console.log(err)
                    })
                } else {
                    this.showAdmins = this.allAdmins;
                    this.searchInTable(10, '')
                }
            },
            selectPartnerCallback(value) {
                if (value) {
                    this.allPartners.forEach(partner => {
                        if (partner.id == value) {
                            this.searchInTable(8, partner.name);
                        }
                    });
                    this.showWomen = [];
                    this.showAdmins = [];
                    this.fetchAdminsByAgency(value);
                    this.fetchWomanByAgency(value);
                } else {
                    this.searchInTable(8, '');
                    this.showWomen = this.allWomen;
                    this.showBranches = this.allBranches;
                    this.showAdmins = this.allAdmins;
                }
            },
            selectWomanCallback(value) {
                if (value) {
                    this.allWomen.forEach(w => {
                        if (w.id == value) {
                            this.searchInTable(1, w.name)
                        }
                    })
                } else {
                    this.searchInTable(1, '')
                }
            },
            fetchBranches() {
                this.$http.post('v2/agency/get/branches', {
                    access_token: this.$cookie.get('access_token')
                }).then(data => {
                    if (data.body.status) {
                        this.allBranches = data.body.result;
                        this.showBranches = this.allBranches
                    } else {
                        toastr.error('Не могу получить список филиалов')
                        toastr.info(data.body.desc)
                    }
                }, err => {
                    toastr.error('Не могу получить список филиалов')
                })
            },
            fetchAdmins() {
                this.$http.post('v2/agency/get/admins', {
                    access_token: this.$cookie.get('access_token')
                }).then(data => {
                    if (data.body.status) {
                        let admins = data.body.result;
                        let adminsPrettyArray = [];
                        admins.forEach(a => {
                            adminsPrettyArray.push({
                                id: a.admin_user_id,
                                name: a.admin_name + ' ' + a.admin_surname,
                            })
                        })
                        this.allAdmins = adminsPrettyArray;
                        this.showAdmins = adminsPrettyArray;
                    } else {
                        toastr.error('Не могу получить список админов сайта')
                    }
                }, err => {
                    toastr.error('Не могу получить список админов сайта')
                })
            },
            fetchPartner() {
                this.$http.post('v2/agency/get/list', {
                    access_token: this.$cookie.get('access_token')
                }).then(data => {
                    if (data.body.status) {
                        this.allPartners = data.body.result;
                    } else {
                        toastr.error('Не могу загрузить список партнеров');
                        toastr.info(data.body.desc);
                    }
                }, err => {
                    toastr.error('Не могу загрузить список партнеров')
                })
            },
            fetchWomen() {
                this.$http.post('v2/femal/load-list', {
                    access_token: this.$cookie.get('access_token')
                }).then(data => {
                    if (data.body.status) {
                        let normalArray = [];
                        data.body.result.forEach(woman => {
                            normalArray.push({
                                id: woman.user_id,
                                name: woman.name + ' ' + woman.surname
                            })
                        })
                        this.allWomen = normalArray;
                        this.showWomen = normalArray;
                    } else {
                        toastr.error('Не могу загрузить список клиенток')
                    }
                }, err => {
                    toastr.error('Не могу загрузить список клиенток')
                })
            },
            searchInTable(col, value) {
                if (this.table !== null) {
                    this.table.column(col)
                        .search(value, false, false)
                        .draw();
                }
            },
            fetchData() {
                this.fetchWomen();
                this.$http.post('v2/female/get/gift', {
                    access_token: this.$cookie.get('access_token')
                }).then(data => {
                    if (data.body.status) {
                        this.letters = data.body.result;
                        this.initTable();
                        this.fetchPartner();
                        this.fetchBranches();
                        this.fetchAdmins();
                        this.fetchManFilter();
                    } else {
                        toastr.error(data.body.desc)
                    }
                }, err => {
                    toastr.error('Не могу получить список фото')
                })
            },
            fetchManFilter() {
                this.$http.post('v2/male/easy-load', {
                    access_token: this.$cookie.get('access_token')
                }).then(data => {
                    if(data.body.status) {
                        data.body.result.forEach(man => {
                            this.mans.push({
                                id: man.user_id,
                                name: man.name + ' ' + man.surname
                            })
                        })
                    }else{
                        toastr.err('Не могу загрузить список клиентов');
                        toastr.info(data.body.desc)
                    }
                }, err => {
                    toastr.err('Не могу загрузить список клиентов');
                })
            },
            initTable() {
                if (this.table !== null) {
                    this.table
                        .clear()
                        .draw();
                }
                this.table = $('#womanGiftsTable').DataTable();
                $('#womanGiftsTable_filter').remove();
                $('#womanGiftsTable_length').remove();
                $('#womanLettersPagination').append($('#womanGiftsTable_paginate'))
                $('#womanLettersInfo').append($('#womanGiftsTable_info'))
                this.letters.forEach(gift => {
                	let siteModeration = '';
                	let agencyModeration = '';
                    switch (gift.moderation_site) {
                        case 'accept':
                            siteModeration = 'утверждено';
                            break;
                        case 'reject':
                            siteModeration = 'отклонено';
                            break;
                        case 'free':
                            siteModeration = 'на модерации';
                            break;
                        default:
                            siteModeration = 'на модерации'
                    }
                    switch (gift.moderation_agency) {
                        case 'accept':
                            agencyModeration = 'утверждено';
                            break;
                        case 'reject':
                            agencyModeration = 'отклонено';
                            break;
                        case 'free':
                            agencyModeration = 'на модерации';
                            break;
                        default:
                            agencyModeration = 'на модерации'
                    }
                    this.table.row.add([
                        '<a style="cursor: pointer;" class="show-gift" data-id="' + gift.id + '">' + gift.id + '</a>',
                        '<a style="cursor: pointer;" class="show-woman" data-id="' + gift.woman.id + '">'+gift.woman.name + '(' + gift.woman.id + ')'+'</a>',
                        '<a style="cursor: pointer;" class="show-man" data-id="' + gift.man.id + '">'+gift.man.name + '(' + gift.man.id + ')'+'</a>',
                        gift.gift.name,
                        gift.gift_count,
                        gift.credits,
                        agencyModeration + '<span style="display: none;">'+ gift.moderation_agency +'</span>',
                        siteModeration + '<span style="display: none;">'+ gift.moderation_site +'</span>',
                        '<a style="cursor:pointer;" class="show-agency" data-id="' + gift.agency.id + '">'+gift.agency.name + '<span style="display: none;">' + gift.agency.id + '</span>'+'</a>',
                        '<a style="cursor:pointer;" class="show-agency" data-id="' + gift.branch.id + '">'+gift.branch.name + '<span style="display: none;">' + gift.branch.id + '</span>'+'</a>',
                        '<a style="cursor:pointer;" class="show-admin" data-id="' + gift.admin.id + '">'+gift.admin.name + '<span style="display: none;">' + gift.admin.id + '</span>'+'</a>',
                        moment(gift.created_at * 1000).format('LLL'),
                        '<a style="cursor:pointer;" class="btn btn-primary btn-block show-gift" data-id="' + gift.id + '"><i data-id="' + gift.id + '" class="fa fa-eye fa-lg text-white"></i></a>'
                    ]).draw();
                })
                this.initEventListeners();
            },
            initEventListeners() {
            	$('#womanGiftsTable').on('click', '.show-gift', event => {
            		this.$router.push('/woman/gift/' + event.target.dataset.id);
                });
                $('#womanGiftsTable').on('click', '.show-woman', event => {
                    this.$router.push('/woman/view/' + event.target.dataset.id);
                });
                $('#womanGiftsTable').on('click', '.show-man', event => {
                    this.$router.push('/man/view/' + event.target.dataset.id);
                });
                $('#womanGiftsTable').on('click', '.show-agency', event => {
                    this.$router.push('/partners/view/' + event.target.dataset.id);
                });
                $('#womanGiftsTable').on('click', '.show-admin  ', event => {
                    this.$router.push('/partner/admin/show/' + event.target.dataset.id);
                });
            }
        },
        beforeMount() {
            this.fetchData();
        },
        mounted() {
            $('#womanGiftsTable').on('click', '.show-letter', (ev) => {
                let letterId = ev.target.dataset.id
                this.$router.push('/woman/letter/' + letterId);
            })



        },
        components: {
            'my-select': mySelect
        }
    }
</script>
