<<template>
    <div style="min-height: 84vh">
        <h2 class="page-header">
            <div class="row">
                <div class="col-sm-8 text-left">
                    Подарок ID: {{$route.params.gift}}
                    <a class="btn" :class="{'btn-success': !editMode, 'btn-danger': editMode}" @click="enableEdit"
                       v-if="canEdit">
                    <i class="fa fa-lg fa-edit"></i>
                </a>
                </div>
            </div>
        </h2>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group row">
                    <label class="col-md-2 m-t-0">Дата создания:</label>
                    <div class="col-md-8"> {{prettyCreated}} </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 m-t-0">Клиентка:</label>
                    <div class="col-md-8">
                        <router-link :to="'/woman/view' + gift.woman.id">
                            <div class="user-block user-block-md margin-bottom">
                                <img class="img-circle" :src="gift.woman.avatar.small"
                                     :alt="gift.woman.name">
                                <span class="username">
                                <a>{{gift.woman.name}}</a>
							</span> <a><span class="description">ID: {{gift.woman.id}}</span></a>
                            </div>
                        </router-link>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 m-t-0">Клиент:</label>
                    <div class="col-md-8">
                        <router-link :to="'/man/view' + gift.man.id">
                            <div class="user-block user-block-md margin-bottom">
                                <img class="img-circle" :src="gift.man.avatar.small"
                                     :alt="gift.man.name">
                                <span class="username">
                                <a>{{gift.man.name}}</a>
							</span> <a><span class="description">ID: {{gift.man.id}}</span></a>
                            </div>
                        </router-link>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 m-t-0">Подарок:</label>
                    <div class="clearfix">
                        <img class="attachment-img" :src="gift.gift.photo"
                             alt="Givenchy Ange ou Demon Le Secret ">
                        <div class="attachment-pushed">
                            <div class="attachment-heading"> {{gift.gift.name}}</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 m-t-0">Количество:</label>
                    <div class="col-md-8">{{gift.gift_count}}</div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 m-t-0">Кредиты:</label>
                    <div class="col-md-8">{{gift.credits}}</div>
                </div>
            </div>
        </div>
        <h2 class="page-header">
            <div class="row">
                <div class="col-sm-8 text-left">Модерация</div>
            </div>
        </h2>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group row">
                    <label class="col-md-2 m-t-0">Модерация партнером:</label>
                    <div class="col-md-8">
                        <strong>{{partnerModeration}}</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group row">
                    <label class="col-md-2 m-t-0">Модерация сервисом:</label>
                    <div class="col-md-8">
                        <strong>{{siteModeration}}</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" v-if="canEdit">
            <div class="col-md-12">
                <div class="form-group row">
                    <label class="col-md-2 m-t-0">Модерация сервисом:</label>
                    <div class="col-md-8">
                        <strong>{{siteModeration}}</strong>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 m-t-2">Тема:</label>
                    <div class="col-md-5">
                        <input type="text" class="form-control" placeholder="Тема сообщения"
                               v-model="gift.message.subject" v-if="editMode">
                        <span v-else>{{gift.message.subject}}</span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 m-t-2">Текст:</label>
                    <div class="col-md-5">
                        <textarea class="form-control" v-if="editMode" v-model="gift.message.text" cols="30"
                                  rows="10"></textarea>
                        <div v-if="editMode" class="text-right margin-top">
                            <a class="text-blue add-photos" style="cursor: pointer;" data-list=".photo-list-inset"
                               data-toggle="modal" data-target="#attachPhotos" title="Прикрепить фото">
                                Прикрепить фото <i class="fa fa-plus text-blue"></i>
                            </a>
                        </div>
                        <span v-else>{{gift.message.text}}</span>
                        <nav class="photo-nav photo-list margin-top" v-if="gift.message !== null">
                            <a @click.stop v-for="attach in gift.message.attachments"
                               :href="attach.file_name_origin">
                                <img :src="attach.file_name_small">
                                <span class="fa fa-times-circle del-photo" @click.prevent="removeFromAttach(attach.id)" v-if="editMode"></span>
                            </a>
                        </nav>
                    </div>
                </div>
                <div class="row" v-if="editMode">
                    <div class="col-md-7 text-right">
                        <a class="btn btn-primary btnNext pull-right" href="#" @click="saveEdit">Сохранить</a>
                    </div>
                </div>
                <div class="row" v-if="!editMode">
                    <div class="col-md-6">
                        <a class="btn btn-warning show-moderaton-modal" href="#"
                           data-title="Напишите причину отклонения" data-toggle="modal" data-target="#rejectModal" >Отклонить</a>
                        <a class="btn btn-primary btnNext pull-right" @click="finishModeration('accept')">Утвердить</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" tabindex="-1" role="dialog" id="rejectModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Причина отклонения</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <textarea class="form-control" v-model="note" id="" cols="30" rows="10"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" @click="finishModeration('reject')">Отклонить</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" tabindex="-1" role="dialog" id="attachPhotos">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Прикрепление фото</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-2" v-for="photo in photosToAttach">
                                <div class="ch-wrapper">
                                    <input type="checkbox" :value="photo.id">
                                </div>
                                <img :src="photo.file_path" class="img-responsive">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" @click="saveAttach">Прикрепить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import toastr from 'toastr'
    import moment from 'moment'
    export default {
        name: 'GiftView',
        data() {
            return {
                photosToAttach: [],
                oldAttach: [],
                attached: [],
                editMode: false,
                note: 'пример заметки',
                gift: {
                    id: '',
                    created_at: 1492516570,
                    woman: {
                        id: '',
                        name: '',
                        avatar: {
                            small: '#',
                            medium: '#',
                            large: '#',
                            origin: '#'
                        }
                    },
                    man: {
                        id: '',
                        name: '',
                        avatar: {
                            small: '#',
                            medium: '#',
                            large: '#',
                            origin: '#'
                        }
                    },
                    gift: {
                        id: '',
                        name: '',
                        photo: ''
                    },
                    gift_count: '',
                    credits: '',
                    moderation_site: "free",
                    moderation_agency: "accept",
                    message: {
                        id: '',
                        subject: '',
                        text: '',
                        attachments: []
                    }
                }
            }
        },
        methods: {
            saveEdit() {
                let prettyArray = [];
                this.gift.message.attachments.forEach(attach => {
                    prettyArray.push(attach.id)
                });
                this.$http.post('v2/female/update/gift/sent-message', {
                    access_token: this.$cookie.get('access_token'),
                    gift_sent_id: this.$route.params.gift,
                    subject: this.gift.message.subject,
                    text: this.gift.message.text,
                    attachments: JSON.stringify(prettyArray).toString()
                }).then(data => {
                    if(data.body.status) {
                        toastr.success('Письмо к подарку отредактировано');
                        this.editMode = false;
                    }else {
                        toastr.error('Не могу отредактировать письмо');
                        toastr.info(data.body.desc);
                    }
                }, err => {
                    toastr.error('Не могу отредактировать письмо');
                    console.log(err);
                })
            },
            removeFromAttach(id) {
                let position = this.oldAttach.indexOf(id);
                if(position !== -1) {
                    this.$http.post('v2/female/remove/gift/attachment', {
                        access_token: this.$cookie.get('access_token'),
                        gift_sent_id: this.$route.params.gift,
                        gift_attachment_id: id
                    }).then(data => {
                        if(data.body.status) {
                            let count = 0;
                            this.gift.message.attachments.forEach(photo => {
                                if(photo.id === id) {
                                    this.gift.message.attachments.splice(count, 1);
                                }else {
                                    count++;
                                }
                            })
                        }else {
                            toastr.error('Не могу открепить фото!')
                        }
                    }, err => {
                        toastr.error('Не могу открепить фото!')
                    })
                }else {
                    let count = 0;
                    this.gift.message.attachments.forEach(photo => {
                        if(photo.id === id) {
                            this.gift.message.attachments.splice(count, 1);
                        }else {
                            count++;
                        }
                    })
                }
            },
            saveAttach() {
                for(let i = 0; i < this.attached.length; i++) {
                    this.photosToAttach.forEach(photo => {
                        if(parseInt(this.attached[i]) === photo.id) {
                            this.gift.message.attachments.push(photo)
                        }
                    })
                }
            },
            fetchPhoto() {
                this.photosToAttach = [];
                this.$http.post('v2/female/load-photos', {
                    access_token: this.$cookie.get('access_token'),
                    user_id: this.gift.woman.id
                }).then(data => {
                    if (data.body.status) {
                        data.body.result.private_photo.forEach(photo => {
                            this.photosToAttach.push(photo);
                        });
                        data.body.result.public_photo.forEach(photo => {
                            this.photosToAttach.push(photo);
                        });
                        setTimeout(() => {
                            $('.modal-body input[type=checkbox]').iCheck({
                                checkboxClass: 'icheckbox_square-blue',
                                radioClass: 'iradio_square-white',
                                increaseArea: '20%'
                            });
                            $('.modal-body input[type=checkbox]').on('ifChecked', (e) => {
                                this.attached.push(e.target.value)
                            });
                            $('.modal-body input[type=checkbox]').on('ifUnchecked', (e) => {
                                this.attached.splice(this.attached.indexOf(e.target.value), 1)
                            });
                            let remove = document.querySelector('.del-photo')
                            if(remove !== null) {
                                remove.onclick = ev => {
                                    ev.stopPropagation();
                                }
                            }
                        }, 1000);
                    } else {
                        toastr.error('Не могу загрузить фото клиентки');
                        toastr.info(data.body.desc);
                    }
                }, err => {
                    toastr.error('Не могу загрузить фото клиентки');
                    console.log(err);
                })
            },
            finishModeration(result) {
                if (result === 'reject' || result === 'accept') {
                    this.$http.post('v2/moderation/moderate/sent-gift', {
                        access_token: this.$cookie.get('access_token'),
                        gift_sent_id: this.$route.params.gift,
                        status: result,
                        note: this.note
                    }).then(data => {
                        if (data.body.status) {
                            toastr.success('Подарок промодерирован успешно');
                            setTimeout(() => {
                                window.history.back();
                            }, 500);
                        } else {
                            toastr.error('Не могу промодерировать подарок');
                            toastr.info(data.body.desc);
                        }
                    }, err => {
                        toastr.error('Ошибка обработки запроса');
                        console.log(err);
                    })
                } else {
                    toastr.error('Не верный тип модерации')
                }
            },
            enableEdit() {
                this.editMode = !this.editMode;
            },
            fetchGift() {
                this.$http.post('v2/female/get/gift-one', {
                    access_token: this.$cookie.get('access_token'),
                    gift_sent_id: this.$route.params.gift
                }).then(data => {
                    if (data.body.status) {
                        this.gift = data.body.result;
                        this.gift.message.attachments.forEach(attach => {
                            this.oldAttach.push(attach.id);
                        });
                        this.fetchPhoto();
                    } else {
                        toastr.error('Не могу загрузить данные о подарке');
                        toastr.info(data.body.desc);
                    }
                }, err => {
                    toastr.error('Не могу загрузить данные о подарке');
                    console.log(err);
                })
            },
        },
        computed: {
            prettyCreated() {
                return moment(this.gift.created_at * 1000).format('LLL')
            },
            partnerModeration() {
                if (this.gift.moderation_agency === 'accept') {
                    return 'утверждено'
                }
                if (this.gift.moderation_agency === 'reject') {
                    return 'отклонено'
                }
                if (this.gift.moderation_agency === 'free') {
                    return 'на модерации'
                }
            },
            siteModeration() {
                if (this.gift.moderation_site === 'accept') {
                    return 'утверждено'
                }
                if (this.gift.moderation_site === 'reject') {
                    return 'отклонено'
                }
                if (this.gift.moderation_site === 'free') {
                    return 'на модерации'
                }
            },
            canEdit() {
                return this.gift.moderation_agency === 'accept' && this.gift.moderation_site !== 'reject' && this.gift.moderation_site !== 'accept';
            }
        },
        beforeMount() {
            this.fetchGift();
        },
        mounted() {
            setTimeout(() => {
                $('.photo-nav').lightGallery();
            }, 400)
        }
    }
</script>

<style>
    .ch-wrapper {
        position: absolute;
        margin-top: 7px;
        margin-left: 60%;
    }
</style>
