<template>
	<!-- .row (main row) -->
	<div class="row">
		<div class="col-md-12">
			<div class="box box-blue box-solid">
				<div class="box-header with-border">
					<h3 class="box-title">Запросы контакт инфо</h3>
					<!-- /.box-tools -->
				</div>
				<!-- /.box-header -->
				<div class="box-body no-padding">
					<!-- filter -->
					<form class="row">
						<div class="form-group margin">
							<date-filter :changeFilter="dateFilterChange" :hideDay="true" :hideYesterday="true"></date-filter>

							<div class="col-md-2">
								<input type="text" class="form-control" placeholder="ID" v-model="searchById">
							</div>
							<div class="col-md-2">
								<my-select :options="displayedPartners" v-model="partner" :placeholder="'Партнер'"
										   @select="selectPartnerCallback($event)"></my-select>
							</div>
							<div class="col-md-2">
								<my-select :options="displayedBranches" v-model="branch" :placeholder="'Филиал'"
										   @select="selectBranchCallback($event)"></my-select>
							</div>
							<div class="col-md-2">
								<my-select :options="displayedAdmins" v-model="admin" :placeholder="'Админ'"
										   @select="selectAdminCallback($event)"></my-select>
							</div>
							<div class="col-md-2">
								<my-select :options="displayedWomen" v-model="woman" :placeholder="'Клиентка'"
										   @select="selectWomanCallback($event)"></my-select>
							</div>
							<div class="col-md-2">
								<my-select :options="displayedMen" v-model="man" :placeholder="'Клиент'"
										   @select="selectManCallback($event)"></my-select>
							</div>
							<div class="col-md-2">
								<select class="form-control" v-model="searchPartnerModeration">
									<option class="placeholder-option" value="">Модерация партнера</option>
									<option value="free">на модерации</option>
									<option value="accept">утверждено</option>
									<option value="reject">отклонено</option>
								</select>
							</div>
							<div class="col-md-2">
								<select class="form-control" v-model="searchAgencyModeration">
									<option class="placeholder-option" value="">Модерация сервиса</option>
									<option value="free">на модерации</option>
									<option value="accept">утверждено</option>
									<option value="reject">отклонено</option>
								</select>
							</div>
							<div class="col-md-2">
								<select class="form-control" v-model="critical">
									<option class="placeholder-option" value="">Критическое</option>
									<option value="1">Да</option>
									<option value="0">Нет</option>
								</select>
							</div>
						</div>
					</form>
					<sst :loader="loader" @load="fetchData" :sort="sort" :data="data"
						 :count="count" :loadParams="loadParams" :order="order" :pagination="pagination">
						<tr slot="tbody" v-for="i in data" :key="i.id">
							<td>
								<router-link :to="{name: 'Запрос контактной информации', params: {request: i.id}}">{{i.id}}</router-link>
							</td>
							<td>
								<router-link :to="{name: 'Профиль клиентки', params: {woman: i.woman_id}}">
									{{i.woman_name}} (id: {{i.woman_id}})
								</router-link>
							</td>
							<td>
								<router-link :to="{name: 'Профиль клиента', params: {man: i.man_id}}">{{i.man_name}} (id: {{i.man_id}})</router-link>
							</td>
							<td>{{i.credits}}</td>
							<td>{{moderation(i.moderation_agency)}}</td>
              <td>{{moderation(i.moderation_site)}}</td>
							<td>
								<template v-if="i.is_critical">
									<span class="glyphicon glyphicon-ok-circle fa-2x text-red"></span>
								</template>
								<template v-else="">
									<span class="glyphicon glyphicon-remove-circle fa-2x text-green"></span>
								</template>
							</td>
							<td>
								<template v-if="i.main_agency_id">
									<router-link :to="{name: 'Просмотр партнера', params: {id: i.main_agency_id}}">
										{{i.main_agency_name}} (id: {{i.main_agency_id}})
									</router-link>
								</template>
								<template v-else="">Не указан</template>
							</td>
							<td>
								<template v-if="i.branch_agency_id">
									<router-link :to="{name: 'Просмотр партнера', params: {id: i.branch_agency_id}}">
										{{i.branch_agency_name}} (id: {{i.branch_agency_id}})
									</router-link>
								</template>
								<template v-else>
									Не указан
								</template>
							</td>
							<td>
								<template v-if="i.admin_id">
									<router-link :to="{name: 'Профиль админа', params: {admin: i.admin_id}}">
										{{i.admin_name}} (id: {{i.admin_id}})
									</router-link>
								</template>
								<template v-else>
									Не указан
								</template>
							</td>
							<td>{{date(i.created_at)}}</td>
							<td>
								<router-link :to="{name: 'Запрос контактной информации', params: {request: i.id}}" class="btn btn-primary btn-block show-gift"><i class="fa fa-eye fa-lg text-white"></i></router-link>
							</td>
						</tr>
					</sst>
				</div>
				<!-- /.box-body -->
			</div>
		</div>
	</div>
</template>

<script>
	import mySelect from '../../custom/select2/select-new.vue'
	import moment from 'moment'
	import toastr from 'toastr'
  import DateFilter from '../../custom/datefilter/component.vue'
	import sst from '../../custom/serverSideTable.vue'
	import { SS_SORT_TABLE } from '../../../mixins/utils'

	export default {
		props: {
			routeCritical: Number,
			routeNew: Number
		},
		data() {
			return {
				loader: true,
				searchPartnerModeration: '',
				searchAgencyModeration: '',
				allPartners: [],
				allBranches: [],
				allAdmins: [],
				timeFrom: moment().startOf( 'day' ).startOf( 'YYYY-MM-DD HH:mm' ),
				timeTo: moment().endOf( 'day' ).endOf( 'YYYY-MM-DD HH:mm' ),
				searchById: '',
				searchByStatus: '',
				searchByDistribution: '',
				searchByReade: '',
				allWomen: [],
				data: [],
				mans: [],
				partner: 0,
				branch: 0,
				admin: 0,
				woman: 0,
				man: 0,
				critical: '',
				sort: [
					{ active: false, name: 'gift_sent_id', column: 'ID' },
					{ active: false, name: 'woman_id', column: 'Клиентка' },
					{ active: false, name: 'man_id', column: 'Клиент' },
					{ active: false, name: 'credits', column: 'Кредиты' },
					{ active: false, name: 'moderation_agency', column: 'Модерация партнера' },
					{ active: false, name: 'moderation_site', column: 'Модерация сервиса' },
					{ active: false, name: 'is_critical', column: 'Критическое' },
					{ active: false, name: 'main_agency_id', column: 'Партнер' },
					{ active: false, name: 'branch_agency_id', column: 'Филиал' },
					{ active: false, name: 'admin_id', column: 'Админ' },
					{ active: true, name: 'created_at', column: 'Дата создания' },
					{ active: false, name: '', column: 'Действие' },
				],
			}
		},
		mixins: [ SS_SORT_TABLE ],
		watch: {
			critical(value) {
				this.resetPagination();
				this.fetchData()
			},
			searchById(value) {
				this.resetPagination();
				this.fetchData()
			},
			searchPartnerModeration(value) {
				this.resetPagination();
				this.fetchData()
			},
			searchAgencyModeration(value) {
				this.resetPagination();
				this.fetchData()
			}
		},
		computed: {
			displayedPartners() {
				return this.allPartners.map( i => {
					return {
						id: +i.id,
						name: `${i.name} (id: ${i.id})`
					}
				} )
			},
			displayedBranches() {
				return this.allBranches.map( i => {
					return {
						id: +i.id,
						name: `${i.name} (id: ${i.id})`
					}
				} )
			},
			displayedAdmins() {
				return this.allAdmins.map( i => {
					if ( i.admin_name ) {
						return {
							id: +i.admin_user_id,
							name: `${(i.admin_name.trim() + ' ' + i.admin_surname.trim()).trim()} (id: ${i.admin_user_id})`
						}
					}
					return {
						id: +i.id,
						name: `${i.name.trim()} (id: ${i.id})`
					}
				} )
			},
			displayedWomen() {
				//TODO: fit answers
				return this.allWomen.map( i => {
					if ( 'fullName' in i ) {
						return {
							id: +i.id,
							name: `${i.fullName.trim()} (id: ${i.id})`
						}
					} else if ( 'surname' in i ) {
						return {
							id: +i.user_id,
							name: `${(i.name.trim() + ' ' + i.surname.trim()).trim()} (id: ${i.user_id})`
						}
					}
					return {
						id: +i.id,
						name: `${i.name.trim()} (id: ${i.id})`
					}
				} )
			},
			displayedMen() {
				return this.mans.map( i => {
					return {
						id: +i.user_id,
						name: `${(i.name.trim() + ' ' + i.surname.trim()).trim()} (id: ${i.user_id})`
					}
				} )
			}
		},
		methods: {
			dateFilterChange( d ) {
				this.timeFrom = d.from;
				this.timeTo = d.to;
				this.resetPagination();
				this.fetchData()
			},
			selectManCallback( id ) {
				if ( id ) {
					let result = this.displayedMen.find( i => i.id === id );
					if ( result ) {
						this.resetPagination();
						this.fetchData()
					}
				} else {
					this.resetPagination();
					this.fetchData()
				}
			},
			selectWomanCallback( id ) {
				if ( id ) {
					let result = this.displayedWomen.find( i => i.id === id );
					if ( result ) {
						this.resetPagination();
						this.fetchData()
					}
				} else {
					this.resetPagination();
					this.fetchData()
				}
			},
			fetchAdminsByAgency( id ) {
				this.$http.post( 'v2/agency/get/admin-in-agency', {
					access_token: this.$cookie.get( 'access_token' ),
					agency_id: id
				} ).then( data => {
					if ( data.body.status ) {
						this.allAdmins = data.body.result;
					} else {
						toastr.error( 'Не могу загрузить список админов' )
					}
				}, err => {
					toastr.error( 'Не могу загрузить список админов' );
					console.log( err );
				} );
			},
			fetchWomanByAgency( value ) {
				this.$http.post( 'v2/agency/get/woman-in-agency', {
					access_token: this.$cookie.get( 'access_token' ),
					agency_id: value
				} ).then( data => {
					if ( data.body.status ) {
						this.allWomen = data.body.result;
					}
				} )
			},
			fetchBranchByAgency( value ) {
				this.$http.post( 'v2/agency/get/branches', {
					access_token: this.$cookie.get( 'access_token' ),
				} ).then( data => {
					if ( data.body.status ) {
						this.allBranches = data.body.result.filter( i => i.duty_agency.id === value )
					}
				} )
			},
			selectBranchCallback( value ) {
				if ( !this.partner ) {
					this.admin = this.woman = this.man = 0;
					this.resetSearch();
				}
				if ( value ) {

					let result = this.displayedBranches.find( i => i.id === value );
					if ( result ) {
						this.resetPagination();
						this.fetchData()
						this.fetchAdminsByAgency( value );
						this.fetchWomanByAgency( value );
					}
				} else {
					this.resetPagination();
					this.fetchData()
					if ( !this.partner ) {
						this.fetchBranches();
						this.fetchAdmins();
						this.fetchWomen();
					}
					if ( this.partner ) {
						this.selectPartnerCallback( this.partner )
					}
				}
			},
			selectAdminCallback( value ) {
				if ( !this.partner || !this.branch ) {
					this.resetSearch();
				}
				this.woman = 0;
				if ( !value ) {
					this.fetchWomen();
					this.selectWomanCallback( '' );
				}
				if ( value ) {
					let result = this.displayedAdmins.find( i => i.id === value );
					if ( result ) {
						this.resetPagination();
						this.fetchData()
						this.$http.post( 'v2/agency/get/agency-woman', {
							access_token: this.$cookie.get( 'access_token' ),
							admin_id: value
						} ).then( data => {
							if ( data.body.status ) {
								this.allWomen = data.body.result;
							} else {
								toastr.error( 'Не могу получить список клиенток под админом' );
								toastr.info( data.body.desc );
							}
						}, err => {
							toastr.error( 'Не могу получить скписок клиенток под админом' );
							console.log( err )
						} )
					}
				} else {
					this.resetPagination();
					this.fetchData()
					this.selectBranchCallback( this.branch )
				}
			},
			selectPartnerCallback( value ) {
				this.branch = this.admin = this.woman = this.man = 0;
				this.resetSearch();
				if ( value ) {

					let result = this.displayedPartners.find( i => i.id === value );
					if ( result ) {
						this.resetPagination();
						this.fetchData()
						this.fetchAdminsByAgency( value );
						this.fetchWomanByAgency( value );
						this.fetchBranchByAgency( value )
					}
				} else {
					this.resetPagination();
					this.fetchData()
					this.fetchBranches();
					this.fetchAdmins();
					this.fetchWomen();
				}
			},
			fetchWomen() {
				this.$http.post( 'v2/femal/load-list', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( data => {
					if ( data.body.status ) {
						this.allWomen = data.body.result
					} else {
						toastr.error( 'Не могу загрузить список клиенток' )
					}
				}, err => {
					toastr.error( 'Не могу загрузить список клиенток' )
				} )
			},
			fetchPartner() {
				this.$http.post( 'v2/agency/get/list', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( data => {
					if ( data.body.status ) {
						this.allPartners = data.body.result;
					} else {
						toastr.error( 'Не могу загрузить список партнеров' )
						toastr.info( data.body.desc );
					}
				}, err => {
					toastr.error( 'Не могу загрузить список партнеров' )
				} )
			},
			fetchBranches() {
				this.$http.post( 'v2/agency/get/branches', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( data => {
					if ( data.body.status ) {
						this.allBranches = data.body.result;
					} else {
						toastr.error( 'Не могу получить список филиалов' )
						toastr.info( data.body.desc )
					}
				}, err => {
					toastr.error( 'Не могу получить список филиалов' )
				} )
			},
			fetchAdmins() {
				this.$http.post( 'v2/agency/get/admins', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( data => {
					if ( data.body.status ) {

            let admins = data.body.result;
            let adminsPrettyArray = [];
            admins.forEach(a => {
              adminsPrettyArray.push({
                id: a.user_id,
                name: a.name ,
              })
            })



						this.allAdmins = adminsPrettyArray
					} else {
						toastr.error( 'Не могу получить список админов сайта' )
					}
				}, err => {
					toastr.error( 'Не могу получить список админов сайта' )
				} )
			},
			resetSearch() {
				if ( this.table ) this.table.search( '' ).columns().search( '' ).draw();
			},
			fetchManFilter() {
				this.$http.post( 'v2/male/easy-load', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( data => {
					if ( data.body.status ) {
						this.mans = data.body.result;
					} else {
						toastr.err( 'Не могу загрузить список клиентов' );
						toastr.info( data.body.desc )
					}
				}, err => {
					toastr.err( 'Не могу загрузить список клиентов' );
				} )
			},
			date( ts ) {
				return moment( ts * 1000 ).format( 'DD.MM.YYYY HH:mm:ss' )
			},
			moderation(status) {
				switch (status) {
					case 'accept':
						return 'утверждено';
						break;
					case 'reject':
						return 'отклонено';
						break;
					case 'free':
						return 'на модерации';
						break;
					default:
						return 'на модерации'
				}
			},
			fetchData() {
				window.scrollTo( 0, 0 );
				this.loader = true;
				this.$http.post('v2/female/get/list-realinfo', {
					access_token: this.$cookie.get('access_token'),
					time_from: this.timeFrom,
					time_to: this.timeTo,
					offset: this.loadParams.offset,
					limit: this.loadParams.limit,
					order_type: this.order.type,
					order_by: this.order.by,
					main_agency_id: this.partner || '',
					branch_agency_id: this.branch || '',
					admin_id: this.admin || '',
					woman_id: this.woman || '',
					id: this.searchById,
					man_id: this.man || '',
					moderation_agency: this.searchAgencyModeration,
					moderation_site: this.searchPartnerModeration,
					is_critical: this.critical || ''
				}).then(data => {
					if (data.body.status) {
						this.data = data.body.result.list;
						this.count = +data.body.result.count
					} else {
						toastr.error(data.body.desc)
					}
					this.loader = false;
				}, err => {
					toastr.error('Не могу получить список фото')
					this.loader = false;
				})
			},
		},
		mounted() {
			this.fetchWomen();
			this.fetchPartner();
			this.fetchBranches();
			this.fetchAdmins();
			this.fetchManFilter();
		},
		created() {
			this.updOrderParams( {
				type: 'desc',
				by: 'created_at'
			} );
		},
		beforeRouteEnter( to, from, next ) {
			next( vm => {
				vm.updOrderParams( {
					type: 'desc',
					by: 'created_at'
				} );
				if ( vm.routeCritical ) vm.critical = '1';
				if ( vm.routeNew ) vm.searchAgencyModeration = 'free';
			} )
		},
		components: {
			'my-select': mySelect,
			DateFilter,
			sst
		}
	}
</script>
