<template>
    <div v-if="loaded">
        <h2 class="page-header">
            <div class="row">
                <div class="col-sm-8 text-left">
                    Запрос ID: {{$route.params.request}}
                    <a v-if="canEdit" class="btn" :class="{'btn-success': !edit, 'btn-danger': edit}" @click="editMode">
                    <i class="fa fa-lg fa-edit"></i>
                </a>
                </div>
            </div>
        </h2>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group row">
                    <label class="col-md-2 m-t-0">Дата создания:</label>
                    <div class="col-md-8">05.07.2017 17:32:23</div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 m-t-0">Клиентка:</label>
                    <div class="col-md-8">
                        <router-link :to="'/woman/view/' + request.woman.id">
                            <div class="user-block user-block-md margin-bottom">
                                <img class="img-circle" :src="request.woman.avatar.small"
                                     :alt="request.woman.name">
                                <span class="username">
                                <a>{{request.woman.name}}</a>
							</span>
                                <a>
                                    <span class="description">ID: {{request.woman.id}}</span>
                                </a>
                            </div>
                        </router-link>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 m-t-0">Клиент:</label>
                    <div class="col-md-8">
                        <router-link :to="'/man/view/' + request.woman.id">
                            <div class="user-block user-block-md margin-bottom">
                                <img class="img-circle" :src="request.man.avatar.small"
                                     :alt="request.man.name">
                                <span class="username">
                                <a>{{request.man.name}}</a>
							</span>
                                <a>
                                    <span class="description">ID: {{request.man.id}}</span>
                                </a>
                            </div>
                        </router-link>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 m-t-0">Кредиты:</label>
                    <div class="col-md-8">{{request.credits}}</div>
                </div>
            </div>
        </div>
        <h2 class="page-header">
            <div class="row">
                <div class="col-sm-8 text-left">Модерация</div>
            </div>
        </h2>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group row">
                    <label class="col-md-2 m-t-0">Модерация партнером:</label>
                    <div class="col-md-8">
                        <strong>{{moderationPartner}}</strong>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 m-t-0">Модерация сервисом:</label>
                    <div class="col-md-8">
                        <strong>{{moderationSite}}</strong>
                    </div>
                </div>

                <div class="form-group row" v-if="request.moderation_site === 'reject'">
                    <label class="col-md-2 m-t-0">Комментарий сервиса:</label>
                    <div class="col-md-8">
                        <strong>{{request. moderation_site_comment}}</strong>
                    </div>
                </div>


                <div class="form-group row">
                    <label class="col-md-2 m-t-2">Телефон (клиентки):</label>
                    <div class="col-md-8">
                        <div class="row" v-if="!edit">
                            <div class="col-md-12">
                                {{request.phone}}

                            </div>
                        </div>
                        <div class="row" v-if="edit">
                            <div class="col-md-6">
                                <input type="text" v-model="request.phone" placeholder="Телефон клиентки"
                                       class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 m-t-2">Email (клиентки):</label>
                    <div class="col-md-8">
                        <div class="row" v-if="!edit">
                            <div class="col-md-12">
                                {{request.email}}

                            </div>
                        </div>
                        <div class="row" v-if="edit">
                            <div class="col-md-6">
                                <input type="text" v-model="request.email" placeholder="Email клиентки"
                                       class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" v-if="edit">
                    <div class="col-md-6">
                        <a class="btn btn-primary btnNext pull-right" @click="saveInfoRequest">Сохранить</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import moment from 'moment'
    import toastr from 'toastr'
    export default {
        name: 'ModerationInfoRequest',
        data() {
            return {
                rejectReason: '',
                loaded: false,
                edit: false,
                request: {
                    id: '',
                    man: {
                        id: '',
                        name: '',
                        avatar: {
                            small: '',
                            medium: '',
                            large: '',
                            origin: ''
                        }
                    },
                    woman: {
                        id: '',
                        name: '',
                        avatar: {
                            small: '',
                            medium: '',
                            large: '',
                            origin: ''
                        },
                        agency: {
                            id: '',
                            name: ''
                        },
                        branch: {
                            id: '',
                            name: ''
                        },
                        admin: {
                            id: '',
                            name: ''
                        }
                    },
                    moderation_site: "free",
                    moderation_agency: "accept",
                    moderation_site_comment: null,
                    created_at: 1478447334,
                    credits: ''
                }
            }
        },
        computed: {
            canEdit() {
                return this.request.moderation_site === 'free' && this.request.moderation_agency === 'accept';
            },
            moderationSite() {
                switch (this.request.moderation_site) {
                    case 'accept':
                        return 'одобрено';
                        break;
                    case 'reject':
                        return 'отклонено';
                        break;
                    case 'free':
                        return 'на модерации';
                        break;
                    default:
                        return 'на модерации'
                }
            },
            moderationPartner() {
                switch (this.request.moderation_agency) {
                    case 'accept':
                        return 'одобрено';
                        break;
                    case 'reject':
                        return 'отклонено';
                        break;
                    case 'free':
                        return 'на модерации';
                        break;
                    default:
                        return 'на модерации'
                }
            }
        },
        methods: {
            saveInfoRequest() {
                if(this.request.email !== '' && this.request.phone !== '') {
                    this.$http.post('v2/female/update-realinfo-request', {
                        access_token: this.$cookie.get('access_token'),
                        realinfo_request_id: this.$route.params.request,
                        email: this.request.email,
                        phone: this.request.phone
                    }).then(data => {
                        if(data.body.status) {
                            toastr.success('Отредактировано');
                            this.editMode()
                        }else {
                            toastr.error(data.body.desc);
                            this.editMode()
                        }
                    }, err => {
                        console.log(err);
                        toastr.error('Не могу отредактировать');
                        this.editMode()
                    })
                }else {
                    toastr.error('Необходимо заполнить все поля')
                }
            },
            editMode() {
                this.edit = !this.edit;
            },
            fetchInfoRequest() {
                this.$http.post('v2/female/get/one-realinfo', {
                    access_token: this.$cookie.get('access_token'),
                    realinfo_request_id: this.$route.params.request
                }).then(data => {
                    if (data.body.status) {
                        this.request = data.body.result;
                        this.loaded = true;
                    } else {
                        toastr.error('Произошла ошибка');
                        toastr.info(data.body.desc);
                        setTimeout(() => {
                            window.history.back()
                        }, 1000)
                    }
                }, err => {
                    toastr.error('Произошла ошибка');
                    console.log(err);
                })
            },
            saveModeration(status) {
                this.$http.post('v2/female/update-realinfo-request', {
                    access_token: this.$cookie.get('access_token'),
                    realinfo_request_id: this.$route.params.request,
                    status: status,
                    note: this.rejectReason
                }).then(data => {
                    if(data.body.status) {
                        toastr.success('Успешно одобрено');
                        setTimeout(() => {
                            window.history.back();
                        }, 1000)
                    }else {
                        toastr.error('Не могу промодерировать запрос');
                        toastr.info(data.body.desc);
                    }
                }, err => {
                    toastr.error('Не могу промодерировать запрос');
                })
            },
            moderate(result) {
                if (result === 'reject' || result === 'accept') {
                    if(result === 'reject') {
                        if(this.rejectReason !== '') {
                            this.saveModeration('reject');
                        }else{
                            toastr.error('Необходимо заполнить причину отклонения')
                        }
                    }else {
                        this.saveModeration('accept');
                    }
                } else {
                    toastr.error('Не могу промодерировать запрос');
                }
            }
        },
        beforeMount() {
            this.fetchInfoRequest();
        }
    }
</script>
