<template>
	<div class="row">

		<div class="col-md-12">
			<div class="box box-blue box-solid">
				<div class="box-header with-border">
					<h3 class="box-title">Запросы контакт инфо</h3>
				</div>
				<div class="box-body no-padding">
					<form class="row">
						<div class="form-group margin">
							<date-filter :changeFilter="dateFilterChange" :hideDay="true" :hideYesterday="true"></date-filter>
							<div class="col-md-2">
								<input type="text" class="form-control" placeholder="ID" v-model="searchById">
							</div>
							<div class="col-md-2">
								<my-select :options="displayedPartners" v-model="partner" :placeholder="'Партнер'"
										   @select="selectPartnerCallback($event)"></my-select>
							</div>
							<div class="col-md-2">
								<my-select :options="displayedBranches" v-model="branch" :placeholder="'Филиал'"
										   @select="selectBranchCallback($event)"></my-select>
							</div>
							<div class="col-md-2">
								<my-select :options="displayedAdmins" v-model="admin" :placeholder="'Админ'"
										   @select="selectAdminCallback($event)"></my-select>
							</div>
							<div class="col-md-2">
								<my-select :options="displayedWomen" v-model="woman" :placeholder="'Клиентка'"
										   @select="selectWomanCallback($event)"></my-select>
							</div>
							<div class="col-md-2">
								<my-select :options="displayedMen" v-model="man" :placeholder="'Клиент'"
										   @select="selectManCallback($event)"></my-select>
							</div>
							<div class="col-md-2">
								<select class="form-control" v-model="searchPartnerModeration">
									<option class="placeholder-option" value="">Модерация партнера</option>
									<option value="free">на модерации</option>
									<option value="accept">утверждено</option>
									<option value="reject">отклонено</option>
								</select>
							</div>
							<div class="col-md-2">
								<select class="form-control" v-model="searchAgencyModeration">
									<option class="placeholder-option" value="">Модерация сервиса</option>
									<option value="free">на модерации</option>
									<option value="accept">утверждено</option>
									<option value="reject">отклонено</option>
								</select>
							</div>
							<div class="col-md-2">
								<select class="form-control" v-model="critical">
									<option class="placeholder-option" value="">Критический</option>
									<option value="1">Да</option>
									<option value="0">Нет</option>
								</select>
							</div>
						</div>
					</form>
					<div class="row"
						 v-show="loader">
						<preloader></preloader>
					</div>
					<div class="table-responsive" v-show="!loader">
						<table class="table table-bordered table-striped" id="womanInfoRequestTable" ref="table">
							<thead>
							<tr>
								<th style="min-width: 40px;">ID</th>
								<th class="sm-td">Клиентка</th>
								<th class="sm-td">Клиент</th>
								<th>Кредиты</th>
								<th>Модерация партнера</th>
								<th>Модерация сервиса</th>
								<th>Критический</th>
								<th class="sm-td">Партнер</th>
								<th class="sm-td">Филиал</th>
								<th class="sm-td">Админ</th>
								<th class="sm-td">Дата создания</th>
								<th>Действие</th>
							</tr>
							</thead>
						</table>
					</div>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
			<div class="row">
				<div class="col-md-6">
					<div class="margin-top" id="womanLettersInfo">

					</div>
				</div>
				<div class="col-md-6">
					<ul class="pagination pull-right" id="womanLettersPagination">

					</ul>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import mySelect from '../../custom/select2/select-new.vue'
	import DateFilter from '../../custom/datefilter/datapicker-period.vue'
	import moment from 'moment'
	import toastr from 'toastr'
	import preloader from '../../custom/normalPreloader/component.vue'
	export default {
		name: 'InfoRequestLog',
		props: {
			routeCritical: Number,
			routeNew: Number
		},
		data() {
			return {
				loader: true,
				searchPartnerModeration: '',
				searchAgencyModeration: '',
				allPartners: [],
				allBranches: [],
				allAdmins: [],
				timeFrom: moment().startOf( 'day' ).startOf( 'YYYY-MM-DD HH:mm' ),
				timeTo: moment().endOf( 'day' ).endOf( 'YYYY-MM-DD HH:mm' ),
				searchById: '',
				searchByStatus: '',
				searchByDistribution: '',
				searchByReade: '',
				allWomen: [],
				table: null,
				critical: '',
				letters: [],
				mans: [],
				partner: 0,
				branch: 0,
				admin: 0,
				woman: 0,
				man: 0,
			}
		},
		watch: {
			critical(value) {
				this.searchInTable(6, value);
			},
			searchById(value) {
				this.searchInTable(0, value);
			},
			searchPartnerModeration(value) {
				this.searchInTable(4, value);
			},
			searchAgencyModeration(value) {
				this.searchInTable(5, value);
			}
		},
		computed: {
			displayedPartners() {
				return this.allPartners.map( i => {
					return {
						id: +i.id,
						name: `${i.name} (id: ${i.id})`
					}
				} )
			},
			displayedBranches() {
				return this.allBranches.map( i => {
					return {
						id: +i.id,
						name: `${i.name} (id: ${i.id})`
					}
				} )
			},
			displayedAdmins() {
				return this.allAdmins.map( i => {
					if ( i.admin_name ) {
						return {
							id: +i.admin_user_id,
							name: `${(i.admin_name.trim() + ' ' + i.admin_surname.trim()).trim()} (id: ${i.admin_user_id})`
						}
					}
					return {
						id: +i.id,
						name: `${i.name.trim()} (id: ${i.id})`
					}
				} )
			},
			displayedWomen() {
				//TODO: fit answers
				return this.allWomen.map( i => {
					if ( 'fullName' in i ) {
						return {
							id: +i.id,
							name: `${i.fullName.trim()} (id: ${i.id})`
						}
					} else if ( 'surname' in i ) {
						return {
							id: +i.user_id,
							name: `${(i.name.trim() + ' ' + i.surname.trim()).trim()} (id: ${i.user_id})`
						}
					}
					return {
						id: +i.id,
						name: `${i.name.trim()} (id: ${i.id})`
					}
				} )
			},
			displayedMen() {
				return this.mans.map( i => {
					return {
						id: +i.user_id,
						name: `${(i.name.trim() + ' ' + i.surname.trim()).trim()} (id: ${i.user_id})`
					}
				} )
			}
		},
		methods: {
			dateFilterChange( d ) {
				this.timeFrom = d.from;
				this.timeTo = d.to;
				this.fetchData();
			},
			searchInTable(col, value) {
				if (this.table !== null) {
					this.table.column(col)
						.search(value, false, false)
						.draw();
				}
			},
			formatName( name, id ) {
				let fname = name.split( ' ' )[ 0 ]
				return `${fname} (id: ${id})`
			},
			selectManCallback( id ) {
				if ( id ) {
					let result = this.displayedMen.find( i => i.id === id );
					if ( result ) {
						this.searchInTable( 2, this.formatName( result.name, id ) )
					}
				} else {
					this.searchInTable( 2, '' )
				}
			},
			selectWomanCallback( id ) {
				if ( id ) {
					let result = this.displayedWomen.find( i => i.id === id );
					if ( result ) {
						this.searchInTable( 1, result.name )
					}
				} else {
					this.searchInTable( 1, '' )
				}
			},
			fetchAdminsByAgency( id ) {
				this.$http.post( 'v2/agency/get/admin-in-agency', {
					access_token: this.$cookie.get( 'access_token' ),
					agency_id: id
				} ).then( data => {
					if ( data.body.status ) {
						this.allAdmins = data.body.result;
					} else {
						toastr.error( 'Не могу загрузить список админов' )
					}
				}, err => {
					toastr.error( 'Не могу загрузить список админов' );
					console.log( err );
				} );
			},
			fetchWomanByAgency( value ) {
				this.$http.post( 'v2/agency/get/woman-in-agency', {
					access_token: this.$cookie.get( 'access_token' ),
					agency_id: value
				} ).then( data => {
					if ( data.body.status ) {
						this.allWomen = data.body.result;
					}
				} )
			},
			fetchBranchByAgency( value ) {
				this.$http.post( 'v2/agency/get/branches', {
					access_token: this.$cookie.get( 'access_token' ),
				} ).then( data => {
					if ( data.body.status ) {
						this.allBranches = data.body.result.filter( i => i.duty_agency.id === value )
					}
				} )
			},
			selectBranchCallback( value ) {
				if ( !this.partner ) {
					this.admin = this.woman = this.man = 0;
					this.resetSearch();
				}
				if ( value ) {

					let result = this.displayedBranches.find( i => i.id === value );
					if ( result ) {
						this.searchInTable( 8, result.name );
						this.fetchAdminsByAgency( value );
						this.fetchWomanByAgency( value );
					}
				} else {
					this.searchInTable( 8, '' );
					if ( !this.partner ) {
						this.fetchBranches();
						this.fetchAdmins();
						this.fetchWomen();
					}
					if ( this.partner ) {
						this.selectPartnerCallback( this.partner )
					}
				}
			},
			selectAdminCallback( value ) {
				if ( !this.partner || !this.branch ) {
					this.resetSearch();
				}
				this.woman = 0;
				if ( !value ) {
					this.fetchWomen();
					this.selectWomanCallback( '' );
				}
				if ( value ) {
					let result = this.displayedAdmins.find( i => i.id === value );
					if ( result ) {
						this.searchInTable( 9, this.formatName(result.name, value) );
						this.$http.post( 'v2/agency/get/agency-woman', {
							access_token: this.$cookie.get( 'access_token' ),
							admin_id: value
						} ).then( data => {
							if ( data.body.status ) {
								this.allWomen = data.body.result;
							} else {
								toastr.error( 'Не могу получить список клиенток под админом' );
								toastr.info( data.body.desc );
							}
						}, err => {
							toastr.error( 'Не могу получить скписок клиенток под админом' );
							console.log( err )
						} )
					}
				} else {
					this.searchInTable( 9, '' )
					this.selectBranchCallback( this.branch )
				}
			},
			selectPartnerCallback( value ) {
				this.branch = this.admin = this.woman = this.man = 0;
				this.resetSearch();
				if ( value ) {

					let result = this.displayedPartners.find( i => i.id === value );
					if ( result ) {
						this.searchInTable( 7, result.name );
						this.fetchAdminsByAgency( value );
						this.fetchWomanByAgency( value );
						this.fetchBranchByAgency( value )
					}
				} else {
					this.searchInTable( 7, '' );
					this.fetchBranches();
					this.fetchAdmins();
					this.fetchWomen();
				}
			},
			fetchWomen() {
				this.$http.post( 'v2/femal/load-list', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( data => {
					if ( data.body.status ) {
						this.allWomen = data.body.result
					} else {
						toastr.error( 'Не могу загрузить список клиенток' )
					}
				}, err => {
					toastr.error( 'Не могу загрузить список клиенток' )
				} )
			},
			fetchPartner() {
				this.$http.post( 'v2/agency/get/list', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( data => {
					if ( data.body.status ) {
						this.allPartners = data.body.result;
					} else {
						toastr.error( 'Не могу загрузить список партнеров' )
						toastr.info( data.body.desc );
					}
				}, err => {
					toastr.error( 'Не могу загрузить список партнеров' )
				} )
			},
			fetchBranches() {
				this.$http.post( 'v2/agency/get/branches', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( data => {
					if ( data.body.status ) {
						this.allBranches = data.body.result;
					} else {
						toastr.error( 'Не могу получить список филиалов' )
						toastr.info( data.body.desc )
					}
				}, err => {
					toastr.error( 'Не могу получить список филиалов' )
				} )
			},
			fetchAdmins() {
				this.$http.post( 'v2/agency/get/admins', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( data => {
					if ( data.body.status ) {
						this.allAdmins = data.body.result
					} else {
						toastr.error( 'Не могу получить список админов сайта' )
					}
				}, err => {
					toastr.error( 'Не могу получить список админов сайта' )
				} )
			},
			resetSearch() {
				if ( this.table ) this.table.search( '' ).columns().search( '' ).draw();
			},
			fetchManFilter() {
				this.$http.post( 'v2/male/easy-load', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( data => {
					if ( data.body.status ) {
						this.mans = data.body.result;
					} else {
						toastr.err( 'Не могу загрузить список клиентов' );
						toastr.info( data.body.desc )
					}
				}, err => {
					toastr.err( 'Не могу загрузить список клиентов' );
				} )
			},
			fetchData() {
				this.loader = true;
				this.fetchWomen();
				this.$http.post('v2/female/get/list-realinfo', {
					access_token: this.$cookie.get('access_token'),
					time_from: this.timeFrom,
					time_to: this.timeTo
				}).then(data => {
					if (data.body.status) {
						this.letters = data.body.result;
						this.initTable();
						this.fetchPartner();
						this.fetchBranches();
						this.fetchAdmins();
						this.fetchManFilter();
					} else {
						toastr.error(data.body.desc)
					}
					this.loader = false;
				}, err => {
					toastr.error('Не могу получить список фото')
					this.loader = false;
				})
			},

			initTable() {
				if (this.table !== null) {
					this.table
						.clear()
						.draw();
				}
				this.table = $(this.$refs.table).DataTable();
				$('#womanInfoRequestTable_filter').remove();
				$('#womanInfoRequestTable_length').remove();
				$('#womanLettersPagination').append($('#womanInfoRequestTable_paginate'))
				$('#womanLettersInfo').append($('#womanInfoRequestTable_info'))
				this.letters.forEach(inforequset => {
					let siteModeration = '';
					let agencyModeration = '';
					switch (inforequset.moderation_site) {
						case 'accept':
							siteModeration = 'утверждено';
							break;
						case 'reject':
							siteModeration = 'отклонено';
							break;
						case 'free':
							siteModeration = 'на модерации';
							break;
						default:
							siteModeration = 'на модерации'
					}
					switch (inforequset.moderation_agency) {
						case 'accept':
							agencyModeration = 'утверждено';
							break;
						case 'reject':
							agencyModeration = 'отклонено';
							break;
						case 'free':
							agencyModeration = 'на модерации';
							break;
						default:
							agencyModeration = 'на модерации'
					}
					let admin = '<a style="cursor: pointer;" class="show-admin" data-id="' + inforequset.admin_user_id + '"> ' + inforequset.admin_name + ' (id: ' + inforequset.admin_user_id + ')</a>';
					if ( !inforequset.admin_user_id ) {
						admin = ''
					}

					let isCritical = '<span class="glyphicon glyphicon-ok-circle fa-2x text-red"><span style="display: none;">1</span></span>'
					if (!inforequset.is_critical) {
						isCritical = '<span class="glyphicon glyphicon-remove-circle fa-2x text-green"><span style="display: none;">0</span></span>'
					}

					let agency = '<a style="cursor: pointer;" class="show-agency" data-id="' + inforequset.main_agency_id + '"> ' + inforequset.main_agency_name + ' (id: ' + inforequset.main_agency_id + ')</a>';
					if ( !inforequset.main_agency_id ) {
						agency = ''
					}

					let branch = '<a style="cursor: pointer;" class="show-agency" data-id="' + inforequset.branch_agency_id + '"> ' + inforequset.branch_agency_name + ' (id: ' + inforequset.branch_agency_id + ')</a>';
					if ( !inforequset.branch_agency_id ) {
						branch = ''
					}
					this.table.row.add([
						'<a style="cursor: pointer;" class="show-gift" data-id="' + inforequset.id + '">' + inforequset.id + '</a>',
						'<a style="cursor: pointer;" class="show-woman" data-id="' + inforequset.woman_user_id + '">'+inforequset.woman_name + ' ' + inforequset.woman_surname + ' (id: ' + inforequset.woman_user_id + ')'+'</a>',
						'<a style="cursor: pointer;" class="show-man" data-id="' + inforequset.man_user_id + '">'+inforequset.man_name + ' (id: ' + inforequset.man_user_id + ')'+'</a>',
						inforequset.credits,
						agencyModeration + '<span style="display: none;">'+ inforequset.moderation_agency +'</span>',
						siteModeration + '<span style="display: none;">'+ inforequset.moderation_site +'</span>',
						isCritical,
						agency,
						branch,
						admin,
						moment(inforequset.created_at * 1000).format('LLL'),
						'<a style="cursor:pointer;" class="btn btn-primary btn-block show-gift" data-id="' + inforequset.id + '"><i data-id="' + inforequset.id + '" class="fa fa-eye fa-lg text-white"></i></a>'
					]).draw();
				})

				if (this.routeCritical) this.critical = '1'
				if (this.routeNew) this.searchAgencyModeration = 'free'
				this.initEventListeners();
			},
			initEventListeners() {
				$('#womanInfoRequestTable').on('click', '.show-gift', event => {
					this.$router.push('/inforequest/' + event.target.dataset.id);
				});
				$('#womanInfoRequestTable').on('click', '.show-woman', event => {
					this.$router.push('/woman/view/' + event.target.dataset.id);
				});
				$('#womanInfoRequestTable').on('click', '.show-man', event => {
					this.$router.push('/man/view/' + event.target.dataset.id);
				});
				$('#womanInfoRequestTable').on('click', '.show-agency', event => {
					this.$router.push('/partners/view/' + event.target.dataset.id);
				});
				$('#womanInfoRequestTable').on('click', '.show-admin  ', event => {
					this.$router.push('/partner/admin/show/' + event.target.dataset.id);
				});
			}
		},
		mounted() {
			$('#womanInfoRequestTable').on('click', '.show-letter', (ev) => {
				let letterId = ev.target.dataset.id
				this.$router.push('/woman/letter/' + letterId);
			})
		},
		components: {
			'my-select': mySelect,
			DateFilter,
			preloader
		}
	}
</script>
