<template>
    <div>
        <h2 class="page-header">
            <div class="row">
                <div class="col-sm-8 text-left">Письмо ID:  {{letter.id}}</div>
            </div>
        </h2>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group row">
                    <label class="col-md-2 m-t-0">Дата создания:</label>
                    <div class="col-md-8">{{prettyCreated}}</div>
                </div>
              <div class="form-group row">
                <label class="col-md-2 m-t-0">Спам:</label>
                <div class="col-md-8">
                  <strong>{{isDSpam}}</strong>
                </div>
              </div>
                <div class="form-group row">
                    <label class="col-md-2 m-t-0">Рассылка:</label>
                    <div class="col-md-8">
                        <strong>{{isDistribution}}</strong>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 m-t-0">Прочитанно:</label>
                    <div class="col-md-8">
                        <strong>{{isReade}}</strong>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 m-t-0">От:</label>
                    <div class="col-md-8">
                        <div class="user-block user-block-md margin-bottom">
                            <img class="img-circle" :src="letter.sender.avatar.small"  :alt="letter.receiver.name">
                            <span class="username">
                                <a>{{letter.sender.name}}</a>
							</span>
                            <a>
                                <span class="description">ID: {{letter.sender.id}}</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 m-t-0">Кому:</label>
                    <div class="col-md-8">
                        <div class="user-block user-block-md margin-bottom">
                            <img class="img-circle" :src="letter.receiver.avatar.small" :alt="letter.receiver.name">
                            <span class="username">
                                <a>{{letter.receiver.name}}</a>
							</span>
                            <a>
                                <span class="description">
                                    ID: {{letter.receiver.id}}
                                </span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2 m-t-0">Тема:</label>
                    <div class="col-md-8">
                        {{letter.subject}}

                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 m-t-0">Письмо:</label>
                    <div class="col-md-5">
                        {{letter.text}}

                        <nav class="photo-nav photo-list margin-top">
                            <a v-for="item in letter.attachments" :href="item.file_path">
                                <img :src="item.file_path">
                            </a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import toastr from 'toastr'
    import moment from 'moment'
    export default {
        name: 'LetterView',
        data() {
            return {
                letter: {
                    sender: {
                        id: 0,
                        nam: "Имя отправителя",
                        status: "active",
                        agency: {
                            id: 0,
                            name: "Имя партнера"
                        },
                        branch: {
                            id: "",
                            name: "Имя филиала"
                        },
                        admin: {
                            id: 1041,
                            name: "Имя админа"
                        },
                        avatar: {
                            small: "#",
                        }
                    },
                    receiver: {
                        id: 0,
                        name: "Имя получателя",
                        avatar: {
                            small: "#",
                        }
                    },
                    created_at: 1490360906,
                    distribution: false,
                    spam:0,
                    time_open: null,
                    reade: false,
                    attachments: [],
                    id: 0,
                    subject: '',
                    text: ''
                }
            }
        },
        methods: {
            fetchLetter() {
                this.$http.post('v2/female/get/letter-one', {
                    access_token: this.$cookie.get('access_token'),
                    message_id: this.$route.params.letter
                }).then(data => {
                    if (data.body.status) {
                        this.letter = data.body.result;
                        this.$nextTick(() => {
							$('.photo-nav').lightGallery();
                        })
                    } else {
                        toastr.error('Не могу загрузить письмо');
                        toastr.info(data.body.desc);
                    }
                }, err => {
                    toastr.error('Не могу загрузить письмо');
                    console.log(err);
                })
            }
        },
        computed: {
        	prettyCreated() {
        	    return moment(this.letter.created_at * 1000).format('LLL')
            },
            isReade() {
                if(this.letter.reade) {
                    return 'да'
                }else {
                    return 'нет'
                }
            },
            isDistribution() {
                if(this.letter.distribution) {
                	return 'да'
                }else {
                	return 'нет'
                }
            },
            isSpam() {
              if(this.letter.spam) {
                return 'да'
              }else {
                return 'нет'
              }
            }
        },
        beforeMount() {
            this.fetchLetter();
        },
    }
</script>
