<template>
	<!-- .row (main row) -->
	<div class="row">
		<div class="col-md-12">
			<div class="box box-blue box-solid">
				<div class="box-header with-border">
					<h3 class="box-title">Письма</h3>
					<div class="box-tools pull-right">
						<router-link to="/woman/letters/create">
							<a class="btn btn-success">Создать <i class="fa fa-plus"></i></a>
						</router-link>
					</div>
					<!-- /.box-tools -->
				</div>
				<!-- /.box-header -->
				<div class="box-body no-padding">
					<!-- filter -->
					<form class="row">
						<div class="form-group margin">
							<date-filter :changeFilter="dateFilterChange"></date-filter>
							<div class="col-md-2">
								<input type="text" class="form-control" placeholder="ID" v-model="searchById">
							</div>
							<div class="col-md-2">
								<my-select :options="displayedPartners" :placeholder="'Партнер'" v-model="partner"
										   @select="selectPartnerCallback($event)"></my-select>
							</div>
							<div class="col-md-2">
								<my-select :options="displayedBranches" :placeholder="'Филиал'" v-model="branch"
										   @select="selectBranchCallback($event)"></my-select>
							</div>
							<div class="col-md-2">
								<my-select :options="displayedAdmins" :placeholder="'Админ'" v-model="admin"
										   @select="selectAdminCallback($event)"></my-select>
							</div>
							<div class="col-md-2">
								<my-select :options="displayedWomen" :placeholder="'Клиентка'" v-model="woman"
										   @select="selectWomanCallback($event)"></my-select>
							</div>
							<div class="col-md-2">
								<my-select :options="displayedMen" :placeholder="'Клиент'" v-model="man"
										   @select="selectManCallback($event)"></my-select>
							</div>
							<div class="col-md-2">
								<select class="form-control" v-model="searchByDistribution">
									<option class="placeholder-option" value="">Рассылка</option>
									<option value="1">да</option>
									<option value="0">нет</option>
								</select>
							</div>
							<div class="col-md-2">
								<select class="form-control" v-model="searchByReade">
									<option class="placeholder-option" value="">Прочитанное</option>
									<option value="1">да</option>
									<option value="0">нет</option>
								</select>
							</div>
						</div>
					</form>
					<preloader v-show="loader"></preloader>
					<div class="table-responsive" v-show="!loader">
						<table class="table table-bordered table-striped" id="womanLettersTable" style="width: 100%">
							<thead>
							<tr>
								<th>ID</th>
								<th>От(Клиентка)</th>
								<th>Кому(Клиент)</th>
								<th class="ext-lg-td">Тема</th>
								<th>Рассылка</th>
								<th>Прочитанное</th>
								<th>Партнер</th>
								<th>Филиал</th>
								<th>Админ</th>
								<th>Дата создания</th>
								<th>Действие</th>
							</tr>
							</thead>
						</table>
					</div>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
			<div class="row">
				<div class="col-md-6">
					<div class="margin-top" id="womanLettersInfo">

					</div>
				</div>
				<div class="col-md-6">
					<ul class="pagination pull-right" id="womanLettersPagination">

					</ul>
				</div>
			</div>
		</div>
		<mail-modal v-if="showModal" @close="closeModals()" :letter="oneLetter">
		</mail-modal>
	</div>
</template>

<script>
	import mySelect from '../../custom/select2/select-new.vue'
	import moment from 'moment'
	import toastr from 'toastr'
	import preloader from '../../custom/preloaderSmall/component.vue'
	import DateFilter from '../../custom/datefilter/datapicker-period.vue'
	import MailModal from '../../modals/MailModalWoman.vue'
	export default {
		name: 'LettersLog',
		data() {
			return {
				partner: '',
				branch: 0,
				admin: 0,
				woman: 0,
				man: 0,
				timeFrom: moment().startOf( 'day' ).startOf( 'YYYY-MM-DD HH:mm' ),
				timeTo: moment().endOf( 'day' ).endOf( 'YYYY-MM-DD HH:mm' ),
				loader: true,
				allPartners: [],
				allBranches: [],
				/*timeFrom: moment().startOf( 'month' ).format( 'X' ),
				 timeTo: moment().endOf( 'month' ).format( 'X' ),*/
				allAdmins: [],
				searchById: '',
				searchByStatus: '',
				searchByDistribution: '',
				searchByReade: '',
				allWomen: [],
				table: null,
				letters: [],
				mans: [],
				showModal: false,
				oneLetter: null,
			}
		},
		watch: {
			searchById( value ) {
				this.searchInTable( 0, value );
			},
			searchByDistribution( value ) {
				this.searchInTable( 4, value );
			},
			searchByReade( value ) {
				this.searchInTable( 5, value );
			}
		},
		computed: {
			displayedPartners() {
				return this.allPartners.map( i => {
					return {
						id: +i.id,
						name: `${i.name} (id: ${i.id})`
					}
				} )
			},
			displayedBranches() {
				return this.allBranches.map( i => {
					return {
						id: +i.id,
						name: `${i.name} (id: ${i.id})`
					}
				} )
			},
			displayedAdmins() {
				return this.allAdmins.map( i => {
					if ( i.admin_name ) {
						return {
							id: +i.admin_user_id,
							name: `${(i.admin_name.trim() + ' ' + i.admin_surname.trim()).trim()} (id: ${i.admin_user_id})`
						}
					}
					return {
						id: +i.id,
						name: `${i.name.trim()} (id: ${i.id})`
					}
				} )
			},
			displayedWomen() {
				//TODO: fit answers
				return this.allWomen.map( i => {
					if ( 'fullName' in i ) {
						return {
							id: +i.id,
							name: `${i.fullName.trim()} (id: ${i.id})`
						}
					} else if ( 'surname' in i ) {
						return {
							id: +i.user_id,
							name: `${(i.name.trim() + ' ' + i.surname.trim()).trim()} (id: ${i.user_id})`
						}
					}
					return {
						id: +i.id,
						name: `${i.name.trim()} (id: ${i.id})`
					}
				} )
			},
			displayedMen() {
				return this.mans.map( i => {
					return {
						id: +i.user_id,
						name: `${(i.name.trim() + ' ' + i.surname.trim()).trim()} (id: ${i.user_id})`
					}
				} )
			}
		},
		methods: {
			closeModals() {
				this.showModal = false
				$( 'html' ).removeClass( 'modal-open' )
			},
			dateFilterChange( d ) {
				this.timeFrom = d.from;
				this.timeTo = d.to;
				this.fetchData();
			},
			formatName( name, id ) {
				let fname = name.split( ' ' )[ 0 ]
				return `${fname} (id: ${id})`
			},
			selectManCallback( id ) {
				if ( id ) {
					let result = this.displayedMen.find( i => i.id === id );
					if ( result ) {
						this.searchInTable( 2, this.formatName( result.name, id ) )
					}
				} else {
					this.searchInTable( 2, '' )
				}
			},
			selectWomanCallback( id ) {
				if ( id ) {
					let result = this.displayedWomen.find( i => i.id === id );
					if ( result ) {
						this.searchInTable( 1, this.formatName(result.name, id) )
					}
				} else {
					this.searchInTable( 1, '' )
				}
			},
			fetchAdminsByAgency( id ) {
				this.$http.post( 'v2/agency/get/admin-in-agency', {
					access_token: this.$cookie.get( 'access_token' ),
					agency_id: id
				} ).then( data => {
					if ( data.body.status ) {
						this.allAdmins = data.body.result;
					} else {
						toastr.error( 'Не могу загрузить список админов' )
					}
				}, err => {
					toastr.error( 'Не могу загрузить список админов' );
					console.log( err );
				} );
			},
			fetchWomanByAgency( value ) {
				this.$http.post( 'v2/agency/get/woman-in-agency', {
					access_token: this.$cookie.get( 'access_token' ),
					agency_id: value
				} ).then( data => {
					if ( data.body.status ) {
						this.allWomen = data.body.result;
					}
				} )
			},
			fetchBranchByAgency( value ) {
				this.$http.post( 'v2/agency/get/branches', {
					access_token: this.$cookie.get( 'access_token' ),
				} ).then( data => {
					if ( data.body.status ) {
						this.allBranches = data.body.result.filter( i => i.duty_agency.id === value )
					}
				} )
			},
			selectBranchCallback( value ) {
				if ( !this.partner ) {
					this.admin = this.woman = this.man = 0;
					this.resetSearch();
				}
				if ( value ) {

					let result = this.displayedBranches.find( i => i.id === value );
					if ( result ) {
						this.searchInTable( 7, result.name );
						this.fetchAdminsByAgency( value );
						this.fetchWomanByAgency( value );
					}
				} else {
					this.searchInTable( 7, '' );
					if ( !this.partner ) {
						this.fetchBranches();
						this.fetchAdmins();
						this.fetchWomen();
					}
					if ( this.partner ) {
						this.selectPartnerCallback( this.partner )
					}
				}
			},
			selectAdminCallback( value ) {
				if ( !this.partner || !this.branch ) {
					this.resetSearch();
				}
				this.woman = 0;
				if ( !value ) {
					this.fetchWomen();
					this.selectWomanCallback( '' );
				}
				if ( value ) {
					let result = this.displayedAdmins.find( i => i.id === value );
					if ( result ) {
						this.searchInTable( 8, result.name );
						this.$http.post( 'v2/agency/get/agency-woman', {
							access_token: this.$cookie.get( 'access_token' ),
							admin_id: value
						} ).then( data => {
							if ( data.body.status ) {
								this.allWomen = data.body.result;
							} else {
								toastr.error( 'Не могу получить список клиенток под админом' );
								toastr.info( data.body.desc );
							}
						}, err => {
							toastr.error( 'Не могу получить скписок клиенток под админом' );
							console.log( err )
						} )
					}
				} else {
					this.searchInTable( 8, '' )
					this.selectBranchCallback( this.branch )
				}
			},
			selectPartnerCallback( value ) {
				this.branch = this.admin = this.woman = this.man = 0;
				this.resetSearch();
				if ( value ) {

					let result = this.displayedPartners.find( i => i.id === value );
					if ( result ) {
						this.searchInTable( 6, result.name );
						this.fetchAdminsByAgency( value );
						this.fetchWomanByAgency( value );
						this.fetchBranchByAgency( value )
					}
				} else {
					this.searchInTable( 6, '' );
					this.fetchBranches();
					this.fetchAdmins();
					this.fetchWomen();
				}
			},
			fetchBranches() {
				this.$http.post( 'v2/agency/get/branches', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( data => {
					if ( data.body.status ) {
						this.allBranches = data.body.result;
					} else {
						toastr.error( 'Не могу получить список филиалов' )
						toastr.info( data.body.desc )
					}
				}, err => {
					toastr.error( 'Не могу получить список филиалов' )
				} )
			},
			fetchAdmins() {
				this.$http.post( 'v2/agency/get/admins', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( data => {
					if ( data.body.status ) {
						this.allAdmins = data.body.result
					} else {
						toastr.error( 'Не могу получить список админов сайта' )
					}
				}, err => {
					toastr.error( 'Не могу получить список админов сайта' )
				} )
			},
			fetchPartner() {
				this.$http.post( 'v2/agency/get/list', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( data => {
					if ( data.body.status ) {
						this.allPartners = data.body.result;
					} else {
						toastr.error( 'Не могу загрузить список партнеров' )
						toastr.info( data.body.desc );
					}
				}, err => {
					toastr.error( 'Не могу загрузить список партнеров' )
				} )
			},
			fetchWomen() {
				this.$http.post( 'v2/femal/load-list', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( data => {
					if ( data.body.status ) {
						this.allWomen = data.body.result
					} else {
						toastr.error( 'Не могу загрузить список клиенток' )
					}
				}, err => {
					toastr.error( 'Не могу загрузить список клиенток' )
				} )
			},
			resetSearch() {
				if ( this.table ) this.table.search( '' ).columns().search( '' ).draw();
			},
			searchInTable( col, value ) {
				if ( this.table !== null ) {
					this.table.column( col )
						.search( value, false, false )
						.draw();
				}
			},
			fetchManFilter() {
				this.$http.post( 'v2/male/easy-load', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( data => {
					if ( data.body.status ) {
						this.mans = data.body.result;
					} else {
						toastr.err( 'Не могу загрузить список клиентов' );
						toastr.info( data.body.desc )
					}
				}, err => {
					toastr.err( 'Не могу загрузить список клиентов' );
				} )
			},
			fetchData() {
				this.loader = true;
				this.fetchWomen();
				this.$http.post( 'v2/female/get/letter', {
					access_token: this.$cookie.get( 'access_token' ),
					time_from: this.timeFrom,
					time_to: this.timeTo
				} ).then( data => {
					if ( data.body.status ) {
						this.letters = data.body.result;
//						this.$nextTick( () => {
						this.initTable();
						this.searchInTable( 0, '' )
//						} )
						this.loading = false;
						this.fetchPartner();
						this.fetchBranches();
						this.fetchAdmins();
						this.fetchManFilter();
						this.loader = false;
					} else {
						toastr.error( data.body.desc )
						this.loader = false;
					}
				}, err => {
					toastr.error( 'Не могу получить список фото' )
					this.loader = false;
				} )
			},
			initListeners() {
				$( '#womanLettersTable' ).on( 'click', '.show-letter', ( ev ) => {
					this.$http.post( 'v2/female/get/letter-one', {
						access_token: this.$cookie.get( 'access_token' ),
						message_id: ev.target.dataset.id
					} ).then( data => {
						if ( data.body.status ) {
							console.log( data.body.reslt );
							this.oneLetter = data.body.result;
							this.showModal = true
							$( 'html' ).addClass( 'modal-open' )
						} else {
							toastr.error( 'Не могу загрузить письмо' );
							toastr.info( data.body.desc )
						}
					}, err => {
						toastr.error( 'Не могу загрузить письмо' );
					} )
				} )
			},
			initTable() {
				if ( this.table === null ) {
					this.table = $( '#womanLettersTable' ).DataTable( {
						iDisplayLength: 20,
						"order": [ [ 9, "desc" ] ],
						"oLanguage": {
							"sLengthMenu": "Отображено _MENU_ записей на страницу",
							"sSearch": "Поиск:",
							"sZeroRecords": "Ничего не найдено - извините",
							"sInfo": "Показано с _START_ по _END_ из _TOTAL_ записей",
							"sInfoEmpty": "Показано с 0 по 0 из 0 записей",
							"sInfoFiltered": "(отфильтровано из _MAX_ записей)",
							"oPaginate": {
								"sFirst": "Первая",
								"sLast": "Посл.",
								"sNext": "След.",
								"sPrevious": "Пред.",
							}
						},
					} );
					$( '#womanLettersTable_length' ).remove();
					$( '#womanLettersInfo' ).append( $( '#womanLettersTable_info' ) );
					$( '#womanLettersPagination' ).append( $( '#womanLettersTable_paginate' ) );
					$( '#womanLettersTable_filter' ).remove();
				} else {
					this.table.clear().draw();
				}
				if ( this.letters.length < 20 ) {
					$( '#manChatLogPaginate' ).hide();
				} else {
					$( '#manChatLogPaginate' ).show();
				}


				this.letters.forEach( letter => {
					let isDistributions = '<span class="glyphicon glyphicon-ok-circle fa-2x text-green"><span style="display: none;">1</span></span>';
					if ( letter.messageDistribution === '0' ) {
						isDistributions = '<span class="glyphicon glyphicon-remove-circle fa-2x text-red"><span style="display: none;">0</span></span>';
					}
					let isReade = '<span class="glyphicon glyphicon-ok-circle fa-2x text-green"><span style="display: none;">1</span></span>';
					if ( letter.messageReade === '0' ) {
						isReade = '<span class="glyphicon glyphicon-remove-circle fa-2x text-red"><span style="display: none;">0</span></span>';
					}
					let branch = '<span style="display: none;">0</span> Не указан'
					if ( letter.branchAgencyId ) {
						branch = letter.branchAgencyName + ' (id: ' + letter.branchAgencyId + ')'
					}
					let admin = '<span style="display: none;">0</span> Не указан'
					if ( letter.adminId ) {
						admin = letter.adminName + ' (id: ' + letter.adminId + ')'
					}
					let isReplied = '<a class="btn btn-primary btn-block show-letter" data-id="' + letter.messageId + '"><i data-id="' + letter.messageId + '" class="fa fa-eye fa-lg text-white"></i></a>'
//                    if(!letter.isReplied) {
//						isReplied = '<a class="btn btn-primary btn-block show-letter" data-id="' + letter.messageId + '">Ответить</a>'
//                    }
					this.table.row.add( [
						'<a class="show-letter" data-id="' + letter.messageId + '">' + letter.messageId + '</a>',
						letter.womanName + ' (id: ' + letter.womanId + ')',
						letter.manName + ' (id: ' + letter.manId + ')',
						letter.messageSubject,
						isDistributions,
						isReade,
						letter.mainAgencyName + ' (id: ' + letter.mainAgencyId + ')',
						branch,
						admin,
						'<span><span style="display:none">' + letter.messageCreatedAt + '</span>' + moment( letter.messageCreatedAt * 1000 ).format( 'DD.MM.YYYY HH:mm:ss' ) + '</span>',
						isReplied
					] ).draw()
				} )
				this.initListeners()
			}
		},
		mounted() {
			//this.fetchData();
//            $('#womanLettersTable').on('click', '.show-letter', (ev) => {
//                let letterId = ev.target.dataset.id
//                this.$router.push('/woman/letter/' + letterId);
//            })
		},
		components: {
			'my-select': mySelect,
			'preloader': preloader,
			'date-filter': DateFilter,
			'mail-modal': MailModal
		}
	}
</script>
