<template>
  <div>
    <h2 class="page-header">
      <i class="fa fa-plus"></i> Письмо
    </h2>
    <div class="row">
      <div class="col-md-12">
        <!-- form start -->
        <form method="POST" @submit.prevent action="" class="form-horizontal">
          <div class="form-group">
            <label class="col-md-2">От:</label>
            <div class="col-md-5 margin-bottom">
              <my-select :className="'select-from-letter'" :placeholder="'Клиентка'" :callback="selectWomanCallback"
                         :options="women"></my-select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2">Кому:</label>
            <div class="col-md-5 margin-bottom">
              <my-select :className="'select-to-letter'" :placeholder="'Клиент'" :callback="selectManCallback"
                         :options="mans"></my-select>
            </div>
          </div>
          <div class="row form-group">
            <label class="col-md-2">Тема:</label>
            <div class="col-md-6">
              <input type="text" class="form-control" id="for-theme" v-model="subject" placeholder="Тема сообщения">
            </div>
          </div>
          <div class="row form-group">
            <label class="col-md-2">Текст письма:</label>
            <div class="col-md-6">
              <!--<textarea name="" class="form-control" rows="10" v-model="text" placeholder="Текст сообщения"></textarea>-->
              <app-editable @clean="textLength = $event" class="col-md-12 m-h"
                            v-model="text"></app-editable>
              <p class="col-md-10 text-counter">Количество введенных символов -
                {{textLength.length}}</p>
              <div class="text-right margin-top margin-bottom" v-show="canAttach">
                <a href="#" class="text-blue add-photos" @click="fetchPhotos" data-list=".photo-list-inset"
                   title="Прикрепить фото" data-target="#attachPhotoToLetter" data-toggle="modal"> Прикрепить фото <i
                  class="fa fa-plus text-blue"></i></a>
              </div>
              <nav ref="lightgallery" id="lightgallery-attached" class="photo-nav photo-list-inset">
                <div v-for="(photo,i) in attachedPhotos">
                  <a class="dynamic" :data-slide="i" @click.prevent :href="photo.file_path">
                    <img :src="photo.file_url_medium">
                    <span class="fa fa-times-circle del-photo" @click.stop="removeFromAttached(i)"></span>
                  </a>
                </div>
              </nav>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8 text-right">
              <button type="submit" @click.prevent="createLetter" class="btn btn-primary">Отправить</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="attachPhotoToLetter">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Прикрепить фото</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div v-for="photo in photosToAttach" class="col-md-2">
                <img :src="photo.file_url_medium" class="img-responsive" alt="" :class="{'attached': photo.selected}"
                     @click="selectPhoto(photo)">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button :disabled="this.selectedPhotos.length + this.attachedPhotos.length > 3" type="button"
                    class="btn btn-primary" data-dismiss="modal" @click="finishAttach">Добавить
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
  import mySelect2 from '../../custom/select2/component.vue'
  import {CLEAN_HTML} from '../../../mixins/cleanHtml'
  import toastr from 'toastr'
  import AppEditable from '../../custom/ContentEditable.vue'

  export default {
    name: 'LetterCreate',
    data() {
      return {
        women: [],
        mans: [],
        selectedWoman: false,
        selectedMan: false,
        subject: '',
        text: '',
        photosToAttach: [],
        attachedPhotos: [],
        photosObjectAttached: [],
        photosAttachedInBottom: [],
        textLength: '',
      }
    },
    watch: {
      text(v) {
        this.text = this.cleanHtml(this.text)
      }
    },
    computed: {
      validation() {
        if (this.text.length >= 200 && this.subject.length >= 10 && this.text.length <= 5000 && this.subject.length <= 250) {
          return true
        }
        else {
          return false
        }
      },
      selectedPhotos() {
        return this.photosToAttach.filter(i => i.selected);
      },
      canCreate() {
        return (this.selectedWoman && this.selectedMan && this.subject !== '' && this.text !== '');
      },
      canAttach() {
        return !!this.selectedWoman;
      }
    },
    methods: {
      removeFromAttached(i) {
        this.attachedPhotos.splice(i, 1);
      },
      selectPhoto(photo) {
        photo.selected = !photo.selected
        if (this.selectedPhotos.length + this.attachedPhotos.length > 3) {
          toastr.error('Превышено допустимое к-во фотографий');
        }
      },
      finishAttach() {
        if (this.attachedPhotos.length < 3) {
//					this.attachedPhotos = this.selectedPhotos
          this.photosToAttach.forEach(photo => {
            if (photo.selected) {
              this.attachedPhotos.push(photo)
            }
          })

          this.attachedPhotos.forEach(photo => {
            photo.thumb = photo.file_url_medium
            photo.src = photo.file_url_origin
          })
          this.clear()
          setTimeout(() => {
            let self = this
            $('.dynamic').on('click', function () {
              let slideID = $(this).attr('data-slide');
              $(this).lightGallery({
                dynamic: true,
                dynamicEl: self.attachedPhotos,
                index: slideID
              })

            });
          }, 400);
        }
        else {
          this.photosToAttach.forEach(photo => {
            photo.selected = false
          })
          toastr.error('Превышено допустимое к-во фотографий');
        }
      },
      clear() {
        this.photosToAttach.forEach(photo => {
          photo.selected = false
        })
      },
      isAttached(id) {
        return (this.attachedPhotos.indexOf(id) !== -1);
      },
//            switchAttachToLetter(id) {
//                if(this.attachedPhotos.indexOf(id) !== -1) {
//                    let count = 0;
//                	this.photosObjectAttached.forEach(photo => {
//                		if(photo.id === id) {
//                            this.photosObjectAttached.splice(count, 1)
//                        }else {
//                			count++;
//                        }
//                    });
//                    for(let i = 0; i < this.attachedPhotos.length; i++) {
//                		if(this.attachedPhotos[i] === id) {
//                            this.attachedPhotos.splice(i, 1);
//                        }
//                    }
//                }else {
//                    this.attachedPhotos.push(id);
//                    this.photosToAttach.forEach(photo => {
//                    	if(photo.id === id) {
//                            this.photosObjectAttached.push(photo);
//                        }
//                    });
//                }
//            },
      fetchPhotos() {
        this.$http.post('v2/female/load-photos', {
          access_token: this.$cookie.get('access_token'),
          user_id: this.selectedWoman
        }).then(data => {
          if (data.body.status) {
            this.photosToAttach = [];
            data.body.result.public_photo.forEach(photo => {
              photo.selected = false
              this.photosToAttach.push(photo);
            });
            data.body.result.private_photo.forEach(photo => {
              photo.selected = false
              this.photosToAttach.push(photo);
            });

          } else {
            if ('message' in data.body) {
              toastr.error(data.body.message);
            }
            toastr.error('Не могу загрузить список фото клиентки');
            toastr.info(data.body.desc);
          }
        }, err => {
          toastr.error('Не могу загрузить список фото клиентки');
          console.log(err);
        })
      },
      createLetter() {
        let photoid = [];
        this.attachedPhotos.forEach(function (arrayItem) {
          let id = arrayItem.id
          photoid.push(id)
        });

        if (this.validation) {
          this.$http.post('v2/female/create/letter', {
            access_token: this.$cookie.get('access_token'),
            sender_user_id: this.selectedWoman,
            receiver_user_id: this.selectedMan,
            subject: this.subject,
            text: this.text,
            attachments: JSON.stringify(photoid).toString(),
          }).then(data => {
            if (data.body.status) {
              toastr.success('Сообщение успешно создано')
              setTimeout(() => {
                this.$router.push('/woman/letters');
              }, 2000)
            } else {
              toastr.error('Не могу создать письмо');
              toastr.info(data.body.desc);
            }
          }, err => {
            toastr.error('Не могу создать письмо');
          })
        }
        else {
          toastr.error('Не введено минимальное количетсво символов');
        }

      },
      selectWomanCallback(value) {
        this.selectedWoman = value
      },
      selectManCallback(value) {
        this.selectedMan = value
      },
      fetchWomen() {
        this.$http.post('v2/femal/load-list', {
          access_token: this.$cookie.get('access_token')
        }).then(data => {
          if (data.body.status) {
            data.body.result.forEach(woman => {
              this.women.push({
                id: woman.user_id,
                name: woman.name + ' ' + woman.surname
              })
            })
          } else {
            if ('message' in data.body) {
              toastr.error(data.body.message);
            }
            toastr.error('Не могу загрузить список клиенток')
          }
        }, err => {
          toastr.error('Не могу загрузить список клиенток');
          console.log(err);
        })
      },
      fetchMans() {
        this.$http.post('v2/male/easy-load', {
          access_token: this.$cookie.get('access_token')
        }).then(data => {
          if (data.body.status) {
            data.body.result.forEach(man => {
              this.mans.push({
                id: man.user_id,
                name: man.name + ' ' + man.surname
              })
            })
          } else {
            if ('message' in data.body) {
              toastr.error(data.body.message);
            }
            toastr.error('Не могу загрузить список клиентов')
          }
        }, err => {
          toastr.error('Не могу загрузить список клиентов');
          console.log(err);
        })
      }
    },
    beforeMount() {
      this.fetchMans();
      this.fetchWomen();
    },
    mixins: [CLEAN_HTML],
    components: {
      'my-select': mySelect2,
      AppEditable
    }
  }
</script>

<style scoped>

  .m-h {
    padding: 0;
    min-height: 150px;
  }

  .attached {
    border: solid midnightblue 2px;
    border-radius: 3px;
  }
</style>
