<template>
	<!-- .row (main row) -->
	<div class="row">
		<div class="col-md-12">
			<div class="box box-blue box-solid">
				<div class="box-header with-border">
					<h3 class="box-title">Письма</h3>
					<div class="box-tools pull-right">
						<router-link to="/woman/letters/create">
							<a class="btn btn-success">Создать <i class="fa fa-plus"></i></a>
						</router-link>
					</div>
					<!-- /.box-tools -->
				</div>
				<!-- /.box-header -->
				<div class="box-body no-padding">
					<!-- filter -->
					<form class="row">
						<div class="form-group margin">
							<date-filter :changeFilter="dateFilterChange"></date-filter>
							<div class="col-md-2">
								<input type="text" class="form-control" placeholder="ID" v-model="searchById">
							</div>
							<div class="col-md-2">
								<my-select :options="allPartners" :placeholder="'Партнер'"
										   :callback="selectPartnerCallback"
										   :className="'letters-woman-partner-select'"></my-select>

							</div>
							<div class="col-md-2">
								<my-select :options="showBranches" :placeholder="'Филиал'"
										   :callback="selectBranchCallback"
										   :className="'letters-woman-branch-select'"></my-select>
							</div>
							<div class="col-md-2">
								<my-select :options="showAdmins" :placeholder="'Админ'"
										   :callback="selectAdminCallback"
										   :className="'letters-woman-admin-select'"></my-select>
							</div>
							<div class="col-md-2">
								<my-select :options="showWomen" :placeholder="'Клиентка'"
										   :callback="selectWomanCallback"
										   :className="'moderation-woman-letters'"></my-select>
							</div>
							<div class="col-md-2">
								<my-select :options="mans" :placeholder="'Клиент'"
										   :callback="selectManCallback"
										   :className="'moderation-man-letters-form-control'"></my-select>
							</div>
						</div>
					</form>
					<div class="row">
						<div class="form-group" style="margin-left: 15px">

							<div class="col-md-2">
								<select class="form-control" v-model="searchByDistribution">
									<option class="placeholder-option" value="">Рассылка</option>
									<option value="1">да</option>
									<option value="0">нет</option>
								</select>
							</div>
							<div class="col-md-2">
								<select class="form-control" v-model="searchByReade">
									<option class="placeholder-option" value="">Прочитанное</option>
									<option value="1">да</option>
									<option value="0">нет</option>
								</select>
							</div>
						</div>
					</div>
					<preloader v-show="initTableProcess"></preloader>
					<div class="table-responsive" v-show="!initTableProcess">
						<table class="table table-bordered table-striped" id="womanLettersTable" style="width: 100%">
							<thead>
							<tr>
								<th>ID</th>
								<th>От(Клиентка)</th>
								<th>Кому(Клиент)</th>
								<th class="ext-lg-td">Тема</th>
								<th>Рассылка
								</th>
								<th>Прочитанное
								</th>
								<th>Партнер
								</th>
								<th>Филиал
								</th>
								<th>Админ
								</th>
								<th>Дата создания
								</th>
								<th>Действие</th>
							</tr>
							</thead>
						</table>
					</div>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
			<div class="row">
				<div class="col-md-6">
					<div class="margin-top" id="womanLettersInfo">

					</div>
				</div>
				<div class="col-md-6">
					<ul class="pagination pull-right" id="womanLettersPagination">

					</ul>
				</div>
			</div>
		</div>
		<mail-modal @delete-attach="deleteAttachments()" v-if="showModal" @close="closeModals()"  :letter="oneLetter">
		</mail-modal>
	</div>
</template>

<script>
	import mySelect from '../../custom/select2/component.vue'
	import moment from 'moment'
	import toastr from 'toastr'
	import preloader from '../../custom/preloaderSmall/component.vue'
	import DateFilterDays from '../../custom/datefilterDays/component.vue'
	import MailModal from '../../modals/MailModalWoman.vue'
	export default {
		name: 'LettersLog',
		data() {
			return {
				timeFrom: moment().startOf( 'day' ).startOf( 'YYYY-MM-DD HH:mm' ),
				timeTo: moment().endOf( 'day' ).endOf( 'YYYY-MM-DD HH:mm' ),
				initTableProcess: true,
				allPartners: [],
				allBranches: [],
				timeFrom: moment().startOf( 'month' ).format( 'X' ),
				timeTo: moment().endOf( 'month' ).format( 'X' ),
				allAdmins: [],
				showBranches: [],
				showAdmins: [],
				searchById: '',
				searchByStatus: '',
				searchByDistribution: '',
				searchByReade: '',
				allWomen: [],
				showWomen: [],
				table: null,
				letters: [],
				mans: [],
				showModal: false,
				oneLetter: null,
			}
		},
		watch: {
			searchById( value ) {
				this.searchInTable( 0, value );
			},
			searchByDistribution( value ) {
				this.searchInTable( 4, value );
			},
			searchByReade( value ) {
				this.searchInTable( 5, value );
			}
		},
		methods: {
			closeModals() {
				this.showModal = false
				$( 'html' ).removeClass( 'modal-open' )
			},
			dateFilterChange( d ) {
				this.timeFrom = d.from;
				this.timeTo = d.to;
				this.fetchData();
			},
			selectManCallback( id ) {
				if ( id ) {
					this.searchInTable( 2, id )
				} else {
					this.searchInTable( 2, '' )
				}
			},
			fetchAdminsByAgency( id ) {
				this.$http.post( 'v2/agency/get/admin-in-agency', {
					access_token: this.$cookie.get( 'access_token' ),
					agency_id: id
				} ).then( data => {
					if ( data.body.status ) {
						this.showAdmins = data.body.result
					} else {
						toastr.error( 'Не могу загрузить список админов' )
					}
				}, err => {
					toastr.error( 'Не могу загрузить список админов' );
					console.log( err );
				} );
			},
			fetchWomanByAgency( value ) {
				this.$http.post( 'v2/agency/get/woman-in-agency', {
					access_token: this.$cookie.get( 'access_token' ),
					agency_id: value
				} ).then( data => {
					if ( data.body.status ) {
						this.showWomen = data.body.result;
						this.allPartners.forEach( p => {
							if ( p.id == value ) {
								this.showBranches = p.agency_branches
							}
						} )
					}
				} )
			},

			fetchBranchByAgency( value ) {
				this.$http.post( 'v2/agency/get/branches', {
					access_token: this.$cookie.get( 'access_token' ),
				} ).then( data => {
					if ( data.body.status ) {
						let branches = data.body.result;
						branches.forEach( branch => {
							if(branch.agency.id === value) {
								this.showBranches.push(branch)
							}
						} )
					}
				} )
			},
			selectBranchCallback( value ) {
				if ( value ) {
					this.allBranches.forEach( branch => {
						if ( branch.id == value ) {
							this.searchInTable( 5, branch.name );
						}
					} )
					this.fetchAdminsByAgency( value );
					this.fetchWomanByAgency( value );
				} else {
					this.searchInTable( 5, '' );
				}
			},
			selectAdminCallback( value ) {
				if ( value ) {
					this.allAdmins.forEach( admin => {
						if ( admin.id == value ) {
							this.searchInTable( 8, admin.name );
						}
					} );
					this.$http.post( 'v2/agency/get/agency-woman', {
						access_token: this.$cookie.get( 'access_token' ),
						admin_id: value
					} ).then( data => {
						if ( data.body.status ) {
							this.showWomen = [];
							data.body.result.forEach( woman => {
								this.showWomen.push( {
									id: woman.id,
									name: woman.fullName
								} )
							} )
						} else {
							toastr.error( 'Не могу получить список клиенток под админом' );
							toastr.info( data.body.desc );
						}
					}, err => {
						toastr.error( 'Не могу получить скписок клиенток под админом' );
						console.log( err )
					} )
				} else {
					this.showAdmins = this.allAdmins;
					this.searchInTable( 8, '' )
				}
			},
			selectPartnerCallback( value ) {

				if ( value ) {
					this.allPartners.forEach( partner => {
						if ( partner.id == value ) {
							this.searchInTable( 6, partner.name );
						}
					} );
					this.showWomen = [];
					this.showAdmins = [];
					this.showBranches = [];
					this.fetchAdminsByAgency( value );
					this.fetchWomanByAgency( value );
					this.fetchBranchByAgency(value)
				} else {
					this.searchInTable( 6, '' );
					this.showWomen = this.allWomen;
					this.showBranches = this.allBranches;
					this.showAdmins = this.allAdmins;
				}
			},
			selectWomanCallback( value ) {
				if ( value ) {
					this.allWomen.forEach( w => {
						if ( w.id == value ) {
							this.searchInTable( 1, w.name )
						}
					} )
				} else {
					this.searchInTable( 1, '' )
				}
			},
			fetchBranches() {
				this.$http.post( 'v2/agency/get/branches', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( data => {
					if ( data.body.status ) {
						this.allBranches = data.body.result;
						this.showBranches = this.allBranches
					} else {
						toastr.error( 'Не могу получить список филиалов' )
						toastr.info( data.body.desc )
					}
				}, err => {
					toastr.error( 'Не могу получить список филиалов' )
				} )
			},
			fetchAdmins() {
				this.$http.post( 'v2/agency/get/admins', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( data => {
					if ( data.body.status ) {
						let admins = data.body.result;
						let adminsPrettyArray = [];
						admins.forEach( a => {
							adminsPrettyArray.push( {
								id: a.admin_user_id,
								name: a.admin_name + ' ' + a.admin_surname,
							} )
						} )
						this.allAdmins = adminsPrettyArray;
						this.showAdmins = adminsPrettyArray;
					} else {
						toastr.error( 'Не могу получить список админов сайта' )
					}
				}, err => {
					toastr.error( 'Не могу получить список админов сайта' )
				} )
			},
			fetchPartner() {
				this.$http.post( 'v2/agency/get/list', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( data => {
					if ( data.body.status ) {
						this.allPartners = data.body.result;
					} else {
						toastr.error( 'Не могу загрузить список партнеров' )
						toastr.info( data.body.desc );
					}
				}, err => {
					toastr.error( 'Не могу загрузить список партнеров' )
				} )
			},
			fetchWomen() {
				this.$http.post( 'v2/femal/load-list', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( data => {
					if ( data.body.status ) {
						let normalArray = [];
						data.body.result.forEach( woman => {
							normalArray.push( {
								id: woman.user_id,
								name: woman.name + ' ' + woman.surname
							} )
						} )
						this.allWomen = normalArray;
						this.showWomen = normalArray;
					} else {
						toastr.error( 'Не могу загрузить список клиенток' )
					}
				}, err => {
					toastr.error( 'Не могу загрузить список клиенток' )
				} )
			},
			searchInTable( col, value ) {
				if ( this.table !== null ) {
					this.table.column( col )
						.search( value, false, false )
						.draw();
				}
			},
			fetchData() {
				this.fetchWomen();
				this.$http.post( 'v2/female/get/letter', {
					access_token: this.$cookie.get( 'access_token' ),
					time_from: this.timeFrom,
					time_to: this.timeTo
				} ).then( data => {
					if ( data.body.status ) {
						this.letters = data.body.result;
						this.initTable();
						this.fetchPartner();
						this.fetchBranches();
						this.fetchAdmins();
						this.fetchManFilter();
						this.initTableProcess = false;
					} else {
						toastr.error( data.body.desc )

					}
				}, err => {
					toastr.error( 'Не могу получить список фото' )
					this.initTableProcess = false;
				} )
			},
			fetchManFilter() {
				this.$http.post( 'v2/male/easy-load', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( data => {
					if ( data.body.status ) {
						data.body.result.forEach( man => {
							this.mans.push( {
								id: man.user_id,
								name: man.name + ' ' + man.surname
							} )
						} )
					} else {
						toastr.err( 'Не могу загрузить список клиентов' );
						toastr.info( data.body.desc )
					}
				}, err => {
					toastr.err( 'Не могу загрузить список клиентов' );
				} )
			},
			initListeners() {
				$( '#womanLettersTable' ).on( 'click', '.show-letter', ( ev ) => {
					this.$http.post( 'v2/female/get/letter-one', {
						access_token: this.$cookie.get( 'access_token' ),
						message_id: ev.target.dataset.id
					} ).then( data => {
						if ( data.body.status ) {
							console.log( data.body.reslt );
							this.oneLetter = data.body.result;
							this.showModal = true
							$( 'html' ).addClass( 'modal-open' )
						} else {
							toastr.error( 'Не могу загрузить письмо' );
							toastr.info( data.body.desc )
						}
					}, err => {
						toastr.error( 'Не могу загрузить письмо' );
					} )
				} )
			},
			initTable() {
				if ( this.table === null ) {
					this.table = $( '#womanLettersTable' ).DataTable( {
						iDisplayLength: 20,
						"order": [ [ 9, "desc" ] ],
						"oLanguage": {
							"sLengthMenu": "Отображено _MENU_ записей на страницу",
							"sSearch": "Поиск:",
							"sZeroRecords": "Ничего не найдено - извините",
							"sInfo": "Показано с _START_ по _END_ из _TOTAL_ записей",
							"sInfoEmpty": "Показано с 0 по 0 из 0 записей",
							"sInfoFiltered": "(отфильтровано из _MAX_ записей)",
							"oPaginate": {
								"sFirst": "Первая",
								"sLast": "Посл.",
								"sNext": "След.",
								"sPrevious": "Пред.",
							}
						},
					} );
					$( '#womanLettersTable_length' ).remove();
					$( '#womanLettersInfo' ).append( $( '#womanLettersTable_info' ) );
					$( '#womanLettersPagination' ).append( $( '#womanLettersTable_paginate' ) );
					$( '#womanLettersTable_filter' ).remove();
				} else {
					this.table.clear().draw();
				}
				if ( this.letters.length < 20 ) {
					$( '#manChatLogPaginate' ).hide();
				} else {
					$( '#manChatLogPaginate' ).show();
				}


				this.letters.forEach( letter => {
					let isDistributions = '<span class="glyphicon glyphicon-ok-circle fa-2x text-green"><span style="display: none;">1</span></span>';
					if ( letter.messageDistribution === '0' ) {
						isDistributions = '<span class="glyphicon glyphicon-remove-circle fa-2x text-red"><span style="display: none;">0</span></span>';
					}
					let isReade = '<span class="glyphicon glyphicon-ok-circle fa-2x text-green"><span style="display: none;">1</span></span>';
					if ( letter.messageReade === '0' ) {
						isReade = '<span class="glyphicon glyphicon-remove-circle fa-2x text-red"><span style="display: none;">0</span></span>';
					}
					let branch = '<span style="display: none;"></span>'
					if ( letter.adminId ) {
						branch = '<span style="display: none;">' + letter.branchAgencyId + '</span>' + letter.branchAgencyName + '(' + letter.branchAgencyId + ')'
					}
					let admin = '<span style="display: none;"></span>'
					if ( letter.adminId ) {
						admin = '<span style="display: none;">' + letter.adminId + '</span>' + letter.adminName + '(' + letter.adminId + ')'
					}
					let isReplied = '<a class="btn btn-primary btn-block show-letter" data-id="' + letter.messageId + '"><i data-id="' + letter.messageId + '" class="fa fa-eye fa-lg text-white"></i></a>'
//                    if(!letter.isReplied) {
//						isReplied = '<a class="btn btn-primary btn-block show-letter" data-id="' + letter.messageId + '">Ответить</a>'
//                    }
					this.table.row.add( [
						'<a class="show-letter" data-id="' + letter.messageId + '">' + letter.messageId + '</a>',
						letter.womanName + '(' + letter.womanId + ')',
						letter.manName + '(' + letter.manId + ')',
						letter.messageSubject,
						isDistributions,
						isReade,
						'<span style="display: none;">' + letter.mainAgencyId + '</span>' + letter.mainAgencyName + '(' + letter.mainAgencyId + ')',
						branch,
						admin,
						'<span><span style="display:none">' + letter.messageCreatedAt + '</span>' + moment( letter.messageCreatedAt * 1000 ).format( 'DD.MM.YYYY HH:mm:ss' ) + '</span>',
						isReplied
					] ).draw()
				} )
				this.initListeners()
			}
		},
		beforeMount() {
		},
		mounted() {
			//this.fetchData();
//            $('#womanLettersTable').on('click', '.show-letter', (ev) => {
//                let letterId = ev.target.dataset.id
//                this.$router.push('/woman/letter/' + letterId);
//            })
		},
		components: {
			'my-select': mySelect,
			'preloader': preloader,
			'date-filter': DateFilterDays,
			'mail-modal': MailModal
		}
	}
</script>
