<template>
  <!-- .row (main row) -->
  <div class="row">
    <div class="col-md-12">
      <div class="box box-blue box-solid">
        <div class="box-header with-border">
          <h3 class="box-title">Письма</h3>
          <div class="box-tools pull-right">
            <router-link :to="{name: 'Создание писем'}" class="btn btn-success">
              Создать <i class="fa fa-plus"></i>
            </router-link>
          </div>
          <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">
          <!-- filter -->
          <form class="row">
            <div class="form-group margin">
                <oneday-data-picker
                    @changeFilter="dateFilterChange">
                </oneday-data-picker>
              <div class="col-md-4">
                <input type="text" class="form-control" placeholder="ID" v-model="id">
              </div>

              <div class="col-md-2">
                <select class="form-control" v-model="spam">
                  <option class="placeholder-option" value="">Cпам</option>
                  <option value="1">да</option>
                  <option value="0">нет</option>
                </select>
              </div>
              <div class="col-md-2">
                <select class="form-control" v-model="distribution">
                  <option class="placeholder-option" value="">Рассылка</option>
                  <option value="1">да</option>
                  <option value="0">нет</option>
                </select>
              </div>
              <div class="col-md-2">
                <select class="form-control" v-model="readed">
                  <option class="placeholder-option" value="">Прочитанное</option>
                  <option value="1">да</option>
                  <option value="0">нет</option>
                </select>
              </div>
              <pfaw @selectChange="selectChange" :withWoman="true" :withMan="true"></pfaw>
            </div>
          </form>
          <sst :loader="loader" @load="fetchData" :sort="sort" :data="data"
               :count="count" :loadParams="loadParams" :order="order" :pagination="pagination">
            <tr slot="tbody" v-for="i in data" :key="i.message_id">
              <td><a @click.prevent="viewLetter(i.message_id)">{{i.message_id}}</a></td>
              <td>
                <router-link :to="{name: 'Профиль клиентки', params: {woman: i.woman_id}}">
                  {{i.woman_name}} (id: {{i.woman_id}})
                </router-link>
              </td>
              <td>
                <router-link :to="{name: 'Профиль клиента', params: {man: i.man_id}}">{{i.man_name}} (id:
                  {{i.man_id}})
                </router-link>
              </td>
              <td>
                <p class="text-limited">{{i.message_subject}}</p>
              </td>
              <td>
                <template v-if="i.message_distribution">
                  <span class="glyphicon glyphicon-ok-circle fa-2x text-green"></span>
                </template>
                <template v-else>
                  <span class="glyphicon glyphicon-remove-circle fa-2x text-red"></span>
                </template>
              </td>
              <td>
                <template v-if="i.message_read">
                  <span class="glyphicon glyphicon-ok-circle fa-2x text-green"></span>
                </template>
                <template v-else>
                  <span class="glyphicon glyphicon-remove-circle fa-2x text-red"></span>
                </template>
              </td>

              <td>
                <template v-if="i.spam">
                  <span class="text-red">Спам</span>
                </template>
                <template v-else>

                </template>
              </td>
              <td>
                <router-link :to="{name: 'Просмотр партнера', params: {id: i.main_agency_id}}">
                  {{i.main_agency_name}} (id: {{i.main_agency_id}})
                </router-link>
              </td>
              <td>
                <template v-if="i.branch_agency_id">
                  <router-link :to="{name: 'Просмотр партнера', params: {id: i.branch_agency_id}}">
                    {{i.branch_agency_name}} (id: {{i.branch_agency_id}})
                  </router-link>
                </template>
                <template v-else>
                  Не указан
                </template>
              </td>
              <td>
                <template v-if="i.admin_id">
                  <router-link :to="{name: 'Профиль админа', params: {admin: i.admin_id}}">
                    {{i.admin_name}} (id: {{i.admin_id}})
                  </router-link>
                </template>
                <template v-else>
                  Не указан
                </template>
              </td>
              <td>
                {{date( i.message_created_at )}}
              </td>
              <td>
                <a @click.prevent="viewLetter(i.message_id)" class="btn btn-primary btn-block">
                  <i class="fa fa-eye fa-lg text-white"></i>
                </a>
              </td>
            </tr>
          </sst>
        </div>
        <!-- /.box-body -->
      </div>
    </div>
    <mail-modal @deleteattach="deleteAttachments"
                @update-letter="updateLetter(letter_id)"
                @add-attach="addAttachments"
                v-if="showModal"
                @close="closeModals()"
                :letter="oneLetter"></mail-modal>
  </div>
</template>

<script>
  import mySelect from '../../custom/select2/select-new.vue'
  import moment from 'moment'
  import toastr from 'toastr'
  import OneDayDataPicker from '../../custom/datefilter/oneDayDataPicker'
  import MailModal from '../../modals/MailModalWoman.vue'
  import sst from '../../custom/serverSideTable.vue'
  import pfaw from '../../custom/relativeSelect/component.vue'
  import {SS_SORT_TABLE} from '../../../mixins/utils'
  import _ from 'lodash'

  export default {
    name: 'LettersLog',
      components: {
          'my-select': mySelect,
          'oneday-data-picker': OneDayDataPicker,
          'mail-modal': MailModal,
          sst,
          pfaw
      },
    data() {
      return {
        timeFrom: moment().startOf('day').startOf('YYYY-MM-DD HH:mm'),
        timeTo: moment().endOf('day').endOf('YYYY-MM-DD HH:mm'),
        loader: true,
        id: '',
        letter_id: 0,
        distribution: 0,
        spam: '',
        data: [],
        mans: [],
        showModal: false,
        oneLetter: null,
        readed: '',
        sort: [
          {active: false, name: 'message_id', column: 'ID'},
          {active: false, name: 'woman_name', column: 'От (Клиентка)'},
          {active: false, name: 'man_name', column: 'Кому (Клиент)'},
          {active: false, name: 'message_subject', column: 'Тема'},
          {active: false, name: 'message_distribution', column: 'Рассылка'},
          {active: false, name: 'message_read', column: 'Прочитанное'},
          {active: false, name: 'spam', column: 'Спам'},
          {active: false, name: 'main_agency_id', column: 'Партнер'},
          {active: false, name: 'branch_agency_id', column: 'Филиал'},
          {active: false, name: 'admin_id', column: 'Админ'},
          {active: true, name: 'message_created_at', column: 'Дата создания'},
          {active: false, name: '', column: 'Действие'},
        ],
      }
    },
    mixins: [SS_SORT_TABLE],
    watch: {
      id() {
        this.resetPagination();
        this.search()
      },
      distribution() {
        this.resetPagination();
        this.fetchData()
      },
      readed() {
        this.resetPagination();
        this.fetchData()
      },
      spam() {
        this.resetPagination();
        this.fetchData()
      }
    },
    computed: {},
    methods: {
      deleteAttachments(payload) {
        console.log(this.oneLetter.attachments[payload.index].id)
        console.log('payloadID: ' + payload.item.id)
        if (this.oneLetter.attachments[payload.index].id == payload.item.id) {
          this.oneLetter.attachments.splice(payload.index, 1);
          console.log(this.oneLetter.attachments[payload.index].id)
          console.log('payloadID: ' + payload.item.id)
        } else {
          this.oneLetter.attachments.splice(payload.index-1, 1);
        }
      },
      addAttachments(item){
        this.oneLetter.attachments.concat(item)
      },
      selectChange(value) {
        this.resetPagination();
        this.partner = value.partner;
        this.branch = value.branch;
        this.admin = value.admin;
        this.woman = value.woman;
        this.man = value.man;
        this.fetchData();
      },

      search: _.debounce(function () {
        this.fetchData()
      }, 300),
      closeModals() {
        this.showModal = false
        $('html').removeClass('modal-open')
      },
      dateFilterChange(d) {
        this.timeFrom = d.from;
        this.timeTo = d.to;
        this.resetPagination();
        this.fetchData();
      },

      fetchData() {
        window.scrollTo(0, 0);
        this.loader = true;
        this.$http.post('v2/letter/get/list', {
          access_token: this.$cookie.get('access_token'),
          user_type: 'woman',
          time_from: this.timeFrom,
          time_to: this.timeTo,
          offset: this.loadParams.offset,
          limit: this.loadParams.limit,
          order_type: this.order.type,
          order_by: this.order.by,
          main_agency_id: this.partner || '',
          branch_agency_id: this.branch || '',
          admin_id: this.admin || '',
          woman_id: this.woman || '',
          man_id: this.man || '',
          read: this.readed || '',
          message_id: this.id || '',
          is_distribution: typeof this.distribution === "number" ?  this.distribution : '',
          spam: this.spam || '',
        }).then(data => {
          if (data.body.status) {
            this.data = data.body.result.list;
            this.count = +data.body.result.counter
          } else {
            this.data = [];
            toastr.error(data.body.desc)
          }
          this.loader = false;
        }, err => {
          toastr.error('Не могу получить список писем')
          this.loader = false;
        })
      },
      viewLetter(message_id) {
        this.$http.post('v2/female/get/letter-one', {
          access_token: this.$cookie.get('access_token'),
          message_id
        }).then(data => {
          if (data.body.status) {
            this.letter_id = message_id,
              this.oneLetter = data.body.result;
            this.showModal = true
            $('html').addClass('modal-open')
          } else {
            toastr.error('Не могу загрузить письмо');
            toastr.info(data.body.desc)
          }
        }, err => {
          toastr.error('Не могу загрузить письмо');
        })
      },
      updateLetter(message_id) {
        this.$http.post('v2/female/get/letter-one', {
          access_token: this.$cookie.get('access_token'),
          message_id
        }).then(data => {
          if (data.body.status) {
            this.oneLetter = data.body.result;
          } else {
            toastr.error('Не могу загрузить письмо');
            toastr.info(data.body.desc)
          }
        }, err => {
          toastr.error('Не могу загрузить письмо');
        })
      },

      date(ts) {
        return moment(ts * 1000).format('DD.MM.YYYY HH:mm:ss')
      },

    },
    created() {
      this.updOrderParams( {
        type: 'desc',
        by: 'message_created_at'
      } );
    },
    beforeRouteEnter( to, from, next ) {
      next( vm => {
        vm.updOrderParams( {
          type: 'desc',
          by: 'message_created_at'
        } );
        if ( vm.routeCritical ) vm.critical = '1';
        if ( vm.routeNew ) vm.searchAgencyModeration = 'free';
      } )
    }
  }
</script>

<style scoped>
  .text-limited {
    max-width: 300px;
  }
</style>
