<template>
	<div class="row">
		<div class="col-md-12">
			<div class="box box-blue box-solid">
				<div class="box-header with-border">
					<h3 class="box-title"><i class="fa fa-female text-blue"></i>Список клиенток</h3>
				</div>
				<div class="box-body no-padding">
					<div style="padding: 10px 10px 0;">
						<div class="row">
							<div class="col-md-1 form-group">
								<input type="text" class="form-control" v-model="id" placeholder="ID">
							</div>
							<div class="col-md-1 form-group">
								<input type="text" class="form-control" v-model="name" placeholder="Имя">
							</div>
							<div class="col-md-1 form-group">
								<input type="text" class="form-control" v-model="passport" placeholder="Паспорт">
							</div>
							<div class="col-md-1 form-group">
								<select class="form-control" id="online-search" v-model="online">
									<option class="placeholder-option" selected="selected" value="">Онлайн</option>
									<option value="1">онлайн</option>
									<option value="0">офлайн</option>
								</select>
							</div>
							<div class="col-md-1 form-group">
								<select class="form-control" id="webcam-search" v-model="webcam">
									<option class="placeholder-option" selected="selected" value="">Веб-камера
									</option>
									<option value="1">с камерой</option>
									<option value="0">без камеры</option>
								</select>
							</div>

              				<pfaw @selectChange="selectChange" :withWoman="false"></pfaw>

						</div>
					</div>
					<sst :loader="loading" @load="fetchData" :sort="sort" :data="data"
						 :count="count" :loadParams="loadParams" :order="order" :pagination="pagination">
						<tr v-for="i in data" :key="i.id" slot="tbody">
							<td>
								<router-link :to="{name: 'Профиль клиентки', params: {woman: i.id}}"> {{i.id}}
								</router-link>
							</td>
							<td>
								<router-link :to="{name: 'Профиль клиентки', params: {woman: i.id}}">
									<img :src="i.avatar.small" :alt="'Аватар ' + i.name"
										 class="img-responsive img-rounded">
								</router-link>
							</td>
							<td>
								<router-link :to="{name: 'Профиль клиентки', params: {woman: i.id}}">{{i.full_name}}
								</router-link>
							</td>
							<td>{{i.passport}}</td>
							<td>
								<span v-if="i.is_online" class="glyphicon glyphicon-ok-circle fa-2x text-green"></span>
								<span v-else="" class="glyphicon glyphicon-remove-circle fa-2x text-red"></span>
							</td>
							<td>
								<span v-if="i.camera === 'yes' || i.camera === 'hd'"
									  class="glyphicon glyphicon-ok-circle fa-2x text-green"></span>
								<span v-else class="glyphicon glyphicon-remove-circle fa-2x text-red"></span>
							</td>
							<td>
								<router-link :to="{name: 'Просмотр партнера', params: {id: i.agency.main.id}}">
									{{i.agency.main.name}} (ID: {{i.agency.main.id}})
								</router-link>
							</td>
							<td>
								<template v-if="i.agency.branch.id">
									<router-link :to="{name: 'Просмотр партнера', params: {id: i.agency.branch.id}}">
										{{i.agency.branch.name}} (ID: {{i.agency.branch.id}})
									</router-link>
								</template>
								<template v-else="">Отсутствует</template>
							</td>
							<td>
								<template v-if="i.admin.id">
									<router-link :to="{name: 'Профиль админа', params: {admin: i.admin.id}}">
										{{i.admin.name}} {{i.admin.surname}} (ID: {{i.admin.id}})
									</router-link>
								</template>
								<template v-else="">Отсутствует</template>
							</td>
							<td>{{date( i.created_at )}}</td>
							<td>{{date( i.last_active )}}</td>
						</tr>
					</sst>
				</div>
			</div>
		</div>
	</div>
</template>

<script>

	import toastr from 'toastr'
	import mySelect from '../../custom/select2/select-new.vue'
	import _ from 'lodash'
	import sst from '../../custom/serverSideTable.vue'
  import pfaw from '../../custom/relativeSelect/component.vue'
	import { SS_SORT_TABLE } from '../../../mixins/utils'

	export default {
		name: 'WomenList',
		props: {
			routeOnline: Number,
			routeWebcam: Number
		},
		mixins: [ SS_SORT_TABLE ],
		data() {
			return {
				inputL: true,
				loading: true,
				data: [],
				id: '',
				name: '',
				email: '',
				online: '',
				passport: '',
				webcam: '',
				status: '',
				partner: 0,
				branch: 0,
				admin: 0,
				allPartners: [],
				allBranches: [],
				allAdmins: [],
				sort: [
					{ active: false, name: 'id', column: 'ID' },
					{ active: false, name: '', column: 'Аватар' },
					{ active: false, name: 'full_name', column: 'Имя' },
					{ active: false, name: 'passport', column: 'Паспорт' },
					{ active: false, name: 'is_online', column: 'Онлайн' },
					{ active: false, name: 'camera', column: 'Вебкамера' },
					{ active: false, name: 'main_agency_name', column: 'Партнер' },
					{ active: false, name: 'branch_agency_name', column: 'Филиал' },
					{ active: false, name: 'admin_name', column: 'Админ' },
					{ active: false, name: 'created_at', column: 'Дата регистрации' },
					{ active: true, name: 'last_active', column: 'Последняя активность' },
				],
			}
		},
		methods: {
		  selectChange( value ){
			this.resetPagination();
			this.partner = value.partner
			this.branch = value.branch
			this.admin = value.admin
			this.woman = value.woman
			this.fetchData();
		  },
			search: _.debounce( function () {
				this.fetchData()
			}, 300 ),

			date( ts ) {
				return moment( ts * 1000 ).format( 'lll' );
			},
			fetchData() {
				window.scrollTo( 0, 0 );
				this.loading = true;
				this.$http.post( 'v2/female/get/list', {
					access_token: this.$cookie.get( 'access_token' ),
					offset: this.loadParams.offset,
					limit: this.loadParams.limit,
					order_type: this.order.type,
					order_by: this.order.by,
					account_status: JSON.stringify( [ 'active' ] ),
					id: this.id,
					bot: 0,
					full_name: this.name,
					email: this.email,
					is_online: this.online || '',
					passport: this.passport,
					camera: this.webcam,
					main_agency_id: this.partner || '',
					branch_agency_id: this.branch || '',
					admin_id: this.admin || '',
				} ).then( response => {
					if ( response.body.status ) {
						this.data = response.body.result;
						this.count = +response.body.count;
					} else {
						toastr.error( response.body.desc )
					}
					this.loading = false;
				}, err => {
					this.loader = false;
					toastr.error( 'Ошибка API' );
					console.log( err );
					this.data = [];
					this.count = 0;
				} );
			},
			lazySearch (){
				this.inputL = false;
				this.loading = true;
				var delay = 900;
				var this_ = this;
				setTimeout(function(){
					this_.resetPagination();
					this_.fetchData();
					this_.inputL = true;
				}, delay);
			}
		},
		watch: {
			status() {
				if (this.inputL) this.lazySearch();
			},
			id() {
				if (this.inputL) this.lazySearch();
			},
			name() {
				if (this.inputL)  this.lazySearch();
			},
			email() {
				if (this.inputL) this.lazySearch();
			},
			online() {
				if (this.inputL) this.lazySearch();
			},
			passport() {
				if (this.inputL) this.lazySearch();
			},
			webcam() {
				this.inputL ? false : this.lazySearch();
			}
		},
		computed: {
			displayedPartners() {
				return this.allPartners.map( i => {
					return {
						id: +i.id,
						name: `${i.name} (id: ${i.id})`
					}
				} )
			},
			displayedBranches() {
				return this.allBranches.map( i => {
					return {
						id: +i.id,
						name: `${i.name} (id: ${i.id})`
					}
				} )
			},
			displayedAdmins() {
				return this.allAdmins.map( i => {
					if ( i.admin_name ) {
						return {
							id: +i.admin_user_id,
							name: `${(i.admin_name.trim() + ' ' + i.admin_surname.trim()).trim()} (id: ${i.admin_user_id})`
						}
					}
					return {
						id: +i.id,
						name: `${i.name.trim()} (id: ${i.id})`
					}
				} )
			},
			displayedWomen() {
				//TODO: fit answers
				return this.allWomen.map( i => {
					if ( 'fullName' in i ) {
						return {
							id: +i.id,
							name: `${i.fullName.trim()} (id: ${i.id})`
						}
					} else if ( 'surname' in i ) {
						return {
							id: +i.user_id,
							name: `${(i.name.trim() + ' ' + i.surname.trim()).trim()} (id: ${i.user_id})`
						}
					}
					return {
						id: +i.id,
						name: `${i.name.trim()} (id: ${i.id})`
					}
				} )
			},
		},
		mounted() {
			this.$nextTick( () => {
				if ( !this.webcam && !this.online ) {
					this.updOrderParams( {
						type: 'desc',
						by: 'last_active'
					} );
					this.fetchData()
				}
			} )
		},
		beforeMount() {
			this.updOrderParams( {
				type: 'desc',
				by: 'last_active'
			} );
		},
		beforeRouteLeave( to, frm, next ) {
			const sort =  this.sort.find( i => i.active );
			const obj = {
				id: this.id,
				name: this.name,
				email: this.email,
				online: this.online,
				passport: this.passport,
				webcam: this.webcam,
				status: this.status,
				partner: this.partner,
				branch: this.branch,
				admin: this.admin,
				pagination: this.pagination,
				sort
			};

			window.localStorage.setItem( this.$route.meta.abbr, JSON.stringify( obj ) );


			next();
		},
		beforeRouteEnter( to, frm, next ) {
			// if ( frm.name && frm.meta.abbr === 'wmn-profile' ) {
			// 	next(vm => {
			// 		try {
			// 			debugger
			// 			Object.assign(vm, JSON.parse(window.localStorage[vm.$route.meta.abbr]))
            //
			// 		} catch (e) {
            //
			// 		}
			// 	})
			// 	Object.assign()
			// }

			next( vm => {
				vm.updOrderParams( {
					type: 'desc',
					by: 'last_active'
				} );
				if ( vm.routeWebcam ) vm.webcam = 1;
				if ( vm.routeOnline ) vm.online = 1;
			} )
		},
		components: {
			mySelect,
			sst,
      pfaw
		},

	}
</script>

