<template>
    <normal-loader v-if="loading"></normal-loader>
    <div class="row" v-else>
        <div class="col-md-12">
            <div class="box box-blue box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-female text-blue"></i>Список клиенток</h3>
                </div>
                <div class="box-body no-padding">
                    <form class="row">
                        <div class="form-group margin">
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="ID" id="search-girl-by-id">
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="ИФ" id="search-girl-by-name">
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="Паспорт"
                                       id="search-girl-by-passport">
                            </div>
                            <div class="col-md-2">
                                <my-select :options="allPartners" :placeholder="'Партнер'"
                                           :callback="selectPartnerCallback"
                                           :className="'letters-woman-partner-select'"></my-select>

                            </div>
                            <div class="col-md-2">
                                <my-select :options="showBranches" :placeholder="'Филиал'"
                                           :callback="selectBranchCallback"
                                           :className="'letters-woman-branch-select'"></my-select>
                            </div>
                            <div class="col-md-2">
                                <my-select :options="showAdmins" :placeholder="'Админ'"
                                           :callback="selectAdminCallback"
                                           :className="'letters-woman-admin-select'"></my-select>
                            </div>
                        </div>
                    </form>
                    <form class="row">
                        <div class="form-group margin">
                            <div class="col-md-2">
                                <select class="form-control" id="online-search" v-model="onlineSearch">
                                    <option class="placeholder-option" selected="selected" value="">Онлайн</option>
                                    <option value="yes">онлайн</option>
                                    <option value="no">офлайн</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <select class="form-control" id="webcam-search" v-model="webcamSearch">
                                    <option class="placeholder-option" selected="selected" value="">Вебка</option>
                                    <option value="yes">с камерой</option>
                                    <option value="no">без камеры</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <select class="form-control" v-model="statusSearch">
                                    <option class="placeholder-option" value="" selected="selected">Статус</option>
                                    <option value="active">активные</option>
                                    <option value="banned">забаненные</option>
                                    <option value="lock">заблокированные</option>
                                    <option value="deactivated">удаленные</option>
                                </select>
                            </div>
                        </div>
                    </form>
                    <table-load v-show="initTableProcess"></table-load>
                    <div class="table-responsive" v-show="!initTableProcess">
                        <table class="table table-bordered table-striped display nowrap" cellspacing="0" id="girls-table" width="100%"  >
                            <thead>
                            <tr>
                                <th>ID
                                <th>Аватар
                                </th>
                                <th>ИФ
                                <!--<div class="pull-right"><i class="fa fa-rotate-90 fa-exchange text-black-gray"></i>
                                </div>-->
                                </th>
                                <th>Паспорт

                                <!--<div class="pull-right"><i class="fa fa-rotate-90 fa-exchange text-black-gray"></i>
                                </div>-->
                                </th>
                                <th>Онлайн
                                <!--<div class="pull-right"><i class="fa fa-rotate-90 fa-exchange text-black-gray"></i>
                                </div>-->
                                </th>
                                <th>Вебка
                                <!--<div class="pull-right"><i class="fa fa-rotate-90 fa-exchange text-black-gray"></i>
                                </div>-->
                                </th>
                                <th>Статус

                                <!--<div class="pull-right"><i class="fa fa-rotate-90 fa-exchange text-black-gray"></i>
                                </div>-->
                                </th>
                                <th>Партнер

                                <!--<div class="pull-right"><i class="fa fa-rotate-90 fa-exchange text-black-gray"></i>
                                </div>-->
                                </th>
                                <th>Филиал

                                <!--<div class="pull-right"><i class="fa fa-rotate-90 fa-exchange text-black-gray"></i>
                                </div>-->
                                </th>
                                <th>Админ

                                <!--<div class="pull-right"><i class="fa fa-rotate-90 fa-exchange text-black-gray"></i>
                                </div>-->
                                </th>
                                <th>Дата регистрации

                                    <!--<div class="pull-right"><i class="fa fa-rotate-90 fa-exchange text-black-gray"></i>
									</div>-->
                                </th>
                                <th>  Дата последней активности

                                    <!--<div class="pull-right"><i class="fa fa-rotate-90 fa-exchange text-black-gray"></i>
									</div>-->
                                </th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>

                </div>
            </div>
            <ul class="pagination left" id="girls-info">
            </ul>
            <ul class="pagination pull-right" id="girls-pagination">
            </ul>
        </div>
    </div>
</template>

<script>

    function searchById() {
        $('#girls-table').DataTable().column(0).search(
            $('#search-girl-by-id').val(),
            false,
            false
        ).draw();
    }

    function searchByFullName() {
        $('#girls-table').DataTable().column(2).search(
            $('#search-girl-by-name').val(),
            false,
            false
        ).draw();
    }

    function searchByPassport() {
        $('#girls-table').DataTable().column(3).search(
            $('#search-girl-by-passport').val(),
            false,
            false
        ).draw();
    }

    function searchByPartner() {
        $('#girls-table').DataTable().column(8).search(
            $('#search-girl-by-partner').val(),
            false,
            false
        ).draw();
    }

    function searchByBranch() {
        $('#girls-table').DataTable().column(9).search(
            $('#search-girl-by-branch').val(),
            false,
            false
        ).draw();
    }

    function searchByAdmin() {
        $('#girls-table').DataTable().column(10).search(
            $('#search-girl-by-admin').val(),
            false,
            false
        ).draw();
    }

    function searchByOnline() {
        $('#girls-table').DataTable().column(4).search(
            $('#online-search').val(),
            false,
            false
        ).draw();
    }

    function searchByModeration() {
        $('#girls-table').DataTable().column(5).search(
            $('#moderation-search').val(),
            false,
            false
        ).draw();
    }

    function searchByWebcam() {
        $('#girls-table').DataTable().column(5).search(
            $('#webcam-search').val(),
            false,
            false
        ).draw();
    }

    function awesomeSearch(column, data) {
        $('#girls-table').DataTable().column(column).search(
            data,
            false,
            false
        ).draw();
    }

    import Vue from 'vue'
    import select2 from './../select2.vue'
    import mySelect from '../../custom/select2/component.vue'
    import toastr from 'toastr'
    import preloader from '../../custom/preloader/component.vue'
    import Preloader from '../../custom/normalPreloader/component.vue'
    import TableLoad from '../../custom/tableLoader/component.vue'
    export default {
        name: 'WomenList',
        props: {
            routeOnline: Number,
            routeWebcam: Number
        },
        data() {
            return {
                loading: true,
                initTableProcess: true,
                loaded: false,
                girls: [],
                agency: [],
                agency_branches: [],
                admins: [],
                selected_branches: [],
                selected_admins: [],
                modelAgency: '',
                modelBranch: '',
                modelAdmin: '',
                webcamSearch: '',
                moderationSearch: '',
                onlineSearch: '',
                t: '',
                showBranches: [],
                showAdmins: [],
                partnerPlaceholder: 'Партнер',
                branchPlaceholder: 'Филлиал',
                adminPlaceholder: 'Админ',
                table: null,
                statusSearch: ''
            }
        },
        methods: {
            initTable() {
                let prettyArray = [];
                this.initTableProcess = true;
                for (let i = 0; i < this.girls.length; i++) {
                    let currentGirls = this.girls[i];
                    let cameraExists = false;
                    let online = false;
                    let onModeration = false;
                    let createdDate = [1,2,3,4,5,6,7,8,9,12]
                    let lastActive = [1,2,3,4,5,6,7,8,9,12]

					let lastActivity = currentGirls.last_active
					if (lastActivity !== null) {
						lastActivity = '<span><span style="display:none">' + currentGirls.last_active + '</span>'+ moment(currentGirls.last_active * 1000).format('DD.MM.YYYY HH:mm:ss') +'</span>'
					}
					else {
//						lastActivity = 'Не был активен' // was sort bug
					}
					let createdAt =  currentGirls.created_at;
					if (createdAt !== null) {
						createdAt =  '<span><span style="display:none">' + currentGirls.created_at + '</span>'+ moment(currentGirls.created_at * 1000).format('DD.MM.YYYY HH:mm:ss') +'</span>'
					}
					else {
//						createdAt = 'Не указано' // was sort bug
					}

                    if (currentGirls.camera == 'yes' || currentGirls.camera == 'hd') {
                        cameraExists = '<span class="glyphicon glyphicon-ok-circle fa-2x text-green"><span style="display: none;">yes</span></span>';
                    } else {
                        cameraExists = '<span class="glyphicon glyphicon-remove-circle fa-2x text-red"><span style="display: none;">no</span></span>';
                    }
                    let status = '';
                    switch (currentGirls.status) {
                        case 'active':
                            status = '<strong>активная <span style="display: none">'+currentGirls.status+'</span></strong>';
                            break;
                        case 'deactivated':
                            status = '<strong class="text-yellow">удалена <span style="display: none">'+currentGirls.status+'</span></strong>';
                            break;
                        case 'banned':
                            status = '<strong class="text-red">забаненная <span style="display: none">'+currentGirls.status+'</span></strong>';
                            break;
                        case 'lock':
                            status = '<strong>заблокированная <span style="display: none">'+currentGirls.status+'</span></strong>';
                            break;
                    }
                    if (currentGirls.online) {
                        online = '<span class="glyphicon glyphicon-ok-circle fa-2x text-green"><span style="display: none;">yes</span></span>'
                    } else {
                        online = '<span class="glyphicon glyphicon-remove-circle fa-2x text-red"><span style="display: none;">no</span></span>'
                    }

                    if (currentGirls.moderation) {
                        onModeration = '<span class="glyphicon glyphicon-remove-circle fa-2x text-red"><span style="display: none;">yes</span></span>';
                    } else {
                        onModeration = '<span class="glyphicon glyphicon-ok-circle fa-2x text-green"><span style="display: none;">no</span></span>';
                    }
                    let agencyBranch = 'Отсутствует';
                    if ('branch' in currentGirls.agency) {
                        agencyBranch = '<a class="show-girl-p" data-agency="' + currentGirls.agency.branch.id + '">' + currentGirls.agency.branch.name + '</a>'
                    }
                    let admin = 'Не назначен';
                    if (currentGirls.admin) {
                        admin = '<a href="#" class="show-admin-girl" data-admin="' + currentGirls.admin.id + '">' + currentGirls.admin.name + ' ' + currentGirls.admin.surname + '</a>';
                    }
                    prettyArray.push([
                        '<a class="show-girl-profile" style="cursor:pointer;" data-id="' + currentGirls.user_id + '">' + currentGirls.user_id + '</a>',
                        '<img src="'+currentGirls.avatar.small+'"  data-id="' + currentGirls.user_id + '" class="img-responsive img-rounded">',
                        '<a class="show-girl-profile" style="cursor:pointer;" data-id="' + currentGirls.user_id + '">' + currentGirls.name + ' ' + currentGirls.surname + '</a>',
                        currentGirls.passport,
                        online,
                        cameraExists,
                        status,
                        '<a class="show-girl-p" data-agency="' + currentGirls.agency.main.id + '">' + currentGirls.agency.main.name + '</a>',
                        agencyBranch,
                        admin,
						createdAt,
						lastActivity
                    ])
                }
                $('#search-girl-by-id').on('keyup', function (e) {
                    searchById();
                });

                $('#search-girl-by-name').on('keyup', function (e) {
                    searchByFullName();
                });

                $('#search-girl-by-passport').on('keyup', function (e) {
                    searchByPassport();
                });

                let navigator = this.navigator;

                $('#girls-table').on('click', '.show-girl-p', function () {
                    let ID = $(this).data('agency');
                    navigator('/partners/view/' + ID);
                });

                $('#girls-table').on('click', '.show-girl-profile', function () {
                    let ID = $(this).data('id');
                    navigator('/woman/view/' + ID);
                });

                $('#girls-table').on('click', '.show-admin-girl', function () {
                    let ID = $(this).data('admin');
                    navigator('/partner/admin/show/' + ID);
                });

                $('#girls-table').on('click', '.edit-p-woman', function () {
                    let ID = $(this).data('id');
                    navigator('/woman/edit/' + ID);
                });

                if (this.table === null) {
                    this.table = $('#girls-table').DataTable({
                        iDisplayLength: 20,
						"order": [[ 11, "desc" ]],
                        //"scrollX": true,
						//autoWidth: true,
                        data: prettyArray,
                        "oLanguage": {
                            "sLengthMenu": "Отображено _MENU_ записей на страницу",
                            "sSearch": "Поиск:",
                            "sZeroRecords": "Ничего не найдено - извините",
                            "sInfo": "Показано с _START_ по _END_ из _TOTAL_ записей",
                            "sInfoEmpty": "Показано с 0 по 0 из 0 записей",
                            "sInfoFiltered": "(отфильтровано из _MAX_ записей)",
                            "oPaginate": {
                                "sFirst": "Первая",
                                "sLast": "Посл.",
                                "sNext": "След.",
                                "sPrevious": "Пред.",
                            }
                        },
                    });
                    $('.dataTables_length').remove();
                    $('#girls-table_filter').remove();
                    $('#example_filter').remove();
                    $('#girls-info').append($('#girls-table_info'))
                    $('#girls-pagination').append($('#girls-table_paginate'));
                } else {
                    this.table.clear().draw();
                }
                if (this.girls.length < 20) {
                    $('#girls-pagination').hide()
                } else {
                    $('#girls-pagination').show();
                }

                if (this.routeOnline) this.onlineSearch = 'yes'

                if (this.routeWebcam) this.webcamSearch = 'yes'

                setTimeout(() => {
                    this.initTableProcess = false;
                }, 100)

            },
            navigator(route) {
                this.$router.push(route.toString());
            },
            fetchData() {
                this.loading = true;
                Vue.http.post('v2/female/get/list', {
                    access_token: this.$cookie.get('access_token')
                }).then(response => {
                    if (response.body.status) {
                        this.girls = response.body.result;

                        setTimeout(() => {
                            this.loading = false;
                            setTimeout(() => {
                                this.initTable()
                            }, 40)
                        }, 100)
                    } else {
                        toastr.error(response.body.desc)
                    }
                }, err => {
                    console.log(err);
                });

                Vue.http.post('v2/femal/get/filters', {
                    access_token: this.$cookie.get('access_token')
                }).then(response => {
                    if (response.body.status) {
                        this.loaded = true;
                        let allAgencyFilials = [];
                        let allSiteAdmins = [];
                        let agensyList = response.body.result;
                        this.agency = agensyList;
                        for (let i = 0; i < agensyList.length; i++) {
                            if ('admins' in agensyList[i] && agensyList[i].admins.length > 0) {
                                for (let k = 0; k < agensyList[i].admins.length; k++) {
                                    allSiteAdmins.push(agensyList[i].admins[k]);
                                }
                            }
                            if (agensyList[i].branches.length > 0) {
                                allAgencyFilials.push(agensyList[i].branches);
                                if ('admins' in agensyList[i].branches && agensyList[i].branches.admins.length > 0) {
                                    allSiteAdmins.push(agensyList[i].branches.admins);
                                    for (let j = 0; j < agensyList[i].branches.admins.length; j++) {
                                        allSiteAdmins.push(agensyList[i].branches.admins[j]);
                                    }
                                }
                            }
                        }
                        this.agency_branches = allAgencyFilials;
                        this.admins = allSiteAdmins;
                        this.selected_admins = allSiteAdmins;
                        this.selected_branches = allAgencyFilials;
                        this.fetchBranches();
                        this.fetchAdmins();
                    } else {
                        console.log(response);
                    }
                }, err => {
                    console.log(err);
                })
            },
            searchInTable(col, value) {
                this.table.column(col)
                    .search(value, false, false)
                    .draw();
            },
            selectManCallback(id) {
                if (id) {
                    this.searchInTable(2, id)
                } else {
                    this.searchInTable(2, '')
                }
            },
            selectBranchCallback(value) {
                if (value) {
                    this.allBranches.forEach(branch => {
                        if (branch.id == value) {
                            this.searchInTable(8, branch.name);
                        }
                    })
                    this.fetchAdminsByAgency(value);
                } else {
                    this.showAdmins = this.allAdmins;
                    this.searchInTable(8, '');
                }
            },
            selectAdminCallback(value) {
                if (value) {
                    this.allAdmins.forEach(admin => {
                        if (admin.id == value) {
                            this.searchInTable(9, admin.name);
                        }
                    });
                } else {
                    this.showAdmins = this.allAdmins;
                    this.searchInTable(9, '')
                }
            },
            selectPartnerCallback(value) {
                if (value) {
                    this.allPartners.forEach(partner => {
                        if (partner.id == value) {
                            this.searchInTable(7, partner.name);
                            this.showBranches = partner.agency_branches
                        }
                    });
                    this.showAdmins = [];
                    this.fetchAdminsByAgency(value);
                } else {
                    this.searchInTable(7, '');
                    this.showWomen = this.allWomen;
                    this.showBranches = this.allBranches;
                    this.showAdmins = this.allAdmins;
                }
            },
            fetchAdminsByAgency(id) {
                this.$http.post('v2/agency/get/admin-in-agency', {
                    access_token: this.$cookie.get('access_token'),
                    agency_id: id
                }).then(data => {
                    if (data.body.status) {
                        this.showAdmins = data.body.result
                    } else {
                        toastr.error('Не могу загрузить список админов')
                    }
                }, err => {
                    toastr.error('Не могу загрузить список админов');
                    console.log(err);
                });
            },
            selectWomanCallback(value) {
                if (value) {
                    this.allWomen.forEach(w => {
                        if (w.id == value) {
                            this.searchInTable(2, w.name)
                        }
                    })
                } else {
                    this.searchInTable(2, '')
                }
            },
            fetchBranches() {
                this.$http.post('v2/agency/get/branches', {
                    access_token: this.$cookie.get('access_token')
                }).then(data => {
                    if (data.body.status) {
                        this.allBranches = data.body.result;
                        this.showBranches = this.allBranches
                    } else {
                        toastr.error('Не могу получить список филиалов')
                        toastr.info(data.body.desc)
                    }
                }, err => {
                    toastr.error('Не могу получить список филиалов')
                })
            },
            fetchAdmins() {
                this.$http.post('v2/agency/get/admins', {
                    access_token: this.$cookie.get('access_token')
                }).then(data => {
                    if (data.body.status) {
                        let admins = data.body.result;
                        let adminsPrettyArray = [];
                        admins.forEach(a => {
                            adminsPrettyArray.push({
                                id: a.admin_user_id,
                                name: a.admin_name + ' ' + a.admin_surname,
                            })
                        })
                        this.allAdmins = adminsPrettyArray;
                        this.showAdmins = adminsPrettyArray;
                    } else {
                        toastr.error('Не могу получить список админов сайта')
                    }
                }, err => {
                    toastr.error('Не могу получить список админов сайта')
                })
            },
            fetchPartner() {
                this.$http.post('v2/agency/get/list', {
                    access_token: this.$cookie.get('access_token')
                }).then(data => {
                    if (data.body.status) {
                        this.allPartners = data.body.result;
                    } else {
                        toastr.error('Не могу загрузить список партнеров')
                        toastr.info(data.body.desc);
                    }
                }, err => {
                    toastr.error('Не могу загрузить список партнеров')
                })
            },
        },
        watch: {
            statusSearch(value) {
                if(this.table !== null) {
                    this.table.column(6).search(value, false, false).draw();
                }
            },
            modelAgency(value) {
                if (value == '') {
                    this.selected_branches = this.agency_branches;
                    this.selected_admins = this.admins;
                } else {
                    for (let i = 0; i < this.agency.length; i++) {
                        if (this.agency[i].name == value) {
                            this.selected_branches = this.agency[i].branches;
                            this.selected_admins = this.agency[i].admins;
                        }
                    }
                }
                searchByPartner();
            },
            modelBranch(value) {
                if (value == '') {
                    if (this.modelAgency == '') {
                        this.selected_admins = this.admins;
                    } else {
                        for (let i = 0; i < this.agency.length; i++) {
                            if (this.agency[i].name == this.modelAgency) {
                                this.selected_branches = this.agency[i].branches;
                                this.selected_admins = this.agency[i].admins;
                            }
                        }
                    }
                } else {
                    for (let i = 0; i < this.agency_branches.length; i++) {
                        if (this.agency_branches[i].name == value) {
                            this.selected_admins = this.agency_branches[i].admins;
                        }
                    }
                }
                searchByBranch();
            },
            modelAdmin(value) {
                searchByAdmin();
            },
            webcamSearch(value) {
				this.searchInTable(5, value)
            },
            onlineSearch(value) {
				this.searchInTable(4, value)
            },
            moderationSearch(value) {
                searchByModeration()
            }
        },
        components: {
            'select2': select2,
            'my-select': mySelect,
            preloader,
            'normal-loader': Preloader,
            'table-load': TableLoad
        },
        computed: {
            parentData(){
                return this;
            },
            adminsOnSite() {
                return this.admins;
            },
            branches() {
                return this.agency_branches;
            },
            allPartners() {
                return this.agency;
            },
            selectedAdminsOnSite() {
                return this.selected_admins
            },
        },
        beforeMount() {
            if (!this.$cookie.get('access_token')) {
                this.$router.push('/');
            } else {
                this.fetchData();
            }
        },
        mounted() {
            this.$nextTick(() => {

            });
        },
    }
</script>

<style scoped>
    .margin > .col-md-2 {
        margin-top: 15px;
    }

    .select2-dropdown {
        border-color: #ddd;
    }

    .select2-search__field {
        border-color: #ddd;
        border-radius: 3px;
    }

    .select2-selection--single {
        border-color: #dddddd;
    }

    .show-girl-p {
        cursor: pointer !important;
    }

    /*.dataTables_scrollHeadInner > table {
        display: block !important;
    }*/



</style>
