<template>
    <!-- Main content -->
    <div>
        <!-- .row (main row) -->
        <div class="row">
            <div class="col-md-12">
                <div class="box box-blue box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Клиентки новые</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">

                        <!-- filter -->
                        <form class="row">
                            <div class="form-group margin">
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="ID" v-model="searchId">
                                </div>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="ИФ" v-model="searchName">
                                </div>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="Паспорт"
                                           v-model="searchPassport">
                                </div>
                                <div class="col-md-2">
                                    <my-select :placeholder="'Партнер'" :options="partners" :className="'select-partner'" :callback="selectPartnerCallback">

                                    </my-select>
                                </div>
                                <div class="col-md-2">
                                    <my-select :placeholder="'Филиал'" :options="showBranches" :className="'select-branch'" :callback="selectBranchCallback">

                                    </my-select>
                                </div>
                                <div class="col-md-2">
                                    <my-select :placeholder="'Админ'" :options="allAdmins" :className="'select-admin'" :callback="selectAdminCallback">

                                    </my-select>
                                </div>
                                <div class="col-md-2">
                                    <select class="form-control" v-model="statusSearch">
                                        <option value="" class="placeholder-option">Статус</option>
                                        <option value="on_creating">на создании</option>
                                        <option value="not_moderated">на модерации</option>
                                        <option value="declined">отклонена</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                        <div v-show="loading">
                            <preloader></preloader>
                        </div>
                        <div class="table-responsive" v-show="!loading">
                            <table class="table table-bordered table-striped" id="onmoderation-woman-table">
                                <thead>
                                <tr>
                                    <th>ID
                                    <th>Аватар
                                    </th>
                                    <th class="sm-td">ИФ
                                    </th>
                                    <th class="sm-td">Статус
                                    </th>
                                    <th>Паспорт
                                    </th>
                                    <th>Примечание модератора
                                    </th>
                                    <th class="sm-td">Партнер
                                    </th>
                                    <th class="sm-td">Филиал
                                    </th>
                                    <th class="sm-td">Админ
                                    </th>
                                    <th>Действие</th>
                                </tr>
                                </thead>
                            </table>
                        </div>

                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="margin-top" id="woman_ban_info">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <ul class="pagination pull-right" id="woman_ban_paginate">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    import toastr from 'toastr'
    import mySelect from '../../custom/select2/component.vue'
    import moment from 'moment'
	import preloader from '../../custom/normalPreloader/component.vue'

    export default {
        name: 'BannedWoman',
        data() {
            return {
                statusSearch: '',
                searchId: '',
                searchName: '',
                searchPassport: '',
                women: [],
                table: null,
                selectedPartner: '',
                selectedBranch: '',
                selectedAdmin: '',
                allBranches: [],
                showBranches: [],
                partners: [],
                allAdmins: [],
                showAdmins: [],
                loading: true
            }
        },
        watch: {
            statusSearch(value) {
                this.searchInTable(3, value);
            },
            searchId(value) {
                this.searchInTable(0, value);
            },
            searchName(value) {
                this.searchInTable(2, value);
            },
            searchPassport(value) {
                this.searchInTable(4, value);
            }
        },
        methods: {
            selectAdminCallback(value) {
                if(value) {
                    this.searchInTable(8, value);
                }else {
                    this.searchInTable(8, '');
                }
            },
            selectPartnerCallback(value) {
                if(value) {
                    let name = null
                    this.partners.forEach(p => {
                        if(p.id == value) {
                            name = p.name;
                            this.showBranches = p.agency_branches;
                        }
                    });
                    this.searchInTable(6, name);
                }else {
                    this.showBranches = this.allBranches;
                    this.searchInTable(6, '');
                }
            },
            selectBranchCallback(value) {
                if(value) {
                    let name = null;
                    this.showBranches.forEach(branch => {
                        if(branch.id == value) {
                            name = branch.name
                        }
                    })
                    this.searchInTable(7, name);
                }else {
                    this.searchInTable(7, '');
                }
            },
            searchInTable(col, value) {
                this.table.column(col)
                    .search(value, false, false)
                    .draw();
            },
            fetchPartners() {
                this.$http.post('v2/agency/get/list', {
                    access_token: this.$cookie.get('access_token')
                }).then(data => {
                    if(data.body.status) {
                        this.partners = data.body.result;
                    }else {
                        toastr.error('Не могу получить список всех партнеров')
                    }
                }, err => {
                    toastr.error('Не могу получить список всех партнеров')
                })
            },
            fetchBranch() {
                this.$http.post('v2/agency/get/branches', {
                    access_token: this.$cookie.get('access_token')
                }).then(data => {
                    if(data.body.status) {
                        this.allBranches = data.body.result;
                        this.showBranches = data.body.result;
                    }else {
                        toastr.error('Не могу загрузить список филиалов')
                    }
                }, err => {
                    toastr.error('Не могу загрузить список филиалов')
                })
            },
            fetchAdmins() {
                this.$http.post('v2/agency/get/admins', {
                    access_token: this.$cookie.get('access_token')
                }).then(data => {
                    if(data.body.status) {
                        let admins = data.body.result;
                        admins.forEach(admin => {
                            this.allAdmins.push({
                                id: admin.admin_user_id,
                                name: admin.admin_name
                            })
                        })
                    }else {
                        toastr.error('Не могу получить список админов')
                    }
                }, err => {
                    toastr.error('Не могу получить список админов')
                })
            },
            fetchData() {
            	this.loading = true;
                this.$http.post('v2/female/get/on-moderation', {
                    access_token: this.$cookie.get('access_token')
                }).then(data => {
                    if (data.body.status) {
                        this.women = data.body.result;
                        this.initTable()
                        this.fetchPartners()
                        this.fetchBranch()
                        this.fetchAdmins()
                    } else {
                        toastr.error('Не могу загрузить список клиенкток')
                        toastr.info(data.body.desc);
                    }
                    this.loading = false;
                }, err => {
                    toastr.error('Не могу загрузить список клиенкток')
                })
            },
            initTable() {
                if(this.table === null) {
                    this.table = $('#onmoderation-woman-table').DataTable({
                        iDisplayLength: 20,
                        "oLanguage": {
                            "sLengthMenu": "Отображено _MENU_ записей на страницу",
                            "sSearch": "Поиск:",
                            "sZeroRecords": "Ничего не найдено - извините",
                            "sInfo": "Показано с _START_ по _END_ из _TOTAL_ записей",
                            "sInfoEmpty": "Показано с 0 по 0 из 0 записей",
                            "sInfoFiltered": "(отфильтровано из _MAX_ записей)",
                            "oPaginate": {
                                "sFirst": "Первая",
                                "sLast":"Посл.",
                                "sNext":"След.",
                                "sPrevious":"Пред.",
                            }
                        },
                    });
                    $('#onmoderation-woman-table_filter').remove()
                    $('#onmoderation-woman-table_length').remove()
                    $('#woman_ban_paginate').append($('#onmoderation-woman-table_paginate'))
                    $('#woman_ban_info').append($('#onmoderation-woman-table_info'))
                }else {
                    this.table.clear().draw();
                }
                let women = this.women;
                if(women.length < 20) {
                    $('#woman_ban_paginate').hide();
                }else {
                    $('#woman_ban_paginate').show();
                }
                women.forEach(woman => {
                    let admin = '';
                    try {
                        if(woman.admin !== null || woman.admin !== '') {
                            admin =  '<a class="show-admin" data-id="' + woman.admin.id + '">' + woman.admin.name + ' <span style="display: none;">'+woman.admin.id+'</span> </a>';
                        }
                    } catch (ex) {

                    }
                    let womanStatus = 'на создании <span style="display: none">on_creating</span>';
                    if(woman.account_status === 'on_creating') {
                        if(woman.note === '' || woman.note === null) {
                            womanStatus = 'на создании <span style="display: none">on_creating</span>';
                        }else if(woman.note !== '' && woman.note !== null) {
                            womanStatus = 'отклонена <span style="display: none;">declined</span>'
                        }
                    }
                    if(woman.account_status === 'not_moderated') {
                        womanStatus = 'на модерации <span style="display: none;">not_moderated</span>'
                    }
                    let agency = '';
                    let branch = '';
                    try {
                        agency = '<a class="show-partner" data-id="' + woman.agency.id + '">' + woman.agency.name + '</a>';
                        branch = '<a class="show-partner" data-id="' + woman.branch.id + '">' + woman.branch.name + '</a>';
                    } catch(ex) {

                    }
                    this.table.row.add([
                        '<a class="show-woman" data-id="' + woman.id + '">' + woman.id + '</a>',
                        '<img src="'+woman.avatar.small+'" class="img-responsive img-rounded">',
                        '<a class="show-woman" data-id="' + woman.id + '">' + woman.name + '</a>',
                        womanStatus,
                        woman.passport,
                        woman.note,
                        agency,
                        branch,
                        admin,
                        '<a class="btn btn-primary btn-block edit-banned-woman" data-id="' + woman.id + '"><i data-id="' + woman.id + '" class="fa fa-edit fa-lg text-white"></i></a>'
                    ]).draw(false)
                });
            }
        },
        beforeMount() {

        },
        mounted() {
            this.fetchData();
            $('#onmoderation-woman-table').on('click', '.show-woman', (event) => {
                this.$router.push('/woman/view/' + event.target.dataset.id)
            })
            $('#onmoderation-woman-table').on('click', '.edit-banned-woman', (event) => {
                this.$router.push('/woman/edit/' + event.target.dataset.id)
            })
            $('#onmoderation-woman-table').on('click', '.show-admin', (event) => {
                this.$router.push('/partner/admin/show/' + event.target.dataset.id)
            })
            $('#onmoderation-woman-table').on('click', '.show-partner', (event) => {
                this.$router.push('/partners/view/' + event.target.dataset.id)
            })
        },
        components: {
            'my-select': mySelect,
            preloader
        }
    }
</script>
