<template>
	<div class="row">
		<div class="col-md-12">
			<div class="box box-blue box-solid">
				<div class="box-header with-border">
					<h3 class="box-title"><i class="fa fa-female text-blue"></i>Удаленные клиентки</h3>
				</div>
				<div class="box-body no-padding">
					<div style="padding: 10px 10px 0;">
						<div class="row">
							<div class="col-md-1 form-group">
								<input type="text" class="form-control" v-model="id" placeholder="ID">
							</div>
							<div class="col-md-1 form-group">
								<input type="text" class="form-control" v-model="name" placeholder="Имя">
							</div>
							<div class="col-md-1 form-group">
								<input type="text" class="form-control" v-model="passport" placeholder="Паспорт">
							</div>
							<div class="col-md-2 form-group">
								<my-select v-model="partner" :options="displayedPartners" :placeholder="'Партнер'"
										   @select="selectPartnerCallback($event)"></my-select>
							</div>
							<div class="col-md-2 form-group">
								<my-select v-model="branch" :options="displayedBranches" :placeholder="'Филиал'"
										   @select="selectBranchCallback($event)"></my-select>
							</div>
							<div class="col-md-2 form-group">
								<my-select v-model="admin" :options="displayedAdmins" :placeholder="'Админ'"
										   @select="selectAdminCallback($event)"></my-select>
							</div>
						</div>
					</div>
					<sst :loader="loading" @load="fetchData" :sort="sort" :data="data"
						 :count="count" :loadParams="loadParams" :order="order" :pagination="pagination">
						<tr v-for="i in data" :key="i.id" slot="tbody">
							<td>
								<router-link :to="{name: 'Профиль клиентки', params: {woman: i.id}}"> {{i.id}}
								</router-link>
							</td>
							<td>
								<router-link :to="{name: 'Профиль клиентки', params: {woman: i.id}}">
									<img :src="i.avatar.small" :alt="'Аватар ' + i.name"
										 class="img-responsive img-rounded">
								</router-link>
							</td>
							<td>
								<router-link :to="{name: 'Профиль клиентки', params: {woman: i.id}}">{{i.full_name}}
								</router-link>
							</td>
							<td>{{i.passport}}</td>
							<td>{{i.note ? i.note.length > 10 ? i.note.slice(0, 10) + '...' : i.note : ''}}</td>
							<td>
								<router-link :to="{name: 'Просмотр партнера', params: {id: i.agency.main.id}}">
									{{i.agency.main.name}} (ID: {{i.agency.main.id}})
								</router-link>
							</td>
							<td>
								<template v-if="i.agency.branch.id">
									<router-link :to="{name: 'Просмотр партнера', params: {id: i.agency.branch.id}}">
										{{i.agency.branch.name}} (ID: {{i.agency.branch.id}})
									</router-link>
								</template>
								<template v-else="">Отсутствует</template>
							</td>
							<td>
								<template v-if="i.admin.id">
									<router-link :to="{name: 'Профиль админа', params: {admin: i.admin.id}}">
										{{i.admin.name}} {{i.admin.surname}} (ID: {{i.admin.id}})
									</router-link>
								</template>
								<template v-else="">Отсутствует</template>
							</td>
							<td>{{i.initiator_name}} (ID:{{i.initiator_id}})</td>
							<td>{{date(i.change_status_at)}}</td>
							<td>
								<router-link :to="{name: 'Изменение клиентки', params: { woman: i.id }}" class="btn btn-primary btn-block"><i class="fa fa-edit fa-lg text-white"></i></router-link>
							</td>
						</tr>
					</sst>
				</div>
			</div>
		</div>
	</div>
</template>

<script>

	import toastr from 'toastr'
	import mySelect from '../../custom/select2/select-new.vue'
	import _ from 'lodash'
	import sst from '../../custom/serverSideTable.vue'
	import { SS_SORT_TABLE } from '../../../mixins/utils'

	export default {
		name: 'WomenList',
		props: {
			routeOnline: Number,
			routeWebcam: Number
		},
		mixins: [ SS_SORT_TABLE ],
		data() {
			return {
				loading: true,
				data: [],
				id: '',
				name: '',
				email: '',
				online: '',
				passport: '',
				webcam: '',
				status: '',
				partner: 0,
				branch: 0,
				admin: 0,
				allPartners: [],
				allBranches: [],
				allAdmins: [],
				sort: [
					{ active: false, name: 'id', column: 'ID' },
					{ active: false, name: '', column: 'Аватар' },
					{ active: false, name: 'full_name', column: 'Имя' },
					{ active: false, name: 'passport', column: 'Паспорт' },
					{ active: false, name: '', column: 'Примечение' },
					{ active: false, name: 'main_agency_name', column: 'Партнер' },
					{ active: false, name: 'branch_agency_name', column: 'Филиал' },
					{ active: false, name: 'admin_name', column: 'Админ' },
					{ active: false, name: 'initiator_id', column: 'Инициатор' },
					{ active: true, name: 'change_status_at', column: 'Дата смены статуса' },
					{ active: false, name: '', column: 'Действие' },
				],
			}
		},
		methods: {
			search: _.debounce( function () {
				this.fetchData()
			}, 300 ),
			date( ts ) {
				return moment( ts * 1000 ).format( 'lll' );
			},
			fetchData() {
				window.scrollTo( 0, 0 );
				this.loading = true;
				this.$http.post( 'v2/female/get/list', {
					access_token: this.$cookie.get( 'access_token' ),
					offset: this.loadParams.offset,
					limit: this.loadParams.limit,
					order_type: this.order.type,
					order_by: this.order.by,
					account_status: JSON.stringify( [ 'deactivated', 'temp_deactivated' ] ),
					id: this.id,
					bot: 0,
					full_name: this.name,
					email: this.email,
					is_online: this.online || '',
					passport: this.passport,
					camera: this.webcam,
					main_agency_id: this.partner || '',
					branch_agency_id: this.branch || '',
					admin_id: this.admin || '',
				} ).then( response => {
					if ( response.body.status ) {
						this.data = response.body.result;
						this.count = +response.body.count;
					} else {
						toastr.error( response.body.desc )
					}
					this.loading = false;
				}, err => {
					this.loader = false;
					toastr.error( 'Ошибка API' );
					console.log( err );
					this.data = [];
					this.count = 0;
				} );
			},
			fetchAdminsByAgency( id ) {
				this.$http.post( 'v2/agency/get/admin-in-agency', {
					access_token: this.$cookie.get( 'access_token' ),
					agency_id: id
				} ).then( data => {
					if ( data.body.status ) {
						this.allAdmins = data.body.result;
					} else {
						toastr.error( 'Не могу загрузить список админов' )
					}
				}, err => {
					toastr.error( 'Не могу загрузить список админов' );
					console.log( err );
				} );
			},
			fetchWomanByAgency( value ) {
				this.$http.post( 'v2/agency/get/woman-in-agency', {
					access_token: this.$cookie.get( 'access_token' ),
					agency_id: value
				} ).then( data => {
					if ( data.body.status ) {
						this.allWomen = data.body.result;
					}
				} )
			},
			fetchBranchByAgency( value ) {
				this.$http.post( 'v2/agency/get/branches', {
					access_token: this.$cookie.get( 'access_token' ),
				} ).then( data => {
					if ( data.body.status ) {
						this.allBranches = data.body.result.filter( i => i.duty_agency.id === value )
					}
				} )
			},
			selectBranchCallback( value ) {
				this.admin = 0;
				if ( value ) {
					let result = this.displayedBranches.find( i => i.id === value );
					if ( result ) {
						this.fetchAdminsByAgency( value );
						this.fetchWomanByAgency( value );
					}
				} else {
					if ( !this.partner ) {
						this.fetchBranches();
						this.fetchAdmins();
					}
					if ( this.partner ) {
						this.selectPartnerCallback( this.partner )
					}
				}
			},
			selectAdminCallback( value ) {
				if ( value ) {
					let result = this.displayedAdmins.find( i => i.id === value );
					if ( result ) {
						this.$http.post( 'v2/agency/get/agency-woman', {
							access_token: this.$cookie.get( 'access_token' ),
							admin_id: value
						} ).then( data => {
							if ( data.body.status ) {
								this.allWomen = data.body.result;
							} else {
								toastr.error( 'Не могу получить список клиенток под админом' );
								toastr.info( data.body.desc );
							}
						}, err => {
							toastr.error( 'Не могу получить скписок клиенток под админом' );
							console.log( err )
						} )
					}
				} else {
					this.selectBranchCallback( this.branch )
				}
			},
			selectPartnerCallback( value ) {
				this.branch = this.admin = 0;
				if ( value ) {
					let result = this.displayedPartners.find( i => i.id === value );
					if ( result ) {
						this.fetchData();
						this.fetchAdminsByAgency( value );
						this.fetchWomanByAgency( value );
						this.fetchBranchByAgency( value )
					}
				} else {
					this.fetchBranches();
					this.fetchAdmins();
				}
			},
			fetchPartner() {
				this.$http.post( 'v2/agency/get/list', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( data => {
					if ( data.body.status ) {
						this.allPartners = data.body.result;
					} else {
						toastr.error( 'Не могу загрузить список партнеров' )
						toastr.info( data.body.desc );
					}
				}, err => {
					toastr.error( 'Не могу загрузить список партнеров' )
				} )
			},
			fetchBranches() {
				this.$http.post( 'v2/agency/get/branches', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( data => {
					if ( data.body.status ) {
						this.allBranches = data.body.result;
					} else {
						toastr.error( 'Не могу получить список филиалов' )
						toastr.info( data.body.desc )
					}
				}, err => {
					toastr.error( 'Не могу получить список филиалов' )
				} )
			},
			fetchAdmins() {
				this.$http.post( 'v2/agency/get/admins', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( data => {
					if ( data.body.status ) {
						this.allAdmins = data.body.result
					} else {
						toastr.error( 'Не могу получить список админов сайта' )
					}
				}, err => {
					toastr.error( 'Не могу получить список админов сайта' )
				} )
			},
		},
		watch: {
			status() {
				this.resetPagination();
				this.fetchData();
			},
			admin() {
				this.resetPagination();
				this.fetchData();
			},
			branch() {
				this.resetPagination();
				this.fetchData();
			},
			partner() {
				this.resetPagination();
				this.fetchData();
			},
			id() {
				this.resetPagination();
				this.search();
			},
			name() {
				this.resetPagination();
				this.search();
			},
			email() {
				this.resetPagination();
				this.search();
			},
			online() {
				this.resetPagination();
				this.fetchData();
			},
			passport() {
				this.resetPagination();
				this.search();
			},
			webcam() {
				this.resetPagination();
				this.search();
			}
		},
		computed: {
			displayedPartners() {
				return this.allPartners.map( i => {
					return {
						id: +i.id,
						name: `${i.name} (id: ${i.id})`
					}
				} )
			},
			displayedBranches() {
				return this.allBranches.map( i => {
					return {
						id: +i.id,
						name: `${i.name} (id: ${i.id})`
					}
				} )
			},
			displayedAdmins() {
				return this.allAdmins.map( i => {
					if ( i.admin_name ) {
						return {
							id: +i.admin_user_id,
							name: `${(i.admin_name.trim() + ' ' + i.admin_surname.trim()).trim()} (id: ${i.admin_user_id})`
						}
					}
					return {
						id: +i.id,
						name: `${i.name.trim()} (id: ${i.id})`
					}
				} )
			},
			displayedWomen() {
				//TODO: fit answers
				return this.allWomen.map( i => {
					if ( 'fullName' in i ) {
						return {
							id: +i.id,
							name: `${i.fullName.trim()} (id: ${i.id})`
						}
					} else if ( 'surname' in i ) {
						return {
							id: +i.user_id,
							name: `${(i.name.trim() + ' ' + i.surname.trim()).trim()} (id: ${i.user_id})`
						}
					}
					return {
						id: +i.id,
						name: `${i.name.trim()} (id: ${i.id})`
					}
				} )
			},
		},
		beforeMount() {
			this.updOrderParams( {
				type: 'desc',
				by: 'change_status_at'
			} );
			this.fetchData();

			this.fetchPartner();
			this.fetchBranches();
			this.fetchAdmins();
		},
		components: {
			mySelect,
			sst
		},

	}
</script>

