<template>
    <!-- .row (main row) -->
    <div class="row">
        <div class="col-md-12">
            <div class="box box-blue box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Удаленные клиентки</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">

                    <!-- filter -->
                    <form class="row">
                        <div class="form-group margin">
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="ID" v-model="searchId">
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="ИФ" v-model="searchName">
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="Паспорт"
                                       v-model="searchPassport">
                            </div>
                            <div class="col-md-2">
                                <my-select :placeholder="'Партнер'" :options="partners" :className="'select-partner'" :callback="selectPartnerCallback">

                                </my-select>
                            </div>
                            <div class="col-md-2">
                                <my-select :placeholder="'Филиал'" :options="showBranches" :className="'select-branch'" :callback="selectBranchCallback">

                                </my-select>
                            </div>
                            <div class="col-md-2">
                                <my-select :placeholder="'Админ'" :options="allAdmins" :className="'select-admin'" :callback="selectAdminCallback">

                                </my-select>
                            </div>
                        </div>
                    </form>
                    <div v-show="loading">
                        <preloader></preloader>
                    </div>
                    <div class="table-responsive" v-show="!loading">
                    <table class="table table-bordered table-striped" id="locked-woman-table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Аватар</th>
                            <th class="sm-td">ИФ</th>
                            <th>Паспорт</th>
                            <th>Примечание</th>
                            <th class="sm-td">Партнер</th>
                            <th class="sm-td">Филиал</th>
                            <th class="sm-td">Админ</th>
                            <th>Инициатор</th>
                            <th>Дата смены статуса</th>
                            <th>Действие</th>
                        </tr>
                        </thead>
                    </table>
                    </div>

                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
            <div class="row">
                <div class="col-md-6">
                    <div class="margin-top" id="woman_ban_info">
                    </div>
                </div>
                <div class="col-md-6">
                    <ul class="pagination pull-right" id="woman_ban_paginate">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import toastr from 'toastr'
    import mySelect from '../../custom/select2/component.vue'
    import moment from 'moment'
	import preloader from '../../custom/normalPreloader/component.vue'
    export default {
        name: 'BannedWoman',
        data() {
            return {
                searchId: '',
                searchName: '',
                searchPassport: '',
                women: [],
                table: null,
                selectedPartner: '',
                selectedBranch: '',
                selectedAdmin: '',
                allBranches: [],
                showBranches: [],
                partners: [],
                allAdmins: [],
                showAdmins: [],
                loading: true,
            }
        },
        watch: {
            searchId(value) {
                this.searchInTable(0, value);
            },
            searchName(value) {
                this.searchInTable(2, value);
            },
            searchPassport(value) {
                this.searchInTable(3, value);
            }
        },
        methods: {
            selectAdminCallback(value) {
                if(value) {
                    this.searchInTable(7, value);
                }else {
                    this.searchInTable(7, '');
                }
            },
            selectPartnerCallback(value) {
                if(value) {
                    let name = null
                    this.partners.forEach(p => {
                        if(p.id == value) {
                            name = p.name;
                            this.showBranches = p.agency_branches;
                        }
                    });
                    this.searchInTable(5, name);
                }else {
                    this.showBranches = this.allBranches;
                    this.searchInTable(5, '');
                }
            },
            selectBranchCallback(value) {
                if(value) {
                    let name = null;
                    this.showBranches.forEach(branch => {
                        if(branch.id == value) {
                            name = branch.name
                        }
                    })
                    this.searchInTable(6, name);
                }else {
                    this.searchInTable(6, '');
                }
            },
            searchInTable(col, value) {
                this.table.column(col)
                    .search(value, false, false)
                    .draw();
            },
            fetchPartners() {
                this.$http.post('v2/agency/get/list', {
                    access_token: this.$cookie.get('access_token')
                }).then(data => {
                    if(data.body.status) {
                        this.partners = data.body.result;
                    }else {
                        toastr.error('Не могу получить список всех партнеров')
                    }
                }, err => {
                    toastr.error('Не могу получить список всех партнеров')
                })
            },
            fetchBranch() {
                this.$http.post('v2/agency/get/branches', {
                    access_token: this.$cookie.get('access_token')
                }).then(data => {
                    if(data.body.status) {
                        this.allBranches = data.body.result;
                        this.showBranches = data.body.result;
                    }else {
                        toastr.error('Не могу загрузить список филиалов')
                    }
                }, err => {
                    toastr.error('Не могу загрузить список филиалов')
                })
            },
            fetchAdmins() {
                this.$http.post('v2/agency/get/admins', {
                    access_token: this.$cookie.get('access_token')
                }).then(data => {
                    if(data.body.status) {
                        let admins = data.body.result;
                        admins.forEach(admin => {
                            this.allAdmins.push({
                                id: admin.admin_user_id,
                                name: admin.admin_name
                            })
                        })
                    }else {
                        toastr.error('Не могу получить список админов')
                    }
                }, err => {
                    toastr.error('Не могу получить список админов')
                })
            },
            fetchData() {
            	this.loading = true;
                this.$http.post('v2/female/get/deactivated', {
                    access_token: this.$cookie.get('access_token')
                }).then(data => {
                    if (data.body.status) {
                        this.women = data.body.result;
                        this.initTable()
                        this.fetchPartners()
                        this.fetchBranch()
                        this.fetchAdmins()
                    } else {
                        toastr.error('Не могу загрузить список клиенкток')
                        toastr.info(data.body.desc);
                    }
                    this.loading = false;
                }, err => {
                    toastr.error('Не могу загрузить список клиенкток')
                })
            },
            initTable() {
                this.table = $('#locked-woman-table').DataTable({
                    order: [[9, 'desc']]
                });
                $('#locked-woman-table_filter').remove()
                $('#locked-woman-table_length').remove()
                $('#woman_ban_paginate').append($('#locked-woman-table_paginate'))
                $('#woman_ban_info').append($('#locked-woman-table_info'))
                let women = this.women;
                women.forEach(woman => {
                    let admin = '';
                    if(woman.admin !== null) {
                        console.log(woman.admin.name)
                        admin =  '<a class="show-admin" data-id="' + woman.admin.id + '">' + woman.admin.name + '</a>';
                    }
                    let initiator = ''
                    if(woman.initiator.id != '') {
                        initiator =  woman.initiator.name + ' ( ' + woman.initiator.id + ' )';
                    }
                    this.table.row.add([
                        '<a class="show-woman" data-id="' + woman.id + '">' + woman.id + '</a>',
                        '<img src="'+woman.avatar.small+'" class="img-responsive img-rounded">',
                        '<a class="show-woman" data-id="' + woman.id + '">' + woman.name + '</a>',
                        woman.passport,
                        woman.note,
                        '<a class="show-partner" data-id="' + woman.agency.id + '">' + woman.agency.name + '</a>',
                        '<a class="show-partner" data-id="' + woman.branch.id + '">' + woman.branch.name + '</a>',
                        admin,
                        initiator,
						'<span style="display:none;">' + woman.time_status_change + '</span> ' + moment(woman.time_status_change * 1000).format('LLL'),
                        '<a class="btn btn-primary btn-block edit-banned-woman" data-id="' + woman.id + '"><i data-id="' + woman.id + '" class="fa fa-edit fa-lg text-white"></i></a>'
                    ]).draw(false)
                });
            }
        },
        beforeMount() {
            this.fetchData();
        },
        mounted() {
            $('#locked-woman-table').on('click', '.show-woman', (event) => {
                this.$router.push('/woman/view/' + event.target.dataset.id)
            })
            $('#locked-woman-table').on('click', '.edit-banned-woman', (event) => {
                this.$router.push('/woman/edit/' + event.target.dataset.id)
            })
            $('#locked-woman-table').on('click', '.show-admin', (event) => {
                this.$router.push('/partner/admin/show/' + event.target.dataset.id)
            })
            $('#locked-woman-table').on('click', '.show-partner', (event) => {
                this.$router.push('/partners/view/' + event.target.dataset.id)
            })
        },
        components: {
            'my-select': mySelect,
            preloader
        }
    }
</script>
