<template>
  <div class="row">
    <div class="col-md-12">
      <div class="box box-blue box-solid">
        <div class="box-header with-border">
          <h3 class="box-title">Видео</h3>
        </div>
        <div class="box-body no-padding">
          <form class="row">
            <div class="form-group margin">
              <div class="col-md-1">
                <input type="text" class="form-control" placeholder="ID видео" v-model="id">
              </div>
              <div class="col-md-1">
                <select class="form-control" v-model="typeVideos">
                  <option value="" selected>Тип видео</option>
                  <option value="public">Публичное</option>
                  <option value="private">Приват</option>
                </select>
              </div>
              <div class="col-md-2">
                <select class="form-control" v-model="moderationVideos">
                  <option value="" selected>Модерация</option>
                  <option value="free">На модерации</option>
                  <option value="accept">Прошли модерацию</option>
                </select>
              </div>
              <pfaw @selectChange="selectChange" :withWoman="true"></pfaw>
            </div>
          </form>
          <sst :loader="loader" @load="fetchData" :sort="sort" :data="data"
               :count="count" :loadParams="loadParams" :order="order" :pagination="pagination">
            <tr slot="tbody" v-for="i in data" :key="i.id">
              <td>
                {{i.id}}
              </td>
              <td>
                <span class="cursor" @click="playVideo(i.file_path, i.id)">
                  <img :src="i.preview_file_name_medium" :alt="'Видео ' + i.name" class="img-rounded" width="120px">
                </span>
              </td>
              <td>
                <span v-if="i.type == 'private'" class="label label-warning">Приват</span>
                <span v-else class="label label-success">Публичное</span>
              </td>
              
              <td class="text-center t-a-c">
                <router-link :to="{name: 'Профиль клиентки', params: {woman: i.user_id}}" class="display-lady">
                  <img :src="i.profile_avatar_file" class="img-rounded" width="60px"> <br>
                  {{i.name}} (id:{{i.user_id}})
                </router-link>
              </td>

              <td>
                <router-link :to="{name: 'Просмотр партнера', params: {id: i.main_agency_id}}">
                  {{i.main_agency_name}} (id: {{i.main_agency_id}})
                </router-link>
              </td>

              <td>
                <template v-if="i.branch_agency_id">
                  <router-link :to="{name: 'Просмотр партнера', params: {id: i.branch_agency_id}}">
                    {{i.branch_agency_name}} (id: {{i.branch_agency_id}})
                  </router-link>
                </template>
                <template v-else>
                  Не указан
                </template>
              </td>
              <td>
                <template v-if="i.admin_id">
                  <router-link :to="{name: 'Профиль админа', params: {admin: i.admin_id}}">
                    {{i.admin_name}} (id: {{i.admin_id}})
                  </router-link>
                </template>
                <template v-else>
                  Не указан
                </template>
              </td>

              <td>
                {{ date( i.video_created_at )}}
              </td>

              <td>
                <button class="btn btn-primary btn-block" @click="playVideo(i.file_path, i.id)">
                    Смотреть
                </button>
              </td>
            </tr>
          </sst>

        </div>

        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
      <play-video-modal/>
  </div>

</template>

<script>
  import moment from 'moment'
  import toastr from 'toastr'
  import _ from 'lodash'
  import sst from '../../custom/serverSideTable.vue'
  import mySelect from '../../custom/select2/select-new.vue'
  import pfaw from '../../custom/relativeSelect/component.vue'
  import PlayVideoModal from '../../modals/PlayVideoModal.vue'
  import { SS_SORT_TABLE } from '../../../mixins/utils'
  import {UPDATE_MODERATION_COUNTER} from '../../../mixins/updateModerationCounter'

  export default {
    props: {
      routeNew: Number,
      routePay: Number,
      routeOnline: Number,
      routeRNew: Number
    },
    data() {
      return {
        loader: true,
        data: [],
        id: '',
        account_status:'',
        typeVideos: '',
        moderationVideos: '',
        // modalProps:{},
        flagModal:false,
        sort: [
          { active: false, name: 'id', column: 'ID видео' },
          { active: false, name: '', column: 'Видео превью' },
          { active: false, name: '', column: 'Тип видео' },
          { active: false, name: 'name', column: 'Клиентка' },
          { active: false, name: 'main_agency_id', column: 'Партнер' },
          { active: false, name: 'branch_agency_id', column: 'Филиал' },
          { active: false, name: 'admin_id', column: 'Админ' },
          { active: false, name: 'video_created_at', column: 'Дата загрузки' },
          { active: false, name: '', column: 'Действие' },
        ],
      }
    },
    mixins: [ SS_SORT_TABLE],
    watch: {
      id() {
        this.resetPagination();
        this.search();
      },
      typeVideos(){
        this.resetPagination();
        this.fetchData();
      },
      moderationVideos(){
        this.resetPagination();
        this.fetchData();
      },
    },
    methods: {
      playVideo (path, videoId) {
          this.$store.commit('updateVideoModalState', {
              open: true,
              path: path,
              videoId
          });
      },
      selectChange( value ){
        this.resetPagination();
        this.partner = value.partner
        this.branch = value.branch
        this.admin = value.admin
        this.woman = value.woman
        this.fetchData();
      },
      modalShow(d){
        this.$store.commit('updateModerateVideoModalState', {
            open: true,
            options: d,
            videoType: 'public'
        });
      },
      updateData(){
        this.updateModerationCounters();
        this.resetPagination();
        this.fetchData();
        // this.$store.dispatch('getCountersModeration');

      },
      search: _.debounce( function () {
        this.fetchData()
      }, 300 ),
      fetchData() {
        window.scrollTo( 0, 0 );
        this.loader = true;

        this.$http.post( 'v2/female/list-video', {
          access_token: this.$cookie.get( 'access_token' ),
          offset: this.loadParams.offset,
          limit: this.loadParams.limit,
          order_type: this.order.type,
          order_by: this.order.by,
          id: this.id,
          name: '',
          main_agency_id: this.partner || '',
          branch_agency_id: this.branch || '',
          admin_id: this.admin || '',
          user_id: this.woman || '',
          account_status: this.account_status,
          album_type: this.typeVideos,
          moderation_site: this.moderationVideos

        } ).then(response => response.json())
            .then(({ status, desc, code, result }) => {
                  if (status ){
                    this.data = result.list;
                    this.count = +result.count;
                  } else {
                    //console.log(data.body);
                    this.data = [];
                    this.count = 0;
                    toastr.error( 'Не могу получить данные' );
                    toastr.info( desc );
                  }
                  this.loader = false;
        });
      },
      date( ts ) {
        if ( this.localTZ ) {
          return moment( ts * 1000 ).format( 'LLL' )
        }
        return moment( ts * 1000 ).utc().format( 'LLL' )

      },

    },
    computed: {},
    mounted() {
      this.$nextTick( () => {
        this.updOrderParams( {
          type: 'desc',
          by: 'id'
        } );
        this.fetchData();
      } )
    },
    beforeMount() {
      this.updOrderParams( {
          type: 'desc',
          by: 'id'
      } );
    },
    components: {
      sst,
      mySelect,
      pfaw,
      PlayVideoModal
    }
  }
</script>

<style scoped lang="scss">
  .is-new {
    border-radius: 8px;
    border: 2px solid #ff4614;
    text-transform: uppercase;
    font-size: 9px;
    font-weight: 700;
    display: flex;
    padding: 0 3px;
    width: 32px;
    height: 17px;
    align-items: center;
    line-height: 1;
    color: #ff4614;
    background: #fff;
    margin-left: 3px;
  }
  .moderation-modal-buttons {
    .btn {
      line-height: 1;
      height: 42px;
    }
    .denied-svg {
      fill: white;
      height: 24px;
      width: 24px;
    }
    .accept-svg {
      fill: white;
      height: 24px;
      width: 24px;
    }
  }
  .referal-links-list {
    list-style: none;
    a {
      cursor: pointer;
    }
  }
  .photo-id-span {
    position: relative;
    text-align: center;
    color: dimgrey;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    font-size: 12px;
    font-weight: 600;
  }
  .display-lady{
    margin: 5px 0;
    display: block;
    text-align: left;
    width: 100%;
    img{
      margin-bottom: 6px;
      display: inline-block;
    }
  }
  .cursor{
    cursor: pointer;
  }
</style>

