<template>
  <normal-loader v-if="loading"></normal-loader>
  <div v-else>
    <div class="row margin-bottom">
      <div class="col-md-6">
        <div class="user-block user-block-md pull-left">
          <img class="img-circle" :src="woman.main.avatar.small"
               alt="woman.main.name">
          <i v-show="woman.main.camera == 'yes'" class="fa fa-video-camera text-blue icon-ava"></i>
          <i v-show="woman.main.online" class="fa fa-sm fa-circle text-green"
             style="margin-top: -6px; margin-left: -13px"></i>
          <span class="username" v-if="woman.main.online" style="margin-top: -10px"> <a
            href="#">{{woman.main.name}}</a> </span>
          <span class="username" v-else> <a href="#">{{woman.main.name}}</a></span>
          <span class="description">ID: {{woman.main.id}}</span>
        </div>
        <change-password :user="parseInt(woman.main.id)" style="margin-left: 10px;padding-top: 10px;"
                         class="pull-left"></change-password>
        <change-email @chengeEmail="reload()" :emailProp="woman.general.email" :user="parseInt(woman.main.id)"
                      style="margin-left: 10px; padding-top: 10px; display: inline-block;"></change-email>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="box box-blue box-solid">
          <div class="box-header with-border">
            <h3 class="box-title btn-block">
              Общая информация
              <router-link :to="{name: 'Изменение клиентки'}" class="pull-right"><i
                class="fa fa-pencil text-blue"></i></router-link>
            </h3>
          </div>
          <div class="box-body no-padding">
            <ul class="v-list">
              <li>Статус <span class="pull-right text-green" v-html="status"></span></li>
              <li :class="{'bg-danger': !woman.general.email_active}">E-mail <span class="pull-right text-blue">{{woman.general.email}}</span>
              </li>
              <li>Дата регистрации <span class="pull-right">{{createdAt}}</span></li>
              <li>Паспорт<span class="pull-right">{{woman.general.passport}}</span></li>
              <li>Партнер <span class="pull-right">
                                <router-link :to="'/partners/view/' + woman.general.agency.id">
                                    <a>{{woman.general.agency.name}}</a>
                                </router-link>
                            </span></li>
              <li>Филиал<span class="pull-right">
                                <router-link :to="'/partners/view/' + woman.general.branch.id">
                                    <a>{{woman.general.branch.name}}</a>
                                </router-link>
                            </span></li>
              <li>Админ<span class="pull-right">
                                <router-link :to="'/partner/admin/show/' + woman.general.admin.id">
                                    <a>{{woman.general.admin.name}}</a>
                                </router-link>
                            </span></li>
              <li>Дата рождения <span class="pull-right">{{birthday}}</span></li>
              <li class="row"><span class="col-md-6">Примечание</span>
                <div class="col-md-6">{{woman.general.note}}</div>
              </li>
              <li>Реферальная программа
                <span class="pull-right">
                    <ul class="referal-links-list">
                      <li data-toggle="modal" data-target="#referal-modal"
                          @click="openReferalModal(referal)" v-for="referal in woman.referrals_url">
                            <a>{{referal.url}}</a></li>
                    </ul>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="box box-blue box-solid">
          <div class="box-header with-border">
            <h3 class="box-title btn-block">
              Контакты
              <router-link :to="{name: 'Изменение клиентки - Контакты'}" class="pull-right"><i
                class="fa fa-pencil text-blue"></i></router-link>
            </h3>
          </div>
          <div class="box-body no-padding">
            <ul class="v-list">
              <li>Национальность <span class="pull-right">{{woman.contact.nationality}}</span></li>
              <li>Страна <span class="pull-right">{{woman.contact.country}}</span></li>
              <li>Город <span class="pull-right">{{woman.contact.city}}</span></li>
              <li>Адрес <span class="pull-right">{{woman.contact.address}}</span></li>
              <li>Телефон<span class="pull-right">{{woman.contact.phone}}</span></li>
              <li>Скайп <span class="pull-right">{{woman.contact.skype}}</span></li>
            </ul>
          </div>
        </div>

        <div class="box box-blue box-solid">
          <div class="box-header with-border">
            <h3 class="box-title btn-block">
              Внешность
              <router-link :to="{name: 'Изменение клиентки - Внешность'}" class="pull-right"><i
                class="fa fa-pencil text-blue"></i></router-link>
            </h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body no-padding">
            <ul class="v-list">
              <li>Телосложение <span class="pull-right">{{appearenceBody}}</span></li>
              <li>Рост<span class="pull-right">{{appearenceHeight}}</span></li>
              <li>Вес<span class="pull-right">{{appearenceWeight}}</span></li>
              <li>Цвет глаз<span class="pull-right">{{appearenceEyeColor}}</span></li>
              <li>Цвет волос<span class="pull-right">{{appearenceHairColor}}</span></li>
            </ul>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="box box-blue box-solid">
          <div class="box-header with-border">
            <h3 class="box-title btn-block">Статистика</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body no-padding">
            <div class="row">
              <div class="col-md-6">
                <ul class="v-list">
                  <li>Бонусы за тек.месяц <span class="pull-right"><a href="transactions_list.php"
                                                                      class="text-black">{{round10(woman.statistic.bonus, -2)}}</a></span>
                  </li>
                  <li>Штрафи за тек. месяц<span class="pull-right text-red"><a href="fines_list.php"
                                                                               class="text-red">{{round10(woman.statistic.penalty, -2)}}</a></span>
                  </li>
                </ul>
              </div>
              <div class="col-md-6">
                <ul class="v-list">
                  <li>Письма новые (критические)<span class="pull-right">{{woman.statistic.new_letters}} (<a
                    class="text-red" href="message.new.php">{{woman.statistic.critical_letters}}</a>)
									</span></li>
                  <li>Подарки новые (критические)<span class="pull-right">{{woman.statistic.new_gifts}} (<a
                    class="text-red" href="message.new.php">{{woman.statistic.critical_gifts}}</a>)
									</span></li>
                  <li>Контакт инфо новые (критические)<span
                    class="pull-right">{{woman.statistic.new_realinfo_request}} (<a class="text-red" href="message.new.php">{{woman.statistic.critical_realinfo_request}}</a>)
									</span></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
    </div>
    <!-- /.row  -->

    <div class="row">
      <div class="col-md-6">
        <div class="box box-blue box-solid">
          <div class="box-header with-border">
            <h3 class="box-title btn-block">
              Дополнительная информация
              <router-link :to="{name: 'Изменение клиентки - Доп. инфо'}" class="pull-right"><i
                class="fa fa-pencil text-blue"></i></router-link>
            </h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body no-padding">
            <ul class="v-list">
              <li>Статус <span class="pull-right">{{woman.additional_info.status}}</span></li>
              <li>Уровень англ.<span class="pull-right">{{woman.additional_info.lang_english}}</span></li>
              <li>Другие языки<span class="pull-right">{{additionalLang}}</span>
              </li>
              <li>Семейное положение<span
                class="pull-right">{{woman.additional_info.family_status}}</span></li>
              <li>Oбразование<span class="pull-right">{{woman.additional_info.education}}</span></li>
              <li>Професия<span class="pull-right">{{woman.additional_info.profession}}</span></li>
              <li>Я живу с<span class="pull-right">{{woman.additional_info.accommodation}}</span></li>
              <li>Дети<span class="pull-right">{{woman.additional_info.children}}</span></li>
              <li>Религия<span class="pull-right">{{woman.additional_info.religion}}</span></li>
              <li>Отношение к курению<span class="pull-right">{{woman.additional_info.smoke}}</span></li>
              <li>Отношение к алкоголю<span class="pull-right">{{woman.additional_info.drink}}</span></li>
            </ul>
          </div>
          <!-- /.box-body -->
        </div>
      </div>

      <div class="col-md-6">
        <div class="box box-blue box-solid">
          <div class="box-header with-border">
            <h3 class="box-title btn-block">
              Предпочтения
              <router-link :to="{name: 'Изменение клиентки - Предпочтения'}" class="pull-right"><i
                class="fa fa-pencil text-blue"></i></router-link>
            </h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body no-padding">
            <ul class="v-list">
              <li>Любимые цветы <span class="pull-right"> {{flowersList}} </span>
              </li>
              <li>Домашние животные <span class="pull-right"> {{petList}} </span>
              </li>
              <li>Любимые праздники <span class="pull-right"> {{celebrationList}} </span>
              </li>
              <li>Цели <span class="pull-right"> {{targetsList}}</span>
              </li>
              <li>Интересы<span class="pull-right">{{woman.preferences.interests}}</span></li>
              <li class="row"><span class="col-md-6">Обо мне</span>
                <div class="col-md-6">
                  {{woman.preferences.about_me}}


                </div>
              </li>
              <li>Возраст мужчины<span
                class="pull-right">{{woman.preferences.about_man_age_from}} - {{woman.preferences.about_man_age_to}}</span>
              </li>
              <li class="row"><span class="col-md-6">Описание мужчины</span>
                <div class="col-md-6">
                  {{woman.preferences.about_man}}
                </div>
              </li>
            </ul>
          </div>
          <!-- /.box-body -->
        </div>
      </div>
    </div>
    <!-- /.row  -->

    <div class="row">
      <div class="col-md-6">
        <div class="box box-blue box-solid">
          <div class="box-header with-border">
            <h3 class="box-title btn-block">
              Фото
              <router-link :to="{name: 'Изменение клиентки - Фото'}" class="pull-right"><i
                class="fa fa-pencil text-blue"></i></router-link>
            </h3>
          </div>

          <!-- /.box-header -->
          <div class="box-body no-padding v-scroll" data-height="263">
            <div v-if="!photosLoading" class="text-center p-all-2">
              <small-loader class="display-inline-block"></small-loader>
            </div>

            <div v-else>
              <ul class="v-list" v-for="(photo, photoKey) in photos" :key="photoKey" v-if="photo.data.length > 0">
                <li class="header text-bold" :class="getClass(photoKey)">
                  <i class="fa fa-image m-r2"></i>{{ getPhotosTitle(photoKey) }}
<!--                  <b class="text-bold label m-l2" :class="getClass(photoKey)">{{ photo.data.length }}</b>-->
                </li>
                <li>
                  <nav class="photo-nav photo-list" :class="`lightGallery-list-`+photoKey">
                    <a v-for="(photo, k) in photo.data" :key="k" :href="photo.file_url_origin">
                      <img :src="photo[photoUrlType(photoKey)]"  alt="photo" />
                      <span class="bottom-data id photo-id-span">ID: {{ photo.id }}</span>

                      <span v-if="photoKey === 'avatars'" @click.prevent.stop="mainAvatar(photo.id, woman.main.id)"
                            class="btn btn-block btn-warning btn-xs margin-top-sm set-ava-src"
                            style="height: 20px; margin: 5px 0; line-height: 5px; padding-top: 3px !important; top: 60px;">
                            <i class="fa fa-check"></i> Главная
                      </span>

                      <span v-if="photoKey === 'public_photo'"
                            @click.prevent.stop="setAsAvatar(photo.id)"
                            class="btn btn-block btn-warning btn-xs margin-top-sm set-ava-src" style="height: 20px; margin: 5px 0; line-height: 5px; padding-top: 3px !important; top: 60px;">
                           <i class="fa fa-check"></i> Аватар
                      </span>

                      <span
                            v-if="photoKey === 'avatar_on_moderate'"
                            @click.prevent.stop="() => modalShowAvatarPhoto(photo.id, photo.file_url_origin, woman.main.id, woman.main.name)"
                            class="btn btn-block btn-warning btn-xs margin-top-sm set-ava-src"
                            style="height: 20px; margin: 5px 0; line-height: 5px; padding-top: 3px !important; top: 60px;">
                            <i class="fa fa-check"></i> Модер.
                      </span>

                      <span
                            v-if="photoKey === 'public_on_moderate'"
                            @click.prevent.stop="modalShowPublicPhoto(photo.id, photo.file_url_origin,woman.main.id,woman.main.name)"
                            class="btn btn-block btn-warning btn-xs margin-top-sm set-ava-src"
                            style="height: 20px; margin: 5px 0; line-height: 5px; padding-top: 3px !important; top: 60px;">
                            <i class="fa fa-check"></i> Модер.
                      </span>

                      <span
                          v-if="photoKey === 'private_on_moderate'"
                          @click.prevent.stop="modalShowPrivatePhoto(photo.id, photo.file_url_origin,woman.main.id, woman.main.name)"
                          class="btn btn-block btn-warning btn-xs margin-top-sm set-ava-src"
                          style="height: 20px; margin: 5px 0; line-height: 5px; padding-top: 3px !important; top: 60px;">
                          <i class="fa fa-check"></i> Модер.
                      </span>

                      <span
                          v-if="photoKey === 'photo_on_delete'"
                          @click.prevent.stop="modalShowDeletePhoto(photo.photo_delete_request_id, photo.file_url_large,woman.main.id,woman.main.name,photo.id)"
                          class="btn btn-block btn-warning btn-xs margin-top-sm set-ava-src"
                          style="height: 20px; margin: 5px 0; line-height: 5px; padding-top: 3px !important; top: 60px;">
                          <i class="fa fa-check"></i>Модер.
                      </span>
                    </a>

                  </nav>
                  <button
                      v-if="photos[photoKey].hasMore && photo.data.length > 0"
                      @click="loadMore(photoKey)"
                      :disabled="photos[photoKey].loader"
                      class="show-more-btn"
                  >
                    <small-loader class="display-inline-block" v-if="photos[photoKey].loader" :size=20></small-loader> Показать еще
                  </button>
                </li>
              </ul>
            </div>

          </div>
          <!-- /.box-body -->
        </div>
      </div>
      <div class="col-md-6">
        <div class="box box-blue box-solid">
          <div class="box-header with-border">
            <h3 class="box-title btn-block">
              Документы
              <router-link :to="{name: 'Изменение клиентки - Документы'}" class="pull-right"><i
                class="fa fa-pencil text-blue"></i></router-link>
            </h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body no-padding v-scroll" data-height="263">
            <div v-show="documentsLoading" class="text-center p-all-2">
              <small-loader class="display-inline-block"></small-loader>
            </div>

            <ul class="v-list" v-show="!documentsLoading">
              <li class="header">Паспорт</li>
              <li>

                <nav class="photo-nav photo-list-oficearend" id="passportdoc">
                  <a target="_blank" :class="{ 'photo-nav__item': !isDocument(doc.file_extension) }"
                     v-for="doc in womanPassport" :href="doc.file_path">
                    <img :src="doc.file_path" v-if="!isDocument(doc.file_extension)">
                    <img :src="'/dist/img/pdf.png'" v-else="isDocument(doc.file_extension)" alt="Document">
                  </a>
                </nav>

              </li>
              <li class="header">Фото с паспортом</li>
              <li>
                <nav class="photo-nav photo-list-oficearend" id="passportdoc">
                  <a target="_blank" :class="{ 'photo-nav__item': !isDocument(doc.file_extension) }"
                     v-for="doc in womanPhotoWithPassport" :href="doc.file_path">
                    <img :src="doc.file_path" v-if="!isDocument(doc.file_extension)">
                    <img :src="'/dist/img/pdf.png'" v-else="isDocument(doc.file_extension)" alt="Document">
                  </a>
                </nav>

              </li>
              <li class="header">Видео подтверждение</li>
              <li>
                <lady-video-gallery :videos="womanVideoApprove"/>
              </li>

            </ul>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="box box-blue box-solid">
          <div class="box-header with-border">
            <h3 class="box-title btn-block">
              Видео
              <router-link :to="{name: 'Изменение клиентки - Видео'}" class="pull-right"><i
                class="fa fa-pencil text-blue"></i></router-link>
            </h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body no-padding v-scroll" data-height="263">


            <div v-show="!photosLoading" class="text-center p-all-2">
              <small-loader class="display-inline-block"></small-loader>
            </div>

            <ul v-show="photosLoading" class="v-list">
              <li class="header">
                <span class="text-info text-bold">
                  <i class="text-info fa fa-play"></i>
                  Публичные видео <b class="text-bold label label-info m-l2">{{ videosPublic.length }}</b>
                </span>
              </li>
              <li>
                <lady-video-gallery :videos="videosPublic"/>
              </li>

              <li class="header">
                <span class="text-success text-bold">
                  <i class="text-success fa fa-play"></i>
                  Приватные видео <b class="text-bold label label-success m-l2">{{ videosPrivate.length }}</b>
                </span>
              </li>
              <li>
                <lady-video-gallery :videos="videosPrivate"/>
              </li>

              <li class="header" v-if="videosPublicOnModeration.length > 0">
                <span class="label label-warning text-white" style="font-size: 12px;">
                  <span class="label m-r2"><i class="fa fa-play"></i></span>
                  Публичные видео на модерации  <b class="text-bold label bg-white text-black m-l2">{{ videosPublicOnModeration.length }}</b>
                </span>
              </li>
              <li v-if="videosPublicOnModeration.length > 0">
                <lady-video-gallery :videos="videosPublicOnModeration"/>
              </li>

              <li class="header" v-if="videosPrivateOnModeration.length > 0">
                <span class="label label-warning text-white" style="font-size: 12px;">
                  <span class="label m-r2"><i class="fa fa-play"></i></span>
                  Приватные видео на модерации <b class="text-bold label bg-white text-black m-l2">{{ videosPrivateOnModeration.length }}</b>
                </span>
              </li>
              <li v-if="videosPrivateOnModeration.length > 0">
                <lady-video-gallery :videos="videosPrivateOnModeration"/>
              </li>

              <li class="header text-red text-bold">
                <i class="fa fa-play m-r2"></i>Отклоненные публичные видео <b class="text-bold label label-danger m-l2">{{ publicRejectedVideos.length }}</b>
              </li>
              <li>
                <lady-video-gallery :videos="publicRejectedVideos"/>
              </li>

              <li class="header text-red text-bold">
                <i class="fa fa-play m-r2"></i>Отклоненные приватные видео <b class="text-bold label label-danger m-l2">{{ privateRejectedVideos.length }}</b>
              </li>
              <li>
                <lady-video-gallery :videos="privateRejectedVideos"/>
              </li>

              <li class="header text-red text-bold">
                <i class="fa fa-trash m-r2"></i>Видео на удаление <b class="text-bold label label-danger m-l2">{{ videosToDeleting.length }}</b>
              </li>
              <li>
                <lady-video-gallery :videos="videosToDeleting"/>
              </li>
            </ul>
          </div>
          <!-- /.box-body -->
        </div>
      </div>
    </div>

    <div class="row">
      <div class="pull-right">
        <a v-if="needBotModerate" @click="moderateBot" class="btn btn-lg btn-success margin-top">На модерацию <i
          class="fa fa-lg fa-recycle"></i></a>
      </div>
    </div>


    <div class="row" v-if="woman.general.status === 'not_moderated'">
      <div class="col-md-12">
        <a class="btn btn-warning show-moderaton-modal" id="rejectModalActionButton"
           data-title="Напишите причину отклонения" data-toggle="modal" data-target="#myModal">Отклонить</a>
        <a class="btn btn-primary btnNext pull-right" @click.prevent.stop="moderationAccept">Утвердить</a>
      </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         v-if="woman.general.status === 'not_moderated'">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Modal title</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <textarea cols="30" rows="10" class="form-control" v-model="rejectReason"
                          :class="{'error': rejectReasonError}" placeholder="Причина отклониения"></textarea>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" @click="moderationReject">Отклонить</button>
          </div>
        </div>
      </div>
    </div>

    <modal-video/>

    <referal-modals :referalsList="referalsList"></referal-modals>

    <cropModal
        v-if="flagModalPublicPhoto"
        @close="modalClose"
        @photoModerated="updateData"
        :modalProps="modalProps"
        :typePhotos="'public'">
    </cropModal>

    <cropModal
        v-if="flagModalPrivatePhoto"
        @close="modalClose"
        @photoModerated="updateData"
        :modalProps="modalProps"
        :typePhotos="'private'">

    </cropModal>

    <cropModal
        v-if="flagModalAvatarPhoto"
        @close="modalClose"
        @photoModerated="updateData"
        :modalProps="modalProps"
        :typePhotos="'avatar'">
    </cropModal>

    <photoModal v-if="flagModalDeletePhoto" @close="modalClose" @photoModerated="updateData" :modalProps="modalProps" :typePhotos="'delete'"></photoModal>
  </div>

</template>

<script>

  import { mapGetters } from 'vuex';
  import {MATH} from '@/mixins/utils.js'
  import toastr from 'toastr'
  import moment from 'moment'
  import _ from 'lodash'
  import changePassword from '../../custom/changePasswordModal/component.vue'
  import changeEmail from '../../custom/changeEmailModal/component.vue'
  import Preloader from '../../custom/normalPreloader/component.vue'
  import SmallLoader from '@/components/custom/MoonLoaderNew.vue'
  import ReferalModals from './parts/referal-modal.vue'
  import photoModal from '../../custom/photoModal/component.vue'
  import {UPDATE_MODERATION_COUNTER} from '@/mixins/updateModerationCounter.js'
  import cropModal from '../../custom/cropModal/component.vue'
  import LadyVideoGallery from '../../content/girls/parts/VideoGallery.vue';
  import modalVideo from '../../modals/PlayVideoModal';
  export default {
    name: 'WomanView',
    data() {
      return {
        referalsList: [],
        rejectReasonError: false,
        loading: true,
        flagModalPublicPhoto: false,
        flagModalPrivatePhoto: false,
        flagModalAvatarPhoto: false,
        flagModalDeletePhoto: false,
        modalProps: {},
        documentsLoading: true,
        cropper: null,
        moderationObject: {},
        onModerationProcess: false,
        woman: {
          "main": {
            "bot": 0,
            "name": null,
            "online": null,
            "camera": null,
            "id": null,
            "avatar": {
              'small': '#'
            }
          },
          "general": {
            "status": null,
            "email": null,
            "email_active": null,
            "created_at": null,
            "passport": null,
            "agency": {
              "id": null,
              "name": null
            },
            "branch": {
              "id": null,
              "name": null
            },
            "admin": {
              "exist": null,
              "id": null,
              "name": null
            },
            "birthday": null,
            "note": null
          },
          "contact": {
            "country": null,
            "city": null,
            "address": null,
            "phone": null,
            "skype": null
          },
          "appearance": {
            "body": null,
            "height": null,
            "weight": null,
            "eye_color": null,
            "hair_color": null
          },
          "statistic": {
            "bonus": null,
            "penalty": null,
            "new_letters": null,
            "new_gifts": null,
            "new_realinfo_request": null,
            "critical_letters": null,
            "critical_gifts": null,
            "critical_realinfo_request": null
          },
          "additional_info": {
            "status": null,
            "lang_english": null,
            "lang_spanish": null,
            "lang_french": null,
            "lang_portuguese": null,
            "lang_german": null,
            "family_status": null,
            "education": null,
            "profession": null,
            "accommodation": null,
            "children": null,
            "religion": null,
            "smoke": null,
            "drink": null
          },
          "preferences": {
            "flowers_red_roses": null,
            "flowers_white_roses": null,
            "flowers_pink_roses": null,
            "flowers_gerbera": null,
            "flowers_chrysanthemum": null,
            "pet_dog": null,
            "pet_cat": null,
            "pet_hamster": null,
            "pet_aquarium_fish": null,
            "pet_parrot": null,
            "pet_turtle": null,
            "pet_snake": null,
            "pet_iguana": null,
            "pet_chinchilla": null,
            "celebration_birthday": null,
            "celebration_christmas_day": null,
            "celebration_new_years_day": null,
            "celebration_easter": null,
            "celebration_valentines_day": null,
            "celebration_halloween": null,
            "celebration_womens_day": null,
            "target_friendship": null,
            "target_communication": null,
            "target_journey": null,
            "target_flirtation": null,
            "target_a_meeting": null,
            "target_a_family": null,
            "target_children": null,
            "interests": null,
            "about_me": null,
            "about_man_age_from": null,
            "about_man_age_to": null,
            "about_man": null
          }
        },
        womanDocument: [],
        womanPassport: [],
        womanPhotoWithPassport: [],
        womanVideoApprove: [],
        womanPhotos: [],
        rejectReason: '',
        lightGallery: null
      }
    },
    mixins: [MATH, UPDATE_MODERATION_COUNTER],
    computed: {
      ...mapGetters([
            'isVideoMiniLoaderAttached',
            'ladyVideoApprove',
            // video
            'profilePhotos',
            'getPhotosTitle',
            'getClass',
            'photoUrlType',
            'videosPublic',
            'videosPrivate',
            'videosPublicOnModeration',
            'videosPrivateOnModeration',
            'privateRejectedVideos',
            'publicRejectedVideos',
            'videosToDeleting'
        ]),
      photos(){
        return this.profilePhotos;
      },
      photosLoading() {
        return this.$store.getters.photosLoaded('profilePhotos');
      },
      prevLadyVideoApprove () {
            return this.ladyVideoApprove.map(video => {
                return {
                    preview: video.file_prev,
                    origin: video.file_path,
                    id: video.id,
                    format: video.file_extension
                };
            });
      },
      appearenceBody() {
        if (this.woman.appearance.body === 'no') {
          return 'no selected';
        }
        else {
          return this.woman.appearance.body;
        }
      },
      appearenceEyeColor() {
        if (this.woman.appearance.eye_color === 'no') {
          return 'no selected';
        }
        else {
          return this.woman.appearance.eye_color;
        }
      },
      appearenceHairColor() {
        if (this.woman.appearance.hair_color === 'no') {
          return 'no selected';
        }
        else {
          return this.woman.appearance.hair_color;
        }
      },
      appearenceHeight() {
        if (this.woman.appearance.height === null) {
          return 'not filled';
        }
        else {
          return this.woman.appearance.height + ' cm';
        }
      },
      appearenceWeight() {
        if (this.woman.appearance.weight === null) {
          return 'not filled';
        }
        else {
          return this.woman.appearance.weight + ' kg';
        }
      },
      needBotModerate() {
        if (this.woman.general.status === 'on_creating') {
          if (this.photos.avatars.length >= 1 && this.photos.public_photo.length >= 5) {
            return true;
          } else {
            return false;
          }
        }
      },
      additionalLang() {
        let langArray = [];
        if (this.woman.additional_info.lang_spanish !== 'no') {
          langArray.push('Spanish(' + this.woman.additional_info.lang_spanish + ')');
        }
        if (this.woman.additional_info.lang_french !== 'no') {
          langArray.push('French(' + this.woman.additional_info.lang_french + ')');
        }
        if (this.woman.additional_info.lang_german !== 'no') {
          langArray.push('German(' + this.woman.additional_info.lang_german + ')');
        }
        if (this.woman.additional_info.lang_portuguese !== 'no') {
          langArray.push('Portuguese(' + this.woman.additional_info.lang_portuguese + ')');
        }
        return _.replace(langArray.toString(), new RegExp(",", "g"), ', ');
      },
      birthday() {
        return moment(this.woman.general.birthday * 1000).format('LL').replace(',', '')
      },
      createdAt() {
        return moment(this.woman.general.created_at * 1000).format('LLL').replace(',', '')
      },
      status() {
        let status = '';
        switch (this.woman.general.status) {
          case 'active':
            status = '<strong>активная</strong>';
            break;
          case 'deactivated':
            status = '<strong class="text-red">удалена</strong>';
            break;
          case 'banned':
            status = '<strong class="text-red">забаненная</strong>';
            break;
          case 'on_creating':
            status = '<strong class="text-yellow">на создании</strong>';
            break;
          case 'lock':
            status = '<strong class="text-red">заблокированная</strong>';
            break;
          case 'not_moderated':
            status = '<strong class="text-yellow">на модерирации</strong>';
            break;

        }
        return status
      },
      petList() {
        let arrayX = [];
        let preferences = this.woman.preferences;
        for (let key in preferences) {
          if (key.match('pet_')) {
            if (preferences[key] == 1) {
              let found = key.replace('pet_', '');
              found = found.replace('_', ' ').replace('_', ' ').replace(found[0], found[0].toUpperCase());
              arrayX.push(found)
            }
          }
        }
        return _.replace(arrayX.toString(), new RegExp(",", "g"), ', ')
      },
      celebrationList() {
        let arrayX = [];
        let preferences = this.woman.preferences;
        for (let key in preferences) {
          if (key.match('celebration_')) {
            if (preferences[key] == 1) {
              let found = key.replace('celebration_', '');
              found = found.replace('_', ' ').replace('_', ' ').replace(found[0], found[0].toUpperCase());
              arrayX.push(found)
            }
          }
        }
        return _.replace(arrayX.toString(), new RegExp(",", "g"), ', ')
      },
      flowersList() {
        let arrayX = [];
        let preferences = this.woman.preferences;
        for (let key in preferences) {
          if (key.match('flowers_')) {
            if (preferences[key] == 1) {
              let found = key.replace('flowers_', '');
              found = found.replace('_', ' ').replace(found[0], found[0].toUpperCase());
              arrayX.push(found)
            }
          }
        }
        return _.replace(arrayX.toString(), new RegExp(",", "g"), ', ')
      },
      targetsList() {
        let arrayX = [];
        let preferences = this.woman.preferences;
        for (let key in preferences) {
          if (key.match('target_')) {
            if (preferences[key] == 1) {
              let found = key.replace('target_', '');
              found = found.replace('_', ' ').replace(found[0], found[0].toUpperCase());
              arrayX.push(found)
            }
          }
        }
        return _.replace(arrayX.toString(), new RegExp(",", "g"), ', ')
      }
    },
    beforeMount() {
      this.fetchProfileData();
      this.fetchDocuments();
    },
    methods: {
      fetchPhotos(type = 'all', userId = this.$route.params.woman, reset = true) {
        this.$store.dispatch('loadPhotos', {
          objectName: 'profilePhotos',
          type: type,
          userId: userId,
          reset: reset,
        });
      },
      loadMore(type) {
        const isFirstLoad = !this.photos[type].data?.length;

        this.$store.dispatch('loadPhotos', {
          objectName: 'profilePhotos',
          type,
          userId: this.$route.params.woman,
          reset: isFirstLoad,
        }).then(() => {
          let ths = this;
          setTimeout(() => {
            if (ths.lightGallery) {
              $(`.lightGallery-list-${type}`).data('lightGallery').destroy(true);
            }
            ths.lightGallery = $(`.lightGallery-list-${type}`).lightGallery({
              closable: false,
              loop: false,
              speed: 200,
              getCaptionFromTitleOrAlt: false,
              subHtmlSelectorRelative: false,
            });
          }, 450);
        }).catch((error) => {
          console.error('Ошибка при загрузке фотографий:', error);
        });
      },
      modalShowPublicPhoto(id, img, user_id, name) {
        this.flagModalPublicPhoto = true
        this.modalProps.id = id
        this.modalProps.img = img
        this.modalProps.user_id = user_id
        this.modalProps.name = name
      },
      modalShowPrivatePhoto(id, img, user_id, name){
        this.flagModalPrivatePhoto = true
        this.modalProps.id = id
        this.modalProps.img = img
        this.modalProps.user_id = user_id
        this.modalProps.name = name

      },
      modalShowAvatarPhoto(id, img, user_id, name){

        console.log("modalShowAvatarPhoto called with:", id, img, user_id, name);

        this.flagModalAvatarPhoto = true
        this.modalProps.id = id
        this.modalProps.img = img
        this.modalProps.user_id = user_id
        this.modalProps.name = name
      },
      modalShowDeletePhoto(id, img, user_id, name, photo_id){
        this.flagModalDeletePhoto = true
        this.modalProps.id = id
        this.modalProps.photo_id = photo_id
        this.modalProps.img = img
        this.modalProps.user_id = user_id
        this.modalProps.name = name
      },
      modalClose() {
        this.flagModalPublicPhoto = false
        this.flagModalPrivatePhoto = false
        this.flagModalAvatarPhoto = false
        this.flagModalDeletePhoto = false
      },
      mainAvatar(photo_id,user_id){
        this.$http.post('v2/female/establish/avatar', {
          access_token: this.$cookie.get('access_token'),
          user_id: user_id,
          avatar_id:photo_id
        }).then(data => {
          if (data.body.status) {
            toastr.success('Аватар установлен');
            this.fetchProfileData();

            this.onModerationProcess = false;
            //this.updateModerationCounters();

          } else {
            toastr.error('Неполучилось установить аватар!');
            this.onModerationProcess = false;
          }
        }, err => {
          toastr.error('Неполучилось установить аватар!')
          this.onModerationProcess = false;
        })
      },
      updateData() {
        this.updateModerationCounters();
        this.fetchPhotos();
      },
      reload() {
        location.reload()
      },
      openReferalModal(referal) {
        let token = referal.token
        this.$http.post('v2/female/get-user-referrals', {
          access_token: this.$cookie.get('access_token'),
          user_id: this.$route.params.woman,
          token: token
        }).then(data => {
          if (data.body.status) {
            this.referalsList = data.body.result
            //this.onModerationProcess = false;
          } else {
            toastr.error('Ошибка получения!')
            toastr.info(data.body.desc)
          }
        }, err => {
          toastr.error('Ошибка !')
        })
      },
      isDocument(name) {
        return name.match('pdf') !== null;
      },
      setAsAvatar(photoId) {
        this.$http.post('v2/female/establish/avatar', {
          access_token: this.$cookie.get('access_token'),
          user_id: this.$route.params.woman,
          photo_id: photoId
        }).then(data => {
          if (data.body.status) {

            this.fetchPhotos('avatars', this.$route.params.woman, true);

            toastr.success('Аватар отправлен на модерацию')
            this.updateModerationCounters();

          } else {
            toastr.error('Не могу установить фото как аватар')
          }
        }, err => {
          toastr.error('Не могу установить фото как аватар')
        })
      },
      moderateBot() {
        this.$http.post('v2/female/move-to-moderation', {
          access_token: this.$cookie.get('access_token'),
          user_id: this.$route.params.woman
        }).then(data => {
          if (data.body.status) {
            this.woman.general.status = 'not_moderated';
            toastr.success('Отправлена на модерацию')
            this.updateModerationCounters();
          } else {
            toastr.error(data.body.desc);
          }
        }).catch(err => {
          toastr.error('Не могу отправить клиентку на модерацию')
          console.log(err);
        })
      },
      fetchProfileData() {
        this.loading = true;
        this.$http.post('v2/female/get/one', {
          user_id: this.$route.params.woman,
          access_token: this.$cookie.get('access_token')
        }).then(data => {
          if (data.body.status) {
            this.woman = data.body.result;
            setTimeout(() => {
              this.loading = false;
            }, 100)
          } else {
            toastr.error('Не могу загрузить профиль клиентки')
          }
        }, err => {
          toastr.error('Не могу загрузить профиль клиентки')
        })
      },
      moderationAccept() {
        this.loading = true;
        this.$http.post('v2/moderation/moderate/new-profile', {
          access_token: this.$cookie.get('access_token'),
          user_id: this.$route.params.woman,
          status: 'accept',
        }).then(data => {
          if (data.body.status) {
             // toastr.success('Профиль принят!');
            this.updateModerationCounters();
            setTimeout(() => {
              window.history.back();
              window.location.reload();
              this.loading = false;
            }, 1000)
            toastr.success('Профиль принят!');
          } else {
            toastr.error('Не могу принять профиль!')
            toastr.info(data.body.desc);
          }
        }, err => {
          toastr.error('Не могу принять профиль!')
        })
      },
      moderationReject() {
        if (this.rejectReason === '') {
          this.rejectReasonError = true
        } else {
          this.$http.post('v2/moderation/moderate/new-profile', {
            access_token: this.$cookie.get('access_token'),
            user_id: this.$route.params.woman,
            status: 'reject',
            note: this.rejectReason
          }).then(data => {
            if (data.body.status) {
              toastr.success('Профиль отклонен!');
              this.updateModerationCounters();
              document.querySelector('#rejectModalActionButton').click()
              setTimeout(() => {
                window.history.back();
                window.location.reload();
              }, 1000)
            } else {
              toastr.error('Не могу отклонить профиль!')
              toastr.info(data.body.desc);
            }
          }, err => {
            toastr.error('Не могу отклонить профиль!')
          })
        }
      },
      fetchDocuments() {
        this.documentsLoading = true;
        this.$http.post('v2/document/search/document', {
          access_token: this.$cookie.get('access_token'),
          user_id: this.$route.params.woman
        }).then(data => {
          if (data.body.status) {
            this.womanDocument = data.body.result;
            let documents = data.body.result;
            documents.forEach(doc => {
              if (doc.user_document.document_type == 'passport_1' || doc.user_document.document_type == 'passport_2' || doc.user_document.document_type == 'passport_3' || doc.user_document.document_type == 'passport_11') {
                this.womanPassport.push(doc.user_document);
              } else if (doc.user_document.document_type == 'photo_with_passport') {
                console.log('Photo with passport')
                this.womanPhotoWithPassport.push(doc.user_document);
              } else if (doc.user_document.document_type == 'video_approve') {


                this.womanVideoApprove = [{
                    preview_file_name_medium: "/dist/img/video.png",
                    file_path: doc.user_document.file_path,
                    id: doc.user_document.id}];
              }
            });
            setTimeout(() => {
              this.documentsLoading = false;
            }, 100)
          } else {
            toastr.error('Не могу загрузить документы клиентки')
          }
        }, err => {
          toastr.error('Не могу загрузить документы клиентки')
        })
      },
      loadVideos () {
            this.$store.commit('attachVideoMiniLoader');
            // get lady data
            this.$store.dispatch('getLadyVideos', {'access_token': this.$cookie.get('access_token'), 'user_id': this.$route.params.woman})
            .then(() => {
                this.$store.commit('detachVideoMiniLoader');
            })
            .catch(() => {
                this.$store.commit('detachVideoMiniLoader');
                toastr.error('Не могу загрузить видео!')
            });
        }
    },
    watch: {
      rejectReason(value) {
        this.rejectReasonError = value === '';
      },
      photosLoading(val) {
        if (val) {
          let th=this;

          setTimeout(() => {

            if (th.lightGallery) {
              $('.photo-list').data('lightGallery').destroy(true);
            }

            th.lightGallery = $('.photo-list').lightGallery({
              closable: false,
              loop: false,
              speed: 200,
              getCaptionFromTitleOrAlt: false,
              subHtmlSelectorRelative: false,
            });

          }, 200)
        }
      },
      $route (to, from) {
        this.$store.commit('resetPhotosData', { objectName: 'profilePhotos', type: 'all' });
      }
    },
    mounted() {
        this.fetchPhotos();
        this.loadVideos();
    },
    components: {
      modalVideo,
      ReferalModals,
      LadyVideoGallery,
      changeEmail,
      'change-password': changePassword,
      'normal-loader': Preloader,
      'small-loader': SmallLoader,
      cropModal,
      photoModal
    },
    destroyed() {
      this.$store.commit('resetPhotosData', { objectName: 'profilePhotos', type: 'all' })
    }
  }
</script>


