<template>
  <div style="min-height: 84vh">
    <h2 class="page-header">
      <div class="row">
        <div class="col-sm-8 text-left">
          Подарок ID: {{gift.id}}
        </div>
      </div>
    </h2>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group row">
          <label class="col-md-2 m-t-0">Дата создания:</label>
          <div class="col-md-8"> {{prettyCreated}} </div>
        </div>
        <div class="form-group row">
          <label class="col-md-2 m-t-0">Клиентка:</label>
          <div class="col-md-8">
            <router-link :to="'/woman/view/' + gift.sender.user_id">
              <div class="user-block user-block-md margin-bottom">
                <img class="img-circle" :src="gift.sender.avatar_url_list.small"
                     :alt="gift.sender.name">
                <span class="username">
                                <a>{{gift.sender.name}}</a>
							</span> <a><span class="description">ID: {{gift.sender.user_id}}</span></a>
              </div>
            </router-link>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-2 m-t-0">Клиент:</label>
          <div class="col-md-8">
            <router-link :to="'/man/view/' + gift.receiver.user_id">
              <div class="user-block user-block-md margin-bottom">
                <img class="img-circle" :src="gift.receiver.avatar_url_list.small"
                     :alt="gift.receiver.name">
                <span class="username">
                                <a>{{gift.receiver.name}}</a>
							</span> <a><span class="description">ID: {{gift.receiver.user_id}}</span></a>
              </div>
            </router-link>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-2 m-t-0">Подарок:</label>
          <div class="clearfix">
            <img class="attachment-img" :src="gift.virtual_gift.photo"
                 alt="Givenchy Ange ou Demon Le Secret ">
            <div class="attachment-pushed">
              <div class="attachment-heading"> {{gift.virtual_gift.name}}</div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-2 m-t-0">Комментарий:</label>
          <div class="clearfix">
            <div class="attachment-pushed">
              <div class="attachment-heading"> {{gift.virtual_gift_sent.comment}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import toastr from 'toastr'
  import moment from 'moment'
  export default {
    name: "virtual-gift-view",
    data() {
      return {
        gift: {
          id: '',
          virtual_gift_sent:{
            created_at: 1492516570,
            comment: ''
          },
          sender: {
            id: '',
            name: '',
            avatar_url_list: {
              small: '#',
              medium: '#',
              large: '#',
              origin: '#'
            }
          },
          receiver: {
            id: '',
            name: '',
            avatar_url_list: {
              small: '#',
              medium: '#',
              large: '#',
              origin: '#'
            }
          },
          virtual_gift: {
            id: '',
            name: '',
            photo: ''
          },
          gift_count: '',
          credits: '',
          moderation_site: "free",
          moderation_agency: "accept",
          message: {
            id: '',
            subject: '',
            text: '',
            attachments: []
          }
        }
      }
    },
    methods: {

      fetchGift() {
        this.$http.post('v2/virtual/sent-gift/sent/load/one', {
          access_token: this.$cookie.get('access_token'),
          id: this.$route.params.id
        }).then(data => {
          if (data.body.status) {
            this.gift = data.body.result;
          } else {
            toastr.error('Не могу загрузить данные о подарке');
            toastr.info(data.body.desc);
          }
        }, err => {
          toastr.error('Не могу загрузить данные о подарке');
          console.log(err);
        })
      },
    },
    computed: {
      prettyCreated() {
        return moment(this.gift.virtual_gift_sent.created_at * 1000).format('LLL')
      }
    },
    beforeMount() {
      this.fetchGift();
    },
    mounted() {

    }
  }
</script>

<style>
  .ch-wrapper {
    position: absolute;
    margin-top: 7px;
    margin-left: 60%;
  }
</style>
