<template>
  <div id="app">
    <login-component :loginCallback="loginCallback" v-if="loginStatus === false"></login-component>
    <div v-if="loginStatus || isLogin">
      <transition name="fade">
        <main-component></main-component>
      </transition>
    </div>

  </div>
</template>

<script>
import Vue from 'vue'
import { API } from './config/API';
import Login from '@/components/login/Login'
import Main from '@/components/main/main.vue'
import moment from 'moment'

export default {
  name: 'app',
  data() {
    return {
      loginStatus: true,
      cookieExists: false,
      loaded: false,
      filterTimeFrom: moment().startOf( 'month' ).format( 'X' ),
      filterTimeTo: moment().endOf( 'month' ).format( 'X' ),
      access: this.$cookie.get( 'access_token' )
    }
  },
  watch: {
    isLogin(v) {
      if(v) {
        this.$store.dispatch( 'getCountersModeration', {} )
        this.$store.dispatch( 'getCountersFeedback', {} )
        this.$store.dispatch( 'getCountersUsers', {} )
      }
    }
  },
  beforeMount() {

    this.$store.commit( 'SET_CONFIG', this.config );
    if ( this.$cookie.get( 'access_token' ) ) {
      this.loginStatus = true;
      this.loaded = true;
      Vue.http.post( 'v2/authorization/verify-token', {
        access_token: this.$cookie.get( 'access_token' )
      } ).then( tokenCheckResult => {
        if ( tokenCheckResult.body.status ) {
          setTimeout( () => {
            this.loginStatus = true;
            this.$store.dispatch( 'setIdentity', {
              name: tokenCheckResult.body.result.full_name,
              id: tokenCheckResult.body.result.user_id,
              avatar: tokenCheckResult.body.result.avatar,
              email: tokenCheckResult.body.result.email
            } );
            this.$store.dispatch( 'setAccessLevel', tokenCheckResult.body.result.user_type );
            this.$store.dispatch( 'setAuthStatus', true );
            this.$store.dispatch( 'userRules', tokenCheckResult.body.result.rules );
            if ( this.$route.path === '' ) {
              this.$router.push( '/finance/replenishment' );
              config.media = {
                admin: 'https://admin.fedate.com/',
                frontend: 'https://fedate.com/'
              }
            } else {
              this.$router.push( this.$route.path );
              config.media = {
                admin: 'https://admin.fedate.com/',
                frontend: 'https://fedate.com/'
              }
            }
          }, 100 )
        } else {
          this.loginStatus = false;
        }
      }, err => {
        console.log( 'Some login error' );
        console.log( err );
      } )
    } else {
      console.log( 'User is not registered' );
      this.loginStatus = false;
    }
  },
  created() {
    this.loginStatus = !this.$cookie.get( 'access_token' );
  },
  mounted() {
    this.loaded = true;

    if(this.$route.path !== '/dashboard' && this.$route.path !== '/')
    {
      this.$store.dispatch( 'getStats', {
        'from': this.filterTimeFrom,
        to: this.filterTimeTo
      } );


    }
    this.$store.dispatch( 'getGeneralSettings');


  },
  computed: {
    isLogin() {
      return this.$store.getters.auth
    }
  },
  methods: {
    loginCallback( status ) {
      if ( status ) {
        this.loginStatus = true;
      } else {
        this.loginStatus = false;
      }
    }
  },
  components: {
    'login-component': Login,
    'main-component': Main
  }
}
</script>

<style lang="scss">
@import "./assets/styles/style";

.error {
  border-color: red;
}

@media only screen and (max-width: 1024px) {
  .sidebar-open {
    overflow: hidden;
  }
}

.slimScrollDiv{height: 1px!important;}

</style>
