/*
* @mixin display: flex
*
*/

@mixin flex( $horizontal: flex-start, $vertical: center, $flowDir: row, $flowWrap: nowrap ) {
    display: flex;
    justify-content: $horizontal;
    align-items: $vertical;
    flex-flow: $flowDir $flowWrap;
}

/*
* create custom grid on flexes
*/

@mixin customGrid($containerWidth, $itemsCount, $itemWidth, $itemClass) {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc((#{$containerWidth} / #{$itemsCount} - #{$itemWidth}) / -2);
  margin-right: calc((#{$containerWidth} / #{$itemsCount} - #{$itemWidth}) / -2);

  .#{$itemClass} {
    flex: 0 0 $itemWidth;
    margin-left: calc((#{$containerWidth} / #{$itemsCount} - #{$itemWidth}) / 2);
    margin-right: calc((#{$containerWidth} / #{$itemsCount} - #{$itemWidth}) / 2);
  }
}

