
$brand-primary: #ff993e;

.m-ch {
  height: calc(100vh - 134px);

  .scroll-wrapp{
    height: calc(100vh - 245px);
  }

  .user-avatar-img{
    border-radius: 5px;
    width: 70px;
    height: 70px;
  }

  .simplebar-scrollbar {
    width: 4px;
    right: 5px;
  }

  .set-flex {
    display: flex;
  }

  .simplebar-scroll-content {
    height: 100%;
  }

  &__mainbox {
    float: left;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__main {
    width: calc(100% - 270px * 2);
    padding: 0 15px;

    &--inner {
      display: flex;
      flex-direction: column;
      flex: 1 1 100%;
      background: #ffffff;
      padding-bottom: 10px;
      border-radius: 0 0 7px 7px;

      .no-user {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 100%;
      }

    }
  }

  &__msg-area {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    z-index: 0;
    padding-bottom: 5px;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 10;
      height: 70px;
      border-top: 1px solid #ededed;
      pointer-events: none;
      background: linear-gradient(180deg,#fff,hsla(0,0%,100%,0));
    }

    .simplebar {
      flex: 0 0 100%;
    }

    .simplebar-content {
      padding-top: 15px;
    }

    .simplebar-scroll-content {
      display: flex;
      flex-direction: column-reverse;
    }

    .msg-line {
      &.info-message {
        position: relative;
        text-align: center;
        color: #aeb1b7;

        .line {
          position: absolute;
          top: 50%;
          left: 0;
          height: 1px;
          width: 100%;
          background-color: #f6f6f6;
          z-index: -1;
        }

        span {
          padding: 0 10px;
          background-color: #ffffff;
          font-size: 11px;
          z-index: 10;
        }
      }

      &.photo-message {

        .sender {
          .ph-mes {
            &__attach {
              justify-content: flex-end;
            }

            &__seen {
              right: auto;
              left: -15px;
            }
          }
        }

        .ph-mes {
          &__attach {
            margin-bottom: 5px;
            color: #aeaeb1;
            font-size: 11px;

            span + span {
              margin-left: 5px;
            }

            svg {
              height: 10px;
              width: 10px;
              fill: currentColor;
            }
          }
          &__img {
            width: 120px;
            height: 120px;
            border-radius: 6px;
          }

          &__preview {
            position: relative;
            cursor: pointer;
          }

          &__loader {
            display: block;

            &--wrap {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 120px;
              height: 120px;
              border-radius: 6px;
              background: rgba(#000, .5);
            }
          }

          &__seen {
            display: none;
            position: absolute;
            top: -15px;
            right: -15px;

            &.confirm {
              display: block;
            }

            .cls-1{font-size:7px;font-family:Lato-Regular, Lato;}.cls-1,.cls-2{fill:#05cb6a;}.cls-3{fill:#fff;}

            svg {
              height: 30px;
              width: 30px;
            }
          }
        }
      }
      + .msg-line {
        margin-top: 10px;
      }
    }

    .usr-message {
      position: relative;
      padding: 0 15px;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      color: #6a6a6a;
      font-size: 13px;
      > span {
        flex: 0 0 35px;
        margin-right: 15px;
        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }
      }
      &.sender {
        flex-direction: row-reverse;
        > span {
          margin-right: 0;
          margin-left: 15px;
        }
        .msg {
          background-color: #f6f6f6;
          &:after {
            left: 100%;
            border-left-color: #f6f6f6;
          }
        }
      }
      &.recipient {
        .msg {
          background-color: #eef0ff;
          &:after {
            right: 100%;
            border-right-color: #eef0ff;
          }
        }
      }

      &.invite {
        .invite-indicator {
          display: block;
        }
      }

      .invite-indicator {
        display: none;
        position: absolute;
        right: 15px;
        top: 0;
        transform: translateY(-50%);
        background-color: $brand-primary;
        color: #ffffff;
        border-radius: 6px;
        font-size: 8px;
        text-transform: uppercase;
        padding: 1px 3px;
      }

      .btn {
        color: #c4c6d2;
        background: none;
        border: none;
        padding: 0;
        border-radius: 0;
        margin-right: 10px;
        font-size: 11px;
        &:active {
          box-shadow: none;
        }
        svg {
          fill: currentColor;
          height: 16px;
          width: 16px;
        }
      }
      .flex-center {
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
      .emojione {
        height: 24px;
        width: 24px;
      }
      .date {
        font-size: 11px;
        color: #c4c6d2;
        float: right;
        padding: 5px 0 0 10px;
      }
      .text-underline {
        text-decoration: underline;
        margin-left: 5px;
      }
      .btn-trnsl-box {
        float: left;
      }
      .msg {
        position: relative;
        max-width: 360px;
        min-height: 36px;
        padding: 5px 15px;
        border-radius: 8px;

        word-break: break-all;
        /* Non standard for WebKit */
        word-break: break-word;
        hyphens: auto;

        &:after {
          top: 7px;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-width: 5px;
        }
      }

      .is-translating + .loader {
        display: block;
      }

      .loader {
        margin: 0;
        line-height: 0;
        display: none;
      }

      .btn-trnsl-box {
        position: absolute;
        top: 0;
        left: calc(100% + 5px);
        float: none;
      }
      .btn {
        margin: 0;
        padding: 10px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
      }
    }

  }

  &__sidebar {
    width: 270px;

    svg {
      height: 16px;
      width: 16px;
    }

    .power-button {
      svg {
        fill: #fff;
      }
    }

    .setting-bottom {
      svg {
        fill: $brand-primary;
      }
    }

    .tab-content {
      display: flex;
      flex-direction: column;
      flex: 1 1 100%;
      border-radius: 0 0 7px 7px;
    }

    .simplebar {
      flex: 0 0 100%;
    }


    .user-item {
      position: relative;
      &.notif {
        &:after {
          content: '!';
          top: 25px;
          right: 50px;
          font-size: 36px;
          position: absolute;
          line-height: 1;
          color: $brand-primary;
          animation: user-thumb-chat-notify ease-in-out 1s;
          animation-iteration-count: infinite;
          transform-origin: 50% 50%;
        }
        @keyframes user-thumb-chat-notify {
          0% {
            opacity: 1;
          }
          50% {
            opacity: 0.5;
          }
          100% {
            opacity: 1;
          }
        }
      }

      &.active {
        .notification {
          background-color: #ffffff;
        }
      }

      .notification {
        position: relative;
        &:after {
          content: attr(data-notification-count);
          position: absolute;
          top: -3px;
          left: -3px;
          background-color: $brand-primary;
          border-radius: 8px;
          padding: 4px;
          line-height: 1;
          color: #fff;
          font-size: 9px;
        }
      }
    }

    .chat-controls {
      position: absolute;
      top: 0;
      right: 5px;
      display: flex;
      align-items: center;
      height: 100%;
      > ul {
        padding: 10px;
        background-color: #f1f1f1;
        border-radius: 8px;
      }
      svg {
        height: 20px;
        width: 20px;
        fill: #c1c1c1;
        + svg {
          margin-top: 3px;
        }
      }
      &.notification {
        &:before {
          content: attr(data-notification-count);
          position: absolute;
          right: 74%;
          top: -1px;
          padding: 3px 5px;
          font-size: 9px;
          color: #fff;
          border-radius: 50%;
          background-color: $brand-primary;
        }
      }
    }
  }

  &__active-usr {
    position: relative;
    padding-bottom: 20px;
    &--info {
      display: flex;
      align-items: flex-start;
      position: relative;
    }

    &--status {
      background: #F5F6F5;
      color: #9D9FA7;
      padding: 5px 10px;
      border-radius: 8px;
    }

    &--actions {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      bottom: -17px;
      left: 0;
      width: 100%;
      pointer-events: none;

      > * {
        pointer-events: all;
        z-index: 10;
      }

      .control-button {
        position: relative;
        outline: none;
        background-color: #fff;
        color: #bfc1c6;
        width: 35px;
        height: 35px;
        padding: 10px;
        text-align: center;
        border: none;
        border-radius: 100%;
        z-index: 10;
        box-shadow: -1px 1px 7px 1px rgba(0, 0, 0, .2);

        &:hover {
          color: $brand-primary;
        }

        + .control-button {
          margin-left: 10px;
        }
      }

      .control-button-active {
        box-shadow: inset 0 0 3px 1px rgba(0,0,0, .1);
      }

      .checked-icon {
        position: absolute;
        top: 0;
        right: 1px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10px;
        width: 10px;
        background-color: #05ca6b;
        border-radius: 50%;
        text-align: center;
        color: #fff !important;
        > svg {
          width: 5px;
          height: 5px;
        }
      }

      svg {
        height: 17px;
        width: 17px;
        fill: currentColor;
      }

      .control-gallery {
        position: absolute;
        right: 15px;
        top: 50%;
        height: 24px !important; //redefine power
        width: 24px !important; //redefine power
        margin: 0 !important; //redefine power
        transform: translateY(-50%);
        background-color: #ffffff;
        &:hover {
          span {
            &:after {
              border-top-color: $brand-primary;
            }
          }
          &.open {
            span {
              &:after {
                border-bottom-color: $brand-primary;
              }
            }
          }
        }

        &.open {
          span {
            &:after {
              border-width: 0 3px 6px 3px;
              border-color: transparent transparent #bfc1c6 transparent;
            }
          }
        }

        span {
          position: relative;
          &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 6px 3px 0 3px;
            border-color: #bfc1c6 transparent transparent transparent;
          }
        }

      }
    }

    .usr-name {
      display: flex;
      align-items: center;
      margin-top: 5px;

      svg {
        fill: #bababa;
        width: 14px;
        height: 14px;
        margin-right: 3px;
      }

      small {
        margin-left: 3px;
      }
    }

    .swiper-container {
      margin: 0 10px 5px;
    }

    .swiper-slide {
      margin-top: 0 !important;
      width: auto;
    }
  }

  .nav-tabs {
    margin-left: 5px;

    > li {
      &.active {
        > a {
          color: #696969;
        }
      }



      > a {
        padding: 7px;
        margin-right: 6px;
        color: #ffffff;
        font-weight: normal;
        &:hover {
          color: #696969;
        }
      }
    }
  }

  .attach-box {
    &--inner {
      position: relative;
      justify-content: flex-end;
      align-items: center;
    }

    &--btn {
      margin-left: 20px !important;
    }

    &--btn {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: #aeaeb1;
      user-select: none;
      margin: 0;
      svg {
        fill: $brand-primary;
        height: 16px;
        width: 16px;
      }

      svg + span {
        margin-left: 5px;
      }
    }

    &--photos {
      display: flex;
      align-items: center;
      justify-content: flex-end;


      &__item {
        position: relative;
        user-select: none;
        flex: 0 0 80px;
        margin-left: 20px;

        img {
          max-width: 100%;
        }

        .del-btn {
          position: absolute;
          top: 0;
          right: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 32px;
          width: 32px;
          background-color: #fff;
          border-radius: 50%;
          transform: translate(50%, -50%);
          cursor: pointer;

          &:active {
            background: rgb(229, 229, 229);
            svg {
              fill: #6e6e6e;
            }
          }
        }

        svg {
          height: 24px;
          width: 24px;
          fill: #8d8d8d;
        }
      }
    }
  }

  .black-background {
    border-radius: 8px 8px 0 0;
    background-color: rgb(47, 55, 69);
    z-index: 3;
  }
  .content-header {
    display: none;
  }
  .text-white {
    color: #fff;
    font-weight: 700;
    font-size: 17px;
  }

  .online-point {
    width: 3px;
    height: 3px;
    border-radius: 100%;
    background: #67CB6C
  }

  .tab-content {
    border-top: none;
    background: #fff !important;
    width: 100%;
    padding-top: 6px;
  }

  .btn-flex {
    padding: 0;
    > span {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .emoji-picker-icon {
    position: absolute;
    right: 14px;
    width: 10px;
    top: 10px;
    height: 10px;
    font-size: 15px;
  }

  .modal-enter {
    opacity: 0;
  }

  .modal-leave-active {
    opacity: 0;
  }

  .modal-enter .vue-modal--container,
  .modal-leave-active .vue-modal--container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  .vue-modal {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 30px;
    transition: opacity .3s ease;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    .loader {
      align-self: center;
    }

    &--container {
      width: 600px;
      margin: 0 auto;
      padding: 20px 30px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
      transition: all .3s ease;
    }
  }

  p {
    margin: 0;
  }
}

.pr-m {
  &--body {
    padding: 0 !important;
  }

  .set-flex {
    display: flex;
  }
}



button.close {
  color: #FFFFFF !important;

  svg {
    fill: currentColor;
    height: 16px;
    width: 16px;
  }
}

