table {
	tr {
		th {
			&:after {
				top: calc((100% - 18px) / 2);
			}
		}
		td {
			overflow: hidden;
		}
	}
	.small-cell {
		width: 70px !important;
	}
}

.text-limited {
	white-space: nowrap;
	width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
}

.text-wrap {
	white-space: normal !important;
	text-overflow: clip !important;
	overflow: auto !important;
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-webkit-hyphens: auto;
	hyphens: auto;
}

.form-group {
	&.has-error {
		.err {
			margin-top: 5px;
			line-height: 1;
			color: #e9462b !important;
		}

		.select2-selection { //select2 class
			border-color: #e9462b;
			box-shadow: none;
		}
	}
}

button.close {
	padding: 5px;
}

.cursor{
  cursor: pointer;
}


.modal-header .close{
  font-size: 32px;
  font-weight: 400;
}

.show-more-btn{
  display: block;
  border-radius: 6px;
  margin: 10px auto;
  min-width: 160px;
  border: 1px solid #f39c12;
  color: #f39c12;
  font-weight: 700;
  background-color: #fff;
  padding: 8px;
  &:hover{
    border: 1px solid #2e3745;
    color: #2e3745;
  }
}

.selected-photo img{
  box-shadow: 0 0 0 6px #f39c12;
  transform: scale(0.8); /* Уменьшает на 5% */
  transition: transform 0.3s ease; /* Для плавного уменьшения */
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.attach-file-list{
  a, img{
    cursor: pointer;
  }
  .attached{
    position: relative;
    &:after{
      content: "Attached";
      position: absolute;
      background: #fff;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0.4;
      color: red;
      padding: 10px;
      line-height: 0;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 1;

    }
    //img{
    //  transform: scale(0.8);
    //  box-shadow: 0 0 0 6px #0b77dd;
    //}
  }
  .selected{
    &:after{
      display: none;
    }
    img{
      transform: scale(0.7);
      box-shadow: 0 0 0 6px #a9dd0b;
    }
  }
}


.photo-label{
  position: absolute;
  color: #fff;
  font-weight: 600;
  font-size: 10px;
  background: rgb(7 238 19 / 61%);
  right: auto;
  left: 5px;
  padding: 0 4px;
  z-index: 3;
  display: flex;
  line-height: 1.2;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  font-style: normal;
  &.label-was-bought{
    color: #000;
    bottom: auto;
    top: 5px;
    left: 5px;
    right: auto;
  }
  &.label-private{
    background: rgb(245 20 20 / 90%);
    right: 5px;
    top: 5px;
    left: auto;

  }
  &.bottom{
    top: auto!important;
    bottom: 5px;
  }
  &.bottom-photo{
    top: auto!important;
    bottom: 30px;
  }
}

//z-index
#attachPhotoToLetter {
	z-index: 1050;
}

.modal-backdrop {
	z-index: 800;
}

.modal {
	z-index: 900;
}

.main-header {
	z-index: 820;
}

.label-position{
  position: absolute;
  z-index: 1;
  top: -7px;
  right: 0px;
  border-radius: 30%;
}
.position-relative{
  position: relative;
}

.display-inline-block{
  display: inline-block!important;
  vertical-align: middle;
}

#toast-container {
  top: 85px!important;

}

// custom width
.width{
  &-25{width: 25px;}
  &-50{width: 50px;}
  &-100{width: 100px;}
  &-120{width: 120px;}
  &-150{width: 150px;}
  &-200{width: 200px;}
  &-250{width: 250px;}
  &-300{width: 300px;}
  &-350{width: 350px;}
  &-400{width: 400px;}
  &-450{width: 450px;}
}

// custom padding margin
.p{
  &-l{padding-left: 15px;}
  &-r{padding-right: 15px;}
  &-t{padding-top: 15px;}
  &-b{padding-bottom: 15px;}
  &-all{padding: 15px;}

  &-l-2{padding-left: 30px;}
  &-r-2{padding-right: 30px;}
  &-t-2{padding-top: 30px;}
  &-b-2{padding-bottom: 30px;}
  &-all-2{padding: 30px;}

  &-l2{padding-left: 8px;}
  &-r2{padding-right: 8px;}
  &-t2{padding-top: 8px;}
  &-b2{padding-bottom: 8px;}
  &-all2{padding: 8px;}
}

.m{
  &-l{margin-left: 15px;}
  &-r{margin-right: 15px;}
  &-t{margin-top: 15px;}
  &-b{margin-bottom: 15px;}
  &-all{margin: 15px;}

  &-l2{margin-left: 8px;}
  &-r2{margin-right: 8px;}
  &-t2{margin-top: 8px;}
  &-b2{margin-bottom: 8px;}
  &-all2{margin: 8px;}
}

.b{
  &-r{
    border-radius: 15px;
  }
  &-r-2{
    border-radius: 30px;
  }
  &-r2{
    border-radius: 6px;
  }
}

.flex-row {
	display: flex;
}

.flex{
  display: flex;
  &-line{
    flex-wrap: nowrap;
  }
  &-y-center{
    align-items: center;
  }
  &-x-center{
    justify-content: center;
  }
  &-x-left{
    justify-content: flex-start;
  }
  &-x-right{
    justify-content: flex-end;
  }
  &-x-between{
    justify-content: space-between;
  }
}


.border{
  &-all{
    border: 1px solid #ddd;
  }
  &-t{
    border-top: 1px solid #ddd;
  }
  &-b{
    border-bottom: 1px solid #ddd;
  }
}

.position-date{
  position: absolute;
  bottom: -12px;
  color: #8c8b8b;
  font-weight: bold;
  font-size: 11px;
  right: 0;
  text-align: right;
}

//Mail-modal
.mail-modal {
	.photo-nav {
		display: flex;
		overflow: visible;
		a {
			margin: 8px 13px 0 0;
		}
	}
	&__form {
		.block-row {
			display: block;
		}
		.flex-end {
			justify-content: flex-end;
		}
		.flex-row {
			flex-wrap: wrap;
			label {
				font-size: 13px;
				font-weight: 700;
			}
		}
		&--attach-wrap {
			margin-right: 20px;
		}
		.text-counter {

		}
	}
	&__reply {
		h3 {
			margin-top: 10px;
			margin-bottom: 20px;
		}
	}
	.form-control::-webkit-input-placeholder {
		color: #d4d4d4;
	}
	/* WebKit, Blink, Edge */
	.form-control:-moz-placeholder {
		color: #d4d4d4;
	}
	/* Mozilla Firefox 4 to 18 */
	.form-control::-moz-placeholder {
		color: #d4d4d4;
	}
	/* Mozilla Firefox 19+ */
	.form-control:-ms-input-placeholder {
		color: #d4d4d4;
	}
	/* Internet Explorer 10-11 */
	.form-control:-ms-input-placeholder {
		color: #d4d4d4;
	}
	/* Microsoft Edge */

	&__photo-attach {
		position: relative;
	}
	&--delete-photo {
		position: absolute;
		right: 4px;
		z-index: 10;
		top: -1px;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 24px;
		height: 24px;
		border-radius: 100%;
		background: white;
		border: 1px solid #0b78dd;
		svg {
			height: 16px;
			width: 16px;
			fill: #0b78dd;
		}
	}
}

//Guest-API MODAL
.modal-guest-api {
	padding: 5% 0;
	display: flex;
	justify-content: center;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.11);
}
//Guest-API MODAL ends here


.table-bordered {
	a {
		cursor: pointer;
	}
}

.sidebar-menu {
	.fa {
		font-size: 14px;
	}
}

.form-horizontal .form-group{
  margin: 0;
}
.settings-form{
  max-width: 640px;
  position: relative;
  ul{
    margin: 0;
  }
}

.tabs-setting {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 20px;
  z-index: 817;
  position: relative;

 .tabs-component-tabs {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;

   .tab-button {
      padding: 10px 20px;
      cursor: pointer;
      font-size: 13px;
      text-decoration: underline;
      text-decoration-style: dashed;
      color: #838ea2;
      &:hover{
        color: #0b78dd;
      }
      &.is-active{
        background: #0b78dd;
        color: #ffffff;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        text-decoration: none;
        a{
          color: #ffffff;
        }
      }
    }
  }

  .content-block{
    width: 100%;
    border: 1px solid rgba(#323b3f, .07);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-top: 10px;
    background: #ffffff;
    -webkit-box-shadow: 0px 0px 16px 2px rgba(26,32,34,0.1);
    -moz-box-shadow: 0px 0px 16px 2px rgba(26,32,34,0.1);
    box-shadow: 0px 0px 16px 2px rgba(26,32,34,0.1);
    h2{
      padding: 15px 20px;
      font-size: 16px;
      color: #2f3745;
      background: #e8ecf5;
      margin: 0;
      font-weight: 700;
      display: flex;
      justify-content: space-between;
      align-items: center;
      i{
          color: #979797;
          max-width: 60%;
          text-align: right;
          font-size: 13px;
          font-weight: 400;
      }
    }
    .settings-items{
      display: block;
      padding: 0;
      .settings-item{
        padding: 15px 20px;
        cursor: default;
        color: #2f3745;
        font-size: 13px;
        font-weight: 700;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        &+.settings-item{
          border-top: 1px solid #e6e8ea;
        }
        .settings-item-content{
          color: #979797;
          width: 60%;
          text-align: right;
          word-wrap: break-word;
          padding-left: 15px;
          display: flex;
          justify-content: flex-end;
          .form-control{
            width: auto;
          }
          input[type="text"].form-control {
            width: 100%;
          }
          select.form-control {
            width: auto;
          }
          .form-control + .form-control{
            margin: 0;
            margin-left: 10px;
          }
        }
      }
    }
  }
}
.btn-edit{
  position: absolute;
  right: 0;
  border: 1px solid #d1d4d5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #aeb0b1;
  font-size: 11px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: rgba(0,0,0,0);
  z-index: 818;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.1)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
  .fa{
    margin-left: 5px;
  }


      &:hover{
        background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(#0b78dd,0.1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(#0b78dd,0.1)));
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(#0b78dd,0.1) 100%);
        background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(#0b78dd,0.1) 100%);
        background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(#0b78dd,0.1) 100%);
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(#0b78dd,0.1) 100%);
        color: #aeb0b1;
      }

}

.btn-save{
  color: #0b78dd;
  font-weight: 700;
}

.just_content_sb{
  justify-content: space-between !important;
  padding: 0 !important;
}

.margin_none{
  margin: 0 !important;
}

.multiselect{
  margin-top: 10px;
}
.countries .multiselect {
  width: auto;
  margin: 10px 20px;
}

.countries .user-list-corection .item .right-icon{
  position: static;
}



@media (max-width: 991px){
  .content-header>.breadcrumb {
    background-color: transparent;
}

}

@media (max-width: 768px) {
  .tabs-setting {
    margin-top: 10px;
  }
}
@media (max-width: 640px) {
  .tabs-setting {
    margin-top: 10px;

    .content-block{
      .tabs-setting .content-block ul li span .form-control{
        width: 100% !important;
      }
      .settings-items{
        li{
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          .settings-item-content{
            width: 100%;
            padding: 0;
            text-align: left;
            word-wrap: normal;
            justify-content: flex-start;
            margin-top: 10px;
          }
        }
      }
    }
  }
  .btn-edit{
    top: -52px;
    padding: 10px 12px;
    .fa{
      margin: 0;
    }
    span{
      display: none;
    }
  }
}

// vide
.video-list-custom{
  display: block;
  margin: -1% -2% 0 0;
  padding: 0 0 20px 0;
  overflow: hidden;
  li{
    position: relative;
    border-radius: 3px;
    display: block;
    width: 15.5%;
    float: left;
    margin-right: 2%;
    margin-top: 2%;
    .delete{
        position: absolute;
        top: -10px;
        right: -10px;
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        background: #f1f1f1;
        border-radius: 50%;
        color: #e9452b;
        cursor: pointer;
        height: 25px;
        width: 25px;
        &:hover{
            color: #000;
        }
    }
    .wrapp{
      position: relative;
      overflow: hidden;
      border-radius: 3px;
    }
    .fa-play{
      font-size: 25px;
      position: absolute;
      //background:rgba(0, 0, 0, 0.7);
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      &::before{
        position: absolute;
        z-index: 5;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: #ddd;
        opacity: .8;
      }
      &:hover{
        transition: 0.3s transform;
        cursor: pointer;
        transform: scale(1.2);
        &::before{
          opacity: 1;
        }
      }
    }
    img{
      width: 100%;
      height: 110px;
      object-fit: cover;
      object-position: 50% 0;
      border-radius: 3px;
    }
    .video-id{
      text-align: center;
      display: block;
      padding: 3px 0;
      color: #7f8288;
      font-size: 13px;
      font-weight: 600;
    }
  }
}
// media
@media screen and (max-width: 2100px){
  .video-list-custom{
    li{
      width: 22.1%;
      margin-right: 1.5%;
      margin-top: 2%;
      img{
        height: 100px;
      }
    }
  }
}

@media screen and (max-width: 1570px){
  .video-list-custom{
    li{
      width: 22.8%;
      margin-right: 1.5%;
      margin-top: 2%;
      img{
        height: 100px;
      }
    }
  }
}
@media screen and (max-width: 1200px){
  .video-list-custom{
    li{
      width: 30.5%;
      margin-right: 2%;
      margin-top: 2%;
      img{
        height: 80px;
      }
    }
  }
}
@media screen and (max-width: 1000px){
  .video-list-custom{
    li{
      width: 30.5%;
      margin-right: 2%;
      margin-top: 2%;
      img{
        height: 70px;
      }
    }
  }
}
@media screen and (max-width: 990px){
  .video-list-custom{
    li{
      width: 22.5%;
      margin-right: 2%;
      margin-top: 2%;
      img{
        height: 90px;
      }
    }
  }
}
@media screen and (max-width: 761px){
  .video-list-custom{
    li{
      margin-right: 2%;
      margin-top: 2%;
      width: 17.6%;
      img{
        height: 80px;
      }
    }
  }
}
@media screen and (max-width: 620px){
  .video-list-custom{
    li{
      margin-right: 2%;
    margin-top: 2%;
      width: 30.46%;
      img{
        height: 100px;
      }
    }
  }
}
@media screen and (max-width: 450px){
  .video-list-custom{
    li{
      margin-right: 4%;
      margin-top: 4%;
      width: 44.76%;
      img{
        height: 100px;
      }
    }
  }
}

// spinner
.spinner{
    line-height: 0.9;
    animation: rotation .5s linear infinite!important;
    font-size: 22px;
}
@keyframes rotation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


@import 'multichat';



// select style custom
.custom-select{

  > .vs__dropdown-toggle {
    border-radius: 4px;
    box-shadow: 0 1px 11px -3px rgba(26, 32, 34, 0.18);
    border-color: #e2e3e4;
    padding: 8px;
    color: #333;
    font-size: 12px;
    height: 40px;
  }

  .vs__selected-options .vs__selected,
  .vs__selected-options,
  input[type="search"],
  .vs--single .vs__selected{
    font-size: 13px;
    margin-top: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    white-space: nowrap;
  }

  .vs__open-indicator {
    width: 14px !important; /* Уменьшите размеры контейнера SVG */
    height: 14px !important;
  }

  .vs__placeholder, input::placeholder {
    color: #777!important;
  }

  .vs__actions{
    padding-right: 2px;
    position: relative;
    .vs__clear {
      width: 25px;
      position: absolute;
      z-index: 1;
      right: -4px;
      top: -6px;
      bottom: -7px;
      background: #fff;
      margin-right: 0;
      > svg{
        color: #e12312;
        fill: #e12312;
      }
      &:hover{
        > svg{
          color: #ddd;
          fill: #ddd;
        }
      }
    }
    .vs__open-indicator{
      width: 15px;
      height: 15px;
    }
  }

  .vs__open-indicator path {
    transform: scale(0.7); /* Уменьшение рисунка галочки */
    transform-origin: center; /* Центрирование масштабирования */
    fill: #d0d0d0;
  }

  .vs__clear {
    color: #999;
  }


  /* Основное меню */
  .vs__dropdown-menu {
    background-color: #ffffff; /* Белый фон */
    border: 1px solid #ccc;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 200px;
    overflow-y: auto;
  }

  /* Элементы списка */
  .vs__dropdown-option {
    padding: 6px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
  }

  /* Выбранный элемент */
  .vs__dropdown-option--selected {
    font-weight: bold;
    background-color: #ddd;
  }

  /* Элемент под фокусом или указателем мыши */
  .vs__dropdown-option--highlight {
    background-color: #0b78dd; /* Немного другой фон при наведении */
  }

  /* Иконка открытия/закрытия меню */
  .vs__open-indicator {
    width: 12px;
    height: 12px;
    fill: #333; /* Цвет иконки */
  }
}

