<template>
	<div id="guest-api">
		<div class="row">
			<div class="col-md-12">
				<div class="box box-blue box-solid">
					<div class="box-header with-border">
						<h3 class="box-title"><i class="fa fa-group text-blue"></i> Партнеры</h3>
						<div class="box-tools pull-right">
							<a @click="createModal()" class="btn btn-success show-modal">Создать <i data-action="create"
																									class="fa fa-plus"></i></a>
						</div>
					</div>
					<div class="box-body no-padding">
						<form class="row margin-bottom">
							<div class="form-group margin">
								<div class="col-md-2">
									<input type="text" class="form-control" placeholder="URL" v-model="searchByUrl" id="filter_col1"
										   data-column="0">
								</div>
								<div class="col-md-2">
									<select class="form-control" v-model="searchByStatus" id="filter_col3">
										<option selected="selected" value="">Статус</option>
										<option value='1'>активный</option>
										<option value='0'>неактивный</option>
									</select>
								</div>
							</div>
						</form>
						<div class="table-responsive">
							<table ref="table" data-page-length="20" class="table table-bordered table-striped"
								   id="guest-api-table">
								<thead>
								<tr>
									<th>ID</th>
									<th>URL Адресс</th>
									<th>Статус</th>
									<th>Дата создания</th>
									<th>Действие</th>
								</tr>
								</thead>
								<tbody>
								<tr v-show="i.domain !== 'fedate.com'" v-for="i in cors" :key="i.id">
									<td :data-search="i.id" :data-sort="i.id">
										<a class="show-letter" :data-id="i.id">{{i.id}}
										</a>
									</td>
									<td :data-search="i.domain" :data-sort="i.domain">
										<a class="show-letter" :data-id="i.domain">{{i.domain}}
										</a>
									</td>
									<td :data-search="i.active" :data-sort="i.active">
										<div v-if="status(i.active)">
											<strong>активный <span style="display: none">{{i.active}}  </span></strong>
										</div>
										<div v-else>
											<strong>неактивный <span style="display: none">{{i.active}}</span></strong>
										</div>
									</td>
									<td :data-search="i.created_at" :data-sort="i.created_at">
										<div v-if="created(i.created_at)">
											<span><span style="display:none">{{i.created_at}}</span> {{date( i.created_at )}}</span>
										</div>
										<div v-else>
											<strong>Не указано <span style="display: none">{{i.created_at}}</span></strong>
										</div>
										</a>
									</td>
									<td><!--action-->
										<a class="btn btn-primary btn-block btn-edit show-modal" @click="editModal(i)"
										   data-action="edit"><i class="fa fa-edit fa-lg text-white"></i></a>
									</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<ul class="pagination pull-left" id="api-shows">

				</ul>
			</div>
			<div class="col-md-6">
				<ul class="pagination pull-right" id="api-paginate">

				</ul>
			</div>
		</div>
		<modal v-if="showModal" @reinstall="reinstall" @close="closeModal()" :corsObject="corsObject"
			   :showModal="showModal" :edit="edit"></modal>
	</div>
</template>

<script>
	import Vue from 'vue'
	import moment from 'moment'
	import modal from './share/modal.vue'
	export default {
		data () {
			return {
				showModal: false,
				cors: [],
				corsObject: {},
				edit: false,
				table: null,
				searchByUrl: '',
				searchByStatus: ''
			}
		},
		watch: {
			searchByUrl( value ) {
				this.searchInTable( 1, value );
			},
			searchByStatus( value ) {
				this.searchInTable( 2, value );
			}
		},

		methods: {
			searchInTable( col, value ) {
				if ( this.table !== null ) {
					this.table.column( col ).search( value, false, false ).draw();
				}
			},
			reinstall() {
				this.table.destroy()
				this.table = null
				this.fetchData()
			},
			fetchData() {
				this.$http.post( 'v2/site/settings/get/site-cors', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( corsResponse => {
					if ( corsResponse.body.status ) {
						this.cors = corsResponse.body.result;
						setTimeout( () => {
							this.initTable();
						}, 0 )
					}
				}, requestError => {
					console.log( requestError );
				} )
			},

			initTable() {
				if ( !this.table ) {
					this.table = $( this.$refs.table ).DataTable( {
					"order": [ [ 3, "asc" ] ],
						"columnDefs": [ {
							"targets": 4,
							"orderable": false
						} ],
						iDisplayLength: 20,
						"pageLength": 20,
						"oLanguage": {
							"sLengthMenu": "Отображено _MENU_ записей на страницу",
							"sSearch": "Поиск:",
							"sZeroRecords": "Ничего не найдено - извините",
							"sInfo": "Показано с _START_ по _END_ из _TOTAL_ записей",
							"sInfoEmpty": "Показано с 0 по 0 из 0 записей",
							"sInfoFiltered": "(отфильтровано из _MAX_ записей)",
							"oPaginate": {
								"sFirst": "Первая",
								"sLast": "Посл.",
								"sNext": "След.",
								"sPrevious": "Пред.",
							}
						},
					} );
					$( '#guest-api-table_filter' ).remove();
					$( '#guest-api-table_length' ).remove();
					$( '#api-paginate' ).remove();
					$( '#api-shows' ).remove();
					$( '#api-paginate' ).append( $( '#guest-api-table_paginate' ) )
					$( '#api-shows' ).append( $( '#guest-api-table_info' ) )
				}
			},

			date( ts ) {
				return moment( ts * 1000 ).format( 'DD.MM.YYYY HH:mm:ss' )
			},
			status( i ) {
				if ( i === 1 ) {
					return true
				}
				else {
					return false
				}
			},
			created( i ) {
				if ( i !== null ) {
					return true
					}
				return false
			},
			createModal() {
				this.edit = false
				this.openModal()
			},
			editModal( i ) {
				console.log( i )
				this.corsObject = i
				this.edit = true
				this.openModal()
			},
			openModal() {
				this.showModal = !this.showModal
				$( 'html' ).toggleClass( 'modal-open' )
			},
			closeModal() {
				this.showModal = !this.showModal
				$( 'html' ).toggleClass( 'modal-open' )
				this.corsObject = {}
			}
		},
		mounted() {
			this.fetchData()
		},
		computed: {

		},
		components: {
			modal
		}
	}
</script>

<style>
</style>
