<template>
		<div id="guest-api">
			<div class="row">
				<div class="col-md-12">
					<div class="box box-blue box-solid">
						<div class="box-header with-border">
							<h3 class="box-title"><i class="fa fa-group text-blue"></i> Ссылки</h3>
							<div class="box-tools pull-right">
								<a @click="createModalUnique()" class="btn btn-success show-modal">Создать для клиентки<i data-action="create"
																										class="fa fa-plus"></i></a>
								<a @click="createModal()" class="btn btn-success show-modal">Создать<i data-action="create"
																									   class="fa fa-plus"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<form class="row margin-bottom">
				<div class="form-group margin">
					<div class="col-md-2">
						<input type="text" class="form-control" placeholder="ID" v-model="searchById" id="filter_col3"
							   data-column="0">
					</div>
					<div class="col-md-2">
						<input type="text" class="form-control" placeholder="URL" v-model="searchByUrl" id="filter_col1"
							   data-column="0">
					</div>
					<div class="col-md-2">
						<input type="text" class="form-control" placeholder="Клиентка" v-model="searchByWoman" id="filter_col2"
							   data-column="0">
					</div>
				</div>
			</form>

			<div class="table-responsive">
				<table ref="table" data-page-length="20" id="bannedWomanTable" class="table table-bordered table-striped"
					   >
					<thead>
					<tr>
						<th>ID</th>
						<th>URL Адресс</th>
						<th>Создатель</th>
						<th>Клиентка</th>
						<th>Статус</th>
						<th>Дата создания</th>
						<th>Дата редактирования</th>
						<th>Действие</th>
					</tr>
					</thead>
				</table>
			</div>
			<div class="row">
				<div class="col-md-6">
					<ul class="pagination pull-left" id="api-shows">

					</ul>
				</div>
				<div class="col-md-6">
					<ul class="pagination pull-right" id="api-paginate">

					</ul>
				</div>
			</div>
			<modal-referal :unique="unique" v-if="showModal" @reinstall="destroyTable" @close="closeModal()" :referalObject="referalObject"
				   :showModal="showModal" :edit="edit"></modal-referal>
		</div>
</template>

<script>
	import modalReferal from './share/modalReferal.vue'
	import moment from 'moment'
	export default {
		data () {
			return {
				table: null,
				showModal: false,
				referals: [],
				edit: false,
				referalObject: {},
				searchByUrl: '',
				searchByWoman: '',
				searchById: '',
				fullForSearch: '',
				unique: false
			}
		},
		watch: {
			searchById( value ) {
				this.searchInTable( 0, value );
			},
			searchByUrl( value ) {
				this.searchInTable( 1, value );
			},
			searchByWoman( value ) {
				this.searchInTable( 3, value );
			},
		},
		methods: {
			hide() {

			},
			getFull(name,surname,id) {
				this.fullForSearch = name + ' ' + ' ' + surname + '(' + id + ')'
				return name + ' ' + ' ' + surname + '(' + id + ')'
			},
			searchInTable( col, value ) {
				if ( this.table !== null ) {
					this.table.column( col ).search( value, false, false ).draw();
				}
			},
			initTable() {
					let referals = this.referals;
					let prettyLetersArrray = []
					referals.forEach(referal => {

						let check = function (  ) {
							if (referal.site_referrals_active) {
								return 1
							}
							else {
								return 0
							}
						}


						let IfStatus = '<strong>Активный<span style="display: none;">1</span></strong>';
						if ( !referal.site_referrals_active  ) {
							IfStatus = '<strong>Неактивный<span style="display: none;">0</span></strong>'
						}
						let ifEdit = '<span class="">' + moment( referal.site_referrals_updated_at * 1000 ).format( 'DD.MM.YYYY HH:mm:ss' ) + '<span style="display: none;">' + referal.site_referrals_updated_at + '</span></span>';
						if ( referal.site_referrals_updated_at === null ) {
							ifEdit = '<strong>Не редактировался<span style="display: none;">0</span></strong>';
						}
						let id =	'<a class="" data-id="' + referal.site_referrals_id + '">' + referal.site_referrals_id + '</a>';
						let url =	'<a class="show-referal" data-id="' + referal.site_referrals_url + '">' + referal.site_referrals_url + '</a>';
						let creator =	'<a class="" data-id="' + referal.created_profile_name + ' '+  referal.created_profile_surname + '">' + referal.created_profile_name + ' '+  referal.created_profile_surname +  '</a>';
						let woman =	'<a class="show-woman" data-id="' + referal.woman_profile_user_id + '">' + referal.woman_profile_name + ' '+  referal.woman_profile_surname + '(' + referal.woman_profile_user_id + ')' + '</a>';
						let createdAt =	'<span><span style="display:none">' + referal.site_referrals_created_at + '</span>' + moment( referal.site_referrals_created_at * 1000 ).format( 'DD.MM.YYYY HH:mm:ss' ) + '</span>';
						let action =	'<a class="btn btn-primary btn-block edit-referal" data-active="'+ check() +'"  data-id-referal="'+ referal.site_referrals_id +'" data-url="' + referal.site_referrals_url + '" data-id-woman="' + referal.woman_profile_user_id + '"><i data-active="'+ check() +'"  data-id-referal="'+ referal.site_referrals_id +'" data-url="' + referal.site_referrals_url + '" data-id-woman="' + referal.woman_profile_user_id + '" class="fa fa-edit fa-lg text-white"></i></a>'

						prettyLetersArrray.push( [
							id,
							url,
							creator,
							woman,
							IfStatus,
							createdAt,
							ifEdit,
							action
						] );

					});
				if ( this.table !== null ) {
					this.table
						.clear()
						.draw();
				}

				this.table = $( '#bannedWomanTable' ).DataTable( {
					data: prettyLetersArrray,
					"order": [ [ 0, "desc" ] ],
					iDisplayLength: 20,
					retrieve: true,
					"pageLength": 20,
					"oLanguage": {
						"sLengthMenu": "Отображено _MENU_ записей на страницу",
						"sSearch": "Поиск:",
						"sZeroRecords": "Ничего не найдено - извините",
						"sInfo": "Показано с _START_ по _END_ из _TOTAL_ записей",
						"sInfoEmpty": "Показано с 0 по 0 из 0 записей",
						"sInfoFiltered": "(отфильтровано из _MAX_ записей)",
						"oPaginate": {
							"sFirst": "Первая",
							"sLast": "Посл.",
							"sNext": "След.",
							"sPrevious": "Пред.",
						}
					},
				} );

				$('#bannedWomanTable_filter').remove()
				$('#bannedWomanTable_length').remove()
				$('#woman_ban_paginate').append($('#bannedWomanTable_paginate'))
				$('#woman_ban_info').append($('#bannedWomanTable_info'))
			},

			initListeneres() {
				let navigator = this.navigator
				$('#bannedWomanTable').find('.edit-referal')
					$('#bannedWomanTable').on('click', '.edit-referal', (event) => {
						this.editModal(event)
					})
				$('#bannedWomanTable').on('click', '.show-woman', function () {
					let ID = $(this).data('id');
					navigator('/woman/view/' + ID);
				});
			},
			destroyTable() {
				setTimeout( () => {
					$( "#bannedWomanTable" ).DataTable().destroy()
				}, 500 )
				setTimeout( () => {
					this.fetchData()
				}, 1000 )

			},
			fetchData() {
				this.$http.post( 'v2/site/referrals/get', {
					access_token: this.$cookie.get( 'access_token' )
				} ).then( referalResponse => {
					if ( referalResponse.body.status ) {
						this.referals = referalResponse.body.result;
							this.initTable();
						    this.initListeneres()
					}
				}, requestError => {
					console.log( requestError );
				} )
			},
			editModal( event ) {
				let referal = {
					url: event.target.dataset.url,
					womanId: event.target.dataset.idWoman,
					referalId: event.target.dataset.idReferal,
					active: event.target.dataset.active
				}
				this.referalObject = referal
				this.edit = true
				this.showModal = true
				$( 'html' ).addClass( 'modal-open' )
			},
			closeModal() {
				this.showModal = !this.showModal
				$( 'html' ).toggleClass( 'modal-open' )
				this.edit = false
				this.unique = false
				this.referalObject = {}
			},
			openModal() {
				this.showModal = !this.showModal
				$( 'html' ).toggleClass( 'modal-open' )
			},
			createModalUnique() {
				this.unique = true
				this.showModal = !this.showModal
				$( 'html' ).toggleClass( 'modal-open' )
			},
			createModal() {
				this.showModal = !this.showModal
				$( 'html' ).toggleClass( 'modal-open' )
			},
			status( i ) {
				if ( i === 1 ) {
					return true
				}
				else {
					return false
				}
			},
			date( ts ) {
				return moment( ts * 1000 ).format( 'DD.MM.YYYY HH:mm:ss' )
			},
			navigator(route) {
				this.$router.push(route.toString());
			},
			created( i ) {
				if ( i !== null ) {
					return true
				}
				return false
			},
		},
		beforeMount() {
			this.fetchData();
		},
		computed: {},
		components: {
			modalReferal
		}
	}
</script>

<style>
</style>
