<template>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-blue box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Пропущенные ивайты</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <!-- filter -->
                    <!--<div class="row">-->
                        <!--<div class="form-group margin">-->
                            <!--<div class="col-md-4">-->
                                <!--<select class="form-control filter-date-nav" @change="dateFilterChange" style="width: 100%;">-->
                                    <!--<option value="1">Сегодня</option>-->
                                    <!--<option value="2">Вчера</option>-->
                                <!--</select>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->

                    <div>
                        <preloader v-show="preloader"></preloader>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped dataTable">
                                <thead>
                                    <tr>
                                        <th>
                                          Перейти в чат
                                        </th>
                                        <th>
                                            Клиент
                                        </th>
                                        <th>
                                            Клиентка
                                        </th>
                                        <th>
                                            Инвайт
                                        </th>
                                        <th>
                                            Дата
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <slot name="tbody"></slot>
                                    <tr v-if="missedInvites && !missedInvites.length && !preloader">
                                        <td :colspan="4" class="dataTables_empty">По Вашему запросу ничего не найдено.</td>
                                    </tr>
                                    <template v-else>
                                        <tr v-for="invite in missedInvites" :key="invite.id">
                                            <td>
                                                <router-link :to="{name: 'Логи чатов', query: { manId: invite.sender, womanId: invite.receiver }}">
                                                    <a class="btn btn-primary btn-block" role="button" >Chat</a>
                                                    <!--{{invite.sender.profile}} (id: {{invite.sender}})-->
                                                </router-link>
                                            </td>
                                            <!--<td>-->
                                                <!--<router-link :to="link(invite.sender, 'man')">-->
                                                    <!--<a class="btn btn-primary btn-block " role="button" >Resolved</a>-->
                                                    <!--&lt;!&ndash;{{invite.sender.profile}} (id: {{invite.sender}})&ndash;&gt;-->
                                                <!--</router-link>-->
                                            <!--</td>-->
                                            <td>
                                                <router-link :to="link(invite.sender, 'man')" class="yellow-user">
                                                    {{ invite.sender }}
                                                    <!--{{invite.sender.profile}} (id: {{invite.sender}})-->
                                                </router-link>
                                            </td>
                                            <td>
                                                <router-link :to="link(invite.receiver, 'woman')">
                                                    {{ invite.receiver }}
                                                    <!--{{invite.receiver.profile}} (id: {{invite.receiver.id}})-->
                                                </router-link>
                                            </td>

                                            <td>{{invite.text}}</td>
                                            <td>
                                                {{date( invite.created )}}
                                            </td>
                                        </tr>
                                    </template>

                                </tbody>
                                <tfoot>
                                <slot name="tfoot"></slot>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</template>

<script>
    import CONFIG from '@/config/config'
    import moment from 'moment'
    import dateFilter from '../../custom/datefilter/datapicker-period.vue'
    import preloader from '../../custom/normalPreloader/component.vue'

    export default {
        name: "MissedInvites",
        data() {
            return {
                preloader: true,
                allWomen: [],
                allMans: [],
                missedInvites: [],
                dateFrom: moment.utc().startOf( 'day' ).startOf( 'YYYY-MM-DD HH:mm' ),
                dateTo: moment.utc().endOf( 'day' ).endOf( 'YYYY-MM-DD HH:mm' )
            }
        },
        components: {
            preloader,
            'date-filter': dateFilter
        },
        created () {
            Promise.all([
                this.fetchMans(),
                this.fetchWomen(),
                this.fetchData(),
            ])
                .finally(() => {
                    this.preloader = false;
                })

        },
        methods: {
            fetchData() {
                this.preloader = true;
                return this.$http.post(CONFIG.api.socket +'/api/invite/missed',
                    {
                        token: this.$cookie.get('access_token'),
                        dateFrom: parseInt( moment( this.dateFrom ).format( 'X' ) ),
                        dateTo: parseInt( moment( this.dateTo ).format( 'X' ) )
                    }
                )
                    .then(res => res.json())
                    .then(({ status, result}) => {
                        if (status) {
                            this.missedInvites = result.sort( ({created: a} , {created: b}) => new Date(b) - new Date(a));
                        }
                    })

            },
            fetchWomen() {
                this.$http.post( 'v2/femal/load-list', {
                    access_token: this.$cookie.get( 'access_token' )
                })
                    .then( data => data.json())
                    .then(({status, result}) => {
                        if (status) {
                            this.allWomen = result;
                        }
                    });
            },
            fetchMans() {
                this.$http.post( 'v2/male/easy-load', {
                    access_token: this.$cookie.get( 'access_token' )
                })
                    .then( data => data.json())
                    .then(({status, result}) => {
                        if (status) {
                            this.allMans = result;
                        }
                    })
            },
            dateFilterChange( value ) {
                let data = parseInt( value );
                if ( data === 1 ) {
                    this.dateFrom = moment.utc().startOf( 'day' ).startOf( 'YYYY-MM-DD HH:mm' );
                    this.dateTo = moment.utc().endOf( 'day' ).endOf( 'YYYY-MM-DD HH:mm' );
                }
                if ( data === 2 ) {
                    this.dateFrom = moment.utc().subtract( 1, 'day' ).startOf( 'day' ).startOf( 'YYYY-MM-DD HH:mm' );
                    this.dateTo = moment.utc().subtract( 1, 'day' ).endOf( 'day' ).endOf( 'YYYY-MM-DD HH:mm' );
                }
                this.fetchData();
            },
            link(  id , type ) {
                if ( type === 'man' ) {
                    return {
                        name: 'Профиль клиента',
                        params: { man: id }
                    }
                } else {
                    return {
                        name: 'Профиль клиентки',
                        params: { woman: id }
                    }
                }
            },
            date( time ) {
                return moment( time * 1000 ).format( 'DD.MM.YYYY HH:mm:ss' )
            },
        }
    }
</script>

<style scoped>
.yellow-user{
        color: orange!important;
    }

</style>
