<template>
  <div>
    <span v-show="!activeCurrentChat">{{action}}</span>
    <div class="clock" :class="{start: activeCurrentChat}">
      <span class="clock--short-hand"></span>
      <span class="clock--long-hand"></span>
      <span class="clock--dot"></span>
    </div>
  </div>
</template>

<script>

  export default {
    name: 'Clock',
    data() {
      return {
        timerIterator: null,
        action: '--:--'
      };
    },
    computed: {
      activeCurrentChat() {
        return (this.$store.getters.chatActiveClock && this.$store.getters.currentChatUser !== null);
      }
    },
    watch: {
      activeCurrentChat(v) {
        if (v === true) {
          this.timerIterator = setInterval(() => {
            if(this.$store.getters.currentChatWoman === null) return true;
            const lastMessage = this.$store.getters.currentChatWoman.dialogsList.current.lastManActive;
            if (lastMessage < Math.floor(Date.now() / 1000 - 61)) {
              this.$store.commit('CHAT_STOP_CHAT_BY_ID', this.$store.getters.currentChatWoman.dialogsList.current.user.id);
            }
          }, 1000)
        } else {
          if(this.$store.getters.currentChatWoman !== null &&
            this.$store.getters.currentChatWoman.dialogsList.current !== null &&
            this.$store.getters.currentChatWoman.dialogsList.current.messages.length > 0) {
            this.action = 'STOP';
          }else {
            this.action = '--:--';
          }
          clearInterval(this.timerIterator);
        }
      }
    }
  };

</script>

<style lang="scss">
  @keyframes rotation {
    0% {
      transform: rotate(-180deg);
    }
    100% {
      transform: rotate(180deg);
    }
  }

  .clock {
    margin-right: 5px;
    $width: 30px;
    $height: 30px;
    width: $width;
    height: $height;
    background: rgba(#000, .3);
    border-radius: 50%;
    position: relative;
    margin-top: 20px;
    float: left;

    &.start {
      .clock--short-hand {
        animation: rotation 1s infinite linear;
      }
      .clock--long-hand {
        animation: rotation 3s infinite linear;
      }
    }

    &--short-hand,
    &--long-hand {
      width: 1px;
      background: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform-origin: 25% 0;
    }

    &--short-hand {
      height: calc($height / 4);
      transform: rotate(90deg);
    }

    &--long-hand {
      height: calc($height / 2.6);
      transform: rotate(-180deg);
    }

    &--dot {
      width: calc($width / 12);
      height: calc($height / 12);
      min-width: 3px;
      min-height: 3px;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: #fff
    }
  }
</style>
